[2016-11-11 04:13] bernardoamc commented on #3241
Thanks @rbasso ! <3

[2016-11-11 04:13] #3241 closed

[2016-11-11 06:52] esparta commented on #3242
This looks like a duplicate of #3100

[2016-11-11 07:04] tejasbubane commented on #3192
I guess this can be closed via #3208

[2016-11-11 07:04] #3192 closed

[2016-11-12 20:38] adsr13 opened #3245 "Cannot fetch?"
I keep getting over and over again the same issue. You will see in the screenshot how I fetch and it won't fetch, telling me:

cdb:ruby adsr13$ exercism fetch ruby hello-world

Not Submitted:     1 problem
ruby (Hello World) /Users/adsr13/exercism/ruby/hello-world

unchanged: 1, updated: 0, new: 0

cdb:ruby adsr13$ exercism restore

unchanged: 0, updated: 0, new: 0

![image](https://cloud.githubus

[2016-11-12 20:48] Insti commented on #3245
You already have it. look in `/Users/adsr13/exercism/ruby/hello-world`

[2016-11-12 21:57] kytrinyx commented on #3242
@liarokapisv changing the GitHub username shouldn't lose your progress, unless you create a new account. When logging in we look at the GitHub ID not the username, and use that to update the username that is shown on Exercism.

Your Demon-In-A-Jar user still exists: http://exercism.io/Demon-In-A-Jar

The GitHub user id for these two users is different in the database.

[2016-11-13 00:09] adsr13 commented on #3245
follow the trail down the terminal commands, I don't have it. It started
with the hamming exercise, and the hamming exercise was not there. I had
hello-world. I uninstalled exercism then reinstalled it, went to fetch
hello-world and start from scratch and I'm stuck.

On Sat, Nov 12, 2016 at 1:48 PM, Geoff Hubbard <notifications@github.com>
wrote:

[2016-11-13 06:02] bernardoamc commented on #3239
Should we move this discussion to the xgo repo?

[2016-11-13 06:04] bernardoamc commented on #3206
Any updates on this? :)

[2016-11-13 07:06] Insti commented on #3245
Can you also show the output of `pwd` and `ls -la`

& you might want to change your (secret) API key, since you've exposed it to the world.

[2016-11-13 07:15] Insti commented on #3245
Come by the Gitter chat room if you want more real-time support getting this resolved: https://gitter.im/exercism/support

[2016-11-13 08:53] ldwoolley opened #3246 "exercise in progress sort order"
I have noticed on my dashboard in the exercise in progress block, that I always hit the "see all" link, to see the more recent exercise worked.  I would love to see the sort order changed so that you click the "see all" link only occasionally, because the recent work is at the top.  Am I alone on this? or do others with the exercises sorted from most recent on top to oldest on the bottom?

I know

[2016-11-13 13:26] liarokapisv commented on #3242
It appears that I deleted the github account and associated my original email with my current one and now I can't access my original exercism user account. It's been a while so I didn't remember. This is getting offtopic, but is it possible to merge the two accounts or associate the exercises with my current account?

[2016-11-13 15:24] kytrinyx commented on #3246
@ldwoolley Yeah, I agree, this would be better.

The code starts in https://github.com/exercism/exercism.io/blob/master/app/routes/main.rb

The view is "dashboard", so app/views/dashboard.erb, and also uses the `ExercismWeb::Presenters::Dashboard` presenter.

[2016-11-13 18:19] adsr13 commented on #3245
lmao, thanks bro, yeah that api dam I've done before w/o realizing it.
Thanks!

On Sun, Nov 13, 2016 at 12:15 AM, Geoff Hubbard <notifications@github.com>
wrote:

[2016-11-13 20:18] adsr13 commented on #3245
well its working now, the Gods I guess. Thanks a bunch for the gitter
invite for sure!

On Sun, Nov 13, 2016 at 12:15 AM, Geoff Hubbard <notifications@github.com>
wrote:

[2016-11-13 20:25] Insti commented on #3245
Did you work out what the problem was?

[2016-11-13 20:50] #3245 closed

[2016-11-13 20:56] Insti commented on #3246
https://github.com/exercism/exercism.io/blob/master/app/views/dashboard.erb#L9

[2016-11-13 22:31] adsr13 commented on #3245
yes thank you

On Sun, Nov 13, 2016 at 1:25 PM, Geoff Hubbard <notifications@github.com>
wrote:

[2016-11-14 13:44] ErikSchierboom opened #3247 "Profile page lists language as not completed but CLI"
On [my profile page](http://exercism.io/ErikSchierboom?all=true), the tracks I've completed are listed. However, there are two tracks that aren't listed, for which the CLI doesn't fetch any new exercises. In my case, the C# and Scala tracks are not in the completed tracks section, even though the CLI doesn't fetch any new exercises for those tracks:

<pre>
Eriks-MacBook-Pro:haskell erikschierboom$

[2016-11-14 13:48] ErikSchierboom opened #3248 "Profile page lists language as completed due to submitted deprecated problem"
I was working on the Haskell track lately. At some point, my profile page listed the track as being completed, even though the CLI would fetch a new exercise. I believe this is due to the fact that I had previously submitted several exercises that were now deprecated. Therefore, I had completed some exercises that weren't active anymore but which appeared to be counted towards my progress.

[2016-11-14 15:07] bernardoamc commented on #3248
Wow, I'm pretty sure this problem was solved at some point. Going to take a look at it, thanks for reporting @ErikSchierboom! <3

[2016-11-14 15:13] ErikSchierboom opened #3249 "Error running `bin/setup` on macOS Sierra"
I just did a `git clone` of the repository and tried to follow the steps in the contributing document to get the website up and running. When executing the `bin/setup` file, the following error occured:

<pre>
fetching over the wire
rake aborted!
NameError: uninitialized constant Faraday
/Users/erikschierboom/Programming/exercism.io/lib/tasks/seed.rake:6:in `block (2 levels) in <top (required)>'
/

[2016-11-14 15:23] esparta commented on #3249
I can replicate this issue, and sadly it seems to be my PR #3214 :(

[2016-11-14 15:24] ErikSchierboom commented on #3249
Thanks for the heads-up. Perhaps that means you'll also be able to fix it? ;)

[2016-11-14 15:29] ErikSchierboom commented on #2721
I'm actually slightly amazed that there is no page that just lists all my comments. That would be incredibly useful, as I had the same problem as @StevenACoffman where I would like to revisit an earlier comment but could not find it anywhere.

[2016-11-14 15:30] esparta commented on #3249
Yes, I just did the local fix, and testing.

[2016-11-14 19:01] #3249 closed

[2016-11-14 19:06] mhelmetag commented on #3249
Can't this be solved with `require 'faraday'` in the right db task? Or am I missing something? I ran into this as well but just thought something was wrong with my dev environment. I think I just had to run `bundle exec rake db:seed` or `db:from_scratch` to overcome this.

[2016-11-14 19:18] ErikSchierboom commented on #3249
@esparta @kytrinyx The [submitted fix](https://github.com/exercism/exercism.io/commit/b72cca5fa6df420e77c0c0767f18171c8dc89658) fixed this! Thanks for the quick response.

[2016-11-14 19:27] ErikSchierboom commented on #3247
@kytrinyx Is it possible to somehow import the data I used in production when developing locally? That would make it easier to try and fix this.

[2016-11-14 21:05] esparta commented on #3249
exercism.io was using the `Bundle.require` all the time, #3214 change it to use `Bundle.setup`, this work fine until this happen, @mhelmetag . Yes, `require 'faraday'` will also fix the issue, but there's a possibility other issues with other rake tasks, @mhelmetag.

The quick-fix on taking back Bundle.require will let us use a better approach on not use Bundle.* at all. I'm volunteering myself to

[2016-11-15 03:17] jtigger commented on #3239
In fact, @Insti *did* create an issue in xgo: exercism/xgo#414.

Closing this issue to avoid further confusion.

[2016-11-15 03:17] #3239 closed

[2016-11-15 03:32] jtigger commented on #3153
@kytrinyx said:

... and ...

@kotp reinforced:

Beautiful.  👍

[2016-11-15 04:13] jtigger opened #3251 "Extract "How to Setup a Local Development Environment" from CONTRIBUTING.md"
*(part of a larger effort to overhaul documentation around contributing: exercism/discussions#73)*

[CONTRIBUTING.md#setup](https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md#setup) describes how to setup a local development environment.

In order to support making it easier to reference this block of instructions and to make it easier for them to follow:

- [x] extract this secti

[2016-11-15 04:29] jtigger opened #3252 "Extract "The Contribution Workflow" from CONTRIBUTING.md"
*(part of a larger effort to overhaul documentation around contributing: exercism/discussions#73)*

[CONTRIBUTING.md#submitting-code-changes](https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md#submitting-code-changes) outlines the workflow to contributing, from fork to pull request.

It would be incredibly helpful if this outline were extracted and written with first-time contribu

[2016-11-15 04:48] jtigger opened #3253 "Extract "Architecture Overview of Exercism" from CONTRIBUTING.md"
*(part of a larger effort to overhaul documentation around contributing: exercism/discussions#73)*

[CONTRIBUTING.md#exercism-web-structure](https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md#exercism-web-structure) describes parts of the Exercism website.  This is a great start.

For first-time contributors, it can be immensely helpful to get a complete overview of all the parts

[2016-11-15 07:32] ErikSchierboom commented on #3251
As I was working on getting a local development environment setup yesterday, I'll be happy to proof-read this new document.

[2016-11-15 09:02] esparta commented on #3249
I sent the PR #3254 to a better solving of this issue.
ping @mhelmetag

[2016-11-16 21:34] kytrinyx commented on #3153
@jtigger kind of a tangent... but what if we made all the hello worlds accessible to everyone whether or not you've solved it... read-only, maybe.

That would let people see how the site works a bit more than it currently does.

[2016-11-18 03:14] rstockbridge opened #3255 "More complete starter implementations?"
I am new to Java but have prior programming experience. The problems I have completed so far on the Java track either have either come with a nearly blank starter implementation, or no starter implementation at all.

For my code to be compilable (and therefore testable), I have had to reverse engineer all the tests at once to deduce method signatures and 3rd party dependencies, even if most tests

[2016-11-18 03:14] #3255 closed

[2016-11-18 06:41] tejasbubane commented on #3255
Linking the issue in `xjava` for reference: https://github.com/exercism/xjava/issues/178

[2016-11-18 07:39] tejasbubane commented on #3212
Hi @LapisFox would you mind opening an issue here -> https://github.com/exercism/xcpp ?
We have separate repositories for each language and people there might be able to help you better.

[2016-11-20 05:55] bernardoamc commented on #3248
@kytrinyx Can you spot something wrong [here](https://github.com/exercism/exercism.io/blob/master/lib/exercism/user_finished_tracks.rb#L13)? If this is still happening my theory is that tracks being fetched via `X::Track.all` can have deprecated problems in their `problems` attribute.

The line `(user_finished_exercises & track.problems.map(&:slug)).size` should return the number of exercises that

[2016-11-20 19:10] Insti opened #3256 "Exercism promotional materials?"
Thinking about [Exercsim in the wild](http://tinyletter.com/exercism/letters/exercism-in-the-wild-how-is-exercism-being-used-in-face-to-face-interactions)

I'd like to be able to have Exercism cards and/or stickers to be able to give out to people.

Does such a thing already exist?
Are there source graphic files I could just send to my local printer?
If not maybe we need a promotional materials re

[2016-11-20 19:18] Insti commented on #3256
Moved to https://github.com/exercism/discussions/issues/99

[2016-11-20 19:18] #3256 closed

[2016-11-21 01:32] kotp commented on #3153
Read only might limit what they can use it for.  If they would want to comment and ask a question, this means they would be unable to?  Have it as usable as anything else, and if they have questions, they can "tinker" and see if they can answer it or they can set the help flag, etc.

[2016-11-21 06:56] ldwoolley commented on #3246
As far as I can tell, we should use the simplest method here to change the sort order in both the dashboard view and on the user.username view.  So:
change [https://github.com/exercism/exercism.io/blob/master/app/views/dashboard.erb#L9](https://github.com/exercism/exercism.io/blob/master/app/views/dashboard.erb#L9) to:
`<% dashboard.current_exercises.reverse.limit(5).each do |exercise| %>`

And ch

[2016-11-22 15:26] jtigger commented on #3153
@kytrinyx asked:

Here's the thing: I don't know what goal the would-be practitioner has in mind when she is in this situation.  Is she...

- trying to evaluate if Exercism is right for her and wanting some clear "this is the value you get" information?  Or...
- trying to get going and has just "gotten lost"?
- going for something else?

If it's the first situation, perhaps she'd be best served by

[2016-11-23 06:19] #3212 closed

[2016-11-23 06:24] #3034 closed

[2016-11-23 06:38] #2750 closed

[2016-11-23 06:41] tejasbubane commented on #3212
@LapisFox I think issue https://github.com/exercism/xcpp/issues/96 might be related to your issue, especially this comment: https://github.com/exercism/xcpp/issues/96#issuecomment-236381909. If not, please feel free to open a new issue in that repository.

[2016-11-23 07:56] tejasbubane commented on #3252
I think we should also add some build-related info - Travis, coveralls, etc. (Refer: https://github.com/exercism/exercism.io/issues/2973) and post-PR fixes - code changes, commit messages, squash, rebase, etc.

But I also think this might intimidate first-timers. For others, we should have a documentation to know what standards/practices we are following, what are the cases the build might fail an

[2016-11-23 10:06] tejasbubane opened #3261 "Minify app.js"
We have two files which are generated after compiling multiple js/css files: [app.js](http://exercism.io/js/app.js) and [application.css](http://exercism.io/css/application.css).

Out of these two, `application.css` is minified correctly by [compass](http://compass-style.org/) but `app.js` is not. Ideally [lineman](http://linemanjs.com/) should minify generated js files. We might be missing some c

[2016-11-23 10:07] tejasbubane commented on #2089
I think all of the above mentioned issue are fixed / not relevant anymore except one. The compiled `app.js` file is not minified. Although it is `gzippped` so won't be much of an issue with bandwidth utilization, I think we should minify it nonetheless.

Created a separate issue for that #3261 and closing this.

[2016-11-23 10:07] #2089 closed

[2016-11-23 11:46] Insti opened #3262 "App should give useful error message if app.js is not generated."
When developing Exercism if you do not generate the `app.js` file the js on the site will not work, but with no indication of why.

That `app.js` is missing and needs to be generated should be made obvious to the developer.

[2016-11-23 11:47] Insti commented on #3262
See also: https://github.com/exercism/exercism.io/pull/3260 which deals with the css not being generated.

[2016-11-23 11:53] Insti opened #3263 "CSS: Exercise description indentation."
On the list of exercises: http://exercism.io/languages/ruby/exercises

For any exercise with a description that is more than 2 lines long, the later lines are indented less than the first two. This is visible in 'Accumulate' and 'Strain' in the image below:

![exercism - alignment issue](https://cloud.githubusercontent.com/assets/5096681/20560735/342b9d3e-b17b-11e6-9508-d62223f51bf0.png)

(I'm ass

[2016-11-23 17:38] kytrinyx commented on #2089
:heart: :heart: :heart:

[2016-11-23 19:18] GustavoCaso commented on #3248
@bernardoamc could add some condition to not count the deprecated one, or remove from the api the ones that are deprecated. What do you think ?

[2016-11-23 19:41] tejasbubane commented on #3262
The code for `js` will more or less be the same as that for `css`. I think we can modify `CssUrl` to maybe `AssetUrl` and add code in there which reuses stuff like error messages.

[2016-11-24 03:43] bernardoamc commented on #3248
@GustavoCaso I'm not sure if the API has deprecated exercises though, but I don't see why this is happening if that is not the case. :/

[2016-11-24 15:38] omerbn commented on #3263
I'll take it

[2016-11-24 17:33] kytrinyx commented on #3263
Fixed in #3264

[2016-11-24 17:33] #3263 closed

[2016-11-24 18:49] Insti commented on #3263
Super! thanks @omerbn

[2016-11-24 23:08] ferhatelmas opened #3266 "Unimplemented exercises page is broken"
`http://exercism.io/languages/track/todo` gives `Sorry! That's our fault!`

I'm not sure if it's a known issue but as far as I see, I couldn't find a ticket mentioning it.

[2016-11-25 06:55] Insti commented on #3266
An example link that actually exhibits the problem: http://exercism.io/languages/ruby/todo

[2016-11-25 07:01] GustavoCaso commented on #3248
@bernardoamc I helped in this feature, I will try have a look this weekend. So I'll keep you updated.

[2016-11-25 07:21] Insti commented on #3266
This is due to the recent [change to use Trackler rather than the x-api.](https://github.com/exercism/exercism.io/pull/3164)
`Trackler::Track` appears to be missing an `unimplemented_problems` method.

[2016-11-25 11:50] Insti commented on #3266
I'm working on fixing Trackler.

[2016-11-25 13:05] Insti commented on #3266
I've done what I can for now, @kytrinyx now needs to:

- [ ] Merge https://github.com/exercism/trackler/issues/8
- [ ] Update the Trackler gem
- [ ] Update the Trackler gem version used by exercism.io
- [ ] Deploy everything to the live server.

[2016-11-25 17:40] tejasbubane commented on #3266
A bunch of pages are failing:

* http://exercism.io/languages/ruby/installing
* http://exercism.io/languages/ruby/tests
* http://exercism.io/languages/ruby/learning
* http://exercism.io/languages/ruby/resources
and
* http://exercism.io/languages/ruby/todo

Need more tests here: https://github.com/exercism/exercism.io/blob/master/test/app/languages_test.rb

[2016-11-25 19:16] kytrinyx commented on #3266
Sorry this is my bad. I had a branch that reworked all the language track stuff, but I think I got confused with a couple of other PRs that were touching the same bit of code, and never submitted it. I'll go rework that now.

[2016-11-25 19:25] tejasbubane commented on #3266
@kytrinyx See discussion in #3267. @Insti has done some work in `Trackler`.

[2016-11-25 19:49] kytrinyx commented on #3266
Thanks @tejasbubane I saw that. I don't want to make all of those changes to Trackler, so I've merged in the bits that I want selectively.

[2016-11-25 19:52] tejasbubane commented on #3120
Update: I was able to reproduce the issue on a clean install. Opened an issue with lineman: https://github.com/linemanjs/lineman/issues/391

[2016-11-25 19:55] #3266 closed

[2016-11-25 20:03] kytrinyx commented on #2027
We don't have any email capabilities at the moment, but I agree that we should eventually get that sorted out so we can invite via email (and send people other updates via email).

[2016-11-25 20:13] kytrinyx commented on #1617
@zenspider yeah, there's definitely good stuff going on that we should learn from.

@jtigger It might be worth extracting the relevant stuff into a separate document. At some point. maybe.

[2016-11-25 20:22] kytrinyx commented on #3222
@claytonflesher if an invitation is sent to a username that is not in our system, it will create a placeholder user. The next time someone logs in to the system using that GitHub username, it will connect the GitHub user to the placeholder user, and the invitation will show up.

If the invitation was sent to the Calvyn82 user after you changed your username, then we would have no way of connecting

[2016-11-25 20:24] kytrinyx commented on #3221
Did they archive it?

[2016-11-25 20:27] kytrinyx commented on #3226
How about using the list of current exercises in Trackler in order to construct the menu, and then "gray out" or make inactive the ones that you don't have access to. If you click on an inactive one, you get a message that you have to submit the exercise in order to get access to it.

Then for any exercises that are not in the active list, we could show them separately with some indication that th

[2016-11-25 20:32] kytrinyx commented on #2897
@daveyarwood This is likely. I really need to figure out how to avoid this in the first place. I'm digging into this today.

[2016-11-25 20:49] kytrinyx commented on #3008
Yepp, that would solve it.

[2016-11-25 20:50] kytrinyx commented on #3242
Yeah, we should be able to do that manually, if the email is the same on both. I'll look into it.

[2016-11-25 20:53] kytrinyx commented on #3247
@ErikSchierboom we don't have a way to export a user's data for local development at the moment.

What happens if you say `exercism list scala`? Does it show exercises that you've not fetched?

[2016-11-25 20:54] kytrinyx commented on #3248
Yesterday we switched from using the X::Track (which uses the x-api) and Trackler (which is a ruby gem), which may also play into this.

The API should not have deprecated exercises. @GustavoCaso if you don't figure it out this weekend would you please report back here so we can help dig into it?

[2016-11-25 20:55] kytrinyx commented on #2721
Yeah, I know. We had something but it wasn't searchable, and it wasn't sortable by track/problem. We really should have an activity stream on your profile that shows both your exercises and your comments.

[2016-11-25 20:57] ErikSchierboom commented on #3247
Well, Scala is not a really good example anymore, as they have just added the `dominoes` exercise, so I really haven't finished the track this time. However, the C# track is a better example:

<pre>
Eriks-MacBook-Pro:Programming erikschierboom$ exercism list csharp
hello-world
bob
leap
gigasecond
difference-of-squares
rna-transcription
sum-of-multiples
space-age
hamming
grains
pangram
raindrops
nu

[2016-11-25 21:06] thebasharjobs opened #3269 "Cannot submit test file"
I can submit the test file for hello world in the swift language, but not much else thereafter.

The message I continue to get is "You're trying to submit a test file. If this is really what you want, please pass the --test flag to exercism submit."

I'm currently on the difference of squares test (I skipped two tests and can't verify they're working).

[2016-11-25 21:21] kytrinyx commented on #3252
Yeah, that's a good point. Would it help to make the documentation so you only have to read as far as the step that you're on? Kind of like what we've been doing with the launch checklists recently: https://github.com/exercism/xprolog/issues/1

[2016-11-25 21:22] kytrinyx commented on #3261
@tejasbubane thanks for catching that. I'm pretty sure I had no idea what I was doing when I originally set this up, so we probably do have some missing configuration.

[2016-11-25 21:27] kytrinyx commented on #3269
Hey @thebasharjobs, did you try jumping into the Gitter chat? https://gitter.im/exercism/support There are often people who hang out there and can help you figure out what's going on.

Failing that, I'd submit a question over in https://github.com/exercism/xswift/issues, which will catch the attention of the folks around here who know the swift track intimately.

[2016-11-25 21:49] bordeltabernacle commented on #3231
I use windows at work, I'd be happy to have a look at this on Monday.

[2016-11-25 21:53] kytrinyx commented on #3166
I don't think we need Angular. We have very little in the way of javascript functionality.

[2016-11-25 21:57] kytrinyx commented on #2964
@MohanL No, we don't need a notification, I just don't know if we can delete it at the moment.

[2016-11-25 22:05] kytrinyx commented on #3198
@mhelmetag We could do that. In fact, that is possible now (pipe to a file, then exercism submit the solution and that file). It would require a bit of documentation... not sure where, though.

[2016-11-25 22:16] kytrinyx commented on #3197
Thanks @c1505 @aaron-suarez - I think it would make sense to do some extra checking and reporting here:

1. For the invitations that were created for existing users, we can say "Exercism users a, b, and c, were invited".
2. For existing GitHub users who are not on Exercism we can explain what happens—they'll have an invite waiting for them the first time they log into Exercism.
3. For non-existent

[2016-11-25 22:19] kytrinyx commented on #2589
Thanks @mhelmetag @nilbot. Caddy looks like a promising option.

[2016-11-25 22:38] kytrinyx commented on #3153
@jtigger I think this is it.

I was watching a (very, very accomplished) programmer poke around exercism and it was extraordinarily painful. They wanted to get some overview of _what it is and does_. Right now we're missing something between the homepage and the "how it works". Maybe that video that you mention :)

[2016-11-25 22:45] aaron-suarez commented on #3197
That sounds like a great idea.

Are we going to do it as banners at the top with green/red, similar to how it's currently implemented? I don't think that will be too much code to add.

[2016-11-26 02:49] kytrinyx commented on #3197
I'd be fine with going with the banners (a.k.a. flashes). The other option would be to stick some data into redis or something and then show a separate page inside the team/management area where we have more breathing room.

[2016-11-26 03:09] thebasharjobs commented on #3269
Thanks for the response. I'll try em out.

[2016-11-26 06:21] kotp commented on #2027
The alternative might be to create a link that we can share, rather than relying on the "e-mail system" (whether it exists or not).  This link could direct them to the login page, where they would then login using github (that is a requirement) and I think it does most of the right things for them.  Perhaps a "pre wormhole" page to describe what will happen before they get thrown to Github.  This

[2016-11-26 07:18] mhelmetag commented on #2589
Definitely! I'd love to try it out on my own heroku instance but I'm having problems getting my database set up on heroku... so... there's that haha.

[2016-11-26 07:23] kotp commented on #3153
My apologies, wrong issue to reference for the templates.

[2016-11-26 08:42] kotp commented on #3269
@thebasharjobs Please let us know.  I haven't seen you in the gitter rooms, and not on swift yet.  Just don't want to lose track of your progress on this.

[2016-11-26 08:44] ErikSchierboom commented on #3231
I've just looked at this, and what I think there are several things we can improve:

1. Remove the `Using PowerShell` section. The `Using the Command Prompt` section does the exact same thing, but with some advantages over the Powershell instructions:
  - You can explicitly pass the execution policy as an argument `-ExecutionPolicy unrestricted`. This is usually one of the problems when following

[2016-11-26 10:25] tejasbubane commented on #3261
Even I don't have much idea about lineman, never used it anywhere else. Just playing with stuff and making it work 😄

Since this is not a major issue, I will get to this when I find some time. Meanwhile if someone else wants to have a go at it, they can.

[2016-11-26 17:30] thebasharjobs commented on #3269
@kotp Just submitted. Thanks for the follow up. Gets a little tricky to maintain any degree of focus over the holiday.

[2016-11-26 19:21] ErikSchierboom commented on #3247
I have managed to find the problem! It's the `hello-world` exercise. The problem is that I started the tracks before they added the `hello-world` exercise. The bug is that the CLI didn't fetch the `hello-world` exercise, even though I didn't submit it. Having manually fetched and then submitted the `hello-world` exercise, now displays the correct status.

I've opened an issue for the CLI: https://

[2016-11-26 19:21] #3247 closed

[2016-11-26 19:21] ErikSchierboom commented on #3248
The problem was solved by the update @kytrinyx mentioned!

[2016-11-26 19:21] #3248 closed

[2016-11-26 22:31] spuder commented on #3231
I would vote steering people to use powershell and not cmd, since

- powershell [is the default shell now](https://fossbytes.com/powershell-replaces-command-prompt-windows/)
- powershell can do everything the command prompt can do, and more.

[2016-11-26 23:48] kotp commented on #3269
You are welcome,  I also see that you figured it out.  Can you detail what it is that was wrong?  Is it a problem with the documentation?  Something we missed?

[2016-11-27 00:01] thebasharjobs commented on #3269
I'm fairly new (completely unwashed, for that matter) to the realm of programming and didn't immediately understand the test file (and it's instructions) contained within the fetch was to be contained separately from the solution.swift file in the directory and used for submission.

It probably would have been more apparent for someone with a little more experience, but again, I'm a total beginner

[2016-11-27 00:27] kotp commented on #3269
Welcome to the world of Yak Shaving!

[2016-11-27 00:27] #3269 closed

[2016-11-27 01:10] jtigger commented on #3231
@bordeltabernacle, this is one of those big bang for your buck contributions — we get regular visitors to the support chat room where people have gotten lost trying to get going on Windows.

Thanks for stepping up!

[2016-11-27 03:17] kotp commented on #3198
It is even possible to submit it as a comment, when submitting the solution.

In Bash shell...

[code]

It will show as this [iteration does](http://exercism.io/submissions/bfcc906654f54f0bb66134afc7cd598a).

[2016-11-27 05:15] Skilly opened #3270 "Incorrect instruction on ruby 'about' page"
The [ruby about](http://exercism.io/languages/ruby/about) page contains the instruction `exercism ruby  hello-world` for obtaining the first problem, which is incorrect.

It should be `exercism fetch ruby`.

[2016-11-27 06:56] Insti commented on #3270
Well spotted, & thanks for reporting it.

[2016-11-27 07:04] Insti commented on #3270
This affects **all** language tracks.

Fix here: https://github.com/exercism/exercism.io/pull/3271

[2016-11-27 08:59] Insti commented on #3269
This is the sort of thing that more experienced programmers forget that people do not know, and it would be useful to include it in our 'getting started' documentation.

[2016-11-27 11:00] kotp commented on #3269
I just checked, it is indeed true that the Swift hello test file is not as "introductory" as Ruby one, and it has a solution file there, as well, so two pretty large differences in onboarding.

[2016-11-28 09:38] kotp opened #3273 "Team shows up on user profile before accepting invite"
When inviting a user, but before they accept, when viewing their profile it shows that they are part of the team.

[2016-11-28 10:23] Insti opened #3274 "Teams: Create new team button on /teams"
http://exercism.io/teams

There should be a button here to create a new team.

This came up in the Gitter chat when someone could not work out how to create a new team so I asked where they expected it to be.

(Edit: for more context.)

[2016-11-28 10:25] Insti opened #3275 "Teams: Search view member count wrong."
When searching for teams: http://exercism.io/teams

A team that has 1 member will show up as having 2 members.

(I've not yet checked to see if all teams are showing +1 members)

Steps to reproduce:

Create a team with 1 member.
Search for that team.
See that the search results show the team has 2 members.

[2016-11-28 10:28] kotp commented on #3273
exercism/exercism.io#2944 related

[2016-11-28 12:47] bordeltabernacle commented on #3231
Ok, so I've drafted something here: https://github.com/bordeltabernacle/exercism.io/blob/update/windows-install/x/docs/md/cli/windows.md

It's Windows 7 based as that's what I have, I haven't used Windows 10 so I don't know if there's anything significantly different that would need to be changed, or if the images might need to be windows 10 based.

I chose to go with the `cmd` instructions just b

[2016-11-28 13:05] NobbZ commented on #3231
I do not like to replicate `chocolatey`s installation instructions. When they change the flow, we need to update our instructions as soon as possible or we end up in a situation we had before. People coming into the support channel and asking for help because they are thinking they cant install exercism-cli, but the problem is already the chocolatey installation.

Just link https://chocolatey.org/

[2016-11-28 15:53] rbasso opened #3276 "Copy and Expand buttons missing in submissions with multiple files."
When visualizing an iteration in the exercism website, only the top file (alphabetically first) has a button to copy or expand the visualization area.

This, of course, only affects submissions with two or more files.

Example: http://exercism.io/submissions/804ab8d2b3184afe97725136528714f1

[2016-11-28 16:01] bernardoamc commented on #3273
Will take a look at that when I get home, thanks @kotp ! ❤️

[2016-11-28 16:02] bernardoamc commented on #3275
Thanks @Insti , will investigate when I get home! <3

[2016-11-28 16:06] rbasso opened #3277 "Submissions with multiple files are displayed always alphabetically."
I'm not sure if this was intentional or an *accidental feature*, but solutions submitted with multiple files are always displayed with the files ordered alphabetically, despite the order supplied to the command line client.

Step to reproduce:

[code]

This behavior is undesirable, because it doesn't allow users to put what they consider more important first, and also forces reviewers to scroll do

[2016-11-28 18:58] kytrinyx commented on #3247
Oooooh! OK, that makes a weird sort of sense. Thank you so much for figuring that out!

[2016-11-28 19:02] kytrinyx opened #3278 "Ignore hello-world when considering completion status for a track"
If you start on a language track before someone implements a `hello-world` exercise for the track, then the CLI will never fetch `hello-world`. This makes sense, as you don't really need hello world if you've already solved other things.

This means that when you get to the end of the track, the CLI will not download any new exercises, but the profile page will list that track as incomplete.

We s

[2016-11-28 19:06] Insti commented on #3278
I don't like this exception.
If you've already done every other exercise hello world should be trivial for you anyway.

[2016-11-28 19:13] kytrinyx commented on #2897
Update—I found and deleted a couple of pieces of bad data, but nothing that should have any effect on the kotlin track, which makes this all the more mysterious. Still digging.

[2016-11-28 19:14] daveyarwood commented on #2897
@kytrinyx Whatever you did, it fixed my issue! Maybe there was something weird about my user data? The problem I wasn't seeing wasn't just the Kotlin track, I was totally unable to see other users' solutions to the problems I'd solved.

[2016-11-28 19:16] kytrinyx commented on #2897
Whaaat? That's good in that it's fixed and terrible in that I still don't understand why this is happening.

Thanks for reporting back!

[2016-11-28 19:16] #2897 closed

[2016-11-28 19:25] kytrinyx commented on #3242
@liarokapisv I don't have an email address on either account, so I have no way of verifying that these are both owned by you. That said, since Demon-In-A-Jar no longer exists on GitHub, I'll go ahead and merge them. I need to write a script to do it, and will report back when it's done.

[2016-11-28 20:53] kytrinyx commented on #3242
Note: Where there are duplicates, the submissions and conversations will be simply attached to the new account, even if the code is identical.

[2016-11-28 22:17] kytrinyx commented on #3278
It seems perfectly useless to deliver a hello world to you if you've done anything else on the track already.

I don't think we should make someone jump through a hoop, just so that we can give them "completed" status.

[2016-11-28 22:37] kytrinyx commented on #2027
@kotp Yeah, those are great ideas. I think a pre-wormhole thing would help a lot.

[2016-11-28 22:50] kytrinyx commented on #3269
If any of you have any specific recommendations for the Swift hello world in particular, would you open an issue on the swift track with some suggestions and reasoning for why it would be a good idea?

Also, it might be worth discussing in general what makes a good hello world / first exercise, and what we can do to ensure the best possible onboarding experience regardless of which track you're on

[2016-11-28 22:56] kytrinyx commented on #3274
I think the teams stuff is still in progress, but I'm not sure if we have a high-level tracking issue for it.

/cc @bernardoamc who has done a ton of work on improving teams over the past few months.

[2016-11-28 22:57] kytrinyx commented on #3276
We implemented the expand long before we added support for multiple files, so it kind of makes sense that we'd see this bug. Thanks for reporting it!

[2016-11-28 23:01] kytrinyx commented on #3277
This is unintended (I totally never thought about it)—and I think it's worth thinking about a fix.

Implementation detail: we store the files as a hash / dict / map which by definition is unordered. Right now we're using Ruby, and ruby hashes happen to be ordered, but it's not something we can rely on. So we would need some explicit way of ordering them or defining an order.

[2016-11-28 23:10] kytrinyx commented on #2589
@mhelmetag I've successfully managed to set up a database on heroku (barely, but let's not talk about my lack of ops skills right now). Holler if you want to spend a few minutes troubleshooting together.

[2016-11-28 23:34] #3270 closed

[2016-11-29 04:03] tejasbubane commented on #3276
I feel expand makes sense for all the files since it changes the entire layout of the page, putting the nitpicks sections below the files. It would be difficult to expand one file only.
Copy should be per file. Thanks for reporting it 👍

[2016-11-29 08:25] #3246 closed

[2016-11-29 08:50] #3275 closed

[2016-11-29 09:02] Insti commented on #3276
# Good first patch:

## Knowledge required:
html, css, basic javascript

## Start here:
`app/views/submissions/current_submission.erb`

## Need help?
Just ask here, or come by the [Dev chatroom](https://gitter.im/exercism/dev)
We're here to help.

[2016-11-29 10:01] NobbZ commented on #3278
Some time ago, we agreed upon not to special case hello world. Also I want
to remind you that hello world is a very hard task in some languages and
also I do want to remind you that in exercism/x-common#290 we talked about
creating a completely new style of introduction, replacing hello-world
exactly because it is not as easy across all languages as initially thought.

Just deliver hello-world if

[2016-11-29 12:25] punithn commented on #2910
I have converted all the existing icons to svg. I'll send PRs to each track for replacing the same.

[2016-11-29 12:40] tejasbubane commented on #2910
I guess we will have to do changes in `x-api` as well. Are there any other things we need to take care of before replacing the icons? How do you suggest we proceed with this? cc @kytrinyx

[2016-11-29 13:00] Insti commented on #2910
@punithn please add them rather than replacing them.

[2016-11-29 13:02] Insti commented on #2910
Both `trackler` and `x-api` will need updating.
Although this might be a good opportunity to remove redundant references from `x-api`

[2016-11-29 13:14] tejasbubane commented on #2910
Ok. So we do this:

- [ ] Add `img/icon.svg` to each track and get all these PRs merged
- [ ] Make necessary changes in `x-api` and `trackler` to use `icon.svg` instead of `icon.png`. Review these changes and deploy
- [ ] Delete `icon.png` from all tracks

Sounds good?

[2016-11-29 14:00] celiagomezdev opened #3282 "Clearer UX excercise page"
Hi,

Yesterday I was asking for some help in the gitter chat about general workflow in exercism. At some point I was explained there is a super useful option called "Request for help", but I never saw it, then I knew it was in the manage menu, that first looked to me like a social media menu as it was close to the twitter icon.

I created this possible new view. I made it quickly and in the most s

[2016-11-29 14:11] NobbZ commented on #3282
I do like the proposal, but I have to add, that we need to sort out #3277 first and decide which of "enlarge", "copy", "archive" and "delete" needs to be per iteration or per file.

Could you prepare a mock, were you put "archive" and "delete" as an iteration command and "enlarge" and "copy" as a file command, just to see how it might look like?[1]

[1] : This does only reflect old behaviour and i

[2016-11-29 15:07] olivierlacan commented on #2589
See https://github.com/pixielabs/letsencrypt-rails-heroku, that's what I use for several projects hosted on Heroku.

[2016-11-29 15:38] kytrinyx commented on #2910
I can make a change to x-api to use `svg` if it is available, and `png` if it is not.

I'll do that now.

That way each PR can both add the SVG and remove the PNG.

[2016-11-29 15:57] Insti commented on #2910
Isn't the correct solution for Trackler to handle all the image stuff? And for x-api ask for 'track.image'?

[2016-11-29 15:59] kytrinyx commented on #2910
@Insti yes, that's what I ended up doing. It's what Exercism is already doing. I'll release this as soon as I've finished testing it.

[2016-11-29 16:41] celiagomezdev commented on #3282
Thanks @NobbZ. Organise again all the design would need quite a lof of time but, trying to maintain the one that is now, there are 2 options:
1. Adding the icons in the main exercise iteration menu, something like:
![ux improvement_4 copia copia](https://cloud.githubusercontent.com/assets/22910264/20715550/dad0c514-b64f-11e6-91cc-7e2578d96746.jpg)
Very important here that should appears a label "D

[2016-11-29 17:07] ErikSchierboom commented on #3247
I was quite happy to figure it out, those not-completed tracks really bugged me ;)

[2016-11-29 17:09] ErikSchierboom commented on #3231
@NobbZ's suggestion to lose the Chocolatey instructions make sense. It would put the burden of correct explaining how to install Chocolatey with those who know it best: the creators themselves. The rest looks very good to me! As mentioned earlier, I also support using `cmd` instead of PowerShell.

[2016-11-29 23:28] kytrinyx commented on #3278
Yes, in the context of the activity stream on the website, we agreed to not treat it differently.

Yes, and that is a completely different problem/question. This behavior assumes that hello world is completely trivial, as that was it's original intent.

Given that the purpose of the exercise is to help people make sure that they've got everything wired together and configured correctly, once we kn

[2016-11-30 00:07] kytrinyx commented on #2589
Thanks @olivierlacan!

[2016-11-30 00:07] kytrinyx commented on #3247
@ErikSchierboom if you have thoughts on the "we should make people do hello-world" vs "no, just ignore it in the stats" discussion, would you weigh in on the above-linked issue?

[2016-11-30 00:16] #3242 closed

[2016-11-30 00:25] kytrinyx commented on #3242
@liarokapisv Your accounts should now be merged. Please let me know if something doesn't look right.

[2016-11-30 00:33] kytrinyx commented on #3282
@celiagomezdev Thank you so much for this!

I really like where you're going with this. I think that your latest iteration which keeps the menu but reorganizes it works best, especially as it reduces some of the visual elements.

I'm not sure what the share by email would do—is there a standard type of behavior for this? (I've never done facebook integration, but I'm pretty sure it would be fairly

[2016-11-30 05:09] mhelmetag commented on #2589
Awesome!

I'm going to try this out with the code changes mentioned in one of the PRs that make the code framework agnostic (so it'll work with sinatra). Hopefully that PR will be merged in soon.

[2016-11-30 08:09] ErikSchierboom commented on #3278
To be honest, I could live with both solutions. Doing the `hello-world` exercise when you have already done lots of more difficult exercise, feels a bit odd, but then again, it only takes a couple of minutes to finish it. The main benefit of this approach is that you don't need to hard-code an exception. Furthermore, the `hello-world` exercise, while fairly simple, is not trivial. So from that vie

[2016-11-30 08:10] ErikSchierboom commented on #3247
@kytrinyx Done!

[2016-11-30 10:57] celiagomezdev commented on #3282
@kytrinyx I'm glad that you like it!

Yes, I think I also like the last iteration the most. About the e-mail button... I don't know, I thought it could be nice to share directly the code in an email to someone maybe to ask for a review or help, to someone that is not inside exercism, like in a very direct way (the code appears in the body of the email so the person can answer directly on that emai

[2016-11-30 11:10] bordeltabernacle commented on #3231
Yes, I agree with @NobbZ and @ErikSchierboom

I've updated the instructions, and opened a PR #3283

While I have left the Chocolatey installation instructions to the Chocolatey website, I thought it might still be useful to include some info on opening an Admin Command Prompt, as this can often be the source of many problems. Maybe it's overkill/patronising?? Same for the Chocolatey installation i

[2016-11-30 11:28] celiagomezdev commented on #3282
Ah, I would also add in the exercise view a direct link to the language page (in this case http://exercism.io/languages/swift/about) -and maybe also make clickable the logo to that same page-. I find a bit annoying to need to go every time to the full languages page and then look for your language. Something like:

![exercise_page](https://cloud.githubusercontent.com/assets/22910264/20750555/ca63d

[2016-11-30 12:20] bordeltabernacle commented on #3077
Hi, I've just tested this on Windows 7, 64-bit. It works well, and feels very Windows! Good work @blueelvis  :+1:

I just have a question; Is it supposed to add the `exercism.exe` to the PATH? It didn't on my machine and so adding `C:\Program Files\Exercism` to the path would have to be documented also. I don't know any C# but maybe this could become part of the installation in future versions? Ad

[2016-11-30 15:00] ErikSchierboom commented on #3231
Excellent work! LGTM

[2016-11-30 21:10] kytrinyx commented on #3278
OK, thanks everyone for weighing in. It sounds like the consensus is to remove all the special-casing for hello-world, which lives in x-api, here: https://github.com/exercism/x-api/blob/master/api/v1/routes/exercises.rb#L44

I'll open a new issue in x-api and close this one.

[2016-11-30 21:14] #3278 closed

[2016-11-30 21:27] #3273 closed

[2016-11-30 21:28] kytrinyx commented on #3231
I think the tone is great! It's really important to include these things which trip up a lot of people. We're not assuming you _don't_ know, we're just letting you know in case you don't have experience with it.

[2016-11-30 21:31] kytrinyx commented on #3282
Yes, that would be excellent!

[2016-11-30 21:33] kytrinyx commented on #3282
@celiagomezdev maybe. I know I see tweets from this regularly, but I haven't checked recently.

[update] I checked, and the most recent one is from Nov 22nd, so... maybe broken? https://twitter.com/tech_populi/status/801141476658794497

[2016-11-30 21:34] kytrinyx commented on #3282
Haha, yeah. Let's implement sharing via facebook to fix the lonely twitter bird problem. Email seems a bit complicated (mostly that I don't know what it should do). I'd prefer to keep all the conversation on the site, if possible.

[2016-11-30 21:41] celiagomezdev commented on #3282
Twitter: It appears to me if I share:
https://twitter.com/celiagvp/status/804077557192806404

E-Mail: Yes, I agree! maybe better just inside exercism 👍

[2016-11-30 22:30] kytrinyx commented on #3282
@celiagomezdev Definitely broken! I'm posting a new issue specifically about that.

[2016-11-30 22:31] kytrinyx opened #3285 "Twitter sharing is broken"
@celiagomezdev reported that twitter sharing is broken. Here's what she gets if she shares:
https://twitter.com/celiagvp/status/804077557192806404

[2016-12-01 01:32] kotp commented on #3269
I was mistaken, the hello-world is in line with the Ruby track.  So am considering what can be done to improve the instruction of how to submit the file(s).

[2016-12-01 07:18] Insti commented on #3285
# First Good Patch

## What do I need to know?

basic html, a little bit of Ruby.

## What will I learn?

Some basic Ruby, A bit about how twitter's API works.
How to [set up an Exercism development environment](https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md#setup)

## Where should I start:

Start here: https://github.com/exercism/exercism.io/blob/master/app/views/submissions/

[2016-12-01 07:22] tejasbubane commented on #3285
This is an example URL being generated:

`https://twitter.com/intent/tweet?text=I just submitted the #Elixir raindrops exercise at @exercism_io - Leave me a nitpick at http://exercism.io/submissions/0b7122bb15044990a62717315ea68dd6`

**Hint**: Notice the hashtag in for language name `#Elixir`. This and everything after this gets ignored.

[2016-12-01 08:06] esparta commented on #3285
--- Tweet Button & HashTags… is it possible?
https://twittercommunity.com/t/tweet-button-hashtags-is-it-possible/16915

Apparently it needs to be encoded if needed in the mids of the text.

[2016-12-01 09:22] Motardo commented on #3276
I took a swing at this one. I duplicated the copy and expand buttons once for each file. All the expand/shrink buttons affect all the files together.
![expanded](https://cloud.githubusercontent.com/assets/2099793/20788135/6b97a9cc-b77d-11e6-81cf-094482e66eb8.png)
![collapsed](https://cloud.githubusercontent.com/assets/2099793/20788144/748138aa-b77d-11e6-8c3d-3b90ea28dd03.png)

[2016-12-01 09:26] tejasbubane commented on #3285
Yes. Ruby's [URL.encode](https://ruby-doc.org/stdlib-1.9.3/libdoc/uri/rdoc/URI/Escape.html#method-i-encode) can be used.

[2016-12-01 10:41] Insti commented on #3276
Awesome.

Some thoughts:
* There probably should only be one expand/shrink button.
* Does the copy  button only copy the code in the box it is next to?

Thanks for including the screenshots :heart:

[2016-12-01 10:47] Insti commented on #3285
## Advanced:

It would be good to extract the code that is currently in the template into a helper, so the template code becomes:
[code]

[2016-12-01 11:01] tejasbubane commented on #3276
@Motardo This looks great! Just one suggestion from my side: (I know this is not a final design, but thought I should post it so it doesn't get missed later)

![web image 2016-12-01 16-26-50](https://cloud.githubusercontent.com/assets/980783/20791508/5c030cd4-b7e3-11e6-8230-73f209cf8b24.png)

[2016-12-01 16:06] Motardo commented on #3276
@tejasbubane I think you're right. Moving the buttons down against the text area would look nicer.

@Insti
The copy button only copies the code it is next to, which I think is the desired behavior?

**Single vs. multiple expand buttons:** imagine a submission where the first two files have short lines and the third file has long lines that are cut off. It's more convenient to click expand right th

[2016-12-01 16:29] Insti commented on #3276
Yes, I think so. Great.

[2016-12-01 17:57] Motardo commented on #3276
Here are a couple of screenshots. One with the buttons outside the code area
![outside](https://cloud.githubusercontent.com/assets/2099793/20805628/774934e6-b7c5-11e6-85fa-a229cc363bba.png)

And one with the buttons inside.
![shrink](https://cloud.githubusercontent.com/assets/2099793/20805640/816c8afe-b7c5-11e6-84f8-81de289d5ae5.png)

[2016-12-01 18:48] Insti commented on #3276
outside :+1:

[2016-12-01 18:50] Insti commented on #3276
I like how you've moved the box closer.

I think we shouldn't worry about multiple expand buttons for now.
Put this version in place and see how it goes in practice.
If it bugs anyone too much we can create another issue to do something about it.

[2016-12-02 00:52] Motardo opened #3288 "Expand code doesn't expand until window scrolled"
This is kind of hard to explain but:
Using this page as an example [Gigasecond](http://exercism.io/submissions/4f008927d8d042c581fd0be145924bce)

When viewing a submission, if the comments on the right are longer than the code on the left,
![view](https://cloud.githubusercontent.com/assets/2099793/20818944/1f27980e-b7ff-11e6-8ede-b96d5dcc7eca.png)

and you scroll the window down until the code top

[2016-12-02 04:10] tejasbubane commented on #3276
Looks like this is deployed and works great! Thanks @Motardo :+1:
Closed via #3287

[2016-12-02 04:10] #3276 closed

[2016-12-02 04:14] rbasso commented on #3276
Perfect! Thanks, @Motardo!

[2016-12-02 06:13] Insti commented on #3276
Thanks @Motardo :heart:

[2016-12-02 06:18] Insti commented on #3288
Reproduced. (firefox on debian)
Great instructions @Motardo .
Do you think you can fix it?

[2016-12-02 09:07] bordeltabernacle commented on #3231
I like how you've phrased this.

I think this issue can be closed now. :smiley:

[2016-12-02 09:15] NobbZ commented on #3288
I can reproduce it on chrome as well (`Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36`), but not in microsoft IE11 nor Edge.

[2016-12-02 14:27] jtigger commented on #3206
Didn't hear back from him.  Will bump.

[2016-12-02 14:33] Motardo commented on #3288
Unfortunately no. I dug around and found that when the left code sidebar tops out, it gets set to `position: fixed` by [theia-sticky-sidebar](https://github.com/WeCodePixels/theia-sticky-sidebar). It also gets a `width` style and all the parent divs get `transform: none`.  I was able to get the code window to expand by removing `transform: none` from the parent divs, so I think there is some inter

[2016-12-02 14:39] jtigger commented on #1617
@kytrinyx agreed.  This topic has been pretty hammered out — not to say it can't be revisited — so it's a good candidate for being culled into something more succinct that references the instances.

I'm taking this thread to exercism/discussions#96 to get feedback on how that should look.

[2016-12-02 14:41] jtigger commented on #3153
@kytrinyx said:

@kopt and I are taking a first take at said video next Wednesday. :)

[2016-12-02 15:19] jtigger commented on #3282
@celiagomezdev I also really dig what you're up to, here.  I'm with you: I really like your latest iteration... the make easily discoverable the actions that cultivate the behavior we want... and the other (valuable, but not as crucial) stuff just one click/hover away.  I :heart: it!

I like where you are going with the color treatment too.  Right now, the "official" palette is black, white and pi

[2016-12-02 19:48] Trevoke opened #3289 "Submitting a comment with the keyboard doesn't clear the text area"
If you click submit, the comment shows up and the text area is blank.

On OSX, you can submit with the keyboard by pressing Command-Enter (probably Ctrl-Enter on other OS but I don't have another box handy to check).

When I submit that way, the comment shows up fine, but the text area has the comment's text in it, so when I attempt to navigate away I get an annoying JS warning that I've got unsav

[2016-12-02 20:55] Insti commented on #3289
Reproduced (Firefox on Debian)

Is this something you are able to fix Trevoke?

[2016-12-02 21:00] Trevoke commented on #3124
I completely missed that you had replied! My apologies. Tool snafu.

Is there some kind of "Exercism health dashboard" where we can find out
which tracks need maintainers, etc?

On Sun, Oct 2, 2016 at 11:13 AM Katrina Owen <notifications@github.com>
wrote:

[2016-12-02 21:03] Trevoke commented on #3289
I'm sorry, but no, not in the near future. This is probably a relatively
good first patch for someone who's new to OSS contributions though.

On Fri, Dec 2, 2016 at 3:55 PM Geoff Hubbard <notifications@github.com>
wrote:

[2016-12-03 01:10] kytrinyx opened #3290 "Verify CSS instructions in Contributing Guide"
Right now the contributing guide section on compass/scss says:

Is that still accurate now that we have buildpacks that compile?

/cc @tejasbubane who probably knows the answer to this

[2016-12-03 01:41] kytrinyx commented on #3290
Well, on second thought... it helps catch syntax issues. So maybe we could specify that this is why you want to do it.

[2016-12-03 01:45] kytrinyx opened #3291 "Include wordmark in upper left-hand corner"
I'm working on getting a few Exercism-related things in order, and one of them is getting a trademark registered for "exercism".

In order to make a case for having right-of-use (or some other lawyerly term that I can't recall) we need to be using the name on the website to identify it... so in the upper left hand corner.

I did a hack to stick it in there, but it's not awesome.

<img width="419"

[2016-12-03 10:08] troubalex commented on #3291
<img width="420" alt="screenshot 2016-12-03 11 07 44" src="https://cloud.githubusercontent.com/assets/1913615/20858603/cb31044c-b948-11e6-9832-eeaa4f4e13cc.png">

Like this, maybe?

[2016-12-03 15:55] kytrinyx commented on #3291
That looks good!

[2016-12-03 17:16] MatMoore commented on #3251
Hi, I'm working on this. 👋

[2016-12-03 18:08] MatMoore commented on #3251
I've made an attempt at the first two tasks in https://github.com/exercism/exercism.io/issues/3293

What do you think, @ErikSchierboom @jtigger ?

[2016-12-03 19:01] #2789 closed

[2016-12-03 21:56] ErikSchierboom commented on #3251
@MatMoore Looks very promising! I've added some comments to your PR, mostly some styling and I'd like to also include instructions for the Windows platform.

[2016-12-03 22:23] Motardo commented on #3288
I was going to try to bisect the culprit, but rewound the repo back to May 2016 and the bug is still there. Going further back the db schema is too different and the seeds wouldn't load.

What would you think about replacing theia-sticky-sidebar with native Bootstrap affix api?  We could fine-tune the exact behavior we want without any plugin weirdness?

[2016-12-03 23:01] Insti commented on #3288
It's not a very serious bug. I'd be inclined not to worry about fixing it at all.
Eventually something will change and it will fix itself.

Unless replacing theia-sticky-sidebar is on the roadmap anyway, but that sounds front-endy so I have no opinion on that. (@tejasbubane?)

[2016-12-04 15:17] #3291 closed

[2016-12-04 15:21] kytrinyx commented on #3124
which tracks need maintainers, etc?

There's no dashboard per se, but we did do a deep dive into the current state of things a couple of weeks ago, where we categorized tracks as _maintained_, _at risk_, _endangered_, and _orphaned_. https://github.com/exercism/discussions/issues/97

I think that for this we could add all the tracks that are _maintained_ or _at risk_ to **up for grabs**.

[2016-12-04 15:22] #3231 closed

[2016-12-04 15:40] kytrinyx commented on #3153
wuuuut, that's awesome!

[2016-12-04 18:06] troubalex commented on #3291
Thinking about this again, logo and wordmark should probably live in the same `<a>`. We can adjust that in another commit.

[2016-12-04 18:08] troubalex commented on #3291
Also, the font is overridden. I need to fix my local build, and then I'll give this another go.

[2016-12-04 18:11] kytrinyx commented on #3291
I think you're right!

[2016-12-05 00:02] Motardo commented on #3163
I wanted to try to reproduce this bug but I don't how you are zooming the window with the cursor like that in the gif. When I just zoom with CTRL-+ the comments jump below the code when they don't fit.

Tested with Firefox and Chrome on Ubuntu.

[2016-12-05 00:11] bernardoamc commented on #3274
I've missed this discussion somehow! I totally agree that we need a button to create a new `team`. We are currently lacking design for the `teams` page and I would love some ideas/feedback like this.

@Insti @kytrinyx Ideas for where the button should be displayed?

[2016-12-05 03:20] bcc32 opened #3295 "Sidebar does not show unread counts for language tracks"
[Screenshot](https://cloud.githubusercontent.com/assets/1239097/20872805/929f2708-ba6f-11e6-98c1-f2e84693ca50.png)

I am not able to see any unread counts for language tracks, although the unread counts are working correctly for each of the exercises within a language track.

If I remember correctly, this problem occurred after marking all exercises as read within a language track; formerly, some

[2016-12-05 08:25] Insti commented on #3295
Thanks for the report.

As another data point: I **can** see unread counts for language tracks and exercises.
I have never used the mark all read button.

[2016-12-05 09:00] tejasbubane commented on #3288
I am pretty bad when it comes to CSS. 😄

If this is the case, and you think it is worth the effort, I would say go for it 👍

[2016-12-05 09:55] celiagomezdev commented on #3282
Yes, I agree, I think using only the palette that is now on the main page -black/white, grey and dark pink- would be perfect. I would also not use the blue tone, or just If we add it to the whole visual project and with a purpose, for example, highlight some buttons for any reason, but never randomly. I've been reading a bit the topic you mentioned, really interesting! Somehow I like the pink back

[2016-12-06 11:35] troubalex commented on #3290
This bit me. I'm not entirely sure if my setup is broken somehow or if I am plainly doing it wrong, but I didn't get compass to compile my stylesheets locally. Building after merge seemed to work just fine though.

Maybe some clarification around front-end tooling might be in order, provided I didn't simply miss something.

[2016-12-06 14:32] PnmR opened #3298 "Says "Unable to identify track and file" when trying to submit file"

[2016-12-06 14:36] kotp commented on #3298
What folder are  you in and what directory.  Come to the [support chat room](https://gitter.im/exercism/support) and I think we can help you out.

[2016-12-06 14:53] kotp commented on #3298
Solved as reported by @PnmR in chat room.

[2016-12-06 14:53] #3298 closed

[2016-12-06 16:56] kytrinyx commented on #3290
Yeah, definitely. I get compass to recompile, but I'm not sure what I'm doing differently than you :(

[2016-12-07 07:44] tejasbubane commented on #3290
@kytrinyx I can see `compass watch` catching errors as well. So I think we can safely remove the `compass build` step and let heroku buildpack worry about it.

@troubalex Can you elaborate more on what fails? Maybe I can help. Try using just `compass watch` while developing, this will compile all sass and keep watching these files for any further changes. You don't need `compass build`.

[2016-12-07 08:26] Insti commented on #3290
Alternate viewpoint:
As someone who is not doing front end development, and just needed the assets to be built once `compass build` was more appropriate. `compass watch` built a lot of stuff and then never returned, (the desired behaviour if you're expecting it) but left me thinking it was stuck or broken.
I would suggest that the default be for `compass build` and provide further instruction for

[2016-12-07 13:42] tejasbubane commented on #3290
@Insti Yeah you are right. 👍  `compass watch` can be confusing and only needed by people doing frontend development.

[2016-12-07 13:44] tejasbubane commented on #3290
I am working on updating the frontend instructions.

[2016-12-07 14:06] troubalex commented on #3290
@tejasbubane

I think it's a combination of things. I'll delete my local repo, and start over. I'll let you know then if/where I get into trouble. Thanks for the offer!

Related: are we using compass for anything beyond compiling Sass?

[2016-12-07 14:07] tejasbubane commented on #3290
@troubalex I don't think so.

[2016-12-07 14:16] tejasbubane commented on #3290
@Insti Going through the contributing guide made me think.

1. Is `foreman` being used by heroku? If not can we add `compass watch` and `lineman run` there. So that these two processes run along with other stuff and all compilation is realtime.
Even for people concerned with backend only, they will need to compile if any new changes are pulled in. Might lead to inconsistencies and unnecessary bugs

[2016-12-07 23:27] #3295 closed

[2016-12-07 23:42] kytrinyx commented on #3295
I'm deploying the fix from @Motardo now. If you get a chance would you see if this fixes it for you?

[2016-12-07 23:45] kytrinyx commented on #3274
@bernardoamc beats me! How about the upper right-hand corner?

[2016-12-07 23:48] kytrinyx commented on #3282
@jtigger @Insti What do you think of making new issues that describe each individual change that @celiagomezdev has described here? I think they're potentially great "good first patch" issues, aside from the fact that the website can be tricky to get running locally.

[2016-12-08 00:00] kytrinyx commented on #3290
`foreman` is not being used by heroku (see: https://github.com/exercism/exercism.io/blob/master/Procfile#L1)

I managed to have something work locally (I stuck an accidental semi-colon in a sass file) and then it seemed to build just fine locally with compass, but then it failed when I deployed. I don't know if I was just doing something wrong locally, though—this is quite likely.

I like the idea

[2016-12-08 00:01] kytrinyx commented on #3290
That would be lovely. No ideas (this being totally outside of my field of experience), but I support the idea :-)

[2016-12-08 00:56] Motardo commented on #3295
@kytrinyx It seems to be fixed for me! Awesome!

[2016-12-08 02:08] bcc32 commented on #3295
@kytrinyx Appears to be fixed.  Thanks!

[2016-12-08 09:24] tejasbubane commented on #3290
Umm, I think [foreman uses procfile](http://blog.daviddollar.org/2011/05/06/introducing-foreman.html) and [so does heroku](https://devcenter.heroku.com/articles/procfile#deploying-to-heroku). This `Procfile` works:

[code]
But will this also take effect on heroku deployment running multiple dynos?

[2016-12-08 09:34] troubalex commented on #3290
Shouldn't lineman be able to compile Sass, and take care of all the prefixing and minifying? Compass feels like overkill if all we use it for is compiling...

[2016-12-08 11:25] Insti commented on #3295
Thanks @bcc32 and @Motardo for your help. :heart:

[2016-12-08 11:43] Insti commented on #3274
Anywhere is better than nowhere, we can always move it.

[2016-12-08 11:48] Insti commented on #3282
Individual issues, good idea. I think all of these ideas are great.
Keeping focus on one thing at a time makes it a lot easier to review and merge.

[2016-12-08 13:27] tejasbubane commented on #3290
Yes lineman can compile sass. But I think we will need some configuration for that.

[2016-12-08 23:57] #3261 closed

[2016-12-09 00:15] Motardo commented on #3288
I got it to work somewhat by turning off theia's fixed positioning styles. Using [this page](http://exercism.io/submissions/5c68a77ffec34d0daa6ab26d4e092f82) as an example if I scroll down to the last comment:
![scrolldown](https://cloud.githubusercontent.com/assets/2099793/21032417/576e6e36-bd77-11e6-961f-7669ed0e4ae7.png)
Then in the browser console:
[code]
The code is at the top and expanded bu

[2016-12-09 03:31] Motardo commented on #3288
It seems that theia is responding to scroll events and repositioning things correctly, so all that is needed is to send the right scroll event when the expand button is clicked. I'm going to make a PR with this fix

I'm not sure how we want to handle shrinking the window. When the page is in full-width expanded mode the code window could be scrolled up into the navbar area with just a little bit o

[2016-12-09 20:41] kotp commented on #3185
@zrc210 noticed the same issue today.

[2016-12-10 01:07] #3288 closed

[2016-12-10 01:09] kytrinyx commented on #3288
I'm deploying this now. I tested it locally before merging it, but please do take a look to see that the new behavior is what you expected.

[2016-12-10 01:12] kytrinyx commented on #3185
I've asked Mohan if they'll have time to complete their PR, or if we should carry it.

[2016-12-10 01:13] bernardoamc commented on #3185
I'm redoing it right now, but the credit is all to Mohan.

[2016-12-10 01:20] kytrinyx commented on #3185
@bernardoamc thank you!

[2016-12-10 02:23] Motardo commented on #3288
@kytrinyx Hmm, the live site with build b2f992b should have my change, but it doesn't seem to be working. I don't think the the new script.js file that I changed got compiled into the app.js that is being served?

excerpted from http://exercism.io/js/app.js:
$(".code a[data-action='enlarge']").on("click",function(){var a=$(this).parents(".code"),b=a.siblings(".comments");a.removeClass($(this).data

[2016-12-10 03:36] Motardo commented on #3288
I just refreshed the browser and got the new version of js/app.js and everything seems to be working. I don't know if you fixed it, or I just had a cached version the whole time? Anyway it looks good now. Thanks!

[2016-12-10 15:07] acamargo opened #3305 "Feature request: Navigation between implementations"
It would be very handy to have a couple of links like "previous implementation" and "next implementation" on the page you read submissions from other devs.

I don't know how to call that page, an example is http://exercism.io/submissions/ca3534a7d2a3449e81e1af6ced675436

[2016-12-10 16:02] kytrinyx commented on #3185
Closed by #3304, deploying now.

[2016-12-10 16:02] #3185 closed

[2016-12-11 01:12] Skilly opened #3306 "rikki highlighting issue with indents"
*Refer [solution](http://exercism.io/submissions/1a3bc1a868fa42e48b4abfb6d4391a0f)*

[Rikki](http://exercism.io/rikki) commented

However, as per the screenshot below, which shows the result of searching the source code for "  " (i.e. two spaces), the indenting used in the particular example is consistent
![rikki_indenting](https://cloud.githubusercontent.com/assets/94933/21077205/f97c4140-bf97-11

[2016-12-11 02:43] mhelmetag commented on #3306
Your method `def` and closing `end` are on different indents. Also you have indented under `raise ArgumentError` which is non-standard in Ruby.

I'm not sure what rikki's indent rules are offhand but I would assume these are contributing factors.

You might want to take a look at https://github.com/bbatsov

[2016-12-11 02:45] kotp commented on #3306
The indenting should look like this:

[code]

The `unless` does not start a body of a block in the case of line 7.  This is what Rikki is complaining about.

[2016-12-11 07:24] Skilly commented on #3306
Funny how you can look at something for ages and see absolutely no issues, yet once the problems are pointed out they're glaringly obvious and are blatantly staring you in the face!

Thanks @kotp  and @mhelmetag for your feedback.

Will mark issue as closed (obviously)

[2016-12-11 07:24] #3306 closed

[2016-12-11 07:56] mhelmetag commented on #3306
No worries 😆

[2016-12-11 08:40] Insti commented on #3305
Yeah, this comes up from time to time. Have a search through the issues and see if you can find what was said about it.

[2016-12-12 00:24] kotp opened #3307 "Feature Request: Diff view comparing prior iteration with currently viewed iteration"
It would be nice to be able to see a view showing the differences between iteration 1 and iteration 2, for example, of solutions.

[2016-12-12 16:06] lizvdk commented on #3110
Does anyone want to take this on? It looks like #3219 is not moving forward.

[2016-12-12 16:10] bernardoamc commented on #3110
Will take a look when I get home, thanks for bumping it up @lizvdk!

[2016-12-12 16:22] kytrinyx commented on #3305
I know I've written about this before, but I had trouble finding a good thread to point you to.

There are a few tricky things with this. What does "next" actually mean?

Is it...

- The next solution to the same exercise in the same language?
- What if you are navigating a track stream (not filtered to a solution)?
- What if you are navigating a team stream (not necessarily filtered by language,

[2016-12-12 16:25] kytrinyx commented on #3307
We had this and ripped it out. I'd consider adding it back if we can do it without making the solution page even messier and harder to navigate than it already is.

[2016-12-12 16:29] kytrinyx commented on #3288
@Motardo It probably was cached, or you tested before it was completely deployed.

[2016-12-12 16:36] kotp commented on #3307
Just a button similar to the clipboard and expand view button...

![selection_002](https://cloud.githubusercontent.com/assets/16747/21107083/7fdd52f8-c05e-11e6-9673-ae1e6d977ccd.png)

In the text browser, perhaps a diff link.  The others don't show, so no messing up the page there.

![selection_003](https://cloud.githubusercontent.com/assets/16747/21107167/d44314ea-c05e-11e6-92f9-8db8677dea8d.png)

[2016-12-12 18:27] kytrinyx commented on #3307
That could work. It should stay in the same page, though, not take you to a different page, I think. That way you could look at the diff and still comment.

[2016-12-12 19:56] kotp commented on #3307
Yes, that is the hope.  Perhaps the diff side by side, with the comment area below.

[2016-12-13 21:42] acamargo commented on #3305
I searched and found it nothing, so, I gave up.

But, as @kytrinyx spent some time writing all those options, my vote goes to number 1.

I thought just about a "simple" way to navigate between solutions to the same exercise in the same language.

[2016-12-13 22:02] Motardo commented on #3305
There was a [discussion about this here](https://github.com/exercism/discussions/issues/33#issuecomment-241856639). I think it would be a nice feature that would save some clicking back and forth from the `See other implementations of _` page.

[2016-12-14 15:50] jtigger commented on #3251
Hey @MatMoore, I've been out sick and just getting back into the swing of things.  So delighted that you picked this up!

Thank you for doing this work.  Every bit the we smooth out the road for contributors means it's that much easier for all those people who come behind you to get going.  Also, there are a number of paths through which people will arrive at the need to setup a local install; by

[2016-12-14 17:59] cowlike opened #3310 "Tree Building exercise in F# has nonsense readme"
From the readme:

between 0 (inclusive) and the length of the record list (exclusive). No record
has a parent ID lower than its own ID and no record, except the root record,
has a parent ID that's equal to its own ID.

These sentences are both false and violated in the tests. Maybe the design changed and someone forgot to update the readme? Currently the root node has a parent id of -1.
[edit] Als

[2016-12-15 02:41] Motardo commented on #3307
What is the best way to do this? Lets say Iteration 1 is at `/submissions/xxx` and Iteration 2 is at `submissions/yyy`. So if you're looking at Iteration 2 and click the `diff` button:
 - the browser stays on `submission/yyy`
 - there would be an ajax request for Iteration 1's code only (not comments)
 - the view updates with a nice side-by-side diff of the iterations
 - any comments you make get

[2016-12-15 04:54] kotp commented on #3307
The bullet list looks good.

Checkbox the iterations you want to see the diff of, but default to the prior if they are not selected.

[2016-12-16 00:25] masters3d opened #3312 "Serve files from tracks/:track_id/img path"
Cross Post
https://github.com/exercism/xswift/issues/223#issuecomment-267482296

This file was updated
https://github.com/exercism/xswift/blob/master/docs/TESTS.md

The website shows broken links to images now.
http://exercism.io/languages/swift/tests

How do we fix these?

[2016-12-16 05:53] Insti commented on #3312
Exercism does not currently support\* serving "random" files from tracks.

\* I'm only 90% sure of this.

We probably need to wait from [Katrina to get back from her break](https://github.com/exercism/discussions/issues/111) so she can decide what she wants to do about serving image files from tracks.

In the meantime, I suggest updating to the links to point directly to the raw images in the xswi

[2016-12-16 06:04] masters3d commented on #3312
Katrina said to put them there :)
https://github.com/exercism/xswift/pull/212#issuecomment-265597010

She just deployed something yesterday. nobody else deploys? :)

[2016-12-16 08:08] Insti commented on #3312
Ah ok. :smile: That's one decision made!

We still need to add support for serving them.

[2016-12-16 12:09] ErikSchierboom commented on #3310
@cowlike The correct place to log that issue is at: https://github.com/exercism/xfsharp/issues Would you mind posting it there?

[2016-12-16 12:19] Insti commented on #3312
# Good first patch

## What do I need to know?

Ruby, basic HTTP request theory.

## What will I learn?

Sinatra routes, a bit more about how Exercism works behind the scenes. (Trackler)

## What is Trackler?

Trackler is a gem that contains all the files for all the Exercism tracks:
https://github.com/exercism/trackler

## Where do I start?

Sinatra (serves the main exercism.io website):
https://

[2016-12-16 13:00] cowlike commented on #3310
Done! Thanks

[2016-12-16 13:00] #3310 closed

[2016-12-16 14:41] kytrinyx commented on #3312
Fixed in #3313

[2016-12-16 14:41] #3312 closed

[2016-12-16 16:26] nickborromeo commented on #3289
@Insti @Trevoke looks like the PR that addresses this has been merged. Can we close this issue out?

[2016-12-16 16:28] Trevoke commented on #3289
Wow, so it has! I got no notice of this (and I've not been using exercism in the past two weeks) but it's totally fixed now!

Thanks!

[2016-12-16 16:28] #3289 closed

[2016-12-17 02:18] Joemartz86 opened #3316 "Swift Test Images"
I am not sure if this is actually broken or if no one has gotten around to it, but on the website the images associated  with the running test / Xcode tutorial are not there.   Thanks.
http://exercism.io/languages/swift/tests

[2016-12-17 08:04] Insti commented on #3316
Thanks for the report @Joemartz86
This is being dealt with in: https://github.com/exercism/xswift/issues/223

[2016-12-17 08:04] #3316 closed

[2016-12-19 16:09] MatMoore commented on #3251
@jtigger Thanks - I think it's really great that this project is so welcoming to new contributors. I'm glad I could help! 😃

[2016-12-21 17:19] nryberg opened #3320 "Feature Request: View golang submissions with comments unrelated to formatting errors"
Linting is great and automatic feedback is important.  It'd be great to browse other submissions to exercises that have comments that aren't automatically generated (eg. Golang's insistence on correct formatting).

Looking for more constructive feedback here.

[2016-12-22 01:06] gamefreak9125 opened #3321 "Typo on the main exercism.io page"
On the main there is a typo in the Are you ramping up in a new language? section. This is how it reads, Now you feel hamstrung with one hand tied behind your back and an an unfair suspicion that you should already know this. I know it's a tiny issue but I was wondering if I could fix it for my first contribution! :)

[2016-12-22 02:05] kotp commented on #3321
Yes, you may, and please do @gamefreak9125!

[2016-12-22 02:23] gamefreak9125 commented on #3321
Alright thanks, I just submitted the pull request for it.

[2016-12-22 03:07] #3321 closed

[2016-12-22 06:54] Insti commented on #3321
Thanks @gamefreak9125 :heart:
No contribution is too small.

[2016-12-23 17:27] nathanbwright opened #3325 "Languages page not displaying properly on Safari 9"
I just visited http://exercism.io/languages in Safari 9 and noticed the following issue.

![exercism](https://cloud.githubusercontent.com/assets/4740018/21459157/1fdd9b3a-c8f9-11e6-93e1-23e2c2d82e15.png)

It looks like each of the rows is getting rendered separately, and there is a issue with the way Safari is rendering the padding. Chrome/Firefox appear to be rendering fine. Could we move this to

[2016-12-23 17:36] bernardoamc commented on #3325
Hey @nathanbwright, last time I checked (2 months ago) it was something like this in relation to flexbox:

- Chrome: Doing well based on the versions used.
- Firefox: 7% of the users still use versions below 47
- Safari: 25% of the users still use versions below 9.1
- Opera: 10% of the users still use versions below 39
- Edge: 1% of the users still use versions below 13
- IE: 2% of the users using

[2016-12-24 00:33] Motardo commented on #3307
I have been working on this. I took the approach of generating the diffs on the frontend with [jsdiff](https://github.com/kpdecker/jsdiff) rather than making ajax requests to a server side diff engine. My reasoning was that it would be simpler and snappier without involving a server round trip.

When you click the diff button, the current iteration's navigation tab turns green, and the iteration b

[2016-12-24 08:00] kotp commented on #3307
I kind of like the `</>` symbol for this, since it is similar in communication that you are going to see a different iteration, but may be there is a universal symbol for "not equal" that can be used?

[2016-12-28 23:20] kentonscode opened #3326 "link on elixir about page leads to 404"
On the Elixir [about](http://exercism.io/languages/elixir/about) page there is a link to "BEAM Erlang Virtual Machine." However, it goes to a 404.

Here's the updated link: http://erlangcentral.org/videos/euc-2014-robert-virding-hitchhikers-tour-of-the-beam/

Simple, but thought to mention it :)

[2016-12-29 09:07] troubalex commented on #3120
Travis complained about this as well in #3311. Should we wait until lineman upgrades or adjust the build script in the meantime?

[2016-12-29 11:40] Insti commented on #3326
This needs to be fixed in the [Exercism Elixir repository](https://github.com/exercism/xelixir)

Edit the file: https://github.com/exercism/xelixir/blob/master/docs/ABOUT.md

[2016-12-29 22:05] syivanes commented on #3326
HI! I fixed it and ready to push.

[2016-12-30 06:06] Insti commented on #3326
:tada: thanks @syivanes do you know what you need to do next to make a Pull Request to the xelixir repository?

[2016-12-30 07:45] tejasbubane commented on #3120
@troubalex I just sent a PR to lineman for the issue. Does travis always complain or intermittently? Because I see the build passing.

[2016-12-30 18:57] troubalex commented on #3120
It passed after I had fixed linter warnings I couldn't see until after I had installed `grunt-contrib-jshint`. Travis only complained about the path if I didn't miss anything.

[2016-12-31 04:16] tejasbubane commented on #3120
@troubalex My fix has been merged into lineman and new version `0.37.0` has been released. I tried removing `node_modules` entirely and using this version (kinda like fresh installation) - no errors - it works! 😃
Sent a PR to upgrade lineman in exercism.

[2017-01-01 01:16] kotp commented on #3307
Would the `<=>` graphic make sense for the diff button graphic?

[2017-01-01 02:28] binoymichael commented on #3305
I was thinking if we could have a quick peek of the solutions in the 'Activity Streams' page itself with an accordion style implementation. It would probably look something like [this](https://gfycat.com/SpeedyRadiantDingo).

Some points I could think of:
- Users can quickly see other solutions and comments. Saves the users some clicks.
- It would work well with both the language streams and the e

[2017-01-02 01:07] kentonscode commented on #3326
closing as it seems to have been fixed and merged.

[2017-01-02 01:07] #3326 closed

[2017-01-02 17:33] kytrinyx commented on #3305
@binoymichael a quick peek using ajax sounds like it could work. I'd be up for seeing something in that direction. Would you take a few minutes to work through what it would look/work like in the different activity streams? Nothing fancy, just a few bullet points about each situation would be really helpful.

[2017-01-02 17:43] kytrinyx commented on #3326
Thanks @kentonscode for catching this! ✨

[2017-01-02 17:51] kytrinyx commented on #3320
@nryberg Yeah, that's a good point. At the moment there's not an easy way to do this, but I think we should put this on the list of things to think through how to accomplish. It's very important to figure out how to make it easy for people to browse relevant and interesting comments!

[2017-01-02 17:52] kytrinyx commented on #3321
So very true! It's absolutely amazing to come back from two weeks of vacation and see the accumulated improvements from all the various changes people have been making :heart:

[2017-01-02 18:00] kytrinyx commented on #3140
There's a bunch of great work in #3207

For anyone who has the time to carry this, here's what I'd suggest:

- `git fetch origin refs/pull/3207/head && git checkout -b carry-3207 FETCH_HEAD`
- `git rebase master`
- make the changes (adding new commits on top of these)
- submit a new pull request, that way @jmkoni gets full credit in the commit history for the work that's already done.

[2017-01-02 18:05] #3120 closed

[2017-01-02 18:10] kytrinyx commented on #3307
Or maybe something like this?
<img width="144" alt="compare" src="https://cloud.githubusercontent.com/assets/276834/21594122/06abb2e2-d0dc-11e6-933c-cbb8a853b734.png">

[2017-01-02 20:55] binoymichael commented on #3305
@kytrinyx
- The gif that I linked to in the previous comment is how I envision the activity stream page will look like.
- Screenshot for more clarity
<img width="974" alt="screen shot 2017-01-02 at 12 50 20 pm" src="https://cloud.githubusercontent.com/assets/756795/21596047/61b1d672-d0ea-11e6-80c9-29803f930f70.png">

- afaik there are just three sections in the Activity Stream (a) Language wise so

[2017-01-02 21:10] kytrinyx commented on #3305
It sounds like you're suggesting that the ajax call would go to an endpoint that fetches the N "next" exercises for the stream that you were navigating.

* How do we know what stream you were navigating?
* What does "next" mean? Let's say that you are working your way through all of the "clock" exercises in Go. You've commented on the 7 first exercises, and you click on exercise 8. You comment. No

[2017-01-02 23:14] binoymichael commented on #3305
No, I was thinking of one ajax call per submission. When the user clicks on a submission on whichever stream he/she is on (it doesn't matter how he/she arrived there), we get the particular submission uuid and we fire an ajax call to get the details of that particular submission alone and display it. When the user clicks on the next submission, we fire an ajax call again to get the details of the

[2017-01-02 23:42] kytrinyx commented on #3305
Ah, OK, I totally missed that. Yes, if that's what we do, then this would work. It's going to be harder to fit everything into a single, narrower view, though.

[2017-01-02 23:52] binoymichael commented on #3305
Cool :) Shall I go ahead and take a shot at this?

[2017-01-03 00:59] kytrinyx commented on #3305
Would you do a mock-up of what it might look like before doing any code on it?

E.g.

- an exercise with 17 iterations (is there a difference between that and 1 iteration?)
- an exercise with 0 comments, 1 comment, 15 comments
- an exercise with 1 file, 2 files, 5 files

[2017-01-03 01:06] kotp commented on #3307
![selection_006](https://cloud.githubusercontent.com/assets/16747/21598228/d8c60436-d126-11e6-801f-a74977bb24bd.png)

From [github](https://octicons.github.com/icon/diff/)

[2017-01-03 01:13] kytrinyx commented on #3307
@kotp the GitHub one is the one! Thanks for finding that.

[2017-01-03 01:43] binoymichael commented on #3305
Sure.

[2017-01-03 14:24] Insti opened #3330 "rescue me! label remove !"
The new 'rescue me!' label made it difficult to link due to the ! being excluded from Github's urlifier.

https://github.com/exercism/exercism.io/labels/rescue%20me! (this now links to the modified label due to the ! at the end being ignored)

So I removed the `!` at the end of the label.

https://github.com/exercism/exercism.io/labels/rescue%20me

[2017-01-03 15:54] kytrinyx commented on #3330
Sounds good. /cc @kotp

[2017-01-03 18:50] kotp commented on #3330
Yep, that will work.

[2017-01-03 18:50] #3330 closed

[2017-01-03 22:28] Motardo commented on #3307
Yes the github diff icon is what I was looking for. I'm going to make a PR for this now.

[2017-01-04 01:20] divbit opened #3332 "Link to client in banner"
Love your exercism site: just a quick ui comment- I have switched computers several times over the past months and each time install exercism.. it's always a bit of a struggle to find the basic exercism install instructions (eventually you get to them once you decide on a language and start, but it seems counterintuitive). I think adding an "Install" (or "download" or "get started" or similar link

[2017-01-04 01:21] kotp commented on #3332
Or perhaps as it is a seldom done action (potentially one time for each computer) the footer works.  But the footer does not have the "first reach words" to search for, such as "download" or "install", though the link is right there and on every page.

[2017-01-04 06:30] Insti opened #3333 "C++ / CMake help needed"
As part of moving to the up-to-date Exercism language track structure, the [CMakeLists.txt](https://github.com/exercism/xcpp/blob/master/CMakeLists.txt) file for the cpp track needs updating. There is a pull request that already moves the files:  https://github.com/exercism/xcpp/pull/108 but the makefile needs to be updated to run the tests in their new locations.

Can you help?

[2017-01-04 08:39] kotp commented on #2535
Related: #3332

[2017-01-04 09:20] kotp opened #3334 "Gemfile and bin/setup contradiction with Ruby Version"
The Gemfile dictates that Ruby has a version of 2.3.3, while the bin/setup copies the `.ruby-version.example` file with the version of 2.2.2.

[2017-01-04 11:00] #3334 closed

[2017-01-05 00:48] kytrinyx opened #3336 "Finalize deprecation of old language track file structure"
A while back we started moving all of the exercise implementations into a subdirectory called `exercises` in each of the stand-alone language track repositories.

That is to say that instead of having a mix of `bin`, `docs`, and individual exercises,
we can have `bin`, `docs`, and `exercises` in the root of the repository, and all
the exercises collected in a subdirectory.

In other words, instead

[2017-01-05 00:51] Adam-A commented on #3333
Sorry, I'm very new to open source. Could you clarify a little bit more? So in the CMakeLists.txt file I need to change the old directory to the new directory location where the tests would run?

[2017-01-05 00:58] kytrinyx commented on #3332
We have the link on the footer, but you're right. We should probably say "download" or "install" or both in the link text.

[2017-01-05 01:06] kytrinyx commented on #3333
@Adam-A That's my understanding. Here's a way to test it out:

1. Fork the https://github.com/exercism/xcpp repo
1. Clone your fork
1. Add the upstream as a remote (`git remote add upstream https://github.com/exercism/xcpp.git`)
1. Pull down https://github.com/exercism/xcpp/pull/108 to a local branch with `git pull upstream refs/pull/108/head && git checkout carry-108 FETCH_HEAD`
1. Switch to the

[2017-01-05 01:13] Adam-A commented on #3333
@kytrinyx Thank you so much! Much appreciated.

[2017-01-05 01:53] binoymichael commented on #3305
Here are the mockups.
I loaded the existing submissions page into a div below a list item and the manipulated the html/css via the web console to get these mockups.

With 0 comments, the avatars hidden away in the comments section -
<img width="1438" alt="mockup1" src="https://cloud.githubusercontent.com/assets/756795/21665526/c66ff036-d2a1-11e6-8d76-d5f45da0680e.png">

With 1 comment, 1 iteration

[2017-01-05 06:31] Insti commented on #3333
Yes.

The exercises used to live in /foo, they have been moved to /exercises/foo but the makefile was trying to run the tests in /foo, which no longer exists.

However if you follow the link to the pull request you will see that this has already been solved.

[2017-01-05 15:03] kytrinyx commented on #3305
I think that it's worth a try. It seems a little bit cramped without the full width, but if it helps people's workflow, it's worth it.

In light of https://github.com/exercism/discussions/issues/113 I think that we can experiment with a few things as well, so long as people are OK with it.

@troubalex @jtigger @Insti @kotp @bernardoamc @tejasbubane You have all had really great opinions in the pas

[2017-01-05 19:38] Motardo commented on #3305
Current behavior: clicking a list item loads the page at `submissions/xyz`

Proposed new behavior: clicking `View` loads the page at `submissions/xyz` and clicking `Quick Peek` opens an accordion view containing the exercises iteration tabs, submission code, and comments.
![screenshot](https://cloud.githubusercontent.com/assets/756795/21666083/778e714c-d2a4-11e6-9204-ddd3f31311af.png)

I don't thi

[2017-01-05 19:55] binoymichael commented on #3305
1. Yes, if we can, we should come with a better name for 'View'. I didn't put much thought into the names of the links. We could also have an external link icon <img width="40" alt="screen shot 2017-01-05 at 11 46 59 am" src="https://cloud.githubusercontent.com/assets/756795/21695045/dccf2e64-d33c-11e6-9a9a-e88a3888cd31.png"> next to it convey that it will open in a new page.

2. IMO, we should st

[2017-01-06 04:40] kotp commented on #3305
I think "quick peek" should be "peek" because "You can't tell me how my peeking speed should be!".  The way that I generally use Exercism website is via a browser called w3m, so I think that in general, I can't really know how I feel about it until after I see how it renders there.

In the graphical mockup, it appears to be some really good ideas there.

[2017-01-06 18:34] Motardo commented on #3305
I don't think this kind of AJAX effect would work in w3m because it doesn't interpret javascript (is that correct?)

Indeed, and also for people browsing without javascript enabled.

[2017-01-06 23:39] kotp commented on #3305
The effect will not work, but the data may be organized well.  For the most part, so far, there aren't any tricks that are being used that break using w3m.  I get the graphics where I should and things work well for fast, low cost, usage.

[2017-01-08 04:08] armchairlinguist opened #3338 "Rikki bot complains about for loops on Ruby accumulate exercise"
http://exercism.io/tracks/ruby/exercises/accumulate

The feedback Rikki provided on my implementation (http://exercism.io/submissions/839cb740b3a6498f9e3ca10f9784a3be) was:

I'm well aware of `.each`, but didn't use it for accumulate because it seems like cheating to me - `.map` (the 'real' Ruby name of this method) is just each + a passed-in function to transform with. I thought it would be nice

[2017-01-08 06:17] petertseng commented on #3240
The Haskell track bravely volunteers itself to be the first track to test out exercises/TRACK_HINTS.md.

We left a dummy SETUP.md in place so that we can:

* verify that exercises/TRACK_HINTS.md is being served in preference of STACK.md
* not be completely hosed if it turns out that exercises/TRACK_HINTS.md is not being served.

[2017-01-08 08:51] Insti commented on #3240
https://github.com/exercism/trackler/pull/17 added support for TRACK_HINTS.md so it should be working now.

[2017-01-08 09:29] mhelmetag commented on #3338
Hmmm... While I'm all for the fundamentals and believe `for element in self` is more explicit... I think that `each` (with an explicit resulting array) or `map` (implicit resulting array) is a cleaner and more idiomatic way to solve this...

However, rikki's comments are just suggestions and abiding by them is totally up to you.

[2017-01-08 09:38] kotp commented on #3338
Though "map" is on the "restricted list" for that exercise specifically... after the initial solution, I have been guilty of exploring different approaches related but using that forbidden method.

The `each` method is also something that is defined by the author of the module or class, so this is only cheating, really, if you borrow that from one of the classes that implement it.  Yes, my current

[2017-01-08 09:45] mhelmetag commented on #3338
Ah okay. Thanks for the info. That makes more sense then.

This should be pretty easily solvable on either the rikki or ruby-analyzer side.

[2017-01-08 19:38] petertseng commented on #3240
Confirmed good. We are removing our backup SETUP.md. exercises/TRACK_HINTS.md is the way to go.

[2017-01-08 19:39] petertseng commented on #3240
Signing up a second track (Rust)

[2017-01-09 21:07] javaeeeee opened #3339 "Build in Java track breaks"
Hello, build in the Java track breaks with the following message.

+echo ==================================================
==================================================
+echo '52 of 52 -- list-ops'
52 of 52 -- list-ops
+echo ==================================================
==================================================
+./exercism --config .journey-test.exercism.json fetch java list-op

[2017-01-09 21:40] javaeeeee commented on #3339
Removed config files from the project folder, build passed.

[2017-01-09 21:40] #3339 closed

[2017-01-10 01:59] NolanChan opened #3340 "Can't log in with Github Profile"
Hi, I'm currently having an issue signing into exercism with my GitHub account. Basically whenever i click on the log in button, it refreshes the page and brings me back to the same page. I know it's not much info, but hopefully someone else experienced this issue as well? I can't get my API key because of this...

![exercism](https://cloud.githubusercontent.com/assets/1487616/21791068/4796aed8-d6

[2017-01-10 06:37] kotp opened #3341 "Remove 24 Pull Requests description from repository"
"Start here if you're doing 24 Pull Requests: http://24pullrequests.exercism.io" is what [it currently says](https://github.com/exercism/exercism.io) near the top of the page.

[2017-01-10 15:56] bernardoamc commented on #3340
Hi @NolanChan are you still having the issue?

[2017-01-10 17:38] NolanChan commented on #3340
Hi @bernardoamc , yup the issue still exists for me

[2017-01-10 18:25] bernardoamc commented on #3340
- Do you have another browser where you can try this? :)
- If you go to [exercism](http://exercism.io/) and click on `Login with Github` in the top right do you still have the problem?
- Did you clear the cache?

If none of these solve the problem we can start investigating with the developer tools. But I hope we can solve this as fast as possible. ;)

[2017-01-10 18:33] NolanChan commented on #3340
Hi @bernardoamc , thanks for the suggestions:

1. I've tried this on all the browsers on my mac (Safari, Firefox, Chrome). However, I can log in on my phone (which points to something local on my Mac causing this problem)
2. I've tried clicking on the top right Login text and it doesn't log me in either.
3. I've tried an `Empty Cache and Hard Reload` and nothing changed

I'm open to debugging this

[2017-01-10 19:02] Insti commented on #3340
Can you/are you log(ged) into GitHub on your mac?

[2017-01-10 22:01] NolanChan commented on #3340
Yup, I'm logged in

[2017-01-11 19:11] kytrinyx opened #3342 "Fix order-dependency in test"
The build failed non-deterministically with the following:

[code]

[2017-01-11 19:12] kytrinyx commented on #3341
Done. Thanks for the reminder.

[2017-01-11 19:12] #3341 closed

[2017-01-11 19:27] Insti commented on #3342
https://github.com/exercism/exercism.io/blob/master/test/exercism/comment_test.rb#L29

[2017-01-11 23:23] bane73 commented on #2261
Has there been any traction on this front?  I'm a Java developer at my local university... use 3 different boxes and move around a fair amount... would LOVE to have a way to do Exercism in the cloud so I can easily play with it from anywhere that I get 5 minutes (including my phone!).

[2017-01-12 15:54] ukchukx opened #3343 "Ignore submissions without modifications"
First off, thanks for such a wonderful platform.
I would like to suggest that submissions that do not differ from the last submission be ignored.
I've mistakenly re-submitted solutions a couple of times while trying to fetch.

Thanks, once again.

[2017-01-12 20:03] definemethod commented on #3342
Hey I would like to take a crack at this, but running the individual file with ```ruby test/exercism/comment_test.rb``` does not cause me any failures. Can you provide the seed value from the failed build please?

[2017-01-12 20:23] definemethod commented on #3342
PR is up, please see 5e358

[2017-01-12 20:48] Insti commented on #3342
Can you reproduce the problem if you create bob before alice?

[2017-01-13 02:12] kotp commented on #3307
I think @kytrinyx likes the icon, and agrees it is not making the page more confusing, staying out of the way... so I am closing the issue and hopefully we will see the PR come in soon!

[2017-01-13 02:12] #3307 closed

[2017-01-13 14:02] definemethod commented on #3342
I was able to reproduce the problem in the console.

[2017-01-13 18:06] bunnymatic opened #3346 "Teams: I don't need an invite to the team that I created"
As a user who created a team
I see that I'm automatically added to the team
but I also see a notification that I am invited to join the team.
When I click to accept the invite, i get an error page (presumably because i've already been added to the team).

Obviously not a big deal, just a light user flow bug.

BTW, super excited about the idea of teams.

[2017-01-13 18:09] Insti commented on #3346
Thanks for the report @bunnymatic, I think this is already being worked on here: https://github.com/exercism/exercism.io/issues/3110

[2017-01-13 18:18] bunnymatic commented on #3346
Yep.  I did an issue search but didn't catch that one.  I'll close as a duplicate.

Thanks

[2017-01-13 18:18] #3346 closed

[2017-01-13 18:18] bunnymatic commented on #3346
Closed as a dup of #3110 which is in progress.

[2017-01-14 07:24] tejasbubane commented on #3339
@jadevance Would you mind checking the issue on the [java track](https://github.com/exercism/xjava)? If this is an issue with exercism's config, we should fix it.

[2017-01-14 14:52] definemethod commented on #3336
I can take care of this.

[2017-01-14 15:46] definemethod commented on #3336
exercism/xcpp#63 is already done
[PR to xcoldfusion](https://github.com/exercism/xcoldfusion/pulls)
[PR to xhaxe](https://github.com/exercism/xhaxe/pull/15)
[PR to xnasm](https://github.com/exercism/xnasm/pull/16)
[PR to xtcl](https://github.com/exercism/xtcl/pull/8)
[PR to nvbnet](https://github.com/exercism/xvbnet/pull/14)

Two projects, xnasm and xtcl don't have any exercises. For those project

[2017-01-14 16:09] javaeeeee commented on #3339
Hu, @tejasbubane, I've fixed it. Just uploaded some IDE config files to the repo and the API choked on it. Already removed files, so everything works OK and I closed the issue. Sorry for the disturbing you.

[2017-01-15 08:24] tejasbubane commented on #3305
I was wondering if we absolutely need to show the comments in there. Since we don't have full width, can we use a minified layout instead of the full one we are using now and show just the solution and nothing else? I would even go ahead to suggest to show only the latest/last iteration (but I am not very sure if this would be appropriate or feasible). For a full view we can have an external link

[2017-01-16 03:03] ssokolow opened #3348 "The "circling arrows" icon on some Iterations tabs is confusing"
In the submission views, one tab (it seems to always be the highest-numbered) has an icon with blue circling arrows next to the number and I have no idea what it means.

There's no tooltip and I tried opening it up in the DOM explorer but it doesn't follow Bootstrap recommended practices of having a hidden hint for assistive technologies either.

I wondered if it might mean that my answer was stil

[2017-01-16 03:09] ssokolow opened #3349 "The purpose of archiving exercises is unclear"
When I look at my Exercism dashboard and see the "Archived" section, there's no indication of what archiving actually means, beyond moving things from one category to another.

Worse, it leaves me with a nagging worry over whether action or inaction will hurt more. (eg. Will I irreversibly disable functionality I wanted by archiving something or do I have to archive things to keep them from gettin

[2017-01-16 06:24] mhelmetag commented on #3349
So based on the tooltip that exists when archiving a single solution (not on the profile page):
<img width="1536" alt="archive_tooltip" src="https://cloud.githubusercontent.com/assets/8609429/21972691/1f2070ee-db70-11e6-9674-63cd82e4cd8b.png">

Would you suggest simply mirroring that info (possibly with a little more explanation) on one of these hypothetical question mark tooltips on the profile p

[2017-01-16 06:28] mhelmetag commented on #3348
You're right in that it means the most recent/current iteration of a solution. Do you have any suggestions for a more appropriate icon?

[2017-01-16 07:42] Insti commented on #3348
Does it need an icon at all? Is not being the highest number indication enough that it is the most recent?

[2017-01-16 07:43] ssokolow commented on #3348
The issue with suggesting an icon for this use is that using an icon is inherently counter to established convention. Not only is there no established iconography for exactly what you want, attempting to use an icon for it is liable to cause confusion.

The convention is to make these sorts of temporal distinctions using other aspects of the UI's design, such as size, shape, colour, saturation/des

[2017-01-16 07:52] ssokolow commented on #3349
Something like that, but, when I see that description, my impulsive response is "That's it? You wrote all that extra GUI and backend complexity for so little?"

There are some questions you'll want to answer in order for such a description to be effective:

1. So... what do I get out of this? (ie. Is it a "declutter my Current list" button? A "stop other learners from bugging me" button? Something

[2017-01-16 08:15] mhelmetag commented on #3348
I like the idea of no icon and relying on order. Seems cleaner and much simpler.

It's already kind of this way with the bold so maybe that's enough?

[2017-01-16 08:19] mhelmetag commented on #3349
Seems like a reasonable addition to me.

We might want to look into a dictionary for explanations (e.g. have a library with short and long descriptions of certain features) so that they can be easily standardized and referenced through the app. Like for archive which appears as a single action on solutions and bulk action on the profile page.

[2017-01-16 08:19] ssokolow commented on #3348
The boldface styling is tied to the active tab, not the rightmost... it's also a bit subtle with your chosen font.

[2017-01-16 08:20] mhelmetag commented on #3348
Ah, right. Definitely worth improving then.

[2017-01-16 08:25] NobbZ commented on #3348
If you remove that icon there is nothing to differantiate active and
archived submissions.

Max Helmetag <notifications@github.com> schrieb am Mo., 16. Jan. 2017,
09:20:

[2017-01-16 08:31] ssokolow commented on #3348
@NobbZ What about the red "Archived" badge on the byline? Isn't that serving the purpose you're talking about?

[2017-01-16 20:22] NobbZ commented on #3348
You are totally right, that should be sufficient.

Stephan Sokolow <notifications@github.com> schrieb am Mo., 16. Jan. 2017,
09:31:

[2017-01-17 21:41] binoymichael commented on #3305
In my opinion, comments are as important as the submitted code, so we should be displaying both in the quick peek section. The main idea here is to take a quick peek at the submission, before deciding whether to open up the submission in a new page and dig into it in detail. If we don't show the comments in the quick peek section, the user will again have to open a new tab to just to view the comm

[2017-01-18 16:36] tejasbubane commented on #3349
Thanks @ssokolow! This definitely is an issue.

And it looks like a `good first patch`. For anyone looking to fix this, the archive button can be found on any user's profile page:  eg. http://exercism.io/tejasbubane - below `Current Exercises` table. Refer @mhelmetag's screenshot in previous comment for position of tooltip.

Related code: https://github.com/exercism/exercism.io/blob/master/app/vie

[2017-01-20 16:10] timpwbaker commented on #3349
I've submitted a first pass at this here:
https://github.com/exercism/exercism.io/pull/3350

[2017-01-22 09:11] collin-mcgrath commented on #3285
I wrote up a fix for this issue if @esparta is no longer working it.

[2017-01-22 19:13] kytrinyx opened #3351 "Broken "help launch" on upcoming tracks"
I'm not sure when this happened, and it could very well be my fault, but we're missing the text on the "help launch this track" page. E.g.

http://exercism.io/languages/ceylon/launch

<img width="773" alt="screen shot 2017-01-22 at 12 11 26 pm" src="https://cloud.githubusercontent.com/assets/276834/22185087/2bf44d46-e09c-11e6-99a1-27d3a54460fc.png">

I bet the content is there, just not being incl

[2017-01-22 19:20] #3342 closed

[2017-01-22 19:21] kytrinyx commented on #3336
Thank you so much @definemethod! I'm so excited about all the code we'll get to delete now :-)

[2017-01-22 19:39] kytrinyx commented on #3285
I'd love to see this fixed @collin-mcgrath. We've not heard from @esparta for a few weeks on this one, go ahead and submit your fix.

[2017-01-22 19:49] esparta commented on #3285
Hi all,

Sorry for been out this long. I need to apologise for not communicate on
time...

For the last weeks I have been out of the USA to complete the immigrantion
process for my current working visa, in the meaning time my computer was
commissioned by my wife, she think since I was not working I should expend
more time with her and my son, I was agreed.

Yesterday I came back to the country, re

[2017-01-22 21:59] kytrinyx commented on #3285
process for my current working visa

@esparta that sounds super stressful! I've been through the whole immigration process to the USA twice, and it wasn't fun either time.

If you're still up for working on this, then that's awesome.

@collin-mcgrath it sounds like @esparta has this one covered :heart:

[2017-01-22 23:08] Daniel-at-github opened #3353 "Usability, find good code, and remember where it was."
How can I do to find good examples of the code?
At this time I take a look at several (the more the better) and mark as `looks great` the one I like.
After this search and find... How can I see all my `looks great` again if I want them as reference?

[2017-01-23 06:19] NolanChan commented on #3340
I'm guessing it's gunna be pretty hard to diagnose :\

[2017-01-23 09:49] petertseng opened #3355 ""Help us make this better" text is missing"
According to https://github.com/exercism/exercism.io/blob/0eb974ec68c5cc290370476a4a30370b75f870e3/x/docs/track.rb#L28, it should be the case that https://github.com/exercism/exercism.io/blob/0eb974ec68c5cc290370476a4a30370b75f870e3/x/docs/md/track/BETTER.md gets included on each language track topic page - for example at the bottom of http://exercism.io/languages/cpp/resources. It is not currentl

[2017-01-23 09:55] petertseng commented on #3355
How embarrassing. I have accidentally created a duplicate report. Katrina already noticed that at #3351.

[2017-01-23 10:13] petertseng commented on #3355
I'll just repurpose this issue number for a different issue I found - "Help us make this better" text missing. New issue description reproduced below:

According to https://github.com/exercism/exercism.io/blob/0eb974ec68c5cc290370476a4a30370b75f870e3/x/docs/track.rb#L28, it should be the case that https://github.com/exercism/exercism.io/blob/0eb974ec68c5cc290370476a4a30370b75f870e3/x/docs/md/track

[2017-01-23 10:18] petertseng opened #3356 "default text for language doc topics is missing"
According to https://github.com/exercism/exercism.io/blob/0eb974ec68c5cc290370476a4a30370b75f870e3/x/docs/track.rb#L25, if a track has no (e.g.) LEARNING.md file, instead the default https://github.com/exercism/exercism.io/blob/0eb974ec68c5cc290370476a4a30370b75f870e3/x/docs/md/track/LEARNING.md should get included.

This is currently not the case - see how http://exercism.io/languages/nasm/learni

[2017-01-23 10:18] petertseng commented on #3356
I am sorry, I meant http://exercism.io/languages/nasm/learning - edited.

[2017-01-23 12:45] kotp commented on #3353
There is currently no way to do this, as far as I know.  It really is a good feature request!

[2017-01-23 12:54] kotp commented on #3353
Let me expand on that a little bit.  There is a way to find and look at good examples of solutions.  But it is a manual process.

It would be good to be able to pull up the ones marked as "Looks Great" and to classify them somehow based on the "type" of solution.

There could be concerns about "popularity voting effect" in that the ones that get more marks attract more marks because of those marks

[2017-01-23 15:40] yannvery commented on #3351
Hi,
As I understand before usage of `Trackler` gem, `X::Docs::Launch` class used a default `LAUNCH.md` file to build 'launch' docs.
This behavior does not exist on `Trackler`. Maybe we could create a default `LAUNCH.md` file and implement the same behaviour on Trackler ?

[2017-01-23 16:46] kytrinyx commented on #3351
Ah, right. Yeah, that's exactly what happened.

I don't think Trackler should know about this, since it's specific to the website, rather than to the curriculum. We can replace the LAUNCH file and run it through the markdown processor, or hard-code it in an Erb template.

[2017-01-23 20:40] Daniel-at-github commented on #3353
To avoid marks "hype" surely something have been invented yet. May be a http://www.kittenwar.com/ type of system (choose one of two random)? (This avoids the self promotion bot too).

[2017-01-23 22:00] kotp commented on #3353
We can't mark our own as "Looks great" so no problem there.

[2017-01-23 22:47] Daniel-at-github commented on #3353
My comment wasn't well redacted in "This avoids the self promotion bot".

You could create more users (bots) to upvote yourself (but nowadays there is no incentive to cheat in this way). With "choose one of two random" upvote yourself needs too much effort.

But "choose one of two random" was only an example of a means of see good code.
(My goals coming to exercise is learn to code better and lear

[2017-01-23 22:56] Daniel-at-github commented on #3353
One workaround is to write in my own exercise a comment with the links of what I liked, and what reviews I have done.

[2017-01-24 00:11] kytrinyx commented on #3353
This isn't quite the same topic but it's got some really interesting stuff in it related to this if you want to take a look https://github.com/exercism/exercism.io/issues/2803

[2017-01-24 08:53] yannvery commented on #3351
Ok, I could prepare a PR about this if you don't mind.

[2017-01-24 16:15] Daniel-at-github commented on #2803
Random thoughts on Featured solutions:
* Use whatever you see out there that works:
  * Metamoderation like slashdot: Make filtered users vote the "looks great" of the solutions
  * Let watch, star and fork users and exercises like github and extrapolate trendings.
  * Present two random exercises and choose what you like the best, like [kittenwar](http://www.kittenwar.com/) ([said in #3353](https

[2017-01-25 07:35] bunnymatic commented on #2715
I'll throw in another :+1:.  Given the new teams thing, I'd love to have a webhook for my team such that whenever someone on my team submitted a new exercise, one of our slack channels would get a notification.

[2017-01-25 20:42] alex-bender opened #3358 "i/o timeout whilst fetch"
During `fetch` I got this error:
[code]
Would be better to have well described reason of this error;
Not sure if it is issue, or if it is already opened.

[code]

[2017-01-25 20:45] Insti commented on #3358
Thanks for the report @alex-bender, would you mind re-posting this in the cli repository: https://github.com/exercism/cli/issues

[2017-01-25 21:00] alex-bender commented on #3358
@Insti
Sure. Should I close this one?

[2017-01-26 08:43] Insti commented on #3358
Probably, any fix will need to happen in the cli repository and it would be good to avoid duplicating the discussion.

We can always re-open this instance if it becomes relevant.

[2017-01-26 08:43] #3358 closed

[2017-01-27 11:07] wolf99 opened #3359 "Unable to submit (HTTP: 400) - duplicate of previous iteration"
I accidentally submitted (on the C track) before I was ready, so I used the web interface to delete my submission.

Now I am ready to submit but running `$ exercism s pangram{.c,.h}` results in:

[code]

Tried altering the files and trying again, but no change. Tried deleting my `pangram` dir and starting from scratch ('fetch' output as below indicated I have not submitted it yet), but still no lu

[2017-01-27 11:29] Insti commented on #3359
It does not look like you are using the full path to the file that you want to submit.
Which in your case might be: `c/pangram/pangram.c`

You might find you have a `pangram.c` in the Exercism root that is unchanged, but that's not the one you want to be submitting.

[2017-01-27 11:42] wolf99 commented on #3359
@Insti, this is as my bash was already within the pangram src dir.
I tried as you said though, changed to `exercism/` dir and ran `$ exercism s ./c/pangram/src/pangram{.c,.h}`, but no change. Tried again after `touch`-ing each of the files, again no change.

[2017-01-27 11:58] Insti commented on #3359
Can you submit the solution to a different problem?
What if you replace the contents of `pangram.c` and `.h` with something like 'hello world' (it need not be valid c, just radically different from your previous solution.)
Do you have an Exercism solution link for pangram in your Exercism dashboard?

[2017-01-27 12:30] wolf99 commented on #3359
I fetched the next exercise, nth-prime, created blank .c and .h files to suit it and tried to submit those - that works fine

No, this disappeared when I deleted the exercise using the web interface as mentioned in OP.

This worked! I changed to a simple hello world function in pangram.c and tried the submit and it went through - then switched back to the correct pangram implementation and that su

[2017-01-27 15:13] #3359 closed

[2017-01-27 16:27] Insti commented on #3359
Great it's working again, but there might be a problem with deletion if you couldn't find the submitted solution but it was still there when you submitted the next one.
Thanks for the report, please let us know if it happens again.

[2017-01-28 21:07] #3351 closed

[2017-01-28 21:55] definemethod commented on #3336
Happy to help!

[2017-01-28 22:11] kytrinyx commented on #2261
@bane73 This is now on the table. /cc @iHiD

[2017-01-28 22:14] kytrinyx commented on #3343
@ukchukx We currently do ignore solutions that are not changed. I'm not sure why the behavior would be different for you, and we'd need some more information to start tracking it down.

Here's what I get if I try to resubmit:

[code]

If your duplicate submissions are going through, would you please reopen this with a link to a submission with duplicate iterations?

[2017-01-28 22:14] #3343 closed

[2017-01-28 22:23] Insti commented on #3343
Something is strange with duplicate detection. See also #3359 which had the opposite problem.

[2017-01-28 22:37] iHiD commented on #2261
Yeah, definitely. It's going to be July onwards, and it might take a little while to roll out for every language, but I think it should definitely be something we prioritise. I guess we'll have some sort of general roadmap together in the next month or two where we'll work it out timescales properly, and then look at what the best road for implementation is then?

[2017-01-29 06:26] kytrinyx commented on #2261
@iHiD Yeah, that sounds about right.

[2017-01-29 06:28] kytrinyx commented on #3343
I wonder if it's checking duplicates against deleted iterations. I'd like to have reproduction steps for these issues.

[2017-01-29 06:41] kytrinyx commented on #3338
I wonder if we should also make sure to only complain about something once for a given exercise, so that people can explore but not get nagged to death by a comment that they've decided to ignore.

[2017-01-29 07:01] kytrinyx commented on #3340
@NolanChan it might be! Can you try opening an incognito window in chrome and trying that?

If that doesn't work, try revoking Exercism in https://github.com/settings/applications and then re-authorizing it.

If that doesn't work, it might be worth opening the JavaScript console, making it so it doesn't clear errors, and then trying to log in.

[2017-01-29 15:14] paulbonneau opened #3361 "LinkedIn Badges and GitHub intergration"
Maybe you could setup a badge system as Codeschool one.
It could be really interesting for newbies that want to show their progression to potentials recruiters and it could also helps you growth your community.

An incentive to post the exercises done on Github could helps you achieve the same goals.

[2017-01-29 16:15] sebasmagri opened #3362 "Limit teams to a specific language"
This would be nice for language specific teams in which their members are also working on other languages and don't want to have the team timeline flooded by other lang responses.

[2017-01-29 21:49] kotp commented on #3338
There was a recent "nag" that happened 3 times, because the exerciser did not understand (though stated they had made the change) that it was not what they thought it was.  The terminology was clear, just not yet having the knowledge in the language.

Perhaps it would be helpful to have Rikki show the lines effected?

[2017-01-30 02:50] kytrinyx commented on #3338
That is not a trivial change, as far as I can tell.

[2017-01-30 02:52] kytrinyx commented on #3362
Thanks for the suggestion @sebasmagri. To clarify you mean this as a potential configuration on teams, right?

[2017-01-30 02:56] kytrinyx commented on #3361
We're going to be looking into the topic of progression a lot more deeply in the coming months. There's been a bunch of discussion about the topics of badges. If you are interested, take a look at this discussion: https://github.com/exercism/exercism.io/issues/1617

[2017-01-30 03:31] pjhades opened #3363 "Pagination does not work on team language and user stream pages"
Pagination on the team language and user stream pages like:

    http://exercism.io/teams/XXX/streams/tracks/rust
    http://exercism.io/teams/XXX/streams/users/YYY?page=2

does not work. Clicking on either the page number or the Next button does not show the desired page.

I'm not familiar with web development but I think it would be easy to reproduce this problem by running the website locally w

[2017-01-30 03:47] kytrinyx commented on #3363
There was a fix in progress for this, but I believe it was abandoned: https://github.com/exercism/exercism.io/pull/3096

[2017-01-30 04:26] sebasmagri commented on #3362
@kytrinyx yes, it could be a team parameter limiting its timeline to a single language.

[2017-01-30 08:33] NobbZ commented on #3362
This was part of #2944 (“focused languages“) which is still open for this and various other reasons.

@kytrinyx maybe we take a closer look at #2944 and split it up into multiple issues which we can close on its own? I think that would increase discoverability of the sub-issues and reduce doubles as well.

[2017-01-30 08:41] ukchukx commented on #3343
@kytrinyx See this: http://exercism.io/submissions/c1603b446f1e4065b8cd27db66422020

[2017-01-30 14:25] garylippens opened #3364 "Can't fetch next problem--timeout issue (python track)"
Debug information:
**** Debug Information ****
Exercism CLI Version: 2.3.0
OS/Architecture: linux/amd64
Build OS/Architecture linux/amd64
Home Dir: /home/gary
Config file: /home/gary/.exercism.json
API Key: XXXXXXXXXXXXXXXXXXXXXXXXXXX
Exercises Directory: /home/gary/exercism
Testing API endpoints reachability
	* API: http://exercism.io [connected] 5.167883557s
	* XAPI: http://x.exercism.io [Get ht

[2017-01-30 16:42] kotp opened #3365 "Profile is not working at the moment."
The page to load profile is not working at the moment.  Bugsnag reports should be coming in.

[2017-01-30 16:54] kotp commented on #3365
This is only effecting kotp and rpottsoh, perhaps related to recent changes to pascal/dephi

[2017-01-30 18:14] yannvery commented on #3363
It could be a good idea to rescue this PR and keep first commit from @jendiamond and include fixes for all streams views.
I would like to work on it if nobody already takes it.

[2017-01-30 18:19] iHiD commented on #1617
@jeffreybaird

This, 1000 times this. (cc @kytrinyx @nicolechalmers)

[2017-01-30 18:25] Insti commented on #3363
Go for it @yannvery . But it may be better to start afresh.

[2017-01-30 19:20] kytrinyx commented on #3365
Ah, could be. Let me see what I find.

[2017-01-30 21:40] kotp commented on #3338
No, I don't think it would be trivial...

[2017-01-30 22:04] lynnlangit commented on #2261
I've done work with Codenvy for #TKPJava - would be interested in working on this for #Exercism.io

[2017-01-31 00:57] bane73 commented on #2261
Oh this is great!  :)

If there's a gap for Java webdev, or documentation, add me to the list of potential help.  I'm not up to speed on the codebase and I haven't done much with codeenvy but I'm reasonably seasoned with Java full stack stuff.

Otherwise I'll just wait in anticipation.

[2017-02-01 01:39] kytrinyx commented on #3365
When I updated the data I forgot to account for conflicting unique indices. This should be corrected now.

[2017-02-01 01:39] #3365 closed

[2017-02-02 04:07] vivekimsit opened #3369 "TypeScript track"
I think it would be good to introduce a typescript track.

[2017-02-02 04:09] TylerJewell commented on #2261
Codenvy founder here - we can help you get integrated properly.  We now have about 500,000 users and significant support for Java and advanced enterprise development scenarios - so we can support the scenarios that don't need the same sophistication.

[2017-02-02 11:04] iHiD commented on #2261
Awesome! Thanks :)  We're a while off this yet, but will definitely come pestering when we get there!

[2017-02-02 12:24] bmicklea commented on #2261
When you're ready @iHiD ping me and I'll hook you up with what you need to get this done.

[2017-02-02 19:19] Daniel-at-github opened #3371 "inviting yourself when creating a team creates a faulty invitation"
Steps to reproduce:
* Create a team
* Invite yourself and more people
* Response the invitation
* Get http://exercism.io/teams/team_name/invitation/accept with the text "Sorry! That's our fault!"

[2017-02-02 19:23] Daniel-at-github commented on #3371
Duplicate of #3110
Work in progress in #3308

[2017-02-02 19:23] #3371 closed

[2017-02-03 22:14] kytrinyx commented on #3362
@sebasmagri This sounds like a good feature.

Yes, I think splitting #2944 up would probably make it more likely for various issues to be fixed.

[2017-02-03 22:14] kytrinyx commented on #3343
@ukchukx It's saying that submission doesn't exist.

[2017-02-03 22:22] ukchukx commented on #3343
Sorry about that. Deleted it since this issue was closed. Didn't know anyone would check it out.

[2017-02-06 08:49] NobbZ commented on #2944
As already briefly said in #3362, this issue shall be split into multiple separate ones.

I will walk through this pile of messages about this evening (European Time) and split it up, trying to incorporate the discussion here and already implemented things.

[2017-02-06 16:06] jdsutherland commented on #2449
It looks like this is completed and was merged as part of #3327.

[2017-02-06 20:54] NobbZ commented on #2944
As far as I can see, only a single Item from my original proposal is left open, and that's the "focused language" via tags. So I think we should close this one and leave #3362 as a tracking issue for the idea of a focused language.

[2017-02-06 22:39] febeling opened #3372 "Error page after `Accept` on team invitation to self"
I setup a team with myself as member and got invited.

This invitation I can’t accept as the app each time responds with an error (“This is our fault” page).

The notification also doesn’t get marked as read and keeps showing in my notifications list.

I’m in the team already, so this is more about smoothness than blocking any functionality.

The button does a `POST` on `/teams/elixirdrinkersberli

[2017-02-08 03:27] bernardoamc commented on #3372
Thanks for the report @febeling ❤️

I have an open PR dealing with this issue [here](https://github.com/exercism/exercism.io/pull/3308) and we have this issue #3110. Would you mind if I closed this issue in favor of the existing one? :)

[2017-02-08 04:50] jdsutherland commented on #3333
As @Insti mentioned, it looks like this was fixed as part of [exercism/xcpp#108](https://github.com/exercism/xcpp/pull/108/commits/c093e9f73bb9b91042b03a37283db5fa43b72e19) and should be closed.

[2017-02-08 06:53] febeling commented on #3372
@bernardoamc - no, man, let's close it by all means! :) I only want to help here!

[2017-02-08 06:53] #3372 closed

[2017-02-09 16:13] jtigger commented on #3187
Wahoo, I got caught up in some track-building work and neglected this business.  I'm back to finish this story up...

[2017-02-09 16:31] jtigger commented on #3187
If those PRs are accepted, this particular piece is considered "done".

[2017-02-10 11:14] tornikegomareli opened #3375 "Cant submit Cssharp Solution on Windows Machine"
i configured my working directory, also configured my exercism API, i fetched my csharp first lesson, make solution, tests checked me that my solution is working, so now i'm trying to submit my solution in this way first.

C:\Users\micro>exercism submit C:\Users\micro\exercism\csharp\csharp\hello-world\HelloWorld.cs

Command line said to me:

**It seems like you've tried to submit a solution file

[2017-02-10 11:19] NobbZ commented on #3375
That path should be ``C:\Users\micro\exercism\csharp\hello-world\HelloWorld.cs``

Move your exercise accordingly and try again

[2017-02-10 11:25] tornikegomareli commented on #3375
Thank you it solved my problem <3

[2017-02-10 14:19] stain88 opened #3376 "Broken tracks links under teams/.../users/../"
When going to your `teams/xxx/streams` overview page, there is the option to filter by language, or by user.
Clicking on a user then seems to offer a further filter by tracks, but clicking on one of those points to `teams/xxx/streams/users/xx/tracks/xx`, which is a 404.
Are these tracks links supposed to instead point to `teams/xxx/streams/tracks/xx`?

[2017-02-10 14:32] jtigger commented on #3206
No response.  We'll close this for now.

[2017-02-10 14:32] #3206 closed

[2017-02-10 15:43] bernardoamc commented on #3376
Hi @stain88 , thanks for the feedback! <3

I think #3367 deals with this scenario, soon this will be solved.

[2017-02-10 15:47] stain88 commented on #3376
Ah, cool, missed that PR.

[2017-02-12 07:03] #2449 closed

[2017-02-12 07:03] kytrinyx commented on #2449
Thanks @jdsutherland

[2017-02-12 07:04] kytrinyx commented on #3187
The PRs are accepted. If this concludes the exercise, would you close this, @jtigger ?

[2017-02-12 21:21] #3363 closed

[2017-02-12 21:48] kytrinyx commented on #3364
@garylippens Are you still having trouble on the python track?

Which command are you running? `exercism fetch` or `exercism fetch python`? Have you tried asking for the explicit exercise (see http://exercism.io/languages/python/exercises).

[2017-02-12 21:50] kytrinyx commented on #3338
I'm adding the design research label to this, as I think this is part of a much larger discussion about bots.

[2017-02-12 21:54] kytrinyx commented on #3369
Done! I've invited you to be the maintainer of the brand new TypeScript track 🎉 🎈

https://github.com/exercism/xtypescript/issues/1

[2017-02-12 21:54] #3369 closed

[2017-02-12 22:13] #3375 closed

[2017-02-12 22:14] kytrinyx commented on #3376
The PR got merged today ✨

This is being deployed now.

[2017-02-12 22:14] #3376 closed

[2017-02-12 22:30] kytrinyx commented on #3333
Good call. Thanks!

[2017-02-12 22:30] #3333 closed

[2017-02-12 23:04] kytrinyx commented on #3343
@ukchukx No worries. If you're able to get reproduction steps for this, please open a new issue so we can track it and fix it.

[2017-02-12 23:11] kytrinyx commented on #2944
Yeah, I concur. Thanks for sorting that out @NobbZ

[2017-02-12 23:11] #2944 closed

[2017-02-13 00:34] garylippens commented on #3364
Hi,
Thanks for getting back with me.
Problem persisted for a couple of days (timeouts when trying to fetch a new
problem).  Problem just went away and things seem OK now.  Don't know what
resolved the issue.
I was using exercism fetch python

Thanks,

Gary Lippens

On Sun, Feb 12, 2017 at 4:48 PM, Katrina Owen <notifications@github.com>
wrote:

[2017-02-13 04:29] kytrinyx commented on #3364
Glad it's resolved, sorry we didn't help figure out it while it was happening! Thanks for the update :sparkles:

[2017-02-13 04:29] #3364 closed

[2017-02-13 14:59] pjhades opened #3378 "Mouse hovering on iteration number removes syntax highlighting"
To reproduce:

* Visit a submission page `http://exercism.io/submissions/<hex>` with multiple iterations
* Hover on an iteration number

Then the syntax highlighting of the code is gone.

I'm not sure if this is actually a feature rather than a bug.

[2017-02-13 20:34] dtwizee opened #3379 "gradle tests not working"
first time using excercise.io installed everything correctly but couldnt get gradle test in cmd to work

[code]

[2017-02-13 22:23] NobbZ commented on #3379
Installing `gradle` on windows is explained on the [Installing Java](http://exercism.io/languages/java/installing) page.

According to your error message I'd guess you are using windows, so the next step according to that guide is to `choco install gradle`.

Please do remember, that `choco` needs an elevated powershell to work.

If oyur problem persists though, it would be more appropriate to open

[2017-02-13 22:25] #3379 closed

[2017-02-13 22:25] kotp commented on #3379
Issue moved to [exercism/xjava #294](https://github.com/exercism/xjava/issues/294) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-14 06:48] NobbZ commented on #3378
This is a side-effect of the quick-preview feature and intended as such to not slow down the quick-switch of the panes.

[2017-02-14 15:20] kytrinyx commented on #3378
@Motardo Since you did the work in https://github.com/exercism/exercism.io/pull/3324 you might have thoughts about this.

[2017-02-14 16:21] pjhades commented on #3378
If this is just the designed behaviour rather than a bug then feel free to close this issue. The preview feature is really convenient for people to see the code in other iterations without actually switching to them. 👍  It would be cool to preview the highlighted code. But anyway, thanks for the great work!

[2017-02-15 01:35] Motardo commented on #3378
Yes, this is the designed behavior. The main reason for this is that I wanted the preview to be instantaneous, without any network/server delay (Currently, highlighting is done on the back-end and previews are a front-end effect). I considered some ways to get instant previews with highlighting (use a front-end highlighter, or pre-compute the highlighting of every iteration and include it in the i

[2017-02-16 20:32] GalaDe opened #3380 "Proposal: Developing a Selenium Based GUI Automated Tests"
This technique will help to reduce the effort required in GUI modeling and test coverage analysis during the software testing process. With automated testing, a tester or the developer can use a testing framework such as Visual Studio, ReSharper and Selenium Web Driver to finish all of the usual test cases and print out a test result file without having to manually execute the tests themselves. Th

[2017-02-17 13:17] guru-teja commented on #1906
$ exercism fetch swift
2017/02/17 18:44:06 Get http://x.exercism.io/v2/exercises/swift?key=MY_API_KEY : EOF
I am getting this after configuring the key and path.
How to open an exercise? and where to enter the solution code

[2017-02-18 11:30] NobbZ opened #3381 "archiving/unarchiving redirects to dashboard"
When one archives or unarchives an exercise directly from that exercises view, one gets redirected to the dashboard.

I'd think though it would make more sense to stay on the exercises page for further review.

Please label as discussion.

[2017-02-18 20:55] bernardoamc commented on #3362
That's an interesting feature!

@sebasmagri Do you mind if I investigate a little and try to come up with something?

[2017-02-18 21:00] bernardoamc commented on #3274
Closing this one. :)

[2017-02-18 21:00] #3274 closed

[2017-02-18 21:01] bernardoamc commented on #3222
I'm closing this one for now, we can always reopen if necessary.

[2017-02-18 21:01] #3222 closed

[2017-02-18 21:02] bernardoamc commented on #3285
Seems like this one is fixed. 🎉

[2017-02-18 21:02] #3285 closed

[2017-02-18 21:12] bernardoamc commented on #1673
Is this still an issue?

[2017-02-18 23:11] #3110 closed

[2017-02-19 03:23] sebasmagri commented on #3362
@bernardoamc probably @kytrinyx can give you more information about this.

[2017-02-19 19:11] kytrinyx commented on #3380
@GalaDe Thank you so much for offering. I completely agree that having a good suite of GUI tests would be useful for all of the reasons that you mention.

The one concern that I have at the moment is that the current website is a prototype and we're in the process of doing from-the-ground-up / from-scratch research and user experience design. This means that we expect to completely re-imagine the

[2017-02-19 19:13] kytrinyx commented on #3380
For more about the design work that we're undertaking (and the reasons for it) see:

- https://github.com/exercism/discussions/issues/113
- http://tinyletter.com/exercism/letters/the-delightful-design-of-exercism

[2017-02-20 10:35] JIghtuse opened #3383 "Inviting yourself to new team produces a weird notification"
There are actually a few issues with creating a new team.

First one is in interface. It is not clear that if I create a new team I will be in it already (i.e., I do not need to add myself to "Usernames" field).

Second issue appears when I create a new team and invite myself to it (due to first issue). Team created as planned, but I have always-unread notification with a message `JIghtuse would l

[2017-02-20 17:16] kytrinyx commented on #1906
@guru-teja please run the command `exercism debug` and paste the output here.

[2017-02-20 17:26] kytrinyx commented on #1673
I think we're good here.

[2017-02-20 17:26] #1673 closed

[2017-02-20 17:27] kytrinyx commented on #3362
@sebasmagri actually @bernardoamc is our resident teams expert :-) I'd say have at it, Bernardo.

[2017-02-20 21:24] petertseng commented on #2523
I think, but can't be sure, that this is the same issue as https://github.com/exercism/cli/issues/309, and that https://github.com/exercism/cli/pull/346 would fix it.

I base this on the fact that the submission was made after the release (2015-05-08) of https://github.com/exercism/cli/pull/182 and that the submission contains at least 1024 bytes of ASCII before non-ASCII.

[2017-02-20 21:44] kytrinyx commented on #3378
Since that is the case I'm going to go ahead and close this. Thanks for taking the time to discuss it!

[2017-02-20 21:44] #3378 closed

[2017-02-20 21:46] kytrinyx commented on #3381
Yeah, I think you're right about that. If nobody has very strong feelings in the opposite direction, I'd say we should go ahead and make the change.

[2017-02-20 21:54] kytrinyx commented on #3383
/cc @bernardoamc, who has the most experience dealing with teams.

That's a good point. I wonder if it would be worth documenting this in depth on the new team page.

The short version is that you can have team managers who are not members.

- a manager can add/remove people and edit the metadata for the team
- a member's code will show up in the activity stream

You can be one or the other or bot

[2017-02-20 22:24] mhelmetag commented on #3383
I believe that #3308 , should've fixed the invite that was being sent out on creation but it looks like we still aren't blocking managers from inviting themselves to their team.

I agree that it would be great to document this and then reference the documentation (or a shortened version) in a flash message when we prevent inviting yourself.

[2017-02-20 22:37] bernardoamc commented on #3383
Right now when you create a team you will be added as a member automatically and will not receive a notification. If you are a manager and you invite yourself as member (already being one) you will also not receive a notification. On the other hand if you are not a member and you invite yourself you will receive one.

I agree it's not really clear and it would be a good idea to document it. :)

[2017-02-20 22:41] kytrinyx commented on #3383
I don't think we should prevent you from doing so. I think it would make sense to simply add you as a member (if you're not already), and not add a notification for it.

[2017-02-20 22:44] bernardoamc commented on #3383
Yeah, I agree. Right now you will be added automatically as a member, but if you remove yourself and add it in a later time you will receive a notification. Not receiving this notification for managers is an improvement for sure.

[2017-02-21 02:27] Miles-Williams opened #3385 "Problems with Python word_count_test"
Fetched the word-count exercise for Python and the test file won't open in IDLE.

I'm on a Win7 32bit machine and running Python 3.6. I've had no issues with the previous 6 exercises.

When I try to open it by right-clicking and selecting "Edit in IDLE" it just fails to open. It's not that IDLE can't open the file, IDLE just doesn't open at all.
If I try opening it from within an already running i

[2017-02-21 05:41] guru-teja commented on #1906
@kytrinyx  here is the output you asked for

**** Debug Information ****
Exercism CLI Version: 2.3.0
Exercism CLI Latest Release: 2.3.0
OS/Architecture: darwin/amd64
Build OS/Architecture /
Home Dir: /Users/Ganesh
Config file: /Users/Ganesh/.exercism.json
API Key: /*MY_API_KEY*/
Exercises Directory: /Users/Ganesh/Users/Ganesh/MyEx
Testing API endpoints reachability
	* XAPI: http://x.exercism.io [G

[2017-02-21 06:32] kotp commented on #1906
Why the double reference to `Users/Ganesh` for "Exercises Directory"?  Does that really exist?  If not, please modify your `/Users/Ganesh/.exercism.json` file to reflect the correct folder.

[2017-02-21 06:32] NobbZ commented on #3385
The file itself seems to be OK. You can see it at https://github.com/exercism/xpython/blob/master/exercises/word-count/word_count_test.py

* What size does your filemanager show?
* Can you read it using notepad.exe?
* Are you able to run it without IDLE from the cmd-prompt? `python word_count_test.py`, make sure `python.exe` is in your `PATH` though.

[2017-02-21 07:03] guru-teja commented on #1906
@kotp I have uninstalled and reinstalled exercism, since I got the problem

**** Debug Information ****
Exercism CLI Version: 2.3.0
Exercism CLI Latest Release: 2.3.0
OS/Architecture: darwin/amd64
Build OS/Architecture /
Home Dir: /Users/Ganesh
Config file: /Users/Ganesh/.exercism.json
API Key: MY_API_KEY
Exercises Directory: /Users/Ganesh/exercism
Testing API endpoints reachability
	* XAPI: http:

[2017-02-21 07:14] kotp commented on #1906
Did you click on the link to get your api key?

[2017-02-21 07:15] kotp commented on #1906
I am having to assume that you removed the real API key and placed in "MY_API_KEY" as a holder.

[2017-02-21 07:21] guru-teja commented on #1906
Yes i had my API key since I am asked not to share it, I changed the key to "MY_API_KEY"

[2017-02-21 07:23] guru-teja commented on #1906
All I need to know is how to open an exercise and submit the solution as I having the trouble doing it.

[2017-02-21 07:37] kotp commented on #1906
Yes.  Of course.

So when you run the command to fetch, you are in your exercism folder... indicated similar to below?

[code]

[2017-02-21 07:38] kotp commented on #1906
You can come to [chat in support](https://gitter.im/exercism/support) since it looks like we can work on this together synchronously, if you would like.

[2017-02-21 14:28] tejasbubane commented on #3332
This seems to be fixed.

[2017-02-21 14:28] #3332 closed

[2017-02-21 16:38] kytrinyx commented on #1906
Thanks @kotp ✨ (always!) for helping out both here and in the support chat.

I think the problem is your configuration (which lives in `/Users/Ganesh/.exercism.json`).

You can look at the current configuration values by running: `exercism configure`. It will show something like this:

[code]

Then you can update the value that you need to fix by running:

[code]

[2017-02-21 17:19] GalaDe commented on #3380
Hi @kytrinyx, Thank you for your response.  I agree, it doesn't make any sense to develop automated tests, if you're planning to change the GUI. I will be happy to help you in the future with that.

[2017-02-21 17:32] kytrinyx commented on #3380
@GalaDe Awesome! I am making a note of this. I'm going to close this, and we'll open a new issue (and ping you in it) when we're ready to add GUI tests.

[2017-02-21 17:32] #3380 closed

[2017-02-21 17:34] GalaDe commented on #3380
@kytrinyx, sound good!

[2017-02-22 02:07] Miles-Williams commented on #3385
Hi Norbert,

I am able to run the file through Windows PowerShell and cmd.exe.

I can open it for editing in every editor I've tried (over 10 different editors) except for IDLE.
Also, when I try to open it from an already running instance of IDLE not only does it fail and give me an "untitled" document, I am also unable to close down that instance of IDLE unless I use Windows task manager. And I n

[2017-02-22 06:48] NobbZ commented on #3385
So it seems that the file is OK but IDLE is broken. I will try to install python as well as IDLE once I have hands back on a computer (~3 hours from now) and do some experiments.

In the meantime, you can try to re-install/update IDLE.

[2017-02-22 06:57] Miles-Williams commented on #3385
I had tried re-installed Python already, unsuccessfully, sadly.

IDLE worked fine with all the previous exercises, and I've not had a single issue with IDLE in the last few years at all other than this one file.

I'm very confused.

Tomorrow I'm going to roll back to an older version of Python and see if it works. I'll keep you posted, unless you find the problem in the mean time.

Thank you.

---

[2017-02-22 08:51] NobbZ commented on #3385
OK, I tried it locally and observe the same behaviour as you. So I tried to start IDLE from cmd and got a python stack in my face:

[code]

So in fact, it is a mix of the files fault as well as IDLEs fault. IDLE 2.7 does work well though...

Please report a bug at IDLEs tracker. The faulty line seems to be this one: `word_count('до🖖свидания!')`, IDLE crashes on paste.

I would be happy if @exercis

[2017-02-22 08:52] NobbZ commented on #3385
Issue moved to [exercism/xpython #416](https://github.com/exercism/xpython/issues/416) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-22 08:53] NobbZ commented on #3385
Hmpf, I'm not allowed to close here, please go to exercism/xpython#416 and continue discussion over there.

Also please can someone with appropriate rights close this?

[2017-02-22 09:00] blueelvis opened #3386 "Links inside email not clickable"
@Hi!

I just received the email from the exercism newsletter and it contains a lot of links of which a lot of them are not clickable. In other words, they are there as simple plain text which means that one should copy the link (Many of them are inside circular brackets) which make the process of visiting a link difficult.

For example, below is an excerpt from the email -

http://pasted.co/3fd91c

[2017-02-22 09:33] guru-teja commented on #1906
I still dont get it, even after changing the directory @kytrinyx , so I reinstalled it. here is my output

Ganesh$ exercism debug

**** Debug Information ****
Exercism CLI Version: 2.3.0
Exercism CLI Latest Release: 2.3.0
OS/Architecture: darwin/amd64
Build OS/Architecture /
Home Dir: /Users/Ganesh
Config file: /Users/Ganesh/.exercism.json
API Key: ***redacted***
Exercises Directory: /Users/Ganesh

[2017-02-22 09:41] #3385 closed

[2017-02-22 10:07] Miles-Williams commented on #3385
Okay.

Thank you.

I had a feeling it was something with the unicode in it.

Cheers.

-------- Original message --------
From: Norbert Melzer <notifications@github.com>
Date: 22/02/2017 7:52 PM (GMT+10:00)
To: "exercism/exercism.io" <exercism.io@noreply.github.com>
Cc: Miles Williams <miles.williams@weidmuller.com.au>, Author <author@noreply.github.com>
Subject: Re: [exercism/exercism.io] Problems

[2017-02-22 10:23] kotp commented on #1906
Does your folder look like this?

[code]

[2017-02-22 10:28] kotp commented on #1906
Hmm... noticed something strange with the `Build OS/Architecture` line.  I am not on OSX though, can someone confirm this is normal to have nothing show for this line?

[2017-02-22 10:49] tejasbubane commented on #1906
@kotp This is my output on OSX:

[code]

[2017-02-22 11:47] guru-teja commented on #1906
No, I dont have a hello-world folder at all @kotp

And I am using MAC OS X 10.9 in VM ware on windows 7.

[2017-02-22 11:59] kotp commented on #1906
@guru-teja does the exercism tools work for you on your native operating system?

It "should work" in a virtual machine.  But it is another layer to deal with.

[2017-02-22 12:03] kotp commented on #1906
The `EOF` part of the two lines and the information that you are using a virtual machine on windows, tells me that the line endings that are not compatible on your file system may be causing the problem, and the operating system, maybe causing the problem.

[2017-02-22 12:16] guru-teja commented on #1906
Ok, Thank you. I will try with my native operating system.

[2017-02-22 15:57] kytrinyx commented on #1906
Yes, there is a GUI: https://github.com/exercism/gui

[2017-02-22 17:44] kytrinyx commented on #3386
Thanks @blueelvis This is my bad. I usually link them up manually, and forgot to yesterday.

I'll make sure to link them up properly next time.

Unfortunately there's no way to edit an existing email in the archive.

[2017-02-22 17:44] #3386 closed

[2017-02-23 11:08] blueelvis commented on #3386
Thanks Katrina :)

[2017-02-25 20:51] Benco1 opened #3387 "Benchmark testing for Python and more"
A friend of mine who has completed the Go track pointed out that there are benchmarks in addition to unit tests for Go, but not for Python and some other languages. I am currently working through the Python track and thought it would be great if it also had benchmark testing.

I would be happy to help on this if it's something Exercism folks would like to move forward on.

[2017-02-25 21:33] kytrinyx commented on #3387
@Benco1 This is a great question. Would you mind opening an issue in the https://github.com/exercism/discussions/issues repo? That will get the question in front of everyone who is concerned with the higher-level questions and cross-track concerns.

[2017-02-26 23:35] rohangokhale commented on #3356
I think this might be due to the line
File.read("./x/docs/md/track/#{topic.upcase}.md")
in the read function in track.rb. There is a '#' symbol there that doesn't appear to be part of the directory structure. I'm brand new to this project, so apologies if this isn't the cause of the issue.

[2017-02-27 16:19] robphoenix opened #3388 "Broken my profile & dashboard pages"
I'm working on this PR: https://github.com/exercism/cli/pull/374

I'm testing it in a fresh VM. I installed Go, cloned my repo, switched to my development branch and ran `go build -o out/exercism exercism/main.go`
I added my API key and fetched an exercise without a problem.

[code]

I then tried to submit an exercise but got the following error:

[code]

Now, when I visit my profile page and dash

[2017-02-27 16:34] mohammedsultan opened #3389 "Unable to submit my first Python solution."
I get the following error when I try to submit the first solution.

Sultans-MBP:~ Sultan$ cd Documents/exercism/python/hello-world/
Sultans-MBP:hello-world Sultan$ exercism submit hello_world.py
2017/02/27 11:28:28 unable to submit (HTTP: 400) - Unknown language track exercism

Thanks,
Sultan.

[2017-02-27 17:43] kytrinyx commented on #3389
@mohammedsultan would you paste the output of the `exercism debug` command? I think we need to reconfigure your `--exercism-dir` path.

[2017-02-27 17:46] kytrinyx commented on #3388
I suspect that we have some pretty fragile code on the backend, which would make it my fault, not yours. Or we could share :)

:heart: Let me take a look at the data and the logs to see if I can figure out what's going on.

[2017-02-27 18:03] kytrinyx commented on #3356
@rohangokhale Thanks! The `#{...}` syntax is string interpolation in Ruby, so I don't think that's what is going on.

[2017-02-27 18:22] kytrinyx commented on #3388
@robphoenix I'm seeing an exercise that has the correct track id (`fsharp`), but the slug is `nil`.

The attached submission also has `fsharp` as the track ID and a nil slug.

[2017-02-27 18:23] kytrinyx commented on #3388
@robphoenix are you comfortable enough with Ruby to get this running locally? You could configure the CLI to submit to your local machine, which would let you delete and recreate submissions much more easily.

I'm going to go ahead and delete this exercise with the associate submission so you get your profile/dashboard back.

[2017-02-27 19:40] robphoenix commented on #3388
:heart: Thankyou @kytrinyx all is back to normal! phew :relieved:

I did manage to get this running locally before, so I'll try and get that going again, makes a lot more sense and I don't know why I didn't think to do it before. C'est la vie.

Again, thankyou for fixing this, I hope your ankle heals as speedily.

Now, why was the slug nil? hmmm :confused: and on to the next problem.

[2017-02-27 19:40] #3388 closed

[2017-02-27 21:11] ADKebert commented on #3389
having a similar issue:

~/Exercism/Elixir/hello-world
$ exercism s hello_world.exs
2017/02/27 16:06:58 unable to submit (HTTP: 400) - Unknown language track Elixir

and here's my debug output:
**** Debug Information ****
Exercism CLI Version: 2.3.0
Exercism CLI Latest Release: 2.3.0
OS/Architecture: darwin/amd64
Build OS/Architecture /
Home Dir: /Users/akebert
Config file: /Users/akebert/.exercis

[2017-02-27 21:40] NobbZ commented on #3389
@ADKebert Your problem is slightly different. Your basepath seems to be recognized correctly, but the languages folder is named wrong. It should be `elixir`, not `Elixir`, please note the changed capitalisation.

Please rename your folder and everything should work.

[2017-02-27 23:25] mohammedsultan commented on #3389
@kytrinyx Here's the submit error and the debug info.
[code]
The exercism folder is located in Documents.
It used to be in `/user/Sultan/exercism` folder previously, later I changed the directory using the command `exercism configure --dir=~/Documents/exercism/`

[2017-02-28 02:09] kytrinyx opened #3390 "Submission API: track id and slug should be case insensitive"
We detect the track ID and the slug based on the path of the submission. E.g.

[code]

In this case the track ID is `go` and the slug is `clock`.

In this https://github.com/exercism/exercism.io/issues/3389#issuecomment-282854697 it is clear that we don't normalize the track id and the slug when someone submits. In the following case we would get an error saying that there's no such track:

[code]

[2017-02-28 02:12] kytrinyx commented on #3389
@mohammedsultan Would you please rerun the configure command:

[code]

At the moment, if you say `exercism configure` it will show that the directory is `~/Documents` or `/Users/Sultan/Documents`. It looks like the path didn't get reconfigured with `/exercism/` appended.

You can rerun `exercism configure` without any flags in order to see the current configuration, too.

You can also look at this

[2017-02-28 11:57] mohammedsultan commented on #3389
@kytrinyx You were right. I did the following and it worked!
[code]
Thank you for your support, Katrina!

[2017-02-28 18:17] kytrinyx commented on #3389
That's excellent news, @mohammedsultan! Glad it got sorted.

[2017-02-28 18:17] #3389 closed

[2017-03-01 02:29] petertseng commented on #2877
The case requested in this issue was added at https://github.com/exercism/x-common/pull/438.

[2017-03-01 02:30] petertseng commented on #2877
Thus, I recommend this issue be closed.

[2017-03-01 02:38] petertseng commented on #3103
Duplicate of #2938

Can close now, right? https://github.com/exercism/x-api/pull/140 and the specific exercises mentioned are now `.deprecated`.

[2017-03-01 02:38] petertseng commented on #2938
Duplicate of #3103

Can close now, right? https://github.com/exercism/x-api/pull/140 and the specific exercises mentioned are now `.deprecated`.

[2017-03-01 02:38] petertseng commented on #2938
by https://github.com/exercism/x-common/pull/406

[2017-03-01 04:59] kotp commented on #2877
I agree.  This is now referenced there as well.

[2017-03-01 04:59] #2877 closed

[2017-03-01 07:32] ErikSchierboom commented on #2938
@petertseng Ah yes, this can be closed. Sorry about that.

[2017-03-01 07:32] #2938 closed

[2017-03-02 00:23] kytrinyx commented on #3103
Yepp, this is fixed.

[2017-03-02 00:23] #3103 closed

[2017-03-02 02:51] bernardoamc commented on #3362
We have options here:

_1.  Create a column in teams with the allowed teams, or empty if we don't want to restrict by language. We have something similar with tags._

Downsides of option 1:
  - It will be hard to update the column in case we change the slug of a track (should never happen?).
  - Using an empty value to represent `all` is kinda weird (when the user doesn't want to limit his team by

[2017-03-02 04:56] lblackstone commented on #3340
I don't have logs to confirm, but I suspect I'm running into the same problem as @NolanChan. I was unable to log in to exercism.io using any browser, and tried clearing the GitHub auth as well, but no dice.

I believe the culprit is the parental controls software I have installed on our home computer (Covenant Eyes).  It does work fine if the parental control software is disabled, so that's almost

[2017-03-02 07:45] petertseng commented on #3340
Ah that is a helpful lead. I do know that if I set my browser to block cookies from exercism.io, I will receive the same behaviour: logging in just directs to the same page (whether I log in via the "Log in with Github" on the homepage, or http://exercism.io/please-login). If I then allow cookies from exercism.io, it will then work. If a similar setting is possible with the appropriate software on

[2017-03-02 15:21] lblackstone commented on #3340
I just verified that my browser is accepting cookies, and the ad blocker is disabled. I'm still unable to log in as long as the parental controls are running.

[2017-03-02 16:27] kytrinyx commented on #3340
@lblackstone That's incredibly helpful. With the parental controls on you're able to log into GitHub, though, right?

[2017-03-02 16:50] lblackstone commented on #3340
@kytrinyx Yes, GitHub works normally, and I'm seeing Exercism on the list of authorized applications.

[2017-03-02 17:51] NolanChan commented on #3340
Hi @lblackstone , it seems likely that covenant eyes is responsible for this issue. Seems to be some sort of edge case though, as I've been able to log into every other application fine

[2017-03-02 18:04] kytrinyx commented on #3340
I asked the support team at GitHub if they'd heard of this happening before, and they hadn't.

Since the log in is through the GitHub API, the cookie that gets set is on the exercism domain, not the GitHub domain.

Is covenant eyes not able to set the Exercism cookie?

[2017-03-03 04:02] lblackstone commented on #3340
As far as I can tell, the same three cookies are set with or without the filter running. Here is a capture of a failed auth request: https://gist.github.com/lblackstone/2222a739ce81817ce04b0b524722911e

[2017-03-03 04:47] lblackstone commented on #3340
I added a successful request to the gist for comparison. Looks like the referrer is different between the streams. I'm guessing the filter is breaking the redirection somehow.

**Failed:** https://gist.github.com/lblackstone/2222a739ce81817ce04b0b524722911e#file-wireshark-capture-request-failed-L97
**Successful:** https://gist.github.com/lblackstone/2222a739ce81817ce04b0b524722911e#file-wireshark-

[2017-03-03 18:41] aklap opened #3393 "Typo in Foreman command in "How to Setup a Local Development Environment" from CONTRIBUTING.md"
In the [Running Exercism.io locally section documentation](https://github.com/exercism/exercism.io/blob/master/docs/setting-up-local-development.md#run-exercismio-locally) there's a typo that causes the command to return an error:

`$ bundle exec foreman -s -p 4567`

Should be 's' no dash:

`$ bundle exec foreman s -p  #4567`

[2017-03-04 15:54] kytrinyx commented on #3340
Thanks @lblackstone. A different referrer would break the request.

[2017-03-04 16:01] kytrinyx commented on #3362
You mean allowed languages, right?

[2017-03-04 16:02] kytrinyx commented on #3362
Technically, yes, but it has already happened. Twice. Luckily it's on languages that were not active yet, so it only affected a very small number of people who were beta-testing the track.

In the first case, it happened because the name of the language changed. In the second, it was because we hadn't done a good job naming the track (we are using a variant of the language, and had not specified t

[2017-03-04 16:04] kytrinyx commented on #3362
Question: Would it be sufficient to say that you can either restrict to a _single_ language, or you can't restrict it at all? It seems a very, very restricted use case to have a team for two or three languages.

[2017-03-04 16:06] kytrinyx commented on #3393
Closed by #3394

[2017-03-04 16:06] #3393 closed

[2017-03-04 16:16] NobbZ commented on #3362
Why not use tags for this? If a language matches the tag name it is primary
while every other language is hidden per default

Katrina Owen <notifications@github.com> schrieb am Sa., 4. März 2017, 17:04:

[2017-03-04 22:06] bernardoamc commented on #3362
Haha, yes!

That's good to know! It shouldn't be complicated to update the teams in the case of beta-testing, but knowing that it happened in the past is a good eye opener.

Good question. I can see value in restricting a team by a frontend+backend languages, but it  shouldn't be the main use case for sure. We can totally go through this route first (solving for one team) and gather more data befo

[2017-03-05 18:23] kytrinyx commented on #3362
I would find that really confusing as well. I'd rather avoid that.

[2017-03-05 20:00] sbeidels commented on #3390
I would love to work on this issue if no one has picked it up already

[2017-03-06 01:30] petertseng opened #3395 "activity stream for all languages' submissions for a specific exercise?"
We can currently get an activity stream for submissions of:

* a specific language * exercise pair e.g. http://exercism.io/tracks/c/exercises/leap
* all exercises (at least, those submitted by me) for a specific language e.g. http://exercism.io/tracks/c/exercises

So then, what if there were a way to get submissions of all languages (at least, those submitted by me) for a specific exercise?

This

[2017-03-06 05:17] travisfw opened #3396 "Clarification of the sentence on implementation dependencies in the Java "about" page"
The [about page for Java](http://exercism.io/languages/java/about ) says "It has been specifically designed to have as few implementation dependencies as possible" and links to [a page about "implementation dependencies" with regards to Netbeans](https://www.java-tips.org/other-api-tips-100035/60-netbeans/1025-what-is-an-implementation-dependency-and-whathowwhen-should-i-use-one.html ). I have bee

[2017-03-06 06:21] kotp commented on #3396
Thank you @travisfw for opening this issue.  Do you have the time to make an improvement of this paragraph?  Either removal, or clarification if that can be determined?

[2017-03-06 06:25] tejasbubane commented on #3396
@travisfw [This](https://github.com/exercism/xjava/blob/master/docs/ABOUT.md) is the file you want to change.

[2017-03-06 06:32] tejasbubane commented on #3387
I guess this can be closed in favour of https://github.com/exercism/discussions/issues/121.

[2017-03-06 15:13] wolf99 opened #3397 "Submissions being indexed by Google"
Just did a google search to find more info on a Meetup exercise to see that submissions by others (thankfully in other language tracks) are turning up in search results.... this can't be good! Surely a `Disallow` rule in the robots.txt or something is needed?

[2017-03-06 15:20] wolf99 commented on #3397
Or a header setting https://yoast.com/prevent-site-being-indexed/

[2017-03-06 17:11] kytrinyx commented on #3340
@lblackstone @NolanChan It looks like this problem is being caused by the parental control software, not by anything on Exercism or GitHub's side of things.

You should be able to whitelist Exercism within the software controls. You might also contact their support and make an argument that Exercism should not be blacklisted by default.

Thanks for helping figure this one out.

[2017-03-06 17:11] #3340 closed

[2017-03-07 11:58] wolf99 opened #3398 "Feature request: link from submission page to exercise page"
To get from a submission page to an exercise page (perhaps to refer to the readme or tests for that submission) one has to us navigate via Languages > <language-choice> > Available Exercises > <exercise-choice>.

It would be handy if each submission page showed a link to the exercise page, for e.g. on my submission of Raindrops in C I would see a link "See the exercise" that would link to the C tr

[2017-03-07 13:50] kotp commented on #3398
![selection_005](https://cloud.githubusercontent.com/assets/16747/23659092/056dbf2e-0313-11e7-8d12-d7cb1c7ea4e9.png)

Does the link for test and readme not show as it does in this image when you are on a submission page?

Can you capture an image of what you are seeing, and what you would want?

[2017-03-07 14:13] wolf99 commented on #3398
OMG How did I never see those before?! 😖
Please excuse my blindness 😆

[2017-03-07 14:13] #3398 closed

[2017-03-08 02:40] kytrinyx commented on #3397
Yes, definitely.

I think these are being indexed because people are posting the links to them on twitter.

[2017-03-08 02:41] #3387 closed

[2017-03-08 02:41] kytrinyx commented on #3396
/cc @exercism/java

[2017-03-08 02:43] kytrinyx commented on #3395
I've opened an issue in the past suggesting that we make the user's profile an activity stream: https://github.com/exercism/exercism.io/issues/2059

[2017-03-08 09:58] wolf99 commented on #3397
An example, googling for more info on what makes a day a "-teenth" day (I didn't understand the exercise at first!):
![teenth](https://cloud.githubusercontent.com/assets/281700/23699032/a25e995c-03e5-11e7-95b0-0caa611b75c7.PNG)

[2017-03-08 10:12] wolf99 commented on #3397
According to the link I posted above, this could be solved by a simple few lines in the server configuration to stop listings of all pages under `submissions/`, or having all pages in that location served with the meta tag something like `<meta name="robots" content="noindex,nofollow"/>`.

Unfortunately current web development is not something I really have much knowledge of these days, so will ha

[2017-03-09 03:10] mathvesilva commented on #3390
@sbeidels Hey, are you working on it? If not i have a fix ready.

[2017-03-09 03:23] mathvesilva commented on #3251
@jtigger Is there anything else that we can help? This issue is still open, but i think the work was done.

[2017-03-09 03:48] sbeidels commented on #3390
Yep, i just need to do some testing and then I'll submit the pull request.

[2017-03-09 08:30] nickborromeo commented on #3349
I think this issue can be closed 😄

[2017-03-09 08:44] kotp commented on #3349
I agree.

[2017-03-09 08:44] #3349 closed

[2017-03-09 08:47] kotp commented on #3390
@mathvesilva sounds like you are ready to review too!  That would be awesome!

[2017-03-09 09:32] NobbZ opened #3399 "Label of a language when archived differs from its active entries on profile page"
Yesterday I searched my profile for submissions in the xcsharp track by doing a search in my browser for "c#" literally, this only found one entry, `bob`, it was in the table of active submissions.

Since I had more folders in my local exercism-dir, I searched again for the exercise names instead and found the row labeled "Csharp" in the table of archived submissions.

The label used for a languag

[2017-03-09 09:37] NobbZ commented on #3399
I skimmed my own profile and found these:

| track | active label | archived label |
|:-:|:--|:--|
| `xlfe` | Lisp Flavoured Erlang (LFE) | Lfe |
| `xcpp` | C++ | Cpp |

[2017-03-09 19:09] kytrinyx commented on #3397
Appreciate it! I've added a "good first patch" label to this, for those who do have web development experience in Ruby / Sinatra.

[2017-03-09 19:30] bermannoah commented on #3397
Hi there! Is it cool if I volunteer to take this on?

[2017-03-09 20:22] sbeidels commented on #3390
@mathvesilva, If you have a fix ready, go for it.  I submitted my pull request, but it didn't pass all of the checks.  It may be a few days before I have a chance to get back to this, and there is no reason to hold this fix up any longer.

[2017-03-10 03:04] bernardoamc commented on #3397
It would be awesome @bermannoah! <3

[2017-03-10 15:31] LunarGem commented on #2770
I'm good at web design, if this isn't too difficult code-wise I could try it if it still needs to be done!

[2017-03-11 02:02] mathvesilva commented on #3390
@jdsutherland Hello, don't worry. Your PR look ok to me, i think it should be accepted. Cheers

[2017-03-11 16:06] kytrinyx opened #3402 "Add documentation about CLI completion script"
We have bash and zsh completion scripts for the command-line client, but these are only documented on the stand-alone CLI site. (http://cli.exercism.io/)

We need to add something to the main CLI page on the site http://exercism.io/cli

The route for `/cli` is in `app/routes/static.rb`.

[2017-03-11 16:29] bermannoah commented on #3397
Hooray! I pushed up a potential fix. ( #3403 ) I'm not sure if it's the _best_ way to go about it, so let me know if there's something else I ought to do. :)

[2017-03-11 16:47] kytrinyx commented on #3390
It's always tricky in a fully distributed, fully volunteer situation to figure out who's working on what.

I don't know if there's any official etiquette. In this case I'd go with either the earliest PR or the one that we all agree is the best solution (sometimes there's a huge difference in approach. Here, probably not).

Either way: I really appreciate all of the contributions, and also the resp

[2017-03-11 17:06] kytrinyx commented on #3390
In this case, I'm going to be pulling in @jdsutherland's solution, for a few reasons:

- the tests are passing
- the indentation is consistent

There's also a bit less code, which isn't always necessarily a factor, but if I have two equivalent solutions and they're equally readable, then I'll usually pick the one with less code.

I'm going to add a couple of notes to your solution @sbeidels, for l

[2017-03-11 17:37] #3397 closed

[2017-03-11 17:39] kytrinyx commented on #2770
@LunarGem If you'd give it a whirl, that would be awesome!

[2017-03-11 17:40] kytrinyx commented on #2770
Oh, and if you run into trouble getting the site set up and running, jump into the gitter chat, and someone should be able to help get you unstuck:  https://gitter.im/exercism/dev

[2017-03-11 17:41] kytrinyx commented on #3399
I bet we're doing some sort of capitalization of the slug on the archived label instead of using the name of the language.

[2017-03-11 17:46] kytrinyx commented on #3399
Indeed. Submitting a fix for this one in a moment.

[2017-03-11 20:52] LunarGem commented on #2770
@kytrinyx Sure! It might take me a while to get my bearings and code around academics and applications, but I'll definitely give it my best shot!

[2017-03-12 20:39] LunarGem commented on #2770
(Since my parents place restrictions on where I'm allowed to go on the internet, I thought I'd just ask here, it makes me feel more comfortable.)

So when I was installing the Ruby on Linux (well actually Raspbian) with that rbenv thing mentioned in the guide, it said that 2.3.3 didn't exist. Is that still the right number or did I do something wrong?

[2017-03-12 21:09] kytrinyx commented on #2770
@kotp you're developing on linux, right?

[2017-03-12 21:16] LunarGem commented on #2770
It's a Raspberry Pi running Raspbian Jessie, but on the terminal they're mostly the same thing I think? @kytrinyx

[2017-03-13 02:52] nilbus opened #3407 "Introduce feature flags for experimentation"
I'm working on an implementation of feature flags for the game design experiment we're performing (#123).

The implementation should support:
- _(necessity)_ Turning on features for a specific group of people (the experiment group), selected programmatically or as a percentage of consistently-selected users
- _(helpful)_ Manually changing feature state without deploying, so most bugs can be rolled

[2017-03-13 02:54] nilbus commented on #3407
I just gathered from our [docker-compose.yml][1] that Redis is not in our stack, so I'm disqualifying _fetlife/rollout_.

[1]: https://github.com/exercism/exercism.io/blob/master/docker-compose.yml

[2017-03-13 07:11] mhelmetag commented on #3407
Not entirely true... While the development environment doesn't require redis, the production environment does. Specifically, it's used to queue automated comments on exercises.

Not saying that one library is better than the other for feature flags... I just thought I'd chime in on the redis part.

[2017-03-13 11:55] LunarGem commented on #2770
I just remembered I already have Ruby to work with Sass. Would I still need to install it again?

[2017-03-13 20:16] kotp commented on #2770
@kytrinyx Yes, still linux, occasionally BSD for some flavor and sometimes Raspian.  (The delphi stuff is on a windows vm).

[2017-03-13 20:19] kotp commented on #2770
@LunarGem in general, you can do `gem list` and find out if it is installed for that environment/version.  If not then `gem install sass` for that gem.  In regards to this project, `bundle install` should install the gems as needed.

[2017-03-14 00:31] kotp commented on #2770
@LunarGem Ruby 2.3.3 should be valid, it was released 21 Nov 2016.

[2017-03-14 03:44] nickborromeo commented on #1844
@kytrinyx Im reading through the relevant files that @nellshamrell has gracious provided for

- [Windows](https://github.com/exercism/exercism.io/blob/master/x/docs/md/cli/windows.md)
It seems like the instruction already outlines the use of a package manager. That package manager has an [uninstall command](https://github.com/chocolatey/choco/wiki/CommandsUninstall)
[code]

Do you think it is enou

[2017-03-14 04:03] nickborromeo commented on #2090
Do you all think that this issue can be closed? 😄

I see the text `Improve your solution and resubmit as many times as desired.` on the newbie page and I think that is what this issue was initially opened for. It makes it a little clearer that there is an iterative process.

[2017-03-14 05:43] nickborromeo commented on #2208
I am not sure what free options there are out there but NewRelic is a good tool to just analyze the slowest pages. Maybe it can just be a trial period to see what the slowest pages are and then keep track of that. Benefit is you have somewhere to start, Con, is that long term you loose the tracking 😄

[2017-03-14 20:05] kytrinyx commented on #2090
Yeah, I think that's what it was meant to address. If not, I'm sure someone will open a new issue.

[2017-03-14 20:05] #2090 closed

[2017-03-14 20:09] kytrinyx commented on #1844
@nickborromeo I think so. That would at least be a good start, and then if someone has questions about how to do it without chocolaty they can ask, and we'll find out then how to improve the instructions.

Yepp. And perhaps also have people delete the config file, as well.

I think it's fine to leave `~/bin` on the PATH. If they've later put other things in `~/bin` I wouldn't want to instruct them

[2017-03-14 20:26] kytrinyx commented on #2208
I was using NewRelic, but at some point it started filling the logs with garbage (maybe due to an incompatibility in versions? Not sure). Anyway, I didn't have the bandwidth to deal with it, so I just removed it.

We could also agree to not deal with performance until we do the reboot (https://github.com/exercism/discussions/issues/113) which we are currently working on.

We have addressed issues

[2017-03-14 20:31] kytrinyx commented on #3407
Yeah, redis is in the stack. That said, flipper seems like a good choice.

[2017-03-14 20:39] #3399 closed

[2017-03-15 01:03] nickborromeo commented on #2208
I am not opposed to closing 😄  However, it will need to be tracked or "pinned" somewhere so that it is not out of side out of mind coz it would be good for the project to consider performance for the sake of the users. And I think when the users complain, that is already a failure on the project or the app coz that means its unbearable at that point.

[2017-03-15 08:28] nickborromeo commented on #2320
Should this be moved to the discussions repo and close this issue?

[2017-03-15 08:30] nickborromeo commented on #2378
Should this be moved to the discussions repo and close this issue?

[2017-03-15 13:16] kytrinyx commented on #2378
I'm labeling this with design research so that we can discuss it as part of the reboot once we get to it. I'll close this, since we'll be looking at both open and closed `design research` discussions.

Thanks @nickborromeo

[2017-03-15 13:16] #2378 closed

[2017-03-15 13:24] kytrinyx commented on #3395
Rereading the original issue, I see that the profile activity stream is completely different from what you're asking about.

I've added the design research label to this so that we can evaluate the question within the larger context of the design reboot (see https://github.com/exercism/discussions/issues/113 for more about this).

Since this issue addresses things that are going to be difficult to

[2017-03-15 13:24] #3395 closed

[2017-03-15 16:08] LunarGem commented on #2770
This is the error I'm getting:
[code]
I'll see if it works with the version of Ruby I already have though.

[2017-03-15 18:16] kotp commented on #2770
It would be interesting to see what this command returns for you `rbenv install --list`.

[2017-03-15 18:26] LunarGem commented on #2770
Your wish is my command, @kotp!
[code]

[2017-03-15 21:02] kytrinyx commented on #2208
In the reboot, performance will be one of our primary concerns.

Yeah, I know you're right. It's just—the prototype is such a disastrous mess, because it's grown organically over the past few years without any sort of plan or design (and rightly so, because we didn't quite know what we were building).

I would not be opposed to someone making a plan for the data collection to find the worst offend

[2017-03-15 21:04] #3390 closed

[2017-03-15 21:10] kytrinyx commented on #2320
I think we can close it without moving it. I've added "javascript styleguide" to the list of things to consider when we do the reboot.

[2017-03-15 21:10] #2320 closed

[2017-03-15 21:22] kotp commented on #2770
I think it is [here on stack overflow](http://stackoverflow.com/a/22275686/485864) that mentions ruby-build maybe needs to be updated on your system to see the later versions.

[2017-03-16 07:27] ErikSchierboom commented on #2208
Hurray! Performance *is* a feature, something that is sometimes neglected. Great to hear that won't be the case with the reboot.

Slightly related to performance, will the reboot also involve working with a different front-end libraries stack? I have some thoughts on that, but don't know where to share them.

[2017-03-17 01:11] bastienvinh commented on #3348
It's confusing to me as well. Each time I feel like it's synchronising, compiling or doing tests.

Is it possible to have a status on the page to see if the iteration passes it or fail it? And what happen if we do 500 iterations? Is it not better to make a list like Travis-CI or any test suite.

Because I don't if I should resubmit or not since I have not response from the robot.

[2017-03-17 02:55] kytrinyx commented on #2208
Probably, yes. Would you open a discussion in the discussions repo about that? We're still in the design research phase (not even at wireframes), so nowhere near talking about implementation, but it would be great to hear your thoughts on it.

[2017-03-17 05:21] nickborromeo commented on #2670
It looks like exercism/xjava#122 has been merged. Given that, is it OK to close this issue? 😄

[2017-03-17 05:43] nickborromeo commented on #2741
@erinnachen @adriennedomingus Looking to see if there is any update on the work that you had? Maybe you can share the work you have so far so people can pick it up from there?

@tejasbubane Also checking with you on any work that you have already done. Would not want the effort you already put in to be wasted 😄

[2017-03-17 06:14] nickborromeo commented on #2747
@rebelwarrior @Tonkpils Looking at the code, I do not think it is specific to machines, because status makes an API call

[code]

[code]

Wanted to check if we can close this issue after either of you confirms that this is no longer a problem 😄

[2017-03-17 06:25] tejasbubane commented on #2741
I have not worked on this.

[2017-03-17 06:26] GustavoCaso commented on #2741
So still open for working ?  @tejasbubane

[2017-03-17 06:29] tejasbubane commented on #2670
I don't see the eclipse instructions [here](http://exercism.io/languages/java/installing). Looks like they were removed later.

[2017-03-17 06:34] #2670 closed

[2017-03-17 06:38] tejasbubane commented on #2741
If @erinnachen @adriennedomingus have not worked on this, yes.

[2017-03-17 06:38] nickborromeo commented on #2780
@troubalex @kytrinyx I wanted to follow up on this and wanted to ask some clarification,

It seems like the `http://exercism.io/languages/<language>/exercises` already has this layout

<img width="784" alt="python_-_exercism_io" src="https://cloud.githubusercontent.com/assets/1518902/24031730/7767f672-0aa1-11e7-938e-1c6588cc93f2.png">

Which seems very much like the mock up that @troubalex has. Do

[2017-03-17 06:39] GustavoCaso commented on #2741
Ok, let's wait to see if they answer. Thanks @tejasbubane

[2017-03-17 06:43] nickborromeo commented on #2794
@kotp @kytrinyx was this moved to the x-common repo issues? I tried looking for it, but my search skills I guess is not that good 😄

If it was indeed moved over, could we also close this issue? 😄

[2017-03-17 06:56] #2794 closed

[2017-03-17 06:56] kotp commented on #2794
Issue moved to [exercism/x-common #727](https://github.com/exercism/x-common/issues/727) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-17 06:57] kotp commented on #2794
I also could not find it, so I must assume I did not move it.

[2017-03-17 12:58] IanWhitney opened #3412 "Where does documentation live?"
I'm working on documenting a new feature. @kytrinyx suggested I put it into the [docs folder of this repo](https://github.com/exercism/exercism.io/tree/master/docs)

However, much of the content of that folder seems to be duplicated in [x-common's contributing guide](https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md)

What are the best practices for adding docs? Is there a way we ca

[2017-03-17 17:56] rebelwarrior commented on #2747
I'd have to check in multiple computers, but seems fixed on the one I'm working on.

[2017-03-17 20:35] ErikSchierboom commented on #2208
Sure, I'll post my thoughts in the next couple of days.

[2017-03-17 22:13] #3407 closed

[2017-03-17 22:21] kytrinyx commented on #3412
I'm hoping to get rid of the duplication in x-common's contributing guide.

We used to have a separate documentation site, but that wasn't working very well for us. Maybe a separate documentation _repo_ would be a good idea?

[2017-03-18 04:16] jtigger commented on #3412
Love the central documentation repo idea!  One stop shop!

[2017-03-18 09:53] troubalex commented on #2780
@nickborromeo This particular part of the discussion was moved into its own issue (#3033), and solved there.

[2017-03-18 13:57] IanWhitney commented on #3412
@kytrinyx what would need to happen to remove document duplication? Is it just a matter of consolidating everything into one repo, or are there build-automation steps that would also have to happen?

[2017-03-18 16:32] kytrinyx commented on #3412
OK, one stop shop it is. I don't think there are any build-automation steps, but there will be broken links in various places.

I will edit the original issue with a suggested TODO list.

[2017-03-18 16:53] kytrinyx commented on #3412
Ok, this issue is superseded by the tracking issue in https://github.com/exercism/docs/issues/2

[2017-03-18 16:53] #3412 closed

[2017-03-18 17:08] kytrinyx commented on #2780
I think this is resolved.

[2017-03-18 17:08] #2780 closed

[2017-03-18 17:46] kytrinyx commented on #3348
Unfortunately, that's not possible with our current setup. We don't test people's solutions after they submit.

If you do a bunch of iterations, the page will be pretty unusable.

The robot doesn't reply to everything. We have a small set of things that the robot recognizes (via static analysis), but for the most part there's no post-processing.

[2017-03-19 07:06] petertseng commented on #2780
Hmm. From my point of view, e.g. if I go to http://exercism.io/languages/ruby/exercises I can't tell apart dominoes (an exercise I have solved) from tournament (an exercise I haven't solved) in any way. Unless there is a distinction and it is just invisible to browser (problem on my end)

[2017-03-19 07:07] petertseng commented on #2780
Oh  I am not paying attention.

I missed the above sentence. Please ignore my comment!

[2017-03-19 08:55] ErikSchierboom commented on #2208
@kytrinyx Just posted my thoughts at #127.

[2017-03-19 15:35] kytrinyx commented on #2780
The question about orienting oneself in a track is one that we've got on the list of discussions for the redesign.

[2017-03-20 00:08] lblackstone commented on #3340
Whitelisting exercism.io and github.com fixed the login problem. I contacted their support and suggested that they whitelist the sites globally as well, though not sure if they will follow through on that.

[2017-03-20 01:45] kytrinyx commented on #3340
@lblackstone Thanks so much for checking back in to confirm!

[2017-03-20 03:24] nilbus opened #3416 "Track each user's client version, and notify when there are updates"
Users generally aren't updating their exercism client (cli). Consider tracking each user's most recently used client version and providing a dismissable flash notice when the cli version is not the latest.

Open questions:
1. what is the best way to track the latest client releases
2. how notice dismissal fits in with this proposed API

### Proposed API

[code]

### New `User` fields

- client_ver

[2017-03-20 04:35] kytrinyx commented on #3416
This is an _excellent_ idea.

I think probably the releases API: https://developer.github.com/v3/repos/releases/#get-the-latest-release

We could check that once an hour or once a day or something, and check the header that comes in against that value.

I'm not sure. My first thought is to track

- their currently installed version
- when it was last reported
- the CLI version that they've been no

[2017-03-20 16:31] adriennedomingus commented on #2741
@GustavoCaso @nickborromeo - @erinnachen and I worked on it a bit but didn't produce anything worth sharing. Feel free to pick it up!

[2017-03-20 16:53] GustavoCaso commented on #2741
Awesome thanks. I will work on it

[2017-03-21 03:25] vipuldelwadia opened #3418 "Readme for Bob exercise has incorrect responses (Swift)"
Readme has `Whoa, chill out!` but tests expect `Woah, chill out!`.
Readme has `Fine. Be that way!` but tests expect `Fine, be that way.`

[2017-03-21 03:28] kytrinyx commented on #3418
Would you please open this issue in https://github.com/exercism/xswift ?

There's a canonical data file here that can be used to update the tests to match what other languages do: https://github.com/exercism/x-common/blob/master/exercises/bob/canonical-data.json

[2017-03-21 03:36] vipuldelwadia commented on #3418
Looks like there is already an issue: https://github.com/exercism/xswift/issues/255, my apologies

[2017-03-21 03:36] #3418 closed

[2017-03-21 09:27] drinkingcoder opened #3419 "GradeShool Test may be inappropriately"
"
A set stores distinct values of the same type in a collection with no defined ordering. You can use a set instead of an array when the order of items is not important, or when you need to ensure that an item only appears once.
 "
                                    - introduced by apple developer

[Doc Address](https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Prog

[2017-03-21 09:44] NobbZ commented on #3419
This issue-tracker is for the website of exercism. Your question/report seems to be related to how the swift-track has its tests, please re-issue your question at [exercism/xswift issues](https://github.com/exercism/xswift/issues).

[2017-03-21 14:53] kytrinyx commented on #2208
I'm going to go ahead and close this one now, since we have performance properly tracked for the reboot.

[2017-03-21 14:53] #2208 closed

[2017-03-21 14:56] #3253 closed

[2017-03-21 15:02] kytrinyx commented on #3418
Thanks @vipuldelwadia

[2017-03-22 02:19] drinkingcoder commented on #3419
OK~

[2017-03-22 02:19] #3419 closed

[2017-03-22 03:05] nilbus commented on #3416
For these, fields on the `users` table seem appropriate:

- `client_version`
- `client_version_reported_at`
- `client_version_notified`
- `client_version_notification_dismissed_at`

[2017-03-22 03:21] nholden commented on #3381
Makes sense to me! I took a shot at addressing this issue in https://github.com/exercism/exercism.io/pull/3421.

[2017-03-22 17:32] behrtam opened #3423 "Language listing uses wired row count (safari)"
The language overview page (http://exercism.io/languages) uses a wired number of items per row. Depending on the page width it's either 5,1,5,1 ... or 2, 3, 1, 2, 3, 1, ... and maybe even more. This only is happening in Safari (10.0.3), while Chrome looks fine.

![big](https://files.gitter.im/exercism/dev/AyqU/Bildschirmfoto-2017-03-22-um-17.35.34.png)

![small](https://files.gitter.im/exercism/de

[2017-03-22 17:38] behrtam commented on #3423
sorry duplicate #3325

[2017-03-22 17:38] #3423 closed

[2017-03-22 17:39] behrtam commented on #3325
It doesn't work with Safari 10 as well.

[2017-03-23 01:09] #3381 closed

[2017-03-23 01:09] kytrinyx commented on #3416
Yeah, that works for me.

[2017-03-23 01:11] kytrinyx commented on #3416
- `client_version_reported_at` - maybe `client_version_last_seen_at`?
- `client_version_notified` - I'm worried that we'll get confused since `client_version` refers to two different things. How about something like `newer_client_notified` and `newer_client_dismissed_at`?

[2017-03-23 03:00] nilbus commented on #3416
Are the two things you're referring to the `client_version` field on User, and the `ClientVersion` class?

[2017-03-23 03:04] nilbus commented on #3416
Oh, I see now… it's the client version they're *using*, and the client version that's *available*.

[2017-03-23 03:10] nilbus commented on #3416
I like the idea of having a common prefix, making these obviously grouped. If there aren't names that make sense with a common prefix, perhaps this should become a separate table that gets joined to users.

How about these? *in_use* and _update_ should make it clear what thing's version is being tracked.

- `client_version_in_use`
- `client_version_in_use_last_seen_at` 👍  Your suggestion is good.

[2017-03-23 15:10] kytrinyx commented on #3416
Yes! Those are great. (Naming is hard!)

[2017-03-23 23:31] kotp opened #3425 "Quote a comment does not provide the needed new line"
It is happening commonly now that we have the fa-reply button, is because the new line is not added when placing the quotation in the text area, the students response gets added to the quotation.

We should not rely on the user knowing to place a new line, but should place a newline for them.

[2017-03-24 09:27] catherinedevlin opened #3428 "Can't find how to search for a team"
The team page (http://exercism.io/teams/about) tells how to create and manage a team, but not how to find an existing team.

"A public team will appear in search results", it says, but not where to search.

I haven't been able to find it anywhere by navigating the site, or even by googling for it.

Having heard that a team I was interested in existed, and successfully guessing at their name, I was

[2017-03-24 09:30] catherinedevlin commented on #3428
After guessing my team's name and requesting membership, I was redirected to http://exercism.io/teams, which is what I'd been looking for.  But I don't think http://exercism.io/teams is linked to from http://exercism.io/teams/about or from anywhere else I could find.  Also, I'd tried http://exercism.io/teams/ before, but the trailing backslash meant a 404.

[2017-03-24 15:15] kytrinyx commented on #3428
@catherinedevlin Thanks, yeah this is not good.

I think we should add documentation to the /teams/about page which starts in `app/routes/static.rb`

We might also optionally consider handling trailing slashes for all routes.

[2017-03-24 15:20] kytrinyx commented on #3425
This change lives in:

- /app/views/submissions/nit.erb
- /frontend/app/js/script.js

/cc @binoymichael who implemented the original feature

[2017-03-24 18:32] behrtam opened #3430 "Add help requests to the stats page"
Would it be possible to add help requests to the stats page? http://exercism.io/stats/python

I think help requests can be a good indicator that there are problems with an exercise, or that the position in the track might be wrong, etc.

[2017-03-24 22:40] kytrinyx commented on #3430
That sounds like an excellent idea.

[2017-03-26 00:28] nilbus commented on #3416
@kotp I'll make sure this works without javascript when I implement it in a week or two.

[2017-03-26 02:28] kotp commented on #3416
We really probably should know the number of people that are interacting with the older client.  If this is unknown, as soon as they are using it.  The client should report this, not the website.  I think that it does not matter until they go to use the exericism client.

Not saying that the current notification is wrong, but saying that it should be the client that is notifying, because that is w

[2017-03-26 12:04] krypten commented on #3425
Hi, Is it open for new contributors also? I want to work on this issue.

[2017-03-26 15:37] DolevEfr opened #3436 "Running C++ tests"
Hello good people,
I started out with the C++ exercises, and I must say that your documentation is really good for setting everything up (at least on linux).
The only thing missing there (and in the readme) is how to run the tests...
I'm new to C++ and developing using the terminal, and I can't figure out how to run the tests.

The first time I run 'make'- it gave me compile-time errors in the tes

[2017-03-26 16:31] kytrinyx commented on #3436
@DolevEfr Thanks! We should absolutely see about getting that fixed. Would you mind opening an issue in the https://github.com/exercism/xcpp repository? That should get this in front of the people who are best suited to take care of this.

There's some information here: http://exercism.io/languages/cpp/tests

I suggest using the 'HINTS.md' file in the first exercise to help document how to run the

[2017-03-26 16:32] kytrinyx commented on #3425
@krypten Absolutely! If you run into any trouble with it, feel free to jump into the https://gitter.im/exercism/dev chatroom, and someone there should be able to help you out.

[2017-03-26 16:50] kytrinyx commented on #3416
I'm not sure where we are with this, but we talked about using the HTTP header that the client sends in the submit request to track which client they submit with.

[2017-03-26 18:19] krypten commented on #3425
@kytrinyx Sure, I will start working on it.

[2017-03-27 07:27] AlbertMoscow opened #3439 "Cannot upgrade to cli-2.4.0 on Windows 8.1"
Cannot upgrade to cli-2.4.0 on Windows 8.1 due to the following message:

"open C:\ProgramData\chocolatey\lib\exercism-io-cli\tools\exercism.exe: The process cannot access the
 file because it is being used by another process."

My computer has just been turned on.

![cannot upgrade to cli-2 4 0 on windows 8 1 due to the following message - 1](https://cloud.githubusercontent.com/assets/3895816/243

[2017-03-27 07:56] NobbZ commented on #3439
Also reported at exercism/cli#381

[2017-03-27 13:42] kytrinyx commented on #3439
I'm going to close this as a duplicate, in favor of exercism/cli#381. If you have any further details to add, please do so there.

Thanks!

[2017-03-27 13:42] #3439 closed

[2017-03-27 13:43] kytrinyx commented on #3439
@AlbertMoscow In the meanhile you should be able to replace the binary per the original install instructions: http://exercism.io/cli/windows

[2017-03-27 14:59] #1737 closed, assigned to nobody

[2017-03-27 17:52] kytrinyx commented on #1906
I am going to close this. If you run into problems fetching, please open a new issue.

[2017-03-27 17:52] #1906 closed

[2017-03-27 17:53] kytrinyx commented on #2028
We have scheduled time to dig deeply into anonymity as part of our design research for the website redesign. I'm going to close this.

[2017-03-27 17:53] #2028 closed

[2017-03-27 17:54] kytrinyx commented on #2041
Since this has not received any more comments in the past two years, I'm going to go ahead and close it.

If this feels very important, then please reopen the issue.

[2017-03-27 17:54] #2041 closed

[2017-03-27 17:56] kytrinyx commented on #2053
I've added this to the list of things to consider when we do the redesign. I really love keyboard-only workflows, so I hope that we will be able to make this happen.

Meanwhile I'm closing the issue, since it's being tracked for the reboot.

[2017-03-27 17:57] kytrinyx commented on #2162
I'm going to close this, since there has been no movement for two years.

[2017-03-27 17:57] #2162 closed

[2017-03-27 18:56] kytrinyx commented on #2156
We are digging into the broader topic of "what does it mean to complete an exercise" and "what does it mean to complete a track" as one of the core questions for the redesign. I'm going to go ahead and close this, and when we've hashed out some of the basic thoughts, we'll be sharing them.

[2017-03-27 18:56] #2156 closed

[2017-03-27 18:58] kytrinyx commented on #2164
I'm closing the discussion, as we're digging into the questions around feedback and mentorship as part of the design reboot / user experience research.

(It has the design-research label, which is what we're using to keep track of prior discussions about the topics).