[2018-10-13 04:15] PatrickMcSweeny opened #4419 "Dark code theme is very limited"
I like the changes I see after enabling the dark code theme, however I think it would be nice to see it applied to all code that is being displayed, not just the limited cases where it applies currently. I would be willing to work on a pull request for this.

[2018-10-13 05:59] ErikSchierboom opened #4420 "Inconsistent notification layout"
Non-full width:
![image](https://user-images.githubusercontent.com/135246/46902002-cd1a6500-cebd-11e8-9125-93b33d14c897.png)

Full-width:
![image](https://user-images.githubusercontent.com/135246/46902013-e91e0680-cebd-11e8-9395-2df95125669a.png)

[2018-10-13 06:01] ErikSchierboom opened #4421 "Why display a mentor screen when there are no mentors?"
When I complete an exercise that had no mentors involved, I still get the following screen:

![image](https://user-images.githubusercontent.com/135246/46902021-17034b00-cebe-11e8-8a6f-d899b35d4881.png)

What is the use of this page, as I only ever want to Save and continue?

[2018-10-13 06:32] joonkim0625 commented on #4402
@iHiD My problem is solved! I reinstalled exercism only following the instruction. I didn't use any other sources that could affect the installation. Now the submission works just fine! Thank you for your help.

[2018-10-14 10:10] DocFogel opened #4422 "Show exercise concepts in mentor-mode"
The mentoring FAQ mentions that each exercise touches upon a few fundamental programming concepts. It would be nice to have this information easily available when mentoring. Currently I have to go to the list of exercises to get the concepts for the exercise I am mentoring.

Listing the concepts under the Instructions tab would be "close enough" for me.

[2018-10-14 19:00] katrinleinweber opened #4423 "Link to other mentors' mentored solutions"
As one mentor in a team, I would like to be able to easily find their comments to solutions they have mentored, in order to learn from them, and pass on advice which I didn't think of to my mentees.

related to #4083

[2018-10-14 19:10] fabioperrella commented on #4098
Hi @iHiD , is this problem related to this repo https://travis-ci.com/exercism/website ?

I've checked the [last build on travis](https://travis-ci.com/exercism/website) but I'm not shure this is the repo with problem. But I think it is, because the `bundle install` step took 162s to run!

[2018-10-14 19:10] fabioperrella commented on #4098
Could you assign to me pls?

[2018-10-15 00:17] anthonybronkema commented on #4412
Thank you @darthbob88. I wasn't used to looking for that, no I know for the future. Mine was on the two-Fer Javascript lesson and I had to change
[code]
to
[code]

The error I was initially getting was `TypeError: (0 , _twoFer2.default) is not a function`

[2018-10-15 10:50] TobiasRoland commented on #4400
I really enjoyed getting feedback and asking questions on my and other people's solutions on the older version of the site, too - would love for this feature to return!

[2018-10-15 18:21] darrenrjones opened #4424 "Mentor disappeared, how do I get back on track?"
I submitted a solution and got feedback, submitted another and got more feedback, now he is nowhere to be found and it is not marked complete so I can't continue on in my track. What can I do? Mentors are still default on the main track, correct?

https://exercism.io/my/solutions/bd606f058ce545ffbbad8ec1dc747248

[2018-10-15 19:00] rpottsoh commented on #4424
Which track?

[2018-10-15 19:44] iHiD commented on #4419
Yes - that'd be great. Thanks @PatrickMcSweeny :)

[2018-10-15 21:38] darrenrjones commented on #4424
javascript...

On Mon, Oct 15, 2018 at 12:00 PM Ryan Potts <notifications@github.com>
wrote:

[2018-10-15 22:51] rpottsoh commented on #4424
I have alerted the mentors for this track to take a look at this issue.  Hopefully you'll hear something soon.

[2018-10-15 23:35] paparomeo opened #4425 "Haskell exercise needs mentor to progress on track"
I have an exercise in the Haskell track which has been waiting for a mentor for two months now. This is an exercise which I started 4 years ago in the previous incarnation of exercism and had feedback from a couple of mentors back then, so it might be because of that that it won't appear in the mentors' dashboard. Any help would be appreciated so I can progress on this track.

https://exercism.io/

[2018-10-16 00:39] F3PiX opened #4426 "Request: Prioritize side exercises over legacy core exercises"
Since the introduction of the Mentor on Request, the number of side exercises is very low (in Ruby, in the last count there were 2). We all agree that the side exercises are important for the student's learning experience, and I think especially on the level of the core exercise they were unlocked by. As in: as soon as possible after they did the core exercise.

To give the side exercises the impo

[2018-10-16 01:39] darrenrjones commented on #4424
Thank you sir.

[2018-10-16 01:39] #4424 closed

[2018-10-16 04:07] monfresh commented on #4403
Any updates on this? I received an email about mentorship not being available for side exercises, but Hamming is a core exercise, and from what I can tell, I cannot start the next one until this one is approved. Thanks for looking into this.

[2018-10-16 16:18] martinfreedman commented on #4413
It has not changed using the link I provided - cache flushed. I do not know where you obtained that image from but it is not fixed,

[2018-10-16 21:16] iHiD opened #4427 "How healthy is the Exercism Open Source Organisation?"
We would like to understand more about what is happening across the Exercism GitHub organisation, where the activity is, who is contributing where, etc. This will help us understand which areas need more support and allocate resources accordingly.

This is a tracking issues for the [Open Source Stats repository](https://github.com/exercism/open-source-stats), which I'm specifically setting up to b

[2018-10-17 04:39] iHiD commented on #4402
@tonidezman If you still have the issue, could you paste me a solution id where you have not subsequently left the track please. Otherwise I have no way to debug this. Thanks.

[2018-10-17 05:41] tonidezman commented on #4402
No issues from my side :)

V V sre., 17. okt. 2018 ob 06:39 je oseba Jeremy Walker <
notifications@github.com> napisala:

[2018-10-17 06:32] sshine commented on #4425
I'll give you feedback on this later today.

It seems that your solution is not in the queue for some reason.

Thanks for reaching out.

[2018-10-17 08:53] sshine commented on #4425
I've given you feedback now, so this issue can be closed unless you have other submissions stuck in limbo outside the queue.

[2018-10-17 11:43] atelierJVA commented on #4343
It has been more than a month now and I am starting to think that is stuck somewhere and not showing in the queue.
Any help would be appreciated so I can progress on this track.

The link for the latest submission is https://exercism.io/my/solutions/1fa2124e023c46f1b01c33ce8bae43e3

[2018-10-17 14:31] ErikSchierboom commented on #4426
I believe this is already the case. My mentor dashboard first shows core exercise, then side exercises and then core (legacy) exercises.

[2018-10-17 15:04] tejasbubane commented on #4334
@viktorhbk Can you share your `leap.js` file? Note that spec file expects named export (not default). https://developer.mozilla.org/en-US/docs/web/javascript/reference/statements/export#Description

[2018-10-17 15:06] tejasbubane commented on #4413
@martinfreedman Same link you shared:

![screenshot 2018-10-17 at 8 35 42 pm](https://user-images.githubusercontent.com/980783/47096172-444c5200-d24c-11e8-9e33-830527656154.png)

[2018-10-17 15:47] viktorhbk commented on #4334
leap.js
[code]

[2018-10-17 16:07] tejasbubane commented on #4334
That looks all good to me. If you have `leap.js`, `leap.spec.js`, `package.json` in the same directory, it should work. Can you make sure these files are in same directory and show the complete error that you are getting?

[2018-10-17 16:34] viktorhbk commented on #4334
![leap](https://user-images.githubusercontent.com/33513522/47101748-9fc61200-d243-11e8-81d3-6fd5918d6acf.PNG)

[2018-10-17 16:58] iHiD commented on #4426
Yeah - it should already be the case, but I will verify before closing!

[2018-10-17 18:11] andreagrandi opened #4428 "Send notification content along with notification email"
### Problem

As a mentor and as a student too, when I get a notification by email, it's usually something like this:

[code]

The email doesn't have much information. It could be a "oh thanks!" or "no way, I'm not doing that". We don't know until we go to the website and click through the links.

### Possible solution

Send the content of the comment along with the notification email. In theory we

[2018-10-17 18:18] sshine commented on #4428
Since I looked at how one may do this earlier, the implementer may find this a head start:

[1]: https://github.com/exercism/website/search?q=has+posted+a+new+comment+on+their+solution
[2]: https://github.com/exercism/website/blob/master/app/mailers/mentor_notifications_mailer.rb
[3]: https://github.com/exercism/website/blob/master/app/models/discussion_post.rb
[4]: https://github.com/exercism/web

[2018-10-17 19:14] F3PiX commented on #4426
🤔
Here's the bottom part of my mentor dashboard.
There are mentor requests for side exercises, but they don't show up before the legacy core's.

![schermafbeelding
 2018-10-17 om 21 03 29](https://user-images.githubusercontent.com/6314687/47110151-5c25d500-d250-11e8-9c65-3d1339cd335a.png)

[2018-10-17 20:07] tejasbubane commented on #4334
Ok I am unable to spot the issue here. Is the editor not saving file because of eslint errors or something?

@matthewmorgan can you see what is wrong here?

[2018-10-17 20:37] tehsphinx commented on #4428
My two cents: It might be good to limit the amount of emails a mentor receives on a solution to 1 until the mentor looks at that exercise again. 2 reasons:
- mailboxes do not get spammed with a few mentored exercises
- it is a lot easier to avoid an "angry students" comments. A mentor only gets the first mail and not all 40.

[2018-10-17 20:58] F3PiX commented on #4375
Speaking for all mentors: THANKS!

This one is finished, no? Close?

[2018-10-17 21:06] paparomeo commented on #4425
Thank you very much for the review @sshine! I'll now be able to progress to the remaining exercises.

[2018-10-17 21:06] #4425 closed

[2018-10-17 21:33] andreagrandi commented on #4428
@tehsphinx it's a very good point. I only think it could be a separate task/issue rather than a single one. In this case the point is more about the content rather than on the number of notifications. Let's wait to get some comments from maintainers who may have know if we can easily combine the two things or if they should be a separate task.

[2018-10-17 22:12] matthewmorgan commented on #4334
@viktorhbk I think the linting issue is a Windows related issue.  Someone else mentioned this in https://github.com/exercism/javascript/issues/502#issuecomment-430649864.

I think this is not the same issue as @mcampbell has reported.  Can we disentangle these please?

@mcampbell did @NobbZ answer your question?

[2018-10-17 22:53] iHiD commented on #4428
I think that's a valid suggestion @tehsphinx. Could you open a seperate issue for it pls?

So I think I'm pro this idea now. It was very popular on the Slack, and if it makes mentors' lives easier than that's important. The original reason not to do it was to avoid possible abuse scenarios but that's not been a huge problem for the last 3 months, so I'm ok with trying this.

@kytrinyx @nicolechalm

[2018-10-17 22:58] #4308 closed

[2018-10-17 23:01] #4375 closed

[2018-10-17 23:03] iHiD commented on #4426
Ah. Legacy. I read Independent.

I think legacy core are more important than side, as these are just users who happened to solve the exercise in v1, but now want to progress in v2. As opposed to users who are in independent mode.

Thoughts?

[2018-10-17 23:10] iHiD commented on #4413
You're (inadvertently) looking at different things. Your own solution appears at the top of this page, and has a different code-path to the other solutions on the page, which is why @martinfreedman sees one thing and @tejasbubane.

The offending line is [here](https://github.com/exercism/website/blob/master/app/controllers/solutions_controller.rb#L18) - it needs an extra thing adding for this solu

[2018-10-17 23:11] #4285 closed

[2018-10-17 23:15] F3PiX commented on #4426
I also think that legacy core are more important, but even so I pledge to have side exercises before legacy core in the current queue. For 2 reasons:
- there are currently only a few side exercises (in Ruby) with mentoring requests, and those are probably by the most active students, because they had to be here in the last few days.
- there's a lot of repetition in the mentoring queue, and for men

[2018-10-18 08:52] NobbZ commented on #4334
I'm a bit confused here. Is this windows or is this linux? If the former, are you using WSL or a POSIX wrapper? Are you sure both your `bash` as well as VScode are looking at the same directories? Can you confirm so by using `ls` and `cat leap.js`?

[2018-10-18 09:14] ozanh opened #4429 "Need approval from a Python mentor"
I submitted second exercise in python track (Leap) and I finished all available side exercises. Can a mentor approve and let me solve the rest? I have been waiting for 5 days for an approval. Thank you in advance and thank you for creating such a useful site.

[2018-10-18 10:06] vnkvstnk commented on #4429
I have the same issue with the exercise, but I submitted about two weeks ago.

[2018-10-18 12:34] viktorhbk commented on #4334
@NobbZ Can confirm that after changing CRLF to LF in editor it worked. I'm using wsl.

[2018-10-18 12:36] tehsphinx opened #4430 "Limit amount of emails"
## Problem description

- Personally I have turned off emails completely as they spam my inbox. I rather look on exercism for new comments/solutions. If there comes a time I am not able to check exercism that often any more turning of my emails can be a problem.
- If a student for some reason turns into an "angry student" he can start spaming a mentor with emails. If the emails contain the content

[2018-10-18 13:32] SimonOsipov commented on #4429
Same issue here, even same task (Leap).
Switched to independent track, but the task remains "Waiting for feedback from a mentor"

After switching tracks to independent, tried to submit task again, but it did not help.

[2018-10-18 15:03] NobbZ commented on #4430
In the current situation where there is basically not much of content in a single email I tend to confirm your opinion, a single mail is enough until I actually read the conversation I got notified about.

If though we add the actual content of the reply to the email, I'd be happy if I get an email per response **and** then I'd like to get notified even about what I write myself, such that my inbo

[2018-10-18 16:46] lwaite2010 commented on #4104
Perhaps it would be nice to be able to order or filter solutions either by the track language version. Working on the Elm track I find that some of the solutions from even a few months ago no longer work because of changes to the language.

[2018-10-18 18:09] CBedzz opened #4431 "elm-test doesn't run ("
Currently, following the instructions to install elm and elm test are:
```npm install elm elm-test -g```

Unfortunately, this installs elm 0.19.0 and elm-test 0.18.13-beta3, and when you try to run ```elm-test``` in a project directory, it fails with:
[code]

[2018-10-19 01:17] pgaspar opened #4432 "Independent Mode: automatic mentorship bug?"
A student of mine is reporting a bug where they see a message saying “A mentor will leave you feedback as soon as possible” in Independent Mode. They say they sent @iHiD an email, but I’m following up with this issue as well.

Here’s the solution link: https://exercism.io/mentor/solutions/4e9510d934f44875a35410be96bf97d8

Could be related to #3809.

[2018-10-20 13:56] 12agnes opened #4433 "couldn't access resources placed here https://github.com/exercism/cli/releases/tag/v3.0.10"

[2018-10-21 21:37] kieuhua opened #4434 "Error: not in workspace"
Sorry same issue. Yes, I am on Mac, and yes, I changed my workspace from exercism to Exercism, but I still have problem submit hello_world.py.
Here are my info, please help!!!

$ exercism version
exercism version 3.0.10

$ exercism submit hello_world.py
Error: not in workspace
$ pwd
/Users/local-kieu/Exercism/python/hello-world
$ exercism workspace
/Users/Local-kieu/Exercism
$ ls
README.md		hello_

[2018-10-21 21:43] NobbZ commented on #4434
It's the Local Vs local for you.

[2018-10-21 21:54] kieuhua commented on #4434
it is local for me, can I change workspace from Local to local?

On Sun, Oct 21, 2018 at 5:44 PM Norbert Melzer <notifications@github.com>
wrote:

--

[2018-10-21 22:00] kieuhua commented on #4434
I got it. I change ~/.config/exercism/user.json from Local to local.

Thank you for helping, I appreciate it very much.

problem solved.

Thanks
Kieu

On Sun, Oct 21, 2018 at 5:53 PM Kieu Hua <kieu.hua@gmail.com> wrote:

--

[2018-10-22 06:09] NobbZ commented on #4434
No need to change that file manually, interaction with that file is meant to happen only via `exercism config` and it's switches. `--workspace` in this case.

[2018-10-22 10:03] jscheffner commented on #4422
I'd love to have that. It's not always obvious which concepts the exercises touch upon even if you look through the list of exercises. Also, having a list of concepts an exercise touches upon requires the creator to think about what the exercise aims at which could lead to meaningful discussions and better exercises.

[2018-10-22 14:58] vnkvstnk commented on #4429
Earlier today a mentor left a feedback on my solution. Most probably, it's just a long line...

[2018-10-22 16:12] PatrickMcSweeny commented on #3936
I think this could be closed.

[2018-10-22 16:35] kieuhua commented on #4434
Thank you, got it.

Thanks
Kieu

On Mon, Oct 22, 2018 at 2:10 AM Norbert Melzer <notifications@github.com>
wrote:

--

[2018-10-22 16:38] ZapAnton opened #4435 "Broken alignment for the Side exercise submit message"
The `Your exercise has been submitted successfully. You may mark it as completed, browse other solutions, or request mentoring.` seems to strongly align to the left side of the page instead of the usual center alignment:

![image](https://user-images.githubusercontent.com/8658767/47305383-fd869f80-d631-11e8-9170-c01f6fa5c3d1.png)

[2018-10-22 17:00] shabankayitare commented on #4435
hey there anyone to help me?
i'm stuck with submitting my first exercise
got this error:
 The file you are trying to submit cannot be found.

        C:\Users\Teacher\Exercism\javascript\hello-world\TO\SOLUTION

[2018-10-22 17:30] shabankayitare opened #4436 "got stuck about submitting my exercise"
hey there anyone to help me?
i'm stuck with submitting my first exercise
got this error:

    The file you are trying to submit cannot be found.

        C:\Users\Teacher\Exercism\javascript\hello-world\hello_world.js

[2018-10-22 17:36] rpottsoh commented on #4436
What does
[code]
reveal?

[2018-10-22 17:40] shabankayitare commented on #4436
this one
C:\Users\Teacher\Exercism

[2018-10-22 17:43] shabankayitare commented on #4436
I try using command prompt but failed and even GIT bash failed too

[2018-10-22 17:53] rpottsoh commented on #4436
Please post what `exercism troubleshoot` returns.

from your "c:\users\teacher\exercism\javascript\hello-world" folder you should be able to:
[code]

[2018-10-22 18:00] shabankayitare commented on #4436
C:\Users\Teacher\Exercism\javascript\hello-world>exercism troubleshoot

Troubleshooting Information
===========================

Version
----------------
Current: 3.0.10
Latest:  3.0.10

Operating System
----------------
OS:           windows
Architecture: amd64

Configuration
----------------
Home:      C:\Users\Teacher
Workspace: C:\Users\Teacher\Exercism
Config:    C:\Users\Teacher\AppData\Roam

[2018-10-22 18:01] shabankayitare commented on #4436
C:\Users\Teacher\Exercism\javascript\hello-world>exercism submit hello_world.js
Error:

    The file you are trying to submit cannot be found.

        C:\Users\Teacher\Exercism\javascript\hello-world\hello_world.js

[2018-10-22 18:20] rpottsoh commented on #4436
Simple question then.  Does the file `hello_world.js` exist in the folder?

[2018-10-22 18:30] shabankayitare commented on #4436
let me  try will tell you

[2018-10-22 18:33] shabankayitare commented on #4436
I got this
![image](https://user-images.githubusercontent.com/43929728/47311276-90770800-d639-11e8-9000-f8343ee804e2.png)
I guess the remaining is about debugging,right?
thank you for your help

[2018-10-22 18:35] shabankayitare commented on #4436
done!!!!
![image](https://user-images.githubusercontent.com/43929728/47311434-04191500-d63a-11e8-9113-6f94cf76c2f3.png)

[2018-10-22 18:35] rpottsoh commented on #4436
No.  you didn't type `exercism submit hello-world.js`.  It appears as though you just types `hello-world.js` and windows tried to execute your script......

[2018-10-22 18:36] shabankayitare commented on #4436
thank you sir,
I got stuck from morning!!!
just a small error like that!
hhhhhhhhhhhhhhhhhhhhhhhhhhh

[2018-10-22 18:38] rpottsoh commented on #4436
The source of your trouble was in typing an underscore `_` when you should have been typing a hyphen `-`.  Spelling counts.  :smile:

Were you able to submit hello-world?

[2018-10-22 18:41] shabankayitare commented on #4436
yeah I got the error!!
and i'm already submit
thank you again!!!!

[2018-10-22 18:42] rpottsoh commented on #4436
Feel free to close this issue since the problem has been resolved.  I'm glad it wasn't too serious and that you are now on your way.  Have Fun!

[2018-10-22 19:22] marina-ferreira opened #4437 "Email not recognized"
I had an account in exercism.io, submitted some exercises a while ago.
Tried to login today, couldn't. Then tried to reset the password, but it says the email cannot be found.

[2018-10-22 19:27] rpottsoh commented on #4437
Have you tried logging in by signing in using your GitHub account?

[2018-10-22 20:50] iHiD commented on #3936
Thanks @PatrickMcSweeny

[2018-10-22 20:50] #3936 closed

[2018-10-22 21:17] marina-ferreira commented on #4437
Signing in through Github did work, thanks!

[2018-10-22 21:18] #4437 closed

[2018-10-22 22:21] PatrickMcSweeny commented on #4435
This appears to be a duplicate of #4420

[2018-10-23 00:34] Ornataweaver commented on #4156
After changing to independent mode, can't comment under Mentor Discussion anymore:
https://exercism.io/my/solutions/70a00044df934e95b2b17e71d774eccd
However, I can edit or delete previous comments.

[2018-10-23 00:40] Ornataweaver commented on #4427
Do you think #UserStoryHub would be helpful in this cause?
Is the naming clear? Does it convey useful meaning?
If GitHub is 'C', UseStoryHub would be 'Python', easier for beginners to engage.

[2018-10-23 03:43] iHiD commented on #4156
Could you open a new issue for that please?

[2018-10-23 04:07] #4420 closed

[2018-10-23 04:07] #4435 closed

[2018-10-23 05:07] jafar021 commented on #4436
You are writing hello_world.js while the name of file is hello-word.js

[2018-10-23 11:07] john681611 commented on #3913
Yeah, this is super frustrating when you are just starting out and can power through and the site isn't updating.
`exersicm fetch` was a great command and I really don't see why its not been continued in some form in the newer version.
Just make default `exercism download <track>` get the next core one and add a flag for getting any extras.

[2018-10-23 13:02] iHiD commented on #4248
An error linked to this issue has been reopened in Bugsnag
[**NoMethodError** in **my/solutions#walkthrough**](https://app.bugsnag.com/exercism/exercism-v2/errors/5b76a6c7e0086a0018748a1b?event_id=5bcf1be700309bcb27b30000&i=gh&m=ra)

[2018-10-23 14:07] rpottsoh commented on #4436
@shabankayitare / @iHiD this issue may be closed.

[2018-10-23 16:57] #4436 closed

[2018-10-23 18:27] katrinleinweber opened #4438 "Calculate mentors' "weekly progress" per track"
https://github.com/exercism/website/pull/380 added a basic progress bar, calculated from [a static guesstimate](https://github.com/exercism/website/blob/4bfb65a58c60509756c98db500c694d8becc2df1/app/views/mentor/dashboard/show.html.haml#L22). In order to provide mentors with more specific data and thus a clearer view of the [situation in their track(s)](https://gist.github.com/iHiD/50f4fc82e6371776

[2018-10-23 19:39] jonakirke94 commented on #1778
Seems their is a new naming convention as the command is now

[2018-10-23 21:10] emcoding opened #4439 "Solutions You're Mentoring section: reverse order to find recent submissions"
Currently the list of exercises showing up in this section are ordered Oldest First. As my number of mentorings is growing, the list doesn't show all the solutions. Even when filtered.

Most of the times when I'm looking for solutions filtered by `completed` or `waiting for them`, I'm looking for some recent solution. Those are not available in the filtered lists, as they are ordered oldest -> new

[2018-10-23 21:34] iHiD commented on #4439
These should be paginated so you can click through to all solutions.

[2018-10-24 14:00] Ornataweaver opened #4440 "After changing to independent mode, can't comment under Mentor Discussion anymore:"
https://exercism.io/my/solutions/70a00044df934e95b2b17e71d774eccd
However, I can edit or delete previous comments.

[2018-10-24 14:01] Ornataweaver commented on #4156
Done:
https://github.com/exercism/exercism/issues/4440

[2018-10-25 23:06] rpalo commented on #4427
Any preference or anti-preference for the language used for possible scripts?

[2018-10-26 02:20] houhoulis opened #4441 "Update 'Code of Conduct' links across repos?"
In various exercism GitHub repos, I found several broken Code of Conduct links.  There are at least 13 broken links to "https://github.com/exercism/exercism.io/blob/master/CODE_OF_CONDUCT.md".

There's also one link to the Contributor Covenant, in [trackler](https://github.com/exercism/trackler): _"contributors are expected to adhere to the [Contributor Covenant](http://contributor-covenant.org/)

[2018-10-26 08:46] Ornataweaver commented on #4427
I want a place where I can put my suggestions. So users' suggestions would compete and you would find out what people need the most.

For example I need a dark theme for the website, my eyes get sore.
I wanna know how many other users have the same problem.

A repo where I wouldn't be afraid of posting. Something like
https://github.com/kelseyhightower/nocode, but not that much chaotic.

[2018-10-26 08:51] Ornataweaver commented on #4427
This issue is the closest thing I found to my imaginary repo.
That's why I'm putting my ideas here, I don't mean to spam.

[2018-10-26 15:19] APegram commented on #4289
After submitting the second exercise in the Python track, I seem to not be able to unlock the next exercise. Is anyone able to help resolve this?

[2018-10-26 18:53] iHiD commented on #4441
@houhoulis Yes please. Thank you! They should all go to https://exercism.io/code-of-conduct

[2018-10-26 18:55] iHiD commented on #4427
@Ornataweaver This might be the closest thing to your imaginary repo, but it's not that repo, so please don't post things here that aren't relevant to Exercism. You could start that repo and try and raise awareness of it through marketing or reaching out to people on social media etc, or start a Kickstarter or something similar. But Exercism isn't the place to post your ideas for other projects.

[2018-10-26 19:10] Ornataweaver commented on #4427
This isn't about other projects. I'm specifically speaking about exercism dark theme.

You had told me before not to talk about my ideas in this organization; So I don't say anything irrelevant.

Should I open an issue for it? I'm just trying to get a repo so I would keep number of issues low, unless many people want it.

[2018-10-26 19:15] iHiD commented on #4427
Is the naming clear? Does it convey useful meaning?
If GitHub is 'C', UseStoryHub would be 'Python', easier for beginners to engage.

This is nothing to do with a Dark Theme.

We have discussed this previously, if you have a feature request, firstly search for open or closed issues that reference that idea to see if there it has already been discussed. If it's not then you can open an issue reques

[2018-10-26 19:15] #4427 closed

[2018-10-26 23:36] swalladge opened #4442 "Improve display of '0 mentors' on tracks"
On tracks which have no mentors yet, it shows the same message but of course "0 mentors":

![1540596740](https://user-images.githubusercontent.com/9714796/47596687-7b023500-d9cf-11e8-8936-8fe405649f3f.png)

Perhaps this could be changed to a message that includes a link to the become a mentor page and a friendly message encouraging the user to mentor or send to someone they know who might want to

[2018-10-26 23:57] swalladge opened #4443 "Add link to exercise from student solution"
Currently when mentoring student solutions it's difficult to find and download the exercise (eg. for solving it yourself). A link to the `/my/solutions/<hash>` on the `/mentor/solutions/<hash>` page for the corresponding exercise would be nice.

Related: it would be nice to see the exercise id that is used in the `--exercise=` flag on all exercises to facilitate downloading the exercise without co

[2018-10-27 00:18] swalladge opened #4444 "Completed side exercises should display differently"
Referring to the small icons displayed in between the main track exercises like so:

![1540598936](https://user-images.githubusercontent.com/9714796/47597362-abe56880-d9d5-11e8-919c-930b3ef929bb.png)

I've completed the first three, but they won't display as completed unless I mouse hover over them. I know in the dedicated side exercise listing below the core exercises they are visually different,

[2018-10-27 02:28] swalladge opened #4445 "Creating tables in rake exercism:setup fails due to key length"
I was following the readme to set up a development instance of the website, but ran into the following that I couldn't resolve: `ActiveRecord::StatementInvalid: Mysql2::Error: Specified key was too long; max key length is 767`

traceback/log:
[code]

(using MariaDB version 10.1.36)

[2018-10-27 04:12] PatrickMcSweeny commented on #4431
It might be better to open an issue in the exercism elm repo: https://github.com/exercism/elm/issues

[2018-10-27 08:08] iHiD commented on #4278
An error linked to this issue has been reopened in Bugsnag
[**ActionController::UnknownFormat** in **registrations#new**](https://app.bugsnag.com/exercism/exercism-v2/errors/5b7c697c0b9f04001810cb95?event_id=5bd41ce100308012dd8a0000&i=gh&m=ra)

[2018-10-28 09:47] F3PiX commented on #4426
@ihid And one more thing: with the restructuring of the Ruby track, I feel it's a big advantage if side exercises are mentored before the student progressed into higher levels.

Heads up: I haven't seen even one side exercise showing up in my mentor queue since the change to Mentor on Request.

[2018-10-28 14:42] rpottsoh commented on #4426
Me neither in the Delphi track.  That just might mean that none of those students has requested mentoring for their side submissions.  But I have no way to know that.

[2018-10-28 14:49] F3PiX commented on #4426
If you're determinant:  on the mentor dashboard, you can filter 'Next solutions to mentor' by exercise  :-))
Or request a mentoring on one of your own side exercises and ask other mentors if it shows up in their queue. :-)

[2018-10-28 14:57] rpottsoh commented on #4426
I have sort of just done this.  I have a student that has completed all the available exercises and has taken to adding exercises to the track.  🥇  I am able to communicate with this person pretty easily and so have asked him if he has opted-in on mentoring any of his unmentored side exercise submissions.  I think I have tried your first suggestion, but will look again.  Delphi is a pretty sleepy

[2018-10-29 20:14] Ornataweaver opened #4447 "Give contrast to the code background in the Light theme"
There is no contrast in code in the light mode with the dark theme feature disabled:

for seeing the difference I have used the "Dark Reader" extension on browsers.
Dark them and Dark Reader:

<img width="1440" alt="screen shot 2018-10-27 at 12 56 54 pm" src="https://user-images.githubusercontent.com/27126408/47602192-0982b080-d9e8-11e8-9300-1e209579ad5e.png">

Only Dark Reader (like Light theme,

[2018-10-30 06:20] NobbZ commented on #4150
Please, can we have at least have some hints were to look for solving this?

It has happened again!

[2018-10-30 13:52] geckon commented on #3765
FWIW, there is a package in openSUSE. Unfortunately it's outdated (version 2.4.0) and thus it doesn't work. There is a bug reported but with no reaction yet:
https://bugzilla.opensuse.org/show_bug.cgi?id=1106476

[2018-10-30 16:41] iHiD commented on #4150
I've added it to the roadmap. I have a 10hr flight tomorrow night and I'm hoping to pick some of these low-hanging-fruit off during it.

[2018-10-30 16:58] iHiD commented on #4445
Hello. You need to use a version of mysql that can cope with longer keys on utf8mb4 columns. I don't know the exact versions for this but the README says MySQL >=5.7 and that's probably correct.

[2018-10-30 16:59] iHiD commented on #4444
@nicolechalmers Let's revisit this question when you have some free time.

[2018-10-30 17:00] iHiD commented on #4431
Yes. Could you move this to https://github.com/exercism/elm pls?

[2018-10-31 15:09] 12agnes commented on #4433
i coudn't access the exercism command client lists  for a while but it is fine now.... i think it was the GitHub problem.

[2018-10-31 18:47] rpottsoh opened #4448 "Review of submission is listed in Dashboard as "Requires Action" despite lack of updates"
@jeffdparker commented on [Tue Aug 28 2018](https://github.com/exercism/website-copy/issues/399)

I reviewed submission

    https://exercism.io/mentor/solutions/e659f656d83242a0a1d73688c6ce805f

and asked for revs.  Student replied, agreed to refactor, but has not resubmitted.
The submission is listed in my Dashboard under the Requires Action label.

Additional Information: I've been away from Ex

[2018-10-31 18:48] rpottsoh opened #4449 "Review of submission is listed in Dashboard as "Requires Action" despite lack of updates"
@jeffdparker commented on [Tue Aug 28 2018](https://github.com/exercism/website-copy/issues/399)

I reviewed submission

    https://exercism.io/mentor/solutions/e659f656d83242a0a1d73688c6ce805f

and asked for revs.  Student replied, agreed to refactor, but has not resubmitted.
The submission is listed in my Dashboard under the Requires Action label.

Additional Information: I've been away from Ex

[2018-10-31 18:50] #4449 closed

[2018-10-31 18:51] rpottsoh commented on #4448
@iHiD , moved

[2018-10-31 19:06] iHiD commented on #4448
@rpottsoh Thank you 💙

[2018-11-02 01:41] lfplazas10 commented on #4289
I have the same issue as most of the people above, I completed the space age exercise (Go track)  but the next one seems continues to be locked. tia

[2018-11-02 01:47] lfplazas10 commented on #4289
Never mind, just found out about the independent mode.

[2018-11-02 13:08] APegram commented on #4289
Yeah I ended up turning independent mode on

On Thu, Nov 1, 2018 at 9:47 PM lfplazas10 <notifications@github.com> wrote:

[2018-11-02 13:47] kytrinyx commented on #4186
I actually think this would make sense to keep in the `metadata.yml` file.

[2018-11-02 13:49] kytrinyx commented on #3765
Thanks @geckon, this sort of emphasises my point--we need these to be managed properly if we are to have them.

Is there a way to deprecate the existing openSUSE package so that people don't use it?

[2018-11-02 14:11] peschkaj commented on #3913
@iHiD those would both be great options. As a future nicety/stretch goal, it would be cool to have `exercism download ruby --random-side-exercise --difficulty easy` or something like that so the user knows what kind of challenge they're getting. I'm not sure I'd want to get a difficult exercise when I've said "Oh, I've got an hour to goof off and Game of Thrones isn't on... I know, I'll do an exer

[2018-11-02 21:48] petertseng opened #4451 "Please confirm whether img/icon.png is still necessary for all tracks"
As an example, see that an arbitrary track, prolog, has:

* https://github.com/exercism/prolog/blob/master/img/icon.png
* attribution for this icon in https://github.com/exercism/prolog/blob/master/README.md#swi-prolog-icon

however, I have not been able to convince myself that this icon has anything to do with https://assets.exercism.io/tracks/prolog-hex-turquoise.png or indeed whether it is show

[2018-11-02 22:38] iHiD commented on #4451
@petertseng Thanks :) They are not used anywhere and can be removed.
@kytrinyx Fancy scripting opening an issue anywhere these exist?

[2018-11-02 23:46] swalladge opened #4452 "Cli authentication token management"
There should be a function to re-generate the cli authentication token for the case where a token is compromised.

[2018-11-03 01:04] petertseng commented on #4451
Very good, thank you.

I will be closing this issue since I got the answer I needed.

If y'all choose to create issues requesting removal of icon.png, I leave it to y'all's choice whether to link them all to this issue or another that you create.

[2018-11-03 01:04] #4451 closed

[2018-11-03 02:10] rarose67 opened #4453 "Javascript problems"
Good evening, I submitted the my solution to the "Leap" problem in the Javascript track, but I can't get the next one to unlock.  What should I do?  Also, I tried the simple-cipher problem in independent mode, but get this message when I run npm test:

Error: Cannot find module './clone.js'
    at Function.Module._resolveFilename (module.js:548:15)
    at Function.Module._load (module.js:475:25)

[2018-11-03 16:00] iHiD commented on #4452
Thanks for the issue. I'm closing this as its a duplicate of #4150 and it's also fixed by https://github.com/exercism/website/pull/446 which will get merged/deployed in the next 24hrs.

[2018-11-03 16:00] #4452 closed

[2018-11-03 16:47] iHiD commented on #3913
@john681611 I don't understand what you mean about "site isn't updating" Could you expand pls?

[2018-11-03 19:56] #4150 closed

[2018-11-03 19:57] iHiD commented on #4150
@NobbZ Done. Deploying shortly.

[2018-11-04 02:34] agoldh20 commented on #3913
Exercism didn't used to be broken down into core exercises, it used to just be exercises that should be done in a specific order.

[2018-11-04 13:58] iHiD commented on #4076
So for side exercises, this is true. For core exercises, it's not true and "may receive assistance from a mentor" would be good. But that split makes it tricky.

We could say "request help from a mentor" which is true for both?

[2018-11-04 14:08] #4419 closed

[2018-11-04 15:06] iHiD opened #4454 "Remove n+1s in ExerciseMap"
There are a load of N+1s that seem to be coming from the the ExerciseMap class

<img width="700" alt="screen shot 2018-11-04 at 15 05 38" src="https://user-images.githubusercontent.com/286476/47965785-3287ee80-e043-11e8-9340-6314d02dcb09.png">

[2018-11-04 15:32] konni2020 opened #4455 "Javascript leap, 4 tests be skipped."
When I run `npm test`, it show:

[code]
Is it a normal behavior?

[2018-11-04 15:47] #4123 closed

[2018-11-04 15:49] iHiD commented on #4455
Hello. Yes it is. The idea is to make each test pass, and then unskip the next one and run it. That allows you to solve one step at a time.

See Understanding Skip Tests in the [JavaScript tests](https://exercism.io/tracks/javascript/tests) for more info.

[2018-11-05 06:43] ErikSchierboom opened #4456 "Allow mentors to verify mentor notes"
With the addition of mentor notes, one thing I found I wanted to do is to see how they were rendered to the mentor. At the moment, I believe I can only do this when I am actually mentoring an exercise. However, this means that I cannot check the mentoring notes for an exercise that is not in the mentoring queue. It would be helpful if I could also see the mentoring notes for exercises that are not

[2018-11-05 14:02] iHiD commented on #4456
You can see them via: `https://exercism.io/mentor/exercise_notes?track_id=ruby&exercise_id=isogram`. It's slightly different (as not in a modal) but I think it's probably good enough?

[2018-11-05 15:49] mrtnmgs commented on #4333
Codewars has a great UI for browsing results. Filters + grouping of solutions similar to what @pepasflo  is talking about... ("x similar code variations are grouped with this one")
<img width="754" alt="screen shot 2018-11-05 at 10 45 13 am" src="https://user-images.githubusercontent.com/16521819/48008733-3c176200-e0e8-11e8-960f-a405d87937a1.png">

No comment on the idiotic terminology ("war" / "w

[2018-11-05 16:14] mrtnmgs commented on #4333
Actually there's already an open issue about this, #4067

[2018-11-05 16:33] mrtnmgs commented on #4067
If we're trying to avoid a leaderboard, maybe it would be interesting to avoid presenting the solutions by users altogether?

Each block on the solutions page, rather than representing a user, could represent a solution. When a user wants to make her solution public, she has the choice to file it under one of the existing solutions or create a new one. In other words, this would create solutions "

[2018-11-05 16:49] ErikSchierboom commented on #4456
Good enough for me. Thanks

[2018-11-05 16:49] #4456 closed

[2018-11-05 16:51] mrtnmgs commented on #4350
I can see the misalignment when I zoom in in Chrome (zooming works fine in Firefox).
I'm on OSX 10.13.6 High Sierra running FF v.63.0.1 and Chrome 70.0.3538.77

[2018-11-05 17:23] katrinleinweber commented on #4067
With my original idea of clustering by structure, hopefully not. Depends on the quality of automatic clustering, though. My wild idea would be to throw the ASTs into a random-forest model or something to discriminate `super short smart-ass unreadable`, `another longer, more readable` and other such categories.

[2018-11-05 17:43] mrtnmgs commented on #4067
Right. I guess my thought was that relying on the users' judgment rather than automatic clustering might provide more relevant results. I'm not sure that's true though...

[2018-11-05 17:44] iHiD commented on #4067
Because the solutions presented would not belong to a specific user, this would require some kind of system for editing. Maybe users could vote to decide whether a proposed improvement should be accepted or not?

I think this is basically my (1) above, which is the direction we're heading in, yeah.

This is also what we are doing :D

[2018-11-05 18:36] j2jensen commented on #856
My two cents:

1. I didn't notice anything in the initial instructions about "how to run tests" (C# or Python track) that mentioned I would need to change the test code to activate the skipped tests, and I submitted my Leap exercise in C# before noticing that tests were being skipped. One of the first Leap submissions I mentored included the tests in their submission, and they hadn't removed the S

[2018-11-05 20:59] kytrinyx commented on #4418
I'd like to get rid of trackler, as it's getting more and more outdated.

I wonder if this could be built into Configlet, as that tool already does a lot of track-related checking of things.

We could do a couple of things:

- pass a flag that says where tracks live on the file system, and if the track is available, check if the file exists. This would need to also check if the repo is on master a

[2018-11-05 21:00] kytrinyx commented on #4385
That is an excellent question, and I have no idea! We'll need to check how the Prism thing is implemented. Maybe we can have a default for a language that doesn't rely on extension.

[2018-11-05 23:20] iHiD commented on #4219
This last point was a bug which has been fixed FYI.

[2018-11-06 08:05] ErikSchierboom opened #4457 "Alignment of close icon in mentor notes pop-up is off"
It looks a bit weird that the close icon is not aligned with the text:

![image](https://user-images.githubusercontent.com/135246/48050716-f7043600-e1a2-11e8-97e4-be2921d085c2.png)

If this is intentional, feel free to close this.

[2018-11-06 08:06] ErikSchierboom opened #4458 "Cannot easily close mentoring notes pop-up"
I would like to be able to quickly close the mentoring notes pop-up, either by:

- Pressing the escape button.
- Clicking outside the pop-up.

[2018-11-06 11:02] iHiD commented on #856
Re the documentation, this is something we should probably bake into the actual site better, rather than rely on individual tracks to get right. I don't know how we do that though.

I would recommend trying the hello world in ruby, as if you'd not done exercism before. Just download and run the test file and see what happens. It's quite a good process.

[2018-11-06 11:19] iHiD commented on #4458
Me too :)

[2018-11-06 13:36] #4457 closed

[2018-11-06 13:36] #4458 closed

[2018-11-06 14:45] iHiD commented on #4426
I'm really against punishing someone and not letting them progress on the track just because they happened to solve the exercise on July 13th not July 13th. Unless someone can explain to me why we should do this I'm going to close this as "won't fix" :)

[2018-11-06 14:49] bdjnk opened #4459 "Don't Skip Tests on Exercises Downloaded for Mentorship"
As a mentor, the first action I want to take after downloading an exercise for mentorship is to run the tests to ensure they all pass. None of the tests should be marked to be skipped in this scenario.

[2018-11-06 16:32] iHiD commented on #4459
So I wrote a little about my thoughts on this in [#856](https://github.com/exercism/exercism/issues/856#issuecomment-427475222).

My preferred solution to all the problems is to have some sort of per-language test-runner that fails fasts when any test fails. So we can eliminate skipping altogether, but still have the constraint that only one test will fail in any run.

[2018-11-06 16:33] iHiD commented on #856
@kytrinyx What are your thoughts on us spiking this for one or two languages as a prototype to see if it improves things for those languages. If so, we could then have it as a project that the OSS community can roll out for each language?

[2018-11-06 17:19] geckon commented on #3765
I'm not sure. It should be possible to delete the package but it might be better to update it which isn't necessarily hard. I suppose that now the new versions won't introduce backward incompatibility (or at least not as significant as this one) and it would be really useful to have the CLI tool distributed via the official repositories as it will be much easier to install especially for new users

[2018-11-06 18:43] bdjnk commented on #4459
That is fine and potentially worthwhile for students, but it seems like a complex undertaking.

As a mentor I simply want all the tests to run so I can easily provide feedback on the set of failures.

[2018-11-06 19:12] rpottsoh commented on #4459
Two test suites....  One with skips that the CLI serves to the students.  A second test suite could be served to mentors that would not contain "skips".  Can the CLI determine if a mentor or student is downloading in order to determine which suite to serve?  This idea only has about 60 seconds of thought behind it so I am will not be offended if no one likes it.

[2018-11-06 19:42] iHiD commented on #4459
Yeah. That would work. Depends if all the maintainers want to maintain two
test suites though. We could try and script it that per track i guess with
a rule to apply to each tests file.

On Tue, 6 Nov 2018, 19:12 Ryan Potts, <notifications@github.com> wrote:

[2018-11-06 19:53] rpottsoh commented on #4459
Those with test generators I would assume would not care too much.  Those without generators would be free to work out whatever manual means that they might come up with.

Or perhaps each track could establish a search and replace pattern that the CLI would utilize when serving the test suite to a mentor, the CLI would remove or comment the skip calls based on the pattern....

[2018-11-06 19:59] bdjnk commented on #4459
Each exercise in each language should have a single test suite. Duplicating it may accomplish what I want, but at a cost I don't.

I like your latest suggestion @rpottsoh, that a pattern could be associated with each language, capable of unskipping all tests, and run by the CLI on mentorship exercise download.

[2018-11-06 20:17] NobbZ commented on #4459
Maybe I repeat myself, but @kytrinyx said when she first publicly talked about v2, that she wants that the Testsuite gets uploaded exactly as the student has it on disc, including unskipoed tests, personal additions or removals.

If this would finally happen, this issue among many others were solved in an instant.

[2018-11-07 17:26] PatrickHollweck opened #4460 "Add a default icon for exercises that do not have a icon"
The side-exercises in the csharp track are not displayed correctly

https://imgur.com/a/Mss0pm1

[2018-11-07 20:47] kytrinyx commented on #3765
Do you know how this is done? What sort of authorization process is there, give that the exercism CLI maintainers did not submit the original package?

[2018-11-07 21:17] geckon commented on #3765
Not sure about deleting the package. As for update, I think anyone can do the update and submit the updated package and then any of the maintainers can simply approve and that's it.

I could do the update but it seems that there are some dependencies missing in OpenSUSE and I would need to add those as well which would (I believe) make me their maintainer which is not something I'm particularly wi

[2018-11-08 13:28] ErikSchierboom opened #4461 "Spacing of headers in mentor notes"
For the C# and F# track, when we list several reasonable solutions, we add a description to each solution using a header. However, these headers don't have much spacing, getting them to feel a little bit "cramped":

![image](https://user-images.githubusercontent.com/135246/48201386-4cd30c80-e362-11e8-8809-d516dcc83d3d.png)

[2018-11-08 13:51] FetzenRndy commented on #4460
Alright. Should I close this then?

[2018-11-08 14:08] iHiD commented on #4460
No thanks. I've renamed it to solve the problem you've described - which is when we've not got an icon, it all looks rubbish :)

[2018-11-08 18:16] kytrinyx opened #4462 "Add 'approved' status on solution in mentor view when someone else mentored"
I was mentoring a solution, refreshed and someone else had mentored ✨

I couldn't immediately tell from the comment whether it was approved or not. (It turns out, yes).
It would be *super* helpful if it said "approved" on that solution in this case.

[2018-11-08 18:36] petertseng commented on #4186
A point in favour of track-independent topics: Saves individual tracks' maintainers and contributors from having to make potentially duplicate decisions regarding those topics.

Let's say these topics go in `metadata.yml`, which I'd find an eminently reasonable place for them.

The next question would be: How would these get propagated to individual tracks?

* Tracks do NOT include these topics in

[2018-11-08 18:37] GregSimpson opened #4463 "lookup www-myproxy.com: no such host"
I am on Windows (using cygwin).
exercism worked the other day, but now fails on every attempt with:

$ exercism version --latest
exercism version 3.0.10
Error: Get https://api.github.com/repos/exercism/cli/releases/latest: proxyconnect tcp: dial tcp: lookup www-myproxy.com: no such host

$ env|grep HTTP
HTTP_PROXY=http://www-myproxy.com:80

Another thread (from 2014) mentions setting HTTP_PROXY to

[2018-11-08 19:43] rpottsoh commented on #4463
Since you are on Windows can you confirm that the CLI is working properly outside of Cygwin?  Please include the output of `exercism troubleshoot` in a comment when executed at a Windows CMD prompt and from within a terminal window in Cygwin.  What version of Windows by the way?

I am not sure how much I can help, but the information I have asked for may be helpful to others monitoring this issue.

[2018-11-08 20:00] GregSimpson commented on #4463
Thank you for your suggestions.
This was working the other day.  I was able to upload my hello-world intro project.
I also tried it in a Command prompt window - same result:

exercism version --latest
exercism version 3.0.10
Error: Get https://api.github.com/repos/exercism/cli/releases/latest: proxyconnect tcp: dial tcp: lookup www-myproxy.com: no such host

I am on Windows 10 Home
Version 1803
64

[2018-11-09 02:00] kytrinyx commented on #4186
Ok, I think it sounds like `metadata.yml` is a good place.

I tentatively prefer the second option, of adding the topics in their config. That means that they can exclude topics if they think that makes more sense, and it's more explicit. We could add machine assistance if we want to, but I think that for now the one-time cost for maintainers when adding a new exercise is quite low.

[2018-11-09 02:03] kytrinyx commented on #3765
Yes, this is understandable (and it's the reason we're not actually excited about the idea of having exercism distributed via 3rd party package managers in the first place--the maintenance cost adds up).

Yes, however the CLI is distributed as a binary. We package it up and upload the binary, so the dependency only affects the maintainer who is compiling it, not the downstream users.

[2018-11-09 08:01] sshine commented on #4186
Depending on what it is topics describe, some topics may be track-independent and others may be track-dependent.

For example, I just changed topics in "RNA Transcription" in exercism/haskell#762 from `maybe` to `either`, both Haskell terms. (`either` is called `result` in Ocaml.)

Some tracks may choose that "RNA Transcription" is not the place to introduce error handling.

A track-independent to

[2018-11-09 09:43] NobbZ commented on #4463
There is a free and public anonymisation proxy service named "myproxy.com" is that the one you want to use or is there a proxy server in your network known to the local DNS as www-myproxy.com?

If neither of this is true, try `unset` the proxy variable and try again without having a proxy configured.

If though you intended to use the free proxy service, try one of their IP/Port pairs directly ins

[2018-11-09 15:40] GregSimpson commented on #4463
Thank you NobbZ.
unset -ing the HTTP_PROXY variable worked.
I do not know why or how it was set.  I did not deliberately do that.

Thank you for the fast responses, everyone!

[2018-11-09 15:40] #4463 closed

[2018-11-09 16:00] rpottsoh opened #4464 "High-Scores: Recently added icon is not appearing on site"
This appears to be the case for the Ruby and Delphi tracks.  Other recently added icons are appearing.

[2018-11-09 16:18] iHiD commented on #4464
Thanks.

[2018-11-09 16:36] #4464 closed

[2018-11-09 18:48] OdellDotson commented on #4197
It seems that there aren't mentors for the python track either, I'm going to need to switch over to the independent mode... Really wish that I could get the extra exercises on independent mode, as waiting ~3 weeks for feedback on these early problems is a total blocker for actually learning anything.

[2018-11-09 19:22] Le1gh commented on #3883
Issue was fixed on July 19. Commit hash 5ebeccb2ebd1a122c51750a57f085323501ecdd0

[2018-11-09 19:43] iHiD commented on #3883
@Le1gh Thanks for helping. I think @NobbZ is talking about notifications rather than about emails, though.

[2018-11-09 21:54] Thiez opened #4465 "Finishing the last exercise in a track has misleading message"
I think an image best illustrates the problem:

![image](https://user-images.githubusercontent.com/204550/48289984-978f7a00-e471-11e8-8ba7-009e7bc06470.png)

The message suggests that another exercise should be unlocked ("You have unlocked the following Core Exercise:"), but no such exercise is displayed! Why? Because there are no more core exercises on the track (Haskell, in the example, but I im

[2018-11-10 00:40] petertseng commented on #4418
OK, thanks for those suggestions. I blended together the best of our ideas and implemented in https://github.com/petertseng/exercism-problem-specifications/blob/list-tracks/implementing-tracks.rb , which means I can safely close this issue.

Obviously this doesn't forbid future contributors from adding any such functionality in configlet or as an API endpoint on the Exercism v2 website, I just don

[2018-11-10 00:40] #4418 closed

[2018-11-11 08:32] NobbZ commented on #3883
Yes, I'm talking about on site notifications here. But as far as I remember a similar issue has been created for emails as well.

[2018-11-12 11:57] iHiD commented on #4465
Thanks. Well done on completing the track! :)

[2018-11-12 12:29] Thiez commented on #4465
My pleasure, I enjoy Exercism and am happy to see it improve. Too bad nobody spotted this sooner - this could have been a good hacktoberfest issue for someone 😃

[2018-11-12 12:47] iHiD commented on #4465
Ha - true.

[2018-11-13 13:14] ZapAnton opened #4466 "Is there a track-independent way to get the exercise version, currently implemented in a track?"
I was planning to make a small utility to get all outdated or unimplemented exercises in the various language tracks.

The way to check if the exercise is outdated would be to get the local version of the exercise and compare it with the `problem-specifications` version.

Unfortunately I could not find the appropriate field in the `config.json` and for now I have to look at how different tracks im

[2018-11-13 14:00] kytrinyx commented on #4186
Yepp, that's exactly right. This is the reason I'd prefer it to not be automated.

I don't think we should enforce consistency, just have the tooling to make consistency easy. My gut sense is that if we do the work to assign topics and work with them / use them for a while, we'll get a better idea of what we need.

We _may_ want a very small number of topics to be enforced (the only one I can thin

[2018-11-13 14:15] kytrinyx commented on #3867
I *think* this has been solved. I'm going to go ahead and close this. If it's not solved for you, would you please comment here and I'll re-open it so we can investigate?

[2018-11-13 14:15] #3867 closed

[2018-11-13 14:18] kytrinyx commented on #4379
@sfairchild I agree. Right now we mostly don't have enough mentors to keep things in the queue when there is already someone giving feedback, though I think in the future we may want to have some functionality around "get other mentors' opinion" or some such thing.

My impression is that this is the result of us rushing to fix some workflow issues without having the proper time to really think thr

[2018-11-13 14:20] kytrinyx commented on #4405
If we store it in the database, the release script could send an API call.
Or it could make a commit to master that would not be reviewed, push it up, and deploy.

I've not yet written the release script, but will as soon as it's easier to write the script than to do the release by hand.

[2018-11-13 14:22] kytrinyx commented on #4365
I don't know if we use "name" for anything; I would not be philosophically opposed to changing it to say "display name (defaults to handle if empty)".

[2018-11-13 14:23] kytrinyx commented on #4428
I think it would be worth trying it. We can always change our minds (and it sounds like it wouldn't be massively difficult to do).

[2018-11-13 14:25] kytrinyx opened #4467 "Write script to update reference to exercism repo everywhere"
This shouldn't be too difficult to do, it's mostly a bit of `git grep` and scripted commits/PRs.

[2018-11-13 14:27] kytrinyx opened #4468 "Write script to remove any img/icon.png files in tracks"
This should be a straight-forward script to write. I've got everything set up to do it, it's just a matter of having an hour to write it, run it, and follow up on any PRs.

[2018-11-13 14:30] kytrinyx commented on #3913
@agoldh20 The decision to do break it down into core/side exercises was deliberate. We're aware that there are trade-offs, and we made them quite carefully.

In independent mode there is no distinction between core/side exercises, though, so that might be an option. I think there are some small changes we could make to the independent track that would help make this experience better for those who

[2018-11-13 14:32] kytrinyx commented on #4076
It should be a fairly straight forward thing to update the readme template to have a different statement for core/side exercises. I don't think we'll even need to make any big change to configlet, as long as the data type for the config exercise has a method for whether or not it is core. Then we can access that in the Go template and do a conditional.

[2018-11-13 14:33] kytrinyx commented on #4459
I changed my mind about wanting to submit the test suite, at least by default.

Overall I think that it's useful to have everyone working against the same requirements (thank you for that phrasing, @bdjnk!). This will help keep mentoring consistent, and will allow for the addition of certain automated tools/steps to help offload simple things from mentors.

[2018-11-13 14:39] kytrinyx commented on #856
For minitest you have several options, none of them are appropriate for us. Default is "run everything in random order". You can set the tests to be in a deterministic order, but that order happens to be "alphabetical by test name". There is no fail fast.

A few years ago I wrote a plugin for minitest (it was gross, I don't think I even published it) which would allow you to keep the order as "wha

[2018-11-13 17:08] rpottsoh commented on #3867
I have checked again for the symptom that raised this issue and am no longer coming across it.  :+1:   I have no idea when it was fixed...

[2018-11-13 18:22] sfairchild commented on #4350
Your right, I see it when I zoomed to 110% on chrome running macOS 10.14, but 100% looks fine.

It seems to be a styling issue with prismjs https://github.com/PrismJS/prism/issues/1231. There is probably something in the sites styling that seems to be adding some slight extra height to each line that adds up by the end of the code block. I can probably look into this weekend unless someone else wa

[2018-11-14 01:33] perogi commented on #4237
+1 on this - I cannot read this site at all. I have to highlight or copy the pages so i can see them.

[2018-11-14 02:57] petertseng commented on #4466
According to https://github.com/exercism/exercism/issues/4131#issuecomment-410118808

Thus, there is no universal location. The current way to deal with this problem is to define the track-specific way to get the version. As you know, the rest of the logic stays the same, regardless of the way of getting the track-specific version

* https://github.com/petertseng/exercism-problem-specifications/bl

[2018-11-14 05:49] jrr commented on #3815
Is there anything I can do to help with this? I miss the teams interface!

[2018-11-14 07:14] ZapAnton commented on #4466
The hard part is that not every track keeps exercise versions.

Quickly looking through the tracks and this seems to be the case for .NET languages, JVM-based languages (except Ceylon), C, C++ and Crystal to name a few

[2018-11-14 07:34] petertseng commented on #4466
Indeed; it seems that such tracks would not be able to take advantage.

[2018-11-14 08:25] konstantinosBlatsoukasRepo opened #4469 "not able to submit"
Hi, I am facing the following problem:

 - When I submit an exercise from the CLI I am getting the following message:

 - this is my debug info
![image](https://user-images.githubusercontent.com/20351892/48469427-82ab4180-e7f7-11e8-9cf1-5de04665538f.png)

Thank you in advance

[2018-11-14 10:12] konstantinosBlatsoukasRepo commented on #4469
It seems ok now :)

[2018-11-14 10:12] #4469 closed

[2018-11-14 11:49] iHiD commented on #4237
@perogi Could you send a screenshot please so I can see how things look for you?

[2018-11-14 11:52] iHiD commented on #4219
As a user, this would annoy me so much though. If I'd just downloaded and solved an exercise, then go to submit it and I'm told the requirements have changed.

I agree with this in principle, but I don't get the practical route forward that doesn't provide an unexpected user experience.

[2018-11-14 12:13] iHiD commented on #4365
I'm not opposed to a "display name" field, but it needs updating in lots of places, and we need to add DB and UI to allow people to set that. So there's enough there that it's not trivial. I'll add it to the roadmap but it won't be a priority unless someone convinces me otherwise :)

[2018-11-14 12:33] iHiD commented on #4428
Added to the roadmap with a medium-ish sort of priority.

[2018-11-14 12:50] bdjnk commented on #4219
While this might be unexpected and potentially irritating it would also be rare, and the reality is *the requirements **have** changed* and I would prefer to face that upfront than find out later I'm out of date and out of sync.

I would be fine with a compromise where submission is allowed but a warning is given that the test suite is outdated and detailing a way to update it.

[2018-11-14 14:46] rpottsoh commented on #4237
@perogi take a picture with a camera even and post that image.

[2018-11-14 16:02] iHiD commented on #3867
I run this manually each time.

[2018-11-14 16:11] rpottsoh commented on #3867
ewww.  So you are manually keeping tabs on when exercises are being added and then (re)applying a fix?  Thanks for doing this.  Hopefully at some point you won't have to personally step in.  Can this be automated?  Or are you working on a permanent solution?

[2018-11-14 16:13] iHiD commented on #3867
@ErikSchierboom messages me every time anyone adds an exercise, then I run a script :)

The script takes about 8hrs to run. It's hard to speed up :)

[2018-11-14 17:00] ErikSchierboom commented on #3867
And there is of course the caveat that I only notify Jeremy when I see a change (and that only happens for the tracks I've completed).

[2018-11-14 19:37] NobbZ opened #4470 "Make the steps of the installation guide linkable"
Sometimes students get stuck when doing the guide and in the gitter we often need to ask for the exact steps taken in the guide to get to the correct page of it to get the necessary context to help the student in his situation.

Sometimes students are not even sure how exactly they got to where they are. Or steps are missing and supporters end on wrong pages.

This confuses students and supporters

[2018-11-14 20:19] NobbZ opened #4483 "[CLI walkthrough] Why `cd`ing to home or anywhere else?"
When checking the `PATH` and the availability of `exercism` binary in the system, there is this:

https://github.com/exercism/interactive-cli-walkthrough/blob/master/contents/linux/path.tw2#L24-L30

and try to run `BINARY_NAME` without providing the path:

The student is asked to change his working directory and then run `exercism`.

Why is this? As we do not provide any qualification to the `exer

[2018-11-14 21:15] rpottsoh commented on #3867
ugh....  I have been adding exercises to the Delphi track at a pretty healthy clip, thanks to @filiptoskovic.  I am not sure anymore I if all the new exercises are properly unlocked.  I no longer hold the status of having completed all the core exercises. :smile:

@filiptoskovic I believe you have completed all the core exercises in Delphi.  Are you able to tell if any of the recent exercises that

[2018-11-14 23:34] iHiD commented on #4350
Looks like you already have a copy of the database in the db you're running it on. `rake db:drop` and  `rake db:schema:load` should get you clean.

[2018-11-15 00:10] rpottsoh commented on #4466
In the Delphi track I am in the habit of including the `CanonicalVersion` as a const near the top of test suite unit.  This was mainly for my benefit to allow me to see quickly if my version was behind the canonical data for the exercise.

[2018-11-15 02:11] isomorphisms opened #4471 "404 when joining a track"
https://exercism.io/my/user_tracks?track_id=haskell

[sad-icon]

Oh dear, we can't find that page. Sorry about that.

Continue by heading back to the homepage.

[2018-11-15 03:51] rpottsoh commented on #4471
try https://exercism.io/my/tracks/haskell

[2018-11-15 09:22] filiptoskovic commented on #3867
@rpottsoh I have completed 14/15 exercises. All exercises are unlocked except last one (Luhn).

[2018-11-15 11:29] iHiD commented on #4471
Hi @isomorphisms. I presume this is referring to [this tweet](https://twitter.com/isomorphisms/status/1062890958390349825). You're going to have to give me a few more details about what doesn't work, please :)

It looks like you're accessing a page with a GET that's meant to my accessed via a POST. I would like to understand how that's happening so any information you can give would be appreciated

[2018-11-15 11:33] iHiD commented on #3867
I've run the script probably 3 times per week, and it's global. If anyone wants to take a gander,
I'd appreciate your thoughts. The [script is here](https://github.com/exercism/website/blob/master/app/services/fix_unlocking_in_user_track.rb). It needs:
- Making it faster
and/or
- Making it more SQL based (without locking things)

The key is probably writing something that just checks what's change

[2018-11-15 12:58] #4088 closed

[2018-11-15 12:58] iHiD commented on #4133
Closing this as it's stale. Feel free to reopen if still relevant.

[2018-11-15 12:58] #4133 closed

[2018-11-15 12:59] iHiD commented on #4334
Closing this as it's stale. Feel free to reopen if still relevant.

[2018-11-15 12:59] #4334 closed

[2018-11-15 12:59] iHiD commented on #4346
Is this still an issue?

[2018-11-15 12:59] iHiD commented on #4353
Is this still an issue?

[2018-11-15 13:00] iHiD commented on #4369
Can this be closed?

[2018-11-15 13:00] iHiD commented on #4409
Can this be closed?

[2018-11-15 13:00] iHiD commented on #4412
Can this be closed?

[2018-11-15 13:01] iHiD commented on #4434
Can this be closed?

[2018-11-15 13:01] iHiD commented on #4445
Can this be closed?

[2018-11-15 13:02] #4455 closed

[2018-11-15 13:05] iHiD commented on #4462
This is already there:

<img width="570" alt="screen shot 2018-11-15 at 13 04 49" src="https://user-images.githubusercontent.com/286476/48554714-0d16a280-e8d7-11e8-86da-2ac092a5a7e5.png">

[2018-11-15 13:05] iHiD commented on #4462
This whole page needs some restructuring. Something I want us to do in Jan.

[2018-11-15 13:06] iHiD commented on #4442
We shouldn't have any tracks without mentors. That's really problematic if this is the case. Can you remember which track was this was on?

[2018-11-15 13:52] kytrinyx commented on #4462
Sorry, I should have taken a screenshot. This is what I see:

<img width="536" alt="screen shot 2018-11-15 at 07 49 17" src="https://user-images.githubusercontent.com/276834/48557092-6537af80-e8ab-11e8-824d-1f3e0acfa766.png">

[2018-11-15 13:55] kytrinyx commented on #4466
Out of curiosity, in which context are you using that? On the exercism.io website? Or in the course of track maintenance?

[2018-11-15 14:07] ZapAnton commented on #4466
Track maintenance. Potentially (if the track maintainers will agree) the utility will be added to the track repo, so that new contributors could use it to find new exercises to implement, or outdated exercises to update

[2018-11-15 14:17] rpottsoh commented on #4466
@kytrinyx good question.  It is for the latter.  I started doing this during V1.

[2018-11-15 14:22] kytrinyx commented on #4466
@rpottsoh In that case I'd rather not have it as part of the code, but rather as part of the metadata, probably ideally as part of the `.meta/` directory, which doesn't get transmitted to users.

If we need the data on the site then I'd want to put it in `config.json` as part of the exercise objects in the `exercises` array, but I don't think we do.

[2018-11-15 14:42] mrtnmgs commented on #4350
Thanks Jeremy. I dropped the db and recreated it. I have a new error, Redis can't connect. Any idea how to fix?

[code]

[2018-11-15 15:08] rpottsoh commented on #4466
Just so I am clear, there is no problem with what I am doing, for the reason I'm doing it?  I have no qualms with the data also appearing in other places for the sake of the site.

However, my concerns of the version not appearing, in some form, in the test suite itself is that I think it would become quite easy for versionitus to creep in as the version "stamp" for the test suite would no longer

[2018-11-15 15:15] bencoman commented on #4346
My system current status is...
C:> ver
Microsoft Windows [Version 10.0.17134.407]

and I'm not in a position right now to use the "Insider builds"
However it shouldn't be much longer before this should generally be able to be tested...
https://blogs.windows.com/windowsexperience/2018/11/13/resuming-the-rollout-of-the-windows-10-october-2018-update/
https://www.microsoft.com/en-us/itpro/windows-10/

[2018-11-15 16:15] sfairchild commented on #4350
do you have redis installed and is it running?

@iHiD I just looked at the website README and it looks like installing redis is missing from the https://github.com/exercism/website#things-to-install.

[2018-11-15 16:48] mrtnmgs commented on #4350
oops sorry about that. I thought I have. Should have checked. I'll submit a PR to update the README. Thanks Sean.

[2018-11-15 16:54] sfairchild commented on #4350
I already created a PR that just needs to be merged https://github.com/exercism/website/pull/459

[2018-11-15 17:19] pablox-cl opened #4472 "Second iteration is published but the "reflection" stayed from the first one"
I published the first solution, write something as a reflection, then iterate over my solution and submitted it too. Now the community solutions shows the second iteration, but with the reflection of the first one (which looks strange, because the comment makes no sense).

Using my dashboard, I can see both iterations, but no way to access the reflection I wrote earlier, so I don't know if it's "l

[2018-11-15 17:24] dj911ice opened #4473 "Error: lstat /home/dj911ice/exercism: no such file or directory"
I am still having trouble having anything submitted and it seems to be a configuration issue, but how do I have it point to the path at hand?

![screenshot from 2018-11-15 12-23-06](https://user-images.githubusercontent.com/21042279/48570035-4cda8b80-e8d1-11e8-8c7d-db9769d52887.png)

[2018-11-15 17:34] NobbZ commented on #4473
There is no track `crystal_exercises`, therefore I guess you didn't download through the exercism CLI but by other means. Please use `exercism download` as described in the individual assignment, solve the exercise and then submit from the location it was originally downloaded to.

[2018-11-15 19:18] dj911ice commented on #4473
Thank you! I created the project manually initially, Although I wish I could change where it would download to. After downloading I was able to submit.

[2018-11-15 19:18] #4473 closed

[2018-11-15 21:14] chriseyre2000 opened #4474 "Old issues jumped to top of queue"
This is an example:

https://exercism.io/mentor/solutions/1b5de2e499304815891a38e48b85cc7a

This jumped to the top of the queue. A mentor had been helping them.

[2018-11-15 21:42] yyyc514 commented on #4300
FYI I actually see both sides of this.  I signed up to mentor Python then had second thoughts but I'd like to finish with the users I started mentoring (which are still in my queue)... but I can't submit posts because I'm no longer a mentor of Python.  I'd like to be able to finish up without being included in NEW Python posts also.

Just my 0.02.

I fixed it by just rejoining Python for now and I

[2018-11-15 22:20] mrtnmgs commented on #4350
I'm not sure how to unlock the tracks to access the solutions page and work on this issue. The README provides [a code snippet](https://github.com/exercism/website#unlock-first-exercise-for-each-user-track) but I don't know what to do with it. I tried in a Rails console and to run a task but `user_track_ids` is undefined.

[2018-11-15 22:35] NobbZ commented on #4473
You can change where to download to. `exercism config --workspace` or something like that. You still have to adhere to exercism internal structure.

[2018-11-15 23:05] swalladge commented on #4442
Yep, in fact I came across a few: D, Ballerina, LFE, MIPS.

[2018-11-15 23:06] #4445 closed

[2018-11-16 02:15] petertseng opened #4475 "the old conversation"
It's a bit out of date, but if I ever need to search this project for some terms like "mentoring demo" or "mentoring sample" or "mentoring screenshot" (even though this doesn't have a screenshot) I would like to have this on hand so that I don't forget about it.

Any commit before e5683b99a643061d2e9e79cd630b60021bac05c8 will do. It's in data/conversations/1.json.

By the way, being able to see th

[2018-11-16 02:15] #4475 closed

[2018-11-16 03:57] kntsoriano commented on #4454
Ready for review https://github.com/exercism/website/pull/460.

[2018-11-16 09:39] john681611 commented on #3913
Ignore that your system has changed to depend on mentors so i just needed to turn it off)

[2018-11-16 11:51] iHiD opened #4476 "Make it clear to others mentors when a solution has been abanonded"
See https://github.com/exercism/exercism/issues/4474 for more detials

[2018-11-16 11:51] iHiD commented on #4474
That was abandoned, so I'm going to say this isn't a bug and is behaving as expected. Thanks for reporting though :)

I'm going to close in favour of https://github.com/exercism/exercism/issues/4476

[2018-11-16 11:51] #4474 closed

[2018-11-16 13:03] chriseyre2000 commented on #4476
An automated comment in the stream would be enough.

[2018-11-16 14:01] iHiD commented on #4287
Yes pls, ideally for the moment. Although I run a catchall script most days anyway.

[2018-11-16 14:01] #4287 closed

[2018-11-16 16:22] #4448 closed

[2018-11-16 18:00] iHiD commented on #4272
Hi @TannerFilip. Which text are you referring to? I can't see anything with `#B1B1B1` on that page.

[2018-11-16 20:29] sfairchild commented on #4350
@mrtnmgs, If you need help figuring this out let me know. I am free tomorrow and can help with this.

[2018-11-17 06:39] chriseyre2000 commented on #4379
Here is an instance of two mentors on one solution:

https://exercism.io/mentor/solutions/9e5f6edffddd4ff2b738ced01400e44c

The solution made it back into the queue so seemed abandoned, but now two mentors get notified.

[2018-11-17 06:46] samWson commented on #4087
You might be interested in this. For the [exercism/pharo](https://github.com/exercism/pharo) language track we have been making our own client using the API so to speak.

Smalltalk, and by extension Pharo, lives inside its own development environment where you are always dealing with objects instead of files. Trying to integrate this with the exercism command line tool caused us problems, so we in

[2018-11-17 10:33] NobbZ opened #4482 "[cli walkthrough] mac os instructions using brew sometimes end up with old versions"
Let me first put a small disclaimer: I'm not using mac OS, and therefore the following is a bit of generic linux knowledge mixed with what I learned by helping students out. Knowing just enough to be dangerous ;)

Over the last couple of weeks, a lot of students asked for help in the gitter because `-token` was not a recognized flag. It always ended up beeing an old version installed.

For mac use

[2018-11-17 11:41] NobbZ opened #4477 "Sorting and filtering of tracks on personal dashboard"
As a student who has joined 30 tracks. I'd like to be able to filter/sort the tracks on my dashboard.

## sorting

* progress (absolute/relative)
* progress core
* progress side
* other?

## filtering

* core exercises available? (meaning preconditions are fulfilled to download the next core or having downloaded already but not committed yet)
* waiting for a mentor?
* changes requested by a mentor

[2018-11-17 12:43] yawpitch commented on #4429
@iHiD I think we can close this one; the oldest un-mentored `leap` in the queue is currently 3 days old.

[2018-11-17 13:09] yawpitch opened #4478 "Exercise Topics & Difficulty should display on My Solutions page."
The _Topics_ and _Difficulty Rating_ of any given exercise are reflected only on the **My Tracks** page, which means that if you want to look these up you have to go back to the **My Tracks** page and do a search; it would be very helpful if these displayed on the **My Solutions** page for each exercise, ideally with a rollover or click through explanation of each.

[2018-11-17 13:29] iHiD commented on #4432
@pgaspar Do you know if this is still an issue?

[2018-11-17 13:32] iHiD commented on #3818
@kntsoriano I think this is a duplicate of another issue I tagged you in (but can't find). Either way, would be good to improve this with the exercise-specific instructions

[2018-11-17 13:33] iHiD commented on #4416
Going to close this as duplicate of #4460

[2018-11-17 13:33] #4416 closed

[2018-11-17 13:35] iHiD commented on #4059
Totally agree. Closing as duplicate of https://github.com/exercism/exercism/issues/3902 :)

[2018-11-17 13:35] #4059 closed

[2018-11-17 13:36] iHiD commented on #3856
I've renamed this to reflect the desire (allow non-mentors to see a non-published solution) rather than one of the implementation-details of the URL.

This is something we're actively discussing, but it's complicated as it has a wealth of tradeoffs and associated changes.

[2018-11-17 14:34] iHiD commented on #4403
@monfresh Is this still relevant?

[2018-11-17 14:35] iHiD commented on #4219
This is what I've done.

[2018-11-17 14:36] iHiD commented on #4284
I've marked this as stale. I will close it in the next few days unless @frunks wants to follow on.

[2018-11-17 14:37] iHiD commented on #4298
Can this be closed?

[2018-11-17 14:38] iHiD commented on #4181
You can now reset a track and can update test suites so I'm closing this :)

[2018-11-17 14:38] #4181 closed

[2018-11-17 14:40] iHiD commented on #4011
Can this be closed?

[2018-11-17 14:41] iHiD commented on #3998
Is this still relevant since the various changes to the editor over the last few months?

[2018-11-17 15:05] bencoman commented on #4087
And for concrete sample code, we have [ExercismCommand](https://github.com/exercism/pharo/blob/master/dev/src/ExercismTools/ExercismCommand.class.st) with subclasses...
- [ExercismDownload](https://github.com/exercism/pharo/blob/master/dev/src/ExercismTools/ExercismDownload.class.st)
- [ExercismSubmit](https://github.com/exercism/pharo/blob/master/dev/src/ExercismTools/ExercismSubmit.class.st)

an

[2018-11-17 15:06] #3943 closed

[2018-11-17 15:06] #3983 closed

[2018-11-17 15:06] #4219 closed

[2018-11-17 16:19] jrr opened #4479 ""<!-- raw HTML omitted -->" appears in exercise Readme"
I noticed today that the the online Readme for F#'s "grep" exercise was missing some code blocks, replaced instead with "``":

https://exercism.io/my/solutions/acbfdc0c76bb4140af8c2d3c25bba422

For reference, here's the markdown source:

https://github.com/exercism/fsharp/blob/master/exercises/grep/README.md

Hopefully this is a lingering symptom of an old problem, and something just needs to be r

[2018-11-17 16:35] pgaspar commented on #4432
@iHiD I don't 😕 You can find the student's username on the link. Maybe reach out directly?

[2018-11-17 17:12] iHiD commented on #3983
Done.

[2018-11-17 17:13] iHiD commented on #4479
I think this may already be fixed. If you update to the latest version of the exercise (button below your solution code), does this fix it?

[2018-11-17 18:09] SinRas commented on #4011
@iHiD yep it's solved. thanks for heads up.

[2018-11-17 18:09] #4011 closed

[2018-11-17 21:30] #4412 closed

[2018-11-17 21:45] PatrickMcSweeny opened #4480 "Ruby Twelve Days not showing button to update exercise"
I was excited about the new feature to update exercises to the latest version because that would give me the ability to update the Ruby Twelve Days implementation to include the change that [I introduced](https://github.com/exercism/ruby/pull/859). However, when I go the solution page, I don't see the button where it should be. Screenshot:

![screenshot from 2018-11-17 16-39-40](https://user-image

[2018-11-17 23:30] NobbZ commented on #4087
Please remember that this was not asked, only to be able to download and submit, this was also asked to be able to operate the full site without leaving my editor of choice.

* Browsing my tracks as a student
* Choose/Update exercises
* Submit solutions
* Read and answer a mentors feedback
* Browse exercises that needs mentoring as a mentor
* give feedback as a mentor
* Basically: make me able to

[2018-11-18 01:41] monfresh commented on #4403
I think this can be closed now. A mentor reached out and I updated my code based on his feedback. Now I'm waiting to hear back.

[2018-11-18 11:54] xarxziux opened #4481 "Unable to update my email details"
I recently changed my email details in GitHub, removing my old one completely, so now all GitHub emails are being sent to my new email address.  As I access Exercism through GitHub OAuth, Exercism was initially configured to use my previous email address as per my GitHub settings.  However, now that I've changed emails on GitHub, I've been unable to find a way to copy that change over to Exercism.

[2018-11-18 12:38] #4403 closed

[2018-11-18 12:38] iHiD commented on #4426
OK - cool. Thanks :)

[2018-11-18 12:39] iHiD commented on #4480
What's your solution id?

[2018-11-18 13:11] #4320 closed

[2018-11-18 13:11] #4481 closed

[2018-11-18 14:52] PatrickMcSweeny commented on #4480
1919ea09570e4323af9e86eeb83e248b

[2018-11-18 18:37] kytrinyx commented on #4186
@sshine ... Haskell _might_ be an outlier when it comes to mathiness. That said, I actually do think that it would be worth moving these out to be side exercises, as there are almost certainly a decent subset of folks who would be absolutely fine with the _functional_ side of things and still feel intimidated by the math side of things.

[2018-11-18 18:49] iHiD commented on #4482
@nobbz @kytrinyx I've moved this to this repo as it's more likely to get someone pick it up with a PR.

[2018-11-19 00:13] dysolution opened #4484 "Rename submit button on Edit Team page"
The **Edit team** page at `/teams/<team_slug>/edit` has a **Create team** button for saving changes, possibly because it's reused from the page where a team is first created.

Should it be labeled **Save changes** on this page?

[2018-11-19 03:14] #4369 closed

[2018-11-19 07:19] sshine commented on #4466
@ZapAnton: I've wanted to make a matrix of (*track* x *exercise*) with each cell having a color that indicates whether an exercise is implemented and if its tests are up to date. I thought of using the git timestamp of the test files and the canonical data for the exercise. This is a bit crude, but besides the problem of determining what version a track test has, you also avoid when tracks tests d

[2018-11-19 13:22] iHiD opened #4485 "ActiveRecord::RecordInvalid in teams/teams#create"
## Error in Exercism V2

**ActiveRecord::RecordInvalid** in **teams/teams#create**
Validation failed: Avatar Wrong format

[View on Bugsnag](https://app.bugsnag.com/exercism/exercism-v2/errors/5bf2b8f859622400187082e6?event_id=5bf2b8f8003096b8a6410000&i=gh&m=ci)

## Stacktrace

    app/services/create_team.rb:7 - call
    app/controllers/teams/teams_controller.rb:19 - create

[View full stacktrace

[2018-11-19 13:32] nicolechalmers opened #4486 "Suggestion for New Email Subject: Exercism Teams"
The existing subject (see below) feels like a company update. My suggestion is to change it to something like "You've been invited" or "Accept your invite" or "Invitation to X on Exercism Team".

<img width="693" alt="screen shot 2018-11-19 at 13 29 19" src="https://user-images.githubusercontent.com/5421823/48710096-3b5df000-ebff-11e8-9227-90fad5eecbc2.png">

[2018-11-19 13:37] nicolechalmers opened #4487 "Edit to Teams Landing Page"
I think we need to be clear here that it's not necessary for existing Exercism users to create a new account in order to use teams.

<img width="570" alt="screen shot 2018-11-19 at 13 33 52" src="https://user-images.githubusercontent.com/5421823/48710310-c6d78100-ebff-11e8-853d-423d1f48cffd.png">
We could add something like the following underneath the buttons.

[2018-11-19 16:18] yyyc514 opened #4488 "Run tests on CLIENT and upload results to Exercism"
Leo Benkel on Slack:

ihid:

I suggested running the tests LOCALLY and just uploading the results - which seems (overall) pretty trivial in complexity to me (at least compared to a server side solution).  @iHiD asked me to open an issue here...

One imagines the pseudo-code would look something like this:

`exercism submit raindrops.rb`

[code]

Related:
https://github.com/exercism/exercism/issues

[2018-11-19 16:19] rpottsoh commented on #4466
I am all for that.  So far not a single learner has inquired about the `CanonicalVersion` constant that exists near the top of every test suite of the Delphi track.  Granted, the Delphi track sees nowhere the amount of traffic of the popular tracks.

At the time I chose a constant over a comment to be more flexible going forward; in case a "mechanism" were to be developed between the test suite an

[2018-11-19 16:20] yyyc514 commented on #4488
I think we already have the ability to upload multiple files - at least I've seen submissions posted with two files attached IIRC.

[2018-11-19 16:20] nicolechalmers opened #4489 "Team Invite Process"
There will be situations where creators of teams invite friends/colleagues to a team with the email address that is different to the email address that the friend/colleague has already signed up to exercism with.

I'm not sure what the best solution is.
Perhaps to have two links in the invite email - "Already have an Exercism account? Click here" and "New to Exercism? Click here"

[2018-11-19 16:24] nicolechalmers opened #4490 "Team creator has to accept team invite"
I have to accept/ reject an invitation to teams I have created. Once I've accepted, I become an admin and a member.

This feels strange as an experience but may be deliberate for bootcamp organisers.

[2018-11-19 16:29] nicolechalmers opened #4491 "Teams Duplication"
I'm not sure why but I seem to have 2 of the same team on my teams dashboard.

<img width="964" alt="screen shot 2018-11-19 at 16 25 10" src="https://user-images.githubusercontent.com/5421823/48720757-3d807880-ec18-11e8-944c-cdde65fd76d9.png">

[2018-11-19 16:30] #4490 closed

[2018-11-19 17:46] rpottsoh opened #4492 "Teams: my first impressions"
I signed into the new teams site for the first time.  This is what I was presented with:

![image](https://user-images.githubusercontent.com/6978003/48723834-b3271d00-ebf5-11e8-8f26-bb7078757008.png)

I opted to check out the Akron Code Club choice.  This is a team from V1.

Selecting team ACC I am presented with:

(I have obscured the team members identities)
![image](https://user-images.githubus

[2018-11-19 17:46] rpottsoh commented on #4492
I have tried creating a new team.

[2018-11-19 21:38] jonakirke94 opened #4493 "A way to provide track feedback or exercise specific feedback"

[2018-11-19 22:39] kytrinyx commented on #4466
Fair enough.

For what it's worth, the website itself will keep track of whether or not the test suite has been updated since the learner started working on the exercise, and will let them update their exercise to use the latest version.

[2018-11-20 07:03] mbarkhau commented on #4000
I'm having the same issue.

[code]

I'm running this inside of WSL, which is probably the reason it's failing, but I don't see what I can do about it atm.

[2018-11-20 07:08] NobbZ commented on #4000
Which version of Linux is running inside of WSL?
Does a windows version work?
Have you tried increasing the timeout? As far as I remember there should be a flag to do so...

[2018-11-20 07:13] mbarkhau commented on #4000
WRT Linux version:

[code]

WRT. Timeouts:
[code]

I have not tried the windows version yet. I was hoping to do the bash track, so I didn't think that would be a good choice...

[2018-11-20 07:30] NobbZ commented on #4000
I meant the version of Linux, eg Ubuntu.

If you want to do bash, just doing a windows installation and using a POSIX wrapper like cygwin or msys2 might be easier. Or perhaps a vagrant box?

[2018-11-20 07:34] mbarkhau commented on #4000
I think before I install vagrant or cygwin, I'll just give up.

[2018-11-20 07:41] mbarkhau commented on #4000
I restarted my computer and now it appears to work. I hate computers...

[2018-11-20 09:31] sshine opened #4494 "Markdown inconsistency in code blocks within bullet lists"
When giving Markdown feedback and adding a code block "within" a bullet list:

    1. Here be code:

           Codey McCodeface

    * Here be more code:

          Codey McCodeface

why must the code be indented by `4 + length("1. ")` or `4 + length("* ")`, respectively, rather than a fixed 8 spaces? It'd be very nice if it was a fixed amount, since 7 spaces are not nice, and a number of spaces

[2018-11-20 09:43] iHiD commented on #4493
Can you please describe what this issue is about?

[2018-11-20 09:48] NobbZ commented on #4493
I can only guess.

Yesterday someone asked in the gitter whats the prefered way to give feedback to a certain track, as they considered their feedbeck not worth a github-issue (we told them it is, because they considered the learnig curve to be not balanced well).

Also the github repositories aren't always easily to discover.

Therefore I asked that user to file a bug here, that asks for an easie

[2018-11-20 09:53] NobbZ commented on #4494
Because this is how markdown works.

To make a block thing belong to the previous bullet point, you need to indent it to the same level as the previous content is.

Also a code block is indented by 4 spaces.

Thats why you need 7 spaces in the first case and 6 in the other.

As I tend to prefer backticks anyway, you also can use this:

[code]

[2018-11-20 10:15] sshine commented on #4494
This is how the current implementation of Markdown works.

I'm arguing that

* Markdown works in many ways
* This way is not the same way as Stackoverflow
* This way is less ideal

and yes, using triple-backticks is probably preferrable to a variable level indentation. However, it does not read as nicely in plaintext, and since I'm using my code snippets more than any one student, I'd like for the

[2018-11-20 10:21] sshine commented on #4494
I realize that this is also the choice for GitHub's Markdown.

I'll contend.

[2018-11-20 10:21] #4494 closed

[2018-11-20 10:39] NobbZ commented on #4494
The version github uses complies with commonmark spec, as you can see in examples [233](https://spec.commonmark.org/0.28/#example-233) and [234](https://spec.commonmark.org/0.28/#example-234), please file a bug report at stack exchange, they need to repair their markdown parser.

[2018-11-20 11:29] jonakirke94 commented on #4493
Yes @NobbZ is spot on - I should have been more elaborate - apologizes!

[2018-11-20 12:17] iHiD commented on #4493
You can just open this issue in this repo and I'll triage it appropriately :)

[2018-11-20 12:17] #4493 closed

[2018-11-20 15:38] teor2345 commented on #4471
I see a 404 error when opening "Join a track" in a new tab on iOS Safari.
Tapping the button to open in the same tab works.

[2018-11-20 19:20] queso opened #4495 "Teams: Missing any solutions"
In the new v2 teams version, I have imported teams from v1 and a new team created from v2.

I still see 0 solutions for myself or the other solutions link.

<img width="1210" alt="screen shot 2018-11-20 at 11 20 26 am" src="https://user-images.githubusercontent.com/106/48797164-4fb0f400-ecb6-11e8-83b1-01e6d16e46e6.png">

[2018-11-20 19:39] mrtnmgs commented on #4350
Thanks @iHiD and @sfairchild ! Just getting back to this now. I did have the tracks and with Jeremy's answer I could unlock a solution.  Do you want me submit a PR to update the README with the way to unlock the solutions?
When I unlock a solution, the 'Solution' tab appears but is empty. Not a big deal because I can reproduce the issue in the 'Test suite' tab...
![screenshot_2018-11-20 javascript

[2018-11-20 20:05] queso commented on #4495
It appears that some docs may help here.

Teams are 100% independent from the main site, so you have to pull the exercise from the team site and then submit it back to get it to show as a team solution.

[2018-11-20 20:05] #4495 closed

[2018-11-20 20:17] F3PiX commented on #4471
To reproduce:
On Language Tracks page, click a new language, on that page click-and-hold the purple "Join the * Track".  A pop up menu appears, with 'Open in new tab'. Click that, a new tab opens -> 404.
The link is formatted as in the OP's description: `https://exercism.io/my/user_tracks?track_id=haskell`

The 404 does not appear when clicking 'Open' form the pop up menu, and also not when just c

[2018-11-21 07:45] PatrickMcSweeny commented on #4484
This could probably be closed.

[2018-11-21 10:31] sshine opened #4496 "Feature request: Let mentors see anonymised feedback from other mentors"
1. Let mentors opt in (by checking a checkbox) that their feedback may show up as example feedback.
2. Give mentors a button for each exercise that provides random, anonymised feedback that has been given five stars. The student's solution is shown, but the student's identity is anonymised and their messages are marked as hidden. The mentor's identity is anonymised, but their messages are shown.

[2018-11-21 11:38] F3PiX commented on #4496
I'm all for ways to help us mentors improve our feedback. 👍
And I'm not sure that these are the best ways to accomplish that.
Mainly because I'm not at all convinced that '5 stars rating' and 'great feedback' are the same thing. (Full disclosure: I'm not a fan of rating mentors, I'd prefer that students would rate what they learned.)

Re: means for feedback improvements
a) discussions on Slack:
Ju

[2018-11-21 14:53] #4484 closed

[2018-11-21 15:01] #4483 closed

[2018-11-21 16:42] #4454 closed

[2018-11-21 18:42] TaylorBeeston commented on #4062
Does this still happen? I believe it is fixed for me

[2018-11-22 17:17] bitfield opened #4497 "Markdown code blocks have uneven background colour"
![screen shot 2018-11-19 at 17 09 19 1](https://user-images.githubusercontent.com/142262/48916454-47a1b180-ee7a-11e8-8734-2aac0128bb11.png)

In the attached screenshot the `=` signs have a slightly lighter background colour than the rest of the code. This code is marked up as a code block in an Exercism comment with three backticks and `go`.

[2018-11-22 23:03] rt711 opened #4498 "Broken url"
On page:
https://exercism.io/tracks/elixir/resources

The ExUnit link is broken, the currently working url is:
https://hexdocs.pm/ex_unit/ExUnit.html

I would submit this change directly to website-copy repository, but the elixir/resources page is missing from there.

[2018-11-23 04:37] bkhl opened #4499 "Leave team"
I don't see any way to leave a team on https://teams.exercism.io/teams/rust-mentors

It would be nice, as I'm in a couple of teams from the old site that are no longer relevant to me.

[2018-11-23 07:35] sshine commented on #4496
I agree.

We can; but I'd like to know how. I'm posting core queue statistics to the Haskell track channel to try and motivate emptying the queue before the end of the week. I'm not really sure that's working out. Slack offers some quite interesting discussions at times, but it's mostly brainstorming, bug-hunting and less a day-to-day learning-to-mentor tool.

Good question! I don't know! The (lim

[2018-11-23 15:35] iHiD opened #4500 "Add pointer cursor to details/summary"
Add a pointer cursor to `.post-html details summary`

[2018-11-24 11:52] petertseng commented on #4186
Since it is likely that this will go in problem-specifications: If it does, I suggest it be added to the section of the CONTRIBUTING.md added by https://github.com/exercism/problem-specifications/pull/1406 (or whenever that documentation has moved to, if it has moved by the time this plan is implemented).

That section is attempting to list the ways in which individual tracks might be dependent on

[2018-11-24 14:32] sshine commented on #4496
I don't think snippets should be the format of mentor notes. To popularize snippets in some other way may be very valuable.

I'd like to see the anonymised feedback of other mentors for inspiration, whether it is selected via opt-in and ratings or some other recommender mechanism.

[2018-11-24 16:32] iHiD commented on #4126
Is this still an issue?

[2018-11-24 16:40] iHiD commented on #4047
@jabbalaci @zancas @enaheld Is this still an issue?

[2018-11-24 16:45] enaheld commented on #4047
Not for me

[2018-11-24 17:46] kytrinyx commented on #4309
This issue was addressed with an update to the error message in https://github.com/exercism/cli/pull/724

[2018-11-24 17:46] #4309 closed

[2018-11-24 17:47] kytrinyx commented on #4153
This has now been released.

[2018-11-24 17:47] #4153 closed

[2018-11-24 17:57] kytrinyx opened #4501 "Submit comment along with solution"
Mentors appear to have a much better experience when there is _some_ discussion along with the solution, rather than just code. One thing that may help this is if we allow people to submit a comment with the CLI along with their solution.

**Question 1: do we want to support this behavior from a product perspective?**
**Question 2: if so, what should the API and CLI look like?**

To support this w

[2018-11-24 23:20] TravisBumgarner opened #4502 "Broken CPP URL"
The Link for CPP Hello World to this page: https://exercism.io/tracks/cpp/installing doesn't work.

[2018-11-25 04:59] ftt commented on #4126
I am no longer on the independent track. Is it safe to switch to it and back to mentored to verify? I.e. what information will be lost in the switch?

[2018-11-25 13:41] bitfield opened #4503 "Downloading solution does not download code file"
There's something really weird about this solution: https://exercism.io/mentor/solutions/4462bd79a43248fcad180e520d2d52e2

When I download it, it doesn't actually contain the student's code, even though I can see it in the web interface. Is this because it's a legacy solution? I've mentored several other legacy solutions on the same exercise without this problem, though

[2018-11-25 18:45] crazyimp opened #4504 "Show estimate of how many other submissions are waiting for mentor feedback"
Hi,
before advancing in the normal mode (with mentor feedback), you end up waiting for feedback - some kind of estimate of how many other submissions are already in the queue would be great :).
A more advanced version would take the current feedback rate into account and show something like "your submission will be reviewed in about a day" or such.

[2018-11-25 18:48] crazyimp commented on #4504
@katrinleinweber

[2018-11-26 04:00] cstegel commented on #4156
I also cannot comment on community solutions or my own solution. This is very confusing since other people have put comments on solutions such as here: https://exercism.io/tracks/rust/exercises/saddle-points/solutions/062e8486d1954e00a5af8475eef26950

Any estimate on when this will be tackled? I tried to look at the `website` repo to see if this was an easy fix but I'm not familiar at all with how

[2018-11-26 13:14] tejasbubane commented on #4498
@rt711 The file resides here: https://github.com/exercism/elixir/blob/master/docs/RESOURCES.md please send a PR to that repository.

[2018-11-26 13:20] tejasbubane commented on #4453
Each core exercise will be reviewed by mentors. Your solution must be in the pending queue. You can either wait for the queue or post the exercise link here and I can have a look.

Did you run `npm install` before `npm test`? Looks like the packages are missing.

[2018-11-26 13:44] bitfield commented on #4503
No, there are no files in the download with backslashes in the name.

[2018-11-26 14:50] zancas commented on #4047
Not for me.

[2018-11-26 20:25] petertseng opened #4505 "Position statement: I don't want examples to go in .meta"
I am filing this merely to record my current position, and potentially refer back to it later.

Note that:

* There is no Exercism tooling that opposes my position
* There is no proposal in motion that opposes my position

Therefore, I don't need action or discussion on this position. I will be closing this issue immediately.

In https://github.com/exercism/discussions/issues/158 , it was suggeste

[2018-11-26 20:25] #4505 closed, assigned to nobody

[2018-11-26 21:35] rt711 commented on #4498
@tejasbubane Thank you, PR sent. Should I close this issue?

[2018-11-26 21:35] NobbZ commented on #4503
/CC @ihid, @kytrinyx

[2018-11-27 04:21] tejasbubane commented on #4498
@rt711 yes you can close this issue now.

[2018-11-27 06:57] NobbZ opened #4506 "Make date of approval and mentor who approved visible in the UI"
As a student I'm interested in who approved my solution, especially when there were more than 1 mentors involved in the discussion **or** if the mentor simply gave no feedback at all.

In general as a student I am interested in the date of approval as well as the date of submitting each iteration or date of publishing.

[2018-11-27 07:12] NobbZ opened #4507 "A couple of solutions is marked as approved and published without mentor interaction"
Yesterday I realised that some solutions of mine seem to be marked as approved and published without any interaction with a mentor.

Also those exercises do not appear in my git repository, which I started only weeks before the relaunch.

Since I only added exercises to the repository that I solved I can be sure that exercises missing in the repository are legacy. I can assume the same for all exe

[2018-11-27 10:04] bitfield commented on #4503
Similarly, `e6f6c37b6b6d40eea0e79f909462fd2b` does not download the code file, but it does download the test file.

[2018-11-27 20:19] #4498 closed

[2018-11-27 20:33] iHiD commented on #4505
I would like examples to go into the mentor notes setup personally.

[2018-11-27 23:30] #4163 closed

[2018-11-27 23:30] #4311 closed

[2018-11-28 00:45] jitenagarwal19 commented on #4500
@iHiD is it still up for grab? I would love to contribute if not.
Questions on this -
1. Do you mean all the `.post-html, .details and .summary` styles?
2. Is there a classname called `summary`? Asking because I was only able to find 2 instances of summary and both are not used as class.(PFA)
<img width="1511" alt="image" src="https://user-images.githubusercontent.com/8362231/49121019-f23a2a00-f2e

[2018-11-28 11:55] sshine opened #4508 "Feature request: Slack bot (queue status, recommend solutions to mentors)"
## Feature 1: Queue status

Lately I've hacked together a status report for #track-haskell; it looks approximately like:

    Core queue status:
    0 `Leap`, 0 `Space Age`, 8 `Bob`, 8 `Pangram`, 1 `Collatz Conjecture`, 0 `RNA Transcription`, 2 `Sum Of Multiples`, 0 `Difference Of Squares`, 0 `Grains`
    Total: 19
    Wait: 6 days

    Non-core queue top 3 waiting time:
    4 `Anagram` (2 months)

[2018-11-28 12:13] sshine commented on #4466
@ZapAnton: Have you made this small utility, or have you post-poned or abandoned the idea?

[2018-11-28 12:17] iHiD commented on #4500
@jitenagarwal19 Thanks. Go for it :) I've update the OP with the correct css class. The details are summary are elements, not classes. Sorry for the confusion.

[2018-11-28 12:44] ZapAnton commented on #4466
@sshine I did, and I have made a [proposal](https://github.com/exercism/rust/pull/742) to add it to the Rust track. Since the maintainer deemed that it is not practical to add the utility to the track, I will most likely extract the utility in my own separate  Github repo

[2018-11-28 13:36] sshine commented on #4466
There may be a better way to socialize these tools; @bitfield wrote a tool for automating mentor feedback that hasn't escaped the Go track as far as I know. I've written some hackish tool to extract statistics from the mentor queue. It is likely that we will be the sole maintainers of these prototypical tools, but we should at least gather and share knowledge of their existence; if not to spread t

[2018-11-28 15:51] kytrinyx commented on #4186
I agree, that would be a good place for this.

[2018-11-28 15:51] sshine commented on #4466
@ZapAnton: There's a #toolmakers Slack channel now.

[2018-11-28 16:16] kytrinyx commented on #4047
Thanks everyone; closing!

[2018-11-28 16:16] #4047 closed

[2018-11-28 16:30] kotp commented on #4466
[Toolmakers slack channel link](https://exercism-team.slack.com/messages/CEDATRP6U/)

[2018-11-28 16:48] TheComputerGuyDR opened #4509 "New User - Issues submitting from files on another local drive"
Hello,

I'm stepping back into programing and I'm starting with C#. I was able to download the Hello World File but when I finished I'm having issues Submitting it. The error I'm getting is with the syntax. I'm not sure if I need to be using "\" or "/" when submitting. If you can see the screenshot, I'm trying to get from my F drive so I'm not sure if I need to "cd" or change directory when upload

[2018-11-28 17:38] NobbZ commented on #4509
You need to use `"` when your file path contains spaces. This is not related to exercism, but how arguments gets tokenized by the shell and passed to the program to run.

Also the path you passed to `exercism` doesn't look like it were in your `exercism workspace`. Please make sure you do your stuff in the workspace or move files back and forth between your editors workspace and exercisms. I stron

[2018-11-28 18:04] mattastrophe commented on #4207
just throwing in some info for this discussion.  We've been using OmegaT (https://omegat.org) for managing our translations (and translation memory) for a few years.  It's worth considering as part of how you manage the translations (and the memories can be stored in git for future/multiple translators).

[2018-11-28 20:51] TheComputerGuyDR commented on #4509
That was helpful.
I was able to:
exercism submit "F:\WorkSpace\Visual Studio\csharp projects\Hello World\Hello World\Hello World\HelloWorld.cs"
That worked just fine.
What was throwing me off was this was posted how to upload:
exercism submit path/to/file1 [path/to/file2 ...]
So my thought was that I needed to upload two files instead of just doing one file.

I'm sure if there is multiple files I

[2018-11-28 20:51] #4509 closed

[2018-11-28 21:18] crankysparrow opened #4510 "What to do if mentor doesn't show?"
I'm working through the Javascript track and got responses within a couple of days for my first few exercises. Currently, I've been waiting on a mentor response for about a week - is that normal?

It would be great if there was a way to contact the mentor assigned to a solution, or make sure that it gets reassigned to a different mentor after a certain amount of time has passed.

[2018-11-28 21:52] NobbZ commented on #4509
When documenting CLI tools it is common to use the square brackets to signal "this argument is optional" as well as the ellipsis usually means "the previous argument can be repeated infinitely".

[2018-11-28 21:57] NobbZ commented on #4510
No mentor gets assigned before they comment on your solution.

Also even if a mentor is assigned and he doesn't report back after you have resubmitted or commented, the solution should go back into the pool after a couple of days, at least I think this has been implemented already… @iHiD?

Because of its age it should be ranked relatively high by then and picked up by another mentor.

[2018-11-29 09:17] MaksimDanilau opened #4511 "Improve complete solution dialogue"
When you are completing a solution, that hasn't has been mentored, you, however, see the "Rate your mentor" dialog.
![image](https://user-images.githubusercontent.com/8911660/49211273-3dc70380-f3d0-11e8-97f7-9419698f3463.png)

In my opinion, it's an unneeded step in this case.

[2018-11-29 15:07] arhont375 opened #4512 "Publishing of completed solution should also raise confirmation dialogue"
1. Complete solution without publishing
2. Open this solution again and `publish solution` button available
3. Click this button

Actual behavior
4. Solution immediately published

Expected behavior
4. Confirmation dialogue `do you really want to publish` is shown

[2018-11-29 15:22] iHiD commented on #4512
@arhont375 Thanks for this. What's the reason for this?

[2018-11-29 17:38] SleeplessByte commented on #4510
I think it's this one: https://exercism.io/mentor/solutions/05d2f49acf4b43db98d9656292f45516 right?

I'll review it; that said -- the current backlog for JavaScript is _9 days_, yours is 7 days old.

[2018-11-29 17:47] crankysparrow commented on #4510
@SleeplessByte I can't tell since I'm not a mentor...but no need to review it ahead of the backlog! Helpful to know that wait time is normal - I was worried that something was wrong but it seems that's not the case. Thank you for checking :)

[2018-11-29 17:47] #4510 closed

[2018-11-29 17:59] SleeplessByte commented on #4510
Change mentor in the URL to my :)

On Thu, 29 Nov 2018, 18:47 crankysparrow, <notifications@github.com> wrote:

[2018-11-29 18:48] SleeplessByte commented on #4497
![image](https://user-images.githubusercontent.com/1964376/49244285-ba2d0700-f40f-11e8-8b4e-63415da6158d.png)
This is JavaScript, TypeScript, Ruby and Kotlin when it's indented...

[2018-11-30 00:12] arhont375 commented on #4512
@iHiD Seems it's not possible to unpublish solution (at least I haven't found such button), so as this action is permanent then it's better to confirm with user if it his intended action and not misclick

[2018-11-30 00:13] arhont375 commented on #4511
Also I don't like then need to click buttons 4 times. Maybe it's better to combine all steps in one form?

[2018-11-30 06:01] arhont375 opened #4513 "Allow to rate mentor after completion"
I think it should be possible to rate mentor after submission if it was not done before. \
If during completion dialogue user forgot to rate mentor, but would like to rate him later such ability should be provided.

[2018-11-30 10:36] iHiD commented on #4512
You can unpublish solutions at `/my/solutions`

[2018-11-30 10:39] iHiD commented on #4507
Hi @NobbZ. So all of these have been approved and published during the migration, which was the behaviour we chose to do back then. Is the problem that you want to submit these for mentoring but can't as they're already approved?

[2018-11-30 11:01] NobbZ commented on #4507
Yes, I want them to get mentored, but I can't because they are already approved and published.

And why have these already been approved, while there have been and still are others which are published but marked as legacy, such that I can put them into a mentors queue?

[2018-11-30 11:33] arhont375 commented on #4512
Thank you!  Just expected to see this button on solution page, not somewhere else.

[2018-11-30 11:33] iHiD commented on #4507
Trying to debug....

Is there a pattern where the core exercises are not available, but the side exercises are?

[2018-11-30 13:59] fdumontmd opened #4514 "Solution to core exercise remains unreviewed since October 13th"
Hi,

my solution to rust / parallel-letter-frequency (https://exercism.io/my/solutions/eb4e4d40b3504d3e8523361d82963e67) has received no feedback from mentors since it was submitted on October 13th.

For the previous exercises, I would get a review in a week, two at most.

My apologies if it's all normal and due to mentors being overloaded.

[2018-11-30 14:41] iHiD commented on #4507
@nobbz Does this give you the option now?: `C#, Clock, 3571acf55d5340f9ac27c7f8d43724c3`

[2018-11-30 14:44] NobbZ commented on #4507
Yes, I can request mentoring on that exercise now.

[2018-11-30 15:18] samsonyuwono opened #4515 "Can't submit solution"
<img width="620" alt="screen shot 2018-11-30 at 10 17 29 am" src="https://user-images.githubusercontent.com/25911721/49297594-2f88ee00-f489-11e8-8659-3cadaba93c17.png">
]

Receiving this error.

[2018-11-30 16:08] iHiD commented on #4507
Great. Thanks. The others should work for you as well now.

[2018-11-30 16:11] Smarticles101 commented on #4515
You should replace `/path/to/file` with the file path to the solution you’re trying to submit

[2018-11-30 16:20] samsonyuwono commented on #4515
I should have clarified that I also tried that earlier.
<img width="744" alt="screen shot 2018-11-30 at 11 19 01 am" src="https://user-images.githubusercontent.com/25911721/49301089-d07ba700-f491-11e8-901c-12892c43ed58.png">

What am I doing incorrectly?

[2018-11-30 16:22] iHiD commented on #4515
You're using an absolute path to a directory. Try doing `./javascript/hello-world/hello-world.js`

[2018-11-30 19:12] rpottsoh opened #4516 "reword track header regarding number of students..."
![image](https://user-images.githubusercontent.com/6978003/49309029-ef853380-f4a7-11e8-9d32-03a0133ac79b.png)

This example is from the Delphi track.  There are presently 92 students.  The text immediately beneath `92 Students` should be reworded to be more generic, not indicate a number...

For example
[code]
Even this example I think could be improved.  There may not be many students in the give

[2018-11-30 20:58] iHiD commented on #4516
What's the reasoning for this?

[2018-11-30 21:32] rpottsoh commented on #4516
There are 92 students in the track presently, not hundreds.  Some tracks may have hundreds others probably do not.  Just looks funny to me worded the way it is.  The phrase seems to be to specific and should be more generic since it is being used for all tracks.  Unless you can make the wording be more dynamic based on the number of students in the track......

[2018-12-01 01:39] PatrickMcSweeny commented on #4516
![r1fdet3](https://user-images.githubusercontent.com/1254212/49322564-853bb580-f4de-11e8-9b32-e37a447c0853.gif)

It turns out the wording is already dynamic so I opened a PR to change it.

[2018-12-01 03:07] akeating commented on #4243
I'd be quite happy working on this myself without mentorship. Well it seems pointless keeping this issue open

[2018-12-01 03:07] #4243 closed

[2018-12-01 16:44] kytrinyx commented on #4503
Alright! I got my production credentials sorted out for my new computer, I'll be looking at this one this weekend. Sorry for the delay.

[2018-12-01 16:57] kytrinyx commented on #4503
Ok, at first glance, the original file paths have two different problems.

The exercise directory in one is called `__crypto-square` (leading double underscore), which doesn't match the exercise name. I'm confused as to why it was allowed to be submitted, so I'll look into that.

The exercise directory in the other one is `tournament-2`(trailing numerical suffix). This suggests that they're using

[2018-12-01 18:06] kytrinyx commented on #4503
Looking at the Tournament download, here's the verbose download response:

[code]

So the server sends the file, then when the CLI requests it, the server responds with 404.

Usually when the CLI requests a file, it requests it relative to the exercise directory:

[code]

So the CLI is incorrectly failing to truncate the path when requesting the file. It should be requesting

[code]

For tournamen

[2018-12-01 20:34] kytrinyx commented on #4503
@iHiD What's the best way to figure out exactly what request path the API expects for the `tournament.go` file in solution with UUID 4462bd79a43248fcad180e520d2d52e2?

The file path of the file in the database is `/home/$USERNAME/exercism/go/tournament-2/tournament.go`. Why would this request return a 404?

[code]

[2018-12-01 20:42] kytrinyx opened #4517 "Missing error translation in API when requesting solution file"
If you request a solution file from the API and it cannot be found, the API responds with a 404 and an error message, however the message in this case is an i18n error saying that the translation of the message is missing.

E.g.:

[code]

I don't think we need a very fancy error message, maybe something like "The file was not found."

This is a pretty straight forward fix, I think. We probably jus

[2018-12-02 16:48] kytrinyx commented on #4503
Thinking about this a bit, I would expect the API to treat the initial slash as just a URL path separator, and when there are two, well--it would probably just simplify. I tried URL encoding the initial slash like so:

[code]

but the API returned a 404 still.

(I also tried URL encoding the entire path, but this also gave the same result).

[2018-12-02 17:05] kytrinyx commented on #4503
I investigated the other instance of this problem, and I think that it has the same root cause. The file path of the exercise file is an absolute path on the user's filesystem, and starts with a leading slash. The API returns a 404.

<details>
 <summary>Verbose output from curl request</summary>

[code]
</details>

I think there are three next steps to fully resolve this problem

1. Ensure that th

[2018-12-02 17:24] kytrinyx opened #4518 "Return an error if the CLI submits a file with a leading slash"
**BLOCKED by https://github.com/exercism/cli/issues/773**

If the CLI submits a filepath with a leading slash, there's something wrong—all filepaths should be relative to the exercise directory.

If such a filepath is submitted, it likely means that the submitter is using an old version of the CLI. We can check this by checking the `User-Agent` header of the request, and comparing it to the `Locat

[2018-12-02 17:29] kytrinyx opened #4519 "Clean up stored filepaths that have a leading slash"
All filepaths for solution files in the database should be relative to the exercise directory. We need to run a script (very likely several iterations of a script) in order to clean up any paths that start with a leading slash.

I would recommend starting by cleaning up any paths where we can identify a directory that is `$EXERCISE_SLUG-$NUMERIC_SUFFIX`. Once we have that taken care of we can see

[2018-12-02 17:31] kytrinyx commented on #4503
I've opened issues for each of these next steps. I'm closing this issue in favor of the smaller, actionable ones.

Thank you everyone for helping gather all this information!

[2018-12-02 17:31] #4503 closed

[2018-12-02 17:31] iHiD commented on #4503
@kytrinyx I'm on Slack now if you want to work together to fix this?

On Sun, Dec 2, 2018 at 6:31 PM Katrina Owen <notifications@github.com>
wrote:

[2018-12-03 00:45] pgaspar commented on #4043
Just a quick :+1: and bump here as I just noticed http://24pullrequests.exercism.io myself.

Apart from the things mentioned in the title of this PR, I also noticed that it links to issues tagged with ["good first patch"](
https://github.com/exercism/exercism.io/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+patch%22), but there are none. I couldn't find that label in the label list, so I ass

[2018-12-03 00:48] pgaspar commented on #4517
@kytrinyx I can take this on if that's ok with you :+1:

[2018-12-03 10:01] iHiD commented on #4517
@pgaspar Go for it :)

[2018-12-03 10:01] iHiD commented on #4517
Could you also add a testcase for this scenario as I'm presuming there's not one as we didn't see the incorrect message. Thanks :)

[2018-12-03 15:00] kytrinyx opened #4520 "Write a script to reconcile maintainers.json and actual maintainer team"
We have active maintainers who are not currently listed in the maintainers.json file, and inactive maintainers who (probably) are.

We need to nag active maintainers to add themselves, and ask inactive maintainers if they'd like to set themselves to "alumnus" status (they can always come back if they get the bandwidth back in their life).

[2018-12-03 16:26] PatrickMcSweeny opened #4521 "Accessibility - font sizes are small and hard coded"
It seems to me that the font size of a good portion of the text on the web site is unnecessarily small, which would make it hard to read for people who do not have good eyesight. Furthermore, the vast majority of the font-sizes are encoded using pixels rather than relative units such as em. The reason this is significant is that some users change the default font size in their browser to make it l

[2018-12-03 16:36] PatrickMcSweeny opened #4522 "Accessibility - HTML tags are not semantic"
When I look at the HTML source code for the website I see div tags being used all over the place, even for wrapping text content. This would make it difficult for people using screen reading software to understand what is going on with the content and use its functionality. With the development of HTML5 we have a greater selection of semantic tags at our disposal than ever and we should be using t

[2018-12-03 16:39] iHiD commented on #4522
Thanks @PatrickMcSweeny. Got a couple of concrete examples we can discuss?

[2018-12-03 17:33] PatrickMcSweeny commented on #4521
@rpottsoh As for font sizes being hard coded, almost all of the font sizes are set using pixels so that speaks for itself. Here's a screen shot from a track page where I noted some of the text with small font-sizes.

![screenshot from 2018-12-03 12-19-18](https://user-images.githubusercontent.com/1254212/49390661-872c9100-f6f7-11e8-9c69-7c9c5af04121.png)

[2018-12-03 17:37] rpottsoh commented on #4521
Thanks this will be helpful to others.  I had tried areas of the site that are essentially just text (derived from MD) that appear to scale just fine when I adjust the zoom setting in Chrome.

[2018-12-03 17:40] PatrickMcSweeny commented on #4521
I realize that zooming is an option but I still think it would be good to use relative font sizes. I personally like to adjust the default font size in my browser and when I use websites that hard code their font sizes I feel like an element of control is being taken away from me.

[2018-12-03 17:48] rpottsoh commented on #4521
I understand better now, this makes sense.  Thanks for explaining.

[2018-12-03 18:00] PatrickMcSweeny commented on #4522
[The breadcrumb links](https://github.com/exercism/website/blob/master/app/views/my/tracks/show.html.haml#L6) on track and other pages should be in unordered lists.
[These stats](https://github.com/exercism/website/blob/master/app/views/my/tracks/show.html.haml#L26) should be an UL
[Exercise image tags](https://github.com/exercism/website/blob/master/app/views/my/tracks/_unlocked_exercises.html.ha

[2018-12-04 02:48] PatrickMcSweeny commented on #3815
Is this closable?

[2018-12-04 02:56] rpottsoh commented on #3815
Likely since Teams is online.

[2018-12-04 03:10] PatrickMcSweeny commented on #3881
Any progress on this?

[2018-12-04 11:12] #3815 closed

[2018-12-05 02:03] cvivona opened #4523 "submitting"
I downloaded and coded the hello world file and cannot figure out how to submit.  it is saved to  D:\Python Programs\hello_world.py. and it says it cant find the file. I dont know what to do

[2018-12-05 06:38] jrr commented on #3815
Nice!

Is the new system documented anywhere? How is it differerent from teams v1?

[2018-12-05 10:51] iHiD commented on #3815
Probably not anywhere near enough :)

The workflow is: Create a team, invite teammates, choose an exercise, submit it, get feedback from your teammates. Repeat. Hopefully it'll be intuitive enough for that to be doable, but if there's something clear, please open an issue and I'll try and make things clearer. I'm treating Teams as very beta right now :)

[2018-12-05 14:03] #4517 closed

[2018-12-05 14:14] NobbZ commented on #4523
Hello @cvivona!

One thing to consider is, that windows (as well as linux) needs spaces to be escaped in one way or another. The simplest way were to use doublequotes (`"`) around the path to the file.

The other thing I realize with your command is, that it doesn't look like the usual path that exercism would expect.

The CLI strictly requires you, to have all solutions below the folder that is c

[2018-12-05 16:20] PatrickMcSweeny commented on #4163
It'd be good to add a link for unpublishing a solution on the solution page itself. I spent far more time than I care to admit looking for a link there.

[2018-12-05 16:31] iHiD commented on #4163
Want to open an issue for that?

[2018-12-05 17:17] PatrickMcSweeny opened #4525 "Add link to unpublish solution on 'my solution' page"
I was expecting to find a link to unpublish a solution on the 'my solution' page and it took me a while to find the actual place to do it so I think it would be useful to include a link on the solution page itself.

I would be willing to work on this.

[2018-12-06 06:07] elyashiv opened #4526 "Pause button in non-mentoring mode is wrong size"
One picture should explain it:
![pause_button](https://user-images.githubusercontent.com/1577529/49564842-b1679400-f92d-11e8-8bf7-d5e795b2520b.png)

It seems like the width of the button is 100%, unlike the rest of them which is 200px.

I think I can fix it myself, but I couldn't find where to clone the code... Is the website opensource?

[2018-12-06 16:44] Tim-Gaede opened #4527 "Kotlin intructions not updated"
Running the tests for the Julia track was very straightforward but I cannot get started on the Kotlin track.

When I open a Test.kt file in IntelliJ IDEA, I am greeted by "Unresolved reference" errors.

[2018-12-07 01:38] SleeplessByte opened #4529 "Teams: Remove exercise / solutions at iteration 0"
As a user I want to be able to remove "started solutions" I accidentally clicked but have not submitted anything to.

Right now it's clogging up the "exercises" under _your solutions_.

[2018-12-07 01:41] SleeplessByte opened #4530 "Teams: Structured track"
It would be great if Teams could actually select exercises and have it be a track, just like the current tracks. Right now they are random exercises everyone can just pick and work on.

Use case:

We'd like to use Teams for our interns to get them to be more confident in the languages they are coding. The exercises and way of CLI + feedback via exercism is amazing, but we want our own "track-exper

[2018-12-07 09:47] bitfield opened #4531 "Solution uploaded in a C:/Exercism/go/triangle-2/ subdirectory"
In [Solution dab161dff305454ba184bf721f759465](https://exercism.io/mentor/solutions/dab161dff305454ba184bf721f759465), it looks as though the student has run something like:

[code]

and thus we've ended up with this file layout:

[code]

Is this a known issue?

[2018-12-07 14:41] tehsphinx opened #4532 "Mentor dashboard: sorting of `solutions you're mentoring`"
The sorting of `Solutions you're mentoring' on the mentor dashboard seems to be oldest first.

That is perfect for "Requires action from you". But it is problematic if I am looking for a solution I just mentored or I mentored a few days ago. In "Completed" I never find something.

Maybe that could be inverted to show newest first for all drop-down items except "Requires action from you" -- until t

[2018-12-07 16:48] ruanpienaar commented on #3942
yeah, solution box could be slightly larger, or at least include some button that expands it:
<img width="1285" alt="screenshot 2018-12-07 at 16 46 51" src="https://user-images.githubusercontent.com/584394/49661034-f7ad1800-fa3f-11e8-9cfa-bf8ce4728b61.png">

[2018-12-07 17:24] RangerDan opened #4533 "Begin walk-through link not displaying instructions if Ts&Cs not accepted"
Having navigated to a solution in Teams mode for the first time, the Begin walk-through button did not show the popover about the OS I'm using, "Welcome to the Exercism installation guide!"  Instead, it was forwarding me with a 302 to the Terms & Conditions page, but the page was not redrawing.  Right-click, Launch in new tab showed the Ts&Cs page just fine.  After accepting Ts&Cs and returning to

[2018-12-07 18:46] sshine opened #4534 "Bugs related to Markdown auto-bullets in comment field"
## Bug 1
Write a comment to a student containing:

    - Hello <Cursor Here>World

and hit <kbd>Enter</kbd> This will produce:

    - Hello
    - <Cursor Here>
    orld

so auto-formatting bullets eats the `W`.

## Bug 2
Write a comment to a student containing:

    1. Hello<Cursor Here>

and hit <kbd>Enter</kbd> and <kbd>2</kbd> in quick succession. This will produce:

    1. Hello
    23. <Curso

[2018-12-07 19:02] sshine commented on #4514
I can see that the average waiting time on the Rust track is currently one month, at least for the later core exercises. So it appears to be the case that mentors are simply being overloaded. :-)

[2018-12-08 00:30] iHiD commented on #4527
(cc @exercism/kotlin)

[2018-12-08 00:31] iHiD commented on #4532
Todo:
- Invert to show newest first for all drop-down items except "Requires action from you"
- Add pagination

[2018-12-08 22:34] PeterPerhac opened #4535 "Add visual cue in the UI warning that tests might not match solution (pre-mid-2018 solutions)"
As discussed with @iHiD on Slack,

A badge/banner/icon could be added to each pre-mid-2018 solution to inform users that the version of tests could be different from the version of submitted solution. Also the solution could be for a different version of the exercise (possibly not a valid solution to the current version of the exercise)

[2018-12-09 01:13] F3PiX commented on #4532
Related to #4439

[2018-12-09 08:13] elyashiv opened #4536 "Topic field overflow"
![rust_topic_overflow](https://user-images.githubusercontent.com/1577529/49694896-f47a6f00-fb9a-11e8-967f-18aa19b63402.png)

This happened to me in the rust track, but I guess it's not unique for it...

[2018-12-09 09:52] absurdist opened #4537 "language set up pages difficult to find, only linked from hello world?"
I've come back to exercism after the redesign. I remember previously there were very useful pages about how to set up to work in a given language. For example, the cpp hello world says: 'Make sure you have read the C++ page on exercism.io. This covers the basic information on setting up the development environment expected by the exercises.'
Following the link to the cpp page is now just a list of

[2018-12-09 12:46] fdumontmd commented on #4514
Thank you for the feedback; I'll wait then (I have the Advent of Code to keep me busy).

[2018-12-09 12:46] #4514 closed

[2018-12-09 13:44] NobbZ commented on #4537
Those pages are still there and visible on each languages overview page in the right menu.

[2018-12-09 14:44] da9l commented on #1978
Given the change to mentorship instead of a badge system have you measured the amount of comments, likes and thumbsups solutions has been given. I'm getting the impression that non-mentors has almost stopped writing any comments at all and the number of newly created solutions has decreased.

I think a badge system like the one on stackoverflow would make more non-mentors comment and give feedback

[2018-12-09 15:11] NobbZ commented on #1978
Not “almost”. Non-mentors are currently unable to comment on solutions.

Not every one publishes a new solution. But I have no statistics about how many submissions there were before v2, nor do I have how many there are today.

[2018-12-09 19:58] da9l commented on #1978
I stand corrected. I see that now. No wonder the amount of comments has plummeted :-p
Is it possible to get submission, likes and comment statistics from the site?

[2018-12-09 20:17] iHiD commented on #1978
The amount of solutions and comments have dramatically increased since
launch of v2. They're just private mentoring conversations now so you're
not seeing them publicly.

On Sun, 9 Dec 2018, 19:58 Daniel Hegner <notifications@github.com wrote:

[2018-12-09 20:36] iHiD commented on #1978
I'm not sure about f#. I'll ping the mentors to look :) The issue is the shear volume of solutions generally (around 10,000 last week). Some tracks keep up, others need more mentors.

[2018-12-10 08:15] lucianferoiu opened #4566 "Streamline the cycle of download-submit"
The command line is quite verbose, having to specify the track and the exercise (by an identifier that usually needs to be copied form the website, etc). Also, checking the website for the slugs, clicking various buttons, copy-pasting the command line and so on are breaking one's stride :) -- especially in the solo ninja mode.

Wouldn't it be better if a _current state_ is maintained (perhaps back

[2018-12-10 11:13] NobbZ commented on #4523
hello @cvivona, have you been able to sort out your issue or do you need further

[2018-12-10 11:32] F3PiX commented on #4537
As there are more people that seem to not find that information easy, maybe the links should be on a more prominent place.

[2018-12-10 12:04] iHiD commented on #4536
@exercism/rust - Could we reduce the length of that topic please?

[2018-12-11 10:32] sshine opened #4538 "Feature request: Mark solution as requiring your action"
In exercism/website#462 the ability to ignore solutions requiring action was added.

I'd like the opposite: For solutions that don't require my attention, mark them as requiring my action.

The use case:
- I approve a solution but recommend optional improvements.
- The student submits those and I get a notification.
- I check the submission on mobile, but realize I need a PC to give them proper fe

[2018-12-11 10:47] alex-bender opened #4539 "Feature request: mark extra exercises as completed"
I would be great to know which of the extra exercises are completed. So mark them with any symbol would be helpful.
(or at least differentiate it by color/shadow/gray out)
![image](https://user-images.githubusercontent.com/3628862/49795507-d0f22880-fd42-11e8-9b8e-223a692f0c0b.png)
Thanks

[2018-12-11 11:02] NobbZ commented on #4538
As a workaround I shared those submissions to myself via google inbox and snoozed the link until I'm home/at work depending of direction of travel.

After google removed "snooze until location", I snooze until a time I expect to be near a computer.

Those are not very good workarounds and I'd probably use the proposed feature as well.

[2018-12-11 11:40] sshine commented on #4538
OK. I'm not using email notifications.

[2018-12-11 11:44] NobbZ commented on #4538
You do not need to use email notifications, you can just use the website and use the "share link" functionality of your browser. Well, and you need an app to share via that allows to share with self, and that allows "snoozing".

[2018-12-12 10:45] bitfield opened #4540 "'No new notifications' when not on first page of notifications"
To reproduce:

1. Go to the notifications page.
2. If you have more than one page of notifications, click to go to the last page.
3. Read all the notifications on this page.
4. Refresh the page.
5. It tells you 'You have no unread notifications at the moment', even though there are N other pages of notifications.

Perhaps if there are no new notifications on page N, you should automatically be tak

[2018-12-12 15:49] glenegbert commented on #4156
I am having the same issue as cstegel

[2018-12-13 13:12] SleeplessByte opened #4541 "mentorcism: Consider dropping star-based rating"
This issue comes from both the standpoint of me as a student and me as a mentor.

## The current state
First, let's look at what exercism says about rating mentors:

I am assuming that _us_ here is the exercism collective including myself as mentor.

Second, let's see what I get as a mentor:

IIRC the message changes a bit when it's above the median to something like "you're doing great".
As noted

[2018-12-13 13:13] SleeplessByte commented on #4539
I agree. Right now you can see it by hovering. It will say "Completed", which is tedious.

[2018-12-13 13:13] SleeplessByte commented on #4537
I've searched for it quite a few times when starting a new language. I expected the "Getting Started" walkthrough to have it, but it did not.

[2018-12-13 13:43] alex-bender commented on #4541
To have badges like with Uber it a great idea.
Also, probably it could be useful if students would be able to can vote for mentor notes to kind of promote notes into mentoring notes if the note is actually good written.

[2018-12-13 14:09] MaksimDanilau opened #4542 "mentor: show the valuabilty of decisions to mentor"
From my perspective, the mentoring of tasks from tracks is more valuable.

So, it will be great to have on the mentoring dashboard the mark (some label) that shows that the task is a part of the main language track.

Now, also, there is no any opportunity to see the structure of the main track in independent mode.

[2018-12-13 14:23] iHiD commented on #4542
Hi @MaksimDanilau - I'm not sure I quite understand. By the "main track" do you mean the "core exercises"? If so, then they are already marked as "Core".

[2018-12-13 14:33] iHiD commented on #4537
We'll have a think about making them more prominent.

They're on the RHS of the tracks here FYI:

<img width="895" alt="screenshot 2018-12-13 at 14 32 21" src="https://user-images.githubusercontent.com/286476/49945084-ee122d00-fee3-11e8-8a60-bad274d888b3.png">

[2018-12-13 14:38] ClockworkOmega opened #4543 "Wanting To Help"
Hey Guys,

I'm a senior computer science major and I'm looking to get some experience contributing to open source projects and advancing my knowledge. I primarily have been taught in C++ with some limited experience in C# and Python. Is there anything I can do to help out or even maybe offer review of C++ code? I appreciate any feedback you can give me.

[2018-12-13 14:42] SleeplessByte commented on #4537
Yep! That's where I got to it in the end :)

On Thu, 13 Dec 2018, 15:33 Jeremy Walker, <notifications@github.com> wrote:

[2018-12-13 15:21] PatrickMcSweeny commented on #4543
Have you looked into becoming a mentor?

https://exercism.io/become-a-mentor

[2018-12-13 15:24] PatrickMcSweeny commented on #4543
Another way to contribute is to become a track maintainer:

https://exercism.io/become-a-maintainer

Here is the repository for the C++ track:

https://github.com/exercism/cpp

[2018-12-13 17:51] ClockworkOmega commented on #4543
Thanks for the advice. I'll look into those options and try out some of the current course work to see how it all works.

[2018-12-13 20:02] PatrickMcSweeny opened #4544 "Ruby 'High Scores' solution page is completely blank"
I had previously started the Ruby 'High Scores' exercise but not completed it. When I checked the solution page most recently, everything was blank:

![screenshot from 2018-12-13 08-48-07](https://user-images.githubusercontent.com/1254212/49964261-0edc8180-fee8-11e8-9eeb-6dd889cd0772.png)

This was already opened in the exercism Ruby repo at exercism/ruby#898

[2018-12-13 20:09] chloesf opened #4545 "Exercism submit first exercise"
Hello, trying to submit my first exercise on the Go Track.
I keep getting the Error:

    The file you are trying to submit cannot be found.

Version
----------------
Current: 3.0.11
Latest:  3.0.11

Operating System
----------------
OS:           darwin
Architecture: amd64

Configuration
----------------
Home:      /Users/chloe
Workspace: /Users/chloe/Exercism
Config:    /Users/chloe/.config/exer

[2018-12-13 20:14] F3PiX commented on #4541
@SleeplessByte: thanks for bringing this up and the thoughtful explanation. 👍

As quoted, I'm all for not star rating the mentors, I'd prefer that students would rate what they learned from an exercise. (The Uber-like badges sound great.)

In the meantime, I'd prefer to see what the mean/average of mentoring for a specific _exercise_ is, as a comparison, rather than the mean of mentor ratings. I b

[2018-12-13 20:31] NobbZ commented on #4545
What is the command you use when you submit, from which folder do you do that?

[2018-12-13 20:36] chloesf commented on #4545
exercism submit /Users/chloe/Documents/Any folder/main.go

[2018-12-13 20:39] NobbZ commented on #4545
Literally 'Any folder' with a blank? You need to escape it.

Anyway, that given path is not in your exercism workspace. Do not move the files around after you have downloaded them using `exercism download`.

[2018-12-13 23:03] SleeplessByte commented on #4541
Yes. That would already help. It's still very opawur, but is at least
trackable on a personal level

On Thu, 13 Dec 2018, 21:14 Maud de Vries, <notifications@github.com> wrote:

[2018-12-14 05:47] elyashiv commented on #4536
Should there be a test for whether topics are too big?

[2018-12-14 08:34] MaksimDanilau commented on #4542
Hello @iHiD, @NobbZ . Yes, I meant "core exercises". I don't know how, but I really didn't see any of this labels. I was searching for a filter in the filtering panel, and then, when I haven't found it, I wrote an issue.

So, the "core" mark was in the blind spot for me. Thanks for your comments, and sorry for wasting your time.

[2018-12-14 08:34] #4542 closed

[2018-12-14 11:47] elyashiv opened #4546 "Allow the comments to float"
It will be nice if the mentor comments will float while scanning the code. Sometimes I review a large piece of code, and it's a little annoying to scroll back and forth. I guess I can download the solution and split screen, and yet...

I guess this will also help the student following the comments :smile:

[2018-12-14 21:22] dstockto opened #4547 "Suggestion: Mentor scoring calculation"
Despite a mentor's best efforts some students are not looking for that interaction or maybe have had a bad day or any other reason. This means that an otherwise excellent mentor can receive an anomalously low score. The opposite may be true as well and a poor mentor could receive an anomalously high score from a student who doesn't feel comfortable giving a lower rating for poor mentoring.

The su

[2018-12-14 21:42] #4543 closed

[2018-12-14 21:49] PatrickMcSweeny commented on #4544
2e556b033b274a168810746bff8f9b24

I don't see a button to update the exercise.

[2018-12-14 23:59] missmatsuko opened #4548 "Old logo/branding on 24 Pull Requests page"
Found this page via the 24 Pull Requests site: http://24pullrequests.exercism.io/

The branding and logo is totally different from the main Exercism site. I'm guessing it's using the old logo and branding?
https://exercism.io/about-v1-to-v2

[2018-12-15 00:09] missmatsuko opened #4549 "Explore Languages on homepage - hard to find/search for languages"
On the ["Explore Languages" section of the homepage](https://exercism.io/#explore-languages), the languages are listed with their icons displayed. I'm not sure if there's an alternative listing that is more clear.

Listing languages by their icons poses a number of difficulties:
1. People may not recognize a language by its icon, especially new learners.
2. I'm unable to search for a language by i

[2018-12-15 00:11] missmatsuko commented on #4549
Found a more clear and searchable listing after I clicked one of the items and went to the 'Tracks' link in the breadcrumbs: https://exercism.io/tracks

[2018-12-15 00:18] missmatsuko opened #4550 "Remove "TODO: The maintainers have not provided a description for this track." message from track descriptions"
There's several tracks here on the [tracks listing page](https://exercism.io/tracks) that have this text as its description:

Can this text be removed and the default be a blank description instead? I don't think there's much benefit to showing this message, except maybe to remind maintainers to add content. It also appears on the track's detail page (e.g. https://exercism.io/tracks/purescript).

[2018-12-15 00:59] iHiD commented on #4550
Hello. Thanks for the issue. I'm not sure I want to remove this as I want maintainers to add it. It feels like a simple thing that maybe the community could help with. Do you fancy PRing for vimscript?

[2018-12-15 01:01] iHiD commented on #4548
Thanks for reporting!

@kytrinyx Thoughts?

[2018-12-15 01:02] missmatsuko commented on #4550
Still, I think it'd be a better experience for learners if it defaulted to empty text instead of the existing TODO text.

Can we remove the default TODO text *and* make issues in the tracks that are missing descriptions? I wonder if maintainers even look at that page on the site, maybe they don't know it's missing content.

[2018-12-15 18:45] pgaspar commented on #4544
@iHiD Could this have been my fault somehow? 😬 I originally pushed the HighScores specification and updated it a few weeks ago. Let me know if that's the case so I can avoid it in the future, please!

[2018-12-15 22:32] iHiD opened #4551 "Christmas banner"
Note to self: add a banner for festive season warning that mentor response time might be slower than normal.

[2018-12-15 23:22] F3PiX opened #4552 "Get a list of the last mentorings on Ruby/HighScores"
In order to evaluate the experimental mentor notes (Ruby/HighScores) I'd like to see some (~10) of the latest mentorings. Instead of keeping tabs open in my browser, a list of the last 10 solutions would really help :-)

@iHiD

[2018-12-15 23:42] iHiD commented on #4550
I'll think about it. I'm not sure what's changed since we launched to justify removing the TODO. It **is** a bad experience but that's sort of the point. It's a canary for that track's maintainers not having the time or desire to fix it, and therefore hopefully encourages other people to come and get involved in fixing it, and involved in Exercism in general.

[2018-12-15 23:44] iHiD commented on #4550
There is already an issue open for this on every track btw.

[2018-12-15 23:54] missmatsuko commented on #4550
It seems like that's the only place where a TODO message is displayed on the front-end.

You agree that it's a bad experience - why punish the users for something maintainers haven't gotten around to yet?

Since there's an issue, that should be the reminder for them to get to it rather than a TODO message on the frontend.

[2018-12-16 00:40] iHiD commented on #4550
Totally. And that's exactly why it's there. To say to the maintainers "your bit of the site looks incomplete". I entirely agree with everything you're saying, but my desire to find helpful people out there who might contribute to fix things, outweighs my desire to provide a finished-looking experience. Exercism isn't finished - it totally needs people to help and make it better.

Maybe we should c

[2018-12-16 14:07] emcoding opened #4553 "Add an 'updated' badge for updated Mentor Notes"
When I update Mentor Notes, I post the news to the Slack track channel, but not all mentors read that, or have that top of mind at the time they mentor that exercise. It would be nice to have an indication on the link to the notes that they are updated recently.

[2018-12-16 16:01] int-index commented on #4432
I'm facing the same issue with https://exercism.io/my/solutions/91163d8141d447b8822f57cd17440598

[2018-12-17 01:00] rpottsoh opened #4554 "/team/mentors pagination issue"
@Falci commented on [Sat Dec 15 2018](https://github.com/exercism/website-copy/issues/664)

The [three](https://exercism.io/team/mentors?page=9) [last](https://exercism.io/team/mentors?page=10) [pages](https://exercism.io/team/mentors?page=11) of mentors seems to be wrong. The same mentor appear in all of them.

---

@rpottsoh commented on [Sun Dec 16 2018](https://github.com/exercism/website-copy

[2018-12-17 01:14] rpottsoh opened #4555 ""I'll pass, thanks" is now "Leave conversation""
@bitfield commented on [Tue Dec 11 2018](https://github.com/exercism/website-copy/issues/659)

On the 'Mentoring workflow' page the references and screenshots to the "I'll pass, thanks" button need updating to "Leave conversation".

---

@rpottsoh commented on [Sun Dec 16 2018](https://github.com/exercism/website-copy/issues/659#issuecomment-447694164)

[mentoring_workflow.md](https://github.com/e

[2018-12-17 10:59] iHiD commented on #4555
I think they're different. "I'll pass now" is before you join a conversation, "leave conversation" is once you've joined it.

[2018-12-17 11:46] iHiD commented on #4432
@int-index Could you give me some background on how you got here pls? The system says that you clicked the "Request Mentoring" button at "2018-12-15 21:23:19" (GMT). Is that incorrect?

[2018-12-17 11:48] iHiD commented on #4536
Probably, yes. But that would fit into individual tacks rather than the website repository.

@kytrinyx Maybe this could go in configlet?

[2018-12-17 11:49] mitchossi commented on #4400
Is exercism dying? My simple solution for „Leap“ is still in Progress – after 4 days. And all the comments I’ve seen so far are pretty old. Same on facebook... That would be very sad. I really like the idea behind exercism. And I couldn't find a comment button neither. That's a pitty not to be able to comment other solutions...

[2018-12-17 11:56] iHiD commented on #4400
No. It's not dying. Quite the opposite - it's too busy. Some tracks are fast and some are slow to receive feedback.

[2018-12-17 12:01] mitchossi commented on #4400
Is it somehow possible to support you? Like making a donation?

[2018-12-17 12:42] iHiD commented on #4400
Thanks for offering! :) The best thing you could do if you are experienced in a language would be to [become a mentor](http://exercism.io/become-a-mentor). If you're not experienced, then probably not in terms of speeding things up :)

If you just want to explore other people's solutions rather than wait for mentors, you might like to jump into Independent Mode rather than Mentored Mode.

[2018-12-17 12:45] MaksimDanilau opened #4556 "Discussion: mentoring by students"
As a student on the Phyton-track, I see the real lack of mentors. By my calculations, every mentor should approve approximately four hundred decisions to move all students of track forward.

In my mind, students, that have passed some task, are able to mentor it. They already focused on it and really in context. So, in some way, they can share their experience.

Finally, I suggest discussing the o

[2018-12-17 12:45] int-index commented on #4432
That's incorrect, I ran `exercism submit src/SumOfMultiples.hs` from the command line and that's it. Here's version info:

[code]

[2018-12-17 12:59] iHiD commented on #4556
Anyone can become a Python mentor. They just need to go to the become-a-mentor page and sign up. There's no barrier :)

[2018-12-17 13:00] iHiD commented on #4432
OK. Thanks. I'll try and debug it.

[2018-12-17 13:09] jabbalaci commented on #4400
Why was the comment feature removed? If I'm in independent mode, why can't I leave comments? Without this the new site feels empty and I'm not motivated to solve exercises since I know I won't receive any useful feedbacks.

[2018-12-17 13:35] bitfield commented on #4555
Oh, my bad, sorry. Maybe a note here in the document would be helpful ("For solutions you're already mentoring, this button will show "Leave conversation" instead. Clicking it will abandon the solution and return it to the mentor queue, but you won't ever see it in your dashboard again.")

[2018-12-17 13:59] iHiD commented on #4555
Yep. Happy to accept a PR for that!

[2018-12-17 14:02] iHiD commented on #4400
Because we want learning to be in the context of private mentoring conversations as we believe that provides a much higher quality of learning (which has been confirmed since launch). There is [information here](https://github.com/exercism/DEPRECATED.v2-feedback#a-new-mentorship-model) for context.

FWIW we haven't permanently moved comments on exercises, but we are working out how to do it well b

[2018-12-17 14:06] iHiD commented on #4556
Well, if someone doesn't have knowledge or expertise, then I'm not sure they would be a good person to mentor someone else's solutions? They are either good enough to mentor (so can become a mentor) or not good enough to mentor (in which case they shouldn't give feedback).

Maybe they **are** good enough to mentor, but they don't **believe** they are good enough to mentor. If that is the case then

[2018-12-17 14:08] rpottsoh commented on #4536
@iHiD I don't disagree but would like to add that the primary basis for the topics is [TOPICS.txt](https://github.com/exercism/problem-specifications/blob/master/TOPICS.txt).  Perhaps this file should receive a once over to correct topics that are too long?  What is an acceptable max length?  Should this number be added as documentation to TOPICS.txt?

[2018-12-17 14:23] nodeselector opened #4557 "Feature Request: Analyze Code Submissions in GitHub Repo"
Hopefully this is the right place for this, but after reading the roadmap I have a suggestion:

I think that having to develop locally on ones own machine is always better than using an online code editor/IDE. Though automatic code analysis could still be possible by having users push their code to GitHub. Once on GitHub a submission can be analyzed and discussed.

Now you have:

1.  Users writing

[2018-12-17 15:52] iHiD commented on #4510
For clarity, I hadn't fixed the issue with mentors disappearing once they had initially commented. This will get fixed by https://github.com/exercism/website/pull/491, which I'll run daily for a while before croning, and will eventually be formed into a reminder-framework to nudge mentors who disappear.

[2018-12-17 17:55] bitfield commented on #4555
Should the PR be against `exercism` or `website-copy`?

[2018-12-17 18:04] rpottsoh commented on #4555
The PR will have to be in website-copy as that is the repo that contains [mentoring_workflow.md](https://github.com/exercism/website-copy/blob/master/pages/mentoring_workflow.md).  The PR should close this issue.

[2018-12-17 19:01] MaksimDanilau commented on #4556
@iHiD Sounds great! I will close this discussion for now. Your point of view about mentoring feel is strong, I agree with it.

Thanks!

[2018-12-17 19:01] #4556 closed

[2018-12-17 21:11] #4526 closed

[2018-12-18 02:35] cpoile commented on #4400
fwiw, I wanted to comment to help another community member improve their submission. I want to do that because I've received a lot of help from the mentors (and from looking at other community solutions) and wanted to give back. But I'm not good enough to be a mentor yet. :)

[2018-12-18 06:57] NobbZ commented on #4400
If you can see the submission, it has already been through mentoring, so there is not much to improve.

If it had not received mentoring, it's probably legacy and the user might be inactive for years now.

@ihid as a student I'd like to ask questions about a piece of code that uses a technique, that i haven't seen so far.

[2018-12-18 09:55] sshine commented on #4557
As I understand it, @jeffmartinxyz is suggesting that people submit solutions to exercises by pushing to GitHub. This would mean that instead of lowering the bar for entry, as an online code tool would, we'd be raising the bar by requiring users to get familiar with git and GitHub before they can submit solutions.

If the purpose is to become CLI-independent (I've read one criticism of Exercism be

[2018-12-18 10:03] sshine opened #4558 "Feature Request: Teams: Better access control (promote to admin)"
As a first iteration, as an admin for a team, I would like to be able to give admin status to another user.

As a second iteration, it would be nice if there could be multiple admins.

---

As a third iteration, access control should be more fine-grained: Owner, admin, member.

There can only be one owner. There can be many admins.

Owners can change who is an admin or pass ownership status to one

[2018-12-18 11:35] DanCorder opened #4559 "Intra-page links not working"
Moved from https://github.com/exercism/website-copy/issues/669

Pages like https://exercism.io/tracks/kotlin/installation have links on them like https://exercism.io/tracks/kotlin/installation#macos (just under "Choose your operating system"). These links do not work as there is no anchor tag called #macos on the page.

If you view the doc markdown file that contains the page information on github

[2018-12-18 12:13] alex-bender opened #4560 "Solution filter improvements"
Hey guys, I've almost cleaned the python queue -- from 15 days to 3. So it was near to 100 back and forth from solutions list page (`https://exercism.io/mentor/dashboard`) to the specific solution (`https://exercism.io/mentor/solutions/<hash>`). And here what I found:
The filtering disappears when you go back from solution page to the list one, by clicking browsers "Back" button.
Steps to reproduc

[2018-12-18 13:38] iHiD commented on #4560
That's absolutely amazing. Thank you!!

Is this a duplicate of https://github.com/exercism/exercism/issues/3975 ?

Yeah - that's a good idea. The reason it's not there is simply because the SQL to do this is quite slow at the moment. But it's something I'm working on.

[2018-12-18 13:38] iHiD commented on #4559
@kntsoriano Could you take a look at this pls?

[2018-12-18 13:41] alex-bender commented on #4560
Yeah, seems that it's a duplicate.
And great to know that `counter` is coming soon! Thanks!
Should I close the issue then?

[2018-12-18 13:43] iHiD commented on #4560
Could you open an issue for the counter (just copy/paste what you wrote here) pls? I don't think it's covered anywhere atm.

And then yeah, closing would be great.

Thanks again for doing Python - you might be interested in these, which aim at making mentoring quicker moving forward:
- https://github.com/exercism/python/issues/1614
- https://github.com/exercism/python/pull/1633

[2018-12-18 13:47] iHiD commented on #4400
This is exactly the behaviour we want to avoid. As @NobbZ said, the student has already learnt something from that solution and a mentor has decided to move them forward. If you have stuff to give back, then we'd love you to be a mentor and help others within that framework :)

So this is exactly what I **do** want us to encourage. My concern is how we do this without also overwhelming students wi

[2018-12-18 13:47] alex-bender opened #4561 "Add pending solutions counter"
It would be nice to know how many solutions are pending.
In total and divided by tasks.
I'd like to know an approximate time what I need to spend on reviewing all existing solutions for the specific task.

[2018-12-18 13:48] alex-bender commented on #4560
Here is it: https://github.com/exercism/exercism/issues/4561
Going to read those tickets.
Thanks!

[2018-12-18 13:48] #4560 closed

[2018-12-18 13:48] F3PiX commented on #4560
O wow!! That's amazing!
And, it's also such a great start for the restructured track PR, where Jeremy pointed to.

[2018-12-18 13:50] alex-bender commented on #4560
@F3PiX Thanks!

[2018-12-18 14:00] F3PiX commented on #4400
Maybe a `Care to explain to me what you did?`-button ? So that @ nobbz can push the button at my interesting solution, and I can decide to add an explanation/start a conversation - or ignore.  The button text should make it very clear that it's to ask something, not to give feedback.

[2018-12-18 14:05] mitchossi commented on #4400
You guys want to avoid comments/feedback from users who are not mentors. That totaly makes sence. But you are still allowing feedback in the form of "likes" (well done, love it, genius).

So this means code which for example just seems to be good (e. g. it's short and simply looks cool) but is very slow or has other disadvantages (which are not obvious) can get a lot of positive feedback from anyb

[2018-12-18 14:34] iHiD commented on #4400
I agree it's inconsistent. As I said we haven't permanently moved comments on exercises, but we are working out how to do it well before we add it back.

However, Exercism's aim isn't to teach people how to write good code - it's to improve the fluency someone has. So right now, I can't write Hello World in Rust. If I learn to do that, then I've moved forward. My solution might be utterly shit, bu

[2018-12-18 14:34] cpoile commented on #4400
Obviously you can design the site however you want, I'm just pointing out that there is a use case for this that you might be missing -- this was for a side exercise that hadn't been through mentoring.

As @mitchossi pointed out, this solution also had a thumbs-up, leading me to believe I could learn something from it. I did; it was a great solution and I learned something new. But the solution al

[2018-12-19 21:21] garare opened #4562 "Can't progress in mentor mode, can't ask for feedback in independent mode"
I was blocked from progressing to the next exercise while in mentor mode because I had to wait for a mentor to approve the exercise I was on. I couldn't wait so I decided to try independent mode. I completed an exercise in independent mode, and now I can't ask for mentor feedback.

[2018-12-19 23:09] F3PiX commented on #4562
Hi garare!
Just checking:
- do you mean you can't ask for mentor feedback on the exercise you completed*? Or you completed exercise X, started exercise Y, and can't ask for mentor feedback on exercise Y?
- What do you mean by 'can't ask for mentor feedback' ? Is the button on the screen, is it disabled? Maybe add a screenshot?

[2018-12-19 23:17] garare commented on #4562
I completed exercise X in mentor mode. Couldn't progress to exercise Y because it's locked and I have to wait for mentor approval on exercise X. Switched to independent mode and I'm now able to attempt exercise Y. Finished exercise Y and can't ask for mentor feedback because button is disabled.

![screenshot from 2018-12-19 17-16-56](https://user-images.githubusercontent.com/40824712/50253978-ebb3

[2018-12-19 23:53] F3PiX commented on #4562
Cool, that helps. Next check: did you request feedback on side exercises when still in Mentored Mode?
(You can check on the your track page https://exercism.io/my/tracks/... . Exercises that you requested mentoring on are marked with a green text balloon.)

[2018-12-19 23:58] F3PiX commented on #4562
NO, wait, in Independent Mode mentor feedback is disabled. This is the message when switching to independent mode on the Python track:

[2018-12-20 04:35] mikewalker opened #4563 "ruby track excercise status - request mentor feedback"
I believe that there may be an issue with some exercises. From what I under stand there should only ever be 3 side exercises waiting for feedback. In the ruby track I appear to have 5 exercises with that state. I'm not sure if this has anything to do with it but I did just recently unpause the ruby track.

Also I noticed that none of these exercise will allow me to cancel the mentor feedback reque

[2018-12-20 13:31] iHiD commented on #4563
Please could you send me some of the ids of the solutions (you can get this from the URL when you click on a solution). Thanks.

[2018-12-20 13:33] iHiD commented on #4562
@garare What's the id of the solution from the screenshot? (You can find this in the URL). Thanks :)

[2018-12-20 17:06] ziggez opened #4569 "Problem with submitting my solution"
Okay, so i have read through some of the threads but i cant seem to find something useful to help me here. i downloaded the example solution or whatever its called that is listed on the exercise (step 1 download, step 2 create it manually with your own editor, step 3 submit) but when i try to submit it, i type in:
exercism submit C:\Users\alex\Exercism\c\HelloWorld!\Debug\HelloWorld.exe  [C:\Users

[2018-12-20 17:51] mikewalker commented on #4563
Just noticed something about these exercises when I was getting the id's for you. It looks like thay may have been completed prior to v2. These exercises did receive some feedback when completed in v1 of exercism. I had the ruby track paused for a while possibly during the period that the mentor feedback process changed.

These exercises also seem to be counting towards the maximum requests, so I

[2018-12-20 18:29] mikewalker opened #4570 "number of unlocked exercises incorrect?"
I just completed the first two exercises in go. The first exercise "Hello-World" unlocked space-age, and list-ops. The second exercise unlocks leap, triange,and proverb according to the icons under the two core exercises. This comes to a total of 5 side exercises that should be unlocked.

However if you look at the side exercises there are now 10 exercises unlocked. This doesn't seem to add up.

[2018-12-21 02:01] hmccutchen commented on #4309
TLDR- most likely your issue is you only need provise the FILE NAME, NOT the folder and NOT the file path, THE ACTUAL NAME OF THE FILE.

[2018-12-22 22:50] kytrinyx commented on #4531
Yeah, this was a bug in the earliest versions of the new CLI.

I *believe* I've gotten the CLI side of things sorted out (provided that they actually upgrade their CLI). I've opened a couple issues to get legacy data cleaned up and to ensure that if we do see a numeric prefix, the API responds with an error asking them to upgrade their client.

https://github.com/exercism/exercism/issues/4519

I'm

[2018-12-22 22:50] #4531 closed

[2018-12-23 16:39] kytrinyx commented on #4536
@rpottsoh those are great points. I'm still not certain we've figured out how to manage topics properly, but I think until we do having a few things in place would help.

1. Figure out what the max length is. -- @iHiD ?
1. Open an issue in exercism/problem-specifications to ensure that TOPICS.txt adheres to that, and this is documented in the file.
1. Open an issue in exercism/configlet to add lin

[2018-12-23 16:43] kytrinyx commented on #4548
Shoot. I missed this, and now it's basically Christmas.

How about we take down the site, @iHiD ? (I can do that by deleting https://github.com/x24pr)

[2018-12-23 17:35] iHiD opened #4564 "Merry Christmas!"
To @exercism/track-maintainers and everyone else that has contributed to Exercism in 2018, I just want to say a huge thank you on behalf of the Exercism team. We've helped tens-of-thousands of people this year on Exercism, that that wouldn't have happened without you.

I will be taking a break for the next couple of weeks, so responses will be slower than normal. I wish you all a merry Christmas a

[2018-12-23 22:19] missmatsuko commented on #4548
If the page is being deleted, might want to redirect the page to the main GitHub repo also.

[2018-12-24 12:07] Shreyanshnit19 commented on #2137
Try putting` export PATH=~/bin:$PATH` line to both .bashrc and .bash_profile files.
Hope that helps anyone facing problem running exercism command !

[2018-12-25 09:07] norricorp opened #4565 "Rust / powershell tracks mentoring"
Are these tracks being mentored?
Submitted solution for PS several weeks ago and nothing.
And now with rust, solution is several days old and nothing.
I do realise that being a mentor is a full time unpaid job so very difficult. But exercism did go down this route and it is not always working. If feedback is slow then momentum is lost, interest fades.
Perhaps it is time to revert to the previous w

[2018-12-25 11:20] NobbZ commented on #4565
Rust ist actively mentored but has a long queue according to my knowledge. You'll need to wait. I can't say anything about Powershell.

But please be aware that during the holidays, new year and such much people tend to be with family and therefore have much less time for exercism. Please be exceptionally patient during the next week or two.

[2018-12-25 14:37] PatrickMcSweeny commented on #4565
@norricorp How would reverting to the previous website help?

[2018-12-25 20:11] F3PiX commented on #4565
@norricorp I'm sorry to hear that. Just checking: do you know you can go for Independent Mode? You could still ask mentoring on exercises, but you don't need to wait for approval to proceed  through the track.

[2018-12-26 08:09] norricorp commented on #4565
@PatrickMcSweeny - the old website did not have the mentoring. Students could comment on others work or answer questions on their own work.
@F3PiX - yes, I did know that. I do like the mentoring idea but it has to work. I did some javascript exercises and the mentoring there worked. Comments and approval within a few days so momentum and interest was not lost. But perhaps independent mode is the b

[2018-12-26 08:13] ttellerx opened #4568 "where are the functional specifications"
I don't understand how to exercises are specified. I can download them OK  However, the only documentation is a README.md file which is just general and does not tell me what the functional definition of the code is for this particular exercise.
I am using c++.
I read that it is cheating to look at the x_test.cpp file however, am I right in assuming that the x_test.cpp file is the only place where

[2018-12-26 13:38] lbsa71 opened #4567 "Allow mentor to track ('follow') student progression"
As a mentor, I want to be able to 'fav', 'track' or 'follow' a student so that I can mark my interest in forming a longer-lasting cooperation.

Background:
As a 'mentor' one of my main incentives and motivations is to form longer-lasting relations (to create 'rapport') with students that I have had interesting interactions with; it would be very motivating for me to be able to 'bookmark' or 'subsc

[2018-12-26 13:39] lbsa71 commented on #4567
If you think this is a good idea, I could implement this and provide a pull request.

[2018-12-26 15:49] kytrinyx commented on #4568
Thank you @NobbZ. Closing this, as the question has been answered, but @ttellerx if you're still confused please feel free to respond here and we can help you further.

[2018-12-26 15:49] #4568 closed

[2018-12-26 15:56] kytrinyx commented on #4569
@ziggez Would you please try the following?

1. Move (rename) `hello-world` directory to something like `backup-hello-world`
1. Download the exercise again `exercism download --track=c --exercise=hello-world`
1. Copy your solution file(s) into the new directory that got created
1. Then run the submit command again, ensuring that you are listing the file path to the solution file(s) relative to whe

[2018-12-27 03:57] mikewalker commented on #4569
`exercism submit hello-world\hello-world.c hello-world\hello-world.h`

Actually for the c track wouldn't that be
`exercism submit hello-world\src\hello-world.c hello-world\src\hello-world.h`

Note the "src" in the path.

[2018-12-27 14:22] kytrinyx commented on #4570
Thanks @mikewalker, that does sound suspicious.

@iHiD When you get back from the holidays would you take a look at this one?

[2018-12-27 14:36] NobbZ commented on #4570
On a manual scan of the go track config, I found 11 exercises marked `core: false, unlocked_by: null`.

[2018-12-27 15:33] F3PiX commented on #4570
That seems to be intentional. From the Ruby track, after launch:
"We should have 4 or 5 exercises that are "core": false, "unlocked_by": nil. These are bonus exercises that will be available as soon as you join the track, along with the first core exercise."

[2018-12-27 16:30] rpottsoh commented on #4570
Csharp and Delphi tracks also have the same thing going on.  A few exercises that are not core and are not unlocked by a core exercise;  bonuses........

Sent from my android device.

[2018-12-27 20:37] lbsa71 opened #4571 "Allow student to 'follow' mentor."
As a student, I want to be able to choose a set of mentors so that I can create 'rapport' with them over time.

Implementation idea: Being able to 'like' or 'fav' a mentor, meaning that I would prefer that mentor to guide me on the next exercise I submit.

Related:
https://github.com/exercism/exercism/issues/4567

[2018-12-28 00:55] morenoh149 opened #4572 "Improve sql hello world"
I consider myself an experience developer. Could we improve the sql track?
Could we revise it to work with sqlite or Postgres (something free not oracle)?
At the very least how am I expected to run the provided files?

[2018-12-28 20:21] PatrickMcSweeny commented on #4572
@morenoh149 You would probably be better off posting this here: https://github.com/exercism/plsql/issues

[2018-12-28 21:09] #4572 closed

[2018-12-30 06:20] akidhmohamed123 commented on #3809
I couldn't go further as I see "Well done on submitting. A mentor will leave you feedback as soon as possible." It was there for more than 3 days.
![capture1](https://user-images.githubusercontent.com/28685904/50544863-16f72980-0c29-11e9-8b88-542c2992bbdd.PNG)

[2018-12-31 06:48] Alexhans commented on #4246
Regardless of what the approach to help with this issue is, it certainly seems important to have a way where you can expand the code window and make use of screen estate or easily copy it to clipboard to analyse the code in an editor of choice (I've seen quite a few community solutions that didn't really pass the original unit tests).

[2018-12-31 09:52] NobbZ commented on #4246
Instead of copy pasting you can use `exercism download --uuid=...`. I consider this much easier than copy pasting and also less error prone as you'll get the correct tests as well.

[2018-12-31 12:02] chriseyre2000 opened #4573 "Mentor Rating should be displayed to 2 dp"
My current rating has been hovering around 4.69 but when it reached 4.7 it looked a bit odd.

It would be clearer if shown to 2 dp.

This can be solved with:

.rating #{number_with_precision(@mentor_rating, precision: 2)} / 5

in show.html.haml

I have not submitted this as a pull request since I can't get the code to run locally and don't want to submit potentially broken code.

[2018-12-31 14:38] F3PiX commented on #3809
Hi @akidhmohamed123
Mentoring can take a bit longer at the moment, because of the holidays.
If you don't want to wait for mentoring, consider switching to Independent Mode, maybe even temporarily.

[2018-12-31 17:57] akidhmohamed123 commented on #3809
K thank you for the feedback.

[2019-01-02 05:33] mikewalker opened #4574 "Ruby track - core progress blocked"
The core exercise that is currently waiting for mentoring was originally completed in exercism v1. This was about 10 months ago. At some point the track was also paused, and subsequently unpaused.

The exercise that is waiting for mentoring did receive some mentoring in v1 so I'm not sure if its even in the mentoring queue for v2 of the site.

Would it be possible to get this exercise approved so

[2019-01-02 05:53] mikewalker opened #4575 "large number of iterations causes issues with layout"
If you are on a tablet, or a narrow browser window the message about solution being published is a bit too small to read.  Maybe this should be flowed under the iteration numbers?

![interations](https://user-images.githubusercontent.com/1875177/50581523-51222000-0e0f-11e9-8bdc-77f04961f4a6.png)

[2019-01-02 19:24] eddcoons opened #4576 "Been waiting 2 months for mentor approval in Javascript track."
I got some feedback when I first submitted my solution for a core exercise but I haven't had any feedback or approval since resubmitting. I think I resubmitted correctly, but maybe something is wrong on my end. Or is there just a long wait for the JS track?

Here's the link: https://exercism.io/my/solutions/0211408b48b8423687203cdb3fc84b8c

Thanks for any help!

[2019-01-02 23:58] F3PiX commented on #4576
Hi @eddcoons. Sorry to hear that, thanks for sharing! There's someone going to take over shortly.

[2019-01-03 00:02] F3PiX commented on #4576
@ihid Mentoring is done, this can be closed.

[2019-01-03 01:08] eddcoons commented on #4576
@F3PiX -- Thanks so much!

[2019-01-03 01:08] #4576 closed

[2019-01-03 17:12] SleeplessByte commented on #4574
I'll take this.

[2019-01-03 17:12] SleeplessByte commented on #4563
I'll take these.

[2019-01-03 17:27] SleeplessByte opened #4577 "JavaScript and TypeScript track issues"
As per @iHiD, this is mainly feedback for @F3PiX and @kytrinyx and others working on the general curriculum. For reference, I mentor Ruby, JavaScript, TypeScript and Kotlin and student C#, Elixir, Prolog and Rust.

[From slack (#track-javascript)](https://exercism-team.slack.com/archives/CATCV452S/p1545906120011000?thread_ts=1545407027.008900&cid=CATCV452S), reformatted slightly:

Hi @SleeplessByt

[2019-01-03 23:23] JFonz opened #4578 "Installing Node.js and other tools"
I am having trouble running my pangram program on the Javascript track. I installed node.js and the other tools the way that the website showed, but when I test my program, it gives me some errors and leads me to believe that I didn’t correctly install Babel. Attached is a pic of the result of testing my program. If someone can help me fix this, I would appreciate it.
<img width="1080" alt="captur

[2019-01-04 01:09] Elaniobro opened #4579 "JavaScript Track is stuck"
I recently completed the `rna-transcription` practice, all tests passed. There is no way for me to "publish" my solution. So now I am currently waiting on a mentor? There are no other challenges for me to tackle as the rest are locked. Is this expected behavior?

[2019-01-04 13:37] Elaniobro commented on #4579
Gotcha, and thank you for your response.

I thought I was not in mentor mode, as all my solutions up until this one, I could publish.

How do I switch out of that mode?

[2019-01-04 15:35] kytrinyx commented on #4577
Ouch. It sounds like we don't have JS folks looking at those PRs. Let me look into that!

[2019-01-04 16:06] tejasbubane commented on #4577
Sorry but is there another repo for mentor notes? [ref](https://github.com/exercism?utf8=%E2%9C%93&q=mentor&type=&language=)

I usually keep an eye on https://github.com/exercism/javascript/pulls

[2019-01-04 16:35] SleeplessByte commented on #4577
@tejasbubane [here](https://github.com/exercism/website-copy/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3ASleeplessByte+). As you can see some have been merged, some have no interaction :)

[2019-01-04 16:41] rpottsoh commented on #4577
@kytrinyx or @iHiD perhaps there needs to be a general announcement to all mentors on Slack to check out exercism/website-copy for updates to mentor notes for the various tracks they mentor.  I am sensing that there are mentors out there unaware.....

[2019-01-04 17:23] Smarticles101 commented on #4579
go to [your javascript track page](https://exercism.io/my/tracks/javascript), scroll about 1/4 of the way down. You're looking for the last box on the right side before you reach the extra exercises. The box is called "Danger zone" and has a button to switch to independent mode.

[2019-01-04 22:15] mikewalker commented on #4574
Thanks, core is no longer blocked so this issue can probably be closed now.

[2019-01-04 22:21] mikewalker commented on #4563
I think we might still have an issue here. Thanks to @SleeplessByte there are no longer 5 exercises waiting for mentor feedback. We are now below the maximum of three so the request button should be enabled again for other side exercises.

There are now two that are not completed now and are in process. So if you count those two towards the maximum of three requests there should be one available.

[2019-01-04 23:31] mikewalker commented on #4563
Another piece of the puzzle. I noticed that there is a deprecated exercise that I had completed in v1. Since I cannot open it to get the id, I downloaded it, updated the code and submitted again. This gave me the id that could then open. The deprecated exercise is showing a status message.

Well done on submitting. A mentor will leave you feedback as soon as possible.

So maybe this is also counti

[2019-01-05 00:19] mikewalker commented on #4563
I do believe we have it, the deprecated binary was just approved and now the request for feedback is enabled again. Once other two are completed I'll check and make sure the limit of three is working as expected. I anticipate that it will now.

[2019-01-05 21:26] pekalicious opened #4580 "Collaboration with Morning Cup of Coding"
I'm the creator of [Morning Cup of Coding](https://www.humanreadablemag.com/morningcupofcoding). I believe the goals of my newsletter and Exercism are very similar and would like to discuss some ideas I have for a collaboration.

[2019-01-06 01:56] thefonso commented on #4070
Just curious... Why not just make it so lowercase 'e' is the default so Exercism becomes exercism and problem goes away?

[2019-01-06 05:17] mikewalker commented on #4563
This can be closed now, everything behaving correctly now.

[2019-01-06 06:33] kotp commented on #4563
Thank you @mikewalker .
/close

[2019-01-06 06:59] #4563 closed

[2019-01-06 07:00] #4574 closed

[2019-01-06 12:15] sshine commented on #4580
Hi @pekalicious!

This is an open source project.

Feel free to discuss. :-)

[2019-01-06 15:18] kytrinyx commented on #4070
We're following the pattern set for defaults for each platform. Mac and Windows both default to capitalized directory names, whereas Linux defaults to lowercase.

[2019-01-06 15:31] kytrinyx commented on #4577
@rpottsoh You're probably right. I know we announced this back when we added it, and then again when we started including it in the site, but we probably need a better way to make new mentors aware of it, and make sure that existing mentors didn't miss the discussion when it happened, as there are _LOTS_ of discussions happening, and we're not always reading it all (I'm one of those who mostly _ca

[2019-01-06 16:41] pekalicious commented on #4580
Haha, good point 😄

I'd like to find a way to offer my small community a curated version of Exercism. For example, a track with exercises I've selected based on articles I've shared through my newsletter. I understand that this does not fit the goals of the tracks on the main website, hence why I thought maybe a collaboration of some sort might be better?

I took a look at the teams edition but I'

[2019-01-06 18:46] sshine commented on #4580
I think you've explored the easily available options: teams and selvf-hosting.

[2019-01-06 19:17] pekalicious commented on #4580
Gotcha. I'll see what I can do with self-hosting. Thanks.

[2019-01-06 22:53] SleeplessByte commented on #4578
Have you tried `npm install` in the exercise directory?

[2019-01-06 23:00] SleeplessByte commented on #4547
I still think #4541 is the better way. This doesn't actually fix this issues and only hides them deeper. The fact that "5 stars" does not have the same meaning to everyone is at the core issue here.

[2019-01-06 23:45] JFonz commented on #4578
Thank You!! So, do I need to run npm install in each directory before working on the exercise then?

[2019-01-07 04:24] grepsedawk opened #4581 "Feature Request: Allow students to specify a non-exercism mentor/friend that is allowed to comment on their submissions"
I'd love to be able to add comments to my friend that I'm mentoring's postings but when I visit his submissions in the comment pane I see the following:
![image](https://user-images.githubusercontent.com/6721355/50749001-c91e8a80-1201-11e9-8d26-05ae55da6585.png)

[2019-01-07 13:48] iHiD commented on #4580
@pekalicious Thanks for the issue and @sshine thanks for helping.

Firstly, congrats on your project and its success so far :)

The exercism codebase isn't really meant to be deployed separately. You're welcome to try and do so, but it'll be increasingly hard to achieve over 2019 as we add more and more things in a micro-services style architecture, and migrations aren't always guaranteed to apply

[2019-01-07 13:50] #4564 closed

[2019-01-07 15:06] iHiD opened #4582 "Want support?"
Hello! We use GitHub as our support forum. If you've got a problem getting started or need help using the site, please feel free to open an issue here and someone will help :)

You might find quick help at https://exercism.io/faqs or be browsing existing issues here.

If you have a question that is confidential, or a violation of the Code of Conduct to report, please email `support@exercism.io`.

[2019-01-07 15:06] #4582 closed

[2019-01-07 15:12] iHiD opened #4583 "Want to contribute to Exercism?"
Hello! It's great that you want to contribute to Exercism. Thank you :)

We maintain a page on the main website that lists [ways to contribute](https://exercism.io/contribute). If you have any questions or want more information, please open an issue in this repo and someone will help you! :)

[2019-01-07 15:15] iHiD opened #4584 "Our Roadmap"
Hello. We have lots of exciting plans for Exercism! Our roadmap is available [here](https://exercism.io/roadmap). If you have ideas or thoughts that aren't on the roadmap, or have questions on it, please feel free to open an issue here to discuss :)

[2019-01-07 15:15] #4583 closed

[2019-01-07 15:15] #4584 closed

[2019-01-07 15:19] iHiD commented on #4548
@kytrinyx So a redirect from http://24pullrequests.exercism.io/ to https://github.com/exercism/exercism?

[2019-01-07 17:14] kotp commented on #4564
It's not July yet! lol

[2019-01-08 03:43] pekalicious commented on #4580
Hi @iHiD,

Thanks for your response and kind words.

I spent my weekend setting up Exercism locally and figuring out some of its components. Indeed there are already parts of it that feel hard coded, but I'm enjoying learning the architecture and how everything is organized. I'm pretty new in Ruby on Rails, so this is a great opportunity for me to learn.

I didn't realize Teams was so new. I haven

[2019-01-08 04:08] AlexanderKoshkarov opened #4585 "cannot complete exersie after switching to independent mode"
Hello exercism!

I think there is a small bug in the website. I started with scheme mentor mode, and
then switched to independent mode, and I cannot now finish the Hamming
exercise in scheme track because it waits a mentor to comment even when I
am now in independent track. And I cannot look into other people exercises this way.
My account is AlexanderKoshkarov.

Thank you,

Alex.

[2019-01-08 11:22] bkhl opened #4586 "Auto-invitations to teams by domain"
It would be helpful for setting up teams for work to have an automatic signup/invitation thing similar to e.g. Slack.

That is, if someone creates an account using a domain you have registered, automatically offer them to join the team(s) related to that domain, or at least make them be able to list the teams they are invited to by domain, and allow them to join them without team owner interventio

[2019-01-08 16:01] Smarticles101 opened #4587 "Odd teams api errors"
I've been working on exercism/cli#788 lately, and I've found some odd differences/lack of error messages for teams.

Downloading an unstarted exercise on teams returns the following html 404 page.
[code]
 This prompts this message in the cli: `unable to parse API response - invalid character '<' looking for beginning of value`

On the other hand, accessing an unlocked exercise on the normal site r

[2019-01-08 17:02] ConSou commented on #4573
Hello, I can get this changed.

[2019-01-08 17:55] norricorp commented on #4565
is the --all option still available with download?

[2019-01-08 19:20] #4585 closed

[2019-01-08 19:20] AlexanderKoshkarov commented on #4585
I have not noticed the button :) sorry

[2019-01-09 04:02] abir4l commented on #4520
I want to start contributing and I'm interested in this issue, however, I can't seem to locate the maninainers.json file on the website repo, could you share a bit more info on the file.

[2019-01-09 04:06] rpottsoh commented on #4520
Each track has a maintainers.json file located at `exercism/<track id>/config`

[2019-01-09 05:42] abir4l commented on #4520
Thank you for that. I can now locate the files and hopefully write a script that lists the maintainers, but I'm confused with the nagging and asking part, should the script email the users or send some notification through GitHub, which i can't find in API documentation of GitHub, can you clarify this bit to me please?

[2019-01-09 12:44] katrinleinweber commented on #4067
Awesome! I really only guessed :-)

Behind the 10k-feet-view-/stylised-/structure-like representation of the solution category, the current `/exercises/.../solutions/` pages could still be used.

Or, a maybe simpler way to present the different solutions is to distill a word cloud out of all the non-comment lines of a solution? This was already suggested for summarising the discussions](https://gi

[2019-01-09 16:10] iHiD opened #4588 "Exercism in 2019"
2019 is here and we're **really** excited about what we're going to achieve with Exercism. I wanted just to outline a few high level things that are on our radar to give people an idea of what we're focussing on.

There are 4 key high-level objectives we have for this year:
1) Make mentoring as fun and rewarding as possible
2) Improve a learner's journey with improved structure and more/better con

[2019-01-09 16:41] iHiD opened #4589 "Community Spotlights"
As part of our drive to help raise the profiles of Exercism's contributors, we are featuring interviews with various people who have contributed to Exercism over the last few years. We're reaching out to people who have been contributed on multiple parts of Exercism (e.g. active maintainer and mentor) and have a big backlist of people we're planning on reaching out to over this year. However, if y

[2019-01-09 16:42] iHiD opened #4590 "The Exercism blog"
**Rational:** Each day Exercism gets hundreds of new users, thousands of new submissions, and dozens of improvements across its language tracks and product. However, it's become apparent that few people have any visibility on all that activity and all that is going on. Contributors work tirelessly improving tracks and mentoring people but unless you are on the Exercism team Slack room and read all

[2019-01-09 17:55] rpottsoh commented on #4520
I can't really clarify for you, I think @kytrinyx will need to do that for you.  My suggestion, however, would be to inform people via github and not by direct email.

[2019-01-09 19:30] F3PiX commented on #4588
Great plan! Exciting.

[2019-01-09 22:33] #4573 closed

[2019-01-10 01:31] yyyc514 commented on #4588
It'll be great to see these things as blog posts in the future instead of Github issues. :-)

[2019-01-10 13:04] IlyaKryazhev commented on #4471
https://exercism.io/my/solutions/608cae7be7714c10be99dc45faaebb19
Please, help me, i do not understand how to fix this problem.
I submit solution and then this error turns out.

[2019-01-10 13:21] IlyaKryazhev opened #4591 "404 when i submit a solution"
https://exercism.io/my/solutions/608cae7be7714c10be99dc45faaebb19
Please, help me, i do not understand how to fix this problem.
I submit solution and then this error turns out.

[2019-01-10 13:36] iHiD commented on #4587
@Smarticles101 Thanks!
@kytrinyx Could you work out where the problem is with this and let me know if I need to fix anything in the API pls? :)

[2019-01-10 13:39] iHiD commented on #4586
Nice idea.

[2019-01-10 13:42] iHiD commented on #4581
Hello :) If you want to mentor someone outside of the main mentoring flow then you need to use Teams. At the moment comments are not enabled on submissions.

Both of these are because we don't want unsolicited mentoring-style comments outside of the mentoring flow. I understand that that's frustrating if you are friends with someone and they want your input, but we're choosing to protect everyone

[2019-01-10 13:42] #4581 closed

[2019-01-10 13:51] iHiD commented on #4580
OK, great. I'll leave you experiment and have fun and see where you end up! Feel free to post here if you have any questions :)

[2019-01-10 13:51] #4580 closed

[2019-01-10 13:54] iHiD commented on #4577
@SleeplessByte Thanks for all this. Over the next few weeks @F3PiX will follow up with the JS maintainers and you about some of the work she's doing on improving the structure of tracks and how she can help JS.

I will post something on Slack in the next few days reminding people about the mentor notes. @tejasbubane I've invited you to a Slack channel about this.

[2019-01-10 13:57] iHiD commented on #4471
@IlyaKryazhev Please open a new issue for your problem and someone will help you :)

[2019-01-10 14:02] iHiD commented on #4567
@lbsa71 This is something we're going to be working on in the next few months, but will need to go through a wad of product-design work first, to work out the best ways to do it. I'll keep you updated on our progress here and let you know if there is an opportunity for you to help out with the coding. Thank you for the idea and the offer of help :)

[2019-01-10 14:04] iHiD commented on #4571
Thanks!

We have this functionality baked in via the ratings dialog (ie, if you rate someone 5* then we presume you like that person. If you rate them 1* we presume you don't etc). We just don't use this in a helpful way in the UI yet. I'm going to close this in favour of #4567 as the two are two sides of the same product feature I think :)

[2019-01-10 14:04] #4571 closed

[2019-01-10 14:08] iHiD commented on #4570
This might be fixed by https://github.com/exercism/website/pull/485 - I'll ask you to take a look once I've merged/deployed it.

[2019-01-10 14:12] iHiD commented on #4565
@norricorp There is no `--all` option in the CLI now. I'm going to close this issue as there's nothing we can do to help here. Independent mode gives you the functionality of the old site, or you can wait for the mentoring functionality on the new site. Good luck! :)

[2019-01-10 14:12] #4565 closed

[2019-01-10 14:16] iHiD commented on #4562
@garare So from checking the database (which is 21 days further forward than when you posted so things might have changed) it seems that you have requested mentoring on a couple of solutions already for this track. You can only request mentoring for one exercise at a time as @F3PiX says, so I think that's the issue here. Does that make sense?

[2019-01-10 14:42] iHiD commented on #4019
https://github.com/exercism/website/pull/488#issuecomment-453118933

[2019-01-10 14:42] #4019 closed

[2019-01-10 15:05] Smarticles101 commented on #4591
@IlyaKryazhev what command are you using to submit your solution exactly

[2019-01-10 15:31] ErikSchierboom commented on #4019
Thanks!

[2019-01-10 17:13] IlyaKryazhev commented on #4591
exercism submit hello-world.js

[2019-01-10 17:21] NobbZ commented on #4591
@ihid have you checked if that specific I'd belongs to the correct user or if it belongs to a user at all?

[2019-01-10 17:46] iHiD commented on #4591
@IlyaKryazhev I suspect that you are logged in with a different account to the one that you have configured on the CLI. That post is assigned to `Ilya`, which I presume is you but maybe logged in via email not GitHub?

[2019-01-10 18:09] luizdepra opened #4592 "Mentor feedback taking too long"
Hey,

Before explaining my problem, thank you all for this awesome platform.

I'm training Rust through Exercism's Rust Track and now I'm stuck in the `Sublist` exercise because no mentor gave me feedback until now. I don't know if there is bug and my exercise fell in a limbo, or the track exercise queue is overloaded right now. I just want to understand what is happening and help if possible.

To

[2019-01-10 20:48] ConSou commented on #4547
Hello,
Is removing the top and bottom 5% something we still want to do?  If so I can work on adding the trimmed mean of the ratings as the mentor rating.  Or is another solution based on #4541 the route this is going?

[2019-01-10 21:01] jwo opened #4593 "Deploying Website -- rake tasks"
Hiya! I'm playing around with getting an instance of the website up and running. I'm using the docker version, and everything is great!

How do you schedule your rake tasks to run, and on what frequency? I find that I have to run the following frequently, and they don't exit themselves, so I have to control-c them.

* `rails git:sync` :  `Git::SyncUpdatedRepos.run`
* `Git::FetchUpdatedRepos.run`
*

[2019-01-10 21:40] dougal opened #4594 "Order of Community Solutions does not encourage interaction"
👋 @iHiD

When browsing solutions to an exercise I have just completed, the exercises are [ordered by the number of reactions](https://github.com/exercism/website/blob/master/app/controllers/solutions_controller.rb#L6).

While this ordering makes sense when looking for the best or most interesting solutions, there is no way to see solutions by other users who have recently completed the same exerci