[2022-04-23 04:34] glaxxie commented on #6333
@BethanyG Please feel free to copy/edit it in whatever way that you need. It's the least I could do to help contributing for the moment.

[2022-04-23 07:40] SaschaMann commented on #6333
To understand the reasoning behind this and to figure out what one wants to do after solving the exercise, one needs to understand the following things:

- The difference between learning and practice exercises
- The relationship between concepts and learning exercises
- The relationship between concepts and practice exercises
- How to read the UI in the concept tree to identify the exercises

Tha

[2022-04-24 09:17] gacallea opened #6335 "elm-review is preventing "your iterations" to show all iterations"
Hi :)

issue: I believe elm-review is preventing all iterations to show for a solution.

link when this has happened (first time I encounter elm-review so far): https://exercism.org/tracks/elm/exercises/phone-number/iterations

iterations and solutions otherwise show up just fine on dashboard and community solutions: https://exercism.org/tracks/elm/exercises/phone-number/solutions/gacallea

a scre

[2022-04-24 09:20] gacallea commented on #6335
ok nevermind... it just took a while. you may want to check that for performance anyway?

<img width="1447" alt="Screen Shot 2022-04-24 at 11 19 17 AM" src="https://user-images.githubusercontent.com/3269984/164969438-0ffe2571-7358-409f-9f85-144396318710.png">

[2022-04-24 09:20] #6335 closed

[2022-04-24 12:26] ibafly commented on #6306
I saw starring in exercism as a 'bookmark an interesting solution' thing until I couldn't find a place to view all my starred ones. My objective was to navigate to a specific code block in one solution but I can really not remember what exercise name it has.

[2022-04-24 17:22] SleeplessByte commented on #6333
(@glaxxie [Dark mode will be coming in the future](https://github.com/exercism/exercism/issues?q=dark+mode))

@iHiD One of the reasons I've been pretty hesitant to add the practice exercises "practices" key to JavaScript is that I found Ruby and Python's tree very difficult to traverse, and Tom who was practicing Ruby also got stuck right after the second learning exercise because He thought he ne

[2022-04-24 17:54] patricksjackson commented on #6332
Thanks Erik, that helps a lot. We can workaround it now that I understand what's going on.

[2022-04-24 17:54] #6332 closed

[2022-04-24 20:17] MrYarrow commented on #6325
Yes, for me it works now, too! :)

[2022-04-25 10:54] andrerfcsantos opened #6336 "More data about the tracks for maintainers/mentors"
Previously, it was discussed in calls the possibility of adding new endpoints to the API to give more data about the tracks.

This is my wishlist of data I'd like to see about the tracks.

### Global stats about a track

This would have data similar to the one in the weekly email mentors got in v2. This global data could include:

* number of students that joined a track
* number of students that

[2022-04-25 21:11] me-ZaidAli opened #6337 "Incorrent exercises count in rust syllabus concepts"
The exercises count in each one of the concepts for rust's pathway syllabus doesn't match the actual number of exercises in that concept

<img width="1531" alt="Screenshot 2022-04-26 at 1 50 27 AM" src="https://user-images.githubusercontent.com/61061679/165175694-2f97fff3-1549-4d8a-8686-e3802ef31691.png">
<img width="1469" alt="Screenshot 2022-04-26 at 1 51 15 AM" src="https://user-images.githubus

[2022-04-27 15:22] iHiD opened #6338 "Clarification on the front-end job application"
**Update: We've opened a repository at https://github.com/exercism/job-application-process where you can share your thoughts on how we can make a great application process at Exercism (and other tiny not-for-profit organisations like us). You can also read the content below there, with a little more context.**

---

Hi everyone,

I wanted to take a few minutes to reply to some comments that have o

[2022-04-27 20:27] junedev commented on #6333
It was on my todo list to open an issue about this topic as well. I had some screenshots saved for that. I will leave them here as they might help others to understand what we are talking about.

Here is the concept exercise completed modal:

![image](https://user-images.githubusercontent.com/12543047/165622174-4343adf0-9492-4e52-960f-6e612de8c63a.png)

I agree with the people that are not happy w

[2022-04-28 12:29] gacallea opened #6339 "Feature Request: please make pagination a multiple of your view"
Hi,

a picture is worth a thousand words:

![FRQgBWnXEAArmKk](https://user-images.githubusercontent.com/3269984/165751622-6e2481c1-b90d-4357-9be2-9fd1e6c261d4.jpg)

that is the pagination of my profile -> solutions. I'm not sure if this is a valid concern on all different type of screens/resolutions, but it would make sense for pagination to be a multiple of the solutions "view". In this case 24 v

[2022-04-29 11:12] #5680 closed

[2022-04-29 11:48] #6338 closed

[2022-04-29 14:06] saxomagic opened #6340 "Accessibility: the "ready to try the new Exercism" modal dialog is not accessible"
After logging in successfully after not having used Exercism for some time, you are presented with a kind of modal dialog that is not accessible to a screen reader, and requires assistance to click "continue" or similar - after that all is fine.

[2022-04-29 14:36] SleeplessByte commented on #6340
Thanks for reporting.

@iHiD tell me if you want pointers on this.

[2022-04-29 16:50] SleeplessByte opened #6341 "Docs with a slug that doesn't exist result in 500 instead of 404"
Correct (anything but docs): https://exercism.org/tracks/surely-this-does-not-exist

Incorrect: https://exercism.org/docs/xvcbcvb

@ErikSchierboom

Related: #5680

[2022-04-29 16:51] SleeplessByte commented on #5680
The link is now gone, but the error isn't fixed. It's still giving me a 500. Opened #6341 .

[2022-04-30 00:21] fridavbg opened #6342 "CLI - change download folder"
So I've started to use the exercism CLI, but realized I would like it to download to a different directory?

Is there an easy way to change the path?

[2022-04-30 17:04] DylanAndrews opened #6343 "Java tests are not showing failure details"
When I run the test for [lasagna](https://exercism.org/tracks/java/exercises/lasagna), for example, there are no details for the failed tests. All I see is `FAILED`. The instructions for [hello world](https://exercism.org/tracks/java/exercises/hello-world) seem to suggest that I should see test failure details (`java.lang.AssertionError: expected:<Hello, World!> but was:<null>`, but I didn't see t

[2022-04-30 18:51] NobbZ commented on #6342
`exercism configure --workspace <location>` will change the configuration for future downloads, you have to move previous downloads manually.

[2022-05-01 13:08] SleeplessByte commented on #6343
Hi there.

In your exercise folder you will find `build.gradle`. You'll want to change the `exceptionFormat`:

[code]

@ErikSchierboom I cannot move this to @exercism/java 's repo. Want to move it there and also make this change across the board?

[2022-05-01 13:15] DylanAndrews commented on #6343
@SleeplessByte Thanks so much!!

[2022-05-01 14:30] scmbradley commented on #6004
I also have this issue in the Food Chain exercise on the Python track. I wondered whether it might be because it is a private mentoring request, but perhaps not...

[2022-05-01 20:46] julietugo opened #6344 "Update README file"
The Readme file of Exercism does not have many details. For a great site like Exercism, it should be clear from the readme file what it does. Visitors should be able to understand what the website is all bout from the information on the readme file.

I want to update and add all the details that should be on the page. I will make it a comprehensive readme page for exercise.

Can this be assigned t

[2022-05-02 09:12] kytrinyx commented on #6344
@julietugo Thank you for your interest in this.

The entry point for people to use Exercism is https://exercism.org/ -- this has been thoroughly designed, discussed, and iterated upon to be a good place to start.

The README is one possible starting point for _contributing_ to Exercism (the more common entry point for contributing is https://exercism.org/contributing). As such, we don't think that

[2022-05-02 09:12] #6344 closed

[2022-05-02 09:59] a12l opened #6345 "Can't resubmit solution if the same solution has been removed"
I summited a solution to a Haskell exercise that required me to import some packages from Hackage. But Exercism was unable to download the packages (seemed to be some network error), so I deleted my solution from Exercism and tried to resubmit my solution again to see if it was able to download the packages from Hackage now. But I get the error message `Error: No files you submitted have changed s

[2022-05-02 10:24] schmelto opened #6347 "Ref link in `Date and Time` concept not working"
https://github.com/exercism/javascript/blame/main/concepts/dates/about.md#L119

![image](https://user-images.githubusercontent.com/30869493/166219948-dff15e4e-b1c6-4715-b5f4-b4d833b5e4e4.png)

[2022-05-02 11:05] scmbradley commented on #6004
I should add that I'm in Practice mode on the Python track. Maybe that's part of the issue?

[2022-05-02 11:21] a12l opened #6346 "Problem"
When I submit my solution to a Haskell exercise, I get an error message in the `Tests` tab.

The solution works flawlessly on my computer, and the library's source code hasn't changed in two years.

[code]

My `package.yaml` file

[code]

The library's Cabal file is can be found here: https://github.com/twanvl/multiset/blob/master/multiset.cabal, and the library is listed on Hackage here: https://

[2022-05-02 14:45] kenjitamura commented on #5535
Hello!  This issue is still present for me in V3, could we get this reopened?

Here's my troubleshoot:

[code]

I noticed these are the permissions for the snap:
[code]
The home interface does not support snap access to hidden directories.

Is it possible the published Snap's yaml needs the personal-files interface added for ~/.config/exercism to become accessible to the snap?
[https://forum.snapc

[2022-05-02 16:48] NobbZ commented on #6345
1. The test runner has no internet connectivity, so you have to use the packages that are available on the runner.
2. Change your files before resubmitting. The API will refuse to accept unchanged submissions

[2022-05-02 16:50] NobbZ commented on #6346
In general the Testrunner does not have any internet connectivity. You have to solve the exercise with the libraries available in the runner.

[2022-05-02 17:05] NobbZ commented on #5535
As said earlier, the easiest way to solve is to remove the snap and all of its configuration, then install manually.

Alternatively, use the online editor which is now available since September 2021.

[2022-05-02 18:13] glennj commented on #6346
On the other hand, and I assume you're using the `exercism` CLI, you could be satisfied that the solutions are passing on your computer and live with test runner failures. I do this on the Perl5 track where I use modules that aren't installed in the test runner. I've learned to accept the shame of the public failure status on my published solutions.

[2022-05-03 06:39] kotp opened #6348 "Exercism Badge for Staff"
Having an Exercism badge used for staff members can help to identify those that are working more in an official capacity for Exercism, than a mentor or maintainer may have.

The badge would be used, ideally, consistently over the platforms that we use, such as gitter (unofficial), Slack (official) and perhaps IRC, though that will be a textual thing, and probably in the form of a "cloak".

[2022-05-03 07:01] a12l commented on #6345
@NobbZ: It was more that if I've removed the old submission, shouldn't I be able to resubmit the solution?

@glennj Did that, just thought that I should be able to resend the solution if the old solution had been removed.

[2022-05-03 07:05] NobbZ commented on #6345
Oh, I didn't realize that you deleted the submission on the page. Then I'd indeed a resubmission to work, even with the same code, as the code isn't "known" to the site anymore.

@iHiD @ErikSchierboom is this a bug in the removal to not remove everything? Or is this a bug in submission as it considers things that are marked as deleted?

[2022-05-03 07:06] a12l commented on #6346
From the [Haskell Anagram exercise](https://exercism.org/tracks/haskell/exercises/anagram)

It explicitly says that I should be able to use the library.

[2022-05-03 08:10] ErikSchierboom commented on #6347
@junedev This is likely fixable. I'll try to check later today or tomorrow.

[2022-05-03 08:16] NobbZ commented on #6346
It says that you might want to play with those libs, not that you will be able to use them on the test runner.

Indeed though I have to be honest. The wording is unfortunate. And perhaps the testrunner can be adjusted to allow usage of those packages, or wording can be adjusted to explicitely warn that submissions using those libs will fail on the test runner?

@exercism/haskell any opinion on thi

[2022-05-03 09:54] iHiD commented on #6345
I think this one.

[2022-05-03 13:35] a12l commented on #6346
But the `text` and the `containers` packages is available in the environment? I haven't looked at all the Haskell exercises, but both `text` and `containers` have never been required, but just been available to "test out with".

And for someone that use the live editor, how is one supposed to "play with" `multiset` if you can't even compile your program? It's like to teach someone programming by g

[2022-05-03 13:38] a12l commented on #6346
@NobbZ Not blaming you personally, it just feels like an obvious bug to me that it isn't available. But the Haskell team should be able to clarify it :)

[2022-05-03 14:04] iHiD commented on #5654
@angelikatyborska Do you know if this got fixed? (cc @ErikSchierboom to fix it if not)

[2022-05-03 14:07] iHiD commented on #5690
I think this is maybe done.

[2022-05-03 14:09] iHiD commented on #5751
As an update on this, currently adding the labels would mean the lines overflowed and the layout would break, so them not showing is intentional. I'm going to leave this as a feature request rather than a bug and our designer can look at it when he gets chance.

[2022-05-03 14:11] iHiD commented on #5767
I've changed my mind - they should show in both places in Practice Mode.

[2022-05-03 14:11] iHiD commented on #5803
@ErikSchierboom Is this still a bug?

[2022-05-03 16:41] petertseng commented on #6346
To fix this issue, `multiset` should be added to https://github.com/exercism/haskell-test-runner/blob/main/pre-compiled/package.yaml

Reasons why it is appropriate to be added:
* an exercise instruction mentions it
* it appears a reasonable number of times in https://github.com/exercism/haskell/issues/1006#issuecomment-954681704 which is a count of number of times packages were used

[2022-05-03 22:29] maxzod opened #6349 "copy to clipboard in setup"
it would be great to add it here
![image](https://user-images.githubusercontent.com/47630729/166581933-735bf0f1-0eb6-4a1e-abcf-eca8f1026148.png)

[2022-05-04 00:05] SleeplessByte commented on #6349
For Erik or Jeremy or the new front-ender.

[code]

And you probably want to check:

[code]

If you make it a `<button type="button" ...>` (you should), don't forget to allow copying directly from that button:

[code]

Some of this is for older browsers (ie `e.code` and the legacy name `Space`), so you may not need those.

[2022-05-04 07:57] ErikSchierboom commented on #5803
Nope, this has been resolved by https://github.com/exercism/website/pull/2621

[2022-05-04 07:57] #5803 closed

[2022-05-04 13:04] ErikSchierboom commented on #6347
@junedev @schmelto I've looked into this, and due to the way footnotes are rendered and admonition blocks are implemented, this is unfortunately _not_ an easy fix :( For now, I'd recommend to work around this.

<img width="766" alt="Screenshot 2022-05-04 at 15 03 01" src="https://user-images.githubusercontent.com/135246/166686753-4fb0d9a6-5933-4021-9626-e4d46ab8ecad.png">

[2022-05-04 16:10] iHiD commented on #6349
@SleeplessByte Nice, thanks.

For whoever looks at this, it's worth understanding that most of the code that powers this bit of the UI lives in https://github.com/exercism/interactive-cli-walkthrough rather than in our main codebase. However, I vaguely remember that we now post-process stuff so this might be achievable by using our real codebase. But I might also have dreamt that.

[2022-05-04 21:45] SleeplessByte opened #6350 "Mentor profile cards can go beyond top of the page"
![image](https://user-images.githubusercontent.com/1964376/166830799-c400f134-86d1-4d84-acd0-ecb22667a9bd.png)

On https://exercism.org/mentoring/queue.

No way to scroll. Seems that it's not correctly "poppering".

[2022-05-05 08:18] ErikSchierboom commented on #6347
@SleeplessByte I'll work on it a bit more

[2022-05-05 09:13] ErikSchierboom commented on #5654
Looks to have been fixed:

![image](https://user-images.githubusercontent.com/135246/166894090-a052c6c4-662e-4d38-8fec-21dc354eb0ea.png)
![image](https://user-images.githubusercontent.com/135246/166894380-d3728d5d-36cd-418e-ae9e-c8421f0566a7.png)

[2022-05-05 09:13] #5654 closed

[2022-05-05 10:34] iHiD commented on #6346
@petertseng @ErikSchierboom Is this one that either of you can fix? Should this issue be moved to exercism/haskell?

[2022-05-05 10:36] iHiD commented on #6340
@saxomagic Thanks for reporting.
@ErikSchierboom Could you take this one on and chat to @SleeplessByte as part of it pls.

[2022-05-05 10:38] ErikSchierboom commented on #6340
I'll get in contact

[2022-05-05 10:42] iHiD commented on #6306
@ErikSchierboom This would be a valuable feature to add.

1. Should appear on the top-right drop down menu as "Starred Solutions"
2. A page that lists them with pagination. Ideally with track/exercise filter. You could probably copy/paste most of this from one of the other solution listing pages.
3. New API endpoint (probably at `/solutions/starred` as `starred` action on `api/solutions_controller

[2022-05-05 10:47] iHiD commented on #6336
@ErikSchierboom This is maybe a fun project for you to work on soon. Let's spend an hour fleshing out the details.

[2022-05-05 10:47] iHiD commented on #6337
@me-ZaidAli Thanks for reporting.
@ErikSchierboom I'm guessing this is an artifact of WIP exercises?

[2022-05-05 10:57] #5652 closed

[2022-05-05 10:59] iHiD commented on #6333
Thanks all. I think there are three different (general) points that are worth discussing individually here:
1. Adding a "Next exercise button" - it feels like "Next Learning Exercise" is the route to go?
2. Making it clearer what is expected of you as a user in terms of breadth/depth (e.g. DJ's example of Tom's expectations)
3. The complexity of the Exercise Page.

If everyone agrees those are the

[2022-05-05 11:06] #5711 closed

[2022-05-05 11:09] iHiD commented on #6339
@ErikSchierboom It'll need to be a multiple of 1, 2 and 3.

[2022-05-05 12:12] SleeplessByte commented on #6339
12 and 24 are good candidates.

[code]

[2022-05-05 12:12] #6341 closed

[2022-05-05 12:14] ErikSchierboom commented on #6339
12 and 24 also have the benefit of being divisible by 4, in case we ever do want to support that.

[2022-05-05 12:14] SleeplessByte commented on #6346
I think it should be moved, and I think this packages should be added.

[2022-05-05 12:17] SleeplessByte commented on #6339
Don't stop there. You can also divide by 6.

The magic of base 12

[2022-05-05 14:16] #6339 closed

[2022-05-06 06:12] #6337 closed

[2022-05-06 20:14] SethFalco opened #6352 "Make CoC docs here match website"
Suggested change:
[code]

### Related
* https://github.com/exercism/exercism/pull/6351

[2022-05-07 12:14] Araxeus opened #6353 "Rust: YOUR TESTS TIMED OUT"
![image](https://user-images.githubusercontent.com/78568641/167254002-89efa0da-f907-4d85-b841-abd34b820999.png)

I've tested the code locally and it works perfectly, I also tried submitting both from CLI and in the website

Exercise: https://exercism.org/tracks/rust/exercises/resistor-color

Code:
[code]

Since tests run fine on my PC, I assume this is a bug?

[2022-05-07 15:08] Araxeus commented on #6353
FYI I've tried over 20 times at different times of day, and I always get the same error on submit

[2022-05-07 23:28] SleeplessByte commented on #6353
cc @exercism/rust

[2022-05-08 12:43] iHiD commented on #6352
@SethFalco Thanks for this.

This actually needs changing at https://github.com/exercism/org-wide-files/blob/main/CODE_OF_CONDUCT.md - that's the central one that's copied into all repositories. Changes here will get overriden at the next sync from that central place. Would you like to PR there instead? I'm :+1: on the change FYI.

[2022-05-08 12:47] SethFalco commented on #6352
Are you familiar with .github repos?
If not, it may be something worth looking into.

If you make a repo at exercism/.github and just put the `CODE_OF_CONDUCT.md` in there, there's no need to copy and paste it everywhere, GitHub infers that it's for all repos on the organization, and it gets displayed as-if it were in each repository. (Unless a particular repository overrides it with its own versi

[2022-05-08 12:55] iHiD commented on #6352
Appreciate you letting us know! 💙  But yes, we're already familiar 🙂 We use org-wide files as our needs a bit more complex in general and this copy/paste mechanism works quite well for us.

That said, for CoC etc. we could maybe consider only copying it into repos if they are amends to it, so as not to require all maintainers to have to accept updates when they happen. Maybe one for @ErikSchierboo

[2022-05-08 12:59] SethFalco commented on #6352
Ahh actually there might be some confusion.
This PR was not updating the CoC itself, it was updating the README.

Looks like the central repository wouldn't be the one to update for this?

[2022-05-08 15:56] iHiD commented on #6352
Oh, I see! Sorry Yes, please update that. But also please update the org-wide files bit to add the bit about the subject heading too. Double extra-rep for you 😉

[2022-05-08 18:53] SaschaMann commented on #6352
Unless it changed, the files in `.github` are only displayed on the website, they're not actually part of the repo itself. Depending on how you interact with GitHub, e.g. when using Desktop clients or extensions, you will never get to see it and I'd imagine even on the web interface changes to it would be missed more easily than when there's a PR that changes them.

[2022-05-09 08:11] kajajaronska opened #6355 "JavaScript | Mixed Juices Exercise | Timed out tests"
I receive "Your tests timed out error" on JavaScript Mixed Juices exercise - Task 2. I have came up with two possible solutions for the exercise and checked both on my local machine and also in CodePen environment (links below), so I am certain that I have no infinite loops. Thank you for looking into this for me.

https://codepen.io/kajkajajka/pen/abqdZzM
https://codepen.io/kajkajajka/pen/dydGXYP

[2022-05-09 17:06] iHiD commented on #6355
(cc @exercism/javascript)

[2022-05-09 17:07] iHiD commented on #6355
@kajajaronska You might like to look at https://github.com/exercism/exercism/issues/6309 as I suspect this is a duplicate of that 🙂

[2022-05-09 17:45] SleeplessByte commented on #6355
Both of the solutions have infinite loops :). @kajajaronska shout if you want help finding them. If you want to try yourself first, the issue linked by @iHiD should help. The same issue is present in both provided solutions.

[2022-05-09 17:51] SleeplessByte commented on #6340
Erik and I spoke. I'll briefly list the points I've given.

## Links

- [WAI ARIA practices: Dialog Modal](https://www.w3.org/TR/wai-aria-practices/#dialog_modal)
- You probably  want [WAI ARIA practices: Alert Dialog](https://www.w3.org/TR/wai-aria-practices/#alertdialog)
- [Example implementation of Alert dialog](https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/alertdialog.html)
-

[2022-05-09 17:53] kajajaronska commented on #6355
thank you Both! I will look for the infinite loops and will be back if I am stuck (again!) 🙌🏼

[2022-05-09 18:58] kajajaronska commented on #6355
Got it - thank you so much again! I tend to forget to return from functions ... 🙈

`function limesToCut(wedgesNeeded, limes) {
  let limesUsed = 0;

  while (wedgesNeeded > 0) {
    if(limes.length === 0) return limesUsed;

    switch (limes[0]) {
      case "small":
        wedgesNeeded -= 6;
        limesUsed++;
        break;

      case "medium":
        wedgesNeeded -= 8;
        limesUsed++;

[2022-05-09 18:58] #6355 closed

[2022-05-10 11:55] pokrakam commented on #6333
If I may add a short comment, I also agree the `Return to Exercise` button is not logical at the point the user has just indicated that they're done. As someone who joined Exercism as both both track author and student (and developer of many years), I found the distinction between concept and practice confusing and it took me some time to get the hang of it.
See also https://github.com/exercism/ab

[2022-05-10 12:13] ErikSchierboom commented on #6352
For the last batch, I've kept the PRs open for 1,5 weeks now (I _should_ be merging them soon). But in general, I usually try to merge them sooner than later.

[2022-05-10 14:13] iHiD commented on #6282
@ErikSchierboom Closable?

[2022-05-10 14:14] ErikSchierboom commented on #6282
Yep. Closed by https://github.com/exercism/website/pull/2644

[2022-05-10 14:14] #6282 closed

[2022-05-10 15:22] iHiD commented on #5903
@ErikSchierboom Can you see if this can be closed pls, and if it still needs doing, do it.

[2022-05-10 15:37] iHiD commented on #5661
@ErikSchierboom I think this would be worth you doing. It'll help a lot of people. Let's discuss it next Tuesday?

[2022-05-10 15:39] iHiD commented on #5910
@ErikSchierboom See comment above.

[2022-05-10 15:42] iHiD commented on #5883
@erikschierboom This is probably a quick one for you to do if you fancy a bit of responsive CSS fun. If not, reassign it to me.

[2022-05-10 15:43] iHiD commented on #5907
@ErikSchierboom You were going to see if this was now already fixed with the update to React.

[2022-05-10 15:43] iHiD commented on #5899
@ErikSchierboom I think this can probably be closed now?

[2022-05-10 15:48] iHiD commented on #5608
I believe this is now fixed for everyone other than @joshgoebel and @jamessouth.
1. Is that correct?
2. @ErikSchierboom Could you solve this for Josh and James please, either by giving them instructions, or by fixing whatever needs fixing in the db. Thanks!

[2022-05-10 16:00] iHiD commented on #5635
All replies now go at the end of a conversation so being able to attach them to old iterations won't work with the UI as it is now (as opposed to how it was in v2). So I'm going to close this.

[2022-05-10 16:02] iHiD commented on #5645
@ErikSchierboom Could you look at one of these and see what the actual text stored in the db is pls and if this is fixable?

[2022-05-10 16:07] #5677 closed, assigned to nobody

[2022-05-10 16:08] iHiD commented on #5678
@ErikSchierboom @SaschaMann Is this still an issue?

[2022-05-10 16:08] iHiD commented on #5681
@ErikSchierboom Thoughts on this?

[2022-05-10 16:39] junedev commented on #5683
Yes, but it does not seem to be limited to the "NEW" tag, it also happens when the exercise name itself is too long.

![image](https://user-images.githubusercontent.com/12543047/167679521-895f3303-667e-42e9-a46d-665c374512b1.png)

[2022-05-10 17:04] iHiD commented on #5699
@ErikSchierboom Can this be closed?

[2022-05-10 17:06] iHiD commented on #5875
@bobahop Is this issue the same as https://github.com/Ionaru/easy-markdown-editor/issues/189 ? If so, @ErikSchierboom do you want to try implementing the solution there and checking with Bob that it works for him as expected (via a Loom or something)?

[2022-05-10 17:11] #5716 closed

[2022-05-10 17:14] iHiD commented on #5719
I'm going to close this as per @SleeplessByte's comment. Currently we're only building language tracks but in the future, if that changes, we can reopen this.

[2022-05-10 17:14] #5719 closed

[2022-05-10 17:14] iHiD commented on #5721
Closing as duplicate of https://github.com/exercism/exercism/issues/5683

[2022-05-10 17:14] #5721 closed

[2022-05-10 17:18] iHiD commented on #5730
I'm calling this a bug. I think we should have a button on the [...] menu for "Get Help" which opens a modal with this in. The only thing then is to ensure that the help.md content doesn't container CLI specific info everywhere.

[2022-05-10 17:20] iHiD opened #6356 "On syllabus view, the concept exercises should always be the first "dots" on each card."
e.g. This should be 1st place not 5th place.

![image](https://user-images.githubusercontent.com/12543047/150674685-cafdec10-9e59-4732-9525-5e7c5ef007f3.png)

(This is probably either Go or JS if you're after an example - I stole the screenshot from @june)

[2022-05-10 17:25] iHiD commented on #5741
To be clear, the suggestion is changing from "You've finished your discussion with..." to something like "You're discussion with ... has finished"?

[2022-05-10 17:26] iHiD commented on #5749
@joshgoebel Closing this due to no response, but pls reopen if something still needs doing.

[2022-05-10 17:26] #5749 closed

[2022-05-10 17:28] #5752 closed

[2022-05-10 17:32] #6356 closed, assigned to ErikSchierboom

[2022-05-10 17:33] iHiD commented on #5761
@angelikatyborska @ErikSchierboom Guessing this can be closed?

[2022-05-10 17:37] iHiD commented on #5771
I feel like this is either fixed or it's referenced in another issue I went through with @ErikSchierboom. Going to assign to Erik to work out 🙂

[2022-05-10 17:43] iHiD commented on #6277
I think we need two:
1. Short one (for scenarios like the dashboard, and in sentences)
2. Long one (for scenarios like appear in mentor comments as per the discussion on https://github.com/exercism/exercism/issues/5778)

I wouldn't just want "Jeremy" for (2). And I wouldn't want "Jeremy Walker" for one.

[2022-05-10 17:46] iHiD commented on #5783
@ErikSchierboom I feel like this got resolved. Could you check pls?

[2022-05-10 18:25] iHiD commented on #5807
@ErikSchierboom Don't show "Learning mode" tag on **joined** tracks on this page.

[2022-05-10 18:26] iHiD commented on #5804
I'm going to close this pending us finding an example in which case pls reopen! 🙂

[2022-05-10 18:26] #5804 closed

[2022-05-10 18:28] iHiD commented on #5785
Have you still seen this recently?

[2022-05-10 18:30] iHiD commented on #5779
@ErikSchierboom This is on Profiles (not journey or dashboard). Two things:
1. Only show revealed badges at the top.
2. Only show badges tab if there's >1 revealed.

Both of these might already be done, in which case pls close this.

[2022-05-10 18:31] iHiD commented on #5810
@ErikSchierboom We should do a check of how many solutions have not got test results, both in cloudsearch and the database and rerun them (on the background queues!!)

[2022-05-10 20:26] SaschaMann commented on #5681
I'd change that to: do not deploy unless _certain_ CI checks pass.

Some failures might be expected, e.g. on the Julia track we test against nightly Julia versions. While this is very rarely an issue in practice, the test script broke once as a result. Sometimes the nightly builds fail because the nightlies themselves are broken. GitHub still doesn't have a good way of handling cases like this (ht

[2022-05-10 20:28] SaschaMann commented on #5678
I don't know, I changed them all to `wip` as a workaround.

[2022-05-10 22:11] joshgoebel commented on #5741
My suggestion is to track who -actually- ended it and say so clearly. I think it's useful for everyone to know.

[2022-05-11 08:11] iHiD commented on #6331
At a glance it seems to be whenever a solution is created or updated, which would indeed then mean downloading an exercise is considered a touch. I think changing it to what you suggest is sensible.

[2022-05-11 11:27] ErikSchierboom commented on #5704
This applies to the exercism/docs repo, right?

[2022-05-11 13:21] iHiD commented on #5704
Yes.

[2022-05-12 00:30] rlmark opened #6360 "request to create unison-test-runner repo"
Hi folks, Unison track maintainer here! This is the request to create the unison-test-runner repo, so I can get started on implementing our test runner.

[2022-05-12 01:15] bobahop commented on #5875
It appears to be the same issue.

[2022-05-12 10:28] iHiD commented on #6360
https://github.com/exercism/unison-test-runner

Have fun! 🙂

[2022-05-12 10:28] #6360 closed

[2022-05-12 11:53] ErikSchierboom commented on #5810
LOL

[2022-05-12 12:23] ErikSchierboom commented on #5783
Yep, this has been solved.

[2022-05-12 12:23] #5783 closed

[2022-05-12 12:24] ErikSchierboom commented on #5678
But wouldn't you _want_ the beta exercises to be there just like regular exercises for testing purposes? Note: normally, `beta` exercises are hidden, but if the user is a maintainer (which you are), you'll see them. The idea was that this will help with testing.

[2022-05-12 12:45] SaschaMann commented on #5678
This was not clear to me at all. I don't remember if I opened this issue based on a student's comment or not but if this is actually working as intended, perhaps the UI should communicate more clearly that I'm viewing the track or exercises in some sort of maintainer mode.

[2022-05-12 13:32] ErikSchierboom commented on #5678
I think this is a good idea. We should probably also show a "Beta" tag for the corresponding exercises. Might need a bit of UI work.

[2022-05-12 13:36] ErikSchierboom commented on #5771
This was fixed in https://github.com/exercism/website/pull/2545

[2022-05-12 13:36] #5771 closed

[2022-05-12 13:45] ErikSchierboom commented on #5761
@iHiD It can't yet, We not reprocessed the Elixir solutions apparently (the original example was still wrong). I've just reran the snippet generator for just that example, and it _did_ fix it. To fix this, we'd have to re-run the snippet generator on all of Elixir's published iterations (around 120_000). I could queue this, but we have to make sure to use the background queue. Let me know when (or

[2022-05-12 13:49] ErikSchierboom commented on #5875
Weird. I can't reproduce this locally. What OS/browser setup are you using? And could you perhaps make a small Loom recording to show the issue?

[2022-05-12 14:37] ErikSchierboom commented on #5650
We'd likely want to max out the second value to the maximum execution time (20 secs), agreed?

[2022-05-12 14:41] ErikSchierboom commented on #5903
See https://github.com/exercism/exercism/issues/5761#issuecomment-1125015637

[2022-05-12 14:48] Araxeus commented on #6353
This is still happening and very annoying...

Is anyone looking into this?

[2022-05-12 17:10] ee7 opened #6361 "track repos: `description`: some are blank"
The `description` appears in places like:
- https://github.com/exercism
- https://github.com/search?q=topic%3Aexercism-track+org%3Aexercism
- the top right of a language track repo, e.g. https://github.com/exercism/ruby

[code]

At the time of writing, there are 25 tracks with a blank `description`. Can we set them?
[code]

The others:

[code]

[2022-05-12 17:11] ee7 opened #6362 "track repos: `homepage`: some use `http://exercism.io`"
The `homepage` appears in e.g. the top-right of a track repo (such as https://github.com/exercism/ruby).

[code]

At the time of writing, there are 3 empty values and 3 that begin with `http://exercism.io`. Can we make them consistent, by:
- using `https://exercism.org/tracks/wasm` for wasm (since that link does not 404)
- setting a blank `homepage` for `free-pascal` and `unison` (because those pa

[2022-05-12 17:55] kytrinyx commented on #6362
Good catch, thank you!

[2022-05-12 18:00] kytrinyx commented on #6361
Thanks @ee7, I'll go ahead and whip something up to fix this.

[2022-05-12 18:59] kytrinyx commented on #6361
This is now fixed. I reran the `jq` command above, and confirmed that there are now no `null` descriptions.

[2022-05-12 18:59] #6361 closed

[2022-05-13 05:04] NobbZ commented on #5785
I haven't actively looked at this issue, instead I just marked everything as read, and today its good enough to just open the "new notifications" once and everything is good.

[2022-05-13 06:34] coriolinus commented on #6353
Procedural macros can substantially slow down the Rust compiler, and in this example you're using at least two of them: `IntEnum` and `IntoEnumIterator`. Add that to the additional time required to compile dependencies, and it's not that surprising that you're timing out; the timeout limit is only two seconds. I'd kind of expect this to take more than two seconds to compile, at least the first tim

[2022-05-13 06:58] Araxeus commented on #6353
Wait are you serious? the exercise literally tells you to use those crates:

Either fix the exercise or rewrite it....

[2022-05-13 07:06] coriolinus commented on #6353
There are two competing goals in play:

- Teach Rust; this involves knowing about the crate ecosystem and procedural macros and how to use each. This is why we have this exercise.
- Offer a smooth web experience without requiring students to install a development environment on their local computer and without spending excessively large amounts of money on cloud resources running the student tests

[2022-05-13 07:11] Araxeus commented on #6353
So you expect that every time a user faces this 'bug', they come here and open an issue and then you tell them to skip the tests?

Why don't you rewrite the instructions(/add a note), explaining what you just told me, that the online tests will always fail?

[2022-05-13 07:37] kytrinyx commented on #6362
I decided to set the homepage to `https://exercism.org/tracks/:track_id` for all the tracks, even if they haven't been launched yet, since we set the value when bootstrapping the track. I think that makes sense, even for tracks that haven't been launched yet.

[2022-05-13 07:37] #6362 closed

[2022-05-13 07:49] kytrinyx commented on #6361
Thank you so much for noticing that; I should have checked the punctuation when I made the update.

I will make them all consistent—I vaguely prefer ending with a period since a description is intended to be a full sentence or paragraph.

[2022-05-13 07:55] kytrinyx commented on #6361
I've also updated the bootstrap script in `request-new-language-track` to include the period.

[2022-05-13 08:00] kytrinyx commented on #6361
Okay this should now be good:

[code]

[2022-05-13 08:16] ee7 opened #6363 "track repos: README top-level header: some still have old `x` prefix"
For example, the [`README.md`](https://github.com/exercism/plsql/blob/82abf9d18e0f/README.md) for `plsql`:

Currently:

[code]

Expected:

[code]

Like e.g. the [`README.md`](https://github.com/exercism/ruby/blob/758b70398d04/README.md) for the `ruby` track.

[2022-05-13 11:40] bobahop commented on #5875
This happens in Chrome, Firefox and Edge. The way to reproduce is to type in a few sentences with no line breaks. Press the home key. Instead of the cursor going to the beginning of the line it is on (as it does in the editor I'm using right now in GitHub) it will go to the beginning of the paragraph. This happens when commenting in a mentoring session. When I have time I may try to do a video.

[2022-05-13 11:56] bobahop commented on #5875
With cursor at the end of a line, I press HOME and it goes to the beginning of the paragraph, not to the beginning of the line. I press END, and the cursor goes to the end of the paragraph, not to the end of the line.

https://www.loom.com/share/00f46203745f4e91963dc63f74afd0ab

[2022-05-13 12:17] iHiD commented on #6353
@Araxeus Please be careful of your tone.

---

@coriolinus You can set the `test_runner: false` in the exercise's `config.json`, which will mean that the website doesn't expect test runners to succeed within the timeframe, and then it informs the user accordingly.

[2022-05-13 12:28] kytrinyx commented on #6362
I'm pretty sure that there was a period of time when the bootstrapping script didn't set it. I'll double-check with @iHiD, though, to be sure.

I don't think there is, at the moment. If we do make one, we can consider moving this bit over. But for now I think it's fine.

Thanks again for your help with this.

[2022-05-13 13:50] Araxeus commented on #6353
@iHiD Thank you and sorry for my seemingly aggressive tone

[2022-05-13 17:18] bobahop commented on #6056
Yes, my understanding is that once you are cleared to comment you have thirty minutes to send the comment before it goes back into the pool. I just got bit by this again today. I don't think 2 people should be cleared to comment at the same time. That would be the fix, I think. I think the lock should commence once the "Start Mentoring" button is clicked", not just when viewing, because you may vi

[2022-05-13 17:37] SleeplessByte commented on #6056
I often check the request and then back out, so this would be good to have as explicit button, indeed!

[2022-05-13 18:42] kytrinyx commented on #6363
I wrote a script that checks all the track READMEs. Some had the `x` prefix, others had just the programming language name as the title.

I've now normalized everything to **Exercism {LANGUAGE} Track** to match what the bootstrap script has.

[2022-05-13 19:33] iHiD commented on #6056
@ErikSchierboom: This is the React: app/javascript/components/mentoring/request/StartMentoringPanel.tsx

Thoughts:
1. At a glance, it doesn't look like it's doing anything if the lock fails, so that's an issue.
2. But then I'd not expect Bob to be able to continue, so possibly the API controller (app/controllers/api/mentoring/requests_controller.rb) isn't raising properly if this fails, or the JS

[2022-05-14 00:30] ftt commented on #6238
This can be solved with providing a Cargo.toml with this section added:
[code]

[2022-05-14 01:47] bobahop commented on #6056
Something else to consider is if the student cancels their mentoring request. If so, it might be helpful to have the error message say that instead of saying that another mentor has locked the request, if that's what's happening now.

[2022-05-15 16:57] kotp commented on #5875
I always thought this behavior was expected, due to HOME and END being line movement keys.  And typing a single line (even if it flows) is still a single line.

[2022-05-15 19:05] lf94 opened #6364 "How to get files of a solution?"
I'm trying to make a benchmark comparator using exercism.io solutions - while I'm able to get a list of solutions, it seems the URL to get the actual file contents is constructed in the backend?...

My goal is to simply compare some Standard ML solutions to Go solutions (speed, resource usage).

[2022-05-16 01:07] bobahop commented on #5875
You'll notice that editing in GitHub comment box that the HOME and END keys go to the beginning and end of the wrapped line and not to the beginning and end of the typed line. That's how it works in every other editor I've used.

[2022-05-16 01:23] bobahop commented on #5875
Pressing HOME and END while editing the above comment to show the expected behavior.

https://www.loom.com/share/d33b4ca27e0842e497afc6f995aedeea

[2022-05-16 01:50] kotp commented on #5875
I just tested it in my editor, and I think I know why I thought it was normal behavior for an editor.  It does exactly that, the HOME key and END key go to the beginning and end of the actual line even when that line is wrapped to visually show "lines".  I never considered that the Github comment box was an editor while I thought it was apparent that editor behavior was the intent for the Web Edit

[2022-05-16 10:46] iHiD commented on #6364
Yeah, the API isn't intended for scraping like that at the moment really. What exactly are you trying to download? Maybe we can send you some instead?

[2022-05-16 10:48] iHiD commented on #6353
@Araxeus Thanks 🙂

I believe @coriolinus has now updated the track, so I think this can be closed.

[2022-05-16 10:48] #6353 closed

[2022-05-16 10:49] iHiD commented on #6326
On which page? The journey->badges one?

[2022-05-16 10:51] #6313 closed

[2022-05-16 11:01] SaschaMann commented on #6326
Yes.

[2022-05-16 11:09] iHiD commented on #6238
@ftt What do these options do? They feel like quite important things to have for all students if they make things run faster! (cc @ErikSchierboom)

[2022-05-16 16:42] kotp commented on #5875
The issue does read "Comment Box" and so modeling after what github comments do is a fair goal.

[2022-05-16 16:44] kotp commented on #5875
I usually do use my local editor to make comments though.  Writing any lengthy and formatted content in a comment box is tedious, unless you are copy/pasting template responses.

[2022-05-16 17:14] bobahop commented on #5875
I do a mix of both. I may paste in a templated response, but then tweak it for the particular solution. The tweaking is a bit more tedious with the current behavior.

[2022-05-16 22:52] iHiD opened #6365 "Fixup Stripe donations"
Stripe donations were not correctly being taken after the first month. This step was missing from the implementation:
<img width="833" alt="Screenshot 2022-05-16 at 19 09 37" src="https://user-images.githubusercontent.com/286476/168687956-25eeecf4-cec7-4f96-b581-bb575c04f527.png">

This is fixed in https://github.com/exercism/website/pull/2659 but data now needs sorting and people contacting. In a

[2022-05-17 00:57] glennj opened #6366 "Tests fail with no failing tests"
![image](https://user-images.githubusercontent.com/122470/168705502-ae78d4f3-a586-45ab-be1a-2841b47bebe1.png)

This is the Tcl robot-name exercise. There are 10 tests, and I suspect the tests may have timed-out (as the previous iteration did)

Why are only 9 of 10 tests reporting?

[2022-05-17 08:11] ErikSchierboom commented on #6238
So it looks like the custom key is now being used in the appropriate exercises (https://github.com/exercism/rust/commit/b67b91ac4a910d08bdc4f3dc029c6de285a150bd), but that the test runner has not yet been updated (https://github.com/exercism/rust-test-runner/search?q=test-in-release-mode). There was a PR to update the test runner, but that has been closed: https://github.com/exercism/rust-test-run

[2022-05-17 08:35] ErikSchierboom commented on #5875
Thanks for the detailed repro! I'll look into it.

[2022-05-17 12:37] glennj commented on #6366
The iteration 4 solution which is exhibiting the odd behaviour: https://github.com/glennj/exercism.io/blob/main/tcl/robot-name/robot-name.tcl

My approach to the solution is to generate all possible robot names initially. The iteration 3 code, which times out, is the same code slightly rearranged. The functional difference is this iteration shuffles the list of names.

[2022-05-17 12:54] glennj commented on #6366
I see the docker image I'm using is providing an unexpected Tcl version (I expect the current stable version 8.6.x)
[code]

When I use `run-in-docker.sh`, I see
* result.out is correct
[code]
* results.json is wrong
[code]
I'll see if I can pin the image.

[2022-05-17 13:14] glennj commented on #6366
OK I figured out the null tests. I'm injecting a command into the test file to add extra verbosity, but I'm doing it at the wrong spot.

[2022-05-17 13:15] glennj commented on #6366
However the original question of this issue remains: I still don't understand why only 9 of 10 tests were reported.

[2022-05-18 04:11] lf94 commented on #6364
I was just going to write some simple shell script where you input a source and target language, the solution, and then it tries to download both and run them... It's all good, thank you for the reply!

[2022-05-18 04:11] #6364 closed

[2022-05-18 09:35] ErikSchierboom commented on #5761
@iHiD I've changed it slightly because:

a) `solution` doesn't have a `track`, but `exercise` does
b) we can filter the solutions by `status: :published`

My script now looks like this:

[code]

[2022-05-18 09:41] iHiD commented on #5761
Great! Do it :)

[2022-05-18 10:50] ErikSchierboom commented on #5761
We've just reprocessed all of Elixir's published iterations, and it looks like this did indeed fix the issue. See https://exercism.org/tracks/elixir/exercises/two-fer/solutions where there are now no longer any cutoffs.

[2022-05-18 10:50] #5761 closed

[2022-05-18 10:50] ErikSchierboom commented on #5903
We've just reprocessed all of Elixir's published iterations, and it looks like this did indeed fix the issue. See https://exercism.org/tracks/elixir/exercises/two-fer/solutions where there are now no longer any cutoffs.

[2022-05-18 10:50] #5903 closed

[2022-05-18 10:54] ErikSchierboom commented on #5959
I've just checked, and this appears to have been fixed.

[2022-05-18 10:54] #5959 closed

[2022-05-18 12:18] #5875 closed

[2022-05-18 12:25] ErikSchierboom commented on #5723
This has already been implemented. See https://github.com/exercism/website/blob/main/app/commands/solution/publish.rb#L24-L30 and  https://github.com/exercism/website/blob/main/app/models/user/reputation_tokens/published_solution_token.rb#L6

[2022-05-18 12:25] #5723 closed

[2022-05-18 12:29] iHiD commented on #6366
@glennj This was the `results.json`:
[code]

So there are 9 passing tests in that JSON, but the top-level status is set to `fail`.

[2022-05-18 12:42] glennj commented on #6366
Can you extract the results.out file? Is that cached anywhere.

[2022-05-18 15:27] bobahop commented on #3900
@kytrinyx , please reopen this issue

It would be nice to be able to see the diff between iterations for a solution submitted for mentoring. It's frequent enough that a student just submits another iteration without comment. It would be efficient if I could quickly see the difference from the iteration I last commented on, so I could focus feedback on what changed, instead of sifting through the w

[2022-05-18 17:16] iHiD commented on #6366
No, I can't. That's something we should be caching, but at the moment it only gets stored on the machine. As there are 20 machines and they all get recycled every few hours, I have no idea where or how to get it. I'll add an extra issue to cache that for future though. Sorry.

We do cache the stdout, which is as follows, if that's any use:
[code]

[2022-05-18 17:17] iHiD opened #6367 "Store results.out from tooling jobs"
Currently we store stdout, stderr and the results. We should also store results.out (see https://github.com/exercism/exercism/issues/6366#issuecomment-1130276316)

[2022-05-18 17:19] iHiD commented on #5875
@bobahop Let us know if this is better now! :)

[2022-05-18 17:33] iHiD commented on #6366
(I'm sure you'll notice this yourself, but according to that output, it seems only 9 tests actually ran)

[2022-05-18 17:45] glennj commented on #6366
I think I found the problem, and have updated the tcl test-runner. While parsing the test suite output, if the process gets terminated in the middle of a test, the current test output was getting orphaned. My latest fix will capture it.

I don't think there's any more diagnosis we can do for this particular issue, so I'll close it.

[2022-05-18 17:45] #6366 closed

[2022-05-19 01:37] rockysingh3 opened #6368 "I'm getting an error when trying to run 'npm test'"
So I get the error:    Cannot find module 'core-js/fn/promise' from 'promises.js'

What do you think this could be from? I'm importing resolve and reject like this:

import { reject, resolve } from "core-js/fn/promise";

I checked the core-js file and it looks right

[2022-05-19 08:55] bobahop commented on #5875
Looks good! Thank you very much!

[2022-05-19 09:22] #5710 closed

[2022-05-19 09:22] #5779 closed

[2022-05-19 09:27] ErikSchierboom commented on #5899
Yep. We've changed community solutions to be ordered by number of stars (descendingly) and added the option to order by newest first.

![image](https://user-images.githubusercontent.com/135246/169261054-4411a089-22fa-485b-b205-2d8d547dbe29.png)

[2022-05-19 09:27] #5899 closed

[2022-05-19 09:28] ErikSchierboom commented on #5699
I just checked, and this is working now.

[2022-05-19 09:28] #5699 closed

[2022-05-19 14:25] iHiD commented on #6368
Hello, which exercise? Presumably the JS track? Could you paste all your code pls?

[2022-05-19 16:07] up-umop opened #6369 "Display Concepts on Practice Exercise Instructions"
Currently on the Instructions screen for a practice exercise, the concepts that the exercise is meant to reinforce are not listed. To help the student craft a solution based on the desired concepts, any concepts meant to be explored should be presented alongside the instructions for an exercise.

Examples:
Learning Exercise -
![image](https://user-images.githubusercontent.com/47707396/169346807-c0

[2022-05-19 19:01] bobahop opened #6370 "Previous discussion is miscounted"
At least sometimes the previous discussion count is off by one.
I've noticed this for quite a while. It's essentially cosmetic, so low priority.

![info_1](https://user-images.githubusercontent.com/32035397/169381287-5c17c84e-9b10-4de6-b2bd-111aa0bd1330.JPG)
![info_2](https://user-images.githubusercontent.com/32035397/169381358-c2d52265-8731-47f1-b29a-14efaa5798a3.JPG)

[2022-05-20 13:28] MikeHarris105 opened #6371 "Lasagna Master Golang Exercise returns exit code 2"
I am enjoying learning go with exercism. I am now trying to do the lasagna master exercise: https://exercism.org/tracks/go/exercises/lasagna-master I think that there is something failing in the exercise as whenever I create a PreparationTime function that returns an int, as is required. This is returned:
`FAIL	lasagna [build failed]
'/usr/local/go/bin/go test --short --json .' returned exit code

[2022-05-20 16:46] iHiD commented on #6371
(cc @exercism/go)

[2022-05-21 12:25] Pika-Pool opened #6372 "Dark mode for the website"
A dark mode option for the website would be awesome

[2022-05-21 14:20] kytrinyx commented on #6372
Thanks for the suggestion, @Pika-Pool. This is on the roadmap, and will be implemented once we are able to prioritize it.

I'm closing this as a duplicate of #6286 #6275 #6002 #5748 #5436.

[2022-05-21 14:20] #6372 closed

[2022-05-21 17:20] junedev commented on #6371
@MikeHarris105 The example and output you shared look correct to me.
Go is a compiled language and what you see there are compiler errors. You can ignore the `FAIL lasagna [build failed] '/usr/local/go/bin/go test --short --json .' returned exit code 2: exit status 2` part, that only means "tests did not compile". Focus on the bit above that. The tests cannot actually be executed yet and the messa

[2022-05-22 01:17] icweaver opened #6373 "Source Code Pro font mismatch in Greek letters?"
I noticed this small issue when mentoring a user on the Julia track:
![Screenshot from 2022-05-21 13-47-09](https://user-images.githubusercontent.com/25312320/169674005-9742ae01-7ecf-4328-9b03-48b7659a8678.png)

A few of the lower and uppercase Greek letters tend to look pretty similar to each other under the Source Code Pro font, unless they are displayed as a comment under the `hljs-comment` cla

[2022-05-22 10:05] asarkar opened #6374 "cc-sa-4 license URL is broken"
After sign up, there's a page to accept the COC, licensing and privacy policies. On this page, the link to cc-sa-4 is broken, it doesn't actually open the license. Perhaps because the license is at https://exercism.org/docs/using/licenses/cc-by-nc-sa, but the link goes to https://exercism.org/licences/cc-sa-4.

[2022-05-22 13:26] angelikatyborska commented on #6369
My understanding of practice exercises is that there are no "desired concepts" for practice exercises.

This is reflected in a few different ways in the platform design:
- Practice exercises came first (from v1), concepts came later (from v3).
- Practice exercises don't have _exemplar_ solutions, they have _example_ solutions ([exemplar solution](https://exercism.org/docs/building/tracks/concept-e

[2022-05-22 13:33] angelikatyborska commented on #6368
@rockysingh3 Please see this comment on a similar issue: https://github.com/exercism/exercism/issues/6329#issuecomment-1102638475 the gist of it is that you don't need to import anything.

[2022-05-22 14:05] SleeplessByte commented on #6368
Rocky responded on Slack that they had figured it out.

[2022-05-22 14:05] #6368 closed

[2022-05-22 14:42] gacallea commented on #6339
Hi @iHiD @SleeplessByte @ErikSchierboom :)

thank you so much for implementing this, I appreciate <3

I was wondering if this is going to show up on my Exercism profile/rep?

Cheers!

[2022-05-23 08:24] MikeHarris105 commented on #6371
Thank you so much. I am now making progress on the exercise :)

[2022-05-23 08:27] junedev commented on #6371
@MikeHarris105 Happy to hear that. Would be great if you could close this issue then. (I don't have permissions on this repository to do this for you.)

[2022-05-23 08:41] #6371 closed

[2022-05-23 08:42] MikeHarris105 commented on #6371
Thank you for your help

[2022-05-23 17:24] up-umop commented on #6369
That difference you describe is exactly the area in which I'm falling, I think. I prefer to browse the list of available practice exercises and select one that looks interesting, or appropriately challenging for the time I have to spend at the moment, irregardless of the underlying concepts. I understand that, by design, there are no "examplar solutions" for the practice exercises, but often times

[2022-05-23 21:43] patricksjackson commented on #6276
This turned out to be an issue with how the exercises are updated for users in the Web interface. https://github.com/exercism/cpp/pull/529 should fix it once merged.

[2022-05-24 06:05] ErikSchierboom commented on #6339
@gacallea I'm afraid not. We only award reputation for issue authors when the issues them have required a large amount of work. That's not to downplay your issue, as it was a great bug report, but it doesn't match our criteria for awarding reputation to issues authors, sorry.

[2022-05-24 08:37] RamGoel commented on #6036
I want to work on this issue.

[2022-05-24 08:43] RamGoel commented on #6291
I want to work on this issue. @kytrinyx

[2022-05-24 09:03] cmcaine commented on #6373
For what it's worth, I use this code in the stylish firefox addon (also available for chrome) to make exercism use my default monospace font (which is JuliaMono).

This doesn't fix the issue for other viewers, but it is nice for me:

[code]

[2022-05-24 09:11] iHiD commented on #6036
@RamGoel Thank you for your offer but we don't accept Pull Requests for the website at this time. Sorry.

[2022-05-24 11:30] kytrinyx commented on #6291
@RamGoel I appreciate that you want to help out! Though the codebase for the website itself is open source, we don't accept outside contributions to it. There are lots of places where we do accept contributions, though, so if you're feeling motivated, please check out the contributing page which will explain how to get started.

https://exercism.org/contributing

[2022-05-24 11:55] ErikSchierboom commented on #6365
I think this can now be closed. There are some individual cases to look into, but the tasks listed here have been taken care of I think?

[2022-05-24 14:01] #6365 closed

[2022-05-24 15:44] icweaver commented on #6373
Right sorry, I should have made the issue more clear, thanks for that! Here's a comparison of the other character as they appear for me in the editor window (split in half for clarity):

[code]

![image](https://user-images.githubusercontent.com/25312320/170070910-769d3e8d-ccdb-4985-86f4-28c63fffd952.png)

In addition to phi: chi and psi (and theta to a lesser extent) also happen to look pretty si

[2022-05-24 17:28] captjay98 opened #6375 "Can't add my token on termux and also can't upgrade"
![FThqb-rWIAEDl5n.jpeg](https://user-images.githubusercontent.com/54381061/170096405-bd6124ac-aa9f-4ff3-a540-aacd896d17c5.jpeg)

[2022-05-25 07:21] ErikSchierboom commented on #5608
@joshgoebel The problem was that there are two users in our database: `ajoshguy` and `yyyc514`. Weirdly, the latter had its github username set to `joshgoebel`, and not to `yyyc514`. The former didn't have a github username, which is why the experience was awarded wrongly. I've just correct this in the database and recalculated your reputation. Looking at https://exercism.org/contributing/contribu

[2022-05-25 07:25] ErikSchierboom commented on #5608
@jamessouth Your authorship count is now fixed:

![image](https://user-images.githubusercontent.com/135246/170205008-2b53d46c-81b8-44ea-b3b5-68ce696a8ca1.png)

[2022-05-25 07:54] ErikSchierboom commented on #6347
@SleeplessByte I've not found the time to dig into this. The relevant code is here: https://github.com/exercism/website/blob/main/app/commands/markdown/render_html.rb#L106

When rendering the admonition (code) block, we are actually rendering it as some `<div>` element with the code blocks contents rendered as Markdown within those divs. The problem is that we're using `Markdown::Render.(node.stri

[2022-05-25 08:18] asarkar opened #6376 "Feedback, sorting and filtering of questions"
1. Provide upvote, downvote, and textual feedback options for each question. Some questions are better written than others, and students should be able to pass on their appreciation (or frustration).
2. Provide a sorting option based on user votes.
3. Provide a filter to select questions by difficulty level.

[2022-05-25 08:24] ErikSchierboom commented on #5810
@iHiD For a start, we should probably run the tests on published solutions on tracks that do have a test runner and where the solution does not have a test run queued. Something like:

[code]

Note that in production, `45387` solutions match this query.

Once that query has run, we can do the same for the head tests status.

After that has run, we can do the cloudsearch part of this.

[2022-05-25 08:25] ErikSchierboom commented on #5810
To run a test run in the background, would we do something like `Submission::TestRun::Init.(submission, run_in_background: true)`?

[2022-05-25 09:25] iHiD commented on #5810
Yep - that all sounds good.

[2022-05-25 09:27] iHiD commented on #5650
The 4x is more to represent there **might** be 4 other things in the queue in front. The `avg_seconds` has quite low variance within a single track, so it's more saying "It'll take [normal time] to [3 others ahead in the queue + normal time]" in my mind.

[2022-05-25 09:54] iHiD commented on #6375
(cc @NobbZ @kotp and anyone else support-y 🙂)

[2022-05-25 09:59] iHiD commented on #6369
I think this is the key nub here - we either need to not show this after or show it before as a hint as well (with some consideration to wording as @angelikatyborska says).

Long term, we probably ought to not say "you practiced X" if you didn't actually use it either. And instead say "You practiced Y" where Y is something actually used in the code according to our AST analysis.

_(There's another

[2022-05-25 10:10] joshgoebel commented on #5608
Is this a permanent change, vs something that will accidentally unwind in the future?

@ErikSchierboom   I was mostly looking at my https://exercism.org/profiles/ajoshguy page... but yes, it looks a lot more complete now, thanks!  Sadly, I think there is one more (related) issue here, but I think this one from my perspective seems closed.

[2022-05-25 10:19] joshgoebel opened #6377 "Contributions graph appears inaccurate if ones contribution to a single area is immense"
Related #5608.

![Snap_2022-05-25_653x743](https://user-images.githubusercontent.com/6473/170238737-f0851860-7929-47d9-ae20-a4e905446f46.png)

@ErikSchierboom Or perhaps this is a caching issue of some kind?  I see the numbers in the HTML around the graph are correct, but just at a glance it looks like all I do is mentor...

Assuming it's a bug I think we need a better way to calculate this graph

[2022-05-25 10:21] joshgoebel commented on #6377
Actually now I'm wondering how it's really calculated. I was making some assumptions... my guess is that it's taking the largest value and seeing that as the 95% of something (so that one can never truly hit 100)... and then scaling in all the other numbers accordingly...

Meaning my mentorship contribution is 95% and my maintaining PR contribution is say 2%...

[2022-05-25 10:51] ErikSchierboom commented on #5608
This is a permanent change.

What is the related issue?

[2022-05-25 10:51] #5608 closed

[2022-05-25 10:56] ErikSchierboom commented on #6377
I think this is indeed the case. Thanks for reporting this.

[2022-05-25 11:02] ErikSchierboom commented on #5650
Ah okay. That makes sense

[2022-05-25 11:04] NobbZ commented on #6375
This is a common problem with the exercism CLI on termux.

I'm not aware of any solution but to build the binary from source.

If this is already a build from source CLI, I can't help any further.

[2022-05-25 11:11] #5767 closed

[2022-05-25 11:11] #6280 closed

[2022-05-25 11:11] #5760 closed

[2022-05-25 11:12] #5918 closed

[2022-05-25 11:12] #5807 closed

[2022-05-25 11:12] #6281 closed

[2022-05-25 11:35] joshgoebel commented on #6375
How are we installing the client on termux?  Are they packaging it and it's broken or our existing Linux binary just won't work and that's the issue?

[2022-05-25 12:28] #6374 closed

[2022-05-25 12:28] #5765 closed

[2022-05-25 13:00] wojciech-lasota opened #6378 "unauthorized access to exercise solutions"
Hi,
The lock next to Community Solutions link says, you can not enter until you finished exercise, its only cliceable after finish exercise, but its enaught to add /solutions to the end of current site adress to enter Community Solutions page.

[2022-05-25 13:24] iHiD commented on #6378
Hi. Thanks for reporting! This is by design though, rather than a vulnerability, so I'm going to close this. We don't mind if people "cheat" on Exercism as they get nothing as a reward.

[2022-05-25 13:48] NobbZ commented on #6375
I'm not sure about "we", personally I generally discourage people from even trying, as exercism CLI is just the first hurdle, then there is the editor and the languages toolchains as the next one.

They are quite problematic for different reasons on mobile.

I am not even sure if there is an exercism CLI packaged for termux. If it is, it is not by exercism.org, but a third party, and any bugs with

[2022-05-25 13:55] SleeplessByte commented on #6378
(closing per your comment)

[2022-05-25 13:55] #6378 closed

[2022-05-25 13:59] kotp commented on #6375
The good news is that it looks like the executable at least executes, and so is probably built correctly for the platform.  The problem is apparently with the network layer.

[2022-05-25 23:42] Cv03 opened #6379 "A Suggestion about "Publish Your Iteration(s)""
I think this is somehow strange, as showing the whole collection of iterations can help others understand the evolution of your code (and your thought), but sometimes not all iterations are "good enough" for publishing, I mean trivial mistakes like missing semicolons, misspelling in comments, text reformating, etc. It would be better to be able to choose **some part** of your iterations, *not **al

[2022-05-26 06:06] yordis opened #6380 "Create new track for [Software Architecture and Design]"
Hey there, I was thinking of creating something similar to the Exercism but for Event Sourcing, Event-Driven, Domain-Driven Design, and CQRS combo, more related to software architecture than programming languages.

More about software architecture and design, and understanding things about it.

I am curious if you would take a proposal for some Track around the topic. I would like to take ownershi

[2022-05-26 09:11] linusdm opened #6397 "Strange rendering of `x * (b - a) + a` in the hint for the Captains Log exercise"
Strange rendering of `x * (b - a) + a` in the hint for the Captains Log exercise.

[This is where the hint is](https://github.com/exercism/elixir/blame/main/exercises/concept/captains-log/.docs/hints.md#L20)

This is how it is rendered:

![Schermafbeelding 2022-05-26 om 11 06 48](https://user-images.githubusercontent.com/43893333/170456931-2b3dee33-ecfd-4dc8-b0f3-a881c7a3fa3f.png)

The markdown en

[2022-05-26 12:50] glennj commented on #6379
You can delete the iterations you're not happy with.

[2022-05-26 13:07] coriolinus opened #6381 "feature request: on a track level, optionally disable automatic running of online tests when solution submitted via CLI"
The current CLI flow goes something like this:

1. A student begins an exercise via the CLI.
2. Student completes and submits the exercise.
3. Tests are run in the online test runner to verify the student's solution.
4. Students get positive feedback if the tests pass, or negative if not.

The problem, at least as it applies to the Rust track, is that it is very easy for students to accidentally e

[2022-05-26 14:50] rominf opened #6382 "Update Scala track to support Scala 3"
Scala 3 was released about a year ago: https://www.scala-lang.org/blog/2021/05/14/scala3-is-here.html

If I use Scala 3 syntax, I get failed tests on Exercism server. It would be nice to support Scala 3.

[2022-05-26 14:52] rominf commented on #6382
Ah. Issues for Scala live here: https://github.com/exercism/scala

Sorry.

[2022-05-26 14:52] #6382 closed

[2022-05-27 12:34] #5714 closed

[2022-05-27 12:47] ErikSchierboom commented on #5810
The published solutions have now all been processed. Some solutions weren't being processed properly (and the status did not update), which meant they would keep showing up in queries. There were two reasons for this:

1. There were 100 or so solutions that were published, but which did not have any active iteration. These solutions have all been unpublished using: `Solution.published.where('NOT E

[2022-05-27 12:55] #5907 closed

[2022-05-27 16:50] RHieger opened #6383 "Is there a way to change the location of the work environment?"
Hi,

I am coming back to exercism after a long hiatus during which I did quite a bit of independent study. I have elected to start from the beginning and plow through the exercises that are easier.

**I am wondering, however, if it is possible to move the location of the Exercism work environment, and if so, how.**

I am working on a MacBook Pro with a 1TB SSD, but I have an external HDD that is 2

[2022-05-27 16:58] kytrinyx commented on #6383
If you call the CLI's `configure` command (`exercism configure`) it will show you what the current workspace is. You can call the same command and pass `-w` to set the workspace to a different path.

[2022-05-27 21:36] joshgoebel opened #6384 "Usability: Python Analyzer should not give Trailing whitespace feedback for web sesssions"
[code]

I find these warnings quite frustrating when using the web editor.

- There is no auto-correction of trailing whitespace. (it won't fix itself)
- There is no visual indication of trailing whitespace in the editor. (I'll never know until AFTER)
- _On the web_ there is no value IMHO in going back and fixing these one by one by line number.

To me this type of feedback is a LOT more useful if

[2022-05-27 22:29] asarkar opened #6385 ""Change published iterations" doesn't show all iterations"
"Change published iterations" only shows the first iteration. The workaround is to unpublish and publish again.

[2022-05-27 23:23] BethanyG commented on #6384
The rule can certainly be turned off, which I will do.  😄    But I also think we should be supporting students in learning what a full Python environment might look like (_including getting nagged about trailing white space_).  And to that end, I think that:

- There is no auto-correction of trailing whitespace. (it won't fix itself)
- There is no visual indication of trailing whitespace in the ed

[2022-05-27 23:34] glennj commented on #6385
Can't reproduce. Can you give some details about your browser, and give a screenshot if possible.

[2022-05-28 00:42] Cv03 commented on #6379
It was… amazing. Seems like I had asked a stupid question? Thank you!🤣

[2022-05-28 00:42] #6379 closed

[2022-05-28 16:06] RHieger commented on #6383
Thank you for your assistance.

Ironically, I accidentally fell onto this solution just before reading your suggestion and was able to set the path to the volume of my choice.

Again, thanks for the assistance,

Robert Hieer

[2022-05-28 16:06] #6383 closed

[2022-05-28 23:54] KAction commented on #6151
Hi. I have similar problem.

I clicked "log-in via GitHub" couple days ago, and it created now account. Right after that I remembered that I actually already have account with login, password and couple of tasks solved, so I logged out of "login via GitHub" account and logged in via login/password. After than I go setting and try to connect to GitHub, but get 500 (picture attached). Interestingly

[2022-05-29 08:39] asarkar commented on #6385
https://user-images.githubusercontent.com/1302775/170859553-a044e6aa-91e5-44ee-94ae-8357a471f32a.mov

I made this video to demonstrate the issue. GitHub doesn't allow uploading files > 10 MB, so the resolution is crappy, but if you increase the player window, you'll be see enough.

I'm using Chrome.

[2022-05-29 20:24] asikuna opened #6386 "Dark Mode?"
I love using Exercism, especially at night, but there's no dark mode. Are there plans for one, and can one be (relatively) easily implemented?

[2022-05-29 20:36] asarkar commented on #6385
I found a similar bug is already open, except the workaround I suggested.
https://github.com/exercism/exercism/issues/6303

[2022-05-29 20:39] asarkar commented on #6303
A workaround is to unpublish the solution and publish again. I’ve made a video in the linked ticket that demonstrates the issue.

[2022-05-30 04:28] asarkar commented on #6333
My 2c. I appreciate the work that goes behind the platform, but I too find the UI/workflow clunky. I've created a ticket to address some of the concerns. https://github.com/exercism/exercism/issues/6376

[2022-05-30 04:31] asarkar opened #6387 "Make mentoring matter"
To prevent the platform from becoming another Stackoverflow, where people dump their questions showing absolutely zero effort, and walk away to go have a beer, I recommend that every successful mentoring session should deduct either some points from the student's reputation, or require actual $$ (for those not having enough rep or not willing to shed some). Either of those would go directly to the

[2022-05-30 05:50] kytrinyx commented on #6386
Yes, there are plans for one. It will be implemented once we are able to prioritize it.

I'm closing this as a duplicate of https://github.com/exercism/exercism/issues/6386 https://github.com/exercism/exercism/issues/6286 https://github.com/exercism/exercism/issues/6275 https://github.com/exercism/exercism/issues/6002 https://github.com/exercism/exercism/issues/5748 and https://github.com/exercism

[2022-05-30 05:50] #6386 closed

[2022-05-30 10:11] Lewiscowles1986 opened #6388 "Suggestion: Postman / OpenAPI"
Just found a repo that downloads the solutions given an API token. I Have to say, as much as I won't be using that code, it did make me think how nice it would be to have a postman collection for Exercism for this type of purpose.

[2022-05-30 12:48] bobahop commented on #6193
My experience across multiple tracks is that the first published iteration is what shows on any preview (community solutions, my solutions) instead of the most recent published iteration. It's only cosmetic, but it annoys me,

[2022-05-30 12:51] bobahop commented on #6193
I mean, it updates the lines of code count in the preview (which is good), but not the code. So, for a short solution, it's obvious that the LOC does not match the code being shown in the preview. Irksome.

[2022-05-30 15:39] siebenschlaefer opened #6389 "Feature request: Show tabs with instructions and tests in the mentoring discussion"
For the mentor the left side of the mentoring discussion looks like this:
![mentor_view](https://user-images.githubusercontent.com/1228739/171024200-f27d35aa-c8d7-484f-a0dd-c15a0b279d4b.png)

For the student it's slightly differently, they don't see the tabs "Instructions" and "Tests":
![student_view](https://user-images.githubusercontent.com/1228739/171024338-714709cf-1929-44b7-a2a1-ba48d88bb62d.

[2022-05-30 16:01] Lewiscowles1986 commented on #6388
I Managed to make a small postman collection for personal use. Like the golang client, it uses the API Key generated by a user manually via UI, so misuse of the API can be tracked, restricted, etc.

It's quite interesting. I Naturally won't release it publicly unless you consent.

[2022-05-31 07:47] asarkar commented on #6387
@jonathandmiddleton I don't have visibility into mentoring results at Exercism, but as I stated above, it is all too common at Stackoverflow. I should know, I've been on SO long enough to know and have almost 20k reputation. Much like natural resources, if something is free and available, it is human tendency to abuse it.
I'm going to turn the table and ask you the same question: How do you determ

[2022-05-31 13:06] glennj commented on #6387
My experience as a longtime mentor (and 200k SO rep user). Stay on Stack Overflow long enough and it becomes pretty easy to sniff out the homework questions. Here on exercism, it truly seems to be people focused on learning the language and seeking expert advice.

* With the web editor and test runners of Exercism v3, students who choose not to work locally have to get their code passing the test

[2022-05-31 14:54] iHiD commented on #6387
While we're always focussed on improving the experience of both students and mentors, as there's no reason to think this is a prolific issue at Exercism (based on either mentors' experience or data), and as we've already made significant steps forward with this area in v3, I'm going to close this.

We're definitely not going to charge students, and reputation is an incrementing system. We did cons

[2022-05-31 14:54] #6387 closed

[2022-05-31 18:02] iHiD commented on #6388
Thank you for your caution but feel free to share! 💙

Our API isn't officially public but we don't mind people using it for their own personal use on their solutions 🙂 We'll be releasing our public API soon, so it's great to see what people want to do with it!

[2022-06-01 06:04] #5883 closed

[2022-06-01 06:22] Lewiscowles1986 commented on #6388
Where would be best to PR it to? Or Should I simply attach (inline-collapsed as JSON won't attach to GitHub issues apparently)

To use it effectively I might need to document some of the postman environment variables.

[2022-06-01 06:26] #5690 closed

[2022-06-01 06:57] Lewiscowles1986 commented on #6388
<details>
<summary>Postman JSON (interact to expand)</summary>

[code]

</details>

[2022-06-01 11:03] #6303 closed, assigned to ErikSchierboom

[2022-06-01 11:03] #6385 closed

[2022-06-01 11:12] asarkar opened #6390 "Introduce an option for enabling comments while publishing a solution"
Currently, enabling comments is harder than it should be. I've to publish a solution, then click on it, click on a gear box, choose "Enable comments", and click ok on the pop up that confirms I didn't go through all the trouble mistakenly :roll_eyes:

Please, just put a check box on the publish solution window so that I can check it the first time. I personally would prefer the box to come checked

[2022-06-01 15:22] jwalder3 opened #6391 "Move progress from one account to another"
Hi,

In the near future, I will lose access to a corporate github account with my current Exercism progress in. Would it be possible to transfer the progress over to my personal github account?

Thanks in advance!

(Taken from gitter support - https://gitter.im/exercism/support?utm_source=notification&utm_medium=email&utm_campaign=unread-notifications )

[2022-06-01 15:23] jwalder3 opened #6392 "Move account progress from one account to another github associated account"

[2022-06-01 15:24] jwalder3 commented on #6392
Hi,

I will soon lose access to my current github account which is associated with all the progress on Exercism. Would it be possible to move my progress to a personal Github account?

Thanks in advance

[2022-06-01 16:17] iHiD commented on #6392
Closing as duplicate of https://github.com/exercism/exercism/issues/6391

[2022-06-01 16:17] #6392 closed, assigned to nobody

[2022-06-02 08:08] ErikSchierboom commented on #5810
This should now be fixed.

[2022-06-02 08:08] #5810 closed

[2022-06-02 08:39] ErikSchierboom commented on #5645
@iHiD I've looked into the database and the actual stored text there are unfortunately regular question marks :( I don't think we can fix them.

[2022-06-03 10:51] #5645 closed

[2022-06-03 10:51] jwalder3 commented on #6391
Thanks @iHiD - I'll send across the email now :)

[2022-06-04 10:50] ToxicSmurf commented on #6333
Exercism is my favorite FOSS learning platform bar none. The only page I find myself regularly having to strain my brain on is the dashboard. I know nothing about UI/UX, but it feels like the total amount of elements/information on that page overheats my brain for just a second or two.

[2022-06-04 19:55] NhanAZ opened #6393 "Member Badge"
I have lost my Member badge, can I get it back? :<
This is my public profile: https://exercism.org/profiles/NhanAZ/badges

[2022-06-04 19:56] valentin-p commented on #5615
Same. I would likely prefer the Ctrl+ENTER to auto submit, not having this feature make the mentoring much more tedious and slow.

[2022-06-05 08:28] marcesdan opened #6394 "Fetch next exercise"
Hi! Time ago you could fetch the next exercise through the CLI (or I dreamed it?)

It is currently possible to do it?

[2022-06-05 09:00] asarkar opened #6395 "Rate the solutions by time taken and memory used"
Currently, there's a bunch of community solutions, some better than others, there's no way to tell how they "rank" against each other. If I want to learn from others, understandably, I only want to learn from the best. Same goes for a student's own solution, they may work hard to optimize the algorithm, or go for a naive one, it's all the same if it passes the tests.

It'll be nice to see each pub

[2022-06-05 15:17] kytrinyx commented on #6395
Yes, while speed and memory are not always the most important factor in what makes good code, it certainly is a factor to be taken into account. We have an open issue tracking this here: #5043

I'm going to go ahead and close this as a duplicate, but please do read through the linked discussion, and if you feel there are more things to add, please do so there.

[2022-06-05 15:17] #6395 closed

[2022-06-05 17:25] iHiD commented on #6393
Impressive. No idea! @ErikSchierboom ?

[2022-06-05 19:55] asarkar commented on #5043
I’d also like to see some sort of “ranking” of solutions as I explained in https://github.com/exercism/exercism/issues/6395.

It'll be nice to see each published solution rated as "80% faster (21ms), 33% less memory (2MB), out of 2951 total solutions". The number of total solutions at the time is important because it will obviously keep increasing over time.

Student should see the same data when

[2022-06-06 02:25] felipedaf commented on #6376
Filter the exercises by difficulty would be very useful.

[2022-06-06 02:30] felipedaf commented on #6376
It's very tiring to find questions with the difficulty I'm looking for on this page.
![image](https://user-images.githubusercontent.com/43426199/172084363-d1267340-df61-475e-9a5d-97ccf94e088f.png)

[2022-06-06 05:50] kytrinyx commented on #6394
@marcesdan You didn't dream it!

For a while it was possible, but there's no longer a clear concept of "next" so we couldn't figure out a reasonable way to implement it.

I know we've had a (super interesting) discussion about this, but I can't find the issue at the moment. I'm going to leave this open so I can take another stab at digging around to see if I can find it.

[2022-06-06 14:28] kytrinyx commented on #6394
Ok! Here is the comment I was thinking about: https://github.com/exercism/exercism/issues/6333#issuecomment-1106771380

I'm going to go ahead and close this one, and if you have more thoughts or suggestions, please add them to the conversation in the linked issue.

[2022-06-06 14:28] #6394 closed

[2022-06-06 19:13] NhanAZ opened #6396 "`Community Solutions` Issues"
I'm not sure if this is intentional or not?
But I can easily access `Community Solutions` by adding the suffix `/solutions` to the end of the link.

![image](https://user-images.githubusercontent.com/60387689/172229821-3cc8a94b-06a7-44dc-b346-4d4aff2adc8d.png)

[2022-06-06 19:31] kytrinyx commented on #6396
Yes, this is intentional.

Since Exercism is about individually driven/motivated learning, it is up to each person whether or not they want to look at community solutions before they've solved a problem themselves. We don't add a link to it in the UI since we think that the learning experience is better if you don't look.

I'm going to go ahead and close this, but thanks for taking the time to ask

[2022-06-06 19:31] #6396 closed

[2022-06-07 05:56] kytrinyx commented on #6363
This should now be in order. Thanks again for reporting!

[2022-06-07 05:56] #6363 closed

[2022-06-07 06:09] ErikSchierboom commented on #6393
@iHiD Turns out there are 960 users without this badge. You can find them via:

[code]

There are two paths in where this badge is awarded: the GitHub auth one and the Exercism registration one. It looks like it is not specific to any path:

[code]

I've just manually run the badge awarding for @NhanAZ (without the sending an email option) and the badge should now be there again (provided you've r

[2022-06-07 06:15] NhanAZ commented on #6393
Thank you so much @ErikSchierboom !
The Member badge is back to me.
Looks like my badge got lost as soon as I did a Reset of my account. I'm not sure anymore. :thinking:

[2022-06-07 06:18] ErikSchierboom commented on #6393
Ah, that's useful information! Thanks.

[2022-06-07 06:38] ErikSchierboom commented on #6393
Resetting your account did indeed cause this behavior. I've created a PR to fix this: https://github.com/exercism/website/pull/2698/files

[2022-06-07 06:49] ErikSchierboom commented on #6393
@iHiD I've run the following script to make sure that for the affected users, all the badges they should have kept have been restored:

[code]

[2022-06-07 06:55] ErikSchierboom commented on #6391
@iHiD I'm in contact with @jwalder3 on how to handle the verification. I'll take care of it.

[2022-06-07 12:03] ErikSchierboom commented on #6151
@KAction It sounds like your old account might not have any data? If so, you could consider deleting that account and then connecting again.

[2022-06-07 12:06] ErikSchierboom commented on #5958
The issue is that as the editor file is always shown in the online editor, it automatically gets submitted. I think this is bug number one. We could check to see which exercise have such an editor file submitted and then remove it, but this sounds a bit dodgy. As a general solution, we should "just" show the editor files, even if it wasn't submitted.

[2022-06-07 12:31] eigenhombre opened #6398 "Individual students' "solutions" display on exercism.org not working for Common Lisp"
Moved from [1].

https://exercism.org/profiles/eigenhombre/solutions?track_slug=common-lisp shows no completed exercises (there should be >20), but
https://exercism.org/profiles/eigenhombre/solutions?track_slug=python shows several.

This is on Firefox 100.0.2 on MacOS 11.6.4.

[1] https://github.com/exercism/common-lisp/issues/647

[2022-06-07 13:49] glennj commented on #6398
Are those common-lisp solutions actually published? That's a separate step than completing a solution.

[2022-06-07 13:51] eigenhombre commented on #6398
@glennj Yes, as far as I can tell they are.  For example, I see "Your published solution... published 10d ago" on one of the problems.

[2022-06-07 13:52] eigenhombre commented on #6398
Also, my solutions for other tracks (e.g. Python, Clojure) *do* appear under their corresponding URL(s).

[2022-06-07 13:52] glennj commented on #6398
What's one of your CL solutions? I'd like to check if I can see it in the community solutions

[2022-06-07 13:53] eigenhombre commented on #6398
https://exercism.org/tracks/common-lisp/exercises/pizza-pi/solutions/eigenhombre

[2022-06-07 13:54] glennj commented on #6398
Yes, I can see that.

[2022-06-07 14:01] glennj commented on #6398
I note that my own common-lisp solutions are not visible under my profile.

If this is useful, the metadata for my common-lisp grains exercise, showing that it has been published
[code]

[2022-06-07 21:23] KAction commented on #6151
It has couple of badges :)

[2022-06-07 22:38] SleeplessByte commented on #6398
Possible issue: because of the `-` in the slug.

I can see `emacs-lisp` also not working, but all "single word" tracks _are_ working. Is it possible that the `-` is decoded out of the url / value during querying and that makes the slug incorrect and thus the solutions not show @ErikSchierboom ?

[2022-06-08 09:11] coriolinus opened #6399 "Support globs in `files.solution`"
When https://github.com/exercism/cli/pull/1044 is merged, the `exercism` tool will gain support for auto-submitting relevant files specified by the per-exercise `files.solution` key. This is great!

However, we can do even better:

- In several tracks, students can split up their work into modules which live in different files with arbitrary names.
- Splitting work into several files is often the

[2022-06-08 09:16] ErikSchierboom commented on #6399
It would also require changes to `configlet`.

[2022-06-08 09:19] ErikSchierboom commented on #6151
@KAction Could you send me an email at erik@exercism.org? Then we can discuss the merge.

[2022-06-08 09:20] ErikSchierboom commented on #6398
I'll look into this!

[2022-06-08 09:47] andrerfcsantos commented on #6399
To better support this use case, should we also support globs passed by the student as command line arguments and not just in auto-submitted files? What I'm thinking is that even if a track does have globs for their auto-submitted files, the student might have organized the exercise in a way those pre-defined globs won't catch and might want to specify different globs.

[2022-06-08 10:40] coriolinus commented on #6399
Wouldn't basic shell expansion handle that at the CLI level?

[2022-06-08 10:40] coriolinus commented on #6399
Wouldn't basic shell expansion handle that at the CLI level?

[2022-06-08 11:22] coriolinus commented on #6399
Ah, ok. I'm only really familiar with bash, which can in fact do `**` (with `globstar` enabled). In that case, yes, it would be handy if the CLI could also expand whatever globs students pass, in the event that the shell doesn't handle it for them.

[2022-06-08 11:39] ErikSchierboom commented on #6398
Found the issue and created [a PR](https://github.com/exercism/website/pull/2699) to fix this.

[2022-06-08 12:18] #6393 closed

[2022-06-08 12:18] #6398 closed

[2022-06-08 14:03] schackbrian2012 opened #6400 "Tabs in Online Editor"
Dear Exercism,

I am doing the "Remote Control Competition" exercise [0] in the Java track. This issue could apply to other tracks with solutions that consist of multiple files. In the online editor, I see three tabs: ExperimentalRemoteControlCar.java, ProductionRemoteControlCar.java, and RemoteControlCar.java. The instructions for the exercise refer to a TestTrack class. I assume that the solutio

[2022-06-08 16:29] angelikatyborska commented on #6400
This might be a duplicate of: https://github.com/exercism/exercism/issues/5870

The other issue is from a mentor's perspective, but about the same Java exercise.

[2022-06-09 02:00] iamramanavenkat opened #6401 "Email change issue"
When I'm trying to **change** my mail ID I'm getting this but I didn't get any email to change my email to that specific email that mentioned
![image](https://user-images.githubusercontent.com/63152308/172748112-75f797c2-62ca-4eeb-a8df-34f9a9ae74c7.png)

[2022-06-09 10:56] iHiD commented on #6401
Have you checked your promotions folder and spam? It often ends up in one of those.

[2022-06-09 11:06] iamramanavenkat commented on #6401
Yes I've checked that. There's no mail from Exercism regarding that.

On Thu, 9 Jun 2022, 4:26 pm Jeremy Walker, ***@***.***> wrote:

[2022-06-09 13:44] iHiD commented on #6401
I'll need your email address to check. If you email jeremy@exercism.org I'll take a look tomorrow.

[2022-06-09 13:47] #5750 closed

[2022-06-09 13:49] schackbrian2012 commented on #6400
@angelikatyborska Yes, that is the same issue from the perspective of the mentor.

[2022-06-09 15:21] junedev commented on #6369
@iHiD The other discussion was on Slack (https://exercism-team.slack.com/archives/CAQP7JL3T/p1652976871558709?thread_ts=1652973556.327019&cid=CAQP7JL3T) where I said the same as Angelika did above basically.

My vote would be strongly _against_ showing a concept list for practice exercises upfront. I think selecting the right concepts to solve the exercise is a big part of what makes practice exer

[2022-06-09 20:03] junedev commented on #6187
I wanted to leave a note on some thoughts around this topic that were mentioned on Slack:

* The reason we currently don't allow to submit exercises with failing tests for mentoring via the website is that this avoids spam. We don't want someone to paste advertisements or not even trying to solve the exercise at all and then request mentoring for it.
* As @552020 mentioned, you can always submit v

[2022-06-09 20:48] bobahop opened #6402 "LOC wrong: cosmetic issue"
Just did  Matching Brackets in Go and in the community solutions it shows it being 98 LOC when it is more like 23 LOC.
![info](https://user-images.githubusercontent.com/32035397/172941428-dae9e117-0b6f-4d46-802d-2f2dd8aa4afd.JPG)
![info_1](https://user-images.githubusercontent.com/32035397/172941391-5bd8a194-82a5-42f4-8c80-0dad23eb41c0.JPG)

[2022-06-10 05:26] marge2312 opened #6403 "Create new track for IEC1131-3"
I would really to see a track for IEC1131-3. Especially for Structured text. This programming language is mainly used in the industry for programming PLC's.

greetings!

[2022-06-10 05:55] kytrinyx commented on #6403
Thanks for the suggestion. Would you open an issue in https://github.com/exercism/request-new-language-track ? That repo has an issue template with a few questions that we need answered before we can kick off a discussion about this.

[2022-06-10 06:08] #5870 closed

[2022-06-10 06:08] #6400 closed

[2022-06-10 06:27] ErikSchierboom commented on #6400
Should be fixed now. We'll do a proper fix sometime in the future.

[2022-06-10 12:28] ErikSchierboom opened #6404 "Use clear and consistent error message formatting"
Right now, our error message formatting is quite inconsistent. There is a generic `ErrorBoundary` component that is the default, but there are multiple alternatives being used, all with different elements/styling.

We should:

- Use the same styling across all error messages (unless there is a good reason to deviate)
- Apply styling to error such that it is clear that an error occured (red text, p

[2022-06-10 12:28] ErikSchierboom commented on #6056
I've dug into this a bit more, and there are a couple of issues:

1. The error message is hidden at the bottom of the screen
2. The error message doesn't differentiate between a lock from another mentor or a cancelled request
3. There is no instant feedback to the mentor when the student cancels the request. Ideally, the mentor would be notified as soon as the request is cancelled

[2022-06-11 13:27] marcosadriano05 opened #6405 "New concepts published don't appear on Syllabus page on Rust track"
On the dashboard it is shown that a new concept has been published, but in the Syllabus page it don't appear.

Exemple: in my Rust track all concepts were completed a while ago, but the new concepts published don't appear, for exemple Iterators and Methods concepts.

[2022-06-12 15:22] iamramanavenkat commented on #6401
Now I changed my mail ID. I did a silly mistake that I entered the email I'm using actually instead of new mail ID.
Thanks for your support. I'm closing this issue.

[2022-06-12 15:22] #6401 closed

[2022-06-13 15:38] iHiD commented on #6405
There's not yet an exercise to teach the Iterators concepts.

@ErikSchierboom We probably shouldn't show a dashboard update if there's not an exercise.

[2022-06-13 16:16] BethanyG commented on #6405
Chiming in to agree.  We're trying to get a bunch of concepts written up in advance of our related concept exercises in Python.  Having the concepts announced on the dashboard creates confusion when we're not yet "ready for primetime".  In some cases, we've optimistically merged a concept, and are still working on it, so we'd rather not have it announced.

[2022-06-14 06:33] #5664 closed

[2022-06-14 12:17] ashwinran18 opened #6406 "Create new track for Selenium Automation Web Driver"
Hi,
I would like to request you to please add Selenium Full track on Exercism.org.
Thank you.

[2022-06-14 16:20] kytrinyx commented on #6406
Thank you for your suggestion @ashwinran18.

At the moment we don't make courses for specific frameworks, libraries, tools, or technologies. While we may change the scope of things in the future, at the moment we're only making new tracks for programming languages.

As such I'm going to close this issue as `wontfix`.

[2022-06-14 16:20] #6406 closed

[2022-06-15 17:52] glennj opened #6407 "New test runner repo fails Deploy workflow: missing secrets?"
I merged to main in exercism/awk-test-runner, and the Deploy workflow failed:
[code]
https://github.com/exercism/awk-test-runner/runs/6901931906?check_suite_focus=true

[2022-06-15 17:52] glennj commented on #6407
@ErikSchierboom , if you would be so kind...

[2022-06-16 08:28] ErikSchierboom commented on #6407
@glennj Ah, yes. I've created https://github.com/exercism/terraform/pull/76 to allow the test runner to be used in production. Unfortunately, I can't add the secrets, @iHiD has to do that. He's busy today, but he can perhaps do this tomorrow.

[2022-06-16 19:35] lukastresch opened #6408 "Unable to submit Solution when working locally"
The `exercism submit src/main/java/Greeter.java` command returns `Error: not in workspace`. The .java-file is in the original place and accessible to me.

[2022-06-16 21:02] lukastresch commented on #6408
Acutally the problem could be solved with the community on Gittr. Thanks either way. ;-)

[2022-06-17 05:58] kytrinyx commented on #6408
I'm glad this got sorted! Thanks for reporting back.

[2022-06-17 05:58] #6408 closed

[2022-06-17 10:50] iHiD commented on #6407
https://github.com/exercism/awk-test-runner/actions/runs/2502978265 🙂

[2022-06-17 10:50] #6407 closed

[2022-06-17 11:03] ErikSchierboom commented on #6407
With the above workflow running successfully, the AWK test runner is now ready to be used/tested in production. I've just added the awk track to the production database. As the track is still inactive (rightly so), only maintainers will be able to see the track. As inactive tracks are not shown in the tracks overview, you need to directly go to https://exercism.org/tracks/awk/ Currently, the onlin

[2022-06-17 17:39] SleeplessByte opened #6409 "Some section padding missing, I think"
![Join CTA on the track intro page hugging the bottom of the section](https://user-images.githubusercontent.com/1964376/174350032-28f0437d-e086-4a65-80c0-f24ac8603307.png)

I think there is some padding missing on the box, as the CTA button is hugging the bottom. (example: https://exercism.org/tracks/awk if you have not yet joined).

[2022-06-17 19:54] fricova commented on #6093
I love exercism but I find this bug somewhat frustrating. Since I don't have enough reputation, I can't get mentored by my friend. It is not clear to me what I should do to get private mentoring, it doesn't mention what the threshold is re: reputation.

[2022-06-18 07:35] kotp commented on #6093
@fricova You have said that you are not able to get mentoring, even private mentoring.  I am curious as to what you have tried specifically and what the result was specifically.

For example, if I tried to get private mentoring, I might print the page with my printer and mail it to my friend.  They might respond by penning in comments in the margins, or on the back of the mailed exercise.  But thi

[2022-06-18 13:45] SleeplessByte commented on #6093
@kotp whilst you help Michaela with this, a few things to check:

- any of the mentoring slots filled?
- web or CLI?
- mentoring on practice or concept exercises (latter being not [yet if ever] possible via web, former always possible)?

[2022-06-18 16:19] iHiD commented on #6093
@fricova If you click on the mentoring tab on the exercise, do you see the box on the right? If not, could you send a screenshot pls? If you can't click on the mentoring tab, could you send a screenshot of that pls? Thanks :)

<img width="1437" alt="Screenshot 2022-06-18 at 17 18 56" src="https://user-images.githubusercontent.com/286476/174447512-ee808c9f-9288-4034-943d-9853476981b5.png">

[2022-06-20 01:29] kotp opened #6410 "Feature Request: Copy comment message"
While writing responses to student questions, it would be nice to be
able to click on a button to copy the comment, and be able to quote it
when responding.

Currently, I have to manually copy the message via "mouse select, copy,
paste" but this loses the markdown that they used in order to format
their message as they intended. I lose code marks, and other styling
that should probably be retained

[2022-06-20 02:58] kstrifonoff opened #6411 "The Community Solutions are available without solving the exercise"
The "Community Solutions" button is disabled by default, and so I'm guessing I shouldn't be able to see the community's solutions until I've solved the exercise. But actually I can do it by changing the url directly in the browser.

**Repro Steps:**
1.  Start an exercise without a successful solution.
2. Make sure the "Community Solutions" button in the UI is disabled (cannot be clicked).
3. Repla

[2022-06-20 03:35] kotp opened #6412 "Broken link regarding trustees"
https://exercism.org footer shows Katrina Owens link as one of the founders, but the link is broken.

[2022-06-20 04:06] SleeplessByte commented on #6411
Hi there,

Thanks for reporting this. This is expected as explained in https://github.com/exercism/exercism/issues/6378, https://github.com/exercism/exercism/issues/6257, https://github.com/exercism/exercism/issues/5848, https://github.com/exercism/exercism/issues/5398, and originally mentioned that this is a feature in https://github.com/exercism/exercism/issues/5850.

You can always see a "passi

[2022-06-20 04:06] #6411 closed

[2022-06-20 05:22] kytrinyx commented on #6412
Yeah, I don't have a website anymore. We should probably just not have a link at all. @iHiD Any other suggestions?

[2022-06-20 10:35] iHiD commented on #6093
@kotp @fricova Means private mentoring as in through the UI on the RHS above, not through the queues. (I'm going to close collapse your comment as I think it'll add confusion to the conversation currently)

[2022-06-20 13:49] kotp commented on #6093
@iHiD thank you, I am glad they confirmed it was through the private mentoring interface, though it seemed like they indicated more than only private. The goal was clear for "private mentoring" in the latter paragraph, but the first paragraph indicated "official or private".

[2022-06-20 22:44] glennj opened #6413 "Profile page, Summary tab, Tracks drop-down is not sorted by track"
My list shows up in this order

Bash
C
Common Lisp
C#
JavaScript
Elixir
Go
Groovy
Haskell
Java
Julia
Kotlin
Lua
Nim
Perl 5
PL/SQL
Python
R
Ruby
Rust
Swift
TypeScript
Pharo
Tcl
Wren
AWK

[2022-06-23 02:57] Brightchu commented on #5476
Thanks a lot. it works for me.

[2022-06-23 04:57] ErikSchierboom commented on #5646
Closed by #2693

[2022-06-23 04:57] #5646 closed

[2022-06-23 05:02] ErikSchierboom opened #6414 "Add missing communication settings"
Some of the communication settings that are used are not displayed on the settings page and can thus not be updated. This should be fixed.

[2022-06-23 05:18] ErikSchierboom opened #6415 "Display communication settings in groups of related settings"
Currently, the communication settings are shown in one big list. We should group related settings under an appropriate heading to make it visually easier to differentiate them and find the right setting(s).

[2022-06-23 05:20] ErikSchierboom opened #6416 "Convert all JavaScript files to TypeScript files"
While most of our source code is written in TypeScript, there are still some files written in JavaScript. The prime example are test files, of which a large number are still JavaScript files. Where possible, we should try to update them to TypeScript.

[2022-06-23 05:23] ErikSchierboom opened #6417 "Upgrade react-query to version 3"
`react-query` is a key library on our website and is used in many places. Currently, we're on version 2, but version 3 has been out for quite a while now. It would be great if we could upgrade to the latest version, as this will help fix bugs but also makes it easier to use the documentation.

[2022-06-23 05:29] ErikSchierboom opened #6418 "Upgrade front-end dependencies"
Many of our front-end dependencies are outdated. We should try to update these to the latest version where possible.

Note that https://github.com/exercism/exercism/issues/6417 describes updating "just" `react-query`, as that will likely be a more involved upgrade.

[2022-06-23 10:48] SleeplessByte commented on #6417
Let me know if you run into trouble

[2022-06-23 14:28] #6402 closed

[2022-06-23 16:46] jfacoustic commented on #6182
This is happening to me again:

<img width="1485" alt="image" src="https://user-images.githubusercontent.com/10293788/175351894-905bd9fa-2d54-494f-ba7c-82dae114b13b.png">

[2022-06-23 16:46] jfacoustic commented on #6182
Turned off my ad-blocker and it worked :)

[2022-06-26 16:50] zepam opened #6419 "Suggestion: Flag exercises for later review"
There are some exercises I complete, but feel I could do them differently once I learn more. It would be nice to be able to flag these exercises, with a flag that is private to my account, so that I can easily find them later.

[2022-06-26 20:26] glennj opened #6420 ""Files" tab bar height is inconsistent in solutions view"
Consider https://exercism.org/tracks/awk/exercises/two-bucket/solutions/glennj
I have submitted 3 files, and the tab bar height changes for each one:
* [![first][tb1]][imgs]
* [![second][tb2]][imgs]
* [![third][tb3]][imgs]

Consider this extreme case on https://exercism.org/tracks/awk/exercises/secret-handshake/solutions/glennj
* [![barely readable][sh]][imgs]

[sh]: https://raw.githubusercontent.

[2022-06-27 03:35] CavalcanteLucas opened #6421 "Page is broken for medium viewport size"
Hi,

I believe there might be something breaking the page layout for medium-sized viewports at the route `https://exercism.org/tracks/elixir/exercises/hello-world`.
I will leave a screenshot for showing what has been rendered:

![hello_world](https://user-images.githubusercontent.com/17774383/175855090-724dd852-0e7d-4d87-aefb-5574f7da28dd.jpg)

I hope that can be of help.
Kind regards

[2022-06-27 07:00] #6093 closed

[2022-06-27 10:08] ErikSchierboom commented on #5709
The query that we can use to delete the profiles:

[code]

Interestingly, `76519` of the `103206` will be deleted.

[2022-06-27 16:51] habere-et-dispertire opened #6422 "No solutions visible in Firefox Reader view"
Firefox has a reader view for removing some of the administrative detritus. Solutions are not visible in this mode.

[2022-06-27 17:52] SleeplessByte commented on #5709
I would do < 5 rep AND created after launch of v3 @ErikSchierboom

[2022-06-27 17:54] SleeplessByte commented on #6422
@habere-et-dispertire assuming you use this to either "read" the page or have the page spoken to you, what would you like the solutions to read out? I'll make sure I'll help the team get the correct markup in place.

[2022-06-27 17:57] #6421 closed

[2022-06-28 00:47] SleeplessByte commented on #6422
Understood. It will not expose all the iterations because they are actually not loaded (until you click the link). It not showing up at all is imo a bug, or at least something we should attempt to fix.

A print stylesheet is an option; I think we can even attempt to load a "print" variant of the syntax highlighting.

[2022-06-28 01:40] habere-et-dispertire commented on #6422
### Please also see [issue 520](https://github.com/exercism/raku/issues/520).

* * * *

Here's a monochrome highlight style which seems suitable for printing. It uses pandoc's automatic rendering from a fenced code section.

Notice also how using a typeface with understanding of common programming operators can harness ligatures to improve legibility. Point in case, the numeric equality operator `

[2022-06-28 12:04] ErikSchierboom commented on #5709
What we ended up with it to just delete profile of users without reputation (64373):

[code]

[2022-06-28 15:11] SleeplessByte commented on #6422
Yes, ligatures are great for this.

[2022-07-02 17:48] m-dango opened #6423 "Update repository details for Raku track."
In https://github.com/exercism/raku, the about section refers to the language as Perl 6, and has `perl` as a topic. Please update these both to Raku.

[2022-07-02 20:46] SirD3V4L07 opened #6424 "Annalyn's Infiltration Instructions unclear"
In Annalyn's Infiltration exercise, nowhere does it seem to specify the condition for Task 4 where if everyone is asleep but the dog is present, the CanFreePrisoner method returns true, as checked by Test 17.  Nor does it make much sense right off the bat.

After getting the error for Test 17 It's easy to correct the code, but it just seems out of place to show an error about something that was ne

[2022-07-02 21:37] siebenschlaefer opened #6425 "Markdown backticks visible in list of exercises"
The list of exercises does not process the backticks (Markdown syntax for code) but shows them verbatim.
For example on the [Python track](https://exercism.org/tracks/python/exercises):
![backticks](https://user-images.githubusercontent.com/1228739/177016800-eea24856-9b3e-422a-aeee-0a165ba8f761.png)

[2022-07-02 23:04] BethanyG commented on #6425
Strain is deprecated on the Python track (_it only shows if it was previously completed_) , so that might be part of the issue here.  Are there any non-deprecated exercises  where this is happening?

[2022-07-02 23:37] adammpkins commented on #6149
This did get resolved. Sorry I didn't answer sooner.

[2022-07-03 01:20] siebenschlaefer commented on #6425
ETL, Series, Accumulate show those backticks, too.

[2022-07-03 04:10] BethanyG commented on #6425
Accumulate is also deprecated, but the other two are not.

[2022-07-03 05:09] SleeplessByte commented on #6424
Assuming you're completing the JavaScript track, in the JavaScript instructions the following is present:

The first item in the list indicates the case where the **archer** is **_asleep_** (which is also true if _everyone_ is asleep) ánd the **dog** is present.

[2022-07-03 22:26] asarkar opened #6426 "Community solutions file list is garbled"
![Screen Shot 2022-07-03 at 3 23 55 PM](https://user-images.githubusercontent.com/1302775/177059217-42acee6e-1bf1-4ad2-9285-f6de129537f8.jpg)

This is not specific to a particular exercise or solution or iteration.

[2022-07-04 13:35] LivingLand opened #6427 "Create new track for Solidity"
Good morning, Exercism team!

I'm so excited to be here with you!

As a serial entrepreneur, I've always hired programmers to create smart contracts for me.  At $70-100 per token, I knew I was being shamelessly used but it was more efficient than to learn the skills myself at the time.

I'm the founder and CEO of New Coast Collaborative Finance, [nccf.io](http://nccf.io) .  We re-invented a new wa

[2022-07-04 13:35] LivingLand commented on #6427
Solidity !
     Solidity !

[2022-07-04 14:06] glennj commented on #6427
This is a duplicate of #6165

The solidity track has been started (https://github.com/exercism/solidity), but not much work has been done. If you'd like to pitch in and contribute, have a look at https://exercism.org/docs/community/contributors

[2022-07-04 14:28] wr125 opened #6428 "Solutions in Gophers Gorgeous Lasagna"
unable to click on Community Solutions
![overview](https://user-images.githubusercontent.com/20228047/177174441-9115cef1-76cf-4983-8a62-c038cdd3d7b4.png)
in order to find solutions to complete parameter of the function.

[2022-07-04 16:56] iHiD commented on #6420
@ErikSchierboom This is a result of one of the PRs to do with overflowing on tabs I suspect.

[2022-07-04 16:56] #6426 closed

[2022-07-04 16:57] iHiD commented on #6423
Done :)

[2022-07-04 16:57] #6423 closed

[2022-07-05 09:44] #6427 closed

[2022-07-06 07:58] kytrinyx commented on #6428
Hi @wr125, this is intentional.

The community solutions will be available to look at once you've solved the exercise. The goal here is for you to figure out how to solve the exercise on your own. The community solutions will allow you to compare what you have done to what others have done, which can sometimes provide new insights to learn from.

Are you finding it difficult to solve the exercise

[2022-07-06 08:12] darya-yilmaz opened #6429 "Can I use this editor on my iPhone?"
I started working on the task “Hello World!”
but it always giving me error. So I think it happens because I use phone.

[2022-07-06 10:50] kytrinyx commented on #6429
Are you able to upload a screenshot of the error, by any chance?

[2022-07-06 11:03] ErikSchierboom commented on #5681
Status update: we've made the configlet workflow a required status check for all active track repos.

We should be able to listen to the `check_run` or `check_suite` events to trigger deployment: https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#check_run

[2022-07-06 11:34] Rustery opened #6430 "Wasn't able to close a mentoring request."
Hello!

I asked a friend to mentor my link solution, and at the same time, the solution was open for mentoring requests.
After my friend finished mentoring, I closed the discussion but I couldn't close the mentoring request. I only got a chance after another mentor came up and started mentoring.

my exercism profile is @Rustery
mentoring request id is 797052f3b5164d3c84ae969c4b4476b5

Thank you in

[2022-07-06 12:03] iHiD commented on #6430
@Rustery Thanks.
@ErikSchierboom Could you dig into this pls?

[2022-07-06 12:04] #6420 closed

[2022-07-07 08:03] Daedra22 opened #6431 "test-runner in docker custom slugs / challenges"
Hi guys,
I would like to ask, if it is possible to create own slugs / challenges locally and test them with the exercism test-runners ?

As far as I see, you need to pass the key of the excercise slug, the solution code and the output dir for the results.json to the test-runner scripts:
`./bin/run-in-docker.sh <exercise-slug> <solution-dir> <output-dir>`

But I would like to create locally the tes

[2022-07-07 12:17] glennj commented on #6431
Certainly. You need to install Docker on your machine. For Ubuntu, for example, `apt install docker.io` -- https://packages.ubuntu.com/jammy/docker.io

[2022-07-07 12:21] Daedra22 commented on #6431
Hi, thanks for the reply.
I have docker installed.
But my question was about whether I can execute own challenges, own slugs.
Currently I have to pass the slug name and the container takes the tests of slugs from the exercism website. But i would like the runner to execute my own tests (slugs).

[2022-07-07 12:24] glennj opened #6432 "would be nice: indicator of mentoring queue size in/near bell icon"
Instead of explicitly heading to the Mentoring page, having a visual indicator of how many mentoring requests are in my queue would be nice.

[2022-07-07 12:30] glennj commented on #6431
What test runner are you using? Whether it talks to the exercism website is simply programmed into it. The test runners I've written don't do that.

[2022-07-08 07:50] gacallea commented on #6339
Hi @ErikSchierboom :)

I understand and won't “take it personally”, I'm just glad to help. However, allow me this suggestion: adjust your criteria to reward every contribution, regardless of it being gargantuan or not. The way you are currently putting this, could make any potential contributor feel their feedback is insignificant and “so, what's the point of even contributing?!?!”

An idea could

[2022-07-08 13:00] algor512 opened #6433 "A solution passed all tests, but not accepted."
I get the following result:
![2022-07-08_15-56](https://user-images.githubusercontent.com/446041/177996539-ebe167f9-4684-4167-8f5d-0508fec88b63.png)

What goes wrong? You can see that the solution passed all tests...

The problem: https://exercism.org/tracks/emacs-lisp/exercises/gigasecond

[2022-07-08 18:06] iHiD commented on #6339
Hi @gacallea - thanks for your suggestion. To be clear, Erik wasn't saying we only award big pieces of work. If someone fixes something via submitted a PR we award rep regardless of whether it's big or small. However, we currently don't award reputation for opening issues about bugs.

If we did that we'd end up very quickly getting spammed by people just doing so for reputation, rather than who we

[2022-07-08 19:50] 0xE282B0 opened #6434 "Display error for "Your contributions" on journey page"
Hi,
I found a problem with the labels of the "Your contributions" graphic that depend on the navigation. Since it is hard to explain how to reproduce it, I attached a video. 😊

https://user-images.githubusercontent.com/4034494/178059983-512ec506-e161-4182-b7bf-41af0cc130d9.mov

[2022-07-08 19:54] 0xE282B0 commented on #6434
Browser: Brave Version 1.40.113 Chromium: 103.0.5060.114  (arm64)
OS: macOS 12.3.1 Monterey (arm64)

[2022-07-08 21:09] iHiD commented on #6434
Thanks. This is a neverending bug!! I thought we'd fixed it a long time ago, but apparently not :)

[2022-07-09 22:47] bakirrayan opened #6435 "error occurring while importing modules"
While doing the "Flatten Array" exercise for the python track I got an error when I try to submit the exercise, it says No module named 'iteration_utilities' and the module exists on pypi and I don't know how I could solve this problem
the module : https://pypi.org/project/iteration-utilities/

[2022-07-09 23:03] glennj commented on #6435
I think the test environment uses a fairly vanilla python 3.9 installation. I suspect you'll need to stick to the standard library.

[2022-07-09 23:07] bakirrayan commented on #6435
thanks i will try again with standard library

[2022-07-09 23:09] habere-et-dispertire commented on #6422
Just to over communicate and clarify, I think that a print stylesheet would be well suited to not only printouts, but to viewing *solutions* on screen. Colour syntax highlighting is geared towards *editing*.

[2022-07-10 00:42] BethanyG commented on #6435
@bakirrayan @glennj  -- to confirm, right now we only use the modules in the Python 3.9.x standard library - no third-party libraries are installed/loaded.  Using code that is not in the standard lib results in an error.

[2022-07-10 17:24] SleeplessByte commented on #6422
I think that's very much a "personal preference". In my opinion, the better solution would to be able to select in what cases you (as a user) would see which type of styling.

[2022-07-10 19:04] habere-et-dispertire commented on #6422
Yes and for some reason it seems to get heated fast (see the comments section under Linus Åkesson's article: [ A case against syntax highlighting](https://linusakesson.net/programming/syntaxhighlighting/).

So a personal preference here sounds sound. A will not argue beyond for a default against prevailing views to the contrary.

[2022-07-11 06:56] gacallea commented on #6339
Hi @iHiD,

I didn't consider this, and I agree. Also, I kinda forgot that I did not PR this for a minute. I don't think I have a solution to my “idea”, and if you are already rewarding all kind of contribution (as long as they are PRs), then my comment is moot. :)

Thank you for taking the time to discuss this.

Cheers!

[2022-07-11 18:31] iHiD commented on #6419
That's a really nice idea :)

[2022-07-11 20:05] SleeplessByte commented on #6422
Oh yeah. I don't see the point in replicating that here. You pointed out that it matters to you and the impact on the ease for you to consume the content. I think that, up to a reasonable point, should be enough to consider this change 🤗.

I'll let you know if I have more questions about this but i think your examples are very clear.

[2022-07-12 13:02] oddtinker opened #6436 "Fix overflowing flex item on Concepts page"
Hi,
I'd like to suggest fixes for the following styling issues on Concepts page that occur when the `min-width: 768px` break-point is reached:

1. The flex container that is the only child of the `div.lg-container` does not allow wrapping, which results in an overflowing item:

<img width="773" alt="Screenshot 2022-07-12 at 14 47 55" src="https://user-images.githubusercontent.com/34208415/17849471

[2022-07-12 19:24] bookcasey opened #6437 "Markdown rendering issue in hint on live site"

[2022-07-13 08:54] ErikSchierboom commented on #6437
The correct location for this is exercism/exercism, which contains all issues. I've transferred it there.

[2022-07-13 17:00] imolein opened #6438 "Blank lines auto-indents in editor of Lua Track"
Currently the code editor in the Lua track is a bit tedious to use, because it auto-indents if you press enter on blank lines. It seems to be a bug in the Lua language package of codemirror, described here https://github.com/codemirror/dev/issues/757 and was fixed in this commit https://github.com/codemirror/legacy-modes/commit/8866c8287dda3e52800d61401244dcf1c9705170.
So I guess the Lua language

[2022-07-13 19:02] dunndeft opened #6439 "Typo error on Explore Tasks page"
Please see the paragraph text under "This task requires you to fix something broken"... it says "...you'll be bulding taking something that's currently not working...". The word bulding can be changed to building. It's spelled this way in the other pop-up instructions too.

![image](https://user-images.githubusercontent.com/60718015/178810953-2543e5ee-b8f0-4032-b66f-bf3dc657201b.png)

[2022-07-14 10:40] kytrinyx commented on #6439
Thanks for the heads up, @dunndeft, I've submitted a PR to fix this.

[2022-07-14 11:38] ErikSchierboom opened #6440 "Consider correct reputation amounts for different labels"
As discussed in https://github.com/exercism/docs/pull/347, the amount of reputation that we award for PRs/issues could perhaps use some fine-tuning. Getting these numbers right is very difficult, but it is worth the effort to see if the current values make sense.

As per the above-mentioned discussion, it seems that the large/massive PRs are likely the ones which might need some tweaking. As a sta

[2022-07-14 11:38] ErikSchierboom opened #6441 "Consider correct reputation amounts for different labels"
As discussed in https://github.com/exercism/docs/pull/347, the amount of reputation that we award for PRs/issues could perhaps use some fine-tuning. Getting these numbers right is very difficult, but it is worth the effort to see if the current values make sense.

As per the above-mentioned discussion, it seems that the large/massive PRs are likely the ones which might need some tweaking. As a sta

[2022-07-14 11:38] #6441 closed

[2022-07-14 15:36] glennj opened #6442 "favicon => 404"
https://exercism.org/favicon.ico is returning a 404 f or me at the moment.

[2022-07-14 16:18] kotp commented on #6440
Should we pin this for increased visibility temporarily?

[2022-07-15 00:39] iHiD commented on #6442
Hmm, my guess is that it's not honouring the code in the HTML that specifies where the favicon lives. Maybe we should add it as a fallback, but we don't normally serve images from the website itself.

[2022-07-15 06:53] ErikSchierboom commented on #5709
Closed by https://github.com/exercism/website/pull/2757

[2022-07-15 13:45] AjaxAueleke opened #6443 "Text overflow issues"
![image](https://user-images.githubusercontent.com/62912869/179235680-b4f61a08-96bb-484e-b58f-9b75b555c3fb.png)
In some cards, the text goes out of the div which looks bad.

[2022-07-15 19:42] kytrinyx commented on #6428
I'm going to go ahead and close this, but please do let us know how things go!

[2022-07-15 19:42] #6428 closed

[2022-07-15 23:18] iHiD commented on #6443
@exercism/go What's your appetite for adding some whitespace between the test name and the slash? 🙂

[2022-07-16 12:09] junedev commented on #6443
@iHiD Well, this is the output the built-in go test runner produces. In the code we write there are no underscores for example and even the slash is not added by us or some library.  We can mess with that output of course but I am not sure only adding a space between test name and slash would be enough to fix this. The part with the underscores is still quite long and might not fit. Even if we sho

[2022-07-16 12:21] iHiD commented on #6443
Thanks for the explanation.

This is what I did in the Ruby one, so I'm fine with it. But I don't know how easy/hard that would be in the Go setup.

[2022-07-16 12:36] junedev commented on #6443
Should be easy to do, just wanted to confirm its ok. Can you move the issue to the go test runner repo then?

[2022-07-17 15:03] Ramsey555 opened #6444 "Create new track for [LANGUAGE]"
DIs exercism still active?

[2022-07-17 15:05] kytrinyx commented on #6444
Yes, it's still active.

If you want to develop a new track, you can make the request here: https://github.com/exercism/request-new-language-track

[2022-07-17 15:05] #6444 closed

[2022-07-17 15:21] Ramsey555 commented on #6444
Thanks I didn't see much activity and I thought the site is dead

On Sun, Jul 17, 2022 at 6:05 PM Katrina Owen ***@***.***>
wrote:

[2022-07-17 16:06] Monsterlander commented on #5849
same issue with

fn main() {
    println!("Hello, World!")
}

Error:

We received the following error when we ran your code:

WARNING: student did not upload Cargo.lock. This may cause build errors.
   Compiling hello-world v1.1.0 (/mnt/exercism-iteration)
warning: function is never used: `main`
 --> src/lib.rs:1:4
  |
1 | fn main() {
  |    ^^^^
  |
  = note: `#[warn(dead_code)]` on by default

w

[2022-07-17 18:20] junedev commented on #6440
What would help to sort this out would be if maintainers could leave a note on how many hours they roughly spent on the items above or anything else they would usually classify as `large` or `massive`.

@SleeplessByte The list is just for a rough impression of potential examples. The real question is the number of hours for the labels.

@kotp exercism/exercism is visited by a lot of non-maintainer

[2022-07-18 06:54] kytrinyx commented on #6444
Which site are you looking at? There's a ton of activity every day, much more than there's ever been before.

[2022-07-18 06:56] Ramsey555 commented on #6444
Thanks I am looking for Php and Python.

On Mon, Jul 18, 2022, 09:54 Katrina Owen ***@***.***> wrote:

[2022-07-18 11:43] kytrinyx commented on #6444
PHP is here: https://exercism.org/tracks/php and Python is here: https://exercism.org/tracks/python

[2022-07-18 11:52] Ramsey555 commented on #6444
Thank you let me share with my work colleagues also

On Mon, Jul 18, 2022 at 2:44 PM Katrina Owen ***@***.***>
wrote:

[2022-07-18 17:36] LandonSchropp commented on #5978
Just to add another use case for supporting unlocking, my team is looking at using Exercism for group learning at work. We're a group of developers who are already proficient in the language, but we're looking to hone our skills, learn from each other and have fun doing programming exercises.

Without the ability to unlock exercises, Exercism is tough to use because we simply have too many people

[2022-07-18 22:47] ee7 opened #6445 "Metrics API questions"
During the call a few days ago I wrote a CLI client for the linked [metrics API endpoint](https://exercism.org/api/v2/metrics/periodic?period_type=day).

That client may or may not be completely useless - I just wanted to quickly tabulate the data [like this gist](https://gist.github.com/ee7/9892e5b6a92a0e5b479fa82460ca1505), and support easy filtering. I suppose the main benefit currently over `c

[2022-07-19 00:17] iHiD commented on #5978
@LandonSchropp For your use case you can probably just switch to Practice Mode to unlock everything straight away.

[2022-07-19 00:27] iHiD commented on #6445
Some initial reactions.
- I'm :+1: on 3a and 4
- I'm :-1: on 3d (as I feel it's good to have them all worded as actions) and 3e (simply because I prefer clarity).
- I'm tentatively :+1 on 3b
- I'm tentatively :-1 on 1 (as I'd rather get zero's back as a consumer, for example if plotting a chart)

[2022-07-19 01:39] iHiD commented on #6444
@Ramsey555 Out of interest, what sort of activity were you expecting to see to make you feel like it was more alive?

[2022-07-19 05:50] Ramsey555 commented on #6444
I thought I would see a chat center like code wars

[2022-07-19 12:43] izzygardnerr opened #6446 "SUBMIT AND RUN TEST BUTTON DISSAPEARED"
Hi,

I completed an exercise which resulted in an error.

However, after making changes the run tests and submit buttons have completely disappeared.

I don’t know if it’s an error on my behalf or a bug on Excercism.  It’s really annoying as I cannot complete any other exercises now.

[2022-07-19 17:19] SleeplessByte commented on #6445
I rather get the zeros back too. gzip should take care of the reduction over the wire.

[2022-07-19 19:18] kytrinyx commented on #6446
This sounds like a bug, and very frustrating! Would you please take a screen shot of what you're seeing so that we can look for clues?

[2022-07-19 20:04] izzygardnerr commented on #6446
Hey!

Here is a screenshot - I cannot scroll beyond this point so I cannot see
the 'run tests' or 'submit' buttons.

Thank you :)

Best,

Izzy

On Tue, Jul 19, 2022 at 8:18 PM Katrina Owen ***@***.***>
wrote:

[2022-07-19 22:08] LandonSchropp commented on #5978
@iHiD Ah, I didn't realize there was a practice mode. Thanks!

[2022-07-19 23:50] kotp commented on #6446
I did not see what was attached, but I wonder if you reduce the font size, or drag the comment window to resize it if it reappears.

[2022-07-20 05:48] kytrinyx commented on #6446
@izzygardnerr It looks like email attachments in replies don't get included in the issue comment. Would you try visiting this thread and uploading the screenshot directly?

[2022-07-20 08:13] izzygardnerr commented on #6446
<img width="1440" alt="Screenshot 2022-07-19 at 21 01 42" src="https://user-images.githubusercontent.com/103532518/179931922-49a25bff-f1dc-4390-ba17-abb35d5dc97d.png">

[2022-07-20 08:16] izzygardnerr commented on #6446
@kytrinyx From this point I cannot scroll down and if I make changes to the code (i.e. add the notes) which was the final step in the exercise, I am still unable to scroll down to see the run test or submit buttons.  There is not a way for me to reduce font size, however I have zoomed out on the page and it has still not resolved the issue.

[2022-07-20 11:53] izzygardnerr commented on #6446
@iHiD Hey - it's Safari.

The version details are: Version 14.0.3 (16610.4.3.1.4)

I have ad-block, that's it.

Best,

Izzy

[2022-07-21 11:31] izzygardnerr commented on #6446
@iHiD @kytrinyx

Hi,

I removed my browser extension and there has not been any changes unfortunately.

Do you have any further suggestions?

[2022-07-21 11:38] habere-et-dispertire opened #6447 "[Observation] Consistency with Community Solutions"
Community Solutions currently default to showing solutions which pass the latest tests.

However, any particular solution has a side panel with "Other" community solutions which do not have the same default.

I am not sure if this is intentional.

[2022-07-21 12:21] schackbrian2012 opened #6448 "Run Tests Error"
I am solving the Robot Name exercise on the Java track. The editor contains a block comment and no code. I clicked the Run Tests button. I got the error message, "An error occurred while running your tests." I tried running the tests again. I also tried logging out and logging in again. Same error. Can you help please?

https://exercism.org/tracks/java/exercises/robot-name

[2022-07-21 13:11] glennj commented on #6448
The README for that exercise states:

You'll need to start by reading the tests to see what class name is expected.

[2022-07-21 18:33] schackbrian2012 commented on #6448
Dear glennj,

This is not the usual error for referencing an undefined class. Nevertheless, I changed the code in the editor to the following. This defines the class Robot expected by the setUp method of RobotTest. Unfortunately, this did not resolve the error.

[code]

Regards,
Brian Schack

[2022-07-21 19:24] kytrinyx commented on #6446
We'll try to do some testing to see if we can reproduce it.

[2022-07-21 20:01] glennj commented on #6448
@exercism/java folks, anyone care to jump in?

[2022-07-21 20:45] andrerfcsantos commented on #6448
Other people seem to be reporting this. The only change we did that might have caused this was https://github.com/exercism/java-test-runner/pull/50

@ErikSchierboom Do you have any way of confirming that change caused the problem?

Meanwhile, made a PR to revert the change https://github.com/exercism/java-test-runner/pull/52

@glennj Thanks for the heads up!

[2022-07-22 06:43] ErikSchierboom commented on #6448
@andrerfcsantos I'll look into it!

[2022-07-22 07:01] maruiz93 opened #6449 "New Feature: Follow profiles"
I wonder it it could be possible to "follow" friends' profiles to avoid saving them on browser's favorites.

I think it woud be very nice to check on other advances to have an extra motivation!

For starters, just a button to "follow" in the profile view and another to see the profiles you are following (and the ones that follow you) should be just fine.

[2022-07-22 08:58] ErikSchierboom commented on #6448
Very weird. I'll take a look. It does seem to be track-specific, as other tracks seem to be working fine.

[2022-07-22 09:41] ErikSchierboom commented on #6448
This is what is in the log:

[code]

CC @iHiD

[2022-07-22 10:15] iHiD commented on #6448
Could we have changed some dependency that wasn't pinned during build/deploy? So now, even reverting the PR means that some newer version of something is being brought in?

[2022-07-22 10:41] ErikSchierboom commented on #6448
Possibly. @andrerfcsantos any ideas?

[2022-07-22 11:20] JSkells0 opened #6450 "Run Tests "An error occurred""
Hi, I am unable to run tests on any of my code within the Java track as of yesterday. I ran the code shown below in my local IDE and it compiled and executed successfully, and have also tried running tests on other code I have written but to no avail. I have also attempted to run tests through a mobile browser but this did not work either. Many thanks in advance!

![image](https://user-images.gith

[2022-07-22 11:50] andrerfcsantos commented on #6448
That can be the issue. Found this: https://github.com/flyway/flyway/issues/3457

If you feel like trying that fix: https://github.com/exercism/java-test-runner/pull/53

[2022-07-22 12:15] ErikSchierboom commented on #6448
Deploying: https://github.com/exercism/java-test-runner/runs/7468028534?check_suite_focus=true

[2022-07-22 12:20] ErikSchierboom commented on #6448
Fixed!

![image](https://user-images.githubusercontent.com/135246/180437920-12a750d5-ea6b-4bd5-9e8f-aead0f4d1edc.png)

[2022-07-22 12:20] #6448 closed

[2022-07-22 12:29] #6450 closed

[2022-07-22 15:35] bobahop opened #6451 "Broken link for Teams link in FAQ"
In the `What happened to my Team from the old site?` section in the FAQ

Clicking on the link

We now have a [dedicated Teams site](https://teams.exercism.org/).

returns `This site can’t be reached`

URL for the page is [here](https://exercism.org/docs/using/faqs).

[2022-07-22 22:13] glennj opened #6452 "API endpoint request: info about one discussion"
ref https://exercism-team.slack.com/archives/CAQP7JL3T/p1658515821831379

Please provide.

[2022-07-22 22:24] glennj commented on #6452
Similarly, info about one mentoring request, particularly the solution uuid and the student's track/exercise goals

[2022-07-23 00:16] schackbrian2012 commented on #6448
I originally reported this issue, and your fix worked for me!

[2022-07-23 00:34] glennj commented on #6452
Oh, @iHiD asked me to tag you @ErikSchierboom

[2022-07-23 16:49] 0xE282B0 commented on #5933
Hi, I came across this problem too.
When you get that link you have no idea what you should mentor before accepting the request.
@iHiD is there a way to support this improvement request?

[2022-07-23 17:28] kotp commented on #5933
Since @taiyab is assigned, that is probably the more correct 🐪 _bump_.

[2022-07-24 17:11] iHiD commented on #6447
@habere-et-dispertire Thanks.
@ErikSchierboom This is probably a low-hanging one that would be useful for people.

[2022-07-25 12:52] izzygardnerr commented on #6446
@kytrinyx hey, sorry for the late reply.

I clicked this - the code has reverted to the beginning.

However, the same issues that the run test and submits button do not appear remains.

[2022-07-25 21:36] glennj opened #6453 "CODEOWNERS error?"
@ErikSchierboom Seeing this in exercism/awk-test-runner

![image](https://user-images.githubusercontent.com/122470/180878039-98682385-6a75-40a5-a49b-e9e7049b9f11.png)

[2022-07-25 22:58] iHiD commented on #6453
I've added the team to the repo. Is it fixed now?

[2022-07-25 23:54] glennj commented on #6453
Yes.

Is something that ought to be validated across all repos?

[2022-07-26 00:25] iHiD commented on #6453
Yeah, @ErikSchierboom's working on a global script for it that builds on the one we ran week-before-last for the tracks. Currently I have to manually add it everywhere, which is a pain! :)

[2022-07-26 00:32] glennj commented on #6453
OK, closing this one.

[2022-07-26 00:32] #6453 closed

[2022-07-26 05:51] kytrinyx commented on #6446
You tried disabling the ad-block, right? It sounded like it from the discussion above, but I want to be sure.

[2022-07-26 08:47] izzygardnerr commented on #6446
Hi,

Yes I have:)

On Tue, 26 Jul 2022 at 06:52, Katrina Owen ***@***.***> wrote:

[2022-07-26 11:29] hariram997 opened #6454 "[Feature request ] Can exercism support multiple file?"
As a contributor, we wanted to create new exercise which will need multiple files but it seems exercism support only single submission.
Will exercism support multiple files for an exercise in near future? Or do we have any other ways to incorporate multiple files in exercism

[2022-07-26 12:23] kytrinyx commented on #6454
If I recall correctly, you can submit multiple files via the CLI by specifying all the files as arguments to the `submit` command.

[2022-07-26 12:52] iHiD commented on #6453
Thanks :)

[2022-07-26 15:07] SleeplessByte commented on #6454
Exercism does support multiple files, but the exercise / track needs to be set-up to "recognise" multiple files, because the tooling (test-runner, analyzer, respresenter, etc.) also needs to be made aware of this fact. This is trivial in some languages and hard in others.

For the learning / concept exercises, `.meta/config.json` will have a `files` key and value which tell you what it understands

[2022-07-27 14:17] izzygardnerr commented on #6446
Hi Jeremy,

- It is just this one.  However, I have only done one previous exercise
before this.  The other exercises are locked for me so I'm unable to test
this.
- Yes, the buttons were present, I had actually passed 3/4 tests and was in
the process of adding notes to my code as the final test.
- I will try the different browser and get back to you.

Best,

Izzy

On Tue, 26 Jul 2022 at 12:27, Je

[2022-07-27 14:19] izzygardnerr commented on #6446
@SleeplessByte thank you.

What do you mean by 100vh?

Please let me know.

Best,

Izzy

[2022-07-27 14:36] kytrinyx commented on #6446
@izzygardnerr 100vh refers to a technical thing in CSS3. You don't need to know the details unless you're actually curious. (To me it sounds like @SleeplessByte was saying that maybe we could switch to 100vh in the CSS, which might fix it for you).

Here's an article about it: https://medium.com/rbi-tech/safaris-100vh-problem-3412e6f13716

[2022-07-27 14:48] SleeplessByte commented on #6446
Yeah @kytrinyx is right. Sorry @izzygardnerr, the comment was directed at @iHiD.

I'm having a hard time reproducing the bug, but I do know Safari _has_ had issues with the specific markup Exercism is using.

If you feel like it, @izzygardnerr, there is something you could try to help us help you. No worries if this doesn't work for you, or this is hard, but it can help us narrow down the possible

[2022-07-27 20:23] adamjonas opened #6455 "Loading tracks for self-hosted or local builds"
I am having trouble finding documentation for a track creator/maintainer to be able to load tracks for a local build of the website. The docs on getting the website up and running locally are clear and straightforward, but I'm not seeing how language tracks from the repos are pulled into the database.

Apologies if I'm missing something obvious!

[2022-07-27 20:52] iHiD commented on #6455
Hi @adamjonas. Thanks for the issue. Self-hosting isn't something we particularly support or encourage so there's not documentation on it. Why are you wanting to self-host?

[2022-07-28 07:06] dsletten opened #6456 "Ambiguous test in Clojure Isogram exercise"
This test should be removed as it is ambiguous:
(is (isogram/isogram? "Heizölrückstoßabdämpfung"))
Clearly the classification of a word as an isogram involves a case-insensitive analysis. This is seen in the following test:
(is (not (isogram/isogram? "Alphabet")))

However, the question of whether "Heizölrückstoßabdämpfung" is an isogram depends on whether we convert the "H" to lowercase or whethe

[2022-07-28 12:56] adamjonas commented on #6455
Understood. Thank you @iHiD and thanks for all the work you are doing to make this product and community so spectacular.

[2022-07-28 12:56] #6455 closed

[2022-07-28 13:25] iHiD commented on #6455
Thank you 🙂

I do think sometime in the future we might choose to support building other communities from Exercism's model (a bit like StackExchange allows new StackOverflow things), but I feel like we need to be very stable before that, so it's a year or two off at the least :)

[2022-07-28 15:11] kytrinyx commented on #6456
Thanks for raising this.

I've done a bit of digging, and overall I agree that it would make sense to remove the the test case.

Wikipedia lists `Heizölrückstoßabdämpfung` as the longest isogram in the German language, but it also says `citation needed`. https://en.wikipedia.org/wiki/Heterogram_(literature)

The isogram exercise has a base set of test cases in Problem Specifications here: https://

[2022-07-29 06:16] #6447 closed

[2022-07-29 11:53] habere-et-dispertire commented on #6447
Wonderful!
*Mille mercis !* :)

[2022-07-29 12:56] ahmadhaidarahmad opened #6457 "Keep getting issues Timeout YOUR TESTS TIMED OUT Running Exercism locally"
Everything is running properly and as it should but I found that `test_run = SerializeSubmissionTestRun.(submission.test_run)`  is always returning a nil and the any anycable-go result is giving ` WARN 2022-07-29T12:49:52.485Z context=node sid=1AdTSgdvt9tqWTdjCM6Yq Failed to handle incoming message '{"command":"unsubscribe","identifier":"{\"channel\":\"Submission::TestRunsChannel\",\"submission_uu

[2022-07-29 12:57] ahmadhaidarahmad commented on #6457
@kytrinyx  @PatrickMcSweeny

[2022-07-29 18:17] SleeplessByte commented on #6457
@iHiD @ErikSchierboom you may want to check. Probably hiccup in the system?

@ahmadhaidarahmad I was able to just submit a solution on ruby! Want to give it another go?

[2022-07-29 18:20] ahmadhaidarahmad commented on #6457
Hi @SleeplessByte Thank you a lot for replying, I tried a lot and still having the same issue FYI I'm working locally, Do you want me to provide any details to see if you can help me ?

[2022-07-29 18:29] SleeplessByte commented on #6457
Ah. You're trying to run the entire exercism website locally?

I don't think we provide support for that.

[2022-07-29 18:30] ahmadhaidarahmad commented on #6457
How can I contribute to the code and add new features if I can't run the project locally ?

[2022-07-29 18:43] ahmadhaidarahmad commented on #6457
@SleeplessByte  If you can't help, can you just explain to me please how does the test run works ?

[2022-07-29 18:57] glennj commented on #6457
This is a conversation you should have 1:1 with @iHiD

[2022-07-29 18:59] ahmadhaidarahmad commented on #6457
Thank you @glennj  for your reply 😊 @iHiD  when can we have a one to one conversation?

[2022-07-29 19:00] SleeplessByte commented on #6457
In general, as the web repository states, outside contributions on that code are not accepted (or expected).

However, pick one of the 60 tracks. They all have content, code, tooling that generally does accept contributions!

[2022-07-29 19:09] iHiD commented on #6457
Yeah, the website doesn't accept PRs, sorry. As DJ says, you're very welcome to contribute to any of the other 300 or so repos though, which nearly all of which accept contributions.

For posterity, to get the test-runners working you'd need to get a tooling-invoker running, a tooling-orchestrator running, and then have whichever tooling repos you want (e.g. ruby-test-runner, ruby-representer, rub

[2022-07-29 19:09] #6457 closed

[2022-07-29 19:29] ahmadhaidarahmad commented on #6457
@iHiD  Thank you a lot for the clarification much appreciated 😊🙏

[2022-07-30 00:41] axtens opened #6458 "Recently launched language not appearing in list of languages on bottom of front page"
COBOL was launched recently. The 60th language. There are still 59 languages listed at the bottom of the front page. COBOL is not there.
@iHiD  says,

![image](https://user-images.githubusercontent.com/209621/181863463-c847a278-a9ff-40a0-91e6-844cdb4204c3.png)

[2022-07-30 04:04] dsletten opened #6459 "Increase rigor of Ruby Pythagorean triplet exercise"
The test suite for the Ruby Pythagorean triplet exercise does not make any meaningful performance demands on solutions. The hardest test limits the sum to 1000 and places bounds of 200 and 425 on the lengths of the sides. The result is that clever solutions that are hopelessly inefficient are accepted.

By contrast, the Common Lisp track requires solutions to find all triplets whose sum is 30000.

[2022-07-30 04:05] thelmalu opened #6460 "Exercise Completed and Published Continues to Appear as 'in progress'"
When I tried to resubmit the file I was told that there were no changes from my last submission.
When I made a trivial change and resubmitted I was told that the exercise had been completed and published six months ago; no 'Mark as Complete' option appeared. When I went back to the list of exercises it still showed as 'in progress'. When I tried to read my submission on the site, I was told that n

[2022-07-30 04:36] dsletten opened #6461 "Make sense of tests for Java Pythagorean triplet exercise"
The test suite for the Java Pythagorean triplet exercise is nonsense. First of all, the description of the problem makes no mention of a maximum side length independent of the sum of the lengths. Yet the test suite imposes a withFactorsLessThanOrEqualTo() builder method. It is not immediately obvious how the student is to implement this maximum factor.

To further confuse the issue, each test case

[2022-07-30 08:47] angelikatyborska commented on #6347
I think I hit a similar problem. From what I'm reading here, it should work if I change the links from `[text][reference]` to `[text](url)`?
<img width="556" alt="Screenshot 2022-07-30 at 10 45 18" src="https://user-images.githubusercontent.com/7852553/181902887-2e6d6835-e710-4a48-b23a-390cac30bc1e.png">

[2022-07-30 23:10] kotp commented on #6370
It is not only off by one, either:

![Screenshot from 2022-07-30 19-09-20](https://user-images.githubusercontent.com/16747/182003109-8a1e8343-2298-40e9-b627-243e1d6d282d.png)

[2022-07-31 01:03] roxgib opened #6462 "Tests are skipped if enough data is written to stdout"
TL;DR tests should fail if they exit because of excessive output.

I'm mentoring a student on the Rust track who submitted this code for the lasagna exercise:
[code]

Of course this code will loop forever, printing each time. After [some discussion](https://github.com/exercism/rust/issues/1536) it seems that a test is skipped if enough data is written to stdout. For this exercise Exercism shows "f

[2022-07-31 02:41] eloyesp opened #6464 "Adding content on the notifications emails"
Notification emails about discussions only have an email, so users receiving it cannot read the actual message (in the case of a discussion) [without][1] [opening][2] [the][3] [web][4] (and login in when you are not on the same devise).

What you think about that?

[1]: https://github.com/exercism/website/blob/main/app/views/mailers/notifications_mailer/mentor_replied_to_discussion.html.haml
[2]:

[2022-07-31 09:12] DeFiDruid opened #6463 "Create new track for Solidity"

[2022-07-31 12:58] kytrinyx commented on #6463
There's been work on a Solidity track here:
https://github.com/exercism/solidity

@ErikSchierboom do you know if there's been any recent activity to get this track into shape to be launched?

[2022-07-31 23:11] iHiD commented on #6463
There's not, and as it's such a different language to other Exercism ones, porting from Problem Specs doesn't really work, so it's a lot of effort to make exercises.

[2022-07-31 23:14] iHiD commented on #6464
Yes, it's a good suggestion. Thanks.

In future, please follow the instructions on where to open issues - don't ignore them because you disagree with them. Having to move them to the correct place is just extra frustrating work for me. We work very hard on signposting people to do things in the right way - please respect that. Thank you.

[2022-07-31 23:20] iHiD commented on #6459
Thanks for the issue.

I'm not sure I agree that we want to challenge people's algorithmic skills here. A medium exercise should challenge their **Ruby** skills to a medium difficulty level not their CS skills (this is why different tracks have different difficulties for the same exercise).

Maybe you could post a inefficient and an efficient solution and we can compare the complexity of the Ruby

[2022-08-01 00:18] habere-et-dispertire opened #6465 "[Raku] List programming languages in alphabetical order"
I occasionally can't find raku on Exercism.

Currently under `https://exercism.org/docs/tracks`, raku follows after its sister language perl 5. If possible, please can this be put into alphabetical order.

I'm guessing the relevant file may be:

exercism > website > app > helpers > view_components > docs_track_list.rb

Thanks.

[2022-08-01 11:18] ashwathirao opened #6466 "( Feature request ) Quiz in exercism"
Do exercism has future scope towards having quizzes in some concept based exercise.

Scenario -> After every concept based exercise quiz acts as a factor to enable upcoming exercise!

[2022-08-01 12:11] kytrinyx commented on #6466
Hi @ashwathirao. We currently don't have any plans to add a feature like this. We believe that once you've done the concept exercise, that is sufficient to unlock the exercises that depend on that concept.

[2022-08-01 12:11] #6466 closed

[2022-08-01 13:29] ErikSchierboom commented on #6463
As @iHiD said: I don't think there was much work being done. Exercises must indeed be crafted manually mostly. It might be possible to use some problem-specifications exercises, but I don't know Solidity well enough to have an educated opinion. If you'd like to help out with a Solidity track, send an email to erik at exercism.org and I'll get you updated.

[2022-08-01 13:34] ErikSchierboom commented on #6347
@angelikatyborska Yes, that should work.

[2022-08-01 16:08] iHiD commented on #6461
@dsletten Thank you for opening an issue. I suggest you'll be likely to get more uptake on this issue if you moderate your tone by removing words such as "nonsense" and "absurd", which are likely to feel insulting to the people who work on these exercises. Knowing that thousands of people have completed the exercise successfully, I pretty much turned off at the first sentence. If the maintainers o

[2022-08-01 16:11] Gene-94 opened #6467 "Add flag --dest to download command"
Hi, I understand that I can specify my workspace directory but I would like to specify were I download each exercise, it would be far easier for me to mesh different exercises from different sources and have them all grouped by content and not source.

I think all this would require is to have something like a --dest flag for the download command that would allow me to specify a destiny path for t

[2022-08-01 19:38] #6463 closed

[2022-08-01 21:43] joshgoebel commented on #6467
Is it so hard to just download the exercise and then move it whenever you'd like it to be stored?  I bet you could whip us a tiny Bash script to do what you're wanting in only a few lines of code.

Are you meaning to say you want all the "matrix" exercises in a single tree, or something else entirely?

[code]

Like that?

[2022-08-02 02:43] axtens commented on #5933
This is for https://exercism.org/mentoring/external_requests/82460f89d0224f6bb12a485aa7c3f120 which is me asking for help with my "Rotation Cipher" exercise in COBOL. However the recipient of the link has absolutely no idea what task nor what language. @iHiD @taiyab @ErikSchierboom
![image](https://user-images.githubusercontent.com/209621/182279957-fcc0d2e5-640c-4cf4-8f32-803df75e5aac.png)

[2022-08-02 07:54] ashwathips commented on #6466
Thank you for the response!
But I could see an option "mark as complete" for an exercise even though the user hasn't completed the concept (test still fails)

[2022-08-02 07:58] ashwathirao commented on #6466
Thank you for the response!
But I could see an option "mark as complete" for an exercise even though the user hasn't completed the concept (test still fails)

[2022-08-02 08:04] ashwathirao opened #6468 "(Feature request) positive feedback for code submission"
Currently exercism using static analyser to give pre-defined feedback, does exercism have any future scope of providing positive feedback if the user had overcome a feedback  message in their code submission

[2022-08-02 08:07] ashwathirao opened #6469 "(Feature request) Mentors can group users"
As exercism has more number of users, is exercism planning to have a feature for mentors to group the mentees under them to prevent the large clustering the mentoring page.

[2022-08-02 08:40] iHiD commented on #6468
Yes, we will be giving positive feedback for Concept Exercises if someone reaches the optimal solution. For Practice Exercises, that will come down to each Track to decide. Giving positive feedback is much harder than giving a single piece of negative feedback, as giving negative feedback means looking for one potential issue whereas giving positive feedback involves being sure the whole solution

[2022-08-02 08:42] iHiD commented on #6469
We're exploring Cohorts (e.g. https://exercism.org/cohorts/gohort-aug-22) as a sort of grouping mechanism but I don't think we'll back grouping into the UI. It adds too much pressure on individual mentors to keep up with a set of students and if they don't give those students a worse experience than if the grouping wasn't here.

[2022-08-02 08:43] iHiD commented on #6466
That's because we cannot be certain the tests fail due to the user's error, rather than infrastructure error. And as Exercism isn't intended for "exam-style" studying, we don't mind if the user wants to continue if they judge it as the correct thing to do.

[2022-08-02 08:46] iHiD commented on #6460
This doesn't sound great. Are you using the CLI? If so, it's possible you have two different Exercism accounts and are using the web UI to view one and the CLI to view the other.

[2022-08-02 09:11] rejinjosek opened #6470 "Dialogue model not accessible with NVDA"
Hi,
I am using NVDA. I was trying to reveal the hints for one Python exercise by clicking on "Stuck? Reveal Hints
Opens in a modal"
But once the model appear, screen reader does not read anything.
I have tried the same with JAWS 2019. It also does not work.

[2022-08-02 09:59] Cueball commented on #6250
Note: rubylearning.com (and .org) were projects run by Satish Talim.

Unfortunately Satish passed away in late July 2022 after a long illness: https://twitter.com/IndianGuru/status/1549475180904431616

[2022-08-02 11:18] SleeplessByte commented on #6470
@iHiD @ErikSchierboom Only small changes need to be made to fix this.

1. The modal is `role="dialog"` which is correct, but inside it you want `role="document"` (so `<div dialog><div document>`). This way, a screenreader will be able to use browse mode for the content of the dialog.
2. You want to explicitly give the `h2` an id, and label the dialog using `aria-labelledby`
3. Missing right now is

[2022-08-02 11:35] jayber opened #6471 "Inconsistent field size limit in bio"
In settings you can edit your bio and this field does not seem to have a size limit. At least I have made the content quite large. Even large content is fully shown on the Read more link on the profile.

When you make a public profile, you are prompted to edit your bio. In this field, the size limit is 160 characters.

They are the same data. Both ways of editing a bio should have the same limit.

[2022-08-02 13:12] Gene-94 commented on #6467
I mean, you do have a point, I could move the exercises manually. For me it just made sense to have a flag that allowed me some control over the destiny path.

[2022-08-02 13:12] #6467 closed

[2022-08-02 13:55] thelmalu commented on #6460
I read exercises on the web; I communicate with mentors via the web. I have never -- consciously -- used anything but the CLI for submitting exercises.  Let me amend that; I think that I have occasionally used the online editor to make a minor change in code uploaded from the CLI, and then resubmitted from there

[2022-08-02 15:58] kotp commented on #6250
This is true.  The RubyLearning material is also now being served at https://rubylearning.github.io/

[2022-08-02 15:59] kotp commented on #6250
It still is not fully cleaned up though, some references are still leaking out to the lost domain(s).

[2022-08-02 17:08] glennj commented on #6460
To follow up on iHiD's "two accounts" possibility, try this:
1. in the CLI: `exercism configure` -- note the Token
2. on the website, go to your Settings -> API/CLI -- is the Token the same?

[2022-08-02 19:51] sarfarazstark opened #6472 "Create new track for TYPESCRIPT"

[2022-08-02 19:52] #6472 closed

[2022-08-02 20:41] habere-et-dispertire commented on #6465
I spotted another one:

https://tracks.exercism.io/

[2022-08-02 20:47] iHiD commented on #6465
That's probably one for @SleeplessByte

[2022-08-02 20:52] iHiD commented on #6467
I think as this might potentially limits future CLIE features that might expect a certain directory structure (e.g. auto updating or submitting), it's probably something we won't do. But a simple bash wrapper might be a nice community addition you could create that others would find useful. We'll be creating a page of such community projects soon so we could list it there :)

[2022-08-02 20:53] iHiD commented on #6470
@ErikSchierboom This might be a nice first PR for Aron tomorrow.

[2022-08-02 22:06] SleeplessByte commented on #6465
Yes, if https://github.com/exercism/tracks-maintenance-dashboard/blob/main/src/data/tracks.json#L275-L282 is moved down in that file, the order changes! Do you want to contribute that @habere-et-dispertire ?

[2022-08-02 22:20] habere-et-dispertire commented on #6465
[Done](https://github.com/exercism/tracks-maintenance-dashboard/pull/101). Thanks @SleeplessByte for the pointer! :)

[2022-08-02 23:03] SleeplessByte commented on #6465
https://github.com/exercism/tracks-maintenance-dashboard/releases/tag/v0.12.0
https://github.com/exercism/tracks-maintenance-dashboard/actions/runs/2785765892

It's being deployed. Cache invalidation is broken at the moment, but this will appear soon.

[2022-08-02 23:03] #6465 closed

[2022-08-03 01:05] thelmalu commented on #6460
glennj:
I get the same token that's listed in my settings information.

[2022-08-03 02:52] joshgoebel commented on #6468
I think the poster was asking a very specific question about one scenario.

Scenario:

- I submit a solution and receive automated negative feedback
- I fix my solution and resubmit
- automation finds no problems now

Theoretically the system could consider that progression itself as an improvement and pat me on the shoulder for fixing the issue.

[2022-08-03 08:13] iHiD commented on #6468
Yeah, by my (potentially badly made point) Is that there's no guarantee that replying to the feedback hasn't made the situation worse. And unless the analyzer is checking for everything, there's a risk we say "That's better" when it's actually much worse.

[2022-08-03 08:13] iHiD commented on #6460
OK, we'll take a look at the database. Thanks.

[2022-08-03 09:08] taiyab commented on #5933
Hey.

Thanks for this.

I'm addressing it now.

[2022-08-03 14:06] recke96 opened #6473 "Create new track for [LANGUAGE]"

[2022-08-03 14:08] #6473 closed

[2022-08-03 16:46] taiyab commented on #5933
@axtens @0xE282B0 @kotp @angelikatyborska Something like this work OK?
<img width="814" alt="image" src="https://user-images.githubusercontent.com/5337876/182663908-66385fef-83a7-4a75-9629-2bff1c314e54.png">

[2022-08-03 17:22] kotp commented on #5933
Awesome!  If there is a message that gets mailed out, what does that look like?

[2022-08-03 17:26] iHiD commented on #5933
What message would get mailed out?

[2022-08-03 17:35] kotp opened #6474 "Sort by newest for community solutions"
The sort by newest does not seem to work.  I double checked this by pushing a refactor solution to Ruby's Wordy problem, selected the individual solution, viewed community solutions, and it is reporting that this was done 4 years ago, and sorts accordingly.

https://exercism.org/tracks/ruby/exercises/wordy/solutions?page=8&order=newest is where I am observing this.

[2022-08-03 17:40] kotp commented on #5933
Been "a minute" since I have been the sender of this.   So I did not know if I would get an indicator that I requested a private mentoring of this exercise, perhaps in my e-mail.

[2022-08-03 17:41] kotp commented on #5933
It would serve to remind me that I have requested a mentoring of it, and the link that was sent out.  Or at least that a private mentor link has been generated, so that I can forward it to whomever I would want to request mentoring from.

[2022-08-03 18:05] joshgoebel commented on #6468
Ah, I suppose this is true./. It's only true that they did *something* to make the analyzer happy - they potentially could have done something *really bad* to make the analyzer happy- just something the analyzer isn't programmed to detect yet.  One could imagine a future where this sort of "kudos" was possible, but the analyzer would need to be MUCH smarter (both in detecting good and bad code).

[2022-08-03 21:34] iHiD commented on #5933
I'm not sure I'm understanding. There's no action within our UI for you  request a private mentor. There's a link that you copy and send to someone, but we have no way of knowing when you've sent that link to someone.

[2022-08-03 22:43] kotp commented on #5933
Right, but we do have a way to know when the request a private mentor link is created.  That is the "reminder" message that may make sense to send once that is clicked with what the link is.

[2022-08-03 22:46] kotp commented on #5933
The action to copy the link to the users clipboard, which I assume is an action, and in the users interface.  It may not hit the database, but it is definitely an action that I have taken, and it is user side, and it is how I interface with the web.  (Not sure what User Interface means if that is not what that means.  And not sure what "action" means if by me taking an action with a click on the s

[2022-08-03 22:48] kotp commented on #5933
For sure, I do not have to copy it, I click a button and it places it on my clipboard. On a non-javascript based website, I would probably have to select it to copy it.  Here I do not have to do that.

[2022-08-04 08:44] iHiD commented on #5933
A private mentor link is never explicitly created. It's part of the solution. As we don't know whether someone has actually sent the link to anyone, I don't think there's an action here we can trigger anything on.

[2022-08-04 10:48] iHiD commented on #6451
Fixed :)

[2022-08-04 10:48] #6451 closed

[2022-08-04 11:12] izzygardnerr commented on #6446
Hi,

Here is a screenshot of when I tabbed and the box became highlighted.

I accidentally pressed revert to exercise start - not sure if this will
affect anything but I did not see the run tests and submit buttons after
following the steps you mentioned.

I installed Google Chrome however and the buttons are there now for the
time being.

I will attempt the exercise there and see if it works the

[2022-08-04 11:12] izzygardnerr commented on #6446
Sorry for the late reply btw!

On Thu, Aug 4, 2022 at 12:11 PM Izzy Gardner ***@***.***> wrote:

[2022-08-04 12:31] dem4ron opened #6475 "Every modal should have a close button"
See: https://github.com/exercism/exercism/issues/6470

[2022-08-04 13:51] SleeplessByte commented on #6446
@iHiD Izzy indicating it works in chrome and not Firefox makes it more likely that this is a position bug in Safari that likely has since been fixed, but of course is present for them as Safari updates are tied to the OS.

[2022-08-04 15:32] MenkeTechnologies opened #6476 "[bug] homepage has wrong language count, 59 vs 60 languages"
<img width="810" alt="Screen Shot 2022-08-04 at 11 32 09 AM" src="https://user-images.githubusercontent.com/18195247/182887210-85ece451-5b00-449c-867d-1db9b0d13f6b.png">

<img width="895" alt="Screen Shot 2022-08-04 at 11 33 40 AM" src="https://user-images.githubusercontent.com/18195247/182887522-b0c89436-a692-4587-adf5-82bea3dea285.png">

Seems like the language count is not parameterized or para

[2022-08-04 17:40] bobahop opened #6477 "Line count counts comments in C++"
I added some comments to [my C++ Leap solution](https://exercism.org/tracks/cpp/exercises/leap/solutions/bobahop) and the line count includes the comment lines. It brings a little tear to my eye, but it's low priority.

[2022-08-04 18:13] glennj commented on #6476
There are 60, as shown on the https://exercism.org/tracks page.

The footer is missing new track Cobol, and there are issues tracking that.

[2022-08-05 05:45] rejinjosek commented on #6470
Hey,  great to see the quick responses. I hope it will be done ASAP 😎

[2022-08-05 14:55] MenkeTechnologies commented on #6476
ok sorry for dup

[2022-08-05 14:55] #6476 closed

[2022-08-06 18:49] omzoSamb opened #6478 "Exercism does not display on folder"
Hi,

I downloaded my first exercism which to display "hello world" but it is not present in the folder.

In other side, i create a file on the IntelliJ IDE to solve the exercism and i wanted to submit it but the error that i got is "Error: not in workspace".

- This is the directory where i am : /Users/PapeOmarSAMB/Documents/Exercism/Kotlin/Exercism_HelloWorld/src/main/kotlin
- the exact command,

[2022-08-07 12:41] iHiD opened #6480 "Allow maintainers to post updates unrelated to code changes"
This is a commonly requested. I thought there was an issue in exercism/exercism but I can't find it. They should basically be able to create `SiteUpdate` via the maintainers UI without there being an associated Exercise/Concept.

[2022-08-07 19:48] omzoSamb commented on #6478
I fixed now.

[2022-08-07 19:48] #6478 closed

[2022-08-09 07:27] #6458 closed

[2022-08-09 07:34] ErikSchierboom commented on #6458
This has been fixed! COBOL is now shown in the list of languages in the footer.

[2022-08-09 11:22] iHiD commented on #6478
Could you tell others how you fixed your problem in case they come across the same issue please? :)

[2022-08-09 14:23] dem4ron commented on #6470
Hey, could you check it now? I've checked it with VoiceOver on Mac and NVDA on Windows. It worked well, but was easier to make VoiceOver read it for you.

[2022-08-09 14:39] SleeplessByte commented on #6470
There is no voiceover on windows btw :)

[2022-08-09 14:43] dem4ron commented on #6470
Yep, I know :) I used NVDA on Windows. What I meant in my comment, is that to me VoiceOver's usage was a lot simpler.

[2022-08-10 08:31] dem4ron opened #6481 "Every modal should be accessible for screen readers"
Continuation of this issue: https://github.com/exercism/exercism/issues/6470

[2022-08-10 08:34] dem4ron opened #6482 "Donation modal should be read by screen readers"

[2022-08-10 08:34] #6482 closed

[2022-08-10 08:34] dem4ron commented on #6482
Part of another Issue

[2022-08-12 17:10] iHiD opened #6483 "Add search to docs"

[2022-08-12 17:11] iHiD opened #6484 "Generally improve linking and visibility in docs"

[2022-08-12 17:13] iHiD opened #6485 "Add button for backlinks for docs sub-sections"
Add a little anchor on hover that is clickable here like GitHub.

<img width="882" alt="Screenshot 2022-08-12 at 18 13 27" src="https://user-images.githubusercontent.com/286476/184409737-e6be9d49-54c3-4527-976c-d14f779c0106.png">

[2022-08-12 17:24] iHiD opened #6486 "Consider the end of mentoring session bit (for mentors)"
- Make it clear its optional
- Consider not having two dialogs but just making it one dialog with two questions.

[2022-08-12 17:25] iHiD opened #6487 "Clear notifications across tabs when something is seen in another tab"
@SleeplessByte links pls :)

[2022-08-12 17:36] SleeplessByte commented on #6487
- [https://derk-jan.com/2020/05/cross-tab-events/](https://derk-jan.com/2020/05/cross-tab-events/)
- And some variation of [https://www.michielsikkes.com/remove-flickering-flash-messages-on-turbolinks/](https://www.michielsikkes.com/remove-flickering-flash-messages-on-turbolinks/)

[2022-08-12 17:38] iHiD opened #6488 "Emphasis Practice key"
- Create narrower focussed practice exercises
- When something has "practices" as a key, make a bigger deal of it in the UI.

[2022-08-12 17:41] iHiD opened #6489 "Create OG images"
- Create OG images for everything
- Code images for solutions

[2022-08-12 17:43] SleeplessByte commented on #6489
In order of priority

- mentoring requests / links most priority
- NTH: profile links (may want to show someone's "tracks" like we do?)
- NTH: doc links (because I link this to people who want to help out)
- NTH: track links
- NTH: exercise links (should include some track content + exercise content)
- NTH: concept links

[2022-08-12 17:45] BethanyG commented on #6484
Some places I think these should be available:

### 1.  The Track overview page:
<img width="952" alt="image" src="https://user-images.githubusercontent.com/5923094/184411435-8b2ed333-c8a8-429a-994a-249928a5aed0.png">

### 2.  Clearer flagging here (_rather than hiding it under contribute_):
<img width="943" alt="image" src="https://user-images.githubusercontent.com/5923094/184411629-b89a86db-e0d4

[2022-08-12 17:49] iHiD opened #6490 "Add difficulty filter to exercises page"

[2022-08-12 17:53] iHiD opened #6491 "Rename easy/medium/hard"
Update to

[2022-08-12 17:56] iHiD opened #6492 "Add tags (maths etc)"
- Add filters (include/exclude/meh) on tracks page
- Show on exercise page

[2022-08-12 18:01] iHiD opened #6493 "Add to filter by Practice Concepts on exercises page"

[2022-08-13 06:06] rejinjosek commented on #6470
Hey, Thanks for the fix.  It reads the entire text in the model when I pres NVDA Key + tab.
It would be great if I could read it line by line if needed. Any thoughts/suggestions?
Tried with both JAWS and NVDA. Both read in the same way.

[2022-08-14 18:06] bobahop opened #6494 "Update exercise: Unable to update exercise"
When manually updating an exercise I occasionally receive the error "Unable to update exercise." After waiting a bit and/or trying several times, it eventually updates. On Slack someone suggested that the error message might be improved.

![info](https://user-images.githubusercontent.com/32035397/184549281-bb80fb8a-4313-40dd-aec1-53c4bfcb0d28.JPG)

The last time this happened to me was when trying

[2022-08-14 18:24] iHiD commented on #6494
@ErikSchierboom Can you please check where this would get raised/rescued internally and add a `Bugsnag.notify` into the rescue so we can capture this pls.

[2022-08-14 23:31] iHiD opened #6495 "Communication Preferences do not have a unique index."

[2022-08-15 08:13] dem4ron commented on #6470
Thanks for the feedback. That shall be the next improvement, then!

[2022-08-15 12:38] halfdan opened #6496 "Mentor notes and automated warnings / errors should be available in the editor"
It would be fantastic if I could access the latest mentoring notes and the automatically produced warnings directly in the editor. Currently, I have to keep a separate tab/window open to rework my solution.

[2022-08-15 13:03] halfdan opened #6497 "Add keyboards shortcut to code editor for executing test suite"
It would be great if we could have a keyboard shortcut available on the editor screen that will run the tests.

[2022-08-16 08:07] andreagrandi opened #6498 "Submitting a new iteration of an already published solution doesn't automatically publish it"
### Scenario

I had already submitted and published a solution (iteration n.2) of an exercise, then I realised my solution was now obsolete. So I decided to fix it and submit a third iteration:

![Screenshot 2022-08-15 at 22 13 04](https://user-images.githubusercontent.com/636391/184829319-142097fd-02d3-4a1d-9330-f65714476f4a.png)

I then went to my published solution page and I was a bit confused

[2022-08-16 08:44] andreagrandi opened #6499 "Student unavailable error page doesn't have any style applied"
### Description

I had previously clicked on the Mentors queue and there was a student requesting for help. Then I had other stuff to do, so I waited a coupled of hours before clicking on the entry.

When I was back at my screen and selected the previously show student, I got this:

![Screenshot 2022-08-15 at 21 26 20](https://user-images.githubusercontent.com/636391/184837116-cce371db-bb8c-488b-9

[2022-08-16 18:44] Braden-077 opened #6500 "Dark Mode"
I think there should be an implementation of dark mode in Exercism! It may be a tough challenge, but I think it could be great for a User Experience and Interface!

[2022-08-16 19:27] #5709 closed

[2022-08-16 19:30] iHiD commented on #6471
Thank you. This should be globally limited to 160 chars moving forward.

[2022-08-16 19:31] iHiD commented on #6352
@ErikSchierboom

[2022-08-16 19:32] iHiD commented on #6340
Let's remove this dialog altogether now (obvs DJ's comments are probably relevant for other modals etc!)

[2022-08-16 19:34] iHiD commented on #6291
Let's tie this into doing https://github.com/exercism/exercism/issues/6489.

[2022-08-16 19:35] iHiD commented on #6290
@ErikSchierboom @dem4ron This is also the case on Go.

[2022-08-16 19:37] iHiD commented on #6500
Closing as duplicate of https://github.com/exercism/exercism/issues/5436

While I appreciate the issue, please do look for existing issues before opening new ones: https://github.com/exercism/exercism/issues?q=is%3Aissue+is%3Aclosed+dark+mode

[2022-08-16 19:38] #6500 closed

[2022-08-16 20:47] iHiD opened #6501 "Preload tracks"
It drives me mad that the tracks on the tracks page load async (via a second request). Let's fix this :)

[2022-08-16 21:17] pertrai1 opened #6502 "Not Published Solution Appearing in Community Solution"
Not sure if this would be expected:

<img width="467" alt="Screen Shot 2022-08-16 at 5 03 05 PM" src="https://user-images.githubusercontent.com/442374/184986673-fc6ef90c-4571-4cf9-997b-38af981ba77b.png">

When I clicked on the card it took me to 404 - https://exercism.org/tracks/go/exercises/chessboard/solutions/stbnd

[2022-08-17 00:35] iHiD commented on #6502
Yeah, this is just showing for you as a way of quickly getting back to your solution. We could probably make that clearer, so I'll leave this open :)

[2022-08-17 00:42] SleeplessByte commented on #6501
You'll want to include the initial data on the page as JSON / encoded JSON and then do one of the following:
- `react-query` use placeholder data. This allows you to literally do what it says. It will not be cached, it will still do the second request, but use that as the placeholder until it's done. If any other things on the page use the same cache and cache key, they will _not_ observe the plac

[2022-08-17 00:50] SleeplessByte commented on #6470
@dem4ron it's because `<div id="a11y-task-hints-description" role="document">` is the wrapper. You want `a11y-task-hints-description` only on a description. This dialog does not seem to have a decription, but only a title. You can:
- Add a `sr-only` description underneath the title and move the `id` there. For example, the graphical interface may make it apparent that there are hints for each task

[2022-08-17 11:34] andreagrandi opened #6503 "Open mentoring requests are not visible in the Dashboard"
### Scenario

I recently requested mentoring for an exercise I was working on. Once I submitted the request, I was expecting to find it in the main Dashboard but I could not find it.

I had to visit the specific language track (Go in my case) and scroll down to "Your mentoring slots" to be able to find it.

### Proposal

Mentoring slots (for all languages) should be visible in the main Dashboard o

[2022-08-17 12:54] pertrai1 commented on #6502
One note is that the above screenshot is not my solution. Was not sure if you were referring to this being my solution. https://exercism.org/tracks/go/exercises/chessboard/solutions

[2022-08-17 13:36] iHiD commented on #6502
Hmmm, I see. That's not great then. Thanks for reporting. Maybe we've dropped some ElasticSearch update here (cc @ErikSchierboom)

[2022-08-17 16:15] Ollie-Judge opened #6504 "unable to complete the lasanga question for python"
i have 5 parts to the question and on the last part its asking me for adding comments, which i have done, i know the answers to the questions are right and ive checked the whole code area for pep8 and pep 20 compliance and cant seem to get the success message, so, i cant help but feel that this is a bug

[2022-08-17 18:16] iHiD opened #6505 "When tracks/x/exercises loads, it immediately re-fetches the exercises"
It shouldn't do this 🙂

[2022-08-17 18:18] iHiD commented on #6501
Thanks @SleeplessByte!

---

I'm closing this as it turns out we already do this, but the page was so slow it looked like it was re-fetching...

@ErikSchierboom @dem4ron You might like to use this info above for https://github.com/exercism/exercism/issues/6505

[2022-08-17 18:18] #6501 closed

[2022-08-17 18:29] iHiD opened #6506 "Run the Slack invite via Sidekiq"
https://github.com/exercism/website/blob/1783c33bf74c4278d25ef6f5e797e0bd0bf96a26/app/commands/user/become_mentor.rb#L19

[2022-08-17 18:33] iHiD opened #6507 "Paginate testimonials list on a profile page (probably 48 per page)"
This is managed via React. There are lots of examples of pagination to base this on.

[2022-08-17 20:06] SleeplessByte commented on #6505
You should, but you should set the timestamp in react-query.

- Set the initial data with a timestamp, and a short `staleTime` (e.g. 5 minutes)
- It won't refetch because it's still fresh (staleTime)
- When you come back to the page from background or different tab after a long time but it's still in memory it will refetch!

[2022-08-18 04:57] IsaacG opened #6508 "Grey out "Request mentoring" button when all mentoring slots are full"
After passing all tests, `https://exercism.org/tracks/$lang/exercises/$exercise` has a "Request mentoring" button.

If there are no mentoring slots available, clicking it shows "Whoops! You have no more mentoring slots available."

If mentoring is not available, the button/page ought to indicate so.

[2022-08-18 04:59] IsaacG opened #6509 "Add exercise details to private mentoring invite page"
When receiving an invite to mentor a solution, no information about the solution is available (track, exercise, code). All that is displayed is the option to start mentoring.

Add details to that page, please.

[2022-08-18 10:38] junedev opened #6510 "Consider not running analyzer/representer for solutions that fail the tests"
In a Slack conversation with @ErikSchierboom, he mentioned that we currently always run the analyzer and representer if the track has one, even if the solution does not pass the tests.
Erik shared the following code snippet:
[code]

This has the advantage that theoretically the tooling could return feedback for failing tests and the waiting time for the feedback after the exercise submission is re

[2022-08-18 10:53] iHiD commented on #6510
Good thing to discuss. Thanks!

The flow is currently optimised to get auto-feedback back to a student ASAP. So they hit "run tests" in the browser, get a pass, hit "Submit" and we want to then give them immediate feedback ideally. If we only run the analyzer/representer once the tests have passed, then we reduce the likelyhood that that feedback is ready for them. This will be even more important

[2022-08-18 11:02] junedev commented on #6510
I wasn't aware of the cancellation system. With that plus the fixed resources, this is not a priority indeed. Feel free to close the issue.

[2022-08-18 12:11] iHiD commented on #6509
Closing as duplicate of https://github.com/exercism/exercism/issues/5933

[2022-08-18 15:01] iHiD commented on #6510
@junedev I've just revisited this and realised that I've actually already done what your suggesting. The code Erik posted is from when an **Iteration** is created, not a **submission**. You can only create an iteration in the browser once the tests pass, and it's only normal to submit an iteration via the CLI when they pass too.

For other editor submissions, we only run the tests, not the analyse

[2022-08-18 15:01] #6510 closed

[2022-08-19 08:16] junedev opened #6511 "Export endpoint for testing the representer should return first iterations"
I looked at 3 exercises so far. From the 500 solutions I got from the export endpoint, less then 200 compile and pass the tests. That makes the statistics rather "small".

Looking at those numbers, it feels to me the endpoint currently returns first submissions instead of first iterations (the successful ones coming from the CLI). I think it should return first iterations because this is what the

[2022-08-19 08:25] andreagrandi opened #6512 "Add a button in the UI to wrap some content (like snippets) with "Spoiler" tag"
### Scenario

When posting a comment. replying to a student etc... it's possible to wrap an element (line a snippet of code with a solution) in an element called "Spoilers" which fold the text and hide it unless you click.

The problem is that to do it you need to manually add (I know it's not properly formatted but I don't know how to wrap the three ` without messing with the rendering):

[code]

[2022-08-19 10:55] iHiD commented on #6511
Yeah, agreed.

[2022-08-19 11:42] #6505 closed

[2022-08-19 11:58] ErikSchierboom opened #6513 "Prevent duplicate requests due to React using an empty string instead of nil"
We should find all places where this happens. See https://github.com/exercism/website/pull/2872

[2022-08-19 16:46] #6511 closed

[2022-08-19 17:23] SleeplessByte opened #6514 "Pagination of solutions (and likely other things) doesn't move focus when page changes"
Linking [Accessible Pagination](https://www.a11ymatters.com/pattern/pagination/). Note that basically everything from that document _has_ been implemented. A few comments of what's currently implemented and what I expected.

- Pagination is using `button` but those buttons are without type. This is fine because they are not contained in a form, but explicitly labelling them as `button`, would be g

[2022-08-19 17:34] iHiD opened #6515 "Add ability to search the body of community solutions"

[2022-08-19 17:46] iHiD opened #6516 "Re-add don't "Skip this solution" option on mentor requests"
Maybe "I don't want to mentor this - remove it from my queue"

[2022-08-20 14:51] kamil-korczak commented on #5535
If you downloaded installed it as SNAP.. you can't use this command
[code]

Use this instead:
[code]

For me it worked. And also don't add `sudo` before *exercism* while trying download exercise, somehow it doesn't work as well.

[2022-08-20 22:24] adamroyle opened #6517 "Browser navigation breaks content"
I think this is a new bug from the past few days (I have only been using Exercism for 2 weeks).

When using the browser's page navigation buttons (back/next), the content that should be there is removed.

This occurs on pretty much every page. Here is an example.

https://user-images.githubusercontent.com/25002779/185768013-e98e2a10-62e6-4f02-8f09-fbe6cf3541ed.mp4

[2022-08-20 23:23] iHiD commented on #6517
Thanks, yes, we deployed some new stuff last week that had the potential to break a bit. I'll take a look on monday. Thanks for the alert :)

[2022-08-21 00:58] AdrianBinDC opened #6518 "The file you are trying to submit cannot be found."
I came back to exercism.org after stumbling into it a year ago and connected it to my GitHub account. I was writing up a tutorial for a friend and signed out and unlinked it from my GitHub account. After doing that, I can download material and it "lands" in the correct directory, but when I attempt to upload via the following command...

`exercism submit Sources/MagicianInTraining/MagicianInTraini

[2022-08-21 14:08] SleeplessByte commented on #6518
Hi @AdrianBinDC . Is the CLI already in the "right" directory?

If the exercise is downloaded to `X:/my/path/sources/exercise/exercise.swift`, you must first `cd` (change directory) to `/my/path`. If you are on `/my/path`, from that moment, those commands will work.

[2022-08-22 22:48] iHiD commented on #6517
This should be fixed now 🙂

[2022-08-23 08:42] dem4ron opened #6519 "Scratchpad Editor footer UI bug"
<img width="1512" alt="the_bug" src="https://user-images.githubusercontent.com/66035744/186113746-516cb81e-1a8e-4235-a77b-a7369999901e.png">

[2022-08-23 10:40] iHiD commented on #6517
@adamroyle Let me know if things are better for you now, and I'll close this if so :)

[2022-08-23 11:35] #6517 closed

[2022-08-23 21:35] iHiD opened #6520 "Feature Discussion: Approaches"
_This is my summary of what was discussed on the weekly community call and my opinions on how we should go about implementing it. Please have a read and leave thoughts 🙂_

---

For a while we've been discussing the idea of **"Approaches"** - a feature that shows different approaches to how an exercise can be solved. In the Cohorts we've been trialling, the live-streaming of solving of exercises ha

[2022-08-23 22:35] MatthijsBlom commented on #6520
Would Approaches information be available to the student before or after submitting a first passing solution?

Exercism's focus on language fluency rather than problem solving ability suggests _before_, and I'd be fine with that.

---

Approaches exist on at least two levels:

- A 'higher' level: problem-specific but language-**agnostic**
- A 'lower' level: problem-specific language-**specific**

[2022-08-23 23:02] redvers opened #6521 "Creation of pony-test-runner"
Title is self-explanatory.

I have a prototype that I am working on… Once I have it working I'm not sure next steps.

Advice please on how to integrate?

[2022-08-23 23:33] iHiD commented on #6521
@redvers: Here's a repo: https://github.com/exercism/pony-test-runner

Get it working in a PR, add @ErikSchierboom as a reviewer, he'll review it. Then we'll deploy it and you can test it on the website 🙂

---

(cc @ErikSchierboom to set the correct branch protections)

[2022-08-23 23:33] #6521 closed

[2022-08-23 23:33] andrerfcsantos commented on #6520
I really like this idea and it will be a great feature of Exercism. Seeing some other people's solution is great, but some solutions really benefit from having an additional explanation attached to it. One site I've seen do this well is [binarysearch](https://binarysearch.com/) where after submitting a solution, each person can attach an explanation to it. I really like that model, and I think "Ap

[2022-08-24 00:54] bobahop commented on #6520
Of course, we already have a mechanism where a student can attach their explanation for the approach they took, which is the comments, which are now turned off by default. Any student who would like to explain themselves can do that now in a non-curated (or, perhaps more accurately, a "community-curated") little forum of comments on their solution. I say "their solution", but it's possible they co

[2022-08-24 01:22] raydancer opened #6522 "Markdown angle bracket links: work in intro, but not in exercise sidebar"
I noticed that markdown angle bracket links work in the introduction page, but stop workings when the introduction markdown is pulled into the sidebar of the exercise:

https://exercism.org/tracks/javascript/concepts/arrays
<img width="870" alt="Screen Shot 2022-08-23 at 9 12 05 PM" src="https://user-images.githubusercontent.com/6845482/186296145-9af075af-ecbb-4394-aaa9-090236ef2165.png">

https:/

[2022-08-24 07:14] andrerfcsantos commented on #6520
@bobahop I feel that comments are not a good place to put explanations of the solution and I'd prefer to see them highlighted next to the solution in a proper way, similarly to how binarysearch does it. Comments could then be about the solution itself and the explanation and one could have comments disabled, but still have the explanation up.

<details>
<summary>Binarysearch explanation example</s

[2022-08-25 13:00] taiyab commented on #6051
@iHiD We should the unlock hints to this tooltip. Thoughts?

[2022-08-25 13:06] glennj opened #6523 "PR created by exercism-bot on newly bootstrapped track fails configlet workflow"
See https://github.com/exercism/jq/pull/2

[2022-08-25 13:11] glennj commented on #6523
@ErikSchierboom this  probably belongs on your desk.

[2022-08-26 07:24] kytrinyx commented on #6523
I will take a look at this one.

[2022-08-26 07:54] kytrinyx commented on #6523
@glennj I'm thinking that the right move here is to update the "getting started" checklist so that the first item is to add the correct tags. Does that sound reasonable to you? Or were you thinking of something else?

[2022-08-26 08:05] kytrinyx commented on #6523
Hm, no. You already got `main` sorted so that it passes the linting, so the PR was probably opened against `main` before it was passing.

[2022-08-26 16:09] rajaboja opened #6525 ""/solutions" view is always visible"
For a given exercise if the 'user' has not solved/completed it the "Community Solutions" tab is locked and cannot be accessed by clicking on it. But if you append it's path (`/solutions`) to the exercise overview's URL you can still access it. The `/mentor_discussions`  view, which is designed similarly, cannot just be accessed if you haven't solved the exercise by going to it's path.

Is it desig

[2022-08-26 16:48] glennj commented on #6525
It's a design decision. There are several duplicate issues on this exact topic.

If the student wants to use community solutions as a learning resource, that's great.
If the student wants to "cheat", well that's on them.

[2022-08-26 17:12] #6525 closed

[2022-08-26 17:31] iHiD commented on #6520
- How do we deal with approaches and community solutions competition in the UI
- Approach "widgets" (quick link and a whole solution codeblock)
- Tag submissions with `approach_id`
- After submission, say "You used X approach, check out ABC too"

[2022-08-26 17:33] rajaboja commented on #6525
I see the point now.
Sorry for the repetition, I might have missed the duplicates while searching if they already existed.

Thanks!

[2022-08-26 18:03] BethanyG commented on #6520
@andrerfcsantos @iHiD  -- I would be happy to pilot this on the Python track (_she says in a moment of insanity_).

[2022-08-26 19:25] redvers opened #6526 "add credentials to CI for pony-test-runner and include in config.json"
@iHiD - as requested.

pony-test-runner is ready for integration and testing.

[2022-08-26 21:45] MatthijsBlom commented on #6520
@iHiD I cannot make out from your list what is meant by «approach widgets», «`approach_id`». Is there a transcript?

@BethanyG I am insane as well: I'd like to help, but dare not promise anything for perpetual want of energy. I imagine though that authoring of approaches can be outsourced to the numerous Python mentors, who doubtless are already full of ideas.

[2022-08-27 08:18] ee7 opened #6527 "convert "exercism.io" to "exercism.org" in repo `homepageUrl`s"
The `homepageUrl` is the URL that appears in the sidebar on a repo's front page.

There are just a few remaining repos that reference exercism.io there:

[code]

| Repo name                                                                                | `homepageUrl`                     |
| :--------------------------------------------------------------------------------------- | :---------------

[2022-08-27 13:21] iHiD commented on #6527
These should all bow be done. Thanks.

[2022-08-27 13:28] #6527 closed, assigned to nobody

[2022-08-27 13:36] ee7 opened #6528 "some anchor links don't work"
Example:

1. Go to e.g. https://exercism.org/docs/building/tracks/icons
1. Click on a link that links internally within the page. e.g. Key feature icons (https://exercism.org/docs/building/tracks/icons#h-key-feature-icons)
1. Note that nothing happens

Follow-up from https://github.com/exercism/docs/issues/377#issuecomment-1229192652:

[2022-08-27 13:38] iHiD commented on #6527
Ah - that URL was correct: https://tracks.exercism.io/

[2022-08-27 20:36] kytrinyx commented on #6523
We've fixed the files in the bootstrapping repository for now so that they match what is in the org-wide-files repository.

In the longer term, we're thinking about updating `configlet` to only output warnings about missing tags if a track's status is set to `inactive`: https://github.com/exercism/configlet/issues/601

I'm going to close this, as the actionable bits have been captured elsewhere.

[2022-08-27 20:36] #6523 closed

[2022-08-27 22:28] glennj commented on #6523
Thanks!

[2022-08-28 09:54] habere-et-dispertire commented on #6291
If I visit a Public Profile, then that page's title appears to remain sticky when going elsewhere within Exercism. Is this a separate issue or just due to flux here?

[2022-08-28 13:00] iHiD commented on #6291
Seperate issue. Please open one for it. Thanks.

[2022-08-29 22:10] habere-et-dispertire opened #6529 "Page title remains un-updated unless page is refreshed"
The HTML page title seems to get stuck (not sure when/how) and then is only correct if the page is refreshed.

On Firefox, see it in the window menubar where the HTML `<title>` appears rendered.

[See also](https://github.com/exercism/exercism/issues/6291).

[2022-08-30 06:31] SteveHayward opened #6530 "Can't get tests passewd - need help"
Can't figure out what I'm doing wrong. My code attached for Yacht execise.
[yacht code.txt](https://github.com/exercism/exercism/files/9450254/yacht.code.txt)

[2022-08-30 08:08] kytrinyx commented on #6530
@SteveHayward which language are you learning? Are you able to request mentoring through the UI on the site?

[2022-08-30 12:15] SteveHayward commented on #6530
Learning COBOL. Tried to somehow connect with mentoring but couldn't see how to request mentoring while trying to pass tests of my code. I know I can request mentoring after passing all tests because I've done that with a previous exercise. Hope that helps you to help me. And thanks.

From: "Katrina Owen" ***@***.***>
To: "exercism/exercism" ***@***.***>
Cc: "STEVE HAYWARD" ***@***.***>, "Mention"

[2022-08-30 14:44] iHiD commented on #6530
@SteveHayward The file you uploaded is empty. It's probably best to just paste the code directly into a comment 🙂

(cc @exercism/cobol to help you)

[2022-08-30 22:17] bobahop opened #6531 "Weird GUI error"
After loading the Python exercise page I had the image for Diamond got stuck to my mouse somehow. I only got rid of it by refreshing the page.

![info](https://user-images.githubusercontent.com/32035397/187553288-65316098-b606-4527-972e-08d330a3dce1.JPG)

[2022-08-30 22:55] glennj commented on #6531
Perhaps, because you're such a **valuable** contributor, you get extra jewels

[2022-08-30 23:36] iHiD commented on #6531
Fun! No idea! Sounds like a bug in popper (the tooltip library) or our implementation of it. I'll leave this open to see if anyone else reports the same :)

[2022-08-31 06:50] SteveHayward commented on #6530
IDENTIFICATION DIVISION.
       PROGRAM-ID. YACHT.
       DATA DIVISION.
       WORKING-STORAGE SECTION.
       01 WS-RESULT PIC 99.
       01 WS-CATEGORY PIC X(15).
       88 YACHT-CAT VALUE "YACHT".
       88 STRAIGHT VALUE "STRAIGHT".
       88 CHOICE VALUE "CHOICE".
       88 FOUR-OF-A-KIND VALUE "FOUR-OF-A-KIND".
       88 FULL-HOUSE VALUE "FULL-HOUSE".
       88 SIXES VALUE "SIXES".
       8

[2022-08-31 06:51] SteveHayward commented on #6530
Closed accidentally - please reopen

[2022-08-31 06:54] SteveHayward commented on #6530
Thanks. I replied on GitHub (replied directly as you indicated). Also placing code here:
IDENTIFICATION DIVISION.
PROGRAM-ID. YACHT.
DATA DIVISION.
WORKING-STORAGE SECTION.
01 WS-RESULT PIC 99.
01 WS-CATEGORY PIC X(15).
88 YACHT-CAT VALUE "YACHT".
88 STRAIGHT VALUE "STRAIGHT".
88 CHOICE VALUE "CHOICE".
88 FOUR-OF-A-KIND VALUE "FOUR-OF-A-KIND".
88 FULL-HOUSE VALUE "FULL-HOUSE".
88 SIXES VALUE "SIXE

[2022-08-31 13:35] axtens commented on #6530
Okay, I give it a look.

[2022-08-31 13:49] axtens commented on #6530
@SteveHayward please can you request mentoring? I can answer you here, but this isn't the best place for long-running conversations.

Currently your test run output is as follows

[code]

There are a few things that you should deal with in the short term before working on the logic per se.
1. The code inside `MAIN-PROCEDURE.` gets ignored by the tester. The tester starts at `YACHT.` so you should

[2022-08-31 13:51] axtens commented on #6530
2. If your problem-solving approach is to enumerate every possible arrangement of dice, then your procedure division is going to be very very large.

[2022-08-31 13:54] axtens commented on #6530
3. The testing framework puts the type of roll in `WS-CATEGORY`. It might be worthwhile using `EVALUATE WS-CATEGORY` to deal with various roll types. See the .CUT file to see what the options are.

[2022-08-31 13:56] iHiD commented on #6530
(@axtens He can't request mentoring because you can only request mentoring once your solution passes the tests)

[2022-08-31 13:56] axtens commented on #6530
4. `INSPECT WS-DICE TALLYING` would be one way of working out how many of what dice have been rolled.