[2015-06-28 01:14] jtigger commented on #2430
Hmmm.... "it's working on *my* machine."

Here's what I get:

[code]

... and I'm assuming that everything has been working for you with prior exercises...

But we might need a few more clues to be helpful:

* what's the output of `$ exercism debug`
* what's your current working directory? `pwd`

and if we *really* want to get to the bottom of this, feel free to report back the full output (redact

[2015-06-28 01:20] jtigger commented on #2430
@kytrinyx , yeah, I've got too much WIP, we're not 100% there with the start-up docs.  I'm delighted to see someone running the Java track using the command-line.  I'll circle back to the docs and take on that next step.

[2015-06-28 04:05] kytrinyx commented on #2430
Yeah, I really appreciate it when people are willing to create issues for the problems they run into. It always makes things better.

[2015-06-28 12:06] matthewmorgan commented on #2430
Hi,

So in this case I hadn't been using the command line initially, but IntelliJ.  The tests work from the command line, but fail from inside IntelliJ.  I did discover that my exercism version was _still_ old (now updated) but this made no difference anyway, even after deleting and re-fetching the exercise.

What information might I want to redact from the gradle debug?  Please let me know and I'

[2015-06-28 12:53] matthewmorgan commented on #2430
BTW having apparently same issue with roman-numerals.  Passes in CL, fails as empty test in IntelliJ.

Both of these use parameterized tests...coincidence?

[2015-06-28 13:27] matthewmorgan commented on #2430
Same issue with Binary, again, parameterized tests.

[2015-06-28 15:47] kytrinyx commented on #2430
I can't remember if @canweriotnow did the setup in IntelliJ. I bet there's some sort of trick to how to import the project into the IDE.

[2015-06-28 16:32] jtigger commented on #2430
Yes, exactly...  So, @matthewmorgan, please give this a whirl:

1. pick one of these exercises;
2. make a copy of your answer;
3. delete the directory of that exercise;
4. and try out [the instructions for importing an exercise into IntelliJ](http://help.exercism.io/getting-started-with-java.html#step-3-get-started-with-the-first-exercise) (these are for Windows; the OS X instructions are in the p

[2015-06-28 18:08] matthewmorgan commented on #2430
That worked!

I had not checked the 'auto-import' and 'create roots' checks, but this doesn't seem to have been the issue.  I was running the test with the Gradle icon next to it.

Once again, thanks for your help.

[2015-06-28 18:08] #2430 closed

[2015-06-28 18:17] jfsantos opened #2431 "anagram problem description in C++ does not agree with tests"
The README states:

However, the tests call a function with the signature `vector<string> anagram::anagram(string word)` and look for matches between the output and an arbitrary list of words. The way the tests are written, the function should return a list of all possible anagrams.

[2015-06-28 18:50] kytrinyx commented on #2431
Interesting. Yeah, this diverges from how the problem is defined in most of the other tracks.

@LegalizeAdulthood Should we make the README more vague to accommodate a broader definition of what the problem is, or should we change the test suite to match the README?

[2015-06-28 19:30] jfsantos commented on #2431
It's definitely possible to write code to match the tests (i.e., `anagram::anagram` returns an instance of a class with a class method `matches`). The problem here is that by reading the README only, I was under the impression that the problem structure would follow that of the previous exercises.

[2015-06-28 21:46] jtigger commented on #2430
Thanks for reporting back, @matthewmorgan.  That's helpful to know.  Glad you're unstuck on those exercises!

[2015-06-28 22:37] LegalizeAdulthood commented on #2431
I followed the example of the [tests for the javascript track](https://github.com/exercism/xjavascript/blob/master/anagram/anagram_test.spec.js).  Reviewing the JavaScript and the C++ implementations, they are identical and conform to the problem statement.

@jfsantos Perhaps what's throwing you off is that this time the tests are written assuming a class and not written as a pure function?

[2015-06-28 23:05] jfsantos commented on #2431
@LegalizeAdulthood that's it, but maybe assuming the tests would expect a single function as in the previous 3 exercises was my mistake. The README file does not mention anything about classes, but it gets clearer after reading the tests.

There's another problem in the tests, though: the last test (`matches_accepts_string_arguments`) does not test anything different compared to the other tests (a

[2015-06-28 23:56] LegalizeAdulthood commented on #2431
You're probably right about that last test being redundant.  Pull requests are always welcome :smile_cat:

[2015-06-29 01:09] kytrinyx commented on #2431
Since javascript has some flexibility in how it accepts method arguments, this type of test makes sense. I don't think that the C++ test suite should emulate that, since it's very language-specific. Perhaps we can rename the last test so that there's no confusion.

Each exercise is standalone, and we're trying to introduce people to language features in a gradual/gentle way. You can assume that as

[2015-06-29 12:59] matthewmorgan opened #2432 "Crypto Square tests for Java version conflict with tests for JS version"
Hi,

I'm not sure if this is a bug or if I am missing something different about the exercise requirements, but the test suite for the Java version of this problem seems to be expecting different segment sizes than the JS version.  EG
[code]
yields:
[code]

But the JS test is:
[code]
Note that the 'expected' in the JS test is identical to the result that failed in the Java test, and that the expect

[2015-06-29 13:50] kytrinyx commented on #2432
This is likely a bug. We had several language tracks that exhibited this behaviour (I don't recall which ones), but it's perfectly likely that the Java test suite was ported over based on a language with a faulty test suite.

[2015-06-29 13:51] kytrinyx commented on #2432
@jtigger - I'm never sure if I should move language-specific issues to the language track's repository.

[2015-06-29 13:53] kytrinyx commented on #2432
Oh, wow. The Ruby version disagrees with both of the above: `msemo aanin dnin ndla etlt shui`

[2015-06-29 13:59] jtigger commented on #2432
@kytrinyx I would definitely move to the language-specific track so as to make it clear it's in that track's backlog to prioritize against other stuff happening there (defects like this should be addressed immediately).

Looks like we need (at least) another for the Ruby track, too.

[2015-06-29 14:05] jtigger commented on #2432
Nice catch, btw, @matthewmorgan; thanks!

[2015-06-29 14:54] matthewmorgan commented on #2432
You're welcome.  Thanks for Exercism!

[2015-06-29 15:04] matthewmorgan commented on #2432
I think this is what you want:
[code]

[2015-06-29 17:24] jtigger commented on #2432
@kytrinyx would you like me to create an issue in the Java track for this?

[2015-06-29 19:56] kytrinyx commented on #2432
@jtigger That would be great. I keep wishing GitHub would create a "move issue" feature that replaces the old one with a link to the new one, but it keeps not happening :)

[2015-06-30 08:57] chesterl commented on #2423
I think I've logged in as the sudo user, but when I use the `ALTER` command. It isn't available.

After logging in my prompt changes to
`localhost:~ postgres$`

I can type exit to return to my exercism folder and it says `logout`

[2015-07-01 22:25] kytrinyx commented on #2432
closing in favor of exercism/xjava#55

[2015-07-01 22:25] #2432 closed

[2015-07-02 00:03] kytrinyx commented on #2423
OK, I've determined that the from scratch task is relying on the DB::Connection that reads from config/database.yml, which assumes that there's a database called `exercism_development` (ironically, since the point was to create that user).

I'll see if I can get this sorted today.

[2015-07-02 00:04] kytrinyx commented on #2423
In the meanwhile, you should be able to do this:

[code]

[2015-07-02 15:25] kytrinyx opened #2436 ""if you have a moment..." -> hello world"
We should *not* be suggesting that people give other people's hello world exercise a review. I think this is exposed on the dashboard. I can't remember what model code is involved, I can take a look at that after work today.

[2015-07-02 16:28] #2423 closed

[2015-07-03 13:34] blackrat opened #2437 "Can't logout and others in my network are automatically logged into my account"
Hi. I've been recommending you to the new grads in my company. One of them is using a completely different machine, but asked if I had logged in from that box. I'd never been anywhere near it, but it was logged in to exercism as me!!
He couldn't sign out from that machine and neither could I from mine. Since I've been recommending you to may people in the organisation, I'm concerned about this sec

[2015-07-03 15:07] kytrinyx commented on #2437
Whoa, that's very weird and scary! IP address shouldn't have anything to do with it. I'm using the session middleware that ships with Sinatra, so I'll start by asking there if anyone has seen something like this.

Are you able to delete cookies in order to log out?

[2015-07-03 15:29] jtigger commented on #2437
FWIW, I'm not seeing any cache-control headers in responses for HTML.  Is cache_control is :private by default?

[2015-07-03 15:32] kytrinyx commented on #2437
Good catch. No, I don't think it's private by default.

[2015-07-03 15:50] kytrinyx commented on #2437
OK, I've set the cache control to private. Would you give this another try?

[2015-07-03 15:56] jtigger commented on #2437
@blackrat could you do us a huge favor.  While you're at it, could you share what headers you're getting back in the response?

[code]

[2015-07-04 06:05] jtigger commented on #2432
@kytrinyx, I've been looking more deeply into this.

In essence, this detail of the problem changed (i.e. how large the chunks are in the normalized cipher text) in October 2014, exercism/x-common@89d1274875bb9b8a7076c9af6af5c728786995b2. That update fixed an error in the instructions, but the change didn't propagate out to all the tracks (most notably the vbnet track).

Here's how the implementat

[2015-07-04 14:36] kytrinyx commented on #2432
Wow, thanks for taking the time to dig into this.

Maybe this would be a good candidate for [shared JSON test cases](https://github.com/exercism/rossconf/issues/13)

[2015-07-05 18:16] techtheory opened #2438 "/usr/bin/env: node: No such file or directory"
Noob here. I installed exorcism, npm, and jasmine-node. I am running Ubuntu, using crouton to create a chroot on a Pixel.  When I run jasmine-node . in my javascript/hello-world directory i get the error referenced in the title above. I do have an env file in my /usr/bin/ directory. It is a binary file, so I was unable to really look at it. I tried it both with and without sudo. Does anyone have a

[2015-07-05 22:33] alexclarkofficial commented on #2403
I think this is fixed by https://github.com/exercism/docs/pull/150. It was a bit weird specifying widths without meta tag for responsive design, so this might not be perfect.

[2015-07-05 23:22] kytrinyx commented on #2438
Interesting, it looks like `node` might not be in your path. What happens if you say `which node`?

[2015-07-05 23:28] chastell commented on #2438
Check whether the problem is not due to [`node` executable name clash in Debian/Ubuntu](http://stackoverflow.com/questions/18130164/nodejs-vs-node-on-ubuntu-12-04), especially if your Node.js and npm come from official packages.

[2015-07-05 23:31] techtheory commented on #2438
Returns nothing. No error, no response. It appears to me that nodejs is in path. Is that different? See what I have pasted below for more info.  Also, thanks for the quick support! It is appreciated.

(trusty)jim@localhost:~/exercism/javascript/hello-world$ which node
(trusty)jim@localhost:~/exercism/javascript/hello-world$ echo $PATH
/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games

(trus

[2015-07-05 23:36] techtheory commented on #2438
Thanks chastell...that was a great call. Followed the link that you provided and problem is solved. Glad that I found this site. You gals and guys rock.

[2015-07-05 23:37] kytrinyx commented on #2438
Yay, glad it's sorted!

[2015-07-05 23:37] #2438 closed

[2015-07-06 02:10] kytrinyx commented on #2403
I believe so! Thanks. The design has some issues, so perfect is unlikely to happen no matter how good the change is, unfortunately!

[2015-07-06 02:11] kytrinyx commented on #2403
I'm going to close this, but feel free to re-open it if it turns out that it's not actually fixed.

[2015-07-06 02:11] #2403 closed

[2015-07-06 11:15] blackrat commented on #2437
No worries. It looks like whatever was done between Thursday and today has
made it possible to log out again, and my colleague is now himself. It's
all a little complicated here, because some of the uses are on thin clients
using terminal services etc.

Best wishes,
Paul

Headers:
HTTP/1.1 200 OK
Via: 1.1 vegur, 1.1 PROXY02
Connection: Keep-Alive
Proxy-Connection: Keep-Alive
Content-Length: 14616

[2015-07-06 12:38] kytrinyx commented on #2437
Thanks, Paul!

[2015-07-06 12:38] #2437 closed

[2015-07-07 11:38] BeggarsMattM opened #2439 "Getting started with Rust"
Can anyone clarify for me how to get started on the Rust exercises? Having installed Rust etc all I see when I enter "cargo test" is "error: can't find crate for `leap`". Are there instructions for how and where to create a "leap" crate, and what to put in it, that I've missed?

[2015-07-07 12:42] kytrinyx commented on #2439
Check out the rustlang book chapter on crates and modules: http://doc.rust-lang.org/stable/book/crates-and-modules.html

(and let us know how it goes, if it's not enough to get you unstuck, we'll be more specific!)

[2015-07-07 14:30] BeggarsMattM commented on #2439
Mm, I can create a crate but it's not at all clear to me how that interacts with the pre-existing tests. It just feels like if you have to create your own crate, put your code in it, and run cargo test inside it, there should be instructions to that effect - all the other languages' help docs spell out how and where to run the tests that are provided. But feels like there's a step missing in the r

[2015-07-08 02:55] kaylouj commented on #1896
Hi, hope I can ask this question here. I read through this entire thread, trying to figure out what my issue was, but I'm still not sure why exercism commands aren't executing when I try to submit it. I managed to get exercism working insofar as I downloaded my first test to try (hello-world), and I completed it, ran the tests, got it fixed, and when I tried to use the $ exercism submit command it

[2015-07-08 03:57] kytrinyx commented on #1896
@kaylouj What platform are you on? Mac, Windows, or Linux?

If you want to get realtime help, try the support chat: https://gitter.im/exercism/support (there are often people hanging out there).

[2015-07-08 04:30] kytrinyx commented on #2439
/cc @etrepum @pminten Do you have any suggestions for the next step?

[2015-07-08 04:58] kaylouj commented on #1896
I'm on Mac, so I'm using Terminal. I also used curl to install

[2015-07-08 05:26] hicksca commented on #1654
+1 @bmulvihill

[2015-07-08 06:14] kotp commented on #2436
Where did this come from?  I know that I had gotten to it, but it was not 'easy' to get there.  I kind of had to work around things to make that happen.  (Also just a bump...)

[2015-07-08 08:33] etrepum commented on #2439
Okay so here's the most minimal thing that I could make work (this crate stuff is all new to me, haven't looked at rust since the pre-1.0 days):

* Create a `src/lib.rs` file that looks like this:

[code]

* Remove all `#[ignore]` markers from `test/leap.rs`
* Run tests with `cargo test`

[2015-07-08 13:20] kytrinyx commented on #2436
Ah. It's on the dashboard. Things have been a little bit out of control lately, I'll take a look at this now.

[2015-07-08 13:55] Lswith commented on #1654
share buttons everywhere! I was trying to get my colleagues into exercism and I had to be a pleb and email them a link. Also it would be super nice to invite people through an email so that I can add them to my team.

[2015-07-08 14:04] #2436 closed

[2015-07-08 14:04] kytrinyx commented on #2436
I have not yet deployed--I'll do that when I get back this evening.

[2015-07-08 16:50] BeggarsMattM commented on #2439
That seems to work, thanks @etrepum! I guess it wasn't obvious to me that the file in src should be called lib.rs. Thanks all.

[2015-07-08 17:07] etrepum commented on #2439
Me either! I don't blame you. I had to read that doc carefully and try a bunch of stuff until something worked.

[2015-07-08 20:42] kytrinyx commented on #2439
Is there a change we can make to the documentation (or the README or something) that would make it harder to get stuck?

[2015-07-08 21:05] etrepum commented on #2439
Yeah I'm sure the README could include more getting started information. Probably best to have whoever did the last pass over the rust track improve it because I'm not sure that the way I discovered is the best way, it was just the first thing I could make work.

[2015-07-13 05:01] jtigger commented on #2432
My MBP (the machine I do all my non-work stuff on) is giving me serious grief (some passive aggressive behavior in response to me spilling a little coffee on it some months ago).  I think I've brought it back from the dead for the time being.  Expect delays in my commitments... but only delays.

[2015-07-13 13:55] kytrinyx commented on #2432
How on earth is coffee a bad thing? I don't get it. Your machine clearly needs to get with the program...

[2015-07-14 04:19] jtigger opened #2441 "robot-name — tests/spec vary on what's a valid robot name from exercise description across tracks"
A collection of tracks enforce that the first two characters must be alphabetic:

In JavaScript:

[code]

In Lau:

[code]

In Go:
[code]

----
Another allow for alphanumeric.

In Java:

[code]

(where `\w` is the character set: `[A-Za-z_0-9]`)

C++:
[code]

Scala:
[code]

----
Suggestion:
1. write a `robot-name.json` containing a set of valid and invalid names to nail-down the rule, here
2. adjust

[2015-07-14 04:25] jtigger commented on #2432
BWHA!  Damn it!  I just spit-take'd more coffee...  Yeah, it's firmware is sooooo 2011.

Today, is the first day it's been "normal"... crossing fingers.  It seems like I've managed to keep the integrated GPU active.

Also, angling for a friendly face at the nearby Apple store who might be willing to overlook a few activated liquid contact indicators... (nervous laugh)...

[2015-07-14 16:27] kytrinyx commented on #2441
+100 for consistency and generators.

I originally wrote the spec as ASCII letters for the first two, numeric digits for the last three. I don't have a very strong opinion on this, but it seems like a perfectly good arbitrary rule, and I'm happy to stick with it.

[2015-07-15 03:25] ethangodt commented on #2419
I'm also using Safari and OS X, but it's working for me. Can copy into WebStorm fine.

[2015-07-15 16:07] kytrinyx commented on #2419
Thanks! This is likely fixed in a more recent version of Safari. @anastasiavixen Are you still experiencing this issue? If so, would you note the version of Safari that you're using?

[2015-07-16 00:25] anastasiavixen commented on #2419
I want to make a note that I have my mac set to use the tap as a click on the touchpad, and I wonder if that is part of the problem.  When I actually use the touchpad with the push down as click, it works fine.  When I use the tap as a click, I am seeing an issue only the first time I use the copy to clipboard button.  When I use it the second time, it does work.  It is repeatable after full refre

[2015-07-16 10:48] NobbZ commented on #2380
AFAIK you can circumvent this by using `~~~` as fence:

[code]

Otherway around should work also:

[code]

(This does not work in the JavaScripted preview, so I have to comment to check if it is a general github problem)

[2015-07-16 10:50] NobbZ commented on #2380
OK, it does NOT work, you can open with a tilde-fence and close with backtick-fence.

Where can we report github-markdown-parser related bugs?

[2015-07-16 14:45] kytrinyx commented on #2380
I've no idea!

[2015-07-16 14:52] kytrinyx commented on #2419
Interesting! I tried reproducing it, and tap-click gives me a warning about my flash player being out-dated! Not exactly what I was expecting. After upgrading flash tap-click worked as expected.

[2015-07-16 22:41] Ben-Baert opened #2442 "unable to submit solution - error parsing API response - invalid character '<' looking for beginning of value"
I get the following error when trying to submit my solution to the nucleotide-count exercise in the Scala track:

[code]

 Note that I've been submitting many other exercises in this track and other tracks without any issues.I didn't do anything different this time (at least not that I'm aware of).

**** Debug Information ****
Exercism CLI Version: 2.1.1
OS/Architecture: darwin/amd64
Home Dir: /Us

[2015-07-17 01:09] kytrinyx commented on #2442
Weird, I have no idea what happened. Glad it got sorted, but also kind of mystified, since I didn't do any deploys or anything.

[2015-07-17 09:20] NobbZ commented on #1899
Please don't, or at least provide a paginated alternative, I'm often using my mobile when nitpicking and looking for the messages. Endless scrolling is feeling very bad on mobiles.

[2015-07-17 09:45] hicksca opened #2443 "Indention levels are being changed when uploading Go code"
In going though users submissions to provide Nits, I started to notice that there were a ton of problems that were not indented correctly. Went back to check my own submission because I know I'd been running `go fmt` on my code (I use vim-go and this is done automatically on saves.), I noticed that my leap submission was only indented four spaces. I went back to my local copy and checked it had th

[2015-07-17 16:12] kytrinyx commented on #2443
You're right. I think tabs are being styled as four spaces. They are stored in the database with tabs, so if we can get a patch in to the rouge library, this would fix all the existing submissions in Go.

[2015-07-17 16:12] kytrinyx commented on #1899
OK, yeah. Good point.

[2015-07-17 17:27] hicksca commented on #2443
👍🏾👍🏾

[2015-07-17 19:23] arashbi opened #2444 "cannot submit Unable to submit - unable to identify track and problem"
I am trying to submit for clojure bob, and  I got a Unable to submit - unable to identify track and problem.
I am behind a rather nasty proxy, I wonder if that is the problem.

[2015-07-18 04:52] jtigger commented on #2444
Actually, that error message tends to indicate that the current working directory is other than the exercism root.

I'm assuming you're on a *nix setup.  Could you post your debug output (with the api key redacted)

[code]

Doing so also tests your connectivity with the API.  And also your current working directory:

[code]

The CLI will only submit iterations from paths underneath `Exercises Dire

[2015-07-18 20:11] kytrinyx commented on #2443
The submissions are stuffed into a field in the database.

I was thinking last night: tabs are tabs--deciding how many spaces a tab should represent is really just configuration. Some people use two spaces, others use four spaces, and yet others use 8 spaces.

Is it really a bug to not have them be displayed as eight spaces?

[2015-07-18 21:00] carl-parrish commented on #1654
Mozilla Open Badges / scoring system for how often you've made nitpics how many solutions and what your current streak is (sort of like Free Boot Camp http://www.freecodecamp.com/cparrish)

[2015-07-18 21:35] hicksca commented on #2443
For the most part I agree with you that is isn't that big of a deal.

On Jul 18, 2015, 15:11 -0500, Katrina Owen<notifications@github.com>, wrote:

[2015-07-19 00:26] kytrinyx commented on #2443
I'm going to leave this open--perhaps others have some arguments for or against (I currently don't have a strong opinion either way). Thanks for bringing it up!

[2015-07-19 00:27] kytrinyx commented on #1654
Yeah, I really like the streak idea. (btw, congrats on your current 5 day streak, @carl-parrish :) )

[2015-07-19 08:17] canweriotnow commented on #2423
Thanks for resolving this... I'm working on the db "models" (I use scare quotes since we don't do ORM in FP) for the new API so I was just about to jump into running the migrations. I <3 when other people's problems (being resolved) make my life easier :)

[2015-07-19 11:04] davidpbrown commented on #1654
Persistent login would be useful.

Colour of dropdown menu - dark grey text on black, makes those less obvious on some screens.

Some sense of the depth would be good.. relative to the users interest. So, I've started Rust and an indicator of progress relative to the total number of exercises would be interesting.

[2015-07-19 16:45] kytrinyx commented on #2423
If you ever need a plain dump of the database structure without any ruby dependencies let me know.

Actually I should probably include that in the repo just in case.

[2015-07-19 16:57] kytrinyx commented on #1654
I'll see of someone with front-end-y skills can help out with the dropdown. The login piece would require some proper security, so I've been putting that off.

The content relative to the user's interest is a really important one. Thanks.

[2015-07-20 19:16] carl-parrish commented on #1654
Perhaps a graph of top languages and Interests (sort of like https://coderbits.com/cparrish817) Speaking of.... I would really, **really** like it if exercises I passed on exercism was pushed up to CoderBits.

[2015-07-20 19:32] carl-parrish commented on #1654
[CodeEval](https://www.codeeval.com/profile/carl-parrish/) is another good example of a dashboard I think.

[2015-07-21 05:50] JeroenRombouts opened #2445 "Word count tests"
I've been looking at the Javascript tests for the word count exercise. I'd like to propose to add these tests at the end:

[code]
It looks like a natural part of such an exercise.

[2015-07-22 09:58] matthewmorgan opened #2446 "Exercism Java track -- Pascal's Triangle submission disappearing?"
Hi,

Yesterday I submitted the Pascal's Triangle exercise and received no errors in the process.  Today the exercise was missing from my 'Current Exercises'.  I also didn't get the rocket icon while viewing the other solutions.

This morning I resubmitted the exercise, and it now appears in my 'Current Exercises', but I still don't get a rocket icon while viewing the other exercises.  Finally, eve

[2015-07-22 15:53] kytrinyx commented on #2446
Very strange, I'll see what the database has to say about this.

[2015-07-22 17:23] sguermond commented on #2299
@mixolidia and I have been brainstorming what we want to do with this now that we have a very basic version of a landing page.

We suggest a 3-page track for each language
1. Language info
2. Get started
3. How to use track/troubleshooting

**1. Language Info**
- Background on the language
- what it’s used for, brief history
- “You should learn this if...”
- short, 1-2 paragraphs max
- Button link

[2015-07-22 17:34] sguermond commented on #2324
@mixolidia came up with a list of issues and suggestions for the basic getting started process and the first few uses of the site by a new user

**1. Getting started**
**Issues**
- lots of jargon
- too many clicks to get anywhere
- Overal website flow issues
- no clear way to get started, should have a big START HERE button that takes you through a linear flow
- unclear who is the audience. Beginn

[2015-07-22 17:39] kytrinyx commented on #2299
This is fantastic, and I'd like to add two more possible sections/pages:

**4. how to contribute to the track** perhaps along with something about who is currently maintaining it, and who has contributed
**5. current activity** how many people have submitted exercises in the past day/week/month, and how lively are the conversations

[2015-07-22 18:38] kytrinyx commented on #2324
OMG this is brilliant, @sguermond @mixolidia! All of your comments are spot on, and your suggestions are great. It feels like every single point you made could be turned into a todo list.

I have a few (kind of random) thoughts...

We've started this process, but most languages are missing this exercise. Check out this issue, and related issues: https://github.com/exercism/todo/issues/12

Maybe we

[2015-07-22 18:47] kytrinyx commented on #2446
According to the database, you only have one submission for this exercise, however the exercise itself has a created at timestamp and an updated at timestamp that are hours apart.

[2015-07-22 19:18] matthewmorgan commented on #2446
Yeah.  I submitted it yesterday evening and it was gone this morning, so I
resubmitted it early today.

On Wed, Jul 22, 2015 at 2:47 PM, Katrina Owen <notifications@github.com>
wrote:

--
Matt Morgan
Director of Technology
Dulcet Software LLC
(734) 926-8142

[2015-07-22 19:24] jwood803 commented on #2299
For 4 would it be worthwhile to include the main track maintainers in case folks need to get in touch with them? That may generate a lot of noise for those folks, though...

[2015-07-22 20:47] kytrinyx commented on #2299
Yeah, I think it would make sense, but we don't have to add their email addresses or usernames. We could explain how to tag the correct team if they want to raise an issue specifically for a particular repo.

[2015-07-22 20:48] kytrinyx commented on #2446
Have you ever used the `exercism unsubmit` command? If so, is there a chance that it got triggered?

[2015-07-22 21:49] matthewmorgan commented on #2446
Yes, I have. I think I did unsubmit that one but resubmitted it right away
with a small change.

Let me see if I can check my shell history.
On Wed, Jul 22, 2015 at 4:48 PM Katrina Owen <notifications@github.com>
wrote:

[2015-07-22 22:38] matthewmorgan commented on #2446
My shell history shows that I didn't unsubmit that exercise, actually.  It was a different one.  Don't know if this illuminates anything.

[code]

[2015-07-23 01:24] kytrinyx commented on #2446
I need to check how unsubmit works, I suspect that it deletes the last iteration period, which is utterly not what one would expect, and confusing to boot.

[2015-07-23 01:25] kytrinyx commented on #2446
Ok, yes. Unsubmit doesn't take any arguments, and it doesn't complain if you give it any. It just ignores them.

I'm so sorry about this! I'm adding some guards to the command so that it doesn't just go off and delete what you wouldn't expect it to.

[2015-07-23 01:26] kytrinyx commented on #1654
Thanks for the suggestions, looking at them now.

[2015-07-23 01:43] matthewmorgan commented on #2446
No worries.  This is a tremendous service you've created and a hell of a lot of fun!

[2015-07-23 01:58] kytrinyx commented on #2446
I've submitted a PR to the CLI to add a guard for this. Thanks so much for helping figure out what happened here!

[2015-07-23 01:58] #2446 closed

[2015-07-23 01:59] kytrinyx commented on #2445
Yeah, these are great suggestions, thanks!

[2015-07-23 06:27] #2445 closed

[2015-07-24 03:55] SystemsEngineer2013 opened #2447 "exercism.io hello-world.js prompt is undefined"
Hi All,

I am new to programming and am unable to proceed past square 1. When I run this (node hello-world.js) it says prompt is undefined. It seems the format from codeacademy is worthless is real life applications.

How do open a prompt?

var HelloWorld = function() {};
var myName = prompt("What is your name?");

HelloWorld = function(myName) {

	if (myName != null) {
		console.log("Hello, " + m

[2015-07-24 04:13] #2447 closed

[2015-07-24 04:18] kytrinyx commented on #2447
Hey! Did you figure this out?

[2015-07-24 17:20] sguermond opened #2448 "Inconsistant spelling in submission messages"
"submission" is sometimes spelled "sumbission" in `lib/app/presenters/profile.rb` and associated view/test files. I could see this causing trouble in code upkeep. Are those methods being called anywhere besides these three files?

[2015-07-25 03:45] kytrinyx commented on #2448
OMG. Really? That's awful and kind of hilarious. Yeah, that could really cause trouble...

The only place they're used is in those three files.

[2015-07-25 11:50] NobbZ opened #2449 "Add possibility to reply with quote to a nit"
Sometimes I want to quote nit picks of other users and keep their formatting. Currently I need to C&P and then manually reformat their stuff.

This could be much easier if there were a “reply with quote” button, that would fill in the answer box with the original text where each line is prepended with `>`.

[2015-07-25 16:40] SystemsEngineer2013 commented on #2447
Yes! I was oblivious to the content within hello-world_test.script.js. There is no need for a prompt as names are passed in automatically. That and I was using console.log rather than a return statement

[2015-07-25 17:11] kytrinyx commented on #2449
+1 -- great suggestion, thanks.

[2015-07-25 17:12] kytrinyx commented on #2447
Is there something we could have added (documentation?) that would have let you figure it out more quickly?

[2015-07-27 16:22] listrophy opened #2450 ""Accept Invitation" UI is broken"
Problem is probably right here in [app/views/account/show](https://github.com/exercism/exercism.io/blob/master/lib/app/views/account/show.erb#L20). Basically, there's no vertical padding around the buttons, and (even though it's gray'ed out) the name of the team I'm invited to actually overflows on the left.

![screen shot 2015-07-27 at 11 04 35 am](https://cloud.githubusercontent.com/assets/26813

[2015-07-28 15:24] kytrinyx commented on #2450
Thanks for catching this.

[2015-07-29 10:53] tejasbubane opened #2454 "No syntax highlighting for emacs-lisp"
I just submitted `hello-world` for elisp and found out there is no syntax highlighting.

![exercism-elisp](https://cloud.githubusercontent.com/assets/980783/8955863/0cbcd806-360e-11e5-97d6-a04a9e6a6bc1.jpg)

[2015-07-29 17:47] SystemsEngineer2013 commented on #2447
As a complete beginner, I think it a short sentence or two explaining the test files would be helpful. I am not sure what the correct wordage would be, but if someone would have said "If you are having trouble understanding how to format your script, take a look at how test.script.js is calling your hello-world.js script."

I attempted the exercise after a long day so these comments may already ex

[2015-07-31 14:38] mandel01 opened #2457 "Home page dropdown does not show all languages (depending on window/screen size)"
I like the dropdown list of languages on the home page, but when I look on my laptop I didn't realize that there are more languages below the bottom of the window. Perhaps you are already aware of this issue but I wanted to document it in case you want to consider adding additional functionality for this dropdown, or perhaps smaller text so that more languages appear on laptops.

I attached a scre

[2015-07-31 16:40] tejasbubane commented on #2457
Hi @mandel01, this issue is reported in #2299 and they are working on it.

[2015-08-01 16:38] kytrinyx commented on #2457
/cc @mixolidia @sguermond (in case you didn't see it).

[2015-08-01 16:42] kytrinyx commented on #2447
Thanks!

[2015-08-01 16:45] kytrinyx commented on #2447
I added a bit of an extra hint to the skeleton hello-world.js file.

[2015-08-01 16:49] mixolidia commented on #2457
@kytrinyx I've been working on this. Neither Sarah or I are familiar with Sass and compass. For the past week, I've been trying to figure it out. I'll be getting help from one of our coaches next week.

[2015-08-01 16:52] kytrinyx commented on #2457
Cool, thanks for the update!

[2015-08-01 17:03] kytrinyx commented on #2454
We use https://github.com/jneen/rouge for syntax highlighting at the moment. We'll probably have to add support for it ourselves. It might actually not be too big of a deal if they support other lisp-y languages, but I've not actually looked into it.

[2015-08-01 23:42] mandel01 commented on #2457
Thanks, and really nice work on the language landing pages!

[2015-08-02 03:29] nhu313 commented on #2323
I know as a developer we're supposed to be dry, but I find that there are too many clicks and I got confused (and I'm also very lazy). What if we duplicate the information or having partial info so that everything is in one page for setup. Something like this:

1. Login with a github account on [exercism](http://exercism.io/)
2. Get your API key
  1. Click on your profile
  1. Click "Account"
  1.

[2015-08-02 15:08] kytrinyx commented on #2324
Check out [this comment](https://github.com/exercism/exercism.io/issues/2323#issuecomment-126985318) by @nhu313 for some more great suggestions about easing the whole getting-started process.

[2015-08-02 15:09] kytrinyx commented on #2323
Thanks @nhu313. I've linked to this comment from one of the other threads where others have chimed in with thoughts and suggestions.

[2015-08-03 14:11] chelseakomlo commented on #2442
I get this same problem when I call "exercism fetch".

Anything I can do to help fix this problem? If you point me in a direction I can investigate!

[2015-08-03 18:34] tejasbubane commented on #2454
There is `common-lisp` and it should work for `elisp` as mentioned [here](https://github.com/jneen/rouge/blob/v1.8.0/lib/rouge/lexers/common_lisp.rb#L11).

I tried on creating webpage and css via `irb` as given in the [README of rouge](https://github.com/jneen/rouge#usage), and was easily able to get syntax highlighting.

![lisp](https://cloud.githubusercontent.com/assets/980783/9044705/e8820682-3

[2015-08-03 18:53] tejasbubane commented on #2454
Seems like `Rouge::Lexer.find_fancy(language, code)` returns `nil` and it falls back to `Rouge::Lexers::PlainText`. Code here:  https://github.com/exercism/exercism.io/blob/master/lib/exercism/markdown.rb#L77

[2015-08-04 02:12] kytrinyx commented on #2442
What version of the CLI do you have?

[2015-08-04 04:40] tejasbubane commented on #2454
The language name needs to be `common_lisp` and not `elisp`.
I have sent a PR. There exists a similar hack for `objective-c` here : https://github.com/exercism/exercism.io/blob/master/lib/app/helpers/markdown.rb#L10

[2015-08-04 16:34] chelseakomlo commented on #2442
version 1.5.0... I should probably update? :)

[2015-08-04 17:34] kytrinyx commented on #2442
uh, yeah :) That's probably a good idea.

[2015-08-04 22:30] #2448 closed

[2015-08-05 19:55] Peque commented on #2328
I have the same exact problem. Cannot get invited to groups. I have created a group myself and then I find two users with my name (the wrong one is the one with all lowercase).

[2015-08-05 20:55] Peque commented on #2328
Also, after creating the group, I have a notification telling me that I have an invitation from myself to join the group I just created. When I click on "accept", nothing happens (the invitation seems to stay there :joy:).

[2015-08-05 21:20] mixolidia opened #2460 "Tests for tracks_test.rb need to be updated manually"
Hi @kytrinyx
Test in tracks_test.rb is set up so that the tests have to be manually updated. Whenever a language is added or it's status modified the tests will fail because they are compared to a static set of data. It affects active, upcoming, and planned languages and their ids. Is this how you want it?

[2015-08-05 22:38] Tim-Hansen opened #2461 "What is the next step after using cmake"
Anyone know what the next step is after finishing these instructions? http://help.exercism.io/getting-started-with-cpp.html

Am I meant to be editing bob.cpp, then compiling with

c++ bob.cpp -o bob

How do I get exercism to run the tests? If there is any documentation (that I can't find) that would be great if you can point me in it's direction.

[2015-08-06 19:56] #2444 closed

[2015-08-06 23:23] #2454 closed

[2015-08-06 23:27] #2450 closed

[2015-08-06 23:30] kytrinyx commented on #2460
Let's use a fixture for the test so that the test doesn't fail when a new language is added.

[2015-08-06 23:31] kytrinyx commented on #2460
I thought I fixed this in 7b7110556b600d7da9acb056bfb28deb90019ff0, actually.

[2015-08-06 23:31] kytrinyx commented on #2461
@LegalizeAdulthood would you jump in here, please?

[2015-08-06 23:32] kytrinyx commented on #2328
I'm so sorry you ran into this. Thanks so much for the reproduction steps--that's very helpful. I'll hunt this down and fix it!

[2015-08-06 23:38] Tim-Hansen commented on #2461
Hey, thanks for replying. I figured it out in the end, didn't quite get that all I had to do was type 'make' to test the project. All clear now though.

[2015-08-07 13:57] Peque commented on #2328
@kytrinyx: Thank's to you! :blush:

Beta software is beta software... :wink:

[2015-08-07 21:37] mixolidia commented on #2460
tracks_test.rb seems to be testing against a static set.  This is what's in there now:
[code]

[2015-08-08 00:20] sguermond opened #2464 "Class defined multiple times"
I'm running into an issue where multiple things are called Problem, Language, etc.

They tend to reference the same object (problems, language tracks, etc) but with only a subset of the information. For example, Problem in one section of the code will only have a track_id and a slug, but Problem in other sections of the code will have a blurb and a slug but no track_id (or something else).

Is it

[2015-08-08 14:28] tripledown opened #2466 "No idea why my tests are failing (hello world)"
So here is my code:

    def hello():
        callers_name = raw_input("What is your name?\n")
        if callers_name:
            print ("Hello, " + callers_name + "!")
        else:
            print("Hello, World!")

    if __name__ == '__main__':
        hello()

    $ python hello_world_test.py
    What is your name?
    Jane
    Hello, Jane!

================================================

[2015-08-08 21:21] kytrinyx commented on #2464
I'd rather not, since these are intended to be used in a very small, specific context. I think the right solution is to namespace each one so that it can be referred to unambiguously. E.g.:

[code]

The nomenclature has started becoming clearer, but it's still a mess. I can't even really make up my mind in my own head what it should be.

I've been using "problem" to refer to the combination of a t

[2015-08-08 21:22] kytrinyx commented on #2461
Ah! Maybe we can update the docs to be explicit about that. Glad you got it sorted.

[2015-08-08 21:22] #2461 closed

[2015-08-08 21:24] kytrinyx commented on #2460
I think that if you `require_relative '../../tracks_helper' after requiring the test helper, then it will include the fixture file instead of calling out over HTTP with faraday.

[2015-08-08 21:25] kytrinyx commented on #2328
Some days I want to retract the "beta" and put "alpha" on this thing :)

[2015-08-08 21:26] kytrinyx commented on #2466
I don't know any python, but my first guess is that `print` doesn't return a value. It probably prints out to the console, and then returns the language equivalent of `nil`.

What would be the way to return a string instead of printing it?

[2015-08-09 02:15] treiff commented on #2415
I was just looking into this but wanted to make sure I was on the right track before I get going.

My thoughts were obviously adding the "hibernate" option to the dropdown, and posting to a new route in ```lib/app/routes/exercises.rb``` where we're changing the submission state.

Reasonable?

[2015-08-09 02:43] Foovanadil opened #2467 "Can't accept team invite and can't submit lessons?"
A coworker created a team and invited me but when I click accept invite I get redirected to a page with an error saying "You may only view team pages for teams that you are a member of, or that you manage."

The invite stays in my notification (as if I didn't accept it) and I can click it over and over again, always with the same error.

We tried deleting the whole team and re-adding several times

[2015-08-09 02:46] Foovanadil commented on #2328
I have the same issue (posted here https://github.com/exercism/exercism.io/issues/2467)

I also can't submit assignments, possibly related?

[2015-08-09 02:55] Foovanadil commented on #2467
ok so the submission problem was unrelated but also weird. Submitting a separate issue for that. Will update this with the issue number

[2015-08-09 03:01] Foovanadil opened #2468 "Case sensitivity issues on submission paths"
I am on OS X and starting the Python track.

I create my code directory on disk first before pulling the excercise.

So I had

/pathToExercismRoot/**P**ython

Then I pulled the exercise which will put the exercise in
/pathToExercismRoot/**p**ython

However, the issue seems to be that the code does a case insensitive check on the path (guessing on this) and sees the **P**ython folder already exists

[2015-08-09 03:01] Foovanadil commented on #2467
Unrelated submission bug is documented here:https://github.com/exercism/exercism.io/issues/2468

[2015-08-09 17:46] kytrinyx commented on #2467
Thanks. Yeah, the team bug is the same as in #2328 -- it's at the top of my list.

[2015-08-09 17:47] kytrinyx commented on #2468
When the CLI fetches exercises, it will create the paths with lowercase -- a lot of things depend on this. I'll see if we can put a workaround in the CLI, bit it may be tricky.

/cc @Tonkpils @lcowell

[2015-08-09 17:49] kytrinyx commented on #2415
Yeah, that works for me.

We're going to be re-evaluating the idea of submission states, but it's going to take a good long while to get to it, so this would probably be a good workaround in the meantime. Thanks!

[2015-08-09 18:10] mscottreed opened #2469 "account page needs #teams, #exercises, and #settings"
This is just a nice to have, but moving back and forth between the teams and exercises is very disconcerting at the moment (i.e. trying to compare my exercise with the same exercise from someone else on my team).  In fact it would be great to put some links or to be able to side by side / git diff (although that should be a different issue).

[2015-08-09 19:47] kytrinyx commented on #2469
Thanks!

As you may have noticed, I struggle a fair amount with front-end work / user interface design. Do you have specific suggestions for what an improved account page would look like?

[2015-08-09 20:43] tripledown commented on #2466
Hi,

Giving up on it now. I think its the test case:

    def hello(toprint):
        print ("Hello, " + toprint + "!")

    def userinput():
        userin = raw_input("What is your name?\n")
        if userin:
            hello(userin)
        else:
            print("Hello, World!")

    hello("Jane")

    Testing started at 21:40 ...
    Hello, Jane!

So I placed jane into the unittest, so it

[2015-08-09 21:12] kytrinyx commented on #2328
OK, I've managed to reproduce the issue with the following steps.

Assume that your usual username is `alice`. You have an Exercism account, and you've created a team named `Team Bug`.

1. Create a second GitHub account, `bob`.
2. Log in to Exercism as `bob`
3. Log out, log in to Exercism as `alice`
4. Invite `BOB` to `Team Bug`
5. Log out, log in to Exercism as `bob`
6. Go to the notifications pa

[2015-08-09 21:43] #2328 closed

[2015-08-09 21:49] kytrinyx commented on #2467
I've deleted the ghost users in production, and deployed the fix so that ghost users will no longer be created.

[2015-08-09 21:49] #2467 closed

[2015-08-09 21:50] kytrinyx commented on #2328
I've deleted the ghost users in production, and deployed the fix so that ghost users will no longer be created.

[2015-08-09 21:54] kytrinyx commented on #2466
In that last example, the code looks more correct, but the indentation is wrong. What happens if you indent the two last lines?

[2015-08-10 02:12] Avizacherman opened #2471 "Brand New - Cannot get XCTests to Load in Swift"
So I'm brand new to exercism and was doing the first swift exercise but I think I'm doing something wrong. I'm really novice with Xcode so I'm sure it's something simple. I get the following error:

"Cannot load underlying module for XCTest".

in my LeapTest file. Please help! Thanks!

[2015-08-10 03:26] Foovanadil commented on #2468
The biggest issue with this is that you get a 400 on an attempt to submit your first exercise with no clue what to do to fix it (I guessed on the casing issue out of nowhere)

If the creation of the directory on fetch could do one of two things it would help

1. If it finds an existing folder as the wrong case do a folder rename to the correct case (a bit tricky because you have to move files out,

[2015-08-10 03:37] kytrinyx commented on #2468
Yeah, warning might work. I was thinking about this for a bit today, and I think we might actually work around it without bugging the user about anything. I have to experiment a bit.

[2015-08-10 03:44] kytrinyx commented on #2471
@pminten do you have an idea of what's happening here?

[2015-08-10 04:16] arashbi opened #2472 "Getting started with scala page"
* Simply scala link is dead
* Programming in scala is also a retired page

[2015-08-10 04:52] kytrinyx commented on #2472
Thanks!

If you have a moment to update the docs, that would be wonderful. They're in the https://github.com/exercism/docs repository, at [app/pages/languages/getting-started-with-scala.md](https://github.com/exercism/docs/blob/master/app/pages/languages/getting-started-with-scala.md).

Do you happen to have any suggestions for good Scala resources?

[2015-08-10 07:08] pminten commented on #2471
Sorry, don't have any knowledge of Swift or Xcode.

Katrina Owen <notifications@github.com> schreef op 10 augustus 2015 05:44:07 CEST:

--
Verzonden van mijn Android telefoon met K-9 Mail.

[2015-08-10 07:56] NobbZ opened #2473 "When trying to view a userpage I get a 404"
When I click a username, that brings me to `exercism.io/username`.

Since I use exercism, I was able to see some users information on that page, especially other exercises that particular user has already submitted.

Today I get a 404-error-page. If the feature of userpages has been removed, please don't have clickable usernames.

[2015-08-10 14:40] kytrinyx commented on #2473
That's a regression, not an intentional move.

[2015-08-10 14:42] kytrinyx commented on #2473
Fixed in e48d428feed50cce48c40f41115135bc90c4ac54. Deploying.

[2015-08-10 14:42] #2473 closed

[2015-08-10 14:44] kytrinyx commented on #2471
Oh, sorry @pminten for some reason I read Swift and thought Elixir!

@masters3d @hankturowski -- do you have a moment to jump in here?

[2015-08-10 20:48] mixolidia commented on #2460
Hi @kytrinyx
O yeah, that worked. Thanks! Should I do a pull with the new changes? I added `require_relative '../../tracks_helper' as you said and deleted  require 'exercism/xapi.rb' and require 'faraday' from the test/app/presenters/tracks_test.rb file. So now if everything is working fine it will pass whether that test is run on it's own or part of the rake.

[2015-08-10 22:02] masters3d commented on #2471
http://stackoverflow.com/questions/29965397/cannot-load-underlying-module-for-xctest

[2015-08-10 22:42] csirkin opened #2474 "Python meetup_test.py has an error"
It looks as though the last test in meetup_test is wrong.

It is:

[code]

It should be:

[code]

[2015-08-10 23:00] arashbi commented on #2472
I could update it if I knew what to put there. Let me search a bit.

[2015-08-11 01:00] kytrinyx commented on #2460
Yepp, thanks :)

[2015-08-12 13:52] bernhardwaidacher opened #2476 "Can't upload swift-exercise (bob)"
I can't upload the Bob exercise of Swift.

This is the command/error: $ exercism submit Bob.swift
2015/08/12 15:50:57 unable to submit (HTTP: 400) - unknown problem (track: swift, slug: Bob, path: )

EDIT: it works... i just had to close the terminal and open it agian...

[2015-08-13 01:33] kytrinyx commented on #2476
Interesting. If it happens again, would you create a new issue with the output of `exercism debug`?

[2015-08-13 01:33] #2476 closed

[2015-08-13 01:48] #2415 closed

[2015-08-13 19:31] drozdziak1 opened #2480 "Code efficiency toplist"
How about making a toplist where the shortest execution times would be displayed for each problem?
This way, Exercism could teach not only about clean code but also the importance of a well-developed algorythm.

The code would be executed in a uniform environment per language. Also, comparisons of analogical problems between languages could be possible

[2015-08-14 01:16] kytrinyx commented on #2480
In theory I think this would be very interesting. In practice, it would be difficult to get this to run in a uniform environment, since we are currently not doing any sort of sandboxing, and we never run the user's code anywhere.

[2015-08-14 06:07] drozdziak1 commented on #2480
Yeah, that's definitely something to think about in the future. It's quite a resource-consuming idea

[2015-08-14 15:28] mscottreed commented on #2469
So sorry, this (and the next message) ended up in my spam folder somehow.

The page can look the same, it just needs to remember which tab you were on in the history.  What is the front-end written in?  I might be able to take a look this weekend.

-Scott

From: Katrina Owen [mailto:notifications@github.com]
Sent: Sunday, August 9, 2015 12:48 PM
To: exercism/exercism.io <exercism.io@noreply.github

[2015-08-14 17:31] sguermond commented on #2097
@kytrinyx What is the order of the problems in the stats? Is it the order in which they are supposed to be done, a random order, or according to a stat?

[2015-08-14 18:18] sguermond commented on #1654
Here's a quick rearranging of the dashboard from existing content (making it more visible, minor tweaks etc.) Didn't change any CSS so some parts are kind of wonky.

![exercism dashboard](https://github.com/sguermond/images/blob/master/exercism_proposed_dashboard.png?raw=true)

Opinions?

[2015-08-14 18:27] tejasbubane commented on #2413
I just came across the same issue. It was a minor case, but since the issue is open, bringing it up here, in case it helps someone.

The preview looks good but not the actual nitpick message.

![nitpick](https://cloud.githubusercontent.com/assets/980783/9280961/73848218-42df-11e5-826a-cbca674002e2.png)

![nitpick2](https://cloud.githubusercontent.com/assets/980783/9280968/7b6a8cfc-42df-11e5-8595-4

[2015-08-14 19:48] LegalizeAdulthood commented on #2097
The problems are in the order you would solve them when proceeding through the language track.  At least that's what I infer from looking at the C++ stats.

[2015-08-15 05:07] #2460 closed

[2015-08-15 09:14] kytrinyx commented on #2469
The frontend is an unholy mix of javascript and ruby (erb) templates.

[2015-08-15 09:16] kytrinyx commented on #1654
It works for me. I don't know how this would perform for people who are very active. We'd need to test that out.

[2015-08-15 09:18] kytrinyx commented on #2097
Yeah, I believe that they're ordered the way they'd be ordered when you fetch them.

[2015-08-15 09:19] kytrinyx commented on #2413
Interesting. I bet we're processing the markdown differently for the two cases. It should be fairly straight forward to change the nitpick markdown to do what the preview markdown already does.

[2015-08-16 18:24] meskarune opened #2483 "Change default configuration file location to XDG_CONFIG_HOME"
Right now the config file for Exercism cli is placed by default in the user's home directory: ~/.exercism.json

It would be better to place the configuration file in XDG_CONFIG_HOME as the default behavior. People who set XDG_CONFIG_HOME will expect configuration files to go there instead of having to set config file location for every application.

[2015-08-16 19:19] kytrinyx commented on #2483
At the moment the config can use env vars, but you're right, defaulting to XDG_CONFIG_HOME  if it's there would be better. Thanks!

https://github.com/exercism/cli/blob/a014c203b5578f1f276e5f66f77e999485464655/exercism/main.go#L50

[2015-08-18 01:51] ahimsauzi commented on #2422
Can you post where we can find the said exercise version? Thanks.
[code]

[2015-08-18 03:40] wobh commented on #2483
I can't find the resources anymore, but when I looked into this for a CLI app I was working on earlier this year a couple of things I read made it seem like the XDG standard was mainly for X-based GUI applications (i.e. Gnome or KDE) that want to conform to the freedesktop standards, and rather less for command-line apps, and things that run on OSX (~/Library) and Windows (~\Profile last I checked

[2015-08-19 02:28] kytrinyx commented on #2483
That has always been my understanding as well, and for a while I resisted implementing it, but it keeps coming up as a request, and it's a really innocuous change: if the env variable exists, use it. If not fall back to our current default.

[2015-08-19 12:31] iaptsiauri commented on #2466
If this issue is still relevant, the test cases are correct it's just the matter of your implementation, in your stack trace you can see that method `hello` requires one argument, in your method you do not specify any arguments.  Also as it was noted already `print` doesn't return any value, and therefore the test without any arguments failed.

Here is my dummy solution
[code]

[2015-08-19 21:41] HalosGhost commented on #2483
On the contrary, *everything* should respect ``XDG_CONFIG_HOME``. Not respecting it (and not defaulting to ``$HOME/.config`` if it is not set) guarantees home-directory clutter which is a guarantee for an unhappy time.

:+1: for implementation of this.

[2015-08-20 19:36] dotten7792 opened #2485 "Having issues submitting a java solution"
When I attempt to submit within the java folder in my directory

    exercism submit /Users/derek/exercism/java/etl

I receive this error: "Unable to submit - unable to identify track and problem"

Here is my output when I run exercism debug

Exercism CLI Version: 2.2.1
Exercism CLI Latest Release: 2.2.1
OS/Architecture: darwin/amd64
Build OS/Architecture darwin/amd64
Home Dir: /Users/derek
Config

[2015-08-20 19:47] #2485 closed

[2015-08-20 19:48] dotten7792 commented on #2485
Nevermind. :)

[2015-08-21 06:26] MiyamotoAkira opened #2486 "F# SumOfMultiples Error"
Hi,

the last test on the SumOfMultiples exercises has the wrong answer.

It says it should be 2203160, but it should be 2223370

It was the only test failing, so I decided to verify using a spreadsheet to confirm that is the correct answer. I can provide the spreadsheet  if needed

[2015-08-21 13:57] jwood803 commented on #2486
Thanks for letting us know! I wonder if this is over the other language implementations, as well. In any case, we send an update.

[2015-08-21 15:08] kytrinyx commented on #2486
In the original problem, the program is configurable, and the test in question checks that the sum of the multiples of 43 and 47 up to 10,000 is 2203160.

We have this problem in the following languages:

- [ ] C++
- [ ] C#
- [ ] Elixir
- [ ] Erlang
- [ ] F#
- [ ] Go
- [ ] Haskell
- [ ] Javascript
- [ ] LFE (Lisp Flavoured Erlang)
- [ ] Python
- [x] Ruby - multiples of 43, 45
- [ ] Swift

[2015-08-21 15:10] kytrinyx commented on #2486
The test in question is:

[code]

This is checking the sums of multiples of 43 and 47, not the sums of multiples of 3 and 5. 2203160 is the correct answer in this case.

[2015-08-21 18:02] MiyamotoAkira commented on #2486
Sorry, not sure I'm getting it correctly. You are saying that the number 2203160 is correct?

43 has a maximum multiplier of 232 before it gets to 10000 (43*232=9976). The sum of all multipliers of 43 up to, and including, 232 is 1162204

47 has a maximum multiplier of 212 before it gets to 10000 (47*212=9964). The sum of all multipliers of 47 up to, and including, 212 is 1061166

The sum of those

[2015-08-22 01:51] kytrinyx commented on #2486
Any number which is divisible by both 43 and 47 will only be counted once. That is the following list of numbers: `[0, 2021, 4042, 6063, 8084]` which sums to 20210.

[2015-08-22 01:55] kytrinyx commented on #2486
OK, I see the problem. We don't have any other tests that cover that use case. I suggest that we add a test case for

[code]

[2015-08-22 02:03] kytrinyx commented on #2485
Ah, yepp :) It takes the path to the actual file, not just the parent dir. Sorry about that! Is there anything we could do so the next person doesn't run into the same thing?

[2015-08-22 05:20] MiyamotoAkira commented on #2486
Oh, I see the issue. Probably changing a bit the description on the readme.md file will help.

[2015-08-22 14:33] kytrinyx commented on #2486
Yeah, I'll reword the README. Thanks for bringing it up!

[2015-08-22 14:33] #2486 closed

[2015-08-22 14:40] kytrinyx commented on #2486
Clarified in https://github.com/exercism/x-common/commit/236cd4280bc990afdfff78cae4d23d516572252f

[2015-08-23 05:13] jhannes opened #2487 "I don't receive notification emails"
I remember there being notification emails last year when I tried exercism first, but when I returned this year, I don't receive emails for comments any more. Is this functionality currently broken?

I am afraid I will forget about checking for comments and forget about using the site. Or that the comments I give to others will go unread.

[2015-08-23 05:17] jhannes opened #2488 "Menus missing on dashboard on mobile site"
When I view the site on my phone (Samsung Note), the menu icon disappears and I can only view the dashboard page directly.

This is not the case when viewing the site in a small window in a desktop browser, but it is the same when viewing the site using Chrome Developer Tools with Device mode.

![image](https://cloud.githubusercontent.com/assets/18310/9427044/0ed4d82a-4967-11e5-9212-8ebb7fe9c268.p

[2015-08-23 16:00] kytrinyx commented on #2487
I removed all the email functionality. It was an unconfigurable firehose and I didn't want to pay the $80 subscription a year to support a feature that felt half-implemented. Since I didn't have time to focus on fixing it correctly I decided to remove it.

I'm going to be focusing on exercism a great deal more in the next few months, and I'm going to be focusing on two things:

* the onboarding pr

[2015-08-23 16:01] kytrinyx commented on #2488
Ouch, that's no good! Thanks for the heads up. /cc @mixolidia @sguermond any chance you'll have time to look at this?

[2015-08-24 18:37] mixolidia commented on #2488
@kytrinyx
Looking into it. Madison+ Ruby was great but left us little time to do anything else.

[2015-08-24 21:49] sguermond commented on #2488
I think I know what is going on. The graph is not shrinking with the rest of the page, causing the menu button to appear on the far right of the page (have to scroll to it). I think fixing this is going to involve messing with the nits graph...

[2015-08-24 22:28] StevenACoffman opened #2491 "Unable to edit large semjs team"
Hello,
When I try to [edit the membership for the semjs team](http://exercism.io/teams/semjs), I get the heroku message:
[code]
I am able to edit the membership of other teams that I am an owner of. The semjs team has a large membership, and it has gotten slower with every new member's addition, so perhaps I've passed a tipping point.

[2015-08-25 19:49] sguermond opened #2492 "Nit stats page not accessible through mobile"
The nit stats page `/nits/username/stats` redirects to login when accessing on mobile (through Chrome Dev Tools)

![Exercism mobile nitpick redirect](https://github.com/sguermond/images/blob/670068e794e2aed4071dd12ab7ae82da02698d26/nitpicks_login_redirect.png?raw=true)

Works as expected in non-mobile mode with small screen.
Works as expected on iPhone 4S.

[2015-08-26 15:19] alecsechechel commented on #2335
Help me ) I have same problem ((

**** Debug Information ****
Exercism CLI Version: 2.2.1
Exercism CLI Latest Release: 2.2.1
OS/Architecture: darwin/amd64
Build OS/Architecture /
Home Dir: /Users/admin
Config file: /Users/admin/.exercism.json
API Key: ***
API: http://exercism.io [connected]
XAPI: http://x.exercism.io [connected]
Exercises Directory: /Users/admin/Documents/Develop/Swift/exercism

I

[2015-08-26 22:08] spazm commented on #2441
And the test in `rust` is confusingly wrong:

[code]

This checks that the first 2 chars are letters and that the 4th(!) and later chars are numbers.  This passes "ABC" for example.

At a minimum, I'd suggest:

[code]

What's the procedure for making changes/fixes for test cases?

[2015-08-27 01:15] kytrinyx commented on #2335
You have configured the exercism CLI like this:

If you say `exercism fetch swift leap`, then it should put the leap exercise in

[code]

When you submit, the CLI uses the configured directory path along with the path of the file you're submitting to figure out which language track and exercise it is, so the problem needs to stay under `/Users/admin/Documents/Develop/Swift/exercism/swift/leap/`

[2015-08-27 01:17] kytrinyx commented on #2491
Yeah, the performance has been a problem on the team page for a while. I'm going to take a look at this next, but it will be a few days. The simplest and cleanest solution would be to create a fresh page just to edit, so it doesn't have to load all the team members and exercises at the same time.

[2015-08-27 01:25] kytrinyx commented on #2441
I wrote a blog post about this, but I haven't actually launched the blog yet :) http://blog.exercism.io/post/touching-up-existing-exercises/

There's also a contributing guide, but I think that's more confusing at the moment (and more to read)
https://github.com/exercism/x-api/blob/master/CONTRIBUTING.md

Would you let me know if the blog post walks you through this well enough, @spazm?

[2015-08-27 05:56] wobh commented on #2441
Hmm. in xlisp we're testing for uppercase names. I wonder if we should be case-indifferent though. I don't think it makes a lot of sense for robot "AA000" to be a different robot than "aa000"

[2015-08-27 07:52] alecsechechel commented on #2335
So I do
1. configure new rout
Exercism CLI Version: 2.2.1
Exercism CLI Latest Release: 2.2.1
OS/Architecture: darwin/amd64
Build OS/Architecture /
Home Dir: /Users/admin
Config file: /Users/admin/.exercism.json
API Key: ***
API: http://exercism.io [connected]
XAPI: http://x.exercism.io [connected]
Exercises Directory: /Users/admin/Documents/Develop/Swift/exercism

2. I made exercism fetch swift le

[2015-08-28 02:52] kytrinyx commented on #2335
You need to submit the actual files that you want to submit, not the containing directory.

[2015-08-28 02:53] kytrinyx commented on #2441
Agreed, that should be the same robot. Unless `aa000` is invalid, I guess.

[2015-08-28 05:56] MiyamotoAkira opened #2497 "Incorrect description Fsharp Difference of Squares?"
Hi,

Minor thing,
I believe the readme.md of the Difference of Squares on FSharp would need a slight change. Lines 3 and 13/14 seem to indicate that you need to do the operation (SumOfSquares - SquareOfSum). The numbers on that file and the tests do indicate (correctly) that is the other way around.

Cheers,
Jorge

[2015-08-28 06:14] MiyamotoAkira commented on #2442
I've just got the same error this morning. Did an upgrade, which worked, but still got the same error. And the page is down currently.

Maybe add a better description on the CLI when the error happens? I will try to submit later on.

[2015-08-28 09:54] alecsechechel commented on #2335
thank it is working!

[2015-08-28 21:18] hankturowski commented on #2471
I think @masters3d answered this with the provided link. @Avizacherman, if you're still having trouble, let me know. Otherwise we should close this out.

[2015-08-29 03:51] kytrinyx commented on #2442
@MiyamotoAkira I'm so sorry you're running into trouble.

What does `exercism debug` output? Recent versions of the CLI do provide a better error message in most cases that I've found, but it's possible that you've run into an edge case that we've not seen before.

What command were you running when you got the error? Also, it might be useful to know what your working directory was when the error

[2015-08-29 04:15] kytrinyx commented on #2497
Ah, thanks for the heads up! It looks like this is a problem in the generic README, which means it's wrong in all the languages. I took a stab at clarifying it here:

https://github.com/exercism/x-common/commit/867a0be04e3885df1d7ae1756251b745b9d61e58

[2015-08-29 04:15] #2497 closed

[2015-08-29 11:55] MiyamotoAkira commented on #2442
The error was the same as the original post:

     unable to submit solution - error parsing API response - invalid character '<' looking for beginning of value

That happened in the morning. On the afternoon there was no issue. I was making the call from inside the exercise folder (fsharp/sum-of-multiples). If it happens again I will try that call.

[2015-08-29 18:06] kytrinyx commented on #2442
OK, thanks. I am going to close this for now, but if it does come up again, feel free to open a new issue.

[2015-08-29 18:06] #2442 closed

[2015-08-30 12:33] hkockerbeck commented on #2413
I've come across something similar: In a nitpick (third one from top [here](http://exercism.io/submissions/b7751eb488ef4a6d93b350a82b063ff4)) I've initially started the comments in the code snippets with `#`, because it's Ruby code. That looked fine in the preview. But in the actual nitpick, the comment lines were huge. Probably they've been interpreted as headers/headlines because of the  `#`, ev

[2015-08-30 14:21] kytrinyx commented on #2413
Thanks @hkockerbeck -- it's useful to have some extra test cases for this.

[2015-08-31 19:41] yurrriq opened #2498 "Markdown in docstrings is rendered incorrectly"
Example: http://exercism.io/submissions/3dddb5f4aaee49f8a8b893b1e5ff8800

[2015-09-01 01:31] #2385 closed

[2015-09-01 01:31] kytrinyx commented on #2385
Fixed a couple weeks back, let me know if you still have issues.

[2015-09-01 01:32] kytrinyx opened #2500 "Only show most recent 5 issues for each user on team page"
Since we link to the person's profile, if you want to see everything they've done, then you can go to their page.

/cc @mixolidia @sguermond

[2015-09-01 01:39] kytrinyx opened #2501 "Let track mentors add other track mentors"
In the database we have the idea of "mastery" on the users table. This is an array of language tracks, and if a track is listed, then the user has unlimited access to that track: they can see everything that gets submitted, whether or not they have submitted a solution for the problem.

In the beginning I didn't know what to call this, but I think I'd like to call it "track mentor" rather than "ma

[2015-09-01 02:22] kytrinyx commented on #2498
Oh, wow. That's pretty terrible!

I wonder if this is a bug in the [rouge](https://github.com/jneen/rouge) library.

[2015-09-01 02:43] yurrriq commented on #2498
Is that what GitHub uses? Somehow they deal with it: https://github.com/yurrriq/exercism/blob/clojure/allergies/src/allergies.clj

[2015-09-01 02:44] kytrinyx commented on #2498
I'm not sure what GitHub uses.

[2015-09-01 02:45] yurrriq commented on #2498
Hmm... I'll try do some digging on this tonight too.

[2015-09-01 02:50] kytrinyx commented on #2498
Thanks.

[2015-09-01 03:22] yurrriq commented on #2498
Maybe while I'm at it I can add an LFE lexer. 😈

[2015-09-01 07:00] Peque commented on #2385
It is working now. Thanks a lot. :blush:

[2015-09-01 07:01] Peque commented on #2328
Thanks for this fix. Everything works as expected now. :blush:

[2015-09-01 10:34] Peque commented on #2474
Actually, it is a valid call of `assertRaises`. See the [`unittest` API docs](https://docs.python.org/2/library/unittest.html#unittest.TestCase.assertRaises).

[2015-09-01 10:44] Peque commented on #2466
@kytrinyx: this issue should be closed. The tests are correct, as @iaptsiauri already noted.

@tripledown: it is always a good thing to look for other people's implementations. That is the idea of Exercism. Next time you don't pass the tests, think about what you are doing wrong: search on the internet, ask somewhere/somebody, submit your exercise (even if it does not pass the tests) and look for

[2015-09-01 10:55] Peque commented on #2469
I would love to see this implemented. When clicking on "Teams", "Exercises" or "Settings", the URL stays unchanged (`http://exercism.io/account`). I guess `#whatever_tab` should be appended to the URL instead.

Even when opening `http://exercism.io/account#exercises_tab`" manually, the "Teams" tab will be selected. And the HTML code still shows:

      <ul class="nav nav-pills nav-stacked col-md-3

[2015-09-01 11:14] Peque commented on #2474
@kytrinyx This issue could be closed.

[2015-09-01 14:48] kytrinyx commented on #2469
Oh, I finally get what you both are talking about. Sheesh--sometimes I'm a bit slow. Yeah. We absolutely need to have a way to link to the correct tab, and to know where you are in the history.

[2015-09-01 15:15] kytrinyx commented on #2328
Great, thanks for following up!

[2015-09-01 15:15] kytrinyx commented on #2466
Thanks, closing now.

[2015-09-01 15:15] #2466 closed

[2015-09-01 15:16] kytrinyx commented on #2474
Thanks, @Peque!

[2015-09-01 15:16] #2474 closed

[2015-09-01 18:03] mscottreed commented on #2469
Yes @Peque, that is the first step.  If this is bootstrap (looks like it), then it is simple a matter of including the correct JavaScript file.  (although I would rename the href hash anchors to remove the _tab, for better URL readability/navigability).

http://getbootstrap.com/javascript/#tabs

From: Peque [mailto:notifications@github.com]
Sent: Tuesday, September 1, 2015 3:56 AM
To: exercism/exe

[2015-09-01 19:15] sguermond commented on #2491
Working on it.

[2015-09-01 19:15] sguermond commented on #2500
Working on it.

[2015-09-02 00:53] kytrinyx commented on #2469
Yeah, we've got bootstrap in here, along with some angular.

[2015-09-02 00:53] kytrinyx commented on #2491
Thanks!

[2015-09-02 02:24] kytrinyx opened #2503 "Operation "Inbox" - to replace the "pending" lists"
I think that ultimately we should implement the activity stream (https://github.com/exercism/exercism.io/issues/1899), which would allow granular subscriptions, however that is a huge undertaking, and I think that we could aim for a simpler solution in the shorter term, which would still be a _huge_ improvement over the current pending lists.

The inbox would be per language track. You would see a

[2015-09-02 02:26] kytrinyx opened #2504 "Count all comments in the conversation"
Right now we're doing some weird stuff where we only count a comment if it's not by the original author of the solution, and if it's not rikki- the robot. We should just count all comments.

- [ ] when a comment is submitted, always increment the count, instead of doing it conditionally
- [ ] always decrement the count when deleting a comment
- [ ] write a query to migrate the comment counts

Alte

[2015-09-02 02:29] kytrinyx opened #2505 "Replace submission/exercise states with "archived" flag on exercise"
Let's get rid of all the various statuses and states. Needs feedback, superseded, pending, done, hibernating, etc.

Let's make everything that was "hibernating" or "done" be listed as "archived".

This change will probably touch a bunch of different things (profile page, account page, dashboard, pending lists), and may be easier to implement after making the "inbox" (https://github.com/exercism/ex

[2015-09-02 02:34] kytrinyx opened #2506 "Do we really need to have the "views" tracking?"
I'm starting to think about ways in which we can simplify exercism. I'm not convinced that having the number of views brings much value. We are storing every view in a table called submission_viewers. This seems kind of excessive.

![screen shot 2015-09-01 at 20 31 18](https://cloud.githubusercontent.com/assets/276834/9621807/8c43f8ee-50e8-11e5-813b-d054c9385388.png)

Thoughts?

[2015-09-02 02:54] kytrinyx commented on #2505
/cc @canweriotnow @mixolidia @sguermond I've started implementing this in a branch. Let me know if this has serious impact on anything you're working on so we can coordinate.

[2015-09-02 03:36] kytrinyx opened #2507 "Use "lock" instead of "star" on profile page"
Instead of showing a star by exercises that you can access, let's use a lock for exercises where you only get the readme/test suite. I think this would let us explain less.

[code]

@sguermond what do you think?

[2015-09-02 04:11] kytrinyx commented on #2507
Note: I'm doing work on the profile/account pages here: #2505 -- if we want to change to the lock let's wait until that gets merged.

[2015-09-02 06:29] vivekimsit opened #2508 "Doc for testing with Java."
I can't find any doc regarding testing our code locally. I see that other tracks like Javascript have testing docs for each exercise.

[2015-09-02 07:39] vivekimsit commented on #2508
Adding some context here:

[code]

[code]

[code]

[code]
Also, I am VIM user and don't use eclipse at all.

[2015-09-02 08:00] vivekimsit commented on #2508
I did some research and set my `JAVA_HOME` to  `/usr/lib/jvm/java-8-openjdk-amd64/` now when I run test I get the following trace:
[code]

It seems that now tests are running and the error is because of the missing `etl` class. WDYT?

[2015-09-02 13:22] #2241 closed

[2015-09-02 13:23] kytrinyx commented on #2508
@jtigger Do you have an idea what's going on with this?

[2015-09-02 14:19] kytrinyx opened #2510 "Provide access to other solutions as soon as you've submitted?"
What do you think of simplifying so that you always can access other people's solutions to the exercise you've done, provided that you've submitted at least one iteration?

This would simplify things:

1. We don't have to have any sort of interface for "unlocking nitpicking"
2. The behavior for exercises on teams and elsewhere in the code is the same. No more special cases.

/cc @sguermond @mixoli

[2015-09-02 18:50] sguermond commented on #2507
I like this idea, but I think it would be good to explain somewhere why you can't see the code to other problems

[2015-09-02 18:51] sguermond commented on #2510
I think this would be especially valuable because you can see other conversations happening around the same problem and ask questions that could help you better refactor your code (ie. "Why did you do this? I'm not familiar with X syntax").

[2015-09-02 22:07] kytrinyx commented on #2510
OK, cool. I'll make this change, then.

[2015-09-02 22:08] kytrinyx commented on #2507
Agreed. We could put that at the bottom of the page.

[2015-09-02 23:42] kytrinyx opened #2513 "Icons on homepage too big?"
I suspect that the three icons in the middle of the homepage lost some styling.

![too-big-icons](https://cloud.githubusercontent.com/assets/276834/9647400/e980ee7a-5199-11e5-9736-eb6e9ce5d3ca.png)

[2015-09-03 00:07] kytrinyx opened #2514 "Ditch the suggestion on the dashboard?"
The code supporting the "have a moment?" part of the dashboard is incredibly complicated and expensive.

What do you think about ditching this for now, and then once we've simplified a bunch of things, think about how we can encourage people to talk to each other more?

![screen shot 2015-09-02 at 18 05 27](https://cloud.githubusercontent.com/assets/276834/9647734/4c1b5978-519d-11e5-8550-3c269b314

[2015-09-03 00:13] #2510 closed

[2015-09-03 00:29] sguermond commented on #2514
@kytrinyx do you have any usage data on it? If people don't use it then it's worth removing, but since it is the most obvious engagement driver on the site I would be reluctant to remove it before there's something else in the works to replace it.

[2015-09-03 01:04] kytrinyx commented on #2514
I have no clue what is being used and not. You're right. Let's leave it for now.

[2015-09-03 01:04] #2514 closed

[2015-09-03 01:05] #2500 closed

[2015-09-03 03:02] kytrinyx commented on #2507
Actually, let's not worry about the archive flag PR. That's going to take a while, I'll just resolve the conflicts on my end.

[2015-09-03 07:25] tejasbubane commented on #2413
@kytrinyx The code for processing markdown is same in both the cases [here is the preview](https://github.com/exercism/exercism.io/blob/master/lib/app/routes/comments.rb#L27) and [here is the submission](https://github.com/exercism/exercism.io/blob/master/lib/exercism/comment.rb#L12).

Also now I am not able to reproduce my specific case (in previous comment) on my localhost.

[2015-09-03 16:15] kytrinyx commented on #2413
That's an interesting twist. I wonder if the body is exactly the same in both cases, or whether it strips some whitespace or something in one of them.

[2015-09-03 16:32] sguermond commented on #2491
@StevenACoffman Are you able to edit the team now? I haven't played around with a very large team.

[2015-09-03 17:35] sguermond commented on #2488
@kytrinyx this issue is resolved, could you please close it?

[2015-09-03 20:21] jtigger commented on #2441
I'm inching the Java track toward the simplest interpretation: first two characters are uppercase digits; everything else is invalid (i.e. `[A-Z]`).

I think much of the learning surface area of this problem is in exploring the space-vs.-computing trade-offs; I don't immediately see how it adds to consider whether the first two characters in the name are uppercase/lowercase.

[2015-09-03 21:08] sguermond commented on #2469
Working on it, unless someone else already is.

[2015-09-03 21:40] Peque commented on #2469
@sguermond Cool! :blush:

[2015-09-03 23:17] kytrinyx commented on #2488
Yepp, thanks!

[2015-09-03 23:17] #2488 closed

[2015-09-03 23:18] kytrinyx commented on #2441
@jtigger agreed, I think just "calling it" is the right decision here.

[2015-09-04 03:06] cew821 opened #2517 "exercism fetch results in 404"
I just installed the CLI on OS X, which seemed to go fine. However, running

`$ exercism fetch` resulted in:

`Error fetching assignments. HTTP Status Code: 404`

[2015-09-04 03:23] cew821 commented on #2517
After some poking around, I realized that I had a very old version of the CLI installed, with no upgrade option. deleting it from from `username/bin/exercism` resolved the issue.

[2015-09-04 03:23] #2517 closed

[2015-09-04 06:09] vivekimsit commented on #2508
Hi, guys. Any solution? I am really waiting to get started :) . If needed I can provide you more logs. Thanks!

[2015-09-04 11:51] StevenACoffman commented on #2491
Yay! I am able the edit the team again! Thanks very much!
-Steve

On Thu, Sep 3, 2015 at 12:33 PM, Sarah Guermond <notifications@github.com>
wrote:

[2015-09-04 14:35] jtigger commented on #2508
Hey, @vivekimsit!

Sorry for the delay.

Looks like you're getting going!  In this first exercise, you're given the Etl class but it has no methods, yet.

One of the hard parts of getting started is parsing error messages.  In this case, the compiler is saying, "hey, you got this variable named 'etl' (oh, and it's an instance of the Etl class) and you're test code, here is trying to call a method

[2015-09-04 14:49] hkockerbeck opened #2518 "Menu offers to reopen submission that is still open"
To the best of my knowledge, my submission on RNA transcription in Ruby (http://exercism.io/submissions/57d51ca4e66240828be7fdef597ec273) is still open. I wanted to close it, but the "Manage" menu doesn't offer me that option. The menu only offers to "Reopen Exercise", "Hibernate" and "Delete". If I try to reopen the still open submission, I get the message that there's "No Such Submission".

[2015-09-04 15:10] kytrinyx commented on #2518
Thanks, I'll look into this.

[2015-09-04 15:13] kytrinyx commented on #2517
Cool, glad you got it sorted out.

[2015-09-04 15:13] #2491 closed

[2015-09-04 15:17] kytrinyx commented on #2518
OK, I checked and your submission is open. There's something very strange going on with the reopen command. I'll dig further into it today.

[2015-09-04 15:22] kytrinyx commented on #2518
I think I found the problem. I'm deploying a fix now. Would you mind checking this again?

[2015-09-04 15:26] hkockerbeck commented on #2518
I just successfully closed the submission. It's working fine now, thanks :)

[2015-09-04 15:38] kytrinyx commented on #2518
Excellent! Thanks for checking back so quickly.

[2015-09-04 15:38] #2518 closed

[2015-09-04 19:26] mixolidia commented on #2503
This all looks good for the short term.

[2015-09-05 01:14] kytrinyx commented on #2483
This has been fixed on master, and will be a part of the next release that we cut. https://github.com/exercism/cli/pull/215

[2015-09-05 01:14] #2483 closed

[2015-09-05 06:45] kytrinyx opened #2519 "List teams on dashboard instead of top navbar?"
What do you think of having the teams as a section on the dashboard instead of as a dropdown in the navbar?

/cc @mixolidia @sguermond

[2015-09-07 05:24] spazm commented on #2441
Thanks for the blog post walk through, @kytrinyx.

I've modified the rust test to require a name matching 'AB123': two uppercase ascii alpha + three ascii digits.  See exercism/xrust#47

[2015-09-07 05:46] spazm commented on #2439
I had the same issue as @BeggarsMattM .  Perhaps adding a little extra info to the suggestion to read the Crates and Modules section of the rust-book.

"""
You'll be writing a 'library crate'.  Code for a crate is stored within the `src/` subdirectory.  Library crates must contain at least a file named `lib.rs`.  If you were starting from scratch you could use `cargo new` to create the filestructu

[2015-09-07 15:24] kytrinyx commented on #2439
@spazm that looks great. Do you want to make the change to the docs repo? https://github.com/exercism/docs/blob/master/app/pages/languages/getting-started-with-rust.md

[2015-09-07 15:45] kytrinyx opened #2520 "Please check out the new exercises stream (prototype)"
@exercism/track-maintainers If you have a moment, would you mind checking out the new "inbox" style list of exercises that are active (open for feedback)?

http://exercism.io/tracks/assembly/exercises

Swap out `assembly` for a language that you actually use on exercism.

I haven't exposed this in the user interface yet, so it's a bit awkward to get to.

This is intended to replace the lists at `h

[2015-09-07 16:17] verdammelt commented on #2520
I like the intent of trying to get more conversation. I think that this might help. Certainly as a track maintainer I think it would help me make sure I've reviewed all/most of the new submission.

First thing I see is that I will need a 'mark all as read' button for each exercise and for entire tracks. At least in the beginning I don't want to go through clicking on everything to make sure it is

[2015-09-07 16:20] kytrinyx commented on #2520
I just wanted to add that since I started trying this out a couple of days ago, I discovered a person in the Ruby track who gives great feedback. That's a +1000 for this change.

Agreed.

Yeah, we should probably use mutes to migrate read/unread state (I forgot about that). The migration I did was based on whether or not people had commented.

[2015-09-07 17:08] kytrinyx commented on #2520
Is there a UX idiom for 'mark as read'?

[2015-09-07 17:28] kytrinyx commented on #2520
@verdammelt I've migrated muted to the read/unread.

[2015-09-07 18:02] verdammelt commented on #2520
Is it intentional that one's own submission would also be not marked as read? I noticed an old submission of mine with no comments - but looked like 'new'. I submitted it - doesn't seem like that should be 'new'.

[2015-09-07 18:21] kytrinyx commented on #2520
Your own submissions are supposed to be viewed. If you submit new iterations, it's marked as viewed, but I must have missed that in the migration. I'll fix that.

[2015-09-07 18:58] spazm commented on #2439
PR #170 submitted.

[2015-09-07 19:05] kytrinyx commented on #2439
Sweet, thank you!

[2015-09-07 19:06] kytrinyx commented on #2439
Awesome, I've merged it and am deploying the fix.

[2015-09-07 19:06] #2439 closed

[2015-09-07 19:17] spazm commented on #2439
woohoo! Thanks, I've been having a lot of fun with exercism.

[2015-09-07 19:25] kytrinyx commented on #2520
@verdammelt the views have been migrated on your own submissions where there are no newer comments.

[2015-09-07 19:46] kickinbahk commented on #2422
This is still confusing in my opinion.

The test says
[code]

The error that is being received makes you think that you need to create a class which gives this error
[code]

There is no easy way to search for what is being asked for (try googling exercism ::version or hamming::version) you mostly get this github ticket.

I did eventually figure it out by trying different options and eventually put

[2015-09-07 20:05] kytrinyx commented on #2422
Yeah, that's a good point. I'll add a comment to the failure in the test that explains about constants.

[2015-09-08 00:59] LegalizeAdulthood commented on #2520
Looks great! :smile_cat:  As a track implementer, I haven't had time to review all the submissions personally, but now I can really see how people are using the track and that's very useful to me.  I never liked the "hibernating" thing anyway, because I wanted my solutions to be permanently posted for people to compare against their attempts.

[2015-09-08 02:19] wobh commented on #2520
I was going to comment earlier, but I got distracted reading code. I think that means it's okay.

[2015-09-08 05:09] jtigger commented on #2520
I jus want to say again how delighted I am by this move.  It is such a better UX: it's light on concepts, organizes the data in the way I think about it (email inbox is a very congruent metaphor), and most importantly I am instantly feeling much more aware of the activity in the community.

A few more touches that outright connect people (e.g. personally managed lists of other exercists) will invi

[2015-09-08 05:23] jtigger commented on #2520
I'm wanting to know what that last activity was and by whom:

"Nitpicked by @jtigger just now."
"Submitted Iteration #4, 2 hours ago."

[2015-09-08 05:27] jtigger commented on #2520
I love the per-track count of submissions.

[2015-09-08 05:36] jtigger commented on #2520
Would it be a positive feedback loop if a given submission was marked as "attracting attention", "drawing participation", "engaging conversation"? (one devil head / two devil heads slightly overlapping / three devil heads horizontally offset)

Each time "last activity" is updated, if it has been less than a couple of days, the submission gets a bump up.  if it has been more than a couple of days,

[2015-09-08 07:22] rchavarria commented on #2520
I agree with @jtigger, it would be awesome if last activity were more detailed.

I also miss the number of Nits and Revisions for each item. As an exercism.io user they usually helps me to find submissions (generally old ones) that are worth reviewing for learning. For example, a submission with one revision and zero nits means it probably isn't very interesting. But a submission with 4 revisions

[2015-09-08 11:12] jmluy commented on #2472
Fixed in exercism/docs#162

[2015-09-08 14:53] kytrinyx commented on #2520
I'll add the iteration count (that's easy).

More information about the last activity might more tricky in terms of implementation, unless we simply store a text string in the database (dirty, but it would get us there quickly).

I'm not sure about the feedback loop--it might be. I don't know how we would weight the sorting without using something like elasticsearch, though. I'd rather not go ther

[2015-09-08 14:59] #2472 closed

[2015-09-08 14:59] kytrinyx commented on #2472
thanks!

[2015-09-08 16:46] kytrinyx commented on #2520
I've decided to go with the low-cost hack that just saves a string to describe the most recent activity. This means that if someone changes their GitHub user name the explanation will be wrong, but I think that's fine.

When we implement the proper activity feed described in #1899 then this will be implemented in a less dirty/hacky way.

[2015-09-08 20:47] kytrinyx commented on #2520
I've implemented "mark as read" both at the exercise, problem (track+slug), and track level.

[2015-09-08 20:56] kytrinyx commented on #2520
@sguermond @mixolidia I forgot to cc you on this thread.

[2015-09-08 21:59] Peque opened #2521 "Font size perhaps too big in <blockquote>"
I think the quoted text should have similar (if not the same) size to the rest of the text in the nitpicks. See the image bellow:

![blockquote](https://cloud.githubusercontent.com/assets/526577/9746744/ef132f9e-5679-11e5-9808-aab8568d1817.png)

Instead, it could be a little gray and/or in italics and/or with a different background color.

Examples
========

Font resized only
----------
![00](http

[2015-09-08 22:23] kytrinyx commented on #2521
Thanks, @Peque - I'm marking it as a bug.

[2015-09-08 22:36] kytrinyx commented on #2520
I've added the comment count and iteration count. Deploying now.

[2015-09-09 01:12] #1165 closed

[2015-09-09 01:13] searls commented on #1165
Yay!
On Tue, Sep 8, 2015 at 21:12 Katrina Owen <notifications@github.com> wrote:

[2015-09-09 02:57] kytrinyx commented on #2520
I'm migrating the last activity description now.

[2015-09-09 03:05] kytrinyx commented on #2520
Holy smokes I love seeing what the last activity was. Especially when you look down and see X commented just now. X commented a few minutes ago. X commented an hour ago. Y commented two hours ago. X commented two hours ago.

Like... Who is this X person who's giving all this feedback?

[2015-09-09 03:08] yeion7 opened #2522 "Problem with visualize - python sintax"
![screenshot from 2015-09-08 22-06-48](https://cloud.githubusercontent.com/assets/9127504/9752459/1b0af734-5676-11e5-8aad-e5f46859b2e6.png)

[2015-09-09 07:46] Peque commented on #2521
@kytrinyx I agree. Just for the record:

[code]

Perhaps it should be added in [`comment.css`](https://github.com/exercism/exercism.io/blob/master/lib/app/public/sass/base/components/comment.scss)? (inside the `.comment {}` section)

[2015-09-09 09:51] eigengrau opened #2523 "UTF-8 interpreted as ISO-8859-1 on submissions page"
My submissions for Haskell exercises contain a fair deal of non-ASCII characters. Thus far, the site always rendered the submissions adequately (even if the Haskell syntax highlighter worked very poorly for such files). However, I just submitted another exercise (in UTF-8 encoding), but the site renders the code as if it were ISO-8859-1, resulting in Mojibake.

E.g., the character `α` is shown as

[2015-09-09 14:30] edescourtis commented on #2523
Interesting I looked at the HTTP headers and HTML it seems to be served as UTF-8 so the mistake must be somewhere else. Perhaps in the submission tool.

[2015-09-09 14:52] kytrinyx commented on #2521
That sounds reasonable :)

[2015-09-09 14:55] kytrinyx commented on #2521
It worked. Deploying now. Thanks!

[2015-09-09 14:55] #2521 closed

[2015-09-09 14:57] kytrinyx commented on #2523
I don't recall how we are doing this, but your suspicion sounds right. Thanks for reporting this.

[2015-09-09 14:58] kytrinyx commented on #2522
Thanks for reporting this. I think I saw a related bug with doc comments in one of the other languages as well.

[2015-09-09 17:03] kytrinyx commented on #2520
Thanks for your feedback everyone.

[2015-09-09 17:03] #2520 closed

[2015-09-09 17:04] kytrinyx opened #2524 "Deleting a submission doesn't update exercise correctly"
We need to make sure that the following fields are correct:
- `iteration_count`
- `last_activity`
- `last_activity_at`
- `last_submission_at`

[2015-09-09 23:44] sguermond commented on #2519
Yeah, that makes sense. I think the dashboard needs to be even more of a central place, and the navbar gets cluttered/doubled up on smaller screens (before it jumps to mobile mode).

[2015-09-09 23:48] sguermond opened #2525 "Rename "Exercises""
There are currently two navigation items called "Exercises" going to two different things.

![Exercise links](https://raw.githubusercontent.com/sguermond/images/master/exercism-exercise-menu.png)

One goes to the new inbox feature, replacing the Nitpick/Pending page, and the other one goes to the user's Exercise page aka profile page other people can see.

These should be renamed in a way that bet

[2015-09-09 23:51] sguermond commented on #2506
On the one hand it's nice to see that someone else is looking at your solution, on the other hand a better metric of how much attention your solution is attracting is the number of nitpicks. Since you can't see views anywhere besides the actual page, I don't think it's a necessary feature.

[2015-09-10 00:52] kytrinyx commented on #2525
How about "Your Exercises" for the one in the dropdown?

[2015-09-10 00:53] kytrinyx commented on #2506
Agreed. Let's take it out.

[2015-09-10 00:54] kytrinyx commented on #2519
Yeah, it would be fantastic to get rid of some of the stuff in the navbar!

[2015-09-10 00:57] mixolidia commented on #2519
Yeah, a teams section in the dashboard makes sense. We were just talking the other day how the nav bar is super crowded.

[2015-09-10 01:04] kytrinyx commented on #2519
Maybe we can also use the "bell" icon like GitHub does for the notifications, instead of having the whole word there.

[2015-09-10 01:26] mixolidia commented on #2519
Yeah, that would be nice!

[2015-09-10 01:31] mixolidia commented on #2519
Font-Awesome also has a little bullhorn. So just swap out the word with the bell and leave the counter.

[2015-09-10 02:18] wobh commented on #2519
What accessibility concerns need to be addressed to use an icon?

[2015-09-10 02:44] kytrinyx commented on #2519
Tooltips, I think.

[2015-09-10 14:30] metadave commented on #2486
Specifying that the numbers are below 15 and then including 15 in the list is confusing in your fix above:

        If we list all the natural numbers below 15 that are multiples of either
        3 or 5, we get 3, 5, 6 and 9, 10, 12, and 15.

[2015-09-10 14:33] kytrinyx commented on #2486
Good catch, @metadave, thanks. I've updated it here: exercism/x-commo@f09bccc

[2015-09-10 16:58] #2506 closed

[2015-09-10 16:58] kytrinyx commented on #2525
Actually, let's call it "Profile".

[2015-09-10 17:03] sguermond commented on #2525
I like Profile.

However, I think that by removing all mention of Nitpicks (or whatever they end up being renamed as), it is hard to see what Exercises leads to, and someone unfamiliar with the site who is searching for a way to review others' code might not realize that Exercises is the link they are looking for. I think it should still be named Nitpick.

[2015-09-10 17:05] kytrinyx commented on #2525
I think that it would be better to name things after what they are (a list of exercises) rather than what we want you to do (comment).

How about "Solutions" instead of "Exercises"?

[2015-09-10 17:25] #2507 closed

[2015-09-10 17:26] kytrinyx opened #2526 "Remove your exercises from the account, leaving them only in the profile"
Right now we put your exercises in two places, which seems unnecessary.

@sguermond You're in the middle of working on some of this code (#2469). What do you think?

[2015-09-10 17:28] kytrinyx commented on #2525
I've renamed the one in the dropdown to "Profile", but I'm leaving this open so we can find a good name for the other nav item.

[2015-09-10 17:29] sguermond commented on #2526
I totally agree. The account exercises are redundant.

[2015-09-10 17:31] sguermond commented on #2507
That looks great! Very intuitive.

[2015-09-10 17:41] kytrinyx commented on #2526
Cool, do you want to take them out, or should I?

[2015-09-10 17:41] sguermond commented on #2526
I can do it since I'm fiddling around with the code anyway.

[2015-09-10 17:50] kytrinyx commented on #2526
cool!

[2015-09-10 21:54] sguermond commented on #2469
I am having a lot of trouble with this. I've tried multiple solutions in JavaScript, but am not seeing any changes. The only way I can get the hashes to show up in the URL is by removing `data-toggle`, which prevents the active tabs from changing. Can someone help me out?

[2015-09-11 02:50] kytrinyx commented on #2469
@exercism/track-maintainers any chance any of you have javascript experience?

[2015-09-11 04:12] aarti commented on #2469
could you point me to the source? I can try.

[2015-09-11 06:44] mandel01 opened #2527 "Dashboard is recommending that I nitpick Ruby exercises I have not completed (and I can access those users' solutions)"
The new dashboard is fantastic!! For a number of weeks it has been working very well. Tonight I noticed that it recommended I nitpick a Ruby exercise, but I have only completed Python exercises. When I clicked on the exercise it took me to their solution (not just the test). In case it helps with troubleshooting, it showed me both exercises that I had completed in Python (e.g., bob) and ones I had

[2015-09-11 15:34] kytrinyx commented on #2527
Ah, thanks for the heads up. I broke this yesterday. I'll fix it today!

[2015-09-11 15:36] kytrinyx commented on #2469
@aarti it's this page: https://github.com/exercism/exercism.io/blob/master/lib/app/views/account/show.erb

[2015-09-11 15:39] kytrinyx commented on #2527
OMG. I found the bug. It's super embarrassing... I hard-coded my own user-id to experiment with the query in production, and then when I copy/pasted it into the codebase I forgot to replace it with the current user's id. I'm pushing up the fix now.

[2015-09-11 15:40] #2527 closed

[2015-09-11 16:41] mandel01 commented on #2527
That is really funny. So, not a sly way to get more people into Ruby then ;)
The mouseover on "Why Github?" looks good in this version too!

[2015-09-11 17:55] kytrinyx commented on #2527
Awesome! Yeah, definitely not a sly way of getting people into Ruby. Thanks again for reporting this so quickly.

[2015-09-11 18:22] sguermond opened #2528 "Recently viewed exercises missing"
Changing from "looks" to "views" removed the "recently viewed" functionality on the dashboard and in `/looks`. I get a 404 when looking at '`/viewed'.

[2015-09-11 18:37] sguermond commented on #2279
@mixolidia and I are working on this!

[2015-09-11 19:45] kytrinyx commented on #2528
I added the recently viewed functionality on the dashboard when I removed the looks, and it was working locally. I'll look into what's going on in production. `/exercises/viewed` isn't implemented it. I started to, but then got distracted.

[2015-09-11 19:49] #2528 closed

[2015-09-11 19:50] kytrinyx commented on #2528
Found it. Pushing the fix now. Thanks for catching it!

[2015-09-11 19:55] sguermond commented on #2528
Hooray! :D

[2015-09-12 00:10] mixolidia opened #2529 "Couldn't find that user message showing on clicking exercises for user with no submitted exercies"
When a user with no submitted exercises clicks on 'exercises' on the nav bar, a 'Couldn't find that user.' message pops down. It should probably read 'You haven't submitted any exercises yet.'

![screen shot 2015-09-11 at 4 52 38 pm](https://cloud.githubusercontent.com/assets/6855556/9828818/191e423a-58a8-11e5-9561-bd46d8bfd383.png)

[2015-09-12 01:36] kytrinyx commented on #2529
It's not supposed to show up for users with no exercises. I'll check what's going on.

[2015-09-12 01:37] sguermond commented on #2526
@kytrinyx can you close this?

[2015-09-12 04:01] kytrinyx commented on #2526
yepp, thanks!

[2015-09-12 04:01] #2526 closed

[2015-09-12 17:03] kytrinyx commented on #2529
Fixed in f19f73fb8f1ebe5f1b6274aea06fb3fadf85a9fe, deploying now.

[2015-09-12 17:03] #2529 closed

[2015-09-12 20:46] jackwilsonv commented on #1777
Commenting here for people that run into this error in the future (or today like me)...

If you jumped the gun like I did and fetched the whole language repo directly from github instead of using the exercism CLI client you may run into this error. I recommend removing the entire directory and using `exercism fetch` like they suggest on exercism.io. After doing that, I haven't had any issues submi

[2015-09-13 00:10] kytrinyx commented on #1777
Changing the dir name would work, provided that you configure your exercism client to recognize the parent directory of the repo as the base. E.g.:

[code]

[2015-09-13 00:34] kytrinyx opened #2531 "Change strategy when showing member exercises on team page"
Right now the team page:

- selects submissions (a.k.a. iterations) rather than exercises
- uses the submission.state to select what to show
- lets team managers see all exercises

Instead, let's select exercises, and not give team managers special access.

[2015-09-13 01:19] wobh commented on #2531
Do we need a schema of privileges and roles? Interfaces for changing them?

- add-remove users to teams :: "team manager"
- view exercises for a team :: "team mentor"
- add-remove privileges to team members :: "team admin"

A similar arrangement could be in place for language tracks such that privileges apply to the scopes.

The separation gives flexibility but likely most teams will have one or t

[2015-09-13 01:25] kytrinyx commented on #2531
Probably, but we haven't done the user interviews to see how people are using teams yet, so I don't want to complicate matters without first having a solid reason to do so.

[2015-09-14 02:32] kytrinyx opened #2532 "Clean up terminology"
Now that we have a better grasp on what exercism is and how people are using it, I'd like to suggest that we clean up the terminology. Here are the things that we need to name:

- the set of challenges in a given programming language
- an individual challenge within a set (i.e. in a given programming language)
- the set that represents all the code submitted by a particular user for a given challe

[2015-09-14 15:47] ianynchen opened #2533 "exercism submit generates a 400 error"
when i submit a file, exercism always says: unable to submit (HTTP: 400) - unknown problem (track: go, slug: src, path: ), version is 2.2.1,

exercism debug output:

**** Debug Information ****
Exercism CLI Version: 2.2.1
Exercism CLI Latest Release: 2.2.1
OS/Architecture: darwin/amd64
Build OS/Architecture /
Home Dir: /Users/ianynchen
Config file: /Users/ianynchen/.exercism.json
API Key: 9d2f****

[2015-09-14 18:37] amar47shah commented on #2532
+1 for standardizing domain concepts!

[2015-09-14 19:36] masters3d commented on #2471
@Avizacherman

[2015-09-14 20:51] kytrinyx commented on #2471
I'll close this, and if there's still a problem, feel free to re-open it.

[2015-09-14 20:51] #2471 closed

[2015-09-14 20:54] kytrinyx commented on #2533
What was the `pwd` when you were submitting, and what was the actual command to submit?

[2015-09-14 23:03] mixolidia commented on #2532
This looks good, still thinking about a good term for the language tracks.

[2015-09-14 23:12] kytrinyx opened #2535 "CLI Installation Guide"
**This issue is a UX, design, and front-end task**

Right now getting the command-line client installed is incredibly confusing, and the documentation and troubleshooting guides are all over the place.

It would be absolutely lovely if we could have a "CLI installation guide" that would guide you through each step of installing and configuring the binary.

The suggestions below are just that--a st

[2015-09-14 23:15] kytrinyx commented on #2480
I've added the label "future roadmap", and am closing the issue. When we have more resources, we'll be looking at all the various "future roadmap" issues to choose which ones to work on.

Thanks for the suggestion!

[2015-09-14 23:15] #2480 closed

[2015-09-14 23:18] kytrinyx commented on #2299
I'm going to close this issue, since we have the language landing pages (and the "about" section is in a pull request). I'll open a new issue with some thoughts around expanding them.

Thank you all :heart: :heart: :heart:

[2015-09-14 23:18] #2299 closed

[2015-09-14 23:31] kytrinyx opened #2536 "Language Landing Pages (the advanced edition)"
**This is a UX, design, and front-end task.**

At the moment we have a drop down in the top nav bar with a list of all the languages that we have exercises for. The page itself has a quick intro about the language, a list of the available exercises, and a link to the (off-site) documentation about how to get started in that language.

It would be fantastic to have each page be rich, helpful, and e

[2015-09-14 23:41] kytrinyx opened #2537 "Homepage Redesign"
**This is a UX, design, and frontend task**

We like the current branding, it has a certain playfulness, but at the moment the homepage leaves users with more questions than answers.

Here's what I think we probably need:

1. give users an idea about what exercism is
1. make it clear who it is for (if you don't know any programming at all, you're going to need to learn a bit first, since exercism

[2015-09-15 00:33] wobh commented on #2532
I like "tracks". I think of the more like "track and field" type tracks, so there's that.

[2015-09-15 02:03] amar47shah commented on #2537
For point #2: In addition to needing some programming experience, exercism users will need a basic familiarity with the command line.

For point #4: Often, I think one way to explain exercism (to intermediate and above coders) is to compare it to source control, i.e. when you "exercism submit," it's like committing and pushing in git. There's now a mile marker for your progress, and others can acc

[2015-09-15 11:54] amar47shah commented on #2532
One advantage of "submission" over "iteration" is that it's more natural when you could use a verb form:

"Here is a list of exercises you have fetched but not submitted."
vs.
"Here is a list of exercises you have fetched but don't have iterations for."

[2015-09-15 13:49] kytrinyx commented on #2537
Yeah, about point 2 I think you're right. For point 4 I would rather stay away from the VCS metaphor for a couple of reasons, the first being the one you mentioned: Jargon. This could be offputting if you don't have familiarity with source control. The second is that the implementation model is very different from git, and I don't want people to get ideas about the process that are misleading.

[2015-09-15 13:50] kytrinyx commented on #2537
This issue has been claimed by a small group working on UX and product design: @jtigger, @jenndodd, @mixolidia, @sguermond, and myself.

[2015-09-15 13:52] kytrinyx commented on #2532
@amar47shah that's an interesting point. I wonder if we can say "submitted iterations". Exercises and Solutions also don't have verb forms. It might not be a problem.

[2015-09-15 14:09] amar47shah commented on #2532
Well, "solve" would be the verb form for solution.

How about **Attempt** instead of Iteration?

I think there's a need both in the code and in the UI to talk about things like "attempted solutions." The verbal adjective is handy for this. IMO, "iteration" is also a bit computer-y, which could be alienating for some newbies.

[2015-09-15 15:19] wobh commented on #2532
"Trial" would be apropos. There's even three parties: the submitted code, the tests, and peanut gallery of nitpickers. The common connotations of that word probably aren't great for the community. I often feel a misplaced sense of authority when I make comment, that I try to combat various ways, I've seen others struggle with the same. Commenters/nitpickers serve more like the Chorus of a Greek pl

[2015-09-15 15:20] ianynchen commented on #2533
my exercise path is ~/exercism, the project path is ~/exercism/go/src/leap, so is pwd, and i used exercise submit leap.go and exercise submit ./leap.go both with the same error HTTP 400

[2015-09-15 16:09] kytrinyx commented on #2532
The thing I don't like so much about attempt is that it sounds like you're not good enough. _I tried, but failed._ We do have _attempt_ in the code base (along with submission, iteration, exercise, problem, track, language, comment, nitpick, etc, etc, etc... too many different words all trying to describe the same small set of ideas!)

[2015-09-15 16:09] kytrinyx commented on #2532
Oh, yeah. "Solve". But it doesn't feel right. Solve sounds like you're solving a problem or an equation. Which suggestions that solution is _not_ the right word.

[2015-09-15 16:09] sguermond commented on #2532
I like attempt more than trial because the latter makes it sound like you are going to be judged, but attempt doesn't quite cut it like Katrina said. I have a solution, I'm not attempting to make one.

[2015-09-15 16:11] kytrinyx commented on #2533
Ah, the path is expected to be `$EXERCISM_DIR/$LANGUAGE/$PROBLEM`, so `~/exercism/go/leap`.

If you say `exercism fetch go leap`, it will put the problem in the expected place.

[2015-09-15 16:11] kytrinyx commented on #2533
I'm going to close this issue, but feel free to re-open it if this doesn't resolve your issue.

[2015-09-15 16:11] #2533 closed

[2015-09-15 16:11] sguermond commented on #2532
I really like iteration because it doesn't suggest that the first solution wasn't valid, just that you can redo the problem and learn from it.

[2015-09-15 16:12] kytrinyx commented on #2532
Does iteration sound offputting? I didn't realize this was computerese.

I really like iteration in that it suggests that there will be several, and that each iteration is likely to be an extension of the previous one.

[2015-09-15 16:36] amar47shah commented on #2532
I like iteration for the same reasons, but I think new citizens of Computery are likely to use a word like "version" to describe the same concept.

What about using **Solution** to describe the iteration/attempt/submission? Perhaps we can keep *UserExercise*, but as a back-end concept only?

[2015-09-15 17:37] ianynchen commented on #2533
well that solved my problem. thank you very much

[2015-09-15 17:51] sguermond opened #2539 "Inbox floods recently viewed page"
There should be a distinction in the database between views from "mark as read" and actual views. I have 344 pages in my recently viewed and it's hard to find something I actually looked at.

![exercism recently viewed](https://raw.githubusercontent.com/sguermond/images/master/exercism-recently-viewed.png)

[2015-09-15 18:17] sguermond commented on #2535
+1 for all of the above.
It should be front and center for first time users, and easily findable for users who want to install it on a new computer.

[2015-09-15 18:21] sguermond commented on #2536
The basics:
- info about that language. What's specific about that language? What is it used for? Who uses it?
- exercism stats: how many problems, how many users on that track, average number of comments per exercise
- link to outside resources for basic syntax (if someone is interested in a language but doesn't know it yet)
- installation basics
- testing basics

Next level:
- contribution info

[2015-09-16 16:57] kytrinyx commented on #2532
Oooh, I like _versions_ as a concept.

The reason I would like to have both the _exercise_ and the _version_ as concepts that we talk about is that we want to talk about doing _Leap in Python_, without having to refer to individual versions.

[2015-09-16 17:05] kytrinyx commented on #2539
We could have a separate table (perhaps called `watermarks`) where we have:

- user_id
- marked_at
- language
- slug

Then if someone says "mark as read" we can add an entry for the correct language/slug. If they say "mark as read" for everything in a track, then we can add a record for each of the language/slug combinations that they have access to.

This would add another join, but since we're a

[2015-09-16 17:07] kytrinyx commented on #2536
I completely agree about the contribution guidelines being completely separate.

We could have some small thing at the bottom saying "Interested in helping make the Python track better?" with a link. That way we make it obvious that you can contribute, but we don't mix it with the rest.

[2015-09-16 17:21] MartinDelille opened #2540 "Next submission button goes to 404 pages"
I submit [my code](http://exercism.io/submissions/7ac3b1612df143bb8e86ace58fbf464d) for an exercice and wanted to see other submission by clicking the *Next submission* button and I got this 404 page: http://exercism.io//exercises/ (notice the double slash).

[2015-09-16 19:36] kytrinyx commented on #2540
It looks like there is a missing segment.

This works for me, and I'm not sure what's different in your case.

Question: have you ever gone to the "Exercises" link in the nav bar? If not, that could be it... it wouldn't know where to link you to next. I will have to try that out locally.

[2015-09-17 00:46] amar47shah commented on #2532
Along the lines of **Version**, how about **Draft**?

[2015-09-17 02:21] kytrinyx commented on #2532
Draft suggests that it's unfinished and waiting to be edited. That's not really the case. It's an iteration, which you may or may decide is done.

[2015-09-17 09:17] MartinDelille commented on #2540
No and since I tried that the problem is fixed...

[2015-09-17 17:27] kytrinyx commented on #2540
OK, cool, that narrows it down! Marking as a bug. Thanks :)

[2015-09-20 09:01] eigengrau commented on #2523
I’ve come across this in one further submission now, though I still can’t make out what triggers this. The files all validated as UTF-8. As a work-around, I’ve found that adding a BOM will stop submissions from being read as Latin-1.

[2015-09-20 21:52] ekse commented on #2487
+1 for email notifications.

[2015-09-21 00:46] kytrinyx commented on #2523
Thanks for the additional details.

[2015-09-21 11:07] tejasbubane commented on #2524
Do we have any related issues which elaborate the problem?

I was looking to fix this but the `update` code [here](https://github.com/exercism/exercism.io/blob/master/lib/exercism/use_cases/updates_user_exercise.rb#L11) seems correct. It is called from [here](https://github.com/exercism/exercism.io/blob/master/lib/exercism/use_cases/unsubmit.rb#L22).

[2015-09-21 15:54] kytrinyx commented on #2524
No, I just noticed this when messing around. I'll try to come up with reproduction steps, and if I can't we can close the issue.

[2015-09-22 04:09] patrickbeeson opened #2545 "Error parsing API response"
When fetching new exercises via the CLI:

`>> exercism fetch`
`Error parsing API response: [invalid character '<' looking for beginning of value]`

[2015-09-22 04:14] patrickbeeson commented on #2545
Removed and installed the latest version. That fixed it.

[2015-09-22 04:14] #2545 closed

[2015-09-22 14:01] tejasbubane opened #2546 "exercism fetch should not give hello-world if I already have submitted for the language"
When I do `exercism fetch ruby` and don't have `hello-word` directory, the `cli` will fetch back `hello-world` along with a new exercise.

eg.
[code]

I think `hello-world` should be fetched only if I am new to the language and have not submitted any assignment for that language.

[2015-09-22 15:12] kytrinyx commented on #2546
Yes, I agree. Thanks!

[2015-09-22 15:12] kytrinyx commented on #2545
Glad you got it sorted!

[2015-09-23 10:40] tejasbubane commented on #2546
Is it ok if we make `exercism.io/api/v1/exercises/<language>` return `hello-world` only if user has zero submissions in the language? That way `x-api` will not return it to the `cli`.

[2015-09-23 14:32] kytrinyx commented on #2546
Yeah, that would be fine. Or we could add logic to the x-api progression to exclude hello-world if there are other problems that are solved.

[2015-09-24 01:02] #2546 closed

[2015-09-24 01:06] kytrinyx commented on #2420
I believe this is fixed. Closing, but please re-open it if you are still seeing weird behavior!

[2015-09-24 01:06] kytrinyx commented on #2525
@sguermond how about "Profile" vs "Activity"? We might have to re-think "Activity" on the dashboard, though.

[2015-09-24 18:11] sguermond opened #2548 "Allow nitpicking after first submission"
We currently hide the Exercises tab until users have submitted something after Hello World, but I think it would be less discouraging if they were able to explore the commenting function as soon as they first submit something. Keeping the Hello World out of exercises also reduces the number of people commenting on them, which means that new users might never get someone commenting on theirs and mi

[2015-09-24 19:13] kytrinyx commented on #2548
We never intended for people to comment on Hello World. Rikki warns people that this is the case. If we add hello world then there will be a bajillion hello worlds, which I don't think adds any value. The exercise is only there to validate that you've gotten your environment set up, and it's much more interesting to solve a real problem.

[2015-09-24 19:59] sguermond commented on #2548
Just found the rikki quote:

Guess I skipped over reading that. Maybe something to keep in mind during the redesign is leaving plenty of signs saying that Hello World is only a test.

[2015-09-24 20:15] kytrinyx commented on #2548
Yeah, agreed.

[2015-09-24 22:43] mixolidia commented on #2259
Was thinking of getting the beta banner to stick to the bottom of the page or the top left. I think we talked about this before.

Reading this I think making it smaller and putting it on the top left would be a good idea. What do you think?

[2015-09-24 23:21] kytrinyx commented on #2259
How about just deleting it? We don't make any promises, we can say beta in small in the footer.

[2015-09-25 02:20] mixolidia commented on #2259
Yes, good idea.

[2015-09-25 02:44] mixolidia commented on #2259
Hi @kytrinyx
Done, in pull request [#2552](https://github.com/exercism/exercism.io/pull/2552"PR#2552").

cc: @sguermond

[2015-09-25 04:50] #2259 closed

[2015-09-25 16:35] remcopeereboom opened #2553 "Font size for quote when nitting."
I'm glad some one changed the quotes to be less screamy, but when writing a nit (i.e. in the editor preview), the quote font size is still large and ink black instead of the new smaller and light grey posted quotes.

I looked up the values for the [comment blockquote](https://github.com/exercism/exercism.io/blob/d94c82cb5e7571341d9977a5dedd97916406fedc/lib/app/public/sass/base/components/comment.s

[2015-09-25 16:46] kytrinyx commented on #2553
Thanks! I've been kind of hacking away at the front-end, and I don't actually know front-end development, which is why we're in this muddle. Maybe @mixolidia and @sguermond know how the imports work and could take a look at it.

[2015-09-25 19:28] #2464 closed

[2015-09-25 19:41] sguermond commented on #1389
This is taken care of by the new inbox feature #2503.

[2015-09-25 19:43] kytrinyx commented on #1389
Oh, that's right. Thanks. Closing.

[2015-09-25 19:43] #1389 closed

[2015-09-25 19:44] kytrinyx commented on #1389
Well... on second thoughts, kind of. It doesn't show how many don't have nitpicks at all. @pminten have you checked out the inbox feature? Do you still feel like there's a filter missing or a count of how many people don't have any comments at all?

[2015-09-25 20:39] masters3d opened #2555 "Add SwiftLang Logo"
![alt text](https://developer.apple.com/assets/elements/icons/128x128/swift_2x.png)

https://github.com/exercism/exercism.io/blob/919c42b8b2bbcea851e760693df407523a8b302d/lib/app/public/sass/base/components/main.scss

[2015-09-26 15:59] kytrinyx opened #2559 "Exclude 'hello-world' from five a day feature"
![screen shot 2015-09-26 at 9 58 47](https://cloud.githubusercontent.com/assets/276834/10118438/3d579cb2-6435-11e5-9764-4f9a39693169.png)

/cc @mixolidia @sguermond

[2015-09-26 16:18] mixolidia commented on #2559
ok

[2015-09-26 23:00] #2559 closed

[2015-09-27 09:13] pminten commented on #1389
Looks good to me now.

[2015-09-28 15:03] kytrinyx opened #2561 "5-a-day should not include archived exercises"
I should have caught this when reviewing, so sorry!

The 5-a-day feature is currently showing archived exercises, and it links to submissions that may not be the most recent iteration.

We should be selecting exercises, not submissions, which would make it fairly straight-forward to exclude exercises that have been archived.

/cc @mixolidia @sguermond

[2015-09-28 15:27] kytrinyx opened #2562 "Archived is not the same as "done""
We've moved to archived/active on the exercise level, rather than "done" on the submission level, but the submission page still uses a checkmark on the most recent iteration.

We should change this to have something up above the iteration tabs that show that it's archived.

![screen shot 2015-09-28 at 9 25 59](https://cloud.githubusercontent.com/assets/276834/10140079/16b18fa2-65c3-11e5-8c98-44c7e

[2015-09-28 17:09] #2548 closed

[2015-09-28 17:29] bmulvihill commented on #2561
Hey @kytrinyx I was checking out the 5 a day feature, its pretty neat!

I noticed what you mentioned above, specifically the 5 day not bringing you to the latest iteration.
I also noticed that we are only provided exercises which have already been commented on.  Is this the desired behavior?

[2015-09-28 18:51] sguermond opened #2563 "Reactivating an exercises redirects to homepage"
It should probably redirect to the exercise instead.

[2015-09-28 18:57] sguermond commented on #2561
@bmulvihill This shouldn't be happening, thanks for letting us know.

@kytrinyx working on it!

[2015-09-28 19:55] sguermond commented on #2561
So there is a small issue: we check that someone hasn't commented on an exercise by joining with the comments table. However, by joining with the comments table we de facto exclude all 0-comment exercises, and SQL does not allow conditional joins as far as I know (ie. check user id of comments if nit count > 0). @kytrinyx what are your thoughts on this?

I lean towards taking the risk that someone

[2015-09-28 20:02] bmulvihill commented on #2561
@sguermond I think I have a solution, by left joining on the comments table and then change the WHERE clause statement to
[code]
This should pull in exercises with no comments. I can submit a PR if you want

[2015-09-28 20:39] kytrinyx commented on #2561
Yeah, left joins will work. They're also very, very slow. We might have to do it in a couple passes like we do in the inbox.

[2015-09-28 20:39] kytrinyx commented on #2563
Yeah, definitely.

[2015-09-28 22:56] sguermond commented on #2279
This is implemented in #2550

[2015-09-29 03:47] kytrinyx commented on #2279
Yepp, thanks!

[2015-09-29 03:47] #2279 closed

[2015-09-29 18:22] brannj opened #2567 "Deleting a submission redirects to root page rather than dashboard"
When deleting a submission it redirects to the root page so that you must re-navigate to the dashboard to confirm submission deletion and continue browsing the dashboard.

[2015-09-29 18:54] kytrinyx commented on #2567
Yeah, that's no good, thanks for the heads up!

[2015-09-29 18:55] #2567 closed

[2015-09-29 18:55] kytrinyx commented on #2567
Deploying the fix now. Thanks again!

[2015-09-29 18:59] #2563 closed

[2015-09-29 19:30] brannj commented on #2567
Thanks!

On Tue, 29 Sep 2015 at 11:55 Katrina Owen <notifications@github.com> wrote:

[2015-09-29 20:48] chinaowl commented on #2513
They are especially big in mobile:

![image](https://cloud.githubusercontent.com/assets/2628718/10177700/63b53e28-66b0-11e5-8189-ac0a6cbfa8a1.png)

I only just discovered this project, but I'd like to take a look at this issue.

[2015-09-29 20:57] kytrinyx commented on #2513
OMG, that's impressive :)

I actually have no idea how big they are... if you mess with it, I would just say "try something that seems good to you".

[2015-09-29 22:01] chinaowl commented on #2513
I figured out the problem. An extra `</div>` caused a lot of styles to be lost. The pull request is here: https://github.com/exercism/exercism.io/pull/2568

[2015-09-29 23:14] kytrinyx commented on #2513
Merged and deploying. Thanks!

[2015-09-29 23:14] #2513 closed

[2015-10-01 06:38] kickinbahk commented on #2532
I know that I am new here, but when talking about exercism to others I always refer to the hierarchy as:

Track (Ruby) -> Exercise (Hamming) -> Iterations -> Iteration

While yes, *"iteration"* is computerese, you gotta learn it sometime. You already state that you need to have some experience before digging into exercism, so I feel like it shouldn't be too off-putting. Additionally, I would think

[2015-10-01 10:19] AlexeyNikolaev opened #2569 "acer"

[2015-10-01 10:20] #2569 closed

[2015-10-01 16:14] kytrinyx commented on #2532
@kickinbahk Thanks for jumping in here, this is exactly the kind of feedback we need.

I think you're right about _iteration_ being jargon that we can use, especially if we introduce it well.

I really want to have a singular word for a user's solution to an exercise which has a bunch of metadata, plus a collection of iterations. I don't know yet if "solution" would work. This might be just a word

[2015-10-01 16:36] kickinbahk commented on #2532
How about *project* for a collection of a user's iterations.

I know this seems simple, but imagining that I was talking to some of the people at my meetup, it feels like a natural use.

[2015-10-01 17:06] kytrinyx commented on #2532
Project is interesting. I'm going to add it to the suggestions at the top, and let it simmer for a bit.

[2015-10-02 00:19] IAmRasputin opened #2570 "Link to Rust laguage page leads to 404-ish error"
http://exercism.io/languages/rust leads to the "Sorry! That's our fault!" page.

[2015-10-02 01:35] kytrinyx commented on #2570
Thanks for the heads up, I'll take a look at it.

[2015-10-02 18:56] kytrinyx commented on #2570
Fixed in https://github.com/exercism/x-api/commit/47b6d24f155a498c8c29fa092d56211b529f59be -- Thanks!

[2015-10-02 18:56] #2570 closed

[2015-10-04 11:57] alex-bender opened #2571 "triple quotes breaks markup"
As far as I understand triple quotes (module docstring) breaks markup of submitted code.
But may be deal in the triple grave accents (```)

[Here is submitted code with wrong markup.](http://exercism.io/submissions/9bd0c50e30f443038c4ac9bb450263b5)

[2015-10-04 15:03] kytrinyx commented on #2571
Thanks for reporting this! I am not sure if it's a problem in the underlying markup library we're using ([rouge](https://github.com/jneen/rouge)), or a problem on our end. We'll need to dig into it.

[2015-10-04 22:59] spazmeck commented on #2545
Had the same issue. Removing the binary and dot-file and then reinstalling fixed the issue.

[2015-10-05 07:58] tejasbubane opened #2572 "5-a-day should remove a submission after giving a thumbs up"
A submission is removed from 5-a-day after I nitpick on it, but if I think it is already good enough and give a :+1: it should also be removed from the list.

[2015-10-05 12:46] kytrinyx commented on #2572
I agree.

If we do this in the SQL, we will add a second left join. I'm not sure this is going to be tenable. We can do it and then if the performance is abysmal then we can rethink our approach to this feature.

[2015-10-05 16:18] alex-bender opened #2573 "Add possibility to remove problems."
After `exercism fetch` (without specified language) we have a lot of problems in /home/user/exercism sub-folders. Also, there  are displayed at [dashboard](http://exercism.io/dashboard).
But I can not remove unwanted languages from list of pending problems, which I won't to solve.

It would be great to have that possibility.

[2015-10-05 18:46] bmulvihill commented on #2572
I like that we have to comment for it to count, even if the comment is simply mentioning something that you like about a submission!  Thumbs up are good, but conversation is better :phone:

[2015-10-05 19:51] kytrinyx commented on #2572
This is a great point. Thanks @bmulvihill. I am now perfectly undecided :)

[2015-10-06 00:53] kytrinyx commented on #2573
+100 This should be easy to fix by implementing some way to delete the `UserExercise` records (only if the iteration_count is zero, I think, as a protection against nuking exercises you've solved).

[2015-10-06 11:55] tejasbubane commented on #2572
@bmulvihill Agree. But the important thing here is telling what is good about the submission rather than just saying `good job!` or `great submission`.

[2015-10-07 03:55] mike-hewitson opened #2574 "Noob workflow"
For noobs, its not very clear on how to get from submission to the first submitted exercise, which feels very odd under profile and took a while to find.

I'm also unclear as to how one can access other peoples solutions?

Thanks you for the great idea, and I hope it grows!

[2015-10-07 14:09] vicqstream opened #2575 "numbered toolbar feedback list contains submissions that already have my feedback"
Having reviewed 2 submissions and having 2 to give feedback on, the list containted the two that I had already given feedback to.
As opposed to the two that are pending my feedback.
Here's a screenshot in to Illustrate:
![incorrect feedback list](https://cloud.githubusercontent.com/assets/11613023/10339793/fc87f988-6d04-11e5-8c0b-d82966c0b180.png)

[2015-10-07 14:20] kickinbahk commented on #2095
I went ahead and got exercism.io set up on my machine. I did run into a couple issues here and there and thought that it would be worth discussing how we might want to handle it for newcomers as they are issues that they may often run into.

The issue that I ran into was related to updating node with homebrew. When I had originally installed node, I did not link it. This made it extremely difficul

[2015-10-07 14:29] kickinbahk commented on #2574
thanks for the input @mikeyjcat I will let @kytrinyx address the finding your first submission, however when you `exercism submit` there is a url given in the terminal that will take you directly to the exercise.

You are given access to others work as you complete the exercises. So after submitting the first exercise (and maybe after the next iteration), you will begin to see a number on the top

[2015-10-07 14:36] kickinbahk commented on #2323
Another thing that I had to do when first getting exercism is run `brew update` and `brew doctor` before I could pull down exercism. Most beginners will not know how to do this and may not know how or what to search for. Not sure that it should be included in the README, but it is worth discussing how we might want to let beginners know what to do if they are running into an issue with homebrew.

[2015-10-07 19:52] kytrinyx commented on #2574
@mikeyjcat You are absolutely right that it's unclear--and not only for noobs. I'm working with @jenndodd, @jtigger, @mixolidia and @sguermond on reworking the entire flow to help fix this, and I hope that over the next couple of months the experience will be improved a lot.

One of the problems we identified is that when you're new the "dashboard" gets coopted by the onboarding instructions (whic

[2015-10-07 19:53] kytrinyx commented on #2323
@kickinbahk that's a great point. I will add that to the default Mac instructions today.

[2015-10-07 19:59] kytrinyx commented on #2575
Thanks for catching that!

[2015-10-07 20:01] kytrinyx commented on #2095
How about having a troubleshooting section where Node and PostgreSQL can each be addressed separately?

[2015-10-07 21:13] #2561 closed

[2015-10-08 01:35] wobh commented on #2575
Ditto. Also, mine are all the same exercise from the same track. That's fine I guess but it would be nice to stir things up.

[2015-10-08 10:27] mikeyjcat commented on #2574
Thanks Katrina

Having progressed a bit further, all fell into place😄

Let me know if I can assist in any way, I think this is a great undertaking!

Regards
Mike

[2015-10-08 11:48] alex-bender opened #2576 "Add diff mode to iterations."
It would be great to highlight differences between iterations, coz now it is little bit complicated to
figured out, what have been changed if code is messy.

[2015-10-08 16:14] kytrinyx opened #2577 "List exercises on language page in the track order"
At the moment they're listed alphabetically.

The `config.json` in each track lists the problems in the correct order, and the x-api returns the problems per the order in config.json, so this should be a fairly straight-forward fix.

[2015-10-08 16:59] kytrinyx commented on #2576
We used to have this (see #833), but the interface got too messy and too confusing, so we removed it. People still ask for it (#1314), but this will have to wait until someone tackles a full redesign of the code page.

[2015-10-08 17:05] kytrinyx commented on #2574
Thank you! Submitting issues when you get stuck is an incredibly useful (and totally underrated) contribution, and it's much appreciated.

I think that once we get the wireframes done for the new onboarding flow, we'll be able to break down a bunch of tasks into things that are easy to tackle without having to dive into the entire project.

Meanwhile, if you're itching to tackle some low-hanging o

[2015-10-08 17:06] kytrinyx commented on #2575
Yeah, I wonder what the best way to do that would be. Thinking on it!

[2015-10-08 17:35] #2575 closed

[2015-10-08 17:35] kytrinyx commented on #2575
Deploying a fix now. I'd love to hear back from y'all how this is looking.

[2015-10-09 09:28] vicqstream commented on #2575
Fix works great!

Got through my 5 today!!!  \o/

[2015-10-09 10:43] matthewmorgan opened #2578 "javascript rna transcription test does not update on exercism fetch"
The version of the test suite that I have locally did not match what is posted for the exercise.  When I ran ```fetch``` it did not update.

I deleted the test suite and ran ```fetch``` and the updated file downloaded successfully.

[2015-10-09 15:11] kytrinyx commented on #2575
Yay!

[2015-10-09 16:14] kytrinyx commented on #2578
Yes, that's the expected behavior. We don't want to overwrite files that people have locally, since they may have made changes to them.

[2015-10-09 16:16] matthewmorgan commented on #2578
OK thanks!

[2015-10-09 16:16] #2578 closed

[2015-10-09 17:14] alex-bender commented on #2576
Thank you for reply and sorry for duplicating issues.

[2015-10-09 18:20] kytrinyx commented on #2576
No, worries! Eventually I'll figure out how to put up a proper roadmap :)

[2015-10-13 12:34] carlisia commented on #1972
This issue is referenced on #137, can we close it?

[2015-10-13 15:49] kytrinyx commented on #1972
This is not the same suggestion. The suggestion in exercism/cli#137 is for a CLI command, whereas this is about putting something on the website.

That said, we do kind of show something like this on the dashboard now ("fetched"). There's some more work to do to enhance it, but I think we can close this and open new issues about improving the fetched/not-solved section.

[2015-10-13 15:49] #1972 closed

[2015-10-13 17:40] clairethompson opened #2579 "Sum of Multiples has misleading example in text"
On this page: http://exercism.io/exercises/haskell/sum-of-multiples/readme

The problem statement says that the sum does not include the upper bound, but the example in the problem statement includes 15 in the sum.

[2015-10-13 20:22] kytrinyx commented on #2579
Nice catch, thanks!

[2015-10-13 20:25] #2579 closed

[2015-10-15 11:09] RichardWigley commented on #2572
I came here to add this issue!

Pickers POV - I think this will motivate the pickers to clear their 5 - how many clear their 5 currently? I'm guessing very few. It is demotivating to visit something, 'like' it and have nothing change. Worse to see the same things you 'liked' yesterday still in your feedback list - that makes me want to not look at the list at all.

Picked POV - I don't get many co

[2015-10-15 18:00] kytrinyx commented on #2443
This hasn't come up again, and I don't think it's enough of a big deal to push to fix it. @hicksca I'm going to close it, but if it ends up bugging you enough that you think it should be fixed, feel free to reopen it.

[2015-10-15 18:00] #2443 closed

[2015-10-15 18:10] kytrinyx commented on #2540
Fixed in #2544

[2015-10-15 18:10] #2540 closed

[2015-10-15 18:10] #2420 closed

[2015-10-15 18:28] kytrinyx commented on #2356
This was fixed, and I can't even recall when.

[2015-10-15 18:28] #2356 closed

[2015-10-15 18:28] kytrinyx commented on #2359
N/A. We've removed the entire hibernation feature.

[2015-10-15 18:28] #2359 closed

[2015-10-15 18:30] kytrinyx commented on #1720
This was fixed when we ditched the old "pending" lists and moved to the new inbox model.

[2015-10-15 18:30] #1720 closed

[2015-10-16 05:08] kytrinyx opened #2580 "Make behavior of "next submission" more intuitive"
The current behavior is confusing. It relies on the session variables for `inbox`, and if these are not set, then it will choose the default inbox (first language, alphabetically).

This means that if you are visiting some random Ruby / Hamming exercise, you may very well be sent to the most recent Leap submission in Go when you click next.

I think it would be better if it behaved as follows:

1.

[2015-10-16 14:06] AbdullahAlger opened #2581 "Rename JavaScript Test Files"
I just have a suggestion to reformat the test files generated for JavaScript so that the file name is in camel case. I know that Ruby files use an underscore, but usually JavaScript uses camel case.

[2015-10-16 14:54] kytrinyx commented on #2581
I have no problem with that in theory, since each language on exercism is using its own conventions, however it's my understanding that there are no actual standards in JavaScript. All the javascript developers that I've worked with have used lowercase filenames, and most have used hyphens rather than underscores as word separators, though that varied a lot more.

/cc @exercism/javascript thoughts

[2015-10-16 15:02] AbdullahAlger commented on #2581
Sounds about right to me. Maybe using hyphens instead of underscores would be better. For a file named `one_crazy_spec.js`, perhaps `one-crazy.spec.js`, `oneCrazySpec.js`, `oneCrazy.spec.js`, or `one-crazy-spec.js`? I'd prefer the former over the latter file names suggested.

[2015-10-16 16:29] kytrinyx commented on #2581
I like `one-crazy.spec.js`.

[2015-10-17 06:31] rchavarria commented on #2581
Most people would agree to use camel case to name elements of the language: functions, variables,...

For naming JavaScript files, I also like `one-crazy.spec.js`. Specially, I like to see `spec` as part of the file extension instead of the file name, so I can find easily both tests (`one-crazy.spec.js`) and implementations (`one-crazy.js`).

[2015-10-17 06:33] Tonkpils commented on #2571
Duplicate/related to #2380

[2015-10-17 18:54] Spikeyblur opened #2584 "Where to start?"
I'm pretty new to programming, and I've been reading a few books on C# as that's what I'd like to learn. I have been planning on using exercism for a long time now and only just got around to it and started the csharp exercise.
But I feel absolutely lost, I don't know how to write a program that calculates leap years!
So should I head back to the books and read up more, or should I learn by doing?

[2015-10-17 18:59] kytrinyx commented on #2584
Hi @Spikeyblur -- I'm so sorry this is confusing! We're actually in the middle of figuring out how to make this less confusing/intimidating if you're new to programming (but it's going to take a while to get everything sorted out).

The exercise should be runnable in the sense that you should be able to run the test suite, and it should give you a failure, and that failure should tell you what the

[2015-10-17 19:04] Spikeyblur commented on #2584
Thanks for replying @kytrinyx !
No, unfortunately not. Actually, I'm having some difficulty understanding what you mean by 'test suite',do you mean (and I know this really shows absolutely how entirely inept I am) Starting the program/running it using Ctrl+f5? Because it only says 'Attach'. I have a few guesses as to what this implies, but I'm essentially in the dark.
I just really feel lost, but

[2015-10-17 19:17] kytrinyx commented on #2584
I've never written an C#--so I don't know how to help with specifics, but I can certainly tell you conceptually what I'm talking about.

When you said `exercism fetch`, you should have gotten two files:

[code]

The `LeapTest.cs` file is what I'm calling a "test suite". The idea is that this test suite contains code that will pull your code in and run it, and it will check if your code is doing th

[2015-10-17 19:22] Spikeyblur commented on #2584
Oh! So are you saying that I'm not supposed to write an entire program that calculates leap years, but rather make the code that's already there work?
If so, that actually makes a lot more sense...
So do I simply fix it, debug it to see if it runs, delete [ignore] and work on the next one until completion?
I initially thought I was to make a program to calculate leap years from scratch, so that's

[2015-10-17 20:17] kytrinyx commented on #2584
The tests will lead you to write a program that calculates leap years from scratch. Once you run the test suite, the first complaint it will make (probably) is that it's trying to reference something called Leap or Year or something that doesn't exist yet... and then you'll have to create that thing. (Again, I don't know C#, so I'm not sure what the error will look like, but other languages tend t

[2015-10-17 20:22] kytrinyx commented on #2571
Ah, yepp. Good catch. Closing in favor of #2380

[2015-10-17 20:22] #2571 closed

[2015-10-17 20:23] kytrinyx commented on #2581
That's 3 votes in favor :) I'd say let's just go for it.

[2015-10-17 21:39] #2580 closed

[2015-10-17 22:09] Spikeyblur commented on #2584
Alright, well thanks for the help! I'm sure I'll get it... Eventually... hopefully...
Although I have one suggestion since you said you're in the process of making it more beginner friendly, maybe start with an even more introductory program? Probably not 'Hello World' type simple, but something that familiarizes you with syntax or such? I dunno, maybe I need to solidify my foundation in programmi

[2015-10-17 22:19] kytrinyx commented on #2584
Actually, we're adding "hello world" to most of the tracks, we just haven't gotten to C# yet.

[2015-10-17 22:20] Spikeyblur commented on #2584
Oops, well looks like you're already on top of the ball,
Thanks for all your hard work!

[2015-10-17 22:20] #2584 closed

[2015-10-18 19:43] davearonson commented on #2577
I'll give this a whack, if nobody else is working on it....

[2015-10-18 21:21] kytrinyx commented on #2577
@davearonson That sounds great. I spent about an hour poking around in this area, and it's... pretty ugly. I've been contemplating doing some rewriting.

Here's the biggest thing that I found: The language page calls the "problems" endpoint, not the "tracks/LANGUAGE" endpoint to get the data. I think it will require making an additional call to the tracks endpoint for the language to actually get

[2015-10-18 22:19] davearonson commented on #2577
Okay.  First let me verify what I think you want: the problems presented in the order they are given to the user, for a given language.  Frex, for Ruby, starting with Hello World, then Hamming, then Gigasecond, etc.  Right?

Looks like the info from /tracks/#{language} has everything I'd need... and about 3.2 metric buttloads more.  I'll look into the API and see if there's a way to trim that down

[2015-10-18 22:25] davearonson commented on #2577
Ohhh... not everything, it doesn't have the blurb, so I'd still have to get that from `/problems`, and match 'em up.

[2015-10-18 23:25] davearonson commented on #2577
I've got a solution at https://github.com/davearonson/exercism.io/tree/fix-problem-order and it passes all the tests (tho I haven't written one for it being in order)... but it bugs me that it's pulling down all that extra junk from /tracks/whatever-language, and it doesn't look to me like there's a way to trim it down.  If you want, I could put in a PR as it stands, but I'm tempted to also hack t

[2015-10-19 00:12] kytrinyx commented on #2577
Yepp.

That sounds excellent! Thankfully the API code is much easier to manage than the exercism.io code, and has much better test coverage.

[2015-10-19 01:09] kytrinyx commented on #2581
Fixed in exercism/xjavascript#119 -- thank you @AbdullahAlger!

[2015-10-19 01:09] #2581 closed

[2015-10-19 13:48] kytrinyx opened #2585 ""next submission" should be the "next unread submission""
Commenting on an exercise puts it back to the top of the exercises list, which causes the 'next submission' button to go back to the start. This is pretty annoying if you give a lot of feedback.

The SQL query for this is in `lib/exercism/inbox.rb:181`

[2015-10-19 14:23] jwood803 commented on #2584
Sorry for the delay. @Spikeyblur, since this issue is closed and if you're still having trouble or just any questions, just join us on the [Gitter chat](https://gitter.im/exercism/support).

[2015-10-19 17:52] davearonson commented on #2577
I've put in a PR on the API to add a `/tracks/:id/problems` route, including a test that verifies that they're in the same order as from `/tracks/:id`.  Assuming that that gets approved, I'll then change my site change to use that, which should be much cleaner.

[2015-10-19 20:27] kytrinyx commented on #2577
W00t, merged and deploying. Thanks so much, @davearonson!

[2015-10-19 20:27] #2577 closed

[2015-10-20 11:40] vicqstream opened #2587 "Recognize "Looks great" as a "Submit Comment""
Maybe it is by design that you should put some text to a comment.

However, sometimes when looking at a submission, all you want to do is give it a thumbs up, :+1:, "Looks great" because there's nothing more you need to say it's just good. :smile:

[2015-10-20 11:46] vicqstream opened #2588 "Allow comments/messages in exercism submit"
It would be nice if iterative submissions had an optional comment/message similar to a git commit message that gives a synopsis of what the iteration accomplished.

This could also be displayed in the review page for others to give better comments.

[2015-10-20 13:55] kytrinyx commented on #2588
/cc @exercism/cli-committers

I think that we could do this with a flag that posts a comment on behalf of the user (as a regular comment, not as a new entity in the system).

[2015-10-20 13:57] kytrinyx commented on #2587
You mean when counting how many comments you've given in a day?

I don't think these ideas are equivalent. The effort involved in giving a thumbs up is very low. Even when you like a submission, there's often something to say about what you like about it, unless you've had a conversation with the author through several submissions.

I'm going to leave this open for a little while to give others a

[2015-10-20 13:57] Tonkpils commented on #2588
Yeah, should be simple enough as long as we have an open API to submit this comment. I'll create an issue on the CLI repo

[2015-10-20 13:58] kytrinyx commented on #2588
Cool, I'll verify that we have an API endpoint. I'm pretty sure we do, since rikki- submits comments.

[2015-10-20 15:44] vicqstream commented on #2587
I did think that this was by design, i.e. giving more value to a written comment than the thumbs up, Thanks for the clarification.

[2015-10-22 13:12] esabelhaus opened #2589 "Authenticated user information is being transported over HTTP"
This is not necessarily bad, but it is somewhat bad practice in terms of authentication.

SSL certs are pretty cheap:
https://www.ssls.com/ssl-certificates/comodo-positivessl

And sometime soon, free :smile::
https://letsencrypt.org/certificates/

Or, if you're running things in Heroku:
https://elements.heroku.com/addons/ssl

The reason I bring this up, is the install-cli and account views both tr

[2015-10-22 14:11] kytrinyx commented on #2589
Thanks!

Yeah, @canweriotnow and I have briefly chatted about fixing this.

There's no reason why the CLI couldn't use HTTPS, it uses the Go net/http package which supports both.

The API was never intended to be particularly secure, just a shorthand for identifying people when fetching/submitting code. The functionality has expanded a bit since, and we really should take care of it.

[2015-10-22 16:11] e-sabelhaus commented on #2589
I've been meaning to get my feet wet with Go. I could take a swing at it if you're accepting PRs

[2015-10-22 17:09] kytrinyx commented on #2589
Yeah, sure accept PRs on the all parts of the project. https://github.com/exercism/cli

I was going to wait until we have the new version of the API out, since I really don't see this as a security risk: There's no personal information. We don't store any passwords, and the only actions you can use the API key for is to fetch code or submit solutions.

It seems like unlikely that someone would bot

[2015-10-23 15:37] johnpaulashenfelter commented on #2589
@kytrinyx You'll still need to get a Heroku SSL endpoint ($20/m) to point your DNSimple cert at -- you need the cert and the endpoint to resolve it.

[2015-10-23 17:15] kytrinyx commented on #2589
In that case, I don't think this is worth it right now. I'm willing to reconsider, but I think that we have bigger, more interesting problems to solve.

[2015-10-23 22:15] blainesch opened #2591 "Regular Expressions"
I was curious about adding a workflow for regular expressions. A few of the problems -could- be solved with regex, but it can just as easily be avoided.

The issue is this is not language specific, and so far this is oriented around language specific challenges.

If this is something the community wants, how would we implement it? I'd be happy to take a swing at implementing giving I know what dir

[2015-10-23 22:20] kytrinyx commented on #2591
I'm not sure. The best project for regular expressions so far is https://regexcrossword.com/ -- I would tend to suggest that people just go there, rather than adding regex problems here, but I would be curious to hear what other people think.

[2015-10-24 11:10] mrageh opened #2592 "Cannot delete a team I created"
Hi @kytrinyx

I created a team more then a year and a half ago. The other day I decided to remove the two people on the team with me and then I tried to delete the team. I went to my [teams page](http://exercism.io/teams/thoughtbot/manage) and clicked on the delete button which redirected me [to](http://exercism.io/teams/thoughtbot?). After looking at the [code](https://github.com/exercism/exercis

[2015-10-24 16:07] kytrinyx commented on #2592
Yeah, probably a bug, thanks for raising the issue.

I'll take a look at it today (I have a couple of other bugs I need to look at). If you find repro steps before I do, that's always a good thing.

[2015-10-24 23:37] #2592 closed

[2015-10-24 23:37] kytrinyx commented on #2592
FYI @sguermond (I should have caught this in the PR, sorry about that. This is definitely worth knowing about!)

[2015-10-25 00:32] justinoliver51 opened #2593 "Debugging C++ CMake Project in Xcode"
Hello,

I'm having trouble debugging the first project, bob, in Xcode.  I've followed the steps, and I've successfully created the C++ Xcode project using CMake.  From there, I've begun developing in Xcode, and I can run the project.  However, I am not able to debug it (stepping from line to line).  What are the steps to do this?  I can't seem to find them in the documentation or on Google.

Thank

[2015-10-25 05:15] jessejanderson commented on #2587
It feels kind of weird to leave a "nitpick" when I look at a submission and the only thing I think is "wow, this is way better than what I submitted."

[2015-10-25 05:17] jessejanderson commented on #2572
What if there was a "Looks great! Show me another." button instead? Pressing the button gives them a like and a new item is added to your 5 (which you are taken to immediately).

[2015-10-25 05:39] jessejanderson opened #2594 "Self-rank proficiency/years exp in a language (for others to see)"
Knowing that I'm a bit of a newb, sometimes I'm hesitant to leave comments because I'm afraid of steering someone the wrong way.

Basically, one of my main worries when leaving nitpicks is that they will be a newbie too and suddenly think the thing I said is gold because they have no way of knowing if I've been writing Ruby for 15 years or 2 weeks.

My other worry is that they are actually really

[2015-10-25 17:07] kytrinyx commented on #2572
I don't want thumbs up to count as a five a day, but I do want thumbs up to remove it from the list so that you're shown something else. This isn't something that I want to A/B test--I simply don't think that a thumbs up is particularly interesting feedback. I personally have never cared about the thumbs up feature. If someone gives me thumbs up without having had a conversation with me, all I thi

[2015-10-25 17:14] kytrinyx commented on #2587
Yeah, we need to remove the word nitpick from the site, it's not helping.

The comment _wow, this is way better than what I submitted_ would be a fantastic contribution to the conversation. You might say something specific about what you learned. I think that the conversations should be as much about what you like as about what could be improved.

[2015-10-25 17:15] kytrinyx commented on #2593
/cc @LegalizeAdulthood Do you have any suggestions?

[2015-10-25 17:18] kytrinyx commented on #2594
I would rather this be a part of the conversation: If you're not sure that your suggestion is useful, then perhaps there's a way to ask more open ended questions that indicate that you're exploring ideas more than making suggestions.

In Go and Ruby I try to point to specific things in the code, and specific references that back up what I say about idioms. Well, more in Go than in Ruby, to be hone

[2015-10-25 22:14] jessejanderson commented on #2594
I guess that makes sense, I guess I could refer to style guides when I feel like my nitpick is something like "usually things are done like ___ in Ruby".

[2015-10-25 22:17] jessejanderson commented on #2587
I like "nitpick" because when it is a criticism, by it's nature the criticism _is_ a nitpick since the provided code passed all the tests and should never be technically wrong.

But yah, it feels weird that I'm encouraged to leave a nitpick when I see code where I find nothing wrong with it.

[2015-10-26 02:43] kytrinyx commented on #2587
Right, nitpick has a certain charm, but we're actually looking for a back-and-forth conversation, not one-way feedback/suggestions.

[2015-10-26 02:45] kytrinyx commented on #2594
Yeah, the best nitpicks in my experience refer to style guides, or to experience with the understanding that your experience might be different from mine. I especially like nitpicks where people explain the pain that they've experienced when they've worked with code that has the specific feature that is being discussed.

[2015-10-26 09:18] wobh commented on #2587
Maybe comments could be tagged with one or more labels about the "genre" (if you will) of the comment. This could kill two birds with one stone, as both "nitpick" and "looks great!" could become such tags. Others might be "serious question" or "socratic inquiry", "explanation", "suggestion", "critique" or "defense".

I can think of some problems with this already, but I'll put it out there.

[2015-10-26 11:57] e-sabelhaus commented on #2589
If you're not tied down to Heroku, you could probably stand up the entire site using a Digitalocean droplet for $20-40 a month depending on how much throughput you require. And since you're already going through dnsimple, it would be easy to point it to the name servers at Digitalocean. I do this myself, and it is a breeze.

For consideration https://www.digitalocean.com/community/tutorials/deploy

[2015-10-26 15:18] frenata commented on #2573
What if `exercism fetch` only pulled in exercises for language folders that already exist? This would require that to get started with a new language you'd have to first manually specify it `exercism fetch go` , but not afterwards.

That way you only get exactly the language exercises that you want. A message to that effect when issuing the command with an empty exercism folder, and I'd guess that

[2015-10-26 17:10] kytrinyx commented on #2587
One of the interesting things about this suggestion is that it gives people a hint about what kind of comments we think are useful.

[2015-10-26 17:19] kytrinyx commented on #2589
I'm not tied to Heroku, and exercism has sponsorship from Rackspace, so if I had the spare cycles to move the various pieces to Rackspace then this would be much, much cheaper.

The problem is not getting it up and running (I know how to do that, and there are plenty of great tutorials for the bits and pieces that I might not be familiar with). The problem is _keeping_ it running. Monitoring. Logs

[2015-10-26 17:21] kytrinyx commented on #2573
Yeah, I really like this idea. I'm opening an issue for it in the CLI repository.

[2015-10-26 17:31] e-sabelhaus commented on #2589
I could help you put together monitoring through Nagios. Using the NRPE plugin, nagios can remotely determine whether a process is running, monitor the number of processes running, check disk space, and basically anything else you could think of. Best of all, it's open source!

Also, if they're sinatra / node, you could use Passenger with Nginx to handle them. It automatically scales up and down b

[2015-10-26 20:21] kytrinyx commented on #2589
That would be fabulous. I'm familiar with all the pieces, we used Nagios at the job I worked at from 2010 to 2013, and I've already got nginx running on the rackspace servers.

The bit that still has me worried, however, is that if Nagios warns me that something is wrong, I wouldn't be great at troubleshooting what went wrong, and something that an experienced ops person could solve in minutes mig

[2015-10-26 20:46] rchavarria opened #2596 "Show an icon in the ECMAScript track"
There is an icon for the ECMAScript track, but it's not shown (see Pull Request #2595)

[2015-10-26 20:54] rchavarria commented on #2596
It seems there is a CSS class missing somewhere. Searching for `javascript-icon` class:

[code]

While searching for `ecmascript-icon` (the CSS class that will provide a background image):

[code]

There are two occurrences for JavaScript and none for ECMAScript. `application.css` is probably generated from SCSS files, including `main.scss`. So, `main.scss` seems the right file to change.

Looking

[2015-10-26 22:07] jessejanderson opened #2598 "Notification history"
It would be great if when I went to my notifications page, all of my previous notifications were still listed. Sometimes I'll see a notification and it will mark as read, but I actually want to come back to it later and there doesn't appear to be an easy way to do so.

[2015-10-26 23:57] kytrinyx commented on #2596
Aha! Nice find, thanks for digging into that.

[2015-10-26 23:58] #2596 closed

[2015-10-27 00:00] kytrinyx commented on #2598
Notifications are fleeting on exercism (I modelled them off of GitHub's notifications. You click it, and they're gone. However, there's a list of "recently viewed pages" that I think caps at 200 or something, which should give you the things that you were notified recently. It's in the dropdown under your username.

[2015-10-27 01:49] wobh commented on #2598
I recently fumbled fingered "mark all as read" on my phone. Fortunately the back button restored the page.

[2015-10-27 19:19] cds-amal opened #2600 "Unable to view past submissions, or add new submission for c# Tournament exercise."
Hi,

I'm unable to pull up past submission for the tournament csharp exercise.

I submitted from cli and received this [link](http://exercism.io/submissions/3bd9163b6a5e45f295154a2e4008784e)
The dashboard has this [other link](http://exercism.io/exercises/c9f01316f69d40219920377fa28b9a1e) that doesn't work either. Both urls prompt for submitting an error.

[2015-10-28 10:50] mikeyjcat opened #2601 "Duplicate rikki nits"
I noticed that rikki posts the same nit for each version of a problem I had. While each is a valid comment, would it not be better to post them once? There are pro's and con's each way, it just felt weird to have six identical comments, and the duplicates didn't add much value.

[2015-10-28 13:17] kytrinyx commented on #2601
I'm sure the duplicates didn't add much value, but what caused you to not act on it? Did you disagree? That's one thing. Did you not understand what rikki meant? That's another. Did you understand what rikki- was talking about but not know how to go about doing it? That's a third. Did you just not think it was important? That's different again.

I would rather fix these issues than just stop showi

[2015-10-28 13:19] kytrinyx commented on #2600
Thanks for the heads up; definitely a bug--I'll look into it.

[2015-10-28 18:04] cds-amal commented on #2600
@kytrinyx , I love these challenges and am a fan of the site. Thank you for making this happen.

FYI, in case you need more examples
[clock](http://exercism.io/exercises/427b22c10dec4290933617d5ca67b3b3), and [twelve days](http://exercism.io/exercises/a158e2e608d04adca645a6a90c589e1f) are also MIA.

[2015-10-29 01:01] jessejanderson opened #2602 "The 'copy' button not working?"
![image](https://cloud.githubusercontent.com/assets/8367129/10807476/5e8ed0b8-7d9d-11e5-8e81-e984eee9cd66.png)

I'm assuming this button is to copy the code, but it does nothing for me - doesn't give me a pointer cursor and does nothing when I click on it.

Also looks like it's using flash which seems strange on a website that doesn't have any other flash. There are other friendlier ways to enable

[2015-10-29 03:00] kytrinyx commented on #2600
Update on this one: It looks like there's something problematic going on when we try to parse the code to display it with highlighting on the site. I'm working on narrowing this down locally so I can troubleshoot more easily. I'll let you know what I find.

[2015-10-29 03:20] kytrinyx commented on #2600
I found it. It turns out this was a bug in the rouge library that was fixed in their latest patch release. I've updated the dependency and will redeploy shortly.

[2015-10-29 03:21] #2600 closed

[2015-10-29 11:51] mikeyjcat commented on #2601
Hmm, this specific scenario unfolded as follows:
- I created and submitted the solution before rikki was born.
- I submitted a couple of solution versions (all with the same format issue)
- rikki was born, and created nits for each of the problem versions.

Rikki's nit was perfect, issue valid, I know how to fix, I agree should be fixed.

Possibly rikki should, if looking at a problem for the firs

[2015-10-29 15:26] kytrinyx commented on #2601
Yeah, rikki- should only be given the most recent version of a problem if we feed it historical data.

This was quite a long time ago, right? If it wasn't then we might have a different problem.

[2015-10-29 15:39] kytrinyx commented on #2602
I thought it used javascript, but I haven't done much on the frontend so I don't actually know. I agree that it should be javascript, and that it should change the pointer.

Marking this as a bug.

[2015-10-29 17:51] jessejanderson commented on #2601
I just started using exercism, and had this problem too.

I posted some code, made a couple iterations, and then a few days later I got 2 duplicate rikki comments on older iterations. (http://exercism.io/submissions/6ea5463f2eda430f9aac147f266cffce)

[2015-10-29 17:51] mikeyjcat commented on #2601
The rikki comments were two days ago. She commented on the first four versions of the solution.

The final two were not commented on as the issue had been resolved.

So possibly two issues:
- Multiple comments
- Comments on an issue that has subsequently been resolved in later versions of the problem.

[2015-10-29 20:03] kytrinyx commented on #2601
I have not asked rikki- to process historical data since I launched it in February. That said, Rackspace took down my server for maintenance, and that would have caused rikki-'s queue to fill up, and when it came back online rikki- would process that queue in FIFO order.

We could address this on the API end of things and only save a comment from rikki- if it's on the most recent submission for an

[2015-10-29 22:00] alebaffa commented on #2587
I was about to open the same issue ("Looks great" considered as a submitted comment), but after having read the discussion here I totally agree with you @kytrinyx : it would be too low effort and we would lose maybe the greatest benefit of exercism.io, which is the review from your peers (that I saw being always really interesting and constructive).
Anyway, I also tried to submit an empty comment

[2015-10-30 02:39] kytrinyx commented on #2587
Oh, neat workaround :) I think I'll file that as a separate bug.

Thanks for adding your thoughts to the discussion, @alebaffa.

[2015-10-30 02:51] kytrinyx commented on #2587
I fixed the empty comment bug in 299bb7fa054c0ed27f9cb25f3c5791463e9dff41

[2015-10-30 04:46] alebaffa commented on #2587
cool! Happy to help :+1:

[2015-11-02 06:31] alebaffa commented on #2524
Are you talking about the case when the user _unsubmit_ a problem, but the dashboard is not correctly updated (i.e. the num of iterations for that problem doesn't change or, if it was the 1st iteration, the problem doesn't disappear at all from the dashboard)?
I ask because I was about to open an issue for this. You can take the example of my last submission (Food Chain, in Go). Here below some sc

[2015-11-02 06:36] alebaffa commented on #2524
Also, I just realized that, since the iteration (apparently) still counts as submitted, I can now see the solutions from the other people for that problem (so, it can be a tricky for people.. just submit/unsubmit and you can see other solutions).

[2015-11-02 06:46] alebaffa opened #4746 "Check if tests pass before submitting"
I just saw a submission empty (I can give you the link if you want). I don't know why the user has submitted an empty solution, but it is now in my list of feedback to give and it makes no sense to leave a comment on it. I think this can be an improvement for the cli.

The cli should check whether the tests pass or not before pushing the code to exercism. If the tests don't pass, it fails displayi

[2015-11-02 14:20] kytrinyx commented on #2524
No, that's not a bug, it's intentional. I figure if someone really, really wants to work around it by submitting an empty solution and then unsubmitting, then that's fine. If people end up using that in order to be mean and snarky to people, then we'll have to find a solution to that, but I wouldn't want to take away access that was granted.

[2015-11-02 14:46] LegalizeAdulthood commented on #2593
You can debug the unit test project just like you debug any other project in Xcode.  There is nothing special about these projects in this regard.

[2015-11-02 20:47] justinoliver51 commented on #2593
Richard,

Thanks for your reply. Unfortunately, this isn't the case - there is no debug option. It simply only allows you to run. If you like, I can attach pictures to demonstrate.

Do you have documentation on how to debug cmake projects with GDB?

Thanks,
Justin

[2015-11-02 21:22] kytrinyx commented on #2593
@marianaIAm, do you happen to know of any resources with respect to debugging in XCode?

[2015-11-02 23:21] kytrinyx opened #2604 "Ditch the `demo` feature."
I think that the demo causes more pain than it's worth. It downloads ALL the languages. Back when that was a list of exactly one, it was great. Now that it's over 20... not so good.

I'd like to remove it.

Instead, let's show people the command to download the first exercise in a track on the language-specific page (`exercism fetch TRACK_ID PROBLEM_SLUG`).

Thoughts, @jtigger @mixolidia @sguermon

[2015-11-02 23:27] kytrinyx opened #2605 "Implement an in-browser workflow for the JavaScript track"
Out of all of the tracks that we have, I think that JavaScript would be the perfect candidate to try out an in-browser editor + test runner. This would lower the barrier to entry for new programmers.

We could do this as a stand-alone angular (or something) site that talks to the API and run it on javascript.exercism.io. Making it stand-alone would make it easier for people to contribute, and it w

[2015-11-02 23:51] sguermond commented on #2604
That's a great idea! It shows how to work the basics for exercism, which is what one expects from a demo.

I think the problem slug should be optional (or the demo should make it clear that it's optional) since a new user wouldn't know what the slugs are for specific problems.

On a related note, maybe each problem's readme page and the language page listing all problems should have slugs listed s

[2015-11-02 23:52] LegalizeAdulthood commented on #2593
It looks like the debug option in the IDE isn't enabled until you set a breakpoint.

[2015-11-03 00:02] kytrinyx commented on #2604
I was thinking that we can show the actual command for fetching the first available problem, since we know the slugs:

[code]

This way they don't have to be logged in to fetch (if you don't specify the problem slug, then we have to know who you are in order to give you the next available problem).

Yeah, definitely! Actually, this makes me think we should put the list of available languages on th

[2015-11-03 10:04] kendriu commented on #1654
+1 for integration with [CoderBits](https://coderbits.com/kendriu)

[2015-11-03 12:34] kytrinyx commented on #1654
Thanks for the vote, @kendriu.

[2015-11-03 21:45] rchavarria commented on #2605
Some examples come to my mind, but I don't know if they match what you have in mind:

- [Khan Academy on Computer programming](https://www.khanacademy.org/computing/computer-programming)
- [Codecademy on JavaScript](https://www.codecademy.com/learn/javascript)
- [es6katas.org](http://es6katas.org/): probably this will interest you. Users are supposed to modify some tests in order to get them pass.

[2015-11-04 00:26] kytrinyx commented on #2605
Nice! Yeah, it feels like this should be quite achievable... I just don't have the resources to think about it yet. But if someone else would like to tackle it, I think it would be really cool, fun, and helpful.

[2015-11-04 11:09] karlo57 commented on #2604
@kytrinyx Hi, I'd like to help and work on this. I've started using the site since yesterday and I'm definitely enjoying using it.

[2015-11-04 12:41] kytrinyx commented on #2604
@karlo57 Thank you, that's much appreciated.

The first part to this, I think, is to add the explicit exercism command to fetch the first exercise on the language pages.

These are located in:

- lib/app/routes/languages.rb
- lib/app/views/languages/languages.erb

Let me know if you have any trouble getting oriented, and of course if you have any other ideas about where to start on this, go for it

[2015-11-04 14:18] karloxyz opened #2606 "`rake db:from_scratch` fails"
I started to setup a local copy of `exercism.io` on my machine. I was going on through smoothly until I ran across this bug when running `rake db:from_scratch`:

![screen shot 2015-11-04 at 22 09 41](https://cloud.githubusercontent.com/assets/1901520/10939927/f7e8143e-833f-11e5-9a5f-bd62a964b331.png)

I'm guessing that the reason why this occurs is because `DB::Connection#escape` doesn't close the

[2015-11-05 01:48] kytrinyx commented on #2606
Interesting. Yeah, it does sound like the previous task doesn't close the connection, which would cause it to not be allowed to drop the db.

[2015-11-05 13:27] MartinDelille commented on #2410
Is this issue still valid?

[2015-11-05 14:53] kytrinyx commented on #2410
No, we took it off, thanks!

[2015-11-05 14:53] #2410 closed

[2015-11-06 00:23] kytrinyx opened #2607 "Normalizing the CLI-API interface"
I'd like to start working towards locking down a solid definition of how the CLI talks to the API.

Here are the things that we currently have decided:

- get rid of the demo https://github.com/exercism/exercism.io/issues/2604
- adjust fetch so it always fetches a specific track: https://github.com/exercism/cli/issues/226

I also think that it would clean things up to make `restore` a track-level

[2015-11-06 00:30] kytrinyx commented on #2607
Perhaps instead of `/me/tracks` we could have a different name for _a track that someone is working through_.

We're working on clearing up terminology, discussion here: https://github.com/exercism/exercism.io/issues/2532

In the CLI, we're making a distinction between "language", which is the name of a programming language, like 'Objective-C' or 'C++', and "track" which is a collection of exercis

[2015-11-06 01:19] Tonkpils commented on #2607
What would be the difference between the `fetch exercise` anonymous vs user oriented?

I'm not too fond of how the `me` looks in the path. It feels like there's a disconnect for the sake of namespace but I'm not opposed to it. With that said, would there be any clashes with not namespacing the routes?

One approach I liked was the one GitHub uses for their API. They enforce specifying `Content-Typ

[2015-11-06 05:09] kytrinyx commented on #2607
`fetch exercise` for a user would track that they fetched it. Not a big deal, and perhaps we can let the same endpoint do it, but I fear the rabbit hole of the one endpoint knowing about auth and not auth at the same time.

I actually don't like the '/me' either, but I couldn't think of anything else.

Yeah, `/tracks/:id/exercises` ... either get the list of available exercises, or fetch the user'

[2015-11-06 09:22] devonestes commented on #2607
I agree with @Tonkpils - `/me` seems like a kind of confusing namespace. Since all of those routes need the user's API key in the query string anyway, would it make sense to have those resources belong to a user in the URL? You could do something like the following:

* _status_: `GET /users/:api_key/tracks/:id/status`
* _fetch_: `GET /users/:api_key/tracks/:id/exercises, GET /users/:api_key/tracks

[2015-11-06 13:32] kytrinyx commented on #2607
Namespacing it with `/users/:something` does feel like the right direction.

Hm. I'm not sure I want to have the API key as part of the url pattern. We're going to want to change how the auth piece works (the current one is not secure, so we'll have to add some hashing based on a secret or on other computable data, or some other strategy). If we make this part of the url pattern it's going to be h

[2015-11-06 15:21] devonestes commented on #2607
The most common implementation of this pattern that I've seen in this case is to use the primary key of the table, which would be `/users/:id`in this case. However, `/users/:username` could also work since Github requires unique usernames.

[2015-11-06 15:25] Tonkpils commented on #2607
I like the idea of using username, we could even ditch the `/users` portion. We'd end up with something like https://exercism.io/Tonkpils/tracks/:id/status. Though I'm not sure what the implications/business rules would be around username then. If usernames can change then we'd be in trouble as we'd need a way to have the username available in the CLI, possibly config or something. If they can't,

[2015-11-06 15:49] kytrinyx commented on #2607
Usernames can already change, and we've had bugs because of it. I don't want to rely on that.

I know that the `:id` is the common pattern, but we don't need it, and I don't see a reason to store that in the CLI configuration.

[2015-11-06 17:22] lcowell commented on #2607
I'd push for eliminating the user/me namespace altogether. The only clash in doing this is between fetching the next exercise and listing all exercises for a given track.

For fetching all exercises this feels very natural, so I'd leave it alone:
GET /tracks/:id/exercises

For fetching the next exercise, this doesn't seem as intuitive. Nothing about this URL says I'm grabbing one exercise and not

[2015-11-06 18:19] kytrinyx commented on #2607
`GET /tracks/:id/exercises/next` is exactly what we want.

And I realized that we can make the anonymous/logged in thing really simple, so we don't need to worry about that.

I'll probably start prototyping a new API and see where it gets us.

[2015-11-07 06:50] karlo57 commented on #2604
@kytrinyx I just submitted my PR. Please comment on how I could improve it. I also have a few questions:
- Does this issue mean that we ditch the whole onboarding process? Or just change the instructions shown to fetch exercises in the first step of onboarding?
- What do you think about hiding the `Available Exercises` section when the user hasn't fetched the first exercise? And then should we jus

[2015-11-07 14:48] kytrinyx commented on #2604
We're going to rework the entire onboarding process, but we won't remove it.

Yeah, we should absolutely hide the "available exercises" section when the user hasn't fetched the first exercise, and also hide the "fetch your first exercise" section when the user has fetched an exercise.

[2015-11-07 22:25] rchavarria opened #2610 "Test suites for exercises on JavaScript and ECMAScript tracks are not shown"
While looking at a submitted iteration code, there are two buttons on the right: "Readme" and "Test Suite". "Readme" shows the README file for that particular exercise. "Test Suite" should show the tests used to guide the user to solve the exercise.

But tests are not shown.

![test-suite-not-shown](https://cloud.githubusercontent.com/assets/612688/11017673/c458bb96-85a6-11e5-8bb1-f772cf95fadf.png

[2015-11-07 22:38] rchavarria commented on #2610
Recently, JavaScript and ECMAScript test files were renamed from `*_test.spec.js` to `*.spec.js`. So, new file names might not match a previous pattern looking for test files.

I'm still not able to run exercism.io locally and I'm not a ruby programmer, but this is what I've found:

"Test Suit" content seems to be generated from `lib/app/views/exercises/test_suite.erb`. It iterates over a variable

[2015-11-08 18:58] kytrinyx commented on #2610
Yeah, that's the quickest fix. Eventually we should fill in the `test_pattern` key in the config.json for the track so we don't depend on this hard-coded thing.

[2015-11-08 19:09] kytrinyx commented on #2610
OK, "fixed" for certain values of fixed. :)

[2015-11-08 19:18] rchavarria commented on #2610
Great!! The `test_pattern` key is just an idea? I don't find any example on other track languages.

[2015-11-08 19:24] kytrinyx commented on #2610
Oh, uh, no it's implemented as part of the template. I think perl uses it. Maybe.

[2015-11-09 01:50] kytrinyx commented on #2607
I've taken a bit more time to think through this.

I think that it makes a lot of sense to support two different content types, though not really for all the endpoints. It's still a bit weird that some endpoints are authenticated and some are not, but I think it's okay.

The octet-stream responses would be files that are zipped up as a single archive, including a `.metadata.json` or something file

[2015-11-09 01:55] Tonkpils commented on #2607
Not sure how it would behave on this end point. Don't we send some JSON along with the payload? If not then nvm.

Other than that it looks reasonable. :+1: I think authenticated vs not will become easier to reason about and solve if necessary once we have a prototype of the API.

[2015-11-09 15:41] lcowell commented on #2607
Looks good.   :+1:

[2015-11-09 21:43] kytrinyx commented on #2607
I would think that for the submit endpoint we would write a json file and then zip everything up (reverse of the fetch, really). I don't recall whether we send along any json right now.

[2015-11-11 21:21] GustavoCaso commented on #2602
@kytrinyx
Hi I'm for a first issue to start contributing to this great project.
Is someone working on this one ?

[2015-11-11 22:07] jessejanderson commented on #2602
I just started working on a solution yesterday.

[2015-11-11 22:19] GustavoCaso commented on #2602
@jessejanderson Ok no problem.
Do you know any issue I can start with ??

[2015-11-12 11:12] #2469 closed

[2015-11-12 11:14] kytrinyx commented on #2522
We upgraded to a version of the syntax highlighting library that I think has a fix for this. Is this still an issue?

[2015-11-12 11:14] kytrinyx commented on #2498
We upgraded to a version of the syntax highlighting library that I think has a fix for this. Is this still an issue?

[2015-11-12 11:15] kytrinyx commented on #2380
We upgraded to a version of the syntax highlighting library that I think has a fix for this. Is this still an issue?

[2015-11-12 11:16] kytrinyx commented on #1711
I think this got fixed at one point. @LegalizeAdulthood are you still seeing the weird spacing issue?

[2015-11-12 11:16] kytrinyx commented on #2304
/cc @exercism/javascript would you mind taking a look at this?

[2015-11-12 11:18] kytrinyx commented on #2602
@GustavoCaso I think the following issues are good starters:

https://github.com/exercism/todo/issues/7
https://github.com/exercism/exercism.io/issues/2418
https://github.com/exercism/exercism.io/issues/2306

[2015-11-12 11:25] yurrriq commented on #2498
Still looks the same to me :confused:

[2015-11-12 11:26] kytrinyx commented on #2498
Gah. Darn, ok.

[2015-11-12 15:21] GustavoCaso commented on #2602
@kytrinyx Thanks I will look up them and try to contibute !!

[2015-11-12 16:27] rchavarria commented on #2304
I noticed not all exercises needed to export the same structure: some need a function, some a constructor function,... But I didn't think it would be so distracting to give up trying.

I completely understand and agree @kbadk's point of view. The difficulty should be in solving the exercise, not in figuring out what structure should be exported in the module.

I'll create a new issue on exercism/x

[2015-11-12 19:51] ThomasZumsteg commented on #2380
Still an issue.
[example 1](http://exercism.io/submissions/9bd0c50e30f443038c4ac9bb450263b5)
[example 2](http://exercism.io/submissions/56abfba48d714ec8a4228ea1938e15f9)

[2015-11-12 22:18] kytrinyx commented on #2380
Thanks, @ThomasZumsteg!

[2015-11-12 22:20] kytrinyx commented on #2304
Thanks, @rchavarria I'll close this one in favour of exercism/xjavascript#128

[2015-11-12 22:20] #2304 closed

[2015-11-13 00:13] GustavoCaso commented on #2418
@trayo I have been looking in the code but no sign of the `confirm` is there anything I'm missing ?

[2015-11-13 02:19] kytrinyx commented on #2418
The behavior is still in place, but I have no idea how it's done. The codebase doesn't make mention of the explicit text, so it seems like it might be using some third party extension (...?) to do this.

[2015-11-13 07:19] GustavoCaso commented on #2418
@kytrinyx ok I will continue poking around.

[2015-11-14 00:55] tleen opened #2615 "General solution discussion area"
A future feature request, it may be a nice-to-have general discussion area about each problem set. This way if there is a place outside of specific issues per-submission to talk more about general tradeoffs and approaches taken buy the group of submitters as a whole.

I was looking a the [Go Clock](http://exercism.io/tracks/go/exercises/clock) problem in this case. I think the discussion of the in

[2015-11-14 04:48] trayo commented on #2418
@GustavoCaso Sorry for the late reply, I just confirmed that this still exists. I think the code for it is [here on line number 30359](https://github.com/exercism/exercism.io/blob/master/lib/app/public/js/app.js#L30359)

Or at least that's where it's mentioned.

[2015-11-14 09:30] GustavoCaso commented on #2418
Thanks @trayo

[2015-11-14 13:03] kytrinyx commented on #2418
Once you find the code, look for it in the coffeescript under `frontend`, I think, otherwise it will go away when we compile it.

[2015-11-14 13:03] kytrinyx commented on #2418
Actually, I take that back. Check out frontend/app/js/script.js

[2015-11-14 13:05] kytrinyx commented on #2615
Thanks for the suggestion. This has come up a few times, and I think there are a few trade-offs that we need to consider before implementing something like this. I'm particularly worried that people will discuss in the general area in place of discussing in solutions. That said, this could end up being a non-issue.

[2015-11-14 13:06] #2213 closed

[2015-11-14 13:47] GustavoCaso commented on #2418
Great @kytrinyx. I saw it, also that you need `lineman` running for the code to take affect in development.
I hope to have it finish by tomorrow.

[2015-11-15 16:33] drzoidberg33 opened #2616 "Building word_count.cpp always fails."
Don't know if I'm doing something wrong or if it's just a boost issue.

Running OS 10.11.2
Boost v1.59.0
Xcode 7.1.1

Trying to build in Xcode just fails with no output.

Creating another build and trying to to use make from command line gives me this:

[code]

Any ideas what I'm doing wrong? I can build the application fine on it's own (without the test).

[2015-11-15 17:07] kytrinyx commented on #2616
@RichardWigley do you know what might be happening with this?

[2015-11-16 16:10] kytrinyx commented on #2591
I'm going to go ahead and close this one, as I still think that regexcrossword.com is a better match for this. Thanks so much for the suggestion!

[2015-11-16 16:10] #2591 closed

[2015-11-16 16:24] kytrinyx commented on #2553
@GustavoCaso would you like to take a look at this one?

[2015-11-16 16:26] GustavoCaso commented on #2553
Sure @kytrinyx no problem ! Thanks

[2015-11-16 16:33] kytrinyx commented on #2531
This got fixed, as far as I can tell.

[2015-11-16 16:33] #2531 closed

[2015-11-16 16:50] kytrinyx commented on #2406
I'm closing this. Please reopen or submit a new issue if you are still having trouble.

[2015-11-16 16:50] #2406 closed

[2015-11-16 16:51] kytrinyx commented on #1712
We've replaced this feature with the 5-a-day feature.

[2015-11-16 16:51] #1712 closed

[2015-11-16 18:19] kytrinyx commented on #2607
@Tonkpils said:

Let's do this. I'm a bit fried after two weeks of travel, but if one of you has an idea of where to begin, I'm happy to jump in and contribute.

[2015-11-16 21:00] kytrinyx commented on #2537
Here's a rough plan for the new homepage:

1. The unifying concept is "leveling up", using the Dreyfus model.
2. Talk to people at each level (novice, advanced beginner, competent, proficient, expert). Recognize the pains that they're probably experiencing at that level, and how exercism can help address that.
3. Link each level to a separate "getting started" page. We will likely only need two: o

[2015-11-16 21:10] kytrinyx opened #2619 "Rewrite pieces of the codebase to make it easier to contribute"
For the past two years, Exercism has been a collection of experiments. Now the ideas are coalescing into something coherent.

The new code will be implemented within the same repository, and it will replace bits and pieces little by little.

The first step has been to move `./lib/app` out to `./app`, and `./lib/api` to `api/v1`. These sinatra apps never belonged in lib in the first place.

The sec

[2015-11-16 21:18] kytrinyx opened #2620 "Add a link to the language-track repository on the language-specific page"
E.g. http://exercism.io/languages/haskell should have the link to https://github.com/exercism/xhaskell

The http://x.exercism.io/tracks/haskell endpoint has a `repository` key in the response payload.

[2015-11-16 21:20] kytrinyx opened #2621 "Language pages should not have different data for logged in / logged out view"
Right now when you're logged in you see:

- the list of exercises
- the "getting started" section which links to the help pages

When you're logged out you see:

- fetch your first exercise
- the "getting started" section which links to the help pages

We should always see all the sections, in the following order:

- fetch your first exercise
- the "getting started" section which links to the help

[2015-11-17 00:28] kytrinyx commented on #2620
/cc @GustavoCaso do you want to take this one?

[2015-11-17 00:35] GustavoCaso commented on #2620
Sure @kytrinyx. Thanks

[2015-11-17 00:37] GustavoCaso commented on #2621
I can take a look at this one as well @kytrinyx

[2015-11-17 09:47] RichardWigley commented on #2616
It sounds like the problem is specific to one exercise? If that's the case then opening an issue on [C++ repository](https://github.com/exercism/xcpp) might make sense?  [I looked at the word count question and there have been no recent changes.](https://github.com/exercism/xcpp/tree/master/word-count).

I haven't looked at C++ for over 10 years and it was Visual Studio on Windows machine :)  I tr

[2015-11-17 14:41] kytrinyx commented on #2620
In case it's hard to find... the languages action lives in `lib/app/routes/languages.rb` and the views are in `lib/app/views/languages/`.

[2015-11-17 14:44] kytrinyx commented on #2616
D'oh. I meant to tag Richard Thompson, not Richard Wigley who is @LegalizeAdulthood! Sorry about that!

[2015-11-17 14:47] kytrinyx commented on #2621
Thanks! Let me know if you get stuck on anything--it's a bit of a mess in there.

[2015-11-17 14:51] GustavoCaso commented on #2621
Sure @kytrinyx I will take a look tonight !

[2015-11-17 14:51] GustavoCaso commented on #2620
@kytrinyx Thanks, I'll let you know if I get stucks

[2015-11-17 15:10] RichardWigley commented on #2616
No worries; I am enjoying not programming C++ even more ;-)

[2015-11-18 01:22] kytrinyx commented on #2620
Yeah, I'll add a comment in the PR. Thanks!

[2015-11-18 15:50] kytrinyx commented on #2621
Fixed in #2624

[2015-11-18 15:50] #2621 closed

[2015-11-18 15:50] kytrinyx commented on #2620
Fixed in #2623

[2015-11-18 15:50] #2620 closed

[2015-11-18 15:54] kytrinyx commented on #2572
@GustavoCaso Would you be interested in working on this one?

It's a ridiculously large SQL statement (I think `lib/exercism/user.rb:159`).

The fix, per the discussion here should be to exclude exercises that they've liked (there's a `likes` table). This might make the query so slow that we have to rethink our strategy, so it might be a bit tricky.

[2015-11-18 15:56] GustavoCaso commented on #2572
@kytrinyx SQL is not my strong suit but yes there is not better way of learning.

[2015-11-18 15:56] kytrinyx commented on #2585
@GustavoCaso Here's another one where a SQL query is going to need to be tweaked. Interested?

[2015-11-18 15:56] GustavoCaso commented on #2585
@kytrinyx Sure

[2015-11-18 15:58] kytrinyx commented on #2587
I've been reviewing issues, and this issue overlaps with #2572. The conclusion there is to make sure that you don't see any solutions where you've given a thumbs up in the list of 5-a-day. I'm going to close this as a duplicate.

[2015-11-18 15:58] #2587 closed

[2015-11-18 15:59] kytrinyx commented on #2562
@GustavoCaso I think this is a relatively straight-forward one.

The code for the code page starts at `lib/app/views/submissions/show.erb`

[2015-11-18 16:00] kytrinyx commented on #2553
Fixed in #2622

[2015-11-18 16:00] #2553 closed

[2015-11-18 16:01] kytrinyx commented on #2572
I'm happy to help if you get stuck, and also don't feel bad about abandoning it if it turns out to be a rabbit hole.

[2015-11-18 16:03] GustavoCaso commented on #2562
@kytrinyx Great

[2015-11-18 16:04] GustavoCaso commented on #2572
No problem I want to improve my skills with SQL so I will try my best !!

[2015-11-18 16:04] kytrinyx commented on #2519
@GustavoCaso this one is also a pretty straight-forward one.

The navigation bar lives in `lib/app/views/application/_nav.erb` and the dashboard starts at `lib/app/views/dashboard.erb`.

[2015-11-18 16:05] kytrinyx commented on #2572
As always, let me know if you get stuck!

[2015-11-18 16:09] kytrinyx commented on #2604
I'm not sure what we would have to do in order to remove the demo from the site. I think it might just be to remove the section on the homepage that mentions the demo.

@GustavoCaso @karloxyz would either of you be interested in taking a look at this?

[2015-11-18 16:13] GustavoCaso commented on #2519
@kytrinyx got it

[2015-11-18 16:15] kytrinyx commented on #2519
Thanks :)

[2015-11-18 16:15] GustavoCaso commented on #2604
@kytrinyx Sure looks simple

[2015-11-18 16:23] GustavoCaso commented on #2519
Not Problem

[2015-11-18 17:09] kytrinyx commented on #2604
Yeah, it should be as simple as that. We may have referenced the demo elsewhere, but we'll find it eventually.

[2015-11-18 17:21] GustavoCaso commented on #2604
Maybe removing from CLI ?

[2015-11-18 17:24] kytrinyx commented on #2604
Yeah, we'll remove it once it's off the site.

[2015-11-18 17:38] GustavoCaso commented on #2604
Cool

[2015-11-18 23:35] mfrost commented on #2413
The original report describes the difference between a `codespan` and `codefence` in [redcarpet](https://github.com/vmg/redcarpet). I've had a bit of trouble tracking down the original source of the discrepancy between preview and rendered comments. I can do a git-bisect if we want to really chase it down.

As per @tejasbubane's last comment, code block formatting seems to have been fixed in [this

[2015-11-18 23:38] kytrinyx commented on #2413
Ahhh. Let me re-generate all the html first, and see if it's still a problem.

[2015-11-18 23:48] mfrost commented on #2380
As far as I can tell, this has to do with the [#md](https://github.com/exercism/exercism.io/blob/master/lib/app/helpers/markdown.rb#L18) helper. As we already know the language of the `Submission`, we automatically wrap all of the content in a codefence. Redcarpet is unaware of the significance of comments in the `Submission` body, and reads ahead until it finds a closing backticks. In psuedo-mark

[2015-11-18 23:53] karloxyz commented on #2604
@kytrinyx Sure, I'll work on this as soon as I get home.

[2015-11-18 23:53] mfrost commented on #2498
I believe this is a duplicate of #2380.

[2015-11-19 00:30] kytrinyx commented on #2413
Regenerated.

[2015-11-19 00:39] kytrinyx commented on #2498
Yepp, you're right. Thanks!

[2015-11-19 00:39] #2498 closed

[2015-11-19 00:40] kytrinyx commented on #2380
Let's create two helpers, one for code and one for regular markdown.

[2015-11-19 00:41] kytrinyx commented on #2604
@karloxyz @GustavoCaso don't both of you work on it :)

[2015-11-19 00:48] mfrost commented on #2380
Ok, I'll give that a shot tomorrow.

[2015-11-19 22:30] mfrost commented on #2380
Fought this for a while, but realizing I might be going about it the wrong way. My understanding is that `submission.solutions` are always source files. If that is correct, do we need to run them through `#md` at all? Seems like we really just want the good highlighting bits like:

[code]

Are there cases where a `submission.solution` is actually markdown that needs parsing?

[2015-11-20 01:22] kytrinyx commented on #2380
No, you're absolutely right. `Submission.solution` is always going to be source files.

[2015-11-20 20:28] LegalizeAdulthood commented on #2616
This looks to be a problem with boost.test in 1.59.  In Boost 1.59 they changed Boost.Test considerably.  Try Boost 1.55 and see if you still have the same problem.

[2015-11-21 11:27] karloxyz commented on #2604
@GustavoCaso Are you working on this? If you are, you can take this one since I haven't started yet. I'll work on this tomorrow if you haven't.

[2015-11-21 11:33] GustavoCaso commented on #2604
@karlo I have started working on it. I haven't got the time to do the pull
request is been a crazy week. I will create it tomorrow or today depending
on the free time .
On 21 Nov 2015 12:27, "Karlo" <notifications@github.com> wrote:

[2015-11-22 08:21] karloxyz commented on #2604
@GustavoCaso Alright, take this one then :)

[2015-11-22 09:49] GustavoCaso commented on #2562
@kytrinyx You want to display some kind of text depending if is archive or active and remove the checkmark ?

[2015-11-22 15:09] kytrinyx commented on #2562
Yeah, I want to remove the checkmark and then instead of having something next to the last iteration number, I'd like to have something that says `archived`, but up in the area over it (where it says the name of the problem and "submitted by X a while ago").