[2016-08-02 19:27] hanneskaeufler commented on #3024
I think a start would be to include the meta tag as described in https://dev.twitter.com/cards/getting-started#started

[code]

[2016-08-02 23:58] gusseting commented on #2922
@kytrinyx please close this issue.

[2016-08-03 00:11] kytrinyx commented on #2922
Thanks!

I don't know if anyone mentioned this, but you can auto-close related issues either from commits, or from pull requests:
- https://help.github.com/articles/closing-issues-via-commit-messages/
- https://github.com/blog/1506-closing-issues-via-pull-requests

[2016-08-03 00:11] #2922 closed

[2016-08-03 01:00] gusseting opened #3026 "Command Line Interface (CLI) update windows install information"
The current CLI information for Windows at http://exercism.io/cli needs updating to reflect changes which include:
- 2015 release of Windows 10 - [21% of market share, so while we have a large % of mac users, there's still a significant % of exercism users affected].(https://www.netmarketshare.com/operating-system-market-share.aspx?qprid=10&qpcustomd=0)
- Apt-Get and OneGet for Windows - [Article

[2016-08-03 12:43] Peque commented on #2891
@Insti Is the update in production? If so, it seems it is still an issue, yes:

http://exercism.io/submissions/205b88badb0d41a18ee78f97c7cc6a36

[2016-08-03 12:46] Insti commented on #2891
@Peque yes it is in, but that code has already been rendered and converted to html, are you able to submit a new iteration?

[2016-08-03 12:50] Insti commented on #2891
Confirmed still broken: http://exercism.io/submissions/8146d9059e7d4690ae4633b7f2192b95

[2016-08-03 12:54] Insti commented on #2891
Code renders correctly on the Rouge demo page: http://rouge.jneen.net/pastes/XQGP
![exercism - python syntax highlighting](https://cloud.githubusercontent.com/assets/5096681/17366181/2d594a18-598a-11e6-9dab-4711f14255e9.png)

[2016-08-03 12:58] Insti commented on #2891
@amalrik do you have any more information/clues that might help solve this?

[2016-08-03 13:06] Insti commented on #2794
This would be a better fit in [x-common](https://github.com/exercism/x-common/issues), are you able to move issues between repositories?

[2016-08-03 13:13] Insti commented on #2891
Clue, Pull reqest: #2838
This is the origin of the `lib/rouge/formatters/html_exercism.rb` file.
Maybe something is missing that is in the original `rouge/formatters/html.rb` file (which might have been updated.)?

[2016-08-03 13:13] #2744 closed

[2016-08-03 13:25] Insti commented on #2743
Clarification required:
Are you talking about linking to lines in your comments (as has been implemented by #2838 / #2744?)
Or some other way of having the comments show between the code like when reviewing Github pull requests?

[2016-08-03 13:36] Insti commented on #2746
Languages can add their own specific comments to the Readme using a HINTS.md file.

[2016-08-03 16:30] petertseng commented on #2743
I meant this one.

[2016-08-04 22:06] ryanplusplus opened #3029 "User finished tracks should determine completeness via a set operation"
User finished tracks are currently determined by comparing the number of completed exercises within a track against the total number of exercises currently in the track. The issue is that due to exercise deprecation within a track, there may be exercises completed that are no longer in a track. This comparison should be improved by ensuring that the set of all exercises within a track is a subset

[2016-08-05 13:33] mathiasose opened #3031 "Elixir regex syntax highlighting is too greedy"
As seen on line 8 on http://exercism.io/submissions/3d830d8338564b88a4951bf5e3100052

There's probably a regex (ha!) in the syntax highlighter that should be modified to be less greedy.

[2016-08-05 14:40] Insti commented on #3031
Does this happen on the Rouge demo site? http://rouge.jneen.net/

[2016-08-05 19:57] troubalex commented on #2780
@kgrz:

To me, that immediately makes sense. I submitted 2 exercises in the Javascript track, and I had to look very hard to find the language on the page. Adding a section on top called something along the lines of "my languages" would be conveniently obvious.

I don't see anything "Active" or "Inactive". Are you referring to the language page or the exercises which are part of the language track

[2016-08-05 20:13] kytrinyx commented on #2794
This, unfortunately, is not a GitHub feature.

There is, apparently, a browser plugin that kind of does it for you (it copies all of the content and opens a new issue in the target repository). I can't remember who used that plugin. @kotp maybe?

[2016-08-05 20:17] kytrinyx commented on #2746
I'm going to close this in favor of the one that @Insti kindly opened a new one in the Go track. (Thanks @Insti!)

[2016-08-05 20:17] #2746 closed

[2016-08-05 20:23] kytrinyx commented on #3026
This is great!

Will you be taking a stab at fixing it?

[2016-08-05 20:38] troubalex commented on #2780
And now I know why.

The buttons listing all available exercises look like dropdown buttons but behave like an accordion header which is unexpected. I also wonder if it wouldn't be better to list the name of the exercise as a link, and only add the one line description beside it. The link would then take me to the exercise page with all necessary information.

That way the list would look more lik

[2016-08-05 21:12] Insti commented on #2803
In #113, I wrote:

Perhaps rather than selecting a particular solution submitted through the site, a curated selection could be stored in the relevant exercism/xlanguage repository and presented in a separate 'example solutions' page, with a short description/commentary. With these open to discussion/argument via Github pull requests.

More examples:

hello_world_low_cyclomatic_complexity.rb
hello

[2016-08-05 21:42] kotp commented on #2794
I did, it was ZenHub, though I just temporarily signed up/in and used it to see what it would do on that one issue.

[2016-08-05 21:48] kytrinyx commented on #2794
I wish there was a way to do a proper move, but in the absence of one of those, the ZenHub approach seems like a good workaround.

[2016-08-05 22:02] kytrinyx commented on #2803
My one question about this approach is whether or not there are languages that mandate file names.

We might also consider this:

[code]

[2016-08-05 22:03] kytrinyx commented on #2803
By sticking "example" in the pathname, we would already be ignoring them when serving files.

[2016-08-05 22:03] kytrinyx commented on #2780
Holy smokes that looks so much better :heart:

[2016-08-05 22:52] Insti opened #3032 "Check that contribute page excludes foregone exercises."
The contribute page lists all the problems that need to be implemented in a language, for example:
http://exercism.io/languages/ruby/contribute

I'm fairly sure it excludes deprecated exercises but need to also check that this list excludes forgone exercises.

Hint: This data might come from exercism/x-api

[2016-08-05 23:07] Insti commented on #2780
I really like that @troubalex :art:

[2016-08-06 00:15] kytrinyx commented on #3032
A specific exercise you can check is Java—for which "leap" is foregone.

[2016-08-06 12:12] troubalex commented on #2780
I'll check with @gusseting if this is something she'd like to work on during [RGSoC](railsgirlssummerofcode.org), otherwise I'll prepare a patch.

[2016-08-06 12:17] troubalex opened #3033 "Make the exercise list inside each language track easily scannable."
_Copied from #2780_

I am talking about pages like this: http://exercism.io/languages/cpp#exercises

The buttons listing all available exercises look like dropdown buttons but behave like an accordion header which is unexpected. I also wonder if it wouldn't be better to list the name of the exercise as a link, and only add the one line description beside it. The link would then take me to the exer

[2016-08-06 12:32] troubalex opened #3034 "Add breadcrumbs to exercise detail pages"
This is the flow I base my observations on:
1. Go to "Languages" from by clicking the menu on the top
2. Choose a language
3. Navigate to the exercise list via the left hand navigation
4. Choose an exercise, and navigate to the details page by clicking the README or Test Suite link

What if I now want to go back to the exercise list to check out another one?

The least cumbersome way is to hit the

[2016-08-06 12:33] troubalex commented on #3034
Related to #3033.

[2016-08-07 15:12] kytrinyx commented on #3033
💯 I would love to see this change happen!

[2016-08-07 15:15] kytrinyx commented on #3034
:heart: I think this would help a lot.

[2016-08-07 15:21] kytrinyx opened #3035 "Make language sections separate urls"
Right now if you go to `exercism.io/languages/:track_id` there is a menu in the sidebar. E.g. http://exercism.io/languages/ruby

Each of these is a section in the same page, and we can't link directly to them. Also, they break the back button in some browsers. If you click into one, you can't use the back button to get to the previous place.

I think that it would be useful to have actual endpoint

[2016-08-07 19:14] Insti opened #3036 "Looking for Sandi Metz' beer-song solution."
On the [Why are computers podcast](http://whyarecomputers.com/3) Sandi Metz and Katrina Owen talk about their new book [99 Bottles of OOP](http://www.sandimetz.com/99bottles/) which is about the Exercism `beer-song` problem.

In the podcast they mention that Sandi solved the problem on Exercism. I've been trying to find her solution but have not had any luck. Has anyone else managed to find it?

W

[2016-08-07 19:22] Insti commented on #3036
I found it, by finding her user profile and seeing which exercises she'd attempted.
It's archived, which I think means it didn't show up on the list of 'other implementations of beer song' where I was looking to begin with.

http://exercism.io/submissions/51db2c7bbc82110c83000010

[2016-08-07 19:22] #3036 closed

[2016-08-07 21:24] Insti commented on #1950
Closing this old issue, discussion on a similar topic is still continuing: https://github.com/exercism/discussions/issues/60

[2016-08-07 21:24] #1950 closed

[2016-08-07 21:31] Insti commented on #2412
Did this ever happen again? If not we can probably close this issue.

[2016-08-07 21:40] kytrinyx commented on #2412
I don't think it did. I'm closing it and we can reopen if we see it again.

[2016-08-07 21:40] #2412 closed

[2016-08-07 21:41] Insti commented on #2593
This has hopefully been resolved by now. If not, there's an XCode support website which could might be more helpful: https://developer.apple.com/support/xcode/

[2016-08-07 21:41] #2593 closed

[2016-08-08 00:30] gusseting opened #3037 "refactor css for grays"
I'm working on [the user experience for exercism](https://github.com/exercism/discussions/issues/34), and whilst sorting out the css for the navigation to change it grey, noticed the following issues, which I'll be working on:
- the greys specified are in the "muddy accessibility danger zone" as described in [UX/design article from Nathan Curtis](https://medium.com/eightshapes-llc/color-in-design-

[2016-08-08 01:24] gusseting commented on #3026
I'm fine to do the update itself, but need some outside guidance. What I'm after is one set of instructions for installing in windows 10, 8, and 7. Can the CLI be installed the same way simply on all three? How?
That's what I need to have the instructions for in order to do the update. I'll do some research, and see who might be able to help.

[2016-08-08 01:45] gusseting commented on #3033
@troubalex I'm wondering if instead, each problem could be formatted like so:

Problem 1: Problem description 1
Readme  | Test Suite

Problem 2: Problem description 2
Readme  | Test Suite

Let's discuss re: picking up.

[2016-08-08 03:48] gusseting commented on #3024
It's an issue with Slack too, and here's what I've worked out so far by comparing the slack brand to exercism on slack and twitter.
![slack on twitter](https://cloud.githubusercontent.com/assets/540264/17468469/afb830e8-5d6b-11e6-8906-d77a673ed52c.png)
![exercismslack](https://cloud.githubusercontent.com/assets/540264/17468536/2ea801bc-5d6c-11e6-8de1-46a18ef81778.png)

What's missing from exercism

[2016-08-08 06:53] Insti commented on #3037
Awesome @gusseting, I really like these types of posts that give clear description and context for what you'll be working on.

[2016-08-08 06:56] Insti commented on #3033
I don't think the test suite is useful information on the all problems page.

[2016-08-08 07:07] Insti commented on #3024
Make sure all the four required open graph properties are present: http://ogp.me/

This blog post has more information about open graph and twitter/facebook meta tags https://blog.kissmetrics.com/open-graph-meta-tags/

[2016-08-08 07:12] Insti commented on #3037
That Nathan Curits article is really good, :heart: there is a lot of other advice in there which could also be good for Exercism to adopt.

[2016-08-08 07:52] Insti commented on #2295
Is this a exercism/cli issue or an exercsim/x-api issue?

[2016-08-08 07:59] Insti commented on #2431
"Moved" issue to cpp track repository.

[2016-08-08 07:59] #2431 closed

[2016-08-08 08:06] Insti commented on #2468
Is this still an issue? Should it be moved to the exercism/cli repository?

[2016-08-08 08:09] troubalex commented on #3033
@gusseting and myself have already talked about it. I'll repeat my arguments here for documentation's sake.

Since test suite an README are tabs on the same page, we'd be winning very little by adding those links to the list items. Adding extra elements to the list would therefore be visual noise making the list harder to scan.

[2016-08-08 17:20] troubalex opened #3038 "Include a link to the newsletter archive in the copy surrounding the sign up"
The reasoning is that it's much easier for people to sign up to a newsletter if they know what they get themselves into. The tinyletter archive is here: http://tinyletter.com/exercism/archive

Suggested change:

### Behind the Scenes
Exercism is many things: An experiment. A bunch of interesting people. Chaotic. An open source project.

If you want an informal glimpse into how things are going and

[2016-08-08 17:22] troubalex commented on #3038
Related to: [exercism/discussions#31](https://github.com/exercism/discussions/issues/31)

[2016-08-08 19:01] kytrinyx commented on #2468
I don't recall if it's a problem. If we don't already, we should downcase the track id when the submission is posted.

The code starts here:
https://github.com/exercism/exercism.io/blob/master/api/v1/routes/iterations.rb#L39

[2016-08-08 19:02] kytrinyx commented on #2295
I believe this is a CLI issue.

[2016-08-08 19:03] kytrinyx commented on #3037
Me too! :sparkles: :heart: :heart: :sparkles:

I know GitHub added reactions to avoid me too posts, but I really, really like these and a +1 just doesn't seem like enough.

[2016-08-08 19:04] kytrinyx commented on #3024
I like that metadata, @gusseting!

[2016-08-08 19:05] kytrinyx commented on #3026
Excellent questions!

@jwood803 is this something you could help out with?

[2016-08-08 19:18] Insti commented on #2295
Copied Issue to the cli repository.

[2016-08-08 19:18] #2295 closed

[2016-08-08 20:21] Insti commented on #2468
:rabbit: :black_circle:

[2016-08-08 20:54] Insti opened #3041 "nodejs deprecation warnings"
When running npm as part of the build process there are a number of deprecation warnings that probably need addressing, For example see: https://travis-ci.org/exercism/exercism.io/builds/150752208

[code]

Is there someone who knows about nodejs who can look into this?

[2016-08-08 22:21] kytrinyx commented on #3041
That's a good question. @bernardoamc @tejasbubane - is this something you know about?

[2016-08-08 22:24] #2468 closed

[2016-08-08 22:25] kytrinyx commented on #2468
I'm so glad you provided the translation for that :)

[2016-08-08 22:46] bernardoamc commented on #3041
Unfortunately no, but we have to change the `frontend/package.json` file to solve these warnings. I don't know which versions we should use to avoid breaking things though.

[2016-08-08 22:53] kytrinyx commented on #3041
I honestly don't think anyone knows at this point.

[2016-08-09 04:50] gusseting commented on #3026
@kytrinyx it looks like the interim solution to our problem is to simply have the instructions for chocolatey: http://exercism.io/cli#chocolatey as the main instructions, and put the rest into troubleshooting as an alternative. Powershell + chocolately are available for all versions, and chances are that windows folk might already have chocolately installed.

[2016-08-09 06:36] gusseting commented on #3037
@Insti oh? Is there anything in particular that you'd like to see adopted?

[2016-08-09 07:00] tejasbubane commented on #3041
Not sure if this will break things, but I can give a try to upgrade these dependencies.

@kytrinyx Should I do this as a part of #2949 so that you can test it as a whole, or do you want a separate PR?

[2016-08-09 07:10] Insti commented on #3041
Since we're not sure what will break, a separate PR seems like a good idea.

[2016-08-09 07:30] Insti commented on #3037
It would be good if there was some kind of short document/page that gave a summary/examples of the different colours.

Here are the brand colours: xxx yyy zzz
Here are the different tints of exercism-pink we use: xxx yyy zzz
Here are the different tints of exercism-grey we use: xxx yyy zzz
Here are the feedback colours: success warning error informational

All this is probably available in the css

[2016-08-09 08:13] gusseting commented on #2535
I've just done a mockup of how the page could look - removing the overview, having the basic information for an install, and putting Mac osx first (website statistics show that's the most popular operating system for exercism.io). I'm putting the copy together, and fine to provide that as documents to review, or open to suggest as to how to provide text for review - another issue, or add to this o

[2016-08-09 09:25] dcorking opened #3044 "Multi-line OCaml comments not correctly highlighted"
Multiline comments, such as those [in my submission](http://exercism.io/submissions/6ae5d256b9d444229dfb8f1bfbc16e30) are not correctly highlighted for syntax.

The second and subsequent lines are formatted as code, not as comments.

The same code [pasted onto the Rouge demo site](http://rouge.jneen.net/pastes/5xPa) seems to format better.

[2016-08-09 11:03] gusseting commented on #3037
@Insti agreed, and a styleguide (a summary of styles, and what goes where) is certainly something that I'm aiming for ASAP before the end of September. I've got a quick and dirty version that I'm using locally for the moment:
![bootstrap_hack](https://cloud.githubusercontent.com/assets/540264/17514192/8c540f6e-5e74-11e6-957d-695d7c4ea9d8.png)
It would be great to have something more public facing

[2016-08-09 12:24] Insti commented on #3044
Excellent bug report :heart:, thanks!

[2016-08-09 12:37] Insti commented on #2891
Clue, Issue: #3044
Also happens in OCaml
It seems that when the line numbers are added the 'c' (comment?) css class is not maintained after the first line. So I suspect the problem is with the code that adds the line numbers.

[2016-08-09 18:13] troubalex commented on #2535
A couple of comments/questions:

+ I like the more simplified version of this, it is much less intimidating.
+ What are your reasons for moving the tabs to the top instead of keeping them on the right hand side?
+ Where should the more advanced instructions go, such as installing without Homebrew? How would you want to make people aware of their existence?
+ Have you considered moving the instruct

[2016-08-09 22:06] blueelvis opened #3045 "Help Page has missing information"
Hello ^_^,

The Help page located here - http://exercism.io/help
is missing some information.

The `Directories` section does not tell anything about the `exercism configure --dir=` command. The code part should be changed.

Also, at the bottom of the page, there are outgoing links for opening Issues and PRs. I think they should redirect to this repository instead of the Github Help Pages.

[2016-08-09 22:12] blueelvis commented on #3026
@gusseting - Are there uninstallation instructions as well for the Chocolatey method? I am working on the polish for the installer. Looking forward to release the polished version :)

[2016-08-10 00:18] gusseting commented on #3026
@blueelvis I've checked with Katrina, and there's only install required for chocolately.

[2016-08-10 03:31] bernardoamc commented on #3011
Is this still a issue? :)

[2016-08-10 03:34] bernardoamc commented on #3045
Thanks for the information @blueelvis! ^^

Do you want to tackle this?

[2016-08-10 06:06] blueelvis commented on #3045
Yep. Will do :)

[2016-08-10 08:31] Insti commented on #3011
Implemented! Thanks @ramyaravindranath :star:

[2016-08-10 08:31] #3011 closed

[2016-08-11 01:31] gusseting commented on #2535
@troubalex

thankyou - that's the aim.

I wanted to make downloading the CLI cleaner and simpler, and felt that nav at the top helped with that.
There's code blocks, and when you have that left hand nav, the chances of needing to scroll in order to see/get a code block are higher. I noticed that the code blocks in languages didn't have the side nav, only the top, so I'd like to adopt the code/layo

[2016-08-11 04:11] gusseting opened #3046 "Design Issue - Correct margins below code snippets"
As noted in #2535, we have a visual problem with margins below code snippets - in that there doesn't appear to be any. I'm not sure how widespread this issue is, but I've noticed it in the following:
http://exercism.io/cli
http://exercism.io/help (screenshot below)
![cssmarginproblem](https://cloud.githubusercontent.com/assets/540264/17578534/75210f40-5fcd-11e6-94b4-67b4c043b95a.png)

I've tried t

[2016-08-11 07:30] Insti commented on #3046
Try: `exercism.io/public/sass/base/components/pygments.scss`

Found by `grep`ping the sass files for `\.highlight` and looking at a few matching files to see which one had the other css properties.

[2016-08-11 08:41] Insti commented on #1931
#2324 is general and not specific to this issue.

https://github.com/exercism/x-common/issues/69 is closed.
https://github.com/exercism/x-api/issues/31 has a cyclic dependency on this issue.

I suggest we close https://github.com/exercism/x-api/issues/31 and this issue.

[2016-08-11 12:25] gusseting commented on #3024
@Insti to help answer your question "What do we need to do to make Exercism links show as pretty page previews in Twitter?" I'm finding that part of the answer is: first you need to have pretty pages with images to preview. Exercism doesn't have informational pages with images in the way that say [http://www.alistapart.com](alistapart.com) does, but we can provide a summary in the same way that sl

[2016-08-11 14:56] k3rni commented on #3044
The problem is in [lib/rouge/formatters/html_exercism.rb:66](https://github.com/exercism/exercism.io/blob/master/lib/rouge/formatters/html_exercism.rb#L66), where the HTML-wrapped string is cut into lines with no regard for its structure. Each line is then wrapped into a span.

It's easily seen in the raw HTML output (not your browser's inspector), tags rearranged for clarity:

[code]

What should

[2016-08-11 15:03] #3038 closed

[2016-08-11 15:07] kytrinyx commented on #3041
Agreed.

[2016-08-11 15:12] kytrinyx commented on #3026
@gusseting that sounds good.

@blueelvis to uninstall, delete the binary (`exercism.exe`) and the config file (`.exercism.json` usually)

[2016-08-11 17:40] Insti commented on #3024
Thanks @gusseting the logo image should be enough for an image, we're not an image heavy site after all as you alluded to.
The link summary should be possible to make page specific and relevant to the pasted link though?

[2016-08-11 19:08] Insti commented on #1931
This issue is now being handled by: https://github.com/exercism/x-api/issues/31

[2016-08-11 19:08] #1931 closed

[2016-08-11 19:14] Insti commented on #2441
This issue was addressed in x-common with the final decision being that the letter component of robot names should be in uppercase

https://github.com/exercism/x-common/issues/260 - Discussion
https://github.com/exercism/x-common/pull/283 - Pull request to update Readme

[2016-08-11 19:14] #2441 closed

[2016-08-11 19:20] Insti commented on #2733
Newrelic was removed from exercism.io in January 2016

https://github.com/exercism/exercism.io/commit/859e7262737c6254e03dde3ebbe8a8d058ff730a

[2016-08-11 19:20] #2733 closed

[2016-08-12 02:05] gusseting commented on #3024
@insti:

To make the summary page specific and relevant to the link, there needs to be specific summaries for every single page that we think will be linked - do we have the resources to do that?

So the question here is: what is most linked to on twitter?
I've just gone through the statistics, and the biggest jump in stats was on july 12. Here's the results on twitter, [which was due to @kytrinyx

[2016-08-12 04:55] mhelmetag commented on #3031
@Insti , it does. Seems to be an issue with the Elixir parser for Rouge.

[2016-08-12 05:55] Insti commented on #3031
In which case, this is a Rouge issue rather than an Exercism issue.
Please raise an issue on the Rouge project.
Once it is fixed in Rouge we can update the gem and the fix will be available in Exercism.

[2016-08-12 06:11] mhelmetag commented on #3031
Can do!

[2016-08-12 06:24] troubalex commented on #2535
http://exercism.io/exercises/csharp/bob

I don't think it's possible to avoid horizontal scrolling in all cases, and that's okay. The tabs in the sidebar break onto the top on smaller screens, thanks to Bootstrap's responsive grid, so that's not an issue either. Consistency however is. 👍

That makes sense to me.

[2016-08-12 07:07] troubalex commented on #3046
Isn't that the standard Pygments styles file? If so, adding a margin here would overwrite it if Pygments ever is updated.

If that is the case, adding a margin to ```.highlight``` could be done in exercism.scss

[2016-08-12 07:47] Insti commented on #3046
@troubalex I know more about  `grep` than I do about `scss` :) so I'm happy to see your recommendations.

[2016-08-12 07:55] Insti commented on #3024
@gusseting thanks. Just having the metadata there should cause *something* to show up which will be a big improvement over what happened previously.

It would be good to find out what @kytrinyx thinks is best to concentrate on.

[2016-08-12 16:37] troubalex commented on #3046
I double checked, and the change should probably go into ```exercism.io/public/sass/application.scss```

[2016-08-13 01:20] kytrinyx commented on #3024
I think the thing people link to the most is their submissions. I don't know what makes sense in that situation, though.

That sounds like an excellent suggestion.

[2016-08-13 16:06] kytrinyx commented on #1616
I'm deploying the fix for this now. Thanks so much, @nathanbwright!

[2016-08-13 16:06] #1616 closed

[2016-08-13 16:52] #2891 closed

[2016-08-13 16:52] #3044 closed

[2016-08-13 22:49] codesman opened #3050 "Submission line numbers off by one"
I just noticed this on my recent submission: http://exercism.io/submissions/80a830a9ac254338ae78991604c085b5

The line numbers do not line up with the code. The code starts before the line numbers start and ends after the line numbers end.

At first it looks like it might be a css issue, but it's not.  In the submission I linked to, there are 120 line numbers, but the file actually has 121 lines,

[2016-08-14 03:45] kytrinyx commented on #3050
I merged https://github.com/exercism/exercism.io/pull/3048 today, which seems to be the likely cause.

@k3rni would you mind taking a look at this?

[2016-08-14 04:55] bernardoamc commented on #2944
Now that we can search teams the next step will be allowing users to request membership for a team.

What I am thinking for this feature:

- Add a button to request membership on the `/teams` page.
- Add a section called "Membership requests" on the `/teams/:team/manage` page.
- Notify the current team manager about a request (this would involve adding some code to `app/presenters/inbox.rb` and `"

[2016-08-14 08:34] k3rni commented on #3050
Using @codesman's code as a sample test input, I took a quick look. It's very confusing, because it does render properly in tests:

[code]

i.e. there are 121 lines, and the final closing `}` is wrapped properly. Whereas on the live site as linked here:

[code]

[2016-08-14 08:35] k3rni commented on #3050
This may have something to do how the final open newline is closed, by just naively stripping it ouf of the code. But I find it hard to reproduce.

[2016-08-14 12:38] Insti commented on #3024
I linked to a submission, and the link showed up nicely. It's great for letting people know what Exercism is.

![exercism twitter link](https://cloud.githubusercontent.com/assets/5096681/17649107/e0c7643c-622b-11e6-96ea-2564254b1c8e.png)

As for what makes sense when linking to a solution, maybe something like adding a line:
"Insti's first iteration of the beer-song problem" to the summary text.

[2016-08-14 15:40] kytrinyx commented on #3050
If you grab the exact code example and stick it in a test, does it reproduce the issue?

[2016-08-14 15:57] k3rni commented on #3050
Nope (using the test code I introduced that runs the Python and OCaml samples). The snips above are from exactly that, and ran from 93f9a0.

[2016-08-14 16:06] kytrinyx commented on #2944
I think this plan makes sense. I don't think app/presenters/inbox.rb is the right place (we have some very odd and confusing naming, I think the inbox is the track activity stream). In the notifications page we already show team invitations with buttons to accept/decline, I think it makes sense to include the team access requests as well.

I think it would make sense to use the `team_memberships`

[2016-08-14 16:10] kytrinyx commented on #3050
Oh, right. I see what you mean. That's really confusing. How can this be different in production?

[2016-08-14 16:20] bernardoamc commented on #2944
Right! We have inviter_id, we can't totally use this to decide if someone was invited or has requested membership. 👍

Currently the `/notifications` page uses `ExercismWeb::Presenters::Inbox` to build the notifications page (I think), I will investigate a little more.

We also have to add an option for the manager to **refuse** a request, totally forgot this.

[2016-08-14 16:25] kytrinyx commented on #2944
Oh, wait. Yeah, I think you're right.

Me too :)

Maybe we need a second boolean field, `denied`. Hm. This is getting a bit dirty.

[2016-08-14 16:30] bernardoamc commented on #2944
Indeed! 😅  Suddenly we have to check for `confirmed='f'` and `inviter_id` is not null and `denied='f'`. I don't know if it is premature to extract this to a table called `team_membership_requests`.

[2016-08-14 16:35] kytrinyx commented on #2944
Hm. Yeah.

How about having requests in a separate table, and invitations in a separate table, and then if you have a row in the memberships, you're a member. No "confirmed" necessary.

[2016-08-14 16:40] bernardoamc commented on #2944
I think this is the correct choice. It would be something like:

team_membership_requests:

- team_id
- user_id
- inviter_id
- denied
- created_at
- updated_at

team_membership_invites:

- team_id
- user_id
- created_at
- updated_at

team_memberships:

- team_id
- user_id
- created_at
- updated_at

[2016-08-14 16:44] bernardoamc commented on #2944
Or we can drop the `denied` column from `team_membership_requests` and simply remove the row if the team manager denies the request. Do we want to keep denied entries?  If we want we need to add a column called `refused` to the`team_membership_invites`. :)

[2016-08-14 16:45] Insti commented on #2944
Isn't an invite just a membership_request where inviter_id = [a current member]?

[2016-08-14 16:53] bernardoamc commented on #2944
It is indeed! I think the only difference is the person who accepts/refuse the request. In the case of a request it is the team manager and in the case of a invite the user. So you are suggesting that we can have only a `team_membership_requests` table and manage it based on the `inviter_id` value?

[2016-08-14 16:56] Insti commented on #2944
Yes.

[2016-08-14 16:59] bernardoamc commented on #2944
Sounds good to me, looks like I was over complicating things. Thanks @Insti !

[2016-08-14 18:02] Insti commented on #2944
@bernardoamc I'm worried I'm complicating things by overloading the function of the inviter_id column and maybe 2 tables is the way to go.

[2016-08-14 18:12] bernardoamc commented on #2944
It really depends on the way we can express this in the code. For now a single table would work well, but if we need to add columns for specific scenarios in the future it would be better to have two tables. I don't have a strong opinion about these alternatives, we can always change things later...

Since both approaches will take a similar amount of time let's go with the two tables approach.

[2016-08-14 21:08] kytrinyx commented on #2944
I think going with two tables will keep things easier to understand, even though it's a bit more complexity.

[2016-08-15 00:35] gusseting commented on #3024
Whoa - that image is rather large! Lets scale that down a little!

[2016-08-15 05:45] petertseng commented on #2654
Closed by https://github.com/exercism/x-common/issues/198

[2016-08-15 20:54] blueelvis commented on #3045
@bernardoamc - Sorry to say but I am really having trouble finding how that page is rendered :( . There is no route as well defined for that page. Could you please give me a hint? :)

[2016-08-16 00:23] kytrinyx commented on #3045
The page can be hard to find.

The route starts here: https://github.com/exercism/exercism.io/blob/master/app/routes/static.rb#L16

Holler if you have trouble finding anything—it's a bit of a mess in there.

[2016-08-16 00:29] kytrinyx commented on #3024
Deploying the fix in a moment.

[2016-08-16 00:41] kytrinyx commented on #3024
OK, this should be deployed.

[2016-08-16 00:44] bernardoamc commented on #3045
Sorry for the delay. :)

A good trick when you don't find the route is to copy some text from the page and do a search for it using something like grep or ack. This way you will find the view file, with the view file you can do another search to find the route file. In your case:

[code]

The view file is `site/help.erb`, so:

[code]

And you have the route. :)

[2016-08-16 00:52] gusseting commented on #3024
Looks great on slack, no image on twitter - investigating.

[2016-08-16 02:50] bernardoamc commented on #3046
We can tag this with `good first patch`. =]

[2016-08-16 07:16] Insti commented on #3050
If this is not going to be fixed quickly, can we revert the change? It makes referring to line numbers in reviews difficult.

[2016-08-16 07:34] Insti commented on #3050
The tests pass because the test that detect this problem were modified in #3048 (rather than fixing the problem.)

[2016-08-16 08:48] Insti commented on #3050
I've had a more thorough look through the code and suspect the problem is caused by solutions that do not end with a newline.

I also have some issues with the complexity of the code and overuse of instance variables, particularly in the test code.

I suggest we revert the changes (see #3056) then work on a new PR that addresses the code quality issues and fixes the underlying newline problem. (I

[2016-08-16 10:13] Insti commented on #3050
The answer to this is actually yes.

[2016-08-16 10:26] k3rni commented on #3050
Could you share that failing test in a gist?

[2016-08-16 11:10] k3rni commented on #3050
Managed to reproduce it, turns out my editor was lying about the newline following the final `}` not existing (and still saving it). Checking possibilities here.

[2016-08-16 11:10] kotp opened #3057 "Display for Code and Comment does not match in "horizontal split" mode"
![wrong size](https://cloud.githubusercontent.com/assets/16747/17728588/f3523236-642d-11e6-894a-851ca59e313b.png)

The above graphic shows that the comments are not as wide as the screen, when the view is horizontally split.

One of the reasons for selecting this view is in viewing the code, but sometimes the code examples in answers need the additional width as well to be easily read.

[2016-08-16 12:44] Insti commented on #3057
I expect this is caused by #3050 and is probably not a separate issue.

[2016-08-17 07:52] kotp commented on #3057
Right on.  Updated picture to hopefully be more clear.

[2016-08-17 11:29] blueelvis commented on #3045
@kytrinyx @bernardoamc - Thanks a lot for the perfect explanation! I found the page after searching around and hence deleted my previous comment.

I have created a PR. Please take a look when free :)

[2016-08-18 06:26] tejasbubane commented on #3025
This can be closed I guess.

[2016-08-18 09:58] #3025 closed

[2016-08-18 13:32] AWaselnuk opened #3061 "Permission denied on runtests.sh"
This is probably a gap in my understanding of bash and linux but I'm not sure where else to ask this question.

Whenever I fetch a new exercise, I can't immediately run `runtests.sh` because the file does not have the correct permissions.

![screen shot 2016-08-18 at 9 31 29 am](https://cloud.githubusercontent.com/assets/3630241/17775517/9442bc3a-6526-11e6-914c-be0df8262386.png)

I can certainly c

[2016-08-18 14:53] bhoover85 commented on #3046
Hello, I've created pull request #3062 for this issue.

[2016-08-18 18:58] kytrinyx commented on #3061
We explicitly made the CLI write the files as non-executable. The discussion was held here: https://github.com/exercism/cli/issues/276

If you think we should re-evaluate this decision, would you mind opening a new ticket in the github.com/exercism/cli repository and reference the previous discussion there?

[2016-08-19 14:03] AWaselnuk commented on #3061
Thanks @kytrinyx. I'll read that discussion and consider opening a new ticket if I strongly disagree :)

[2016-08-19 14:03] #3061 closed

[2016-08-19 17:41] blueelvis opened #3064 "Entering an incorrect path requires Login"
Hi,

I mistakenly entered the URL as - http://exercism.io/heslp
I know that this page does not exist, but I got a screen asking me to login via Github instead of returning 404. On logging in via Github, I got the 404 page.

Don't you think that it should be otherwise and directly a 404.

This does not happen when logged in via Github.

Also, if I enter the URL as
http://exercism.io/helpsssssssssss

[2016-08-19 18:35] Insti commented on #3064
How do you know that `heslp` is not a page you have to be logged in to see?
Do you want someone who is not logged in to be able to guess all the paths that only logged in people can see by what returns a 404 and what returns a login prompt?
(In this case it doesn't *really* matter since all the code is open source anyway.)

No, because Sinatra is not trying to execute arbitrary content if it canno

[2016-08-19 18:35] #3064 closed

[2016-08-19 18:37] Insti commented on #3064
And you can read more about how Sinatra works here: http://www.sinatrarb.com/intro.html

[2016-08-19 19:33] bhoover85 commented on #3020
Is anyone working this? If not, I'd like to take it.

Here's how it would look with a 20x20 icon. Any suggestions on the size?

![stream_language_icons](https://cloud.githubusercontent.com/assets/4006188/17821936/3d8eaf64-6622-11e6-99a3-81563e82a22d.png)

[2016-08-19 19:36] bhoover85 commented on #3020
I wonder if it would also be good to add the language icon to the list on the left.

[2016-08-19 20:16] Insti commented on #3020
What does "same size as the text" (smaller icon) look like?
Or maybe if the text was vertically centred?
What's the lower limit for icon visibility?

Could be good, could be too "busy" can you do a preview image of it?

[2016-08-19 20:34] davideghz opened #3065 "all solutions accessible in team's dashboard"
Hi :)

In the team's dashboard iI can see/access other team members' solutions even if I have not posted my solution yet for those exercises.. I guess it's a kind of a bug / unexpected use case

[2016-08-19 22:47] Tetsuro opened #3066 "Accessibility improvements to exercism.io"
Hey guys! 👋 I would like to suggest some quick a11y* improvements to the exercism.io website.

## 1. Add more landmarks

<img width="1252" alt="exc1" src="https://cloud.githubusercontent.com/assets/351842/17826132/c83fac6c-663b-11e6-97a7-a897186b059a.png">

Currently only `navigation` can be found under the landmarks menu. We can add more for the main area, the sidebar, and the footer to make it e

[2016-08-20 02:15] kotp commented on #3065
This has been like it always has been, and I think it is as designed.  This is good, and acceptable, because even if you are not logged into github, as long as you know the link, you are able to see the solution as well.

[2016-08-20 02:17] #3065 closed

[2016-08-20 02:18] kotp commented on #3065
@davideghz did you know that you can also submit a failing or incomplete exercise to be able to see others solutions?

Thanks for posting an issue, I know it is appreciated!

[2016-08-20 03:13] davideghz commented on #3065
hi @kotp, thanks for pointing out the fact solutions are accessible as long as you know the link, i didn't notice it. I knew it's possible to access solutions posting a failing exercise, but that to me means losing the challenge, and - for what that can matter - it is registered as a solution that most likely will be improved!

[2016-08-20 03:20] jehoshua02 opened #3067 "Elm Track: Not sure how to run tests / Something wrong with test framework setup"
Things have been going very smoothly so far. Until I got to the robot-simulator exercise.

There was no `runtests.sh` file like previous exercises and no instructions on how to run the tests.

What I tried:

1. Copying in `runtests.sh` from a previous exercise. It builds and executes but no test output is reported to the terminal window, even after modifying code to guarantee test failure.
2. Runn

[2016-08-20 03:39] jehoshua02 commented on #3067
[code]

[2016-08-20 04:34] bernardoamc commented on #3066
This is awesome @Tetsuro !! I would love to see these changes happening, do you want to tackle this in a PR? Just let me know if you need any help! Thanks! 🎉

[2016-08-20 06:50] sobinsunny commented on #3020
I would like to work on this :)

[2016-08-20 10:51] bhoover85 commented on #3020
Hi @sobinsunny, I've already started working this issue. Can you pick a different one?

@Insti, I played around with a couple sizes. I don't think we want to go any smaller than 15px for the icons. The java icon starts becoming difficult to read.

**10px**
![10px](https://cloud.githubusercontent.com/assets/4006188/17830717/1fd99314-66a2-11e6-8c08-83145cf600b3.PNG)

**15px**
![15px](https://cloud.g

[2016-08-20 13:38] Insti commented on #3020
Thanks @bhoover85
I like the middle one (15px)
Put it in a PR and see what @troubalex has to say.

[2016-08-20 18:03] Tetsuro commented on #3066
@bernardoamc sure thing - I'd love to tackle this! I'll make a PR for it :)

[2016-08-20 18:17] kytrinyx commented on #3066
Holy smokes this is fantastic. Thank you :heart: :heart:

FYI @troubalex

[2016-08-20 18:19] kytrinyx commented on #3020
Another thing to try is the lower-right hand corner—that might help make it more scannable. But yeah @troubalex is going to be the one who has the best feedback on this.

/cc @gusseting since this is your interest area.

[2016-08-20 18:24] kytrinyx commented on #3067
Hi @jehoshua02! Some help getting this sorted would be excellent! Would you mind opening this in the elm repository for these exercises? The @exercism/elm folks there will be able to help you figure out what the fix is and point you in the right direction with respect to making the change.

[2016-08-20 18:24] kytrinyx commented on #3065
@davideghz Yeah, this is intentional. In teams it's common to pair on work, and also to have mentors who review code, but don't do many exercises.

[2016-08-20 18:52] troubalex commented on #3020
Sweet! 😄

@bhoover85:

I'm a bit worried that this might become very cluttered and hence hard to scan, but if it's not much work, you could try it out.

@kytrinyx

That's what I thought, only top-right hand corner. Both would probably work.

I'd most likely go for 15px icons, and give them the same padding as the avatar on the left. You could also try and only set the height to 15px to keep the wi

[2016-08-20 19:10] tgecho commented on #3067
@jehoshua02 I'm so sorry about the confusion. We have an open issue about the removed `runtests.sh` here https://github.com/exercism/xelm/issues/100

Please feel free to open another issue over there if that doesn't look relevant.

[2016-08-20 19:14] bhoover85 commented on #3020
Top right looks good. I actually like the 20px over the 15px here, but if you want to stick with 15 just let me know and I'll submit the PR. If you want a full page preview I can attach one.

**20px**
![20px_right](https://cloud.githubusercontent.com/assets/4006188/17833340/7fd02b70-66e8-11e6-8287-66adf0b12a39.PNG)

**15px**
![15px_right](https://cloud.githubusercontent.com/assets/4006188/17833342

[2016-08-20 19:19] davideghz commented on #3065
@kytrinyx very clear use case, thank you

[2016-08-20 19:23] troubalex commented on #3020
Agreed, 20px looks good. :shipit:

[2016-08-20 20:35] bernardoamc commented on #3045
Thanks @blueelvis ! I think we can close this one? 🎉

[2016-08-20 20:43] #3045 closed

[2016-08-20 21:02] Insti commented on #3050
Fixed by #3063
Thanks for the report @codesman .

[2016-08-20 21:02] #3050 closed

[2016-08-20 21:07] Insti commented on #2977
Can we close this as "can not reproduce?"

[2016-08-20 21:57] nickborromeo commented on #3046
looks like the fix for this was merged 😄 we should close this issue out.

[2016-08-21 07:41] #3046 closed

[2016-08-21 09:16] sobinsunny commented on #3020
Ok . Go ahead

[2016-08-21 10:56] gusseting commented on #3020
I think any addition is going to be an improvement.

The issues that I can see with an icons is that it's not searchable - you can't do a find (eg ⌘f on a mac), and search through the exercises - however is that a functionality that would be helpful?
Not everyone is going to know what each icon means - perhaps only the ones of the languages that they're learning - what problems might not knowing e

[2016-08-21 13:57] Insti commented on #3020
@gusseting:

The team view already allows you to view problems by language, the problem this solves is you previously had no way at all to know which language a problem belonged to in the 'all problems' list.

Finding out what the language icon means is easy, click on a problem and it will tell you, or click down the list of languages and see which icon shows up.

Not enough to notice,

It's good

[2016-08-21 20:56] jehoshua02 commented on #3067
@tgecho yeah same issue. Closing this one. Thanks.

[2016-08-21 20:56] #3067 closed

[2016-08-21 23:46] kotp commented on #2977
I think so, other changes have been made and no other noise on this issue.

[2016-08-21 23:46] #2977 closed

[2016-08-22 00:21] radar commented on #3020
(I work at @cultureamp where @gusseting is doing RGSoC):

For an initial pass on this feature, I don’t think that this change is necessary enough to include. While I can see a few people _possibly_ wanting that feature, it isn’t like a “OMG I NEED DIS” part of this feature.

They can hover over the icon to get some alt-text which shows the icon’s language, perhaps?

Very likely to be negligible. T

[2016-08-22 01:13] gusseting commented on #3066
@Tetsuro I'm looking at making changes to the homepage in the not too distant future with the following discussion, and it would be great to have you take part re: accessibility.

[2016-08-22 07:22] gusseting commented on #2535
@troubalex - here's the gists for each section:

- [cli_macosx](https://gist.github.com/gusseting/fc2fe1731155e2654ac216ff80931218)
- [cli_windows](https://gist.github.com/gusseting/4c91188cc0c44cdbf2f7cb42b04d99f8)
- [cli_linux](https://gist.github.com/gusseting/ad8ab5d73c9f780051b288eb0841208e)
- [cli_troubleshooting](https://gist.github.com/gusseting/4909854916fc095c6bb3325183d8155c)

[2016-08-22 17:15] Tetsuro commented on #3066
@gusseting Sounds great, count me in! Definitely not an expert but would love to be part of the discussion.

[2016-08-23 05:39] nickborromeo commented on #3035
@kytrinyx wanted to help out with this 😄

Are you thinking about making the url for installing maybe something like

`exercism.io/languages/:track_id/installing`

And maybe have a view for each section? so that we can replace the `href` with the url?

[code]

[2016-08-23 06:01] Insti commented on #3035
@nickborromeo that sounds good. Let us know if you need any help along the way.

[2016-08-23 06:48] Insti opened #3076 "When a comment is about 24 hours old no timestamp appears next to it"
In this screenshot you can see that the first 3 comments have visible timestamps, but the 4th does not:
![exercism - undated comment](https://cloud.githubusercontent.com/assets/5096681/17882167/00daa708-690b-11e6-994e-5451ac092e33.png)

It did show a timestamp yesterday when I posted the comment, and did a again few minutes later.

Here is a screenshot from the Firefox element inspector which show

[2016-08-23 08:22] blueelvis commented on #3076
@Insti - Oh my god! I simply wish I could give you a hat for writing in this detail for the beginners. Would it be fine to tackle this one? I don't know Ruby but I can try to fix this issue out :)

[2016-08-23 08:29] blueelvis opened #3077 "Update Documentation to Reflect the new Windows Installer"
I think it is time to include the new Windows Installer in the help page over here - http://exercism.io/cli

New Windows Installer link to repo - https://github.com/exercism/windows-installer

What do you guys think?

[2016-08-23 08:43] Insti commented on #3076
sure @blueelvis, you can learn some Ruby along the way :)

[2016-08-23 13:59] bradhvr opened #3078 "Inconsistent behavior from anchor tags on CLI page"
I'm getting very inconsistent behavior from the anchor tags on the [http://exercism.io/cli](http://exercism.io/cli) page. If you click on `MAC OS X` or `Windows` and then click one of the anchor links for methods of installing, the page jumps to the appropriate section but often the navbar will cover the section's `<h2>` title.

What is weird is that sometimes it will jump fine and sometimes it wi

[2016-08-23 15:03] edward commented on #3066
@Tetsuro you’re a champ for taking this on. Really happy to see you pop up here.

[2016-08-23 18:04] troubalex commented on #2535
The structure looks good to me.

I can't really comment on the content though, we'll have to make sure to get an extra round of proofreading once this is ready for a PR.

As you suggested, I'd move on to making the actual pages, and then we take it from there.

[2016-08-24 00:31] gusseting commented on #3077
@blueelvis it would be great to know where you are at with testing in 2 areas:
1) unit testing of the code in the installer
2) testing the package to ensure it works with several people who haven't been involved in the making of the installer on different windows versions. I'd just like to check for any problems now, rather than later.

Could you update us in the issue? https://github.com/exercism

[2016-08-24 09:02] mikemcgowan opened #3080 "Add .gitignore file for Haskell 'projects' now you're using stack"
In particular, the `.stack-work` directory should be in `.gitignore`.

[2016-08-24 09:54] Insti commented on #3080
Thanks @mikemcgowan

Which `.gitignore` are you referring to?
It already exists in the xhaskell `.gitignore` https://github.com/exercism/xhaskell/blob/master/.gitignore#L22

(Can someone on the @exercism/haskell team look at this?)

[2016-08-24 10:05] mikemcgowan commented on #3080
Ah, sorry, that could've been clearer.

Today, after a three month break, I did `exercism fetch haskell prime-factors` and I saw that, unlike three months ago, I got a Stack project (instead of just ad-hoc files). (Which is a great improvement, btw!)

In the subsequently downloaded `prime-factors` directory (i.e. the one with `prime-factors.cabal`, `package.yml` and `stack.yml`) I don't have a `.g

[2016-08-24 10:13] Insti commented on #3080
Exercism doesn't come with git built-in\*, so you must have set up the repository yourself.
In which case I suggest just creating your own `.gitignore` file in your top level Exercism directory.

\* Unless there are there some instructions somewhere that suggest setting up a repository for your Exercism problems?

[2016-08-24 10:14] mikemcgowan commented on #3080
Okay, no problem. There's no such instructions I know about. I'll close this.

[2016-08-24 10:14] #3080 closed

[2016-08-24 22:46] #3033 closed

[2016-08-24 23:04] #3057 closed

[2016-08-24 23:33] kytrinyx commented on #3020
Fixed by #3072

[2016-08-24 23:33] #3020 closed

[2016-08-25 01:56] gusseting commented on #3024
@Insti I think we're done here - if you agree, could you close the issue?

[2016-08-25 06:47] Insti commented on #3020
Thanks for all your work on this @bradhvr :heart:

[2016-08-25 06:55] #3024 closed

[2016-08-25 06:55] Insti commented on #3024
Thanks for all your work on this @gusseting :heart:

[2016-08-25 14:36] bradhvr commented on #3078
I played around a little bit and so far best I can do is have the first click jump higher than it should, and then subsequent clicks end up being spot on. Don't really understand yet why it's acting the way it does. What is it about the first page load/click that is different?

[2016-08-25 17:38] kytrinyx commented on #3077
I think that as soon as we've confirmed that it works for the most common versions of windows, we should include it. That will uncover edge cases more quickly and let us fix it.

[2016-08-25 17:48] kytrinyx commented on #3078
That is so odd! I have no idea why this would be happening. @gusseting @troubalex do either of you know anything about this sort of behavior?

[2016-08-25 18:11] troubalex commented on #3078
Is there any kind of Javascript going on as far as you can see, @bradhvr? Something must be calculating the offset for the navbar at the top.

Maybe the fact that the tabs point to ```exercism.io/cli#mac``` and the anchors on the (tabbed) page to ```exercism.io/cli#installing-without-homebrew``` leads to trouble?

[2016-08-25 20:46] nickborromeo commented on #2924
@mhelmetag can we close out this issue?

[2016-08-26 01:36] gusseting opened #3084 "Login: Fix signup for those without a github account."
Here’s the problem:
1. go to the “Login with Github” on the top right of exercism.io
2. you don’t have a github login, so you sign up for one.
3. you can’t do anything until your email signup is verified, so you verify your email
![screen shot 2016-08-26 at 9 53 42 am](https://cloud.githubusercontent.com/assets/540264/17991294/a09cd51e-6b80-11e6-8c35-a5822a792aeb.png)
1. you end up on this screen

[2016-08-26 01:57] gusseting commented on #3078
@bradhvr here's what i think the problem is:
`### Using Powershell and the Chocolatey Package Manager for Windows <a name="chocolatey"></a> ###  `
I'll have a shot at doing a fix by putting the links _above_ the heading, rather than beside them, which is why you're getting the heading covered by the top nav - the heading is going over 2 lines.

I'm working on making these pages simpler at the mome

[2016-08-26 05:04] gusseting commented on #3078
Confirmed that the problem is just where the anchor links are.
I've changed where the link is in the windows.md file, and here's the results:

![screen shot 2016-08-26 at 3 02 09 pm](https://cloud.githubusercontent.com/assets/540264/17994687/4799b50e-6b9e-11e6-8375-34cda3bc7660.png)

I'll do a pull request asap.

[2016-08-27 09:30] erwo42 opened #3087 "Comment random solution button?"
Hi there!

I have never seen the link discussed in #988 or #734, so maybe I just missed it?

From the discussions there, I infer -- with some creative assumptions --, that that is not
what I want.

I would like a button "Comment random solution".

If I click this button:
1) Exercise I have done will be rolled first with some bias towards later exercises, to stop my boredom.
2) Some solution of som

[2016-08-27 18:38] kytrinyx commented on #3078
so much :heart: for finding this problem in the first place, and figuring out root cause @gusseting @bradhvr

[2016-08-27 18:52] kytrinyx commented on #3087
:-) creative assumptions are welcome.

We had this behavior for a while, kind of, but it was hard to get right (lots of complicated edge cases that made the feature less useful than it should be), and we ended up taking it out in favor of a separate feature... which ended up being a performance problem that took down the database, so we removed that, too.

So, yeah :) I think we should have this f

[2016-08-28 17:40] nickborromeo commented on #3035
this issue can be closed 😄

[2016-08-28 17:47] nickborromeo commented on #2637
hi @GustavoCaso wanted to check if you were still working on this?

[2016-08-28 17:55] Insti commented on #3035
Thanks for your work on this @nickborromeo ! :heart:

[2016-08-28 17:55] #3035 closed

[2016-08-28 20:21] blueelvis commented on #3076
@Insti - Please allow me a bit more time. The instructions to setup the whole website are somewhat confusing :( . I am trying to create a vagrant script to see if it could also be made a single source for installation :)

[2016-08-28 20:25] blueelvis commented on #3077
@kytrinyx - Updated the issue - https://github.com/exercism/windows-installer/issues/5

Do you know anyone who could help me add unit tests into the code or guide me in this area since I am completely new to it :(

[2016-08-28 22:32] GustavoCaso commented on #2637
Hi @nickborremeo I'm currently on vacation and have a working branch in my local. But feel free if you want

[2016-08-29 07:02] nickborromeo commented on #3032
@Insti @kytrinyx I was browsing the code and I believe the foregone exercises are already being excluded.

[code]

[code]

Based on this do you think that foregone exercises are still being included?

[2016-08-29 07:27] nickborromeo commented on #2637
@kytrinyx I searched the code base for references of `Xapi.exists?` and only found the following references.

[code]

2/3 references are used in `v1`. I am not sure if this version is still being used or not. Would you also know if the 3rd reference is also being used?

[2016-08-30 00:10] gusseting commented on #2535
I've made the pages, and will provide a PR - I just need to go over the links/formatting.
Here's the screenshots of each page from my local files:
Mac:
![cli_mac](https://cloud.githubusercontent.com/assets/540264/18071492/9c3e4c20-6e99-11e6-89ce-de7899ee0411.png)

Windows:
![cli_windows](https://cloud.githubusercontent.com/assets/540264/18071508/ba8060d8-6e99-11e6-93cc-09e0a7b1aea6.png)

Linux:
![

[2016-08-30 08:53] blueelvis commented on #3076
@Insti - I have setup my development environment and got exercism.io up and running. But, there is one problem, in order to test the Comments functionality, I have to go and browse some of the exercises to make comments and check. But, whenever I click on any of the exercise, it says that "That submission does not exist"

On checking the logs, it checks the local `exercises` directory which is not

[2016-09-02 00:29] gusseting commented on #3077
@blueelvis I'd like to include the installer ASAP, perhaps as a second pull request, after this first one is sorted: https://github.com/exercism/exercism.io/pull/3089

I'm not sure what I should be adding - could you provide us with what people need to download?
ie: is there a zip file with the .readme, .exe etc?

[2016-09-02 06:06] gusseting commented on #2535
There's the open pull request: https://github.com/exercism/exercism.io/pull/3089
I think the next stage after that is what I'm aiming to do in a new pull request next week:

[] Detect Operating System and redirect to appropriate OS [as discussed in issue 2535](https://github.com/exercism/exercism.io/issues/2535#issuecomment-231946012)
[] Add new windows installer. (https://github.com/exercism/exer

[2016-09-02 13:49] kytrinyx commented on #3076
Could you post a screenshot of how you're navigating?

Could you paste one of the log messages?

[2016-09-02 14:39] kytrinyx commented on #2535
In the future, would you please put the screenshots in the pull request, not in the original issue? I didn't see this until after I had reviewed the pull request.

The general rule of thumb for pull requests is to put everything that the reviewers would need right there—link to other places for more information, but people shouldn't have to follow the links to get the most important bits.

Side no

[2016-09-02 14:42] kytrinyx commented on #3032
Nope, this looks like a solved problem. Thank you!

[2016-09-02 14:42] #3032 closed

[2016-09-02 14:43] kytrinyx commented on #2637
Thanks @nickborromeo! v1 is still being used by the exercism cli, and attempt is called every time someone submits an exercise.

[2016-09-03 17:21] nellshamrell commented on #1844
Relevant files - https://github.com/exercism/exercism.io/blob/3da726bc71b79db11ad866c1da259ec85fd086ac/x/docs/md/cli/mac.md - looks like we edit the instructions for the CLI on mac here

https://github.com/exercism/exercism.io/blob/b4a08f00eea43212cde3b655e46727cbcbbb3b4b/x/docs/md/cli/linux.md - looks like we edit the instructions for the CLI on Linux here

https://github.com/exercism/exercism.io

[2016-09-05 07:53] Insti commented on #3032
Thanks for that @nickborromeo  :+1:

[2016-09-05 18:29] tejasbubane opened #3093 "[Design][UI] Separate line numbers from code on submission page"
The line numbers on the code submission page should be separated from the code:

![screen shot 2016-09-05 at 11 51 32 pm](https://cloud.githubusercontent.com/assets/980783/18255161/158adfce-73c4-11e6-9952-bab53d18b33f.png)

I guess a lighter color (gray?) for numbers and a vertical line between the numbers and code should help.

[2016-09-05 21:21] kytrinyx commented on #3077
@blueelvis I have no idea who might know about how to unit test this sort of thing. Go ahead and open an issue for it, and we can ask around for some help.

[2016-09-05 21:34] kytrinyx commented on #3093
I think that sounds like a good suggestion. @troubalex @gusseting any opinions on this?

[2016-09-05 22:18] gusseting commented on #3093
My take:
Those numbers are links, which is why they're red.  If those links aren't used, unlink them, and problem solved. I'm guessing they are though, so I'm wondering if the simplest solution is to put a neutral colour behind the red links, so there's a strip of something different - I'll try a mockup.

Why is the code the same color as links? Is that a code standard of some kind? If it isn't, i

[2016-09-06 01:43] kytrinyx commented on #3093
I think the colors are whatever came out of the box with Pygments.

s we need to have red numbers even though they're links? GitHub has linkable line numbers, but they're gray.

[2016-09-06 07:32] tejasbubane commented on #3093
@gusseting

Yes, they are pretty handy to point out a particular line in the code. Added in https://github.com/exercism/exercism.io/pull/2838

The mockup seems good since it separates numbers from code. But the line-numbers seem to stand out with the color, which should not be the case since they are secondary to code. But this is just my opinion.

[2016-09-06 08:49] troubalex commented on #3093
@tejasbubane

I agree. So this is what I came up with:

![screenshot 2016-09-06 10 36 05](https://cloud.githubusercontent.com/assets/1913615/18267091/dca40014-741d-11e6-92af-b99524981fe9.png)

The red number shows the hover effect on the line numbers, so they look more clickable which can be made even more obvious if necessary. Other than that, I only had to change some padding, and moved a couple

[2016-09-06 08:51] troubalex commented on #3093
Oh, and I set a lighter `border-left`on the code part which gives it this very subtle shadow-y effect.

[2016-09-06 13:47] tejasbubane commented on #3093
@troubalex Looks good :+1: Please send a PR with your changes.

[2016-09-06 15:00] troubalex commented on #3093
I just quickly cobblet things together in my browser. 😁

I can send a PR if you don't want to though.
On Tue, 6 Sep 2016 at 15:47, Tejas Bubane <notifications@github.com> wrote:

--
Alexandra Leisse
@troubalex

[2016-09-06 16:26] blueelvis commented on #3076
Here is the screenshot -
![2016-09-06](https://cloud.githubusercontent.com/assets/6985763/18281925/73083ad0-747c-11e6-900f-b6566fc4d079.png)

The link is this - http://localhost:3030/exercises/b796cae2192e4fb5f44ac377

Here is the log message which is relevant according to me -

`12:05:51 web.1  | 10.0.2.2 - - [06/Sep/2016:12:05:51 +0000] "GET / HTTP/1.1" 200                                    199

[2016-09-06 16:29] blueelvis commented on #3077
@gusseting - People just have to download the EXE file over here - https://github.com/exercism/windows-installer/releases

@kytrinyx - I have opened the issue in the Exercism-Windows-Installer repository over here - https://github.com/exercism/windows-installer/issues/6

[2016-09-06 16:54] catb0t opened #3094 "No documentation shown for Upcoming and Planned tracks"
https://github.com/exercism/xfactor/issues/17

Click any of the "Upcoming" or "Planned" language tracks [here](http://exercism.io/languages) and none of them show their docs even if their respective repos have docs in `docs/`.

[2016-09-07 00:32] gusseting commented on #3077
@blueelvis Here's the linux release page:
https://github.com/exercism/cli/releases/tag/v2.3.0
Would you be able to do a similar one with just the release for consistency?

[2016-09-07 05:37] tejasbubane commented on #3094
@catb0t Does that `https:` link to `/languages` page work for you?

[2016-09-07 06:01] gusseting opened #3095 "Add "Contact Us" to the footer"
Suggestion: have the contact us info from the [readme file on github](https://github.com/exercism/exercism.io/blob/e8748dac272f3f0aaa8041bf5d5b652240a21b58/README.md) in the footer on the website, as a link to a static page, and make it an issue for a newbie to do their first PR with exercism.io.

Contact Us

To report a bug, suggest improvements to exercism.io, or if you're having trouble install

[2016-09-07 07:16] tejasbubane commented on #3093
@troubalex I am not very good with CSS, so you can go ahead and send the PR.

[2016-09-07 09:12] catb0t commented on #3094
@tejasbubane um, that's weird, it worked yesterday and every day before then. maintenance?

[2016-09-07 10:57] GustavoCaso commented on #3033
@kytrinyx this issue is closed but the current design reflects the old one, is this correct ?

[2016-09-07 11:01] GustavoCaso commented on #2816
@kytrinyx I'll be happy to remove the progress bar in favor to of number of total and completed and adding the total reviewed problems

[2016-09-07 11:04] GustavoCaso commented on #2059
@kytrinyx is there any one working on this one ?

[2016-09-08 05:51] kytrinyx commented on #3094
Ahhh the missing docs thing is definitely a bug.

[2016-09-08 10:30] ramyaravindranath commented on #3094
Fixes bug https://github.com/exercism/exercism.io/pull/3097

[2016-09-09 13:42] joeltaylor commented on #3084
This is an interesting one!

Generally, we can pass a redirect url to OAuth to bring the user back, but it doesn't seem like Github includes that redirect in their email verification link. I've gone ahead and submitted a request via Github support to see if that's something that's plausible.

It seems like the only thing we could do is what you proposed in solution `a`, which would require a desig

[2016-09-09 14:00] gusseting commented on #3084
@joeltaylor it would make sense, yes. I've documented a solution for a consistent "get started" link in the header: https://github.com/exercism/discussions/issues/64#issuecomment-244658945

[2016-09-09 17:39] kytrinyx commented on #3077
We can link to https://github.com/exercism/windows-installer/releases/latest - that will always go to the most recent one.

[2016-09-09 17:40] kytrinyx commented on #3033
Probably not. I will try to get this sorted out.

[2016-09-09 17:47] kytrinyx commented on #3033
It was lost; I've put it back. Thanks so much for catching that @GustavoCaso

[2016-09-09 18:23] kytrinyx commented on #3076
@blueelvis Did you run the rake task to get seed data? You should already have comments.

[2016-09-09 18:24] kytrinyx commented on #3076
For reference, the relevant code is in https://github.com/exercism/exercism.io/blob/master/app/routes/user_exercises.rb#L4-L17

[2016-09-09 18:25] kytrinyx commented on #3076
In the database, the table is called `user_exercises`, and each user exercise has many `submissions`.

[2016-09-09 18:47] kytrinyx commented on #3084
:heart:

This would be lovely to get fixed.

[2016-09-09 18:55] kytrinyx commented on #2816
@GustavoCaso that sounds great!

[2016-09-09 18:55] #2957 closed

[2016-09-09 18:56] kytrinyx commented on #2059
It doesn't sound like it, @GustavoCaso. Grab it if you want it!

[2016-09-10 12:29] gibfahn opened #3100 "Github username change causing lost history"
I recently changed my username on Github (from `gibfahn` to `gibm`), and now when I log in to Exercism.io, my old submissions are no longer associated with my account, and they don't have a username associated with them at all.

I'm not sure how the Github account API handles these changes, but it should hopefully be possible to maintain history somehow.
#### Example:

[Submission before username

[2016-09-10 13:39] kytrinyx commented on #3100
Hi @gibfahn this is a bug, and I believe we had this working before. We store the GitHub user id in all cases, so we should be able to reassociate the exercises with your new username.

I'm going to dig into this today and I will let you know what I find out.

[2016-09-10 14:29] kytrinyx commented on #3100
@gibfahn It doesn't look like you changed your username, but rather that you stopped using the old account as @gibm and started using the new one as @gibfahn.

I have reassociated the old exercises with your @gibm account.

I still need to figure out why the username was removed from that user record.

[2016-09-10 15:24] kytrinyx opened #3101 "Make the list of language track repositories more scannable"
In the repositories page (http://exercism.io/repositories) there is a list of language track repositories in a grid.

Let's turn this into a table with:

- the icon
- the name of the programming language (links to the exercism/languages/:track_id page)
- the link to the GitHub repository (display the full link as the anchor text)

The code for this starts in the `app/views/languages/repositories.e

[2016-09-10 15:36] kytrinyx commented on #3100
I still haven't figured out the exact reproduction steps for this.

We have code to detect conflicts when people are logging in via GitHub: https://github.com/exercism/exercism.io/blob/master/lib/exercism/user.rb#L47-L67

This is important, because when you change your GitHub username, it becomes available for another person to use.

In this case, though, I don't understand how that happened, sinc

[2016-09-10 16:59] blueelvis commented on #3077
@gusseting - I am not sure what you would like me to do.

If you want the latest release, @kytrinyx has suggested an awesome way to get it ;)

[2016-09-10 17:20] gibfahn commented on #3100
@kytrinyx So what happened was I switched account names. So the account that was originally called `gibm` became `gibfahn`, and `gibfahn` became `gibm` (so anyone clicking on an `@gibm` would still be able to find me). I suspect this is what caused the problem.

Probably not a common thing to happen though!

[2016-09-10 17:35] andreagrandi commented on #2589
@kytrinyx hi Katrina, are you still hosting the website on Heroku? Can you please give us a few more details about the technologies involved? It looks like it's a RoR application, right?
In terms of "devops" stuff we could do, we could prepare an Ansible script to deploy everything, so we will be able to easily re-deploy everything in the future if we should decide to change hosting.

[2016-09-10 19:34] kytrinyx commented on #2589
Yepp, we sure are. And they just gave Exercism a bunch of platform credits so that I can upgrade some of the resources that I'm using there, so we'll be staying there for the foreseeable future.

It's Sinatra—so more or less the same deal. Ruby + Rack anyway. We also use Redis and PostgreSQL.

We've also got a Go daemon running on a Rackspace server with a small upstart script. I don't know devops

[2016-09-10 19:36] kytrinyx commented on #3100
Ahhh! That actually makes a lot of sense. The first conflict on the name would set the username to empty on the prior account, and then nothing would set it back, unless you logged in with the first account again on Exercism.

Hopefully!

We should still figure out how to avoid having this happen, if we can. I'll think about it.

[2016-09-10 19:38] kytrinyx commented on #3077
@blueelvis I think we just need to update the CLI page with the steps to use the downloader.

Something like:

- download the ExercismWinSetup.exe
- double-click it
- ... and that's it, right?

How would you test that it worked? Open up a terminal window and type exercism.exe version, perhaps?

[2016-09-10 19:54] tejasbubane opened #3103 "Deprecated exercises seen on contribute pages"
Some deprecated exercises are seen on language contribute pages (at the bottom).

eg. http://exercism.io/languages/elixir/contribute I can see `counter` and `point-mutations` both of which are deprecated.

I think these should not be shown in the list.

[2016-09-10 20:06] tejasbubane commented on #3103
Is there are way to know which exercises are deprecated? Not sure how deprecation works.

[2016-09-10 20:37] kytrinyx commented on #3103
Elixir doesn't have any deprecated exercises: https://github.com/exercism/xelixir/blob/master/config.json#L437-L439

[2016-09-11 06:00] tejasbubane commented on #3103
But the README of those exercises says they are deprecated.

https://github.com/exercism/x-common/blob/master/exercises/counter/description.md
and
https://github.com/exercism/x-common/blob/master/exercises/point-mutations/description.md

If I am not wrong, the the exercises which were previously implemented are moved to deprecated list when they need to be deprecated. But since these two exercises

[2016-09-11 10:21] andreagrandi commented on #2589
@kytrinyx hi, then it's even more simple, let's not over complicate this (ignore my "devops" suggestion). I'm happy to hear that Heroku decided to support the project! Surely the easiest solution is to activate the SSL option through their panel. I'm not sure if they also provide the certificate or if we need to get it separately.

[2016-09-11 14:51] #3094 closed

[2016-09-11 14:51] catb0t commented on #3094
Closed by #3097.

[2016-09-11 20:58] GustavoCaso commented on #3033
No problem

[2016-09-11 22:58] mhelmetag commented on #2589
@andreagrandi , Heroku doesn't provide certs. It would probably be easiest to get them through Let's Encrypt. However, Let's Encrypt certs expire every 90 days and there isn't an easy way to renew the certs (at least not through Heroku).

Heroku now offers free SSL (found [here](https://devcenter.heroku.com/articles/ssl-beta)).

So the steps are:
* Run certbot to get the shared secret that would h

[2016-09-12 07:20] massich commented on #2615
Maybe a similar feature but with less coding would be to fetch other people's answers. Then as user I could run some quick commands `cat`, `grep`, `unique`, or anything more fancy to data-mine the solutions. Then the discussions can be done at a more local level.

here's an [example](http://exercism.io/submissions/1c86154c2a7c4c609903579023b92432)

It would also be nice to be able to share (or exp

[2016-09-12 08:55] andreagrandi commented on #2589
[code]

if you are using paid dynos, yes, the SSL feature will be free. I don't think it's possible (or easily doable) to use LetsEncrypt with Heroku, because you still have to manually upload the certificate (unless they provide a proper API, then it would be possible but you still need to upload something on the website and make it available for verification), but there is another provider offer

[2016-09-12 17:56] kytrinyx commented on #3103
If they were previously implemented they should go in `deprecated` in config.json, if they haven't yet been deprecated, they should go in `foregone`.

I will write up an issue that can be submitted to all the tracks about them being deprecated (and why), and what to do with the config.json.

[2016-09-12 18:18] troubalex commented on #3084
Based on my experience, there is a number of advantages with a dedicated screen like that.

1. Not everyone realizes that OAuth lets you sign up **as well as** log in through the exact same button. I have seen even technically savvy users stumble there.
2. A dedicated sign up page would be an excellent place to sum up all the benefits of being an exorcism member in a TL;DR format.
3. It makes for

[2016-09-12 18:20] troubalex commented on #3093
I'll get to this, I'm just currently swamped with other stuff. 😒

[2016-09-12 23:20] rbasso commented on #3103
@kytrinyx , about deprecating, should we keep the deprecated exercise forever or there is a situation where the files can be safely removed?

[2016-09-13 06:22] GustavoCaso commented on #2816
@kytrinyx here a draft without style, but wanted to check first, to see your impressions
![image](https://cloud.githubusercontent.com/assets/4672858/18463539/2cc93ad8-798b-11e6-8294-09a7d1d2f2c9.png)

[2016-09-13 07:58] #2924 closed

[2016-09-13 08:23] kytrinyx commented on #2816
There are several people who do code reviews without completing exercises. We have a setting on the user record that gives people "mentor" status on a track, where they can see everything without having done the exercises.

What do you think of something like this:

[icon] Language Name
Completed: 19
Peer Reviewed: 2

Or maybe:
[icon] Language Name
Completed: 8
Peer Reviewed: 5

I worry that the l

[2016-09-13 08:31] kytrinyx commented on #2615
@massich This is a really interesting approach. Did you see this discussion by any chance? https://github.com/exercism/discussions/issues/65 There are related ideas here that I think would be useful to discuss.

[2016-09-13 12:50] GustavoCaso commented on #2816
@kytrinyx
With the problem about reviewed count, you are right we should probably have in mind that you could have more than one reviewed in the same exercise.

With performance in the initial approach I took the completed exercises from `UserExercises` and the reviewed from joining `Comments and Submissions` so I guess that I could improve the query to extract the number of iterations for each ex

[2016-09-15 00:09] ramyaravindranath commented on #2860
@kytrinyx : Looking into this.

[2016-09-15 01:30] ramyaravindranath commented on #2860
@jkrmr Are you still working on the issue ?

[2016-09-15 11:37] jkrmr commented on #2860
@ramyaravindranath thanks for the ping! I'd actually lost track of this issue. I haven't started work on it yet, and realistically probably won't have time to in the near future, so if you'd like to run with it, go for it.

[2016-09-15 19:34] hebertjulio opened #3109 "unable to submit (HTTP: 400) - duplicate of previous iteration"
After I deleted exercise, I don't can submit it again.

[hjulio@74372 Exercism]$ exercism submit python/hello-world/hello_world.py
2016/09/15 16:31:04 unable to submit (HTTP: 400) - duplicate of previous iteration

[2016-09-15 21:32] kotp commented on #3109
![2016-09-15_650x251_scrot](https://cloud.githubusercontent.com/assets/16747/18568258/5849a05e-7b6a-11e6-859c-f8c22b8b5625.png)

This is what I did, and it seems like it submits.  Can you show what you did so that hopefully it can be reproduced?

[2016-09-16 00:28] hebertjulio commented on #3109
I deleted my first exercise by web interface, before I submitted it three times. Now when I try submit it again, a HTTP error 400 occurs.

Exercism CLI Version: 2.3.0
Exercism CLI Latest Release: 2.3.0
OS/Architecture: linux/amd64
Build OS/Architecture linux/amd64
Home Dir: /home/hebert
Config file: /home/hebert/.exercism.json
Exercises Directory: /home/hebert/Development/exercism.io
Testing API e

[2016-09-16 10:28] rbasso commented on #3109
Exercism CLI Latest Release: 2.3.0
OS/Architecture: linux/amd64
Build OS/Architecture linux/amd64

I have a very similar setup, but I couldn't reproduce your problem.

I checked online that your submission isn't there. So, could you please try to upload it again and see if the problem persists?

Can you reproduce the problem with another exercise and list the steps to reproduce the error?

[2016-09-16 10:47] hebertjulio commented on #3109
@rbasso this problem occurs only with the first python exercise, the another exercises this error no occurs. I try submit my first python exercise "exercism submit python/hello-world/hello_world.py" and get this error again.

[2016-09-16 11:06] rbasso commented on #3109
Maybe something stuck in the server...

[2016-09-16 16:37] weilandia opened #3110 "When Adding Yourself To A Team That You Created, Accepting Invite Causes Error"
When a user goes to /teams/new and subsequently adds themselves to the team invite list and creates the team, the user gets an invite to the team that blows up upon accepting the the invite.

Potential solution: If a user adds themselves to a team that they are creating, they should not get an invite.

<img width="856" alt="screen shot 2016-09-16 at 12 34 31 pm" src="https://cloud.githubuserconten

[2016-09-16 16:38] weilandia commented on #3110
<img width="950" alt="screen shot 2016-09-16 at 12 34 37 pm" src="https://cloud.githubusercontent.com/assets/13652979/18593639/5572bb86-7c0a-11e6-8e74-df020eea2fba.png">

[2016-09-16 16:39] weilandia commented on #3110
I can work on this if ya'll want.  Lmk :)

[2016-09-16 17:07] mhelmetag commented on #3110
Go for it! Looking forward to the PR and seeing what approach you took.

[2016-09-17 04:23] bernardoamc commented on #3110
Thank you for noticing this, don't hesitate to ping me if you have questions! ❤️

[2016-09-17 12:01] hebertjulio commented on #3109
@kotp @rbasso This error occurs because when I try to send again the same exercise I deleted before, the same hash is generated and then tried to create an iteration that already existed but was logically excluded before. I solved this error by changing the source code of the exercise, so that a new hash is generated.

[2016-09-17 23:43] catb0t opened #3112 "Remove ATTRIBUTION.md and all track icons from public/img/tracks/*.png when all submodules are updated"
This is kind of a placeholder issue for myself. I expect the PRs I'll be creating to add attribution and track icons to various track repositories that are missing one or both of these to be accepted in the next few weeks, and then we can nuke `public/img/tracks/*.png`.

[2016-09-18 17:26] jimrybarski opened #3113 "Teach libraries or skills in addition to languages"
I'd like to be able to give people a nice resource where they can learn introductory image analysis with Python and scikit-image, but in general it would be nice to be able to support any third party library or skillset. I feel that just adding some exercises into the general Python problem set would be problematic since having external libraries is its own can of worms, and you'd also get a huge

[2016-09-18 19:46] catb0t commented on #3113
In my humble opinion, Exercism just isn't fit for teaching libraries, except for perhaps a very specific type of library which allows for general-purpose programming like a whole programming language itself does.

The (current) Exercism model works well for teaching the general skills needed to get comfortable using a general-purpose (or even DSL-ish, in the case of PL/SQL) language. There is a lo

[2016-09-19 03:25] ramyaravindranath commented on #2860
@kytrinyx PR for the issue: https://github.com/exercism/exercism.io/pull/3115.

[2016-09-19 05:47] GustavoCaso commented on #2816
![image](https://cloud.githubusercontent.com/assets/4672858/18623396/dddbf198-7e3c-11e6-8d02-6d8d8d2f1b77.png)

@kytrinyx do you like this style ? the reviewed section show the total but is missing the information related with how many exercises you have reviewed, but I just wanted to check if you like where this is going ? or we should rethink

[2016-09-19 17:06] kytrinyx commented on #2589
I'll go through the https://devcenter.heroku.com/articles/ssl-beta documentation and see if I can get this running. It may take a few days to get to it.

[2016-09-19 17:20] kytrinyx commented on #2816
I think the style works well. It's pretty easy to scan.

[2016-09-19 18:10] masters3d commented on #2816
if Completed == 1 then "1 Problem" else "`X` Problems"
if Reviewed == 1 then "1 Iteration" else "`Y` Iterations"
:)

[2016-09-19 19:31] kytrinyx commented on #2816
@masters3d good call. I think active support has something that does this for English - http://api.rubyonrails.org/classes/ActiveSupport/Inflector.html#method-i-pluralize

So:

[code]

[2016-09-19 19:34] GustavoCaso commented on #2816
It does @kytrinyx

[2016-09-19 19:41] kytrinyx commented on #3084
I think that for us the benefits of a dedicated sign up page outweigh the costs. It would help people understand what's going on, and warn them ahead of time that they need a GitHub account, and if they don't have one, create one first.

I thought it was common to have both "sign up" and "sign in" in the header. Sign up would go to the dedicated page, and sign in would kick off the authentication

[2016-09-19 19:56] kytrinyx commented on #3109
The logic for this is here: https://github.com/exercism/exercism.io/blob/master/lib/exercism/use_cases/attempt.rb#L32-L34

It's not generating a hash of the solution, it checks the actual text of the solution against the previous solution. I don't think it checks against deleted solutions (we cache deleted solutions, but they shouldn't be checked in this code path).

Maybe this is triggering again

[2016-09-19 20:01] GustavoCaso commented on #2816
@kytrinyx I'm not able to load a new helpers I just created, I added the file and then added in the `helpers.rb` file but keep telling `undefined method`, any advice

[2016-09-19 20:05] troubalex commented on #3084
Yes, it's a matter of taste, and depends on the context. I personally don't like it because two CTAs compete with each other for attention to some extend, and it's very easy to click the wrong one if you're not particularly observant or clumsy.

That being said, not having both in the header requires more carefully placed CTAs on pages at the top of the funnel.

[2016-09-19 20:10] joeltaylor commented on #3084
With strategic styling, we could potentially reduce the CTA competition. For example, this is what the designers came up with where I work:

![screen shot 2016-09-19 at 4 07 20 pm](https://cloud.githubusercontent.com/assets/6965062/18647307/5e2b398a-7e83-11e6-8c14-97d2ded0d01a.png)

[2016-09-19 21:00] #3093 closed

[2016-09-19 21:01] kytrinyx commented on #3084
@joeltaylor I like that. I'd be very unlikely to click the "create free account" if I'm looking for "sign in".

[2016-09-19 21:40] kytrinyx commented on #2816
On Mon, Sep 19, 2016 at 1:01 PM, Gustavo Caso <notifications@github.com>
wrote:

Check out this section:
https://github.com/exercism/exercism.io/blob/master/app/routes/core.rb#L44-L56

[2016-09-19 21:51] kytrinyx commented on #3103
@rbasso I haven't thought about how to eventually remove the files. I think that ideally we should be able to delete the files. We would have to do something (probably pretty straight forward) in the exercism.io codebase so that things don't blow up.

[2016-09-19 22:10] kytrinyx commented on #3103
@tejasbubane I've added a new issue for `counter`and `point-mutations`.

[2016-09-19 22:38] kytrinyx commented on #2758
Thanks so much for weighing in on this, everyone. We're going to be removing the progress bars and trying a different tactic—we'll see how that works out. See https://github.com/exercism/exercism.io/pull/3117 for the final result (still in the works).

[2016-09-19 22:38] #2758 closed

[2016-09-19 22:38] kytrinyx commented on #2734
Thanks so much for weighing in on this, everyone. We're going to be removing the progress bars and trying a different tactic—we'll see how that works out. See https://github.com/exercism/exercism.io/pull/3117 for the final result (still in the works).

[2016-09-19 22:38] #2734 closed

[2016-09-19 23:27] paradime commented on #2734
Launch and iterate. :+1:

On Sep 19, 2016 6:39 PM, "Katrina Owen" <notifications@github.com> wrote:

[2016-09-19 23:56] IanWhitney commented on #3113
In Rust we bring in crates if the exercise needs functionality that's not currently part of the standard library (date handling, random numbers). I like the idea of a Rust exercise being able to show students  how to find & use external libraries. But I would hesitate to go beyond that. Like an exercise that introduced "Here's how you write C bindings" would be too much, I think.

[2016-09-20 00:11] rbasso commented on #3113
Sometimes I miss the possibility of creating a customized Haskell learning experience, with a slow progression of exercises that would make more sense in the language.

But I have to agree with @catb0t.

To accommodate special use cases effectively, *exercism* would have to transform itself in a very different beast, allowing the creation of multiple tracks per language, with exercises specific fo

[2016-09-20 00:13] jtigger commented on #3113
The goal of Exercism (as I understand it) is to create a space for programmers to talk about our craft so that everyone can learn and get better.

The content of those conversations needs to be weighty enough to spark interesting and meaningful conversation... anything more complex/involved than that and the dialogue loses focus and the value of this space starts to diminish.

Sometimes, there are

[2016-09-20 01:37] hebertjulio commented on #3109
Yes @kytrinyx, this explains why unable to submit the solution after changing the solution text. Why no undo delete previous solution, instead raise duplicate exception?

[2016-09-20 04:54] GustavoCaso opened #3120 "Compiling Javascript with lineman failed"
I'm trying to remove the need for installing `lineman` globally, that way there is no need for running `npm install -g lineman` to been able to use `lineman` inside the `frontend` folder. Since is already declared as a dependency in our `package.json`, we can make use of the scripts section.

[code]

by running `npm run watch` or `npm run build:production` will execute the line specify in the scri

[2016-09-20 09:38] rchavarria commented on #3113
In my opinion, the possibility to include libraries in specific exercises would broaden the possibilities of the platform. But, as @rbasso stated, it'd broaden it so much that exercism would change drastically. And I feel I won't like that change.

If included libraries were small, or if they served a single and very focused goal, I would agree on include them. For example, @catb0t talks about inc

[2016-09-20 12:48] parkerl commented on #3113
IMHO, this should be tackled on a track by track basis. I certainly do not want to encourage this in the Elixir track. The burden of reviewing, vetting, and particularly of rejecting PRs with someone's pet library would be large.

I believe that Exercism is a place for practicing our craft in small and focused exercises. It is not a replacement for tutorials on a language or libraries.

[2016-09-20 16:30] devonestes commented on #3113
This doesn't feel like the right fit for Exercism (as it exists now) to me. It's already difficult enough trying to find common ideas across all the existing languages (and there are still some major leaks in that simpler abstraction for sure - for any language with linked-list based arrays, `binary-search` is kind of tricky...), so I can't see how we could maintain additional, more specific conce

[2016-09-21 05:22] GustavoCaso commented on #2816
@kytrinyx thanks 👍

[2016-09-22 22:44] ramyaravindranath commented on #3101
@kytrinyx : Looking into it.

[2016-09-23 15:33] NobbZ opened #3123 "After submitting a comment, there is still a comment in the textarea"
When I do a review on a submission and submit the comment, I can see the submitted comment in the discussion, also the source of the comment remains in the comment-editor.

Some browsers think, we had a (partially) filled form and warn when we try to leave and ask if we really want to leave the page or finish the form.

I realized this behaviour the first time a couple of days ago and canceled the

[2016-09-23 18:15] Trevoke opened #3124 "Add exercism to up-for-grabs?"
Up-for-grabs is a website that tracks issues that are approachable for beginners and people new to contributing to open source. I know exercism is doing this, why not add it?

https://github.com/up-for-grabs/up-for-grabs.net#add-your-project

[2016-09-26 00:57] aarti commented on #3113
I like the idea of teaching concepts, such as

1. Concurrency - How does your program respond to race conditions? This is generic across languages.
2. Scalability - Does your program perform with large datasets, HackerRank does this quite well. It forces you to revisit your algorithm.
3. Iterators - A few exercises deal with data manipulation. This is an opportunity to teach iterators. Iterator im

[2016-09-27 02:43] nickborromeo commented on #3076
@blueelvis wanted to see if you are still actively pursuing this?

[2016-09-27 16:59] wobh commented on #3113
If anyone is interested, I started making notes for an application-level exorcism-like service. The idea was that a student would set up a project and the service would update a `features` directory with  Gherkin specs for miscellaneous features for implementation. I did some research and learned that there is a cucumber or cucumber-like library for BDD in all the major languages web-application p

[2016-09-27 20:01] kotp commented on #3113
s/exorcism-like/exercism-like/ but unsure, since you mention corpses and infernal, so confused on if that is a typographical error.  One is fun, the other a little scarier, though it is Halloween time soon.

[2016-09-28 11:01] shevchenkodenis opened #3127 "Benchmark results on exercise page"
There is a benchmark included in almost every Golang problem.
is it possible to add it results to exercise page on exercism.io?
It would be super useful to sort by it and view the quickest solution.

[2016-09-28 22:26] jtigger commented on #3127
I see how being able to see a quality of the solutions (here, you're suggesting performance) to compare would be really cool.  I love the spirit of the idea in the ways that it enriches the conversation about the code.

Personally, while I think it would be interesting to be able to include metrics in a submission, I'm a little hesitant to promote it as a sortable value on its own.  Two reasons co

[2016-09-29 07:59] Insti commented on #3010
Awesome! Thanks @aaron-suarez :heart:

[2016-09-29 07:59] #3010 closed

[2016-09-30 18:43] kytrinyx commented on #3026
I'm going to open a new issue to replace this one, since the new installer supersedes all of this.

[2016-09-30 18:43] #3026 closed

[2016-09-30 18:45] kytrinyx commented on #3037
If we don't hear back from @gusseting on this one in the next few days, we can assume that it's up for grabs.

[2016-09-30 18:48] jtigger opened #3128 "See all contributions (submissions and comments) by a specific user in the Activity Stream"
There are users on exercism from whom I want to learn more.  I know they have left insightful comments on others' submissions; I found some by manually searching.

I want to easily find users' contributions (**both submissions and comments**) so I can enjoy and participate in them.

**Straw man**

1. User's homepage: follow/unfollow.
- Activity Stream: like tracks and exercises, followed users
- W

[2016-10-01 21:03] #3101 closed

[2016-10-01 21:13] #2637 closed

[2016-10-01 21:51] Fahrradflucht opened #3129 "unable to submit (HTTP: 400) - unknown problem"
I can't submit anymore. It worked half an hour ago or something like that and know it doesn't.
Restarting the terminal didn't help...

[code]

[code]

[2016-10-01 22:10] Fahrradflucht commented on #3129
@chandeeland You missed the exercises directory while `xx`ing out your username, didn't you?

[2016-10-01 22:18] chandeeland commented on #3129
lol. you got me.

[2016-10-01 22:24] kybernetikos commented on #3129
I think I have the same problem:

[code]

[2016-10-01 22:26] Fahrradflucht commented on #3129
@kybernetikos you `xx`ed out better but you should remove your API Key

[2016-10-01 22:32] artiom commented on #3129
Same as @Fahrradflucht. Was able to submit about half an hour ago, now can't.

[2016-10-01 22:55] kytrinyx commented on #3109
Ah, that's a great suggestion. We didn't have deletion with undo back when the duplicate exception was introduced. This would be a good fix.

[2016-10-01 22:56] jtigger commented on #3129
I also have the same experience.  I just notified @kytrinyx.  Looking into it.

[2016-10-01 23:00] kytrinyx commented on #3129
I'm looking into this now.

Our first guess was that we hit the database row limit, but heroku says:

So we're good (barely) on that account. I'm digging deeper.

[2016-10-01 23:13] kytrinyx commented on #3129
OK, this looks like it was introduced in https://github.com/exercism/exercism.io/pull/3091 I'm reverting the merge.

[2016-10-01 23:16] kytrinyx commented on #3129
This has been deployed. I've verified that the fix works on my end, and would appreciate it if someone double-checked.

Thanks so much for being so quick to raise the issue! :heart:

[2016-10-01 23:17] Fahrradflucht commented on #3129
Fixed! Thanks!

[2016-10-01 23:18] jtigger commented on #3129
Confirmed.

[2016-10-01 23:18] #3129 closed

[2016-10-01 23:18] kytrinyx commented on #3129
:sparkles: :heart: :sparkles: Thanks y'all!!

[2016-10-01 23:21] shatteredaesthetic commented on #3129
Fixed. Thank you so much for all your hard work, @kytrinyx!

[2016-10-01 23:21] kevintraver commented on #1747
Seems like there is a problem with dashes in the file path or name.

This works:
`exercism submit 'phone-number.js'`

[2016-10-01 23:23] kytrinyx commented on #3128
What I really, really want here is to put the user's own activity stream on their profile page. #2059

[2016-10-01 23:23] kytrinyx commented on #3128
The comments activity stream is something we haven't done yet and _totally should_ include on the user's own profile page.

[2016-10-01 23:33] jtigger commented on #3128
Yup... this is a dupe, in spirit.

[2016-10-01 23:33] #3128 closed

[2016-10-01 23:44] kytrinyx commented on #3112
:tada: Thanks for taking the time to go through and fix all of these!

[2016-10-02 02:25] kytrinyx commented on #3127
This is an interesting topic, and related ideas have come up before. If you want to explore: #2312, #2803, and #1710

One thing we might consider is to include the output of a command as part of the submission:

[code]

[2016-10-02 02:53] kytrinyx opened #3130 "Introduce watermarks for "read" status in activity streams"
We keep track of when you look at a solution in order to be able to mark read/unread status in the activity stream. This has caused an explosion of data (https://github.com/exercism/discussions/issues/15) and also means that when you mark all as read you flood the inbox (#2539).

We're using the _Heroku Postgres **Basic**_, which has a limit of 10 million rows. Heroku is sponsoring us with platfor

[2016-10-02 06:39] bernardoamc commented on #2944
We are finally in a good state to add the link to search for teams. 🎉

Ideas?

[2016-10-02 06:42] bernardoamc commented on #3066
We can close this issue now, thank you @Tetsuro ! ❤️

[2016-10-02 06:49] bernardoamc commented on #3130
I can start coding the `delete all view rows that are older than a watermark`. It is going to be a rake task that is run from time to time, right?

[2016-10-02 06:50] kytrinyx commented on #3130
@bernardoamc: Yes, a rake task would be perfect. Let me share a gist with some stuff I wrote that may or may not help.

[2016-10-02 06:54] kytrinyx commented on #3130
OK here you go: https://gist.github.com/kytrinyx/3eb0430908ed42d5882ebc1f6401deb9 (repeating the warning that this may be completely useless)

[2016-10-02 06:58] bernardoamc commented on #3130
Pretty sure it will help, thank you! Probably going to start this around Monday. ;)

[2016-10-02 07:01] kytrinyx commented on #3130
@bernardoamc Excellent. I hope to have the basic watermark functionality done by then.

[2016-10-02 07:04] bernardoamc commented on #3130
@kytrinyx Awesome! Don't hesitate to ping me in future PRs if you need someone to take a look at it.

[2016-10-02 07:05] kytrinyx commented on #3130
Thanks @bernardoamc, I will!

[2016-10-02 07:22] kytrinyx commented on #2944
@bernardoamc Yay! How about on the dashboard?

[2016-10-02 07:55] kytrinyx opened #3132 "Viewer filter in track stream doesn't count unread exercises"
We recently added a "my solutions" filter to the sidebar of the track activity stream (#3115). This makes it quick and easy to go see all of your own exercises, and quickly navigate to the ones where there has been new activity (comments) since you last looked at it.

However, at the moment, this filter does not show an "unread" badge, even if there are unread items, so one wouldn't know to go the

[2016-10-02 07:59] kytrinyx opened #3133 "Viewer filter in track stream paginates incorrectly"
We recently added a "my solutions" filter to the sidebar of the track activity stream (#3115). This makes it quick and easy to go see all of your own exercises, and quickly navigate to the ones where there has been new activity (comments) since you last looked at it.

In my own solutions for the Go track I should not have any pagination, since I have only submitted to exercises. I would expect som

[2016-10-02 09:51] NobbZ commented on #3133
Thank you for pinging, perhaps we found another bug by this mention.

According to my profile page, elixir is the track with most submissions and has a count of 48.

Still I investigated a bit.

The number of pages on "my submissions" is equivalent to the number of pages on the unfiltered view of that language.

[2016-10-02 09:56] NobbZ opened #3137 "Make display of batches collapsable"
This is in tradition to #2735.

---

Some users have quite a large number of touched tracks.

My own list of batches has 8 rows and when I look at my own profile page, I do only see batches and I have to scroll down a complete "screenpage" before I have my actual list of "open" submissions.

Perhaps there are user which have even more entries (or smaller displays) and it might be hard for them to

[2016-10-02 14:51] kytrinyx commented on #3133
Thank you for confirming that, @NobbZ

I didn't actually verify the counts last night, I just recalled that you had done a very large number of exercises. I ran a query just now and you're right, your track with the most exercises is Elixir at 48.

[2016-10-02 14:58] kytrinyx commented on #3133
@ErikSchierboom it looks like you have more than 50 exercises in each of F#, Haskell, and C#. We've verified the bug, but once we have a fix I'd appreciate it if you'd take a look and verify the fix.

[2016-10-02 15:10] kytrinyx commented on #3124
Hi @Trevoke I think it would make sense to add individual language track repositories if and only if:

- there are 2 or more active maintainers
- we have issues that we can label with "good first patch"

There are a lot of tracks where we don't have enough active maintainers, and sometimes people wait a very long time before someone notices their issue or pull request. I'm putting in place much be

[2016-10-02 15:13] kytrinyx commented on #3124
I forgot to mention that a "response" doesn't mean that the issue gets resolved or that the patch gets merged within those 24 hours.

[2016-10-02 15:17] catb0t commented on #3112
And thank you for going through and merging the rest of those! Of course, I'm not done yet, I was just waiting for those to be closed before opening more. :)

[2016-10-02 16:35] #3132 closed

[2016-10-02 17:13] kytrinyx commented on #3137
@NobbZ would you mind posting a screenshot of what this looks like for you?

@GustavoCaso you worked on this feature; would you be interested in iterating on it?

[2016-10-02 17:15] ErikSchierboom commented on #3133
Sure, no problem. I've just returned from my holiday, which is why I hadn't replied yet.

[2016-10-02 17:32] kytrinyx commented on #3120
@tejasbubane do you have any ideas here? I know you were messing around with the lineman stuff for a while.

[2016-10-02 17:35] kytrinyx opened #3139 "Do not fail the build for decreases in coverage"
Coveralls has a tendency to fail the build on coverage decreases that are -0.008%. This is frustrating and unhelpful.

I'd like to change coveralls so that it _reports_ changes, without having it fail the build because of them. Or, perhaps only fail the build if the coverage decreases by more than 2% or something.

This would be "gameable", but since humans are involved I don't think that would be

[2016-10-02 17:35] #3066 closed

[2016-10-02 17:40] kytrinyx commented on #3076
If @blueelvis doesn't respond within a week, I think we should call this up for grabs.

[2016-10-02 17:42] kytrinyx commented on #1747
@kevintraver now _that_ is a good catch! /cc @exercism/cli-committers is this on the CLI end of things?

[2016-10-02 17:44] kytrinyx commented on #3133
I didn't mean to rush you, @ErikSchierboom :)

[2016-10-02 17:47] troubalex commented on #3095
I think this can be closed since @hailuhr's PR has been merged. 👏

[2016-10-02 18:03] troubalex opened #3140 "Group notifications by language track"
Follow up from the [discussion here](https://github.com/exercism/discussions/issues/68):

Currently, notifications are all lumped together in a big list which is hard to scan. It would be nice to group them by language track. It's probably worth looking at the activity stream for inspiration.

[2016-10-02 18:21] kytrinyx commented on #3095
Yes! thanks everyone

[2016-10-02 18:21] #3095 closed

[2016-10-02 20:42] NobbZ commented on #3137
Of course I can.

This is how it looks like on my laptop, the cut rectangle spans the height of the viewport:

![profile_view_badges_laptop](https://cloud.githubusercontent.com/assets/58951/19023535/c7880f44-88f0-11e6-84a4-92c217f21b83.png)

The one above is, when I have scrolled already a bit, but on the next one you can see, that my complete viewport is covered by the badges and some headlines w

[2016-10-02 22:47] jtigger commented on #3123
@NobbZ do you have a specific proposal to address this?

[2016-10-02 23:14] jtigger commented on #3078
Confirm fixed.

[2016-10-02 23:14] #3078 closed

[2016-10-02 23:20] jtigger commented on #3077
@blueelvis: was @kytrinyx able to clarify what might be needed?  This seems like a great add.

[2016-10-02 23:23] jtigger commented on #3041
@Insti any update on this?

[2016-10-02 23:27] jtigger commented on #3009
We'll pick this up when we do have the capacity (or someone can bring that capability).  In the meantime, seems like @scottwhudson has a workaround.

[2016-10-02 23:27] #3009 closed

[2016-10-02 23:46] jtigger commented on #1878
Moved to the xlua repo.

[2016-10-02 23:46] #1878 closed

[2016-10-02 23:51] jtigger commented on #1384
This discussion is more than 2 years old.  If we need to revive it, we'll reopen (or create a new issue).

[2016-10-02 23:51] #1384 closed

[2016-10-03 00:00] NobbZ commented on #3123
Delete the content of the textarea after submitting it should be totally sufficient. About everyone else on the internet does it like that ;) eg: After hitting submit for this reply, the box I am typing in, will be empty.

[2016-10-03 00:23] kytrinyx commented on #1878
Thank you, @jtigger!

[2016-10-03 01:08] jtigger commented on #3123
Huh... actually... I'm unable to replicate this bug, @NobbZ.

Here's the steps I took:

1. view a submission on the site (e.g. http://exercism.io/submissions/e8252c46a95547eb8cfe327dc4377cdf)
- enter a comment and click "Submit Comment"

Based on how I'm reading the issue, the bug I expect to see is that not only is my comment listed, but the comment text is still in the textarea, like this:

![im

[2016-10-03 01:12] jtigger commented on #2059
When filtering by submissions & comments made by a specific user, this would also address #1297.

[2016-10-03 01:13] jtigger commented on #2059
When filter by submissions and comments made on by a given user, then this would address #1297 .

[2016-10-03 01:15] jtigger commented on #1297
This idea is linked to the active thread on this work (#2059) and is useful as a reference, but otherwise has become redundant.

[2016-10-03 01:15] #1297 closed

[2016-10-03 03:08] kytrinyx opened #3145 "Fix bin/setup to compile CSS and JS"
Since we merged the pull request that lets us stop committing the compiled assets, the bin/setup (probably) needs to install npm and lineman, and run compass compile per the contributing guide: https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md#frontend-development-setup

[code]

I have not tested running setup from scratch.

[2016-10-03 03:48] bernardoamc commented on #2944
@kytrinyx Seems like a good place, below `Your Teams` section?

[2016-10-03 04:16] kytrinyx commented on #2944
@bernardoamc Yepp, let's do that.

[2016-10-03 04:33] bernardoamc commented on #3130
This is a delete query for a `mark all as read`, right? I think we can remove the `user_exercises` table from the query in case of a `mark all from this track as read` or `mark all from this track's problem` as read. Makes sense?

[2016-10-03 04:51] kytrinyx commented on #3130
@bernardoamc mark all as read doesn't delete any rows, it just creates and updates watermarks. The deletion would happen in the sweeper task.

Based on your question I realized that what I want is `v.last_viewed_at` not `ex.last_activity_at`. So maybe:

[code]

Views only have exercise_id, not track_id and slug, so we need the user_exercise as an intermediary to find the track_id and slug with whi

[2016-10-03 04:51] Insti commented on #3031
Why was this closed? Is it fixed? What is the PR for the fix?

[2016-10-03 05:37] Insti commented on #3041
@tejasbubane was going to be looking into this, have you had a chance to look at it @tejasbubane I know you've been busy with other things as well!

[2016-10-03 05:45] GustavoCaso commented on #3137
@kytrinyx sure thing, I grab this one

[2016-10-03 06:32] tejasbubane commented on #3041
I missed this one. I can look into this in a couple of days, but if @jtigger wants to give it a try, he can go for it.

[2016-10-03 06:59] tejasbubane commented on #3120
@GustavoCaso Not sure what is causing that error, but it is [preferred to install `lineman` globally](https://github.com/linemanjs/lineman/blob/master/package.json#L10).

If we go and `npm install` we get this warning:

[code]

That is why even the [guide](http://linemanjs.com/#getting-started) has a global installation instructions.

[2016-10-03 07:44] tejasbubane commented on #3145
Also the docker setup (`Dockerfile` and maybe`docker-compose.yml`). I guess `Dockerfile` can use `bin/setup` itself.

[2016-10-03 08:05] NobbZ commented on #3123
I just retried, also disabling selectively a bunch of plugins which could possibly interfere, and as a last resort I even commented in inkognito-mode, disabled all plugins, even there I have the behaviour described above.

* **Operatingsystem** Windows 10
* **Browser** Google Chrome 53.0.2785.116

[2016-10-03 08:10] ErikSchierboom commented on #3113
IMHO, the exercises on Exercism should be about learning a language and its base libraries, not any external libraries (save for the testing framework that is used). That's not to say that there can't be exercises where you are encouraged to use a specific library to solve a problem. This is for example what happens in the `wordy` exercise on the Haskell track, where people are encouraged to use t

[2016-10-03 08:17] ErikSchierboom commented on #3133
I can also confirm the bug:

![image](https://cloud.githubusercontent.com/assets/135246/19031097/6c9b4120-8952-11e6-839c-57001fd5854e.png)

This is from the first page of the My Solutions page for my F# track, which I have 106 entries in:

![image](https://cloud.githubusercontent.com/assets/135246/19031112/86de6a26-8952-11e6-822b-5a787c328100.png)

[2016-10-03 08:40] rbasso commented on #3113
Before asking if we should have library-specific exercises, I think we have to answer another more fundamental question:

Are the exercises in `x-common` really supposed to be language-independent?

If yes, they are general computing problems and have nothing to do with specific libraries or idioms. It should be possible to port them to most of - if not all - the languages.

If we decide that the

[2016-10-03 09:15] tejasbubane commented on #3139
@kytrinyx This can be set from the coveralls settings page:

![screen shot 2016-10-03 at 2 31 57 pm](https://cloud.githubusercontent.com/assets/980783/19032526/e63d889c-8977-11e6-8368-fc92d974d484.png)

[2016-10-03 13:34] bernardoamc commented on #3130
Yes, you are absolutely right! 👍

[2016-10-03 14:11] kytrinyx commented on #3145
Good call, @tejasbubane. Yeah, it should probably also use `bin/setup`.

[2016-10-03 14:59] #3112 closed

[2016-10-03 15:29] kytrinyx opened #4132 "Include a "Journey Test" in the CI build of each track"
_(spawned from discussion in #79)_

**tl;dr:** come up with a way to automate [journey style](http://martinfowler.com/bliki/UserJourneyTest.html) tests in CI for each track so that maintainers spend less time doing bookkeeping and have more room to use their judgment and creativity.
# Context

One of the more labor intensive parts of maintaining a track is ensuring that submissions from contributo

[2016-10-03 17:36] troubalex opened #3147 "Request for comments: Typography improvements"
This issue is the first result of a larger discussion which is going on [over here](https://github.com/exercism/discussions/issues/31).

I am currently working on the following tasks related to typesetting, with the main focus being on the front page, and other text heavy pages in the beginning of the user journey:
- [x] Find a good combination of typefaces
- [ ] Land a well-balanced typographic s

[2016-10-03 18:16] troubalex commented on #3147
Here is a first round of combinations that I think all work reasonably well together. Since the goal is to see different combinations in action, I did not use any color, apart from the buttons. This is to make them stand out clearly as call to action.

[Please see this PDF (104 KB)](https://github.com/exercism/exercism.io/files/506807/font-combinations.pdf) for the best quality, the pngs are blurr

[2016-10-03 18:59] kytrinyx commented on #3147
My two favorites are A and C, with B a nice second.

I think D and E, while "tech-y" feel a little bit more choppy and are a bit harder to scan.

I think I lean more towards C than A, because the call to action gets a little bit hard to read on A.

[2016-10-03 19:00] kytrinyx commented on #3147
These are gorgeous, by the way. I forgot to say that I really, really like where this is going.

[2016-10-03 19:16] troubalex commented on #3147
The font on the CTA button can be the same in A as it is in C, or it can reuse the body font.

[2016-10-03 19:36] catb0t commented on #3147
I'll second @kytrinyx in saying they all look awesome, although personally I think the blocky font in A is too clumsy and inhibits readability.

The monospace fonts in D and E are *cool* but IMO monospace is harder to process for 1) prose where 2) the text is darker than the background, so I like C most, with B second because C feels way more "modern".

[2016-10-03 20:30] jtigger commented on #3113
oh, wow, I had no idea this was even a thing (i.e. that we'd house a language-specific exercise)... and `lens-person` is very Haskell specific.  wow.

So, @kytrinyx laid out a bit of a vision in the latest revision of the [exercism.io/README](https://github.com/exercism/exercism.io/blob/master/README.md):

Can you consider yourself fluent in a language like Haskell without specifically working wit

[2016-10-03 20:36] GustavoCaso commented on #3120
@tejasbubane I'm not really an expert on lineman, if the guide say it is better to do it globally, then we should, but when I try to compile I get that error, I will investigate to see if I can fix it.

[2016-10-03 20:42] GustavoCaso commented on #2816
@kytrinyx I think we can close this one.

[2016-10-03 22:24] catb0t commented on #3147
Also, here are the variations in order in higher resolution so people don't have to open a PDF:

![screenshot from 2016-10-03 18-23-29](https://cloud.githubusercontent.com/assets/3238748/19056329/84a4b7e4-8996-11e6-9636-49956fa29921.png)
![screenshot from 2016-10-03 18-23-24](https://cloud.githubusercontent.com/assets/3238748/19056331/84a78f50-8996-11e6-8a40-68ff05b45b21.png)
![screenshot from 201

[2016-10-04 01:19] kytrinyx opened #3149 "Incorrect sections on upcoming and planned language pages"
Languages such as [PowerShell](http://exercism.io/languages/powershell) that don't yet have enough exercises to launch are listed under the **Upcoming** header on [/languages](http://exercism.io/languages).

There are two issues:

* On the main page it displays the same text twice.
* On the other pages linked to from the sidebar it displays that same text (but only once) instead of linking to the

[2016-10-04 01:34] kytrinyx commented on #3147
I took another look after taking a walk and I like C even more now.

[2016-10-04 01:36] kytrinyx commented on #3139
:heart: :heart: :heart: @tejasbubane thank you so much for looking into that. It was going to end up at the bottom of a massive pile of TODOs.

[2016-10-04 01:38] kytrinyx commented on #3139
I've updated the settings. We'll see how that goes.

[2016-10-04 01:38] #3139 closed

[2016-10-04 01:44] kytrinyx commented on #3113
So... what if language-specific exercises get defined only in the specific language repository.

Maybe we could have a directory next to the "exercises" directory ("metadata"? "problems"?), and that would have the same structure as in x-common.

[code]

[2016-10-04 01:45] kytrinyx commented on #2816
Yepp, agreed. Thanks!

[2016-10-04 01:45] #2816 closed

[2016-10-04 02:58] ricemery commented on #3113
As an FYI: lens-person is also defined for Scala. The suggested solution is
to use the Monocle library.

On Mon, Oct 3, 2016 at 6:44 PM Katrina Owen <notifications@github.com>
wrote:

So... what if language-specific exercises get defined only in the specific
language repository.

Maybe we could have a directory next to the "exercises" directory
("metadata"? "problems"?), and that would have the sa

[2016-10-04 06:51] Insti opened #3151 "Like not showing on solution"
I got a notification that there was a new 'like' on one of my solutions:

![exercism - notification screenshot](https://cloud.githubusercontent.com/assets/5096681/19064736/72e6288e-8a0f-11e6-8f3f-db20471d6b04.png)

But when I visit the [Strain in Ruby link](http://exercism.io/submissions/f72e42aa0c244a33a2e9e738cf2bc349), there is no like visible:
![exercism - no like information screenshot](https

[2016-10-04 07:03] Insti opened #3152 "Incorrect pagination when using 'My solutions' activity stream filter."
When viewing the activity stream with the 'My Solutions' filter enabled,
![exercism - my solutions filter screenshot](https://cloud.githubusercontent.com/assets/5096681/19064966/14ef5a00-8a11-11e6-8824-6750b06656dd.png)

The pagination control at the bottom still displays that there are many many more solutions to view, even though the current (first) page displays them all.

![exercism - my solut

[2016-10-04 07:10] Insti commented on #3152
Duplicate of #3133

[2016-10-04 07:10] #3152 closed

[2016-10-04 07:14] Insti commented on #3151
Likes are still visible on other solutions.
Was it a 'like' that was removed maybe?

[2016-10-04 07:52] Insti commented on #3139
Was 2% the threshold you used?

[2016-10-04 08:40] Nandarun commented on #915
Rename the team by following the below steps
- Click the "Teams" at org or repo level.
- The above will show all the teams, click the team that you want to rename/change
- Above will come up with a refreshed screen with the selected team name. In the top left hand side where team name is there click the "Edit" which will allow you to rename/change the team name.

[2016-10-04 12:07] troubalex commented on #3147
Thx @catb0t 😸

[2016-10-04 13:52] NobbZ commented on #3151
There aren't any likes on that submission right now. Perhaps someone liked
and unliked. You got a notification on the like but it hasn't got deleted
on the unlike? There is/was a similar bug with deleted comments.

Geoff Hubbard <notifications@github.com> schrieb am Di., 4. Okt. 2016 09:14:

[2016-10-04 16:17] kytrinyx opened #3153 "Create redirect from /inbox if you've not completed any exercises"
`/inbox` is our shortcut to the Track Activity Stream (we realized this was an activity stream several months after we implemented the feature, so the naming is really confusing).

When you have submitted a solution to at least one exercise, then the stream starts getting filled with the solutions that other people have submitted to the same exercise.

If you _haven't_ submitted anything yet, then

[2016-10-04 16:17] jtigger commented on #3123
I've tried this on a plain vanilla install of Windows 8, IE 11 and Chrome 53.0.2785.143.  I still haven't been able to replicate. :(

[2016-10-04 16:48] ErikSchierboom commented on #3113
I like the idea of putting language-specific exercises in the language repositories themselves. However, I think that we should always check if an exercise is perhaps not actually language-specific. If not, it should also go in the `x-common` repository.

[2016-10-04 18:45] kytrinyx commented on #3139
Yeah, I'm not feeling very strongly about what threshold we should use, I just don't want it failing for the micro changes that happen a lot of the time.

[2016-10-04 18:59] tejasbubane commented on #3133
I don't see the bug on a fresh `db:reseed` on localhost

![screen shot 2016-10-05 at 12 26 49 am](https://cloud.githubusercontent.com/assets/980783/19088150/944b2ae6-8a92-11e6-8dd6-f87a010f7ac3.png)

Maybe some data in production?

[2016-10-04 19:00] kytrinyx commented on #3113
One thing we could do is find a way to expose language-specific problems to people who want to implement exercises, with a note that this might be language-specific. Then, if we find that someone wants to implement it too, we can move it to x-common.

[2016-10-04 19:02] kytrinyx commented on #3133
It's more likely that we're missing some crucial data in our seeds, I think.

[2016-10-04 20:00] troubalex commented on #3147
I made small adjustments after I did some more research today (I turned off image compression, the images should be less blurry now).

## Variation A

![variation a](https://cloud.githubusercontent.com/assets/1913615/19090217/b617a146-8a7d-11e6-8aa9-a8ae6e24562b.png)

## Variation D

![variation d](https://cloud.githubusercontent.com/assets/1913615/19090235/c81ff4c4-8a7d-11e6-8d02-a9c1157a54cc.png

[2016-10-04 20:34] GustavoCaso commented on #3137
@kytrinyx we can close this one

[2016-10-04 20:43] bernardoamc commented on #3137
Thank you @GustavoCaso ! Next time we can add a `Fixes #issue_number` in the PR so the issue closes automatically. :)

[2016-10-04 20:43] #3137 closed

[2016-10-04 20:46] tmcgilchrist commented on #3113
Reading through everyone's replies has been enlightening. I do think the
current setup works well to get people started on a particular language and
nicely pushes them to use the fundamentals to solve the problems.

The next stage in learning a language IMHO is building something real like
a web service or compiler (your chose of real here) where you need to
explore some libraries and muddle throu

[2016-10-04 20:47] bernardoamc commented on #3130
Sorry but I'm not going to be able to work on this like I would, just saying this so you can pick any task you want without fearing conflicts. :/

[2016-10-04 21:13] kytrinyx commented on #3130
:heart: thanks for the heads up @bernardoamc!

[2016-10-04 21:17] kytrinyx commented on #3113
I've been thinking a _lot_ about this, and I would absolutely love to find a way to put this together.

I actually think that there's a step between Exercism and what you describe, which is small, focused real-world-ish projects that you're given and asked to fix or change in specific ways. This lets you get familiar with the technology and libraries without having to start from scratch.

It also

[2016-10-04 21:18] kytrinyx commented on #3137
Thanks! I'll be deploying tonight after work.

[2016-10-05 01:04] kytrinyx commented on #3151
I have confirmed this.

Reproduction steps:

1. Alice submits a solution.
2. Bob likes it.
3. Bob unlikes it.
3. Alice still has the notification.

[2016-10-05 01:50] rbasso commented on #3113
I think that, using a set of shared exercises, some things are really hard to do in Exercism:

- Create a smooth progression of exercises - Beginner level language tutorials are designed with that in mind, but they are, necessarily, language-specific. We can, of course, carefully order the exercises and change the test suites to make is less painful, but that is as far as each track can go.
- Teac

[2016-10-05 02:13] kytrinyx opened #3154 "Sidebar shows incorrect counts in activity stream after marking all as read"
I recently implemented watermarks (https://github.com/exercism/exercism.io/pull/3146) on the track_id/problem slug combination, rather than adding a row to the views table for every single exercise. See #3130 for the full story.

Here's what I got after marking all as read in the Ruby track:

<img width="881" alt="screen shot 2016-10-04 at 7 35 27 pm" src="https://cloud.githubusercontent.com/asset

[2016-10-05 02:18] kytrinyx commented on #2539
Fixed in #3146

[2016-10-05 02:18] #2539 closed

[2016-10-05 05:07] Insti commented on #3151
I did not see this happen in my case. The notification disappeared as normal. I did have another 'normal' notification as well. I opened both in tabs before looking at the pages.

[2016-10-05 07:43] NobbZ commented on #3123
I tried again from my working computer using my browser config from my home computer, weird as it is, at work it "works"...

So it seems that there is something else at home that interferes, something outside of the browser. I will close this ticket, since there is currently no reason anymore to think it were exercisms fault.

[2016-10-05 07:43] #3123 closed

[2016-10-05 21:50] GustavoCaso commented on #3137
Thanks @bernardoamc I had no idea. Thanks @kytrinyx

[2016-10-06 11:53] bradhvr commented on #3147
I like B the most, with C right behind it. I feel like they're the most readable and pleasing to the eye.

[2016-10-06 12:47] troubalex commented on #3037
I assume http://exercism.io/styleguide is somewhat relevant to this? According to the [contributing guide](https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md#styleguide), the page is auto-generated by [KSS](https://github.com/kneath/kss).

[2016-10-06 23:03] MohanL commented on #3076
I want to have a try on this

[2016-10-07 04:11] Tetsuro commented on #3147
**Huge** fan of B, it's like a massage for the eyes! Although I would use a sans-serif font for the button.

[2016-10-07 15:54] fuzzytern opened #3157 "No CLI binary available for the ARMv8 architecture"
The [installation page](http://exercism.io/cli/linux) doesn't offer any option for the ARMv8 architecture.

Also, there is not any build for ARMv8 available on the [Github release page](https://github.com/exercism/cli/releases/tag/v2.3.0).

A new build or instructions to compile the CLI from source on this platform would be helpful.

Additional information:
Distribution: Arch Linux ARM
Architectur

[2016-10-07 17:15] troubalex commented on #3147
Thanks for your comments so far, @kytrinyx, @catb0t, @bradhvr, @Tetsuro!

There seems to be a clear preference for the B or C variations, so I went ahead and iterated some more. Not making things too easy here.

## Variation B
This is without doubt a very readable and clean combination, but it's also pretty bland. So I tried to add some more character.
### B1
(only minor tweaks)
![variation b 1](h

[2016-10-07 17:33] catb0t commented on #3157
The CLI is written in Go, and I don't think Go has cross-compilation targets to ARM-anything, which has always made me sad.

It might be possible to build cli.go into a dynamically linked library to be called from C, which can be built for ARM, but I think this merely shifts the problem, because it needs to be linked against the `.so` for the same arch.

Another option is a complete rewrite in C f

[2016-10-07 18:08] fuzzytern commented on #3157
Thanks you cat.
But then how has it been made available for ARMv5 v6 and v7? Also is it
possible to somehow run the 32bits ARMv7 on my 64bit ARMv8?

[2016-10-07 18:45] bernardoamc commented on #3076
Awesome @MohanL ! Thank you!

[2016-10-07 19:05] kytrinyx commented on #3154
@bernardoamc figured it out:

If you have viewed an exercise, and then you have a newer watermark, then it doesn't get counted. I'll fix this today.

[2016-10-07 19:51] mhelmetag commented on #3157
https://github.com/golang/go/wiki/GoArm

Seems like you could clone the repo and build it for `arm64`.

[2016-10-07 20:08] bernardoamc commented on #3154
@kytrinyx Opened an PR with the fix, if something is missing/wrong we can close it.

[2016-10-07 23:05] kytrinyx commented on #3151
You opened both of what?

[2016-10-07 23:07] kytrinyx commented on #3037
Huh. I forgot about that page. I wonder if it's still up-to-date. We don't have that "pending submissions" page anymore, we use the activity streams.

[2016-10-07 23:15] kytrinyx commented on #3157
Go has cross-compilation targets for these.

In terms of building from source, if you clone the cli codebase to your ARMv8 machine try:

[code]

[2016-10-07 23:18] kytrinyx commented on #3154
I can't believe I missed your PR. I'm getting on a plane, would you read through my comments on my PR and figure out if I'm thinking about this right? (This whole thing has had me a bit confused, I want to be very certain that we've gotten this fixed properly).

[2016-10-07 23:22] kytrinyx commented on #3147
I love the italic in B—very airy and easy to read. I think the B4 combination is gorgeous. In the C series my favorite is C3.

[2016-10-07 23:37] bernardoamc commented on #3154
No problem, I opened it just to be sure I wouldn't forget the situation.

[2016-10-07 23:53] bernardoamc commented on #3154
And have a nice flight! :)

[2016-10-08 06:33] fuzzytern commented on #3157
@kytrinyx After setting my Go path (to a new ~/.go folder), when I run

    go install github.com/exercism/cli/exercism

I get an error of type `error: import file 'aaa/bbb/ccc' not found`

If I then do

go get aaa/bbb/ccc

and run the `install` command again, I go one step further, but another dependency is missing so I still get an `import file 'ddd/eee/fff' not fount error'.

Is there an altern

[2016-10-08 08:49] Insti commented on #3151
Both notifications shown in the first image of the OP.

[2016-10-08 09:01] Insti commented on #3076
@MohanL: You need to look in, `test/app/helpers/fuzzy_time_test.rb` and create a new failing test case.

It will probably fall between: `test_a_bit_more_than_23_hours_ago` and `test_bit_more_than_a_day`

[2016-10-08 09:08] Insti commented on #3157
I'm not trying to chase you away :), but there there is a repository for the cli  https://github.com/exercism/cli which might be a better place for this technical discussion.

[2016-10-08 15:12] MohanL commented on #3076
Pull request at https://github.com/exercism/exercism.io/pull/3159

[2016-10-08 15:14] MohanL commented on #3029
I want to have a try on this.

[2016-10-08 17:21] aaron-suarez commented on #3110
Also, if you created the group, then you refuse the invite, it doesn't take you away from the group.

@weilandia Are you still working this? If not, we can go ahead and take it over.

[2016-10-09 04:03] chynkm opened #3160 "My Solutions page - Pagination"
Pagination appears when record count is less.
![selection_001](https://cloud.githubusercontent.com/assets/859879/19217833/458f9292-8e03-11e6-923f-1a59ed853ff8.png)

[2016-10-09 04:31] tejasbubane commented on #3160
Duplicate of #3133

[2016-10-09 04:36] bernardoamc commented on #3160
I'm going to close this in favor of #3133 as @tejasbubane pointed out, but thank you for the feedback @chynkm!

[2016-10-09 04:36] #3160 closed

[2016-10-09 04:48] tejasbubane opened #3161 "Add hacktoberfest labels"
[`Hacktoberfest`](https://hacktoberfest.digitalocean.com/) is happening this month. We should add the `hacktoberfest` labels so that they show up in the [search](https://github.com/search?l=&q=state%3Aopen+label%3Ahacktoberfest&ref=advsearch&type=Issues&utf8=%E2%9C%93). Maybe to all `good-first-patch` issues?

[2016-10-09 06:03] Insti commented on #3161
Go for it. (Are you able to add labels?) See also [Hacktoberfest discussion in /discussions](https://github.com/exercism/discussions/issues/76)

[2016-10-09 06:53] tejasbubane commented on #3161
No I am not able to add labels @Insti

[2016-10-09 08:06] Insti commented on #3161
I just added the Hacktoberfest label and added it to all good-first-patch issues.
I think we need to get @kytrinyx to give you the right permissions so you can assign labels in case you find more that need it added.

[2016-10-09 17:29] MohanL commented on #3029
Related issues https://github.com/exercism/exercism.io/issues/3103

[2016-10-09 19:51] troubalex commented on #3034
This is done, and can be closed, I believe?

[2016-10-09 20:35] mhelmetag commented on #3157
@fuzzytern , can this be closed as a duplicate to the issue in exercism/cli?

[2016-10-09 23:11] mrageh opened #3163 "Comments and code solution overlap when a user zooms on a submissions page"
When the submissions page has enough comments that the comments section becomes scrollable, and a user starts to scroll down. If that user zooms in on the page after scrolling down the comments section then the users submission and the comments start to overlap.

Here is a [link](https://j.gifs.com/r0YZ3L.gif) to a gif that demonstrates the problem I've described above.

[2016-10-10 00:59] #3154 closed

[2016-10-10 01:24] kytrinyx commented on #3161
I've created a team @exercism/triage and added you to it. I'm going to close this issue in favor of https://github.com/exercism/discussions/issues/76

[2016-10-10 01:24] #3161 closed

[2016-10-10 05:44] fuzzytern commented on #3157
@mhelmetag Absolutely.

[2016-10-10 05:50] #3157 closed

[2016-10-10 07:41] troubalex commented on #3163
Nice gif! 💯

Potentially relevant for #2770.

[2016-10-10 12:59] aaddaamm opened #3165 "Login issues on exercism. Keep getting redirected to the login homepage after github login"
So for the past few day's i've been trying to set up exercism on my local workstation. Each time i try to login to the site i just get looped back to the homepage. i've cleared my cache and cookies which will let me login to github. however, after i submit it brings me back to the homepage and still says Login to Github. I'm just trying to setup the CLI so i can start going through these exercises

[2016-10-10 13:23] aaddaamm commented on #3165
configuration issue on my end. no need to investigate

[2016-10-10 13:23] #3165 closed

[2016-10-10 14:13] tejasbubane commented on #1650
Fixed via #2949

[2016-10-10 14:13] #1650 closed

[2016-10-10 14:33] tejasbubane commented on #2973
Related to #3139

There are two parameters:
`coverage threshold for failure` and `coverage decrease threshold for failure`.

[2016-10-10 14:38] tejasbubane commented on #2972
Can this be closed in favour of https://github.com/exercism/xecmascript/issues/235?

[2016-10-10 16:32] tejasbubane opened #3166 "[Discussion] Investigate lineman alternatives"
[`Lineman`](http://linemanjs.com/) has been used in exercism since a while and we recently got it to work with the new [heroku buildpack](https://github.com/exercism/exercism.io/pull/2949). But there are still a lot of issues.

People are also facing several issues with lineman #2936, #3120. This will make it harder for new people to contribute to exercism if they cannot get lineman to work. @kytr

[2016-10-11 01:58] lapaperboy opened #3167 "Using Exercism on Chromebook"
Hello!

Is there a way to use exercism on chromebook? Trying to do a work around right now but not making much progress.

Kris

[2016-10-11 02:29] mhelmetag commented on #3167
I don't know of a way to do it directly but... indirectly, you can install [crouton](https://github.com/dnschneid/crouton) to get Linux on your chromebook. I used that back when I had the first chromebook and it worked pretty well (and I bet it's lightyears ahead of what it used to be now; it seems very well maintained).

Will Linux on your chromebook, you should have no problems at all.

[2016-10-11 03:52] mhelmetag commented on #3151
I got dis :D

[2016-10-11 04:41] mhelmetag commented on #3151
@Insti , I had that happen once or twice... I just had to be adamant about having a clean notification slate (check `Notifications.last` and stuff) and made sure to refresh while assuming/switching between users.

[2016-10-11 07:11] rchavarria commented on #2972
Yep, absolutely!

[2016-10-11 07:39] #2972 closed

[2016-10-11 17:11] MohanL commented on #3110
@aaron-suarez, do you mind if I join your team for this bug ?

[2016-10-12 03:09] aaron-suarez commented on #3110
I have no problem with that. @nellshamrell is our team leader, so I'll let you coordinate with her about the coordination details :slightly_smiling_face:

[2016-10-12 03:48] mhelmetag commented on #3166
webpack could be a good alternative? It's also very well known.

I would love to clean up `frontend`. Either pull out angular (it's probably not really needed). Or embrace a framework (and probably switch to something more approachable like React).

I'm game to help out with those items (or however this all works out).

[2016-10-12 05:13] mhelmetag commented on #3120
I'm getting hung up at `Running "jshint:files" (jshint) task` because of the same warning as well...

[2016-10-12 05:54] mhelmetag commented on #3145
Also, I checked out the [docker README](https://github.com/exercism/exercism.io/blob/0eb974ec68c5cc290370476a4a30370b75f870e3/docker/README.md) and saw that it should be setup with `bin/setup` so I think we're good!

[2016-10-12 13:44] troubalex commented on #3166
YASS! I'd be happy to help, the Sass part needs some TLC as well.

[2016-10-12 19:21] troubalex commented on #3147
Alright, so I'll move on with this now. Thanks for your comments so far! I'll take the favorites, and see how well they play on the page.

There is a chance though that once they are set in context, I may have to do another round of type tweaking, and might land on a different combination.

I'll keep you posted. ✌️😎

[2016-10-12 19:32] MohanL opened #3172 "Add explanations for debugging in the contribution guide"

[2016-10-12 19:33] #3172 closed

[2016-10-12 23:39] weilandia commented on #3110
@aaron-suarez go for it!

[2016-10-13 01:25] MohanL commented on #3110
@aaron-suarez  @nellshamrell
how are you guys going to do this ? How can I join the team ?

[2016-10-13 11:22] #3076 closed

[2016-10-13 12:30] #3151 closed

[2016-10-13 14:58] kytrinyx commented on #3029
I don't think we currently use `state`. We now have `archived` (bool).

At some point I will go through and figure out what all the deprecated columns are so we can delete them!

[2016-10-14 00:30] ryanplusplus commented on #3167
Check out Cloud9 (https://c9.io/). It is an online IDE that uses an Ubuntu VM and you get a shell that allows you to install any packages that you want.

[2016-10-14 02:17] mhelmetag commented on #3167
Total +1 to Cloud9. That's a better option for sure. Way less setup and lots more time coding.

[2016-10-14 16:07] jtigger opened #3180 "Block a user from seeing my submissions"
I've had less-than-stellar interactions with a given user (call him/her "User X").
I want to be able to block User X from seeing my submissions (and thus cannot comment on them) so that we both can continue to enjoy exercism... separately.

Given I've added User X to my "blocked users" list,
- when User X browses to my profile page, they get a 404
- when User X browses to any of my submissions, th

[2016-10-15 02:55] kotp commented on #3180
I have had mostly "less than stellar" interactions on Exercism.  But only one "sexually suggestive" interaction of some twisted sense.  And only a few stellar interactions.

Would an "other than 404" page be more appropriate, a kind of "This user is not available for comments" type of communication?  I think 404 has an intended communication all of it's own.

[2016-10-16 17:30] jtigger commented on #3180
mmm... I used a subtle form of hyperbole.  Sorry about that.  I meant to imply, "I've had particularly uncomfortable / challenging / inappropriate interactions with a given user."

In addition to someone being outright rude or otherwise inappropriate, I might be motivated to block a user because they seem to be dominating the conversations.  I might find their feedback to be unhelpful.

[2016-10-17 01:48] MohanL commented on #3149
Let me have a try. Thank you

[2016-10-17 02:49] MohanL commented on #3110
It is just an interesting bug. Guys, I am working on this.

- [ ] recreate the error
- [ ] form a logic
- [ ] coding
- [ ] PR
- [ ] Improvement

[2016-10-17 04:21] aaron-suarez commented on #3110
Sorry if there was a lack of communication for a few days there. We typically have a conference call on Saturdays but this last one was especially inconvenient for several of us and no one was really able to make it. As far as I'm concerned, if you find a solution to this between now and next Sat, feel free to submit the pull request and we'll pick a different issue for that week. If you don't fin

[2016-10-17 04:51] mhelmetag commented on #3149
@MohanL , here ya go.
This shows duplicate content on the root of the upcoming language (Pascal for example):
![duplicate_content](https://cloud.githubusercontent.com/assets/8609429/19425678/7a6d7870-93ea-11e6-8867-184942f4f7c9.png)

And this shows the incorrect content when trying to view the installing doc (also Pascal):
![incorrect_content](https://cloud.githubusercontent.com/assets/8609429/194

[2016-10-17 06:42] #3133 closed

[2016-10-17 06:44] #3145 closed

[2016-10-17 07:57] tejasbubane commented on #3145
I use docker volumes to cache gem installs. Mount a local directory (eg. `vendor`) to the gem install path in container and it will be reused across containers.

[2016-10-17 08:19] kotp opened #3181 "Currently getting 503 error for "Profile" under user pull down."
When I click on "kotp" (my username top right of page) and select "Profile" from that pull down, I get this response in the web browser.

![screenshot from 2016-10-17 04-16-04](https://cloud.githubusercontent.com/assets/16747/19430055/b92ff37c-9420-11e6-9869-34e766ed31c0.png)

[2016-10-17 08:30] kotp commented on #3181
@nobbz confirms that it is happening for your own profile, but not for others.

[2016-10-17 09:28] NobbZ commented on #3181
Right now it seems as if @kotp and my profile are randomly loading now but take quite a while to do so.

@kotp as a reviewcound of ~2.7k in a single language, and I do have a reviewcount of ~2k over a couple of languages. I then tried @[etrepum](http://exercism.io/etrepum) who I do remember as quite active reviewer in the functional language tracks. He times out as well for me.

[2016-10-17 10:47] NobbZ commented on #3181
Some further testing brought the following result when each site was reachable:

| User | Reviews | response time |
|---|---:|---:|
| NobbZ | ~2k | ~3 sec |
| kotp | ~2.7k | ~3 sec |
| kytrinyx | ~6.8k | ~9 sec |
| etrepum | ~7.7k | ~12 sec |

So even if there is a huge spike between kytrinyx and etrepum in response time, there seems to be some correlation between response/processing time and revi

[2016-10-17 18:33] ErikSchierboom commented on #3133
I can confirm that this problem is now solved! 🎉

![image](https://cloud.githubusercontent.com/assets/135246/19450257/fc861f74-94a8-11e6-9bef-48b1cd0fe8e8.png)

[2016-10-17 18:44] MohanL commented on #3149
@mhelmetag  Thank you!

[2016-10-17 18:48] bernardoamc commented on #3133
Awesome! 😁  Thanks for the feedback!

[2016-10-17 19:56] jtigger commented on #3181
The same symptom was reported by @cds-admal, today, on a different page.

Error 503 first byte timeout
first byte timeout
Guru Mediation:
Details: cache-jfk8141-JFK 1476715665 1819433167
Varnish cache server
[code]

[2016-10-17 20:00] jtigger commented on #3181
Note this guide: https://docs.fastly.com/guides/debugging/common-503-errors

[2016-10-17 22:23] MohanL commented on #3149
Working on it,
- [ ] fix the duplicate content
- [ ] fix the incorrect content
  - [ ] logic

[2016-10-18 02:44] #3029 closed

[2016-10-18 03:04] bernardoamc commented on #3181
We can probably improve the queries performed to build the Profile (even if that's not the main cause), going to take a look at it this week.

[2016-10-18 08:01] mhelmetag commented on #3145
Actually looks like I was just doing something wrong. Docker seems to be using the cache no problem.

[2016-10-18 13:39] jtigger commented on #3181
Here's a sample of the first two from the sequence of requests on the Activity Stream page:

First is the 302 (included to establish the start time of the request (I trimmed headers that appear to be irrelevant to this discussion):
[code]

After some delay (here, 30 seconds), the actual page times-out:

[code]

[2016-10-18 13:59] jtigger commented on #3181
@bernardoamc said, above:

In fact, I believe this is the heart of the problem.  The CDN is timing out (30 seconds) if the origin server does not respond.

This appears to be happening in two places:

1. User profiles (when that target user has a significant number of reviews, >2k).
- Activity Stream (for users who have participated in a number of tracks).

Some tuning can help in the short term.

[2016-10-19 04:50] MohanL commented on #3110
@weilandia @aaron-suarez can you guys try to replicate the error ? I have tried and it seems like when I invite myself, I don't get any notifications.

[2016-10-19 04:56] aaron-suarez commented on #3110
I did replicate the error:

![screenshot from 2016-10-18 23-55-18](https://cloud.githubusercontent.com/assets/2008701/19506125/6d15cf42-958e-11e6-9e04-439b15dbf693.png)

![screenshot from 2016-10-18 23-55-34](https://cloud.githubusercontent.com/assets/2008701/19506126/733f394e-958e-11e6-9b83-08ff76adb0fd.png)

[2016-10-19 05:09] MohanL opened #3185 "Retract invitations doesn't update Invited members list"
The bug happens when inviting a wrong person to the team and try to delete the invitation.
The message says "user removed from team team" but the invitation list doesn't update.
![1](https://cloud.githubusercontent.com/assets/10900547/19523460/96fd5438-95e8-11e6-81ba-0113f7482b85.gif)

[2016-10-19 13:48] c1505 commented on #3185
I just encountered this too.

[2016-10-19 14:46] MohanL commented on #3110
@aaron-suarez  please do invite me for the conference call, Thank you

[2016-10-19 14:47] c1505 commented on #3185
Looks like it is hitting the route since you are getting that success message, but that there isn't really code to delete an invite.  The code that is executed is to delete a current member of the team.  This should probably be a separate route too.  I can look at this tonight.

Probably will do these things and submit a PR soon:
-Update manage.erb to change class of link for javascript action fro

[2016-10-19 14:50] MohanL commented on #3185
@c1505  can you also check on the invitee's side to see if the notification of the invitation retracted ?

[2016-10-19 15:38] c1505 commented on #3185
@MohanL Yup.  I'll look into that also. :)

[2016-10-20 02:38] bernardoamc commented on #3181
@jtigger That's probably true! Going to work on the code in the next days, but it's always a good idea to have a backup plan in case the problem is not solved.

[2016-10-20 03:37] smaclell commented on #2750
Is there anything else to be done on this issue or can it be closed? The docs update was definitely helpful for me when choosing which track to practice with.

[2016-10-20 09:53] Insti commented on #2860
Resolved by #3115

[2016-10-20 09:53] #2860 closed

[2016-10-20 13:17] MohanL commented on #2964
Would it be great if the system has a retract feature for the notifications like invitations, comments ?
potentially relate to https://github.com/exercism/exercism.io/issues/3185

@c1505, what is your idea about this issue, since you are working on retracting the invitations

[2016-10-20 13:25] jtigger opened #3187 "Include a Q&A guide to CONTRIBUTING.md so that would-be contributors can quickly get the information they need"
Take the structure expressed at http://exercism.io/contribute and evolve it into a 2 or 3 step Q&A flow that helps point would-be contributors to the information they need.

An example of that structure is illustrated in [this diagram](https://docs.google.com/drawings/d/1kE7VqIBMj4gj5702a_LDaOkkvKQ1dJsaapzeuIEC5Lw/edit).

Parts to this ticket:
- [x] update CONTRIBUTION.md to include a visually eas

[2016-10-20 20:25] rchavarria commented on #2750
From my side, if documentation makes the distinction clear and it's enough, the issue can be closed.

[2016-10-21 13:13] #3149 closed

[2016-10-21 19:51] c1505 commented on #2964
@MohanL I haven't had much time to look over #3185 yet this week.  Haven't looked at the implementation of notifications yet.  Targeting this weekend to submit the PR.

An alternative solution could be to also notify when a comment is deleted.  Not sure which would be more appropriate here.

[2016-10-21 22:09] kytrinyx opened #3192 "Make track todos scannable"
As a follow-up to https://github.com/exercism/exercism.io/pull/3191 I think it would be useful to turn the grid of problems to implement into a scannable list, much like we did with the [available exercises](http://exercism.io/languages/ruby/exercises).

Here's the "todos" grid:

<img width="655" alt="grid" src="https://cloud.githubusercontent.com/assets/276834/19613224/1f1fb6ca-97e3-11e6-85cf-876

[2016-10-22 00:54] nellshamrell commented on #3110
@aaron-suarez The more the merrier!

[2016-10-22 14:38] MohanL commented on #3185
@c1505
Could you please have a review of my PR at https://github.com/exercism/exercism.io/pull/3193 ?
Thank you.

[2016-10-22 17:50] nellshamrell opened #3195 "Getting a Sinatra error when running locally"
I am currently seeing a Sinatra error when trying to run exercism.io locally in both Mac OS X 10.10.5 and Ubuntu 16.04.1 - in both cases using Firefox as my browser.

I start localhost using:
[code]

This is the error that I am seeing:

![screen shot 2016-10-22 at 10 48 09 am](https://cloud.githubusercontent.com/assets/813007/19621379/54b36810-9845-11e6-9135-16e6fd9a366d.png)

[2016-10-22 19:05] MohanL commented on #3195
@nellshamrell, I think the document at  [frontend compile instructions](https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md#frontend-development-setup) would help

[2016-10-22 19:52] aaron-suarez commented on #3195
I don't think that's the problem MohanL. I tried your solution and it did not work.

If you look at the stacktrace, routes/core.rb assigns a variable called css_url to the value "/css/application.css?t=#{File.mtime('./public/css/application.css').to_i}" . Basically, it looks like it's trying to reference `public/css/application.css`which is a folder that does not exist.

Looking through the commit

[2016-10-22 20:02] bernardoamc commented on #3195
Hey @aaron-suarez , the problem is that you currently have not compiled your assets, when compiled they will generate those files. Please try to run `bundle exec compass watch` and these files should be generated. You could even run `bundle exec compass compile -e production --force` to generate the files for production use, but the first command should solve your problem. :)

[2016-10-22 20:17] MohanL commented on #3195
@aaron-suarez  sorry about this.

[2016-10-22 20:19] aaron-suarez commented on #3195
It's all good, @bernardoamc's solution worked for me. Thank you, guys! I was working with @nellshamrell on this earlier, I think this issue can be closed.

[2016-10-22 20:25] bernardoamc commented on #3195
Glad it worked @aaron-suarez ! 👍

[2016-10-22 20:25] #3195 closed

[2016-10-22 21:00] c1505 opened #3197 "Inviting a user to a team creates a user if they do not exist"
When you manage a team, you can put in any string of characters to invite.  If that user does not exist, they are created.

This creates the problem of if you invite someone and make a typo, you have no indication that you made a typo.  If there is another reason why a user is created when you invite them, feel free to close this issue :)

[2016-10-23 01:00] MohanL commented on #3197
I have an idea, what about we have a dropdown list of registered users for people to have a look ?

[2016-10-23 11:30] andreyrubtsov opened #3198 "Show test results on submissions page"
Currently it is seems impossible to distinguish submission with PASSed tests from the FAILed one.
What I am missing is at least some simple green/red indication of whether tests passed or not.
Otherwise, it is kind of hard to learn from other's submissions simply because you are not sure wether they are simply correct (it might even be even syntactically incorrect or contain complete garbage).

[2016-10-23 11:33] #3198 closed

[2016-10-23 14:13] iHiD opened #3199 "Google Analytics is not working."
I've just loaded the homepage of exercism and GA hasn't been loaded into my browser so my visit isn't registered. (I have access to Exercism's GA so I can validate this is also true at that end)

A 2min debug suggests the following to me:
- At a glance, in the JS console there is the following error:
  Failed to parse SourceMap: http://exercism.io/js/app.js.map
- If I click on that, I get an error

[2016-10-23 20:45] bernardoamc commented on #3181
I will close this issue, thanks for bringing this up everyone! :)

[2016-10-23 20:45] #3181 closed

[2016-10-23 21:07] Insti commented on #3181
Thanks for fixing it @bernardoamc :heart: :tada:

[2016-10-23 21:35] kytrinyx commented on #3113
I've just read through this entire thread again, and wanted to thank you all for adding your thoughts to it.

My conclusion is that this sort of thing sounds like a great idea, but that Exercism is not the right place for it.

[2016-10-23 21:35] #3113 closed

[2016-10-23 21:36] kytrinyx commented on #3113
Oh, one more thing. If anyone here cares enough about the "language-specific exercise" idea, would you collect the comments/thoughts about it from this discussion and open a new issue in https://github.com/exercism/discussions/issues?

[2016-10-23 22:41] kytrinyx commented on #3167
There's a video that shows how to do it. It's a bit old, but I think the basic ideas still hold: https://www.youtube.com/watch?v=r0TnwOLxoks

That would definitely be the recommended way to do it on a chrome book!

[2016-10-23 22:41] #3167 closed

[2016-10-23 22:46] kytrinyx commented on #3180
I fully support the idea of being able to explicitly avoid interactions with selected individuals.

This is a really complex topic, and I don't know much about it, and I worry that it's a feature that would be very easy to get wrong in a number of different ways.

Does anyone know of any resources that have to do with the ins and outs of this sort of feature?

[2016-10-23 22:54] kytrinyx commented on #3199
Gah. This is kind of terrible, thanks so much for finding it!

@tejasbubane can I bug you to take a look at this? The javascript stuff is all a bit of a mess, and I suspect that I've managed to only make it worse. If not, that's totally fine (just let me know so I can ask someone else to take a look).

[2016-10-23 22:57] kytrinyx commented on #2964
What if we marked comments as deleted and instead of showing the comment, we showed a message in the comment flow saying something like `@username deleted their comment`?

[2016-10-23 22:59] kytrinyx commented on #3197
We want to be able to invite GitHub users who are not yet in the system. That way when they join Exercism the team invitation will be there for them.

[2016-10-23 23:00] MohanL commented on #2964
@kytrinyx in my opinion, I still feel like we should not bother people by the unnecessary notifications. For people who have obsessive-compulsive disorder about notifications, it is a pain.

[2016-10-23 23:03] kytrinyx commented on #3198
@andreyrubtsov - I know you closed this, but I wanted to give a little context about this behavior.

The main reason we don't have any pass/fail indication in the submission page is that we currently don't have the capacity to run people's solutions after they've submitted them. It would require spinning up a VM somewhere with the correct environment, and this would take a lot of resources that we

[2016-10-23 23:04] MohanL commented on #3197
we could try to have a dropdown list showing the registered users on github when people type the usernames.

[2016-10-23 23:06] kytrinyx commented on #3197
@MohanL There are many, many millions of users on GitHub. I don't think that a dropdown would be usable.

[2016-10-23 23:11] MohanL commented on #3197
@kytrinyx
Oh, I got it. :)
Is there anything we could do about this ? like telling the current user that if the invitee is registered in the system or not ?

[2016-10-23 23:13] kytrinyx commented on #1081
I've opened https://github.com/exercism/discussions/issues/86 to discuss this.

[2016-10-23 23:13] #1081 closed

[2016-10-23 23:15] kytrinyx commented on #1584
I'm going to close this as we've not managed to make any progress on it.

/cc @rbasso in case you have any sudden insights about how we could do this integration.

[2016-10-23 23:15] #1584 closed

[2016-10-23 23:17] kytrinyx commented on #1588
We now have a "subscribe to this conversation" link in each conversation.

[2016-10-23 23:17] #1588 closed

[2016-10-23 23:19] kytrinyx commented on #1617
I'm going to close this, as I really don't want to go down the path of gamification. I still think there are things we could do to increase and improve interactions.

[2016-10-23 23:19] kytrinyx commented on #1626
I never got around to this, and am going to table the idea.

[2016-10-23 23:19] #1626 closed

[2016-10-23 23:19] #1617 closed

[2016-10-23 23:20] kytrinyx commented on #1654
Thank you, everyone, for participating in this discussion. We have an open issue for some UX changes here: https://github.com/exercism/discussions/issues/33, and I'm going to close this one.

[2016-10-23 23:20] #1654 closed

[2016-10-23 23:21] kytrinyx commented on #1661
I failed to make progress on this. I'm going to table the idea.

[2016-10-23 23:21] #1661 closed

[2016-10-23 23:22] kytrinyx commented on #1685
We now have support for this, as we've changed the format to managers / members, and everyone can see everything in the team activity stream. There are no notifications anymore specifically for teams.

[2016-10-23 23:22] #1685 closed

[2016-10-23 23:23] kytrinyx commented on #1699
I'm going to close this, as there are a number of larger-scale refactorings that need to be done, and we should probably tackle them in a more coordinated way.

[2016-10-23 23:23] #1699 closed

[2016-10-23 23:25] kytrinyx commented on #1709
I think the most promising direction we've got going is the discussion about using machine learning / AI to create heatmaps of solutions: https://github.com/exercism/discussions/issues/65

I'm going to go ahead and close this, but please add ideas to that discussion if you think there are important things here that are not reflected there.

[2016-10-23 23:25] #1709 closed

[2016-10-23 23:29] kytrinyx commented on #1869
I think the ideal solution to this would be to find articles out in the world about test driven development, and link to them from the track documentation.

I'm closing this in favor of the discussion in https://github.com/exercism/discussions/issues/87

[2016-10-23 23:29] #1869 closed

[2016-10-23 23:29] #1851 closed

[2016-10-23 23:30] MohanL commented on #2964
@kytrinyx
I think `@username deleted their comment` is a great idea, but do we need the notifications though ?

[2016-10-23 23:39] kytrinyx commented on #1956
I've opened a discussion issue, aiming at the higher level goal of increasing the participation in the code reviews / conversations, and improving the quality of that participation.

https://github.com/exercism/discussions/issues/88

[2016-10-23 23:39] #1956 closed

[2016-10-23 23:41] kytrinyx commented on #1927
I've opened a higher-level discussion issue about how to increase participation in the code review, and how to improve the quality of the participation. https://github.com/exercism/discussions/issues/88

[2016-10-23 23:41] #1927 closed

[2016-10-23 23:42] kytrinyx commented on #1934
I've not made progress on this, and don't see how to approach it without a huge restructuring of how Exercism works. I'm going to go ahead and close this.

[2016-10-23 23:42] #1934 closed

[2016-10-23 23:43] kytrinyx commented on #1926
I'm going to go ahead and close this, since we'll be tackling UX more globally in the future. Thanks!

[2016-10-23 23:43] #1926 closed

[2016-10-23 23:44] kytrinyx commented on #1946
We've changed the user interface of the page, so these things are no longer showing.

[2016-10-23 23:44] #1946 closed

[2016-10-23 23:46] kytrinyx commented on #1976
We never made progress on this, unfortunately, though we've been working on other things to try to improve the frontend workflow. I'm going to close this in favor of the overhaul we're investigating here: https://github.com/exercism/exercism.io/issues/3166

[2016-10-23 23:46] #1976 closed

[2016-10-23 23:47] kytrinyx commented on #1957
I've opened an issue to discuss various high-level approaches to improving the quantity/quality of feedback: https://github.com/exercism/discussions/issues/88 I'm closing this issue in favor of that discussion.

[2016-10-23 23:47] #1957 closed

[2016-10-23 23:48] kytrinyx commented on #1978
I'm going to go ahead and close this, since I really don't want to go down the path of gamification. I do think that there's a lot that we can do in order to improve the quantity and quality of the feedback, and have opened an issue here to explore that at a higher level: https://github.com/exercism/discussions/issues/88

[2016-10-23 23:48] #1978 closed

[2016-10-23 23:50] kytrinyx commented on #1994
Moved to the Clojure track repo.

[2016-10-23 23:50] #1994 closed

[2016-10-23 23:50] kytrinyx commented on #2016
I've opened a high-level issue to discuss how to generally improve the quantity and quality of feedback: https://github.com/exercism/discussions/issues/88

[2016-10-23 23:50] #2016 closed

[2016-10-23 23:51] kytrinyx commented on #2711
I've opened a high-level issue to discuss how to improve the quantity/quality of feedback: https://github.com/exercism/discussions/issues/88

[2016-10-23 23:51] #2711 closed

[2016-10-23 23:52] kytrinyx commented on #2027
I think this got fixed. @kotp would you have a moment to verify?

[2016-10-23 23:53] kytrinyx commented on #2029
I'm going to close this, as the recommended way to install is now to download from https://github.com/exercism/cli/releases

[2016-10-23 23:53] #2029 closed

[2016-10-23 23:54] kytrinyx commented on #2038
I'm so sorry I dropped the ball on this. @troubalex has been doing some great work on typographic treatment here: https://github.com/exercism/exercism.io/issues/3147

I'm going to close this in favor of the work that is being done there.

[2016-10-23 23:54] #2038 closed

[2016-10-23 23:55] kytrinyx commented on #2021
I'm going to close this, as many of the tracks have a hello-world as the first exercise, and those who don't likely don't need one.

[2016-10-23 23:55] #2021 closed

[2016-10-23 23:58] kytrinyx commented on #2046
We're going to do some work to get the basic UX right on Exercism. Once the basics are improved, I think we can consider things like this. In the meanwhile I'm going to close it.

[2016-10-23 23:58] #2046 closed

[2016-10-24 00:02] kytrinyx commented on #2077
I've moved this suggestion into the discussions repo: https://github.com/exercism/discussions/issues/89

[2016-10-24 00:02] #2077 closed

[2016-10-24 00:04] kytrinyx commented on #2053
Wow, I appear to have dropped the ball on this. It's been... 2 years. I still think this is a fantastic idea, so I'm not going to close the issue.

I don't have a list of existing shortcuts. I think if we look at the shortcuts that gmail uses for inspiration we might have a good starting point.

[2016-10-24 00:06] kytrinyx commented on #2080
I'm going to close this in favor of the discussion opened here: https://github.com/exercism/discussions/issues/89

I think that a broader approach to this would make more sense (people could say something in their meta-commentary about which solution they like the best).

[2016-10-24 00:06] #2080 closed

[2016-10-24 00:10] kytrinyx commented on #2084
Moving this to the discussions repo.

[2016-10-24 00:10] #2084 closed

[2016-10-24 00:11] kytrinyx commented on #2089
@tejasbubane here's more javascript (lineman?) stuff. It's very old and might not be relevant still.

[2016-10-24 00:12] kytrinyx commented on #2337
We completely removed email notifications from exercism a while back. We may consider putting them back in, at which point we will be thinking through how to let people make the emails as useful to them as possible. Meanwhile I'm going to close this, since it's not something we can act on now.

[2016-10-24 00:12] #2337 closed

[2016-10-24 00:14] kytrinyx commented on #2097
I really don't know what to do about the stats at the moment.

I'm going to close this. I think that if we're going to do anything about them at all we should open issues in the discussions repo (https://github.com/exercism/discussions/issues) and talk about what we're trying to achieve with the change.

[2016-10-24 00:14] #2097 closed

[2016-10-24 00:15] kytrinyx commented on #2156
We've implemented something in the profile page, but not in the CLI.

[2016-10-24 00:18] kytrinyx commented on #2125
I think it would be useful to shift the discussion from the tactic to the strategy. In other words instead of "let's implement X", we should probably discuss what we're trying to achieve with X so that we can figure out if there are any other related changes we would want to make, and if a different approach might be better.

I'm going to close this, and if you still have thoughts about this, plea

[2016-10-24 00:18] #2125 closed

[2016-10-24 00:19] kytrinyx commented on #2159
We've got an open discussion about ordering of exercises here: https://github.com/exercism/discussions/issues/60

Closing this in favor of that one.

[2016-10-24 00:19] #2159 closed

[2016-10-24 00:26] kytrinyx commented on #2184
Closing in favor of the somewhat higher-level discussion here: https://github.com/exercism/exercism.io/issues/2184

[2016-10-24 00:26] #2184 closed

[2016-10-24 00:30] kytrinyx commented on #2248
We've not made any progress on this, unfortunately.

There is a workaround: create a mentorship team with the mentor and mentee. That will give the mentor access to the mentee's solutions.

Since we have a workaround I'm going to go ahead and close this.

[2016-10-24 00:30] #2248 closed

[2016-10-24 00:33] kytrinyx commented on #2262
I'm going to close this in favor of a couple of other open discussions:

- https://github.com/exercism/discussions/issues/33 (for improving the dashboard)
- https://github.com/exercism/discussions/issues/91 (granular notifications / flexible subscriptions)

In particular I think that we could use the dashboard to occasionally suggest that you revisit an exercise.

[2016-10-24 00:34] #2262 closed

[2016-10-24 00:36] kytrinyx commented on #2296
I'm so sorry that I've failed to follow up on this. The long and short of it is that I don't know how to manage a complex web frontend as open source. There are so many moving pieces. I think we got blocked on a heroku workflow thing.

I'm going to close the issue, but I believe that we've sorted out the heroku buildpack issue, so if anyone wants to take another look at this, you're welcome to do

[2016-10-24 00:36] #2296 closed

[2016-10-24 00:38] kytrinyx commented on #2322
I completely failed to follow through on this, and I'm going to table it. I'm so sorry.

[2016-10-24 00:38] #2322 closed

[2016-10-24 00:39] kytrinyx commented on #2323
We've made a bunch of improvements over the past year. I'm going to go ahead and close this.

[2016-10-24 00:39] #2323 closed

[2016-10-24 00:40] kytrinyx commented on #2324
I'm going to go ahead and close this now. We've got a number of UX discussions open that are addressing it at various levels.

[2016-10-24 00:40] #2324 closed

[2016-10-24 00:42] kytrinyx commented on #2325
I'm going to close this issue in favor of this discussion: https://github.com/exercism/discussions/issues/65

[2016-10-24 00:42] #2325 closed

[2016-10-24 00:44] kytrinyx commented on #2321
Since it's been 18 months I'm going to close this. We are still working on getting rid of lineman (see https://github.com/exercism/exercism.io/issues/3166).

[2016-10-24 00:44] #2321 closed

[2016-10-24 00:45] kytrinyx commented on #2318
@tejasbubane here's another javascript / lineman related thing.

@mtakac2 I'm so sorry that I failed to figure out how to help get this all sorted out and shipped.

Closing in favor of https://github.com/exercism/exercism.io/issues/3166

[2016-10-24 00:45] #2318 closed

[2016-10-24 00:45] kytrinyx commented on #2312
I'm going to close this in favor of the discussion here: https://github.com/exercism/discussions/issues/65

[2016-10-24 00:45] #2312 closed

[2016-10-24 00:47] kytrinyx commented on #2309
I'm raising these questions in a separate (offline) discussion as I investigate some of the questions around making exercism sustainable. I'm going to close this issue.

[2016-10-24 00:47] #2309 closed

[2016-10-24 00:48] kytrinyx commented on #2307
I'm going to go ahead and close this (I hope your outreach to swift groups went well), as we've got several threads open to try to improve the sustainability of the community at a number of different levels.

[2016-10-24 00:48] #2307 closed

[2016-10-24 00:50] kytrinyx commented on #2305
We've made a ton of progress on this sort of issue, among other things by introducing a `canonical-data.json` data set that different language tracks can use to implement an exercise.

If you see further problems like this please open an issue in the https://github.com/exercism/x-common/issues repository.

[2016-10-24 00:50] #2305 closed

[2016-10-24 00:52] kytrinyx commented on #2265
I'm going to go ahead and close this issue—but if you want to help improve the tests further, then please do so!

[2016-10-24 00:52] #2265 closed

[2016-10-24 00:54] kytrinyx commented on #2341
This has been fixed.

[2016-10-24 00:54] #2341 closed

[2016-10-24 00:54] kytrinyx commented on #2358
Since we have other open tickets for this I'm going to close this issue.

[2016-10-24 00:54] #2358 closed

[2016-10-24 00:55] kytrinyx commented on #2342
I'm going to close this, as I'll be tackling marketing/branding as a separate thing with people who know what they're doing.

[2016-10-24 00:55] #2342 closed

[2016-10-24 00:57] kytrinyx commented on #2398
We've added a bit of book-keeping / versioning to a number of tracks. I'm going to close this, as the versioning provides a workaround. If this continues to be a problem we should reconsider how to tackle it.

[2016-10-24 00:57] #2398 closed

[2016-10-24 00:58] kytrinyx commented on #2343
Closing this in favor of https://github.com/exercism/x-common/issues/382

[2016-10-24 00:58] #2343 closed

[2016-10-24 00:58] kytrinyx commented on #2487
I'm going to close this, but I am strongly considering adding granular subscriptions and email notifications to Exercism: https://github.com/exercism/discussions/issues/91 so the feature might come back.

[2016-10-24 00:58] #2487 closed

[2016-10-24 00:59] #2346 closed

[2016-10-24 01:00] #2654 closed

[2016-10-24 01:01] #2616 closed

[2016-10-24 01:03] kytrinyx commented on #2615
I'm going to close this, since we're trying to focus on the core Exercism features and user experience, and this is currently a bit too far away from that core experience. Once we get the basics implemented properly, this might be worth thinking about.

[2016-10-24 01:03] #2615 closed

[2016-10-24 01:04] kytrinyx commented on #2576
I'm going to close this since there is a workaround. We're working on improving the core features / usability of the site, and once we have that I'm sure this will come up again :)

[2016-10-24 01:04] #2576 closed

[2016-10-24 03:50] mandel01 commented on #2398
Related to this, is there a way to pull/fetch the latest version of the readme & test suite for a problem? I did python hello-world a couple years ago. My sample doesn't pass the current test suite. Here is what I tried (I was getting a new local user set up on exercism... I have it installed on Mac via homebrew).

Should `exercism fetch` have updated the test suite in this case?

I noticed that `

[2016-10-24 07:27] tejasbubane commented on #3199
@kytrinyx I will look into this tonight.

[2016-10-24 09:45] kotp commented on #2027
The wording may be awkward on invite... "Invitation sent to team YourTeamNameHere" where "YourTeamNameHere" is simply a placeholder, it does show the actual team name.  I would probably expect the invitation to be sent to the folks invited.

But yes, it seems to be working.

Would love to send to be able to invite via e-mail address though, as well, and get people started using github as an option

[2016-10-24 09:46] #2027 closed

[2016-10-24 10:10] kotp commented on #3180
The most apparent "thing" I have seen recently is the "Sin Box" that stack exchange puts in place.  Community drive, as SO is.  With moderator intervention, etc.  Yes, a very complex thing to "enforce through code" (anti-)social behavior restrictions.

What we don't currently have is a way to "+1" or "-1" interactions to help support something like this on a broad level.  And of course, at the mom

[2016-10-24 14:49] jtigger commented on #3181
There was a separate complaint about the Activity Stream in the support chat.  If I've properly followed-up, I'll report back that this user's experience is better or I created a separate issues for that page.

If it's been more than a week since this comment and no additional movement, please poke me.

[2016-10-24 17:32] bernardoamc commented on #3181
Oh, I missed the part about the activity stream, going to take a look at it and see if we can improve the response time. :)

[2016-10-24 19:55] andreyrubtsov commented on #3198
@kytrinyx Thank you for a clear explanation, now I understand the problem.

[2016-10-24 22:44] c1505 commented on #3197
We could check with the github api if that user exists or have some clarifying note about what inviting people actually does.  I'm also perfectly ok closing this issue without changes.

[2016-10-25 01:15] mhelmetag commented on #3198
@kytrinyx, but what about having the submitters environment run the test, pipe the output to a file and submit the output with their solution haha. Have people's systems do the work!

[2016-10-25 13:09] jtigger opened #3206 "Activity Stream is slow for some users and "mark as read" fails"
Reported in the support chat (by @cds-amal):
1. Log in and go to the Activity Stream
   - **Expected:** the page would load quickly
   - **Actual:** the page takes a long time to load (although < 30 secs, so it actually loads!)
2. Submissions "mark[ed] as read" still come back as unread.

[2016-10-25 13:12] jtigger commented on #3181
Solid, @bernardoamc.  Per @cds-amal, your work improve the performance of that page too, but it's still a bit slow for some and it sounds like it has some side-effects.  I created a separate issue for that: #3206.

[2016-10-25 13:17] snsavage commented on #3192
@kytrinyx Is anyone working on this?  I'd be happy to give it a shot.

[2016-10-25 15:23] kytrinyx commented on #3180
GitHub released these guidelines last week https://help.github.com/articles/github-community-guidelines/, which I think are exactly what we're looking for. I'll read through them, and would love it if others also did so so we can discuss this at the higher-level "how do we avoid unpleasantness" rather than the "let's implement feature X".

[2016-10-25 15:30] kytrinyx commented on #3180
Hm. OK, community guidelines are not exactly what we're looking for, though they could be helpful.

[2016-10-25 15:31] kytrinyx commented on #3180
Another thing that we should consider is muting. Or even time-delayed muting, e.g. "mute for 24 hours".

[2016-10-25 21:38] MohanL commented on #3153
I am working on it :)

[2016-10-25 23:53] snsavage commented on #3192
Here is what I came up with.  Any thoughts?
![screen shot 2016-10-25 at 7 51 51 pm](https://cloud.githubusercontent.com/assets/6299224/19708453/9f957388-9aec-11e6-803e-5183548937a7.png)

[2016-10-26 02:13] bernardoamc commented on #3206
Hmm, ok, my code for the profile page don't touch the `mark as read` feature, that's good. haha I'm trying to reproduce the mark as read bug, so far no luck, but will keep trying though. :)

[2016-10-26 07:01] Insti commented on #3192
Looks good, can you submit a Pull Request for this?

[2016-10-26 10:29] andreyrubtsov commented on #3198
@katrinyx, jfyi yesterday bitbucket pipelines were made GA, i think we could link exercism with user bitbucket repo to track build status

[2016-10-26 14:20] jmkoni commented on #3140
Not sure if this is exactly what you are looking for, but I submitted a PR that groups the notifications:
https://github.com/exercism/exercism.io/pull/3207

[2016-10-26 15:45] zenspider commented on #1617
Fair.... I do think there is some interesting things going on per-language. It'd be interesting to see some stats per language to see if there was something we could learn from some and inject into others.

[2016-10-26 16:05] jtigger commented on #3206
Yeah, @bernardoamc, I'm encouraging @cds-amal to detail his experience so that we can (at least) have a fighting chance of narrowing it down (somehow)...  Let's give it some time and see.

[2016-10-26 16:16] jtigger commented on #1617
@kytrinyx this topic comes up so frequently and persistently, I'd almost want to pin this issue! :)  I think in the contribution documentation rework, we'll reference this issue directly.

[2016-10-26 20:39] Insti commented on #3110
Is getting an invite for your own group even a good idea?
I expected I would just create the group and be a member without any invitation and was surprised when one showed up in my notifications.

[2016-10-26 22:15] laurauzcategui opened #3211 "Create Hacktoberfest Label at XPython"
Hi I am looking forward to contribute as part of Hacktoberfest in XPython repo but unfortunately the label is not created :disappointed:

Will someone be able to create the label ? so I can tag my pull request and issues ? :smiley:

[2016-10-26 23:43] aaron-suarez commented on #3110
@Insti I agree that there probably should be no invitation given to the group creator. This would solve both issues discussed in the thread. We'll make it so that the group creator can't receive an invitation to their own group, but are instead automatically added as a manager.

[2016-10-26 23:52] MohanL commented on #3110
@aaron-suarez
we could probably do a check on the team's member set to decide weather it is valid to add the user. what do you think ? Also, we could have notifications saying that someone is already a member of the team if the invitation is not valid.  What do you think ?

[2016-10-26 23:55] aaron-suarez commented on #3110
That sounds good. By the way, have you been getting any of the emails I've sent to contact@mohanl.com ?

[2016-10-27 00:05] MohanL commented on #3110
@aaron-suarez Yes, I just saw it. sorry about the late reply.

[2016-10-27 01:27] snahor commented on #3211
You don't need that label to participate.

[2016-10-27 02:06] LapisFox opened #3212 "Setting up boost for c++"
I'm having problems getting everything set up for the C++ track.  I'm attempting to do this on Windows 10 with Visual Studio 2015 and have tried some prebuilt boost installs and also building it myself.  No matter what I try, I'm still having issues when I run the cmake command: cmake -G "Visual Studio 14" ..

I get the following error:

CMake Error at C:/Program Files/CMake/share/cmake-3.7/Module

[2016-10-27 09:51] laurauzcategui commented on #3211
Good then. Thanks.

[2016-10-27 09:51] #3211 closed

[2016-10-30 04:01] aaron-suarez commented on #3197
I think that some checking of whether it is a valid user (either Exercism user or GitHub user) would be a helpful addition. The app displays the strings that were typed in. If they're users, it looks great. If they're not, it basically creates a placeholder for a deadlink. I agree we should check if that github user exists and give some kind of simple "User not found" kind of error to the the user

[2016-10-30 20:01] MohanL opened #3220 "how does a first-timer get to know about activity streams"
![image](https://cloud.githubusercontent.com/assets/10900547/19839517/e2dbc7f2-9eb9-11e6-9de9-fd84b7a75c40.png)

For example, Alice won't know about the activity streams until she turns in her first submission.

[2016-10-30 20:16] MohanL opened #3221 "Activity stream is visible to a user who has not submitted anything"
![image](https://cloud.githubusercontent.com/assets/10900547/19839633/ce42ccda-9ebb-11e6-8086-869bc8924d4b.png)

The problem is that the user madison has never submitted anything but he could view the activity stream page.

[2016-10-30 20:19] claytonflesher opened #3222 "Team invitation not showing up in notifications after changing Github username"
I recently changed my github username from Calvyn82 to claytonflesher,

Around the same time, I was sent an invitation to the team:
http://exercism.io/teams/confident-poodr/streams

The invitation never showed up in my notifications for me to accept it. Please let me know if there is any further information I can provide, or a known issue I can try to help out with on this subject.

[2016-10-30 20:34] MohanL commented on #3222
potentially relate to https://github.com/exercism/exercism.io/issues/3100

[2016-10-30 21:10] MohanL commented on #3221
Under investigation :)

[2016-10-31 10:47] Insti opened #3226 "Activity Stream: Track mentor view state indicators"
When you are a track mentor, on the left hand side of your activity stream you can see all the exercises.

![exercism - track mentor view](https://cloud.githubusercontent.com/assets/5096681/19851422/1a56c5ac-9f5e-11e6-8317-c72334dc566a.png)

In the above image, I have solved `Isogram` but none of the others that are visible.
`Lib`, `Octal` and `Point Mutations` are deprecated (and I have not solve

[2016-10-31 10:49] Insti commented on #3220
Making it always visible is a good idea :+1:

[2016-10-31 10:51] NobbZ commented on #3226
Well at least the same problem does exist for team activity streams and was
already issued some time ago by me. But since Ian on a mobile I can't ref
right now.

Geoff Hubbard <notifications@github.com> schrieb am Mo., 31. Okt. 2016
11:47:

[2016-10-31 11:01] Insti commented on #3226
@NobbZ? Viewing and finding teams and general improvements to them: https://github.com/exercism/exercism.io/issues/2944

[2016-10-31 11:06] NobbZ commented on #3226
Yes, that's the one I meant.

Geoff Hubbard <notifications@github.com> schrieb am Mo., 31. Okt. 2016 um
12:01 Uhr:

[2016-10-31 11:10] Insti commented on #3127
This could already be done manually by submitting multiple files and would still be able to discussed in reviews.
[code]
The Go track could include these instructions in their HINTS.md file so the convention could become known.

This doesn't solve the sorting by benchmark results part, but I suspect that is not compatible with the Exercism "avoid gamification at all costs" philosophy.

[2016-10-31 12:36] daveyarwood commented on #2897
I am seeing the same behavior on my account -- could there be more bad data?

Example: http://exercism.io/tracks/kotlin/exercises/hello-world

I am actually seeing this when I click on _any_ "See other implementations of..." link.

[code]

[2016-11-01 13:37] jtigger commented on #2976
Folding this in the broader discussion forming around topical search (exercism/discussions#83).

[2016-11-01 13:37] #2976 closed

[2016-11-01 14:34] jessfrisch opened #3227 "Changed github names -- cannot log into exercism account"
Hi--

I recently changed my github username from jessf to jessfrisch.  I can see my exercism user account at jessf, but I cannot log into it.  Can you merge jessf into jessfrisch?

Thanks,
jess

[2016-11-01 19:20] canweriotnow commented on #2976
Searching for "recursion" should return a helpful suggestion like [did you mean recursion?](https://www.google.com/search?q=recursion)

[2016-11-02 15:56] jtigger commented on #3153
If someone is at the inbox page, and they haven't submitted, they've fallen off the on-ramp.

The on-ramp flow:

1. homepage
- [How it works](http://exercism.io/how-it-works/newbie)
- Sign-up via GitHub (assume creating a GitHub account)
  - When they verify their email address they land at GitHub's home page:
![image](https://cloud.githubusercontent.com/assets/470176/19935845/b82c5d3e-a0d8-11e6-8

[2016-11-02 16:42] machikoyasuda commented on #3187
@jendiamond @Taekyoon - What are some troubles you are having with contributing to Exercism right now? What would you have liked to see in the Documentation specifically about testing?

[2016-11-02 17:11] machikoyasuda opened #3228 "As a meetup & Exercism team organizer, I need to be able to get to my Team's stream ASAP."
![screenshot 2016-11-02 10 09 17](https://cloud.githubusercontent.com/assets/3673236/19939027/728d99a8-a0e4-11e6-8542-7a030ecc12a1.png)

As a meetup organizer / Exercism team organizer who cares a LOT about the humans she has onboarded onto Exercism, suggested Exercism to and taught them GitHub.com and Command Line so they can use Exercism,
I need to be able to get to my Team's Stream ASAP.

So I

[2016-11-02 17:15] kytrinyx commented on #3228
Yeah, that works for me. A drop down with all your teams, perhaps?

[2016-11-02 19:35] machikoyasuda commented on #3228
yes <3 <3 <3

[2016-11-02 19:36] machikoyasuda commented on #3228
We will work on this at our meetups <3 <3 <3

[2016-11-03 12:47] jtigger commented on #3153
@MohanL the issue still stands: the current behavior is super confusing.  My observation is that this condition should be really rare; and in those rare cases, the most helpful thing we can do for that person is point them back to the instructions that get them to their first submission.

@kytrinyx does this match your understanding?

[2016-11-03 14:48] MohanL commented on #3153
@jtigger

I agree with you that some people will get lost when register for a github account, but there is nothing we can do at that point.

So the best we could do is to clarify the whole process and assume that people will get back to Exercism website.

about this, this [PR](https://github.com/exercism/exercism.io/pull/3224
) takes cares of it

[2016-11-03 15:30] jtigger commented on #3220
Huh... I'm not clear as to why this is a good idea.  If a user has not yet submitted a solution, there's nothing to see.  In fact, they are more likely lost than anything else.  Providing an action that takes them away from what should be their next step (i.e. submitting their first solution) seems to create more confusion.

What if, instead, there is a persistent flash/notice that says, "The next

[2016-11-03 15:32] jtigger commented on #3220
To the spirit of this issue, we could have a call to action on the Solution page, when the user is viewing their own solution, to visit the Activity Stream.

[2016-11-03 16:06] jtigger commented on #3153
Hmmm.... looks like that PR encourages this path (in fact, for most makes it possible).  When we zoom out and walk the path that the new user will go through, is this a direction we'd like them to go?

Or would we rather they find their way back to submitting?

I've suggested an alternative in #3220 as part of [this comment](https://github.com/exercism/exercism.io/issues/3220#issuecomment-25817699

[2016-11-03 16:16] tejasbubane commented on #3199
Sorry for the delay.

The issue was that `sourcemaps` were not being  auto-generated after #2949.
#3230 should fix that and hopefully Google Analytics should work as well since I don't see any errors now.

[2016-11-03 22:20] kytrinyx commented on #2589
My estimate was a few days, but it's already been over a month. And the next month is looking like it will be equally hectic :(

@olivierlacan you said you got something like this working with an auto-renewable certificate. What was that about?

[2016-11-03 23:50] mhelmetag commented on #2589
I know I don't like buildpacks but... setting up caddy could be a good idea?

Basically it's a go sever that automatically fetches and configures your handled routes for https with let's encrypt certs.

I can look into getting a demo going tonight.

https://elements.heroku.com/buildpacks/fishman/buildpack-caddy

[2016-11-04 12:22] jtigger commented on #3100
Might be related to #3227.

[2016-11-04 14:15] MohanL commented on #3153
@jtigger, no worries. I am open to all kinds of feedbacks 😀

[2016-11-04 15:33] tejasbubane commented on #3120
[code]

@GustavoCaso @mhelmetag Possibly related to https://github.com/jshint/jshint/issues/2922
I am unable to reproduce the error on my machine. Can you run `lineman build -v` and check if that matches the above issue?

[2016-11-04 16:16] NobbZ opened #3231 "Installation instructions for windows"
In gitters exercism/support it came up very often that there were trouble installing choco and the cli.

Very often it was solved by the following steps:

1. Make sure the user is running a priviliged powershell
2. Make sure the user installs choco as explained at https://chocolatey.org/install (and pointing them at the [Get-ExecutionPolicy](https://go.microsoft.com/fwlink/?LinkID=135170) thing)
3

[2016-11-04 16:21] kotp commented on #3231
@jtigger is meaning to create the requisite issue(s) related to this.

[2016-11-04 18:49] jtigger commented on #3231
This is great.  Thanks for logging this, gentlemen!

[2016-11-04 18:52] jtigger commented on #3231
Note: there's prior art for installing Chocolatey here: http://exercism.io/languages/java/installing#windows

[2016-11-05 03:31] kytrinyx commented on #3199
I've deployed @tejasbubane's fix. I inspected the page and didn't see any errors, so this seems promising.

:heart: :sparkles:

[2016-11-05 03:31] #3199 closed

[2016-11-05 17:13] #3228 closed

[2016-11-05 17:18] kytrinyx commented on #3220
We kind of have this.

<img width="439" alt="go-to-activity-stream" src="https://cloud.githubusercontent.com/assets/276834/20032105/22402c88-a349-11e6-9d91-d26b8e14db7c.png">

So the thing that I want to avoid is if someone gets a link to the activity stream but they haven't done anything, they end up on a page that gives them an error or just has nothing on it.

I think the thing we need is:

* W

[2016-11-05 17:20] kytrinyx commented on #3153
Yeah, I don't want to encourage this path, I just want to make sure that if you land on it, you're helped back to where you need to be.

[2016-11-05 23:01] mhelmetag commented on #3120
@tejasbubane , this is where lineman errors out for me with `lineman build -v`:
[code]

[2016-11-06 19:59] MohanL commented on #3153
@kytrinyx  @jtigger
I am really confused about the content of this redirect page.

[2016-11-07 06:30] tejasbubane commented on #3199
I see requests for `sourcemap` files only after opening the console. I guess chrome attempts to load sourcemaps, but not until someone opens up the console. So I suspect that might not be the issue.
@kytrinyx Can you verify if `Google Analytics` is working?

[2016-11-07 06:40] tejasbubane commented on #3120
@mhelmetag So your error seems to match the one in this [issue](https://github.com/jshint/jshint/issues/2922) and is [fixed in grunt-jshint](https://github.com/gruntjs/grunt-contrib-jshint/commit/a0cd3db0638ad860e562e7e12bfff734aa04ac9f). Upgrading to newer version should fix this.

`grunt-contrib-jshint` is lineman's dependency. I am not seeing the issue with latest `lineman-0.36.6` which uses [g

[2016-11-07 07:06] mhelmetag commented on #3120
Seems like just installing `grunt-contrib-jshint` fixed this. Looks like it wasn't installed for me. Not sure why but I assume this is the issue...

[2016-11-07 07:35] tejasbubane commented on #3120
Maybe an older version was installed which got upgraded.

[2016-11-07 10:00] iHiD commented on #3199
That seems to be working now. It's tracking me now as I move around from page to page. Nice work! Thanks :)

[2016-11-07 16:43] jessfrisch commented on #3227
Somehow I managed to log into the old account, so perhaps I didn't manage to merge them on Github as I thought.  This is probably still a relevant issue to exercism, as I see other people have struggled with it, but since I don't have an immediate problem anymore I'm going to close the issue.

[2016-11-07 16:43] #3227 closed

[2016-11-07 17:02] jtigger commented on #3227
Glad you found a way out, @jessfrisch.  We'll pursue this through the linked issue.

Thanks for sharing.  AFAIK, we don't have much data on people wanting to merge Exercism accounts; it is helpful to have such examples captured.

[2016-11-07 20:56] GustavoCaso commented on #3120
@tejasbubane I confirm the same running `lineman build -v --force` it works. So maybe adding documenting it in the `README`, I'll be happy to do it.

[2016-11-08 00:44] NikosEfthias opened #3239 "go path secret handshake does not work properly"
![](http://i.imgur.com/x9ZVfKz.png)
[code]

[2016-11-08 07:19] petertseng commented on #3239
the posted implementation returns `[""]` for `Handshake(32)` (slice of one element, the empty string), whereas the two acceptable answers are either `nil` or `[]` (slice of zero elements)

This can be made clear by changing `%v` to `%q` in the test code, then you will see this:

[code]

[2016-11-08 08:36] tejasbubane commented on #3120
`--force` is rather a workaround. If I am not wrong, `lineman` runs `grunt` in force mode which ignores warnings. It is [recommended not to be used in the docs here](http://gruntjs.com/using-the-cli#force-f). So I suggest we should not add this to the docs. If someone comes across the error, its there to see in the error log.

Also, @mhelmetag has confirmed that this is not an issue with the newer

[2016-11-08 15:05] jtigger commented on #3231
If anyone has the gumption and access to a Windows machine (if you're on *nix; think VirtualBox); this is a particularly painful and frequent source of problems on Gitter; we could really use your help.  I can only imagine the number of people who just quit before coming to Gitter.

[2016-11-08 15:15] jtigger commented on #3180
I absolutely agree, @kytrinyx: the best solution is a culture/mindset of mutual respect (and all the actions that stem from that).

That said, I see a number features that point to an evolution of bringing Exercism users together(!)... improving the discoverability of quality exchanges.  As we nudge people together, I think it's important that we also give them the tools to moderate their own expe

[2016-11-08 15:22] jtigger commented on #3180
To your point about focusing more on people and interactions over process and tools, I think we can do a better job of injecting "skillful" mindset hints into the experience.  Imagine a "tip" box that shows up as you click in the comment box with a MotD (one sentence) that encourages helpful interactions:

"Make your feedback more digestible: start by pointing out something you really liked about

[2016-11-08 21:38] kytrinyx commented on #3153
I'm thinking something that tells the user that this is an activity stream, and in order to start seeing activity, they first need to submit a solution to an exercise. Then it should link to the two "how it works" pages (if you're pretty new to programming, go to the one, if you're an experienced programmer go to the other).

[2016-11-08 22:00] kytrinyx opened #3240 "Deprecate the SETUP.md file in the language track repositories"
[configlet]: https://github.com/exercism/configlet
[trackler]: https://github.com/exercism/trackler
[blazon]: https://github.com/exercism/blazon
[exercism-repo]:  https://github.com/exercism/exercism.io

Right now each exercise README is compiled from:

* (in exercism/x-common) - `exercises/:slug/description.md` (the basic problem specification)
* (in exercism/x$TRACK_ID) - `SETUP.md` (a reminder

[2016-11-08 22:21] MohanL commented on #3153
That sounds really cool.
if I want to work on this path, do you think it would be better have a link lead them to a popular exercise/sample exercise to get started ?
@kytrinyx @jtigger

[2016-11-08 22:33] kotp commented on #3153
I think it needs to be the instructions on how to get started... this is the pages that I think @kytrinyx is indicating.

[2016-11-10 10:02] ErikSchierboom commented on #3008
This would be a great feature. It would prevent exercises that are essentially the same, except for the whitespace from being duplicated when submitted, right?

[2016-11-10 21:15] concernedsyndicate opened #3241 "Grains test for Haskell strange behaviour"
After C:\Users\LENOVO\Desktop\funcional-programming\Haskel-exercises\exercism\haskell\grains>stack test
I got:

grains-0.0.0: build (lib + test)
Preprocessing library grains-0.0.0...
Preprocessing test suite 'test' for grains-0.0.0...
[1 of 1] Compiling Main             ( test\Tests.hs, .stack-work\dist\b7fec021\build\test\test-tmp\Main.o )

C:\Users\LENOVO\Desktop\funcional-programming\Haskel-exe

[2016-11-11 00:15] liarokapisv opened #3242 "Lost account progress by changing github account name"
After I changing my github username (or merged accounts, I am not 100% sure) a few months ago (from Demon-In-A-Jar), I lost all of my progress. I found a few relevant issues and so I am not sure if this has been fixed. Is there some way to retrieve the lost progress?

[2016-11-11 04:10] rbasso commented on #3241
Hi, @concernedsyndicate!

Thanks for opening this issue!

I'm one of the maintainers of the Haskell track and I found this issue accidentally.

The proper place for discussions about Haskell exercises is https://github.com/exercism/xhaskell , so I took the liberty of opening an issue there: https://github.com/exercism/xhaskell/issues/430.

You can close this one, @kytrinyx. :+1: