[2021-12-14 03:48] murtazamalek opened #6157 "The bio shows read more link when there is no content to show"
I just created my profile on the website and set up my public profile. There is a link in the bio section which if there is no extra content to show, serves no purpose. It's minor but still can be fixed :)

Here is a quick video for reference: https://d.pr/v/anf6l4

[2021-12-14 11:10] iHiD commented on #6157
Thanks. Ideas on how to fix it?

[2021-12-14 11:17] murtazamalek commented on #6157
The most straightforward approach would be to check for the character length. It looks like the area allows 170 characters, so a simple check can be added in JS to match the length of the characters. If the characters are less than 170, hide the Read More link.

[2021-12-14 11:25] iHiD commented on #6157
How does that work on responsive screens where the number of characters that can fit on a line change?

[2021-12-14 11:54] angelikatyborska commented on #6157
@iHiD Just FYI it's a duplicate of a v3-beta issue that we didn't migrate here for some reason https://github.com/exercism/v3-beta/issues/15 and

[2021-12-14 12:00] angelikatyborska commented on #6157
It doesn't. AFAIK if you want to cut content in a way that it gets revealed on a button press but don't have the button when it's not necessary, you cannot do that with CSS. You have to actually cut the content server-side or client-side with JS.

[2021-12-14 12:02] iHiD commented on #6157
Yeah - that's why I've not done it so far :) It's really not trivial.

[2021-12-14 12:07] murtazamalek commented on #6157
It's not trivial but still a user experience issue :) Please check the attached file. We can control the visibility of the characters via CSS width/height and a simple JS function to check for breakpoints and then show the button if needed.

To view the sample, rename Demo.txt and Demo.html. There are no dependencies, it's a simple JS function to be used as-is.

[Demo.txt](https://github.com/exerc

[2021-12-14 12:11] angelikatyborska commented on #6157
Well, maybe it's not that bad to do. I implemented something similar at work not so long ago. It works like this:

1. Server-side, all content is render.
2. Client-side, a desired max-height is defined.
3. On page load, we check if the element's height (`el.getBoundingClientRect().height`) is more than the desired max height. If no, we just let it be. If yes, we add appropriate CSS to hide the exc

[2021-12-14 12:21] iHiD commented on #6157
OK. If either of you want to PR it, then feel free :)

The relevant React component is here; https://github.com/exercism/website/blob/main/app/javascript/components/common/Expander.tsx

You'll need to add a css file to the app/css/components. Current CSS (which might be able to be DRYd up) is in:
- https://github.com/exercism/website/blob/main/app/css/components/profile-header.css#L69-L81
- https:

[2021-12-14 12:24] partemios opened #6158 "How do I disable learning mode?"
It's strange to me that it's not obvious how to disable Learning Mode.
Is Exercism supposed to be only for pure beginners? 
I'm an intermediate Python dev and I don't want to do the basic exercises.

[2021-12-14 12:48] #6158 closed

[2021-12-14 15:58] iHiD opened #6159 "Add social icons for docs."

[2021-12-14 17:29] alkhatib-shopify commented on #6155
I don't remember ever reviewing this exercise.
I also found a few more exercises that appear in my `finished` queue that I was not involved with at all.

https://exercism.org/mentoring/discussions/76ba337e-08c7-11ec-81c5-853579c25f94
https://exercism.org/mentoring/discussions/763e8d28-08c7-11ec-81c5-853579c25f94
https://exercism.org/mentoring/discussions/765f43c4-08c7-11ec-81c5-853579c25f94

[2021-12-15 11:46] iHiD commented on #6155
@alkhatib-shopify You say you weren't involved at all, but there are posts in those discussions that we think were written by you? For example on June 1st:

Did you not write that?

[2021-12-16 01:10] tvalesky opened #6160 ""Unable to complete exercise" when clicking "Mark as complete" on a passed project."
I have completed a few projects today. For the last 2 projects, after the project passed all test cases, I clicked the "Mark as complete" button and received a message in the dialog saying "Unable to complete exercise".  The projects both remain in 'In-progress' status.

[2021-12-16 03:27] SleeplessByte commented on #6160
Is your Exercism username also @tvalesky ?

[2021-12-16 03:41] tvalesky commented on #6160
Yes

[2021-12-16 12:03] glhrmv commented on #5661
@SleeplessByte's solution worked for me. Repeating my exact process here:

1. Sign out of Exercism.
2. On sign-in page, claim "forgot password".
3. Input the e-mail you see on your Exercism account settings page (likely your GitHub primary e-mail).
4. You will receive an e-mail in that address inbox to define a new password.
5. Sign in to Exercism again, via GitHub.
6. Change to whatever new e-mai

[2021-12-16 14:02] alkhatib-shopify commented on #6155
Which discussion in particular is that comment from?

e.g for https://exercism.org/mentoring/discussions/765f43c4-08c7-11ec-81c5-853579c25f94
This is the discussion that I see:
![discussion](https://screenshot.click/21-12-j9s3m-ebu5t.png)

I don't see any comments from me.

[2021-12-16 18:52] tvalesky commented on #6160
Out of curiosity, I switched from the Python track to the Java track, completed exercise 1, got it to pass the tests, and tried "Mark as Complete." I still get "Unable to complete the exercise."

[2021-12-16 22:37] brenton-crowley opened #6161 "[Swift] Unable to Run Xcode Tests"
Hi Exercism Team,

Since installing Xcode 13.2 I've been running into some issues with running tests locally in Xcode on the Swift track. I can run the tests using the CLI.

I made a post on gitter but didn't receive a response.

When I load up the Package.swift file, I am met with this error. See below my machine details that I'm trying to run on.

macOS 12.0.1
MacBook Pro (14-inch, 2021)

Note,

[2021-12-16 22:48] iHiD commented on #6161
cc @exercism/swift

[2021-12-16 22:51] iHiD commented on #6160
So weirdly there's no logged errors for this for you (or for completing solutions in general). Any chance you could record a screen capture (Loom is good for this) so I can see exactly what's happening and try and spot some clues?

Also, can you please check you don't have any browser extensions that could be interfering with this somehow?

Thanks.

[2021-12-16 23:03] iHiD commented on #6155
@alkhatib-shopify The quote is from: https://exercism.org/mentoring/discussions/76ba337e-08c7-11ec-81c5-853579c25f94 - You don't see any comments from you on that?

763e8d28-08c7-11ec-81c5-853579c25f94 is weird though. I think that you probably started mentoring that solution but never posted a comment, which in v2 meant that you still got a row saved in the db. These were supposed to be removed d

[2021-12-16 23:25] tvalesky commented on #6160
Can't do a screen capture. But there's nothing notable on the screen,
except the error message.

Before I started having the issue, I successfully completed 29 exercises in
the Python track. I didn't make any config changes between the successful
submissions and the failed ones.

I tried it from a machine outside the VPN i was on, and it worked. I tried
it again on a machine within the VPN, and it

[2021-12-17 11:58] iHiD commented on #6160
@tvalesky OK, thanks for checking the VPN. Sounds like it's doing something to mess with the authentication then. I'm going to close this as, as you say, I don't think there's much we can do here.

[2021-12-17 11:58] #6160 closed

[2021-12-17 13:46] PiDelport opened #6162 "Feature request: Ability to filter a profile's published solutions by difficult levely"
Currently, when viewing a profile's published solutions, you can only choose between ordering their solutions by newest or oldest first.

It would be great if we could also sort or filter by other criteria, such as difficulty level?

[2021-12-17 16:09] alkhatib-shopify commented on #6155
This is what I see for https://exercism.org/mentoring/discussions/76ba337e-08c7-11ec-81c5-853579c25f94:
![image](https://user-images.githubusercontent.com/68076293/146573887-43c9f849-bedc-4529-b42e-6075c4d8b579.png)

[2021-12-17 17:23] luilver commented on #6161
Hi Brent,

I confirm this is happening also with macOS 11.6.1. It is definitively an Xcode 13.2 issue.

Did you try [Apple Recommended Workaround](https://developer.apple.com/forums/thread/696504) for this?

I did and now I'm able to build. See attached below:

<img width="478" alt="Screen Shot 2021-12-17 at 11 20 45 AM" src="https://user-images.githubusercontent.com/681020/146583353-a4530b46-f02a

[2021-12-18 00:33] brenton-crowley commented on #6161
Hi @luilver ,

Thanks for your response and confirmation that it is an Xcode 13.2 issue.

I've since updated to Xcode 13.2.1 and this has resolved the issue.

With gratitude,
Brent

[2021-12-18 00:33] #6161 closed

[2021-12-19 00:21] jhcl opened #6163 "Phone Number exercise C track fails with all tests succeeding"
User jhcl, exercise [Phone Number](https://exercism.org/tracks/c/exercises/phone-number/iterations) fails with all test succeeding.
No errors or warnings when I run the tests on my laptop and the Exercism 'tests' output confirms that.
Still all iterations have status Failed.
I asked a mentor and he/she couldn't see a reason why it might fail.
Output from Exercism site:
[code]
I'm not quite sure wh

[2021-12-19 02:06] SleeplessByte commented on #6163
cc @exercism/c

[2021-12-19 15:42] patricksjackson commented on #6163
This affects a few different exercises, I describe the issue in https://github.com/exercism/c/issues/736

[2021-12-19 18:41] iHiD commented on #6163
Closing as duplicate as @patricksjackson has expounded on that other issue.

[2021-12-19 18:41] #6163 closed

[2021-12-20 10:25] partemios commented on #6158
Appreciate that comment

On Tue, Dec 14, 2021, 16:07 Jeremy Walker ***@***.***> wrote:

[2021-12-20 16:51] Wozolot opened #6164 "Cannot continue Python Learning Mode"
I have problem with my Learning Mode Python track. New exercises wont open. For example i have done every exercise to open Yacht exercise and it is still locked. Anyone cant help me. I know i can change to Practice Mode but Learning Mode is better for me. Thanks
Url to photos of my finished exercises:
https://drive.google.com/file/d/1XwX5IgWmk8IyVb9-eWUzSHKptTrKSysF/view

[2021-12-20 20:19] angelikatyborska commented on #6164
From your screenshot it looks like yacht should be unlocked. @exercism/python do you know what might be wrong?

[2021-12-20 21:56] Wozolot commented on #6164
Yes, but Yacht is only an example. More exercises should be unlocked but they arent.

[2021-12-20 23:43] BethanyG commented on #6164
I just checked the [config.json](https://github.com/exercism/python/blob/main/config.json)  for `yacht`.  According to the prerequisites, it should be unlocked...unless I am blind to a spelling error:

![image](https://user-images.githubusercontent.com/5923094/146845588-0abae0a8-55bc-4193-80e6-95aa880f2cfa.png)

@iHiD -- thoughts?  As far as I can tell, the `Yacht` prerequisites have been satisfie

[2021-12-21 07:59] Wozolot commented on #6164
@BethanyG  - Tisbury and Caiter finished also. Yacht is an example only becouse i have more locked exercices which should be opened etc. Palindrome Products , Spiral Matrix, Pig Latin. Please take a look at next photo. Maybe this is an issue. All exercises finieshed by me have a green information (in elipse). Only Chaitana's Colossal Coaster exercise dont have this green info. Maybe here is proble

[2021-12-21 20:22] Starblue0 opened #6165 "Create new track for [LANGUAGE]"
Are you able to add Solidity?

[2021-12-21 20:47] bobtfish commented on #5680
Also came here to open this issue :)

[2021-12-22 13:57] bmacho opened #6166 "Haskell stack needs 2.5gb of space"
Also it needs 5 gb of free space for installation.

I can't test my solutions without it. That's a bit extreme space requirement, just for checking if two values are equal.

Wouldn't it be possible and desirable to test only with ghc/ghci, without the need of the whole stack?

[2021-12-22 14:27] SleeplessByte commented on #6166
cc @exercism/haskell

[2021-12-22 15:15] bmacho commented on #6166
Okay, with some random things I was able to test the hello world example, with 80MB of the stack binary, and 40MB of .stack folder. I don't know exactly what caused it ( I random copied things from https://wiki.archlinux.org/title/Haskell#Configuring_Stack_for_dynamic_linking ) but maybe this will do:
- get the stack binary, and don't start it yet
- paste
[code]
into ~/.stack/config.yaml

check yo

[2021-12-22 15:31] angelikatyborska commented on #6165
This is a duplicate of https://github.com/exercism/exercism/issues/5417 and https://github.com/exercism/exercism/issues/5417

@ali2251 already requested this in 2020 (https://github.com/exercism/request-new-language-track/issues/80) and did some work: https://github.com/exercism/solidity

If you want to help out, check out that repository. Unfortunately it doesn't have any track-specific activity

[2021-12-22 15:31] #6165 closed

[2021-12-22 15:32] #5976 closed

[2021-12-22 15:41] angelikatyborska commented on #6164
I noticed that too. But it still says on the right side "You've completed the exercise". From this code https://github.com/exercism/website/blob/e1cdd5a660b4178db55cf5929e4933aba27e80fb/app/views/tracks/exercises/show.html.haml#L8-L12 I am assuming that the green banner should always show up for every completed exercise, so it is possible there is a weird bug somewhere.

@iHiD Could you check for

[2021-12-22 19:28] petertseng commented on #6166
I usually run `runghc -Wall -isrc test/Tests.hs` since I don't have Stack installed. But I had not put that command in the documentation because... actually, I don't remember why. If there were some guidance that said "Your language track should only endorse one way of doing things because presenting more choices would just be more confusing" then I guess that would preclude adding it, but I don't

[2021-12-22 22:33] bmacho commented on #6166
On my Ubuntu system, ```sudo apt intsall libghc-hspec-dev``` provides the needing dependencies,  and ```runghc -Wall -isrc test/Tests.hs``` works. (With GHC also from the repository.)
At least on the hello world example, I am not sure how far can one go with this  space-optimized approach.

[2021-12-23 14:48] AchalS-iglu opened #6167 "Why is my gradle skipping all but one tests?"
I am doing the log-levels exercise locally in IntelliJ IDEA and gradle doesn't properly run the tests

[code]

[2021-12-23 15:15] igotfr opened #6168 "[Community] area dedicated to exclusive solutions"
### Description
exercism is, first of all, for learning, then the community solutions must remain as it is. But would be very useful an area to exclusive solutions where an already published solution would be rejected

### Motivation
community solutions' area contain many same solutions from different users

### How would it work
1. the user (student) submit a solution for publication
2. a mentor

[2021-12-23 15:28] kotp commented on #6168
How would this work for exercises such as TwoFer or Hello World that have relatively few variations that are either considered idiomatic or otherwise "accepted"?

I think that there should be no "discipline" for coming up with a solution that someone from a sample of thousands of students have already come up with.

We might have feedback that states that this is a common solution, however, that c

[2021-12-23 15:38] SleeplessByte commented on #6167
cc @exercism/java

@AchalS-iglu for years we had the test-driven development practice on Exercise. This is still present in _practice_ exercises. In order to get to a "red-green-red-green" flow (a failing test, fix the code so the test passes, then have a new failing test, etc.), we skip all the tests except the firsts. It's up to you to make that pass, then unskip the next test.

However, for _le

[2021-12-23 15:38] kotp commented on #6167
You might ask when you request a mentor for that exercise as well, they
are likely to have good experience and will see your code submitted,
etc.

[2021-12-23 15:39] SleeplessByte commented on #6168
Once representations are done, we can implement this by "groups of solutions" all solved by "this list of people".

There would not need to be manual checking in this case.

[2021-12-23 15:41] SleeplessByte commented on #6151
What's your Exercism username?

[2021-12-23 15:46] AchalS-iglu commented on #6167
Oof, I understand what you're saying, all the tests but the first one are tagged as `@Ignore("Remove to run the test")`. There is no way I am removing that for 54 tests and do that again in the next exercise. I wanted to learn locally so that I can also get some extra experience, I will just use online editor for now I believe. Thanks

[2021-12-23 15:51] kotp commented on #6167
On 21/12/23 07:46AM, Achal Singhal wrote:

This is a repetitive thing, and computers are good at alleviating the
pain of repetitive things.  Set up a macro or a replacement, and you
only have to do those 54 things once, and only once per exercise.

[2021-12-23 16:01] AchalS-iglu commented on #6167
I legit just did that, forked and cloned the repo and removed all the lines with @ignore using simply find & replace in vscode, took about a minute to do for all 15 exercises. My first proper pull request :)

[2021-12-23 16:03] AchalS-iglu commented on #6167
I legit just did that, forked and cloned the repo and removed all the lines with @ignore using simply find & replace in vscode, took about a minute to do for all 15 exercises. My first proper pull request :)

[2021-12-23 17:05] cindRoberta commented on #6168
simple, just the first submit will be accepted

[2021-12-23 17:33] cindRoberta commented on #6168
I don't see the need to implement filters, the user can implement an unique solution and to choose submit to geral community solutions and/or exclusive community solutions

[2021-12-23 17:57] kotp commented on #6167
On 21/12/23 08:01AM, Achal Singhal wrote:

Very nice.  `sed` might have been quicker, but definitely better than
having to do so manually.

I have not yet seen the pull request, and it will likely not be approved
(unless it is for concept exercises rather than for practice exercises)
but it is definitely good to know how to do a pull request.

What might a nice tool may be a good plugin for Exerci

[2021-12-23 18:22] kotp commented on #6168
On 21/12/23 09:06AM, cindRoberta wrote:

So the student simply would be rejected from having their solution
published, this is where the "rejected" idea would apply?

[2021-12-23 18:23] AchalS-iglu commented on #6167
I am not familiar with sed, maybe I'd give it a visit one day. Also it is indeed only for concept exercises, hopefully it does get approved :P
That extension idea does sound good!

[2021-12-23 18:26] kotp commented on #6168
On 21/12/23 09:33AM, cindRoberta wrote:

How would the student know that it is unique if there is no filter to
find out?  I think I am not understanding, or am worried about students
being able to learn without being told "Wrong, do it again, and this
time make it unique" when they do not have access to all the possible
solutions to know what has already been done.

And _unique_ is probably not a

[2021-12-23 18:43] cindRoberta commented on #6168
published, this is where the "rejected" idea would apply?
exactly

find out?
just look at the previous exclusive community solutions and see if his solution was there, if it was and the user (student) submmited, it'll be rejected, in case of doubt, don't mark the option publish to exclusive community solutions, which will be disabled by default

[2021-12-23 18:54] cindRoberta commented on #6168
@kotp the general community solutions will remain exactly as it is, the user (student) doesn't need create another solution, just mark to publish to exclusive community solutions or not

[2021-12-23 19:00] kotp commented on #6168
I see, so the rejection comes from having "yet another identical solution"
published rather than a new unique solution.

I think I understand now.

[2021-12-23 19:28] SleeplessByte commented on #6167
Yes, it is planned, so it will come :)

[2021-12-23 19:29] SleeplessByte commented on #6168
I don't like all the rejection terminology, but I do understand what @cindRoberta wants to achieve: to be able to click on all the solutions on the page, and them actually _not_ being completely identical.

This is something we've already planned to do, so it's a good suggestion :)

[2021-12-23 20:40] kotp commented on #6168
On 21/12/23 11:30AM, Derk-Jan Karrenbeld wrote:

I think it is partially "English as a Not First Language" and not
initially understanding as well.  I think it is a good suggestion as
well, now that I understand it.

I think I had problems understanding that _exclusive_ and _unique_ might
have been intended to mean the same thing.  Writing is hard, so I am
glad we got it sorted out.

[2021-12-23 21:19] SleeplessByte commented on #6168
Haha yes! Absolutely in agreement with you @kotp :). No judgement from my post other than at face value the feeling with that terminology.

Excited for this tho!

[2021-12-23 21:24] kotp commented on #6168
Me too.  It would be good to be able to finally look at submissions
expecting to see something new or interesting.

[2021-12-24 10:15] #6167 closed

[2021-12-25 18:21] geri1701 opened #6169 "All tests passed in CLI, but failed in automated tooling"
When submitting the resistor color exercise, I get this error message:
![2021-12-25_19-20](https://user-images.githubusercontent.com/67984144/147391236-61646908-0083-4465-a1ce-e343e24466b2.png)

[2021-12-26 00:38] SleeplessByte commented on #6169
cc @exercism/rust

[2021-12-26 13:48] mohmad-null commented on #6164
Not only that, it has 19(!) iterations. This isn't a commentary on Wozolot's ability, but that's definitely far more than I'd expect and indicates something may be amiss there. (All the others are 1/2).

[2021-12-26 14:00] mohmad-null opened #6170 "[Suggestion] Tags for exercises to allow easier discovery of suitable exercises."
It would be nice if I as a user could easily find exercises that covered certain subjects. I figure a feature for exercise "tags" would allow this. For example if I want to practice my optimisation skills I could search for exercises that use that tag.

Use of the tags would be per-project discretion but I'd suggest using them to highlight exercises that have a particular emphasis on certain conce

[2021-12-26 14:12] SleeplessByte commented on #6170
This sorta already exists, if a track has gone through the motions of adding `practices` to the track `config.json`.

1. Find a concept you want to learn more about (for example, use the _syllabus_ tab).
2. On the right hand side you'll see "exercises that practice this concept"
3. Rejoice

[2021-12-26 14:16] mohmad-null commented on #6170
Apologies but I can't see the "practices" thing on the Python track so can't comment (I guess it's not used?). Can you provide a screenshot of a project that is using it?

[2021-12-26 14:48] Wingless-Archangel commented on #6151
https://exercism.org/profiles/nataoh

On Thu, Dec 23, 2021 at 4:42 PM Derk-Jan Karrenbeld <
***@***.***> wrote:

[2021-12-26 16:52] angelikatyborska commented on #6170
The Python track uses "practices".

@mohmad-null When you go to https://exercism.org/tracks/python/concepts, there are dots below a concept's name. All dots that don't have a lightbulb represent practice exercises for this concept. When you go to a concept's page, e.g. https://exercism.org/tracks/python/concepts/basics, you see those on the bottom right. I'm attaching screenshots of both.

![Scree

[2021-12-26 17:13] mohmad-null commented on #6170
Thanks for that. Yes, that's what I was referring to.

What's different here:

### Conceptual tags
These are actually the ones I'm more interested in and think they'd help people find problems they're interested in.
For example, I'm mentoring a friend and being able to easily guide them to tasks that have the desired concepts is currently an arduous process.

### Language tags
The current interfac

[2021-12-26 22:13] angelikatyborska commented on #6157
I'm not going to work on this after all. I cannot get https://github.com/exercism/development-environment to work and I don't really feel like spending hours on fighting with Docker 😞

[2021-12-27 03:22] SleeplessByte commented on #6151
@ErikSchierboom or @iHiD will reach out when they're back and investigate the error. Hold on tight!

[2021-12-27 14:04] mohmad-null opened #6171 "[Suggestion] Ability to hide exercises"
There are a number of exercises that, for whatever reason, I am unable or unwilling to do. It would be nice if I could hide these.

I'd like to suggest the ability to hide exercises from appearing on the various tabs on the exercise page. They could be listed under a new "hidden" tab (that only appears if any are hidden).

This way they won't clutter things up. This is especially important when th

[2021-12-28 08:02] pwadsworth opened #6172 "Creation of concepts does not add "Rep" points"
Noticed the creation of new Concepts for track learning modes does not add Reputation points under any category. I think providing Rep commensurate with exercise creation would recognize the work it takes to create a concept and  promote faster creation of the material for learning modes in the different tracks.

[2021-12-28 12:19] supersagar1999 opened #6173 "hello world test error in exercism"
![image](https://user-images.githubusercontent.com/96127160/147565638-a2b8c7c1-1457-484c-acef-7e6d0fba7ce4.png)

i cannot figure out what is the error..can someone help me?

[2021-12-28 14:13] Marlene163 opened #6174 "Not able to change default workspace directory"
I changed Operating system from Linux to Windows (Linux is still on this computer) and tried to download exercism again (for Windows). Everything works, but I can't find the workspace directory.

<img width="580" alt="image" src="https://user-images.githubusercontent.com/65309789/147574657-40adc6c3-8403-4c90-9dc1-6f10d2aedf99.png">

I think that exercism puts the workspace Exercism-Folder in my us

[2021-12-28 16:25] pwadsworth commented on #6173
Try removing the function call hello(). The tests will do that.

[2021-12-28 16:31] pwadsworth commented on #6170
I second the motion. It would also help with concept exercise development by making it easier to see what's already there on a topic.

[2021-12-28 17:47] Wozolot commented on #6164
@mohmad-null It has so many iterations becouse i want to complete all suggestions with "CODE SMELL" programing, I finished this with normal number of iterations, but try to find bug with blocked learning mode.

[2021-12-28 19:05] BethanyG commented on #6170
Having tagged every exercise on the Python track while working on the current iteration of the site, I remain .... skeptical.

What an open-ended problem "practices" remains (mostly) an opinion/guess from my perspective - unless it is written to point a student in a defined direction.  Most of our practice problems go to great lengths to _avoid_  that.  Even the problems linked off the Python syll

[2021-12-28 21:31] glennj commented on #6173
Read the instructions again carefully. The objective is not to **print** the string, the goal is to **return** it.

[2021-12-28 22:35] BethanyG commented on #6173
To explain a little more about the test output:

[code]

Means that the test runner is _calling_ your `hello()` function.  It is running the code `hello()`.  It _expects_ to get a string == "Hello, World!" handed back.

However, since you used `print()` in your function - (_`print()` writes to standard_out -- "the terminal" -- instead of handing over to a requestor_), what the test runner got back

[2021-12-29 00:51] SaschaMann opened #6175 "Consider adding "X people have solved this exercise already!" or similar to announcements of new exercises"
This could be a nice motivation for people to add new exercises but also for them to solve it because they can see they already have other solutions to compare etc

[2021-12-29 01:49] BethanyG commented on #6175
Conversely, it could also read "This is new!  Be the first to solve it!".  😄   ...or even a badge -- `First Solver`??

[2021-12-29 06:35] supersagar1999 commented on #6173
thank you everyone! issue solved :)

[2021-12-29 06:36] #6173 closed

[2021-12-29 10:08] SaschaMann commented on #6175
That should probably have a check to prevent the author from getting that :D I sometimes upload the examplar solution if I came up with it myself.

[2021-12-29 15:19] SleeplessByte commented on #6175
Agreed. I solve the exercise myself first, almost always.

[2021-12-30 10:07] osamasalam256 opened #6176 "error in submit solution"
I can't submit the result files to the site with this command
exercism submit <paths>

[2021-12-30 10:23] osamasalam256 commented on #6176
thank you
I success to submit by just putiing the path of file of main code without the whole folder like the following command:
exercism submit D:\Users\osama\Exercism\kotlin\hello-world\src\main\kotlin\HelloWorld.kt

[2021-12-30 10:23] #6176 closed

[2021-12-31 04:50] noocsharp opened #6177 "[Bug] Huge JPEG image embedded inside an SVG on the landing page"
The exercism landing page weighs 7.7MB. The largest file served is [this](https://d24y9kuxp2d7l2.cloudfront.net/packs/media/images/graphics/landing-page-exercise-8a95dc9aabafebaccf79d2bbed0213c8.svg), which is 1.8MB.

This file is jpeg data embedded inside an svg as base64. I decoded it, and found that it is a 2.1MB 1871x4096 image. This indicates to me that this is a mistake, because only the top

[2021-12-31 05:33] kotp commented on #6177
I do not see that same image as linked on my page, nothing mentioning SleeplessByte, for example.  I am not sure that link links to the intended graphic.

[2021-12-31 05:34] kotp commented on #6177
Oh, unless you mean the not-logged in landing page.

[2021-12-31 05:43] noocsharp commented on #6177
Yes, the not-logged in landing page.

[2021-12-31 06:20] kotp commented on #6177
@iHiD or @ErikSchierboom will likely move it to the correct place, reporting it here is correct.

[2021-12-31 08:55] #6169 closed

[2022-01-01 09:16] andrerfcsantos opened #6178 "Inconsistent UI for anonymous user"
I noticed a weird case whule using the mentoring UI recently. There was a mentoring request from a user, which looked like a normal request - I could see their username and avatar.

However, when opening the solution and using the download command, the CLI put the solution in a folder from an anonymous user. I decided then to check one of my previous mentoring sessions with a student and found som

[2022-01-01 15:26] norestraint opened #6179 "[bug] Member badge reveal showing more than 100%"
<img width="739" alt="Screenshot 2022-01-01 at 12 10 59" src="https://user-images.githubusercontent.com/87676812/147853945-accbc49c-5b5b-494e-b2eb-ca8621245988.png">

[2022-01-02 10:35] arnthorsnaer opened #6180 "Why does Exercism test for state mutation?"
In JS track Bird Watcher exercise Test 9 is testing for object equality. The only way for me to pass the test is to mutate the array. My initial solution where I returned a new array with the modified value triggers this test failure. It means that my map solution was not accepted. Is this intended behaviour?

[code]

[code]

[2022-01-02 13:03] angelikatyborska commented on #6180
Yes, this is on purpose. The instructions (https://github.com/exercism/javascript/blob/main/exercises/concept/bird-watcher/.docs/instructions.md#3-fix-a-counting-mistake) say:

And the test description (https://github.com/exercism/javascript/blob/main/exercises/concept/bird-watcher/bird-watcher.spec.js#L56) also states that that is exactly the purpose of the test:

As for the reasoning behind this

[2022-01-02 14:49] junedev commented on #6180
Can someone move this ticket into exercism/javascript please?

@arnthorsnaer As @angelikatyborska already mentioned, in this learning exercise you are supposed to use for loops for all 3 tasks. The test indeed exists to discourage the use of `map`. Please keep in mind that learning exercises exist to practice or demonstrate your knowledge of one specific concept, in this case `for-loops`. This is

[2022-01-02 17:26] arnthorsnaer commented on #6180
While I respect the goal of the exercise (using `for` loops) and also the intention of the test 9 to motivate the use of for loops, I think there are some unwanted effects. For example someone *can* use a `for` loop to solve this without mutating state. However I can't think of any alternatives to this so perhaps it's an acceptable constraint.

Thank you @junedev and @angelikatyborska for your qui

[2022-01-02 17:26] #6180 closed

[2022-01-03 13:13] N4SIRODDIN3 commented on #5953
Has Exercism implemented this option yet?

[2022-01-03 13:17] taiyab commented on #6051
@szabgab Yep, makes sense. It's something we intended to do, but just didn't get round to it.

I'll put something together.

[2022-01-03 13:28] taiyab commented on #6051
@iHiD Two things.

1. Punchcard tooltip can have a line underneath on locked exercises stating what needs to be done:
![image](https://user-images.githubusercontent.com/5337876/147935761-468be43d-ee2b-4be7-8afd-f66855cc2949.png)

2. We do a tooltip on the Exercises tab for locked exercises with this:
![Uploading image.png…]()

We should also consider giving people access to the locked exercise pag

[2022-01-03 14:21] taiyab opened #6181 ""New on Exercism" usernames need linking"
![image](https://user-images.githubusercontent.com/5337876/147941469-9b6f6f47-f1b3-4c79-8d3c-386da0a1669b.png)

The usernames here need to be linked to their profiles.

**Why?**
Helps contributors build notoriety.

[2022-01-03 14:24] taiyab commented on #6181
Nevermind, this is a duplicate of https://github.com/exercism/exercism/issues/5906

[2022-01-03 14:24] #6181 closed

[2022-01-03 15:05] taiyab commented on #5693
@angelikatyborska @iHiD

After reading the thread, I'm thinking the Guidance tab should look something like this:
![image](https://user-images.githubusercontent.com/5337876/147946268-fbce7b80-a707-4fa2-9f42-3b0d04f3298d.png)

(Tab names subject to change, ignore the missing icons)

1st tab shows all the the concepts the exercise teaches, 2nd one has an outline of the student's current progress on

[2022-01-03 21:14] rikkus opened #6182 "Bug: Unable to view exercise iterations other than the first submitted"
After submitting an exercise, I'm taken to the page which should show iterations and allow review, but only the first iteration is shown.
The URL has parameter idx=3 and I've just submitted iteration 3, so it seems like this should be visible, but there's only one on the page and no way (that I can see) to choose another.

If I go back to 'Overview' for the exercise, I can see that I have an itera

[2022-01-04 04:48] jwaddle opened #6183 "Rust track exercise "xorcism" cannot run tests"
This is due to crates included by default for Xorcism's tests, not due to the user including external crates.

even when submitting old, previously working community solutions to the "Xorcism" problem, Exercism gives the following error:

`We received the following error when we ran your code:
WARNING: student did not upload Cargo.lock. This may cause build errors.
error: failed to select a versio

[2022-01-04 09:44] ErikSchierboom commented on #6177
I can confirm that the image displayed on the not-logged in landing page is very big (2.9MB according to Chrome DevTools on my machine). We'll take a look.

p.s. I think it's fine having this issue here (unless @iHiD disagrees)

[2022-01-04 11:56] iHiD commented on #6177
@noocsharp Thanks for this! :)

[2022-01-04 12:10] iHiD commented on #6177
Fixed by https://github.com/exercism/website/pull/2307

[2022-01-04 12:18] iHiD commented on #5621
Nice idea. Gonna rank as a low priority for me, but it's one for the long-term roadmap.

[2022-01-04 12:20] iHiD commented on #5626
Yes

It wasn't implemented (v3 is all new). I'd like to add it, but it didn't get done. So I'll keep this as a feature-request of medium priority.

[2022-01-04 12:21] iHiD commented on #5632
Thanks. Want to PR the one from exercism/website to here too?

[2022-01-04 12:21] iHiD commented on #5716
Is this fixed now?

[2022-01-04 12:22] iHiD commented on #5633
Is this still an issue?

[2022-01-04 12:22] iHiD commented on #5756
Is this still an issue?

[2022-01-04 12:28] iHiD opened #6184 "[Maintainers Section] Add "approved by not merged""
Add a list of all PRs that have maintainer-approval but have not yet been merged, with:
- Repo
- PR Title
- The date of last approve

[2022-01-04 13:02] SaschaMann commented on #5632
I think we're talking about different things. I meant a `security.txt` file on the website itself, according to that proposed standard linked in the message above, not a file in the repo.

[2022-01-04 21:14] MeerKatDev commented on #5043
I'd like to reopen this issue. I think timing the iterations would be a cool feature. Shouldn't take up much of the UI (the iteration bar has a lot of space in it) and it would be really useful for students and mentors alike. We would maybe keep a separated (relatively) cheap machine only for it, that runs the benchmarks asynchronously (that means, after submitting an iteration it would be added t

[2022-01-05 01:44] kotp commented on #5756
I just looked at what is there and it appears to be accurate now.

[2022-01-05 01:44] #5756 closed

[2022-01-05 08:20] mightyiam opened #6185 "Configure the CLI via environment variables"
Hey, is it possible to configure the CLI via environment variables, please?

[2022-01-05 08:56] tejasbubane commented on #6179
Looks like this is because of the hard-coded number of users: https://github.com/exercism/website/blob/9ac2ded06ed15e6dffe60bf7be4ad8a861584e9a/app/models/badge.rb#L61-L64

[2022-01-05 08:59] tejasbubane commented on #6174
@Marlene163 `exercism workspace` command should print out the workspace path where all your exercises will be downloaded.

[2022-01-05 10:35] Marlene163 commented on #6174
Yes, that's true, but I'm using the workspace flag which exercism recommended to use after I pasted the command. Anyway the program puts the workspace somewhere I cannot find it.

[2022-01-05 11:49] #6177 closed

[2022-01-05 11:52] iHiD commented on #5632
Ah cool. Hadn't heard of that. I'll probably wait until it's accepted as a standard (it's currently an early draft idea from what I can see), but it seems sensible. For context, I do get security reports from bounty hunters daily already.

[2022-01-05 11:55] iHiD commented on #6182
@kntsoriano This still seems to be an issue. Any ideas?

[2022-01-05 11:56] iHiD commented on #6178
@andrerfcsantos Yes pls to the video on Slack :)

[2022-01-05 12:00] iHiD commented on #6172
You should get rep for creating concepts. Where are you seeing that you haven't?

[2022-01-05 12:02] iHiD commented on #6179
Yeah, I'm not sure what the solution for this one is right now. `User.count` is slow enough that I don't want to use it in production. So it probably needs precaching somewhere.

[2022-01-05 13:14] SaschaMann commented on #5632
It's a draft but plenty of websites use it already.

[2022-01-05 13:49] ErikSchierboom commented on #5043
What do you mean exactly with benchmarking? Showing how long it takes for the test runner to run the tests for an iteration?

[2022-01-05 13:50] larshp opened #6186 "Website: add ABAP highlighting for Codemirror"
Hi,
For the upcoming ABAP track, can someone help adding syntax highlighting via

https://www.npmjs.com/package/codemirror-abap

to the website?

Currently, the experience is a bit dull without any colors,

![image](https://user-images.githubusercontent.com/5888506/148228147-6d9f3d75-c443-40ac-97b4-3f4d99f48ed0.png)

[2022-01-05 14:33] MeerKatDev commented on #5043
yes, exactly. Maybe also showing how long each test takes

[2022-01-05 14:36] glennj commented on #6185
What parts of the configuration do you want to control with env vars? What is your concern with using the CLI to configure the CLI?

[2022-01-05 17:28] SleeplessByte commented on #6179
If approximation is good enough, this is mega fast: https://dev.mysql.com/doc/refman/5.7/en/show-table-status.html

[2022-01-06 03:18] kotp commented on #6174
On 22/01/05 02:35AM, Marlene wrote:

Can you show the command as recommended, and the output of the `exercism
workspace` command?

I do not know that I have ever used the workspace flag, and if I have
seen the recommendation I might just be forgetting about it.  So this is
a good way to have a reminder, and show what I might do differently in
this situation, others might have an immediate recognit

[2022-01-06 05:14] kntsoriano commented on #6182
I'll look into this :)

[2022-01-06 07:12] ErikSchierboom commented on #5043
That could indeed be useful information. It would require all test runners to be updated though, so that's a lot more work.

[2022-01-06 10:01] MeerKatDev commented on #5043
Without updating the test runners, we could also get the timing at OS level, i.e. seeing how long it takes for a command to run from start to end. It may not be accurate, but it'd be a good baseline indicator I suppose. Test runners run on command line, so it'd be enough to wrap those commands, doesn't matter the language.

[2022-01-06 10:06] ErikSchierboom commented on #5043
I was referring to the "how long each test takes" :)

[2022-01-06 10:09] MeerKatDev commented on #5043
ooooo ok, yeah, that's definetely more work :)

[2022-01-06 22:02] muritz commented on #2276
Hey there all of you,
I am new to exercism and I really need some help.
I am stuck with the grains.py. All solutions I tried work fine on my Mac, but don't pass the exception raised tests online. However I cannot contact any mentor, nor can I submit the unfinished solution. After spending several hours, I think I could really use some help.

Is there anyone who can help? Or at least if someone cou

[2022-01-07 02:52] kotp commented on #2276
@muritz If you submit your solution using the command line tool `exercism submit grains.py` after having downloaded the exercise, you can request a mentor.  If you are trying to submit the exercise via the web editor, it will not allow a request (last I checked, and confirmed by what you are indicating here) to be mentored.

[2022-01-07 05:43] mightyiam commented on #6185
I am using Exercism CLI in two separate contexts. Both are study groups. We study Rust in a mob programming format. We find the Exercism Rust track helpful so far. You're [welcome to join or learn more about it](https://mobusoperandi.zulipchat.com/join/xhht66q5l47zijya3gujn4nb/), by the way.

The workspace feature therefore is not useful to me. I would rather have the CLI download an exercise to a

[2022-01-07 10:34] muritz commented on #2276
@kotp Thank you Victor, I have figured out everything and I'm still going with a mentor who is very helpful.
I'm not looking for shortcuts.
My solutions all worked except I didn't understand that the test routines are searching for exact spelling of an exception. 😂
My ambition is to get around solving on my own. Didn't spend a look into community solutions.

Stay as kind as you are .... greetings

[2022-01-07 12:56] martinfreedman commented on #6049
What is happening with this issue. I have seen no response. @iHiD  @ErikSchierboom ?

[2022-01-07 22:45] glennj commented on #6185
I don't think the CLI has been touched for over 2 years, so I don't know if there's anybody to look at this request. If you want to have a look: https://github.com/exercism/cli

[2022-01-07 22:50] joshgoebel commented on #6185
Has the `cli` been deprecated with a wink wink and a nod nod?

[2022-01-08 16:20] yet-another-alex opened #6187 "[Suggestion] Allow mentoring/community solutions even if unable to solve the exercise"
Hey there,
I thought it might be helpful in some cases to be able to receive mentoring or review community solutions, even if one is unable to solve the exercise.

I've run into this a few times now.
For example my code for "Palindrome Products" in the Python track runs fine locally but times out in the online editor. Without any mentoring I'll be unable to figure out what's wrong (I already submi

[2022-01-08 16:30] petertseng commented on #6166
By minimal, I do not mean that it uses as little space as possible, but that there are no extraneous steps that can be removed. By complete, I mean that no steps are missing. Following the steps is all that is needed to use system GHC.

From my understanding of the steps, they meet these requirements, so no further modification to those steps is needed.

I have opened https://github.com/exercism/h

[2022-01-09 04:36] gokul85 opened #6188 "Some pages are not mobile responsive"
Some pages of this website are not mobile responsive or mobile friendly so kindly fix that pages ex: dashboard,... etc.
![Screenshot_2022-01-09-10-01-40-908_com android chrome](https://user-images.githubusercontent.com/79007791/148669624-7449c5b1-6566-4473-b3d2-f16e8e620c87.jpg)

[2022-01-09 07:23] siebenschlaefer commented on #5891
It has happened again: https://exercism.org/mentoring/discussions/70d26650f7bc400b8213244f5e40b9af

This is what I see on the website and what I get when I click the clipboard symbol:
[code]

But when I download this solution with the exercism client (`exercism download --uuid=23ed8d96ba0845d1ac2cf6cd480d4917`) I get something different ([complex-numbers.zip](https://github.com/exercism/exercism/f

[2022-01-09 07:30] cindRoberta opened #6189 "[Community] gather unique solutions on same box"
### Description
gather unique solutions on same box in Community Solutions area for easy grouping and visualization

### Motivation
community solutions' area contain many same solutions from different users

### How would it work
when clicking on the Community Solutions tab, instead of directly appearing the solutions of several users, several grouping boxes appear, clicking on one of these boxes,

[2022-01-10 11:55] tsirysndr opened #6190 "Create new track for Zig"

[2022-01-10 12:33] #6190 closed

[2022-01-10 12:39] #6127 closed

[2022-01-10 17:55] mightyiam commented on #6185
In favor of what?

[2022-01-10 18:08] joshgoebel commented on #6185
In favor of the browser perhaps? :-)  Or perhaps we're just super happy with the status quo.

[2022-01-11 06:22] kotp commented on #6185
On 22/01/07 02:50PM, Josh Goebel wrote:

No, and I am not sure why it would be.  It is how students that are
truly stuck can get mentoring help on the platform.  It is pretty key to
having the students that may not have "good internet" actually be able
to work reasonably well with the site.

It is how the mentors that may not have "good internet", while a little
more difficult, can potentially do

[2022-01-11 06:27] kotp commented on #6185
Also, I might have dreamt it, but isn't the CLI being developed and
ported (perhaps with improvements as well) in Nim?

[2022-01-11 10:00] ErikSchierboom commented on #6049
It hasn't been high on our priority list, sorry.

[2022-01-11 12:34] bmacho commented on #6030
I don't understand, what state is it in? Is it beta or something? Hidden? Unofficial/community version?

I checked if there was APL on the main page, but nah
![image](https://user-images.githubusercontent.com/18089594/148942902-cc4b9d96-f774-40d9-9f71-b0588a1f609b.png)
Then I clicked the GH issue button, and arrived here.

Also not in the track search https://exercism.org/tracks?criteria=APL&page=

[2022-01-11 14:04] glennj commented on #6030
@bmacho, the APL track is not active yet: there are a few exercises written in the git repo, but the test runner needs to be created before it's live on Exercism.

[2022-01-12 06:00] octokatherine commented on #5865
I would really like this feature too. I'd be happy to work on it, I saw in the readme though that you're not accepting PRs

[2022-01-12 19:55] BethanyG commented on #5865
Going to add a ➕  to this.  I actually keep an excel sheet for Python for the sole purpose of being able to filter exercises by difficulty.  So I'd love if the UI did it for me.  😄

[2022-01-12 19:55] Proxy36 opened #6191 "Track C: I can't run the test and submit the solution"
Hi!! I would like to learn how to run my test and submit it. I already downloaded the exercism, CLI and the test file in my Windows. I put the answer and I just need to learn how to run and submit it. If there is some one out there that can help me, I really appreciate it. Thank you!!

[2022-01-13 02:38] gabo-cs opened #6192 "Out of date info on the sign in page"
**3444**, **52**, and **48** are hardcoded values, and therefore, out of date info.

`app/views/devise/shared/_information.html.haml`

<img width="725" alt="Screen Shot 2022-01-12 at 9 34 53 PM" src="https://user-images.githubusercontent.com/87103727/149255684-66bb2d9a-2644-4a97-b0a5-d685bf19529e.png">

[2022-01-13 11:21] jg-k opened #6193 "preview of a solution on community solutions page different to actual solution"
Bug found on Proverb exercise in JS track:

For the solution from user ExercismGhost, the code preview on the [community solutions](https://exercism.org/tracks/javascript/exercises/proverb/solutions?passed_head_tests=true&passed_tests=true) shows:
![preview](https://user-images.githubusercontent.com/31470836/149320044-a427bd96-282d-44ed-aec3-715a1efdae1c.png)

On the [solution page](https://exerci

[2022-01-13 11:29] SaschaMann opened #6194 "Better admonitions"
https://github.com/exercism/website/issues/266 has been resolved and admonitions have been added. However, there are still some things that could be done to make them more useful.

- (Optionally) make them collapsible. [MkDocs has some syntax suggestions.](https://squidfunk.github.io/mkdocs-material/reference/admonitions/#collapsible-blocks) For example, this would allow hiding advanced admonition

[2022-01-13 12:07] iHiD commented on #6179
This specific badge is hotfixed by https://github.com/exercism/website/pull/2330

I'll look at @SleeplessByte's suggestion for the wider thing.

[2022-01-13 16:57] mkalmes opened #6195 "Describe the intention of the icons on the "Your published solutions" view"
On the "Your published solution" view, the icons have no accessible way to describe their intention.

<img width="463" alt="Screen Shot 2022-01-11 at 09 14 25" src="https://user-images.githubusercontent.com/249179/149374213-c4cc74ec-2835-422d-aca1-88a0a8cd7e96.png">

## Expected behavior

e.g. hovering over the left icon on the bottom row describes the icon as "Lines Of Code".

## Actual behavior

[2022-01-14 09:45] martinfreedman commented on #6049
OK anyway I think the simplest fix should be (a) "Do not show Iteration count for single iteration published solutions".

Once I get docker working with wsl2 (managed to get this working on 1909 cannot update my Windows 10 to the supposed minimum 2004 or anything more recent but I have wsl2 working) I can then do the stuff I raised on the f# test-runner then I could look at this. Where would I nee

[2022-01-14 09:54] ErikSchierboom commented on #6049
We don't take community PRs for the website, so you'll have to wait for us to fix it, sorry.

[2022-01-14 10:13] martinfreedman commented on #6049
OK I will close this and make a feature request issue to be put on the backlog?

[2022-01-14 10:16] martinfreedman opened #6196 "Feature Request/(Bug Fix?) Do not show `Iteration Count` when publishing Single Iteration solutions"
Everything is fine when publishing multi-iterations. However when publishing a single iteration (usually the last one but not always) it makes no sense to publish the iteration number as well.

Do not know if this is  bug - I see it that way - but certainly this is a feature request:

**_"Do not show `Iteration Count` when publishing Single Iteration solutions"_**

[2022-01-14 10:18] #6049 closed

[2022-01-14 10:20] martinfreedman commented on #6049
Created a new Feature Request Issue

[Feature Request/(Bug Fix?) Do not show Iteration Count when publishing Single Iteration solutions](https://github.com/exercism/exercism/issues/6196)

[2022-01-14 10:24] martinfreedman commented on #6030
Anyone want to work with me create one for J,K or Q?

[2022-01-14 11:15] ErikSchierboom commented on #6049
Thanks

[2022-01-14 14:04] marchukov commented on #6004
I have a similar problem with my discussion for "Pascals Triangle" in the" "Scheme" track. No matter if I submit and/or leave a comment it displays "Your turn to respond". It may be related to the mentoring session being migrated from the old exercism.

[2022-01-15 07:39] ModProg commented on #4087
This is still relevant because there still is no public API documentation

[2022-01-15 09:02] krupitskas opened #6197 "Feature request: Computer Graphics track"
Hello!
First of all I really like the exercism, approach it's using, tracks, visual and overall feeling about it.
I think we can introduce graphics track, which could be done by OpenGL or something (Can be also a raytracing, this can be done in any language actually) (Im ready to do all hard work around). I can write CI which can compare output images and mentoring here can be fantastic (discuss c

[2022-01-18 16:51] gabo-cs opened #6198 "Bug: The timestamp of the student's starting point comment is being overridden."
I've noticed that, in the mentor discussion section, whenever you start a mentoring discussion and leave your first comment, the timestamp of the student's starting point comment gets overridden with your comment timestamp.

My gut feeling tells me this has something to do with `shortFromNow(post.updatedAt)` or something from that like.

In the following recording, see how the timestamp of the stu

[2022-01-18 16:57] laurahannah opened #6199 "Java track: lasagna exercise has two tests that need to be updated"
@Test
    public void total_time_in_minutes_for_one_layer() {
        assertThat(new Lasagna().totalTimeInMinutes(1, 30)).isEqualTo(12);
    }

    @Test
    public void total_time_in_minutes_for_multiple_layers() {
        assertThat(new Lasagna().totalTimeInMinutes(4, 8)).isEqualTo(40);
    }

[2022-01-18 18:52] iHiD commented on #6198
@kntsoriano Should this be createdAt not updatedAt? Could you check pls.

[2022-01-18 20:06] NobbZ opened #6200 "When viewing the list of exercises, I'd like to see if there are any updateable"
When I visit `https://exercism.org/tracks/$track/exercises` I get a small overview of exercises state, as in the attached image. I think it would be nice if we had also an "update available" state.

![2022-01-18_21-01](https://user-images.githubusercontent.com/58951/150010470-bc172339-b0ab-4aa6-827c-830c4ea2d19c.png)

[2022-01-18 21:04] iHiD commented on #6200
I'm not sure I'd want an extra tab for that (as "out of date" is cross-cutting). But having the out-of-date icon on the cards definitely makes sense. You can get the data you want at https://exercism.org/journey/solutions?sync_status=out_of_date, albeit you can't filter by track there, but we should add that filter so that you can.

[2022-01-20 09:34] pk251198 opened #6201 "nodejs"

[2022-01-20 11:21] NobbZ commented on #6200
There is already an icon on the cards. So that is not an issue.

Though yes, I'm fine with any way that would give me a way to get a list of updatable exercises overal or per track.

So, is there a way to build the linked filter manually or does one need to know the "magic link"?

[2022-01-20 11:26] NobbZ commented on #6201
Hi @pk251198!

Sadly your issue isn't very clear. The can you perhaps be a bit more explicit about what your problem or suggestion is?

[2022-01-20 12:44] iHiD commented on #6200
https://www.loom.com/share/cdf6dd23142c4fb092a92dd3ff7e1ccc

[2022-01-21 19:44] bushidocodes commented on #5986
I took a look at the gofmt wasm demo. Very cool and seems to work well! My suspicion is that the initial page load is not really something that can be improved much using the standard Go toolchain. Programs that compile to wasm have to statically link the portions of their languages standard library that they use. That seems to be a fair bit for Go! It looks like hello world is ~2mb. This really v

[2022-01-21 19:54] bushidocodes commented on #5986
For the wasm browser embedding environment, it's very true that there isn't a standard for what gets passed into a WebAssembly module. It's essentially ad-hoc and all projects generate code differently. WebAssembly on the server does have a standard API for all the normal systems type things called the "WebAssembly Systems Interface." This provides a sort of "syscall interface" and enables similar

[2022-01-21 20:02] junedev commented on #5986
@bushidocodes Thanks a lot for having a look! I wasn't aware Tiny Go was related to WebAssembly at all but they even say that on the "box". :see_no_evil: According to their docs, they support the bit that we need:
![image](https://user-images.githubusercontent.com/12543047/150591624-79001b97-bbad-470d-a812-e0d04a5f597b.png)

I will check this out in more detail when I have some time.

Also thanks

[2022-01-22 15:44] junedev commented on #5986
When using [TinyGo](https://tinygo.org/) as @bushidocodes suggested, the size of the wasm file drops from ~3MB to ~0,5MB. The time from initial page load to then the format button can be pressed was reduced from ~1s to ~0.5s. So this definitely improves the performance.

The TinyGo version is available here: https://tinygo--go-fmt-wasm.netlify.app/

The format button is now disabled until it is re

[2022-01-22 15:48] avidrucker commented on #6059
+1 On this issue from me as well. As a learner, I currently cannot navigate/switch/toggle between the "Instructions tab" and the "Results tab" using the Tab key (or arrow keys) in Accessibility Mode.

Browser: I am using Chrome Version 96.0.4664.45 (Official Build) (64-bit) on Linux Mint.

![image](https://user-images.githubusercontent.com/6962664/150645502-87e1be07-1584-4ced-a983-5c5ee6d32c18.png

[2022-01-22 18:46] bushidocodes commented on #5986
Nice! It looks like it's only 166kb over the network due to compression. Pretty impressive speedup!

Bummer about the configuration issue! If you want to accelerate this, some tools have CLI options for stack time (`stack-size=value` for ld for example). This would be something like `-Wl,stack-size=16384` with clang. It seems like go might expose this as `-ldflags`, but it seems like TinyGo might

[2022-01-22 19:59] junedev commented on #5986
@bushidocodes Thanks again for the help! What you suggested with the custom target configuration file worked perfectly. And it turned out that the increased value they set is not enough for our purposes so the new release wouldn't have solved our problem. Instead of doubling the original stack size I tripled it and now it works just fine even for very large chunks of code (~3000 lines).

Do you al

[2022-01-22 20:01] junedev commented on #5986
@bushidocodes Thanks again for the help! What you suggested with the custom target configuration file worked perfectly. And it turned out that the increased value they set is not enough for our purposes so the new release wouldn't have solved our problem. Instead of doubling the original stack size I tripled it and now it works just fine even for very large chunks of code (~3000 lines).

I merged

[2022-01-22 20:32] bushidocodes commented on #5986
Huh, looks like `syscall/js` is Go's equivalent of Emscripten glue. Pretty cool! The example basically is a wrapper that use JavaScript Promise conventions. I would imagine using `syscall/js` also generates a *.js file that passes the needed JS functions as WebAssembly imports that you would have to add to your app. The promise stuff makes sense from a JS perspective, but there are some software e

[2022-01-23 09:38] junedev commented on #6076
Secret Handshake, Allergies and Variable Length Quantity all have `bit-manipulation` as prerequisite. `bit-manipulation` exists as a concept but there is no learning exercises that teaches is (mentions it in the `concepts` key).

In theory, if a concept cannot be "learned" that should not block the unlocking mechanism.

@ErikSchierboom Was this the issue you fixed already as you mentioned on Slack

[2022-01-23 10:53] junedev commented on #5732
@portaljacker I can understand how this is confusing and we might need to think about how to make this clearer for the students but here is what's going on.

The dots you see in the "Strings" concept box show exercises where you can **practice** strings but to be able to actually do those exercise you might need to learn more concepts that you have learned so far. (What is needed additionally to u

[2022-01-23 13:56] NobbZ commented on #6201
As you haven't provided any further information about your issue, I am unsure if we can help and will close the issue.

If you continue encountering problems, feel free opening a new issue with proper information attached.

[2022-01-23 13:56] #6201 closed

[2022-01-23 16:41] junedev opened #6202 "Practice exercise can't be unlocked, concept exercise that teaches the prerequisite "wip""
The practice exercise "Satellite" in JavaScript has `recursion` as prerequisite. The concept exercise that teaches recursion is still `wip`. It seems, `recursion` is nevertheless required to unlock the exercise. That means it is impossible to unlock this exercise currently. @ErikSchierboom mentioned on Slack this shouldn't be the case and is probably a bug.

Original report on Slack: https://exerc

[2022-01-23 18:45] annepig opened #6203 "Privat mentor"
Hi , 

Can you help me step - by - step , how I can get a mentor? I have the username of the one I would like it to be

Best 

Anne-Katrine 

[2022-01-23 21:29] spyingcyclops opened #6204 "Python / Little Sister's Vocabulary - output = test output, but still fails? :("
Hi,
Newbie here, so this is likely my error, but I cannot get my head around why the tests are failing. My output looks identical to expected output from test. I can't get it submitted, so can't access mentoring... :(

Might be a bug in the test? Likely not, but at this stage, I'm willing to try anything... Thanks!!

[pythone/exercises/little-sisters-vocabulary](https://exercism.org/tracks/python/

[2022-01-23 22:10] BethanyG commented on #6204
Hi @spyingcyclops 👋🏽

Python maintainer here.  Thanks for logging this issue. 🌟   Two quick notes:

1.  If you need help with anything related to the Python track or exercises, you can always open an issue in the [Python Repo](https://github.com/exercism/python).  We're happy to answer questions there, and provide tips and help.
2.  If you are ever stuck with an exercise in the UI, and can't acces

[2022-01-23 23:18] spyingcyclops commented on #6204
Hey BethanyG,
thank you so much for the explanation. I followed your advice, and of
course it passed :)
So I just need to pay more attention to the output of my code - return vs
print.

Thank you, and kudos to the exercism team - this is an awesome initiative.

Cheers

SpyingCyclops

On Sun, Jan 23, 2022 at 11:11 PM BethanyG ***@***.***> wrote:

[2022-01-24 02:37] kotp commented on #6203
Hello @annepig and I am glad that there is a mentor that you are finding helpful.

If you have the mentor's contact information, if you communicate with them off platform, you could request a mentor by sharing the mentor link with them.

![request_mentoring_by_friend](https://user-images.githubusercontent.com/16747/150712619-6ee5d80e-36ba-4548-a4df-33e5c42cf214.png)

Notice the pull down next to "

[2022-01-25 07:23] ErikSchierboom commented on #6076
@junedev Yes. Any prerequisites that are not actually taught by any exercise (this exludes `wip` exercises at the moment due to a bug), should not be imported. I'll look into it.

[2022-01-26 14:41] txtyash opened #6205 "Content looks squished in around half sized windows"
[work locally section eats up the screen](https://i.imgur.com/RA3NidV.png
)

Intended:
More room for the actual question instructions.

Without the `work locally` div it looks prettier:
https://i.imgur.com/957b1l6.png

[2022-01-26 17:28] carlosbaraza commented on #6007
@SleeplessByte @MatteoRenoldi A SQL track would be really useful. As @glennj commented, a SQLite3 integration would be much simpler to implement and could be really useful to teach people the basics of relational databases and their query language.

[2022-01-26 23:38] BethanyG commented on #6007
Just .. sneaking in here to mention that when it comes to "standard" SQL, there is a lot of vendor variance - even for things like Common Table Expressions or with clauses.  [Modern SQL](https://modern-sql.com/) has rundowns.

[2022-01-27 09:10] ErikSchierboom commented on #6204
Great! Thanks @BethanyG

[2022-01-27 09:10] #6204 closed

[2022-01-27 09:10] ErikSchierboom commented on #6199
Closing this (see https://github.com/exercism/java/pull/2085 for the rationale).

[2022-01-27 09:10] #6199 closed

[2022-01-27 09:11] ErikSchierboom commented on #6202
@junedev https://github.com/exercism/website/pull/2344 will fix this

[2022-01-27 09:16] ErikSchierboom commented on #6172
I've double checked, and you have received 10 reputation for authoring the `basics` exercise. Did you expect more or did we miss anything?

[2022-01-27 12:17] #6076 closed

[2022-01-27 12:17] #6202 closed

[2022-01-27 12:19] iHiD commented on #6007
@carlosbaraza Would you (or someone else in this thread) be willing to lead the creation of a SQLlite track?

[2022-01-27 16:46] joshgoebel opened #6206 "Solution view should resize with size of window"
Currently the code only takes like 40% of my screen forcing me to scroll for all longer solutions.  Yes, I know we could have comments - and that's a wrinkle - but in cases like this I'm not sure why that column isn't height 100%... and even when there are comments I'd like to see the code given priority - often that's what I'm there to read.

I'd almost rather see the comments on the side as pers

[2022-01-27 17:21] iHiD commented on #6206
The main reason for this being a fixed height is so that when you change between iterations, it doesn't jump all over the place. But we could probably do a better job of looking at that height based on the height of the first iteration that's opened and fixing it at that.

[2022-01-27 20:54] BethanyG commented on #6007
I'd be up for it .. but would want at least one or more co-conspirators.  😉

[2022-01-29 14:05] bobahop opened #6207 "Mentoring queue: student blurb can be cut off if at top of queue"
If a student's blurb is voluminous it can be cut off when at the top of the queue. I searched for "cut off" and did not see a duplicate.

![info_1](https://user-images.githubusercontent.com/32035397/151664049-5a10e86e-7553-4a45-858b-455b7da8f330.JPG)

[2022-01-29 16:38] bobahop opened #6208 "Publish all iterations does not publish all iterations"
I have iterations 5 and 6 of Wordy in C that I would like published. Iterations 1 through 4 are "deleted". When I choose "Publish all iterations" only the last iteration I chose for "Publish single iteration "is published, whether that iteration was 5 or 6.

[2022-01-29 17:19] Junior633-debug opened #6209 "Display [ERROR]"
Sometimes the content of the part where describing the language's pros doesn't display all the content as in Java track in the "Portable" part.
![Screenshot 2022-01-29 181905](https://user-images.githubusercontent.com/65125313/151670564-9fb87ebb-d52f-4713-914a-e33693c516d0.png)

[2022-01-29 17:54] bobahop opened #6210 "Published solution is not published"
My "Secret Handshake" for C is published, but it does not show up in the community solutions

![info_1](https://user-images.githubusercontent.com/32035397/151671845-018f15a2-d619-4e6d-8858-0cbe628ae916.JPG)
![info_2](https://user-images.githubusercontent.com/32035397/151671853-fa5b3bfe-b920-4d3f-bd41-77ea3c3237de.JPG)
.

[2022-01-29 18:00] bobahop commented on #6208
My mistake. There are "previous" and "next" buttons at the bottom that can toggle between iterations. Never noticed them before.

[2022-01-29 18:00] #6208 closed

[2022-01-31 00:34] pwadsworth commented on #6172
10 is perfectly fine, I just did not see a category for concept development since Authoring only mentions the number of exercises contributed in the Journey page. I hadn't noticed they were added together in that category.

[2022-01-31 03:23] IsaacG opened #6211 "Unable to select iterations when there are many"
There's no way to scroll through iterations when they don't fit under the editor and no URL parts to select an iteration.
When there's a large number of iterations, there's no way to select the second-last, for example.

[2022-01-31 03:26] aarambhaa opened #6212 "Unable to accept terms and conditions"
The checkbox seems to be dysfunctional due to which I cannot accept the terms and conditions.

[2022-01-31 06:45] angelikatyborska commented on #6209
Thanks for reporting! This is a duplicate of https://github.com/exercism/exercism/issues/5883 so I will close this issue. Feel free to subscribe that other issue to get updates about it.

[2022-01-31 06:45] #6209 closed

[2022-01-31 16:34] iHiD commented on #6212
Could you provide some more information please.

[2022-01-31 22:30] iHiD commented on #6208
Phew! Thanks for following up. One less thing to solve 🙂

[2022-01-31 23:26] luilver commented on #6145
Maybe «Continue reading "About Swift"» would make it slightly  comprehensible.

[2022-02-01 02:57] glennj opened #6213 "Improvement suggestion for "Change the Tracks you mentor" dialog"
It would be useful to see how many people are currently subscribed to each track queue. Then we could get a feel for how many other people _might_ see new mentoring requests, and tracks that need more mentors.

Perhaps even a count of "active" mentors: i.e. who have mentored a student in that track in the last _N_ days.

[2022-02-01 08:36] ErikSchierboom commented on #6172
Ah, that makes sense. @taiyab perhaps one for you to think about: we don't currently list the number of authored concepts in the Journey page.

[2022-02-01 10:41] Meryeeem02 opened #6214 "first time with exercism"
hello, guys hope you're doing well!
I have some trouble in using exercism... I'm trying to know more about c programming language but I couldn't run the first program which is the "hello world" program although I'm a little advanced in this language, which means I'm accustomed to go through many tough programs in c. Can anyone help please  : D !

[2022-02-01 12:02] angelikatyborska commented on #6214
@Meryeeem02 Welcome! Please let us know exactly what you have attempted to do to run "hello world" and what was the result. Did you receive some unexpected errors? Can you copy-paste them here? What is your operating system? Without a detailed description of the problem we have no chance of figuring out what is going wrong.

[2022-02-01 12:16] Meryeeem02 commented on #6214
![272835995_4846170378753176_5559029159763436074_n](https://user-images.githubusercontent.com/92719674/151966761-a612cb61-5a44-4118-9f9f-5870944fa473.png)

[2022-02-01 12:18] Meryeeem02 commented on #6214
I don't think the problem is with your website. Maybe it's due to me cause I'm new here and I don't how to use it

[2022-02-01 12:20] Meryeeem02 commented on #6214
I'm using  Windows 10.

[2022-02-01 13:23] angelikatyborska commented on #6214
@Meryeeem02 Ah, you're solving the exercise on the website!

Did you completely delete the boilerplate code that this exercise has? It looks like this:
[code]

You should start from that boilerplate and only change the return statement, nothing else.

You need to define a completely different function than what you're trying to do. The function needs to be named `hello`, not `main`, and it needs t

[2022-02-01 13:52] Meryeeem02 commented on #6214
Oh got it  thank you so much!

[2022-02-01 14:00] chillycurve1 opened #6216 "Text on "About Go" page cut off"
Hello all,

Was just getting started on the Go track when I noticed that the [page](https://exercism.org/tracks/go/about) showing the advantages of Go had an error:

![image](https://user-images.githubusercontent.com/37170946/151982077-09ddab8b-1bd4-4b90-8348-4edd78801018.png)

I couldn't find the source code for that particular part of the page on Github, but I'd be happy to make a pull request i

[2022-02-01 15:29] SaschaMann opened #6215 "Website breaks relative links in markdown"
The website prepends `h-` to heading IDs, which breaks relative links in markdown documents. See https://exercism.org/docs/building/github/gha-best-practices for an example.

Since this is apparently intended, the markdown should be post-processed to fix the links. Otherwise the links won't work when reading the markdown document on its own.

The above example is part of the docs, where broken lin

[2022-02-02 07:40] angelikatyborska commented on #6216
This is a duplicate of https://github.com/exercism/exercism/issues/5883 (cc @ErikSchierboom your own issue 😁). I'll close this one.

[2022-02-02 07:40] #6216 closed

[2022-02-03 00:09] DjangoFett opened #6217 "Home page responsive rendering of a picture incorrect."
Viewing the browser from an iPhone 12 on Safari seems to have a couple elements re-size to the screen in an awkward manner. This has been confirmed with two different phones. I am unsure if affects other iPhone versions or Android.
Edit: Doesn't quite look as bad when I posted it here, but it's still not great.

![render_ios_12_safari_2](https://user-images.githubusercontent.com/2284834/152258824-

[2022-02-03 00:49] drpetrovich opened #6218 "Create new track for [RUST] Resistor Color: error running tests"
Hello, Team,

After I added the following to default stub:
[code]

 I get error below:

[code]

Could you please help to fix this error to pass exercise?

Thank you

[2022-02-03 13:49] ErikSchierboom commented on #6214
@Meryeeem02 Has the above suggestion fixed your issue?

[2022-02-03 13:52] ErikSchierboom commented on #6149
@adammpkins Small bump :)

[2022-02-03 15:13] #6149 closed

[2022-02-03 15:14] #6214 closed

[2022-02-03 15:28] philip2point0 commented on #6182
this issue is still occurring (python track).
Additional note on behavior: after completing 5 iterations, when viewing all iterations, only the first 4 are shown. The final (correct and submitted) iteration is not visible in the list.
When reviewing iteration feedback along the way, only the first iteration is returned. I was able to manually change the idx value in the url to see the next iterati

[2022-02-03 16:32] SleeplessByte commented on #6217
Thanks for reporting.

Technically a duplicate of https://github.com/exercism/exercism/issues/6036 and https://github.com/exercism/exercism/issues/6188

[2022-02-03 16:32] #6217 closed

[2022-02-03 16:32] SleeplessByte commented on #6188
Thanks for reporting! Duplicate of https://github.com/exercism/exercism/issues/6036

[2022-02-03 16:32] #6188 closed

[2022-02-03 18:14] kytrinyx commented on #6212
@aarambhaa Would you try using a different browser to see if that works? Another thing you could try is to disable any browser extensions that you have, and try again.

[2022-02-03 18:17] kytrinyx commented on #6164
@Wozolot I noticed that it's been a month since we had any movement on this issue. Are you still blocked here?

[2022-02-03 21:27] Wozolot commented on #6164
@kytrinyx The problem is not solved. I'am making exercises by deactivate learning mode. Learning mode still blocked.

[2022-02-04 11:33] iHiD commented on #6164
@Wozolot Can you take a look now pls?

[2022-02-04 12:58] Wozolot commented on #6164
@iHiD It's ok now. I have unlocked all exercises in learning mode, but dont know it should be unlocked step by step.

[2022-02-04 15:01] iHiD commented on #6164
Thank @Wozolot. I think it's right now. There was something weird in the DB for that exercise.

Thanks @angelikatyborska for getting me to check that and @kytrinyx for the nudge.

[2022-02-04 15:01] #6164 closed

[2022-02-04 15:56] philip2point0 commented on #6182
hi.  I did the bool lesson today and the issue appears to be partially resolved.
resolved: when I am working through iterations, it shows me the results of the latest iteration (before, it was only showing iteration 1 and I had to manually change idx in url). good job
not resolve:
when clicking to review all (n) iterations, the iterations details page is only displaying the first n-1 iterations...

[2022-02-04 17:24] iHiD commented on #6182
Thanks for the update. Yeah, it's an off-by-one bug more than it is just only showing one.

[2022-02-04 18:23] joshgoebel opened #6219 "Link previous should say something about mentoring request"
![Screen Shot 2022-02-04 at 1 20 51 PM](https://user-images.githubusercontent.com/6473/152582547-8ec2107e-cf0e-43fa-932b-453deb6b32a8.png)

 A friend sent me this today and I actually ignored the link and went straight to the website to look at the queue.  It would be nice if the link preview (or title) suggested that it was a request for mentoring instead of looking like a very generic link to th

[2022-02-04 18:32] SleeplessByte commented on #6219
I like this suggestion.

cc @taiyab

[2022-02-04 18:35] joshgoebel commented on #6219
I mean it should almost be as simple as just changing a few lines and a new graphic, right?

[2022-02-04 18:36] SleeplessByte commented on #6219
Yes, the change in code is tiny.

[2022-02-04 18:43] SleeplessByte opened #6220 "Maintainer docs missing link to available tags"
<https://exercism.org/docs/building/tracks/new/prepare-for-launch>

No way to find the tags allowed!

For those looking, if you scroll down on that document, and press `config.json` link, it shows you <https://exercism.org/docs/building/tracks/config-json> which _does_ have the tags allowed at <https://exercism.org/docs/building/tracks/config-json#h-tags>.

[2022-02-05 11:02] GKarhan opened #6221 "Cant solve the first problem"
The classical introductory exercise. Just say "Hello, World!".
It is the exersice.
It is my answer
Console. Write.Line("Hello World");
But during the test i get this and cant go ahad
We received the following error when we ran your code:
HelloWorld.cs(1,1): error CS8805: Program using top-level statements must be an executable.
HelloWorld.cs(1,1): error CS0103: The name 'WriteLine' does not exist

[2022-02-05 14:39] SelfReflective opened #6222 "Javascript Lucians Lasagna"
Hi Exercism Team,

thanks for this great Website.

Im trying to do Lucians Lasagna exercise step 4. But the Editor keeps appending the Numbers with + operator instead of counting them together. Is this a bug? I already explicitly changed it into INT´s.

Thank you!

[2022-02-05 16:49] philip2point0 commented on #6182
Adding some related scenarios:
I have now completed 6 iterations.  When I click to view iterations:
there are only 4 iterations showing on the page
the 4th is marked as most recent
there is not way to navigate to the 5th and 6th from this list.
<img width="1447" alt="Screen Shot 2022-02-05 at 8 46 38 AM" src="https://user-images.githubusercontent.com/36599874/152650731-1b5c8e19-495d-47b1-a5e7-7f28

[2022-02-05 17:11] angelikatyborska commented on #6221
@GKarhan It would be best if you reverted the exercise to exercise start so that you get the boilerplate code that was prepared for you. I am attaching a screenshot that shows where you can find this option in the web editor. The boilerplate code will show you how the exercise solution is supposed to be structured. It needs to define a class and a function, the the function needs to **return** the

[2022-02-05 17:15] angelikatyborska commented on #6222
Hi @SelfReflective 👋

I would like to help, but I don't entirely understand the problem. Could you maybe copy-paste your solution that is causing the problem? Or upload a screenshot if that makes sense?

[2022-02-05 18:06] SelfReflective commented on #6222
Hi @angelikatyborska

im so sorry, i fixed it. I shoulve read the instructions better. You can mark this as closed! Thank you so much <3

[2022-02-05 18:06] #6222 closed

[2022-02-05 22:01] kytrinyx commented on #6120
It looks like this is dealt with; closing. Thanks SleeplessByte!

[2022-02-05 22:15] kytrinyx commented on #5633
Is this the same issue as https://github.com/exercism/exercism/issues/6198 by any chance?

[2022-02-06 02:11] danielathome19 opened #6223 "Typo in communication preferences"
https://exercism.org/settings/communication_preferences

**Email me when I receive a unlock a new badge** has a typo

[2022-02-06 06:11] kotp commented on #6223
Can you identify the typographical error?  Do you want to make the correction?

[2022-02-06 16:07] danielathome19 commented on #6223
Hi @kotp -- I couldn't find the page in the copy repo to make a pull request, but it should read "Email me when I receive or unlock a new badge" :)

[2022-02-06 18:02] Rubio6321 opened #6224 "Create new track for [HTML/CSS]"

[2022-02-06 18:04] Rubio6321 commented on #6224
I was looking around the website and I saw that there is no part about HTML & CSS. I would appreciate Support for HTML & CSS.

[2022-02-06 18:30] kotp commented on #6223
Thank you @danielathome19 .  It looks like @angelikatyborska is your champion for this issue!

[2022-02-07 03:19] SleeplessByte opened #6225 "Source Code Pro isn't monospaced the same as Courier New / other monospaced fonts"
For some reason, monospaced font on Exercism is displaying our (important) ASCII Art incorrectly. This may be related to https://github.com/adobe-fonts/source-code-pro/issues/261, although I find it more likely that we chose to subset this font?

Anyway, it's broken at the moment. Resolutions:
- Make it work with Source Code Pro, if can be determined that we don't use unsupported characters
- Allo

[2022-02-07 04:10] SleeplessByte opened #6226 "Not getting notifications when people comment on my solutions"
Recently I became aware that people started commenting on my published solutions. I was not aware before because I do not receive notifications about this, nor can I turn on notifications about this.

I would really like to be able to be notified when people comment on my solutions, and also be able to turn that off for a _specific_ exercise.

![image](https://user-images.githubusercontent.com/196

[2022-02-07 04:21] SleeplessByte opened #6227 "When commenting on a solution, insert order is incorrect until refresh"
Exactly as the title says. It inserts the comment at the top, but then re-orders when you reload the page.

[2022-02-07 04:22] SleeplessByte opened #6228 "When commenting on a solution, code highlighting doesn't work until refresh"
Exactly as the title. The inserted comment is without highlighting, but reloading the page makes it work. Probably better if it was a regular form submission.

[2022-02-07 04:41] SleeplessByte opened #6229 "Analyzer spins forever, sometimes"
According to the UI there is a single message (probably: yay exemplary), but the message doesn't show up.

![image](https://user-images.githubusercontent.com/1964376/152725542-186daa07-134e-468b-a805-d048e0fb7752.png)

[2022-02-07 05:22] SleeplessByte opened #6230 "exercism cli downloads .meta as .exercism, breaking some local tooling"
As title says. I don't know if this was expected. I will update my tooling to work with `.exercism`, but it's not taken care of by default.

[2022-02-07 12:29] Gautzilla opened #6231 "Some exercises don't count as completed while they are completed"
In my C# track, I have 0 available exercises while 105 are still locked. I completed all my available exercises:

![1](https://user-images.githubusercontent.com/72027971/152786869-eed104e6-aed6-4a39-92f6-ff8560898d73.png)

It seems that some completed exercises don't count as such. If I take a look at the _locked_ **Accumulate** exercise, it needs the completion of 2 exercises to be unlocked: **Tr

[2022-02-07 13:17] iHiD commented on #6230
For more context, the change was here: https://github.com/exercism/website/pull/1407 - I'm trying to find the discussion on it too, but I might leave that to Erik as he'll remember it more easily!

[2022-02-07 13:24] #6223 closed

[2022-02-07 13:34] SleeplessByte commented on #6230
Okay, I might have missed that `exercism download` via CLI did that. This doesn't happen in our tooling (runner, analyzer, etc, right?)

[2022-02-07 14:07] BethanyG commented on #6229
I have seen this too.  For a previously published solution to an exercise that was subsequently updated.   `All iterations` selected for the publish option, but only the third and final iteration was re-run.  Seems to hang on re-running the analysis after the update.  The change to the exercise was to the instructions and not the tests or stub:

![image](https://user-images.githubusercontent.com/5

[2022-02-07 15:52] iHiD commented on #6229
I don't have DB access right now, but there's a chance it's the representer that's failing, not the analyzer (it waits for all three pieces of tooling to complete). I'll check when I have proper access though to see what's happening.

[2022-02-07 15:53] iHiD commented on #6230
No, it's just a CLI thing :)

[2022-02-07 15:54] SleeplessByte commented on #6230
Ok, That makes this less problematic. I'm updating the tooling to work with local solutions again.

[2022-02-07 15:54] #6230 closed

[2022-02-07 15:56] iHiD commented on #6225
More info. This the font we load: https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap

If I can amend that to fix, tell me how and I'll do it.

Do you know

[2022-02-07 16:03] bkc opened #6232 "mentor UI feature suggestion - allow viewing/downloading of original exercise files, show iteration diffs"
I am practicing on the Rust track and learning a lot. Since I have 20+ years of Python experience I started mentoring on the Python track. However I have not done any of the exercises on the Python track.

While reviewing a submission on the Yacht exercise I was concerned about the extensive use of lambdas in the student's code.  I'm trying to determine if the student came up with the idea of usin

[2022-02-07 16:38] BethanyG commented on #6232
Hi @bkc 👋🏽

Python maintainer here.  😄   Thanks for mentoring on the Python track!

To partially answer your question, there are three different ways you can "get at" the boilerplate for an exercise.

1.  Turn off `learning mode` for the track, which will unlock every practice exercise:

<img width="1411" alt="2022-02-07_08-29-23" src="https://user-images.githubusercontent.com/5923094/152830467-c9

[2022-02-07 16:42] bkc commented on #6232
Hi @BethanyG ,

Thanks for your fast response. These are all great suggestions that I did not know about. Your response resolves my primary and secondary issues (see starting files, get a sense of where an exercise fits in the track).

[2022-02-07 17:00] BethanyG commented on #6232
@bkc   -- Happy to help!  Difficulty and positioning on track can also be access a variety of ways:

1.  Via the "exercise tree" or `syllabus`.  Hovering over the circles under each concept will show you which _practice exercises_ are associated as "practicing" which _concept_ exercises.  Here is Yachts "positioning":
<img width="1410" alt="2022-02-07_08-45-16" src="https://user-images.githubuserc

[2022-02-07 17:03] BethanyG commented on #6232
And finally, regarding mentor notes.  _We are always looking for contributors who want to write them!_

So if you have thoughts or recommendations after mentoring this particular student (_and I agree that there is no need for lambdas at all -- certainly not **excessive** lambdas_ 😉 ), we would warmly welcome a PR to [website-copy](https://github.com/exercism/website-copy/tree/main/tracks/python/e

[2022-02-07 17:28] angelikatyborska commented on #6225
I did some debugging by manually manipulating the DOM to insert the ASCII art all wrapped in span to produce this:
![Screenshot 2022-02-07 at 18 22 34](https://user-images.githubusercontent.com/7852553/152839530-332c67ce-fa13-4fc1-9840-2ab1d7ad8548.png)

It looks to me like those characters are too wide:
[code]

Note to self, In case I want to check it again, here's the debug DOM that I randomly i

[2022-02-07 17:33] angelikatyborska commented on #6225
Calculating further, those character codes are:
[code]

I think they are not included in the unicode ranges in the loaded font but I'm not 100% because I'm just eyeing this. E.g. `latin-ext`:
[code]

[2022-02-07 17:50] SleeplessByte commented on #6225
What @angelikatyborska is saying seems correct to me @iHiD . Adding those codes would fix it!

[2022-02-08 08:02] ErikSchierboom commented on #6230
That is exactly it.

[2022-02-08 10:24] ErikSchierboom commented on #6231
@Gautzilla For some reason, the database has your `tracks-on-tracks-on-tracks` solution listed as not being completed, even though you've published it. I'm trying to track down the issue.

[2022-02-08 10:27] Gautzilla commented on #6231
@ErikSchierboom Thanks for having a look!

I guess it might be the same for the `Need for Speed` exercise. Could you check that out?

[2022-02-08 10:35] larshp commented on #6186
can someone help? this is basically the last thing needed before we can launch the new ABAP track

[2022-02-08 10:43] ErikSchierboom commented on #6186
@joshgoebel has built the Wren syntax highlighting from scratch: https://github.com/exercism/codemirror-lang-wren Maybe he has some nice pointers? At the least, that repo might help.

[2022-02-08 10:50] ErikSchierboom commented on #6186
Oh, right! Then it is up to me :)

[2022-02-08 13:14] joshgoebel commented on #6186
@larshp Is there a reason you went with the much older CodeMirror 5 instead of the all the nice CodeMirrror 6 grammar stuff?

[2022-02-08 13:18] larshp commented on #6186
I dont think so, the original code in https://github.com/larshp/codemirror-abap is ~6 years old, I've not been following CodeMirror lately

does Exercism require it to be CodeMirror 6 grammar stuff based? Or will it work with the code as-is?

[2022-02-08 13:21] ErikSchierboom commented on #6231
@Gautzilla There was indeed an issue in the database caused by a bug when iterations were deleted whilst the solution was published. We've manually set the publish data to null in the database of the solution that encountered this bug (there were 64). In practice this means that you'll now should be able to complete the exercise again and that everything should then work well.
The bug in the websi

[2022-02-08 13:23] joshgoebel commented on #6186
Ah, I thought it was newly written.  We can use either... many grammars are still v5, but v6 is much nicer (you actually specify a formal grammar, not hard coded parsing code) and for some nicer/newer features.  But no big deal if this was already existing.

[2022-02-08 13:24] Gautzilla commented on #6231
@ErikSchierboom That's all good, the two exercises were now marked as _in progress_, I marked them as _complete_ and it indeed unlocked more exercises. Great job!

[2022-02-08 13:26] larshp commented on #6186
nah, I just updated the dependencies of it recently :smile: didnt want to spend too much time on it, its difficult enough to get any ABAP code running

anyhow, I've opened https://github.com/larshp/codemirror-abap/issues/33 so it can be taken care of sometime

[2022-02-08 13:29] ErikSchierboom commented on #6186
Any idea how I can use codemirror-abap to work as an extension? If you look at the integration of our tracks (see https://github.com/exercism/website/blob/main/app/javascript/components/misc/CodeMirror/languageCompartment.ts), we need the track's codemirror NPM package to return an `Extension`. However, for `codemirror-abap` the following typings are defined:

[code]

[2022-02-08 13:31] ErikSchierboom commented on #6231
It'll be automatically closed once #2374 is merged. Let it open for now, as we technically haven't fixed the underlying issue yet :)

[2022-02-08 13:35] larshp commented on #6186
hmm, I might take another look to see if there is something missing in [codemirror-abap](https://github.com/larshp/codemirror-abap)

[2022-02-08 13:45] #6231 closed

[2022-02-08 20:34] iHiD commented on #6225
Amazing work - thanks @angelikatyborska.

Do either of you know how to do this? :)

[2022-02-08 20:48] angelikatyborska commented on #6225
This is a guess: I think it's not possible from Google fonts (without self hosting). With self hosting, you would need to find a file for this font that actually implements those glyphs. Some font editing app can be used to inspect a font file in this regard. I wouldn't bet on this font implementing those fancy glyphs at all.

TL;DR: I would say we should either: just remove the custom font and on

[2022-02-08 20:55] joshgoebel commented on #6225
Is it really ASCII art at all if it's using extended UTF-8 characters? ;-)  If this is a systemic problem I wonder if we couldn't do search/replace in software during the render process vs changing ALL the content... (I don't know how pervasive this is)

[2022-02-09 00:43] dcr8898 opened #6233 "Express that markdown is permitted in mentoring request form"
When requesting mentoring, it should be clear that a student can use markdown syntax in the **"How can a mentor help you with this solution?"** textarea. In the alternative, the WYSIWYG editor could be used for this form entry.

![image](https://user-images.githubusercontent.com/12485272/153097716-ad8bb53c-87b6-4092-8845-8ae402c3df2e.png)

In the above screenshot, the **"How can a mentor help you

[2022-02-09 09:32] kotp commented on #6233
Reading what is there, the word "on" should probably be removed as well.

The copy currently is: "first comment on during the session"
The wording does not see to be correct to me.

[2022-02-09 11:43] SleeplessByte commented on #6225
I'll think about it for a minute. I definitely would expect `-` and `=` to work, but maybe it's not regular `-` and regular `=`.

[2022-02-09 15:51] denniskovshov commented on #5751
@iHiD I can submit a fix for this to the exercism/website repo, correct?

[2022-02-09 16:28] iHiD commented on #5751
I'm not sure we consider it a bug. It might be intentional to reduce noise on things you have in progress. I'll need to discuss with @taiyab to see if we want to add it. Maybe you could explain a little more about why you want to know the difficulty on this page once you've started?

[2022-02-09 17:04] Ashvith opened #6234 "Error using website: "origin 'https://www.exercism.org' has been blocked by CORS policy""
The screenshot below shows what I've been getting. I am also unable to access the settings panel, and the language track is empty as well.

**Error inside the console**
![Screenshot from 2022-02-09 22-30-42](https://user-images.githubusercontent.com/9512421/153251326-19bdcf64-a2b9-481b-aae2-e21706931cb5.png)

**Language track is empty**
![Screenshot from 2022-02-09 22-33-00](https://user-images.gi

[2022-02-09 17:22] denniskovshov commented on #5751
1. This information has value in the list of tasks even when task is in progress.
If I have multiple tasks in progress: easy, medium, hard, this may help me recall, for example, that I need to get back to the easy task, and that hard task was postponed for a reason.

2. This information does present on the task page, even when it's in progress. The list of tasks feels like missing a UX element tha

[2022-02-09 19:01] ffffaaaagg commented on #6234
its on the devs man

[2022-02-09 20:22] junedev commented on #6234
@Ashvith Thanks for reporting this and providing the screenshots. There was a big deployment ongoing at the time that might have caused some issues. Could you try using the site again and let us know whether you still get the same errors?

[2022-02-09 21:11] SyedAhkam opened #6237 "Key feature doesn't render completely on desktop"

[2022-02-09 21:21] iHiD commented on #6234
The issue here is that you're accessing `www.exercism.org` rather than `exercism.org`. Chrome does not make this clear. You should be redirect, but you're not, which will be fixed by https://github.com/exercism/website/commit/fe68a499968ec4d9a5a2356c04d4c7d433600754 in the next few minutes. Sorry for the pain!

[2022-02-09 21:26] iHiD commented on #6234
I've verified this is now fixed.

[2022-02-09 21:26] #6234 closed

[2022-02-09 21:49] kotp opened #6235 "Lack of first iteration tab and notification status that should be invalidated."
https://exercism.org/mentoring/discussions/0c1312d2546b4d35a93ee29cc99c6f2b gave me a notification but there is nothing there that changed since last time I saw it.  Is this an ongoing thing?  Can you see what maybe triggered the notification?

What I got in e-mail was that a new iteration was submitted.  (Maybe the iterations that are deleted are no longer shown.  It might be useful to show the l

[2022-02-10 00:02] kytrinyx commented on #6224
Thanks for the suggestion @Rubio6321.

Exercism's current goal and scope is to help people become fluent in programming languages. HTML and CSS aren't generally considered programming languages, as they're used to define what should be in a page, and what it should look like, but not what it should actively *do*, and therefore they fall outside of the scope of Exercism.

Some people will argue tha

[2022-02-10 00:02] #6224 closed

[2022-02-10 06:58] SleeplessByte opened #6236 "When updating outdated exercise with test changes, cannot re-run tests without making a change"
Might be intended, but is confusing ;)

[2022-02-10 07:17] SleeplessByte commented on #6229
It seems to happen much more when we update exercises.

[2022-02-10 07:47] #6237 closed

[2022-02-10 12:45] iHiD commented on #6233
Thanks @dcr8898 - great issue :)

I'll need to have a little think about this. The page might start to get a little cramped if we add the markdown editor in there as well (there's already not much space). I'll chat to @taiyab and come back to this in a while.

[2022-02-11 08:58] angelikatyborska commented on #5233
I'm going to reopen this because I agree with Josh - it still applies to v3 and we didn't get any explanations why it would be a bad idea or why it can't be done.

[2022-02-11 10:47] #6229 closed

[2022-02-11 10:47] #6236 closed

[2022-02-11 20:34] ftt opened #6238 "[Rust track] option to let the tests run longer on some exercises?"
Hi,

In the Rust track, there is an exercise called "Alphametics" which does take a long time to run if all the tests are being executed. On my computer it takes ~20 seconds, but it's not even the worst time I've seen when sampling some other (perfectly correct) community solutions. My solution times out on the server, obviously.

I can be very much mistaken, but the nature of the exercise is such

[2022-02-11 21:27] SleeplessByte commented on #6238
Hi there! Unfortunately we're already at the maximum timeout on that infrastructure.

@exercism/rust you may want to consider marking exercises or specific tests as slow/optional like Python and JavaScript do for these that frequently time-out or add further hints.

[2022-02-11 23:09] ftt commented on #6238
Out of curiosity, what is the timeout?

[2022-02-13 12:57] NobbZ opened #6239 "Use correct pronouns in UI copy."
When I configured my preferred pronouns, I'd be happy to see them used when talking with or about me.

Here the website refers to me as "they" rather than "he".

Perhaps there are other places where this needs to be checked and used appropriately?

![pronouns](https://user-images.githubusercontent.com/58951/153754170-ec5a772a-b5a9-4160-9488-d45ae4c90fc4.png)

[2022-02-13 13:20] SleeplessByte opened #6240 "Tracks without icon show up without name on contribute page, so you don't know which track you're contributing to"
![image](https://user-images.githubusercontent.com/1964376/153755037-61ba75d2-b794-48a8-9076-a06a91de567e.png)

I couldn't come up with a better title, but see the screenshot above.

[2022-02-13 14:58] NobbZ commented on #6238
@ftt IIRC it is 10 seconds, which also includes the build, not just the test runs.

[2022-02-14 05:27] Ashvith opened #6241 "Responsiveness breaks at a particular point"
The responsiveness of the website goes awry when the size is below or equal to `1023 x <any height>`.

Edit: Added picture for reference
![Screenshot from 2022-02-14 11-10-18](https://user-images.githubusercontent.com/9512421/153806543-7fa3098c-1367-465f-8eaa-43ae55fad29d.png)

[2022-02-14 07:37] angelikatyborska commented on #6241
Thanks for reporting! This is a duplicate of https://github.com/exercism/exercism/issues/6036. I'm going to close this issue to keep things tidy. Feel free to subscribe and comment on the other one.

[2022-02-14 07:37] #6241 closed

[2022-02-14 07:40] Ashvith commented on #6241
Can I look into this? I have some experience with Rails and HTML-CSS-JS. It would be great if you can direct me to the repository.

[2022-02-14 07:47] angelikatyborska commented on #6241
@Ashvith Not really. The problem affects every single page of the platform. We would need Exercism's designer to actually design mobile views for every page before anyone can start working on the CSS to ensure good UX.

Additionally, while Exercism is generally an open-source project that everyone contributes to, the website code itself is an exception. Only Exercism employees work on that code. I

[2022-02-14 11:17] iHiD commented on #6197
Hi @krupitskas - Thanks for opening the issue and your willingness to help! :)

I'm not sure computer graphics fits within Exercism's remit of teaching programming languages. It feels more like teaching a framework (e.g. React or machine learning), which at the moment is something we don't do at Exercism. It's something we may do in the future, and I like the idea of teaching computer graphics, bu

[2022-02-14 18:54] mrmanumultimedia opened #6244 "Looking for assistance"
I have been writing code to practice.  I have been trying to open a file in my command prompt and have been unsuccessful so far.  I was wondering if any of my Exercism participants could help or is that against the code of conduct?

[2022-02-14 20:08] kotp commented on #6244
We can not possibly help unless we know what you have tried, what you have expected to happen when you tried, and how you believe it is failing.

The [code of conduct](https://exercism.org/docs/using/legal/code-of-conduct) is available for reading, but I believe you will find that there is no directive to not help each other out.

But again, we can only help if you can give us the situation, and s

[2022-02-14 23:42] mrmanumultimedia commented on #6244
Great,

Ok I am practicing coding in python.  I am following a YouTube video that
has created a AI app.  I have saved the github file and now attempting to
open the files using my Windows terminal.   I tried to use my Anaconda
software( which has Jupiter notebook, spider and another IDE) to open the
file.  That's where I am stuck.  The video author is using sublime.  So he
just
Spaced enter sublim

[2022-02-15 12:47] iHiD commented on #6240
@ErikSchierboom One for you.

[2022-02-15 14:22] glennj commented on #6244
This is not a question about Exercism. Why did you decide to raise an issue in this repo?

[2022-02-15 16:03] kytrinyx commented on #6221
Thanks for providing such a detailed explanation @angelikatyborska!

@GKarhan I'm going to close this, as @angelikatyborska's response should be enough to get you past this blocker.

[2022-02-15 21:23] Italianmad commented on #5965
Hello I have problems as well with the 'submit' button isn't active. See in the picture.

The problems are in the exercise:
- Isogram
- Space Age

![Bildschirmfoto von 2022-02-15 22-18-59](https://user-images.githubusercontent.com/28998784/154151269-7fad3127-418a-455e-9b67-ac3369c245f8.png)

Thank you for the assistance.

[2022-02-15 22:44] SaschaMann commented on #5965
Hi @Italianmad 👋

That looks like a bug with the Clojure test runner and you might have more luck getting a response in [exercism/clojure-test-runner](https://github.com/exercism/clojure-test-runner).

In general, please provide the solution used to reproduce the bug in text so we can easily copy it for testing rather than as a screenshot.

[2022-02-15 23:02] kotp commented on #6203
Closing as this is now 3 weeks old, and I am hoping that it was helpful.  Leaving it open will not change that, but feel free to let me know if you need more information.  Let us know if it was helpful!

[2022-02-15 23:02] #6203 closed

[2022-02-16 09:07] ErikSchierboom commented on #6240
_TL;DR The icon for the above-mentioned contributions does not show up because the track that was contributed to (`zig`) is not in our database._

I've looked into this, and the reason for this is not that the track (which is `zig`) does not have an icon (because [it does](https://github.com/exercism/website-icons/blob/main/tracks/zig.svg)), but because the track is not in the database. At first I

[2022-02-16 10:49] iHiD commented on #6240
Yes. It's for maintainers to test them pre-launch. But we could now guard it so only maintainers can access, as we have that data in the db now.

I think add them to the db and add the guard so only maintainers can access them. Then once a track is close Tai can make an icon for them. I don't want him having to make lots that don't get used. So before that we need to check there's a placeholder ic

[2022-02-16 11:39] ErikSchierboom commented on #6240
@taiyab Could you create a placeholder icon for tracks?

[2022-02-16 13:43] iHiD commented on #5965
@ErikSchierboom Could you take a look at this pls. Let me know if you need me to dig out the raw test results for you.

[2022-02-16 15:47] taiyab commented on #6240
@ErikSchierboom https://github.com/exercism/website-icons/pull/109

I've called the placeholder icon `placeholder.svg`. Don't know if it needs to go into `/placeholders/` instead.

[2022-02-16 16:41] Threeinone opened #6246 "Submit command not found"
I'm learning Clojure in wsl, but when trying to submit my solution using
`exercism submit src/track_on_tracks_on_tracks.clj`
it returns
`exercism: command not found`
I downloaded the source code (Linux x86_64) to install and followed all of the instructions online

[2022-02-16 17:22] angelikatyborska commented on #6246
I assume those are the instructions that you followed, right? https://github.com/exercism/interactive-cli-walkthrough/blob/main/contents/linux/tarball.tw2 (sorry that I'm linking to the source, but the deployed CLI walkthrough application doesn't have URLs to specific steps).

Did you also follow this next step of modifying your `.bash_profile`? https://github.com/exercism/interactive-cli-walkthro

[2022-02-16 19:10] SleeplessByte commented on #6246
Can you also post the output to `which exercism`? It may be empty, it may be `'which' is not recognized as an internal or external command, operable program or batch file.`, and it may be `/path/to/exercism`.

[2022-02-17 07:10] megalekos opened #6247 "Test results should be grouped under their Task."
It would be easier to see if I'm done with a task if it were indicated somehow on the Instructions tab (like a check-mark in the list), and if the test results once run were grouped under a task headline:

**- Task 1**
-Test 1
-Test2

[2022-02-17 07:11] ErikSchierboom commented on #6248
I've transferred it back. I think the original issue was resolved, so I'll close this.

[2022-02-17 07:11] #6248 closed

[2022-02-17 07:41] kotp commented on #6093
Bumped here… 🐫

[2022-02-17 07:50] ErikSchierboom commented on #6240
I'm not sure we have a real strategy here. E.g. we have one file in `/placeholders`, but the `website` repo contains `blog-placeholder-article.svg` and `missing-exercise.svg`. @iHiD what would be your preference?

[2022-02-17 10:40] iHiD commented on #6240
`missing-track.svg`

[2022-02-17 13:16] iHiD commented on #6248
@Italianmad Is this still an issue for you?

[2022-02-17 19:27] marcandre commented on #5978
Just wanted to chime in. Locking the exercises is a really *really* bad idea.
Learning Elixir, I did a single "easy" execise, then 2 "medium" ones, then a bunch of "hard" ones. I would not have had the patience to wait.

[2022-02-17 22:57] iHiD commented on #6247
That is WIP here: https://github.com/exercism/website/pull/2409

It'll work with tracks which have test runners that conform to the latest spec.

(cc @ErikSchierboom)

[2022-02-18 10:06] ErikSchierboom commented on #6240
@SleeplessByte The missing icon should now appear as @taiyab has added the icons.

To prevent this from happening with future tracks, I've opened https://github.com/exercism/exercism/issues/6240

[2022-02-18 10:39] iHiD commented on #5978
Hi @marcandre. Firstly thanks for all your work in the Ruby ecosystem! Exercism wouldn't be here if it wasn't for people like you building the tech that underpins on.

I appreciate your opinion but I disagree. We've have had nearly 1m people use Exercism, and had hundreds of thousands of mentor discussions,  and we've learnt a huge amount from that, including that if you don't provide structure, p

[2022-02-18 11:22] #6240 closed

[2022-02-19 10:16] kotp opened #6249 "Number of interactions reported for a student is confusing."
I am wondering if there is a type of interaction that is counted, rather than just any interaction, as I have it reported 2 interactions when there is indication that there is a lot more than only two interactions with a student.

[2022-02-20 01:24] Ajcook1980 opened #6250 "Deprecated Ruby learning guide https://rubylearning.com/ on https://exercism.org/docs/tracks/ruby/learning"
The Ruby learning guide listed on https://exercism.org/docs/tracks/ruby/learning is no longer a Ruby learning guide.

"Ruby Learning"
 https://rubylearning.com/

It's now a review site for SquareSpace and Wix.

[2022-02-20 04:25] kotp commented on #6250
Thank you for reporting this.  Hopefully I can temporarily remove the reference, as I am still hoping to get that resolved at the source.

[2022-02-20 08:27] Kynson opened #6251 "[UI Bug]: Code Overflows the container on the Test Results Panel"
Hi,

I would like to report an UI bug. The content of the "Code Run" section on the Test Result Panel (Online Editor) overflows its container.

This issue is found on Safari Version 15.3

Screenshot: (Taken on [the JS bird watcher page](https://exercism.org/tracks/javascript/exercises/bird-watcher/edit) page)
<img width="412" alt="Screenshot 2022-02-20 at 16 23 02" src="https://user-images.githubu

[2022-02-21 15:19] bushidocodes opened #6252 "Red track appears to be live with zero exercises."
Excuse my Dark Mode plugin hackery!

On https://exercism.org/tracks, I see the following:

![image](https://user-images.githubusercontent.com/8700322/154983120-bf7965d8-902b-4eff-a5b7-876976be01d2.png)

The config for the Red track does not seem to be set to active

[code]

[2022-02-22 07:01] #6252 closed

[2022-02-22 11:14] AdnanAlamgir opened #6253 "User handle can't be changed for signing in with GitHub"
In the settings option, changing the user handle requires a password. But in the case of logging in with GitHub, there is no password for exercism, and GitHub's password doesn't work either.

[2022-02-22 13:27] joshgoebel opened #6254 "Auto-feedback bot should always flag default placeholder comments"
The auto-feedback mechanisms for all tracks should flag comments that the user should have removed such as:

[code]

[2022-02-22 15:47] iHiD commented on #6254
Are you thinking we could do this globally some how?

[2022-02-22 16:41] BethanyG commented on #6254
Only speaking for Python -- PyLint will complain about hanging TODOs in a file, so a bit (_only a bit_) worried it would be more work to then disable that mechanism in favor of a global warning.  I could probably turn it off in a config/exercise config though.

[2022-02-22 17:35] junedev commented on #6033
Just to clarify: In addition to Eriks stats, Go has lots of exercises with 2 test files but they don't show up in the script because we put the 2nd test file in the editor key as a workaround.

[2022-02-23 13:36] ErikSchierboom commented on #5833
Closed by https://github.com/exercism/website/pull/2344

[2022-02-23 13:36] #5833 closed

[2022-02-23 13:37] ErikSchierboom commented on #5806
We've not had any more reports on this issue due to the Java test runner now being a lot faster, I'm closing this issue. Thanks everyone for helping solve this.

[2022-02-23 13:37] #5806 closed

[2022-02-23 15:12] ErikSchierboom commented on #5844
Closed by https://github.com/exercism/kotlin-test-runner/pull/34

[2022-02-23 15:12] #5844 closed

[2022-02-23 18:03] petertseng commented on #6238
Another thing we could do is to have the test runner include the `--release` flag when testing specifically `alphametics` (and potentially `palindrome-products`)

[2022-02-23 20:44] SleeplessByte commented on #6238
Will that make it significantly shorter to run @petertseng ?

[2022-02-23 20:48] coriolinus commented on #6238
Yes, certain exercises are substantially faster to test in release mode, depending on the student implementation. We handle CI for those by checking for a flag file, `.meta/test-in-release-mode`. I don't know if the online editor has enough context to check for the presence of that file.

[2022-02-23 20:54] SleeplessByte commented on #6238
We started using the `custom` key in `config.json` for similar stuff. This you could do too!

e.g
[code]

You receive this file in test-runner (and analyzer), so you can read this out.

[2022-02-24 11:04] #6078 closed

[2022-02-24 12:05] ErikSchierboom commented on #5749
Is this issue still relevant? I do see rep being awarded to wren contributors: https://exercism.org/contributing/contributors?track_slug=wren Or is there something missing?

[2022-02-24 12:07] ErikSchierboom commented on #5724
The `editor_filepaths` are no included in the import files hash. For the other files, there is [this issue](https://github.com/exercism/exercism/issues/5992).

[2022-02-24 12:07] #5724 closed

[2022-02-24 13:08] #5835 closed

[2022-02-24 13:09] #6105 closed

[2022-02-24 13:53] #6247 closed

[2022-02-24 14:14] glennj commented on #6206
I think it would be great if the code panel on the community solution page was given as much weight (or close to it) as on a student's iteration page.

Here's a side-by-side view of one of my solutions, iteration versus published. Each page is zoomed out to 60%

![image](https://user-images.githubusercontent.com/122470/155540423-19187768-9cc6-449b-bda5-084c2be1edce.png)

[2022-02-24 15:59] kytrinyx commented on #6122
Thanks for the report! This is a known issue. We've rated it as high priority—which means that we do expect to get to it, though we can't promise a timeline, as there's quite a lot of high priority work on our plates.

I'm going to close this issue in favor of the one that we're using to track the work, here: https://github.com/exercism/exercism/issues/5661

Please subscribe to that issue if you w

[2022-02-24 15:59] #6122 closed

[2022-02-24 16:00] kytrinyx commented on #6253
Thanks for the report!

This is a known issue. We've rated it as high priority—which means that we do expect to get to it, though we can't promise a timeline, as there's quite a lot of high priority work on our plates.

I'm going to close this issue in favor of the one that we're using to track the work, here: https://github.com/exercism/exercism/issues/5661

Please subscribe to that issue if you

[2022-02-24 16:00] #6253 closed

[2022-02-24 17:09] iHiD commented on #6254
I see no real way to do this globally without having magic keywords in comments, but even there, I'm not sure that would work (for example if "TODO" was the keyword a student might themselves write "TODO" as a note for themselves). That said, @joshgoebel normally comes up with good ideas to things so I'm open to your thoughts! :)

[2022-02-25 08:35] chriseyre2000 commented on #5891
This seems to have happened for:

https://exercism.org/mentoring/requests/ee2055a64d7947c2acbc59ba4ae01819

and

exercism download --uuid=36174df349d64af2a18cbe10a7b219b8

This is what the website shows:
[code]

This is what gets downloaded by the cli:
[code]

[2022-02-25 08:36] chriseyre2000 commented on #5891
It's clearly by the same author as in their comments they are trying to remove the local variables.

[2022-02-25 10:57] iHiD commented on #5891
Thanks both. Fixed by https://github.com/exercism/website/pull/2462

[2022-02-25 12:01] #5891 closed

[2022-02-25 13:57] angelikatyborska commented on #6254
The Elixir analyzer has a check for those: https://github.com/exercism/elixir-analyzer/blob/main/lib/elixir_analyzer/exercise_test/common_checks/comments.ex

It clearly depends on the specific pattern we chose for those comments. I'm not sure if it would work globally. But it would be definitely great if other analyzers implemented this too.

[2022-02-25 14:02] joshgoebel commented on #6254
I think a few global magic keywords (consistent across all tracks) could provide some nice consistency here (for students working across tracks), but even without that for many tracks I think compiling a manual list could get you 80% there:

- "please remove"
- "SKELETON"
- etc

Tracks could also perhaps define such keywords in their `config.json` files or whatever...

[2022-02-25 15:12] Malik-Usman17 commented on #4983
After spending almost half an hour on my own and scratching my head, I came to this issue. Happily solve my issue then :)

[2022-02-25 21:08] glennj commented on #6254
The bash track ends the skeleton comments with
[code]
If the student submits them, I usually say "Please take the advice on line 24"

[2022-02-25 21:46] glennj opened #6255 "Broken image in concept exercise test results panel"
Expanding and contracting the task results works, but the "contract" icon is broken:

![image](https://user-images.githubusercontent.com/122470/155807381-8ec4b9d6-7749-42e0-8429-913cb70f621c.png)

[2022-02-25 21:59] R0bertDenir0 opened #6256 "Can't pass test in the IDE but passing on exercism platform"
Hello, I'm currently doing the Golang path . I did the lasagna exercise, and when I'm running a ```go test``` command it's not working, but when I submit my iteration on exercism it's passing the tests.
Also Golang works with a main function and a main package, all the exercises are composed without main file, so you can't run a ```go run``` command on your code, is it normal?
Thank you

[2022-02-26 00:09] kotp commented on #6256
The exercises on Ruby are usually written in the view of writing "library" style solutions. We are not really meant to have a `main` in general to run interactively.

I would suppose that it is something that is (mis)configured on your system, that would cause code that is written that will pass on the platform, but not on your system.

Without seeing the error messages that you see, I would only

[2022-02-26 06:10] markstanden opened #6257 "Gaming the system"
I noticed when looking at other students solutions, it appears possible (although I have not checked any further than a single post) to submit a failing entry (iteration 1), and gain access to the the completed solutions, copy and paste the top starred solution for the exercise (change a few variable names) and clock up points.

Top solution:
https://exercism.org/tracks/java/exercises/scrabble-sco

[2022-02-26 08:18] angelikatyborska commented on #6257
Hi!

Generally speaking, Exercism is not concerned with "cheaters". We have a limited capacity for handling problems, and we choose to focus on making the experience better for people that genuinely want to learn.

The whole platform is open-source, including its exercises. You can find every exercise and its example solution on GitHub (e.g. [Java's Scrabble Score](https://github.com/exercism/java

[2022-02-26 09:26] markstanden commented on #6257
No, In fact I like it a lot and have improved a great deal doing the challenges.  I'm not really sure what someone has to gain from this approach - besides having extra badges or points.

[2022-02-26 11:17] kotp commented on #6250
Closing this issue for now, hopefully I will be able to get enough information to reinstate it.

[2022-02-26 11:17] #6250 closed

[2022-02-26 12:29] #6257 closed

[2022-02-26 14:34] glennj commented on #6257
Students _can_ do that, but if someone has a goal of climbing the "rep" ladderboard, they're really going to have to invest time in Exercism: building a track, mentoring hundreds of other students, and so on.

[2022-02-26 15:05] DanielNoord opened #6258 "Move cursor to link after clicking "Create link""
When you add a link in the Github markdown editor your cursor is automatically placed on the `url` portion of the link instead of on the words you had previously selected. This makes it much easier to copy and insert a link.

I'm not sure if this is the right place to open the issue as this behaviour is not fully controlled by Exercism, but could be overwritten. To fix it completely one could cons

[2022-02-26 20:41] kotp commented on #6256
@exercism/go Any ideas?

What does the code look like for when someone that maintains the Go track looks at this?

[2022-02-26 20:42] kotp commented on #6256
Also, while you are on the go track, and have asked for mentoring, you can ask there as well.

[2022-02-26 21:20] andrerfcsantos commented on #6256
@R0bertDenir0 Can you post your solution please? Along with the solution, can you also post the files you have locally (`ls` output should suffice) and the contents for the test file too?

What you describe seems that can be a mismatch between your local files and the ones exercism knows about. Did you update the exercise recently? If so, did you also re-download it? Are the content of the test fi

[2022-02-27 00:41] jyergatian commented on #6151
I'm also having trouble connecting my GitHub account to my Exercism account.

When I navigate to **Settings** and click **Connect with GitHub**, a new page loads with URL `https://exercism.org/users/auth/github`. The body of that page is plain text `Not found. Authentication passthru.`.

GitHub and Exercism usernames are the same.

[2022-02-27 21:04] iHiD commented on #6255
@ErikSchierboom Let's sort this on Tues and work out why it's not deployed pls.

[2022-03-01 07:08] taiyab commented on #6219
Yea. Great idea.

I'll get a bunch of meta images done for different pages.

@iHiD Happy to update the titles?

[2022-03-01 20:43] chriseyre2000 opened #6259 "Profile Page: Mentored count does not match students helped"
I have just noticed an inconsistency on my profile: https://exercism.org/profiles/chriseyre2000
Contributions lists 2,855 Mentored but further down the page it has 2,843 students helped.

Is this difference 12 deleted accounts?

[2022-03-02 13:59] degradka opened #6260 "Lucian's Luscious Lasagna: misspelling"
// This stub file contains items which aren't used yet;
                                                      ^
                               more right would be putting "that" instead of which

[2022-03-02 14:25] degradka commented on #6260
In Rust track

[2022-03-02 18:23] codeTIT4N opened #6261 "For the sake of humanity please add DARK MODE to the website"

[2022-03-02 23:34] SleeplessByte commented on #6261
Duplicate of #6002  #5748  #6153 .

[2022-03-02 23:34] #6261 closed

[2022-03-03 07:38] vitalyPru opened #6262 "Debugging instructions are missing"
Please, consider the possibility to allow debug print during Rst tests.

[2022-03-03 10:46] kotp commented on #6262
This is already possible.  I do not remember how to expose this though.

But do you not have this ability when you run your tests locally?

[2022-03-03 11:21] vitalyPru commented on #6262
I just use only cloud version.
And if I put println!() in my solution, there are no any output in test results

[2022-03-03 11:29] kotp commented on #6262
Yes, `println()` would not be expected to show in the reports for testing.

If getting serious about the language, I do encourage local development though.  It gives control back to you, rather than relying on what we provide on the server.

[2022-03-03 11:33] kotp commented on #6262
I have sent out a "do you remember how" question in our chat.  Hopefully an answer comes soon for you regarding debugging output in the tests.

[2022-03-03 19:07] kytrinyx commented on #4229
One thing that wouldn't necessarily give good results quickly, but could provide a good aggregate over time is to ask them to compare the exercise to the one they completed right before it: easier, same-ish, harder.

[2022-03-03 20:57] SleeplessByte commented on #4229
Might not be great for difficulty, but would be pretty nice for tracking "difficulty to progress"

[2022-03-03 21:01] kytrinyx commented on #5903
Did this get done?

[2022-03-03 21:29] vitalyPru commented on #6262
I found,, that debug output works for structs, which derived Debug trait.
So. issue is closed.

[2022-03-04 01:15] #5850 closed

[2022-03-04 01:34] kytrinyx commented on #5648
@iHiD did you take care of this step?

[2022-03-04 07:32] ErikSchierboom commented on #5682
This was a bug in the website where it looked like you could work with the online editor, but it doesn't yet have one (sorry).

[2022-03-04 07:32] #5682 closed

[2022-03-04 08:37] ErikSchierboom opened #6263 "Use consistent name for tooling deployment workflow"
To allow for the (Docker) deployment workflow to be automatically synced across all tooling repos from the exercism/org-wide-files repo, we need them to all have the same name. We'll rename the file to `deploy.yml` as that best describes its purpose: ensuring that the tooling is deployed. The fact that we use Docker internally as our deployment mechanism is just an implementation detail

[2022-03-04 10:40] #6263 closed

[2022-03-04 14:46] iHiD commented on #6262
Does this need adding to the docs for this? @ErikSchierboom - there's a md doc for this specifically, right?

[2022-03-04 16:06] SleeplessByte commented on #6262
@iHiD correct, this section is missing for rust because the content is missing

![image](https://user-images.githubusercontent.com/1964376/156797992-b9ebeabe-1b41-4c0c-99ea-993218078908.png)

[2022-03-04 16:22] AronCodes21 opened #6265 "Umm mobile version is broken, fix it pls"

[2022-03-04 16:26] NobbZ commented on #6265
What are you talking about exactly?

There is no android nor iphone app available, and the website is simply desktop centric, which might get fixed eventually but isn't one of the highest priorities as far as I understand.

[2022-03-04 16:32] AronCodes21 commented on #6265
Yes i was talking about the website, sorry about that.
It's just that some of the content doesnt align well, and are off the screen. Haven't found any problems with functionality tho

![image](https://user-images.githubusercontent.com/99847861/156801732-dc29b73a-8055-4d3b-9de8-0c4dd0b89470.png)

![image](https://user-images.githubusercontent.com/99847861/156801753-9f189aff-930d-4ab8-a13b-4cba6f3d4

[2022-03-04 17:35] SleeplessByte commented on #6265
Duplicate of #6036  #6188  #6241  #6217 .

It's on the roadmap!

[2022-03-04 17:35] #6265 closed

[2022-03-04 17:36] AronCodes21 commented on #6265
Glad to hear that!

[2022-03-04 19:13] soulsam480 opened #6266 "Help: Elixir beginner : Exercise solution failing test"
Hello ,
I'm a beginner to elixir and while running tests for this [exercise](https://exercism.org/tracks/elixir/exercises/rpg-character-sheet/edit) it's failing. I'm not sure what am I doing wrong. Can anyone please help. Thanks in advance 💜
![Screenshot 2022-03-05 at 12 40 08 AM](https://user-images.githubusercontent.com/35460828/156826908-ee5e8c79-955e-418b-9f73-2c7902f5a0b5.png)

[2022-03-04 21:02] angelikatyborska commented on #6266
Hi! At a first glance three mistakes stand out to me:

1. `IO.inspect` already adds `": "` to whatever string you pass in the `:label` option, so you don't need to write `label: "Your character: "`, but rather `label: "Your character"`
2. The call to `IO.puts(" ")` is unnecessary
3. You don't need to repeat `data` on the last line of the `run` function. `IO.inspect` returns its first argument unch

[2022-03-04 21:51] kytrinyx commented on #5716
(ping) @joshgoebel - do you know if this is fixed?

[2022-03-04 22:08] kytrinyx commented on #5886
I'll go ahead and close this as duplicate. Thanks for the report!

[2022-03-04 22:08] #5886 closed

[2022-03-04 22:11] kytrinyx commented on #5618
I wonder if this is the same issue as #5771.

(Also: 👋 Hi Mark, it's been a while!)

[2022-03-04 22:22] kytrinyx commented on #5791
I'm going to go ahead and close this issue, as it appears to be solved. @BethanyG if there's anything actionable for the Python track, would you ensure that there's an open issue for it?

[2022-03-04 22:22] #5791 closed

[2022-03-04 22:26] BethanyG commented on #5791
Linking up [Python Issue #2953](https://github.com/exercism/python/issues/2953), just to make sure we have a record.  Docs still need better clarification, and automatic download of the `init` is still in process.

[2022-03-04 22:59] iHiD commented on #5618
This would be an ETL issue (3 days before the day of this issue was ETL). The records were created then, so they got that timestamp. I also suspect the "3 yrs" is a different ETL issue from the previous ETL! So I think we can probably close this - I feel like trying to fix this data now is probably going to cause us more pain than good. Sorry, Mark!

[2022-03-05 02:25] ftt commented on #6238
So, is this something I can use right now? If so, can you please provide more details on how to do that? I couldn't find anything in the docs for Exercism in general or for the Rust track in particular.

[2022-03-05 07:39] vitalyPru opened #6267 "Working from different computers."
I use exercism from two computers, depend on time of day.
I enter under the same account on both of them.
But when I try to use "Continue in editor"  button, I see solution in the same state, which was when I leave on this particular computer.
No any changes, made on another computer applied.
It's very inconvenient.

[2022-03-05 08:46] kotp commented on #6267
You might want to use Exercism locally, and  sync your Exercism workspace folders between your computers.  There are quite a few ways to do so. One might be using version control with a remote repository.

Another approach might be to synchronize your browsers "cache" folders between your two computers.

[2022-03-05 14:02] ErikSchierboom commented on #5770
This has been fixed and can be closed.

[2022-03-05 14:02] #5770 closed

[2022-03-05 14:03] verdammelt commented on #5618
OK, I'll close it.

Also 👋 @kytrinyx it has been a while!

[2022-03-05 14:03] #5618 closed

[2022-03-05 16:39] Sylveon76 opened #6268 "Mobile App"
Perhaps a mobile app? I feel like it would be easier for mobile users to have an app rather than use the site all the time

[2022-03-05 17:02] soulsam480 commented on #6266
Thanks for your comment and pointing out my mistakes. 👏🏻

[2022-03-05 17:05] #6266 closed

[2022-03-05 18:18] #5813 closed

[2022-03-05 18:23] kytrinyx commented on #5836
I'm going to go ahead and close this as a duplicate, since both issues mentioned are tracked elsewhere. Thanks for the report!

[2022-03-05 18:23] #5836 closed

[2022-03-06 02:24] kotp commented on #6268
I am going to close this, but this seems like it could be a good comment for #6036.

[2022-03-06 02:25] #6268 closed

[2022-03-06 07:08] degradka opened #6269 "A question about exercism."
Hello, I like Exercism and I would be happy to help in translating this beautiful website for other languages!
Unfortunately, I don't see any place to help to translate or even change the language. The question is, would this be implemented?
Or maybe connect Crowdin to Exercise. Thank you.

[2022-03-06 13:25] wischi-chr opened #6270 "Solution Overview shows number of comments even if comment section is disabled."
I just saw this on the Rust track here (but I guess it's not specific to the Rust track):
https://exercism.org/tracks/rust/exercises/triangle/solutions?order=most_starred

The most starred solution shows a comment symbol
![image](https://user-images.githubusercontent.com/2495113/156925124-2535f793-ce8f-431d-be28-7d963d06a0bd.png)

but when I click it I can't see the comments because they are not e

[2022-03-06 14:26] TimonVS opened #6271 "Homepage is horizontally scrollable"
The homepage shows a horizontal scrollbar, because of an image.

The following suggestions will probably fix the issue:

- Change CSS of main graphic:

[code]
- Add `width` and `height` attributes to `img` element [to preserve aspect ratio and to prevent layout shift](https://developer.mozilla.org/en-US/docs/Web/Media/images/aspect_ratio_mapping).

## Screenshots

![CleanShot 2022-03-06 at 15 16 3

[2022-03-06 18:48] angelikatyborska commented on #6270
Hi! Yes, that's a very good point. Somebody already noticed the same thing a while ago: https://github.com/exercism/exercism/issues/5991

Feel free to subscribe there to receive updates. I'm going to close this issue because we want to avoid duplicates.

[2022-03-06 18:48] #6270 closed

[2022-03-07 01:25] oscaralanpierce opened #6272 "Allow people to submit draft exercises to access mentorship without submitting failing code"
Hello maintainers, and thanks for all you do! I'm a neurodivergent person and I have an accessibility suggestion that may help others like me. My suggestion is to enable people to submit "draft" exercises to access mentorship without actually having a draft graded/tested. I'm not sure what would be involved in implementing this but if it's something I have the technical skills to work on I'd be gl

[2022-03-07 01:43] BethanyG commented on #6272
Hi @danascheider 👋🏽

Thank you for submitting this issue.  I think being able to submit draft work for feedback is really interesting -- I know the community has talked about similar ideas, but haven't worked through all the details of design and implementation.  I'll let the UX designer and engineers for the website comment on how/where it might be on the roadmap.

But more to your point and wher

[2022-03-07 11:12] SleeplessByte commented on #6271
Thanks @TimonVS! This is part of a larger ticket on our roadmap: responsiveness.

Duplicate of #6036  #6188  #6241  #6217 .

[2022-03-07 11:48] SleeplessByte commented on #6269
Hi there!

We have this on our future roadmap. For now, using google translate is your best bet!

[2022-03-07 11:48] #6269 closed

[2022-03-07 12:53] iHiD commented on #6271
_(Thanks for triaging, DJ 💙  This is actually in scope because the external site should be responsive. So I've reopened.)_

We made changes to this last week to reduce flashes of CLS so it looks like I've made a mistake somewhere. Will fix this afternoon. @TimonVS Thanks for reporting.

[2022-03-07 14:17] iHiD commented on #6271
@TimonVS What browser are you on? Could you check the CSS on the image please and let me know how your browser is interpreting it. The CSS for this image should have `width: 90vw` so it shouldn't need to have a `max-width: 100%` and I can't reproduce the issue locally. Thanks.

[2022-03-07 15:23] SleeplessByte commented on #6271
@iHiD I'll make sure external site responsiveness issues reach you! 😄

[2022-03-07 15:58] TimonVS commented on #6271
@iHiD I'm on Firefox, but the same happens in Chrome (both on latest versions). `width: 90vw` doesn't respect the container (=90% of viewport width),  `max-width: 100%` does (=100% of container width/1440px), unless you wanted the image to  break out of the container? :)

[2022-03-07 16:20] SleeplessByte commented on #6271
I have the same issue as Timon, and you can see here why:

![image](https://user-images.githubusercontent.com/1964376/157074050-f58781f5-f8fb-4ad6-9641-02cdd6e0579c.png)

The left side is > 10vw.

Personally I would solve this by stop overflow on its section/container:
![image](https://user-images.githubusercontent.com/1964376/157074238-2b58b822-0240-4754-913c-46f875f5ea25.png)

[2022-03-07 17:33] iHiD commented on #6271
Ah - it's because you're on a bigger screen than me!

How do I set the image height doing it the way you suggest?

[2022-03-07 18:11] TimonVS commented on #6271
If you set the image's `width` and `height` attributes on the `img` element to the original dimensions, the browser will retain the aspect ratio of the image, and prevent layout shift. So you don't need to set the height of the image in CSS :). You can read more about this here: https://developer.mozilla.org/en-US/docs/Web/Media/images/aspect_ratio_mapping#a_new_way_of_sizing_images_before_loading

[2022-03-07 20:07] iHiD commented on #6271
@TimonVS TIL! Awesome, thanks.

[2022-03-07 22:51] #6271 closed

[2022-03-08 07:58] larshp commented on #6186
@ErikSchierboom try this package, https://www.npmjs.com/package/codemirror6-abap

and yea, I'm still trying to just get it working, without spending too much time on rewriting it

[2022-03-08 09:43] ErikSchierboom commented on #6186
I've not been able to get it working. The problem is that the codemirror6-abap package exports a `StreamParser<any>` instance, whereas we create a [Compartment](https://codemirror.net/6/docs/ref/#state.Compartment) instance in our code, which requires an [Extension](https://codemirror.net/6/docs/ref/#state.Extension) to be passed to its constructor function. @joshgoebel is it possible to wrap/conv

[2022-03-08 10:50] larshp commented on #6186
the legacy parts, https://github.com/exercism/website/blob/main/app/javascript/components/misc/CodeMirror/languageCompartment.ts#L44-L234 use StreamParser?

[2022-03-08 10:56] ErikSchierboom commented on #6186
Weird. I'll dig into it a bit deeper

[2022-03-08 11:27] ErikSchierboom commented on #6186
@larshp I found the issue. The type that is returned is `StreamParser<any>`, but it should be `StreamParser<unknown>`. Could you update the package?

If I temporarily hard-code this in the source, it looks to be working:

![image](https://user-images.githubusercontent.com/135246/157229521-f7588ffb-036b-4a7d-81f2-fd5a5ea9e480.png)

[2022-03-08 12:09] larshp commented on #6186
phew, thats good news, try again, 0.1.2 published

[2022-03-08 13:13] ErikSchierboom commented on #6186
Sorry, next error:

[code]

[2022-03-08 13:17] ErikSchierboom commented on #6186
Could you try to fix the codemirror dependencies to match those we use?

[code]

[2022-03-08 14:02] ErikSchierboom commented on #6186
@larshp Works! PR opened: https://github.com/exercism/website/pull/2495

[2022-03-08 15:25] #6186 closed

[2022-03-08 23:20] #5956 closed

[2022-03-09 00:05] bkc opened #6274 "Show student track objectives while mentoring a submission"
Student track objectives are visible in the queue.

However once a submission has been selected, the student's track objectives are not visible.

I think there is space on the right side just below 'discussion / scratchpad / guidance' to put the student track objectives so they are visible while mentoring a submission.

[2022-03-09 14:02] DharunManivel opened #6275 "New Feature Request: Dark Mode"
It would be great if exercism have a dak mode!

[2022-03-09 14:26] iHiD commented on #6275
Closing as duplicate: https://github.com/exercism/exercism/issues/6261#issuecomment-1057497782

[2022-03-09 14:26] #6275 closed, assigned to nobody

[2022-03-09 16:15] Tohnmeister opened #6276 "Online tests for C++ gigasecond fail because of boost issue"
I just submitted my C++ solution for the Gigasecond exercise. But it seems the online tests fail because of a build issue. It shows the following error:

[code]

[2022-03-09 20:54] iHiD commented on #6276
(cc @exercism/cpp)

[2022-03-10 10:27] dviererbe commented on #6151
I have the same problem as @jyergatian.

[2022-03-10 10:59] ErikSchierboom commented on #6151
I'm looking into this

[2022-03-10 12:46] mbtools opened #6277 "Greeting by first name on dashboard"
Currently, you are greeted by you user name... not very nice

![image](https://user-images.githubusercontent.com/59966492/157664454-1650253d-f598-4105-93d8-436792bf97b9.png)

I suggest to change it to your first name:

**Welcome back, Marc!**

[2022-03-10 14:21] #6255 closed

[2022-03-10 14:26] ErikSchierboom commented on #6151
@dviererbe @jyergatian We've just deployed a fix. Could you try to go to the settings page and re-connect with GitHub again? Let me know if it now works (or not)

[2022-03-10 14:42] dviererbe commented on #6151
It worked for me. Connected my Account a few seconds ago.

Thank you! ❤️

[2022-03-10 14:45] dviererbe commented on #6119
Fixed with #6151

[2022-03-10 15:34] iHiD commented on #6151
@Wingless-Archangel Can you check whether you have a **verified** email address on GitHub please? That often causes issues.

[2022-03-10 15:38] Wingless-Archangel commented on #6151
I think my e-mail is verified. I guess that my GitHub username contains a special character.

![Screenshot 2022-03-10 at 16 37 01](https://user-images.githubusercontent.com/3817329/157697040-9963b933-1d68-4d85-a294-53fd4e887fec.png)

[2022-03-10 20:06] hanisntsolo commented on #1778
how to you upload custom file from a path?

[2022-03-10 20:39] wischi-chr opened #6278 "A lot of newlines when code is copied from the online editor"
When mentoring I often copy some code from the mentored solution to local editor (to auto-format it or to let some static code analyzers highlight a few things). Currently once I copy the code and paste it anywhere there will be five newlines added between each line of the original code. Would be great if we could copy the code as it is.

[2022-03-10 21:08] kotp commented on #6277
The user name was (presumably) chosen by the user, some users consider it a friendly nickname.  I am not sure we can assume that it is not very nice.  But I do agree it would be nice to be able to select which way you would want to be addressed.  When addressed by my user name, I smile, because it has 20+ years of memories behind it.  When I see my first name, I assume I am being greeted by someon

[2022-03-10 21:12] glennj commented on #6278
You don't use the CLI to download it?
![image](https://user-images.githubusercontent.com/122470/157755644-7585be82-8cfe-43b0-b8c7-ad29bc7f241e.png)

[2022-03-10 21:33] wischi-chr commented on #6278
I just saw the button on the right to copy to clipboard which works fine. I have not tried the CLI for mentoring sessions yet - I will give it a try.

Should I close this ticket or keep it open? Because copying only parts of the code (like a single method) would still lead to strange formatting, but for me I think it's fine to copy everything into a temp file and than only copy that parts I care a

[2022-03-10 22:35] SleeplessByte commented on #6278
Are you happening to use Firefox? If not, which browser are you using? There are a few known issues with a few specific OS/browser combinations.

[2022-03-11 00:42] jyergatian commented on #6151
I can confirm this issue is now resolved for me. I was successfully able to connect my GitHub account.

[2022-03-11 04:09] kotp commented on #6278
I download the exercise locally, as it lets me see all the things, and copy and paste as needed to bring back into the discussion without worrying about the workings of the browser's copy and paste functionality.  So there are a lot of advantages to working from the downloaded exercise.

I do not mean to say "Don't fix the copy and paste functionality" and even think that there could be ways to ma

[2022-03-11 07:56] kotp commented on #1778
@hanisntsolo this is not the issue for that question, the question was how to move the exercism working folder.

You are very welcome to ask at the [support channel] for interactive help for what it is you are trying to do.  Please do show what you have done, what you expected to happen, what happened and we will be able to understand better how to help you.

If you prefer, you could also open an

[2022-03-11 08:08] ErikSchierboom commented on #6151
@Wingless-Archangel Are you referring to dash character?

[2022-03-11 11:15] stmllr opened #6284 "Run benchmarks in online editor tests"
I was pointing a student to benchmarks as described in
https://exercism.org/docs/tracks/go/tests

The student uses the online editor on exercism.org and asked if it was possible to run benchmarks there.

What do you think?

[2022-03-11 11:20] Wingless-Archangel commented on #6151
Yes.

On Fri, 11 Mar 2022 at 09:08, Erik Schierboom ***@***.***>
wrote:

[2022-03-11 11:24] iHiD commented on #6278
Is this related to https://github.com/exercism/exercism/issues/5622

[2022-03-11 11:38] iHiD commented on #6277
@mbtools The main challenge here is that we don't have first names stored, only full names. And it's impossible to reliably extract a first name from a full name.

So it's not something we can just automatically do, but we could add an "how do you want to be addressed" field, which could be used here, and also in mentoring, etc (as @kotp suggests)

[2022-03-11 12:27] NobbZ commented on #6277
@mbtools Some consider it "not very nice", other though consider it the only true way to address them.

Even though I am very open with my given/public/RL name, I simply prefer to be addressed as "NobbZ" in most circumstances.

In my case it is already at a stage that even my parents, my wife, my kids, my colleuges, and business partners and customers call me that way. It feels unnatural to me to

[2022-03-11 12:41] mbtools commented on #6277
I apologize. I temporarily forgot that it's a site for developers 😉

Well, you already have a setting for "How would you like to be addressed?" but it's just about pronouns...

![image](https://user-images.githubusercontent.com/59966492/157868257-3f481b11-355f-4851-8306-b2b2f4b0bd81.png)

The obvious solution is to let the user define how they would like to be greeted.

[2022-03-11 16:41] SleeplessByte commented on #6277
Yes, @mbtools , I think that's exactly what @iHiD is proposing. I would like to see that too.

[2022-03-11 18:38] wischi-chr commented on #6278
Yes I was using Firefox and it's the same behaviour as described here https://github.com/exercism/exercism/issues/5622#issuecomment-910514507 so im closing this because it's a duplicate.

[2022-03-11 18:38] #6278 closed

[2022-03-11 19:12] DeepspaceFreelancer opened #6279 "Centralized enable comments settings"
I can enable comments for each exercise, but there is no way to have it enabled by default.

There is this article how to do it:

* https://exercism.org/blog/introducing-community-comments

but could not find it or it is broken.

Please update the article about the current possibilities.

[2022-03-12 04:17] BethanyG opened #6280 "[Your Published Solutions]: Missing "no" in Unpublish Solution Modal"
Was un-publishing a solution, and noticed that the confirmation modal was missing a "no" on the second line:

![2022-03-11_20-07-53](https://user-images.githubusercontent.com/5923094/158003311-86b02c6f-8c05-4ca5-bd95-567ac3a88e9b.png)

[2022-03-12 09:01] wischi-chr commented on #5999
I'm closing this because the new icons are great 👍 thank you.

[2022-03-12 09:02] #5999 closed

[2022-03-12 17:24] angelikatyborska commented on #6279
Hi! Thanks for the input. It's definitely valid, and a lot of people agree with you - there are already similar issues: https://github.com/exercism/exercism/issues/5953 and https://github.com/exercism/exercism/issues/5987

Feel free to add your opinions there and subscribe to them to get updates. I'm going to close this one because we want to avoid duplicates.

[2022-03-12 17:24] #6279 closed

[2022-03-12 18:14] SleeplessByte commented on #6274
I _think_ we have a ticket about this somewhere, but can't find it. Either way, I agree with you and I believe it's already on the roadmap.

Can you confirm @iHiD or @ErikSchierboom ?

[2022-03-12 18:20] SleeplessByte opened #6281 "Published solution says 0 comments despite there being comments"
In all places where I can see my solution it reports as 0 comments given...
https://exercism.org/profiles/SleeplessByte/solutions
https://exercism.org/tracks/javascript/exercises/poetry-club-door-policy/solutions
![image](https://user-images.githubusercontent.com/1964376/158029889-7b6bf0bc-e159-454d-9fb5-85d3d9febe8c.png)

...despite there being comments.
https://exercism.org/tracks/javascript/exe

[2022-03-12 18:21] SleeplessByte opened #6282 "Other solutions for exercise includes current solution"
https://exercism.org/tracks/javascript/exercises/poetry-club-door-policy/solutions/SleeplessByte
![image](https://user-images.githubusercontent.com/1964376/158029956-a6831328-55c0-478d-97fc-55c06aacb8dc.png)

It's probably not `.where.not(id: current_solution.id)`.

[2022-03-13 14:27] scmbradley opened #6283 "Filter by Learning Mode"
The filter option on the tracks page doesn't appear to have a way to filter for tracks that have a "Learning Mode" syllabus available. This seems like a natural thing to filter by.

[2022-03-14 18:19] colincullen commented on #6051
Tayiab,

The Punchcard tooltips you mention do not fully display. They do not show the full card.

![Screen Shot 2022-03-14 at 2 14 44 PM](https://user-images.githubusercontent.com/2993618/158235480-1b33ece9-9a61-40ac-8e41-ae3e89f0ea10.png)

The bottom part of the card informs the prerequisites required to unlock the locked problem.
This is frustrating. Maybe there is something else I need to know

[2022-03-14 18:47] SleeplessByte commented on #6051
@colincullen this may be something with font/display settings. Do you perchance use a larger display size in your browser?

This is how it's supposed to look:

![image](https://user-images.githubusercontent.com/1964376/158240325-d4cbc3ad-70fd-4092-abef-1c69035ec4a9.png)

[2022-03-15 08:11] ErikSchierboom commented on #6151
@Wingless-Archangel Could you try again and keep track of the exact time at which you're making the attempt? That makes it easier for me to look into the logs.

[2022-03-15 09:50] dviererbe opened #6285 "You can't navigate to the "Not-for-profit" Documentation (Server returns HTTP 500 Error)"
You can't navigate to the "Not-for-profit" Documentation. It will return an *HTTP 500 Server Error*:
![Screenshot of the HTTP 500 Server Error](https://user-images.githubusercontent.com/23220572/158349854-682732d4-4dd9-4d16-be64-8e49434c3066.png)

# Steps to reproduce:
1. Open the [Exercism Documentation](https://exercism.org/docs)
2. Click on the [`Not-for-profit`](https://exercism.org/docs/organ

[2022-03-15 10:23] angelikatyborska commented on #6285
Thanks for pointing it out!

This issue was already reported here: https://github.com/exercism/exercism/issues/5680

I'm going to close this issue because we want to avoid duplicates.

[2022-03-15 10:23] #6285 closed

[2022-03-15 18:03] IMPranshu opened #6286 "Implementing Sitewide Dark Mode toggle"
Hello, the team of Exercism. I was looking to switch the website of Exercism.io to dark mode and I didn't find any toggle in your site to do that. We can work on implementing that on the site.

[2022-03-16 02:47] kotp commented on #6286
[This list of issues concerning dark mode][1] is available if we search for dark mode for the organization.

[1]: https://github.com/search?q=org%3Aexercism+dark+mode&type=issues

[2022-03-16 02:47] #6286 closed

[2022-03-16 17:40] BethanyG opened #6287 "[Practice Exercises]: Adding Horizontal Lines in Hint File Breaks Hint Display"
For an example, see [this PR](https://github.com/exercism/python/pull/2973#issuecomment-1068891557) on the Python track.
This particular `hint.md` file needed a way to "section" the various hints given, but inserting a horizontal line "breaks" things.

Since all hints for practice exercises need to be under a "General" section, it is difficult to break up or otherwise group hints into strategies o

[2022-03-18 21:41] SaschaMann opened #6288 "Add aliases/slugs to track search"
Searching for `wasm` doesn't find the WebAssembly track. The search should also look at slugs and perhaps manually configured aliases.

[2022-03-19 03:56] codeiotic opened #6289 "[Accessibility] Dropdown disappears while navigating via keyboard"
https://user-images.githubusercontent.com/73734376/159105669-e2bc3cea-ea18-4e9d-a553-159514b8b34b.mp4

Here's a screenshot of the console
![2022-03-19](https://user-images.githubusercontent.com/73734376/159105733-111c1fa6-9ce8-401c-8a5e-84f727eeaf20.png)

[2022-03-19 07:38] angelikatyborska commented on #6289
I'm also observing problems with this element, but they look a bit different (macOS Firefox). When I open it and try to tab through its options, trying to focus the second option instead brings focus back to the "..." icon which makes it impossible to reach other items of the menu than the first one.

![2022-03-19 08 36 37](https://user-images.githubusercontent.com/7852553/159112291-8586421c-38ab-

[2022-03-19 18:10] locriacyber opened #6290 "Code editor don't preserve indentation when writing Nim"
From looking at the source code, it uses `react-ace` as editor. Nim is already supported in Ace, so I think it should be easy to use Ace.

You can try Ace out here: https://ace.c9.io/build/kitchen-sink.html

[2022-03-19 18:12] locriacyber opened #6291 "Website title missing on most pages"
On most pages, the page title in simply "Exercism". In browser history this is confusing.

[2022-03-19 18:18] NobbZ commented on #6290
What exactly do you mean? Is indentation completely removed for you? When I did my nim exercises (only a handful) I did not have any problems with the editor.

And the editor is expected to use 2 spaces per level in nim:

https://github.com/exercism/nim/blob/main/config.json#L13-L17

[2022-03-19 18:48] locriacyber commented on #6290
When I press "Enter" key, there is no auto indentation.

[2022-03-19 19:31] SleeplessByte commented on #6289
You should not be able to _tab_ through the options. If this is a "menu", then the "correct" keyboard navigation would be arrow keys, and optionally short keys.

[2022-03-19 21:12] angelikatyborska commented on #6289
Oh, I see. Then it behaves "as expected" even though that was totally unexpected to me 😂. I though a "menu" it's just a list of links so I could tab to all of them.

[2022-03-19 22:13] SleeplessByte commented on #6289
It's probably unexpected to you because the majority of sites implements this incorrectly (as in, not at all, and then each link has a tab-stop, if they are links/buttons).

See [this section of w3c's tutorials on Application Menus](https://www.w3.org/WAI/tutorials/menus/application-menus/#keyboard-behavior)

[2022-03-20 10:11] 552020 opened #6292 "Elm Track - Robot Simulator - All tests passed but not able to complete the exercise"
I tried many times also to submit the solution through the CLI: all tests have been passed but it says 'failed' nonetheless.

![image](https://user-images.githubusercontent.com/60273337/159157571-458f2e95-ad5a-4c56-ba83-f1513d9aae0c.png)

[2022-03-21 05:55] baott0690 commented on #6074
The same problem happens to me today, too. I haven't received any confirmation email. Resending is also not working.
Can you please recheck this problem once again? @iHiD

[2022-03-21 19:06] kytrinyx commented on #6047
The linked PR got merged. I'm going to go ahead and close this issue.

If anyone sees any part of this that is not yet resolved, please holler so we can reopen and get it fixed!

[2022-03-21 19:06] #6047 closed

[2022-03-21 19:09] #5814 closed

[2022-03-22 09:42] SirSharanChakradhar opened #6294 "Please Add Solidity Language."
We all know Web 3 is going big everyday. Could you guys please add Solidity Language and its exercise's?

[2022-03-22 11:42] angelikatyborska commented on #6294
Duplicate of https://github.com/exercism/exercism/issues/5417

Somebody already requested this in 2020 (https://github.com/exercism/request-new-language-track/issues/80) and did some work: [exercism/solidity](https://github.com/exercism/solidity) but it doesn't look like there's a lot of interest in finishing it. A lot of work still needs to be done. If you're interested in helping, go to that rep

[2022-03-22 11:42] #6294 closed

[2022-03-22 14:32] bushidocodes opened #6295 "500 Errors on Not-For-Profit Link in Docs"
When I click this link:
![image](https://user-images.githubusercontent.com/8700322/159505425-9f99c23d-f678-4a03-8c38-a689f0c68c5d.png)

I get a 500 error on this route https://exercism.org/docs/organisation
![image](https://user-images.githubusercontent.com/8700322/159506005-605c0abb-3467-4b92-b366-258daa5fee39.png)

[2022-03-22 14:35] angelikatyborska commented on #6295
Thanks for pointing it out!

This issue was already reported here: https://github.com/exercism/exercism/issues/5680

I'm going to close this issue because we want to avoid duplicates.

[2022-03-22 14:35] #6295 closed

[2022-03-22 19:43] kytrinyx commented on #6291
Thank you, @locriacyber. I agree that this would be a good improvement.

[2022-03-22 19:47] kytrinyx commented on #6198
@ErikSchierboom Would you mind putting this on your backlog?

[2022-03-22 19:54] kytrinyx commented on #6182
@ErikSchierboom I think this is still a problem. Would you put this on your backlog, please?

[2022-03-22 20:01] kytrinyx commented on #5938
We think this is fixed. @bobtfish are you still seeing this issue?

[2022-03-22 20:01] kytrinyx commented on #5633
@joshgoebel do you know if this is still an issue?

[2022-03-22 23:26] SaschaMann commented on #6239
One thing to consider: what should be used if the user explicitly leaves them blank?

[2022-03-22 23:37] SaschaMann commented on #6277
Related discussion in https://github.com/exercism/exercism/issues/5778

[2022-03-23 02:32] SleeplessByte commented on #6239
`they` or `<username>` would imo be appropiate.

[2022-03-23 08:58] ErikSchierboom commented on #6198
Sure

[2022-03-23 08:58] ErikSchierboom commented on #6182
Will do

[2022-03-23 09:07] #6220 closed

[2022-03-23 15:19] NobbZ commented on #6239
I think as well using "they" as a neutral pronoun or the users screenname to avoid pronouns at all are most appropriate

Though I think I prefer "they" (as it is now) to avoid repeated use of the nickname in a single sentence.

[2022-03-24 08:41] BethanyG opened #6300 "Allow Maintainers (and maybe High-Rep Mentors) Access to Exercises Tagged WIP"
While exercises that are tagged `WIP` in `config.json` are partially _viewable_ via URL (_see [this exercise](https://exercism.org/tracks/python/exercises/pretty-leaflet) and [this one](https://exercism.org/tracks/python/exercises/restaurant-rozalynn) for the Python track_), they are locked, and cannot be "worked".

It would be great if there was a way for the above groups to "preview" or "test ou

[2022-03-24 10:09] justinbanaga opened #6301 "Create new track for [SOLIDITY]"
Crucial for Web3 and Blockchain

[2022-03-24 11:20] iHiD commented on #6301
Please search for old issues before opening new ones: https://github.com/exercism/exercism/issues?q=is%3Aissue+is%3Aclosed+solidity

[2022-03-24 11:20] #6301 closed

[2022-03-24 12:33] StevenBontius commented on #6211
I'm having similar issues, only 3 out of 5 iterations are available.. All code uploaded via CLI on windows. Closing the browser page and reloading the page resolves the issue.

![bob](https://user-images.githubusercontent.com/82933787/159916515-95a02c3f-138d-41ae-bbb6-77ef7dcbf64c.jpg)

[2022-03-24 16:55] thecloudguy-engineer opened #6302 "Something wrong with the "Number of lines parameter" when you publish your solution"
You can check my code by clicking on the link. The number of lines is less than 35 but it shows 125 when you submit.

https://exercism.org/tracks/go/exercises/luhn/solutions/thecloudguy-engineer

if you do a quick search on community solutions, you can find this discrepancy. thanks and amazing stuff by exercism team!

[2022-03-24 17:05] iHiD commented on #6302
@thecloudguy-engineer Thanks for following up and opening the issue!
@ErikSchierboom One for you to check pls :)

[2022-03-24 17:22] SleeplessByte commented on #6302
I think this is tests + solution, looking at the line counts. That seems to be about 125 (stripping comments and whitespace)

[2022-03-24 17:31] SleeplessByte opened #6303 "Cannot update published iteration to different iteration"
![image](https://user-images.githubusercontent.com/1964376/159975802-bbc56261-6bb4-4373-99e3-307c38c47483.png)

When updating a single-published iteration to a new one, you only see that single published one in the drop down.
After selecting "all", you can select _all_ the iterations in the dropdown.

[2022-03-24 17:33] SleeplessByte opened #6304 "Change published iteration dialog feels akward with scrolling"
![image](https://user-images.githubusercontent.com/1964376/159976090-2ed78e58-297a-4413-a734-a2d48fa3571a.png)
![image](https://user-images.githubusercontent.com/1964376/159976127-01fc7284-9cfe-42a1-87be-fe22b7688953.png)

The layering makes this feel really weird.

If the body stopped scrolling if a dialog was open, it was a bit less weird.

I personally would expect the drop down to extend _past

[2022-03-24 17:49] iHiD commented on #6303
@ErikSchierboom A bug for you when you fancy solving a React thing.

[2022-03-24 17:53] iHiD commented on #6291
@locriacyber Most pages do have individual titles, but I know there are a few top-level pages that don't. Are there some in particular that tripped you up:

---

e.g. Just for reference, these are all different:
- https://exercism.org/
- https://exercism.org/tracks/ruby
- https://exercism.org/tracks/ruby/exercises/twelve-days
- https://exercism.org/tracks/ruby/exercises/lasagna/solutions/caiangums

[2022-03-24 18:16] SleeplessByte opened #6305 "Update with author face looks like link but isn't"
![image](https://user-images.githubusercontent.com/1964376/159980058-fc80e14e-a7fd-4ead-9712-7fcd3e984395.png)

When hovering, due to the following CSS, it looks like I can click it:

[code]

[2022-03-25 00:24] kytrinyx commented on #6305
Thanks for the heads up, @SleeplessByte!

[2022-03-25 05:43] ErikSchierboom commented on #6302
I think the problem here is that the `files.editor` files are not excluded from the count. I'll work on a fix.

[2022-03-25 13:10] bogovich opened #6306 "Add a way to overview all starred community solutions under specific track"
Hi,

It would be great to have a way to overview all starred community solutions under a specific track, as noted in the title of the issue.
I check out community solutions after every solved exercise to check for original and creative solutions to different exercises and try to understand them.
But If I want to remind myself of these creative solutions I starred after a while, I first have to rem

[2022-03-25 17:13] SleeplessByte commented on #6302
That would match `tests + solution` :D.

[2022-03-25 17:17] #6074 closed

[2022-03-25 17:28] kytrinyx commented on #6306
Just to clarify: you mean all the community solutions that you, specifically, have starred, right? Not all community solutions that have been starred by _someone_?

[2022-03-25 17:33] ErikSchierboom commented on #6302
Nope, because the tests are _not_ counted :P

[2022-03-25 17:35] bogovich commented on #6306
Yes, that is what I meant, sorry for the lack of initial clarification.
I only wish to overview the community solutions I have starred/saved, under a specific track. Just so I could have an additional focus on solutions that I found creative and interesting, without selecting each exercise individually.
If this feature already exists, I apologize, I wasn't able to find it.

[2022-03-25 23:41] SleeplessByte commented on #6302
Haha. I meant the 125, mister. :')

[2022-03-26 01:21] kytrinyx commented on #6306
Thanks for the clarification ✨

[2022-03-28 06:22] ErikSchierboom commented on #6302
Haha :D

[2022-03-28 06:23] ErikSchierboom commented on #6302
https://github.com/exercism/website/pull/2543 will be fixing this (once merged and a script to fix existing wrong line counts has run)

[2022-03-28 06:44] 552020 commented on #6187
+ 1

I had a short exchange with @jiegillet about this issue who revealed me a trick: If you submit your solution via CLI even if your solution fails you'll be able to request a mentoring session.

The possibility to access a mentoring session before having passed all tests is nonetheless from a UX perspective absolutely meaningful in my opinion.

I tag here @ErikSchierboom since this suggestion s

[2022-03-28 08:05] ErikSchierboom commented on #6187
We've not forgotten about the suggestion, but we've also not found time to respond as this touches upon a key design decision. Once we've got a little bit more time, we'll reply.

[2022-03-28 20:32] tanmaycode2 opened #6307 "Create new track for Shell scripting"

[2022-03-28 21:17] glennj commented on #6307
The [bash track](https://exercism.org/tracks/bash) exists. Did you have something else in mind?

[2022-03-28 22:58] goople-tech opened #6308 "[My Journey]: Labeled Sections are confusing"
<img width="1183" alt="Screen Shot 2022-03-28 at 3 53 58 PM" src="https://user-images.githubusercontent.com/74932922/160500203-df981fdd-fbd5-4522-ada3-5676b8a39b8c.png">
<img width="432" alt="Screen Shot 2022-03-28 at 3 55 14 PM" src="https://user-images.githubusercontent.com/74932922/160500268-c98d724e-b622-49b6-9b52-0ef17929e7a2.png">

These sections in my "Journey" are incorrectly labeled. Firs

[2022-03-29 03:46] tanmaycode2 commented on #6307
Ok I'll let you know when i find something new to add

[2022-03-29 03:46] #6307 closed

[2022-03-29 08:03] ErikSchierboom commented on #6302
@thecloudguy-engineer This has been fixed:

![image](https://user-images.githubusercontent.com/135246/160561019-c3f5f027-c5b6-427e-8b5d-e7dcf56aeafd.png)

[2022-03-29 08:03] #6302 closed

[2022-03-29 08:12] ErikSchierboom commented on #6308
Well, I've just looked in the database and apparently you've created _and_ confirmed your account at Mon, 06 Apr 2020. Which is about 2 years ago :)

We'll look into the count.

[2022-03-29 12:42] #6182 closed

[2022-03-29 19:19] IsaacG commented on #6211
![2022-03-29-121917_287x87_scrot](https://user-images.githubusercontent.com/243524/160690583-5f940b16-f67c-473c-8056-bbb040f80868.png)
![2022-03-29-121922_1058x94_scrot](https://user-images.githubusercontent.com/243524/160690591-4aec8ebc-b287-4eb9-8b1c-999e6808653b.png)

[2022-03-29 19:26] obtusedev opened #6309 ""Tests Timed Out" - JavaScript Track 'Mixed Juices'"
Getting "Tests Timed Out" for JavaScript track - [Mixed Juices](https://exercism.org/tracks/javascript/exercises/mixed-juices/).

I have the following code for the 2nd task that causes "Tests Timed Out" error.
However I have tested the exact code locally (sublime text) and it runs fine with the correct output `6`.

[code]

Running the code below locally runs fine with no errors or infinite loops.

[2022-03-29 23:03] SleeplessByte commented on #6309
The code is not correct.

What happens when there is no `lime`  at `limes[counter]` ? When may this happen? What will the code do in that case?

[2022-03-30 01:56] felipewhitaker opened #6310 "Python image is overlaying on Python track when windows is resized"
I believe the image already tells the whole story.

<img width="713" alt="image" src="https://user-images.githubusercontent.com/36129486/160735020-6f1286f3-3bba-4abd-ab43-150842515079.png">

I would suggest fixing the image to be on top of the statistics.

[2022-03-30 02:20] thecloudguy-engineer commented on #6302
Awesome! Thank you

[2022-03-30 06:59] bobtfish commented on #5938
lgtm now!

[2022-03-30 06:59] #5938 closed

[2022-03-30 07:53] ErikSchierboom commented on #6308
I've looked into this, and the numbers present do appear to be correct, there is just some confusion as to what they mean. The number `3` displayed on the journey page is the number of mentoring discussions that you've finished _as a student_. In your case, that number just happens to coincide.

[2022-03-30 09:25] #6198 closed

[2022-03-30 10:06] iHiD commented on #6308
This section is for your progress as a student in each track. The mentoring stats are further below, so I think that makes sense.

[2022-03-30 13:39] iHiD commented on #6310
Thanks. The website is currently not responsive. Closing as a duplicate of https://github.com/exercism/exercism/issues/6036

[2022-03-30 13:39] #6310 closed

[2022-03-30 16:01] SleeplessByte commented on #6308
I agree that it makes sense. Still, it _is_ slightly confusing.

If we want to make a change, how about `times you were mentored`?

[2022-03-30 23:24] goople-tech commented on #6308
Yes thank you! That would make it much less confusing!

[2022-03-30 23:27] goople-tech commented on #6308
Also, about the time I joined, perhaps something went wrong, or maybe I made an account on that date but I didn't mean too. But I am pretty sure that it was my first time using exercism last year.

[2022-03-31 10:09] iHiD commented on #6308
You can see at the wayback machine: https://web.archive.org/web/20200320032809/https://exercism.io/

[2022-03-31 10:21] iHiD commented on #6308
If we change that text, we also have to change the text below it.

[2022-03-31 10:24] ErikSchierboom commented on #6308
@SleeplessByte @goople-tech Thoughts on how the text below should be reworded?

[2022-03-31 17:27] aabuelazm opened #6311 "Resistor Color [Rust] - CLI submit errors out but online editor works fine"
For this exercise, I got working code, ran the tests, and after everything checked out, I submitted it through the terminal.

I clicked on the link to get back to the exercise web page, found it processing, gave me a success, then seconds later, switched to a fail. I thought it was a problem with my code and tried debugging for hours before I chucked the same code I was using into the online edito

[2022-04-01 01:18] goople-tech commented on #6308
perhaps something like:
You Have Been Mentored:
[big number in middle here]
You have [number] in progress and [number] in the queue
Also the "You Have Been Mentored:" should be bolded. You can edit my suggestion however you would like, this is just a basic idea I have.

[2022-04-01 18:15] rajkayjay opened #6313 "Email not sent when account is created"
Resend email does not work - please check

[2022-04-01 20:14] iHiD commented on #6313
Hello. You'll probably need to give us some more details, such as what the email address is or what handle you have etc. I'd also recommend choosing Promotions folder or Spam or equivalent.

[2022-04-01 20:44] luistejeda3006 commented on #5476
I´m something Noob with React Native, Could u tell me where add --> CFLAGS = -g -Wall -Wextra -pedantic -Werror -target x86_64-apple-darwin20.3.0

[2022-04-02 15:14] philcrissman opened #6314 "Bug report: redirected to site.manifest after going through GitHub Oauth flow"
IIRC what I did was:

1. Was viewing the list of tracks https://exercism.org/tracks
2. Selected a track (I selected Racket)
3. Saw the login-with-github-or-create-an-account-page
4. Clicked GitHub
5. Clicked whatever on the GitHub page that gives permission to exercism for me to login
6. When redirected to exercism, wound up looking at: https://exercism.org/site.webmanifest

As soon as I just went

[2022-04-02 16:21] Lapsou opened #6315 "Update java program : Add a syllabus Exception That will help all student even I"
Please Install Exception IN Java Language. Because This is one of the most important topic in java that i and many other students can not understand , so please update this syllabus for the future developer :) .

[2022-04-04 08:54] pokrakam commented on #5751
I was going to raise the same issue because it's also missing for completed exercises. I also feel it would be useful to keep the label. It just gives the impression of a bug due to the inconsistent-seeming display - all should have the labels of status and difficulty.
<img width="956" alt="image" src="https://user-images.githubusercontent.com/25539927/161508489-8d530859-3ce7-4a31-afd3-3d6e1a3b989

[2022-04-04 19:43] philcrissman commented on #6314
I didn't mention this issue on twitter: I did do a little shout-out for exercism.org, but did not mention the login/redirect issue, I figured reporting it on GitHub would be good enough. :)

[2022-04-04 23:46] hut8 opened #6316 "Segfaults are difficult to debug"
I'm on the x86-64 track right now. This platform is really great, so first, thanks so much for making it. I developed my solution locally, and tested it successfully. All the tests pass. I tried `make clean && make` just in case, and everything works fine. When I upload my solution, all I get is:

![image](https://user-images.githubusercontent.com/363720/161650073-7c2b92a6-feef-4178-8df4-ed1fbaec4

[2022-04-05 00:43] hut8 commented on #6316
Perhaps this could also just be documentation that's added for x86-64. I'm open to suggestions. Having the core files available for download would be very awesome but also more difficult. Here's what I've done so far to help myself:

- Clone https://github.com/exercism/x86-64-assembly-test-runner
- On the *host*, run: `echo '/tmp/core.%e.%p' | sudo tee /proc/sys/kernel/core_pattern`
- cd into `x86

[2022-04-05 01:03] hut8 commented on #6316
Another method (probably simpler) is adding `gdb` in the Dockerfile, changing the `Makefile` to directly invoke gdb on the `tests` binary, and adding ` --cap-add=SYS_PTRACE --security-opt seccomp=unconfined` when running `docker run` in addition to the above arguments in order to allow GDB to do certain things like disabling address space randomization. I'm still experimenting with the best way to

[2022-04-05 01:10] hut8 commented on #6316
If I also add `musl-dbg` I can now see what's going on in ld-musl:

[code]
I am somewhat surprised nobody else has run into this issue! It's strange to me that this doesn't even seem to be in my code, it's segfaulting in a dynamic link:

[code]

[2022-04-05 09:34] iHiD commented on #6314
No, that's great. Thanks. OK, @ErikSchierboom could you look at this as a priority pls. I suspect we need to stop `site.webmanifest` being added to the devise redirect chain (ie, add it here: https://github.com/exercism/website/blob/main/app/controllers/application_controller.rb#L75)

[2022-04-05 13:53] leerohrer1 opened #6317 "Trouble with Fruit Picker project"
Hello,

I'm not sure if there's a problem with the project or if I'm doing something wrong, but when I try to throw a new error, I get this message:
![Screenshot 2022-04-05 08 37 39](https://user-images.githubusercontent.com/99694297/161768464-fb275acf-f465-4d98-92f3-6129bc43038b.png).

I read that I should not have to download anything (here:
![Screenshot 2022-04-05 08 43 57](https://user-images.

[2022-04-05 16:28] SleeplessByte commented on #6317
New experimental features _are_ enabled, but not _all_ experimental features. This particular one is not turned on, because it's not yet in a stable-ish stage in the [TC39 process](https://tc39.es/).

Writing `? throw new Error('...')` isn't idiomatic JavaScript (at the moment), so you'll want to rewrite that to an `if` statement, for example using an early `return` (in this case `throw`):

[code]

[2022-04-05 17:10] leerohrer1 commented on #6317
Thank you so much!

On Tue, Apr 5, 2022 at 11:28 AM Derk-Jan Karrenbeld <
***@***.***> wrote:

[2022-04-06 10:46] ErikSchierboom opened #6318 "Allow awarding reputation to issue author"
Similar to pull requests, we should allow awarding reputation to issues.
Note that we can't re-use the existing `x:size` labels, as they are have meaning for issues (describing their workload).

[2022-04-06 17:11] #6317 closed

[2022-04-07 08:14] kytrinyx commented on #6291
I came across one page that we probably should add a more detailed title for:

https://exercism.org/mentoring/discussions/:id

If you do a lot of mentoring, it could be handy when looking at the history (or tabs) to see something more detailed (student? language? exercise?).

[2022-04-07 12:39] #6314 closed

[2022-04-07 12:58] iHiD commented on #6284
- For comparative benchmarking I don't want to spin up a load more servers for benchmarking at this stage, and wouldn't know how to make consistent benchmarks over different machines in a useful way.
- If it's just for personal benchmarking, then webassembly is probably the approach we should take, but obviously we could also provide some instructions for them to do it locally.

[2022-04-07 13:42] iHiD commented on #6290
For whoever looks into this, we use codemirror 6, not Ace.

[2022-04-07 13:42] iHiD commented on #6288
@ErikSchierboom Maybe a nice easy with some good value add one for you.

[2022-04-07 13:51] philcrissman commented on #6314
🎉 🤘

[2022-04-07 14:04] ErikSchierboom commented on #6288
Yes, I was actually planning on doing this soon! I had the same issue.

[2022-04-07 14:22] ErikSchierboom commented on #6288
PR opened: https://github.com/exercism/website/pull/2583

[2022-04-07 21:00] SleeplessByte opened #6319 "Reputation popup overflows on all screen sizes"
![image](https://user-images.githubusercontent.com/1964376/162303129-0064f883-2393-4cd9-a833-eb821c811ab4.png)

Using ` word-break: break-all;` solves it:
![image](https://user-images.githubusercontent.com/1964376/162303484-e9b0e68d-d77c-483f-bfbe-6a3c417d7b1c.png)

But you may want to look at the layout in general. Seems like some awkward spacing / cells going on.
![image](https://user-images.git

[2022-04-08 04:50] kytrinyx commented on #6319
Thanks for the report @SleeplessByte !

[2022-04-08 05:08] siebenschlaefer opened #6320 "Suboptimal rendering of emphasized elements in list"
Emphasized text insider a list gets rendered without distance to the previous or next word.

This is a screenshot of the instructions of the word-count exercise on the C++ track, as shown by Firefox (v99.0):
![firefox-99 0](https://user-images.githubusercontent.com/1228739/162368112-7038c6a0-1f9e-4e23-be15-7431612b1282.png)

This is how it is shown by Chrome (v100.0.4896-75)
![chrome-100 0 4896 75

[2022-04-08 05:10] siebenschlaefer commented on #6320
This might or might not be a duplicate of issue #5654

[2022-04-08 06:35] NobbZ commented on #6320
Do you perhaps have any user styles or overrides active?

I just checked the instructions for the word count exercise via https://exercism.org/tracks/cpp/exercises/word-count, and there I do see a numbered list that does not use a monospace font, and also has the spaces between words as expected.

I do not have any instructions in my iterations though.

[2022-04-08 06:39] siebenschlaefer commented on #6320
No, no user styles or overrides.
Take a look at the tab "Instructions" on the mentoring page of [my solution](https://exercism.org/mentoring/external_requests/64d60652-08d0-11ec-81c5-853579c25f94). Does it render the emphasized words in the list correctly?

[2022-04-08 06:43] NobbZ commented on #6320
Indeed, there it looks weird for me as well:

![image](https://user-images.githubusercontent.com/58951/162379316-603adb94-bb66-406c-9735-d6df06271623.png)

Checked using:

[code]

[2022-04-08 06:50] NobbZ commented on #6320
Perhaps that is related to `codemirror` trying to be smart and rendering the markdown instead of "source highlighting" it?

[2022-04-08 06:52] siebenschlaefer commented on #6320
Might be but I'm out at this point. I'm not a web developer, I know far too little about modern CSS any of the building blocks that Exercism uses. I hope somebody else can figure that out.

[2022-04-08 06:53] NobbZ commented on #6320
Yeah, it is the same for me, though the source editor is basically the only difference I see between my first and second screenshot.

[2022-04-08 07:05] #6288 closed

[2022-04-08 11:08] ErikSchierboom commented on #6211
We've just merged a PR to hotfix this (it'll take a 10 mins to deploy). We'll work on a proper fix later.

[2022-04-08 11:08] iHiD commented on #6320
Fixed by https://github.com/exercism/website/pull/2589

The issue was that the CSS for dealing with the linenumbers on the code tab, was also being applied here. I've improved the scoping of the CSS so that's no longer the case.

[2022-04-08 13:40] Applefrittr opened #6321 "In-browser editor timing out?"
Hi all,

The in-browser editor is currently timing out on all submitted code.  I've even tried re-running some of my solved solutions and quite literally passed 'return "test"' on a few of them as well to no avail.  Anyone else experiencing this?  Running on Firefox version 99.0

[2022-04-08 13:42] Applefrittr commented on #6321
Oh forgot to mention this is on the JavaScript track

[2022-04-08 14:06] SleeplessByte commented on #6321
Sorry! We've accidentally scheduled a bunch of work in the regular queue instead of background. It will be back to normal soon!

[2022-04-08 14:40] ErikSchierboom commented on #6321
Yes, sorry! We've canceled the background work, and I've just been able to successfully run the test runner for a Ruby exercise. So hopefully, you'll be able to run online tests again.

[2022-04-08 14:45] iHiD commented on #6321
Things should be back to normal now. Could you please confirm thanks.

[2022-04-08 16:27] locriacyber commented on #6291
https://exercism.org/dashboard
https://exercism.org/journey
https://exercism.org/journey/badges#journey-content
https://exercism.org/mentoring/discussions/06d5c2cb7d2744aea56230209e8903bb
https://exercism.org/mentoring/inbox
https://exercism.org/mentoring/queue
https://exercism.org/mentoring/requests/bd4674e183784d799fdbe88fe6cbb77f
https://exercism.org/mentoring/testimonials
https://exercism.org/

[2022-04-08 16:33] Applefrittr commented on #6321
Smooth sailing now, thanks!

[2022-04-08 17:36] kytrinyx commented on #6291
Thank you @locriacyber, this is really helpful.

[2022-04-08 21:30] #6321 closed

[2022-04-08 21:31] #6320 closed

[2022-04-08 21:33] iHiD commented on #6289
Is this then a bug, or should it be closed?

[2022-04-08 22:48] SaschaMann opened #6322 "Other solutions take up too much space in community solution screen"
If I'm viewing a shared solution, I'm interested in the solution at hand. However, unfortunately the editor that displays the solution is quite narrow (only 90 characters) and I have to vertically scroll to see all of it:

![grafik](https://user-images.githubusercontent.com/20866761/162543400-5eb5bf03-bd6f-4388-8628-854c90a69a3b.png)

(https://exercism.org/tracks/julia/exercises/anagram/solutions/

[2022-04-09 08:40] angelikatyborska commented on #6289
@iHiD What @codeiotic wrote in the first comment is a bug, what I wrote later is not, ignore it.

I can reproduce this bug in Firefox. It only happens on tracks that I haven't joined. Probably because  the menu has different items depending on whether I have joined or not. The behavior and the error I'm seeing is the same as what @codeiotic posted in the video and screenshot.

[2022-04-09 16:05] iHiD commented on #6283
Agreed.

[2022-04-09 22:37] #6309 closed

[2022-04-10 00:01] SleeplessByte commented on #6309
@obtusedev did you manage to find the issue?

[2022-04-10 14:54] angelikatyborska opened #6323 "Admonitions should have some bottom margin"
I created an admonition that comes directly before a h4 and it looks too cramped to me because the admonition has no bottom margin:
![Screenshot 2022-04-10 at 16 53 24](https://user-images.githubusercontent.com/7852553/162625456-346b67da-8d04-4dc0-ba90-af0e6b4c842c.png)

[2022-04-10 17:57] iHiD commented on #6323
Got a link to the concept/exercise pls?

[2022-04-10 20:32] angelikatyborska commented on #6323
In exercise `introduction.md` in the editor: https://exercism.org/tracks/elixir/exercises/dancing-dots

Concept `introduction.md`s with the same content on concept pages look better (https://exercism.org/tracks/elixir/concepts/behaviours), they do have some margins.

[2022-04-10 21:52] iHiD commented on #6323
Thanks. https://github.com/exercism/website/pull/2592

[2022-04-11 04:28] limaxophobiac commented on #6210
I have the same issue with 'Zipper' over in the Javascript track. I've published it but it doesn't show up in community solutions or under profiles/limaxophobiac/solutions or journey/reputation.

[2022-04-11 08:17] gacallea commented on #6210
hi :)

the same happened to me with https://exercism.org/tracks/elm/exercises/isogram

I solved it and published it a couple of days ago, when Exercism "managed to DoS themselves" (their words on Twitter). it is not showing in my profile nor community solutions. Even if I received the notification/+1 "karma".

I tried slightly changing my iteration by adding a comment but still no luck. please hel

[2022-04-11 09:53] iHiD commented on #6210
@ErikSchierboom Do we potentially have some issues with Cloudsearch updating? Could you check these three examples pls?

[2022-04-11 18:25] angelikatyborska opened #6324 "h5 in exercise instructions in editor has no styles"
Those arrows on the screenshot mark h5s. They have no margins and cannot be told apart from paragraphs in any way. I wish they at least had a tiny margin bottom and bold font weight.

![Screenshot 2022-04-11 at 20 19 48](https://user-images.githubusercontent.com/7852553/162804695-923c9550-8134-4f5b-9290-02dadb144936.png)

Exercise: https://exercism.org/tracks/elixir/exercises/take-a-number-deluxe/

[2022-04-11 21:34] obtusedev commented on #6309
Yes, I managed to pass it after taking a break. I apologize for not getting back to you. Thank you for the invaluable service/platform.

This is the updated code that passed.

[code]

[2022-04-11 21:40] kotp commented on #6322
Which languages do recommend "at all cost"?  It seems like that should be corrected in their documentation, since it seems to be a contradictory statement "recommended" and "absolutely always no matter the cost" are about as far as you can get on the spectrum  on the right hand side of that statement.

I love the suggestion to having dedicated full width space available for the solution.  I do hit

[2022-04-11 22:41] SleeplessByte commented on #6309
Great! Good luck on the next one 😄

[2022-04-12 13:25] jdearly opened #6325 "Excessive time to analyze submissions for Java"
Hello! Code analysis seems to be stuck for any exercise that has been submitted on the Java tack in the last few days. Each submission passes all the tests, but remains "Processing" seemingly indefinitely.

![processing](https://user-images.githubusercontent.com/22900979/162971933-630f720a-06de-49c6-8544-03e7b4bcdba3.png)

[2022-04-13 03:20] tdjordjevski commented on #6325
It seems the issue maybe site-wide. I'm seeing the same problem with F#.
![image](https://user-images.githubusercontent.com/49134026/163093176-be88aecd-5fd8-4b67-b6ac-e7ce9e63f75b.png)

[2022-04-13 11:22] SleeplessByte commented on #6325
They sometimes get stuck, indeed.

cc @ErikSchierboom @iHiD

[2022-04-15 11:46] SaschaMann opened #6326 "Badges: Add option to sort by "value""
It would be nice if the badges could be sorted by their value (legendary, ultimate etc)

[2022-04-15 15:41] junedev commented on #6324
FYI According to the docs, h5 is not supported.

https://exercism.org/docs/building/markdown/markdown#h-headings

[2022-04-16 00:21] limaxophobiac opened #6327 "Javascript 'Promises' exercise testing problems"
There is something if not bugged at least not ideal with the 'Promises' excercise in the javascript track, I had the first function written in a way I was sure was correct but it kept crashing when I ran the tests despite the rest of the functions being 'throw new Error('Remove this statement and implement this function');'. But when I found someone else's code and copied their solution for the re

[2022-04-16 13:09] angelikatyborska commented on #6324
@junedev They're h4s in the source, so they should be still supported. They just get turned into h5s on the editor page.

[2022-04-16 22:50] rsalmei commented on #5936
So, if there's an issue in the infrastructure, I cannot do anything??
Even if the message **does say** I should run tests again?
<img width="397" alt="image" src="https://user-images.githubusercontent.com/6652853/163693548-2772b6eb-ca2e-4270-b5ba-ab8e6745f874.png">

PS.: My tests took 1.52 seconds locally!! 😕
What do I do now?
[code]

[2022-04-16 23:10] rsalmei commented on #5936
Well, I don't know if there is a problem with the Rust backend or if you reduced the timeout to an unacceptable level, but both of my slower exercises are not passing, despite them taking only 11.98s and 17.27s (debug build).
If you by any chance compile exercises in release mode, they take only 0.47 and 1.52s respectively.

I'm stuck in these two exercises, with a red Failed stamped on them.

[2022-04-16 23:43] FaII-en1 opened #6328 "Linux and COBOL"
I feel like Linux and COBOL both should be on the list because they have their own sub categories especially linux as we have full access of the Kernel of the device.

[2022-04-17 06:06] kytrinyx commented on #6328
@FaII-en1 If Would you please clarify what your request is about? Which list do you mean? Are you asking that we provide an Exercism Linux track and an Exercism COBOL track?

[2022-04-17 06:16] FaII-en1 commented on #6328
Sorry if you misunderstood me. The thing is I was redirected here after opening a link on your browser page to submit a request for any other programming languages that you can also give lessons for, that's all. Since linux is in its own league and COBOL codes are still being executed with every electronic transaction, I was browsing the course list for it because I haven't found a credible source

[2022-04-17 08:52] kytrinyx commented on #6328
Thank you for the suggestions.

Linux is not a programming language, but rather an operating system. As such, it falls outside the scope of what Exercism does.

COBOL is an excellent language, and there are indeed many systems that are still in production. About 6 months ago, someone offered to create a COBOL track, and we created a repository for it here: https://github.com/exercism/gnucobol/issu

[2022-04-17 08:52] #6328 closed

[2022-04-17 22:16] philg-dev commented on #6325
I've got this same problem for all my exercises as well.

Mine were all in Java:
- Hello World
- Word Search
- Queen Attack

All are stuck at the "Analysis" part, despite having passed all tests, etc.

I did submit my solutions via CLI, if that matters.

[2022-04-17 22:58] iHiD commented on #6325
@ErikSchierboom Could you did into this pls?

[2022-04-18 23:25] leerohrer1 opened #6329 "Problems with promises (JS) exercise"
Hello!

When I try to run tests locally on the promises exercise, I get this error:
Cannot find module 'core-js/fn/promise' from 'promises.js'

When I run my code in the exercism editor, I get this error:
ReferenceError: resolve is not defined

Here is my code:

import { reject } from "core-js/fn/promise";
import { resolve } from "path";

export const promisify = (functionToPromisify) => {
  retur

[2022-04-19 09:29] ErikSchierboom commented on #6325
@iHiD The first step in the analysis: all above solutions have their latest iteration's `analysis_status` property set to `not_queued`.

[2022-04-19 09:57] ErikSchierboom commented on #6325
There is. They're all `exceptioned`

[2022-04-19 09:57] ErikSchierboom commented on #6325
`has_analyzer` is set to false

[2022-04-19 11:59] ErikSchierboom commented on #6325
I've opened a PR to fix this: https://github.com/exercism/website/pull/2621

TL;DR The website _thinks_ analysis is being done in the background, but that is not true because the track doesn't have an (activated) analyzer.

[2022-04-19 13:15] SleeplessByte commented on #6329
[code]

Hi there @leerohrer1, the code you've posted is calling `new Promise` with two arguments: `resolve`, `reject`. It's trying to import those values from two packages: `cor-js/fn/promise` and `path`. This is probably not what you meant to do. The `Promise` constructor doesn't take two arguments, but only a single:

a callback that receives two arguments

[code]

[code]

Does this help?

[2022-04-19 14:18] #6323 closed

[2022-04-19 14:43] MrYarrow commented on #6325
Same happening here for Java HelloWorld

[2022-04-20 06:39] jlafleur93 opened #6330 "Task Bars Become uneven past 1800 width"
Uneven Task on screen
![image](https://user-images.githubusercontent.com/50718377/164165240-78cd1a9d-b459-4f94-ba85-aa0e363ae271.png)

Heres the normal view for most screens
![image](https://user-images.githubusercontent.com/50718377/164165556-c4bd79be-8b9c-4baf-891c-e4b75d1724d6.png)

[2022-04-20 10:54] ErikSchierboom commented on #6325
@MrYarrow If you go to your hello-world solution now, it should be fixed. Could you check?

[2022-04-20 11:32] philg-dev commented on #6325
The problem is still the same on my end. (For all three of the exercises I did and mentioned before)

I tried CTRL+F5 (no cache refresh) and manually clearing the site's cache & cookies, but it didn't help either.

[2022-04-20 13:25] leerohrer1 commented on #6329
Derp. Yes that is very helpful, thank you so much!

On Tue, Apr 19, 2022 at 8:16 AM Derk-Jan Karrenbeld <
***@***.***> wrote:

[2022-04-20 21:23] MrYarrow commented on #6325
No, still processing on all tracks...
Python works though ;-)

[2022-04-21 00:10] ftt commented on #6238
OK, I am confused. "Alphametics" _does_ have this marker file: https://github.com/exercism/rust/blob/main/exercises/practice/alphametics/.meta/test-in-release-mode. And at least locally, running tests in the release mode helps tremendously (<2 seconds for building and testing together). I don't have any dependencies to pull in my Cargo.toml, so why would it be so slow?

[2022-04-21 06:09] coriolinus commented on #6238
1. While track CI tests alphametics in release mode against the example solution, the test runner which tests student code doesn't yet handle that marker file (and in fact can't access it, hence the discussion above of a custom flag in the exercise configuration).
2. Even once we've figured out a scalable solution for the marker, it's unsurprising if the machine resources allocated for a test run

[2022-04-21 07:29] ErikSchierboom commented on #6325
We've identified the problem and will work on fixing it.

[2022-04-21 11:50] SleeplessByte commented on #6329
Sweet. Feel free to leave another comment if you're still stuck.

[2022-04-21 11:50] #6329 closed

[2022-04-21 11:50] SleeplessByte commented on #6327
Yep, I see what you mean. We'll figure this out.

Moving to `exercism/javascript`

[2022-04-21 14:51] glennj opened #6331 "Tracks page, sorting by "last touched""
Can we get more clarity on what "touched" means exactly? I've found that simply downloading an exercise is considered a touch, and that track jumps to the top of the list. IMO, a "touch" should only involve
* submitting a new iteration.
* updating an out-of-date exercise, but only if one of the .meta/config.json "files" has changed.

(per request @iHiD, tag you're it)

[2022-04-21 15:33] ftt commented on #6238
So… I am sorry if I am being annoying, but I don't really understand what you are telling me, most likely because I don't have the context you have. So, the fact that example solution is run in a different manner from the student's solution, is this a problem with the Rust track specifically or with how exercism works in general?

[2022-04-21 19:04] coriolinus commented on #6238
It's hard to generalize across all of Exercism because most tracks have their own track-specific infrastructure set up. As far as I am aware, no track uses the same test runners that students use for its CI jobs. However, it's possible that I'm just not aware of the exception.

[2022-04-21 20:22] patricksjackson opened #6332 "When/How are exercises updated to new versions?"
(I'm a maintainer on the Cpp track)

We had an issue with the online editor for 2 exercises, which required a change to a build file to fix (https://github.com/exercism/cpp/pull/495). Some users are still seeing issues even though others seem to be able to use it just fine (https://github.com/exercism/cpp-test-runner/issues/48)

What I _think_ is happening is that new users have no issues solving

[2022-04-22 06:51] ErikSchierboom commented on #6332
That is indeed correct. We do have a plan that involves adding a new field to the `files` property in the `.meta/config.json` file, which is for files that should also be taken into account when determining whether or not an exercise can be updated. We just not haven't gotten around to implementing it. I'll move it more to the top of my todo list.

[2022-04-22 09:02] ErikSchierboom commented on #6325
@MrYarrow Could you check again?

[2022-04-22 09:53] er-shrey opened #6333 "Too difficult to follow"
1. Instructions in the editor are not matching or are irrelevant.
2. Results of the iterations goes away when I open editor
3. Application is too tough for a general user
4. There is no feedback option
5. People will come here to learn the programming language or any topic... But most of the time is taken by your application, seems like we are here to learn your application only.
6. There is no wa

[2022-04-22 10:01] philg-dev commented on #6325
For me the exercises appear correctly as "passed" now. Thanks a lot 👍

[2022-04-22 10:05] ErikSchierboom commented on #6325
Yay! Thanks for reporting this issue.

[2022-04-22 11:40] iHiD commented on #6333
Thanks for the feedback. Could you give some examples of these points please. For example, where do the instructions now match, where are you not finding the option to move to a different exercise, where are you wanting feedback where you can't get it? Please provide tangible examples and screenshots. Thank you.

[2022-04-22 17:57] SaschaMann commented on #6333
I've had the same issue before. When I complete a (learning) exercise, it prompts me to either go back to the exercise (I just completed it, why would I do this?) or to go to the concepts. Usually I either want to end the session or start the next exercise. Figuring out which exercise is meant to be next isn't trivial and requires some knowledge of the UI and clicking around. A "do the next exerci

[2022-04-22 18:47] iHiD commented on #6333
This is because there's not a concept of a "Next lesson". Some people go and choose to go broad (ie another Learning Exercise) and some people choose to go deeper (ie practice with Practice Exercises). In either scenario there's normally multiple choices as to what you can do. The best way to navigate this decision (in either path) is to use the Concept Tree.

Maybe we should provide a "next lesso

[2022-04-22 19:32] BethanyG commented on #6333
This flow has also confusing for me.

Would it make sense to offer 2-3 "CTA" options along the lines of:

1.  `[Next Concept]` - the next concept exercise (if there are learning exercises)
2.  `[Practice]` - the next (and easiest by difficulty) practice exercise that practices the concept exercise that has just been completed.
3.  `[Another Exercise]` - the next (and easiest by difficulty) practic

[2022-04-23 02:05] glaxxie commented on #6333
Hi, I just want to contribute some of my thoughts regarding the flow of one of the track.
My main language track is Python and I've been using the site around half the year to start improving my skill. I've done about
2/3 of all the exercises (total 131 at the point of writing this)

* Learning exercises: these are great small introduction to a new concept, but it is exactly what it is - an introd

[2022-04-23 02:52] BethanyG commented on #6333
@glaxxie  -- as a Python track maintainer, your comments are super-helpful, so thank you.  We can't address all of them, but the points about ordering of practice exercise difficulty within the concept categories we can certainly work on, as well as overall difficulty ratings and OOP vs non-OOP.  --or at least I _think_ we can work on improving those via our track configuration.  Would you mind if