[2015-11-22 15:11] kytrinyx commented on #2604
Sweet. I'll remove the demo command from the CLI.

[2015-11-22 15:11] #2604 closed

[2015-11-23 22:17] #2380 closed

[2015-11-24 13:14] johnpaulashenfelter commented on #2606
@kytrinyx I think this is solved in https://github.com/exercism/exercism.io/pull/2582

[2015-11-24 14:47] kytrinyx commented on #2606
Ah, yes. Thank you!

[2015-11-24 14:47] #2606 closed

[2015-11-24 23:36] mfrost commented on #2306
I believe this was resolved by #2618. Tested locally and it looks like:
<img width="504" alt="screen shot 2015-11-24 at 4 35 00 pm" src="https://cloud.githubusercontent.com/assets/168570/11384029/7c3de75c-92c9-11e5-8caf-d414a54e9bb1.png">

[2015-11-24 23:40] mfrost commented on #2522
I believe this can be closed now that #2625 is merged.

[2015-11-24 23:50] mfrost commented on #1711
I'm not seeing this locally on the `/teams/:name` page. Is that the correct location to exercise this bug?

[2015-11-25 15:04] kytrinyx commented on #2522
Thanks. I'll be deploying today (yesterday was 5 meetings and trying to write a talk proposal, didn't have time to accidentally break anything on the site).

[2015-11-25 15:04] #2522 closed

[2015-11-25 15:09] kytrinyx commented on #2306
perfect, thank you

[2015-11-25 15:09] #2306 closed

[2015-11-25 15:10] kytrinyx commented on #1711
Yeah, that's the correct location. Thanks!

[2015-11-25 15:10] #1711 closed

[2015-11-25 18:13] mfrost commented on #2411
Can you supply some more information about the orphaned records? The schema appears to have `NOT NULL` constraints: `ActiveRecord::StatementInvalid: PG::NotNullViolation: ERROR:  null value in column "team_id" violates not-null constraint`. It appears that `dependent: :destroy` is set up correctly, too.

[2015-11-25 18:19] kytrinyx commented on #2411
OK, cool. I bet when we added the constraints we didn't delete orphans. I'll go ahead and do that today. Thanks for looking into this!

[2015-11-25 18:19] #2411 closed

[2015-11-25 21:03] kytrinyx commented on #2562
@GustavoCaso are you claiming this one?

[2015-11-25 21:26] GustavoCaso commented on #2562
Sure @kytrinyx . Sorry I have been swap with other stuff but yes I claim it looks easy enough.

[2015-11-25 21:29] kytrinyx commented on #2562
No pressure, I just want to make sure nobody else grabs it and then you both do the work.

[2015-11-25 21:55] GustavoCaso commented on #2562
Thanks @kytrinyx

[2015-11-26 14:22] cganchev opened #2629 "Code looks malformed in the GUI when it is in DOS/Windows format and contains comments"
When the submitted file is in DOS/Windows format (CR/LF) there is an extra newline after each comment. The line numbers are not aligned with the code.

Example: http://exercism.io/submissions/c3c1b2b5ac294a7dad9d7cded45bc7e2

[2015-11-26 14:54] kytrinyx commented on #2629
/cc @mfrost Would you have a moment to check this out? It seems like it could be related to the recent fix to the `syntax` helper.

[2015-11-26 15:29] kytrinyx opened #2630 "Reimplement Language.of"
Right now `Language.of` in `lib/exercism/language.rb` references the `ExercismWeb::Presenters::Tracks` which does an HTTP call to x-api/v2 (and then caches the entire response). This is problematic on several levels.

I think it would be cleaner if we:

1. Implemented `X::Language` under `./x`
1. Made a call to `X::Track.all`
1. Cached a hash of track ids => language names (not the entire response

[2015-11-26 16:00] kytrinyx opened #2631 "Reimplement README page using x-api v3"
The `GET /exercises/:track_id/:slug/readme` action in `app/routes/metadata.rb` can be rewritten to use http://x.exercism.io/v3/tracks/ruby/exercises/bob/readme.

This should use code under `./x` which already has some things that call x-api v3 (`X::Xapi`). I'm not exactly sure what the cleanest thing would be; maybe something like `X::Exercise::Readme.find(track_id, slug)`.

Depends on #2628

[2015-11-26 16:13] kytrinyx opened #2632 "Reimplement exercise test page using x-api v3"
The `GET /exercises/:track_id/:slug` action in `app/routes/metadata.rb` can be rewritten to use http://x.exercism.io/v3/tracks/ruby/exercises/bob/tests.

This should use code under `./x` which already has some things that call x-api v3 (`X::Xapi`). I'm not exactly sure what the cleanest thing would be; maybe something like `X::Exercise::Readme.find(track_id, slug)`.

Depends on #2628.
Depends on `

[2015-11-26 16:25] kytrinyx opened #2633 "Reimplement language dropdown in _nav.erb to use x-api v3"
The `_nav.erb` partial displays a list of active languages, and currently relies on fully caching the call to `/tracks` in the x-api v1. This seems excessive, but I'm not sure what the correct approach here is.

Perhaps we need `X::Language.all` (see #2630), though we would have to rethink the hash described in #2630 since we would also need to cache inactive languages for `X::Language.of`.

Depen

[2015-11-26 16:31] kytrinyx opened #2634 "Redesign the /languages page"
On the "All languages" page, let's get rid of the stats for now and only show the number of problems per language.

It would be lovely if we could have icons for the languages and show this as little boxes instead of a vertical text list, but that might be overreaching a bit.

In addition to the list of languages shown, let's also show the list of upcoming languages ("active: false" in the `X::Tra

[2015-11-27 14:47] GustavoCaso commented on #2632
Great @kytrinyx I will work on this one this weekend

[2015-11-27 14:54] kytrinyx commented on #2632
+1 :)

[2015-11-27 19:47] kytrinyx commented on #2375
I've changed my mind about how I want to solve this.

I'm rewriting the problems API (x-api), and it's not going to know anything about users, nor will it make calls to the exercism.io api.

Instead, we're going to make a new endpoint on exercism.io that makes the fetch call to x-api, and also figures out things like how many of the problems the user has not solved. This endpoint will be able to f

[2015-11-27 19:47] #2375 closed

[2015-11-27 19:51] kytrinyx commented on #2358
OK, the status of this ticket is that we're implementing a new version of the x-api (https://github.com/exercism/x-api/issues/75), which we will use to implement a new endpoint on the exercism.io api, which the CLI can call. This endpoint will call x-api to get the exercises, and then it will check whether or not the track is completed (comparing the track config to the list of exercises submitted

[2015-11-27 20:15] kytrinyx opened #2635 "Store solution paths relative to problem, not root"
See full discussion in https://github.com/exercism/cli/issues/152

When someone submits a solution we need to strip off the exercise slug from the path on line 9 of `lib/exercism/iteration.rb`.

Also, we need a rake task to clean up the paths in all the existing solutions.

[2015-11-27 20:27] kytrinyx commented on #2588
We currently do not have an API endpoint that allows users other than rikki- to comment.

Let's fix this by accepting a "comment" key in the submission in `post '/user/assignments'`.

[2015-11-27 21:32] kytrinyx opened #2636 "Start here if you're doing 24pullrequests"
First of all, :sparkles: yay :sparkles:! We're huge fans of 24pullrequests, and we appreciate all the help we can get.

We're a friendly bunch, and we're happy to help you help us, so don't be scared to ask about anything. We've got a [chat room](https://gitter.im/exercism/support) and there are usually people around there, or just ask right in the issue you're wondering about.

There is a whole r

[2015-11-28 15:27] kytrinyx commented on #2413
This looks fixed to me (tested by writing a new comment). I'm closing it, but please holler if there still seem to be cases that are not fixed.

[2015-11-28 15:27] #2413 closed

[2015-11-28 17:06] kytrinyx opened #2637 "Replace calls to Xapi.exists? with call to x-api v3"
I think it would make sense to implement this as `X::Exercise.exists?`, which would rely on `X::Xapi`, which calls v3.

[2015-11-28 17:24] mfrost commented on #2585
@GustavoCaso would you like to pair up on solving this one? Shoot me a PM if you want to coordinate.

[2015-11-28 17:37] kytrinyx commented on #2394
The bracket-push problem description was made more ambiguous to allow other types of matched tokens.

[2015-11-28 17:37] #2394 closed

[2015-11-28 17:37] kytrinyx commented on #2426
Done.

[2015-11-28 17:37] #2426 closed

[2015-11-29 22:43] plato721 opened #2638 "Exercises on user show page sorted by first submission, not most recent iteration"
When authenticated as a user who has completed multiple exercises, with one or more exercises having multiple iterations, the profile page sorts by and displays by the date of first submission for all the exercises instead of the latest iteration as the column heading suggests.

This might be a one-liner, changing the exercises_table partial to:
  <% exercises.order(updated_at: :desc).each do |exe

[2015-11-29 22:52] kytrinyx commented on #2638
Nice catch, thank you. I think you're right about the one-liner to fix the initial order, but I'm not sure about the sorting.

[2015-11-30 04:49] karloxyz commented on #2630
@kytrinyx Hi, I'll be working on this.

[2015-11-30 08:57] GustavoCaso commented on #2632
@kytrinyx How you doing ?
Working on this one, but I have a question about the issue.
Right now the readme and the test page are tabs, but the test page do not change the url, do you want this one to change the url or not, I don't if I explain my self very clear, english is not me native language sorry about that, also there is no link back to the exercise, I think that is need it for better user

[2015-11-30 09:06] GustavoCaso commented on #2632
One more thing I guess that we only want one request per page. Just the one for the test endpoint.

[2015-11-30 09:14] karloxyz opened #2641 "Running the tests on the master branch fails"
The tests fail inside `test/exercism/trending_test.rb:24`. Is there some setup step I forgot to do?

[2015-11-30 19:47] nebkor opened #2642 ""Getting started with Racket" instructions are incorrect with respect to running the tests"
On http://help.exercism.io/getting-started-with-racket.html, it instructs users to run the tests like "racket hello-world-test.rkt".  However, that will not run the tests in the xracket repo's test files; you need to run "raco test hello-world-test.rkt".  See https://github.com/exercism/xracket/issues/32 and https://github.com/exercism/xracket/pull/33 for the corresponding issue in the xracket rep

[2015-11-30 20:54] kytrinyx commented on #2642
Thanks! I'm closing this issue since it's being addressed in the xracket repo.

[2015-11-30 20:59] kytrinyx commented on #2630
Thanks, @karloxyz!

[2015-11-30 21:02] kytrinyx commented on #2632
Yeah, let's make separate URLs for the two pages (I thought that's how it was, actually).

When you say a link back to the exercise, which page are you talking about?

[2015-11-30 21:03] kytrinyx commented on #2641
Weird, I wouldn't think so. I wonder if there's a platform-specific thing hiding in that functionality. Let me dig into this a bit and see what I can find.

[2015-11-30 21:13] GustavoCaso commented on #2632
This one http://exercism.io/exercises/ruby/nth-prime there is no link back to the actual problem

[2015-11-30 21:14] mfrost commented on #2629
Sure thing, I'll dig in.

[2015-11-30 21:17] kytrinyx commented on #2632
Ah, right. We don't actually have a page for the problem. I can think of two ways to fix this:

1. Add a page for the problem somewhere.
2. Improve this page so that it includes the problem description.

I like (2) better. We should add the "blurb" to the `readme` and `tests` endpoints so that we only need to make one call.

We could also add the command to fetch it.

[2015-11-30 21:18] GustavoCaso commented on #2632
Ok @kytrinyx sound great I will go with this one

[2015-11-30 22:23] kytrinyx commented on #2641
Someone else ran into the same thing, it's a timezone thing: https://github.com/exercism/exercism.io/pull/2643

[2015-11-30 22:23] #2641 closed

[2015-12-01 07:19] nebkor commented on #2642
Awesome; thank you!

[2015-12-01 07:19] #2642 closed

[2015-12-01 09:11] GustavoCaso commented on #2585
@mfrost Sorry for the late response I'm working on other issues if you want to take this, one please go ahead. Just for the purpose of learning can you mention my in the PR

[2015-12-01 14:48] perryharlock commented on #2357
![exercism-language-logos](https://cloud.githubusercontent.com/assets/1225142/11503805/4e3ff662-983a-11e5-8292-135f5a54211e.png)

Would these be any good to you? Not sure exactly how you are envisaging using them...can split them up into individual png's if you like. Might take a look at the issue to redesign the languages page where these could be used :-) https://github.com/exercism/exercism.io/

[2015-12-01 14:51] jwood803 commented on #2357
They all look awesome! Just something to consider, though, it may be best to get permission to use some of these icons. The F# one in particular may need permission.

[2015-12-01 14:54] perryharlock commented on #2357
Thanks @jwood803 :-) good point too

[2015-12-01 15:38] tejasbubane commented on #1844
A quick google search tells me that for `rm` there is an equivalent `del` command in windows. Any idea how the binary can be located in windows?

[2015-12-01 21:01] kytrinyx commented on #2357
Oh, neat!

Yeah, I suspect that we would need to get permission.

I'd also really like it if we had the same "feel" across all of the icons (does that make sense? My lack of graphical background is definitely showing here). One of the things about the coderwall icons is that they use a consistent color palette (not necessarily all one or two colors, but all of the colors go together really nicely)

[2015-12-01 21:24] kytrinyx commented on #1844
I have no idea. on *nix I would use `which` to find the binary. Is there a windows equivalent?

[2015-12-01 21:43] GustavoCaso commented on #2632
@kytrinyx do you want to create a issue for adding the blurb to the `readme` and `tests`endpoint  in
x-api ??

[2015-12-01 21:44] kytrinyx commented on #2632
Sure thing, I'll do it now.

[2015-12-01 21:44] GustavoCaso commented on #2632
Great @kytrinyx

[2015-12-01 21:45] kytrinyx commented on #2632
https://github.com/exercism/x-api/issues/83

[2015-12-01 22:27] GustavoCaso commented on #2632
On more @kytrinyx what happen if the users try to access an non existence exercises do we display an error message and redirect ?? because in the api we have the `exists` endpoint but that would imply two requests

[2015-12-02 00:02] GustavoCaso commented on #2634
Is anyone working on this one ?

[2015-12-02 00:39] kytrinyx commented on #2634
Not that I know of, if you want it, go for it.

[2015-12-02 00:42] GustavoCaso commented on #2634
Thanks @kytrinyx

[2015-12-02 00:54] kytrinyx commented on #2632
Good question.

Right now the API doesn't handle non-existent exercises very well--it returns a 500. Let's do what we did for the `exists` endpoint and return a well-formed json response with all the usual keys, but a 404 status.

Then if they access a problem that doesn't exist on the website we can show them an error message (or encourage them to add the exercise).

[2015-12-02 08:17] GustavoCaso commented on #2632
@kytrinyx so i will improve the api part for handling the status 404 in exercism.io

[2015-12-02 18:58] mfrost commented on #2629
Took a look at the Rouge lexer and it seems to only care about `\n`. Guessing that running it through the Markdown library normalized this before the change. I guessed that the highlighter ignores CR/LF, and taking a look at the HTML response in vim with `:e ++ff=unix` reveals untouched `^M`s. Attached is a screenshot since newlines can be annoying to view:

<img width="322" alt="newlines" src="ht

[2015-12-02 19:45] kytrinyx commented on #2632
ok, thanks

[2015-12-02 19:46] kytrinyx commented on #2629
Yeah, normalizing during display seems like the right thing to do. Definitely don't want to touch user-submitted data, since there's no way back afterwards if we do that.

[2015-12-02 20:10] GustavoCaso commented on #2632
@kytrinyx what kind of message are you thinking about ?

[2015-12-02 20:34] GustavoCaso commented on #2632
Sorry I tend to write faster than I read. You already told me above. I'll read more carefully next time before bugging you

[2015-12-02 20:39] kytrinyx commented on #2632
no worries

[2015-12-02 23:59] #2629 closed

[2015-12-03 11:44] karloxyz commented on #2637
I'll be working on this.

[2015-12-03 18:23] mfrost commented on #2524
Any idea on steps to reproduce? Not entirely sure what you saw originally.

[2015-12-03 18:37] mfrost commented on #2573
It seems like the changes to the CLI are underway. Is there still a need for a way to clean up `UserExercise.where(iteration_count: 0)`? Are those records being created on fetch?

[2015-12-03 20:41] kytrinyx commented on #2573
Nope, we don't need to remove those. We actually need to keep them, since that's how we skip exercises. We're ignoring them in the correct place now though. I think this can be closed.

[2015-12-03 20:41] #2573 closed

[2015-12-03 20:42] kytrinyx commented on #2524
I'm not entirely sure either. Let's close this until someone has clear reproduction steps.

[2015-12-03 20:42] #2524 closed

[2015-12-04 01:48] remcopeereboom opened #2651 "Rikki giving advice that isn't relevant."
The Rikki (which is excellent btw) sometimes gives ruby advice that isn't relevant. The offending Rikki can be found in [rikki/comments/analyzer/ruby/control_flow/logical.md](https://github.com/exercism/rikki/blob/master/comments/analyzer/ruby/control_flow/logical.md): it describes the difference between the `and` and `&&` keywords. However, the posts where the automated nit is given contain neith

[2015-12-04 04:09] kytrinyx commented on #2651
This is likely a bug. It might be the `not` in there (I doubt that it would have trouble with variable names since the feedback depends on the AST).

/cc @JacobNinja do you know off the top of your head what might have happened?

[2015-12-04 04:12] kytrinyx commented on #2651
Yepp, it's the `not`: https://github.com/JacobNinja/exercism-analysis/blob/master/lib/exercism-analysis/processors/control_flow_processor.rb#L6

I think we should probably limit this one to `and` and `or`, since rikki- isn't saying anything about `not`. What do you think, @JacobNinja?

[2015-12-04 13:42] tejasbubane commented on #2638
The sorting seems to be working fine for me.

[2015-12-04 17:08] JacobNinja commented on #2651
@kytrinyx sounds reasonable to me. Feel free to submit a pull request to remove `not` from the control flow operator list.

Does this require a new gem version? I forget how the release process works for that gem

[2015-12-04 17:18] JacobNinja commented on #2651
I went ahead and created a PR for this issue since there were tests involved. https://github.com/JacobNinja/exercism-analysis/pull/13

:shipit: when ready

[2015-12-04 21:30] kytrinyx commented on #2651
Ooh, thanks! I was just about to submit the PR. A new gem version would be great, actually, so that I don't have to reference HEAD in the Gemfile.

[2015-12-04 21:51] kytrinyx commented on #2638
The sorting is working for me as well. Closing this. Please reopen it if you have more information about a particular case that doesn't work.

[2015-12-04 21:51] #2638 closed

[2015-12-04 22:02] plato721 commented on #2638
Cool looks like the PR fixed it. Thanks.

[2015-12-05 16:03] #2651 closed

[2015-12-06 06:59] dogweather commented on #2585
Hi, I'm interested in possibly helping out with this. I'd like to see the database schema. But it looks like the Rails source doesn't make use of db/schema.rb or activerecord models. Is there a way I can view the data model here in the repo without fully installing the dev environment?

[2015-12-06 09:43] tejasbubane commented on #2635
I'll be working on this.

[2015-12-06 11:20] habibalamin opened #2654 "The SumOfMultiples Haskell exercise is not clear on what the sumOfMultiplesDefault function should do"
I struggled to comprehend what the README was saying on what `sumOfMultiples` should do, but it says nothing about `sumOfMultiplesDefault`.

[2015-12-06 20:13] kytrinyx commented on #2585
Yeah, this isn't a rails app, so none of the rails conventions hold.

I do have a schema file, though. Beware that this schema is the result of 2 years of experiments.

https://github.com/exercism/seeds/blob/master/db/schema.sql

[2015-12-06 20:21] kytrinyx commented on #2654
The README is not language-specific, it just describes the generic problem, and then whichever language tracks want to implement the exercise with whatever they need to make it idiomatic.

I can't speak to the Haskell exercise. @etrepum is there something we can do to make this less confusing?

[2015-12-07 02:44] bmulvihill commented on #2572
@kytrinyx I was taking a look at this, @GustavoCaso do you need assistance?  I think I can tackle this query.  I also had a couple ideas regarding refactoring the 5 a Day feature.

First what do you think of moving the 5 A Day SQL into a View, and then creating a migration and a Model on top of it?  This will allow us to leverage AR relations/methods, and remove some of the raw SQL from the Ruby c

[2015-12-07 03:52] dogweather commented on #2585
I'm glad to see it's checked in somewhere! So it looks like `submission_viewers` is the relevant table. ?

[2015-12-07 06:36] kytrinyx commented on #2572
@bmulvihill I like the idea of moving it to a view. The name 'dailies' / 'daily' is better, I think.

[2015-12-07 06:50] kytrinyx commented on #2585
Nope, sorry! I have a list of migrations I have to run to clean up tables and columns that are no longer in use--but I have to do it on a day when I can spend all day doing it carefully and testing at every step.

The table in question is called `views`.

[2015-12-07 07:36] GustavoCaso commented on #2572
@bmulvihill This will definitely will reduce the complexity in the query, I we could even do some complicated query on the `Daily` table with more confident. I like it.

[2015-12-07 20:00] bmulvihill commented on #2572
@kytrinyx @GustavoCaso Ok I'll take a look this week and see what I can do.

[2015-12-08 08:26] dogweather commented on #2163
Hmm - I'm getting this config/database error, following the contribute instructions:

[code]

It looks to me like the database config isn't being properly set.

[2015-12-08 11:22] bordeltabernacle commented on #2357
This is a super janky mock up of an idea.  I think it would be nice to avoid just using the language logos.  Aside from permissions, it would associate the badges more with the exercism site.  I'm not enough of an illustrator, nor know enough about each language, to come up with new individual drawings to represent each language in an interesting, yet recognisable way, and so I thought maybe using

[2015-12-08 16:57] kytrinyx commented on #2357
Thanks @bordeltabernacle, I like that they'd all be recognizably consistent in this way. Another idea that a friend gave me was to use a script that I wrote that will replace colours in an image, and then make all of the images use the exercism colours. I'm going to play around with this for a bit and see what I get.

[2015-12-08 18:49] kytrinyx commented on #2163
/cc @johnpaulashenfelter would you mind having a look at this?

[2015-12-08 19:09] johnpaulashenfelter commented on #2163
@kytrinyx no prob!

@dogweather i'm guessing that you're terminal login is "robb" -- there's some documentation about how to deal with this in the CONTRIBUTING.md, but I want to make sure things do work smoothly since I added these tasks :smile:

Do you have a config/database.yml? The `db:setup` task tries to use that -- and it should probably be the hardcoded values checked into the repo the firs

[2015-12-08 19:22] dogweather commented on #2163
Thanks @johnpaulashenfelter I was able to get the dev environment up & running fine by running the individual rake tasks myself in dev & test mode, manually supplying `RACK_ENV`, etc.

So the smaller, lower-level tasks do work and can yield a good environment in which all tests pass. So it seems to be something to do with `db:from_scratch`. This is for a fresh clone from master, so yes, it has a c

[2015-12-08 20:47] dogweather commented on #2163
FYI, I'm working on this little by little. Here's a recipe I've found that works reliably, and should help debug it:

1. fork
2. clone
3. `$ bin/setup` until it crashes with the message above
4. `$ createuser --superuser exercism`
5. `$ bundle exec rake db:create db:migrate db:seeds:fetch db:seed`
6. `$ RAKE_ENV=test bundle exec rake db:create db:migrate`

[2015-12-08 21:29] duffn opened #2658 "fontawesome-webfont.woff2 404s"
http://exercism.io/

<img width="1435" alt="screen shot 2015-12-08 at 1 27 41 pm" src="https://cloud.githubusercontent.com/assets/3457341/11669091/a6eb7596-9daf-11e5-9ccc-4c0c7f7af00c.png">

[2015-12-08 21:35] dogweather commented on #2163
I submitted a fix on #2657

[2015-12-08 22:26] dogweather commented on #2163
Idea: user-oriented navigation section in the Readme.

Currently, the Readme is project-oriented, e.g., **The Ecosystem** section, which explains the project's way of looking at its world.

But I think it'd help with onboarding devs to additionally have a user-oriented section, form the perspective of someone who wants to help. Essentially, it'd be organized like this:

### I'd like to contribute

[2015-12-08 23:05] kytrinyx commented on #2163
This is a great idea. We absolutely should do this.

I've actually started to do that for one of the contributing documents, though it could be improved: https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md

Each section is "I want to accomplish X".

[2015-12-08 23:06] kytrinyx commented on #2658
I've seen these locally, now that you mention it. We have all the other fontawesome files, just not the woff2 I think.

[2015-12-09 05:58] duffn commented on #2658
Okay, I'll fix this then.

[2015-12-09 07:57] kytrinyx commented on #2658
Excellent, thanks.

[2015-12-09 08:25] finder518 commented on #1843
@kytrinyx 您好，我也碰到同样的问题，请问你的这个问题解决了吗？用得什么办法解决的，能分享一下吗？我的邮箱finder-fa@qq.com，谢谢

[2015-12-09 17:45] outkaj opened #2660 "Learning X/Useful X Resources improvement"
Many of the "Learning [Language X]" tabs for various language tracks on the website contain the same slightly misleading message: "We don't have any good resources for learning this from scratch." The same goes for some of the "Useful [X] Resources" tabs: "We don't have any suggestions for resources that might be helpful."
I assume this is meant literally (as in Exercism itself doesn't contain les

[2015-12-09 19:33] #2658 closed

[2015-12-09 19:56] kytrinyx commented on #1843
@finder518 你好，你使用哪个命令？这是什么`exercism --version` 产生?

[2015-12-09 19:59] kytrinyx commented on #2660
Oh, yes, this means only that Exercism doesn't have any references, and we want other people to submit good resources if they know about them.

I think you're right that we can leave the resources tab empty if both learning/resources are missing.

[2015-12-09 23:22] nate9 opened #2661 "Clicking on Test Suite for an exercise does not go to /test, leading to 404"
When I click on the Test Suite link under "Available Exercises", it will not got to the "/test" page, eg.

http://exercism.io/exercises/java/triangle/tests

instead, it goes to the url without the '/test', eg.

http://exercism.io/exercises/java/triangle

which leads to a 404. The readme works fine, and links to /readme, and you can switch the test suite tab from there.

[2015-12-10 21:17] kytrinyx commented on #2661
Ah, good catch. I'll fix this ASAP.

[2015-12-10 22:16] kytrinyx commented on #2661
Fixed. Thanks again.

[2015-12-10 22:16] #2661 closed

[2015-12-10 23:18] nate9 commented on #2661
/tests now leads to a 404

When you click the tab for test suite when you are viewing the README.md

[2015-12-11 00:04] kytrinyx commented on #2661
Ok, thanks, I misunderstood the report. Fixing that now.

[2015-12-11 00:07] kytrinyx commented on #2661
I deployed a fix.

[2015-12-12 11:08] krishandley commented on #2419
There is a non flash alternative if you are interested http://clipboardjs.com and has a fallback for Safari.

[2015-12-12 11:46] krishandley commented on #2602
Related to #2419 There is a non flash alternative if you are interested http://clipboardjs.com, just wondered if anyone was working on this? If not then I'll open a PR later.

[2015-12-12 16:43] #2267 closed

[2015-12-12 16:43] kytrinyx commented on #2602
I don't think anyone is working on this.

[2015-12-12 16:44] kytrinyx commented on #2602
Yepp, this is the same as #2419 -- closing as duplicate.

[2015-12-12 16:44] kytrinyx commented on #2602
Actually, they're not exactly the same.

[2015-12-12 19:00] jessejanderson commented on #2602
Sorry - I had planned to work on this and got distracted, clipbaord.js was actually the solution I was going to use. =P

Feel free to open a PR.

[2015-12-13 14:08] outkaj commented on #2660
That makes sense!

I'm fixing these for different languages and opening relevant issues in language tracks, so I can close this here if you like?

[2015-12-13 17:19] #2602 closed

[2015-12-13 17:20] kytrinyx commented on #2419
Fixed in #2664

[2015-12-13 17:20] #2419 closed

[2015-12-13 17:32] #2492 closed

[2015-12-13 17:34] kytrinyx commented on #2660
Sure, I'll close this. Thanks!

[2015-12-13 17:34] #2660 closed

[2015-12-13 19:14] Charlotteis opened #2666 "Profile is using an old avatar."
Hai!

I signed up for Exercism a long time ago with my GitHub account. I've just signed up again (I previously denied it permissions) and my profile is using a very old avatar of mine. How do I update it to my current GitHub avatar?

Thank you for making exercism, I tried it a while ago before I really knew how to program and found it intimidating. Now, I feel more prepared to try again!

[2015-12-14 00:51] kytrinyx commented on #2666
Ah, it might not be updating the avatars. That would be a bug.

I've been trying to figure out how to make exercism less intimidating when people are just starting up. I have some ideas (and I've been talking to some great people who have good ideas). I hope to make some progress on that in the next few months.

[2015-12-14 00:54] kytrinyx commented on #2666
The github auth code is in lib/exercism/authentication.rb and the code that updates the user data from GitHub is in `lib/exercism/user.rb`.

I've confirmed that it's a bug.

[2015-12-15 14:07] emersonsoares opened #2668 "Support to follow other users"
It would be nice to be able to follow some users, so I can keep track of your problem-solving.

[2015-12-15 15:25] Charlotteis commented on #2666
Thanks @kytrinyx! I'm really enjoying exercism properly this time around and would love to hear your ideas on the future of exercism. And looks like there is a PR to fix this bug already, which is awesome \o/

[2015-12-15 19:04] kytrinyx commented on #2666
Yay, looking at the PR now.

I have a _bunch_ of thoughts about the future of Exercism, and I'm not sure where to put things like this.

[2015-12-15 19:06] kytrinyx commented on #2668
I completely agree!

We've got this on the roadmap, in https://github.com/exercism/exercism.io/issues/1899

I'm going to close this as a duplicate. If you have more thoughts/ideas about this, would you add them to the discussion in #1899?

[2015-12-15 19:06] #2668 closed

[2015-12-15 19:15] Charlotteis commented on #2666
The way we've done it at Hoodie is to start a Discussion repo: https://github.com/hoodiehq/discussion/issues. So if your "future" can be broken into smaller issues up for dicussion, maybe that would work for you!

[2015-12-15 20:05] kytrinyx commented on #2666
Oh, nice! I think I'll try that. I sure wish I could transfer issues between repositories, there are some discussions in this repo that I think are super valuable, but they're not really actionable.

[2015-12-15 20:31] Charlotteis commented on #2666
I don't know if there is an easy way to do that :(

RE The PR you merged btw, how do I see if its worked? Sign in / Sign out or remove GitHub integration and try again? :)

[2015-12-15 20:34] kytrinyx commented on #2666
Yepp, sign out and sign back in. It's deployed.

[2015-12-15 20:41] kytrinyx commented on #2666
Closing this--if it doesn't work as expected, would you reopen it?

[2015-12-15 20:41] #2666 closed

[2015-12-15 20:43] Charlotteis commented on #2666
Wahey, it worked! Thanks!

[2015-12-15 21:21] kytrinyx commented on #2666
Yay :sparkles:

[2015-12-16 04:58] emersonsoares commented on #2668
Cool, sorry I had not seen that issue already exists.

[2015-12-16 04:59] kytrinyx commented on #2668
Yeah, there are so many issues, it's hard to see what's there and not. I'm trying to figure out how to make it easier to find out what features are in the works.

[2015-12-16 05:01] emersonsoares commented on #2668
:+1:

[2015-12-16 20:33] alanbsmith commented on #2487
Definitely don't want to beat a dead horse here, as you gave a very full response, @kytrinyx .

If you _did_ have someone thinking about this issue / willing to contribute to some sort of notification system, you would consider it, or is it too far outside where you want the project to head? Or maybe that falls under the 'improving conversations' bullet you listed.

I really, really appreciate all

[2015-12-16 21:12] kytrinyx commented on #2487
Thanks! I'm still working on the onboarding stuff, and haven't gotten to the part about conversations yet.

I would be interested in having email notifications implemented, with a couple of caveats:

- I'd like to make sure that notifications are more targeted/fine grained than they were in the previous iteration
- I can't spend money on delivery

[2015-12-16 23:11] mandel01 commented on #2398
In particular, it would be helpful for a nitpicker to know if the test suite has been updated since they submitted their last iteration. I had a case today where I (incorrectly) nitpicked an exercise in Python's Word Count exercise. Part of the issue was that the code failed the tests on Python 3 (I had the current test suite installed). However, part of the issue was that the advice I was giving

[2015-12-16 23:23] kytrinyx commented on #2398
Good point. Being able to say: "you last solved version X, but this is version Y" is exactly what the person reviewing would need to hear.

[2015-12-17 07:39] tejasbubane commented on #2555
I think this can be closed with #2590 @kytrinyx

[2015-12-17 15:33] masters3d commented on #2555
Thank you!

[2015-12-17 15:33] #2555 closed

[2015-12-18 07:27] GustavoCaso commented on #2619
@kytrinyx Is anyone helping you with this one ?? I'm glad to start reimplementing **iteration** or any other.

[2015-12-18 20:37] kytrinyx commented on #2619
Nope, nobody's working on this yet. Iteration sounds like a good place to start, if you want to help out!

[2015-12-19 11:28] GustavoCaso commented on #2619
Sure @kytrinyx. :-)

[2015-12-20 02:09] bmulvihill commented on #2572
@kytrinyx Can I get a bit of background information on the 5 a day feature?  What should the behavior be? Is it just 5 exercises the user hasn't commented/liked  and are not archived that are ordered by total comments?  I may have to rewrite some of the query to make it a true relation to the user.  I also want to make sure I write appropriate test ensuring correct behavior.

[2015-12-20 03:51] kytrinyx commented on #2572
What we're trying to do is encourage people to give feedback on five different pieces of code each day. We don't want to emphasise it (no badges, no achievements), just have a small thing that subtly encourages giving feedback.

Yes, that's exactly right. The number only decreases when they actually give a comment (not when they view or like something).

[2015-12-20 12:13] bmulvihill commented on #2572
Ok thanks, that makes sense.  One more question, is the ACL table the primary place to go to determine what exercises a user can view?

[2015-12-20 12:21] gytdau commented on #2634
Is this issue still open? Can I contribute in any way?

[2015-12-20 14:14] kytrinyx commented on #2634
Yeah, I think @GustavoCaso ended up picking something else. If you'd like to work on this, here's where to find the code:

- `app/routes/languages.rb`
- `app/views/languages/all
- `x/track.rb` -- provides access to a method `X::Track.all` that has all the tracks (active and inactive) with various bits of data.

[2015-12-20 14:14] kytrinyx commented on #2572
Yepp, the ACL table is the source of truth for that.

[2015-12-20 16:10] GustavoCaso commented on #2634
Sorry I had a branch but haven't push already I completely forgot about this branch. Sorry if looks I forgot about this one.

[2015-12-20 17:40] kytrinyx commented on #2634
Ah, thanks. Looking at the PR now.

[2015-12-21 03:54] mhelmetag commented on #2562
Hey @GustavoCaso, are you still working on this issue?

[2015-12-21 03:56] Sokos6 opened #2670 "ECLIPSE"
Hello,

As instructed, I'm posting here to learn how to open the exercises with Eclipse, language Java. I'm still a little confused as to what i'm supposed to do in general...but this is a good start...
Basically, once I can open an exercise there, I complete it then push it up?

Cheers,

Will

[2015-12-21 04:04] mhelmetag commented on #2504
Do you have an STR for this? It looks like comments are counted by `s.comments.size`... that seems okay to me.

https://github.com/exercism/exercism.io/blob/master/app/views/submissions/iterations.erb#L21

[2015-12-21 04:28] mhelmetag commented on #2501
I'd like to try out a first iteration of this. At least to update the User model and get a migration out for `track_mentor` vs `mastery`.

I'm definitely not the best at frontend but I could also take a first swing at adding the track mentor section to the accounts page.

I'm guessing some steps would be:
* A section to manage the tracks that you are a mentor for (basically updating the track ment

[2015-12-21 06:37] mhelmetag commented on #2501
I changed the column mastery to track mentor, updated some tests and created a migration. All tests passed locally after `db:migrate`. I think this is a good jump off point. Let me know what you think :smile:

https://github.com/exercism/exercism.io/compare/master...mhelmetag:issue%232501-1

[2015-12-21 07:07] GustavoCaso commented on #2562
Hey @mhelmetag actually not I was working on other ones. Take it want

[2015-12-21 07:19] mhelmetag commented on #2562
Sweet!

[2015-12-21 07:34] mhelmetag commented on #2562
So I worked on this a bit and came up with this:

Unarchived:
<img width="796" alt="screen shot 2015-12-20 at 7 47 05 pm" src="https://cloud.githubusercontent.com/assets/8609429/11925563/8f443600-a771-11e5-96d6-c7e5b989cac8.png">

Archived
<img width="805" alt="screen shot 2015-12-20 at 7 47 26 pm" src="https://cloud.githubusercontent.com/assets/8609429/11925560/8d77cdf0-a771-11e5-9b69-8bcd80f9e09

[2015-12-21 08:08] koppen commented on #2519
Since #2627 has been merged, moving the teams section to the dashboard, I guess this issue can be closed?

[2015-12-21 08:35] GustavoCaso commented on #2562
@mhelmetag  Can you open a Pull Request to have a look ? So I can see in my local environment.

I really like the icons. What do you think @kytrinyx ?

[2015-12-21 09:20] mhelmetag commented on #2562
Can do!

[2015-12-21 19:49] kytrinyx commented on #2562
I like the archived label!

I don't think we need the icon on the iteration number tab, since the whole exercise is archived, not individual iterations.

[2015-12-21 19:50] kytrinyx commented on #2504
What's an STR?

I think I may have fixed this at some point. Closing!

[2015-12-21 19:50] #2504 closed

[2015-12-21 20:03] kytrinyx commented on #2501
Excellent! I don't think we need any fancy front-end.

I don't think that we need to let you manage which tracks you're a mentor for.
An invitation system would be nice. It doesn't have to be complicated. We could show invitations on the notifications page (we also show team invitations there, I think).

I rewrote the logic recently so that we only use this field to run a cron job that writes reco

[2015-12-21 20:03] kytrinyx commented on #2519
Thank you, yes.

[2015-12-21 20:03] #2519 closed

[2015-12-21 20:04] kytrinyx commented on #2670
@jtigger Would you help explain how to get this working with Eclipse?

[2015-12-21 21:19] mhelmetag commented on #2504
Hah, we use that acronym at work... sorry! Steps To Reproduce.

Cool!

[2015-12-21 21:24] mhelmetag commented on #2562
Okay! I'll make a preliminary pull tonight with just the label. That sounds good.

I had a few other questions (re instances of "completed" throughout the codebase) but I'll have to wait until I have the code in front me.

[2015-12-21 21:58] GustavoCaso commented on #2632
@kytrinyx I think we can close this one

[2015-12-21 21:58] GustavoCaso commented on #2631
@kytrinyx I think this one as well can be close

[2015-12-21 22:04] GustavoCaso commented on #2576
@kytrinyx maybe I can help you figure a proper roadmap to bring this feature to live.

[2015-12-22 00:52] kytrinyx commented on #2576
@GustavoCaso I'm not sure exactly what you mean. Do you want to discuss this particular feature? Or discuss the roadmap?

[2015-12-22 00:52] kytrinyx commented on #2631
Yepp, you're right. Thanks.

[2015-12-22 00:52] #2631 closed

[2015-12-22 00:53] kytrinyx commented on #2632
Oh, right. Thanks.

[2015-12-22 00:53] #2632 closed

[2015-12-22 02:26] mhelmetag commented on #2562
Updated to just have the label and hide the refresh icon when archived:

Archived:
<img width="796" alt="screen shot 2015-12-21 at 6 11 21 pm" src="https://cloud.githubusercontent.com/assets/8609429/11946519/5ab9c360-a810-11e5-8c40-a40b0e3e363d.png">

[2015-12-22 06:37] GustavoCaso commented on #2576
@kytrinyx I mean discuss the how we can achieve this feature, work on the issue. Sorry for my English. :-)

[2015-12-22 07:12] mhelmetag commented on #2501
Perfect :laughing:

An invitation system would be nice. It doesn't have to be complicated. We could show invitations on the notifications page (we also show team invitations there, I think).

I'll read up about inbox, notifications, the current notifications template, etc.

So I see `acls` referenced in a rake task. Do you mean cron job like cron job runs a rake task periodically? Also, I saw a jo

[2015-12-22 20:09] kytrinyx commented on #2501
If you get lost, holler. It's a bit of a mess, and it's not well documented (sorry!).

Yeah, we have a number of cron jobs that kick off rake tasks periodically.

Nope, that's a hack that sticks jobs into redis so that a Go daemon on a different server can pick them up.

In that case, you're in for a treat :) This is one of the things that started changing how I thought about shipping code in gene

[2015-12-22 20:09] kytrinyx commented on #2562
Lovely!

[2015-12-22 20:11] kytrinyx commented on #2576
I'd actually like to hold off on this feature for now. I feel like we need to do proper design of the code page before we can start working on this. The reason I took it out in the first place is because the user interface already has so much stuff in it. This would add even more complexity to what is possibly the most important page in the app.

[2015-12-22 20:12] kytrinyx commented on #2562
When you're ready to have the PR reviewed, please post a comment in the PR discussion thread.

[2015-12-23 10:56] GustavoCaso commented on #2576
@kytrinyx Great, Sound logical. So I will go with another issue. :-)

[2015-12-23 19:39] #2635 closed

[2015-12-23 19:57] #2572 closed

[2015-12-23 21:36] McEileen opened #2674 "Exercism Debug - Ruby Raindrops Exercise"
I tried to submit three times from the terminal and got three different errors.  I attached descriptions of them below.

1) 2015/12/23 16:20:57 unable to submit solution - an internal server error was received.
Please file a bug report with the contents of 'exercism debug' at: https://github.com/exercism/exercism.io/issues

2) 2015/12/23 16:26:02 unable to submit solution - error parsing API respo

[2015-12-23 22:03] kwikiel commented on #2442
Same issue here:
2015/12/23 22:59:13 unable to submit solution - error parsing API response - invalid character '<' looking for beginning of value

BTW from time to time webapp is giving such error:
Application Error
An error occurred in the application and your page could not be served. Please try again in a few moments.

If you are the application owner, check your logs for details.

Maybe it is

[2015-12-24 01:21] n7fury commented on #2674
hi, i got the same error. It seems like there is an internal error or the exercism server is down and the the server is responding with an html error page instead of the expected json.
Here is a package capture of a request.
[execrism_pk.txt](https://github.com/exercism/exercism.io/files/71362/execrism_pk.txt)

[2015-12-24 01:41] n7fury opened #2675 "Server responding with error page"
hi, the server is responding to submit with an html error page, (maybe the server is down?)
#2674 here is a package capture of a submit request and the response
[execrism_pk.txt](https://github.com/exercism/exercism.io/files/71371/execrism_pk.txt)
sorry i do not know how to add label, and the github help pages seem to use the old ui?

[2015-12-24 02:01] kytrinyx commented on #2675
Sorry about that--it's back up now.

The help pages are deprecated--I'm moving all the content over to the main site.

[2015-12-24 02:01] #2675 closed

[2015-12-24 02:01] kytrinyx commented on #2674
Sorry about that--the site was down, but it should be back up now.

[2015-12-24 02:01] #2674 closed

[2015-12-24 02:02] kytrinyx commented on #2442
The site was down, including for submissions. It should be back up now. Sorry about that.

[2015-12-24 19:38] kytrinyx commented on #2562
Closed by #2671.

[2015-12-24 19:38] #2562 closed

[2015-12-24 21:29] kytrinyx commented on #2634
This is merged and deployed. I regenerated the CSS, but the page is still displaying in a single column. Do you know what might be going on, @GustavoCaso?

Also, I think we should probably only list "upcoming languages" if they have at least 1 problem in them. What do you think?

[2015-12-24 22:42] GustavoCaso commented on #2634
Hi @kytrinyx let me have a look.

[2015-12-24 22:45] GustavoCaso commented on #2634
I'm looking at it but is looking good, could it be some kind of cache ?

<img width="1280" alt="screen shot 2015-12-24 at 23 44 50" src="https://cloud.githubusercontent.com/assets/4672858/11998300/61060596-aa98-11e5-905a-3227e0af1912.png">

[2015-12-24 23:07] kytrinyx commented on #2634
This is what I'm seeing, even with a hard-refresh. I think it is a caching issue. I'll add the file mtime to the url for the css.

![single-column](https://cloud.githubusercontent.com/assets/276834/11998357/650840a4-aa58-11e5-9d78-398209a4f8dd.png)

[2015-12-24 23:07] #2634 closed

[2015-12-25 19:43] kytrinyx opened #2677 ""all languages" page has an odd breakpoint for going to one column"
At approximately 1300px wide (on my monitor) the /languages page jumps from 6 columns down to one.

![6-columns](https://cloud.githubusercontent.com/assets/276834/12004224/19b47354-ab05-11e5-92b8-80cd6619999b.png)
![one-column](https://cloud.githubusercontent.com/assets/276834/12004225/1b7cff30-ab05-11e5-9a29-e9cf94da9682.png)

@GustavoCaso would you mind taking a look at this?

[2015-12-25 19:45] GustavoCaso commented on #2677
Of course
On 25 Dec 2015 20:43, "Katrina Owen" <notifications@github.com> wrote:

[2015-12-25 22:00] Ferroso opened #2678 "Bug Report"
exercism submit difference-of-squares.rkt
2015/12/25 21:51:52 unable to submit solution - an internal server error was received.
Please file a bug report with the contents of 'exercism debug' at: https://github.com/exercism/exercism.io/issues
**** Debug Information ****
Exercism CLI Version: 2.2.1
Exercism CLI Latest Release: 2.2.1
OS/Architecture: linux/amd64
Build OS/Architecture linux/amd64
Hom

[2015-12-25 22:03] emaestracci opened #2679 "Bug Report"
exercism submit /Users/Emmanuel/exercism/ruby/gigasecond/gigasecond.rb
2015/12/25 23:01:04 unable to submit solution - an internal server error was received.

[2015-12-25 22:06] kytrinyx commented on #2679
Checking, thanks.

[2015-12-25 22:07] kytrinyx commented on #2679
I'm not seeing it. Would you please try again? There may have been a problem during a restart.

[2015-12-25 22:07] kytrinyx commented on #2678
I'm not getting this error. There may have been a problem during restart. Would you please try again?

[2015-12-25 22:09] emaestracci commented on #2679
Everything is now fine. Thanks :)

[2015-12-25 22:28] Ferroso commented on #2678
Hi. I have just looked at my profile on exercism.io and found that the solution was there. The error message that I received is puzzling.  I rebooted my laptop and tried again. The second submission again produced the error message but I found the submission in my profile. I then deleted it for tidiness.

[2015-12-26 06:06] mhelmetag commented on #2677
`app/views/languages/_block.erb` seems to be contributing to the weird styling. It's set to only use a grid layout for large displays.

Also... it seems like hover isn't working on smaller displays. Not sure if that matters because hover isn't really a thing on touchscreens.

Large:
<img width="1680" alt="screen shot 2015-12-26 at 12 57 25 am" src="https://cloud.githubusercontent.com/assets/860942

[2015-12-26 12:08] GustavoCaso commented on #2677
Well I don't have a monitor that big so I'm notable to reproduce the `bug`. But could it be because Bootstrap hard code the width of the different breakpoints, and we use 1200px as the large breakpoint ?

https://github.com/exercism/exercism.io/blob/master/public/sass/base/themes/exercism.scss
[code]

[2015-12-26 13:44] Ferroso commented on #2678
I have just successfully submitted another solution. The problem seems to have gone away.

[2015-12-26 13:44] #2678 closed

[2015-12-26 17:47] kytrinyx commented on #2678
For reference, I figured out what happened:

- deployed
- ran a migration that removed a deprecated column from a table that was in use
- a cached prepared statement was trying to run

So even though none of the code in the codebase was using that field any more, the cached prepared statement was referencing it, and it broke.

Restarting the app fixed this.

So sorry for the trouble!

[2015-12-26 17:48] kytrinyx commented on #2679
For reference, I figured out what happened:

- deployed
- ran a migration that removed a deprecated column from a table that was in use
- a cached prepared statement was trying to run

So even though none of the code in the codebase was using that field any more, the cached prepared statement was referencing it, and it broke.

Once the app was restarted the error went away.

[2015-12-26 17:48] #2679 closed

[2015-12-26 17:50] kytrinyx commented on #2677
I don't know anything about front-end. Another option would be to put all the boxes in the same row and then let them flow however the screen sees fit (but that might be a terrible idea).

[2015-12-26 19:12] mhelmetag commented on #2677
Wouldn't a fix be setting the spacing for small or xsmall resolutions by adding the class `col-sm-2` or something to each language link element?

[2015-12-26 19:18] kytrinyx commented on #2677
I don't even know what that means, but it sounds like you're speaking from experience so... probably!

[2015-12-26 19:58] Ferroso commented on #2678
No trouble!  I have used the app today and it appears to function perfectly.
Thanks for investigating it.

[2015-12-29 10:41] NobbZ opened #2685 "Daily 5 are the same everyday"
Hi there!

3 out of the daily 5 don't changed over the last week. I already liked this three entrys but they still appear in the daily fives.

There is nothing I could nitpick on these entries and I'm feeling forced to do a stupid "+1" comment just to get rid of them as dailies.

[2015-12-29 19:51] kytrinyx commented on #2685
We have an open PR that might fix this--it's the third iteration (trying to get the performance of the query to an acceptable level). If that doesn't work today I'll try another tactic.

[2015-12-29 21:14] kytrinyx commented on #2685
OK, deployed. Would you give this a try?

[2015-12-29 21:19] NobbZ commented on #2685
I check tomorrow when dailies are rerolled.

Katrina Owen <notifications@github.com> schrieb am Di., 29. Dez. 2015 22:14:

[2015-12-30 03:47] paradime opened #2686 "Add 'track' progress bar to the profile page."
It's difficult to see how close or near you are to the end of a track, I think this would be an excellent way of indicating progress using exercism.

[2015-12-30 19:59] duffn opened #2689 "rake db:create and db:drop fails with OS X Postgres.app"
I know the contributing guide suggests installing PostgreSQL with `brew install postgresql`, but if you do install on OS X with [Postgres.app](http://postgresapp.com/), then  `rake db:create` and `rake db:drop` do not work immediately.

[code]

Postgres.app does not automatically put the cli tools in your path so `createdb` and `dropdb` are not available immediately upon installation.

Does this w

[2015-12-30 21:22] kytrinyx commented on #2689
Yeah, we should probably add a note about that. Thanks!

[2015-12-31 01:39] jimypbr opened #2690 "java hello-world gradle build fail"
Trying the java hello-world exercise. The `gradle test` fails.

[code]

The build.gradle file is empty. Should it have tests defined in here? Does this work for anyone else? Thanks.

[2015-12-31 01:42] NobbZ commented on #2690
You should ask again over on xjava.

[2015-12-31 01:49] jtigger commented on #2690
Really sorry about that, James.  We had a mix-up and inadvertently cleaned
out the build.gradle files.

It's a known issue.  Been fixed. Is being deployed, presently.

https://github.com/exercism/xjava/pull/80

On Wed, Dec 30, 2015 at 5:42 PM, Norbert Melzer <notifications@github.com>
wrote:

[2015-12-31 02:05] kytrinyx commented on #2690
The fix is now deployed.

[2015-12-31 02:05] #2690 closed

[2015-12-31 20:03] #2689 closed

[2016-01-01 03:32] LegalizeAdulthood opened #2693 "dashboard doesn't sort exercises by language track order"
When I go to my dashboard, I want to see the exercises in language track order, but the sort order is just alphabetical.  This doesn't help me understand the progression of exercises within a track.

[2016-01-01 04:26] LegalizeAdulthood opened #2694 "dashboard notifications area doesn't show pretty language name"
![image](https://cloud.githubusercontent.com/assets/4270863/12069734/0b8617ec-b005-11e5-8ad8-f363427df616.png)

It should say `C++` not `Cpp`.

[2016-01-01 19:33] kytrinyx commented on #2693
Yepp, good call. This is the "your exercises in progress" section, right?

[2016-01-01 19:34] kytrinyx commented on #2694
Ah, yes! Definitely a bug.

This should be simple to fix as each track has both a track_id (`cpp`) and a language (`C++`). If we're not using the `X::Track`, then we can get the language corresponding to a track ID using `Language.of`.

[2016-01-02 17:49] #2636 closed

[2016-01-02 17:50] kytrinyx commented on #2685
Did you get a chance to check this?

[2016-01-02 17:54] kytrinyx opened #2697 "Bug in markdown parsing"
This one is tricky.

See `app/views/site/help.erb` line 11. `docs.firewall` is commented out, because our markdown parser botches it. The markdown file in question is `x/docs/md/help/firewall.md`.

When this is included in the page, it eats the actual code section, leaving it empty.
If you write a test for parsing just that file, however, then it works just fine.

[2016-01-02 17:54] kytrinyx commented on #2697
@mfrost if you have time to take a look, would you give this one a whirl? You might see something obvious that I've missed.

[2016-01-02 18:49] kytrinyx opened #2698 "Improve reviewer workflow"
I'd like to spend a few days improving the workflow for those who spend a lot of time giving feedback on the site.

My own workflow is to go to the inbox, filter it for "go" and "leap" and then give feedback to everyone who has submitted something since I last visited. Then I do "go" and "clock". I'm working my way up to more of these.

Sometimes, when I have time, I go and give feedback on old su

[2016-01-02 19:22] LegalizeAdulthood opened #2699 "C++ icon hides the ++"
![image](https://cloud.githubusercontent.com/assets/4270863/12075838/6ce45ea8-b14b-11e5-837f-0518cb9e0a25.png)

To me this looks like an icon for `C`, not `C++`.  The `++` should be very prominent in the icon.  It appears that it is authored in a [high resolution version](https://github.com/exercism/exercism.io/blob/master/public/img/cpp.png) that loses the `++` when scaled down to display resolut

[2016-01-02 19:37] kytrinyx commented on #2699
I was thinking of re-doing all of the icons so that they're all in the same style (right now some are flat, some are glossy, some are logos, some are not).

I'm going to take a stab at this today. I'll post some screenshots here so that we can discuss it.

[2016-01-02 19:42] kytrinyx commented on #2699
![screen shot 2016-01-02 at 12 42 08](https://cloud.githubusercontent.com/assets/276834/12075888/412f035a-b14e-11e5-912b-49216526d5a8.png)

How about something like that?

[2016-01-02 19:43] LegalizeAdulthood commented on #2699
I would literally make the `++` the same size as the `C`, although googling around for icons shows that your style is more common.  The reason I argue for a larger `++` is that this is going to be a really tiny icon in the end and we need the `++` to be blatantly obvious when scaled down to final display resolution.

[2016-01-02 19:48] kytrinyx commented on #2699
Yeah, good point. How about this?

![screen shot 2016-01-02 at 12 48 00](https://cloud.githubusercontent.com/assets/276834/12075905/198a056a-b14f-11e5-82f2-ca6dcc4ac799.png)
![screen shot 2016-01-02 at 12 47 39](https://cloud.githubusercontent.com/assets/276834/12075906/198aaff6-b14f-11e5-9367-ba304fd964b3.png)

[2016-01-02 20:01] LegalizeAdulthood commented on #2699
I like the 2nd one!  Not sure about the purple, though. LOL.

[2016-01-02 20:07] kytrinyx commented on #2699
Yeah, it's the main exercism color, though, so I was thinking of making all of the logos some variation of pink and black.

I'll try all black/white and see what that looks like, too.

[2016-01-02 21:05] #2699 closed

[2016-01-02 21:05] kytrinyx commented on #2699
I'm deploying this with an all-black logo.

[2016-01-02 21:06] #2457 closed

[2016-01-02 21:07] #2677 closed

[2016-01-02 21:14] LegalizeAdulthood commented on #2699
That looks much nicer.  It's easy to tell at a glance that it is C++.

[2016-01-02 22:38] kytrinyx commented on #2357
Update: I've been working on this using my hacky script to rewrite colors. It's working out pretty well. Here are some examples:

![python](https://cloud.githubusercontent.com/assets/276834/12076371/ba70fd1e-b166-11e5-9c44-961adc3ee366.png)
![perl-pink](https://cloud.githubusercontent.com/assets/276834/12076372/bd984d44-b166-11e5-8fcc-746c8e473e9a.png)
![java](https://cloud.githubusercontent.com/a

[2016-01-02 22:40] #2357 closed

[2016-01-02 23:45] NobbZ commented on #2698
Since my own track is currently somewhat stale, I'm reviewing other tracks in my spare time, often it my flow is similar to the following:

1. Just try to pick on the five dailys.
2. If there were some that I could not pick on because I simply dislike that specific track/exercise/user or because I just gave a thumbs up, I choose a track and then an exercise by random and go through the unread item

[2016-01-02 23:47] NobbZ commented on #2685
It seems as if they are better spread now and nothing from the previous days.

I'll watch a little bit further but close for now.

[2016-01-02 23:47] #2685 closed

[2016-01-03 00:02] kytrinyx commented on #2685
OK, thanks.

[2016-01-03 00:04] kytrinyx commented on #2698
Yes, I think this would be very useful.

Yeah, absolutely. Once I finish the big task I'm currently working on, I'm going to look at ways of improving that.

[2016-01-03 00:06] NobbZ commented on #2698
There was a race condition while I edited my own post, therefore I'll copy paste here for better reference:

I just realized that the link to my own submission has vanished. It was essential in my workflow, to use it to open up my own code quickly and then compare both. Sometimes this even helped to polish up my own stuff.

[2016-01-03 00:11] kytrinyx commented on #2698
I moved the link down into the comments--but of course if you haven't commented yet, then that won't help. I'll put it back.

[2016-01-03 00:23] matthewmorgan commented on #2698
My two cents: it would be nice to be able to flag submissions for later review.  Sometimes I look at a submission and want to give feedback, but need some time to compose my thoughts.

[2016-01-03 00:42] kytrinyx commented on #2698
@NobbZ I've put back the link to your own solution. Deploying now.

[2016-01-03 01:45] verdammelt commented on #2698
At least once a day I check for items in my inbox (items I'm already involved in) then for new items on my track. At the moment that's all I can handle, but also luckily, it is enough to generally keep ahead of my track.

I like the idea of being able to filter by track, etc. - but perhaps more useful to me to begin with would be being able to flag items  - so I could tick items I see when I'm at

[2016-01-03 04:02] iamtjg commented on #1844
`where` for cmd or `where.exe` if using PowerShell

[2016-01-03 04:37] ThomasZumsteg commented on #2698
Reviewing submissions less than a day old in a specific track is my favorite. Especially the simpler exercises. Some of the later/longer solutions are more difficult to critique. Lately I've been trying to complete the daily 5, usually unsuccessful.

Re-implementing the "most recent unread submission" sounds good. These are the most satisfying as a reviewer and submitter, it's better to interact w

[2016-01-03 04:58] kytrinyx commented on #1844
Thanks, @iamtjg -- do you happen to know what the error would look like if you tried to use `where` in PowerShell or `where.exe` from cmd?

[2016-01-03 05:07] iamtjg commented on #1844
`where` in PowerShell helpfully does nothing and silently goes to a newline :smiling_imp:.  `where.exe` will still work in cmd so best to have people use the 'longhand' regardless of which they are using

[2016-01-03 05:09] kytrinyx commented on #1844
Haha, how handy. OK, that works, then.

[2016-01-03 06:40] LegalizeAdulthood commented on #2693
Yes, that's the place.

[2016-01-03 11:51] tejasbubane commented on #2694
If I am not wrong, the notifications page is `./app/views/notifications/index.erb` and `Language.of` is being used there: https://github.com/exercism/exercism.io/blob/master/app/views/notifications/index.erb#L68

the problem here is:
[code]
A simple `downcase` would fix this.
@kytrinyx let me know if this is correct and I will send a PR.

[2016-01-03 12:00] tejasbubane commented on #2694
Ohh this is the dashboard notifications! My bad. There we have `capitalize` instead of `Language.of`: https://github.com/exercism/exercism.io/blob/master/app/views/dashboard.erb#L72

[2016-01-03 16:19] AlexWheeler opened #2706 "Link to command-line client on languages page"
on the individual language pages, (http://exercism.io/languages/:language) under the Try It header it says "if you've downloaded the command-line client...".

It would be nice to make command-line client a simple link so user could quickly navigate to it and download instead of trying to find link in footer or elsewhere.

[2016-01-03 17:26] kytrinyx commented on #2706
Fixed in #2707 - thanks!

[2016-01-03 17:26] #2706 closed

[2016-01-03 17:26] #2694 closed

[2016-01-04 04:14] ronnieoverby commented on #2598
+1 When I view the notifications list and come back, all notifications are gone, whether I checked them all or not.

[2016-01-04 06:07] kytrinyx commented on #2598
@ronnieoverby just looking at the notification list marks them as read and disappears them? (If so, ouch! That's definitely a bug.)

[2016-01-04 18:06] LegalizeAdulthood commented on #2616
I have a fix for this in progress.  I am waiting on some test feedback before deployment.

[2016-01-04 18:40] LegalizeAdulthood commented on #2441
@spazm Why does it need to be upper case?  Its amazing how these really simple sounding problem descriptions yield so many different interpretations! :smile_cat:

[2016-01-04 18:52] LegalizeAdulthood opened #2710 "help pages have ragged formatting"
I'm not sure how these help pages are being generated, but the formatting looks awful.  It looks like every newline in the source file is being treated as a hard line break?

![image](https://cloud.githubusercontent.com/assets/4270863/12097560/8d960bb2-b2d9-11e5-8fec-ef62c9ac91b9.png)

[2016-01-04 19:15] kytrinyx commented on #2710
These are being generated from markdown. I thought markdown only generated hard breaks / new paragraphs if there was a blank line between two blocks of text. I'll clean that up.

[2016-01-04 19:22] kytrinyx commented on #2710
Apparently, markdown will also generate hard breaks if a line ends with two spaces. I don't see any spaces here, so there might be a bug in how we're generating the html.

[2016-01-04 19:28] kytrinyx commented on #2710
Found it. We were passing an option explicitly--no idea why. Fix incoming.

[2016-01-04 19:33] #2693 closed

[2016-01-04 19:34] #2710 closed

[2016-01-05 06:26] RichardBronosky commented on #2401
You could include a compressed file like https://dl.dropboxusercontent.com/u/310759/u/ExercismObjectiveCExampleProject.tgz and add to the README files how to:

    curl https://dl.dropboxusercontent.com/u/310759/u/ExercismObjectiveCExampleProject.tgz | tar zx

I think that should cover it. I added a script in there so that the actual instruction could be to:

    curl https://dl.dropboxusercontent

[2016-01-05 10:49] NobbZ opened #2711 "Up-/Downvoting of nitpicks"
Sometimes I do stumble over some nitpicks that give some advice in the wrong direction. Even while I try to argue and add clarifying nits, I'm missing the possibility to up- and downvote nitpicks.

[2016-01-05 14:10] kytrinyx commented on #2711
I think this would be useful, however I worry that it would devolve into stack-overflow style gamification.

[2016-01-07 15:47] NobbZ commented on #2711
I don't think that SO style gamification is a bad thing. I do see that it works, and at least for me it is very encouraging to see karma climbing up, to be honest, I even thought about proposing some karma system for exercism.io, but after your answer I have stopped my thinking in that direction.

So how can we achieve some system that does mark dangerous nits as such, without gamifing to much? Th

[2016-01-07 16:33] jtigger commented on #2711
Interesting.  What about the ability to tag your own response to a
nitpick?  It would be a pre-defined list with easy-to-spot icons... for
example, "++" (thumbs-up), "--" (thumbs-down).  or emoticons that range
from delight to flipping tables.

Do no show counts of any of the tags, they are simply visual clues that
draw the eye to the comment.  To that end, any submission that has a tag
gets a gen

[2016-01-07 20:17] mfrost commented on #2697
Yep, I'll check this out. Happy new year, btw!

[2016-01-07 23:35] kytrinyx commented on #2697
Happy new year :)

[2016-01-08 23:41] kytrinyx commented on #2698
Today I added activity stats for all of the tracks: http://exercism.io/stats

[2016-01-09 00:03] verdammelt commented on #2698
RE: stats page for Lisp - interesting - huge hump for the first few then drop off (OK, people starting and then not continuing) but then another hump about 5 exercises later then another flat spot. So those middle ones are just "meh"?

[2016-01-09 02:51] kytrinyx commented on #2698
Maybe! What happens if we move those middle ones to the end for a while and see if people go farther?

[2016-01-09 03:07] kytrinyx opened #2712 "Track Stats -- and related tools to improve the feedback / responsiveness on the site"
So. Stats are here: http://exercism.io/stats

Let's talk about how we can use this to improve the conversations and the tracks!

[2016-01-09 03:07] kytrinyx commented on #2712
@jtigger mentioned in the chat room:

Also, a gist that @jtigger appears to have made up on the fly:

[code]

[2016-01-09 03:17] kytrinyx commented on #2712
Hey, @jtigger, should I create API endpoints for any of the stats that we find useful? It seems a bit less dirty than parsing it out of the canvas :)

[2016-01-09 03:29] jtigger commented on #2712
yes, please!

[2016-01-09 03:30] jtigger commented on #2712
gist: https://gist.github.com/jtigger/0681416df8a54bb38d6f

[2016-01-09 03:30] kytrinyx commented on #2712
Incoming.

[2016-01-09 03:34] jtigger commented on #2712
Better if it were reported as a list of exercises with stats attached to each exercise.

[2016-01-09 03:36] kytrinyx commented on #2712
Agreed--that's how it's coming out of the database. I had to munge it for the chart.js library.

something like:

[code]

[2016-01-09 03:37] kytrinyx commented on #2712
Also, what other data should we see if we can tease out of the database?

[2016-01-09 03:58] jtigger commented on #2712
I like where you're going with timing of responses... not sure how to present... will think on it.

[2016-01-09 04:07] kytrinyx commented on #2712
Hm. If we return the problems as an array, then we can have them in track order, which I think is useful.

[2016-01-09 04:11] kytrinyx commented on #2712
OK, weird. I knew that Ruby's current implementation of hashes keep them ordered, but the json appears to also be ordered.

[2016-01-09 04:14] kytrinyx commented on #2712
OK, @jtigger here you go: http://exercism.io/api/v1/stats/java/activity/recent

[2016-01-09 07:48] tejasbubane commented on #2636
@kytrinyx Apart from 24pullrequests, I think this getting started info should be somewhere in the README (maybe under the [contribute section](https://github.com/exercism/exercism.io#contribute)).

[2016-01-09 13:10] verdammelt commented on #2698
I looked at the chart again this morning and now wonder if it is showing two cohorts, one that started longer ago (second bump) and some that started recently (first bump). So the valley is just that some people are past those exercises and others haven't reached them yet?

Reordering the exercises could be an interesting experiment. We'd just have to change the `config.json` in the track repo and

[2016-01-09 17:48] kytrinyx commented on #2636
That's a good point. If you get have a moment, would you mind submitting a PR? If not no worries, I'll get to it in a bit.

[2016-01-09 17:51] kytrinyx commented on #2698
That's a good point about the cohorts. I think you could be right.
Let me add some "historical data" type charts so that we can avoid making decisions based on what happened over the holidays, which could be totally spurious.

Reordering the exercises would just be the config, and then deploying the x-api again (which I do every day-ish).

[2016-01-09 21:24] kytrinyx commented on #2712
@verdammelt @canweriotnow @jtigger I added variations on that chart. Take a look and let me know what seems useful.

[2016-01-10 00:26] canweriotnow commented on #2712
@kytrinyx I can't remember, does exercism use jQuery? I'd kind of like to play with a fork using highcharts as mentioned on Gitter, but I need to look at deps to see whether or not to use the jQuery version or the non-jQuery version (latter preferred :smile: )

[2016-01-10 00:39] kytrinyx commented on #2712
Yeah I think it does. At least, I think that the javascript I wrote today was jquery... but seeing as I'm javascript impaired, that might be untrue.

[2016-01-10 01:56] canweriotnow opened #2715 "External integrations"
This is more of an ideation issue, I'm not sure what exactly would be the most useful/possible.

I've mentioned the possibility of instrumenting exercism for [xAPI](https://github.com/adlnet/xAPI-Spec) and providing free LRS/analytics from [my company](http://yetanalytics.com)'s platform.

But I was also thinking about other developer community sites like [Coderbits](http://coderbits.com), [Coderw

[2016-01-10 03:22] kytrinyx commented on #2715
I'm totally open to this, but it would require other people doing the bulk of the thinking and the implementation, since at the moment I'm focused on fixing the onboarding and closing the feedback loop, both of which are big and complicated.

[2016-01-10 03:59] canweriotnow commented on #2715
@kytrinyx Yeah, definitely. Just wanted to open the conversation. I'm happy to build integrations, just wanted to see what people thought might be useful before I start on anything.

[2016-01-10 08:01] jtigger commented on #2712
There's a process in Data Science of doing what amounts to discovery with what's known as data exhaust.  This is very much what we're up to.  Trying lots of different shapes, sizes and colors on to see what resonates.  Read: let's keep playing like this.

This round is forcing me to wonder what the shelf life of this kind of data is.  I do find varying windows helpful for perspective (like the loa

[2016-01-10 08:09] jtigger commented on #2712
... as a matter of fact, one of our Data Scientists just did a Lunch n' Learn about the shape of a typical engagement. I am going to see what appetite April has to help out, here.  At the very least, she can help bootstrap the tool chain and process of developing statistical models that we'd want to grow to start asking such questions...

----
(dictation taken by Thumba Leena)

[2016-01-10 08:14] jtigger commented on #2712
... hey @canweriotnow, is this kind of modeling the stuff that Yet Analytics does?  I see in a different but relates issue you mention looping them in...

----
(dictation taken by Thumba Leena)

[2016-01-10 17:47] kytrinyx commented on #2712
@jtigger these are great questions. I'd love to hear what April (or Noelle) would have to suggest about how to improve this discovery process.

[2016-01-10 19:21] kytrinyx opened #2716 "Deleting all iterations from a solution doesn't remove it from the dashboard."
Reproduction steps:

- submit a solution to an exercise
- delete the solution manually via the web interface
- go to the dashboard

=> It will still be listed in the "you're working on" list.

[2016-01-11 21:52] kytrinyx commented on #2537
I've done a first round of changes for the homepage. I'm pretty happy with how it worked out. I'll likely keep tweaking this, but I am considering this issue as closed.

[2016-01-11 21:52] #2537 closed

[2016-01-11 21:55] kytrinyx commented on #1938
This feature has been removed.

[2016-01-11 21:55] #1938 closed

[2016-01-11 21:55] kytrinyx commented on #2585
I've removed this feature for now.

[2016-01-11 21:55] #2585 closed

[2016-01-11 21:56] kytrinyx commented on #2536
The language landing pages have been improved. More could always be done, but I think this issue is ready to be closed.

[2016-01-11 21:56] #2536 closed

[2016-01-11 21:57] kytrinyx commented on #2525
It doesn't seem like this went anywhere. I'm going to leave it as is for now, and if someone comes up with a better suggestions, we can change it.

[2016-01-11 21:57] #2525 closed

[2016-01-11 22:46] AlexWheeler commented on #2716
I'll look into this

[2016-01-11 23:29] kytrinyx commented on #2716
Excellent, thanks!

[2016-01-12 18:25] mfrost commented on #2697
So as far as I can tell, the parser is choking on the second code block.

[code]

It seems to be swallowing up the contents at some point before `ExercismLib::Markdown::block_code`. It does look a lot like a markdown link...

[2016-01-12 18:47] mfrost commented on #2697
Maybe something in [this section](https://github.com/vmg/redcarpet/blob/master/ext/redcarpet/markdown.c#L2837-L2863) is failing? The C file is pretty long and hard to follow. I do know that if I add 4 spaces to the front of the line, [is_ref()](https://github.com/vmg/redcarpet/blob/master/ext/redcarpet/markdown.c#L2603-L2604) seems to ignore the powershell code and it comes out correctly.  Stumped

[2016-01-12 18:56] mfrost commented on #2697
Updating to the latest version of redcarpet (3.3.4) seems to fix this issue. Can you confirm @kytrinyx? Here is a handy link for comparison: https://github.com/vmg/redcarpet/compare/v3.2.3...v3.3.4

Perhaps it was https://github.com/vmg/redcarpet/pull/435?

[2016-01-12 20:14] kytrinyx commented on #2697
I think you're right that it has something to do with the second code block looking suspiciously like a link. I'll update redcarpet and confirm the fix.

[2016-01-12 20:42] tejasbubane opened #2719 "Fail if migrations are pending"
Currently there is no check for pending migrations. Tests fail directly if migrations are pending. Also there should be an alert before server starts.

I tried adding the following code to `config.ru` and `test_helper.rb` but `active_record` is not loaded by then, so could not get it to work.
[code]

[2016-01-12 20:47] kytrinyx commented on #2719
We can require Active Record in config.ru.

[2016-01-12 20:52] #2588 closed

[2016-01-12 20:56] #2697 closed

[2016-01-12 20:57] kytrinyx commented on #2697
Thanks @mfrost that did it.

[2016-01-12 22:06] mfrost commented on #2697
Booyah. :+1:

[2016-01-13 02:11] piara108 opened #2720 "I would like to delete all current exercises from a language track."
I was wondering if there's a way to delete all of the exercises in a language track.  For example, coming back to JavaScript and deleting all of the current iterations and start over.  It would be a nice feature when coming back to the language!

[2016-01-13 02:13] piara108 commented on #2686
This would be fantastic!

[2016-01-13 14:14] StevenACoffman opened #2721 "Show my stats such as nits given and nits recieved"
I feel like there used to be a way to show the nits I had previously picked, but I cannot find it.

I had left a comment on someone's, and then later found out I had perpetuated a myth, and now I cannot find it except by going through several pages of recently viewed.

I also would use this to bookmark interesting solutions.

[2016-01-13 15:01] StevenACoffman commented on #2721
Ok, yep. My browser history has URLs like:
* exercism.io/nits/StevenACoffman/stats
* exercism.io/nits/StevenACoffman/given
* exercism.io/nits/StevenACoffman/received
But those are now giving 404s. Have the links changed? This was very useful functionality for bookmarking previously given nits.

[2016-01-13 15:15] StevenACoffman commented on #2721
Ah! This was removed in db57479394461c32db5e02f19d9b92bed58d8de4

So sad. Where we now have "recently viewed" can we have a "recently commented" or "recently given" or something so we have a way of getting back to things we've commented on?

[2016-01-13 15:20] StevenACoffman commented on #2721
By the way, [other people have been touting this feature](http://exercism.io/submissions/778b2276754e4592aefca30c4889f6cb) as a way to keep track of interesting solutions, and so it has been encouraging some people to comment more. I think it was hard to find that it existed.

[2016-01-13 16:30] remcopeereboom commented on #2698
I am always reviewing the ruby track, so I find it a bit annoying that I have to select ruby every time when I click on the Exercises button. Perhaps we could store the last selection so that every time you login it is restored. Alternatively, why not have the dashboard show a mix of submissions from all tracks?

I try to look for submissions that never got a review so a filter for that would be n

[2016-01-13 17:25] remcopeereboom commented on #2594
I think stackoverflow has some great ideas that might be useful here. First of all they have these two little boxes that give hints about the formatting of nits (i.e. that you can use markdown) and this box about _how to ask_. I think we could have something similar in exercism: _how to nit_.
@kytrinyx made this great comment in another post where she mentioned some good beginner questions:

Perha

[2016-01-13 23:47] kytrinyx commented on #2720
I'd be open to having this implemented in some way.

In the meanwhile, do you want me to clear out your javascript solutions?

[2016-01-13 23:50] kytrinyx commented on #2698
Yeah, I find it annoying to have to select the track I want as well. We should definitely fix that. I'm not sure I want to have the dashboard show a mix unless people tell me that they consistently review a mix of languages.

You mean the "exercises" link? Or the "five a day" feature?

[2016-01-13 23:53] kytrinyx commented on #2721
Yeah, it was hard to find, and not well-implemented. I think we should have a way of getting back to comments--a proper search feature would be excellent.

[2016-01-13 23:55] kytrinyx commented on #2721
I think that a good stats feature would be useful, however it didn't seem like the previous implementation was being used at all. If we implement this I'd like to do good research into what people actually need and are frustrated by, not just make wild guesses.

[2016-01-14 00:02] kytrinyx commented on #2594
Linking to a checklist would be great. Linking to a different checklist per language would be fabulous, I think.

I think the idea of adding random example questions could work, as long as it doesn't become noise that people ignore.

[2016-01-14 00:02] #2716 closed

[2016-01-14 00:03] piara108 commented on #2720
Hey Katrina, thanks for getting back to me.  Could you clear my Javascript and Ruby solutions, please?  Thanks!

Sincerely,
Piara Sandhu

[2016-01-14 01:17] remcopeereboom commented on #2698
The five a day feature. I probably should have said drop-down menu.

[2016-01-14 07:11] tejasbubane commented on #2720
@kytrinyx I was thinking we can have this in the exercises table on profile page where a person can mark one or more exercises - something like gmail - then delete or archive. What do you think?

[2016-01-14 10:30] abhishekbose87 commented on #2633
Hi @kytrinyx .. could I take a jab at this one ?

[2016-01-14 14:19] StevenACoffman commented on #2721
Fair enough. We've got 37 people on our team, and the consensus is that a way of bookmarking interesting solutions is very much wanted. Similarly, people want to revisit their old comments, which can be a way of bookmarking.

Actual search is an interesting idea. There's a lot of possibilities there, so actual research before implementing be good.

[2016-01-14 19:56] kytrinyx commented on #2720
Yeah, that sounds good. I'd like to move them to a deleted_iterations table rather than just deleting them outright.

[2016-01-14 20:00] kytrinyx commented on #2633
Yes, that would be great.

The loop happens in `app/views/application/_navbar.erb` and the `tracks` that it's looping over is defined in `app/routes/core.rb`.

[2016-01-14 20:01] kytrinyx commented on #2698
Maybe :) we have several of those, as well.

I think having this in the dashboard instead of the nav would be a good idea.

[2016-01-14 20:02] kytrinyx commented on #2721
Yeah, it sounds like there are lots of needs here that we should look into before taking another stab at this. Thanks for kicking off the discussion.

[2016-01-15 03:03] remcopeereboom commented on #2698
Ah... so you do... :) Clearly my workflow does not include the other ones (actually I do occasionally log out).

[2016-01-15 18:08] mhelmetag commented on #2501
I'm feeling pretty close on a first pass for adding a ui to see mentored tracks and invite others on the profile page. I should have a PR and some screenshots for that by tonight.

[2016-01-15 20:16] kytrinyx commented on #2501
Excellent, I look forward to seeing it.

[2016-01-17 20:30] #2719 closed

[2016-01-17 21:55] #2601 closed

[2016-01-18 15:27] kytrinyx commented on #2721
There's a feature that I've been thinking about for a long time, that might help with this: Subscribe/Unsubscribe to conversations.

This would let you follow a conversation without commenting, or unfollow a conversation where you were mentioned or where you commented.

Then we could add a page that shows you the conversations you're subscribed to (that could be a bit messy--I'm subscribed to abou

[2016-01-18 19:23] #2686 closed

[2016-01-19 08:39] mhelmetag commented on #2535
It's times like these where I wish I knew more about frontend. I wonder how this would look... like an interactive slideshow? Not sure. A mockup could be fun to make.

[2016-01-19 19:59] kytrinyx commented on #2535
I keep hoping someone with frontend skills will be super-inspired to work on this. If not I'll have to finally go learn some proper design, HTML, CSS, and enough JavaScript to make it so.

[2016-01-21 02:59] daveyarwood commented on #1661
I would personally enjoy having a button I could click that would give me a random solution for me to nitpick. If we had something like that, especially in combination with some sort of incentivization/gamification of nitpicking (i.e. #1617, #1978), I think that could make short work of the backlog.

[2016-01-21 17:44] masters3d commented on #2401
I think we addressed this with the creation of the hello word exercise Xcode project.

I don't know about objective-c but as far as swift goes, I'd like to move it away from depending on Xcode projects once swift 2.2++ becomes available on Windows.

https://github.com/exercism/xswift/issues/2

[2016-01-21 17:48] masters3d opened #2730 "Possible to have a git track?"
I know git is not a language per se but I was curious if a git practice track could be even made so people could practice git on the command line.
I am one of those people who don't really know a lot of git.

[2016-01-21 19:35] kytrinyx commented on #2730
I'd rather not, since the exercises would be very different, and I don't know what we would submit for discussion.

It would, however, be a really interesting stand-alone project.

There are a few things around already:

- https://github.com/Gazler/githug
- http://gitimmersion.com/

which are both quite good for practicing.

For understanding git from the bottom up, the best thing I've found is

-

[2016-01-21 19:47] kytrinyx commented on #2401
Excellent. Thanks!

[2016-01-21 19:47] #2401 closed

[2016-01-21 19:57] kytrinyx commented on #1661
I used to have a random solution on the dashboard, but it seemed like it was mostly getting ignored. I've been dealing with onboarding issues over the past months, and am just about to start looking at how to close the feedback loop, so I'll bring this idea back up for some thought.

[2016-01-22 00:12] masters3d commented on #2730
Sounds good. Thanks for the help.

[2016-01-22 00:12] #2730 closed

[2016-01-22 00:33] kytrinyx opened #2731 "Add a private "share" link"
I'd like to make it possible for people to share their profile in a way that gives people access to their exercises.

In other words: if you visit their profile normally, then you would only have access to the exercises that you've done yourself. If you visit with the private share link, then all the exercises would be accessible to you.

This would be really useful for people who want to share wi

[2016-01-22 03:55] petertseng opened #2732 "directory structure not preserved on submission"
The directory structure on my local machine for a certain exercise is:

[code]

All right, so I submit via `exercism submit poker/{hand/hand.go,hand/parse.go,poker.go}`.

After I submit, I think Exercism has flattened the directory structure so that everything is in the same directory. I have two reasons for thinking so.

## reason 1: automated feedback

@rikki- comments on my solution saying "`go

[2016-01-22 04:28] mhelmetag opened #2733 "Investigate New Relic noise when running local server with ruby 2.3"
I've noticed that since the upgrade to ruby 2.3.0 there's a lot of noise in the server logs... I'm not really sure if this is just on development but I'm guessing not since new relic is for production monitoring. When I'm testing locally, I'm seeing each request take around 1 - 3 seconds (not super stoked about that).

The issue is pretty easy to reproduce. Basically pull the latest exercism maste

[2016-01-22 04:31] abhishekbose87 commented on #2731
@kytrinyx This would be a great addition to exercism :+1:

I am listing some steps to get to the design of the solution. Looking forward to your suggestions.
- Have a button on profile page to generate private url link
  - generate url using format `http://exercism.io/{{user_id}}/public_profile/{{6 digit id}}`
  - store the 6 digit id in user table for verification
- Allow visits to this page with

[2016-01-22 05:14] wobh commented on #2730
Also good: http://think-like-a-git.net/

[2016-01-22 05:25] masters3d commented on #2730
Nice! Thanks.

On Thursday, January 21, 2016, William Clifford <notifications@github.com>
wrote:

[2016-01-22 06:31] mhelmetag commented on #2733
<img width="647" alt="screen shot 2016-01-21 at 10 32 24 pm" src="https://cloud.githubusercontent.com/assets/8609429/12504009/aa0b9a56-c08e-11e5-8c8d-941f94f7487d.png">

[2016-01-22 09:12] petertseng commented on #1385
since [unsubmit is no more](https://github.com/exercism/cli/commit/43c03450132b379896bdf58db4c54e63562d84b6) , I suppose this could go

[2016-01-22 09:26] petertseng commented on #2315
Looks like this got done recently at https://github.com/exercism/cli/commit/6ff669dd6bc28abf3be296a63ddf7c58f340df68

[2016-01-22 09:31] petertseng commented on #2594
Seems similar to https://github.com/exercism/exercism.io/issues/2164 , maybe should merge

[2016-01-22 09:38] petertseng commented on #2181
I have a suspicion that https://github.com/exercism/exercism.io/commit/eb78407b953ecc7cf16d6e0e1f856ce09ee88eeb has done this? At least the percentage part is done. Current exercise isn't, but that's a bit of a tricky thing since it's possibly to jump around non-linearly (I say this being very aware that I do this a lot)

[2016-01-22 09:39] petertseng commented on #2732
A little bit of #2174  in here. In particular, the "There's a caveat, if files are in a subdirectory, then they need to be stored relative to the problem dir, not with just the filename." needs to be done

[2016-01-22 10:25] NobbZ opened #2734 "Progressbars on accountpage, differ between archived and not archived exercises"
Hi, since I see a fundamental difference between archived and not archived submissions in their level of "finishness" I'd like to see them differentiated in the progressbars also.

I don't know if it is (easily) possible to do the change, but my idea is the following:

To the left of the bar have a green part which corresponds to the number of archived submissions in that track.
To the right of th

[2016-01-22 10:32] NobbZ opened #2735 "Make display of progressbars collapsable"
Some users have quite a large number of touched tracks.

My own list of progressbars has 13 entries (I really need to touch another track) and when I look at my own profile page, I do only see progressbars and I have to scroll down a complete "page" before I have my actual list of "open" submissions.

Perhaps there are user which have even more entries (or smaller displays) and it might be hard fo

[2016-01-22 10:41] NobbZ opened #2736 "Don't include "HelloWorld" in progress or statistics in general"
Since the HelloWorld problem is merely an introduction to exercisms workflow, rather than a real problem, I don't think it should be included in any track related statistics.

For example I did CoffeeScript HelloWorld once and after fetching the first real problem of that track, I postponed the track and didn't continue until now and I might even wait much longer. But I do have this track in my pr

[2016-01-22 15:18] kytrinyx commented on #2731
I think for the URL I'd like to use `http://exercism.io/profiles/:username/:short_uuid` where :uuid is the first 6 digits of an `Exercism.uuid`. I agree that this should be stored in a table for verification -- the users table is probably fine for this.

If you have the url, then you will be able to visit the page without authentication.
On this page, all of the links to the user's exercises will

[2016-01-22 19:46] simondiep commented on #2712
@kytrinyx In regards to your initial comment, the link [http://exercism.io/stats](http://exercism.io/stats) redirects to [http://exercism.io/stats/clojure](http://exercism.io/stats/clojure) with an HTTP 500 error

[2016-01-22 20:01] simondiep commented on #2610
The original issue of test suite links not working seems to be fixed for ECMAScript, but not JavaScript.

For example: http://exercism.io/exercises/javascript/leap

[2016-01-22 20:58] kytrinyx commented on #2733
I'm seeing the same noise in the server logs locally, but not in production.

I'm thinking... let's just ditch the gem for now. I haven't been looking at the newrelic stuff for a long while, and we can always take some time to put it back in when we're ready to look at actual performance issues.

[2016-01-22 20:58] kytrinyx commented on #1385
Haha, yes. Thank you!

[2016-01-22 20:58] #1385 closed

[2016-01-22 20:59] kytrinyx commented on #2315
yepp, thanks!

[2016-01-22 20:59] #2315 closed

[2016-01-22 21:00] kytrinyx commented on #2594
Yes, agreed. I wish there were a literal merge option, but in the meanwhile... closing as duplicate. Please see the discussion in #2164.

[2016-01-22 21:00] #2594 closed

[2016-01-22 21:00] kytrinyx commented on #2181
Yeah, this is the progression bar that was just added.

[2016-01-22 21:00] #2181 closed

[2016-01-22 21:01] kytrinyx commented on #2732
I'm pretty sure this was done, but I'm going to take a closer look. This is high priority bug.

[2016-01-22 21:10] petertseng commented on #2732
If you think it was in fact done already, and the change involves a CLI client change, let me know. I may have submitted with an old 2.2.1 client, since I hadn't updated until a few hours ago. I can start building clients from git instead.

[2016-01-22 21:18] kytrinyx commented on #2736
Yeah, let's remove hello-world from the progress bar.

@paradime do you want to take a look at this one? ("no" is a perfectly good answer, just asking since you're familiar with the feature).

[2016-01-22 21:21] kytrinyx commented on #2732
Give me a bit to dig into this. There are few moving pieces (and the ruby codebase is a mess). I think the bug is in the ruby code, the cli should just write whatever path the api says the file is at.

[2016-01-22 21:23] kytrinyx commented on #2734
How about gray for archived and green for "in progress"? I don't want people to think that the goal is to archive things as quickly as possible.

@paradime what do you think?

[2016-01-22 21:25] kytrinyx commented on #2735
How about only showing the most recently touched track by default, with a link to expand to "show all" if you have more than one progress bar?

@paradime how easy do you think this would be?

That would make it so you don't scroll a whole lot, we don't have to have a setting, and people who only have one will never know that we only show one by default.

[2016-01-22 21:26] kytrinyx commented on #2712
Ah. That's new. I must have broken something.

Update: actually, it looks like clojure is broken, but e.g. Go is not.

[2016-01-22 21:28] kytrinyx commented on #2610
Yeah, if I go to exercism.io > Languages > JavaScript > Available Exercises > Leap and try to go to the test suite, it breaks. Reopening this.

[2016-01-22 21:31] NobbZ commented on #2734
I'm not nailed exactly on the colors I mentioned and I do understand your
opinion. I just mentioned the colors as a starting point for discussions.

Katrina Owen <notifications@github.com> schrieb am Fr., 22. Jan. 2016 22:23:

[2016-01-22 21:34] kytrinyx commented on #2734
Yeah, that's what I figured. The "orange" makes me think "warning" though, so I immediately reacted to it.

[2016-01-22 21:34] mhelmetag commented on #2733
Sounds good! I'll check that out.

Last night I was experimenting with upgrading a few different gems but upgrading `newrelic_rpm` didnt solve our problems. I also looked at the implementation and thought maybe something had changed but that wasn't it either.

Since it's just a development environment issue, I have a feeling that it might have to do with tenabling developer mode (https://github.co

[2016-01-22 21:35] NobbZ commented on #2735
This does sound OK for me.

Katrina Owen <notifications@github.com> schrieb am Fr., 22. Jan. 2016 22:25:

[2016-01-22 22:51] kytrinyx commented on #2732
The bug is definitely in the Ruby code.

[2016-01-22 23:05] kytrinyx commented on #2733
I'm not sure it's just a newrelic thing. Still investigating.

[2016-01-22 23:09] kytrinyx commented on #2733
OK, I'm absolutely convinced that this has nothing to do with newrelic, but I don't really want to dig into this right now... I'm working on something else that requires a ton of work, and I don't want to go down this rabbit hole.

I'm going to revert the upgrade temporarily until someone (maybe me) has time to dig into this.

[2016-01-22 23:14] kytrinyx commented on #2732
I've confirmed that the bug is in ruby.

The CLI submits:

[code]

But the database stores:

[code]

[2016-01-23 00:04] #2732 closed

[2016-01-23 00:34] petertseng commented on #2732
Thanks. I'll take a look in a few hours by submitting my poker solution.

[2016-01-23 06:46] petertseng commented on #2732
:+1: directory structures good

[2016-01-23 07:10] petertseng commented on #2732
And now the bad news. This broke `exercism download` for submissions containing directories. Will file issue and fix soon.

[2016-01-23 18:27] kytrinyx commented on #2732
Darn, ok--good catch.

[2016-01-24 11:54] NobbZ opened #2737 "Dashboard: "You have #{n} unsubmitted problems.""
On my dashboard I see a list of 5 items, and a comment below that I do have 13 unsubmitted problems.

The list of 5 does tell me some of these 13. But what are the other 8?

Can we have a "see all" as we have with the active problems just above? Or am I the only one having this small problem because of my diversity in tryed tracks?

[2016-01-24 17:14] kytrinyx commented on #2737
It sounds like a bug. I don't submit code very often--I almost exclusively review code, so I haven't run into it.

[2016-01-24 17:54] NobbZ commented on #2737
I'll post a screenshot when I'm back home.

Katrina Owen <notifications@github.com> schrieb am So., 24. Jan. 2016 18:14:

[2016-01-24 18:14] NobbZ commented on #2737
![unsubmitted_problems](https://cloud.githubusercontent.com/assets/58951/12538017/32d17fea-c2ce-11e5-918e-67d3c9207293.png)

The above screenshot shows the last line of the "active problems", below that, there are 5 so far unsubmitted but fetched problems in some arbitrary (?) order. Below that there is a summary just as with the active problems, but without "see all". So I do not have a way to se

[2016-01-25 01:31] kytrinyx commented on #2737
Ah, OK, yes that makes sense. Thanks for clarifying.

[2016-01-25 13:35] abhishekbose87 commented on #2731
Looks good to me. Actually 6 digits was a random number, I rather use the full value of `Exercism.uuid`.

Let me submit a PR by end of this week.

[2016-01-25 15:47] kytrinyx commented on #2731
Excellent, thanks!

[2016-01-26 05:53] ethangodt opened #2738 "Rethinking onboarding and some design changes"
Hey y’all!

My name is Ethan and I’m a full stack Javascript developer. I’m wanting to get started on some of the front end/UX things that I’ve seen in issues here. You can see some examples of stuff I've designed at http://ethangodt.com.

So, I think one of the biggest things is that onboarding is overwhelming generally, and especially to people not yet comfortable with the command line. It seems

[2016-01-26 14:15] kytrinyx commented on #2738
@jtigger @qianapatterson -- your eyeballs and opinions would be invaluable here!

I really, really like how much clearer and simpler the homepage suggestion is. I didn't actually notice the logos until you mentioned them specifically and I went looking for them, but it is a subtle way to emphasise the many languages.

@qianapatterson were talking about how so many of the clicks on the homepage goe

[2016-01-26 23:07] DaveTorbeck opened #2740 "Error page when trying to access profile page"
![screen shot 2016-01-26 at 3 07 13 pm](https://cloud.githubusercontent.com/assets/5829885/12598323/82709e84-c43e-11e5-8649-c3c3775e880b.png)

[2016-01-26 23:12] kytrinyx commented on #2740
Thanks, looking now!

[2016-01-26 23:17] #2740 closed

[2016-01-26 23:18] kytrinyx commented on #2740
Found it. Deploying now. Thanks for reporting it!

[2016-01-26 23:18] DaveTorbeck commented on #2740
No problem!  Thank you!

[2016-01-27 19:03] kytrinyx opened #2741 "Implement persistent authentication via GitHub"
https://developer.github.com/guides/basics-of-authentication/#implementing-persistent-authentication

This should improve the experience significantly for people who use exercism a lot.

[2016-01-27 19:52] tejasbubane commented on #2741
I would like to take a stab at this.

[2016-01-27 22:16] NobbZ opened #2742 "Submissions with older client (1.x) destroys user profile and submission"
In the gitter-support channel there was someone yesterday who was not able to access his profile page anymore, as well as he couldn't see his recent submissions. He used cli version 1.9.

Today another user had the same problem using cli version 1.7

Todays user managed to update cli to a recent version during talk. She resubmitted his exercise and it was available then. Still her profile page is

[2016-01-27 22:31] masahx commented on #2742
Hi, I am second user.
These "5 iterations" are probably because I sent 5 times my files for "Food Chain" exercise, where problem appeared.
Now I am using new CLI version, but when click on "Exercises" on my account link I got: "Couldn't find that user. ".
I can't reach page with list of other people's solutions.
My dashboard look like this:

(it didn't list "Food Chain" here. "see all" is link, bu

[2016-01-28 18:29] kytrinyx commented on #2741
Excellent, thank you!

[2016-01-28 18:41] kytrinyx commented on #2742
OK, thanks for reporting this. I'll dig into it today.

[2016-01-28 20:27] kytrinyx commented on #2742
I've fixed the profile problem, and am deploying it now. Next I'll fix the root cause so that older clients can still submit successfully.

[2016-01-28 20:40] kytrinyx commented on #2742
Fix isn't quite fixed. Shouldn't have closed it.

[2016-01-28 20:48] kytrinyx commented on #2742
OK, this time it really is fixed. Deploying.

[2016-01-28 20:57] masahx commented on #2742
Was it hard? I still have "Cpp () 	0 comments 	iterations 5" on "Dashboard", but now "see all" is better, but first entry there http://exercism.io/masahx is "Cpp". "Exercises" link says "Couldn't find that user. "

[2016-01-28 21:41] kytrinyx commented on #2742
The dashboard is a different problem--I missed that in the discussion. I've fixed it now.

[2016-01-29 17:49] mhelmetag commented on #2737
We could do some quick javascript to do a see more.../see less... type deal to show a shortened and full list.

Another idea would be to do it in pure css :heart_eyes: http://www.sitepoint.com/implementing-show-moreless-functionality-with-pure-css/

[2016-01-29 19:06] kytrinyx commented on #2737
Yeah, either of those would work. I don't know if anyone has a ridiculous number of these... I suspect we'll find out :)

[2016-01-29 19:41] mhelmetag commented on #2737
Agh... I'll put some thought into this over the weekend. Hopefully I have the frontend skills (or aptitude) to put something that's half decent together.

[2016-01-29 22:21] masahx commented on #2742
It looks same when I log in, not solved :( (Cpp at Dashboard, no Exercises...)

[2016-01-29 22:58] kytrinyx commented on #2742
@masahx OK, thanks for letting me know. I'll take another look at this now.

[2016-01-29 23:57] kytrinyx commented on #2742
OK, I found it. You're going to have to log out and log back in again to clear a cookie, then both of the issues should be fixed. Please let me know if you run into any more problems!

[2016-01-29 23:57] #2742 closed

[2016-01-30 16:07] #2731 closed

[2016-01-30 21:55] masahx commented on #2742
My "Exercise" link still doesn't work, and when I deleted some iterations in "Food-chain", iterations which stayed got negative numbers :D. I can't see list with other people's solution, but can see if click on another user

    On Saturday, 30 January 2016, 0:57, Katrina Owen <notifications@github.com> wrote:

 Closed #2742.—
Reply to this email directly or view it on GitHub.

[2016-01-31 00:48] paradime commented on #2736
Yea, I'll get working on them. It might take a week or so because I have to slightly refactor the objects that are being returned but I've got some ideas.

[2016-01-31 08:28] abhishekbose87 commented on #2598
@ronnieoverby I could not recreate this bug. I clicked on the notifications bell, closed the window and opened the url again and they were still there. Are you doing something different ?

[2016-01-31 12:06] masahx commented on #2742
It is OK now, iterations in Food-chain are negative but I don't mind it. "Exercises" link work. Thank you :)

[2016-01-31 17:03] kytrinyx commented on #2742
whuut. OK, wow, we really screwed up your account! I'll run a script to reset all the iteration counts.

[2016-01-31 17:06] kytrinyx commented on #2736
OK, cool! If you want feedback on ideas, go ahead and open a "WIP" (work in progress) pull request.

[2016-01-31 19:35] petertseng commented on #2576
It'd be super rad if this could happen, but I get by in the meantime by using `exercism download` on the two iterations in question and then using `diff` on them locally. So I'm not too high-pri on it I guess

[2016-01-31 19:47] petertseng commented on #2654
I'm pretty sure that `sumOfMultiplesDefault` should be for the test suite only. Students shouldn't have to implement it at all. The fact that there is a "default" of `[3, 5]` is a detail of the test cases and implementations shouldn't need to know about it.

[2016-01-31 19:57] petertseng commented on #2654
Unfortunately I have to eat my words. The [readme](https://github.com/exercism/x-common/blob/master/sum-of-multiples.md) says no factors specified means default to `[3, 5]`. So that's what `sumOfMultiplesDefault` is asking for. So I guess we're back to the question of "how to make this clearer?"

[2016-01-31 20:04] petertseng opened #2743 "Line comments"
Sometime in the distant future I wonder if it would work out to be able to make comments on specific lines of a solution. Oftentimes in my comment I will say something like "on line 47, you could ..." whereas maybe it'd be nicer to just have the comment displayed inline.

Now obviously this would require quite a redesign of the review page, and the current way works just fine in the meantime, so I

[2016-01-31 20:10] petertseng opened #2744 "Highlight a specific line via #L23 or similar"
Notice how in Github I am able to cause a specific line to get highlighted by doing https://github.com/exercism/exercism.io/blob/master/.travis.yml#L1

I think I might like to be able to do a similar thing in Exercism. It would provide a stopgap alternative to line comments (#2743) if I could say "on line 47" and I'd (manually at first, can think about automation later) link the "line 47" to `#L47

[2016-01-31 20:10] habibalamin commented on #2654
Looks like the README was already updated the day I created this issue. Look at the latest commit date on the README you linked.

[2016-01-31 20:13] petertseng commented on #2654
Ahhhh good eye; I totally missed that. In that case, maybe with the change to the README it is now clear enough, and the problem is solved...?

[2016-01-31 20:15] habibalamin commented on #2654
I wouldn't be able to say, I'm afraid, since I now know what's required, my perspective is almost moot. It's definitely clear*er*. I guess we close this issue, and if someone else opens a similar issue, we'll know, right?

[2016-01-31 20:21] petertseng commented on #2654
I suppose that is reasonable.

I liked the proposal of "no defaults!" better, but that solution requires at least a change to the readme and a sweep through all tracks implementing that problem to see whether they do the right thing, and that may be a project for another day (though there is related work tracked at https://github.com/exercism/todo/issues/20 and https://github.com/exercism/todo/iss

[2016-01-31 20:26] habibalamin commented on #2654
If the option of no defaults is on the table, I would say that's preferable too, but of course, it's the choice of whoever has to go and do that work.

[2016-02-01 17:24] masahx commented on #2742
Just "Food-chain" has negative iterations :)

[2016-02-01 19:54] kytrinyx commented on #2742
OK, I think I've got it cleaned up.

[2016-02-01 22:37] GustavoCaso commented on #2720
@kytrinyx is there someone working on this one ??

[2016-02-01 22:41] GustavoCaso commented on #2605
@kytrinyx I would really like to help on this one. It really looks like an interesting project.

[2016-02-02 08:58] abhishekbose87 commented on #2633
@kytrinyx This issue can be closed now.

[2016-02-02 17:38] cjbottaro opened #2746 "Go: Specifications confusing"
Hello.  I'm doing the Go track and I find the specifications in the readme very confusing.  Take hello-world for example...

First off all, we're not writing a program (there is no main function), we just writing a function (the readme instructs to write a program).

Second, if we're writing a function, the specification should be described in terms of input and output (and maybe side effects).  U

[2016-02-02 18:07] kytrinyx commented on #2746
Yeah, that's fair. We try to make the README generic, since the same description is used for all of the languages.

We can't say "write a function" (some languages have methods not functions) and we can't specify inputs and outputs (implementations vary between languages). The test suite is the specification.

I'll see what I can do to clarify.

[2016-02-02 18:20] kytrinyx commented on #2576
Nice workaround, @petertseng.

[2016-02-02 18:21] kytrinyx commented on #2743
I've wanted that since the beginning, I just haven't prioritised it yet.

[2016-02-02 18:21] #2633 closed

[2016-02-02 18:21] kytrinyx commented on #2633
Thanks!

[2016-02-02 18:22] kytrinyx commented on #2720
Not that I know of.

[2016-02-02 18:23] cjbottaro commented on #2746
Ahh, I thought the readme was specific to each language.  Interesting.  So that means all the exercises are the same across the all languages?  That seems difficult to be able to teach idiomatic code.

Take for example an exercise where the user is to create an in-memory cache.  Languages without closures would probably just have an API with `cache.read` and `cache.write`.  But languages with clos

[2016-02-02 18:24] kytrinyx commented on #2654
Yeah, that's always an option.

I don't have the bandwidth to think through the pros/cons of "no defaults", but if someone else can make a good case for it, I'd be happy to write up the issues etc.

[2016-02-02 18:25] kytrinyx commented on #2744
+1 that would be excellent! It shouldn't take much javascript to make this work.

[2016-02-02 18:26] kytrinyx commented on #2605
I'd love to see this happen. If you have someone you want to collaborate with on it, that would be awesome. I'm available to do reviews and give feedback on suggestions/ideas, but I don't have the bandwidth to actually help out with implementation on it.

[2016-02-02 18:27] kytrinyx commented on #2746
Ish :) Language tracks will skip exercises that don't make sense in that language. Here's the full list of problems and which languages implement them: http://x.exercism.io/problems

[2016-02-02 22:12] masahx commented on #2742
Food-chain is OK now, I guess that's it

[2016-02-02 22:23] GustavoCaso commented on #2605
@kytrinyx I would like to know what are your opinions, on how to achieve this feature. I was thinking more into something like:
- http://www.codewars.com
Maybe you like the idea of having some endpoints for dealing with the test and provide the user with valuable information after the submitted the code.

Maybe some endpoints could be:
- Attempt solution
- Finalize Solution

[2016-02-02 22:41] kytrinyx commented on #2742
Thanks for confirming, and sorry about the mess!

[2016-02-02 22:42] kytrinyx commented on #2605
Since javascript runs in the browser, I don't think we need endpoints, other than 'submit' (which we already have an endpoint for).

[2016-02-02 23:41] GustavoCaso commented on #2605
Yeah I agree with you about JS running in the browser, but maybe in the future there would be other languages, and the implementation may be different. What do you think ?? Or are we treating this as a little experiment ?

So it could be some sort of JsFiddle or JSBin, two windows, one for writing one for displaying the evaluated code.

[2016-02-03 05:42] kytrinyx commented on #2605
We're treating this as an experiment. I don't want to think about how to extend it, only see if we can come up with a good user experience for JavaScript.

[2016-02-03 15:26] rebelwarrior commented on #2736
I actually like the Hello World in the progress bar, in some languages getting Hello World to even work is not exactly easy. Try string interpolation in R. Or setting up the environment in R or Swift. It's not trivial for all languages. I do see how having it in the progress bar can be added noise, but what's the harm, doesn't it sort them to the bottom?

[2016-02-03 15:35] rebelwarrior opened #2747 "`exercism status ID` doesn't work across computers"
If I work on different problems on different computers, I have to keep track of what I've done manually.
`exercism status ID` should be able to check what problems I haven't submitted to the website yet it only tracks which I have submitted from that computer only. This makes working across computers a bit harder and there doesn't seem to be a reason for it, since the `status` command should be ab

[2016-02-03 15:37] bmulvihill commented on #2605
A good starting point might be something like the Ace editor
https://ace.c9.io

[2016-02-03 16:02] NobbZ commented on #2736
Since there is no (obvious) ordering, I don't think so.

Looking at my own profile I have `haskell` at the top today (which I did the last two days), `elixir` is second and `rust` beeing third. But it feels like ages, that I did the last thing in `rust` or `elixir`. `erlang` which I have done the most exercises in (absolute as well as relative) is somewhere in the middle, which I did just before t

[2016-02-03 16:14] NobbZ opened #2748 "archived exercises table on profile page has a very bad layout."
currently, we have a table which does look like on the screenshot below:

![archived-exercises-table-current-bad](https://cloud.githubusercontent.com/assets/58951/12788087/800aafc6-ca98-11e5-92fb-c31e508c934c.png)

But as far as I can remember, the layout has been different in the early days. Columns were swapped (language left, exercises right) and the exercises were a comma separated list. Which

[2016-02-03 21:53] GustavoCaso commented on #2605
It looks promising, to be honest, it could take of a lot of hard work, and focus on others parts

[2016-02-04 21:16] rcyep87 opened #2749 "Unable to login with Github"
It looks like it authenticates but then takes me back to the main page for exercism and it still says I need to login with Github. I thought it might be an error and try to access my account but when I click a link regarding my account, it says I need to login with Github. I've cleared my cache and am trying this on Google Chrome and Safari.

[2016-02-04 21:33] kytrinyx commented on #2747
I actually thought that `status` did check remotely, but it might not check which things you have fetched/not submitted remotely. (I don't even remember if we track that. We might :), we definitely can).

/cc @exercism/cli-committers

[2016-02-04 21:37] kytrinyx commented on #2749
Yeah, that seems like something to do with cookies. Is there any way that firewalls/proxies could interfere with this in some way?

[2016-02-04 21:40] rcyep87 commented on #2749
Interesting you bring that up. I got it working. Sorry for the trouble :)

[2016-02-04 21:40] #2749 closed

[2016-02-04 21:41] kytrinyx commented on #2749
Oh, yay! What did you do to make it work?

[2016-02-04 21:47] kytrinyx commented on #2748
Yeah, agreed. We could use some work on the design of the profile page. Swapping those would be a good first step.

[2016-02-04 21:50] kytrinyx commented on #2736
I'd actually prefer to get #2735 implemented than excluding hello world from stats.

[2016-02-04 21:51] rcyep87 commented on #2749
Strangely my VPN was affecting it.

Thanks,
Ryan

On Thu, Feb 4, 2016 at 3:41 PM, Katrina Owen <notifications@github.com>
wrote:

[2016-02-04 21:52] kytrinyx commented on #2749
Good to know, thanks!

[2016-02-04 23:24] Tonkpils commented on #2747
I can definitely check this out over the weekend unless someone else gets to it. Been a bit of a busy week with work + teaching.

[2016-02-04 23:40] rebelwarrior commented on #2747
Thank you Leo thank you Katrina. Btw loved your ruby rogues podcast, Katrina.

Sent from my mobile.

[2016-02-05 15:49] simondiep opened #2750 "Distinction between JavaScript and ECMAScript Tracks"
I noticed that after a month of taking the JavaScript track courses, that there was another JavaScript ES6 track.  I only noticed by browsing other users' dashboards.

Could this distinction be made clearer in the language selection dropdown for tracks, or add a note to the JavaScript track description that a separate ES6 track exists?

An additional note: a lot of user solutions in the JavaScript

[2016-02-05 17:29] masahx commented on #2742
It's OK, "exercism" is cool and helpful website!

    On Tuesday, 2 February 2016, 23:41, Katrina Owen <notifications@github.com> wrote:

 Thanks for confirming, and sorry about the mess!—
Reply to this email directly or view it on GitHub.

[2016-02-05 20:35] kytrinyx commented on #2750
Yeah, we should absolutely make a clearer distinction.

@exercism/javascript - How about putting something in one of the `docs/*` files?

[2016-02-05 21:10] kytrinyx opened #2751 "Update ACLs immediately for new track mentors"
See PR #2729
/cc @mhelmetag

On the account page we now have a section to let track mentors make other users into track mentors. We have a cron job running every hour that makes sure mentors have access to all the exercises in the tracks that they're mentors for.

When we give someone track mentor status, we should add all their ACLs immediately.

[2016-02-05 22:00] kytrinyx opened #2752 "dashboard: include the actual comments under 'notifications'"
On the dashboard we show you notifications if someone has commented on your exercises. We should include the actual comment here.

I don't think the notifications actually store which comments, but we can find all the comments that are newer than the timestamp of when they last viewed it (which is in the `views` table).

[2016-02-05 22:01] kytrinyx opened #2753 "dashboard: fix notification for "like""
Right now if someone likes your iteration, you'll see a notification on your dashboard that says that someone commented. Then you go to your exercise and get all disappointed because there's no comment. We should fix that.

[2016-02-06 05:10] jtigger commented on #2670
woah!  This one slipped through the cracks!  Will, I'm very sorry I didn't see this sooner.  It's been a month; did you make your way?  Or do you still need assistance?

[2016-02-06 08:24] mhelmetag commented on #2751
I was thinking of adding an `after_save` callback on User to migrate the acls if they change. I was going to follow the logic that already exists in the rake task https://github.com/mhelmetag/exercism.io/blob/master/lib/tasks/data.rake#L151-L152.

Decent idea?

[2016-02-06 10:59] sheekap commented on #2720
I'd like this feature as well. If it's not too much trouble, would it be possible to get all my ruby exercises deleted so I can start the track afresh?

[2016-02-06 12:07] GustavoCaso commented on #2720
I'm going to try working on a solution this weekend. I like the idea @tejasbubane, an interface like gmail sounds great.

[2016-02-06 16:36] Sokos6 commented on #2670
Still need assistance. :(

On Friday, February 5, 2016, John Ryan <notifications@github.com> wrote:

--
Will Sokolowski
CEO
Web Frequency
www.webfrequency.com

[2016-02-07 21:41] kytrinyx commented on #2751
Yeah, I think it's fine to use the same logic as in the rake task. I'm a bit uneasy about keeping it in a callback though. Let's call it explicitly for now and see how it goes.

[2016-02-07 23:44] kytrinyx commented on #2720
Excellent, thanks @GustavoCaso!

[2016-02-08 02:49] mhelmetag commented on #2751
Awesome. Figured out a pretty weird bug in `ACL.authorize`. Basically you can't really `rescue` an ActiveRecord transaction and execute another transaction without a rollback. Postgres will throw errors like `ActiveRecord::StatementInvalid: PG::InFailedSqlTransaction: ERROR:  current transaction is aborted, commands ignored until end of transaction block`. So I just refactored `ACL.authorize` a bi

[2016-02-08 02:54] kytrinyx commented on #2751
huh. Good to know!

[2016-02-08 03:39] mhelmetag commented on #2751
Actually... even weirder... it seems like it only doesn't work in certain instances because this works https://github.com/mhelmetag/exercism.io/blob/master/lib/exercism/submission.rb#L66-L70

I don't really understand haha. Super strange.

[2016-02-08 03:53] kytrinyx commented on #2751
Oh, right. I think I wrote that. Strange.

[2016-02-08 04:44] mhelmetag commented on #2751
Today I learned that nesting transactions inside ActiveRecord callbacks makes weird things happen.

[2016-02-08 16:42] jonathan2224 opened #2755 "2016/02/08 10:32:36 an internal server error was received."
**** Debug Information ****

Exercism CLI Version: 2.2.4

Exercism CLI Latest Release: 2.2.4

OS/Architecture: windows/amd64

Build OS/Architecture windows/amd64

Home Dir: C:\Users\jmorrel

Config file: C:\Users\jmorrel\.exercism.json

API Key: ***

Exercises Directory: C:\Users\jmorrel\exercism

Testing API endpoints reachability

	* API: http://exercism.io [connected] 140ms

	* GitHub API: http

[2016-02-08 21:07] kytrinyx commented on #2755
I'm unable to reproduce the problem, so I suspect that there's something in the data specific to your account that is causing this. I'll look at this today and see what I can come up with.

[2016-02-08 22:05] kytrinyx commented on #2755
Found it. There's an exercise that has a jar file in it--I've removed it for now, so you should be able to fetch.

[2016-02-08 22:05] #2755 closed

[2016-02-08 22:37] #2751 closed

[2016-02-08 23:12] mhelmetag commented on #2751
Awesomesauce!

[2016-02-09 03:44] jtigger commented on #2670
First, I have to ask this: do you have a specific need to use Eclipse?

If you don't mind using a similar tool, the instructions at http://exercism.io/languages/java are step-by-step using IntelliJ Community Edition.

[2016-02-09 11:42] rchavarria commented on #2750
We could add a *warning message* in the `README` file of both tracks. But, I'm not sure how to do it in order to highlight it and make it noticeable for users.

These messages could be about explaining that JavaScript track is better for JavaScript features supported for all browsers, while ECMAScript track is where users can explore new features recently added in 2015 version of the standard.

In

[2016-02-09 11:55] matthewmorgan commented on #2750
That looks great to me.

I don't know what to think about @simondiep 's comment about ES6 features in the JS track.  Coverage in the major browsers varies for 51% to 91%.  Is it possible or desirable to configure Node to only use strict ES5?

[2016-02-09 12:17] jonathan2224 commented on #2755
Thank you, it is working now.

[2016-02-09 14:40] simondiep commented on #2750
@matthewmorgan I would really like to see the distinction of only ES5 in the JavaScript track and ES6 in the ECMAScript track.  The benefit for users would be those who are looking to learn and code in ES5 apps (older production apps for example).  They would be able to see useful peer reviews and examples, without having to learn or use a transpiler.  For those who are more into learning the more

[2016-02-09 17:00] matthewmorgan commented on #2750
I'm not sure what it would take to implement an ES5-only track.  Off the top of my head, we might have to ensure the users are running an older version of NodeJS when testing, or we could make linting a required step and turn off ES6 features.  That might be best.  In that case, the JS testing setup would look similar to the ES one, but without the transpilation step.

[2016-02-10 07:30] mhelmetag commented on #2753
There is some knowledge of what the notification is `regarding` (https://github.com/exercism/exercism.io/blob/master/app/routes/submissions.rb#L36) and `'like'` is being passed around... Curious...

[2016-02-11 19:47] mhelmetag commented on #2753
Welp... I'll take a look at this over the long weekend! Seems like fun.

[2016-02-12 05:56] mhelmetag commented on #2753
Hmmm... I don't see this happening on master...

<img width="1138" alt="screen shot 2016-02-11 at 9 43 11 pm" src="https://cloud.githubusercontent.com/assets/8609429/12999854/831ede1e-d108-11e5-94f7-fa020f9f230b.png">

@kytrinyx , any tips for recreating this bug outside of production?

I'm going to try to get a friend to like a few of my submissions in production...

[2016-02-12 06:05] mhelmetag commented on #2753
Do you mean this part of the dashboard?
<img width="1365" alt="screen shot 2016-02-11 at 10 02 36 pm" src="https://cloud.githubusercontent.com/assets/8609429/13000118/50058d54-d10b-11e5-8aba-593ff413c676.png">

I see the correct distinction between comments and likes on the notifications page:
<img width="1138" alt="screen shot 2016-02-11 at 9 43 11 pm" src="https://cloud.githubusercontent.com/ass

[2016-02-12 08:05] kytrinyx commented on #2753
Yeah, I think it would be fine to make the dashboard section similar to the notifications page (even identical, if that is easier)... just that it should only have stuff relevant to the code that you wrote, not anyone else's code.

[2016-02-12 08:08] kytrinyx commented on #2753
Also: yes, that's the part of the dashboard that I meant. Thanks!

[2016-02-12 08:12] mhelmetag commented on #2737
So I have a beta version right now. Just have to figure out a way to separate each exercise (probably will just do commas).

Less:
<img width="680" alt="screen shot 2016-02-12 at 12 10 47 am" src="https://cloud.githubusercontent.com/assets/8609429/13001701/2acb1d62-d11d-11e5-831e-27481a095e26.png">

More:
<img width="654" alt="screen shot 2016-02-12 at 12 10 58 am" src="https://cloud.githubusercon

[2016-02-12 08:15] mhelmetag commented on #2753
Awesome! Thanks for clarifying :)

[2016-02-13 01:51] mhelmetag opened #2757 "Using a CDN for our client side libraries (mostly JS)"
Am I just being weird here?

I feel like there's something wrong with the code percentage for exercism. The app is mostly Ruby but github says a lot of it is JS but most of the larger files are jQuery, Bootstrap and other third party libraries. Why would we host these locally? Couldn't we leverage a public CDN or a private one like Cloudfront (or something)?

Curious to hear the benefits and burde

[2016-02-13 03:46] tejasbubane commented on #2757
Instead of going for CDN, I think we can reduce the assets consumption using `gzip` compression. [It reduces the assets size by more than half of the original](http://nginx.org/en/docs/http/ngx_http_gzip_module.html). On my projects, I usually just enable it with nginx and it takes care of the rest. Since exercism is on heroku I guess, I will have to search a bit on how to do that.

[2016-02-13 03:51] tejasbubane commented on #2757
And one more thing, the assets are served currently `application.css` and `app.js` do not use [fingerprinting](http://guides.rubyonrails.org/asset_pipeline.html#what-is-fingerprinting-and-why-should-i-care-questionmark). Although `application.css` uses some kind of param `t`.

![exercism-1](https://cloud.githubusercontent.com/assets/980783/13025666/1ef7c884-d233-11e5-9cfc-5b174bfbadd2.jpg)
![exerc

[2016-02-13 04:19] mhelmetag commented on #2757
Compression sounds cool. Having some type of asset pipeline would be nice. Maybe there is some type of one existing already (the `t` param that you mentioned).

[2016-02-13 16:39] daveyarwood opened #2758 "User page: sort languages by progress percentage"
I think it might be more visually appealing to show each users' languages with a higher completion percentage higher up in the list.

This might give an idea of the languages in which the user is most active / interested.

Here's a mockup of what I'm proposing:

<img width="743" alt="screen shot 2016-02-13 at 11 34 20 am" src="https://cloud.githubusercontent.com/assets/4909079/13028730/c62c9906-d2

[2016-02-14 02:29] kytrinyx commented on #2757
I would absolutely love to have someone look at the low-hanging fruit for the assets.

I think the `t` is a cheap-o workaround based on the last modified date.

All of the frontend is completely janky (my focus has been on figuring out what the site is about, and experimenting with features, etc).

[2016-02-14 02:31] kytrinyx commented on #2758
I think that could be good. I would probably want to put 100% tracks on the bottom, though.

Did you see the other issues about the progress bar? There were some good requests/suggestions.

#2735, #2734

[2016-02-14 03:59] daveyarwood commented on #2758
I did - those are good suggestions, although personally, I prefer the current system of showing the whole list.

I do like the idea of separating the progress bars out into "In Progress" (< 100%) and "Completed" (100%)

[2016-02-14 10:56] kytrinyx commented on #2758
The problem with showing all of them is that people with a bunch of languages have to scroll really far to see the relevant lists.

[2016-02-14 16:46] daveyarwood commented on #2758
That's a good point. Maybe a good compromise would be to cap it at say, 5 languages, and have a "show more" button if the user has more than that?

Someone mentioned that in one of the other 2 issues, but the idea was to cap it at 1 language. I think having a small handful (perhaps the 5 "most complete" languages) would give a nice snapshot of the languages in which the user is most active/interes

[2016-02-14 17:31] tejasbubane commented on #2741
Hi @kytrinyx. I went through the github guide today and did a first attempt at implementing it and I have a question regarding this.

So when we have persistent authentication, we should directly log in the user if the `session` contains the previous valid `access_token`. This means even if the user directly lands on any page on exercism he/she should be logged in. Would a [before filter](https://

[2016-02-14 22:50] kytrinyx commented on #2741
I'm pretty sure a before filter would be fine, so long as it's not going to throw people out if they are not logged in (it should only set whatever session values the app checks when deciding whether or not someone should have access or not).

[2016-02-14 22:54] kytrinyx commented on #2758
Yeah, I think capping it is the way to go. How about capping it at 3, and saying "see all {n}" or something?

I don't know if we should have a completely separate section for the completed tracks, or if they should just be sorted to the bottom. We can try one way and see what people say.

[2016-02-15 05:31] tejasbubane commented on #2090
Since we don't have a [getting-started page](http://exercism.io/getting-started) now, I think we should add a sentence or two, just mentioning `iterations` on [the landing page](http://exercism.io/) and a detailed section on the [getting started for newbies page](http://exercism.io/how-it-works/newbie).

[2016-02-15 06:54] kytrinyx commented on #2090
There are two getting started pages:

- http://exercism.io/how-it-works/newbie
- http://exercism.io/how-it-works

The newbie page says:

Do you have a suggestion for how to rephrase this to clarify the idea of iterations?

[2016-02-15 09:52] tejasbubane commented on #2090
* http://exercism.io/how-it-works/ this page says:

This, I think is pretty good for experienced developers.

* http://exercism.io/how-it-works/

The last line on this page

gives an impression like you submit the exercise and you are done.

I was thinking of more like a section at the end (after `Working the Exercises` section). This will add more info for new people and also complete the flow li

[2016-02-15 21:24] rchavarria commented on #2750
If we add a lint step, JS track will be more similar to ES track than it's now. So, I'm not a big fan of doing that.

The less intrusive will be to comment on those solutions that clearly use ES6 features, but not too many messages to the same user. Ok, I know, this is not an *automatic* process, so I understand it's not the ideal solution.

I don't know if there is any option in Node.js to disabl

[2016-02-15 22:20] kytrinyx opened #2759 "Markdown parser doesn't respect list syntax if blank line is missing before the first list item"
Per the CommonMarkdown spec, we should be allowing lists to interrupt paragraphs even if there is no blank line before it.

http://spec.commonmark.org/0.24/#example-259

GitHub handles it (below: first the markdown, then the rendered output).

[code]

Example list.
* one
* two
* three

See https://github.com/exercism/xcpp/pull/66 and https://github.com/exercism/xcpp/pull/67

Thanks @toolness for c

[2016-02-15 22:22] kytrinyx commented on #2759
I added a skipped test for it. The expected output might have different whitespace than what actually ends up there once it's fixed, but it should provide a starting point.

[2016-02-15 22:29] toolness commented on #2759
Oh nice! Thanks @kytrinyx, I will try to take a look at this thing soon--but if anyone else is really excited about fixing this issue, feel free to take it. (Just mention it on this issue please so we don't duplicate work.)

[2016-02-15 22:33] kytrinyx commented on #2759
@mfrost heads up on this one, in case you've got a hankering for fixing more markdown issues.

[2016-02-15 22:35] kytrinyx commented on #2750
We could use rikki- to make automated comments if that helps. I'd be happy to help implement it (rikki- is written in Go).

[2016-02-15 22:36] kytrinyx commented on #2090
Yepp, you're right. It does sound like you're kind of done at that point. We should definitely rework it.

I like the suggested section. I might even expand 5 and 6 so that it's clear that you iterate on individual exercises.

[2016-02-15 22:54] matthewmorgan commented on #2750
I've just been discussing this issue with some of my colleagues here, and at least this group doesn't feel like limiting the JS track makes the most sense.  The assertion is that developers need to be prepared to use ES6 and beyond, and it's basically a superset of ES5.

As far as legacy code, it makes more sense for people to learn to use a transpiler for older environments.  So, the people in my

[2016-02-15 23:31] kytrinyx commented on #2750
@matthewmorgan this approach does sound sensible (bleeding edge on ES, general support of ES6 on JS). I think the right move here is to put a clarification in the `docs/` in both places.

If you want to start talking about automated comments, go ahead and open a new thread.
I've been doing a lot of great stuff on the Go track with rikki.

[2016-02-17 15:05] toolness commented on #2106
Hey, anyone mind if I pick this up? I've recently been setting up some docker development environments for my projects--usually based on Docker Compose--and I think I can set one up for this.

It would then make it easier for me to help with #2759, as I don't currently have a dev environment set up. :)

[2016-02-17 15:07] Tonkpils commented on #2106
@toolness by all means :+1: let me know of your progress, I'd like to see this moved forward.

[2016-02-17 15:08] toolness commented on #2106
Wooooot will do!

[2016-02-18 02:05] mhelmetag commented on #2106
Whoa... I would love to see this because I really want to do this at work.

[2016-02-18 04:26] toolness commented on #2106
Yeah, the current setup is definitely awesome and extremely well-documented!! Makes the dockerizing quite easy.

I've started work on this in #2760 and will log any specific questions I have over there.

[2016-02-19 04:42] mhelmetag commented on #2759
So I was curious and looked into this a bit... It seems like it has to do with red carpet vs our implementation of the gem...

Here's our implementation:
[code]

Here's vanilla red carpet (from what I can tell):
[code]

If anyone's curious where the options and choice of XHTML come from:
https://github.com/exercism/exercism.io/blob/master/lib/exercism/markdown.rb#L36-L37

Seems like both the vanil

[2016-02-19 06:50] mhelmetag commented on #2757
One more thing that I'm curious about... why are `frontend/` and `client/` two different things?

[2016-02-20 20:30] verdammelt opened #2762 "Idea: when person gets to the end of a track - suggest they contribute new exercises"
I am the maintainer of the Common Lisp track and we have around 30 exercises. Just the other day one person has submitted for this last exercise. I thought it would be cool if there could be a way to tell the person that they are at the (current) end of the track and it would be super great if they contributed more exercises.

[2016-02-21 05:00] mhelmetag commented on #2759
I got a patch for this. It's just a preprocess that adds a newline for lists that aren't split by newlines already so that they work with the current redcarpet setup.

Lists with newline:
*Text:*
<img width="336" alt="screen shot 2016-02-20 at 8 59 48 pm" src="https://cloud.githubusercontent.com/assets/8609429/13201044/f520822a-d814-11e5-951b-c9e272bb801f.png">

*Markdown:*
<img width="298" alt="s

[2016-02-21 19:43] kytrinyx commented on #2757
Legacy, mostly. Two different people started two different efforts to clean up the frontend, as far as I can recall.

[2016-02-21 19:45] kytrinyx commented on #2757
FYI I'll be working with @aarti + colleagues to integrate against a CDN. gzip etc would also be good. Using publicly hosted javascript for the third party stuff would also be good.

[2016-02-21 19:46] kytrinyx commented on #2759
Preprocess works for me. I wonder if we should be inheriting from HTML rather than XHTML. I don't know :/

[2016-02-21 19:53] kytrinyx commented on #2762
I think it would be great if @rikki- could submit a comment to them that suggests this, linking to a page that has the most up-to-date information about how to do this.

I'm hoping to use https://github.com/exercism/x-api/issues/94 to implement a "contribute" page for each track on exercism.io (maybe /languages/:track_id/contribute) that we could link to. It would have the list of exercises to imp

[2016-02-21 19:57] mhelmetag commented on #2759
I tried `Redcarpet::Render::HTML` vs `Redcarpet::Render::XHTML` and didn't see any change with the test text that I was using but... I honestly didn't read much about their differences besides the available options/feature flags.

[2016-02-21 20:01] mhelmetag commented on #2757
^^ So exciting :D

[2016-02-21 20:05] aarti commented on #2757
Looking forward to this, :heart: exercism

[2016-02-21 20:11] verdammelt commented on #2762
It would be pretty cool if there was a way to compute the list of problems yet to be written. Then it would be easy to point people to it and a link to the github repo for that track.

[2016-02-21 21:05] kytrinyx commented on #2762
Yeah, it's pretty straight-forward. It's been on my TODO list for a while, but that list is kind of out of control right now.

[2016-02-21 21:10] kytrinyx commented on #2759
/shrug :) I have no idea either. It's not at the top of my list of important things to figure out in the near future. I think it's fine as it is for now.

[2016-02-22 07:30] mhelmetag commented on #2598
@ronnieoverby , I second @abhishekbose87 's comment about not being able to recreate this and needing more clarification for steps to reproduce.

[2016-02-22 07:48] mhelmetag commented on #2094
@kytrinyx , I could try to take a first crack at this... I've seen at least a little bit of exercism so far. Time to write some docs?

[2016-02-22 10:43] petertseng opened #2764 "Inbox: sum of unread problem counts doesn't equal unread count for language?"
This has happened to me a few times now, but I haven't been able to figure out exactly under what circumstances it occurs. In all cases it seems to be happening for the Ruby track.

As an example, I'll have 5 unread items in Hamming and 3 unread items in Anagram. One would think this means 8 unread items total in Ruby, but no! The counter says there are 7!

I click through the Hamming items one by

[2016-02-22 14:13] edelpero opened #2765 "Getting timeout errors when trying to submit a file"
Hi I'm getting timeout errors trying to submit a file. I've already check the help guides but I had not luck. I'm not behind a firewall.

 This is the info I've got using the exercism cli debug command.

[code]

Please, let me know if you need more information. Thanks in advance.

[2016-02-22 16:11] tejasbubane commented on #2765
Seems similar to https://github.com/exercism/cli/issues/202

[2016-02-22 17:55] petertseng commented on #2764
Some new submissions came in and I was curious about the Anagram submission, so I went and read it. My current unread submission is a Hamming submission. I'm still in the same state (there's 1 Ruby Hamming unread, but zero Ruby unread)

[2016-02-22 21:29] kytrinyx commented on #2094
That would be fantastic. Once you have a draft I would be able to say "ooh, yeah this gotcha and that thingy over there", whereas right now my brain is kind of blind to all the problems with it.

[2016-02-22 21:30] kytrinyx commented on #2598
I'm going to close this for now. If someone can reproduce, please add a comment and I'll reopen it. Thanks!

[2016-02-22 21:30] #2598 closed

[2016-02-22 21:31] kytrinyx commented on #2765
Darn, yeah it seems like the timeout is too low. I think we need to add a flag to the CLI that lets people extend the timeout just to see if it helps. /cc @Tonkpils @lcowell what do you think?

[2016-02-22 21:32] kytrinyx commented on #2764
So weird. Definitely a bug, but not sure what it's about.

[2016-02-22 22:23] Tonkpils commented on #2765
I don't think we actually have timeouts set for the API calls so this must be something completely unrelated but I can't say for sure until I look at the code. ill take a look at it tonight

[2016-02-22 22:54] kytrinyx commented on #2765
Is there a default timeout?

[2016-02-22 23:00] lcowell commented on #2765
What I found is that there is no timeout (see `https://golang.org/src/net/dial.go`). Looks like we've specified a timeout in a couple of places in the cli: `debug.go` and `upgrade.go`. This explains why the debug command times out.

[2016-02-22 23:15] lcowell commented on #2765
@edelpero the `debug` command and `submit` command work differently. Could you paste the output you get when you attempt to submit?

[2016-02-23 01:38] Tonkpils commented on #2765
What I do find interesting is why the API itself did timeout...seems odd the other two work but not that one. Are we monitoring these kind of timeouts on the exercism app?

[2016-02-23 01:56] mhelmetag commented on #2759
Based on reading through this issue on redcarpet (https://github.com/vmg/redcarpet/issues/429), redcarpet seems to diverge from CommonMark spec in more than this instance and they might not make that much change... If we really want to be "up to spec", we could use https://github.com/gjtorikian/commonmarker (which is a wrapper for CommonMark).

[2016-02-23 02:48] kytrinyx commented on #2759
That's a good point. I'm going to close this as fixed, and open an issue suggesting that we use commonmarker.

[2016-02-23 02:50] kytrinyx commented on #2765
@Tonkpils that's actually a really good question. I'm monitoring exceptions, but I don't have logging for stuff like this.

[2016-02-23 02:50] mhelmetag commented on #2759
Sounds good :+1:

[2016-02-23 10:32] tejasbubane opened #2766 "Profile page needs a few things"
I think the profile page should have the following things:
- [ ] profile image of the user
- [x] list of teams the user is a member of

[2016-02-23 11:01] kytrinyx commented on #2738
Ethan, so sorry there's been no movement on this.

@jtigger @qianapatterson You both mentioned that you had thoughts about this. Would you please take a few minutes to jot down some notes here?

[2016-02-23 11:02] kytrinyx commented on #2766
Agreed.

[2016-02-23 17:03] Trevoke opened #2767 ""mark all as read" can be unclickable"
In at least two uses cases, the "Mark all as read" button is unclickable:

- Page has browser zoom active
- Browser window is too narrow

A cursory inspection of the elements and the styles reveals that the `ul li.alert-row` can cover the button, thereby stealing the clicks.

[2016-02-23 17:46] genevievelesperance commented on #2738
I'm happy to help with screencasts for onboarding! (For Mac users?)

[2016-02-23 18:08] kytrinyx commented on #2738
Thanks @genevievelesperance! I think it would be great to make it for both Mac and Windows (linux users tend to know enough to not get confused about this part), but even getting a good one for Mac would be a fantastic start. I'd want to wait until the redesign has settled a bit, though.

[2016-02-23 18:09] kytrinyx commented on #2767
Thanks for reporting this.

[2016-02-23 18:10] genevievelesperance commented on #2738
Sounds good. Where should I look or who can say when the redesign is near done and I can start?
I can temporarily make a mock video with the current design to show how I would go through it.

[2016-02-23 18:12] kytrinyx commented on #2738
A mock would be cool! I made a really janky one a while back (https://www.youtube.com/watch?v=TCT4eHGwfaE) and we have one for Windows as well (https://www.youtube.com/watch?v=R9Y9yuXA-qA).

When the design is ready (or ready enough) I'll either put something in this thread, or ping you directly. Not exactly sure how this design work will proceed.

[2016-02-23 21:11] lcowell commented on #2765
That kind of variability in response times seems like it could be a connection/packet loss issue. If that's the scenario, each time the `debug` command is run would result in different output. I think we would need more information from @edelpero to draw any conclusions.

[2016-02-23 21:47] edelpero commented on #2765
@lcowell everything is working fine now. Sadly I didn't copied the error message I got when I ran the `submit` command.

Anyway, I tried this with two different internet connections and got the same error when running the `debug` command.

[2016-02-23 22:29] kytrinyx opened #2768 "Refactor markdown handling to use commonmark"
Markdown is not specified unambiguously, and we've had a lot of bugs and issues related to things that are a bit fuzzy, and where redcarpet handles it in one way, but people are used to it being handled differently on GitHub.

The markdown stuff has grown a bit over time, and we might also be able to simplify it.

It might be worth doing a rewrite using commonmark instead of redcarpet. See discuss

[2016-02-24 08:55] petertseng commented on #2764
I'm currently not in this state anymore. Related: The 0-submission Difference of Squares has disappeared. I suspect the two are related.

[2016-02-24 19:01] tejasbubane opened #2770 "Make the code view box show around 80 chars"
The code view box currently shows somewhere around 65-66 chars. Which makes me scroll horizontally most of the times, even if I follow the [80 char rule](https://github.com/bbatsov/ruby-style-guide#80-character-limits) while writing my code.

Although I think it will be difficult to increase the size of the box since the grid might be unbalanced, I just thought of giving it a shot and open an issu

[2016-02-24 19:55] tejasbubane commented on #2768
For reference if anyone wants to have a stab

* The commonmarker gem: https://github.com/gjtorikian/commonmarker
* Why not to use redcarpet: https://github.com/vmg/redcarpet/issues/429

[2016-02-25 11:03] tejasbubane commented on #2759
Is this deployed? I ran across this while writing a comment today

![screen shot 2016-02-25 at 4 31 58 pm](https://cloud.githubusercontent.com/assets/980783/13317867/68d73b02-dbdd-11e5-83fd-389accfd1b9b.png)

![screen shot 2016-02-25 at 4 32 09 pm](https://cloud.githubusercontent.com/assets/980783/13317872/713794cc-dbdd-11e5-8a1a-c87b6b15d62f.png)

[2016-02-25 16:14] mhelmetag commented on #2759
Agh... My regex wasn't as good as I thought... Not exactly sure why...

Good catch. Looks like some tweaking is needed.

[2016-02-25 19:32] tejasbubane commented on #2759
Ya right. I have some trailing spaces and your regex does not consider spaces at some places. I was just trying it out on [rubular.com](http://rubular.com/). Here is something which will take care of trailing spaces:

[code]

Switching to commonmarker would be a permanent and good fix for such issues.

[2016-02-25 19:53] mhelmetag commented on #2759
Sounds about right. I think I just got too excited that it worked for one case and forgot about testing for a few other cases before pushing. And the test written happened to be fore that one case that it worked for... Ah well... Good learning lesson for me.

Sorry about that!

Currently, I'm trying to get our syntax highlighting and @ mentions ported over to commonmarker.

[2016-02-25 20:01] tejasbubane commented on #2759
Nothing to be sorry about 😊 Regex is really hard.
Glad that you are already working on the porting over to commonmarker.

[2016-02-25 20:05] kytrinyx commented on #2759
Reopening until we either tweak the regex or port over to commonmarker.

[2016-02-25 20:37] kytrinyx commented on #2768
Thanks for the references, @tejasbubane, that's very helpful.

[2016-02-25 20:38] kytrinyx commented on #2770
Yeah, we had an open issue about it a while back, but I think this will require a real redesign of the whole code page :/ I'd love to have this happen, but I don't have the design skills to make it so.

[2016-02-25 20:39] kytrinyx commented on #2764
I suspect that this could have something to do with someone submitting a comment, making this unread, and then deleting the comment again. I've been thinking about how to rewrite this to be a append-only immutable list of events that happen to an iteration so that we can cleanly recalculate current state by replaying history, but I've got a bunch of things going on, so I don't think I'll be able t

[2016-02-25 21:34] kytrinyx commented on #2765
I'm going to close this for now, but if it happens again, please reopen it or submit a new issue! It would be lovely to get to the bottom of this, or figure out how to provide better information for debugging.

[2016-02-25 21:34] #2765 closed

[2016-02-26 05:12] abhishekbose87 commented on #2768
@kytrinyx I am taking this up if no one else has started work on it already
@tejasbubane Thanks for the links :+1:

[2016-02-26 05:21] abhishekbose87 commented on #2768
Hi @mhelmetag, are you working on this change ?

[2016-02-26 05:55] mhelmetag commented on #2768
@abhishekbose87, I was toying around with it and had some ideas but you're more than welcome to take it. I have a few other issues on my plate anyways.

[2016-02-26 06:03] abhishekbose87 commented on #2768
@mhelmetag Cool, let me work on this then and you could review it 😊

[2016-02-26 06:14] mhelmetag commented on #2768
Sure thing! I look forward to the PR. Let me know if you need any ideas to getting the current @ mentions and syntax highlighting working with the renderer. That was what I was toying with.

[2016-02-26 18:57] kytrinyx opened #2771 "Replace the "notify" lookups with proper subscriptions"
It would be much cleaner to implement subscriptions to solutions, rather than figuring out every time something happens who has participated or been mentioned in any of the iterations of a solution.

Also, it would be nice to be able to unsubscribe to a discussion that you don't want to hear about anymore.

[2016-02-26 21:17] NobbZ commented on #2771
That would be really nice. Also it would be nice if I not only can
subscribe to one submissions and it's successors but also to a language as
a whole or a certain exercise in a track, so that I get notified whenever
something new happens there.

Katrina Owen <notifications@github.com> schrieb am Fr., 26. Feb. 2016 19:57:

[2016-02-27 21:52] kytrinyx commented on #2771
Yeah, that's the direction I want this to go in: subscribe to entire languages, or just a single problem in a language, and also individual people (their code, or their comments).

[2016-02-28 18:44] kytrinyx opened #2772 "Go Track: seeking 5 volunteers to help review the "Leap Year" exercise for one month."
Are you new(ish) to Go? Would you be interested doing a 30-day experiment that is likely to teach you a huge amount about Go conventions and style?

I'm looking for 5 (or so) people to come by and provide feedback on 1-3 exercises every couple of days.

**I will personally walk you through how to give feedback on this exercise, if you feel that you don't know enough to jump in on your own.**  Ther

[2016-02-28 18:50] toolness commented on #2772
This sounds cool! I've basically never used Go, so I'm interested in participating in the experiment.

[2016-02-28 18:52] kytrinyx commented on #2772
@toolness Yay! Send me an email and I'll kick this off. Also: First step would be to submit `hello-world` and `leap` yourself, just to get everything wired up and get a taste of the language.

[2016-02-28 20:26] wobh commented on #2772
What month? For me, March is out, possibly April too, but I could probably be persuaded to do this in the summer.

[2016-02-28 22:06] mgmatola opened #2773 "Can see submissions for Common Lisp Hamming although I've never submitted solutions"
Starting this afternoon, I can now see submissions for the Common Lisp Hamming exercise, although I've never submitted any solutions for any Common Lisp exercises. (I've submitted only JavaScript and EcmaScript.)

[2016-02-29 01:35] archeious commented on #2772
I an very intrigued.  I want to level up my go-ness and I would like to improve my collaborative skills.  My projects to date are almost exclusively solo self made projects.

[2016-02-29 12:42] jgsqware commented on #2772
I'm interested to be part of the experiment ! Great idea.

[2016-02-29 12:44] timblair commented on #2772
@kytrinyx: I'd be happy to help out.

[2016-02-29 17:09] kytrinyx commented on #2773
Damn. My bad, I ran a script yesterday and clearly got it wrong. I'll fix this now.

[2016-02-29 17:20] kytrinyx commented on #2773
OK, I've cleared away the accidental access; I think I still have a problem with some of the point-mutation / hamming stuff, and will sit down and sort it out carefully later today.

[2016-02-29 17:32] mgmatola commented on #2773
FWIW, my listings are now correct.

[2016-02-29 18:08] kytrinyx commented on #2773
OK, cool, thanks!

[2016-02-29 18:08] #2773 closed

[2016-02-29 18:09] kytrinyx commented on #2772
@wobh next 30 days starting now. I'll probably do this again, though.

@archeious I've got you on the list.
@timblair @jgsqware Excellent! would you send me an email? I'll email you the next steps.

[2016-03-01 01:13] verdammelt commented on #2773
Any idea if this was limited to pulling in Common Lisp? and if so why? (other than startlingly good taste...)

[2016-03-01 01:46] kytrinyx commented on #2773
Nope, it was _all_ the tracks.

[2016-03-01 02:14] verdammelt commented on #2773
Whoopsie!

Glad you fixed it.

[2016-03-01 12:50] GReaperEx commented on #2616
Yep, it fixes it. I'm using Boost 1.60 and it works flawlessly.

[2016-03-01 21:48] LegalizeAdulthood commented on #2616
I think I'm going to push my changes to master for xcpp.  It might still be broken for some Mac users, but since it's already broken for them, it won't be any worse.

[2016-03-02 14:23] moccalotto opened #2777 "Cannot fetch anything"
$ exercism fetch ruby

Not Submitted:     1 problem
ruby (Hello World) /Users/khansen/exercism/ruby/hello-world

unchanged: 1, updated: 0, new: 0

$ exercism fetch elixir

Not Submitted:       1 problem
elixir (Hello World) /Users/khansen/exercism/elixir/hello-world

unchanged: 1, updated: 0, new: 0

$ exercism --verbose fetch elixir
verbose logging enabled
Request GET http://x.exercism.io/v2/exer

[2016-03-02 15:05] kytrinyx commented on #2777
Hi @moccalotto, until you have submitted the first iteration of the problem you fetched, you will not automatically get the next one.

You can, if you wish, see the full list of exercises using the `list` command:

[code]

Then you can fetch individual exercises with the slug of the exercise:

[code]

You can also see the full list of exercises under "available exercises" on http://exercism.io/lan

[2016-03-02 15:06] moccalotto commented on #2777
Perfect. Thanks

[2016-03-02 15:06] #2777 closed

[2016-03-02 15:55] IanWhitney opened #2778 "Team members can view exercises from notifications, but not from team dashboard"
When people in my team complete an exercise, I'm notified:

![screenshot 2016-03-02 09 43 04](https://cloud.githubusercontent.com/assets/12144/13465515/a98ccf86-e05b-11e5-99af-b07e6d79b774.png)

The first one in that list is a Perl 5 solution of RNA. I have not done any exercises in Perl, but I can still click on that link and see my teammate's solution:

![screenshot 2016-03-02 09 43 14](https://

[2016-03-02 16:27] d-mar-u opened #2779 "Interact with other coders more"
I'd really like the ability to chat with people who comment on my code, to thank them, or ask them questions, other than just in the general reply function to comments.

[2016-03-02 18:34] kytrinyx commented on #2778
Thanks, Ian, I've been wondering how to deal with the team thing lately. I think I'll try what you suggest--just opening everything up if you're viewing something via the team dashboard.

I'm in the middle of working on a "team activity stream" that's like the track exercises list, except scoped to the team, and then I'll remove the notifications altogether.

[2016-03-03 14:21] Skarlso commented on #2324
I don't know, it might be because I a background in these things, but when I got started with exercsim it was pretty easy to follow the steps and understand what it does and what it is. I had zero problems getting started.

- Download the cli
- Set it up with API key
- Work, work, zug, zug
- Submit
- Bask in the glory that is your code

[2016-03-03 16:34] blackfist opened #2780 "Feature Request - label which exercises are complete"
When I go to http://exercism.io/languages<lang> and see the list of exercises I can download, it would be helpful to have a badge next to them showing which ones I've already done. If I go away for a day or two or if I'm working through several languages it can be easy to lose my place and then I have to go into my filesystem and figure out where I left off.

Something as simple as "submitted" or

[2016-03-03 16:52] kytrinyx commented on #2324
@Skarlso I appreciate the feedback. We've made a bunch of changes since this ticket was opened. I think that we've gotten to a place where the onboarding is significantly improved. There are still a ton of little things that could make the process smoother, especially for people who are fairly new to programming.

I'm going to leave it open for now, until I can figure out how to better organize th

[2016-03-03 16:53] kytrinyx commented on #2780
+100 I think this would be great.

There's also the `exercism status` command that right now is semi-helpful. That could also be improved.

[2016-03-03 17:27] Skarlso commented on #2324
@kytrinyx You are most welcome. I do love exercism. It made me learn. Which I like. :)

[2016-03-03 17:36] kytrinyx commented on #2324
:heart:

[2016-03-03 17:39] kytrinyx commented on #2779
+100 I think that there's a lot we could do to improve the community aspect of this. I'm not sure exactly what that would look like. Some people have suggested chat rooms / forums. We do have the support chat on gitter, but that's not quite the same thing. Forums seem like overkill. I often use the comments to discuss and chat and thank people. I think that's fine.

For a while we tried introducin

[2016-03-03 17:39] kytrinyx commented on #2616
Yeah, good call, @LegalizeAdulthood

[2016-03-03 18:21] d-mar-u commented on #2779
Despite being of the opinion that it's vastly overused, I sort of wondered if some kind of gameification element might be useful. Maybe people could get points, much like on stackoverflow, for answers and suggestions?

[2016-03-03 18:56] kytrinyx commented on #2779
The gamification thing comes up regularly. I've written a few of my thoughts here: https://github.com/exercism/exercism.io/issues/1617

[2016-03-03 19:05] d-mar-u commented on #2779
Ah, sorry, thanks.

[2016-03-03 23:26] scott-joe opened #2781 "Admin - Update button leads to 404"
On the http://exercism.io/teams/__teamname__/manage page, attempting to change the Slug or Name results in a 404 on pushing the Update button.

[2016-03-04 15:46] kytrinyx commented on #2781
Thanks for the heads up!

[2016-03-05 07:57] petertseng opened #2784 "Language info pages: markdown emits three asterisks after a bulleted list"
For example, try out "Recommended References" or "Learning Javascript" at http://exercism.io/languages/javascript and see how there are `***` after the list.

However, it doesn't happen after all lists. See how "About the Javascript Track" doesn't have the `***` after its list.

[2016-03-05 08:05] petertseng commented on #2784
Ah... what would you say if I said I thought it was the three dots in https://raw.githubusercontent.com/exercism/exercism.io/master/x/docs/md/track/BETTER.md ?

I wonder...

[2016-03-05 08:53] mhelmetag commented on #2784
Yeah... I'd agree that they're from that file. Looks like those 3 asterisks are getting tacked on. I might have an idea for this...

[2016-03-05 09:17] mhelmetag commented on #2784
I feel like it's related to this https://github.com/exercism/exercism.io/blob/master/x/docs/track.rb#L22-L28... not sure if that `if else` is doing it's job correctly.

[2016-03-05 16:49] petertseng commented on #2784
Probably intentional to combine the language-specific docs with `BETTER.md`. That lets people know how to improve the docs.

OK, so I believe that because of the `strip` (and note there is a leading newline on `BETTER.md`), with a bulleted list it looks like this:

[code]

Which apparently is causing the three asterisks to get appended to the last list item.

So, maybe just adding a single extra n

[2016-03-05 22:49] sind1990 opened #2787 "bash: fetch: command not found"
Im new at this, I tried using the command "$ fetch" in bash git cmd but i got this message bash: fetch: command not found. how can I fix it.

[2016-03-05 22:51] NobbZ commented on #2787
Where does it tell you to run ``fetch``? The closest thing to ``fetch`` you are supposed to run is ``exercism fetch``.

[2016-03-06 19:30] kytrinyx commented on #2787
@sind1990 did you get it working with `exercism fetch`?

[2016-03-06 19:34] #2784 closed

[2016-03-07 05:40] mhelmetag commented on #2781
This [form](https://github.com/exercism/exercism.io/blob/master/app/views/teams/manage.erb#L11) is missing an `<input type="hidden" name="_method" value="put" />` to override the post method and conform to the put method defined [here](https://github.com/exercism/exercism.io/blob/master/app/routes/teams.rb#L81).

[2016-03-07 10:25] abhishekbose87 commented on #2753
Let me submit a PR for this ..

I am planning to have shortened texts using icons for(comments and thumbsup) in the notification section on dashboard page.
eg. (in actual code, I will use fa icons).
ryan :+1: Hamming(Ruby)
ryan :speech_balloon: Hamming(Ruby)

What do you think ?

[2016-03-07 11:51] sind1990 commented on #2787
I still got an error "sh.exe: exercism: command not found". I have been trying to figure it out, but no luck

[2016-03-07 13:16] NobbZ commented on #2787
How did you install the exercism CLI?

sind1990 <notifications@github.com> schrieb am Mo., 7. März 2016 um
12:51 Uhr:

[2016-03-07 15:12] sind1990 commented on #2787
@NobbZ I installed it through cmd. i think the problem was that i didnt add the path to the system var, once i did it start working. Thanks For ur help

[2016-03-07 16:24] kytrinyx commented on #2787
Glad you got it sorted.

[2016-03-07 16:24] #2787 closed

[2016-03-07 17:21] #2781 closed

[2016-03-07 18:53] kytrinyx commented on #2753
Yeah, fa icons would be excellent, @abhishekbose87. Thanks!

[2016-03-07 21:12] mem commented on #2772
Late to the party, but I'd be happy to help next time

[2016-03-07 23:59] raul782 commented on #2772
@kytrinyx would love to be part of the experiment if it's still open.

[2016-03-08 01:42] kytrinyx commented on #2772
@mem @raul782 send me an email and I'll send you the information. You're welcome to join now (the 30 day thing can start any time).

[2016-03-08 03:30] ehrlichwirklich opened #2789 "Unable to View Completed Exercise/Fetch Next Exercise"
Hi,

I recently completed the Hello World for Java. I submitted the file, but am unable to fetch the next item on the track. I also can't view my recently submitted code, as the link provided from exercism (which if it matters does match the one given by the cmd line) is broken. I also can't use the exercise buttons to go directly to exercise while I am logged in, as I receive a pop up, that they

[2016-03-08 13:46] petertseng commented on #2764
I can't get back into this state. I hate to leave a bug report with no reproduction in the queue, so I'll close it for now. Always OK to reopen if someone gets back into this state, of course.

[2016-03-08 13:46] #2764 closed

[2016-03-08 16:23] kytrinyx commented on #2789
Hi @ehrlichwirklich, this is odd! Let's see if we can get it sorted.

I've looked up your exercise on the site, and it's missing the exercise name, which it usually detects from the directory structure of where the code is located when you submit it. I suspect that there might be a problem with the directory structure in your case... but it could also be a bug.

What does `exercism debug` output?

[2016-03-08 16:27] kytrinyx commented on #2789
I've manually updated the exercise on the site to have the right language and problem data; you should be able to see it now.

That said, we have to figure this out, or it's just going to happen again.

[2016-03-08 16:49] ehrlichwirklich commented on #2789
It all seems in order
**** Debug Information ****
Exercism CLI Version: 2.0.0
OS/Architecture: windows/amd64
Home Dir: C:\Users\[my_name]
Config file: C:\Users\[my_name]\.exercism.json
API Key: [my_current_key]
API: http://exercism.io [connected]
XAPI: http://x.exercism.io [connected]
Exercises Directory: C:\Users\[my_name]\exercism

Everything is where I expect it

[2016-03-08 18:05] kytrinyx commented on #2789
Yeah that looks right. What was the location of the java file that you submitted?

If there are further issues with this, you could also try updating to the most recent version of the CLI. I try to maintain backwards compatibility, but since exercism is still somewhat of a prototype, this sometimes gets messed up.

[2016-03-08 18:23] ehrlichwirklich commented on #2789
C:\Users\[my_name]\exercism\java\hello-world\src\main\java
Also, I just did the process of setting up CLI a few days ago. It's already to a stable update?

[2016-03-08 19:11] mhelmetag commented on #1650
There's a rake task that can get run automatically by Heroku `rake assets:precompile` that we might be able to use...

[2016-03-08 19:15] mhelmetag commented on #1616
From what I can see, exercism is saving most timestamps in utc. It would be cool to look into a JS hook to update these times with the correct timezone. It also might just be easier to add a column for the user to set their timezone and then, in the presenters, convert the times to the user's timezone.

[2016-03-08 20:22] mhelmetag commented on #2501
@kytrinyx , what more would you do for this issue?

[2016-03-08 20:28] mhelmetag commented on #2748
@NobbZ and @kytrinyx , thoughts on the new layout? Could we close?

[2016-03-08 21:08] NobbZ commented on #2748
It is much better now, only thing that looks odd is, that there is a space
before the comma, so it looks like this: `Bob
<http://exercism.io/exercises/3254942bf6d84530bb94f04f425e02e2>, Rna
Transcription
<http://exercism.io/exercises/8cad2df3f3de4770bb11aa8ea6c0d3bb>` where the
space belongs to the link of Bob. The last entry in each list, does not
have this additional space at the end.

Max Helme

[2016-03-08 21:32] mhelmetag commented on #2748
I thinks that's because of the spacing for `<a>` tags but I can look into this.

[2016-03-08 22:53] kytrinyx commented on #2789
2.2.4 was released in January. What method did you use to install it?

[2016-03-08 22:54] ehrlichwirklich commented on #2789
I used Go, since I had that already.

[2016-03-08 23:48] ehrlichwirklich commented on #2789
kytrinyx I am trying to update it now, but i managed to upload etl without the exercise name again. Any interim solution ideas?

[2016-03-08 23:50] ehrlichwirklich commented on #2789
@kytrinyx  I unsubmitted my last submission until i can figure this out so as to not muddy the waters more.

[2016-03-09 01:15] #2630 closed

[2016-03-09 01:23] kytrinyx commented on #2789
What happens if you say `go get -u github.com/exercism/cli/exercism`, then `exercism -version`?

[2016-03-09 01:44] ehrlichwirklich commented on #2789
It doesn't update. I am still at 2.0.0

[2016-03-09 15:20] kytrinyx commented on #2501
Nothing, I didn't realize it didn't get closed by the PR.

[2016-03-09 15:20] #2501 closed

[2016-03-09 15:27] kytrinyx commented on #2778
@IanWhitney I finished the implementation of the new team activity stream feature that I've been working on. This makes it so that you can access any exercises by a given user on the team from the team dashboard.

I'm going to remove the notifications for new stuff from team members altogether.

[2016-03-09 15:27] #2778 closed

[2016-03-09 15:31] kytrinyx commented on #2789
OK, that seems like a bug as well. I'll dig into both of these issues (API/backwards compatibility and `go get -u`)

/cc @exercism/cli-committers (in case you have any ideas).

[2016-03-09 15:37] Tonkpils commented on #2789
@ehrlichwirklich you may need to delete the installed binary from the go bin path.

If the output of `which exercism` looks it's somewhere in your Go path go ahead and delete the `exercism` binary from that path and retry the `go get` command.

[2016-03-09 15:50] kytrinyx commented on #2789
I don't think there's a `which` on Windows. Maybe `where`?

[2016-03-09 15:51] kytrinyx commented on #1650
Oooh. That would be lovely. Eventually I want to rewrite everything to just use gulp or grunt straight-up with no extra frame-work-y stuff, but it's not exactly next on my list.

[2016-03-09 15:51] Tonkpils commented on #2789
Right! thanks for the catch, didn't notice it was on Windows

[2016-03-09 15:52] kytrinyx commented on #1616
Yeah, either of these would be fine.

[2016-03-09 15:56] ehrlichwirklich commented on #2789
Nope. Its in my program(x86 files) actually.

[2016-03-09 16:04] Tonkpils commented on #2789
@ehrlichwirklich did you happen to install it any other way? Can you delete any exercism binaries you may have installed and re-install them?

[2016-03-09 16:07] ehrlichwirklich commented on #2789
I may have installed it before, but I'm not sure if there are any duplicates or where to find them...
Sorry.

[2016-03-09 16:11] Tonkpils commented on #2789
No problem, as long as you remove the current one that `where exercism`. What we want is a clean slate to make sure you're using the latest binary.

[2016-03-09 16:13] ehrlichwirklich commented on #2789
Okay cool. Can I just uninstall that or do I need to do something special. Sorry if that's an obvious question.

[2016-03-09 16:14] Tonkpils commented on #2789
You can just delete it/remove nothing special :)

[2016-03-09 16:14] IanWhitney commented on #2778
It looks great. Thanks.

[2016-03-09 16:19] ehrlichwirklich commented on #2789
@Tonkpils I removed it. Would I do something different than before?

[2016-03-09 16:22] Tonkpils commented on #2789
@ehrlichwirklich just to be sure are you able to run `exercism` after you deleted it? If so you may have another copy of it.

If not which is the most likely case, just re-install it following the instructions from  http://exercism.io/cli#windows and make sure you have the latest version

[2016-03-09 16:25] ehrlichwirklich commented on #2789
Do you think there is any difference between me manually installing it and using Go?

[2016-03-09 16:29] kytrinyx commented on #2789
There shouldn't be any difference, but if you're not getting the most recent code with `go get` then there will be a difference.

[2016-03-09 16:58] kytrinyx commented on #2748
I'll close this. If either of you want to submit the spacing problem as a separate issue go for it.

[2016-03-09 16:58] #2748 closed

[2016-03-09 19:22] ehrlichwirklich commented on #2789
I did it manually and it setup correctly. Thanks for all the help  @kytrinyx @Tonkpils . My exercises button doesn't work still, but that is unrelated.

[2016-03-09 21:02] kytrinyx commented on #2789
*whew* OK, glad that's sorted on your end. I'm going to leave this open as a reminder to fix the underlying issue on the backend.

[2016-03-09 23:39] kytrinyx commented on #2753
fixed in dc1443ea1c72f0d6f13918ba322e24fef6e581dc

[2016-03-09 23:39] #2753 closed

[2016-03-10 21:38] LegalizeAdulthood opened #2794 "Problem suggestion: find words made from a collection of letters"
This is a problem we did at our Salt Lake City Software Craftsmanship meetup:

Given:
- a collection of individual letters, such as the letter tiles in a scrabble game
- a collection of words

Write code to return all possible words that can be formed from the individual letters.

**Example:**

Given:
- the letters 'a', 'b', 'e, 'e'
- the words "a", "an", "baa", "be", "bee", "ebb"

The algorithm r

[2016-03-12 22:05] kytrinyx commented on #2654
I've opened a ticket in x-common to make the "no defaults" change: https://github.com/exercism/x-common/issues/198

[2016-03-12 22:07] kytrinyx commented on #2794
I like this suggestion. @roseaboveit Should we put "new problem suggestions" in the x-common repository?

[2016-03-13 03:20] wobh commented on #2794
A related, though not combinatorial problem: http://thenoisychannel.com/2011/08/08/retiring-a-great-interview-problem.

[2016-03-13 18:21] colinrymer opened #2797 "Rikki link in comment box has points to a URL that returns a 500."
## Steps to reproduce:
1. Go to a submission that has a comment by Rikki
2. Click on the URL that is Rikki's name at the bottom of the comment.

## What I expected:
I expect to go to the link for Rikki - `http://exercism.io/rikki` or at least get a 404 response for the page.
## What happened instead:
I was taken to `http://exercism.io/rikki-` which returned a 500 response code and page.

## Additi

[2016-03-13 19:38] kytrinyx commented on #2797
I'll add the redirect and also fix the link in rikki's comment. Thanks!

[2016-03-13 19:42] kytrinyx commented on #2797
Wait, I misunderstood the issue. When I go to http://exercism.io/rikki- I get a 200, not a 500 error.

Would you double-check this, please?

[2016-03-13 21:08] colinrymer commented on #2797
Hrm, interestingly, I'm now getting a 200 for `http://exercism.io/rikki-`. I was definitely getting a 500 before - maybe Bugsnag could shed some light on that.

That said, I would still expect the page `/rikki-` and `/rikki` to have the same information - but now I suppose there's a new question of whether that info should be displayed on a regular profile page or a special page (like the current

[2016-03-13 21:32] kytrinyx commented on #2797
Right, I don't know what the right answer is. Since rikki is a user in the system I'd rather not screw with it, but if I add something where people can add some profile info, we could link to the experiment page from there. That might make it less confusing.

[2016-03-13 22:54] colinrymer commented on #2797
FWIW, from trying to approach this from a UX perspective, I think that adding a special case to the routes for redirecting `/rikki-` to `/rikki` is still a reasonable approach - since Rikki is a bot, it seems unlikely that `/rikki-` will ever contain any meaningful information.

While something that allows people to add some profile info certainly could also solve the problem, you now have to hand

[2016-03-14 07:45] GustavoCaso commented on #2720
@kytrinyx Sorry for the delay, to much work lately.

I have some questions, for the interface, would you like something like this?
![image](https://cloud.githubusercontent.com/assets/4672858/13737872/fc138e3e-e9c0-11e5-883e-36e33a9b1e5c.png)

[2016-03-14 09:24] ErikSchierboom opened #2798 "Incorrect feedback link on dashboard"
If you have a link to feedback on your dashboard, it misses the `/submissions` part of the URL.

E.g., on my dashboard, the link for a feedback item was `http://exercism.io/f96cf9abef4c49e98b30b6c07f80953d`. This is a dead link. However, the notifications page has the correct link: `http://exercism.io/submissions/f96cf9abef4c49e98b30b6c07f80953d`

![image](https://cloud.githubusercontent.com/asset

[2016-03-14 14:41] kytrinyx commented on #2798
Ah, my bad! Thanks for catching it. Fixing that now.

[2016-03-14 14:43] #2798 closed

[2016-03-14 14:53] kytrinyx commented on #2797
Yeah, agreed. I'm going with the redirect.

[2016-03-14 14:56] #2797 closed

[2016-03-14 15:05] kytrinyx commented on #2720
Yeah, that would work for me.

[2016-03-15 08:02] GustavoCaso commented on #2720
@kytrinyx would you like to move the completely `UserExercise` row to the new table `DeletedIterations` ?

What I did is add a `deleted` column to `UserExercise` and add a record to the `DeletedIterations` table, the for the table  schema is `user_id` and `exercise_id` and `timestamps`

[2016-03-15 09:56] GustavoCaso commented on #2720
Now the I think it better I guess is better to move the entire row to `DeletedIterations` so that way the user can still add new `UserExercise`, and the progress and all the information from other pages will be updated immediately

[2016-03-15 09:57] GustavoCaso commented on #2720
But what frightens me, is the data duplication

[2016-03-16 13:20] kytrinyx commented on #2720
@GustavoCaso Don't be frightened by the data duplication--the whole point is to duplicate it so that we don't lose data. The UserExercise doesn't belong in the deleted iterations, since it's not an iteration. I don't know if there's any information there that we need though. Does it matter that someone skipped an exercise? We can reconstruct the other data from the iterations.

I will probably be

[2016-03-16 13:58] GustavoCaso commented on #2720
@kytrinyx so are we talking about moving the necessary information from `UserExercise` and `Iterations` to the `DeletedIterations` and remove the `UserExercise` from the table ?

[2016-03-16 17:17] kytrinyx commented on #2720
If there is necessary information, then it needs to go into a separate table. I'll look at it now.

[2016-03-16 17:20] kytrinyx commented on #2720
[code]

None of this information is crucial. I would suggest that we simply delete the row. A new one will be created as soon as they fetch or skip the exercise.

[2016-03-16 21:14] GustavoCaso commented on #2720
@kytrinyx What about the 'submissions' related with that 'UserExercise' they should be move to `DeletedIterations` ?

[2016-03-20 07:44] wendy0402 opened #2802 "Unable to submit - unable to identify track and problem"
Hi it's a little bit silly, but I have this kind of trouble when try to submit(I've seen many issues related with this, and try it but nothing works), can you help me?
[code]
[code]

[2016-03-20 07:50] mhelmetag commented on #2802
@wendy0402 , not silly at all! What seems to be the problem when submitting? Are you receiving an error?

When you say that you've seen many issues related to this, are there any that you could point to that seem similar (just curious; not required)?

[2016-03-20 08:04] wendy0402 commented on #2802
for example like this one https://github.com/exercism/exercism.io/issues/2314. I try to submit elixir, In my current directory I runt this command:
[code]

[2016-03-20 08:26] NobbZ commented on #2802
You need to submit the actual files, not the complete folder. Please do
submit the solutions file only, not the testsuite or project organisation
files.

wendy kurniawan soesanto <notifications@github.com> schrieb am So., 20.
März 2016 09:04:

[2016-03-20 08:37] wendy0402 commented on #2802
Thanks a lot!

[2016-03-20 20:25] iacobson opened #2803 "Offer and Receive feedback & Featured solutions or users"
I would have a few suggestions related to the code review, and featured solutions:
- would it be possible to add a feature where users are encouraged to review other people's code before moving on to the next exercise:
  - either as a requirement: eg: review other 2 solutions before proceeding to next exercise
  - or as some kind of ranking/points
- as a beginner in Elixir I feel the need at the e

[2016-03-20 21:56] petertseng commented on #2802
It could be good to file an issue in https://github.com/exercism/cli to say that if the `exercism submit` command is used on a directory it should give a helpful message that files should be submitted instead

[2016-03-20 22:35] roseaboveit commented on #1370
@bunnymatic Thank you for your interest in contributing.

Were you able to find the answers you seek or are there questions we can answer more fully?

Sorry if it is awkward checking back on this after so long. We just want to make sure that we answer any other questions you have before we close this issue.

[2016-03-21 00:26] bunnymatic commented on #1370
You could close this up.  If I end up finding time to work on things, I'll
check in with you guys at that point.

Cheers
Jon

On Sun, Mar 20, 2016 at 3:35 PM, Whitney Levis <notifications@github.com>
wrote:

[2016-03-21 03:42] mhelmetag commented on #2802
I like that idea. Easy to implement as well and might improve the user experience a bit.

[2016-03-21 11:37] kytrinyx commented on #2771
This has been implemented and released.

[2016-03-21 11:37] #2771 closed

[2016-03-22 20:00] #1370 closed

[2016-03-22 20:13] kytrinyx commented on #2803
This is one of the most important questions at the moment, and I've spent a huge amount of time thinking about it over the past year.

I do not wish to introduce any features that are likely to cause people to give unhelpful feedback. Making it a requirement will very likely mean that people do as little as possible, just to unlock the next exercise.

Gamification, ranking, and points comes up a l

[2016-03-22 20:14] kytrinyx commented on #2720
Yeah, submissions are the old name for what I think about as iterations now. These are what should be moved to deleted iterations.

[2016-03-22 20:18] kytrinyx commented on #2779
@d-mar-u you opened this discussion with:

Does it solve your issue to suggest that you can ask questions and thank people in the comments on the site?

[2016-03-22 20:28] kytrinyx opened #2804 "Status endpoint in API does not return correct information"
To reproduce:

- fetch a specific exercise that you have not fetched before (e.g. `exercism fetch elixir diamond`)
- check the status endpoint (e.g. curl `http://exercism.io/api/v1/tracks/elixir/status?key=$API_KEY`)

Please see the full discussion in https://github.com/exercism/cli/issues/287 for the details.

[2016-03-22 21:16] iacobson commented on #2803
@kytrinyx thanks so much. Really detailed and helpful answer. You are so right about the reasons people avoid to provide feedback (including myself :) ). So I will have that in mind next time.
Personally I think that once you pass an initial barrier, and initiated some kind of communication, people become more open, and willing to share.

Regarding the featured solutions, your idea with some good

[2016-03-22 21:22] kytrinyx commented on #2803
Yes this is true. We probably need a mix of approaches to make this possible--perhaps first we could nominate existing solutions, and then eventually someone could create featured solutions based on what is there.

[2016-03-22 22:21] GustavoCaso commented on #2804
@kytrinyx is anyone working on this one ?

[2016-03-22 23:56] kytrinyx commented on #2804
Nope, not yet. Want it?

[2016-03-22 23:59] GustavoCaso commented on #2804
Yes

[2016-03-23 13:44] alebaffa commented on #2802
I can take care of this :) it would be my first PR here on exercism.

I took a look and it seems pretty simple to implement.
I think I could add a new check in _cli/cmd/submit.go_ along with these existing ones:

[code]
I see two solutions, but I would like to hear your opinion:

1) to create a new function (which will be stored in _/cmd/cmd.go_)
[code]

2) To use the function
[code]
which is alre

[2016-03-23 13:52] alebaffa commented on #2802
(sorry, I just moved my comment in the issue 300 on the cli)

[2016-03-24 04:46] kgrz commented on #2089
Is my understanding correct when I say the issue here is that we need to run a particular npm-related command before the Ruby related build steps commence on Heroku? If yes, I might have a simpler solution than customized buildpacks. I faced the same problem/usecase in the project I'm currently working. Here are the steps I followed:

1. `package.json` should be inside the root of the project so t

[2016-03-25 00:10] kytrinyx commented on #2089
@kgrz that explains it. The package.json is not currently in the root directory. I will experiment with this. It would be quite a relief to get this sorted out!

[2016-03-25 05:04] d-mar-u commented on #2779
Yes! That's great.

[2016-03-25 15:01] #2779 closed

[2016-03-26 17:50] kytrinyx commented on #2742
For anyone else experiencing this issue: I've written a script that can repair accounts that are broken due to this issue. I've run this against production, and it fixed 17 accounts.

[2016-03-26 18:33] kytrinyx commented on #2742
I have submitted issues using 1.9.0 and 1.7.0 and I've not been able to reproduce the issue. If someone has more information about how to reproduce it, I'd appreciate some help on this.

[2016-03-27 06:36] petertseng commented on #2803
re: featured solutions

I had half a mind to say "hey why don't track maintainers take on this task?", because we already provide example solutions for each exercise (used in CI, makes sure our test cases are correct). A few questions that would have to be answered before that can be possible:

* Currently [our docs](https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#reference-soluti

[2016-03-27 07:45] karloxyz commented on #2767
@kytrinyx I'd like to work on this. Where could I see the "Mark all as read" button? Thanks!

[2016-03-27 14:27] mhelmetag commented on #2767
https://github.com/exercism/exercism.io/blob/master/app/views/notifications/index.erb

You'll have to seed some fake notifications to get it to show up locally which can kinda be tricky.

[2016-03-27 19:32] mhelmetag commented on #2802
@kytrinyx , I think this could be closed now that the cli shouldn't allow checking in directories.

[2016-03-27 19:42] kytrinyx commented on #2802
Thanks @mhelmetag!

[2016-03-27 19:42] #2802 closed

[2016-03-27 20:20] kytrinyx commented on #2767
I wrote a couple of rake tasks to help you generate data (run the seed data, then assume one of the user identities in the dropdown, and use their username instead of alice for the rake tasks below).

[code]

[2016-03-27 20:36] mhelmetag commented on #2767
Oh perfect! That's nice to know!

[2016-03-27 21:09] kytrinyx commented on #2803
Yeah, I've had that thought, but I also don't want to overburden track maintainers (which would make it harder to find new ones and harder to keep existing ones).

I'd rather not use the example solution, mainly because I would like to see multiple featured solutions as the rule rather than the exception, since I'd really like to emphasise the idea that there are multiple good approaches. I'm sure

[2016-03-27 21:10] kytrinyx commented on #2767
@mhelmetag in general I find it pretty straight forward to write great big hacky rake tasks for stuff like this, so if you ever come across other stuff that's painful to test on the front-end just holler, and we can work out the details of how to make it not-painful!

[2016-03-27 21:23] mhelmetag commented on #2767
Haha okay! I'll definitely keep that in mind. Good tip! I guess I just would be conflicted about whether that data could be pre-populated by seeds or optionally generated by a rake task.

[2016-03-27 22:06] kytrinyx commented on #2767
Probably pre-populated by seeds, to be honest, but I'd have to sit down and re-think the seed generation. It's been a long time since I gave it any attention.

[2016-03-28 03:50] kgrz commented on #2780
I'll see if I can add this feature.

[2016-03-28 14:41] tejasbubane commented on #2780
I just noticed a strange thing when I followed the link given by @blackfist
http://exercism.io/languages/ (notice the trailing `/`) returns 404 while http://exercism.io/languages serves the languages page.

[2016-03-28 15:04] kgrz commented on #2780
Yeah, looks like sinatra doesn't auto-add [the trailing slash at the end](https://github.com/sinatra/sinatra/blob/4c7d38eb1b2cc02ce51029f28e0c3c34ca12ccfd/test/compile_test.rb#L49). We could fix that by changing the route declaration from `get '/languages'` to `get '/languages/?' or perhaps a regex: `get /\/languages/`

@tejasbubane Can I add an issue on Sinatra for this?

[2016-03-28 16:05] kytrinyx commented on #2780
Yeah, I considered adding the trailing `/?` everywhere. I have it in some places, but haven't gone through and done that. I remember looking at a couple of issues in Sinatra to see how easy it would be to fix this, and whether or not it would be compatible with other fixes. We had a long discussion a few months back about updating the README to reflect some of the quirks of the route patterns, and

[2016-03-28 21:55] GustavoCaso commented on #2762
@kytrinyx Is anyone helping with this one ?

[2016-03-28 21:58] kytrinyx commented on #2762
No, not yet. We do have the list of problems yet to be written: http://x.exercism.io/v3/tracks/java/todo

[2016-03-28 22:00] GustavoCaso commented on #2762
Ok do we have an design for the page to show when they get to the end of the track ?

[2016-03-28 22:03] kytrinyx commented on #2720
This has now been implemented -- see #2801

[2016-03-28 22:03] #2720 closed

[2016-03-28 22:07] GustavoCaso commented on #2741
@kytrinyx, @tejasbubane is someone working on this ?

[2016-03-28 22:10] GustavoCaso commented on #2637
@kytrinyx @karloxyz anyone working on this one

[2016-03-28 22:15] kytrinyx commented on #2762
No, there's no design.

I was thinking of making it a page under /languages/:track_id, for example
`GET /languages/:track_id/contribute/port-exercises`

It would use the information from the todo endpoint I listed to display a list of available problems, along with whatever useful information we can give them (README, canonical test data, if it exists, links to all of the existing implementations)

[2016-03-28 22:27] kytrinyx commented on #2637
@karloxyz submitted a PR a while back; I asked for some tweaks, and I think that was the last thing that happened. @karloxyz are you still working on this?

[2016-03-28 22:35] karloxyz commented on #2637
@kytrinyx I've been out of it for a while. Maybe someone else could continue this. Thanks :)

[2016-03-28 23:01] kytrinyx commented on #2637
Ok, cool. @GustavoCaso in that case it looks like it's up for grabs.

[2016-03-29 06:10] GustavoCaso commented on #2637
Great @kytrinyx :+1:

[2016-03-29 06:13] GustavoCaso commented on #2762
@kytrinyx Ok great I will start working on this feature to ! :+1:

[2016-03-29 17:31] #2767 closed

[2016-03-29 21:56] steffencrespo commented on #1965
I just had this problem and figured that the problem was because I was trying to submit the /hello-world folder instead of the hello-world.js file.
That said, the error message is misleading. It took me some time to realize what I was doing wrong, but that was because I was pretty sure that my directory was right and the configs were also fine.

[code]

Maybe before the 'First' try adding a questi

[2016-03-29 21:58] kytrinyx commented on #1965
@steffencrespo we just merged a fix for this four days ago: https://github.com/exercism/cli/pull/302

I'll release a new version of the CLI this weekend. Sorry we didn't get it fixed in time to save you those minutes!

[2016-03-29 22:02] mhelmetag commented on #1965
I think the newest version of the exercism-cli will prevent checking in whole folders/directories because of this fix https://github.com/exercism/cli/pull/302

[2016-03-31 21:59] karloxyz commented on #2744
I'd like to work on this :)

[2016-03-31 22:41] kytrinyx commented on #2744
Excellent, it's all yours.

[2016-04-02 21:50] kytrinyx commented on #2094
Completed in #2774

[2016-04-02 21:50] #2094 closed

[2016-04-05 21:59] mandel01 opened #2813 "Extra space needed after the (language) in Dashboard "Recently Viewed""
As shown in the screenshot below an extra space is needed (red arrows):

![2016-04-05-15-11-02-screenshot](https://cloud.githubusercontent.com/assets/8669125/14299347/8654e2ec-fb4f-11e5-941a-0091302b9c5c.png)

[2016-04-05 23:02] kytrinyx commented on #2813
Thanks for catching it (and for the screenshot; that always helps with this sort of thing).

[2016-04-05 23:02] #2813 closed

[2016-04-06 18:56] jsheff opened #2815 "~"

[2016-04-06 21:50] kytrinyx commented on #2815
Hey @jsheff, did the details go accidentally missing here, or shall I go ahead and close it?

[2016-04-07 02:37] masters3d opened #2816 "Profile Page: completed exercises chart"
I love the profile page but I am not a fan of the percentage of completion as the first thing that gets seen.
Humans are kinna of prideful creatures. A profile is something I'd like to show my friends when we are having coffee.
The percentage of completion makes it feel to me that I have not *finished* something or that I am falling.
I much rather have a page that shows me *how many * problems I'v

[2016-04-07 02:46] kytrinyx commented on #2816
Copying my response from the other thread:

Yeah, I'm all for making a change like this, both in terms of moving or downplaying the progress bars, as well as including how many problems the person has reviewed.

Let's do the thing where we show you the icon + completed problems + peer reviewed problems, and then if you hover over it (or click?) you get more information.

I'm not married to the pro

[2016-04-07 17:50] sotojuan opened #2817 "Account deletion/clearing"
Um, I was [told](https://twitter.com/exercism_io/status/713453062057299968) to come here.

Basically I'd like to start "from scratch", even if I can skip or delete submissions (which I've done). If possible, deleting my account so I can remake it would be great. If not, just clearing the data.

[Here's me!](http://exercism.io/sotojuan).

If it's not possible, then that's fine! I understand if this

[2016-04-07 18:48] kytrinyx commented on #2817
You can clear all the data by going to your profile, selecting all of the exercises, and clicking delete. We don't have account deletion at the moment.

[2016-04-07 19:26] chezwicker commented on #1899
Not sure how current this issue is, I hope this is the right place to add the following.

It would be good to be able to subscribe to **any** movement on a track, but particularly to a user submitting a solution on a track that is new to them. Particularly with new / rare languages, it's a shame to miss a new user's submission. Something like github's subscription feature would be great, giving a

[2016-04-07 20:03] kytrinyx commented on #1899
Yes, this would be fantastic.

[2016-04-08 03:33] sotojuan commented on #2817
Thanks! Closing.

[2016-04-08 03:33] #2817 closed

[2016-04-09 19:22] mhelmetag commented on #2768
@kytrinyx , what heroku buildpack do you use when you deploy? Is it just stock heroku (like it gets picked up automatically when you `git push heroku master`) or do you specify (like `heroku create --buildpack https://github.com/heroku/heroku-buildpack-ruby.git`)?

[2016-04-09 21:20] kytrinyx commented on #2768
Just stock heroku, at the moment. I had a custom one, but it got out of date, and I didn't have the mental overhead to deal with it, so I just ripped it out and started committing the generated files.

[2016-04-10 16:24] kytrinyx commented on #2815
I'm going to go ahead and close this. If you have more information, please reopen the issue, or open a new one. Thanks!

[2016-04-10 16:24] #2815 closed

[2016-04-10 16:27] kytrinyx opened #2819 "Add track icon to language pages"
We have icons for each language. We should stick it on the `http://exercism.io/languages/:track_id` page (e.g. http://exercism.io/languages/elm).

We have a helper method that gives you the icon (the second argument is the height/width in pixels).

[code]

The ERB file that needs to be updated is this one: `app/views/languages/language.erb`

[2016-04-10 16:33] kytrinyx opened #2820 "Make landing page for upcoming language tracks be about how to help launch them"
There are several language tracks that currently are in progress. To see which ones, go to the languages page on exercism and scroll to the bottom: http://exercism.io/languages

We should have an extra tab on the upcoming languages (e.g. http://exercism.io/languages/groovy).

Right now the first item in the menu is "About the Groovy Track".

![menu](https://cloud.githubusercontent.com/assets/27683

[2016-04-11 05:46] mhelmetag opened #2821 "tilt/erb warning when running tests and starting foreman"
[code]

Looks like the way to solve it is finding a nice place to explicitly require the gem in the repo.

Are others seeing this?

[2016-04-11 13:47] #2821 closed

[2016-04-12 12:12] karloxyz commented on #2744
@kytrinyx @petertseng Any insights? I'm having a hard time since the whole code snippet is displayed inside a `<pre>`. I have two choices: first, write a custom `Rouge` formatter to display it how GitHub does it (a row per line). Second, determine the line number to highlight by looking at all the whitespaces within `<pre>`.

[2016-04-13 23:50] joeltaylor commented on #2820
@kytrinyx Can I safely assume that the first issue of a track will always be the checklist issue? Seems like that has been the convention thus far.

[2016-04-14 00:08] joeltaylor commented on #2820
@kytrinyx Any thoughts on the copy for the new tab? I essentially copied and pasted from the groovy checklist.

I thought about linking directly to the issue, but we'd need to store that issue number since the checklist issue number varies (I had first banked on it always being the first issue).

[2016-04-14 05:38] GustavoCaso commented on #2804
@kytrinyx I think we can close this one.

[2016-04-14 15:11] kytrinyx opened #2828 "Get rid of dropdown for languages"
People can't tell that the dropdown is scrollable. One option would be to only show the most popular languages, but I think it would be better to just remove the dropdown altogether and replace it with a link to `http://exercism.io/languages`.
![dropdown](https://cloud.githubusercontent.com/assets/276834/14533076/d213338c-0220-11e6-9fec-3fd1abc30ab5.png)