[2016-04-15 05:42] mhelmetag commented on #2610
From what I can tell... it looks like this works now for JavaScript. Close?

[2016-04-15 07:05] rchavarria commented on #2610
I think so. I was waiting for #154 to be deployed, and I think I forgot about this issue, sorry.

[2016-04-15 07:05] #2610 closed

[2016-04-16 06:24] LegalizeAdulthood opened #2831 "Lost bullet markup on C++ help page"
![image](https://cloud.githubusercontent.com/assets/4270863/14579501/8be73bac-0369-11e6-953d-c66fc3e05c6d.png)

[2016-04-16 06:24] LegalizeAdulthood commented on #2831
"Type safety", "Encapsulate...", etc., should all be bullets

[2016-04-17 02:47] Cohen-Carlisle opened #2832 "exercism fetch with no track specified results in listing every language as started"
I forgot to specify a language as an argument to `exercism fetch`, and later noticed the below was on my dashboard, informing me I had 29 unsubmitted problems.

![screenshot from 2016-04-16 22-37-29](https://cloud.githubusercontent.com/assets/6425580/14584753/d7ba30d8-0423-11e6-929b-b0ea76af7d2f.png)

After a bit of investigation I determined that the other listings are the first exercises of each

[2016-04-17 06:16] mhelmetag commented on #2832
I think this would be better directed at the CLI. This also might be a feature... I haven't used the CLI in awhile but I remember similar things happening when I didn't specify a language (although, back then there were a lot fewer languages).

[2016-04-17 12:41] tejasbubane commented on #2831
Looks good in the github README. https://github.com/exercism/xcpp/blob/master/docs/ABOUT.md
Must be the issue with markdown parser. Possibly related to https://github.com/exercism/exercism.io/issues/2759 and https://github.com/exercism/exercism.io/issues/2768

[2016-04-17 13:08] kytrinyx commented on #2831
Definitely related to those.

[2016-04-17 18:16] duffn commented on #2832
There's an issue for this in the TODO repository as well: https://github.com/exercism/todo/issues/169.

[2016-04-18 10:54] kytrinyx commented on #2820
Hey! So sorry it took forever to get back to this. I'm in the middle of some travel and am behind on everything. For the copy I think we should stay close to what is in that elm issue I linked to. I'll add some comments about copy over in the PR.

Going forward the checklist issue will always be the first one, because I post it via the API as soon as I create the repo, but for older repos that's n

[2016-04-18 11:09] kytrinyx commented on #2832
I'm pretty sure the CLI is doing the right thing, and that the x-api is (well, _was_) not.

I've just done a pretty huge refactoring (with a partial rewrite) in the x-api, and I fixed this along the way. https://github.com/exercism/x-api/pull/104

I still need to deploy this--want to do so when I can spend a bit of time monitoring the site.

[2016-04-18 11:12] kytrinyx commented on #2610
@rchavarria @mhelmetag I'm *always* forgetting to loop back and close issues. Thanks to both of you for helping figure out what can be closed <3

[2016-04-18 11:28] #2828 closed

[2016-04-18 11:29] #2804 closed

[2016-04-18 11:29] kytrinyx commented on #2804
Yepp, good call. Thanks!

[2016-04-19 10:09] #2819 closed

[2016-04-19 10:09] #2737 closed

[2016-04-19 17:20] LegalizeAdulthood opened #2834 "Add TECO language track"
I'd like to add a [TECO](https://en.wikipedia.org/wiki/TECO_(text_editor)) language track.  However, TECO is unlike other languages in that non-printing characters are language instructions.  This is what makes it fun!  And weird.  This issue is a checklist for everything I need to do in order for a TECO language track.

- [ ] Enhance the code highlighter to understand TECO code.
- [ ] Add languag

[2016-04-19 18:57] kytrinyx commented on #2834
Cool, I'll make a repository for you.

[2016-04-19 19:05] kytrinyx commented on #2834
OK, repo exists. I've opened the "launch checklist" issue here: https://github.com/exercism/xteco/issues/1

I also made a new team and made you team admin.

I'm going to close this issue in favor of the other one.

[2016-04-19 19:05] #2834 closed

[2016-04-19 19:22] LegalizeAdulthood commented on #2834
Ooh, that looks great, lots of stuff I forgot.  Thanks!

[2016-04-19 19:30] kytrinyx commented on #2834
I have a pre-written issue that I submit to new repositories :)

[2016-04-20 08:27] NobbZ opened #2835 "Teambox not visible anymore from dashboard with many unsubmitted solutions"
Before the recent addition, which does introduce the collapsibles for usubmitted solutions, I had the box with my team at the bottom area of my viewport and was able to access team related stuff instantly from the dashboard.

Now there is much information on the page, I am not really interested in, but I have to scroll past it (it reaches down about 3 screenpages; the box' overall height is 2186px

[2016-04-20 08:31] NobbZ commented on #2835
Addition:

Also there are many languages shown now, that I never touched so far at a very “high rank”. Visible at my screenshot there are psql and lua, both of them were never touched by me actively, while other tracks are far below them or even missing (there is no elixir in my list, but I have “solved” only about half of its exercises.

[2016-04-20 16:06] mhelmetag commented on #2835
Ah... This is my fault for moving all those unsubmitted languages into collapsibles... Maybe a fix would to be float the teambox over to the right?

I'm not really sure what the best way to have all this info on the page is...

[2016-04-20 16:56] NobbZ commented on #2835
Yeah, I think, that moving it right is the best. Would have made it much more accessible on smaller displays (smaller -> less height but wide enough to not collapse due to responsive design) even before the change…

[2016-04-20 18:11] mhelmetag commented on #2835
I'll take a look at this tonight and look at the rearranging the dashboard on multiple devices.

[2016-04-21 13:10] kytrinyx commented on #2835
Thanks! Maybe also we should collapse the entire "fetched" section and people can open it up if they care. It doesn't seem like fetched is the most important thing you would look for on the dashboard most of the time.

[2016-04-21 17:19] brettchalupa opened #2836 "Able to access and remove members of a team after removing myself from the team"
When trying to remove myself from a team, my access and membership was not revoked, even though my avatar no longer showed up in the members list.

Here are the steps that I took:

1. Went to the team Manage page
2. Clicked on the [X] button by my avatar
    ![exercism_io](https://cloud.githubusercontent.com/assets/928367/14718201/17ad5182-07aa-11e6-994b-d2929cb568df.png)
3. Confirmed my removal
4

[2016-04-21 18:15] mhelmetag commented on #2836
You definitely shouldn't have management access. That seems unexpected. I think teams are public so read access seems reasonable.

Nice find!

[2016-04-23 14:11] joeltaylor commented on #2820
Totally understandable!

I'll go ahead and make changes where you commented on the PR. Having issue 1 always be the checklist seems like a nice convention and would allow us to directly link users to it. Less clicking == more happiness?

[2016-04-23 20:14] kytrinyx commented on #2836
Membership and management is not the same thing. If you remove yourself as a member, you are still a manager. You can't quit as the manager if you are the only manager.

I'd be open to suggestions about how this should work.

[2016-04-24 18:54] brettchalupa commented on #2836
@kytrinyx that makes sense to me, thanks for explaining it. Is there an interface for managing the managers/would that be helpful to have?

I think the confusion I had was not knowing that I was still a manager, so would it be helpful to have that be more clear?

If folks have thoughts on what it would look like to make it clearer, I would be happy to help implement the changes. 😄

[2016-04-25 01:28] kytrinyx commented on #2836
Yeah, there's supposed to be a "manage" tab... if you're not seeing it, I'm going to have to dig into what the situation is with your team.

I'd love some help getting this cleaned up!

[2016-04-25 08:22] kenden opened #2840 "Reword 'Delete' to 'Delete Iteration'"
When viewing an iteration of my answer, there is a "Manage" menu on the top right part of the page.
In the menu, there are two options "Archive Excercise" and "Delete".

The intent of the "Delete" option could be made clearer, I was half-scared it would delete my exercise submission entirely.

I propose renaming to "Delete Iteration"

![screen shot 2016-04-25 at 10 17 45](https://cloud.githubuserc

[2016-04-25 17:13] kytrinyx opened #2842 "Comments are lost if not logged in"
From [twitter](https://twitter.com/tannerprynn/status/723260319527776256):

This is a real pain in the ass. I thought we had fixed it (using local storage), but clearly we have not. If someone has javascript skills and some time to dig into it, it would be great to eradicate this once and for all.

[2016-04-25 17:14] kytrinyx commented on #2772
This was a great experiment, thanks to everyone who participated. I wrote a bit about what we learned here: http://tinyletter.com/exercism/letters/how-do-we-get-people-to-give-more-feedback-on-exercism

[2016-04-25 17:14] #2772 closed

[2016-04-25 17:29] kytrinyx commented on #2840
Yeah, _delete iteration_ would be much clearer.

This is found in the `app/views/submissions/user_actions.erb` file in this repository.

[2016-04-25 17:33] kytrinyx commented on #2820
less clicking, definitely more happiness. I will do some editing to make it so on the older tracks.

[2016-04-25 18:19] kytrinyx opened #2843 "Add a 3rd section to the /languages page with "planned""
These are tracks that have been asked for, but no exercises have been ported yet.

These would also have the "contributing" stuff as the first tab, as in #2825

[2016-04-25 18:36] brettchalupa commented on #2836
I see the "Manage" tab and the "Managers" section. The "Managers" section is empty, which is probably why I didn't realize I was one. See:

![screen shot 2016-04-25 at 11 34 16 am](https://cloud.githubusercontent.com/assets/928367/14794585/c35b4da4-0ad9-11e6-841f-131bfc4a3593.png)

I just tried entering "brettchalupa" to add myself as a manager and nothing changes. I will dig into the code and see

[2016-04-25 19:22] kytrinyx commented on #2836
Huh, yeah, it should absolutely list you as a manager, and probably explain that you can't remove yourself as a manager if you're the only one.

[2016-04-26 14:19] joeltaylor commented on #2842
Going to see if I can get a regression test for this and knock it out tonight.

[2016-04-26 15:01] brettchalupa commented on #2836
I was able to figure out why and where this is occurring. I am working on adding the explanation and listing the current user as a manager if they are one (as well as tests). 🎉

[2016-04-26 15:02] kytrinyx commented on #2836
Ah, that's excellent news. Thank you!

[2016-04-26 15:10] brettchalupa commented on #2836
How does this seem?

<img width="503" alt="screen shot 2016-04-26 at 8 09 10 am" src="https://cloud.githubusercontent.com/assets/928367/14823107/30751616-0b86-11e6-82f3-e21816ce1614.png">

I kept the same button but disabled it and added a tooltip explaining the situation.

[2016-04-26 15:59] brettchalupa opened #2846 "Implement a test:everything rake task to be able to easily verify all the things before committing/submitting a PR."
I am not sure if this is an issue, so I wanted to ask before tweaking the rake task run on CI. Would it make sense to have Travis CI run RuboCop as part of the test suite to ensure the styles are 👌?

[CONTRIBUTING.md says](https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md#style-rubyrails):

Having a single rake task to run before submitting a PR would be cool. Would a `test:every

[2016-04-26 20:43] GustavoCaso commented on #2762
@kytrinyx do we have and endpoint to get the content of the readme from the `x-common` repository, I'm doing the `contribute` page, but I think showing the actual readme, and a couple of links would be better, than just links

[2016-04-26 20:54] tprynn commented on #2842
Thanks, sorry for snarkiness. There are three parts to this that contributed to three rewrites on my part:

* When logged-out, attempting to post a comment prompts log-in, and the comment is lost as you are redirected after log-in

* After log-in, I attempted to go back in browser history to the initial page. When going back in history, my comment is thankfully saved by my browser's cache for situ

[2016-04-26 21:39] GustavoCaso commented on #2762
@kytrinyx I opened PR in `x-api` that provide the `README` https://github.com/exercism/x-api/pull/105

[2016-04-26 23:43] losingkeys commented on #2735
This seems fixed (there's a 'More Languages' button in the profile that hides some of the progressbars by default). Is there still more to do here?

[2016-04-27 00:58] kotp commented on #2846
If you look at xruby you will see there is a git pre-push commit hook that is available.  We use `make` rather than `rake` though.  There is a `setup-git-hoooks` (sic) executable file in bin to set that up there as well.

[2016-04-27 12:31] kotp commented on #2846
The current versions of Rubocop that are being applied is as shown here project wide:

[code]

As you may note, it is locked at 0.36 on xruby, currently left free to be upgraded on common-io, and locked at 0.30 on x-api.

@kytrinyx should we lock the rubocop on 0.36 wherever we use Rubocop?

[2016-04-27 15:50] joeltaylor commented on #2842
Turns out there was a bug in the authentication flow and the javascript. For more info, you can check out the synopsis in the PR.

[2016-04-27 16:29] kgrz commented on #2780
Took an initial stab at this. Is this what you had in mind?
![image](https://cloud.githubusercontent.com/assets/400299/14859775/49e53ec6-0cc3-11e6-94e3-8a5e36249dac.png)

[2016-04-27 17:00] kgrz commented on #1650
I'm curious, what's the step where we need to manually copy the stylesheets? I ran `compass compile` and the compiled file gets saved as `public/css/application.css` which is already in the source tree.

[2016-04-27 17:07] mhelmetag commented on #1650
I think just adding those files compiled css files and committing them.

The next steps would be to have the compilation process kick off during deploy so that we wouldn't be checking in compiled assets (I could be wrong but that's what I think is best practice).

[2016-04-27 19:25] masters3d opened #2850 "latest iteration changed with new date"
http://exercism.io/profiles/masters3d/77d47b1cec02419489bbcebaf3236d80
take a look at the swift track. The "latest iteration" date was overwritten to a newer date even though there was not been new submissions. The swift track problems should have dates raging back to 2015.

[2016-04-28 07:46] pigg3h opened #2851 "[java] unchanged: 0, updated: 0, new: 0"
When I type exercism fetch java it returns "unchanged: 0, updated: 0, new: 0", tried everything on the support page to no avail. Not really sure where else to go...

**** Debug Information ****
Exercism CLI Version: 2.2.5
Exercism CLI Latest Release: 2.2.5
OS/Architecture: windows/amd64
Build OS/Architecture windows/amd64
Home Dir: C:\Users\Richard
Config file: C:\Users\Richard\.exercism.json
API

[2016-04-29 01:22] losingkeys commented on #2831
The standard doesn't say anything about requiring two newlines before an unordered list: https://daringfireball.net/projects/markdown/syntax#list

However, it _does_ say something about requiring two newlines between paragraphs: https://daringfireball.net/projects/markdown/syntax#p

Also, the reference implementation "fails" in the same way as the parser you're using.

Reference implementation: ht

[2016-04-29 05:07] pigg3h commented on #2851
I figured it out and feel dumb haha. Didn't realize you had to call a specific exercise.

[2016-04-29 06:19] iamharshit commented on #1706
@Dangthrimble machaya be

[2016-04-29 06:33] iamharshit commented on #1706
while doing `exercism fetch python` on windows i am getting an error that 'No connection could be made because the target machine actively rerfused it ' , ANY HELP.....

[2016-04-29 11:58] tejasbubane commented on #1706
Hi @iamharshit, please [open a new issue](https://github.com/exercism/exercism.io/issues/new) with your query. Also include the output of running `exercism debug` so that it will be easy for people to debug the issue.

[2016-04-29 12:08] tejasbubane commented on #2851
If I am not wrong, `exercism fetch java` will fetch the next available exercise if any and if none is available, it will tell `0 fetched`. I think we should mention this somewhere in the docs.

I just noticed that the [cli guide](http://exercism.io/cli) does not say anything about the usage. Is there any other place where this is described?

[2016-04-29 12:58] iamharshit opened #2853 "UNABLE TO FETCH ON WINDOWS"
![query](https://cloud.githubusercontent.com/assets/15041829/14916566/0ee804cc-0e38-11e6-9052-8bbbde52ef3e.png)

[2016-04-29 13:01] iamharshit commented on #1706
@tejasbubane as you asked, open the issue **UNABLE TO FETCH ON WINDOWS #2853**

[2016-04-29 17:18] kytrinyx commented on #2853
Would you please run `exercism debug` and paste the output here?

[2016-04-29 18:08] kytrinyx commented on #2846
Yeah, let's lock Rubocop.

I think a `rake test:everything` would be an excellent addition.

[2016-04-29 18:09] kytrinyx commented on #2846
As a side note, I'm not super strict about style in the exercism.io repository. It's a huge mess at a much deeper level than just style. That said, if we run it, we'll fix it, and consistency in styles is a level of noise that is always nice to be rid of.

[2016-04-29 18:11] kytrinyx commented on #2836
Yeah, I like it.

[2016-04-29 18:12] #2836 closed

[2016-04-29 18:15] kytrinyx commented on #2762
That PR is merged and the API has been deployed.

[2016-04-29 18:18] kytrinyx commented on #2735
I think we'll still be tweaking the profile page, but this issue seems to be solved. Thanks!

[2016-04-29 18:18] #2735 closed

[2016-04-29 18:19] #2840 closed

[2016-04-29 18:20] kytrinyx commented on #2842
@joeltaylor epic fix. Thank you!

[2016-04-29 18:26] #2842 closed

[2016-04-29 18:29] kytrinyx commented on #2780
Is there any way to make this more scannable? It would be neat if we could see at a glance which tracks were started. Maybe it would help to not show 0 submitted at all if you haven't started the track.

[2016-04-29 18:30] kytrinyx commented on #1650
Oh, yeah, we don't need to manually copy, just manually commit, which is dirty.

Yepp, agreed.

[2016-04-29 18:31] kytrinyx commented on #2850
Yeah, this looks like a bug. Not sure what happened, but it definitely looks wrong.

[2016-04-29 18:31] #2766 closed

[2016-04-29 18:32] kytrinyx commented on #2831
There's a PR in progress that would handle lists without the spacing. We're having some trouble with dependencies, which is why this has been stuck in limbo for a while.

[2016-04-29 18:33] kytrinyx commented on #2851
Probably not. We've been moving documentation around, and I wouldn't be surprised if we simply missed this.

[2016-04-29 18:50] iamharshit commented on #2853
![query](https://cloud.githubusercontent.com/assets/15041829/14926331/5536fee8-0e69-11e6-9a22-569c44615f44.png)

[2016-04-29 18:58] kytrinyx commented on #2853
Do you get the same error message if you reconfigure the CLI to talk to google instead?

[code]

Then:

[code]

[2016-04-29 19:05] iamharshit commented on #2853
@kytrinyx ,yup i have the same error,
![query2](https://cloud.githubusercontent.com/assets/15041829/14926764/63d1508c-0e6b-11e6-8b09-c2b714807a33.png)

[2016-04-29 19:08] kytrinyx commented on #2853
OK, so this doesn't have anything to do with the actual endpoints, but is more likely related to your environment.

Are you behind a firewall? Have you tried any of the troubleshooting tips on this page? http://exercism.io/help

[2016-04-29 21:38] sebarmano commented on #2780
What about something like this? I like the idea of having the "# / # completed". I think that that way is showing all the information without adding too much text to the page. (However I think that the word *submitted* like in the @kgrz solution is more appropriate than *completed*).

<img width="395" alt="screen shot 2016-04-26 at 7 05 24 pm" src="https://cloud.githubusercontent.com/assets/148362

[2016-04-30 04:28] iamharshit commented on #2853
yup i have gone thru the help page, but didn't find a satisfactory solution because,
* `exercism -v` shows `exercism version 2.2.5` -> :+1:
* `exercism -degug` shows the correct result -> :+1:
* my api key matches -> :+1:
* I don't know how to set the Exercise directory -> :-1:
* since, it is not showing `No DNS Server `Error i skiped the step ->:+1:
* since , my Firewall is off, i skiped the step

[2016-04-30 10:49] iamharshit commented on #2853
i think i am about to reach the so called breaking point (i.e when a student looses interest in something when he don't know how to get out of a problem)
 ***GOD please HELP***
![ex sol submit](https://cloud.githubusercontent.com/assets/15041829/14935421/b48c2c30-0eee-11e6-85a0-de3b28c9e3fc.png)

[2016-04-30 12:09] kotp commented on #2846
@brettchalupa In your court,

[2016-04-30 12:41] Wilfred opened #2855 "Stop filtering out hello-world"
It doesn't seem possible to view other people's solutions. If I look at a solution I've submitted, e.g. http://exercism.io/submissions/d2333db5fe6b4acfae3cd8e523ab0068 or http://exercism.io/submissions/444b5e4d14d24fca921da5db0d6353c1, there's no link to view other solutions.

If I go to the dashboard, I get a link to a http://exercism.io/tracks/clojure/exercises . However, that doesn't show anyth

[2016-04-30 13:39] NobbZ commented on #2855
That's because hello world isn't in any reviewers queue. Just move on and
try to review following exercises.

Wilfred Hughes <notifications@github.com> schrieb am Sa., 30. Apr. 2016,
14:41:

[2016-04-30 14:18] Wilfred commented on #2855
Hello world is a great way of exploring the site, so it will often be where users get their first impression. Could we at least display why the page is blank?

[2016-04-30 14:59] kytrinyx opened #2856 "Add a section to the dashboard if you've not submitted anything yet"
When you log in, you get redirected to the dashboard. If you haven't submitted anything yet we should tell you how to get started:

- link to the two "getting started" pages (one for code newbies, one for experienced developers) with some short copy about why you would look at one or the other
- link to the /languages page and explain that they'll need to follow instructions to get started

[2016-04-30 15:03] kytrinyx commented on #2853
No, the debug output is not correct. It shows that the CLI is unable to connect to any of the endpoints, that's what the error message means. This means that you will be unable to fetch or submit.

@jwood803 have you run into issues with TCP connections on windows before?

[2016-04-30 15:05] kytrinyx commented on #2855
This has come up before. We've considered removing the restrictions with hello-world, and I think it's the right thing to do now.

[2016-04-30 15:32] kytrinyx commented on #2851
OK, this is actually a bug. I tried this and if you haven't started a track yet, it doesn't deliver the exercise. Super frustrating, and we should absolutely figure out how to fix it quickly.

I think the problem is in the x-api, and have posted an issue there: https://github.com/exercism/x-api/issues/106

I'm going to close this in favor of the x-api issue.

[2016-04-30 15:32] #2851 closed

[2016-04-30 15:38] kytrinyx commented on #2780
How about a badge for the ones that you've submitted exercises on?

Then the text would still say "31 Problems", but if you have actually completed some, there would be a colorful badge (maybe with a tooltip) that has the number that you've actually done in it.

[2016-04-30 16:34] kytrinyx commented on #2832
This is deployed and should be fixed.

[2016-04-30 17:08] NobbZ commented on #2853
Are you able to ping to google from command-line? Are you able to connect
via telnet to one of the endpoints and do a simple GET /?

are you behind a proxies network? Or may there be something else in your
network behaving like a firewall?

Katrina Owen <notifications@github.com> schrieb am Sa., 30. Apr. 2016,
17:03:

[2016-04-30 17:55] jkrmr opened #2857 "I can't remember the last time I got a comment on an open exercise."
Or felt compelled to leave one for someone else.

Just a head's up in case anyone else has come across this 😉

Seems like a bug.

[2016-04-30 18:47] kytrinyx commented on #2857
This is a huge problem in several tracks. It's not the case in all tracks, but even where it's more common to get feedback, there are still not enough people giving feedback.

I've been doing some experiments to see if we can find a way to address it.

[2016-04-30 19:00] iamharshit commented on #2853
@NobbZ
**ans1**, I tried to ping google but got this
![ping](https://cloud.githubusercontent.com/assets/15041829/14937931/01437710-0f33-11e6-8798-b2df13a55f7f.png)

**ans2**,no, there is nothing else like firewall,yes, i am behind proxies which tried to set by `set http_proxy=http://your_proxy:your_port` , after doing that i got this
![final](https://cloud.githubusercontent.com/assets/15041829/149

[2016-04-30 19:09] NobbZ commented on #2853
So, sitting behind a proxy will fluff away any ping... For the proxy
variable... I don't know how that stuff is handled on windows though... But
in general the proxy is your current problem.

iamharshit <notifications@github.com> schrieb am Sa., 30. Apr. 2016, 21:00:

[2016-04-30 19:10] jkrmr commented on #2857
That's reassuring -- I was beginning to wonder if it might just be something wrong with my account.

I vaguely remember arguing (feebly) for required feedback at some point in the distant past, but I see it's been [suggested more recently as well](https://github.com/exercism/exercism.io/issues/2803), so I won't belabor the point.

I just read about the funding for the site -- that's awesome, congr

[2016-04-30 19:10] #2857 closed

[2016-04-30 20:02] jkrmr commented on #2803
I'm sure that's true in plenty of cases—almost certainly in enough of them that tackling that problem is an interesting and worthy endeavor, but my hunch is that there are more immediate (and more simply solved) obstacles to engaged participation on exercism.io.

To illustrate with my typical workflow, here's what I see immediately after I've submitted an exercise:

![submitted](https://cloud.gith

[2016-04-30 22:03] kytrinyx commented on #2857
I still have hopes of figuring out how to solve this without using mechanisms that can be easily gamed with terrible results (e.g. really bad feedback given just so people can move forward).

I did an experiment in the Go track recently which was very promising. I wrote a bit about it in one of the recent newsletters: http://tinyletter.com/exercism/letters/how-do-we-get-people-to-give-more-feedbac

[2016-04-30 22:08] kytrinyx commented on #2853
You need to remember to reconfigure the API so that it has http://x.exercism.io instead of http://google.com

Look at `exercism configure`, which will show you the current configuration, and also shows the flags that it accepts.

[2016-04-30 22:18] kytrinyx commented on #2803
I don't find that silly, to be honest. When I review solutions, I find it very useful to hear what people are thinking.

You can also add a comment automatically when you submit by passing the `--comment` flag.

Since I rarely submit exercises, I don't intrinsically understand how the UX of the site hampers or hinders the behavior that I hope to encourage. It's very, very helpful to see other peop

[2016-04-30 22:56] NobbZ commented on #2803
There also was some review other submissions from any exercise once... It
hasn't worked well though and I was often directed to submissions I already
liked or reviewed. IIRC it was labeled 'next submission'.

Katrina Owen <notifications@github.com> schrieb am So., 1. Mai 2016, 00:18:

[2016-04-30 23:06] NobbZ commented on #2850
On my profile I have a similar problem across various tracks that are
bumped to a date of the last week. It did happen to multiple tracks and the
whole track shares the same date, but the date differs between affected
tracks.

When I'm back home in one or two days I might be able to tack a closer look
at the page and give more insight about which tracks are affected and also
I might be even able t

[2016-05-01 01:41] kytrinyx commented on #2803
Yeah, I removed the "next submission" for that reason--it really wasn't clear what "next" meant.

[2016-05-01 02:32] iamharshit commented on #2853
![untitled](https://cloud.githubusercontent.com/assets/15041829/14939761/de940a64-0f72-11e6-9287-2f661d4aefa0.png)
how  do i reconfigure the API so that it has  http://x.exercism.io instead of http://google.com

[2016-05-01 02:52] jkrmr commented on #2803
Oh snap. That's awesome, thanks for the tip!

Thanks for that. I'm not a huge fan of that approach on other sites. I'm reminded of the grading scheme for a [notoriously difficult intro physics course](https://isites.harvard.edu/fs/docs/icb.topic1288058.files/16info.html)—a "reverse curve" that incentivizes collaboration. The failure mode for drawing inspiration from that would be a vulgar sort of

[2016-05-01 03:41] jkrmr commented on #2803
I just noticed that once a solution is archived, links to another solution and the activity feed are displayed:

![screen shot 2016-04-30 at 11 37 49 pm](https://cloud.githubusercontent.com/assets/4433943/14939966/018fc198-0f2d-11e6-9d58-8a29d9f71f38.jpg)

[2016-05-01 13:45] tejasbubane commented on #2853
@iamharshit As written in the output of exercism configure, you need to use the `--api` option and pass in the url like this:

[code]

You should see this output:
[code]

[2016-05-01 14:37] iamharshit commented on #2853
@tejasbubane still a no,
![still](https://cloud.githubusercontent.com/assets/15041829/14942370/6232e6dc-0fd8-11e6-8330-5b420a2f2168.png)

[2016-05-01 14:40] kytrinyx commented on #2853
@iamharshit The configuration is now correct, but you still have a problem with your proxy.

[2016-05-01 14:50] kytrinyx commented on #2803
That sounds interesting. I'm not utterly opposed to gamification in principle, I'm just very, very wary of it, because it can go so badly wrong.

Yeah, this is something that has come up and I'm tentatively optimistic about it. If it's not used to rank people at all, then it could be really helpful to have that sort of thing. I don't know what it would look like. Label-votes, perhaps, like on the

[2016-05-01 17:15] kytrinyx commented on #2851
This should be fixed in production.

[2016-05-02 03:22] pschipitsch opened #2858 "DEPRECATED Action signature. Must be `cli.ActionFunc`."
When I do (among others):

 ```exercism fetch go```

I get this deprecation message:

```DEPRECATED Action signature.  Must be `cli.ActionFunc`.  This is an error in the application.  Please contact the distributor of this application if this is not you.  See https://github.com/codegangsta/cli/blob/master/CHANGELOG.md#deprecated-cli-app-action-signature```

[2016-05-02 03:44] kytrinyx commented on #2858
Did you `go get` or did you download the latest release?

[2016-05-02 04:00] cshutchinson commented on #2832
I mistakenly executed exercism fetch with no argument today, and have 40 fetched problems in languages other than the one I am working on (Java) shown in the dashboard. Is there a way to correct this on the dashboard?

[2016-05-02 04:20] kytrinyx commented on #2832
I don't think there is at the moment. We should fix that!

Also... do you have the most recent version of the CLI? We changed the behavior of `exercism fetch` with no arguments so that it only fetches stuff for whatever directories you have in your exercism directory (which avoids the problem in the first place).

[2016-05-02 04:42] cshutchinson commented on #2832
Thanks for the super quick response. I am using version 2.2.5 which appears to be the latest compiled on April 2nd, 2016...  I will look at the code tomorrow and see if there is anything I can contribute to help fix this problem.

[2016-05-02 12:45] kytrinyx commented on #2832
Huh. I also have 2.2.5 and when I say `exercism fetch` I don't get all of the—Oh. Sheesh.

Yeah, we changed the behavior, kind of. Here's what's going on:

1. The CLI is calling the global "fetch" endpoint with no arguments, which causes a fetch to be called on every single existing track.
1. Then, when the response comes back, the CLI only _writes_ the data for directories that exist.

I think we

[2016-05-02 13:20] kytrinyx opened #2859 "Add a link to the relevant activity stream from the code/submission page"
The normal workflow of submitting exercises on Exercism doesn't give you any encouragement about reviewing other people's code. E.g.

- submit an exercise
- the CLI reports the URL to your submission
- go to the submission
- ... that's it.

We should add a link to the activity stream that corresponds to that language track and exercise, perhaps with text like "see other implementations of $PROBLEM

[2016-05-02 13:28] kytrinyx opened #2860 "Add link to "mine" at top of track activity streams"
We have two activity streams:

1. One for teams which can filter by language, by language/problem, by user, and by user/problem.
1. One for tracks, which filters only by language and language/problem.

On the track activity stream, it would be useful to have a quick way to get to everything by the user who is currently logged in. This would not include archived stuff, since that is the default in

[2016-05-02 15:45] pschipitsch commented on #2858
I did ```go get```

[2016-05-02 15:49] kytrinyx opened #2861 "Tweak human-friendly date display"
I saw this tweet by @caike today, and decided that I agree.

https://twitter.com/caike/status/727147399496519680

The discussion clarified:

And also this good idea:

I think we should change to a format that looks like this "2 November 2016 at 16:00 UTC" for everything that is older than one day, and include a title attribute or tooltip that has the actual date and time for the stuff that's poste

[2016-05-02 15:50] kytrinyx commented on #2858
Yeah, they just released a new version of the cli library that we use that is backwards incompatible. We have vendored this. @exercism/cli-committers do you know off the top of your head why go get doesn't use the vendored stuff?

[2016-05-02 16:27] kytrinyx opened #2862 "Surface the information about commenting when submitting"
We added a flag on the CLI so that you can post a comment when submitting a solution to an exercise. These comments are great places to say what you were thinking, what was interesting about the exercise, what did you get stuck on, what surprised you, what trade-offs did you make, etc.

A lot of people don't add comments at all, others do, but they do so from the website.

It would be great to enc

[2016-05-02 16:55] Tonkpils commented on #2858
@pschipitsch what version of Go are you using?

Vendor is automatically triggered on Go 1.6. If you're on Go 1.5 you have to `export GO15VENDOREXPERIMENT=true`. If you are in Go 1.4 or less, you need to use `godep go build` to build the binary.

I'd highly suggest you upgrade your Go version if you're on anything under 1.6.

[2016-05-02 16:55] kytrinyx commented on #2803
Side note: This conversation has been really interesting and useful. I mentioned it in today's "Behind the Scenes" newsletter: http://tinyletter.com/exercism/letters/exercism-it-s-about-the-conversations

[2016-05-02 17:12] kytrinyx commented on #2855
I've updated the title to reflect the action that I think we should take on this.

I think the main place to start is to look for all the places where we explicitly mention "hello-world" and figure out from there whether this is something that is filtering it out, and then remove the filters.

[code]

[2016-05-02 17:13] pschipitsch commented on #2858
@Tonkpils Thanks.  I upgraded to version 1.6 and after doing ```go get -u github.com/exercism/cli/exercism``` I no longer see the message.

[2016-05-02 17:17] kytrinyx commented on #2831
I'm marking this as a duplicate of https://github.com/exercism/exercism.io/issues/2759

[2016-05-02 17:17] #2831 closed

[2016-05-02 17:18] kytrinyx commented on #2757
Done.

[2016-05-02 17:18] #2757 closed

[2016-05-02 17:25] kytrinyx commented on #2832
I'm reopening this so that we can figure out part two described by @cshutchinson above.

[2016-05-02 17:33] brettchalupa commented on #2846
Great, thanks. I will work on adding a `test:everything` task.

[2016-05-02 19:44] NobbZ commented on #2862
Since I haven't anything ready to submit, how does it work?

Am I limited to a single line of comment, can I use heredoc on shells that
do support it? Can I even leave out a value and my editor opens up, as `git
commit` does it?

Katrina Owen <notifications@github.com> schrieb am Mo., 2. Mai 2016 um
18:27 Uhr:

[2016-05-03 00:37] kytrinyx commented on #2862
You can use heredoc or open up a string with a double-quote and it can be more than one line. I haven't implemented the thing where you leave out the value and it opens up an editor. That would be lovely.

[2016-05-03 00:47] kytrinyx commented on #2846
Excellent, I've renamed the issue to reflect this.

[2016-05-03 02:03] iamharshit commented on #2853
@kytrinyx How to fix that?

[2016-05-03 02:17] kytrinyx commented on #2853
I'm not sure, I've never worked on a windows machine. @jwood803 do you have any experience with this? @ErikSchierboom you've written code in a bajillion environments... would Windows be one of them by any chance?

[2016-05-03 04:11] #2820 closed

[2016-05-03 04:14] kytrinyx commented on #2525
FYI: I ended up renaming it to "Activity Streams".

[2016-05-03 04:19] jkrmr commented on #2803
Thanks for the issues! 😃  I'll get started on one asap. I'm so glad the feedback was useful.
I didn't know there was a newsletter, btw—that's brilliant ✨

[2016-05-03 04:24] kytrinyx commented on #2803
Seriously thanks for the suggestions—it's so helpful. The newsletter is a pretty new thing. For the longest time people told me I should have one and I was like "what the hell would I write about?". Then someone suggested this approach... it's tremendous fun.

[2016-05-03 06:57] ErikSchierboom commented on #2853
@kytrinyx Yes, I almost exclusively work on Windows and I have never had this problem. This is the output for `exercism configure` on my machine at work:

![image](https://cloud.githubusercontent.com/assets/135246/14976553/fce69824-110c-11e6-9a64-c06b83792be6.png)

I also use the CLI on Windows at home, which I also never had a problem with.

[2016-05-03 08:39] NobbZ commented on #2835
It became even worse, now that inactive tracks are shown. Tracks I did never fetched before and don't have on my hard-drive.

[2016-05-03 12:37] kytrinyx commented on #2853
@ErikSchierboom Do you know how to figure out if there is a firewall-ish sort of thing, or how to figure out what proxy one would need to use to get past a refused TCP connection?

[2016-05-03 12:46] ErikSchierboom commented on #2853
@kytrinyx I'm sorry, I don't :(

[2016-05-03 12:59] kytrinyx commented on #2853
OK, thanks. Let's try twitter! https://twitter.com/kytrinyx/status/727482691445125120

[2016-05-03 13:01] kytrinyx commented on #2835
Ah, I missed the inactive tracks thing. That's a bug.

The CLI behavior is not ideal here: https://github.com/exercism/cli/issues/313

I'm going to do some manual cleanup on this in the next few days.

[2016-05-03 13:14] kytrinyx commented on #2835
Fixed the inactive tracks thing in exercism/x-api@3b67fa873568560ffc157e5821865de43cb4abf8

[2016-05-03 13:18] kytrinyx commented on #2853
According to rboudinot:

rboudinot also mentioned that they'd have some time to help out later this week.

@iamharshit Here's a tutorial about how to use c9.io with Exercism. https://www.youtube.com/watch?v=r0TnwOLxoks

[2016-05-03 13:32] selfup commented on #2853
@kytrinyx

Just leaving a quick comment but I am the rboudinot from Twitter! Should have some time tomorrow and Thursday.

[2016-05-03 13:33] trptcolin commented on #2853
@iamharshit Are you able to visit http://x.exercism.io/ in the web browser (IE?) on your Windows machine? I'm expecting so (since you could visit the documentation), and so I'd suggest ensuring that the command line proxy configuration matches the one the web browser is using (see also: http://stackoverflow.com/a/28153935/495302). You can find [IE's proxy configuration instructions here](http://wi

[2016-05-03 18:41] martinsvalin commented on #2803
A suggestion related to featured solution: maybe don't feature a _solution_, instead feature a conversation.

I think this would probably often happen around good (or much improved) solutions. And really, I'm more interested in showcasing good code review examples than good code. For a beginner audience looking for an idiomatic solution, I'm sure the discussion would provide more context.

This an

[2016-05-03 19:17] kytrinyx commented on #2803
@martinsvalin I love this idea. I think this could actually be a valuable thing separate from featured solutions, to explore good conversations, good code reviews, etc.

I've also been thinking about whether or not I can use machine learning to identify in some fuzzy way solutions that are similar to each other. Then this can be used as the basis of exploration: which conversations exist about sol

[2016-05-03 19:47] martinsvalin commented on #2803
I'm thinking a bit about what incentives a "Featured conversations" thing would introduce.

The obvious good one: you can "win the prize" of being featured by giving good comments. I'd certainly be proud to have participated in a featured conversation. And I'd be proud to have a submission of mine have conversation thread that becomes featured. But the glory is shared with others. I feel that is i

[2016-05-03 23:19] kytrinyx commented on #2835
OK, there's been a bit of churn around the whole status/fetched/unsubmitted thing, and I spent some time taking a step back and thinking about how to solve it.

I found an approach that I liked, and then took a bigger step back and realized that all of this complexity is in the app kind of haphazardly. I've taken the slightly painful step of ripping it out (perhaps temporarily) to see what it feel

[2016-05-03 23:19] #2835 closed

[2016-05-03 23:20] kytrinyx commented on #2737
OK, there's been a bit of churn around the whole status/fetched/unsubmitted thing, and I spent some time taking a step back and thinking about how to solve it.

I found an approach that I liked, and then took a bigger step back and realized that all of this complexity is in the app kind of haphazardly. I've taken the slightly painful step of ripping it out (perhaps temporarily) to see what it feel

[2016-05-03 23:22] kytrinyx commented on #1972
OK, there's been a bit of churn around the whole status/fetched/unsubmitted thing, and I spent some time taking a step back and thinking about how to solve it.

I found an approach that I liked, and then took a bigger step back and realized that all of this complexity is in the app kind of haphazardly. I've taken the slightly painful step of ripping it out (perhaps temporarily) to see what it feel

[2016-05-03 23:23] kytrinyx commented on #2832
I changed my mind :)

There's been a bit of churn around the whole status/fetched/unsubmitted thing, and I spent some time taking a step back and thinking about how to solve it.

I found an approach that I liked, and then took a bigger step back and realized that all of this complexity is in the app kind of haphazardly. I've taken the slightly painful step of ripping it out (perhaps temporarily) t

[2016-05-03 23:23] #2832 closed

[2016-05-03 23:25] kytrinyx commented on #2789
@ehrlichwirklich What is the status on this. Can we close it?

[2016-05-04 03:35] McEileen opened #2863 "Exercism Restore Not Working"
Hi, I recently switched computers and wasn't able to transfer my old hard drive to my new machine.  I want to download all of my completed exercism problems onto my new computer.  However, when I run "exercism restore," it only downloads the original exercises, and doesn't download my solutions.  Any ideas on what's up?

Thanks in advance for your help!

[2016-05-04 05:10] mhelmetag commented on #2757
Sweet!!!

[2016-05-04 06:46] kytrinyx commented on #2863
Hi, that's definitely a bug. I have a suspicion about what might be going on—I'll get back to you in a moment with an update.

[2016-05-04 06:47] kytrinyx commented on #2863
Also: so sorry to hear about the hard drive. Such a pain!

[2016-05-04 07:02] kytrinyx commented on #2863
I can't believe I didn't have a test for this. Amateur hour on Exercism!

[2016-05-04 07:16] kytrinyx commented on #2863
OK, so I totally had a test, and it was testing it wrong. Amateur hour indeed. Not only that but two separate bugs were in play, both of which could have caused this behaviour separately. I'm so sorry about the mess, please let me know if this works for you.

[2016-05-04 09:30] iamharshit commented on #2853
@kytrinyx

ok, i got started with c9.io, its cool.

[2016-05-04 09:48] iamharshit commented on #2853
thanks @trptcolin , it took me 2 days to complete ur comment,
but it worked,
for future users who face this problem there is one line solution,

[2016-05-04 12:20] jkrmr commented on #2803
I think this would be really beneficial—good examples have huge pedagogical value. I'd love to see examples of well-delivered and well-received feedback (or, just as well, poorly delivered feedback received well), and examples of the different modes of code review @kytrinyx mentioned (e.g., soliciting more context about a solution).

It's hard for me to reason about what constitutes an extrinsic o

[2016-05-04 13:04] kytrinyx commented on #2803
I think so, too.

I've thought about whether there are ways of anonymizing things in some contexts, for example by choosing completely random usernames for authors of code and participants in a conversation (transparently, of course, not actually pretending they are real).

I wonder if whether or not this could be a way to surface content without potentially embarrassing or shaming people.

[2016-05-04 13:05] kytrinyx commented on #2853
So glad you worked it out, @iamharshit! Thanks for sticking with it until you found the solution.

[2016-05-04 13:05] #2853 closed

[2016-05-04 14:07] McEileen commented on #2863
I just tried it and exercism restore perfectly restored all of my exercises.  Thank you so much!  I was very impressed by your speedy reply :)

[2016-05-04 14:07] #2863 closed

[2016-05-04 18:59] kytrinyx commented on #2863
Yay, glad it worked! Good call on sticking them in git, by the way. I love your super-clever name.

We've been toying with the thought of making exercism run on top of git, but at the moment we decided to not solve underlying technical problems like that, but to figure out how to fix the core experience. Maybe eventually we'll get to fun things like actual real technology :)

[2016-05-04 21:34] selfup commented on #2853
Oh great! There was a fix. Was about to hop on it.

Glad it all worked out

[2016-05-05 08:44] iacobson commented on #2803
Just a quick idea about the FEATURED part of the discussion.

Before deciding anything that would require implementation of new features, maybe a simple temporary solution can help:
A simple order_by at the top of the solutions, which will allow:
- order by latest submission
- order by last commented
- order by most commented
- and (maybe most important) - order by most likes - which will act as a

[2016-05-05 17:07] LegalizeAdulthood commented on #2803
Pasting in some thoughts from an email thread with Katrina...

- As a track implementor, I had posted all my solutions to the exercises under my account, so that there would always be at least *one* solution to review.  Maybe we can implement this more formally as an "example" solution.  We might want to avoiding the word "reference" as that might make it feel to special.  My reference solutions t

[2016-05-06 02:04] cshutchinson commented on #2856
I have a PR in progress. Would you take a look at the attached screenshot and suggest any modifications you might like before I submit?
<img width="1246" alt="screen shot 2016-05-05 at 7 55 49 pm" src="https://cloud.githubusercontent.com/assets/10334271/15062370/84d55a18-12fc-11e6-9162-f74d25408c36.png">

[2016-05-06 14:06] jkrmr commented on #2859
@kytrinyx What do you think of this placement?

![screen shot 2016-05-06 at 10 02 49 am](https://cloud.githubusercontent.com/assets/4433943/15075321/bc67ed9a-1371-11e6-9836-27fdf2bf8cfa.jpg)

[2016-05-06 14:15] jkrmr commented on #2860
@kytrinyx As a first pass:

![screen shot 2016-05-06 at 10 13 40 am](https://cloud.githubusercontent.com/assets/4433943/15075606/498d5aa6-1373-11e6-81bd-ff289e6cd4c7.jpg)

I'm not entirely sure what to label the filter -- I felt torn between "My solutions" and "My implementations". I'm probably overthinking it, but I wonder if you have any strong feelings either way...

[2016-05-06 15:23] jkrmr commented on #2859
Also, this is what's displayed when looking at an archived submission:

![screen shot 2016-05-06 at 11 21 18 am](https://cloud.githubusercontent.com/assets/4433943/15077513/c16c70e4-137c-11e6-8c19-f673079a4c10.jpg)

I wonder if these two views can be merged? (i.e., if both can just display the "see other implementations [etc]" link)

[2016-05-06 15:46] jkrmr commented on #2859
Another iteration:

![screen shot 2016-05-06 at 11 45 34 am](https://cloud.githubusercontent.com/assets/4433943/15078227/22a9c2be-1380-11e6-8791-c33648de833e.jpg)

[2016-05-07 11:47] josepajay commented on #2861
@kytrinyx I tried to implement what you suggested. Kindly have a look at my PR.

[2016-05-08 14:42] kytrinyx commented on #2803
I don't want likes to turn into something that smells of gamification. At the moment likes is just a bit of feedback to the author: someone saw your solution and thought it looked good. A lot of other people will have solved it in the same way and not gotten likes, because it simply hasn't been seen by many people. This could turn into a whole lot of undesirable behavior (in a previous job I spent

[2016-05-08 14:46] kytrinyx commented on #2856
@cshutchinson Nice! Let's get rid of the bit about not having any unsubmitted problems--that kind of follows from what is said right above it.

I wonder if we should also have a sort of "welcome to exercism!" vibe there. Maybe say something about how each language has instructions about how to install any language-specific dependencies?

[2016-05-08 15:16] #2855 closed

[2016-05-08 15:53] kytrinyx commented on #2859
I like the placement!

Let's get rid of the text that shows up on the archived one--it's legacy cruft. That way we can have the same text always, which is easier to understand when using the site.

/cc @juliatjoy

[2016-05-08 16:09] kytrinyx commented on #2860
I don't have any strong feelings either way, but here's how I've been using words lately:

- solution: refers to code written by a user to solve an exercise. A solution might have many iterations.
- problem/exercise - more or less used interchangeably
- implementation - a language-specific implementation of a problem

Based on that I'd slightly lean towards "solutions" as you have here.

[2016-05-09 08:10] kgrz commented on #2780
One more idea I had was to separate the in progress items into a different section and they can have the style @sebarmano created and the rest would just be arranged in the current manner.

 One possibly bad side-effect of this is to confuse users about all the sections on the page. The current separation is "Active" and "Inactive".  Adding another with similar meaning (say In progress) would prob

[2016-05-09 16:33] kytrinyx commented on #2780
Yeah, I suspect that between Active/In Active and In progress the completely different sort of category would be confusing.

[2016-05-10 02:16] pschipitsch commented on #2843
I'd like to work on this.  Do you want to see the same launch tab as the "Upcoming" languages?

<img width="859" alt="screen shot" src="https://cloud.githubusercontent.com/assets/7145478/15133709/4c361352-161a-11e6-96cc-0655a509036b.png">

[2016-05-10 17:17] amalrik commented on #2850
I want to tackle this bug. :smiley:
I see there's a field `last_iteration_at` on table `user_exercises` but on `app/views/user/_exercises_table.erb` the field `updated_at` is showed instead.

I will try to submit the fix tonight.

[2016-05-10 18:10] kytrinyx commented on #2850
Awesome, thanks!

[2016-05-10 19:59] kytrinyx commented on #2843
Thanks! Yeah, this should have the same launch tab as upcoming.

[2016-05-10 20:10] #2846 closed

[2016-05-11 12:35] joeltaylor opened #2875 "Link directly to Launch Checklist in "Help Launch" sections"
Each non-implemented language has a "Help Us Launch" section [(example)](http://exercism.io/languages/groovy) that includes a link to the track's "Launch Checklist".

Currently, we're linking to the track repo with search params [(source)](https://github.com/exercism/exercism.io/blob/master/x/docs/md/track/LAUNCH.md) included to direct users to the issue, but once https://github.com/exercism/x-api

[2016-05-11 12:56] tejasbubane commented on #2856
This can be closed @kytrinyx

[2016-05-11 13:17] helenst opened #2876 "On private page, "More Languages" button doesn't work"
If I visit my private profile link when logged out, clicking the "More Languages" button reverts to the public profile view (so asks you to log in via Github). It's available if you build up the URL manually (e.g. http://exercism.io/profiles/helenst/<secret_id>?all=true) but then "Fewer Languages" has the same problem.

[2016-05-11 19:57] hop opened #2877 "Sublist's tests should catch people using string search functions"
Well, technically it's OK, I guess, but you should be careful.
See http://exercism.io/submissions/9bd909365e8f4be5b0602c26a498039e .

[code]

[2016-05-12 20:26] dogweather commented on #2345
Just chiming in to say I do like the teams feature, as simple as it is. It doesn't need to be complex.

[2016-05-13 00:01] horatius83 opened #2880 ""Couldn't find that user" error when clicking on the Activity Stream"
I get the error "Couldn't find that user" when clicking on the Activity Stream. I also recently submitted a solution and the language isn't showing up (It's blank instead of Haskell)

[2016-05-13 18:13] RyanMilstead1 opened #2882 "'exercism fetch' already has solution"
So I have been working through the ruby exercises and I use the `exercism fetch` command to download the next exercise (pangram). When I opened the folder I noticed that there was already a pangram.rb file, the solution was already completed and it passed all of the tests. I'm not sure if this is how exercism should function but I wanted to open an issue just to be sure.

[2016-05-13 23:21] pschipitsch commented on #2882
I experienced the same thing with RNA Transcription in the ruby track.

[2016-05-14 00:30] kotp commented on #2882
Thanks for reporting.

Can you give a exercism debug report here?  It may give some information that we can use to limit the logs that need to be examined.

[2016-05-14 03:49] dannypaz commented on #2882
+1. @kotp This has happened to me with `exercism fetch ruby` also. Specifically using fetch for the `hamming` and `gigasecond` exercises. Both contained .rb files with a completed answer. The next exercise: `rna-transcription` was not affected.

[2016-05-14 04:40] kotp commented on #2882
Thank you very much @dannypaz for the debug and the did and did not happen points.  I think this will help.

@kytrinyx Any hints?

[2016-05-14 15:46] kytrinyx commented on #2882
Not yet, but I will be digging through this today.

See also: https://github.com/exercism/xruby/issues/315

[2016-05-14 16:22] kytrinyx commented on #2875
Sweet, I'm looking forward to this change. So much cleaner than the hack we came up with.

[2016-05-14 16:27] kytrinyx commented on #2875
Good to go!

[2016-05-14 16:29] kytrinyx commented on #2880
@horatius83 thanks for reporting this.

What does the output of `exercism debug` say?

[2016-05-14 16:32] kytrinyx commented on #2345
Thanks @dogweather -- I made some significant changes recently adding the team activity stream, and I think that this fixed the basic brokenness with teams. I'm going to keep them as is for now.

Which actually means that we can close this thread, since the premise of the discussion was that the teams were a disaster (and they no longer are).

[2016-05-14 16:32] #2345 closed

[2016-05-14 16:32] kytrinyx commented on #2876
Ah, we totally forgot about these.

We need to support the same "private" hash on these links.

[2016-05-14 16:34] kytrinyx commented on #2876
For context, see https://github.com/exercism/exercism.io/pull/2739 and https://github.com/exercism/exercism.io/issues/2731

[2016-05-14 16:34] kytrinyx commented on #2856
Thanks!

[2016-05-14 16:34] #2856 closed

[2016-05-14 16:36] kytrinyx commented on #2877
I think that this probably is fine to leave as is, since it makes for a really good conversation/discussion with the author of the original code.

@exercism/track-maintainers What do you think?

[2016-05-14 16:37] #2850 closed

[2016-05-14 16:43] #2859 closed

[2016-05-14 17:03] IanWhitney commented on #2877
Checking implementation like this always seems fidgety to me. I think it's a great topic for comments/nitpicks.

[2016-05-14 17:32] kotp commented on #2877
On Sat 2016-05-14 10:04, Ian Whitney wrote:

If we need to remember to comment about it, @kytrinyx suggested using
Rikki for something like this regarding defining `each` methods in Ruby.

[2016-05-14 17:59] kytrinyx commented on #2882
OK, this is so strange. I'm not able to reproduce this at all so far, even if I configure my local environment to pretend that I'm one of these users and then fetch one of the exercises that comes with a solution for them.

@dannypaz if you delete (or rename) the gigasecond folder and then say `exercism fetch ruby gigasecond` again, do you still get the solution?

[2016-05-14 18:10] kytrinyx commented on #2882
OMG. I have a suspicion about this. I bet I'm mutating the track cache in the API!

[2016-05-14 18:10] dannypaz commented on #2882
@kytrinyx I tried deleting and renaming the gigasecond folder. I was not able to reproduce when using `exercism fetch ruby <exercise_name>`.

[2016-05-14 18:13] kytrinyx commented on #2882
@dannypaz thanks.

Update: so far, no luck finding a place where I'm mutating the track cache in the API. Still digging.

[2016-05-14 18:34] kytrinyx commented on #2882
Wow. OK, so on heroku I get a different result from locally on this:

[code]

On Heroku they are the same, locally they are not. Therefore, locally I am _not_ mutating the cache, but on Heroku I am.

This is what is causing the bug, I'll change the implementation.

[2016-05-14 18:44] dannypaz commented on #2882
@kytrinyx you. are. awesome. Is this something in lib/tracks in `x-api`?

[2016-05-14 18:45] kytrinyx commented on #2882
it's in the `api/v1/routes/exercises.rb` file in the restore endpoint.

[2016-05-14 18:49] #2882 closed

[2016-05-14 18:49] kytrinyx commented on #2882
OK, deploying now.

[2016-05-14 18:54] kytrinyx commented on #2882
For what it's worth, this is the ruby version on Heroku vs my machine:

[code]

So... same patch level, same revision number, only difference is platform.

[2016-05-14 21:40] blackfist commented on #2780
Sorry to be late to the party. What I meant when I created the issue is that when I go to the list of Elixir problems and I have to download the next one it would be nice to be able to tell which ones I've already done.

Right now I do an ls in my exorcism folder and then see which problems don't have a local folder. Which is fine when I've only done a handful but gets out of hand eventually.

[2016-05-15 00:38] amalrik commented on #2861
@kytrinyx i think this could be closed.

[2016-05-15 01:44] Cohen-Carlisle commented on #2877
I like adding the suggested test as it gives immediate feedback. I don't like relying on a reviewer pointing it out on exercism.io as
 * it may not happen
 * if it does happen, the coder may never see it
 * I prefer an immediate failing test to someone maybe catching the problem in a code review.

[2016-05-15 02:08] ryanplusplus commented on #2877
+1 for adding the test. This really doesn't have anything to do with mandating a particular implementation, it's about enforcing the _correctness_ of an implementation. You can still use string search as long as you join the fields with a delimiter.

[2016-05-15 02:40] kotp commented on #2861
Thanks @amalrik ...

[2016-05-15 02:40] #2861 closed

[2016-05-15 15:37] kytrinyx commented on #2861
The PR broke the page, so I commented out some of the behavior. I'll open a new ticket explaining what went wrong.

[2016-05-15 15:47] kytrinyx opened #2886 "Human-friendly dates within one day"
See https://github.com/exercism/exercism.io/issues/2861 and https://github.com/exercism/exercism.io/pull/2870 for a history of this issue.

For a long time we had fuzzy dates that said things like:

- 20 minutes ago
- 3 hours ago
- 5 days ago
- 3 weeks ago
- 7 months ago
- about a year ago
- ages ago

Then after a discussion I came to agree that it's frustrating to not be able to know exactly when

[2016-05-15 15:51] kytrinyx commented on #2882
Update on the bug, this was due to memoization, not a difference in environments. Apparently I checked differently on heroku and locally.

This script gets different object ids in both places:

[code]

This script gets the same object id in both places:

[code]

[2016-05-15 16:02] kytrinyx commented on #2877
Yeah, after hearing the arguments for this test from @ryanplusplus and @Cohen-Carlisle I agree. This doesn't specifically check for string / join, it checks for an interesting edge case. Let's add it (and when we add a sublist.json file in x-common, we should add it there too).

[2016-05-15 16:04] #2843 closed

[2016-05-15 16:05] #2876 closed

[2016-05-15 16:06] kytrinyx commented on #2780
Ahh, ok this makes more sense.

Where do you go to the list of elixir problems. Is it on http://exercism.io/languages/elixir in the "Available Languages" tab?

[2016-05-15 16:23] kytrinyx commented on #2780
Another question: What if your profile page showed you what would be next? Or the dashboard?

[2016-05-15 17:40] kytrinyx commented on #2877
Ref: https://github.com/exercism/x-common/pull/227

[2016-05-16 01:39] amalrik commented on #2875
@kytrinyx is this feature already deployed on x-api?
I just curl to http://x.exercism.io/v3/tracks/groovy and it didn't return the checklist_issue field. 😕
I can help with this issue if you want.

[2016-05-16 01:47] kytrinyx commented on #2875
There's an open PR. https://github.com/exercism/x-api/pull/110 I was waiting for the author to make the change, and just saw that he had done so, but not added a comment, so I didn't get a notification. I'll merge and deploy it now.

[2016-05-16 01:51] kytrinyx commented on #2875
Aaaand the x-api is deploying.

[2016-05-16 01:58] joeltaylor commented on #2875
Meant to get to this earlier this week, sorry! @amalrik it's all yours if you want or I can get to it this week.

[2016-05-16 01:59] pschipitsch opened #2887 "Activity stream not sending me to /notifications."
I think something is wrong with the Activity Stream button.

I'm getting sent to '/tracks/go/exercises'.  Before I re-authenticated, i was being sent to '/tracks/ruby/exercises/sieve'

[2016-05-16 02:04] kotp commented on #2887
Why to sieve, and why does sieve make sense?

[2016-05-16 02:05] kytrinyx commented on #2887
We don't save state, it's a per-session thing. I want to change this, but haven't yet. It will go to the last stream you looked at, unless you've reauthenticated.

It's actually super annoying (but not technically a bug, unless something new happened recently).

[2016-05-16 02:06] kytrinyx commented on #2887
Activity stream never sends you to /notifications, btw. It shouldn't. The "bell" icon should go to notifications.

[2016-05-16 02:07] pschipitsch commented on #2887
Yes.  I retracted that part.  I guess the inconsistent behavior is what threw me.

[2016-05-16 02:10] pschipitsch commented on #2887
@kotp sieve makes sense now after reading @kytrinyx's comment about going to the last stream I looked at.

Thanks for the info!

[2016-05-16 02:21] amalrik commented on #2875
There you go 😃 @kytrinyx  @joeltaylor

[2016-05-16 02:44] #2887 closed

[2016-05-16 15:16] kytrinyx commented on #2887
Yeah, I'm going to take a look at how to fix this so that it doesn't feel so arbitrary.

[2016-05-16 17:10] #2875 closed

[2016-05-16 17:10] kytrinyx commented on #2875
Aaaand merged. Deploying now.

[2016-05-16 18:09] amalrik commented on #2747
@rebelwarrior is this issue still happening?

[2016-05-16 22:16] rebelwarrior commented on #2747
Yes and no. Most recently submitted works. Which ones are pending no. 

    On Monday, May 16, 2016 2:09 PM, Amalrik Maia <notifications@github.com> wrote:

 @rebelwarrior is this issue still happening? —
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-05-16 22:17] Tonkpils commented on #2747
Apologies for not getting back to this earlier, I will try to get to checking the issue this week

[2016-05-17 01:19] blackfist commented on #2780
Yep, that's exactly where I go to find the available exercises. And I'm not picky about where I find out about the next exercise, so profile page or dashboard would be fine. I just want something easier than comparing my filesystem to the webpage.

[2016-05-17 14:01] kytrinyx commented on #2780
Perfect. I think either would work fine--it might make sense on the profile page since that lists all the exercises you've done. It could fit nicely to have the "next exercise" listed there.

[2016-05-17 17:52] Peque opened #2891 "Multi-line comments in Python not properly highlighted"
It seems that multi-line comments in Python are not highlighted properly. See for example:

![screenshot from 2016-05-17 19-45-27](https://cloud.githubusercontent.com/assets/526577/15333001/18d35de0-1c68-11e6-9add-9f0b51ef43b4.png)

Lines 1 to 3 should be highlighted in red, rather than just the first line, right?

This particular submission [can be found here](http://exercism.io/submissions/205b8

[2016-05-17 19:53] kotp commented on #2780
I missed  exercism/discussions#13 which is related, although from the CLI perspective.

[2016-05-17 20:14] kytrinyx commented on #2780
The CLI thing would probably solve this nicely, as well, though. I think we should put it in both places.

[2016-05-17 21:58] amalrik commented on #2891
I suspect this can be a problem with [rouge gem](https://github.com/jneen/rouge)
I have reproduced the same behavior on my local machine and
I can take a deeper look at this in worst case at the weekend.

[2016-05-18 00:21] sebarmano commented on #2780
I agree with @kytrinyx on having the next exercise for each language in the profile page. I'm wondering if it would be useful to have also an indication of that in the list of available exercises for each language. I'm thinking in something like a tick or badge next to the completed ones (a very basic example in the figure). This would also keep consistency between profile/dashboard and exercises

[2016-05-18 06:25] nithinbekal commented on #2886
I'll look into this and submit a PR later today.

[2016-05-18 13:53] joeltaylor commented on #2886
@nithinbekal Whoops, I didn't see that you had called dibs.

The issue was that the FuzzyTime `ago` method returns a link for the tooltip, which will cause the HTML to break if nested within another link. In the screenshot above, the content is already wrapped in a link [(source)](https://github.com/exercism/exercism.io/blob/master/app/views/stream/_main.erb#L14-L28) and bad things happen.

From w

[2016-05-18 21:43] horatius83 commented on #2880
I should add that the job I submitted was with a very old client (about a year old). I'll get the debug info, but I've updated the client since then so I don't know how useful that will be.

[2016-05-19 00:58] amalrik opened #2894 "Possible bug on See other implementations of..."
On public submissions theres a button to see other implementations of your submitted exercise.
<img width="1325" alt="screen shot 2016-05-18 at 21 35 56" src="https://cloud.githubusercontent.com/assets/801340/15379174/cc3964d2-1d40-11e6-80c6-81ae9d7647d9.png">

But If I click on the link I got a blank page:
<img width="1325" alt="screen shot 2016-05-18 at 21 39 10" src="https://cloud.githubusercon

[2016-05-19 00:59] amalrik commented on #2894
If confirmed a bug i'm interested in fixed it.
I just need clarification of the desired behavior.

[2016-05-19 08:48] nithinbekal commented on #2886
@joeltaylor No worries! I didn't get to work on this yesterday after all. :)

[2016-05-19 15:44] kotp commented on #2106
It could increase the barrier of entry as well, as it requires a 64 bit platform.

[2016-05-19 18:23] Fortyseven opened #2896 "Problem submitting solution (Windows)"
First time submitting something. _Seem_ to have everything configured properly, but when I try to use the 'submit' command, this happens:

[code]

Much thanks!

[2016-05-19 18:46] kotp commented on #2896
What folder are you in at the command line?  Is that file sitting in the same folder you are in?

[2016-05-19 18:54] Fortyseven commented on #2896
Aye.

Full thing:

_**[C:\Home\Dev\ii\_personal\exercism\python\hello-world]**_ exercism submit hello_world.py
2016/05/19 14:53:38 GetFileAttributesEx C:\,: The system cannot find the file specified.

[2016-05-19 19:11] kotp commented on #2896
Can you verify that `exercism submit .\hello_world.py` would work or not?

[2016-05-19 19:19] Fortyseven commented on #2896
Same outcome. :(

_**[C:\Home\Dev\ii\_personal\exercism\python\hello-world]** exercism submit .\hello_world.py_
2016/05/19 15:18:49 GetFileAttributesEx C:\,: The system cannot find the file specified.

[2016-05-19 20:26] kotp commented on #2896
Thanks.

[2016-05-19 21:18] kytrinyx commented on #2886
:heart: I would love to see a way to do that. My first reaction when seeing (or putting) HTML in helpers is _it feels gross_, but sometimes that's just the thing that works. Meh :)

[2016-05-19 21:18] #2886 closed

[2016-05-19 21:43] kytrinyx commented on #2894
Agreed, I think we should omit the link if the person does not have access to the general population of solutions in question.

The way to check this is to see if they have a record in the acls table (it stands for "Access Control List") for the language (this is actually the track_id... we have changed some terminology) and slug in question.

[code]

There is a model, ACL, for this in `lib/exerci

[2016-05-19 21:54] kytrinyx commented on #2780
From a code perspective I would prefer to keep personalized content out of the generic language track, for a couple of reasons. First, it adds a bit of complexity to personalize the content. Second, as we start trying to cache things, personalized content makes a page much harder to cache. Right now we can't straight-up cache any of the pages on Exercism due to the way that the header menu changes

[2016-05-20 05:55] kytrinyx commented on #2896
ping @jwood803 @ErikSchierboom - Does anything come to mind?

[2016-05-20 06:28] ErikSchierboom commented on #2896
Ehm, do the other commands work? For example, `exercism fetch`?

[2016-05-20 11:10] Fortyseven commented on #2896
Yeah, fetch works:

[code]

[2016-05-20 11:13] Fortyseven commented on #2896
I just noticed what's likely a big clue.

c:\Home is a 'junction' to d:\Home. Might have something to do with it. I'll move the whole thing to the actual d: drive and see if it works.

[2016-05-20 11:55] Fortyseven commented on #2896
That seemed to do the trick!

[code]

[2016-05-20 13:56] jealous opened #2897 "Cannot view other's implementation of the solution."
Hi,

I think I encounter a bug.  After I submit my solution, I could see it in the site.
But when I clicked "See other implementations of XXX", I got an error.
 Here is the link of the error page:
http://exercism.io/tracks/javascript/exercises/bob

And here is the screen shot.
![bug](https://cloud.githubusercontent.com/assets/1789979/15429930/a2e629b2-1ed5-11e6-94ee-9b564b422ab7.png)

I have tried

[2016-05-20 18:18] marioIncandeza opened #2898 "Feature Request - archive more than one exercise at a time"
If there's a way to do this already, I haven't found it. Would be nice for lazy people.

[2016-05-21 00:44] siakaramalegos commented on #2090
It looks like the http://exercism.io/how-it-works page has been made more clear, but the newbie one hasn't yet. I can take a stab at it if you want. Should I post suggestions here first before actually doing it in code?

[2016-05-21 00:57] siakaramalegos commented on #2090
When I see that page (http://exercism.io/how-it-works/newbie), I feel like it's a large block of text. I bet most people don't read it all so the message about iteration is probably getting lost.

There are a few design strategies that may help:
- Mini-navigation menu on the left to quickly jump to different sections or at least understand what all is discussed on this page
- Tabbed area for the a

[2016-05-21 01:32] siakaramalegos commented on #2090
I may have found a potential bug in the set up - if this doesn't look familiar, I can submit another issue. I think 2 things may have happened. The bin/setup file doesn't prepend  `rake db:from_scratch` with `bundle exec` which my system didn't like for this repo. But now, I'm also getting an undefined method success? for nil:nilClass from 2 different lines in db.rake - basically `$CHILD_STATUS` s

[2016-05-21 01:43] siakaramalegos opened #2900 "bin/setup file does not prepend rake commands with bundle exec"
Causes issues for new contributors trying to set up the repo locally. Submitting a pull request for this shortly...

[2016-05-21 02:43] ethagnawl opened #2903 ""Comments" not being properly pluralized in app/views/stream/_main.erb"
Because the plural form of the word "comment" is used as the receiver of the call to `pluralize`, the word is never singularized (e.g. when `exercise.comment_count` is 1).

`<%= "comments".pluralize(exercise.comment_count) %>`

[2016-05-21 14:55] #2903 closed

[2016-05-21 15:08] kotp commented on #2900
Which issues are caused?  Can you outline them?

[2016-05-21 15:16] siakaramalegos commented on #2900
[Here](http://stackoverflow.com/questions/8106095/why-does-my-environment-require-i-run-bundle-exec) is a good explanation of why prepending `rake` commands with `bundle exec` can be required by some contributors. One reason is multiple versions of `rake` in an environment. Since exercism has multiple contributors using many different environments, cleaning up the bin/setup file to use the full ve

[2016-05-21 15:34] siakaramalegos commented on #2900
Just as another example, the user that created PR #2899  also came across this issue.

[2016-05-21 17:19] kotp commented on #2900
I think that as a project managed with bundler, all commands are meant to be prepended and managed by Bundler, so all commands referring to the project should be `bundle ...`

All contributors should have the need, it is just some contributors may be using tools that are aware, and those tools are doing the needful.

Let's get this knowledge out there that running `bundle exec rubocop` or `bundle

[2016-05-21 17:39] siakaramalegos commented on #2900
`bundle exec` actually runs the commands within the context of the project's gemfile which is considered more correct. Running `rake` without `bundle exec` in front actually executes the commands in the context of the system's gems rather than the project's gems. Thus, it would be more correct to use `bundle exec`. For more discussion, please see [this](http://stackoverflow.com/questions/8275885/u

[2016-05-21 21:36] #2894 closed

[2016-05-22 01:24] amalrik commented on #2340
@kytrinyx this can be closed since #2374 got merged.

[2016-05-22 01:26] kotp commented on #2340
Thanks @amalrik .  Not @kytrinyx but will close. (One less thing she needs to worry about this weekend.)

[2016-05-22 01:26] #2340 closed

[2016-05-22 04:48] kytrinyx commented on #2900
Thanks for bringing this up. I've been super, super lax about all of this, and I'd love some help thinking through what the right approach is so that we can clean it all up throughout the project and in the documentation. It's so frustrating when different users get different experiences (and as a result: different error messages).

[2016-05-22 05:06] kytrinyx commented on #2898
Haha, yeah :) It would probably be nice for not-lazy people, too.

Maybe we can leverage the profile page which already has checkboxes that let you delete things. Maybe instead of just supporting delete we could support both delete and archive as actions.

[2016-05-22 05:25] kytrinyx commented on #2880
Yeah, that's a good point. I wonder if the right thing to do here is to start asking people to upgrade if we receive a call to an old client. We'd have to do some testing to see if old clients would even print error messages—it's a bit of a messy history.

[2016-05-22 05:26] kytrinyx commented on #2106
As I understand it, this would not be a requirement, only an additional way for people to contribute if they're comfortable with it.

[2016-05-22 05:31] kytrinyx commented on #2896
Excellent! Is there any documentation that we should add to the http://exercism.io/help page that would have helped you figure this out more quickly (and less painfully)?

[2016-05-22 05:34] kytrinyx commented on #2897
Hi! So sorry you ran into this. This is definitely a problem on our end, not on yours. Most likely there's some bad data in there that is blowing things up. I'll dig into it and let you know what I find (unfortunately it might take a couple of days).

In the meanwhile... what does the output of running `exercism debug` on the command-line say?

[2016-05-22 05:47] kytrinyx commented on #2090
Yes! I just saw a talk called "design for non-designers" and I realized that I've definitely got far to many big blocks of text. Totally not scannable.

The two suggestions that I think we could probably just go for without any experimentation are

- using a muted color on the right, and
- general language cleanup.

The other options are various ways of recombining the content to be clearer, which

[2016-05-22 17:11] siakaramalegos commented on #2090
I did post a screenshot on the pull request with that exact first pass (muted color, language cleanup). I'm pasting it in below for convenience. But maybe instead of an iterative change, we should blow the whole thing up (other instruction pages too), and ask from a design standpoint, how should it look? Then, make them all consistent. Modest use of images (or even video) may help.

I don't even l

[2016-05-22 18:52] pschipitsch commented on #2900
It would be nice to have the pry command in bin/console also prepended with ```bundle exec```

[2016-05-22 20:04] kytrinyx commented on #2090
:heart: great minds. I do recall seeing that now that you mention it.

I would love to start from scratch and talk about process (it's not my strong point, as you may have noticed). I feel like we get a first pass, and then we can discuss a better approach in the discussions repository (videos, blowing up the whole process, etc). If we could use this to combine experienced/newbie without frustrati

[2016-05-22 20:07] kytrinyx commented on #2900
@pschipitsch The current approach is to load the bundled gems inside the script. https://github.com/exercism/exercism.io/blob/master/scripts/console.rb#L3 What are the pros to running it with `bundle exec` instead?

[2016-05-22 20:32] siakaramalegos commented on #2900
It doesn't work unless you call `bundle exec bin/console`.  See screenshot below - for the second example, I prepended `pry` with `bundle exec` in the file.
![image](https://cloud.githubusercontent.com/assets/4777393/15456331/46d65224-2032-11e6-8634-70142ec81851.png)

[2016-05-23 05:12] pschipitsch commented on #2900
@kytrinyx I'm not fully sure what causes the error.  Similar to @siakaramalegos, the console script works when I do ```bundle exec bin/console``` or if i prepend the pry command with ```bundle exec```

Here's the error I see:
[code]

[2016-05-23 14:18] amalrik commented on #2891
Unfortunately this will require more effort than I thought.
My investigation led me to this class `lib/rouge/formatters/html_exercism.rb` which is where I think the problem belongs but I'm not sure yet why.
I going to try to solve this puzzle again on Thursday.

[2016-05-23 14:24] Peque commented on #2891
@amalrik May the Force be with you! :muscle:

[2016-05-23 14:31] amalrik commented on #2891
:smiley: tks!

[2016-05-23 18:44] jealous commented on #2897
Hi Katrina,

I really appreciate your help!
Here is the output for `exercism debug`.

[code]

Please let me know if you need more information.

[2016-05-23 19:33] kytrinyx commented on #2900
Ahhhh, OK, thank you. That's definitely a terrible experience, and you're absolutely right that the fix for this is to rip out the bundler stuff from `scripts/console` and change the documentation to always run the `bin/console` command with `bundle exec`.

[2016-05-23 19:34] kytrinyx commented on #2897
Thanks so much. I'll be looking at this today.

[2016-05-23 20:01] kytrinyx commented on #2738
Since I have not heard anything back from @ethangodt about design I'm going to assume that he moved on to other projects, and close this issue.

@genevievelesperance if you have any ideas about what the videos would look like, would you talk about it in https://github.com/exercism/discussions/issues/18?

[2016-05-23 20:01] #2738 closed

[2016-05-23 21:13] kytrinyx commented on #2897
It is not happening to me on my account, even if I view the exercises that you have completed. I'm investigating further, as I still suspect that there's some bad data involved somewhere.

[2016-05-23 21:46] kytrinyx commented on #2897
OK, I found and eradicated the bad data. Let me know if this works for you!

[2016-05-23 22:18] kytrinyx opened #2910 "Replace PNG track icons with SVG"
I created an icon for each language track, to use on the site to identify that language. They can be seen here: http://exercism.io/languages

For most language tracks, I tweaked the official language logo to have the exercism "brand" colors (charcoal and pink). We could also use a lighter gray for variation/emphasis where useful.

The copyright etc for language logos is all over the map, so there'

[2016-05-24 05:47] ethangodt commented on #2738
@kytrinyx hey, so sorry to be non-responsive on this. I'm not normally like that. A number of things have changed for me the past couple months, and I ran out of time. Feel free to ping me for a smaller task if something come up. Best of luck!

[2016-05-24 20:01] kytrinyx commented on #2738
Hi @ethangodt I know how it is! Thanks so much for letting me know.

[2016-05-25 05:38] jealous commented on #2897
Hi Katrina,

Thank you so much.  The problem is resolved.

[2016-05-25 17:37] kytrinyx commented on #2268
It took a year of thinking about this, but I finally ended up creating a repository where we can put discussions: github.com/exercism/discussions - I intend to slowly move all the fuzzy discussions from elsewhere in the exercism organization to this new repository.

I've posted the question about news here: https://github.com/exercism/discussions/issues/19

[2016-05-25 17:37] #2268 closed

[2016-05-25 17:38] kytrinyx commented on #2253
I did a bunch of work on this over the past 7 or 8 months, and ended up with a new homepage because of it. So far I think it's working.

My solution was to focus on figuring out who the different groups who use exercism are (newbies, polyglots, artisans) and then figure out what specific pains Exercism addresses for each group.

[2016-05-25 17:38] #2253 closed

[2016-05-25 17:38] #2250 closed

[2016-05-25 17:39] kytrinyx commented on #2163
I've gotten feedback that the documentation is good. I'm going to close this, even though it can surely always become better.

[2016-05-25 17:39] #2163 closed

[2016-05-25 17:40] kytrinyx commented on #2096
We've rewritten the contributing guide, I'm going to go ahead and close this.

[2016-05-25 17:40] #2096 closed

[2016-05-25 17:40] kytrinyx commented on #2095
I think we've got this covered in the new contributing guides.

[2016-05-25 17:40] #2095 closed

[2016-05-25 17:52] kytrinyx commented on #1737
I think this documentation could go in the https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md file.

[2016-05-25 18:04] kytrinyx commented on #2092
I'm going to close this issue, as I think that we've gotten to a basic, reasonable level of documentation.

I have opened an issue specifically about improving how we label and triage issues here: https://github.com/exercism/discussions/issues/20

[2016-05-25 18:04] #2092 closed

[2016-05-25 18:05] kytrinyx commented on #1855
I believe that we've got this covered in the README and contributing guide.

[2016-05-25 18:05] #1855 closed

[2016-05-25 18:07] kytrinyx commented on #2208
I implemented activity streams (not quite in the way described, but close enough).

We still need to do work to figure out what the slowest pages are, and fix them. I'm not sure what the best approach to this is—perhaps tracking/monitoring in production?

[2016-05-25 18:10] kytrinyx commented on #1735
This was fixed a while back when I rewrote the team notifications.

[2016-05-25 18:10] #1735 closed

[2016-05-25 18:12] kytrinyx commented on #2156
This issue is not yet solved, and it's going to require some discussion about the user experience. Which actions on the CLI are affected, and how should they respond? What should the web site say and where should it say it?

[2016-05-25 18:12] kytrinyx commented on #1851
Has this been fixed?

[2016-05-25 18:14] kytrinyx commented on #1979
This is being discussed in the x-common repository: https://github.com/exercism/x-common/issues/208

I'm going to close this issue in favor of the other one.

[2016-05-25 18:14] #1979 closed

[2016-05-25 18:16] kytrinyx commented on #2174
This is fixed.

[2016-05-25 18:16] #2174 closed

[2016-05-25 18:23] masters3d commented on #2156
Something to this effect with out brackets : "You reached the end of this [computer] language track. Congrats! [Achievement unlocked.] Please consider [using your new super-power by ] implementing new problems into this track. Go to <link-to-remaining-problems> to learn more."

[2016-05-25 21:58] adamnbowen commented on #1699
@kytrinyx A lot can change in a year and a half—are you still okay with deploying and migrating all at once, or would you prefer a solution for this go forward that does the multi-stage deploy you mentioned at the top of this issue?  Also, since it's been so long—are you still interested in seeing this get pushed forward?

[2016-05-26 00:53] alberthu16 opened #2914 "Typo in submission text"
This is what the script currently outputs:

[code]

`http://exercism.iotracks/ruby/exercises/hello-world` is not a valid url

[2016-05-26 00:53] alberthu16 commented on #2914
It should be `http://exercism.io/tracks/ruby/exercises/hello-world`

[2016-05-26 02:56] kytrinyx commented on #2914
Thanks for the heads up. There's an open pull request to fix this: https://github.com/exercism/cli/pull/319 so I'm going to go ahead and close this (we need to handle configurations both with and without the trailing slash for the host url).

In the meanwhile, you can change your configuration to have the trailing slash on the exercism.io url (see the output of `exercism configure`.

[2016-05-26 02:56] #2914 closed

[2016-05-26 02:59] kytrinyx commented on #1699
I've done a bunch of migrations like this in the past 18 months, and I've done all of them in multiple steps. It really makes me uncomfortable to consider doing it in one fell swoop.

I do want to move forward with this change (it's on one of my "if I have a spare day" lists... haven't had a spare day for a while).

[2016-05-27 00:14] horatius83 commented on #2880
**** Debug Information ****
Exercism CLI Version: 2.2.5
Exercism CLI Latest Release: 2.2.5
OS/Architecture: windows/amd64
Build OS/Architecture windows/amd64
Home Dir: C:\Users\Tyler Durden
Config file: C:\Users\Tyler Durden\.exercism.json
API Key: <redacted>
Exercises Directory: C:\exercism
Testing API endpoints reachability
        * API: http://exercism.io [connected] 183.0288ms
        * XAPI:

[2016-05-27 00:15] horatius83 commented on #2880
Like I said before, I submitted and attempted to fetch with the old client, and now, even with the new client I can't seem to get new exercises. (This debug output is from the new client)

[2016-05-27 05:49] justgage commented on #2803
I listened to the Bike Shed podcast and was drawn to this discussion. Here's my two cents.

What about making __reviewing code one of the exercises__? The Readme of this exercise could talk about the benefits mentioned by @kytrinyx and explain why. This way it's not like a reflexive thing like, "This is just what you have to do to get back to learning" but rather, "Reviewing is just another great

[2016-05-27 16:14] kytrinyx commented on #2880
OK, thanks for the details. I'm looking into this.

[2016-05-27 16:30] kytrinyx commented on #2880
@horatius83 Can you confirm the reproduction steps for me? From the issue here it sounds like you're experiencing several different (but probably related) problems.

The first is that you are unable to view the activity streams.

1. log in to exercism.io
1. click on Activity Streams in the top menu
1. you receive the error message "Couldn't find that user"

What URL are you on when you get that er

[2016-05-27 17:55] alberthu16 commented on #2914
Thanks!

[2016-05-27 19:51] stantoncbradley commented on #2803
really want to see some sort of vetted example.  I like the idea of sorting most commented / most liked / etc.  Also, I think the the original solution should be pinned to the top.  This solution would have continuous iterations based on feedback, and would (at least eventually) demonstrate one version of best practices to solve the question.

I think these would be the easiest to implement and ge

[2016-05-28 17:23] kytrinyx commented on #2803
Would you elaborate, please? What do you mean by "original solution"? And where would it be pinned?

[2016-05-28 17:31] stantoncbradley commented on #2803
Sure. The original solution as in the one submitted by the person who created the question. It would be pinned to the top of the list of all the other solutions to that problem

[2016-05-28 17:36] kytrinyx commented on #2803
We have explicitly not made that solution follow best practices—it's meant as a smoke test against the test suite to make sure that it's solvable. The other thing that worries me about having a single pinned solution, is that most exercises have several interesting approaches, and pinning one of them would suggest that one approach is better than another.

[2016-05-28 17:51] stantoncbradley commented on #2803
I realize that. I just think if we had one dedicated solution that could get iterated on then it could be cleaned up to at least be one example of an acceptable solution. I'm not saying it would be perfect as is, but everyone would see it and comment on it, and the original creator could clean it up as they saw fit. I'm not saying this is a perfect solution or that that example should be taken as

[2016-05-28 17:57] stantoncbradley commented on #2803
Or maybe being able to sort by most liked would be enough? Because only seeing the most recent means maybe someone came up with a unique solution, but otherwise we are all just copying the same best solution from the last few days

[2016-05-28 17:58] kytrinyx commented on #2803
I didn't realize that people did this.

What I'm trying to avoid is having people assume that there is one good solution or one good approach and then optimize for that. I think that having one "best of" would be worse than not having any.

[2016-05-28 18:20] justgage commented on #2803
I know amazon's ratings are based not off just the raw rating but also takes how old a solution is over time, that way it would help weed out the solutions that fall out of favor over time (think callbacks in JS)

Code wars (more of a kata site so a little different) has an interesting idea with how they have not only a raw "Best" solution but also has one based on cleverness and other things.

![

[2016-05-28 18:29] kytrinyx commented on #2803
I would love to figure out how to do something like that.

This is interesting. Someone mentioned something about labelvoting a while back: https://github.com/exercism/exercism.io/issues/1957 This sounds kind of related to that.

[2016-05-28 18:48] stantoncbradley commented on #2803
I want to learn idiomatic patterns and best practices for a language as quickly as possible. I'm ok iterating a few times on a problem on exercism, but then I want to basically at least see one verified solution before moving on to the next problem. I can then take what I learn and apply it toward the next problem

[2016-05-28 19:01] horatius83 commented on #2880
I don't know what changed, but it seems to be working fine now.

[2016-05-28 19:04] kytrinyx commented on #2880
OK, great! I'm going to close this, but please don't hesitate to re-open it or open a new one if you experience similar issues.

[2016-05-28 19:04] #2880 closed

[2016-05-28 19:06] kytrinyx commented on #2803
Yeah, understood. I think that for experienced developers, seeing one decent, idiomatic approach (even though there are several possible great, idiomatic approaches) will not necessarily be a hindrance to their learning experience.

For new developers it can be a real problem, because they often (a) copy without understanding, and (b) tell other people that they're doing it wrong because they're d

[2016-05-28 19:36] stantoncbradley commented on #2803
It's true, but better than copying something wrong/less idiomatic. They can also look up the methods and learn why the code works. I think showing a good solution is good for everyone

[2016-05-28 20:39] justgage commented on #2803
It would be awesome. In many ways I feel your bot you made is about the best way to handle this. She offers suggestions while not giving answers. This is the best way to learn in many cases. Honestly it seems the current problem is most people _don't iterate at all on their solution_.

I think that this is a great point. People are always going to copy and paste at least at some level if they real

[2016-05-29 19:24] kytrinyx commented on #2803
That's an interesting observation—I'd have to look at the numbers, but I suspect that you're right.

Agreed. I think that the way to go is to put in place some way of having multiple showcase examples. If we have the system in place, then we can use it where we have examples, and where we don't it would perhaps encourage people to help come up with a set of examples.

The analysis is actually pret

[2016-05-30 07:44] Insti opened #2915 "Markdown code blocks do not display in comments."
When trying to add a markdown code block to a comment on a solution the code block will show up correctly in the preview but not in the submitted comment.

Steps to reproduce:

* Find a solution to comment on
* Add a code block in the markdown using triple backticks "```"
* Preview the comment and see that it looks as you would expect
* Submit comment.
* Note that the code blocks are no longer dis

[2016-05-30 12:40] justgage commented on #2803
To be fair they probably did before they submitted.  But it seems a little doubtful that most people look at other peoples solutions and then go back and fix theirs (a useful activity in opinion) most people are probably just happy they could complete it and want to move on or be done for the day.

I'm not sure that most people have enough intrinsic drive for quality to go back and redo exercises

[2016-05-30 14:23] suzannehamilton opened #2916 "500 errors on exercise and team pages"
I've been seeing 500 errors on exercism.io today from a few of the pages. I've seen consistent errors (i.e. refreshing doesn't fix the problem) on these pages:

* Exercise summary pages, e.g. http://exercism.io/tracks/ruby/exercises/grade-school
* http://exercism.io/inbox, which redirects to the last exercise summary page I visited
* http://exercism.io/teams/softwire/streams (the only team I'm a m

[2016-05-30 15:04] kytrinyx commented on #2916
Thanks so much for the heads up! I'll debug this (no need to open a separate ticket for the x-api).

Ah! Yeah, I'm pretty sure that's it. If you happen to know which version of the windows client you had, I'd love to see if I can fix the API to work with it (or at least reliably complain and suggest that one should upgrade).

[2016-05-30 15:05] kytrinyx commented on #2916
OK, I ran my script to clean up the accidental bad data from these old clients... would you check if this fixes it for you?

[2016-05-30 15:22] kytrinyx commented on #2915
Thanks so much for the reproduction steps!

My guess is that we either use different code for handling the markdown of the preview vs the actual comment, or perhaps we have some incorrect HTML that is blowing things up.

The code is a bit of a mess, but the starting point for the page is `app/views/submissions/show.erb`, and then it uses a number of partials (`<%= erb :"some/partial/name", locals:

[2016-05-30 15:28] kytrinyx commented on #2803
I've been thinking about that... for example, could we figure out which solution your solution is similar to, and then out of those, point you to the ones where there are lots of comments? Or, could we use machine learning to show us the typical approaches, and then see what kind of comments are associated with them?

[2016-05-30 15:41] suzannehamilton commented on #2916
Amazing, thanks!

Yes, that fixes all the errors (including the API "restore" one).

Not totally sure what the old client version was because I replaced the exe when I upgraded, but my best guess from what's in my Downloads folder is 1.9.2.

[2016-05-30 15:52] kytrinyx commented on #2916
Thanks! I'm going to close this, and open a ticket specifically to investigate the old client issue.

[2016-05-30 15:52] #2916 closed

[2016-05-30 16:02] kytrinyx opened #2917 "Investigate and fix API to handle submissions with old client version"
Sometimes people come back to Exercism after a hiatus, and submit with an old version of the client, and the API stores the submission with the track ID in place of the slug, and leaves the track id empty. E.g. `track_id: "", slug: "java"`.

This might be client version 1.9.2. It might only be on Windows, but that would be weird, since we cross-compile.

The place to find old releases is here: htt

[2016-05-31 09:58] Insti commented on #2915
What is the 'correct ' newline sequence when storing comments in the database?
On my local dev version all the comments that pre-populated in the database use "\n" but new comments I add via the browser have "\r\n"

If they should be all "\n" then the comments probably need filtering on the way in.

If they can be either then the triple backtick markdown parsing regex needs some tweaking.

Once I

[2016-05-31 11:28] Insti commented on #2915
For reference:

Related (closed) issue: #2310 and its PR: 7ea91da42535c33952d3c086f614dd1aebacea47

[2016-05-31 14:43] kytrinyx commented on #2915
The database should use `\n`... I bet we have some filtering that translates `\c\r` to `\n` somewhere on preview but not the actual comment. Good find!

[2016-05-31 14:44] kytrinyx commented on #2915
Actually, the preview is submitted via javascript, and the actual comment is not. There might also be something about the way the javascript is submitting it that is translating the newlines.

[2016-05-31 14:53] Insti commented on #2915
Ok, I'll do some more investigation into what happens when the comment is submitted.

[2016-05-31 15:05] Insti commented on #2915
Is it possible that I've got something misconfigured at my end?

[2016-05-31 15:18] kytrinyx commented on #2915
No, not really. Though it's possible that your setup is different from what most people have. Still, the bug is on our end, not yours.

[2016-05-31 17:47] justgage commented on #2803
It sounds like a clustering problem, the hardest part is finding a good way to quantify "sameness" in a code file.

[2016-05-31 18:14] stantoncbradley commented on #2803
We could also mark certain users who are very skilled/experienced with the given language as 'moderators' or something, and show their solution for each problem with a moderator flag next to it.  I realize there are many interesting ways to solve an exercise, but really I want to see the most straightforward solution that an expert developer would code as if writing for production.

[2016-05-31 20:54] martinsvalin commented on #2803
IMHO, the fact that no one is marked as some sort of celebrity or authority is one of the beauties of Exercism. Very democratic. I feel there's a risk of Argument from Authority entering the picture if some users are given special privilege in that way. "X said such-and-such is the correct way to do this, and who am I to argue?". It could silence some who would otherwise comment.

Thinking about i

[2016-05-31 22:16] stantoncbradley commented on #2803
In my experience code with lots of comments is not necessarily useful.  The comments could be idiosyncratic to that solution, and the solution might not be a good example.  Plus, I'd like to see good examples of other implementations

This would be cool.  like I said, most of the comments I have seen are more specific to an implementation than to the design.

I see your point, but I feel this issu

[2016-06-01 00:47] Tonkpils commented on #2858
@kytrinyx  we should close this since ideally we shouldn't encourage users to install the CLI through `go get`

[2016-06-01 03:05] kytrinyx commented on #2858
OK, I'll make sure to take it off the description on the site.

[2016-06-01 03:05] #2858 closed

[2016-06-01 03:05] justgage commented on #2803
I would agree with @martinsvalin that we should be very cautious about anything giving rank or status to our answers. It's kind of like [putting a number next to your name](https://blog.codinghorror.com/for-a-bit-of-colored-ribbon/). It sounds stupid but the effects can be very bad. That's why I think having the "good" answers come from the people that make the exercise seems like the most "unasso

[2016-06-01 03:06] kytrinyx opened #2922 "Remove the bit about 'go get' on the cli page on the site"
Now that we use the VENDOREXPERIMENT go get will be problematic for people who have older versions of Go. We should just make people download the binary in the usual ways.

[2016-06-01 15:20] kytrinyx opened #2924 "Create a new page exercism.io/repositories"
It would be lovely to be able to explain succinctly which github repositories are for what, in a reasonable order, and leave off all the legacy stuff, the experiments, and the tools that really aren't important the first time you want to get an overview over the project. We could also link to it from the new "contribute to exercism" page (https://github.com/exercism/exercism.io/pull/2918).

I thin

[2016-06-01 15:59] jeffreybaird commented on #1617
I've just restarted doing exercism since @kytrinyx's appearance on the Bike Shed podcast.

I think gamification would be a technical solution to what is a people problem. I would like to see a tutorial helping people get used to both sides of the review process. Maybe, there could be an interactive tutorial that guides you through your first review?

I love the idea of being able to give appreciat

[2016-06-01 16:20] kytrinyx commented on #1617
I would love to figure out how to do this!

Yeah, there's a difference between karma points and a friendly "thanks", but we also don't want to litter the conversation with something that is only really valuable to the two people that it's aimed at, when the conversation is potentially interesting to dozens or hundreds of people.

[2016-06-01 16:21] jwood803 commented on #1617
Random thought, but would reactions help with that?

[2016-06-01 16:22] kytrinyx commented on #1617
Yeah, I think it probably could.

[2016-06-01 17:28] kytrinyx opened #2925 "Move language track icons into track repositories"
It doesn't make sense to keep track-specific content in the main repository. It would be much easier to manage if this were in the respective language track repositories.

I suggest that we:
- Add a directory named `img/` in each track repository at the root level (if it doesn't already exist).
- Put the icon in here as `icon.png` and optionally `icon.svg`
- Serve the track icon from x-api
- Provi

[2016-06-01 20:32] jessbowers opened #2926 "Disappearing notifications"
It would also be useful if notifications remained visible for longer. I just had 2 notificaitons, clicked on the first one, then hit the notification icon again. When returned to the notification screen, I saw no notifications and no way to unarchive them.

[2016-06-02 13:20] kytrinyx commented on #2926
Notifications on exercism work the same way that notifications do on GitHub, but this has come up before so we may have to rethink it. In this case it sounds like both notifications were for the same iteration of the same solution (two comments? An iteration and a comment?).

There's also the "recently viewed" page, if that helps.

[2016-06-02 13:37] jessbowers commented on #2926
Paying close attention today when this happened again, you are correct. Thanks!

[2016-06-02 13:37] #2926 closed

[2016-06-04 10:24] issyl0 commented on #2922
As a user of Exercism for the first time, I also found it weird that the "Overview" docs for installing the CLI say "you don't need to have Go installed on your computer", but then go on to document the approach if you have Go installed. Here, in the same, tiny letters says "If you don't have Go installed, don't bother with this approach, there are easier ways", but then doesn't immediately link t

[2016-06-04 15:10] #2752 closed

[2016-06-04 15:11] kytrinyx commented on #2922
Thanks @issyl0 -- getting documentation and usability right is so incredibly challenging, and even more so when _I have everything in my head_! It's so hard to see things with fresh eyes, and so helpful when people with fresh eyes comment on things like this :heart:

[2016-06-04 15:20] cdman opened #2930 "exercism over https gives certificate error"
Hello,

Accessing exercism over HTTPS (ie. https://exercism.io/) gives a certificate error stating that the served certificate contains domain names different from exercism.io ( a.ssl.fastly.net, *.a.ssl.fastly.net, fast.wistia.com, etc). I guess that this could be fixed by setting some SSL related settings on Fastly? I think this describes how to do it: https://docs.fastly.com/guides/securing-com

[2016-06-04 17:56] kytrinyx commented on #2930
Hi, thanks for the heads up. Yeah, I'm pretty sure the folks at Fastly will be able to help me out with that!

I looked into lets encrypt, but since we're hosting on heroku, it became extremely expensive. I've been talking to a few folks about some of these issues (if you're interested/curious).

- https://github.com/exercism/discussions/issues/23
- https://github.com/exercism/exercism.io/issues/2

[2016-06-05 00:07] #2106 closed

[2016-06-05 09:44] rbndickson opened #2932 "Suggestion message to contribute to completed languages on user's profile is visible to all users"
When looking at another users profile this message was visible:

From the "You've" I'd expect this to only be visible to the profile's owner.

[2016-06-05 12:55] kytrinyx commented on #2932
Indeed. Thanks for the heads up. @GustavoCaso would you have time to look at this today?

[2016-06-05 13:50] GustavoCaso commented on #2932
Sure @kytrinyx no problem

[2016-06-05 13:59] GustavoCaso commented on #2762
@kytrinyx I think this one can be close

[2016-06-05 14:00] #2932 closed

[2016-06-05 14:00] kytrinyx commented on #2932
Deploying the fix now.

[2016-06-05 14:01] kytrinyx commented on #2762
Yepp, I think that eventually we'll need help from a ux person / designer to think through where things should really live, but for now we've got it. Thanks, @GustavoCaso for working on it.

[2016-06-05 14:01] #2762 closed

[2016-06-05 14:03] rbndickson commented on #2932
Wow that was quick, thanks!

[2016-06-05 14:47] catb0t opened #2934 "Icon problems"
(this is mostly a placeholder for things I need to fix in a pr)

http://exercism.io/languages

* VB.NET logo is not named correctly (`vb.net.png` -> `vbnet.png`)
* D logo is not named correctly (`d.png` -> `dlang.png`)
* VB.net, Standard ML, Nim, Groovy, R: be *square* so as not to be squished on a dimension (**or, feature request: make non-square icons render at native ratio**)
* C icon clips on

[2016-06-05 16:39] kytrinyx commented on #2924
Ref: https://github.com/exercism/discussions/issues/34

[2016-06-05 16:39] kytrinyx commented on #2803
Ref: https://github.com/exercism/discussions/issues/34

[2016-06-05 16:39] kytrinyx commented on #2780
Ref: https://github.com/exercism/discussions/issues/34

[2016-06-05 16:40] kytrinyx commented on #2711
Ref: https://github.com/exercism/exercism.io/issues/2711

[2016-06-05 16:40] kytrinyx commented on #2605
Ref: https://github.com/exercism/exercism.io/issues/2711

[2016-06-05 16:41] kytrinyx commented on #2574
Ref: https://github.com/exercism/exercism.io/issues/2711

[2016-06-05 16:41] kytrinyx commented on #2539
I'm working on this fix at the moment.

[2016-06-05 16:42] kytrinyx commented on #2508
I think this has been addressed. If not, please holler!

[2016-06-05 16:42] #2508 closed

[2016-06-05 16:43] kytrinyx commented on #2487
Ref: https://github.com/exercism/exercism.io/issues/2711

[2016-06-05 16:43] kytrinyx commented on #2535
Ref: https://github.com/exercism/exercism.io/issues/2711

[2016-06-05 16:45] kytrinyx commented on #1826
We've removed the mute feature.

[2016-06-05 16:45] #1826 closed

[2016-06-05 16:46] kytrinyx commented on #1654
ref: https://github.com/exercism/exercism.io/issues/2711

[2016-06-05 16:46] kytrinyx commented on #1899
I've implemented the basic activity stream both for the tracks and for teams.

[2016-06-05 16:46] #1899 closed

[2016-06-05 16:47] kytrinyx commented on #1895
We've updated the CLI to not fetch previous exercises by default.

[2016-06-05 16:47] #1895 closed

[2016-06-05 16:47] kytrinyx commented on #2016
Ref: https://github.com/exercism/exercism.io/issues/2711

[2016-06-05 16:47] kytrinyx commented on #2028
Ref: https://github.com/exercism/exercism.io/issues/2711

[2016-06-05 16:47] kytrinyx commented on #2156
Ref: https://github.com/exercism/exercism.io/issues/2711

[2016-06-05 16:48] kytrinyx commented on #2059
OK, it's time to do this.

We have basic activity streams for each track, and also for each team. In the team activity stream we have code that lets you filter all of a given user's solutions by language. We could use the same code, I think, on the profile page. It should be pretty straight forward to implement!

[2016-06-05 16:49] kytrinyx commented on #2161
We're working on a profile activity stream to replace the table of exercises: https://github.com/exercism/exercism.io/issues/2059

[2016-06-05 16:49] #2161 closed

[2016-06-05 16:49] kytrinyx commented on #2184
Ref: https://github.com/exercism/discussions/issues/34

[2016-06-05 16:49] kytrinyx commented on #2263
Ref: https://github.com/exercism/discussions/issues/34

[2016-06-05 16:49] kytrinyx commented on #1508
I believe this is now done.

[2016-06-05 16:49] #1508 closed

[2016-06-05 17:00] kytrinyx commented on #2910
Ref: https://github.com/exercism/discussions/issues/34

[2016-06-05 17:11] kytrinyx commented on #2059
The first version of this stream would only be solutions submitted.

It needs to support the following behavior:

- under normal circumstances, you only see exercises that you, personally have access to. That's via the `acls` table (access control lists). We give you access to an exercise once you've submitted at least one solution to it, or if you are a mentor on that language track.
- we also su

[2016-06-05 17:12] kytrinyx commented on #2059
I think we should show all exercises, including archived ones. We should flag archived exercises as such.

[2016-06-05 17:14] kytrinyx commented on #2738
Ref: https://github.com/exercism/discussions/issues/34

[2016-06-05 17:22] kytrinyx commented on #2607
See also https://github.com/exercism/exercism.io/issues/2607

[2016-06-05 17:22] kytrinyx commented on #2607
Closing in favor of https://github.com/exercism/discussions/issues/35

[2016-06-05 17:22] #2607 closed

[2016-06-05 20:49] #2934 closed

[2016-06-05 21:10] kytrinyx commented on #2619
Closing in favor of this discussion: https://github.com/exercism/discussions/issues/29

[2016-06-05 21:10] #2619 closed

[2016-06-05 21:38] toolness opened #2936 "Add support for front-end development to docker setup"
Currently, the docker support added in #2760 is only for the back-end, as we ran into some `lineman` issues when adding support for front-end development.

My hunch is that these issues are actually independent of docker, but I'm not sure, as I've only been developing exercism using docker--I don't actually have a non-docker environment configured, so I can't compare.

But as I mentioned in https:

[2016-06-05 22:45] kytrinyx commented on #2936
I would support ditching lineman for something that many more people are familiar with.

[2016-06-05 23:28] NobbZ commented on #1508
I'm not quite sure if it is…

Not even sure if it belongs to this repo or to somewhere else…

In the submission http://exercism.io/submissions/7126122ec6ae404b987ee2c57a63653a there is a comment by rikki, about 8 hours old at the point I am writing this.

[2016-06-06 02:56] loganhenson commented on #2922
I can second this, I have go installed etc etc, but would still rather just download a binary and keep the install page as short and sweet as possible! Loving exercism!

[2016-06-06 03:51] kytrinyx commented on #1508
Aaaaah. Dang it. Thank you.

[2016-06-06 03:53] kytrinyx commented on #1508
Yepp. Different repository. Deploying a fix now. I'm on hotel internet, and the binary is pretty big (by hotel internet standards) so it could take a while before it's reflected in rikki-'s comments.

[2016-06-06 03:55] kytrinyx commented on #2922
Thanks @loganhenson -- I'm so happy to hear that simplification is the way to go. It rings true, but I'm always suspicious that I have to give everyone every possible choice.

[2016-06-07 00:24] Insti commented on #2915
OK. It seems that the preview is submitted by javascript call and therefore has "\n"(%0A) linebreaks.

The real submit is handled by the browser using "application/x-www-form-urlencoded" and has "\r\n" linebreaks. From the docs [1]

So I believe the data is going into the database without normalizing line endings.
This is certainly the case on my dev machine and I expect there exists a lot of live

[2016-06-07 11:37] ErikSchierboom opened #2938 "Contribute to track page lists deprecated exercises"
The quite new (and awesome!) page that lists the not implemented exercises, lists deprecated exercises.

For example, the F# track's [contribute page](http://exercism.io/languages/fsharp/contribute) lists the [point-mutations](https://github.com/exercism/x-common/blob/master/point-mutations.md) exercise:

![image](https://cloud.githubusercontent.com/assets/135246/15856201/6cd16f3e-2cb4-11e6-82c0-1

[2016-06-07 13:08] joeltaylor commented on #2925
On it!

I imagine that this should also be added to future course checklists?

[2016-06-07 17:33] masters3d commented on #2803
I am with @LegalizeAdulthood I do the same for the Swift track but it would be cool to have a "sample" solution for each problem. Maybe people could vote on a solution and in this way they once with the most "likes" becomes the sample or featured solution.
https://github.com/exercism/exercism.io/issues/2803#issuecomment-217212469

[2016-06-08 01:52] justgage commented on #2803
I will say for myself that the more I look through solutions I quickly converge on a solution that is very concise and readable. I will say that I'm thinking having a good solution could aid the JS track a lot because of how many _bad_ ways there are to do things.

[2016-06-08 21:54] mandel01 commented on #1673
I am familiar with Exercism but curious about teams. Before imposing this on people in my lab group I'd like to know what a team involves! My guess is below... Do I have it right? I think this would be great info to have on the [teams sign-up page](http://exercism.io/teams).

[code]

My additional questions:

- Are team members notified if I submit feedback on another team member's exercise?
- Are

[2016-06-08 21:59] NobbZ commented on #1673
As it is now, there are no team related notifications :-( all you get is an
activity stream filtered by the members of your team.

Mark Mandel <notifications@github.com> schrieb am Mi., 8. Juni 2016 23:54:

[2016-06-08 22:28] mandel01 commented on #1673
@NobbZ thanks for the information. How about this to provide basic info on the sign-up page?

[code]

[2016-06-09 06:05] kytrinyx commented on #1673
Yeah, this is good, @mandel01! The activity stream can be filtered by language or language/problem (like the track streams under "Activity Streams" in the top menu), and also by user or user/language. If you're on the same team, you don't have to have submitted a solution for the exercise—you still get to see what the others wrote.

You only get notifications if you have commented on a solution, o

[2016-06-09 06:09] kytrinyx commented on #2925
Yepp! In here somewhere https://github.com/exercism/x-template

[2016-06-09 19:32] mandel01 commented on #1673
@kytrinyx Sounds good. I see the [`new.erb`](https://github.com/exercism/exercism.io/blob/master/app/views/teams/new.erb) but am not familiar enough with the Ruby / HTML to propose a PR without screwing it up! If this is still open in a few weeks I'll work through the steps in the [Contributing Guide](https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md) to add a brief note on the t

[2016-06-10 13:42] holandes22 opened #2939 "Is there interest for an excercism GUI client?"
Hi,

I recently heard the bikeshed podcast with @kytrinyx (http://bikeshed.fm/65), and near the end she mentions that would be nice to have a GUI client for users that are not familiar with the command line or don't know what a PATH envar is.

I've been tinkering the last few days with [electron](http://electron.atom.io/), and seems that it might be a viable solution for a cross-platform GUI clien

[2016-06-10 14:42] kytrinyx commented on #2803
That is a very good point!

I think what I'd like to see is a feature that would _allow_ multiple solutions, but will work with just one. That would put us in a good place to expand, without delaying frightfully the benefit of showing some good code.

[2016-06-10 17:06] justgage commented on #2803
@kytrinyx so do you mean that the person doing the exercise could submit multiple solutions at the same time? Like multiple files? Or do you mean just having multiple "right solutions" listed after you finish?

[2016-06-11 03:48] kytrinyx commented on #2939
Holy smokes—this is so cool!

OK, my first impression is that this would be super valuable to people who aren't comfortable with the command-line, and also that it's likely to be a huge amount of work. I personally can't devote resources to it, since I'm drowning under all the existing things I *should* be doing.

I'm talking to people about the SSL thing; Heroku has made some things available tha

[2016-06-11 04:38] kytrinyx commented on #2915
I think that we should probably normalize line-endings on the way in.

No, I think that if we take care of

- code submissions
- comments

then any further problems could be dealt with when they come up.

If we do this, then we will be processing the same bit of text over and over. I'd rather do the processing just once.

Am I missing any gotchas with this?

[2016-06-11 04:40] kytrinyx commented on #2938
It is an awesome page :) I'm pretty excited about it.

I think we should add globally-deprecated things to the API side of things so that we filter them out for all the languages.

I've been wanting to re-arrange the x-common repository. I think that would be the right place for it. I'll open an issue there and refer back to this one.

[2016-06-11 04:57] mhelmetag commented on #2915
Well we save all of the comments in the db as processed markdown but some type of frontend sanitization couldn't hurt. I wonder if loofah does that I could throw in a log before and after running the comment through loofah (before redcarpet) to see what happens.

[2016-06-11 05:28] kytrinyx opened #2940 "Explain the origin of the name "exercism" as well as the e-with-horns logo"
I realized that this is not written down anywhere, and it's not at all obvious.

The origin of the name is a pun on **exercise**.

The way that I think about these exercises, is that they are small, trivial, and seemingly simple. The phrase that came to mind for this was _the devil is in the details_, which is an idiomatic phrase that means **It might seem simple on the surface, but once you start

[2016-06-11 08:42] holandes22 commented on #2939
@kytrinyx awesome, thank you! This encourages me to keep working on the project :)

So I'll work on cleaning up the project, move on with the features, CI and looking for options to build for Windows/Mac. Hope I get some traction and that attracts some contributors to help out with the things I have no experience or lack resources (Windows/Mac)

Been thinking a little more on the lack of SSL and t

[2016-06-11 15:34] kytrinyx commented on #2939
Yeah, I agree that the SSL needs to be addressed. Over the next six weeks I will not be able to tackle it, unless someone else takes point on figuring it out. I'll put the word out and see if someone has the capacity to run with it before I do.

[2016-06-11 15:51] kytrinyx commented on #2803
No, people can already submit multiple files, and they can submit multiple iterations.

I mean that when we show example solutions, we have the ability to show several of them.

[2016-06-11 17:01] kytrinyx commented on #2938
I've opened the issue here: https://github.com/exercism/x-common/issues/269

[2016-06-12 18:45] squanto commented on #2059
starting to work on this

[2016-06-12 23:08] kytrinyx commented on #2059
Sweet, thank you. Holler if you have questions!

[2016-06-13 03:12] joeltaylor commented on #2925
Encountered a _slight_ setback. I'm uncertain of the best approach for grabbing track images for objects that have a `track_id` (e.g. iterations, submissions).

I almost considered making an API call in the [track_image](https://github.com/joeltaylor/exercism.io/blob/f8acfda4db6f6cddeabc0412a78f3db07ee79c1b/app/helpers/track_image.rb) helper, but I think that might be too much for a view helper.

[2016-06-13 05:43] kytrinyx commented on #2925
I'm going to inline the whole x-api into exercism.io, so the HTTP calls will go away eventually.

In the meanwhile I think we should deliver the url for the images along with the rest of the track-level data, which I believe gets cached. It's accessed via `::X::Track.find(id)`.

[2016-06-13 05:44] kytrinyx commented on #2925
Oh, I think that's what you did over in #2941 except that the x-api isn't delivering the images yet.

[2016-06-13 06:34] holandes22 commented on #2939
Just two things I'm not sure about:

1. Is there any problem in using the image assets from this repo, from a licensing perspective? (I used the site logo and the logos for the tracks)
2. I think we should leave this ticket open for a little while to allow people to comment on it, but please feel free to close it when you think is appropriate

[2016-06-13 10:52] ErikSchierboom commented on #2939
I love the suggestion, and I might even be able to help. Personally, I think a GUI version would lower the barrier for a lot of people, which can only be good, right?

[2016-06-13 11:34] masahx opened #2942 "python, word-count, unicode"
hi,

I am using Python IDLE 3.5. In last test of Python word-count exercise there is unicode character "u-1f596". Editor automatically closes because of this character. It crashes if I try to paste any unicode character with more than four hex digits in unicode code. If I try to write '\uXXXXX' - it accepts only first four hex digits as code. How to solve this? Thanks

[2016-06-13 11:44] NobbZ commented on #2942
Try to figure out if this is idle or python related and then post a bug
report upstream or use a version that does not have that bug.

masahx <notifications@github.com> schrieb am Mo., 13. Juni 2016 13:34:

[2016-06-13 11:51] mondayrain commented on #2939
This looks amazing.

I've been meaning to jump into learning electron.io, so although I would be slow help, I'd definitely be willing. I also have an OSX for the summer, so could help with testing installation at least up until September rolls around. I think a binary installer would be easiest for those who don't even know what the command line is... on the other hand, people probably need to be

[2016-06-13 11:51] joeltaylor commented on #2925
Ah, ok  - I  saw that method and assumed it was a separate API call. It'll work perfectly! Inlining x-api sounds interesting, excited to see what that looks like.

I've been serving the images locally with x-api. I'll go ahead and submit a PR for that :smile:

Thanks!

[2016-06-13 11:51] masahx commented on #2942
this is IDLE 3.5.1 related thing, I think. Where to post bug report?

[2016-06-13 13:01] NobbZ commented on #2942
Since IDLE is official I'd try https://bugs.python.org/

masahx <notifications@github.com> schrieb am Mo., 13. Juni 2016 um
13:51 Uhr:

[2016-06-13 13:48] joeltaylor commented on #2925
I've created this endpoint in a [PR](https://github.com/exercism/x-api/pull/112) - `x.exercism.io/v3/tracks/:track_id/img/icon`?  It allows for a track to add the icon filetype to their config.json

[2016-06-13 13:54] kytrinyx commented on #2925
Let's provide the endpoint rather than assuming it—that way we can change our mind about where we serve it from without the web app having to know about the change.

[2016-06-13 13:56] joeltaylor commented on #2925
That makes sense. The moment I typed the word "assumption" I knew something wasn't right there. Thanks for the feedback! Should be able to get to these changes tonight.

[2016-06-13 13:56] kytrinyx commented on #2925
Excellent. I'm writing up that blazon issue now.

[2016-06-13 14:23] kytrinyx commented on #2939
Yeah, I completely agree. Get people started first, then introduce the command-line once they're comfortable with how the site works.

[2016-06-13 14:24] kytrinyx commented on #2939
There shouldn't be, so long as the proper attribution is given for the track icons (we have an ATTRIBUTION.md file)

[2016-06-13 17:21] petemcfarlane commented on #2925
I tried to submit a PR for the xphp track but came up with this error in Travis:

Evaluating .
-> config.json does not include [img].
The command "./bin/configlet ." exited with 1.

Does anyone know how to solve this?

Thanks

[2016-06-13 18:04] kytrinyx commented on #2925
Yeah, stick "img" in the "ignored" section in the config.json.

[2016-06-13 18:11] holandes22 commented on #2939
@kytrinyx thank you, I'll use that attribution file to give proper credit.

I finally got some time today to update the README and open tasks (using GH issues).

@mondayrain @ErikSchierboom thanks for the feedback! I'll be using waffle.io to track ticket progress, you can check it out here https://waffle.io/holandes22/exercism-gui and see if something looks like fun to do.

Priorities are:
- Havin

[2016-06-13 18:38] petemcfarlane commented on #2925
eureka!

[2016-06-13 19:08] mondayrain commented on #2939
Looked at the Waffle, looks fun! Anything on the priority list that you'd
like to delegate, or do you want us jumping straight to features? I took a
look at some of the priority issues you made and it looks like you've got a
good start/handle on it.

On Mon, Jun 13, 2016 at 2:11 PM, Pablo Klijnjan <notifications@github.com>
wrote:

[2016-06-13 20:00] holandes22 commented on #2939
Yes, currently working on getting CI to build the packages.
I really must clean up the demo code and have some tests setup as example for contributors, so I think I'll move on to that and the come back to packaging.

I think https://github.com/holandes22/exercism-gui/issues/14 can be a good ticket to start, easy to do with services (if you are familiar with that ember concept https://guides.emberj

[2016-06-13 20:05] mondayrain commented on #2939
On it. I need to learn Ember + a bit of Electron before I can really get
started but I'll try to have a PR to you by end of the week! Stoked about
this!

On Mon, Jun 13, 2016 at 4:00 PM, Pablo Klijnjan <notifications@github.com>
wrote:

[2016-06-14 06:16] holandes22 commented on #2939
sure, no rush, try to get to know ember, is really cool in my opinion!

I should have properly read the README, I saw the gitter link. I'll hang in the dev room there if you have any questions

[2016-06-14 10:28] samilaine commented on #2670
There are at least two ways to get exercism tasks into Eclipse.

First, the simple way. Let Gradle handle things for you:

1. Fetch an exercise: `exercism fetch java <exercise>` (see [list of available exercises](http://exercism.io/languages/java).
2. Change to the directory containing the exercise: `cd ~/exercism/java/<exercise>` (by default things will end up in `~/exercism`).
3. Let Gradle prep

[2016-06-14 11:56] masahx commented on #2942
I am only one with this problem?

[2016-06-14 17:41] erinnachen commented on #2741
@kytrinyx: @adriennedomingus and I are working on this.

[2016-06-14 19:53] tejasbubane commented on #2741
Sorry I completely forgot about this. Thanks @erinnachen for picking this up. 👍

[2016-06-15 17:04] tejasbubane commented on #2670
Can we add these instructions alongside those of IntelliJ for people who want to use Eclipse?

[2016-06-16 07:08] mhelmetag commented on #2930
https://blog.heroku.com/archives/2016/5/18/announcing_heroku_free_ssl_beta_and_flexible_dyno_hours

Just saw this in an email about this today. Could be of interest in the mean time while exercism is still on heroku.

[2016-06-16 07:13] mhelmetag commented on #2930
https://blog.heroku.com/archives/2016/5/18/announcing_heroku_free_ssl_beta_and_flexible_dyno_hours

So if we get the free ssl certs, it might not be all that expensive anymore.

[2016-06-16 12:15] kytrinyx commented on #2925
Aaaaand: @ryanplusplus is updating configlet to ignore the img directory by default, so once that's done we won't have to stick it in the config.

[2016-06-16 12:35] kytrinyx commented on #2930
Yes! That is awesome. We've got plenty of time, so we should just do this.

[2016-06-16 12:38] kytrinyx commented on #2670
That would be lovely. I think this is in the https://github.com/exercism/xjava docs. Maybe also https://github.com/exercism/xgroovy.

[2016-06-16 12:40] #2759 closed

[2016-06-16 12:41] kytrinyx commented on #2942
I don't know if this is a common experience :/ I'll ask in next week's newsletter.

[2016-06-16 16:21] mhelmetag commented on #2768
@kytrinyx , I think this can be closed now that we're not going down the commonmark path. Let me know after you deploy that small redcarpet config change.

[2016-06-16 19:54] martinsvalin commented on #2925
I noticed the list of opened issues stopped at `exercism/xr`, so I figured whatever script created them aborted at that point. I've opened PRs for the languages that the script missed.

[2016-06-16 20:37] kytrinyx commented on #2925
Dammit. I bet I got rate limited and my script didn't report it. Thank you!

[2016-06-17 05:43] mhelmetag commented on #2930
Okay so I looked into this a bit more.

Seems like this is a pretty good way to set things up:
http://collectiveidea.com/blog/archives/2016/01/12/lets-encrypt-with-a-rails-app-on-heroku/

Then all we need is a auto cert updater using something like this:
https://github.com/unixcharles/acme-client

I'm going to look into getting a little mockup going on my heroku exercism.

[2016-06-17 07:15] NobbZ opened #2944 "Viewing and finding teams and general improvements to them"
Currently I am able to see which teams a user is a member of when viewing his/her profile page.

But I can't see any details about that team.

So I'd suggest to add the following features to teams:
- Give team-managers the ability to describe the team in a brief.
- Give team-managers the ability to mark a team as “private” or “public” while only “public” teams are shown in a users profile or disco

[2016-06-17 07:19] NobbZ opened #2945 "filter already read submissions in the activity stream"
I like to look at and comment old submissions which haven't been commented so far. Because of this, I do have a lot of already read pages at the end of a tracks activity stream and I have to click through to actually find the last page with submissions I haven't read so far.

Therefore I'd like to filter already read submissions from the activity stream.

[2016-06-17 07:27] NobbZ opened #2946 "Teams activity stream does show far too many unread submissions"
In my team I do have an overall unread count of nearly 600 items, while there are only about 100 items unread over the languages.

![exercism-team-view](https://cloud.githubusercontent.com/assets/58951/16143518/7d8f181a-346d-11e6-8a55-5322daa3cc34.png)

[2016-06-17 07:35] NobbZ commented on #2736
Since `hello-world` is now treated as every other exercise as well and pop ups in the activity streams as well, I will close this.

If it is not special cased in the activity stream it doesn't need to be in the progress bar ;)

It is now just an exercise that happens to be first in most of the tracks by accident. Also when I have issued this, the progress bar area wasn't collapsible. The fact it i

[2016-06-17 07:35] #2736 closed

[2016-06-17 12:28] cdman commented on #2930
Thank you for taking care of this :+1:

[2016-06-19 20:10] holandes22 commented on #2939
So I'm closing this as it did it's purpose. You can check progress of the project at
https://waffle.io/holandes22/exercism-gui

Got CI runnnig tests and building packages for all platforms, so next step is to focus on developing features and polishing for a first alpha release.

You can ping me on the gitter channel if you have questions or open an issue at the project repo

[2016-06-19 20:10] #2939 closed

[2016-06-20 02:23] bernardoamc commented on #2946
Well spotted @NobbZ, thanks!

I will investigate this one soon (probably tomorrow).

[2016-06-20 12:45] joeltaylor commented on #2940
Took a stab at adding your summary to the About page in third person. Hopefully, I didn't botch it too much!

[2016-06-20 21:51] YauHsien opened #2951 "Fetching File in Big-5 by Default, Windows 64-bit"
exercism fetched files and got some file in Big-5. How to configure file encoding?

What shown in emacs:
![default](https://cloud.githubusercontent.com/assets/595388/16211410/e33f048c-3773-11e6-8f59-352cd662bf4f.PNG)

[2016-06-20 23:20] kotp commented on #2951
https://www.emacswiki.org/emacs/UnicodeEncoding may help out here.

[2016-06-21 03:06] hewitt205 opened #2952 "Exercism site crashes and installs trovi search on mac"
After a few minutes on the website safari closes completely and when reopened has trovi search installed. I have removed this with malware bytes thinking it was something else but it has happened every time I am on exercise.io

[2016-06-21 03:16] kytrinyx commented on #2952
Thanks so much for reporting this!

/cc @exercism/track-maintainers Do any of you have any experience with trovi search hijacking things? Where would the code live that hijacks this? Could someone have submitted an exercise solution that would inject javascript somewhere?

[2016-06-21 03:27] kytrinyx commented on #2952
I've been trying to figure out how a trovi infestation occurs, and it seems like this would be installed when one downloads something that also installs trovi. There's nothing that I know about in exercism that would do this.

@hewitt205 did you also try removing trovi via the safari preferences/extensions? https://malwaretips.com/blogs/remove-trovi-mac-os-x/#browser

[2016-06-21 03:38] Cohen-Carlisle commented on #2952
I've also been checking this out and it appears to be very similar to the ask toolbar being bundled with Java; that is, while technically legal because it gets installed with the user's permission, it is bundled in a sneaky fashion and hijacks a lot of browser functionality. It definitely seems like this was installed at some point with "permission" and that the symptoms are merely showing up on e

[2016-06-21 04:05] kytrinyx commented on #2944
I can't remember if this is a conscious decision, but in retrospect I think that I would like to not show this information by default. If we have the resources, we could make showing this opt-in for the user.

I think I would rather let individuals decide whether a team shows up rather than having team managers decide this.

Yes, if we show the teams on the person's profile page, we should have a

[2016-06-21 04:06] kytrinyx commented on #2945
💯

If someone wants to help define what work would have to happen to implement this, it would be easier for someone who is not familiar with the project to tackle the issue.

[2016-06-21 04:20] kytrinyx opened #2953 "Reference a couple of conference talks about exercism-ish ideas in the about page"
@tejasbubane noted in https://github.com/exercism/exercism.io/pull/2950 by @joeltaylor that

There are in particular two talks that really make this clear, both of which take an exercism exercise as a starting point:

- https://www.youtube.com/watch?v=GWEEPt8VvmU Overkill (based on `bob` in Ruby)
- https://www.youtube.com/watch?v=59YClXmkCVM Succession: A Refactoring Story (based on `food-chain` i

[2016-06-21 04:25] kytrinyx commented on #2940
That looks so good. Thank you :heart:

[2016-06-21 04:25] #2940 closed

[2016-06-21 04:43] bernardoamc commented on #2945
I was inspecting this and it looks like we have to change these files:

- `app/routes/tracks.rb`
- `lib/exercism/track_stream.rb`
- `app/views/stream/_main.erb` or `app/views/track_stream/index.erb`

These files are linked to the `Activity Stream`, there are other files involved if we want to also add this option to the `Team Stream`.

[2016-06-21 05:00] kytrinyx commented on #2945
I think you're right.

What should the user interface look like. Remember the idea of "mine" as a menu/filter in the sidebar? https://github.com/exercism/exercism.io/issues/2860 Should this be something like this where you can filter a language/problem by "no comments"?

[2016-06-21 05:09] bernardoamc commented on #2945
What do you think of transforming the `unread` number as a filter on its own?

![screen shot 2016-06-21 at 2 06 43 am](https://cloud.githubusercontent.com/assets/428984/16218503/e056d282-3754-11e6-817c-dfd850d52922.png)

Clicking on the number `3` in `(3) Ruby   4` would display only unread exercises (3 in this case).

[2016-06-21 09:00] NobbZ commented on #2944
Probably you are right, but I am too. Consider a team “secret brotherhood of villains” which trys to gather enough knowledge to take over the world through doing exercism. This group wants to stay hidden at all cost by having a team wide flag to do so, and not beeing uncovered because a drunk member ticked the wrong box when cleaning up his teams shown on the profile page.

While of course you are

[2016-06-21 11:13] kytrinyx commented on #2945
That's clever. I don't know how discoverable it is, but it would be kind of nice to not have more visual elements. (I am not a designer, I might be very, very wrong about this).

[2016-06-21 11:17] hewitt205 commented on #2952
I have tried removing through the extensions but it's not there. I've also searched my system using the terminal it also doesn't show there. Using malware bytes is the only thing that seems to work that and changing the start page from trovi to something else

[2016-06-21 11:26] kytrinyx commented on #2944
Yepp, you're right. We need both.

Ok, cool, yeah that makes total sense.

Excellent, I think that all of these things are good. Let's work out which things are independent of each other and make a plan for how to implement them (the smaller each task is, the more chance we'll actually get the features).

[2016-06-21 11:28] kytrinyx commented on #2952
I don't know where to go with this one. I'm going to ask in the next newsletter and on twitter to see if anyone has run into this before.

[2016-06-21 11:34] #2768 closed

[2016-06-21 11:40] kytrinyx commented on #2939
Excellent! @holandes22 let me know if you want to move the GUI to the exercism organization. I'll make a team for it, and we can add whoever you want to it as collaborators.

[2016-06-21 11:46] hewitt205 commented on #2952
When I run malwarebytes the threat it finds is adware.vsearch and the path is /library/launchdaemons/com.apple.kimathen.plist
Not sure if that would help or lead anywhere. I found another resource that helped get rid of other files trovi had hidden on my system so I'm going to try recreating my steps to see if it gets back on or if it was just never removed to begin with

[2016-06-21 12:46] NobbZ commented on #2945
I'm not sure if I really like that way for the following reasons:

* The unreadcount has a rather small area, might be hard to hit on
  mobile devices.

* It is not obvious that it might have a meaning different from the rest
  of the same button.

Katrina Owen writes:

[2016-06-21 13:14] kytrinyx commented on #2945
Both of those points are good.

I think I'm now convinced that we should go with the same sort of idea as the "mine" thing.

[2016-06-21 13:19] kytrinyx commented on #2952
That sounds like a good plan, @hewitt205. Let us know what you figure out!

[2016-06-21 13:43] bernardoamc commented on #2945
Really good points. 👍

How would this "mine" thing work? Do we have a simple mock to help me visualize the layout?

[2016-06-21 14:04] kytrinyx commented on #2945
Yeah I was thinking we could add it as a separate option:

![screen shot 2016-05-06 at 10 13 40 am](https://cloud.githubusercontent.com/assets/4433943/15075606/498d5aa6-1373-11e6-81bd-ff289e6cd4c7.jpg)

But now that I think of it, we would potentially want:

-> language
    -> slug
        -> unanswered

and also

-> language
    -> unanswered

[2016-06-21 14:04] #2946 closed

[2016-06-21 14:12] bernardoamc commented on #2945
Just throwing ideas, could an [accordion](http://getbootstrap.com/javascript/#collapse-example-accordion) work here?

We would click on the language and it would display some options:

- All
-  Unanswered (or unread)

[2016-06-21 14:19] kytrinyx commented on #2945
If possible, I want to make it so the default case doesn't require an extra click.

[2016-06-21 14:30] bernardoamc commented on #2945
Fair enough, but in this case we would need two requests to filter unanswered submissions (one after the click in the language to see all submissions and expand the accordion and another one after the click on the unanswered option). Looks like an accordion is not the way to go here after all?

[2016-06-21 15:44] hewitt205 commented on #2952
What I've found is that using the network at my work nothing seems to be coming up. So the problem might just be on my personal network. I've been navigating around exercism for a little while, longer than it would normally take to get the issue, and everything seems fine.

[2016-06-21 17:31] kytrinyx commented on #2945
I don't know. Maybe there could be a setting that people turn on for the page, and then clicking anything within it would keep the setting?

[2016-06-22 02:48] bernardoamc commented on #2945
Maybe! Design is so hard! ;)

I'm out of ideas for now, I would like something intuitive that don't change the current layout so much since I like it.

[2016-06-22 03:00] kytrinyx commented on #2945
Agreed—I also like the current layout. It's been much easier to use than any of the earlier iterations/attempts.

[2016-06-22 03:22] hewitt205 commented on #2952
I believe I have narrowed down the issue for trovi to most likely be a residual file from a different incident. The crashing could either be issues safari has had lately and thus not related. Overall I don't believe anything specific to exercism has caused the issues I was having. Thanks for taking a look around though

[2016-06-22 03:22] #2952 closed

[2016-06-22 04:07] kytrinyx commented on #2952
Thanks for following up, @hewitt205! I'm glad you got this sorted.

[2016-06-22 08:57] NobbZ commented on #2945
There is already the "mark all read" in the upper right corner of the actual stream, what if we add "show only read" at the upper left corner?

Culprit is, that whenever they need to swap because of some contrived reason that will kill the activity stream of many users, as well when they are to close of each other the beginning…

Hard…

[2016-06-22 10:00] kytrinyx commented on #2945
What is the use case / workflow that you're solving with this? I don't think I've ever wanted/needed a "show only read" option.

[2016-06-22 12:58] NobbZ commented on #2945
Totally my fault… I do not want to do anything with such a thing ;) It was more of starting to write a halfthought label, changing the mind halfway through and not correcting what was already there…

I wanted “show only unread” first, but changed my mind to “hide read” inbetween and now we do have that totally useless filter which does show me everything I already know, but hides everything I real

[2016-06-22 13:08] kytrinyx commented on #2945
That makes a lot more sense! :)

[2016-06-22 16:53] wolverineks commented on #2803
**what about having a subscription model?**

Users can choose which users they believe write idiomatic code in a particular track, and have their solutions featured in their activity stream or solutions list.

add in some tools to enable users to see who other people follow, and easily add them to their own subscriptions.

----

**what about a series of badges/endorsements in addition to "Looks Go

[2016-06-22 17:26] wolverineks commented on #2803
Another possibility,

Allow "Looks Good" or similar badges/endorsements/votes to decay over time.
To remain featured, or retain badges/endorsements, a submission must also have recent
votes/endorsements/likes.

[2016-06-22 19:39] holandes22 commented on #2939
@kytrinyx moving the project under the exercism organization is a great idea! Just let me know what I need to do from my part to migrate/transfer the repo

[2016-06-22 22:20] bernardoamc commented on #2945
I think we can go with "Show only unread" button for now, it is easier to start with something simple like this and create the functionality, we can always change things during development.

[2016-06-22 23:08] justgage commented on #2803
@wolverineks I think that series of badges/endorcements would be cool (mentioned in [this comment](https://github.com/exercism/exercism.io/issues/2803#issuecomment-222322354))

A subscription model would be nice. Even just having team stuff float to the top would be good. The one thing that may need to be considered is how this would expand the amount of table rows (a current issue)

[2016-06-23 00:40] bernardoamc commented on #2945
Looks like things will be more difficult than planned since we can't do a `join` with the `views` table according to [this](https://github.com/exercism/exercism.io/blob/master/lib/exercism/track_stream.rb#L50) comment.

@kytrinyx Do you know if this is still an issue? I'm guessing it is.

[2016-06-23 08:18] kytrinyx commented on #2939
I've created a team for the GUI—you should have an invitation. Accept that. If you go to the settings you should find a section at the bottom called "danger zone". One option there is to transfer the repository. Click that and follow the instructions.

Once you've done that let me know and I'll add the repository to the team with the correct permissions. This will allow you to push your changes up

[2016-06-23 08:31] kytrinyx commented on #2945
We might be able to create a view that we could join against. I'm not sure how it would perform, though.

[2016-06-23 13:01] joeltaylor commented on #2953
Made a PR to add both those talks. (Just  finished Overkill - so, so, so, good!)

[2016-06-23 13:23] kytrinyx commented on #2953
Aw, thank you :heart:

[2016-06-23 13:29] #2953 closed

[2016-06-23 13:31] kytrinyx commented on #2945
I'm trying to think of another approach to this :/ At the moment, no such luck.

[2016-06-23 15:44] holandes22 commented on #2939
@kytrinyx thank you, got the invitation.

I'll try to get the migration done during the weekend. BTW, do you by any chance know if travis and appveyor handle repo migrations automatically or there is some work to do to in that space?

[2016-06-23 16:51] kytrinyx commented on #2939
I think I will have to turn something on for travis. I've never used appveyor so I don't know about that one.

[2016-06-24 02:04] bernardoamc commented on #2945
We are on the same boat, could not think on an alternative solution. :(

[2016-06-24 02:30] bernardoamc commented on #2944
Thinking in terms of complexity I think we could start with the following:

**First Iteration:**
Since we already showing the teams we could start with the team description.

**Second Iteration:**
Add a global flag (dictated by the manager) specifying a public/private team.

**Third Iteration:**

- Allowing users to display or not their teams (if the team is not private).
- Allowing users to reque

[2016-06-24 05:50] NobbZ commented on #2944
I don't only think this is sorted by complexity but also follows some
natural order on top of what we already have. I'm still trying to find my
way through the codebase, perhaps I might contribute an item or two in this
issue myself.
Am 24.06.2016 04:31 schrieb "Bernardo Chaves" <notifications@github.com>:

[2016-06-24 11:56] holandes22 commented on #2939
@kytrinyx I accepted the invite to the organization and then tried to transfer the repo to the exercism org, but got a permissions error:

![transfer](https://cloud.githubusercontent.com/assets/510233/16337042/186c19fc-3a1b-11e6-8e56-82b5df473a93.png)

According to this https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/ if I transfer to an org and, I belong

[2016-06-24 12:30] kytrinyx commented on #2939
repo to the exercism org, but got a permissions error:

I'll upgrade your access tonight when I get proper internet access.

[2016-06-24 13:42] joeltaylor opened #2957 "Remember comments when switching iterations"
Currently, if you make a comment on an iteration but aren't logged in, we will keep that comment around while you go through the login process and repopulate the comment box when you're redirected back.

I'm wondering if it'd be worth it to keep around comments when switching between iterations? Currently, if you start commenting, switch to a different iteration, then return to the original iterat

[2016-06-24 13:43] joeltaylor commented on #2957
I'll gladly open a PR for this if others think it'd be useful.

[2016-06-24 22:24] TeaDrivenDev opened #2958 "Better information about activity on a submission"
What I find myself wishing for pretty much every time I check the submissions in the track I follow is more information about _what_ has changed in a particular submission. Is it a new submission? Did the author submit a new iteration? Did someone leave a comment, or just approve of the solution?

Being able to see that would help me choose what to look at _right now_, and what maybe later or not

[2016-06-24 23:44] bernardoamc commented on #2944
Just let me know if you need help. I'm also learning some aspects of the codebase, maybe we can complement our knowledge gaps.

[2016-06-26 14:46] kytrinyx commented on #2939
@holandes22 Would you transfer the repository to my user account (`kytrinyx`)? That will let me transfer it to the exercism organization.

[2016-06-26 15:26] kytrinyx commented on #2944
I like this roadmap.

I'd even suggest splitting up the third iteration into independent steps, since none of those things depend on the others.

[2016-06-26 15:29] kytrinyx commented on #2958
We used to tell you what the latest thing that changed was (not the full list of changes since you last looked at it, but just the most recent change). I see that we've lost this, which was not intentional.

[2016-06-26 15:37] kytrinyx commented on #2957
This would be a really nice touch!

[2016-06-26 16:02] bernardoamc commented on #2944
I agree, which one of these tasks should take precedence on the third iteration?

[2016-06-26 16:52] holandes22 commented on #2939
Sure thing. Will get to it tomorrow (my evening probably)

[2016-06-26 18:58] NobbZ commented on #2944
Since the main point of this proposal was to increase discoverability and joinability of teams, I'd prioritize the subtasks of that third iteration like this:

1. Add tags to teams and make them searchable by tags (discoverability)
2. Allow request for membership (joinability)
3. Allow hiding membership to public teams on the profile (decrease discoverability)

[2016-06-27 17:19] kytrinyx commented on #2944
We don't have anything on the list about implementing search for teams, or a search interface. Where would that go?

If we implement searchability, I would want to implement hiding before search. Exposing private data is something that can't be undone after the fact.

[2016-06-27 17:19] holandes22 commented on #2939
@kytrinyx sent you a transfer request to your account. Please let me know once the transfer is complete so I can verify tests and builds continue to run in CI (travis and appveyor)

[2016-06-27 17:24] kytrinyx commented on #2939
Excellent!

[2016-06-27 17:38] kytrinyx commented on #2939
I didn't get the transfer request—would you double-check this?

[2016-06-27 17:41] kytrinyx commented on #2939
Oh, hah. It came to a different email address. That was unexpected. Give me a sec.

[2016-06-27 17:45] kytrinyx commented on #2939
Ok, done. It's now at exercism/gui and you have admin access to the repo, @holandes22

[2016-06-27 19:06] holandes22 commented on #2939
Awesome, thank you!

[2016-06-28 18:55] sandordargo opened #2961 "Compilation issues for projects using require_equal_containers.h"
Hello,

I have the following error for all the cpp projects using require_equal_containers.h. I tried boost 1.55 and 1.61 and I use this gcc on Xubuntu 14.04:

sdargo@ncelr51130 ~/exercism/cpp/etl/build $ gcc --version
gcc-4.8.real (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4
Copyright (C) 2013 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warra

[2016-06-28 19:39] NobbZ commented on #2961
I do not have a problem running the tests using boost 1.55, Ubuntu 14.04 as well.

Perhaps you should file the bug at the tracks issue tracker, https://github.com/exercism/xcpp/issues

[2016-06-28 19:49] sandordargo commented on #2961
Ok, thanks!

[2016-06-28 19:49] #2961 closed

[2016-06-29 01:16] bernardoamc commented on #2944
Is this roadmap acceptable?

* [x]  ~~Add team description.~~
* [ ] Add a global flag (dictated by the manager) specifying a public/private team. A private team will not be found by a search.
* [ ] Add tags to teams
* [ ] Make teams searchable by tags (discoverability)
* [ ] Allow users to request membership for a team.
* [ ] Allowing users to display or not their teams (if the team is not private

[2016-06-29 20:03] kytrinyx commented on #2944
This looks excellent!

[2016-06-30 18:55] kellymason opened #2963 "Text editor shows two indentation spaces, Exercism shows 4"
I have my sublime text set to 2 spaces for indentation (shown below). When I submit to exercism, it shows four spaces, and I receive feedback only on the indentation.

![image](https://cloud.githubusercontent.com/assets/7332011/16500464/82aaa886-3eb9-11e6-9c1a-2319eee15569.png)
![image](https://cloud.githubusercontent.com/assets/7332011/16500474/8c49b2a6-3eb9-11e6-80ca-e877fbd45726.png)

[2016-06-30 20:20] jakegavin commented on #2963
I think you're still using tabs in your editor. Click on "Tab Size" and try selecting "Indent Using Spaces"
![image](https://cloud.githubusercontent.com/assets/5965895/16502895/6a65ca24-3ec5-11e6-8241-1cdfacdc998c.png)

Once that is checked, it will change the option to show "Spaces: 2"

![image](https://cloud.githubusercontent.com/assets/5965895/16502903/79d1e7e0-3ec5-11e6-962e-a22dcff459e0.png)

[2016-07-01 00:20] machikoyasuda commented on #2963
@jaimemendozadev might be of interest to you :)

[2016-07-01 07:49] NobbZ opened #2964 "Notification about new comment, but there is none"
![no_comment](https://cloud.githubusercontent.com/assets/58951/16515102/43811160-3f70-11e6-9cb5-be5a0849af87.png)

This is not the first time this happened, but the first time I was able to do some screenshot. This has happend about 4 or 5 times during the last 6 months, so the rate is very low.

To summarize the picture shown above:

There has been a notification about a comment to one of my subm

[2016-07-01 08:11] kytrinyx commented on #2964
I'm pretty sure this is when people comment and then delete their comment. I don't think we currently track the comment id in notifications, so deleting the notification is probably not super trivial.

[2016-07-01 08:28] NobbZ commented on #2964
One can delete a comment? I never realized...
Am 01.07.2016 10:11 schrieb "Katrina Owen" <notifications@github.com>:

[2016-07-01 12:50] kotp commented on #2964
The delete is when you click on 'edit'.  You can't "cancel" an edit, just browse away from it, effectively doing the "cancel".  The options are "delete" and "submit".

[2016-07-01 22:14] kytrinyx commented on #2964
Yeah, the UX is not great on this. I've been hoping a designer would like to help rethink the whole page for a better usability.

[2016-07-05 01:47] ramyaravindranath commented on #2924
Hey @gusseting and I are working on this. Will keep you posted on this.

[2016-07-05 02:43] mhelmetag commented on #2924
There's some interesting info here about the main repo (here)[https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md#exercism-web-structure].

[2016-07-06 22:58] bernardoamc commented on #2944
Now we can finally implement tags, but I would like to discuss the implementation since we have several options to tackle this. I'm considering the following:

- Add a `tags` column (array of strings).
- Make sure every tag is downcased (investigate the use of `citext` with arrays)
- Use the  `gin` index.

I think this approach is simple and performs well, but we don't have an easy way of suggesti

[2016-07-07 08:22] NobbZ commented on #2944
I'm not quite sure what `gin`-index means.

But according to normalform, wouldn't be a table with tags and a many-to-many more appropriate?

This way tags were browsable by itself, and we could suggest/complete them.

I do not know how performant this is. I do see that having another 2 tables costs its price though.

[2016-07-07 13:24] bernardoamc commented on #2944
It's a type of index so we can avoid a sequential scan in our table.

Yeah, it does not perform so well. We can try a mixed approach, we can create a table for tags and an array column in the teams table and store the ids. This way we can search by tags using the table but still have good performance during a search. The only problem is that we will need to query twice, one for fetching the id of

[2016-07-07 14:04] NobbZ commented on #2944
I think that tags that I can't browse directly or not getting suggestions
rather useless. Querrying twice sound wrong as well. I don't know how well
it is supported by ar or the underlying FH engine. But can we died
something using views?
Am 07.07.2016 15:24 schrieb "Bernardo Chaves" <notifications@github.com>:

[2016-07-08 16:45] bernardoamc commented on #2944
Not that I can think of, but could be possible. So far a tags table with tags column in the teams table give us all the benefits, but as you said querying twice is not ideal.

[2016-07-11 20:04] IanDCarroll opened #2969 "Won't submit from the CLI "no such file or directory""
Hey, this is a first issue submit. Please let me know if I need to edit this for style or info.

is this a potential bug? Or am I doing it wrong?
Is there a dependency I've missed? Something ill configured?

[code]
Background: using Ubuntu 14, Just pushed to GitHub before this.
And I was trying to setup exercism locally to work on contributing with a team, but got stuck on something relating to po

[2016-07-11 21:40] bernardoamc commented on #2944
I will give it a try, we can test the performance during development.

[2016-07-12 01:31] kotp commented on #2969
It looks like the config is set to /home/ian/exercism but your "exercism" directory is ~/exercismSolutions instead.

[2016-07-12 01:33] kotp commented on #2963
@kellymason Did this help you out?

[2016-07-12 02:53] IanDCarroll commented on #2969
Ooh! That looks like some obvious thing that I would do. Let me try that!

[2016-07-12 04:54] gusseting commented on #2535
Katrina,
Ramya & I have tried the windows download, and we have the following feedback:
The following instructions are confusing:

![screen shot 2016-07-12 at 2 50 28 pm](https://cloud.githubusercontent.com/assets/540264/16755436/0df0a154-4840-11e6-8f85-ba6a62f00c1d.png)

The short version has doable actions in 1) + 2), but needs the full set of instructions for 3) which aren't obvious until scrol

[2016-07-12 04:56] gusseting commented on #2922
Ramya & I aka Team Vegemite will take this one on!

[2016-07-12 06:08] ramyaravindranath commented on #2535
Hi @kytrinyx

Re:Detect your operating system (linux, windows, mac), or if unable to detect, let you choose. Please clarify!
1. Do you want to give instructions about how to find out the system configuration to users?
2. Do you want to provide the download link which automatically downloads the binary to the given operating system ?

[2016-07-12 08:18] IanDCarroll commented on #2969
That was the problem. Thanks so much!

[2016-07-12 08:21] #2969 closed

[2016-07-13 00:49] darrenhaken opened #2971 "Bulk archive of submissions"
The UI currently allows a mass delete of submissions but I'd like to be able to archive multiple submissions too.

I spoke to you on Twitter and you said this should be possible and to open a GitHub ticket, here you go :-)

[2016-07-13 05:32] niksmac opened #2972 "Repeating npm install for every new problem."
Repeating npm install for every new problem, looks weird and time consuming. This is for ecmascript test.

[2016-07-13 06:19] ghost opened #2973 "Coveralls - the newbies guide."
I'm confused about the following with Coveralls (https://coveralls.io/) which is being used on Exercism.io and would appreciate feedback on the following:
- what's the project conventions with using Coveralls?
- how do we pass?
- how much do we need to write tests?
- is there some documentation in relation to Coveralls + Exercism which is written for newbies?

[2016-07-14 04:35] gusseting commented on #2535
On the Mac OSX page "methods of installing CLI" I get:
"If everything is fine, you're done installing the CLI, and you can move on to the next step, which is configuring the CLI."
I'm wondering if _everything_ to do with one method of installation eg:

- installing with homebrew,
- configuring the cli
- getting comfortable with the command line

should be grouped together on the one page, and when

[2016-07-14 15:07] nathanbwright commented on #1616
Is this still active?

I got the dev environment running locally, assumed a user, and then went to http://localhost:4567/notifications

For some reason all the notifications show the track icon but no message.

I don't know if I'm just missing something obvious.

![exercism](https://cloud.githubusercontent.com/assets/4740018/16844300/de0e1774-49a1-11e6-97b3-abbd9e633455.png)

[2016-07-15 04:31] mhelmetag commented on #2973
It's better if coverage goes up rather than down 😆

You don't really pass or fail. Coveralls just reports whether test coverage went up or down in the PR branch compared to master.

If the method has more than a few lines, it's probably worth testing. I like to make at least 2 - 3 tests per method: a pass, fail, and edge case. It would probably be nice to stay higher than 75% (currently around 80%

[2016-07-15 10:56] holandes22 commented on #2939
@kytrinyx hi,
I've been making some good progress in the GUI and think is ready for a first Alpha. Feature-wise is on pair with the CLI, except for `download` (I'll probably get to it next week). Latest release is here https://github.com/exercism/gui/releases/latest

I have a few questions and maybe you can help me with them:

- I've been having trouble spreading the word about the project and get

[2016-07-15 21:16] kytrinyx commented on #2973
Yeah, up is better than down, and we don't have an official threshold, we just want it to be reasonable (75% is a good number, but I wouldn't be alarmed if it dropped a bit below it).

I really, really want to overhaul the documentation and will make a note of the coveralls thing.

[2016-07-15 21:18] kytrinyx commented on #1616
Yeah, the issue is still active. The seed data is probably missing something vital :/ I doubt that you're missing anything, it's supposed to be super simple (so sorry that it isn't!).

[2016-07-15 21:19] kytrinyx commented on #2972
@exercism/javascript Would you take a look at this?

[2016-07-15 21:26] kytrinyx commented on #2971
Yepp! Thanks so much.

[2016-07-15 21:28] kytrinyx commented on #2971
For context, the page in question is `http://exercism.io/:username`, which is handled by https://github.com/exercism/exercism.io/blob/master/app/routes/user.rb#L6

We should be able to add a button "archive" next to the "delete" button (make it gray, I think, rather than red or green).

<img width="999" alt="bulk-profile-actions" src="https://cloud.githubusercontent.com/assets/276834/16889013/be7e

[2016-07-15 21:39] kytrinyx commented on #2963
:heart: thanks everyone! I'm going to close this, but @kellymason if you're still stuck, please feel free to reopen it!

[2016-07-15 21:46] #2862 closed

[2016-07-15 21:57] nathanbwright commented on #1616
@kytrinyx - Thanks for getting back with me! Don't bother looking into it yet... I'm working out how everything is setup. I'll ping you again if I hit a roadblock.

[2016-07-15 22:00] kytrinyx commented on #2939
This is so exciting!

Yes! I've missed the newsletter for the past two weeks (I was preparing to speak at GopherCon in front of 1500 people, and everything else kind of got dropped by the wayside). But yes: this Sunday I'll mention it. And also give it some attention on twitter.

The GUI would be instead of the CLI, right? So if we can figure out how to explain how Exercism works in general, then

[2016-07-15 22:01] kytrinyx commented on #1616
OK, cool!

[2016-07-15 22:09] kytrinyx commented on #2535
Yeah, I think that's a good idea.

We should be able to figure out if they are on linux, windows, or mac, and automatically select the correct tab or page for them. They would still be able to switch to a different page/tab (however we end up doing it).

If we don't know what system they are on, we should have a default view that directs them to click on the correct link for their system (windows,

[2016-07-16 11:08] niksmac commented on #2972
@kytrinyx  Sorry, but that page gives me a 404.

[2016-07-16 14:24] rchavarria commented on #2972
Yep, that's true. For each new problem, there are some libraries/tools that need to be re-installed.

I understand that this can be as time consuming (and disk space consuming as well).

The ecmascript track works in this way to keep it as simple as possible for exercism.io users. Instead of requiring users to install globally all required tools, the track requires them to install globally just on

[2016-07-16 14:37] willnwhite opened #2976 "Search by topic e.g. "recursion""
I'd like to do a recursion exercise in Elm (to learn how to do it, actually), but I can't see "recursion" from Elm's Available exercises without popping open all the tabs and looking for it. I think you should be able to find exercises by topic.

[2016-07-17 00:51] kytrinyx commented on #2059
@squanto What's the status on this? Are you making any progress?

[2016-07-17 01:15] kytrinyx commented on #2976
I'd love to have a good search. This is a bit complicated, as we currently haven't classified exercises at all. We have talked about it, though. E.g. https://github.com/exercism/x-common/issues/63

[2016-07-17 01:16] kytrinyx commented on #2972
Sorry, yes. That was a question to the exercism javascript team, not to you (the @ mention notifies them of the conversation).

[2016-07-17 01:17] kytrinyx commented on #2972
That sounds like the best of both worlds... if it actually works.

[2016-07-17 10:54] holandes22 commented on #2939
@kytrinyx thank you! I think a mention in the newsletter/twitter will really help spreading the word.
I won't be available during the last 3 weeks of August, hence I aim to have the first beta out by the beginning of that month, so getting feedback/issues reports during the next few weeks would be great.

Thank you for your input on explaining the roles of gui/cli/site, gives me an starting point.

[2016-07-17 16:01] kytrinyx commented on #2939
Oops, that's what I meant :) Someone might use the GUI instead of the CLI (but I think a lot of people are happy on the command-line).

Super excited about this!

[2016-07-17 17:05] wolverineks commented on #2971
it sounds like you want to use the same form but have it submit to the /exercise/delete route or /exercises/:key/archive route based on which submit button is pressed. Is this right?

[2016-07-17 17:07] kytrinyx commented on #2971
Yeah, the same form, different route.

Also I just realized that the delete route should be `DELETE /exercises/:key`. I'll see about cleaning that up.

[2016-07-18 04:07] kotp opened #2977 "First few lines of submission repeated, but not in original code..."
@kotp commented on [Fri Jul 15 2016](https://github.com/exercism/cli/issues/338)

[exhibits this strangeness](http://exercism.io/submissions/c8efa0c302354c31ad24c2a73449bf63)

![screenshot from 2016-07-15 20 06 02](https://cloud.githubusercontent.com/assets/16747/16891459/b5d71cf2-4ac7-11e6-848d-a5fc70046a26.png)

See comments from @mcritchlow for details in that submission.

---

@Tonkpils commen

[2016-07-19 01:00] TimMoore commented on #2900
OK to close this, now that #2901 is merged?

[2016-07-19 01:18] TimMoore commented on #2418
Can this be closed since #2617 was merged?

[2016-07-19 02:10] gitgis42o commented on #2210
I set up the bin folder. After reloading the session I still get the result:

"me >>>exercism -v
-bash: /Users/me/bin/exercism: cannot execute binary file"

I've navigated to the bin folder through the command line and exercism is there. I'm not quite sure what error couldn't have occurred. Any help? Searches lead me to a thread on here that doesn't address the error (or at least I haven't found i

[2016-07-19 07:12] GustavoCaso commented on #2418
Of course

[2016-07-19 13:45] joeltaylor commented on #2957
I'm going to preface all this by first saying that I'm a bit out of my comfort zone when it comes to front-end development.

I've made some headway on this issue, but am hesitant about not being able to verify some of the race conditions. I'm also wondering if it'd be worth splitting the JS into page-specific bits, but that's potentially overkill since we don't have _that_ much JS.

 My current ro

[2016-07-19 15:02] #2900 closed

[2016-07-19 15:02] kotp commented on #2900
Thanks @TimMoore

[2016-07-19 21:02] kotp commented on #2210
`chmod +x ~/bin/exercism` may be the thing you need to do...

[2016-07-19 23:05] kytrinyx commented on #2418
Thanks!

[2016-07-19 23:05] #2418 closed

[2016-07-19 23:15] kytrinyx commented on #2210
@gitgis42o What operating system do you use? How did you download the executable?

[2016-07-20 01:15] gitgis42o commented on #2210
Katrina,

I use OS X El Capitan on my Mac. I downloaded the latest release via Github. That's when I moved the executable into the newly created bin folder.

[2016-07-20 01:30] rezen commented on #2957
For the `comment.erb` there should be a document.ready event hook vs. a timeout. jQuery lets you hook into that event.

[2016-07-21 00:07] kytrinyx commented on #2210
@gitgis42o Which one did you download? Would you try with this one just to be sure? https://github.com/exercism/cli/releases/download/v2.2.6/exercism-mac-64bit.tgz

[2016-07-21 03:44] gitgis42o commented on #2210
I ended up searching around long enough to find something that worked. I believe the file I downloaded was correct.

I ended up using the commands
  $ curl -O https://raw.githubusercontent.com/exercism/cli-www/master/public/install
  $ chmod +x install
  $ ./install

from http://cli.exercism.io/

I just submitted my hello_world.py!

Thank you for writing this stuff. I'm happy to finally get this g

[2016-07-21 13:35] rchavarria commented on #2972
I've tried... and it works.

I think the most important change to fix this is to explain it right in the [installation instructions](http://exercism.io/languages/ecmascript#installing). Basically, I would have to explain the `gulp-cli` must be installed globally (same as now):

    npm install -g gulp-cli

These node packages should be installed on `<EXERCISM_FOLDER>/ecmascript` (maybe with specif

[2016-07-21 22:59] kytrinyx commented on #2210
Yay! So glad you got it sorted, and so sorry that it was so painful getting started.

[2016-07-21 23:36] kytrinyx commented on #2972
Not yet, unfortunately. It's in the list of things we'd really, really like to do: https://github.com/exercism/cli/issues/88

[2016-07-22 01:41] aranair commented on #2971
Took a quick jab at this, do let me know if I got everything!:P

[2016-07-22 14:11] veswill3 opened #2983 "Not receiving emails for new notifications"
I do not receive emails for new notifications. I know I used to a long time ago. I don't see any configuration around this. Am I missing something? Should I be receiving emails from exercism.io? I don't have any filters in my email and they are not showing up in my spam.

[2016-07-22 14:39] NobbZ commented on #2983
Email notifications have been disabled about 1.5 years ago.

Am 22.07.2016 16:24 schrieb "Vesper" <notifications@github.com>:

[2016-07-22 14:48] veswill3 commented on #2983
Thanks explains it. Thanks.

[2016-07-22 14:48] #2983 closed

[2016-07-22 17:24] scottwhudson opened #2985 "Unable to build this repo locally"
I set out to work on issue 174 in exercism/todo, but I failed to build the app locally (looks like Bugsnag doesn't get initialized correctly).

`~/Development/exercism.io/config/bugsnag.rb:1:in '<top (required)>': uninitialized constant Bugsnag (NameError)`

Having build instructions in the README would be super helpful for people wanting to contribute to these projects.  I'm happy to write the do

[2016-07-22 17:46] amalrik commented on #2985
I have setup exercism on mac and ubuntu and never got this problem.
I just followed the instructions on [contributing guide](https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md)
It would be useful if you could show all steps you took to get this error message.

good luck

[2016-07-23 17:37] kytrinyx commented on #2985
Hey @scottwhudson, I just realized from reading this that it's completely not obvious that our setup instructions are in the CONTRIBUTING.md file, not the README. If you would like to submit a PR to the README to help point people in the right direction, I'd really appreciate it! (No pressure, of course! Happy to make the change if not).

[2016-07-25 04:08] ramyaravindranath commented on #2973
I am happy to come up with the document about coveralls for newbies.

[2016-07-25 08:52] NobbZ opened #2988 "[crystal; lfe; others?] Syntax-Highlighting"
Currently there is no syntax highlighting in the tracks `xcrystal` and `xlfe`, maybe other tracks are lacking highlighting as well.

Crystal as a Ruby-inspired language, which even does borrow API-documentation from Ruby should be safe to be highlighted by the Ruby-highlighter until we get something more appropriate. But I can tell so far, that I have not come to any problems using emacs `ruby-mod

[2016-07-25 09:14] ErikSchierboom commented on #2988
The F# track (xfsharp) also doesn't have syntax highlighting.

[2016-07-25 09:31] NobbZ commented on #2988
Are you aware of a fallback that could be used as for crystal and lfe? Or do you know about a plugin/extension for exercisms highlighter?

@kytrinyx can you actually point out which one is used? Looking at the delivered HTML I'd guess it's done server side?

[2016-07-25 09:32] ErikSchierboom commented on #2988
@NobbZ the language that comes closest is OCaml I guess, but I think F# is mainstream enough to just have its own highlighter. Perhaps @kytrinyx can point out what is used for the highlighting?

[2016-07-25 09:44] Insti commented on #2988
Can confirm there is a ruby gem that takes care of syntax highlighting.
(I don't have time to check for more info right now but I can look later.)

[2016-07-25 09:54] NobbZ commented on #2988
I did a quick lookup at exercism/exercism.io's Gemfile and it seems as if we are using an old version of [`rogue`](https://rubygems.org/gems/rouge) ([GitHub](https://github.com/jneen/rouge)).

The current version seems to support F# out of the box. There is a file in the lexer-folder named `fsharp.rb` at least ;).

[2016-07-25 10:40] verdammelt commented on #2988
The Common Lisp track (xlisp) doesn't have syntax highlighting.

[2016-07-25 11:25] Insti commented on #2988
It may just be a case that the language mapping (Exercism name -> Rouge name) needs updating.
See: https://github.com/exercism/exercism.io/blob/master/lib/exercism/syntax_highlighter.rb#L6

[2016-07-25 11:27] ErikSchierboom commented on #2988
@Insti I don't think that's it, as the mapping is later used in the following code:

[code]

[2016-07-25 11:36] Insti commented on #2988
@ErikSchierboom you're right, it looks like the Exercism Rouge version needs to be updated to include the fsharp lexer.

[2016-07-25 17:46] machikoyasuda commented on #2973
@jendiamond the results of this PR could be great for the meetup!

[2016-07-26 00:32] zenspider opened #2989 "Allow /languages/X/contribute to be sorted by number of solutions"
If the contribute page had a toggle to switch the entries listed from alphabetical to sorted (descending) by number of languages solving it, it'd help contributors focus and get a newer language caught up with the base.

[2016-07-26 02:47] JakeDobson opened #2990 "I changed my exercises directory, how do I get around to submit the files I want?"
here's my exercism debug:

**** Debug Information ****
Exercism CLI Version: 2.2.6
Exercism CLI Latest Release: 2.2.6
OS/Architecture: darwin/amd64
Build OS/Architecture darwin/amd64
Home Dir: /Users/jacobdobson
Config file: /Users/jacobdobson/.exercism.json
API Key: ******************************
Exercises Directory: /Users/jacobdobson/Users/jacobdobson/Desktop/Coding/iOS/Objective-C/exercism

[2016-07-26 02:55] JakeDobson commented on #2990
Never mind, I figured it out. There was a "bad path" somehow. Had to copy the files, fetch the problem again, and insert the files into the new directory!

[2016-07-26 03:12] kotp commented on #2990
The config file that is shown has what it thinks is the folder... I will close this based on your report.

[2016-07-26 03:12] #2990 closed

[2016-07-26 12:54] Insti opened #2991 "Live deploy notifications?"
Is there any way to discover or be notified when new live deployments happen?

I've been following the progress of a few patches lately and am interested in seeing when they go live and being able to personally verify that everything is working as expected.

[2016-07-26 13:08] raghuchowdareddy commented on #2853
If you have a authetication for http_proxy, here is the command
"set http_proxy=http://<username>:<password>@your_proxy:your_port"

[2016-07-26 16:06] scottwhudson commented on #2985
done! @kytrinyx

[2016-07-26 16:31] Insti commented on #2985
@scottwhudson Which problem did you want to work on?  #174 seems to have been resolved in 2013.

[2016-07-26 17:54] scottwhudson commented on #2985
@Insti took me a bit to figure out the confusion here, heh.  I meant issue 174 in the todo repo: https://github.com/exercism/todo/issues/174, not here in the exercism.io repo.

I know I'm totally new to the project here.  I am curious though, are issues in the specific repos higher priority than what's in the todo repo or something?

[2016-07-26 18:21] Insti commented on #2985
Ah OK, you need to include the repository if you're linking to another one (Exercism has lots) I just copy/paste the issue url: https://github.com/exercism/todo/issues/174

I don't think there is any difference in priority, just do what you can/want.

[2016-07-26 18:23] Insti commented on #2985
Are you able to build now?

[2016-07-26 18:41] scottwhudson commented on #2985
I did that originally and Github incorrectly referenced the readme branch with that issue, so I removed it to see if it would remove the ref.  Alas, it did not.  Build instructions worked beautifully though. 👍

[2016-07-26 19:06] Insti commented on #2985
Great. You should be able to close this issue then.

[2016-07-26 19:14] #2985 closed

[2016-07-27 05:26] gusseting opened #2994 "Spelling error on about: - What's with the name "Exericism"? Change Exericism to Exercism"
Spelling error is on the about page: http://exercism.io/about
Under the heading of "Origin of Exercism's name"
is: What's with the name "Exericism"? which needs to be changed to Exercism.

- [ ] claim this issue (assign yourself or comment below)

[2016-07-27 07:01] mhelmetag commented on #2988
Sorry for the double PR... I was trying to get my heroku exercism working and made some dumb commits (didn't realize that I could push non-master branches to my heroku master branch).

[2016-07-27 07:29] Insti commented on #2988
lisp can probably be done by mapping to rouge's "common_lisp"

[2016-07-27 07:30] Insti commented on #2988
Is "common_lisp" also appropriate for xlfe? (Lisp Flavoured Erlang (LFE))

[2016-07-27 08:12] NobbZ commented on #2988
I think that common_lisp is appropriate for LFE, at least I did the first couple of exercises using emacs lisp-mode. Maybe some of the "keywords" will be named differently, but I don't think that matters.

[2016-07-27 08:14] mhelmetag commented on #2991
I'm sure we could could get some kind of release notifications (with commits and relevant PRs) for the exercism/dev gitter channel... Could be a cool integrations project.

[2016-07-27 08:17] Insti commented on #2991
The [API](http://x.exercism.io/) contains a "build_id" as part of the json output.

[2016-07-27 09:15] Insti opened #2998 "Coveralls: needs re-authorization"
I was looking at the output from coveralls https://coveralls.io/github/exercism/exercism.io

But when I tried to view the contents of any files, for example: https://coveralls.io/builds/7180204/source?filename=lib%2Fexercism%2Fgithub.rb

I got the following error:

[2016-07-27 09:30] ErikSchierboom commented on #2994
I can do this :)

[2016-07-27 09:36] ErikSchierboom commented on #2994
[PR](https://github.com/exercism/exercism.io/pull/2999) has been submitted.

[2016-07-27 10:57] ramyaravindranath commented on #2898
![image](https://cloud.githubusercontent.com/assets/8723247/17173202/aea7fea0-543c-11e6-8db7-527603ae03cc.png)

[2016-07-27 13:50] kytrinyx commented on #2994
Thanks @ErikSchierboom

[2016-07-27 13:50] #2994 closed

[2016-07-27 13:51] #2988 closed

[2016-07-27 14:22] Insti commented on #2991
https://github.com/exercism/exercism.io/pull/3000 add a /version route that will report build information for the web app.

[2016-07-27 15:04] mhelmetag commented on #2988
Woops! Well... When we decide which languages to lfe and lisp, someone can make a quick PR to update that map.

[2016-07-27 18:04] kytrinyx commented on #2988
Sorry, it looks like you all figured this out. We use the `rouge` gem for this.

[2016-07-27 18:19] kytrinyx commented on #2985
The TODO repo was originally made for an open source hackathon, and the goal of all of those issues is to be immediately actionable. I would actually like to rework all the issues everywhere so that anything not-yet-actionable goes in the https://github.com/exercism/discussions/issues, and everything else in all the other repositories would be actionable. It's a bit of a mess right now.

[2016-07-27 18:29] kytrinyx commented on #2991
Does heroku have web hooks?

[2016-07-27 18:31] kytrinyx commented on #2898
I tend to miss things like this when people don't auto-close related issues with `Closes #123` or `Fixes #123` in their commit or PR.

Thanks for catching it!

[2016-07-27 18:31] #2898 closed

[2016-07-27 18:32] Insti commented on #2991
https://devcenter.heroku.com/articles/deploy-hooks

[2016-07-27 18:33] kytrinyx commented on #2998
Thanks! Yeah, I updated all my credentials and forgot to re-authorize. Thanks for catching it!

Would you check again? I think I've done this correctly.

[2016-07-27 18:35] kytrinyx commented on #2991
Sweet. If someone decides to do this, please tell me what I need to do to activate the hook in the way that you want within heroku.

[2016-07-27 18:35] Insti commented on #2991
Gitter integration instructions:
[code]

[2016-07-27 18:37] Insti commented on #2991
you get the webhook url from gitter by going to
Room settings -> Integrations -> Heroku

(I'd suggest exercisim/dev as a good room.)

[2016-07-27 18:37] kytrinyx commented on #2991
OK, thanks.

[2016-07-27 18:40] Insti commented on #2998
Confirmed working :+1:

[2016-07-27 18:40] #2998 closed

[2016-07-27 18:40] Insti commented on #2998
Thanks.

[2016-07-27 18:43] kytrinyx commented on #2991
OK, I think I did it. I'll deploy a tiny change now.

[2016-07-27 18:45] Insti commented on #2991
Looks like it works

Thanks :heart:

[2016-07-27 18:45] kytrinyx commented on #2991
Excellent. Is there anything else we need to do for this ticket or are we good to close it?

[2016-07-27 18:46] Insti commented on #2991
I think it can be closed.

[2016-07-27 18:46] Insti commented on #2991
Although it probably should be documented somewhere.

[2016-07-27 18:49] kytrinyx commented on #2991
Hah. Yeah, it probably should.... along with all the other deploy-related stuff, now that you mention it!

[2016-07-27 18:50] kytrinyx commented on #2990
Glad you got it sorted!

[2016-07-27 18:50] kytrinyx commented on #2989
This would be great!

[2016-07-27 18:57] Insti opened #3002 "bork is borked when not logged in."
There is a static route /bork which seems to exist to trigger an exception which is then caught and passed to Bugsnag.

http://exercism.io/bork

This seems to work correctly when you are logged in to Exercism, but when you are not it results in a long textual stacktrace.

[code]

The error handler should be fixed to handle a `nil` current_user

[2016-07-27 18:58] Insti commented on #3002
I suspect it also fails to report to Bugsnag which doesn't happen until 7 lines later on line 34.

[2016-07-27 19:05] kytrinyx commented on #3002
As far as I know this used to work; no idea when things got screwed up. I'm ok with deleting the endpoint.

[2016-07-27 19:07] Insti commented on #3002
Ok, the 500 handler still needs fixing so I'll do that and delete the /bork route when I'm done.
Is there a way for me to check if Bugsnag is seeing the right errors?

[2016-07-27 19:07] kytrinyx commented on #3002
I think I can add you to bugsnag. Shield your eyes—it's a mess.

[2016-07-27 19:08] Insti commented on #3002
:sunglasses:

[2016-07-27 19:09] kytrinyx commented on #3002
Give me a few hours.

[2016-07-27 19:28] Insti commented on #2991
The current "build_id":"13d447a" seems not to match any of the ids in the public repository.

[2016-07-27 19:51] Insti commented on #2991
I added some documentation to CONTRIBUTING.md - #3003

[2016-07-27 23:00] kytrinyx commented on #2991
Weird, I didn't think so. I used to have this scripted, but just changed machines, and now I need to put those scripts somewhere re-usable. Let me check.

[2016-07-27 23:02] kytrinyx commented on #2991
I have no idea where that came from. Apparently I had a commit on HEAD locally that I deployed but didn't push. It's gone now (deploying again).

[2016-07-27 23:03] kytrinyx commented on #2991
Oh. Hah.

[code]

This was `git commit --allow-empty -m "Test deploy hook"`

[2016-07-27 23:04] kytrinyx commented on #3002
OK, invited.

[2016-07-27 23:43] LegalizeAdulthood commented on #2988
Possible TECO language track will be super crazy to syntax color.  Some language operations are control characters 😸

[2016-07-28 01:13] nickb-minted commented on #2971
I think we should close this issue 😄

[2016-07-28 02:52] verdammelt commented on #2988
It looks like the 'common_lisp' option in Rouge is the right one for the xlisp track. Could anyone put in a PR for such a change? I don't have a dev environment for exercism so I wouldn't be able to test it until I did...

[2016-07-28 03:25] Insti commented on #2991
Documentation updated.
Build_ID matching what's in Github verified.
A lesson about the dangers of empty commits learned.
Thanks @kytrinyx :smile:

[2016-07-28 03:25] #2991 closed

[2016-07-28 04:18] kytrinyx commented on #2988
@verdammelt I made #3004

[2016-07-28 17:53] kytrinyx commented on #2971
Indeed! Thanks :)

[2016-07-28 17:53] #2971 closed

[2016-07-28 20:06] Insti opened #3008 "Normalizing line endings"
While resolving #2915 I discovered that ajax requests and browser requests were submitting content with differing line endings.

The content submitted via a javascript call has "\n" (`%0A`) line endings
The content submitted via a browser using "application/x-www-form-urlencoded" and has "\r\n" line endings  (`%0D%0A`)

This content is going into the database without any normalization of the line

[2016-07-28 20:07] yesroh opened #3009 "translation PT_BR"
there is some concern/effort to translate the platform?

[2016-07-28 20:17] Insti commented on #2915
In order to keep changes small and logically grouped, I've fixed the markdown block bug (#3007) and created a new issue for normalizing the line endings (#3008) further discussion about line endings should take place there.

[2016-07-28 21:16] #2963 closed

[2016-07-28 22:06] kytrinyx commented on #3009
The question has come up before, but unfortunately we don't have the capacity to put in place the necessary things for translation work yet (and probably will not for the foreseeable future).

[2016-07-28 22:09] #2915 closed

[2016-07-28 22:11] kytrinyx commented on #3008
Not that I know of. We display the comments on the site, and we don't export them anywhere. If we did, then normalizing them would still be the right move, I think.

I think that we should run a data cleanup task on existing data. I tend to create a specific rake task for the purpose in lib/tasks/data.rake and then delete the task when we're done.

[2016-07-28 22:35] scottwhudson commented on #3009
@yesroh just curious, have you tried using the [Google Translate](https://chrome.google.com/webstore/detail/google-translate/aapbdbdomjkkjkaonfhkkikfgjllcleb) Chrome plug-in to dynamically translate the exercism pages in the browser? I had customers use it at an old job and got them most of the way there.

[2016-07-29 06:51] Insti opened #3010 "Clarify cryptic link to 'my solution'"
Ever since I've joined Exercism, While reviewing solutions, I've been looking for a direct link to my solution from the solution I am looking at.

I've just discovered that there is a '\</\>'  button in the top left.

Could we replace '\</\>' with something more obvious such as a plain text: 'My solution'?

[2016-07-29 07:27] kotp commented on #3010
Hmm... I think keeping the symbol (as it is key in communicating, it has become, to me, the thing I look for) is good, but perhaps adding something like "view my solution" before the symbol, very close to it.

But until it is known, you are definitely right, in that it is there, but not drawing attention to itself, for what it does.

So my vote is to: augment it with words

[2016-07-29 10:57] Insti opened #3011 "Only display 'add comment' box when logged in."
## Issue
If you visit a submission page when not logged in you still have access to an 'add comment' box.

### Steps to reproduce
1) Open a browser session which is not logged in to Exercism,
2) Visit any submitted problem. (Here's one: http://exercism.io/submissions/f72e42aa0c244a33a2e9e738cf2bc349)
3) Note that there is a big working comment box there.

### Note
This is **not** a security issue.

[2016-07-29 17:44] kytrinyx commented on #3010
That sounds reasonable to me (with the caveat that I am no user experience designer).

This might help people discover that if there's a `</>` in the footer of a comment, it will take you to that person's solution.

[2016-07-29 17:47] nathanbwright commented on #1616
@kytrinyx  - Ok, I think I have a JS solution for this. I don't know exactly where to put it though... Do I just put it into `frontend/app/js/script.js`?

[2016-07-29 17:54] kytrinyx commented on #1616
The frontend setup is described in https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md#frontend-development-setup but I just realized that it's a little bit unspecific.

The short answer is yes, that will work. I think. :)

[2016-07-29 18:18] Insti commented on #1616
@nathanbwright My dev notifications page also looks like that, so if you have a fix I'd be happy to know what it is!

[2016-07-29 19:46] kytrinyx commented on #1616
@Insti That's my fault. The [seed data](https://github.com/exercism/seeds) hasn't been updated to handle the data needed on the dashboard.

[2016-07-29 22:15] nathanbwright commented on #1616
@Insti - Run `bundle exec rake dev:seed:notifications username=alice` to get regular looking notifications for `alice`

[2016-07-29 22:16] nathanbwright commented on #1616
@kytrinyx - I developed in Chrome/Safari and everything was working fine... Then I decided to check in IE and guess what? IE deals with dates differently. Who would have known? 👿

What's the lowest version of IE that needs to be supported?

[2016-07-30 02:16] kytrinyx commented on #1616
We've been pretty lax about checking things in IE, but the current thinking is to support whatever Microsoft still supports. On the other hand... if it doesn't work but doesn't feel broken, I'd be OK with starting with this and doing a second pass to try to fix IE (since this would improve the experience for a bunch of people).

[2016-07-30 21:50] bdubaut commented on #998
I have the same error:
[code]

[2016-07-31 02:16] kotp commented on #998
Try from the exercises directory.  Also check your config file to see if it has what should be there:

[code]

[2016-07-31 21:38] ryanplusplus opened #3015 "Contribution suggestion only works when completion is exactly 100%"
In the profile, there section where completed tracks are listed under the heading "You've completed the following tracks. Want to help add more exercises?". This works correctly for Lua on my profile (66/66), but does not indicate that I have completed Clojure which, because of deprecated exercises, sits at 45/43.

Presumably it is checking for the completion rate to be exactly 100%, but it should

[2016-07-31 23:17] #3015 closed

[2016-07-31 23:18] kytrinyx commented on #3015
I'm not sure that we've addressed the case where we have a deprecated exercise (that you've done) and a new exercise (that you haven't).

[2016-08-01 07:55] kotp opened #3018 "Broken avatar and all tagged with "Help Requested" on Team view."
![Showing all flagged with help and links instead of avatars](https://cloud.githubusercontent.com/assets/16747/17283340/410fe38c-577d-11e6-8ce3-2c0eb904dd33.png)

On any team view that I see, it looks similar.

[2016-08-01 08:08] Insti commented on #3018
I think I've found the cause of this. PR with fix on its way.

[2016-08-01 09:09] bdubaut commented on #998
@kotp thanks, all good I fixed it. Sorry about that.

[2016-08-01 09:41] Insti opened #3020 "Team stream: Show exercise language"
When viewing all exercises in a team with multiple languages, there is no indication of which language a particular solution is in.

![exercism - team stream all](https://cloud.githubusercontent.com/assets/5096681/17290013/ab3037da-57dc-11e6-8145-9fbe7d334456.png)

There should be some way of seeing the languages of the solutions.

**Suggestion:** A little language track icon to the left of the pr

[2016-08-01 11:00] samilaine commented on #2670
A [pull request](https://github.com/exercism/xjava/pull/122) has been put into motion.

[2016-08-01 13:57] ramyaravindranath commented on #3011
I am looking into this.

[2016-08-01 14:28] nathanbwright commented on #1616
@kytrinyx - I don't know if I did the pull request correctly. I haven't done this before...  If I missed something please let me know and I'll fix it.

[2016-08-01 16:28] #3018 closed

[2016-08-01 16:36] #2989 closed

[2016-08-01 16:38] kytrinyx commented on #3020
Nice, yes I think this would be excellent.

[2016-08-01 16:39] kytrinyx commented on #1616
Thank you :heart: -- you got it right, we'll help figure out the details over in the pull request.

[2016-08-01 17:30] machikoyasuda commented on #3020
Looks like a great first-timers issue @kpearson @jendiamond

[2016-08-01 22:16] ryanplusplus commented on #3015
Yeah, you're right. It's pretty close, but it should really check whether the list of all exercises is a subset of the completed exercises.

[2016-08-02 00:44] kytrinyx commented on #3015
Yes, as a set operation rather than an arithmetic one.

[2016-08-02 06:18] Insti commented on #3015
Will you make a new issue for this. It could make for a good_first_patch

[2016-08-02 12:58] ramyaravindranath commented on #3011
Here is the PR : adds condition to show comment box only when logged in #3023 for this issue.

[2016-08-02 17:58] #3002 closed

[2016-08-02 18:49] Insti opened #3024 "Make links previewable in tweets."
Sometimes when you link to a webpage in Twitter it shows a nice preview with an image/excerpt.
Currently links to Exercism problems show up as just linkified blue words.

What do we need to do to make Exercism links show as pretty page previews in Twitter?

[2016-08-02 18:53] Insti opened #3025 "Make default problem view the Readme"
When linking directly to an exercise, for example http://exercism.io/exercises/ruby/connect the first thing that is displayed is the Test Suite.

It would be nice if the first thing that was displayed was the Readme that gives a description of the problem.