[2018-07-31 09:01] iHiD commented on #4096
Yeah - that update has somewhat broken the Ruby tree.

I've got a script I'm working on to fix people's Ruby tracks.

[2018-07-31 09:05] #4090 closed

[2018-07-31 09:18] #3992 closed

[2018-07-31 09:28] Insti commented on #4090
Thanks @kntsoriano :heart:

[2018-07-31 11:28] devillexio opened #4097 "As a mentor, I'd like to see the number of exercises awaiting mentorship"
I think some useful stats and an additional source of motivation for mentors would be a means to see the number of solutions that are awaiting mentorship per track. That way we could visibly see the dent our efforts are making in helping students progress through their exercism journey.

Information (possibly in chart format) that would be great to represent on the mentorship dashboard -

* number

[2018-07-31 11:34] devillexio commented on #4097
This is a duplicate of #4032.

[2018-07-31 11:34] #4097 closed

[2018-07-31 11:44] devillexio commented on #4032
I think this is a great idea, and I agree with the sensitivity with which this should be approached.

Information (possibly in chart format) that would be great to represent on the mentorship dashboard -

* number of pending exercises
* the split between core vs. extra exercises
* trend over time (to help determine whether we're keeping up)

I think the important part is how this data is _sold_ (l

[2018-07-31 14:49] iHiD opened #4098 "Travis isn't caching Bundler"
It's not working because:

<img width="884" alt="screen shot 2018-07-31 at 16 49 20" src="https://user-images.githubusercontent.com/286476/43467276-aa08aa24-94e1-11e8-9a6f-e8262a587930.png">

I've tried fixing this but it still currently fails with:

<img width="876" alt="screen shot 2018-07-31 at 16 47 56" src="https://user-images.githubusercontent.com/286476/43467246-96362242-94e1-11e8-983e-6234

[2018-07-31 15:04] ZapAnton opened #4099 "Unable to complete exercise in Independent mode"
When I tried to submit `Wordy` exercise to the Rust track, I could not complete it on the website, since there was no "Complete Exercise" button. Instead only the following message is printed:

[code]

Which is strange, because the same day I could complete several exercises this way.

I also tried submitting the exercise several times, and there were no iterations displayed on the website.

CLI v

[2018-07-31 15:18] iHiD commented on #4099
Thanks for reporting. This is a result of a change I deployed recently. It'll be back in the next hour or two. Sorry for the frustration.

[2018-07-31 15:19] iHiD commented on #4096
The script to fix this is churning away on a server. It's about 3hrs in and will probably take another few hours to complete.

[2018-07-31 15:28] Insti commented on #4099
I get the same message viewing already submitted (legacy) exercises and am unable to see pre-existing comments on them. I assume this is related.

[2018-07-31 17:00] corroded opened #4100 "Can email threads just be one per student - problem?"
Currently email threads (in Gmail) are sorted by problem uuid as mentioned here https://github.com/exercism/exercism.io/issues/3984. The thing is, it still duplicates because Gmail thinks the comment email and the update code email are two separate things even though they have the same UUID.

Not sure how to fix it, but it is quite a bit 'spammy' in that regard. Very cool idea about the UUID thoug

[2018-07-31 18:19] pranasas commented on #4089
Is nobody else affected by this? To me this is an essential part of the Exercism experience. And it's totally busted - no links, impossible to leave comments (even on hello-world).

[2018-07-31 19:03] ivenk commented on #4092
Sure will do :)

[2018-07-31 19:03] #4092 closed

[2018-07-31 19:40] Stargator opened #4101 "mentor: Solution received from CLI not the same as on website"
I literally just reviewed my first solution and approved it. Then proceeded to the next student in the queue.

The solution I needed to get was via `exercism download --uuid=b6b406adae2b47eaa7faee9b3a702db3`

But when I pulled down the solution, I did not find a complete copy of the solution as shown on the website.

* Instead, I got a oddly named file `\\lib\\leap.dart` which should have been the

[2018-07-31 19:40] tejasbubane commented on #4071
Looks like there are some issues here:

![screen shot 2018-08-01 at 1 09 30 am](https://user-images.githubusercontent.com/980783/43482872-97f8f71c-9527-11e8-8c64-9037ebe03b5e.png)

![screen shot 2018-08-01 at 1 08 42 am](https://user-images.githubusercontent.com/980783/43482871-97b13300-9527-11e8-9eb4-e1d88485eb6e.png)

[2018-07-31 19:45] Stargator commented on #4079
Plus, who wants to keep track of dummy accounts?

[2018-07-31 20:02] mikewalker commented on #4096
The locks are looking good in my ruby track now.

[2018-07-31 22:04] iHiD opened #4102 "Fix getting started instructions everywhere"
We recently launched the v2 site, and a lot of the instructions for individual tracks are still explaining how to get started in the v1 site--so now they're wrong in lots of places.

e.g. C++ Hello World says:

This is wrong and should say something like:

@jackhughesweb I'd like you to take a look at this. A lot of the information you need is in @kytrinyx's head. She's off for a couple of days bu

[2018-07-31 22:06] iHiD opened #4103 "Tests require internet connection"
The tracks tests current hit GitHub. If they are run without an internet connection, they fail.

[2018-07-31 22:07] #4061 closed

[2018-07-31 22:08] iHiD commented on #4096
Great. Thanks. I'm going to mark this as fixed and close it if no-one reports anything new in the next 48hrs :)

[2018-07-31 22:10] iHiD commented on #4071
@tejasbubane Thanks. Weirdly, that works fine for me. What OS/Browser are you on?

[2018-07-31 22:14] iHiD commented on #4089
Thank you both for your thoughts.

@pranasas. You should find links to community solutions on all completed exercises now.

There is an issue open for this.

@mikoSL In mentored mode, they only show up once you've completed an exercise. This is a deliberate decision as we want learners to approach solving first through mentorship, then by looking at other solutions once they've gone through the fi

[2018-07-31 22:31] rpottsoh commented on #4103
Which tracks or track's?

[2018-07-31 23:25] iHiD commented on #4103
Sorry. I was unclear. The tracks tests in the website repo. The ones that do the syncing etc. I've assigned this to @kntsoriano who will sort them out :)

[2018-08-01 08:10] tejasbubane commented on #3964
Example of this happening for ReasonML right now: (mentors page)

![screen shot 2018-08-01 at 12 45 04 pm](https://user-images.githubusercontent.com/980783/43509466-60b40e90-9590-11e8-95c6-86a69829ee83.png)

[2018-08-01 08:18] ghost opened #4104 "Sorting of community solutions - oldest first?"
Are the community solutions sorted oldest to newest?
I think it should be the other way around because you're supposed to be interested in the fresh new implementations, right?

For example, https://exercism.io/tracks/python/exercises/hello-world/solutions .
There are 535 pages of solutions published 19 days ago, and only the very last two solutions date back to 16 and 14 days ago respectively.

A

[2018-08-01 08:47] NobbZ commented on #4104
The ordering itself is subject to change, I remember there was a ticket around this, polanning to sort them semi-randomly.

But publishing date will stick to be the migration date for the old data. As there was no exercism v2 2 months or 2 years ago one had publish to.

The explicit act of publishing a solution has only been added recently.

[2018-08-01 09:27] iHiD commented on #4101
Thanks for the detailed report. I think this is probably the same as https://github.com/exercism/cli/issues/665 but I'll wait for @kytrinyx to come back from her break and tell us :)

[2018-08-01 12:16] nicolechalmers opened #4105 "Add difficulty filter on mentor dashboard"
Mentoring can get repetitive when working through the same easy core solutions. See screenshot - actual mentor's dashboard.

Suggestion: Add difficulty filter to "Solutions you're mentoring" so mentors can vary the exercises they give feedback on to make the process more varied and fun.

Other related ideas for discussion:
- Have a random solution generator button which gives mentors a list of the

[2018-08-01 12:16] iHiD commented on #4100
For clarity, you're saying you want everything (comments, new iterations, etc) to do with one solution in one thread? Or to put it another way, a thread per solution?

[2018-08-01 12:31] nicolechalmers commented on #4105
I think solutions for harder or less popular exercises are treated equal to all other exercises. @iHiD - can you confirm?

[2018-08-01 12:37] iHiD commented on #4105
Exercises marked as CORE are ordered by oldest first. So there's no particular thing in the software meaning that hard exercises are not showing up.

[2018-08-01 13:08] frerich commented on #4105
Are CORE exercises always preferred over the optional ones? If so, I wonder whether it can happen that some users submit solutions to optional exercises but never actually get any feedback since the mentoring queue is saturated by the CORE submissions (which are most certainly more numerous since everyone has to go through them and they are easier, so they are submitted at a higher rate).

[2018-08-01 13:11] iHiD commented on #4105
Yes. Because core exercises block students from progressing, whereas the extra ones don't.

I see the core as teaching opportunities and the extras as practice opportunities. And while mentoring is great for both, it's more essential on the former.

[2018-08-01 13:12] frerich commented on #4105
One crazy idea:

Instead of (or in addition to) using a one-dimensional chronological sorting, maybe it would be interesting to group the submissions by exercise and then display the exercises as tiles, i.e. in a two-dimensional grid. You could then use a 'heat map' to indicate where mentoring is needed. I.e. each exercise is a rectangular tile with a color ranging from e.g. white over green, yell

[2018-08-01 13:12] iHiD commented on #3933
This is being tracked in another issue.

[2018-08-01 13:12] #3933 closed

[2018-08-01 13:13] iHiD commented on #3931
This is being tracked in another issue.

[2018-08-01 13:13] #3931 closed

[2018-08-01 13:13] iHiD commented on #3930
This is being tracked in another issue.

[2018-08-01 13:13] #3930 closed

[2018-08-01 13:13] iHiD commented on #3929
This is being handled as part of our responsive update.

[2018-08-01 13:13] #3929 closed

[2018-08-01 13:13] iHiD commented on #3928
This is being handled as part of our responsive update.

[2018-08-01 13:13] #3928 closed

[2018-08-01 13:13] iHiD commented on #3927
This is being handled as part of our responsive update.

[2018-08-01 13:13] #3927 closed

[2018-08-01 13:14] iHiD commented on #3925
This is being tracked in another issue.

[2018-08-01 13:14] #3925 closed

[2018-08-01 13:14] iHiD commented on #3918
Fixed.

[2018-08-01 13:14] #3918 closed

[2018-08-01 13:15] iHiD commented on #3920
Fixed.

[2018-08-01 13:15] #3920 closed

[2018-08-01 13:15] iHiD commented on #3916
Fixed.

[2018-08-01 13:15] #3916 closed

[2018-08-01 13:15] #3912 closed

[2018-08-01 13:15] iHiD commented on #3907
This is done now.

[2018-08-01 13:15] #3907 closed

[2018-08-01 13:16] #3854 closed

[2018-08-01 13:16] frerich commented on #4105
I think it makes perfect sense to consider the core exercises as 'teaching opportunities'. However, since there are only a handful of core exercises (they are vastly outnumbered by the optional ones), I wonder whether maybe those teaching opportunities eventually become a bit repetitive as long as as core exercise submissions are preferred in the display over optional ones.

[2018-08-01 13:18] iHiD commented on #3901
Done.

[2018-08-01 13:18] #3901 closed

[2018-08-01 13:18] frerich commented on #4105
This may also just be an unfortunate consequence of the Haskell language track in which 3,802 students are distributed over 7 mentors. So assuming everyone is equally active, that would mean I have to look at 543 solutions to testing whether a year is a leap year; I wouldn't mind seeing some other code every now and then. :-)

[2018-08-01 13:18] #3899 closed

[2018-08-01 13:48] amaliacardenas commented on #3966
List of the titles that need to be changed

- [x] `app/views/solutions/show.html.haml:            %h2 Community Comments`
- [x] `app/views/team_pages/_header.html.haml:    %h1 The Exercism Team`
- [x] `app/views/team_pages/contributors.html.haml:  %h2 Our Volunteer Contributors`
- [x] `app/views/team_pages/maintainers.html.haml:  %h2 Our Track Maintainers`
- [ ] `app/views/team_pages/mentors.html.

[2018-08-01 13:53] corroded commented on #4100
Yup! What do you think? Is it a good idea?

[2018-08-01 13:57] Insti commented on #3930
Which one?

[2018-08-01 14:13] Stargator commented on #4101
@iHiD I'm on a MacOS, just FYI. I also downloaded 3 more solutions with no problems.

[2018-08-01 14:20] Stargator commented on #4072
@kytrinyx For the `exercism doctor` command to work in my case, it would not only have to correct `\\folder-name\\filename.ext`, but the contents of `filename.ext` are not the same as what is shown on the website. it looks like the first two lines or so.

See: #4101 for details. I looked, but didn't catch these other reports.

[2018-08-01 16:57] mccollomds opened #4106 "Waiting for a long time for Go mentorship"
I have two frozen tracks after the upgrade. I've tried resubmitting the exercises, but nothing seems to get them into the reviewers queue. I'd love to keep progressing, but I can't open any new exercises

[2018-08-01 16:59] rpottsoh commented on #4106
Which tracks?  @ihid will want to know.

Sent from my android device.

[2018-08-01 18:24] rpottsoh commented on #4106
Ok, those are exercises.  Which language track(s) are you experiencing the issue?

[2018-08-01 19:54] mccollomds commented on #4106
Sorry - the Go track

[2018-08-01 20:45] F3PiX opened #4107 "Prevent (temporarily) two mentors mentoring the same solution"
_copied from Slack_
As long as we are working on solving the backlog of legacy submissions, would it be possible  to prevent that two mentors are picking up the same submission?
It happened a few times that another mentor and me both mentored the same solution at the same moment. Without knowing of eachother. I feel that it would be better use of mentoring capacity if we could for instance 'claim'

[2018-08-01 20:49] Stargator commented on #3900
I heartedly agree with this request. When students post new iterations it would be very helpful to see from a glance what the changes were.

[2018-08-01 20:53] iHiD opened #4108 "Create first-ever solution page"
We have a nice page that shows instructions before someone creates a solution, with links to walkthrough and guides. Many hello-worlds have good get starting info, but lots of links are broken since migration.

However, we can tell if this is someone's first *ever* solution and provide a much more focused page that says something like

@nicolechalmers @kytrinyx Thoughts?

[2018-08-01 20:56] kytrinyx opened #4126 "Cannot publish solution"
In the Independent track, I see no way of publishing (finalizing) my solution. How do I do that? I may have missed something in the UI :( I also tried to publish from the Community solutions page but couldn't either.

[2018-08-01 20:57] iHiD commented on #4106
@mccollomds Sorry for the frustration! (and thanks @rpottsoh)

Can you just describe what you mean by them not getting into the reviewers queue? Does it say that a mentor will give you feedback. Do you have a screenshot as an example pls?

[2018-08-01 21:17] kytrinyx commented on #4108
I think this would make a ton of sense!

[2018-08-01 21:18] #4082 closed

[2018-08-01 22:09] iHiD commented on #3903
@kntsoriano Did we do this and can this issue be closed?

[2018-08-01 22:13] rpottsoh commented on #3903
I just clicked the link and it spawned a new browser tab.  Looks safe to close from where I  sit.

[2018-08-01 22:29] mccollomds commented on #4106
I've resubmitted the exercise 3 times since the upgrade. It seems like there must be a bug because other exercises have been reviewed, but those two have sat for over 16d without feedback.
<img width="1178" alt="screen shot 2018-08-01 at 5 58 52 pm" src="https://user-images.githubusercontent.com/38952860/43552509-c2554556-95b8-11e8-9a70-798c326fa1de.png">

[2018-08-01 22:34] iHiD commented on #4106
@mccollomds Yeah, so there's just a big queue on the Go track atm. Sorry. Our mentors are churning away as fast as they can but they've struggling a little under the load. Go is one of three tracks where we really need more mentors than we have. We're trying to work out if there is a solution for this (e.g. auto-unlock after 3 days without mentoring) but we've not come up with a solution we're hap

[2018-08-01 22:35] iHiD commented on #4102
My temporary fix for this is https://github.com/exercism/exercism.io/issues/4108 btw.

[2018-08-01 22:36] iHiD commented on #3903
Thanks @rpottsoh! I shall close it :)

[2018-08-01 22:36] #3903 closed

[2018-08-01 22:37] iHiD commented on #3719
@kytrinyx Can we close this?

[2018-08-01 22:47] BradleyJohnson opened #4109 "Leaving Track doesn't clear solutions."
Not sure if intended or not, but the warning message indicates track progress will be lost. In my case, this is the desired outcome but I cannot clear the solutions.

[2018-08-01 22:53] iHiD commented on #3745
@villadalmine @kytrinyx Is there action that's needed here for the new CLI or can we close this?

[2018-08-01 22:54] iHiD commented on #4109
Thanks for reporting that @BradleyJohnson! :) I'm going to close this as a duplicate of https://github.com/exercism/exercism.io/issues/3986.

[2018-08-01 22:54] #4109 closed

[2018-08-01 22:56] kytrinyx commented on #4091
I laughed out loud. Thank you @ErikSchierboom !!

[2018-08-02 00:06] strickinato commented on #4093
I thought this was an interesting idea: https://github.com/exercism/exercism.io/issues/3979

[2018-08-02 01:28] kytrinyx opened #4110 "Clearly mark all math-y exercises as such"
After talking to @loriking, @amaliacardenas (who are working on Exercism this summer) and @ashleygwilliams (who is on the Rust team at Mozilla and teaches Rust to people on a regular basis) I've realized that the best exercises on Exercism are centered around a story, and that they are not filled with jargon.

In particular, all of the math-specific exercises are problematic, because there are a l

[2018-08-02 01:42] kytrinyx opened #4111 "Track maintainers: should we create private Slack channels for each track?"
We've been finding that the discussions in the Mentors Slack are interesting, lively, and massively helpful.

While it's great to do work asynchronously in issues on GitHub, the idea has been floated that it would be great to have channels where maintainers of a track could talk about the work directly related to that track.

For the sake of logistics, I would propose that we add these to the Exer

[2018-08-02 01:44] marnen commented on #4111
Slack is best for private teams; it is not a good platform for open archivable discussion, and I’m a bit alarmed to see that Exercism is considering using it that way. I’d personally prefer to have the discussions asynchronously on GitHub, but failing that, how about IRC?

[2018-08-02 01:47] kytrinyx commented on #4111
I don't mean these to be open and archivable -- any discussion that actually turns into something actionable should be summarized on GitHub anyhow. This would be the equivalent to maintainers getting in a video chat to discuss things that come up, or to throw ideas around that are not fully formed yet.

[2018-08-02 01:49] kytrinyx commented on #4111
For what it's worth I'm in no way tied to Slack--it has been proposed as the solution since we already are using it for the (private) mentor discussions.

We already have gitter channels which are public (not specific to tracks). I can't use gitter because of the user interface, but am completely agnostic to IRC vs slack.

[2018-08-02 01:53] marnen commented on #4111
@kytrinyx: “any discussion that actually turns into something actionable should be summarized on GitHub anyhow”—why? Shouldn’t there be a single point of reference for the discussion, and shouldn’t the discussion itself, not just the summary, be available to future interested parties if they need to figure out why a decision was made? Or am I just completely missing the point here? (Possible, sinc

[2018-08-02 01:58] kytrinyx commented on #4111
@marnen: for anything that _should_ be official and public, I think it should go in a GitHub issue so that anyone who wants to can follow along, and so that we have a reference for the actual outcome of discussions. I don't think we should have to link to discussions on IRC or anywhere else. GitHub _is_ the source of truth.

The purpose of having a place to chat (to my mind) is a place for discuss

[2018-08-02 02:36] petertseng commented on #4111
I am unable to use Slack in a reasonably convenient manner to me because they closed their IRC gateway. I know, I know, there is the existence of https://github.com/wee-slack/wee-slack but that requires me to switch to WeeChat, which I haven't taken the time to do yet. So I would choose not to participate in Slack since it would not be convenient for me. However, please do not let me stop y'all fr

[2018-08-02 02:44] Stargator commented on #4111
The Dart track has a gitter channel since I saw other exercism channels there.

Plus, I know at least the Java track has a channel there too.

I would prefer to stay on gitter as the history for conversations (per user) offers more longevity than slack.

But I'd be fine with some IRC group too.

[2018-08-02 03:47] BradleyJohnson commented on #3986
@iHiD Apologies for the dupe and thanks for mentioning this issue. Seems like there's no way to delete an account so I take it there's no workaround at the moment to start any/all track(s) fresh?

[2018-08-02 04:01] klamgade opened #4112 "Setup issue: Add to $PATH in macOS 64-bit"
While trying to **_Add to $PATH in macOS 64-bit_** following the attached instruction, I get an error saying "command is not found". Any idea on this?

note: I have checked and confirmed that it's 64-bit system and the commands are correct as mentioned on instruction.

**Followed below instrcution:**
<img width="714" alt="screen shot 2018-08-02 at 9 47 56 am" src="https://user-images.githubusercon

[2018-08-02 04:14] hilary commented on #4111
Really active track maintainers are a fairly tight knit group, in my experience. A combination of an accessible chat channel and the archival github issues provides support for both the tight knit active maintainers and the less frequent maintainers as well.

Throwing IRC into the mix would add a third chat modality/api/app into my set of exercism chat apps: slack for mentors, gitter for support (

[2018-08-02 05:07] alexkingnz opened #4113 "Signup fields difficult to read, poor contrast."
Undoubtedly I have a poor (LCD) monitor.  (Philips 170S)

I'm attaching a picture of the signup page as rendered on my monitor.

I can't see the explanation text in the signup fields on the page.  Actually, if I move my head to an awkward angle to the screen, I can just make out some text, it looks like a handle and two password fields.

If I mouse over the fields, I get an unhelpful tip, which I

[2018-08-02 05:44] Insti commented on #4111
Didn't we already have this on gitter? https://gitter.im/exercism/ruby

[2018-08-02 06:25] NobbZ commented on #4112
Oh, wait it's sourcing the profile, so restart shouldn't be necessary...

Can you please `tail ~/.bash_profile`?

[2018-08-02 06:31] ErikSchierboom commented on #4111
I'm in favor of using slack for maintainer discussions, for the simple reason that I prefer a single communication channel. I don't much like gitter, and I certainly wouldn't want a third option such as IRC. As Katrina said, I don't consider the non-archiving feature of slack to be that much of a issue. If there is anything actionable coming out of a discussion, we should make it public and post i

[2018-08-02 08:38] kluufger commented on #3890
👋

It seems to also affect elixir

[code]
is turned into
<img width="455" alt="screen shot 2018-08-02 at 8 32 21 am" src="https://user-images.githubusercontent.com/35971588/43572561-67fa912a-962f-11e8-98d1-b4f70830ea7e.png">

[2018-08-02 08:43] renao opened #4114 "Keep download instructions on solution page, too"
Hello everyone,

thanks for this great website. I just received [some feedback on some older solution of mine](https://exercism.io/my/solutions/4cfa1cdd2d5d47d8b66b7499caef311a), which was migrated from the previous website and I just placed it for a new mentor feedback.

It showed, that there are now some tests failing and I wanted to fix my solution. But there were no download instructions, like

[2018-08-02 09:05] NobbZ commented on #4114
Possible duplicate of #3838.

[2018-08-02 09:07] nicolechalmers opened #4115 "Show total number of extra exercises on RHS"
Show total number of extra exercises on RHS so the number is clear when the full "all extra exercises" list is collapsed.

E.g. "78" would become "78/83" here:

<img width="394" alt="screen shot 2018-08-02 at 10 03 07" src="https://user-images.githubusercontent.com/5421823/43574181-6d360b72-963b-11e8-98e9-d772ffb9a13d.png">

[2018-08-02 10:14] budmc29 commented on #3838
I agree, this is a pain point.

[2018-08-02 10:44] iHiD commented on #4110
@kytrinyx Thanks for this. I thing it's a wise thing to do.

I dislike mentoring Grain because I don't know how to explain the exponential operator to someone who doesn't know it. And it's something I've never used in the real world, so I feel unsure even why I'm explaining it. So I'd vote for Grains to have it too.

Two thoughts:
1) Should we have a rule that maths things should **not** be core?

[2018-08-02 10:51] iHiD commented on #3986
@BradleyJohnson That's correct. This is high priority on @kntsoriano's list but he's currently at drumming school in NYC so has limited hours of coding work atm (I imagine drumming for 8hrs per day knackers you pretty hard). But we will get to it soon, I promise :)

[2018-08-02 11:45] renao commented on #4114
Very possible @NobbZ - thanks.

[2018-08-02 11:45] #4114 closed

[2018-08-02 11:46] renao commented on #3838
Ping! Yes, would be great 👍

[2018-08-02 12:14] iHiD commented on #4111
So there are number of thoughts I have here. They're probably a little disorganised. They're my opinions, not *official* opinions that Katrina and I have decided, but I feel pretty strongly about them.

The first is to say that we deliberately deferred this conversation until after launch because we felt there would not be a consensus among people. However, the success of the mentoring Slack, wher

[2018-08-02 12:31] NobbZ commented on #4110
Even though erlang has `collatz-conjecture` as a side quest currently, I thought about taking it into core, as it simple rules are in my opinion much better suited to show students how to (and that you actually can) use a recursive function for more than just two cases.

Collatz does expose this so much better than an arbitrary tree like data type or an artificial calculation I had to find in the

[2018-08-02 12:50] iHiD opened #4116 "Should we have a simple text box for composing comments?"
At the moment we have a hybrid-writing box, where you see a preview as your type:

<img width="522" alt="screen shot 2018-08-02 at 13 49 13" src="https://user-images.githubusercontent.com/286476/43584634-d9378c96-965a-11e8-9a59-4007ecec012f.png">

The buttons and the visual hints make this super-easy for beginners to use, but some people have said they'd prefer a simple text box here and then only

[2018-08-02 12:51] ccare commented on #4116
buttons++

[2018-08-02 12:52] cmccandless commented on #4111
I'm in favor of trying something different. The Python Gitter room is nearly dead, and with the other Python maintainers gradually decreasing their involvement over the past several months, maintaining the Python track repository has begun to feel a bit like an island. I think having a maintainers-specific communications channel would be an excellent idea.

[2018-08-02 12:52] ccare commented on #4116
Github (here) have buttons but no hybrid preview. Not sure what I think, but anything that makes it easier for first timers.

[2018-08-02 12:53] uzilan commented on #4116
A lot of things don't work in the box, especially using my mobile: capitalization, autocompletion etc. These things work in every other textarea. Why not in here?

[2018-08-02 12:55] NobbZ commented on #4116
I'd like it the JIRA way.

Make us able to choose from the preferences, with hot-swapping during writing.

Regardless if we choose semi-rich or textarea, we need the preview tab.

The buttons should be visible and usable for semi-rich and textarea (assuming JS is enabled).

In general I'd opt for an exercism that does not rely on JS that much and offers a JS free version of any view/widget.

[2018-08-02 12:55] NobbZ commented on #4116
Because it is not a textarea.

[2018-08-02 13:00] NobbZ commented on #4111
My feelings with the erlang track are pretty similar too yours. Even worse, after I got the maintainers bit, I never heard back of one of the other maintainers until we asked for their bios. Thats the last commit the made...

So I'd welcome a communication channel that is more realtime, and not only visible to those who actively follow the erlang track.

And even though I do not like slack that mu

[2018-08-02 13:00] Cohen-Carlisle commented on #4116
I would prefer just the preview mode without a "live preview".

[2018-08-02 13:05] bdjnk commented on #4116
I like having the in-place markdown preview hints, but there are multiple reasons to allow it to be a simple textarea, particularly for mobile, where smart web text editors are often buggy.

I advise making it toggleable, defaulting to a plain textarea on mobile, and to in-place preview for non-mobile, while making an override default settable across the site per user.

[2018-08-02 13:12] aldraco commented on #4116
Another vote for toggling between writing and preview modes. If it is easier to comment via mobile, this could help streamline the mentoring process when all that's needed is a quick "good job making these changes, approving." Right now the text entry is prohibitively difficult for mobile users.

Additionally, the more we structure it like Github's comment system, the more "familiar" Github (and s

[2018-08-02 13:18] frerich opened #4117 "90-]"

[2018-08-02 13:29] bdjnk commented on #4113
The should be a deeper concern here that [placeholders in form fields are harmful](https://www.nngroup.com/articles/form-design-placeholders/) generally.

[2018-08-02 13:43] cmccandless opened #4118 "List of unimplemented exercises page no longer exists"
Originally reported by @cmccandless at https://github.com/exercism/discussions/issues/235:

[2018-08-02 13:46] frerich commented on #4116
The current implementation works good enough for me, but in general I'd prefer a clearer separation and less 'magic', i.e. I'd vote for a plain text input box (with monospaced font, maybe) and a Preview tab.

[2018-08-02 13:47] #4117 closed

[2018-08-02 13:51] iHiD commented on #4113
Interesting article. Thanks.

Large sites like Twitter and Facebook both use this pattern (screenshots below) so it's not something that I'm generally concerned about, as they'll invest lots in trying to make the signup process seamless. But it's something we'll have a think about.

<img width="629" alt="screen shot 2018-08-02 at 14 47 03" src="https://user-images.githubusercontent.com/286476/4358

[2018-08-02 13:58] aldraco opened #4119 "Exercise completion message lists incorrect number of remaining exercises on the track"
After completing the Grains exercise, I saw this message appear -

![screen shot 2018-08-02 at 9 52 34 am](https://user-images.githubusercontent.com/9719214/43588463-9365f25e-963a-11e8-854c-9bc9add247d3.png)

Note that it says there is only one core exercise left on the track; in fact there are several more after Grains.

[2018-08-02 14:12] iHiD commented on #4116
For clarity, for **this** issue, let's presume the mobile view will get fixed regardless of the decision. The issue with mobile world is that there are the buttons that insert things, not the text preview (even though it *feels* like its the inline preview that's wrong).

[2018-08-02 14:37] frerich commented on #4117
Errr, sorry - I have no idea what happened here!

[2018-08-02 15:21] ErikSchierboom commented on #4116
Okay, assuming the mobile view gets fixed, I think I actually quite like the live-preview as it is. Maybe an option where the live-preview is disabled (toggling between enabled/disabled) would help for those people that don't like it.

[2018-08-02 16:10] NobbZ commented on #4116
Okay, I'll assume that mobile will be fixed by other means, but the blind people visiting the site just with a braille device are not on a mobile, those wanting to use `lynx` (yes, I'm looking at you @kotp) or other terminal based browsers are not mobile users. There might be other groups of people not affected by the mobile fix.

When one is not logged in, there are people working with exercism,

[2018-08-02 16:20] BradleyJohnson commented on #3986
@iHiD Understood, thanks for the info. Good luck at school @kntsoriano !

[2018-08-02 17:49] iHiD commented on #4116
To clarify, it's not that we **need** it for the buttons - it's the fact that the JS library that we're using to do this (SimpleMDE) is breaking the textbox in general. I will look for a different library that does the buttons but not the formatting.

[2018-08-02 18:02] iHiD commented on #4116
I'm working on a new version that uses the `bootstrap-markdown` library, which seems to maintain the textarea. We don't generally use bootstrap so it will involve some tweaking. I'll report back.

[2018-08-02 18:11] rachelhornung commented on #4119
For independent mode it also provides completely wrong numbers.
![unlocked_exercises](https://user-images.githubusercontent.com/2362113/43602394-aed32a3e-9644-11e8-97f5-cdd2056b0a33.png)

[2018-08-02 18:14] rachelhornung opened #4120 "filter for solutions of a specific student"
It would be great to have the possibility to search for a specific student's solutions that I already mentored.

I knew I had mentored a student before and wanted to check my comments, but I wasn't able to find the previous exercises.

[2018-08-02 18:39] pgaspar opened #4121 "Markdown tables could use space between cells"
This is how a rendered markdown table looks like on mentor comments in Exercism:

<img width="208" alt="screen shot 2018-08-02 at 19 34 37" src="https://user-images.githubusercontent.com/31735/43603545-24520ad2-968b-11e8-8eb0-38f267aed6ea.png">

It's definitely good enough, but some more space between cells would make it better 👍.

Here's the markdown for testing:

[code]

[2018-08-02 18:47] rpottsoh commented on #4121
Where on the site are you seeing the table rendered like that?

It should look like:

| Position | Number of grains |
| --- | --- |
| 1 | 1 |
| 2 | 2 |
| 3 | 4 |
| 4 | 8 |
| 5 | 16 |
| 6 | 32 |

[2018-08-02 19:26] #3803 closed

[2018-08-02 19:34] iHiD commented on #4039
An error linked to this issue has been reopened in Bugsnag
[**ActionController::ParameterMissing** in **api/webhooks/contributors#create**](https://app.bugsnag.com/exercism/exercism-v2/errors/5b48dbbbc5b8680017719e38?event_id=5b635cd60029b81754830000&i=gh&m=ra)

[2018-08-02 19:54] iHiD commented on #4039
An error linked to this issue has been marked as fixed in Bugsnag
[**ActionController::ParameterMissing** in **api/webhooks/contributors#create**](https://app.bugsnag.com/exercism/exercism-v2/errors/5b48dbbbc5b8680017719e38?event_id=5b635d500029d1274fc10000&i=gh&m=fx)

[2018-08-02 19:54] #4039 closed

[2018-08-02 19:57] iHiD commented on #4121
Fixed by https://github.com/exercism/website/pull/285/files (not yet deployed)

<img width="567" alt="screen shot 2018-08-02 at 20 57 04" src="https://user-images.githubusercontent.com/286476/43607613-95541d96-9696-11e8-9c72-9f5fe5cb2451.png">

[2018-08-02 19:58] iHiD commented on #4116
Changed in https://github.com/exercism/website/pull/285 (not yet deployed)

[2018-08-02 19:58] iHiD commented on #3990
Fixed by https://github.com/exercism/website/pull/285 (not yet deployed)

[2018-08-02 19:58] iHiD commented on #3999
Fixed by https://github.com/exercism/website/pull/285 (not yet deployed)

[2018-08-02 20:32] iHiD opened #4122 "ActionView::Template::Error in my/reactions#index"
## Error in Exercism V2

**ActionView::Template::Error** in **my/reactions#index**
nil can't be converted to a Time value

[View on Bugsnag](https://app.bugsnag.com/exercism/exercism-v2/errors/5b48eef5f9bd8f0018209e34?event_id=5b6368670028d3ae77500000&i=gh&m=ci)

## Stacktrace

    app/views/solutions/_solution.html.haml:5 - block in _app_views_solutions__solution_html_haml__2848506137671969299_70

[2018-08-02 20:53] #4122 closed

[2018-08-02 21:34] iHiD commented on #4119
This should be fixed by https://github.com/exercism/website/pull/291 (will deploy shortly)

Could you check your tracks make more sense now pls?

[2018-08-02 21:35] #4115 closed

[2018-08-02 21:35] #3986 closed

[2018-08-02 21:38] iHiD opened #4123 "Add "Pause Track" option"
- [ ] Add button above "Leave Track" in mentored mode
- [ ] Add button above "Leave Track" in independent mode
- [ ] Add modal like Leave Track, which explains what it's doing
- [ ] Put the user track into paused mode but don't remove the solutions.

[2018-08-02 21:39] iHiD commented on #4118
Is this a maintainer-only page?

[2018-08-02 22:06] rpottsoh commented on #4118
No.  On v1 anyone could see what exercises a given track had available,  but also a list of all the exercises that were not implemented. List with each unimplemented exercise were the icons of the tracks that have implemented the exercise.

[2018-08-02 22:25] iHiD commented on #3822
This is now sorted.

[2018-08-02 22:25] #3822 closed

[2018-08-02 22:25] iHiD commented on #3823
This was fixed.

[2018-08-02 22:25] #3823 closed

[2018-08-02 22:26] NobbZ commented on #4118
Finding out how and where to contribute.

That page was linked from a status page when one had finished a given track. At least thats what I remember.

Aside from that the page was not linked anywhere, so if one didn't knew that it exists one was not able to find it.

[2018-08-02 22:27] iHiD commented on #3853
This should be better now. We've also made it clearer that you can do extra exercises while you wait, and added the ability to move in and out of Independent Mode if you get too frustrated waiting. I'm going to close this as there's no action we're going to take atm other than us recruiting more mentors and making their lives easier.

[2018-08-02 22:27] #3853 closed

[2018-08-02 22:27] iHiD commented on #3884
This was fixed.

[2018-08-02 22:27] #3884 closed

[2018-08-02 22:27] #3897 closed

[2018-08-02 22:28] iHiD commented on #3914
@kytrinyx Is this closeable?

[2018-08-02 22:50] petertseng commented on #4110
Okay, I think I am seeing it.

So, having to distinguish between exercises that might be solved *using* maths, but have a story to go with that, as opposed to exercises that are purely about maths.

I can see that this is why these following exercises are not in this category.

* while on the surface alphametics look to be about mathematical equations, solving it is more about the constraint solvi

[2018-08-02 22:51] petertseng commented on #4110
EBWODP:

Wrong. **affine** cipher does that. Editing.

[2018-08-02 22:54] kytrinyx commented on #4102
I'm back! Let's catch up in Slack tomorrow (your afternoon / my morning) and we can hash out the details and document them here.

[2018-08-02 23:06] rachelhornung opened #4124 "inconsistent number of exercises (python track)"
In the tracks overview python is listed with 118 exercises, on the top of the python track page it displays 106 exercises. The numbers in the "What's next box" for a given exercise match 106.
Only noticed this for python, so far.

![python_track](https://user-images.githubusercontent.com/2362113/43615656-8c7e9a94-966d-11e8-8241-4674d7fa751f.png)
![tracks_overview](https://user-images.githubusercon

[2018-08-02 23:19] rachelhornung commented on #4124
probably related to  #4115

[2018-08-02 23:37] cornf1979 opened #4125 "Cannot Verify Email Address"
I am having an issue creating an account for exercism.io. I was able to make it through the registration section, but did not receive a conformation email. When I try to sign in, it gives me a message to confirm my email. If you could help me resolve this issue i will greatly appreciate it.

[2018-08-02 23:51] cornf1979 commented on #4125
After searching a little longer i found a solution. login with github. i did not have a github account before. sorry for the incontinence.

[2018-08-02 23:51] #4125 closed

[2018-08-03 03:35] aliklynnlyle opened #4133 ""File not moved""
Hello, I am stuck at:

" if [ -f ~/bin/exercism ]; then echo "file moved"; else echo "file not moved"; fi
file not moved "

Not seeing a way to ask a mentor, though? I tried changing my permissions and that didn't seem to work.

Thanks in advance!

[2018-08-03 05:30] ErikSchierboom opened #4134 "Issues with Font Awesome rendering."
See: ![image](https://user-images.githubusercontent.com/135246/43625787-1e1579ba-96ef-11e8-9c8d-79d0605b6259.png)

[2018-08-03 05:51] unused commented on #4113
Yes, I've form fields on my list and I can make some suggestions. As a rule of thumb every input must have a label. Placeholders are okay to pass some extra information e.g. if an input requires a specific format, but as already mentioned one should better not use them at all as the information disappears as soon as someone starts writing, better use some extra-information (referenced with `aria-d

[2018-08-03 05:56] ErikSchierboom commented on #4110
In general, I like the idea. Part of the reason why I like exercism so much over e.g. project euler is that the latter has as its main focus mathematics, where programming is just a tool to have the mathematics execute efficiently. In exercism, the reverse should be true: mathematics should just be a tool to solve a problem, not the main focus.

Personally, I feel like exercises that use bit manip

[2018-08-03 07:38] NobbZ commented on #4133
Can you please provide the output of `stat ~/bin/exercism`?

[2018-08-03 09:13] amaliacardenas commented on #3966
All  h1/h2/h3, breadcrumbs, tabs, and other titles were modified to sentence case. exercism/website#292

[2018-08-03 09:43] jackhughesweb commented on #4134
That looks like Font Awesome is having trouble displaying the comments icon. Which browser (OS/browser/version) are you using?

[2018-08-03 09:51] jackhughesweb commented on #3839
(For reference: this message is at https://github.com/exercism/website/blob/2c2bd691297c0990fba68d1b53803d8303f6f6e9/app/views/my/tracks/_finished_modal.html.haml#L5 )

[2018-08-03 10:06] jackhughesweb commented on #3863
The tags on the modal are correct, and are also rendered on the my/tracks page - but the my/tracks page sets a max-width on the element containing the tags. Therefore the remaining tags are hidden behind the exercise description - I'll look out for this in exercism/website#252

[2018-08-03 10:32] iHiD commented on #4134
See also https://github.com/exercism/exercism.io/issues/4071#issuecomment-409343316

@jackhughesweb I'm assigning these to you :)

[2018-08-03 10:33] iHiD commented on #4071
Closing in favour of https://github.com/exercism/exercism.io/issues/4134

[2018-08-03 10:33] #4071 closed

[2018-08-03 10:36] iHiD commented on #4127
@abigailloosle This issue has been moved to this repository.

I suspect that it would be worth you going through some exercises on a more beginner-orientated site to get a good understanding of things like Jasmine, then return here when you built up your knowledge a little bit. You'll be very welcome :)

[2018-08-03 10:37] iHiD commented on #4129
@kytrinyx Where do we go from here in this discussion?

[2018-08-03 10:41] frerich opened #4135 "Permit associating shared 'mentor notes' with each exercise"
In the Haskell track (and I suspect this is true of other language tracks), many submissions suffer from the same deficiencies and thus would benefit from the same suggestions. It's typically short stuff like (in the Haskell case):

* In the Leap exercise, defining a separate `isDivisibleBy` function might be useful; also, `rem` is preferable to `mod` here.
* In the Collatz exercise, don't recurse

[2018-08-03 10:49] iHiD commented on #4135
So this is similar to https://github.com/exercism/exercism.io/issues/4083 but for shared stuff.

We're going to do this but haven't yet worked out how to structure it. It'll be some sort of GitHub repo that everyone can PR to I think. I'll chat it over with the product team and we'll work out the methodology.

[2018-08-03 11:08] aldraco commented on #4135
Especially for the earlier exercises, having notes and a full list of things to look for would enable more people to chip in as mentors, sooner. This sounds like a net win - more comprehensive coverage of coverage, and more mentors available for the earlier exercises, which often have more solutions that need feedback.

[2018-08-03 11:18] budmc29 commented on #3863
Thank you.
Feel free to add `closes #3863` to your PR, so we'll close this automatically with your merge.

[2018-08-03 11:26] ErikSchierboom commented on #4134
- Google Chrome version 68.0.3440.84 (Official Build) (64-bit)
- Windows 10 (17134.81)

I've also tried a Ctrl+F5 to do a hard refresh, but that didn't work.

[2018-08-03 11:35] devonestes commented on #4111
It wouldn't make a difference for the Elixir track. I speak with folks through the elixir-lang Slack that's already up and running when needed (which is very rare). So it makes no difference to me either way. We also have an #exercism channel on that Slack, but it doesn't get used.

[2018-08-03 11:36] iHiD commented on #4134
I believe @jackhughesweb is all over this :)

[2018-08-03 12:09] iHiD commented on #4134
That better @ErikSchierboom ?

[2018-08-03 12:16] nicolechalmers commented on #4108
I like this too.

[2018-08-03 12:21] ErikSchierboom commented on #4134
Yep, fixed!

[2018-08-03 12:21] #4134 closed

[2018-08-03 13:22] budmc29 opened #4136 "Leave track does not clear all the solutions like mentioned"
I completed the exercises on the old version.

`budmc29`

<img width="1149" alt="image" src="https://user-images.githubusercontent.com/7063792/43644967-6d47a4ca-9728-11e8-9738-016d7c515665.png">

<img width="1243" alt="image" src="https://user-images.githubusercontent.com/7063792/43644982-74ca991e-9728-11e8-9811-9dc8aae2c865.png">

<img width="1237" alt="image" src="https://user-images.githubuserc

[2018-08-03 13:40] bdjnk commented on #3936
I find it very obnoxious that notifications are irretrievably lost once they have been "read". I'm actually scared to read them unless I have time to resolve it fully in that moment. This, for me, is a significant disincentive from using the site in a frequent quick way. Regarding GitHub notifications, [recently read notifications **are** available](https://github.com/notifications?all=1).

[2018-08-03 13:57] iHiD commented on #4136
Weird. Thanks. @kntsoriano ?

[2018-08-03 14:49] iHiD commented on #3888
I think this is much better now so I'm going to close it :)

[2018-08-03 14:49] #3888 closed

[2018-08-03 14:49] iHiD commented on #3858
This is fixed now :)

[2018-08-03 14:49] #3858 closed

[2018-08-03 14:51] Stargator commented on #3943
I would also add to inform mentors of this as well. Since when mentoring, we will download the student's solution, but the test suite might have changed.

I would be of the mind that the mentor should be informed of changes to the test suite, but given the test suite by which the student's solution should be run against.

That way the mentor can provide feedback as well as serve as another voice r

[2018-08-03 14:52] iHiD commented on #4069
Should be `font-size(14,17)` I imagine

[2018-08-03 14:53] iHiD commented on #4014
Let's remove the "time" label for now.

[2018-08-03 14:55] kytrinyx commented on #4001
@NobbZ If we can make this (probably temporary) page remember selections, that would be incredibly helpful in the meanwhile!

[2018-08-03 14:57] kytrinyx opened #4137 "Write/Speak/Code - August 3, 2018"
**This is a starting point for a specific event, we will close the issue at the end of the day**

Exercism has a _lot_ of code in a lot of different languages. Perhaps the least interesting part of contributing to Exercism is contributing to the website itself (though you can do that too). Here's a quick overview.

## Language tracks

Pick your favorite programming language and contribute to the t

[2018-08-03 14:57] iHiD commented on #3943
I *believe* that the `download --uuid=xxx` will honour the point in time that the solution was implemented, and download the relevant tests. This might not be true for legacy ones but should be for new ones where the tests change.

[2018-08-03 15:01] iHiD commented on #3964
@jackhughesweb Could you work out why this is happening on this page pls?

[2018-08-03 15:05] jackhughesweb commented on #3964
Quick thought: ReasonML was the track which had a missing icon in a few places - I'll have a check later

[2018-08-03 15:05] NobbZ commented on #3943
@kytrinyx once said the first time an exercise is downloaded, it will be fixed to exactly those tests forever. You can not update to more current tests.

This is contrary to what was advertised in the early alpha testing were it was said that we will be able to see even local modifications to the tests a student made without requiring him to submit the tests explicitly.

[2018-08-03 15:09] kytrinyx commented on #4102
While this is probably wrong for a lot of different tracks, here's the basic setup for C++, which will be similar for the other languages.

The C++ exercise readmes are generated from this Go template: https://github.com/exercism/cpp/blob/master/config/exercise_readme.go.tmpl

They're generated using the Configlet tool:
https://github.com/exercism/configlet/releases/latest

The documentation for t

[2018-08-03 15:11] kytrinyx commented on #4102
Suggested approach (from discussion in Slack) would be:

- fix it for C++
- write up a meta issue that explains clearly what is wrong
- submit a sub-issue to each language track pointing to the meta issue, asking to make sure this is fixed for that track

[2018-08-03 15:12] NobbZ commented on #4001
Maybe you are right, but the deselecting them and submit should remove me as a mentor or confusion will be even bigger than it is now.

[2018-08-03 15:14] iHiD commented on #3943
That is correct.

Obviously we can only see local modifications to test if they get from student's computer to us. As I believe the CLI is currently ignoring the test pattern, I imagine this is not the case. But I might be wrong.

[2018-08-03 15:15] iHiD commented on #4001
So the action for whoever does this:
1. Set any existing mentorships as checked when the page loads.
2. Add any newly ticked mentorships on submission
2. Delete any unchecked mentorships on submission

[2018-08-03 15:17] rpottsoh commented on #4102
#4076 seems related to this issue as well.

[2018-08-03 15:26] NobbZ commented on #3943
Yeah, I know that this is complicated, and I already made a lot of comments pointing out the blocking stones...

[2018-08-03 15:36] Cohen-Carlisle commented on #3936
It would be nice to set a time-to-live on read notifications instead of immediately destroying them.

[2018-08-03 16:12] JWKyle commented on #4135
I agree.  As a less seasoned developer, I think it would help more people like me lessen the confidence gap, especially when giving feedback.

[2018-08-03 16:20] kytrinyx opened #4138 "Allow downloading a specific iteration of a solution"
Right now the API only provides a way to download the latest iteration.

It would be great if we could have a way to specify which iteration we want.
This would require a change to the API, and afterwards we'd need to update the CLI:
https://github.com/exercism/cli/issues/688

[2018-08-03 16:22] rpottsoh commented on #3839
@jackhughesweb thanks for locating....  It would seem that a better message is needed there.  To me the issue is is it a canned message that is displayed to everyone on all tracks or can this point to some file maintained by the maintainers of each track?

[2018-08-03 16:27] guygastineau opened #4139 "Configlet: doesn't use `hints.md` anymore?"
Sorry if this is a dup.  I couldn't find clear info on it.

I'm just trying to confirm whether or not configlet  utilizes the hints.md for exercise readme's anymore.

Asking for a friend :stuck_out_tongue_winking_eye:
Thanks

[2018-08-03 16:33] iHiD opened #4140 "Crowdsourcing mentor notes"
We've been exploring different ideas for how we can provide mentors with helpful notes and guides to different exercises. We have some nice long-term plans about writing guides for mentors for each exercise. However, it's become clear that there is also an appetite for mentors just to crowdsource their thoughts.

We're going to add a couple of extra bits to the mentoring UI to show crowd-sourced n

[2018-08-03 16:38] F3PiX opened #4141 "I don't want to be a delinquent"
As a student, I once switched from mentoring mode to independent mode and back. Now my submissions prior to the independent mode are marked as 'imported from independent' mode, and that makes me a delinquent.  And I am afraid that the punishment is that I don't get any mentoring anymore. Not sure if that's the case.
But if it is, I'd expect that more students should be affected by this. (And mento

[2018-08-03 16:47] iHiD commented on #4141
Super helpful. Thanks :)

This is the case.

There is one queued for mentoring (Series)

All of this is new really. Anyone who was in independent mode at the point of this change who had legacy solutions will have suffered, and the system is treating like a delinquent. Everyone else **should** be fine (I no way guarantee this is true though)

I've just reset your user_track in the db so that you s

[2018-08-03 16:55] rpottsoh commented on #4141
@iHiD is this the same as (or similar to) #4094?

[2018-08-03 16:59] iHiD commented on #4141
It's similar.

@F3PiX's problem was that she dropped into independent mode then back, at a bad time (on my advice), which has more strict rules and caused pain. The problem referenced in the other issue is legacy solutions that need to be handled one at a time.

In both scenarios, if only core exercises are submitted for mentoring, there should be a fast turnaround, but the moment you submit a sid

[2018-08-03 17:01] hiimbex opened #4142 "Choose your own adventure installation flow link text is difficult to click"
Screenshot of current behavior:
<img width="165" alt="screen shot 2018-08-03 at 9 39 07 am" src="https://user-images.githubusercontent.com/13410355/43655582-0a5b7518-9704-11e8-84e2-605edf6525c7.png">

I don't have a great proposed solution here, but I'd love to see these links become buttons or have more space between them. I'm a Mac user and it was particularly difficult to click the Mac installa

[2018-08-03 17:09] kytrinyx commented on #4140
I added one for `two-fer` on the Go track https://github.com/exercism/mentors/blob/master/tracks/go/exercises/two-fer/README.md

[2018-08-03 17:10] JerryFireman opened #4143 "Unable to submit"
I am having problems trying to submit my first solution file. I moved the file to the exercism directory hoping this would make it easier. Here's what I get ...

C:\Exercism>dir
 Volume in drive C is OS
 Volume Serial Number is 2CD4-6D3A

 Directory of C:\Exercism

08/03/2018  12:53 PM    <DIR>          .
08/03/2018  12:53 PM    <DIR>          ..
08/03/2018  12:53 PM                 0 exercism
07/

[2018-08-03 17:13] rpottsoh commented on #4142
I don't know about turning them in to buttons.  But inserting a line between each is simple to do.

task:

- create a PR to modify [welcome.tw2](https://github.com/exercism/interactive-cli-walkthrough/blob/master/contents/common/welcome.tw2) by inserting one blank line above `Mac` and a blank line below `Mac`.

turn:
[code]
into:
[code]
- use one of the available reserved words with in the comment

[2018-08-03 17:13] iHiD commented on #4143
Hi @JerryFireman. How did you install Exercism locally? Did you use the Installer for windows or go down the manual route?

[2018-08-03 17:20] iHiD commented on #4138
@kytrinyx Do you have opinions on how:
- The API request should be changed? Would you prefer a new param called `iteration_id` which specifies the uuid of the iteration, or `iteration_idx` which is a 1-based index? I prefer the first.
- The API response should be changed ([defined here](https://github.com/exercism/website/blob/master/app/models/api/solution_responder.rb#L10)).

[2018-08-03 17:21] tejasbubane commented on #4134
Great. Fixed for me too. 👍

[2018-08-03 17:24] JerryFireman commented on #4143
Thanks for responding Jeremy. I used the installer for windows.

[2018-08-03 17:28] kytrinyx commented on #4110
Interesting. I like Grains, and I think it's more computer-science-y than math-y (for the reasons that NobbZ describe)

I don't want to make it a rule, because some languages _are_ very math heavy, so they should be free to do so if it makes sense, but I would like to recommend to avoid it in general.

Sure, I used `mathematics` because it was already present in the Rust track topics. We decided t

[2018-08-03 17:30] rpottsoh commented on #4143
@JerryFireman you need to be in the folder where hello_world.go exists.  This folder should be within the folder designated by `workspace`.
for example at the CMD prompt execute:
[code]
When you downloaded `hello-world` the CLI should have created a sub-folder for `Go` and a folder beneath that for `hello-world`.  The CLI is expecting your solution file to be there.  If you CD to that folder and t

[2018-08-03 17:33] kytrinyx commented on #4110
To summarize this:

- I added diffie-hellman and affine-cipher to the list of math-y exercises.
- I didn't add grains (still open to discussion, but feel surprisingly strongly about this one)
- I will change to use `math` instead of `mathematics`
- I will submit PRs to all the tracks

[2018-08-03 17:43] kytrinyx commented on #4111
Ok, it sounds like there's not going to be an overwhelming consensus, but that:

1. Having a private place to discuss more informally and bond in general would be useful to a lot of people.
2. Tooling is always a difficult thing, and
    * We'd like to use Slack for consistency (rather than gitter, IRC, or Discord)
    * Slack is a barrier to a few people
    * More people use it than don't
    *

[2018-08-03 17:44] yawpitch opened #4144 "Add user preference to restore "Tab to Indent" in Mentor comments editor"
A recent change (described [here](https://exercism-mentors.slack.com/archives/CAQP7JL3T/p1533285596000123?thread_ts=1533279906.000188&cid=CAQP7JL3T)) "broke" the previous behaviour of the comments editor in the "Mentor discussion" area of each exercise. Previously the `tab` key had performed its traditional text editor duty, indenting the text. Now it navigates the focus of the UI. While this is c

[2018-08-03 17:47] tejasbubane commented on #3964
@jackhughesweb Yes reasonml logo is in progress [here](https://github.com/exercism/website-icons/issues/5). We should handle such cases.

[2018-08-03 17:56] iHiD opened #4145 "Add code-climate test coverage to Travis"
I started this https://github.com/exercism/website/pull/295 but it's erroring.

[2018-08-03 18:00] rpottsoh opened #4146 "Should there be a Slack channel for students?"
Presently https://gitter.im/exercism/support sees a fair amount of traffic.  It serves as a catch all place where students go to ask all sorts of questions about anything pertaining to Exercism....

Usually the questions relate to configuration issues and sometimes language related.  If the questions are not too involved they get answered on the spot otherwise they are advised to open an issue and

[2018-08-03 18:00] NobbZ commented on #4138
When I switch between iterations on a solutions page, the UUID in the URL doesn't change, so all iterations have the same UUID from my point of view.

But we have a different iteration I'd as a query parameter. So I think just adding an index parameter which aligns with the visible part in the URL seems most natural.

[2018-08-03 18:06] NobbZ commented on #4146
Most students will probably have a GitHub account already, though accessing gitter is relatively easy. Slack on the other hand requires just another account to create and the process is not always easy, as slack workspaces aren't public, they are locked down per definition and you need an invitation to join.

So a student had to request his invitation first, then from the invitation he can actuall

[2018-08-03 18:09] rpottsoh commented on #4146
I agree.  But I thought maybe it was worthwhile to at least create the issue since mentors and maintainers are being discussed as it relates to Slack.

I am not sure how people are finding the gitter/support room.

[2018-08-03 18:10] iHiD commented on #4146
I would rather not add a new Slack for students.

However, I'm interested in discussing a tool that allows students to interact on the website with a Slack channel in the mentors room. I do something similar to that in one of my businesses for support through Intercom and it's very effective.

Then there is no extra signup at all for students and they never have to leave the Exercism website.

[2018-08-03 18:14] rpottsoh commented on #4146
That is an interesting angle.  Maintainers should also be included (allowed).

[2018-08-03 18:18] iHiD commented on #4146
So I think the "Mentors Slack" will become "Mentors and Maintainers" Slack, with private channels for each tracks' maintainers, but then the maintainers can also join in discussions on the main language tracks.

ie, you'd be in:
- track-delphi
- maintainers-delphi

Then maybe (very maybe) we'd have a channel called `support` which students were able to post into.

[2018-08-03 18:23] rpottsoh commented on #4146
Sounds very reasonable. :wink:

[2018-08-03 18:42] masters3d opened #4147 "What is the exercism legal structure?"
I'd like to get an idea of community structure for exercism.

- Who is the current the 'core team'?
- How does somebody become a core team? (Aside from the obvious founders. )
- What role does the core team play in making big decisions?

Essentially I have all the questions the below sample documents answers for me about the swift project.
https://swift.org/community/#community-structure

Thank yo

[2018-08-03 18:54] JerryFireman commented on #4143
Thanks very much for your help Ryan! I moved my solution file into the Go directory created during the Exercism installation and successfully uploaded it. One issue -- the Go directory created by Exercism is outside my Go workspace so the file does  not run for me when I try to execute it from the Go directory. I assume I can work on and test problem within my Go workspace and then move then move

[2018-08-03 18:55] SaschaMann commented on #4111
Perhaps add a shared channel for maintainers of all tracks, too? It would be relevant to 1.)

[2018-08-03 18:57] aliklynnlyle commented on #4133
stat: No such file or directory

[2018-08-03 19:05] iHiD commented on #4111
Yep. Definitely. We'll roll this out over the next few days :)

[2018-08-03 19:09] rpottsoh commented on #4143
Excellent!  I am glad to see you managed to work yourself out of the jam!  :1st_place_medal:

That is an acceptable way to go about it.  There may be a better way that I am not aware of.  I know Go likes its folders to be setup its way...  If there are any Go people monitoring that might have a better suggestion for @JerryFireman I'm sure he would appreciate learning about it.

cc: @exercism/go

[2018-08-03 19:44] NobbZ commented on #4143
Go exercises on exercism are designed to be usuable and solvable without requiring anything but the stdlib, the last time I did them they were easily runnable from outside the go workspace in the exercism workspace.

And I checked again right now, even though using a SSH connection from a phone is quite clumsy to type on, but this worked:

[code]

[2018-08-03 19:48] Stargator commented on #3943
I feel like I was told I could submit the test suite if I had changed it. But I can't recall ever doing so and I don't see an example of that in any of my v1 submissions.

[2018-08-03 19:56] rpottsoh commented on #3943
I thought the CLI would balk at any upload (submitted) files that contained the word `test` in their name.   Uploading a modified test suite would also require renaming the file name.  I have not tried uploading a test suite so I don't have first hand experience to work from...

[2018-08-03 20:07] NobbZ commented on #4133
But you are sure you have `cp`d it first?

[2018-08-03 20:12] NobbZ commented on #4133
Wait, I think it's even better you start the installation from scratch, copy pasting each command and it's output here into the issue, wrapped in a proper fenced codeblock until you get to the `if` from above.

[2018-08-03 20:23] AlwinaO opened #4148 "Rake exercism setup task failed because of missing dependencies"
I was setting up the website with the provided instructions and ran into a few issues with the Rake setup task.

After some debugging we figured out that the task was blowing up because node was missing. Once we installed node, the task was able to complete.

<details>
 <summary>Here's the terminal session I got</summary>

[code]
</details>

[2018-08-03 20:48] nickborromeo commented on #3804
@iHiD It got it working 🎉thanks for the update!

[2018-08-03 20:51] iHiD commented on #4148
Hello. thanks for reporting this :) Did you install Yarn before running the script?

[2018-08-03 20:52] nickborromeo commented on #4147
@masters3d I am not part of the core team but the exercism website lists the core team members in https://exercism.io/team

A small snippet from that page

and you can find the values listed in https://exercism.io/values

Hope this helps 😄

[2018-08-03 21:01] devillexio commented on #3858
Awesome, thanks!

[2018-08-03 21:07] AlwinaO commented on #4148
Sure thing! I think I ran it afterward but there were other issues on my computer that kept me from running rake. I worked with @kytrinyx to resolve the issue on my terminal and realized this might be an issue other contributors might have.

[2018-08-03 21:09] AlwinaO commented on #3812
I'd like to claim this issue.

[2018-08-03 21:17] kytrinyx commented on #4137
Thanks everyone, for a great day!

[2018-08-03 21:17] #4137 closed

[2018-08-03 21:31] aliklynnlyle commented on #4133
OK wonder if I should try to uninstall first then?

[2018-08-03 21:52] NobbZ commented on #4133
It doesn't seem as if there were something to uninstall...

[2018-08-03 21:52] masters3d commented on #4147
Thank you @nickborromeo Let me rename my question.

I am mostly interested in finding out how exercism is organized to function as an non profit org (Is it? I was assuming this but I can't find any reference to it.).

Here is another example of more of less of an example of what I am looking for. https://llvm.org/foundation/

[2018-08-03 21:53] aliklynnlyle commented on #4133
ok here is the latest in the process:

exercism configure --token=73c748c2-02c8-417c-b082-4a1799ca1040
Error:
    The default Exercism workspace is

      /Users/Alicia/Exercism

    There is already something there.
    If it's a directory, that might be fine.
    If it's a file, you will need to move it first, or choose a
    different location for the workspace.

    You can choose the workspac

[2018-08-03 22:12] #3804 closed

[2018-08-03 22:18] iHiD commented on #4147
@masters3d. Until recently Exercism wasn't a legal "thing". Everything was copyrighted to Katrina. Last year we changed that and created Exercism Inc, primarily as a way of protecting Katrina directly from liability. We're currently spending time working out what the best structure is for Exercism and how we build something which we can hire people into and grow properly. We'll have those decision

[2018-08-03 22:21] iHiD commented on #4147
@masters3d Is there a particular reason for your interest?

[2018-08-03 22:29] NobbZ opened #4149 "mentor: In the exercise filter mark core exercises"
In the mentoring queue core-exercises are marked with a darker border and also tagged `core` in the upper right of the card.

WHen I want to filter on a track by exercise, I can not distinguish core from side exercises in the drop down.

Therefore I propose to either have labeled sections in the dropdown or have a `core` tag on the right of core exercises in the list.

[2018-08-03 22:40] NobbZ commented on #4133
Ah, nice, so it seems you came much further than before.

But you token is now compromised, you should reset it, but I was unable to find such a button on the website.

But everything else is said in the error message, if you want to keep your old workspace, just copy the command and run it, if not specifiy a different workspace or delete the old one and create a new.

[2018-08-03 22:42] NobbZ opened #4150 "Resetting the API token"
Sometimes a token slips through a bug report or exercism was configured on so many systems, that one lost overview over his devices and want to revoke all of them at once.

In v1 this was very easy, we were able to reset the API key from the very same page were we could copy it from.

It seems as if this `reset` action is missing from v2.

[2018-08-03 23:04] iHiD commented on #4149
Agreed. Thanks.

[2018-08-03 23:04] iHiD commented on #4150
Agreed.

[2018-08-03 23:18] spicydonuts opened #4151 "Don't allow someone to approve without a comment"
Slack context:
![image](https://user-images.githubusercontent.com/715921/43669574-3de83f6e-9741-11e8-85c4-57f74d6aaa3a.png)

[2018-08-03 23:57] masters3d commented on #4147
@iHiD Makes sense. I was asking because it feels to me like the project is moving towards a model where it could potentially become some sort of startup, raise capital, charge for things etc. I am not opposed to that if that is the plan but I just want to know where we stand as contributors. I guess this would not much different than HackerRank or similar.

I'll be looking forward to what your tea

[2018-08-03 23:57] #4147 closed

[2018-08-04 00:10] iHiD commented on #4147
Thanks for the info :)

To colour things in a little more: We have no plans to raise external investment (been there, done that, not a fan) and Exercism - the learning platform - will always be entirely free.

Taking Exercism to where we want it to get to (helping millions of people regardless of their background) is going to involve having money though. We eventually want a full time team working

[2018-08-04 00:23] iHiD opened #4152 "Are email confirmation emails sending?"
We've had a few reports of people not getting them.

@kntsoriano and/or @jackhughesweb (whoever gets here first) - Can you check and/or fix pls?

[2018-08-04 00:42] kytrinyx commented on #4148
Sorry, I was going to comment on this earlier, but then I got mightily distracted by a delicious meal.

There were a number of issues!

1. Following the instructions, first `bundle install` failed, because `cmake` wasn't installed. We brew installed it.
1. Then we successfully bundle installed and ran the rake setup script which failed. Then we brew installed `yarn`
1. Then we ran rake setup again

[2018-08-04 00:47] kytrinyx commented on #4148
Oh, also: I don't know if we had to install `yarn` with brew, or if it would have been enough to install node.

I think the first level fix would be to add something to the readme to say:

- install `cmake` (e.g. with `brew install cmake`, but I don't know how on other platforms)
- install `node` (follow instructions on the node site)

Later it would be lovely if the script would check that these

[2018-08-04 02:29] petertseng commented on #4110
What is your desired level of maintenance for this after these PRs are merged? The current operation is a one-time sweep that brings the state of the world to a desired state, but various operations in the future could cause the world to get out of that state.

Suppose that a contributor now adds the affine-cipher to a track that didn't have it. Who or what (if anything) will tell that contributor

[2018-08-04 03:08] rpottsoh commented on #4110
Perhaps comments should be added to all the testdata files that have been identified as mathy.  Seems like we need to establish a policy for identifying new exercises as mathy going forward.

[2018-08-04 05:40] marnen commented on #4111
@iHiD:

That's something I'd be actively opposed to (although it's only of academic interest for me, since I'm the only maintainer on my track). I believe pretty firmly that track maintenance discussions should be public, since they potentially affect everyone learning through the track. If I had multiple maintainers on my track, I *would not want* a private discussion space for us where no one el

[2018-08-04 08:42] lestephane commented on #3795
I've switched to the new version of exercism, and i don't see any way to achieve what i used to be able to achieve with my bash script. In particular, one cannot, using the cli, list all tracks, and the exercises currently available to the user in each track.

[2018-08-04 14:51] kytrinyx commented on #4110
Yes, we'll need a way to ensure that exercises get their canonical topics. I'll think on it.

[2018-08-04 15:28] Jarvvski opened #4153 "Not in workspace: Trailing Slash in custom workspace path"
When trying to submit, I got an error for not being in the workspace. I've had a look at #4070 among others, but that didn't solve my issue because it's based on the default paths set by Exercism.

I originally updated the `~/.config/exercism/user.json` to reflect where I store my exercism stuff:
[code]

Running the workspace argument also returns the correct path:
[code]

The actual path of cours

[2018-08-04 15:46] Jarvvski opened #4154 "Open $Editor if set on exercise download completion"
This is a suggestion on my part. How about being able to open the path printed at the end of the exercise download in whatever $editor is set, or via a custom command in the config?

For example:
[code]

I've noticed the command does actually return the path as the output via stdin:
[code]

It would be quite cool if I could just run the download command and immediately get stuck in, without having

[2018-08-04 16:38] guygastineau commented on #4153
I think it expected that users wanting a custom workspace will use the workspace flag with the config command in the cli.

[2018-08-04 20:41] mixolidia commented on #4111
For what it’s worth, it would be good to have a place to discuss and catch up on exercism track issues with the people actually working on stuff and not just anyone who stumbles across an interesting exchange on GitHub and puts their two cents in.

It would not only create a tighter community but could also keep things focused. As a less experienced track maintainer and someone relatively new to t

[2018-08-04 20:47] kotp commented on #3943
It can be submitted as can be seen in this screenshot today.

The command I used was `exercism submit hello_world.rb hello_world_test.rb`

![submit_test_too](https://user-images.githubusercontent.com/16747/43680304-a774992c-9805-11e8-91df-08cac1d2248a.png)

Of course, this makes no matter unless we know which version of the CLI it is... exercism version 3.0.6

[2018-08-04 20:47] iHiD opened #4155 "Is Hamming too complex for non-English speakers?"
I've just been reading through the Hamming README (in Ruby specifically). There's lots of words in here that are potentially unusual/challenging for non-native-english speakers. (I am a native speaker so this is a question)

I've highlighted some words below that stood out to be as maybe things I wouldn't know if I wasn't a native speaker of a different language.

Should we try to make this README

[2018-08-04 20:55] NobbZ commented on #4154
Thats in fact a nice idea, but instead of `$EDITOR` I'd prefer to use `$VISUAL`, others might still prefer `$EDITOR`, others again might have something configured as `$EDITOR` what would be better in `$VISUAL`…

But yes, I'd really like an `--edit` flag (or `--open`)!

[2018-08-04 21:01] NobbZ commented on #4155
Perhaps it might be easier to understand when we use Wikipedias abstract from the IT Hamming Distance?

Also it might be even easier to understand for most people, as you can give examples that are actual words and not abstract random letters representing a DNA.

[2018-08-04 21:36] rpottsoh commented on #4155
When writing testdata and READMES in problem-specifications it is encouraged to keep the language as simple as possible, to not use unecessarily complex language.

Sent from my android device.

-----Original Message-----
From: Jeremy Walker <notifications@github.com>
To: "exercism/exercism.io" <exercism.io@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Sent: Sat, 04 Aug 2018 4:

[2018-08-04 21:57] benrodenhaeuser commented on #4155
I think what is a bit confusing about this README is that the first few paragraphs contain a lot of background info that merely "provide context", so to speak. This is also where the technical jargon is used. Some people might think they need to understand this context in order to solve the exercise, which isn't really the case.

The last couple of paragraphs, on the other hand, do contain a conci

[2018-08-04 22:07] NobbZ commented on #4155
As Hamming Distance is applicable to any 2 sequences of information given they have the same length, I'm not a fan of limiting it to its biological specialisation.

I never was, to be honest.

In theory, even these two erlang lists could be analised via hamming distance and would have a distance of 2:

[code]

Each list contains 3 elements. We can compare each of those for equality. So the first (

[2018-08-04 22:17] iHiD commented on #4155
So I really love the story. It makes me feel like I'm solving a real problem, not a toy problem. But it does feel like I'm learning a lot of molecular biology to get there, which could be a little intimidating for english-speakers and even more so for non-native speakers.

There's also a lot of information in general before the task. I've only done Hamming for the first time today because every ti

[2018-08-04 22:37] iHiD commented on #4111
@marnen I agree Slack is a not the right tool for Bazaar-model projects. However, I don't necessarily believe that Exercism is a Bazaar-model project in the sense that the code is **developed** in the view of the public. The whole of the new website was designed by a team using Slack and a private GitHub repository because we actively didn't want it designed by community or want feedback as we wen

[2018-08-04 22:41] marnen commented on #4111
@iHiD That’s totally a red herring. The present discussion is about track maintenance, not the development of the Exercism platform itself. I understand why bazaar-model development might not be desired for the platform (even though I might dispute the idea), but surely the same considerations don’t all apply to track maintenance, or at least it’s not clear to me that they do.

[2018-08-04 22:45] iHiD commented on #4148
Thanks for all the details :)

So, as I understand it, there is one real dependency here for Rails, which is **yarn**. That itself has the dependency of Node and other things, but the key thing is Yarn. The README currently [specifies this and links to installation instructions](https://github.com/exercism/website#things-to-install). I believe that following those instructions (at least on mac) wi

[2018-08-04 22:52] iHiD commented on #4148
So I've just read through the trace you posted (super helpful thanks) to try and understand more.

So it seems like you ran the setup script, which warned about the missing `yarn` but didn't stop until after the db migrations had run. And then rerunning those migrations for some reason isn't idempotent.

<img width="648" alt="screen shot 2018-08-04 at 23 48 03" src="https://user-images.githubuserc

[2018-08-04 22:55] bdw429s commented on #4111
I'm a little late here, but I would likely use a Slack team for track maintainers.  I'm in at least 10 slack teams already so it's an everyday part of my workflow.  I manage a lot of open source projects and use Slack as the primary point of support for all of them in the greater CFML community (we have over 2.5K people in the CFML Slack team) as well as small, personal Slack teams with specific c

[2018-08-04 23:00] iHiD commented on #4111
Maybe not for track maintenance, but I think they do for bigger site-wide discussions about tracks. There are lots of ambitious ideas we have that might not want to publicly share but would like to discuss with those people who help maintain the tracks. We might want to explore new syllabus structures or unlocking behaviours with the maintainers without garnering feedback.

For maintainers who wan

[2018-08-05 09:34] Ornataweaver opened #4156 "Enable commenting on community solutions."
can't comment under my solution:
https://exercism.io/tracks/python/exercises/list-ops/solutions/70a00044df934e95b2b17e71d774eccd
can't comment under others' solutions:
https://exercism.io/tracks/python/exercises/list-ops/solutions/95a04d201d6c49f9902bc5f1ef3c722e
I can 'React to this solution' via a box under the solution. But there is no comment button there.
Whereas there is almost the same box,

[2018-08-05 11:01] iHiD opened #4157 "When importing from legacy or independent mode have sepererate restricted queues for core and side exercises."
At the moment, in mentored mode with independent or legacy solutions, you can only request one solution for mentoring. Change this so you can only request one core at at a time *and* one side at a time.

[2018-08-05 11:02] iHiD commented on #4156
Thanks @Ornataweaver. This is coming soon.

[2018-08-05 11:11] NobbZ commented on #4157
And please make it obvious if and which of those solutions are currently under mentoring (or are not mentored at all) from the track dashboard.

[2018-08-05 13:06] macta opened #4158 "Cannot download hello-world when track in beta - get "solution not found" error?"
I'm cross referencing this from https://github.com/exercism/cli/issues/694 as its holding us back from testing our language track.

The pharo track has been moved to "beta" mode in V2 exercism, but when you use the command line client you get an error 'solution not found' even though the configlet linter is fine locally and the config.json looks ok?

e.g.
[code]
I would expect the configlet to fai

[2018-08-05 13:17] NobbZ commented on #4158
As I'm unable to see the pharo-track in my dashboard, and I've also not heard about beta mode before, I have to ask, have you joined the track?

If I try to fetch `hello-world` for the `d` track (which I have not joined), I do get the very same message.

[2018-08-05 13:20] NobbZ opened #4159 "Error message when downloading from a track one hasn't joined is not clear"
Currently when a potential student tries to download from a track he hasn't joined yet, he gets the message "Solution not found", instead he should see an explanation that he needs to join the track before downloading the exercise, as well as a link to the tracks page, such that he can join easily after following the link.

[2018-08-05 13:27] iHiD commented on #4159
Yes. Good point. The API does return this already I believe so I think it's just a CLI change.

[2018-08-05 14:33] Emerentius opened #4160 "mentor: show concept goals of an exercise"
When evaluating a solution, I'd like to be able to quickly check what the goals of an exercise were so I can better judge whether a student has achieved that. Every exercise has a few concept tags attached to it, but they are not visible when mentoring.

It would be nice if I could see them without having to go into the student track view.

[2018-08-05 15:04] macta commented on #4158
Hey thanks - thats exactly what it is.

I think the error message could be better, but this unblocks me - thanks

[2018-08-05 15:04] #4158 closed

[2018-08-05 15:42] kytrinyx commented on #4064
I believe what happened here is that I have previously mentored Ruby exercises (in v1), but am not a mentor on the Ruby track, and therefore am getting 403s on any exercises where I previously mentored.

I'm pretty sure we decided that you can always solutions that you've commented on, but we'll need to make sure that you can't approve anything if you've not chosen to mentor on the track explicitl

[2018-08-05 17:32] kytrinyx commented on #4160
@Emerentius we're currently working on integrator mentor notes into the mentor UI. Actually adding notes for each exercise is a work in progress, of course, and we're crowd-sourcing based on notes from all the mentors.

You can see what the existing notes look like so far:

- Ruby: https://github.com/exercism/mentors/tree/master/tracks/ruby/exercises
- Haskell: https://github.com/exercism/mentors/

[2018-08-05 17:46] kytrinyx commented on #4161
This is going to require some product design discussions.

[2018-08-05 18:00] orenyk opened #4163 "Add a way for users to unpublish solutions"
I was looking for a way to unpublish some of my earlier solutions and couldn't see a way to do that through the website. If such a feature doesn't exist it would be great if it could be considered. Thanks!

[2018-08-05 18:00] kytrinyx commented on #4162
We're going to need to do product discussion around this one. It might be related to https://github.com/exercism/exercism.io/issues/4161

[2018-08-05 19:36] pgaspar opened #4166 "Allow mentors to see discussions they're not a part of"
With recent changes in https://github.com/exercism/website/pull/300 mentors are no longer able to see discussions in solutions they are not explicitly mentoring.

Instead of seeing what other mentors have said about a solution, mentors now see this:

<img width="533" alt="screen shot 2018-08-05 at 20 28 15" src="https://user-images.githubusercontent.com/31735/43689208-b59361c0-98ee-11e8-8778-d04a0

[2018-08-05 19:47] iHiD commented on #4166
Thanks. We'll sort something out. Sorry for the unintended side effect.

[2018-08-05 20:16] pgaspar commented on #4166
I'm amazed at how quickly you're addressing all this stuff. Thank you!

[2018-08-05 20:40] withkittens opened #4167 "Mentors rating statistics or a score table (maybe)"
**Slack context**

![image](https://user-images.githubusercontent.com/5273891/43689775-f06b701c-9907-11e8-9194-cc8079099d79.png)

**Expecting**

[code]

😛

[2018-08-05 20:51] hilary commented on #4167
I think reporting a running average of the active mentors in the track is the most important stat, because I'd like mentors to be focused on their success as a team, first and foremost 😄

Letting mentors know where they fall relative to the team as a whole also strikes me as a good idea, so long as we are careful to design the stat in such a way that it does not encourage gaming the stat. Things l

[2018-08-05 21:25] lathspell opened #4168 "No comment box shown?"
I see lots of comments under other peoples solutions but no input box where I could leave a comment. Is this a bug?

[2018-08-05 21:39] NobbZ commented on #4168
Possible duplicate of #4156.

[2018-08-05 21:43] NobbZ opened #4169 "Phantom comment"
Today I got a notification that a solution of mine was commented and approved by a mentor (no screenshot available), after I clicked one of the notifications I've seen this:

![phantom-comment](https://user-images.githubusercontent.com/58951/43690374-02927bfe-9909-11e8-9db9-bbb14baf4680.png)

The speech bubble does suggest the existence of a comment as well, but I don't see it.

Also it seems as i

[2018-08-05 22:01] iHiD commented on #3850
Fixed by https://github.com/exercism/website/pull/300

[2018-08-05 22:01] #3850 closed

[2018-08-05 22:01] iHiD commented on #4107
Fixed by https://github.com/exercism/website/pull/300

[2018-08-05 22:01] #4107 closed

[2018-08-05 22:02] iHiD commented on #4168
Thanks for reporting. As @NobbZ said, this is a duplicate. It's something that will be added shortly. Thanks :)

[2018-08-05 22:02] #4168 closed

[2018-08-05 22:11] F3PiX commented on #4141
My criminal record is cleared. 🎉

[2018-08-05 22:11] #4141 closed

[2018-08-05 22:54] iHiD commented on #4166
Thanks! :)

[2018-08-05 22:54] #4166 closed

[2018-08-05 22:56] iHiD commented on #4164
@kytrinyx Can I assign this to you and add the `cli` label to it, or is there extra API work you need?

[2018-08-05 23:06] iHiD commented on #4163
@orenyk Thanks for the issue. It's something that's coming soon but we haven't quite got round to yet. I imagine it will land at some point during August :)

[2018-08-05 23:27] hilary opened #4170 "Make state of exercises re: mentoring/approval visible after being in independent mode"
I submitted some of my core exercises for mentoring while in I was in independent mode (I'm trying to leverage my way back to mentored mode on a track). I believe those exercises have been mentored, because I have the option to submit another exercise for mentoring, which was previously disabled until the exercises I currently had submitted were done.

Oh, and no mentor notes show on any of my cor

[2018-08-06 00:25] orenyk commented on #4163
@iHiD is there WIP I could jump in on or a particular way you'd like it implemented. I wouldn't mind taking a stab at it myself if you'd like. Thanks!

[2018-08-06 00:59] mikewalker opened #4171 "Student: updated exercises notification"
I assume that at some point exercises and/or tests will be updated. As a student it would be nice to get notified when exercises that I have submitted are updated. This would allow the student to ensure that their solution conforms to the updated version.

Is this something that is in the works or possible?

[2018-08-06 01:34] gstro opened #4172 "Consider allowing students to view community solutions before mentor approval?"
A recent update to the Exercism Mentored Mode requires students to submit a solution _and_ have it approved by a mentor before being able to "view community solutions." I think this might have unintended implications on students, especially when they get stuck. (NOTE: this issue does not apply to the Independent Mode where solutions _are_ available after first submission.)

@ihid described the rea

[2018-08-06 02:39] kytrinyx opened #4173 "Mentor dashboard has approve button on approved exercises"
I noticed that the buttons have changed. Previously, if I had approved an exercise, it would no longer give me an approve button. Now, however, I'm seeing this:

<img width="435" alt="approve-the-approved" src="https://user-images.githubusercontent.com/276834/43694227-94e87630-98ef-11e8-9a22-fe230f3da179.png">

[2018-08-06 05:24] NobbZ opened #4174 "Should mentors comments are at the bottom of the page on an approved solution."
I am slowly progressing through getting all my legacy solutions mentored.

Yesterday I realized, that after the solution was approved, the comment of the mentor was at the bottom of the page, above that a huge box telling me what I can do next:

1. Complete/Publish my solution
2. Browse community solutions
3. Choose the next exercise

After that, another (lighter) paragraph tells me again to choos

[2018-08-06 06:34] macta opened #4175 "Exercism is downloading solution on beta Pharo track - how to stop it?"
Hi we're in the process of implementing the Pharo track (Smalltalk needs a bit of jiggery to play well with exercism as it doesn't normally use text files) - and we've almost got it there - however when I "download" the hello-world exercise it gives me both the test file and the solution file?

I am confused by this as config.json has a regex for solution_pattern, which appears to work as if you d

[2018-08-06 06:41] macta opened #4176 "Completing a track shows lorem ipsum"
Came across this by chance as our track has only 1 exercise - completing it shows:

Well Done!
You've completed the Pharo Track
lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.

I'm guess this is some text that was intended to be written up? Or is this something track specific that you have to implement

[2018-08-06 06:45] macta opened #4177 "Extra exercises on last core exercise don't appear"
Notice this under possibly artificial conditions, but have a track with 1 core exercise (hello-world) and 1 extra exercise unlocked by hello-world. When I complete hello world, I get a congratulations for finishing the track but the extra exercise doesn't appear?

I wonder if the fact that it thinks I'm finished prevents the extra's appearing?

[2018-08-06 07:11] pranasas opened #4178 "Fresh (V2) solutions marked as legacy (V1?"
After waiting fruitlessly for more than 2 weeks on my Python core track submission I went to Gitter for support.
And indeed the next morning my "Saddle Points" UUID `1d3db1f006aa4b8da2296126859d6e07` got approved... with the comment that it was V1 and thus low priority.

[2018-08-06 07:12] NobbZ commented on #4175
I've taken a look at the Pharo track directly. All files you have there are meant to be downloaded.

You have a testfiles and you have a stub file, what you are missing is an example file, which then is not to be downloaded. It is usually named `example.*`.

[2018-08-06 07:43] macta commented on #4175
Hi thanks - how does it decide what the example is called? I was hoping that the config.json specifying that the solution is <exercise>.class.st would steer it towards considering that as the example solution?

Its confusing to me - that configlet calls this a solution which you must provide, and which I wouldn't expect to get downloaded?

In Pharo/Smalltalk - where TDD originated, you don't provi

[2018-08-06 07:49] macta opened #4179 "Strong/Bold on the new site is indistiguishable from normal text"
The stylesheet for exercism makes it very hard to see bold (`<strong>`) text.

Look at https://exercism.io/tracks/pharo/installation where it says NOTE: and Did you know - those are supposed to be bold, but in chrome I can hardly tell the difference.

I would expect them to be black like a Title (e.g. the name of an exercise).

This makes it difficult for us to highlight important information for

[2018-08-06 07:53] NobbZ commented on #4175
I do see what you mean, it seems as if what is called `solution` by the `configlet` is actually called `example` everywhere else. I do assume, that the server does not read this key, but uses hardcoded `[Ee]xample` pattern (or uses a different key).

I'm not proficient in the websites codebase to quickly find which of both is true...

[2018-08-06 07:57] NobbZ commented on #4175
Okay, well, at least it is read from config:

https://github.com/exercism/website/blob/d41dbeb4dadc814329dfc0c6ab147adab881061d/app/models/git/exercism_repo.rb#L65-L68

And then it seems to be used here, to keep all files that match the regexp?

https://github.com/exercism/website/blob/7428e2138a1e52a56e2f2dbe50a06327a15a292a/app/models/git/exercise_reader.rb#L35-L48

Now I'm totally confused as w

[2018-08-06 07:57] macta commented on #4175
It seems like I'm not going crazy then... hopefully someone can wade in and help me understand if its a bug, or if there is something i can configure better.

Meanwhile, I can't seem to try another example as the site thinks I've completed the track even though I've added a new core exercise.

[2018-08-06 08:02] macta opened #4180 "Completing a track and then adding a new exercise doesn't let you continue"
This might be artificial, but when developing a track - if you finish all the existing exercises while testing, if you then add another exercise you aren't able to try it as exercism says congratulations you are done.

The implication is that if you open a track but are still adding exercises, users might overtake you and get stuck?

My test case was just having a hello-world and an unlockable bas

[2018-08-06 08:04] macta opened #4181 "Track developers need an easy way to reset themselves"
When testing a track, you need an easy way to reset everything and start again so you can see how things unlock and test the flow through the exercises.

Leaving a track doesn't seem to do this (will submit a new issue on this)

[2018-08-06 08:06] macta opened #4182 "Leaving a track doesn't reset everything like it warns"
When you opt to leave a track, it warns you that your solutions will be deleted.

If you then join the track again - it prompts you with Congratulations, you've completed the track (assuming you did) - this means you can't start all over again.

I would expect it to also reset your progress state? (alternatively - give dev's a better way to test tracks and let them reset things themselves)

[2018-08-06 09:05] jackhughesweb commented on #4176
Duplicate of #3839

[2018-08-06 09:12] jackhughesweb commented on #4182
For reference: leaving a track currently will just archive the track

https://github.com/exercism/website/blob/e4623107e9e874cd8a1f432bd4260bcb96d82af7/app/controllers/my/user_tracks_controller.rb#L39

[2018-08-06 09:13] Jarvvski commented on #4153
@guygastineau I'm not so sure. Considering I saw that it created a `.config/` sub directory (with .config being a very common place to store such things) it makes perfect sense that someone would just change that file.

It works fine, it's just I expected it to trim the trailing `/` off the end of the path

[2018-08-06 09:13] jackhughesweb commented on #4181
Is this a duplicate of #4182 or a request for new track development tools?

[2018-08-06 09:14] Jarvvski commented on #4154
Certainly, as I'm sure many others would like to use whatever editor/IDE they use!

[2018-08-06 10:14] macta commented on #4182
The warning you get in the UI makes it sound pretty final... not archive.

Should you say- it will archive, but then what does that mean?

If I enjoyed doing the track or came back after 6 months having forgotten what I did - is there any way for me to start again?

I would think that leaving - getting a msg that it resets, and then coming back would let me start at the beginning again. It doesn't

[2018-08-06 10:15] iHiD commented on #4136
This is my bad. I screwed up your PR someone @kntsoriano. Do you have the original branch locally still? Ping me on Slack about this :)

[2018-08-06 10:16] iHiD commented on #4182
Duplicate of https://github.com/exercism/exercism.io/issues/4136

It should delete them. I've just messed up a PR rebase at some point and deleted the commit that does that.

[2018-08-06 10:16] macta commented on #4181
It is kind of - but I think the intent is different - for dev's I want an easy way to reset and start again cleanly.

If leaving and then coming back did do that - then I guess that would work.

Although, having a command line tool to reset - would make automated testing a possiblity?

[2018-08-06 10:16] #4182 closed

[2018-08-06 10:17] macta commented on #4181
Is there a temporary workaround where I can get may status manually reset for my Pharo track? This combined with what looks like a bug in completing and being stuck in completion status has kind of put me in limbo

[2018-08-06 10:41] iHiD commented on #4182
Signing up as fake users is the easiest way to test it without being
blocked by me. I imagine it can quickly be sorted whenever karlo comes
online and resubmits the pr I messed up.

On Mon, 6 Aug 2018, 11:20 Tim Mackinnon, <notifications@github.com> wrote:

[2018-08-06 11:16] #4176 closed

[2018-08-06 11:50] mawis commented on #4004
For me both (fixed week and rolling 7 days) would work. I don't feel "done" after 20 exercises. But I think going with the rolling 7 days would help solving the problem that when a week starts is a very cultural thing. I don't think we could ever agree on a common week day to be the correct one.

[2018-08-06 11:55] petertseng commented on #4110
It sounds like there may be a justifiable case for having a track-independent list of topics to be associated with each exercise.

Of course, tracks will may want to add their own track-specific topics; that is fine.

One may also wonder whether tracks may want to remove a track-independent topic. I have not *yet* thought of a exercise/topic/track triplet where removal is desired.

But track maint

[2018-08-06 12:07] petertseng commented on #4118
When such a page is created, please replace the link in https://github.com/exercism/docs/blob/master/language-tracks/exercises/anatomy/test-suites.md with the correct link (You will see it currently links to http://exercism.io/languages/vimscript/todo but the link target does not serve the stated purpose of finding other tracks that implemented a given exercise)

[2018-08-06 12:38] petertseng opened #4183 "Exercises with non-default capitalisation/punctuation in title should retain them (but currently don't)"
Currently, an `exercise-slug` is converted to an `Exercise Slug` (capitalise only the first letter of each hyphenated word) when displaying on e.g. https://exercism.io/my/tracks/csharp (a useful track to look at for its high number of implemented exercises).

This usually works, but there are better alternatives for exercises such as `rna-transcription` (should be "RNA Transcription" instead of "R

[2018-08-06 13:03] macta commented on #4181
For now I've create a bogus second user - but waiting on the bug fix so I don't need to create a 3rd and 4th user

[2018-08-06 13:10] macta commented on #4175
It looks like the ruby track gets around this by stuffing the solution in a .meta/solutions directory and then configuring the solutions regex to point to that .meta/solutions dir.

This is confusing though - either you have a regex's for solutions and ignored or you don't - it doesn't seem to honour them

[2018-08-06 13:34] rpottsoh commented on #4181
Possible dupe of #4079.

[2018-08-06 13:47] guygastineau commented on #4153
I agree it is common for computer users to edit files in a `.config/` directory.
I am, however, sure that the cli is expecting the changes to be made through its options.
This is evidenced by it not formatting your alteration of the configuration file.

I think it might be reasonable for you to request that the cli remove trailing `/` from the path in the config.
That being said, almost every tool

[2018-08-06 14:31] NobbZ commented on #4153
If the filepath prefix function mentioned in exercism/cli#637 works as expected, a trailing slash in the config won't be an issue anymore.

[2018-08-06 14:32] guygastineau commented on #4153
Thank you @NobbZ

[2018-08-06 14:47] cmccandless commented on #4181
Python track maintainer here. This would be very helpful.

[2018-08-06 14:53] NobbZ commented on #4181
I'm not sure if I want to reset my own progress on a regular base to test things on my track.

I'd prefer to impersonate a testuser and then test with his dataset.

[2018-08-06 14:54] cmccandless opened #4184 "New core exercise for track does not unlock if all core exercises are already completed."
The `rest-api` exercise was recently added to the Python track. I had already submitted solutions for all existing core exercises, but when the new exercise was added, it is not unlocked for me.

Screenshot:

![screenshot of issue](https://github.com/cmccandless/legendary-palm-tree/raw/master/exercism_io_core_not_unlocked.png)

Possibly related to #4177

[2018-08-06 14:56] cmccandless commented on #4181
@NobbZ why not a combination approach? Implement the reset feature for maintainers/developers, and use a single dummy account for testing, which can be reset any number of times without altering your own personal progress.

[2018-08-06 14:58] cmccandless commented on #4184
Closing as duplicate of #4180

[2018-08-06 14:58] #4184 closed

[2018-08-06 14:58] cmccandless commented on #4180
Confirmed.

The `rest-api` exercise was recently added to the Python track. I had already submitted solutions for all existing core exercises, but when the new exercise was added, it is not unlocked for me.

Screenshot:

![screenshot of issue](https://github.com/cmccandless/legendary-palm-tree/raw/master/exercism_io_core_not_unlocked.png)

Possibly related to #4177

[2018-08-06 15:03] ErikSchierboom opened #4185 "Outdated "Submitting Incomplete Solutions" section in README"
I've checked a couple of README files for various tracks, and it appears that multiple track still have this text appended to each README:

While it is indeed possible to submit incomplete solutions, I don't believe you then get to see how other have completed the exercise. I believe this should be updated to reflect the current state.

[2018-08-06 15:08] cmccandless commented on #4124
It appears that deprecated exercises are being included in the total for the track overview.

[2018-08-06 15:13] cmccandless commented on #4124
On a related note: it appears that solutions for deprecated exercises are being included in the `completed` total for track progression:

Screenshot:

![screenshot of total completed exercises including deprecated](https://github.com/cmccandless/legendary-palm-tree/raw/master/exercism_track_progression_deprecated_submissions.png)

Also, some Python track statistics for reference:
Total: 120
Forego

[2018-08-06 15:19] JerryFireman commented on #4143
Thanks very much for your help Ryan and Norbert! Norbert, thanks for the tip on running the exercises outside the go workspace. I will try to figure out why that is not working yet for me.

[2018-08-06 15:19] #4143 closed

[2018-08-06 15:25] rpottsoh commented on #4185
I think this is the same as #4076.

[2018-08-06 15:32] ErikSchierboom commented on #4185
Correct. My search fu was weak.

[2018-08-06 15:32] #4185 closed

[2018-08-06 18:12] rachelhornung commented on #4110
I don't know, but isn't a little force sometimes helpful? If you can always avoid math, you'll never get comfortable with it. I would have avoided many of the text formatting exercises. But that doesn't help me learn new concepts...
So, I agree that consistent math tagging would be helpful. But I wouldn't really want to see all math moved out of the core exercises.

[2018-08-06 18:31] ashleygwilliams commented on #4110
Re math exercises: I think it really depends on the goals of exercism. When I teach Rust, I have plenty to teach and very very little time. I can teach all the Rust syntax and concepts I would need to without touching on Math at all. In fact, I spend all of my days as a language and dev tools developer not doing any explicit math at all. Sometimes I bring math in, because it is fun and often usefu

[2018-08-06 19:33] petertseng commented on #4110
It looks like my comments have transcended the math topic. I will take my comments else where. Thank you.

[2018-08-06 19:35] petertseng opened #4186 "Should some exercises have track-independent topics? If so, how?"
In https://github.com/exercism/exercism.io/issues/4110, it's decided that there are some exercises where *all implementing tracks* should have the `math` topic for those exercises.

How will this be maintained going forward? Suppose that a contributor now adds the affine-cipher to a track that didn't have it. Who or what (if anything) will tell that contributor that `math` should be one of its top

[2018-08-06 19:35] petertseng commented on #4186
It sounds like there may be a justifiable case for having a track-independent list of topics to be associated with each exercise.

Of course, tracks will may want to add their own track-specific topics; that is fine.

One may also wonder whether tracks may want to remove a track-independent topic. I have not yet thought of a exercise/topic/track triplet where removal is desired.

But track maintai

[2018-08-06 19:48] rpottsoh commented on #4186
@rpottsoh: [said](https://github.com/exercism/exercism.io/issues/4110#issuecomment-410418472);

@kytrinyx  [said](https://github.com/exercism/exercism.io/issues/4110#issuecomment-410454838):

[2018-08-06 19:50] macta commented on #4181
Hadn’t occurred to me that it might be useful to keep my personal track progress intact - so yes I would want to be able reset a second test account at will.

[2018-08-06 20:13] kytrinyx commented on #4110
It is, yes, and for concepts like munging strings or bitwise operations I would definitely consider it relevant to Exercism. Math, on the other hand (as @ashleygwilliams so elegantly describes above) is orthogonal to the goal of fluency in the basics of a programming language.

I'd like to keep it available for the folks who enjoy the deep dive, or for folks who want to challenge themselves, but i

[2018-08-06 20:16] macta opened #4187 "exercism client doesn't output via stdout or stderr"
If you want to call exercism via an exec command and pipe its output to somewhere you can check it doesn't work as it exercism doesn't seem to use the normal stdout or stderr streams?

e.g. exercism submit hello-world/Hello.st > out.txt

doesn't give you any output into out.txt, it just writes to the screen directly.

for a cli executable this is not very standard and limits how you can use the cl

[2018-08-06 20:41] NobbZ commented on #4187
Most of the outputs are designed with scriptability in mind.

So the download command does print everything to `stderr` but the path, its printed to `stdout`, this way, we can do `cd $(exercism download …)` or `atom $(exercism download …)` and it will change the directory accordingly or open atom in that directory.

For the submit command though, there is currently no output to stdout.

But maybe

[2018-08-06 21:07] NobbZ commented on #4187
PS: If you want the combined output in a textfile, you need to `exercism … 2>&1 > output.txt`.

[2018-08-06 21:22] #4173 closed

[2018-08-06 21:22] NobbZ opened #4188 "markdown input box treats `---` as start of an enumeration"
when I want to set a horizontal ruler in a comment via putting at least three dashes on a single line (`---`) and hit enter thereafter to get into a new line, then the box starts the newline with a dash and a space (`- `).

The latter is equivalent to `* ` in markdown and marks a bulletpoint in an enumeration.

[2018-08-06 21:57] macta opened #4189 "new Pharo track can't seem to create new exercises to test with? (stuck at 1)"
I thought there was a problem adding new exercises after a user had completed everything (it just says success and never lets you continue) - however I created a new user and it just shows 1 exercise available even though there are 3 in the config.json?

No matter what I do, I can't seem to get it to recognise the new exercises? the configlet linter is recognising them in travis - so why doesn't e

[2018-08-06 22:05] iHiD commented on #4189
@kntsoriano Could you have a look at this pls?

[2018-08-06 22:29] budmc29 opened #4190 "Mentor url redirect"
If you visit `https://exercism.io/mentor/` you get a `404`.

It might be better to redirect to `https://exercism.io/mentor/dashboard`.

[2018-08-07 04:30] texastoland commented on #2817
Still no?

[2018-08-07 04:59] guygastineau commented on #4171
That's a good question for a feature that would be amazing to have.

I think many tracks are lacking a system for keeping track of the test versions currently, and this could be a huge roadblock for test update notifications.

Perhaps there is a way to do this by having a standardized location across tracks for keeping track of version information.

We have a solution for that in bash and Ruby has

[2018-08-07 05:27] guygastineau commented on #4153
@Jarvvski

Have you had a chance to upgrade the cli and see if it is fixed for this issue?

[2018-08-07 05:37] NobbZ commented on #4171
In theory, this place is called “git history”, and it should be easy to discover if the testfiles of an exercise have changed since the commit SHA thats in the database for his solution.

The problem with this is, that after a student has downloaded an exercise for the first time, it will be fixed to exactly that SHA forever. The student will not be able to update the tests at all.

At least this

[2018-08-07 09:11] iHiD opened #4191 "ActiveRecord::StatementInvalid in my/user_tracks#leave"
## Error in Exercism V2

**ActiveRecord::StatementInvalid** in **my/user_tracks#leave**
Mysql2::Error: Cannot delete or update a parent row: a foreign key constraint fails (`exercism`.`reactions`, CONSTRAINT `fk_rails_51c7d8b8ad` FOREIGN KEY (`solution_id`) REFERENCES `solutions` (`id`)): DELETE FROM `solutions` WHERE `solutions`.`id` = 24699

[View on Bugsnag](https://app.bugsnag.com/exercism/exe

[2018-08-07 09:31] jackhughesweb commented on #4152
My local environment is sending email confirmations after signup, but not for re-sending the confirmation emails:
[code]
There are a couple of empty methods in the confirmations controller: https://github.com/exercism/website/blob/5f785236ca46cc30534b1875c693c8d899236963/app/controllers/confirmations_controller.rb#L4

Commenting out the `create` and `after_resending_confirmation_instructions_path_

[2018-08-07 10:10] uzilan opened #4192 "Comment textarea does not get cleared when approving in preview mode"
When I preview my comment and then press `Approve and comment` then the comment text area does not get cleared.

[2018-08-07 10:12] iHiD commented on #4152
@jackhughesweb Me neither. Want to submit a PR with them working? Could you then check the flow for a fake user in production pls to ensure you get both things.

[2018-08-07 10:58] Jarvvski commented on #4153
@guygastineau, @NobbZ has the CLI been updated to use that?

I last upgraded on Saturday

[2018-08-07 11:04] iHiD commented on #2817
Nope, but if you want your account deleted you can email support@exercism.io and we'll action it.

[2018-08-07 11:17] iHiD opened #4193 "ActiveRecord::RecordInvalid in git:sync"
## Error in Exercism V2

**ActiveRecord::RecordInvalid** in **git:sync**
Validation failed: Name can't be blank

[View on Bugsnag](https://app.bugsnag.com/exercism/exercism-v2/errors/5b6553cc15318500185e84ce?event_id=5b697f530028d338ab390000&i=gh&m=ci)

## Stacktrace

    app/services/git/syncs_mentors.rb:48 - block in upsert_mentor!
    app/services/git/syncs_mentors.rb:40 - tap
    app/services/

[2018-08-07 11:30] withkittens opened #4194 "Allow to download the solution before deciding to mentor"
**Slack context**

![image](https://user-images.githubusercontent.com/5273891/43773430-5e9c84da-9a4e-11e8-943a-9a81bcf09b04.png)

Maybe something like this?

![image](https://user-images.githubusercontent.com/5273891/43773450-6de76888-9a4e-11e8-8870-c636602f803e.png)

[2018-08-07 12:36] #4152 closed

[2018-08-07 12:38] barnzdan opened #4195 "Prior to the new site there were teams"
It seems that teams were removed after moving to the new site. This was a feature that was quite beneficial to our dev team. Were these removed for a reason?

[2018-08-07 12:40] iHiD commented on #4195
Duplicate of https://github.com/exercism/exercism.io/issues/3815 Your question is answered there :)

[2018-08-07 12:40] #4195 closed

[2018-08-07 13:10] fyi2 opened #4196 "Trouble submitting solution"
I am struggling to submit my answers to Exercism, I am on the Javascript track. I did the hello world challenge ok. Tried Leap year, from the CLI it says my submit was successful but does not show it as done in the system. Any ideas?

[2018-08-07 13:15] NobbZ commented on #4196
Is it submitted? Can you access the submitted code via the web interface?

If so, there should be a box telling you that you get mentored soon, and as soon as you got mentored and the mentor approved your solution, you can complete it.

If though your solution isn't even accessible via the web interface, please tell us something more:

[code]

Also try submitting again and show us the output.

[2018-08-07 13:15] jsplaine opened #4197 "Workflow bug or no available mentors."
Greetings, I have several ecmascript tasks completed which have not been mentored in 2 or 3 weeks now.  So I'm blocked from continuing on in ecmascript.  One reason why I suspect this to be some kind of bug is that, a week or so ago, these tasks each had this red text above the description:

However, there were no other unmentored solutions and the red status text persisted for about a week.  Seem

[2018-08-07 13:18] NobbZ commented on #4153
It has not. Just look at https://github.com/exercism/cli/releases, there you can check for the date and version number of the latest release.

Also the issue I linked to is still open, so you can safely assume that **that** thing hasn't been fixed so far, regardless if there was a release or not.

And, last but not least, `exercism upgrade` is able to tell you whether or not a new release has happ

[2018-08-07 13:24] #3964 closed, assigned to jackhughesweb

[2018-08-07 13:26] fyi2 commented on #4196
➜  Exercism git:(master) ✗ cat javascript/leap/.solution.json
{"track":"javascript","exercise":"leap","id":"45ef5bc1935041419d5d8e6a376d687b","url":"https://exercism.io/my/solutions/45ef5bc1935041419d5d8e6a376d687b","handle":"cdrainxv","is_requester":true,"auto_approve":false}%

➜  Exercism git:(master) ✗ exercism troubleshoot

Troubleshooting Information
===========================

Version
-----

[2018-08-07 13:26] iHiD commented on #4197
Hey @jsplaine - thanks for the nicely written issue and sorry you've had a bit of a negative experience. I'll dig into your track for you now and see if I can find anything odd.

One thing I am aware of is that we're in the process of merging EMCA and Javascript, and that as of now most mentors are doing JavaScript because that's about to become the canonical one (with the EMCA exercises overwriti

[2018-08-07 13:31] #4196 closed

[2018-08-07 13:31] iHiD commented on #4197
@jsplaine So looking at your track, you're in mentored mode and all your exercises are ready to be mentored, so I think it's just a long queue, probably caused by the upcoming merging of EMCA and JavaScript and most mentors focusing on JS. @NobbZ has pinged the ECMAScript mentors to ask if they can prioritise your solutions.

[2018-08-07 13:31] NobbZ commented on #4196
And it is really not accessible using the link?

Can you perhaps provide a screenshot of your tracks dashboard and of whatever you see after clicking the `leap`-card?

[2018-08-07 13:39] iHiD commented on #4189
See https://exercism-team.slack.com/archives/GC3K95MRR/p1533648701000447

[2018-08-07 13:39] iHiD commented on #4189
Maybe related to https://github.com/exercism/exercism.io/issues/4193 (no idea but it might be)

[2018-08-07 13:57] nathanbwright opened #4198 "Issue with Elm syntax highlighting"
I don't know if this is a known issue or not, but I'm not seeing any syntax highlighting for Elm.

![screen shot 2018-08-07 at 7 53 55 am](https://user-images.githubusercontent.com/4740018/43780302-7a4d7d6a-9a17-11e8-8505-121b2161c6ee.png)

[2018-08-07 13:57] iHiD commented on #4103
Maybe we use https://github.com/bblimke/webmock

And add this to the top of `test_helper.rb`:

[code]

?

[2018-08-07 14:03] iHiD commented on #3846
Have I fixed this?

[2018-08-07 14:04] tychota opened #4199 "Track progress bar should reflect unusually ordered exercises"
When I'm looking at https://exercism.io/my/solutions/ca1740aadcea45beaf97623ccdc87568
I see:

![image](https://user-images.githubusercontent.com/13785185/43780540-1d887b7c-9a5b-11e8-8b5e-65b2e4851a83.png)

I find the progress rather confusing:
- first round is green and full
- next two rounds are disabled
- fourth round is green border and white inside

As a new user I don't catch up what that mea

[2018-08-07 14:05] NobbZ commented on #3846
I have no clue, I can not find that a `robot-simulator` in any of the filters now...

[2018-08-07 14:06] NobbZ commented on #4199
Can you please tell which tracks you made those screenshots from?

[2018-08-07 14:08] iHiD commented on #4199
And whether these are new tracks or tracks that have been around for a while pls?

[2018-08-07 14:09] iHiD commented on #4199
Two things could probably cause this:
1. A legacy track (where exercises appear out of order)
2. A normal track where the exercises have been reordered by the maintainers.

@jackhughesweb Could you have a think about how best to solve this pls. Ping me on Slack if you want to discuss as it might require some extra knowledge.

[2018-08-07 14:20] guygastineau commented on #4171
@NobbZ

I have heard what you are saying before.

It confuses me a little bit, because as I've been updating exercises for the bash track other students and I have been able to get the new tests with a simple `exercism download` for the solution.

Do you know how old your information is?

[2018-08-07 14:25] iHiD commented on #4194
@withkittens I'm not sure why looking at the code on the website isn't enough to decide whether to mentor it or not. Could you expand further pls? :)

[2018-08-07 14:29] NobbZ commented on #4194
If its spaghetti and passes the tests there is a lot more initial mentoring to do, compared to its not passing the tests...

But yes, I do usually decide on how the code looks like. And so far nobody has answered my question if manually building the command would work.

[2018-08-07 14:40] Jarvvski commented on #4153
Ah, its the cli repo. Sorry I didn't see any releases here and just didn't give it a thought!

[2018-08-07 14:43] iHiD commented on #4194
I didn't realise that was a question for me. Yes - manually building it works.

[2018-08-07 14:44] iHiD commented on #4192
@jackhughesweb There should be a system test for this. There is for some cases. Could you fix it pls.

[2018-08-07 14:54] NobbZ commented on #4194
No, it wasn't, it's originally to @skade, but he didn't answer in slack, nor did someone here.

But we should show the copy button, and if it's just to make sure that no mentor claims, downloads and then decides to not mentor, but it's not available to others.

Another problem many have Raised so far is poor readability on the webpage, because of the display width and the light background. I prefe

[2018-08-07 14:59] iHiD commented on #4194
New issue pls? :)

[2018-08-07 15:05] NobbZ opened #4200 "Dark theme (for code at least)"
Some people prefer to read light fonts on dark background when using active display media (meaning self emitting light, instead of reflecting environmental light like paper).

This might especially true for code.

Therefore a preference/toggle to switch themes for the site or code-view at least would be a nice addition (REF: https://github.com/exercism/exercism.io/issues/4194#issuecomment-41108567

[2018-08-07 15:25] rpottsoh commented on #4183
Are the .yml files being utilized anywhere?

[2018-08-07 15:28] iHiD commented on #4183
Not by the website to my knowledge

[2018-08-07 16:02] rpottsoh commented on #4183
The site is pulling the blurb displayed for each core exercise from the first line of the description.md I think then?  The blurb is also available in the .yml files.

In April of '17 exercism/problem-specifications#767 made the description.md self-sufficient in regards to conveying to the reader the intended goal of the exercise (the blurb).

I am not sure adding "title" to config.json is the bes

[2018-08-07 16:08] grantwinney opened #4201 "The "mentor discussion" textbox tries to add bullet points after a horizontal rule"
When I use a horizontal rule to separate parts of my message in the "mentor discussion" textbox, after I type three dashes and hit enter, it auto-inserts a hyphen on each subsequent line, so that I end up with this:

[code]

It makes sense that if you're building a list, when you hit enter it's convenient to get an auto-inserted hyphen so you can just keep adding to the list.

But if several dashe

[2018-08-07 17:25] NobbZ commented on #4201
Duplicate of #4188

[2018-08-07 17:52] mikewalker commented on #4171
It sounds like the student is stuck with the version of the exercises that they have solved. Even if we can't update it would be nice if we had a way easily determine which exercises have been updated. The student could perhaps force the download of the new version, and merge there old solution into the new exercise if it stuff fits.

What I am thinking is that we could put some of the updating pr

[2018-08-07 18:43] kntsoriano commented on #4189
@macta The Pharo track should have three exercises now. Could you check if this is correct?

[2018-08-07 18:56] petertseng commented on #4183
I guess since it's a one-time investment it will be *bearable* if display titles go in config.json, but it will be *unfortunate* because of duplication. Unlike `unlocked_by` and `difficulty`, which could vary per track, it seems that not many tracks would want a differing title for an exercise.

I see that there are clear advantages if a track can stand by itself and not depend on any external sou

[2018-08-07 18:59] petertseng commented on #4183
if I may make a recommendation. Since the default title works for many exercises, it could be useful to have it be optional, and it would be only be added if a non-default capitalisation is needed.

[2018-08-07 19:31] #4201 closed

[2018-08-07 20:10] macta commented on #4189
Yes - that’s fixed it! Thnx

[2018-08-07 20:35] PatrickMcSweeny commented on #3969
It seems like [this commit](https://github.com/exercism/website/commit/54a57284d9f36102c429a6874c35212852171e91) would take care of this issue. Is there anything else that would need to be added?

[2018-08-07 20:44] PatrickMcSweeny commented on #4014
It appears that this issue was resolved by [this commit](https://github.com/exercism/website/commit/e9500bc485d17feb778b5e4c4eb3b04b0db0d9b3) and she be closed.

[2018-08-07 21:48] kytrinyx commented on #4110
@rachelhornung My impression is that a lot of jargon-y exercises are intimidating, no matter the domain. For most of them, I'd love to find a way to rephrase them so that they're not full of jargon, as that can help reduce the intimidation. For the math ones, the first step is just to get them out of the way (they're apparently very intimidating, especially when the readme is full of formula-looki

[2018-08-08 00:02] PatrickMcSweeny opened #4202 "Solution model test not working as intended"
The [first test](https://github.com/exercism/website/blob/master/test/models/solution_test.rb#L4) in the solution model test file passes even if I change the instructions method on the Git::Exercise class to return random text. I came across this while working on a [pull request](https://github.com/exercism/website/pull/321) which I expected would break that test but the test kept passing despite

[2018-08-08 00:02] #4014 closed

[2018-08-08 00:35] LoganDark opened #4203 "Web editor"
I have read:
- #494
- #2191

---

This idea was first thrown around YEARS ago. Apparently, your solution was to make the tool easier to install. Sure, it's easy to install. However, the current process of doing an Exercism exercise is still:

- Download the Exercism toolkit
- Run a command in the terminal to download it
- Open an editor
- Find the exercise file in your editor (this can be surprisi

[2018-08-08 01:56] petertseng commented on #4183
EBWODP:

I do not currently have a solution to offer that meets both these needs (a free-standing track, while not having duplication).

[2018-08-08 03:55] strickinato commented on #4001
🎉 I got this working and tested 🎉

Even though it's temporary, it should be a nice addition!

[2018-08-08 03:57] aliklynnlyle commented on #4133
Ok just copy which command?

[2018-08-08 05:25] LoganDark commented on #4203
Fine, eliminate one step. There's still the hassle of running the commands, setting up your editor for the project, etc.

I understand some people prefer their local editor despite the tedious process of setting everything up, but there is not even an _option_ for those who prefer to click a button, edit code immediately, hit submit and be done.

[2018-08-08 05:25] NobbZ commented on #4133
That one in the error message you have posted. It's the very last line of your post.

[code]

[2018-08-08 05:28] cross5464 commented on #1778
i just changed mine. it's "exercism configure -w C:\your\work\directory" i use windows 64-bit

[2018-08-08 05:38] NobbZ commented on #4203
Well another problem were that its close to impossible to maintain the necessary infrastructure for more than 50 tracks to run the tests online.

It was said once we have an average of 1500 submissions a day. If those were all done in a web editor and tested online, that would result in much more than 1500 testruns, as a student usually runs the tests multiple times before he finishes his assignme

[2018-08-08 05:40] LoganDark commented on #4203
~kthen~

Anyway, yes, this would likely take a long time and lots of work. This is a suggestion, not an order. Things can take time.

The platform wouldn't matter because the tests, compiling, etc. would be done on the server.

[2018-08-08 05:46] NobbZ commented on #4203
I'm not sure what you mean by “~kthen~”.

And I never understood this as an order, I just explained why things are as they are and wont be changed. During the last one or two month there was already a similar question, which was turned down with words similar like these: “this is how exercism works, if you do not like it there are alternatives that have a web ui, move on and use those”, but I can

[2018-08-08 05:47] LoganDark commented on #4203
"~kthen~" means you made a typo. :p

https://www.lmgtfy.com/?q=macos+vps

[2018-08-08 05:47] #4203 closed

[2018-08-08 10:59] nicolechalmers commented on #4001
Thank you!

[2018-08-08 11:27] iHiD commented on #4202
Hmm, so that test is testing that solution proxies to Git::Exercise correctly, it's not testing the functionality of Git::Exercise itself. The exercism is actively mocked to avoid testing that. I'm not sure this test is broken, but we should both have an integration test that tests the whole flow somewhere and a test within Git::Exercise. I can't remember if those are there (I didn't write this bi

[2018-08-08 11:37] iHiD commented on #4203
@LoganDark Thanks for opening this issue and your suggestions. As @NobbZ said, this isn't something that's going to happen in the short term as it is immensely challenging from technical, logistic and financial POVs.

If you're going to contribute to Exercism (including opening issues here) can you please familiarise yourself with our [Code of Conduct](https://exercism.io/code-of-conduct). Things

[2018-08-08 11:46] grantwinney commented on #3890
I'm not sure if this is related or not, but it seems to be in the same arena.

I posted some additional C# tests to a student like this:

[code]

And it rendered like this, removing all HTML tags. Actually, it's almost like it rendered the HTML tags (like the unordered list in the last "test") but then displayed everything as plaintext anyway.

[code]

[2018-08-08 12:18] ZapAnton opened #4204 "Exercise README is not updated"
As of exercism/rust#586 the commands to download the exercises have been updated for the new version
of CLI in the `luhn-from` and `luhn-trait` exercises of the Rust track.

Ten days later and it seems like website still renders the old version:

![image](https://user-images.githubusercontent.com/8658767/43836492-30fb6c82-9b1e-11e8-8c5c-8df1065ddfc6.png)

[2018-08-08 12:59] LoganDark commented on #4203
I understand that. If you read my posts, you would know that.

Thank you for your feedback.

Now please leave me alone.

[2018-08-08 13:15] iHiD commented on #4001
Brilliant. You're great! So although it's temporary, we'll definitely keep the general code and move it into another place so it **will** persist :)

[2018-08-08 17:51] macta opened #4205 "New lessons and bonus appear but can’t access any of them"
Since reporting #4180, changes were made that made new lessons appear in the total count, as well as there names, however when I click on them, no details appear to let me download them in the Pharo track. The config.json seems correct?

[2018-08-08 19:13] hilary opened #4206 "community solutions: retrieve other solutions by the same author"
In v1, if I recall correctly, when looking at the equivalent of community solutions, I could then select the author and navigate (somehow) to other solutions by the same author.

In v2, I can't do anything with the author info on a community solution page. It doesn't link to the author profile, etc.

Please link the author info on community solutions to the author's profile so we can navigate by a

[2018-08-08 19:43] macta commented on #4205
I just noticed that text on the page where I have completed hello-world reads strangely - is it missing a number?

“Carry on coding. You have that you have not yet completed on this track. Why not try a new challenge?

Choose next exercise”

[2018-08-08 20:03] guygastineau commented on #4171
I just checked to make sure.  I had an old version of the anagram_test.sh for the bash track.
I ran `exercism download -t bash -e anagram`
I got the new test in my directory.

I need to rework this exercise anyway.  After that I will submit and see if the test updates for me on the website too.  As of now without submitting again the test on the website looks like the old one for me.

[2018-08-08 20:11] iHiD commented on #4206
Author information should appear if the person has created a profile and
doesn't if they haven't (as there's no page to link to in V2). Are you
seeing missing links when people have profiles?

On Wed, 8 Aug 2018, 21:13 Hilary (hilz) Holz, <notifications@github.com>
wrote:

[2018-08-08 20:45] guygastineau commented on #4171
I submitted my new solution and I can now confirm that the original test downloaded by a student will be the one that appears on the website with their solution.
The one that is downloaded is, however, the newest version anytime someone runs:
- `exercism download -t <track> -s <exercise_slug>`

[2018-08-08 21:31] Rachc opened #4207 "Translating Exercism to other languages"
Hello

I was talking to some friends (@woliveiras and @laurenmariaferreira) and we would love to translate exercism to pt-br. We want to reach a larger audience that does not speak English (:
I'm opening this issue to know if I can do this and, if it's positive, to getter some help

Thank you

[2018-08-09 00:43] kytrinyx opened #4208 "Show copyable submit command for in-progress exercises"
I was mentoring someone who was new to Exercism recently. I suggested some changes, asked a few questions, and they posted a comment containing a new version of the code. When I suggested they submit that as a new iteration they asked me what the command to submit was.

It would be great if the command to submit a new iteration was as easily accessible as the command to submit the first iteration.

[2018-08-09 05:06] hilary commented on #4206
I am indeed. Here's one of mine (I have a v2 profile):

https://exercism.io/tracks/go/exercises/secret-handshake/solutions/df5e7d2a36584b45856eaff845bb2876

and one of sebito91's (he has a v2 profile):

https://exercism.io/tracks/go/exercises/space-age/solutions/8924743bf0f2444c88759c5ca143aeb8

Those were both published before the switch to v2, so here's one that I published since switching to v2

[2018-08-09 06:08] ErikSchierboom commented on #4181
Sounds good! I definitely don't want to reset my own progress :)

[2018-08-09 08:15] #4001 closed

[2018-08-09 11:51] macta commented on #4205
How do we get traction on some of these things - the Exercism platform seems quite flakey and there aren't any obvious tools to help me debug it?

Possibly this is relate to beta tracks (although I think beta just means its not visible in the main menu and should work the same?)

[2018-08-09 12:34] macta commented on #4205
I have found a workaround (that now works) - if you leave the track (and lose your progress) when you come back in it now unlocks properly. This can make this issue slightly less urgent - but there is a problem none-the-less

[2018-08-09 12:37] macta opened #4209 "Allow tracks to customise the download instructions"
For less "file based" languages - or those that use a common IDE, its useful to customise the download instructions as you may not need to use the exercism cli, but instead a plugin in the environment itself.

this makes it less confusing for students if they get the right instructions (e.g. Pharo is not strictly file based - we've re-used some git infrastructure to play well with exercism, but we

[2018-08-09 12:45] twhitbeck opened #4210 "Golang logo is out of date"
I'm currently going through the Go track, and I noticed the logo is the old gopher logo. It should probably be updated to match Go's new branding.

https://blog.golang.org/go-brand

[2018-08-09 13:07] hugueschabot opened #4211 "Invalid format of Java code with generics in mentor's comment"
If I enter the following code in a comments (via mentoring).

[code]
My comment renders to this.

![image](https://user-images.githubusercontent.com/1215723/43900563-44629d96-9bb3-11e8-8e4a-aa4b4156e8a4.png)
See the `<T, R>` that becomes `<t r>`.

Note : I tried to use other names for generics parameters (like `< A, B>`) but it does not fix the problem.

[2018-08-09 13:07] rpottsoh commented on #4209
For now I think all you can do is create your own plugin that makes the necessary calls to the CLI for the student.  Once the API (what the CLI uses) has been published your plugin could then be updated to completely assume the roll of the CLI.

[2018-08-09 13:48] iHiD commented on #4211
Closing as a duplicate of https://github.com/exercism/exercism/issues/3890

[2018-08-09 13:48] iHiD commented on #4211
(Thank you for reporting though!)

[2018-08-09 13:58] iHiD commented on #4205
As I've said on Slack, the platform isn't flakey. You're just hitting one very specific problem which is that when maintainers add new exercises or change things in their configs, the tracks are updated, but users don't automatically get things unlocking  etc. This isn't simple. For a track where 100,000 people might have unlocked that exercise, we currently have to create 100,000 database records

[2018-08-09 14:05] iHiD commented on #4209
Related to https://github.com/exercism/exercism/issues/4087

[2018-08-09 16:05] Hiyorimi opened #4212 "Access to the uncompleted exercises by the url"
I emailed about this back to Jeremy, but I got auto response to open an issue, hope, that would be helpful. I found a bug allowing to peek into solutions for unsolved exercises. It is reproducible:

Step 1: access solutions for the completed exercise, f.e: https://exercism.io/tracks/go/exercises/parallel-letter-frequency/solutions
Step 2: guess the slug part for the yet unsolved exercise, f.e: Rob

[2018-08-09 17:06] guygastineau opened #4213 "Solutions are not rendering the assigned version of tests"
Hi,
  As of now when I `exerercism download -t <trackname> -e <exercise-slug>` a problem I already have I will get the newest version of the test.  However, the test displayed with my solution won't change even after I have submitted with the new test in my exercise directory.

I have noticed as a mentor that when I download a students solution it comes with the newer test as well.

I think it wou

[2018-08-09 17:08] guygastineau commented on #4213
I don't know if handling the git_history differently would help or if the testfile should automatically be uploaded by the cli on submission.

Hopefully this isn't hard to implement.

[2018-08-09 17:38] wesmelo commented on #4207
i can help with the translation 👊

[2018-08-09 17:58] dreecarvalho commented on #4207
I'd be glad to help to translate if needed :)

[2018-08-09 18:03] anapaulagomes commented on #4207
Me too. :)

[2018-08-09 18:15] iHiD commented on #4207
Katrina, Nicole and myself are going to have a proper chat about this and
come back with some structured thoughts. In all likelihood that won't be
for a few days though. In the meantime thank you for all offering to help
out. You're all awesome :)

On Thu, 9 Aug 2018, 20:03 Ana Paula Gomes, <notifications@github.com> wrote:

[2018-08-09 18:25] pehprado commented on #4207
I can help to translate 😃

[2018-08-09 18:37] rodolfolottin commented on #4207
count on me!

[2018-08-09 18:49] iHiD commented on #4208
It's the same one they see on the initial screen before they submit the
first iteration.

I think we could do with a product discussion about this and then some
design work from Nicole. Let's look at this next time we're all online and
free, Katrina?

On Thu, 9 Aug 2018, 20:20 Patrick McSweeny, <notifications@github.com>
wrote:

[2018-08-09 18:54] shadowmaru commented on #4207
I'll be able to help 😄

[2018-08-09 18:55] magodoy88 commented on #4207
I can help too! :)

[2018-08-09 19:27] davibusanello commented on #4207
I make myself available too

[2018-08-09 19:28] Rachc commented on #4207
@magodoy88 @rodolfolottin @anapaulagomes @pehprado @davibusanello
While @iHiD talk with the staff about this, We can organize ourselves via telegram.
Please, contact me on twitter ( `@_rachcl` ) so I can pass the link through DM (:

[2018-08-09 19:41] redhatmk opened #4214 "The exercise you are submitting doesn't have the necessary metadata"
Hello,

I'm trying to submit a file but I'm getting this error:

[code]
I re-installed the client following this [instructions](https://exercism.io/cli-walkthrough) but still getting the same error above. Any of you knows what can I do to fix this issue?

I'll really appreciate your help.

[2018-08-09 19:56] PatrickMcSweeny commented on #3812
Is it okay to close this?

[2018-08-09 19:58] rpottsoh commented on #4214
It sounds like you are trying to upload an exercise that was not first downloaded from the v2 site.  It sounds like you first downloaded it prior to the new site being released, meaning you fetched (downloaded) the exercise from the old site with the old CLI.  If you follow the directions provided at https://exercism.io/cli-v1-to-v2 you should be fine.  Read the whole thing.  Making sure the CLI i

[2018-08-09 20:06] redhatmk commented on #4214
This is the version of the client I'm using:

[code]

This is the url from the config:

[code]
I have follow the instructions in [https://exercism.io/cli-v1-to-v2](https://exercism.io/cli-v1-to-v2)

I have use this ways to submit my code:

[code]

and

[code]
I'm missing something?

[2018-08-09 20:18] NobbZ commented on #4214
Yes, you are missing to delete and redownload it, as described in the guide that was linked quite a few times. If though you have redownloaded that exercise and it still does not work, state so explicitely.

"I followed the guide at XYZ" doesn't count for me, as I've written this multiple times, just to realise at the end of the discussion that I skipped a step because I haven't seen it or thought

[2018-08-09 20:24] NobbZ commented on #4208
There is a command to copy and paste for submitting the exercise?

----

Ah, Okay, I looked it up. The command is a generic `exercism submit /path/to/file [/path/to/file2 ...]`.

Not worth that much in my opinion. After submitting `hello-world` for the first time a command simple as this should be remembered. One doesn't even need to know the slugs, but only the (relative) path to the files to sub

[2018-08-09 20:54] rpottsoh commented on #4214
That doesn't look correct.  Try
[code]

[2018-08-09 20:56] redhatmk commented on #4214
The instructions are wrong

it should be

[code]

In this particular case the command it worked is:

[code]

[2018-08-09 21:57] NobbZ commented on #4214
That is what is written in the instructions...

[2018-08-09 22:27] thais commented on #4207
I can help 🐗

[2018-08-09 22:28] PatrickMcSweeny commented on #4179
[This bit of CSS](https://github.com/exercism/website/blob/master/app/assets/stylesheets/pages/generic-page.scss#L54) gives strong tags the same font weight as normal text, which kind of defeats the purpose of using them.

[2018-08-10 01:32] #4210 closed

[2018-08-10 07:06] ErikSchierboom opened #4215 "Show number of unlocked exercises"
Just a tiny nit. It might be nice to display as a number how many side exercises were unlocked. So instead of "You've unlocked extra exercises", it would become something like "You've unlocked X extra exercises".

![image](https://user-images.githubusercontent.com/135246/43943626-8176f3b6-9c7c-11e8-95e4-53581c3749cc.png)

[2018-08-10 07:20] nickborromeo commented on #3875
I am presuming here that _next version_ is V2? If that is the case @tonytan1 can you confirm that the new version did indeed fix your issue? 😄

[2018-08-10 07:32] nickborromeo commented on #3877
👋 @MadhaviLosetty I am not a go expert my any means 😅 but I took a look at the CLI code and found this snippet

[code]

It looks like based on the comment of the error that is thrown the directory you are trying to download the exercise into is outside the directory that you configured

One thing you could do is to run the `exercism troublehsoot` command and the output will have a section called C

[2018-08-10 07:56] NobbZ commented on #3875
No, "next version" in this context was meant as "the next CLI release". The bugfix necessary is incorporated into CLI v3.0.5, once one has upgraded to or installed that version manually, then the `exercism upgrade` command should work correctly.

@iHiD @kytrinyx I think this can be closed.

[2018-08-10 08:27] iHiD commented on #3924
I wonder if we should set it in the html instead? I'm in meetings today but
will ask Nicole about it over the weekend to see if she wants to make a
design.

On Fri, 10 Aug 2018, 10:19 Nick Borromeo, <notifications@github.com> wrote:

[2018-08-10 09:17] tonytan1 commented on #3875
sure my pleasure

On Fri, 10 Aug 2018, 15:20 Nick Borromeo, <notifications@github.com> wrote:

[2018-08-10 10:28] macta commented on #4209
My point is that if you create your own plugin - the instructions on the site will still point you to the exercism cli - so you have to hope users will properly read your installation guide and in subsequent exercises will remember what they read.

[2018-08-10 10:47] macta commented on #4205
Yes it’s a duplicate.

This was far worse for new tracks particularly given the related bug that leaving a track didn’t reset things either.

You got us back on track via slack - so this is a bit of historical frustration now - that said if you want to grow the number of tracks you need to pay attention to these kinds of edge cases to smooth the path for new dev’s

[2018-08-10 11:11] nicolechalmers commented on #4124
I've noticed inconsistency in total number of exercises on the tracks/haskell/exercises page which I think might be related to this issue.

<img width="329" alt="screen shot 2018-08-10 at 12 59 40" src="https://user-images.githubusercontent.com/5421823/43954985-b16262fa-9c9e-11e8-8de6-d2e9b2de6a3b.png">
<img width="476" alt="screen shot 2018-08-10 at 13 04 16" src="https://user-images.githubuserco

[2018-08-10 12:05] macta opened #4216 "When I sign out of exercism - get page not found?"
When I sign out - I get a msg "Oh dear, we can't find that page. Sorry about that.
Continue by heading back to the homepage." for the url : https://exercism.io/users/sign_out

[2018-08-10 12:11] douglasgimli commented on #4207
I'm on it too!

[2018-08-10 12:28] ErikSchierboom opened #4217 "Reacting to you own solution"
I can currently react to one of my own solutions, and thus mark it as being "Genius" :) See exercise
https://exercism.io/tracks/csharp/exercises/bob/solutions/c47e972bd190206351c30978

I don't think we should be able to do this :)

[2018-08-10 12:29] ErikSchierboom opened #4218 "Cannot un-react on a solution"
When I react on a solution (e.g. by Loving it), I cannot then remove this reaction. I can only switching to one of the other two reactions.

[2018-08-10 13:12] rpottsoh commented on #4209
You could always add a `hint` comment to the top of the first few exercises testsuites to advertise the availability of a plugin.  Include the link back the installation instructions, https://exercism.io/tracks/pharo/installation

The installation instructions should cover those people that are new to the track and the language it is teaching.  Those that are joining the track, and may already hav

[2018-08-10 15:28] Cohen-Carlisle commented on #3848
Bumping this because I made yet another bad submit. I guess I'm clumsier than the average exercist? :smiling_imp:

[2018-08-10 15:33] PatrickMcSweeny commented on #4212
You don't even have to guess the url if you just access the exercises page for a particular track while logged out. You can just click on any exercise and view all of the solutions.

https://exercism.io/tracks/go/exercises

[2018-08-10 16:12] iHiD commented on #4212
Hi @Hiyorimi. Thanks for reporting (and for coming to me privately first). This is a feature, not a bug. We want solutions to be accessible externally and want search engines to be able to crawl them easily. If people really **want** to "cheat", then I don't think they'll get much value from Exercism. There's no external reward from using the platform so if people just choose to do that, then they

[2018-08-10 16:13] #4212 closed

[2018-08-10 16:26] iHiD commented on #4216
Is this reproducible every time for you?

[2018-08-10 16:31] #4202 closed

[2018-08-10 16:36] #4198 closed

[2018-08-10 17:03] iHiD commented on #3946
Closed in favour of #3848.

[2018-08-10 17:03] #3946 closed

[2018-08-10 19:09] macta commented on #4216
Yes - with different user names too - I pick logout in the top corner and then that url gives me the message indicated.

[2018-08-10 19:16] macta commented on #4209
The hint is a good idea - and very pretty doable to try it out anyway.

[2018-08-10 20:39] #4214 closed

[2018-08-10 20:41] kytrinyx commented on #3875
Thanks, everyone!

[2018-08-10 20:41] #3875 closed

[2018-08-10 20:54] kytrinyx commented on #4171
@guygastineau I'm confused about this. You said:

Given the following scenario:

- you unlocked an exercise and submitted a solution
- you deleted your local directory containing that exercise
- you downloaded it again using the `exercism download` command

You're saying that under these circumstances you get the _newest_ version of a test suite, not the version that was on master of the track rep

[2018-08-10 21:03] kytrinyx commented on #4183
The tracks already rely on shared metadata in problem specifications to produce the exercise README (when running configlet).

The title is in https://github.com/exercism/problem-specifications/blob/master/exercises/rna-transcription/metadata.yml

I think it would be ideal if the website could just read that.

[2018-08-10 21:07] kytrinyx commented on #4148
I think both of those things are true :)

Not sure how to make the README clear, but we could literally have a step that is "verify that yarn is installed" with a command that will give some useful output (I have no idea how to verify that yarn is installed, so no ideas there).

[2018-08-10 21:12] guygastineau commented on #4171
Yes, that is exactly right.

Also, I don't even need to delete the exercise directory if it was downloaded since the V2 release to get the test updates.

Let me know if you want any more clarification.

[2018-08-10 21:17] kytrinyx commented on #4171
Thanks @guygastineau. This is a bug, in that case.

The behavior _should_ be that once you've unlocked the exercise, any time you (or a mentor, or someone else) downloads your solution, they should get the test suite that was current at the time when you unlocked it.

Beyond this, it sounds like there's also a feature request in here: to allow a student to update their exercise to get the most rec

[2018-08-10 21:19] kytrinyx commented on #4164
@iHiD The API doesn't return an error message, it just returns an error code. I don't want to hard-code the error message in the CLI, because then if we change it, we would have to cut a new release and get people to upgrade before they see the new message.

[2018-08-10 21:26] kytrinyx commented on #4171
@guygastineau Getting a separate issue for each thing would be very valuable!

Let's keep #4213 and close this one -- and open two new issues for the two feature requests!

[2018-08-10 21:26] kytrinyx commented on #4213
The download command should be getting the pinned version of the test, not the newest one.

[2018-08-10 21:28] guygastineau commented on #4213
So I should keep this up to tack the bug?

[2018-08-10 21:29] kytrinyx commented on #4129
@iHiD I think we need to go to first principles and decide what is crucial in order to protect the integrity of the site. I don't know what that is right now.

[2018-08-10 21:29] kytrinyx commented on #3914
I think so. If not, it will happen again, and we can open a new issue.

[2018-08-10 21:29] #3914 closed

[2018-08-10 21:30] kytrinyx commented on #3745
This is done.

[2018-08-10 21:30] #3745 closed

[2018-08-10 21:31] kytrinyx commented on #3719
Yeah, I don't think we have anything else we can do here.

[2018-08-10 21:31] #3719 closed

[2018-08-10 21:33] kytrinyx commented on #4072
@Stargator thanks, I wasn't aware of that. In that case I think the download command is choking in some way.

[2018-08-10 21:34] #4171 closed

[2018-08-10 21:41] kytrinyx commented on #4066
triaged to https://github.com/exercism/cli/issues/699

[2018-08-10 22:18] hilary commented on #4072
@kytrinyx Just to make your life more interesting, I mentored an exercise today in which the files that showed in the GUI had the `//<filename` versions. 😭

I was scrambling to catch up and do my mentoring part, so I'm afraid I didn't nab the solution uuid.

[2018-08-10 22:25] weltonsanches commented on #4207
I can help too :)

[2018-08-11 01:03] guygastineau opened #4219 "Feature Request: let students get test updates"
I believe this should be an: if/when they want, in other words, of their own volition kind of feature.

This was originally discussed in connection with this bug: #4213

[2018-08-11 01:04] guygastineau commented on #4219
related to this bug  #4213

[2018-08-11 01:05] guygastineau opened #4220 "Feature Request: alert students when a new version of a test is available"
If the feature described in https://github.com/exercism/exercism/issues/4219 is implemented, it would be great if students who are have submitted solutions on an older version of the test could be notified of the change.

[2018-08-11 06:02] seanknox opened #4221 "Exercises imported from independent mode not accepting solutions"
I can't progress past the first few exercises in mentor mode. They were "imported from independent mode" and valid submissions apparently, but they're stuck as "in progress."

[2018-08-11 06:03] seanknox commented on #4216
Confirmed that I also get a 404 on the sign out link.

[2018-08-11 17:32] preston24 opened #4222 "Unable to move exercism file to bin folder"
When running this command "mv ~/Downloads/exercism ~/bin" it tells me No such file or directory.

[2018-08-11 17:39] iHiD commented on #4221
I'm going to need some more details here. Could you post some of the error messages or screenshots you're seeing pls.

[2018-08-11 17:41] iHiD commented on #4213
Has anyone confirmed this is actually what happens currently and that there is a bug here?

[2018-08-11 17:42] #4205 closed

[2018-08-11 18:58] PatrickMcSweeny commented on #4216
The sign out link sends a DELETE request so linking to it from here or anywhere else sends a GET request, thus the 'Not found' message. @macta, are you opening the link in a new tab? That is the only way I am able to reproduce the bug myself. If I click the sign out link inside of the same tab, it works fine.

[2018-08-11 19:01] NobbZ commented on #4222
Do you have created the `~/bin` folder first? And have you extracted the tarball into your `~/Downloads` folder?

[2018-08-11 19:09] guygastineau commented on #4213
I updated the test sweet for clock in the ruby track last night and for grains in the bash track this morning using this step:
`exercism download -t <track> -e <exercise-slug>`

[2018-08-11 19:11] guygastineau commented on #4213
I just realized that I haven't upgraded the cli on my machine in a few weeks.

I can upgrade and report the behavior when I get home from work.

[2018-08-11 19:16] preston24 commented on #4222
Yes I have `bin` folder and yes I extracted the tarball.

[2018-08-11 19:51] NobbZ commented on #4222
Then please do the following and report back with the output:

[code]

[2018-08-11 20:46] iHiD commented on #4213
@guygastineau Thanks :)

@kntsoriano In `app/controllers/api/files_controller.rb`, L40 should be using the git_sha. Can you check everywhere else that `Git::ExercismRepo` is used pls.

[2018-08-11 21:17] macta commented on #4216
Nope, I’m on an exercise and pick my profile menu (top right) and pick sign out. I get that page

I think someone else confirmed it too.

[2018-08-11 21:25] ivenk opened #4223 "Unapproved completion incorrectly shows extra exercises as unlocked"
When clicking on the "Complete exercise (Unapproved)" button the text reads :

you'll no longer get mentor feedback on this exercise
you will be able to reactivate the exercise in the future

Despite this I still unlock all of the extra exercises.

<img width="599" alt="bildschirmfoto 2018-08-11 um 23 24 38" src="https://user-images.githubusercontent.com/33981703/43996190-b8d7f304-9dbd-11e8-8136-1

[2018-08-11 22:56] preston24 commented on #4222
`~ » ls -lah ~/bin
total 0
drwxr-xr-x   2 prestonbayle  staff    64B Aug 11 11:21 .
drwxr-xr-x+ 33 prestonbayle  staff   1.0K Aug 11 16:54 ..`

`~ » ls -lah ~/Downloads/exercism
ls: /Users/prestonbayle/Downloads/exercism: No such file or directory`

[2018-08-11 23:04] preston24 commented on #4222
This is what is in my `Downloads`. After I extracted the tarball it gave me this folder `exercism-mac-64bit` which then has two things in it, `exercism` and another folder called `shell`  which contains `exercism_completion.bash`, `exercism_completion.zsh` and `README.md`.

[2018-08-11 23:18] macta commented on #4216
Actually, I tried again today - and it doesn't seem to do it anymore both with a github login and email address login - so maybe something changed?

[2018-08-12 07:13] NobbZ commented on #4222
Then it seems as if the tutorial hasn't updated after package structure changed.

Please `mv ~/exerercism-mac-64bit/exerercism ~/bin/exerercism`.

[2018-08-12 12:25] iHiD commented on #4164
@kytrinyx I believe the API does return an error message.

A current test for an example of this is:
[code]

If something needs changing, let me know :)

[2018-08-12 12:27] iHiD commented on #4183
@kntsoriano Could you action this pls? We're already reading from that file but not using the title attribute.

[2018-08-12 12:30] iHiD commented on #3812
@PatrickMcSweeny Yes. Thanks for doing this  :)

[2018-08-12 12:38] iHiD commented on #3969
@PatrickMcSweeny
1. That class needs adding to all non-ajax buttons.
2. For AJAX buttons we should probably have a different class and a new method that uses the Rails ajax callback, not the `click` method, and then re-enables the button on the ajax response.

[2018-08-12 12:39] iHiD commented on #3846
Closed. If anyone sees this again, pls reopen and nag me :)

[2018-08-12 12:39] #4189 closed

[2018-08-12 12:42] #4190 closed

[2018-08-12 14:02] macta commented on #4110
Isn't sum-of-multiples more about iteration - and the math (which is very little) is just an easy way to tell that you've iterated correctly?

I think you need to be careful about throwing the baby out with the bathwater.

If the complaint is more about getting stuck on a locked/core exercise because its too maths'y - you could rephrase the jargon a bit - but also provide a way in exercism to have

[2018-08-12 14:37] NobbZ commented on #4222
Yeah, that's because my autocorrect made stupid stuff, just replace garbage by exercism in the command I wrote.

[2018-08-12 15:17] preston24 commented on #4222
Ha. I didn't even notice that. Unfortunately fixing the spelling errors didn't work either. Still getting the same error.
`mv: rename /Users/prestonbayle/exercism-mac-64bit/exercism to /Users/prestonbayle/bin/exercism: No such file or directory`

[2018-08-12 15:57] ivenk commented on #4223
The first one is unlocked (left most). The others are locked and clicking on them brings me back to the same page.

<img width="635" alt="bildschirmfoto 2018-08-12 um 17 55 25" src="https://user-images.githubusercontent.com/33981703/44003792-1028cb92-9e59-11e8-9cd3-4fc18eb9e0f3.png">
<img width="717" alt="bildschirmfoto 2018-08-12 um 17 55 31" src="https://user-images.githubusercontent.com/3398170

[2018-08-12 19:11] seanknox commented on #4221
Sure thing. Here's the Go track I'm on:

![exercism](https://user-images.githubusercontent.com/1231630/44005457-9ce9085c-9e28-11e8-8213-8ff9aa6e41e5.png)

Here's one of the exercises that was imported from independent mode:

![exercism](https://user-images.githubusercontent.com/1231630/44005470-c6caaf40-9e28-11e8-86cd-a3e4267c8edf.png)

[2018-08-12 19:18] iHiD commented on #4221
So from your screenshot, it looks like Raindrops has been approved by a mentor and so you can go there to complete that exercise, at which point you should be able to request mentoring for one of the other two solutions. Does that work?

[2018-08-12 21:12] budmc29 opened #4224 "[Markdown] Mentoring: Multiline code issue when using HEREDOC"
Works fine on modern markdown processors (like Github's):
[code]

<img width="590" alt="image" src="https://user-images.githubusercontent.com/7063792/44006461-bb87b502-9e7c-11e8-9624-8a59d71793a0.png">

<img width="584" alt="image" src="https://user-images.githubusercontent.com/7063792/44006463-c108e014-9e7c-11e8-8bc1-97261186c8a5.png">

[2018-08-12 21:31] seanknox commented on #4221
That makes sense. I didn't realize that mentors must look at solutions before allowing progression. Thanks!

[2018-08-12 21:31] #4221 closed

[2018-08-12 21:46] budmc29 opened #4225 "Comments overflow on public solution page"
https://exercism.io/tracks/ruby/exercises/raindrops/solutions/9c1c685842c44cb3bee9e2d19a3acbf5

<img width="1265" alt="image" src="https://user-images.githubusercontent.com/7063792/44006747-8fa92da8-9e81-11e8-9f25-75ffe3e8f340.png">

[2018-08-12 22:37] iHiD commented on #4225
@jackhughesweb Maybe make the comment box scroll if it overflows?

[2018-08-12 23:27] macta opened #4226 "Regenerating exercises with a new template doesn't seem to update it on my track?"
I've tweaked the template we use for generating the readme files (to add some better download instructions for using the Pharo plugin).

The files I have checked in reflect this new change however on the site when I look at unfinished exercises they don't show the new changes?

Is there some kind of cache timeout? The about.md file seems to update almost instantly when changed. Or is there some ki

[2018-08-13 02:05] kytrinyx commented on #4110
That's a fair point. I think if we could rephrase it to be less jargon-y, I'd be happier to leave off the "math" label, and leave it in core.

[2018-08-13 02:11] kytrinyx commented on #4110
The remaining open PRs are stuck because of unrelated failing builds. I'm going to leave it to the maintainers to merge when the builds are sorted out, and call this "closed".

The list of "math-y" exercises is not set in stone—I will keep pondering this, especially the exercises that are somewhere on the edge (or sound math-y but aren't really, like sum of multiples). Thanks for the discussions,

[2018-08-13 02:11] #4110 closed

[2018-08-13 04:22] kenshinji opened #4227 "Should notify people the right way to check exercism CLI version."
In your website it says you should check `exercism` version by `exercise version`, however it should be `exercism --version`
<img width="215" alt="screen shot 2018-08-13 at 12 21 55" src="https://user-images.githubusercontent.com/1403893/44012683-81cddc20-9ef3-11e8-9abc-486090b818b2.png">
<img width="215" alt="screen shot 2018-08-13 at 12 21 38" src="https://user-images.githubusercontent.com/14038

[2018-08-13 04:38] guygastineau commented on #4226
I think they are probably pinned to the hash of the version you downloaded.  Checkout #4213 and the closed issue mentioned there

[2018-08-13 04:42] guygastineau commented on #4226
Have you confirmed that they update for exercises you haven't started yet?

[2018-08-13 05:18] NobbZ commented on #4227
The instructions are for version 3 of the CLI. Since your exercism reports 2.4.1, you got a really old version installed. If you are on Linux `exercism upgrade` should just work.

If you get permission errors during upgrade, you have probably installed the old version using a package manager, in this case you should remove it first and install as described in the instructions

[2018-08-13 09:36] kenshinji commented on #4227
@NobbZ yeah, it works after I ran `exercism upgrade`. Since I installed exercism CLI tool through Homebrew, I guess the release on Homebrew should be upgraded?

[2018-08-13 11:10] iHiD commented on #4227
@kenshinji The package on Homebrew is up to date, so I think maybe your Homebrew is out of date?

[code]

[2018-08-13 11:30] macta commented on #4226
Yes - a new exercise seems to get the changes. This seems like a harsh limitation if you make a typo o reed to add extra details to help unblock people.

[2018-08-13 11:34] macta opened #4228 "exercise_readme.go.tmpl interprits new lines strangely"
The template file exercise_readme.go.tmpl doesn't seem to work like the docs files - any new CR in the text will cause a new paragraph to be generated on the site.

This is a little unexpected - but not sure if this is simply the GO way? It should probably be noted a bit more clearly (or fixed if possible). I would expect double new lines to generate a new paragraph.

The implication is that you n

[2018-08-13 11:52] iHiD commented on #4226
In the situation you describe it could be harsh. However, if the tests and readme changes halfway through someone doing an exercise, and then everything is different for them, that would be very confusing, which is why this restriction is there. This was something the maintainers very actively wanted.

[2018-08-13 11:53] SaschaMann opened #4229 "Let students rate the difficulty of an exercise"
All exercises are assigned a difficulty 1-10 by the track maintainers and contributors and this is displayed on the website.

I recently asked on Slack how other maintainers determine the difficulty and most responses came down to guessing/estimating based on how difficulty they found it themselves and then adjusting it if someone complains later on. Further, some responses noted more objective cr

[2018-08-13 11:53] #4226 closed

[2018-08-13 12:25] iHiD commented on #4226
It fixes the version when you unlock it, not download it.

On Mon, 13 Aug 2018, 13:23 Tim Mackinnon, <notifications@github.com> wrote:

[2018-08-13 12:27] guygastineau commented on #4226
That is Interesting.  Seemingly undefined behavior in the go template might be something people want to know about.  It should be completely unrelated to how readmes are displayed on the website though.

[2018-08-13 12:29] macta commented on #4226
@iHiD well then maybe there is a caching bug? Regenerating my readme files should show new content - if you are caching do you hash the content somehow (which should be different now that I've removed CR's from the go template).

[2018-08-13 12:34] macta commented on #4226
e.g. https://exercism.io/my/solutions/8b647b5848fe4ca0995bc8738af004c3 (not sure if there is a way to expose a public URL to this) - is showing 3 paragraphs in the Downloading section - however the readme.md file has only a single paragraph and if you view it in github its showing correctly on master?

[2018-08-13 12:43] macta commented on #4213
I've hit a similar issue - not downloaded an exercise yet - just viewed the readme  in unmentored mode and it seems pinned to the first version of the file that was served. I have updated go template file and regenerated my exercises and they aren't updating. I suspect some server caching bug.

[2018-08-13 12:49] macta commented on #4226
@iHiD so in unmentored mode - what unlocks it - just publishing a new exercises that would be unlocked for unmentored folks? This makes it incredibly frustrating for new track developers - the act of seeing something with no way to better control how you can see it to test it means you can't easily refine things to make them look good. I find this all very frustrating - it really needs to work bet

[2018-08-13 12:53] guygastineau commented on #4213
@macta

Check out the two feature request issues referenced above. They essentially will provide a fix for what you are wanting.

[2018-08-13 13:42] ivenk commented on #4223
Update:
I submitted a new solution to the exercise and it got approved by a mentor. However the exercises still remain locked.

This image shows the completed exercise and its extras. Clicking on every extra exercise except the first one brings me back to the same page.
<img width="633" alt="bildschirmfoto 2018-08-13 um 15 40 58" src="https://user-images.githubusercontent.com/33981703/44035219-47b

[2018-08-13 13:47] a59 opened #4230 "Something missing in set up instructions. stack: command not found."
I followed the instructions for macOS. But trying to run `stack` results in the error message

`bash: stack: command not found`

Have I missed a step?

[2018-08-13 13:51] a59 commented on #4230
Nevermind. For some reason I had unistalled Haskell.

The solution is to `brew install haskell-stack`

[2018-08-13 13:51] #4230 closed

[2018-08-13 13:59] iHiD commented on #4226
@macta When an exercise is unlocked it's README and Test Suite are locked to the git sha at that point in time. This is a feature that was heavily requested previously.

I appreciate that you're finding it frustrating to test these things and as I've said before I'm sorry that that's the case. However, the act of building a whole set of extra modes for maintainers that change all the rules is not

[2018-08-13 14:03] iHiD commented on #4213
For clarity, the bug here is that the exercise **isn't** being locked to a git commit when it should be, not that it's being incorrectly locked.

[2018-08-13 14:06] guygastineau commented on #4213
@ihiD

Thanks for that clarification.
I have been wondering if I should change the name of this issue to make that clearer.

Do you think I should?

[2018-08-13 14:08] iHiD commented on #4213
@guygastineau Nice idea. I've just done it. Thanks :)

[2018-08-13 14:13] Emerentius commented on #4160
That would also solve the problem. I proposed this because I didn't want to make a large request.

[2018-08-13 14:13] #4160 closed

[2018-08-13 14:21] iHiD opened #4231 "Completing solution unapproved then approved does not unlock exercises."
See https://github.com/exercism/exercism/issues/4223#issuecomment-412522250

(cc @ivenk)

[2018-08-13 14:25] ivenk commented on #4223
Okay great, thanks !

[2018-08-13 15:01] gustavklopp commented on #4067
I've got some suggestions:

1.  Code is the most important, not the github profile. I suggest that the page "community solutions" display directly the code, not the profiles of people (that you must click on it to get the code, adding extra steps)

2.  the sorting by mentor looks great, even if I don't know how it would work in practice. But, as said above, there are so many proposals that some ve

[2018-08-13 16:26] gregmcaree opened #4232 "My data is not available after migration"
Hi,

Prior to migration I logged onto exercism.io using the log in using git-hub option. user id: greg.mcaree369@gmail.com

Now I am unable to log in using this method and had to create a new account where I was able to do this using the same user id.

This means that I don't now have access to all of my previous solutions. There are around 23 in the Clojure track that I would be interested in rec

[2018-08-13 17:01] rpottsoh commented on #4232
Have you tried logging in by clicking the `with GitHub` button?

Assuming you get logged in to your old account make sure you read up on upgrading the CLI to the latest version:
https://exercism.io/cli

and follow these instructions https://github.com/exercism/website-copy/blob/master/pages/cli_v1_to_v2.md

[2018-08-13 18:15] jackhughesweb commented on #4225
@iHiD I've added scrolling locally and the comment box appears as following.
However, I've encountered an issue where a line may not obviously appear to have more content (see the first line) unless the user scrolls, and long paragraphs now appear on a single scrollable line. I'm not 100% sure how to best solve this issue.

![screen shot 2018-08-13 at 19 09 36](https://user-images.githubuserconten

[2018-08-13 18:48] macta commented on #4226
@iHiD for the uninitiated its not so obvious that these are all related things - it never occurred to me that it would be designed this way and that leaving a track would also affect/reset the documentation you see. I think there are a few lessons to be learned from all this... but one might be to document it slightly better so that newcomers aren't scratching their heads getting frustrated.

Anyw

[2018-08-13 19:49] kytrinyx opened #4233 "Deploy maintainer sync bot"
We have a bot that will allow maintainers of individual tracks add new maintainers to their track by accepting a pull request.

It's a GitHub App written using the Probot framework, which is node:
http://github.com/exercism/maintainer-sync

Can we get this deployed?

[2018-08-13 21:28] iHiD commented on #4233
@kytrinyx Do we need keys or anything?

[2018-08-13 21:28] kytrinyx commented on #4226
@macta the current state of the documentation is my fault--we've been snowed under with everything going on, and I've still not got the bandwidth to sort it out (need to fix some CLI bugs before I can tackle it). I've put documentation as my top priority after the CLI, and I expect to spend most of September focusing on it (I have a day job, so when I say most of September I mean nights and weeken

[2018-08-13 21:54] kytrinyx commented on #4233
We will need some keys and things. I have to actually create the GitHub app on github.com for this.

[2018-08-13 23:40] kytrinyx commented on #4233
I've set up the app and given the keys and env vars to @iHiD

[2018-08-13 23:44] iHiD commented on #4233
@ccare Let's look at this when we're together tomorrow.

[2018-08-14 00:53] kytrinyx commented on #4164
`track_ambiguous` is fine, we're getting the message and handling it.
It's all the `render_solution_not_found` calls that are not providing any context:

https://github.com/exercism/website/blob/49450d71253cfbbb49ad7c4660ad74e060a315dc/app/controllers/api_controller.rb#L34-L36

[2018-08-14 00:56] kytrinyx commented on #4072
_No no no no nooooo!!11!!_

Well. Ok :)
I'll find it (can do a lookup in the database for it).

[2018-08-14 05:06] macta commented on #4226
@kytrinyx I guess the silver lining is that you can see where we got stuck/frustrated and document those bits. I dont think you need a ton of docs that will only get outdated - just something about the flow. Possibly the end to end user journey and what a track contributes to make that possible eg when a user comes to exercism they see languages which is due to every track having a logo in track/i

[2018-08-14 06:15] mawis commented on #3900
Me too. Some students don't really write anything else than code. It is hard to spot the changes they did. Escpecially if I hinted them to change some things, but to me the code looks the same again at first. A diff would help to see what they tried to change. With that I could better understand how they reacted to my hints.

[2018-08-14 07:05] Emerentius commented on #3900
I have manually committed a student's submissions into git to get this on an exercise where the submitted code was 400, later 200 lines.
I'm not sure how to communicate this to every student in an efficient way, but it would be nice if larger refactorings could be submitted piece-meal, one self-contained change after another.

[2018-08-14 07:19] gregmcaree commented on #4232
Hi Ryan
Yes , have installed new client and can submit exercises where I have
started on the java tract.
My problem is when I use the login via github button. I am denied access.
I have synced my passwords, made sure exercise is granted access to my
account on github, endured that github only has one primary email account
set up which corresponds to the exercise email but still can't get in.
Can y

[2018-08-14 09:44] emcoding opened #4234 "Students with multiple solutions in mentor queue"
Copied from Slack
Me: My dashboard has 2 or 3 or even more imported solutions by the same students. It feels a bit unfair that 1 student get several submissions, while others may be waiting for 1 side exercise.

@ihid:
The multiple submissions from the same student is because students can submit as many side exercises as they want while waiting for core to be prioritised. I'll make it so only one

[2018-08-14 13:47] iHiD commented on #3900
Which exercise required 400 LOC to solve?

[2018-08-14 13:55] Emerentius commented on #3900
I don't think it *requires* 400 LOC, but the Poker exercise invites some longer solutions, especially if people define their own sum types and implement traits for them (in Rust). It's a lot of boilerplate.

[2018-08-14 14:04] #4199 closed

[2018-08-14 14:28] rpottsoh commented on #4232
@iHiD or @kytrinyx would you shed some light on @gregmcaree question and offer any insight into is login woes?

thanks

[2018-08-14 15:15] #4192 closed

[2018-08-14 15:34] salticus opened #4235 "In mentor view show student & mentor's languages"
When signing up as a student or mentor, Exercism asks which languages I have experience using (say 1 year or more.) When as a mentor I look at a solution for mentoring, I see the student's languages and my own displayed as emoji/symbols.

The goal is to get a quick feel for the student's background, remind myself of my own potential biases (i.e. Python Taoism ;-) and identify common experience tha

[2018-08-14 15:36] nicolechalmers opened #4236 "UI: Change default button colour in Settings"
Make default button colour grey with dark grey text. Only change to turquoise when user has changed something in the relevant section.

<img width="917" alt="screen shot 2018-08-14 at 16 32 20" src="https://user-images.githubusercontent.com/5421823/44101590-ab723476-9fdf-11e8-882e-5e25e135c756.png">

[2018-08-14 15:41] salticus commented on #4235
Very true! I hadn't thought of that angle.

[2018-08-14 15:52] iHiD commented on #4232
All your data is still there.

I just don't understand why you can't log in. This is the only situation where we've have this problem :(

Could you try revoking the Exercism oauth app on GitHub and then signing in using GitHub on Exercism pls?

[2018-08-14 19:34] SSPJ opened #4237 "Poor Contrast Grey-on-White Text"
This is similar to #4113 but is a more general comment on the text for the whole site. "We envision a world where anyone from any background. . ." includes people who can't see well!

The background is `#FFFFFF` (white) and the foreground is `#9A9A9A` (grey).  For reference, here's the [WebAIM contrast checker](https://webaim.org/resources/contrastchecker/?fcolor=9A9A9A&bcolor=FFFFFF) with those v

[2018-08-14 20:31] rpottsoh commented on #4237
I personally would love to see a contrast ratio of at least 7:1.  Looks like we are at 2.81:1 now.  I agree that the text is hard to read.  Depending on which computer of mine that I am using I have to zoom a little as some letters do not stand out very well, the worse offender being the letter `s`.  The middle of the letter all but disappears leaving just the very top and bottom of the letter to

[2018-08-14 21:19] iHiD commented on #4237
Thanks for the issue. This is something we are and will continue to work on. We have lots of work going on for accessibility being spearheaded by @uused over here: https://github.com/exercism/website/pull/182 where he's also helping us understand things we need to do better.

Just FYI, we responded to that by changing to the same font as GitHub use. The problem generally around the site is that we

[2018-08-14 22:27] marnen commented on #4111
@wolf99 Interesting; I think you're arguing more or less the same side as me but from opposite perspectives. I love Slack, but I think it's the wrong thing to use in this case—that is, to put it in equivalent terms to yours, I am a fan of Slack, but I do not agree with the motivation for it here.

[2018-08-14 23:29] kytrinyx commented on #4226
@macta that makes a ton of sense--this was not made any easier for you seeing as Pharo is the first track to develop in beta on the new site, _just_ as we've been scrambling to figure out the rough edges on the user-facing side.

I think you're probably right--I just need a few hours of calm to actually dig in!

[2018-08-15 02:17] kenshinji commented on #4227
@iHiD Here is my brew version info

[code]

[2018-08-15 05:05] devillexio opened #4238 "Clicking Approve and Comment does not clear comment preview"
I've noticed a few times that clicking the _Approve and Comment_ button while having the _Preview_ tab selected, results in the contents of the _Preview_ tab copied to the new comment input.

Only when you select the _Write_ tab on the new comment input and flip back to the _Preview_ tab, is the old comment text cleared.

I'm currently using Firefox Developer Edition v62.0b16 (64 bit).

[2018-08-15 06:34] NobbZ commented on #4227
Then there is probably an older version of exercism earlier in your path.

[code]

Please provide output of that little script.

It's typed on a mobile though and therefore untested.

[2018-08-15 10:41] mawis commented on #3890
Same problem affects Rust code a lot.

[2018-08-15 12:18] iHiD commented on #4238
@devillexio We merged a fix for this last night. I'm not sure if it got deployed before this morning. So I think this is fixed but could you confirm if you still have the issue pls? (cc @jackhughesweb)

[2018-08-15 12:54] devillexio commented on #4238
You are correct, this issue is now resolved! 🎉

[2018-08-15 12:54] #4238 closed

[2018-08-15 19:27] lathspell opened #4239 "Limit mentor dashboard "Next solutions to mentor" by difficulty"
Would be nice if the "Next solutions to mentor" list could be limited by difficulty. When I'm tired I'd rather like to review 10 "easy" solutions than one "medium" :-)
At least write it in tiny font in the line under the title like "Kotlin | easy | Iteration 1 | $date" line.

[2018-08-15 23:14] kytrinyx commented on #3890
Thanks everyone. I'm not sure if this is a problem in the underlying Prism library, or in how we're passing it to the library.

[2018-08-16 00:39] iHiD commented on #3890
@grantwinney @mawis Could you open separate issues for your examples please as although they smell the same, they're probably different bugs.

@grantwinney Your issue is definitely a bug our end and not with Prism (unlike this main issue)
@mawis I need to see code to know whether this is an issue with Prism or us. I'm using https://prismjs.com/test.html to work it out.

[2018-08-16 00:40] iHiD commented on #3890
@grantwinney From what you wrote am I right in thinking that your issue is specific to the fact you're posting in comments, rather than if you just submitted code?

[2018-08-16 04:30] richflee commented on #3820
@NobbZ I'm getting the same issue. MacOS Sierra 10.12.1 (16B2657)

[2018-08-16 04:32] richflee commented on #3820
@NobbZ nevermind. Solved - renamed workspace directory use capital E

[2018-08-16 11:12] grantwinney opened #4240 "[Markdown] Comment box rendered / removed html markup that was part of a code snippet"
As part of a conversation with a student, I posted some code in the comment field that included html markup, something like this:

[code]

When viewing it in the "Preview" tab, or after clicking the "Comment" button, it seems to render the html markup (as can be seen with "List item 1" and "List item 2" below) but then not show any of the other effects (such as the H1 header and strong text that i

[2018-08-16 11:13] grantwinney commented on #3890
That's correct @iHiD, I was posting code in the comments field for the student to see. I removed the comment here (to keep the thread clean), and opened a separate issue. https://github.com/exercism/exercism/issues/4240

[2018-08-16 11:44] iHiD commented on #3890
Thank you!

[2018-08-16 12:06] NobbZ commented on #4240
All together with all those issues about generics or template variables or pairwise greater/lesser than signs, let me think this is an issue with the markdown renderer.

Which one do we use?

[2018-08-16 12:07] iHiD commented on #4240
redcarpet (GitHub's)

[2018-08-16 12:30] iHiD commented on #4240
This one is definitely something we're doing wrong. I just don't know what yet :)

I can write failing tests now though which is good. @grantwinney If you could reduce that down to the minimum version that fails to render properly that would be super helpful.

[2018-08-16 13:32] iHiD commented on #2210
@leorawe FYI. This discussion is two years old and that repository (and probably scripts) are deprecated and probably don't work. The [walkthrough on the exercism website](https://exercism.io/cli-walkthrough) has instructions both with and without Brew.

[2018-08-16 13:39] iHiD opened #4241 "Change solutions to lock git sha when first downloaded, not unlocked"
During api/solutions/show, if `downloaded_at: nil` and someone downloads, reset the `git_sha` to head and then use that.

[2018-08-16 13:52] iHiD opened #4242 "Set up PagerDuty"
@kntsoriano Could you set up PagerDuty to ping to a new channel on our Slack, and also to email me and text my mobile pls, if we go down pls?

[2018-08-16 14:10] grantwinney commented on #4240
Yep, I'll do that the next time I mentor a solution.

[2018-08-16 14:45] iHiD commented on #3881
Reassigning this to @loriking and @amaliacardenas as part of their Rails Girls Summer of Code project :)

[2018-08-16 18:34] mikewalker commented on #4213
Just ran into this issue I think.

What I did:

Started exercise
Submitted PR https://github.com/exercism/c/pull/329
Download exercise again after merge
Completed exercise using the new tests that where downloaded
Submitted Exercise

Results:

Downloaded tests are the new version
Tests shown with the submitted exercise are the old ones.

UUID for exercise '02fd39e409a446b79116db0d75c26a95'

[2018-08-16 19:29] rpottsoh commented on #4213
On v1 if you `exercism fetch`'ed an exercise that was already downloaded the CLI would only send you the files that were missing.  If you somehow knew that the test suite was updated you would have to delete your copy of the suite before running `fetch`.  This would get you a copy of the latest test suite.

What I see on v2 is if I call `download` again (as a student) the CLI sends me the latest v

[2018-08-16 20:39] guygastineau commented on #4213
I believe that is the goal.

Furthermore, the feature requests related to this would allow students to update what test is pinned to their solution after they are notified of updates.  They wouldn't be required to update the test though.

[2018-08-16 22:46] akeating opened #4243 "Solution to core exercise remains unreviewed since July 19th"
Hi, thanks for such a great learning resource!

I submitted the last of my solution edits to rust / pythagorean-triplet on July 19th.

<img width="1201" alt="screen shot 2018-08-16 at 3 34 56 pm" src="https://user-images.githubusercontent.com/1427265/44238618-59cccf00-a16a-11e8-86ab-e01f2fee4a61.png">

Noting that the first attempt was reviewed and I pushed three updates. Obviously I would only ex

[2018-08-16 23:05] iHiD commented on #4243
I'll take a look in my morning for you :)

[2018-08-16 23:43] grantwinney commented on #4240
I reduced the example @iHiD - is that what you were looking for?

[2018-08-17 04:33] guygastineau opened #4244 "New exercises aren't unlocked if the unlocked_by exercise has already been completed"
Hi,

I recently added affine-cipher to the Bash track, and made it so atbash-cipher unlocks it.

When I visit `www.exercism.io/my/tracks/bash` it says affine-cipher has been unlocked under the atbash-cipher exercise, but card for affine-cipher still has the locked symbol.

I can access the exercise neither from its card nor from the unlocked link under atbash-cipher.

[2018-08-17 06:36] ErikSchierboom opened #4245 "Leave conversation shows error"
Whenever I try to leave a conversation, I get an error page:

![image](https://user-images.githubusercontent.com/135246/44251440-9e9f4700-a1f8-11e8-911a-3af006bd6f00.png)

[2018-08-17 06:39] ErikSchierboom opened #4246 "Add "zen" mode for reviewing solution"
Maybe it would be useful to add a "zen" mode for reviewing a solution, where all non-essential components are hidden to allow us to focus on the code to be reviewed. This "zen" mode could even use the screen's full width, which would help review code that spans more than the displayed number of columns.

[2018-08-17 09:51] kntsoriano commented on #4241
Can you give me more information?

[2018-08-17 10:49] F3PiX commented on #4246
I like that! Would you prefer 'total zen'? Because I'd also like to see my previous comments in this mode. What do you think?

[2018-08-17 10:54] ErikSchierboom commented on #4246
I think this should also include the previous comments, but I'll leave that to the designers :)

[2018-08-17 13:07] jackhughesweb commented on #4245
@ErikSchierboom Did this issue occur when selecting "Leave conversation" without sending any comments?

[2018-08-17 13:12] ErikSchierboom commented on #4245
@jackhughesweb That is correct!

[2018-08-17 13:37] grantwinney opened #4247 "[Markdown] Anything in angle brackets in the Comments textbox is being treated as a tag that needs closed"
If I add text like this in the Comments textbox:

[code]

It treats `<string>` and `<int>` like html tags that need to be closed when it renders the output:

[code]

You can see an example of this [here](https://exercism.io/mentor/solutions/b0447496bd8b4d9889fda933afa40390?iteration_idx=2#discussion-post-161133).

Similarly, this:

[code]

Renders like this:

[code]

[2018-08-17 13:37] iHiD opened #4248 "NoMethodError in my/solutions#walkthrough"
## Error in Exercism V2

**NoMethodError** in **my/solutions#walkthrough**
undefined method `token' for nil:NilClass

[View on Bugsnag](https://app.bugsnag.com/exercism/exercism-v2/errors/5b76a6c7e0086a0018748a1b?event_id=5b76c496002ac594b5090000&i=gh&m=ci)

## Stacktrace

    app/models/user.rb:69 - auth_token
    app/services/render_user_walkthrough.rb:28 - auth_token
    app/services/render_use

[2018-08-17 13:37] iHiD opened #4249 "EOFError in ActionMailer::DeliveryJob@mailers"
## Error in Exercism V2

**EOFError** in **ActionMailer::DeliveryJob@mailers**
end of file reached

[View on Bugsnag](https://app.bugsnag.com/exercism/exercism-v2/errors/5b4f0f4906b2da0019ebff30?event_id=5b76cc69002ac9074a5f0000&i=gh&m=ci)

## Stacktrace

    gems/sidekiq-5.1.3/lib/sidekiq/middleware/chain.rb:130 - block in invoke

[View full stacktrace](https://app.bugsnag.com/exercism/exercism-v

[2018-08-17 13:38] iHiD commented on #4249
See also:
- https://app.bugsnag.com/exercism/exercism-v2/errors/5b769f44e52168001afb980c?event_id=5b769f44002ac29eb7b50000&i=sk&m=nw
- https://app.bugsnag.com/exercism/exercism-v2/errors/5b769f44e52168001afb980c?event_id=5b769f44002ac29eb7b50000&i=sk&m=nw
- https://app.bugsnag.com/exercism/exercism-v2/errors/5b769f43d2f9bf001852f851?event_id=5b769f43002ac29eb72f0000&i=sk&m=nw

[2018-08-17 13:39] iHiD commented on #4248
@kntsoriano We render the CLI walkthrough to logged-out users now so this token bit needs a default.

[2018-08-17 13:41] iHiD commented on #4188
@kntsoriano This might be something you can solve quickly, but might just be a limitation of the text-editor we're using. If you can't see an easy fix within 30mins, then let's not worry about it for now.

[2018-08-17 14:23] kornelski opened #4250 "[Markdown] Unexpected HTML tags appeared in a Markdown code block"
In a comment to an excercise I've posted code like this:

[code]

but it was rendered as:

Note that `<char, char>` was interpreted as an (invalid) HTML tag.

[2018-08-17 15:25] TiDreyer opened #4251 "Explaination for "Pythagorean Triplet" Exercise (Python Track)"
The introduction of the "Pythagorean Triplet" side exercise in the python track does not reflect the requirements of the unit tests. There is a comment in the unit test file explaining the exercise better, maybe this should be moved to the introduction.

[2018-08-17 16:18] rpottsoh opened #4252 "Feature request: Email notifications when a new solution is available for a particular track"
This will not be a popular feature request for those tracks that receive MANY new submissions/day.  I am thinking more about the "little guy" who's language track may only see a trickle of activity.  The occasional new submission could go for days before a mentor thinks about checking that one track they mentor that sees very little activity.

This should be a feature that mentors can opt out of i

[2018-08-17 16:35] #4124 closed

[2018-08-17 16:37] #4183 closed

[2018-08-17 16:39] #3835 closed

[2018-08-17 18:49] #4245 closed

[2018-08-18 01:18] nuclearwessel opened #4253 ""Expire" mentorships"
Three of my previously submitted solutions from the Erlang core track have been pending approval since the migration (Leap, Collatz, and Raindrops). I posted to the gitter support channel requesting an update and it sounds like there may be a bug preventing these solutions from showing in the mentoring queue.

https://exercism.io/my/solutions/dce9384ebb0d41a3aca3099a792ba432
https://exercism.io/my

[2018-08-18 06:31] rpottsoh commented on #4251
A Python specific issue should be raised at https://github.com/exercism/python/issues.
However, if you feel the issue pertains to the general nature of the exercise, meaning it would affect all tracks that are implementing this exercise, then I encourage you to open an issue at https://github.com/exercism/problem-specifications/issues.

[2018-08-18 06:32] rpottsoh commented on #4251
This issue can likely be closed.

[2018-08-18 08:44] bbtdev opened #4254 "Complete FAQ of the new changes: Can't see other people's submissions"
Hello,

I haven't been using exercism for a few months, but it seems I can't see other people's submission anymore?
Also I can't move on to the next exercise until a mentor reviews my code?

I really like the mentorship feature, I need it, but are the above true? Or Idk where to click?

[2018-08-18 10:10] sytong opened #4255 "Waiting for mentor's feedback in Elixir track"
I have completed an Elixir exercise a week ago but I still haven't received feedback.
Whereas I received feedback from the Ruby track much faster (within a day).

May I ask is this simply because I am stuck in a long queue in the Elixir track?

[2018-08-18 14:00] iHiD opened #4256 "Fix walkthrough link in teams"
@kntsoriano If you start a solution in teams mode and then try to click the link to the walkthrough, the URL is wrong due to the teams url structure. How should we solve this ([sample url](http://teams.lvh.me:3000/teams/teamthalamus/my_solutions/6e8fc2bc8ddc4224893b4faf2e39e12d) to demonstrate the page I'm on).

[2018-08-18 14:11] ptillemans opened #4257 "[Markdown] Type annotations in a codeblock get mangled in the output."
When mentoring rust, I noticed in snippets which I reply to the students that type information gets mangled:

`collect::<Vec<char>>` --> `collect::<vec>&gt;`

I have no clue why the capital V turns into a lower case v, where the *char* went to and why the first '>'  survives but the second one turns into an xml entity.

@iHiD  mentioned that this phenomenon looks different from other similar ones

[2018-08-18 15:25] mawis commented on #4257
It seems that Prism tries to normalize everything it thinks is HTML code. So everything gets converted to lower-case and HTML tags within HTML tags get removed completely (that's why the “<char>” is missing completely in the result.

[2018-08-18 16:32] PatrickMcSweeny commented on #4073
This appears to be fixed now.

https://exercism.io/tracks/ruby/exercises/grains/solutions

[2018-08-18 17:18] iHiD opened #4258 "Implement "Resend invite" on teams memberships page"
The link is on`app/views/teams/teams/memberships/index.html.haml`

[2018-08-18 21:16] janetriley opened #4259 "Can't see download instructions for a submitted exercise"
The download instructions aren't visible once you've submitted something for an exercise.

I'm coming back to `exercism` after a few years away. (The new site looks great!)  There was still an open exercise, but I deleted the files off my laptop a long time ago.  I was able to figure out most of the command from another exercise, but it took several attempts to dope out the exercise name for "word

[2018-08-18 22:57] ptillemans opened #4260 "downloaded solution is different from the one on site."
On the python track on solution

https://exercism.io/mentor/solutions/d5d94853c3144a00afff43803b093a9c

When I download the solution, there are lines missing which are present on the site.

downloaded with *exercism* client
[code]

visible in the UI :

[code]

there is only 1 iteration visible at the moment of logging this ticket.

[2018-08-18 22:58] ptillemans commented on #4260
Note the difference in the `is_allergic_to` function.

[2018-08-18 23:32] NobbZ commented on #4260
On a first glance they look like they where different interations by the same student.

Have you checked if you have some weird named files in the downloaded folder now? eg `\\allergies.py`?

[2018-08-18 23:43] ptillemans commented on #4260
Yes there were, but the original version was the 'unimplemented' one.

[2018-08-18 23:43] ptillemans commented on #4260
on the site only 1 iteration is visible.

[2018-08-18 23:49] ptillemans commented on #4260
Doubled checked this by moving the allergies folder to allergies.old and re-downloading it again with

[code]

I hope this helps?

[2018-08-19 00:25] ftt opened #4261 "Exercise missing a stub"
I've noticed that when I download the "Sublist" problem in the Rust track, `lib.rs` is empty. Usually, it contains a stub with the not-implemented macro in the body of a function called by tests. I can infer the required signature from those tests but want to report it in case it's a bug (i.e. the stub should be there but was lost on download or something).

[2018-08-19 00:29] ftt commented on #4259
You can use `exercism download -u *UUID*` where *UUID* is a random looking sequence of characters at the end of the URL of your exercise: https://exercism.io/my/solutions/...UUID is here...

[2018-08-19 04:12] Cohen-Carlisle opened #4262 "website: unstated redis dependency"
The README should state that redis is a dependency. (Redis is not included in a fresh ubuntu 18.04 install.)

Useful info: I had to run `sudo sysctl net.ipv6.conf.all.disable_ipv6=0` to enabled redis to install on ubuntu 18.04 due to [this bug](https://bugs.launchpad.net/ubuntu/+source/redis/+bug/1752207).