[2017-03-27 18:58] #2164 closed

[2017-03-27 18:58] kytrinyx commented on #2523
Is this still an issue?

[2017-03-27 19:05] kytrinyx commented on #2535
The CLI documentation has been massively improved since I originally posted this. I'm going to go ahead and close this, and we can revisit the idea if it becomes clear that it would be a big improvement.

[2017-03-27 19:05] #2535 closed

[2017-03-27 19:06] kytrinyx commented on #2574
We have done quite a lot to improve the documentation / onboarding since this was posted. We are also reconsidering the workflow from scratch as part of our design reboot. I'm going to close this, and we can reconsider when we have specific designs/layouts/workflows to suggest and get feedback on.

[2017-03-27 19:06] #2574 closed

[2017-03-27 19:08] kytrinyx commented on #2589
FYI: I started setting up certs for heroku, and ran into a snag with the DNS. It might not actually be a snag, but I don't have the headspace right now to figure it out. Essentially the Heroku guide said "now point to the ssl version of everything", except my DNS is pointing to Fastly, and Fastly proxies to Heroku.

[2017-03-27 19:09] kytrinyx commented on #2605
We're going to be considering an in-browser workflow option as part of the reboot / redesign. I'm going to go ahead and close this, since I don't think it makes sense to try to write this experiment in the old prototype.

[2017-03-27 19:09] #2605 closed

[2017-03-27 19:10] kytrinyx commented on #2698
This is something that we're digging into for the reboot. I'm going to close this with the label `design-research` so that we can find all the prior art when we start working on that set of questions.

[2017-03-27 19:10] #2698 closed

[2017-03-27 19:10] kytrinyx commented on #2712
This conversation has wound down. If you have new ideas around this, please open a new issue in the https://github.com/exercism/discussions repository

[2017-03-27 19:10] #2712 closed

[2017-03-27 19:12] kytrinyx commented on #2715
I like these ideas, and have marked this with `design-research` so that we can consider it as part of the reboot. I'm going to close this, but if anyone wants to do more spitballing, please open a new issue in the https://github.com/exercism/discussions repository.

[2017-03-27 19:12] #2715 closed

[2017-03-27 19:13] kytrinyx commented on #2721
I've added the design research label to this so that we can evaluate the question within the larger context of the design reboot (see https://github.com/exercism/discussions/issues/113 for more about this).

If you do think that it can be implemented as a not-too jarring and not-too complicated experiment in the current website, please open a new issue about it in the discussions repository.

[2017-03-27 19:13] #2721 closed

[2017-03-27 19:14] kytrinyx commented on #2743
I've added the design research label to this so that we can evaluate the question within the larger context of the design reboot (see https://github.com/exercism/discussions/issues/113 for more about this).

Since this issue addresses things that are going to be difficult to implement as a quick experiment in the current prototype, I'm going to close this. If you do think that it can be implemente

[2017-03-27 19:14] #2743 closed

[2017-03-27 23:07] kytrinyx commented on #2747
I'm going to go ahead and close the issue... @rebelwarrior if you do see it happening again, would you mind reopening this?

[2017-03-27 23:07] #2747 closed

[2017-03-28 11:10] kytrinyx commented on #2803
This discussion has been great! Thank you so much to everyone who has taken the time to share your thoughts and ideas. 🌻

There's an experiment underway regarding gameful design. Read about it here: https://github.com/exercism/discussions/issues/123

I've added the design research label to this so that we can evaluate this question within the larger context of the design reboot (see https://github

[2017-03-28 11:10] #2803 closed

[2017-03-28 11:10] kytrinyx commented on #2910
This is well underway. We support both PNGs and SVGs at the moment, and we've opened issues in all the repos asking for a replacement.

[2017-03-28 11:10] #2910 closed

[2017-03-28 11:11] kytrinyx commented on #2917
I'm going to go ahead and close this. If we get new reports of this happening we can look into it then.

[2017-03-28 11:11] #2917 closed

[2017-03-28 11:11] kytrinyx commented on #2925
This has been done.

[2017-03-28 11:11] #2925 closed

[2017-03-28 11:12] kytrinyx commented on #2930
I'm going to close this in favor of the discussion in https://github.com/exercism/exercism.io/issues/2589

[2017-03-28 11:12] #2930 closed

[2017-03-28 11:13] kytrinyx commented on #2942
I'm going to close this, as I've not heard anything more about it. If you still are having issues, please open a new issue in https://github.com/exercism/xpython

[2017-03-28 11:13] #2942 closed

[2017-03-28 11:15] kytrinyx commented on #2945
This is something that we will likely need to address by reconsidering the data model.

I've added the design research label to this so that we can evaluate the question within the larger context of the design reboot (see https://github.com/exercism/discussions/issues/113 for more about this).

Since this issue addresses things that are going to be difficult to implement as a quick experiment in t

[2017-03-28 11:15] #2945 closed

[2017-03-28 11:16] kytrinyx commented on #2951
@YauHsien Since we've not heard back on this I'm hoping that you got it sorted. I'm going to go ahead and close this, but feel free to reopen it if you've not got it figured out yet.

[2017-03-28 11:16] #2951 closed

[2017-03-28 11:18] kytrinyx commented on #2958
I think to get this right, we need to consider it within the larger context. I'm going to close this, but I've added the design research label to this so that we can evaluate the question within the larger context of the design reboot (see https://github.com/exercism/discussions/issues/113 for more about this).

[2017-03-28 11:18] #2958 closed

[2017-03-28 11:19] kytrinyx commented on #2964
We're going to need to reconsider the data model for this one when we rethink the notifications.

I've added the design research label to this so that we can evaluate the question within the larger context of the design reboot (see https://github.com/exercism/discussions/issues/113 for more about this).

Since this issue addresses things that are going to be difficult to implement as a quick exper

[2017-03-28 11:19] #2964 closed

[2017-03-28 11:20] kytrinyx commented on #3031
This is being tracked as an issue in the jneen/rouge repository where the fix belongs.

If you want to track it on Exercism, please open an issue in the https://github.com/exercism/xelixir with the necessary information.

[2017-03-29 18:55] KayaBaber opened #3441 "Can't fetch or submit exercises, "server misbehaving""
I'm having this issue reaching the server. Submits fail and fetches timeout. I've been googling but haven't found anything useful. I tried the support chat, but they suggested I submit a ticket here. Any ideas? Should I just uninstall and reinstall?

Here's what happens when I try to fetch a new python exercise:

[code]

And this is my debug message:
[code]

[2017-03-29 19:00] KayaBaber commented on #3441
Never mind. Uninstalling and reinstalling worked.

[2017-03-29 19:00] #3441 closed

[2017-03-29 19:41] kytrinyx commented on #3441
So glad you got it sorted @KayaBaber :heart:

[2017-03-29 21:49] kytrinyx commented on #2936
We're doing a redesign from the ground up: https://github.com/exercism/discussions/issues/113

At this point I think that it probably wouldn't make sense to replace lineman in this app. When we reimplement we will not be using lineman. I'm going to go ahead and close this.

[2017-03-29 21:49] #2936 closed

[2017-03-29 21:51] kytrinyx commented on #3166
We're doing a redesign from the ground up: exercism/discussions#113

At this point I think that it probably wouldn't make sense to replace lineman in this app. When we reimplement we will not be using lineman. I'm going to go ahead and close this.

Whatever we do end up choosing for the redesign it will be something standard.

[2017-03-29 21:51] #3166 closed

[2017-03-29 21:53] kytrinyx commented on #3037
I'm going to go ahead and close this. We will gladly review CSS refactorings. I'd like to mention, however, that we're doing a redesign of the website (doing user experience design from the ground up). For more about this see exercism/discussions#113

[2017-03-29 21:53] #3037 closed

[2017-03-29 21:53] kytrinyx commented on #3041
Are we still seeing deprecation warnings?

[2017-03-29 22:03] kytrinyx opened #3442 "Put /cli and /gui routes under a namespace"
We need to be able to add a '/gui' URL to document the graphical user interface for Exercism (http://github.com/exercism/gui), and I'd like to group this together with /cli under a shared namespace.

'/clients' would make sense to me.

`/cli` is defined in app/routes/static.rb

[2017-03-29 22:09] kytrinyx commented on #3084
I'm tracking this issue for the redesign (see https://github.com/exercism/discussions/issues/113). I am going to go ahead and close this, leaving the problem to be solved in the new site.

[2017-03-29 22:09] #3084 closed

[2017-03-29 22:10] kytrinyx commented on #3087
This is part of a much bigger question that we're digging into with the redesign that we're working on (exercism/discussions#113).

I'm going to go ahead and close this.

[2017-03-29 22:10] #3087 closed

[2017-03-29 22:13] kytrinyx commented on #3100
It's not clear to me what scenario we should support. Since this affects a very small number of users, I'm going to close this. However, if someone thinks it's important to fix this, please open up a new issue in the exercism/discussions repository.

Please describe the reproduction steps and suggest a way that you think it _should_ work.

[2017-03-29 22:13] #3100 closed

[2017-03-29 22:16] kytrinyx commented on #3109
There's been no movement on this for 6 months, so I'm going to go ahead and close it. If someone runs into this problem again, then they can post a new issue, and we can reconsider whether it's important to prioritize it over other things.

Thanks!

[2017-03-29 22:16] #3109 closed

[2017-03-29 23:28] kytrinyx commented on #3180
I think this is a really important topic, but this issue is not directly actionable.

I'm taking a pass through our issue tracker with the goal of making sure that every open issue we have on exercism/exercism.io is actionable.

As this issue stands it isn't actionable. If you would like to move this topic forward, please open a new issue in http://github.com/exercism/discussions

Please:
- summar

[2017-03-29 23:28] #3180 closed

[2017-03-29 23:34] kytrinyx commented on #3124
I'm taking a pass through our issue tracker with the goal of making sure that every open issue we have on exercism/exercism.io is actionable.

As this issue stands it isn't actionable. If you would like to move this topic forward, please open a new issue in http://github.com/exercism/discussions

Please:
- summarize the points so far in
- link back to this issue
- include the intended goals for th

[2017-03-29 23:34] #3124 closed

[2017-03-29 23:35] kytrinyx commented on #3127
I'm taking a pass through our issue tracker with the goal of making sure that every open issue we have on exercism/exercism.io is actionable.

As this issue stands it isn't actionable. If you would like to move this topic forward, please open a new issue in http://github.com/exercism/discussions

Please:
- summarize the points so far in
- link back to this issue
- include the intended goals for th

[2017-03-29 23:35] #3127 closed

[2017-03-29 23:38] kytrinyx commented on #3008
This is an actionable issue, but I'd love it if it could be summarized in a way that makes it easier for someone to come and do the work.

Summarizing could happen either at the top of the original issue (with "original below" and a horizontal rule, or something like that) or in a new issue. If you open a new issue, please add a reference to this issue for complete history.

[2017-03-30 03:24] peeshar commented on #3442
ขอร้อง

[2017-03-30 06:36] kytrinyx commented on #3130
This is solved, as far as I can tell.

[2017-03-30 06:36] #3130 closed

[2017-03-30 16:37] kytrinyx commented on #3140
This was fixed by #3432

[2017-03-30 16:37] #3140 closed

[2017-03-30 16:48] kytrinyx commented on #3187
I'm going to go ahead and close this. @jtigger if there's more to do here, would you open an issue in the docs repo?

[2017-03-30 16:48] #3187 closed

[2017-03-30 17:11] kytrinyx commented on #3282
There are a lot of great ideas in here, but as it stands, this issue is not actionable, because it contains a lot of different ideas and suggestions.

If you would like to move this topic forward, please open a new issues for each idea in http://github.com/exercism/discussions, linking back to this issue so that we can discuss each separately to figure out exactly what can/should be done.

[2017-03-30 17:11] #3282 closed

[2017-03-30 17:13] kytrinyx commented on #3305
I'm taking a pass through our issue tracker with the goal of making sure that every open issue we have on exercism/exercism.io is actionable.

As this issue stands it isn't actionable. If you would like to move this topic forward, please open a new issue in http://github.com/exercism/discussions

Please:
- summarize the points so far
- link back to this issue
- include the intended goals for the d

[2017-03-30 17:13] #3305 closed

[2017-03-30 17:13] kytrinyx commented on #3320
I'm taking a pass through our issue tracker with the goal of making sure that every open issue we have on exercism/exercism.io is actionable.

As this issue stands it isn't actionable. If you would like to move this topic forward, please open a new issue in http://github.com/exercism/discussions

Please:
- summarize the points so far
- link back to this issue
- include the intended goals for the d

[2017-03-30 17:13] #3320 closed

[2017-03-30 17:21] kytrinyx commented on #3396
This issue should be in the https://github.com/exercism/xjava repository to get tracked by the right folks.

[2017-03-30 17:22] kytrinyx commented on #3362
I'm taking a pass through our issue tracker with the goal of making sure that every open issue we have on exercism/exercism.io is actionable.

As this issue stands it isn't actionable. If you would like to move this topic forward, please open a new issue in http://github.com/exercism/discussions

Please:
- summarize the points so far
- link back to this issue
- include the intended goals for the d

[2017-03-30 17:22] #3362 closed

[2017-03-30 17:23] kytrinyx commented on #3361
I'm closing this in favor of https://github.com/exercism/discussions/issues/123 - please take a look at that and chime in if you have any thoughts that are not covered there.

[2017-03-30 17:23] #3361 closed

[2017-03-30 17:23] kytrinyx commented on #3353
I'm taking a pass through our issue tracker with the goal of making sure that every open issue we have on exercism/exercism.io is actionable.

As this issue stands it isn't actionable. If you would like to move this topic forward, please open a new issue in http://github.com/exercism/discussions

Please:
- summarize the points so far
- link back to this issue
- include the intended goals for the d

[2017-03-30 17:23] #3353 closed

[2017-03-30 17:23] kytrinyx commented on #3348
I'm taking a pass through our issue tracker with the goal of making sure that every open issue we have on exercism/exercism.io is actionable.

As this issue stands it isn't actionable. If you would like to move this topic forward, please open a new issue in http://github.com/exercism/discussions

Please:
- summarize the points so far
- link back to this issue
- include the intended goals for the d

[2017-03-30 17:23] #3348 closed

[2017-03-30 17:24] kytrinyx commented on #3338
I'm taking a pass through our issue tracker with the goal of making sure that every open issue we have on exercism/exercism.io is actionable.

As this issue stands it isn't actionable. If you would like to move this topic forward, please open a new issue in http://github.com/exercism/discussions

Please:
- summarize the points so far
- link back to this issue
- include the intended goals for the d

[2017-03-30 17:24] #3338 closed

[2017-03-30 17:26] kytrinyx commented on #3430
@behrtam would you mind editing the issue to contain enough context for someone to complete the work on it?

- why is it important?
- what needs to be done?

The stats route lives in app/routes/stats.rb

[2017-03-30 17:28] troubalex commented on #3147
I dropped the ball on this. Sorry.

Do you still want me (or someone else with more spare time) to pick it up, or do you think there is no real point because of the ongoing work related to https://github.com/exercism/discussions/issues/113 ?

[2017-03-30 17:29] kytrinyx commented on #3416
What's the next step on this?

[2017-03-30 17:31] ssokolow commented on #3348
Sorry. I just don't have the time or willpower.

...and, as a UX guy, I have to say that this sort of approach to actionability triage is discouraging to issue-reporters and, in the long run, likely to result in harming your product.

1. I may have the confidence and reading/writing skills to check off your bullet points, but other issue reporters may not.
2. It's likely to demoralize and discoura

[2017-03-30 17:35] armchairlinguist commented on #3338
It looks like this is still open on https://github.com/exercism/rikki/issues/27, so I'll assume it's being pursued there.

[2017-03-30 17:36] kytrinyx commented on #3338
Oh, nice. Yepp, that's the right place for it. Thanks!

[2017-03-30 17:44] celiagomezdev commented on #3282
Hi @kytrinyx @Insti I'm really sorry for being away, I'm having hard health family issues for the last 8 months so I couldn't focus on this. I agree in discuss every issue separately, I hope to be able to dedicate more time on this at some point in the near future.

[2017-03-30 17:52] nilbus commented on #3416
I think we have a good API and fields for tracking the information needed to notify people about updates in a way that can be dismissed. The next step is to build it.

I planned on starting on this after accomplishing a couple other things (experiment reporting, history starring), but this is open for anyone else to work on, if there's interest.

[2017-03-30 18:06] kytrinyx commented on #3348
This issue is a problem statement with no recommendation as to how to solve it.

If it is intended to offer feedback, then the feedback has been heard and I agree with it. It is something that is on my mind and when I determine a way to resolve it, I will. If feedback was the goal, then the goal has been achieved, so the issue can be and has been closed.

If there is a greater goal here, i.e. to d

[2017-03-30 18:09] kytrinyx commented on #3282
@celiagomezdev ❤️ :heart: :heart: :heart: :heart: I wish you all the best.

[2017-03-30 18:13] kytrinyx commented on #3147
@troubalex I hate to say "no real point", but I think you're right. We should just table it and let exercism/discussions#113 be the place where UX and UI efforts are happening.

I'm going to go ahead and close this. :heart: Thank you

[2017-03-30 18:13] #3147 closed

[2017-03-30 18:25] kytrinyx commented on #3277
The recommendation here is to store (and submit) the files in the order that they are submitted. I think that is the correct behavior.

In order to fix it, though, we're going to need to discuss how to tackle it, and it's likely going to involve both CLI and API changes.

@rbasso would you mind moving this to the discussions repo so that we can hash out the details there, and then open prescriptiv

[2017-03-30 20:44] kotp commented on #3396
Issue moved to [exercism/xjava #406](https://github.com/exercism/xjava/issues/406) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-30 20:44] #3396 closed

[2017-03-30 20:46] kotp commented on #3277
Issue moved to [exercism/discussions #130](https://github.com/exercism/discussions/issues/130) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-30 20:46] #3277 closed

[2017-03-30 20:48] kotp commented on #3436
Issue moved to [exercism/xcpp #115](https://github.com/exercism/xcpp/issues/115) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-30 20:48] #3436 closed

[2017-03-31 08:52] troubalex commented on #3147
Perfectly fair, and honest. I learnt stuff, and I hope others did as well. ❤️

[2017-04-01 04:21] aklap commented on #3442
Hi, I'd like to take this one on! Just to be clear, you'd like to move out the /cli routes into a separate module and file rather than using the Sinatra::Namespace extension, right?

[2017-04-01 05:20] kytrinyx commented on #3442
Sweet, thanks @aklap! That's a good question.

I don't even need it to move into a separate file or module, it could stay in the file where it is, making it so that the routes have an extra bit before the '/cli'. E.g. '/clients/cli'.

And then updating all the references to it so it points to the right place.

[2017-04-01 06:15] ssokolow commented on #3348
Ahh, that makes more sense. In that case, I'd suggest rephrasing this line...

...to something which makes it more clear that closing means "Any remaining problems are being moved to a TODO list for more abstract/long-term items so they don't bog down the short-term list" rather than "As far as we're concerned, this is resolved."

[2017-04-01 15:13] tejasbubane commented on #3041
@kytrinyx Yes there are still warnings in the [latest build](https://travis-ci.org/exercism/exercism.io/builds/217259250).

I see two types of warnings:
1. **Package deprecations:** Some of these are related to [lineman having deprecated dependencies](https://github.com/linemanjs/lineman/issues/390). We might need to fix these upstream.

2. **Nodejs version warnings:** Might be related to our [tra

[2017-04-01 16:31] aklap commented on #3442
Ah, okay, I see what you're saying! Thanks for clarifying.

[2017-04-01 17:27] kytrinyx commented on #3041
Thanks @tejasbubane both of those sound doable, if anyone wants to take a stab at them.

[2017-04-01 23:06] kytrinyx commented on #3348
@ssokolow That's a great point. "Closed" doesn't mean resolved.

In the case of UX, we're working closely with a group of professionals (see https://github.com/exercism/discussions/issues/113 for context) to reconsider everything from the ground up. Everything in the current site happened by accident. We never actually did all the UX research, asking questions about the people involved (who they a

[2017-04-02 14:31] nilbus opened #3445 "Graph experiment statistics"
I'm working on a statistics page that visualizes the results of the exercism/discussions#123 experiment. The specific things I had planned to measure for this study are comment quantity and length (a loose measure of quality). I'm making some decisions and would like your feedback, @kytrinyx.

![screenshot](https://cloud.githubusercontent.com/assets/64751/24586847/2af6d540-1778-11e7-8b50-3ebe8767f

[2017-04-02 18:03] nilbus commented on #3445
I think I'll start by naming this "Participation" stats, which can cover both this experiment period and long-term participation.

[2017-04-02 19:40] nilbus commented on #3445
Another question: what is the order of magnitude of the total comment count we have on Exercism now?

[2017-04-03 14:38] kytrinyx commented on #3445
Yeah, that works.

I think it might be useful long term—let's assume that for now and re-evaluate when the experiment is over.

That sounds good. If I recall correctly, I chose chart.js because it was the first one I came across. Or maybe it was because someone had used it for something already. I don't actually recall. The point being: it was not a particularly reasoned choice.

Totally fine.

Ye

[2017-04-04 02:53] nholden commented on #3356
I did some initial investigation into this bug, and it looks like we no longer use [`X::Docs::Track`](https://github.com/exercism/exercism.io/blob/master/x/docs/track.rb), so we never hit the logic to use the default `LEARNING.md` file. Instead, [the `Languages` router grabs `docs` from `Trackler`](https://github.com/exercism/exercism.io/blob/master/app/routes/languages.rb#L44-L51).

[Here's the m

[2017-04-04 02:53] nilbus commented on #3445
Thanks!

I'll do some performance testing with 1 million comments, which should cover us for a awhile.

[2017-04-04 15:17] jtigger commented on #3180
Delighted that we're talking through how to manage visibility in the redesign.  As we get better at encouraging conversation among Exercism users, there will be a greater need for managing those interactions.

@kytrinyx I'm a little confused with the assessment that this issue is not actionable.  It states an objective with intention, enumerates scenarios and suggests a feature set.  Is it too big

[2017-04-04 15:19] jtigger commented on #3187
Yeah, whoops!  Slipped off my radar.  Thank you!

[2017-04-04 15:58] kytrinyx opened #3449 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-04 16:43] kytrinyx commented on #3180
This is a feature request, by which I assume that everything in it is a recommendation for discussion. The action is "discuss" and "decide". There's nothing here that someone off the street could go in and implement, because we don't necessarily have an agreement on what to implement or how.

[2017-04-04 16:53] kotp opened #3450 "Delphi contributed code is not receiving highlighting."
Rouge is currently "Close enough" in version that I would expect it to work, but Rouge current version is "2.0.7" and we are using "2.0.5".

This could be pretty straight forward... map "Delphi" to "Pascal" in `lib/exercism/syntax_highlighter.rb` and change the Gemfile for the later version of Rouge.

[2017-04-04 16:55] kotp commented on #3450
Oh, Markdown for comments does highlight using `pascal` but does nothing, as expected, for `delphi`.

[2017-04-04 16:56] kytrinyx commented on #3450
Yeah, mapping it to pascal should work. We should update rouge, too.

[2017-04-04 17:41] kotp commented on #3180
@jtigger If you would like, I can get this moved to discussion which will retain the discussion, and then we can edit it to bullet the points, and come back with an actionable set of steps.

[2017-04-04 22:25] #3450 closed

[2017-04-04 22:26] kotp commented on #3450
This is fine that it is closed, the upgrade for Rouge should happen as it happens regarding #3452

[2017-04-04 22:51] kotp opened #3453 "Test/Development database is missing Delphi submissions"
When building the database for local development, there are no submissions on the Delphi track.

/cc @rpottsoh

[2017-04-04 23:35] kytrinyx commented on #3453
This can be fixed by updating the `seeds` project: https://github.com/exercism/seeds

[2017-04-05 02:33] kotp commented on #3453
Thanks... have it locally, but forking it now.

[2017-04-05 17:16] kytrinyx commented on #3449
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-04-06 15:16] kytrinyx opened #4131 "Validate the test data version as part of a travis build"
Thanks to the work of @rbasso (see https://github.com/exercism/x-common/pull/602, https://github.com/exercism/x-common/issues/625, https://github.com/exercism/x-common/issues/673, etc) and many more, we now not only have a schema but also a test data version.

In https://github.com/exercism/x-common/issues/524 @robkeim started to think about how to propagate changes from `x-common` to the tracks.

[2017-04-07 07:40] jtigger commented on #3180
Thanks, @kotp, that would be fantastic!

[2017-04-07 19:34] catherinedevlin opened #3455 "Error when accepting invitation"
I've been getting "Sorry!  That's our fault!" errors for several days when trying to accept an invitation to the 18f team: http://exercism.io/teams/18f/invitation/accept

The onlly thing I know that might have caused an unusual case is that my teammates made me a *manager* of the team before I was a member.  Then they sent me an invite, but maybe it's impossible to accept an invite when you've bee

[2017-04-08 06:31] kotp commented on #3180
Issue moved to [exercism/discussions #134](https://github.com/exercism/discussions/issues/134) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-08 07:51] kotp commented on #3455
Something seems to be happening that may be related, but I invited someone last week, and apparently they have accepted (they are in the members listing) but it is still in the invite area... and when I removed the person, they were removed also from the 'active' list.

[2017-04-08 07:55] kotp commented on #3455
Ah, in the graphic, the confusion comes because once accepted they are directly below the blue "invite".  Unless there are current invited members, this is not clear that this is not the active list of invited members... once all are included, the "Invited members" heading disappears... leaving just the "invite" wording.. making it appear that they are still in the invite queue.  The page that thi

[2017-04-09 16:01] ujjwal-git opened #3456 "submitting error !!!"
I am getting error as below :
--------------------------------------------------------------------
$ exercism submit ~/exercism/exercises/hello.cpp
2017/04/09 21:17:40 unable to submit - Bad path to exercise file.

You're trying to submit a solution file from inside your exercises directory,
but it looks like the directory structure is something that exercism doesn't
recognize as a valid file path

[2017-04-09 16:06] tejasbubane commented on #3456
@ujjwal-git Is the filename `hello.cpp` or `hello_world.cpp`?

[2017-04-09 16:16] ujjwal-git commented on #3456
@tejasbubane
Thanks for your concern !
the issue has been fixed now.
Actually it needed to specify full path name of file.

[2017-04-09 16:16] #3456 closed

[2017-04-10 05:55] tejasbubane commented on #3456
Glad you got it sorted @ujjwal-git

[2017-04-10 15:45] kytrinyx commented on #3455
So sorry you're running into this. You should be able to be a manager and then get invited, those are supposed to be independent of each other. Let me dig into this in the next few days to see what's going on!

[2017-04-10 21:19] shdblowers opened #3457 "Improve ordering in Progress section on profile page"
Hello, thanks for making exercism, I have a suggestion on how to improve it.

I'm not sure what the current ordering of languages is on the Progress section on the profile page, I can't figure it out.

But, I think what would be a better ordering is by the date of last submitted exercise for that language or language you have submitted the most number of solutions to.

[2017-04-10 22:38] cleeverz opened #3458 "Rikki refinement suggestion"
Any time you submit an exercise on the ruby track where a conditional is used while iterating through a collection, you get this feedback from rikki:

There are some very handy ones that might let you simplify."

However, there are some exercises in which you are meant to implement your own, low level solution to a problem that one of these existing methods already has solved.  In these cases this

[2017-04-11 00:40] aklap opened #3459 "Anchor links broken in setting-up-local-development.md"
The anchor links were broken in [`exercism.io/docs/setting-up-local-development.md`](https://github.com/exercism/exercism.io/blob/master/docs/setting-up-local-development.md) because there was an extra '-' character in between the words 'exercism' and 'io' in the slugged filename.

Removing the '-' fixes the anchor links.

[2017-04-12 02:45] nilbus commented on #3416
Proposed API updated in the issue description.

[2017-04-12 05:21] mhelmetag commented on #3458
So the great thing about rikki is that, currently, each supported language track has it's own "checker". The ruby one included. So this shouldn't be that hard to implement over in [rikki-ruby-analyzer](https://github.com/exercism/rikki-ruby-analyzer).

The only issue I can see is that I think rikki doesn't send info about the exercise name... so... we. currently, would need to add that before bein

[2017-04-12 18:11] cleeverz commented on #3458
Cool. Thanks for the reply!  And yes, moving the ticket to rikki-ruby-analyzer sounds good to me.

[2017-04-13 06:47] #3445 closed

[2017-04-13 07:00] mhelmetag commented on #3458
Closing out in favor of https://github.com/exercism/rikki-ruby-analyzer/issues/5

[2017-04-13 18:04] cleeverz commented on #3458
Awesome! Closing.

[2017-04-13 18:04] #3458 closed

[2017-04-17 15:36] rootulp opened #3465 "Push footer to bottom of page"
Hi! I have an idea to improve the appearance of exercism.io
I think the site would look better if the footer was pushed to the bottom of the page. Screenshots to explain:

The current notifications page has a lot of whitespace below the footer:
<img width="1440" alt="screen shot 2017-04-17 at 4 30 16 pm" src="https://cloud.githubusercontent.com/assets/3699047/25093754/8e158ea4-238b-11e7-9fe2-62e19

[2017-04-17 21:56] Insti commented on #3459
Thanks @aklap !

[2017-04-17 21:56] #3459 closed

[2017-04-17 23:08] kytrinyx commented on #3356
Fixed in #3454 :tada: deploying in a sec.

[2017-04-17 23:08] #3356 closed

[2017-04-18 00:26] kytrinyx opened #3466 "Add information about the Windows installer for the CLI"
There's an installer for Windows, which simplifies the instructions on http://exercism.io/clients/cli/windows

The actual text is defined in `x/docs/md/cli/windows.md`.

The installer lives in https://github.com/exercism/windows-installer, instructions for using it are defined in the README of that repo.

[2017-04-18 17:20] #3449 closed

[2017-04-18 17:21] kytrinyx commented on #3465
I think that sounds like a great idea. I don't know CSS, so your guess is better than mine. I have no problem accepting what you think might be a hack, if you like :-)

[2017-04-18 19:10] Insti commented on #3031
We need to remember to update the rouge gem here though.

[2017-04-18 20:35] kytrinyx commented on #3031
There's an open PR, but I'm waiting for the author to fix based on the feedback I gave: https://github.com/exercism/exercism.io/pull/3452

[2017-04-18 20:37] kytrinyx commented on #3031
Oh, sorry. You mean "when it happens". Yeah—we will need to update the rouge gem.

What is the correct way to track a dependency like this?

[2017-04-18 20:43] kytrinyx commented on #3457
@shdblowers I'm not actually sure what the ordering on the Progress section is, I'd have to look. My guess is that whatever it currently is, it wasn't intentional.

The code is in [the UserTracksSummary file][summary-file] and from what I can tell, the order is whatever comes out of the database, which is non-deterministic.

[summary-file]: https://github.com/exercism/exercism.io/blob/master/lib/e

[2017-04-18 20:44] kytrinyx commented on #3457
I would welcome a pull request that makes the change that you propose.

[2017-04-18 21:50] shdblowers commented on #3457
Excellent, I'll take a look into writing that pull request then :smile:

[2017-04-18 22:55] kytrinyx commented on #3457
Sweet! ✨ holler if you get stuck (the code base is a bit of a ~~mess~~ prototype).

[2017-04-19 05:36] Insti commented on #3031
I don't know if it is the _correct_ way, but _a_ way is leaving this issue open and until
https://github.com/jneen/rouge/issues/528 is resolved and an Exercism PR is made that updates Rouge to the fixed version.

[2017-04-19 11:03] Insti commented on #3457
The ordering of the progress section should be most recent iteration first and then by iteration date descending.

However it has never been implemented correctly, due to misunderstandings by those trying to implement it that the html code `data-sorted-direction="descending"`
does not change the ordering of the data that is returned from the database,
and that the sample data used for testing is a

[2017-04-19 14:06] krypten commented on #3425
@kotp @kytrinyx Would not be able to work on this issue anymore. I got a lot work from office. Feel free to assign to this issue to anyone.

[2017-04-19 14:28] Insti commented on #3425
That's fine @krypten, thanks for letting us know.

[2017-04-19 16:13] kytrinyx commented on #3455
You've already been confirmed as a member, but for some reason your invitation persisted, so when you tried accepting it, it crashed because it was trying to create a duplicate record.

I've tried figuring out why the invitation persisted—the way the code is written that shouldn't happen (except I'm probably missing something).

I'm going to go ahead and close this, as I haven't found reproduction

[2017-04-19 16:35] iHiD commented on #3455
@kytrinyx

At a glance, might this series of things cause it?

[code]

Where the second is called [here](https://github.com/exercism/exercism.io/blob/cf8bf31cbfdda3fa04d4db1105e245226910f351/app/routes/teams.rb#L280):

[2017-04-19 16:37] kytrinyx commented on #3031
Fair enough.

[2017-04-19 16:41] kytrinyx commented on #3455
Not that I know of. Managing a team doesn't create a membership record. When you accept an invitation, though, there's a transaction where the membership record is created and the invitation is destroyed.

[2017-04-19 17:58] kotp commented on #3031
It is also being tracked there by the @exercism/pascal team.

[2017-04-19 18:14] kytrinyx commented on #3031
@kotp I believe the Pascal team is tracking a different rouge-related fix.

[2017-04-19 18:19] iHiD commented on #3455
Yeah. Sorry. You're totally right.

[2017-04-19 20:26] c1505 commented on #3455
Having the same issue.  A member was invited to join the team and got an error when trying to.  I tried deleting the invite and had him request to join to see if that might fix it.  Now when I try to accept the join request, I get an error.

Other members have been able to join the team as recently as yesterday.

![image](https://cloud.githubusercontent.com/assets/6599077/25200471/6df30e66-251c-11

[2017-04-19 20:28] bernardoamc commented on #3455
Thanks for reporting @catherinedevlin and @c1505, I will take a look at this tonight and see if I can find what could possibly be causing this. :)

[2017-04-19 20:29] allcentury commented on #3455
Can you share the bugsnag report @kytrinyx ?  That would be a good place to start.

[2017-04-19 21:28] kytrinyx commented on #3455
@allcentury I couldn't find anything in Bugsnag (which suggests that something changed with the settings or setup there).

@c1505 do you know what the sequence of events was for this to happen? I'd love to try to reproduce this locally.

[2017-04-20 01:53] bernardoamc commented on #3455
@kytrinyx We might want to change [this](https://github.com/exercism/exercism.io/blob/master/lib/exercism/team_membership_invite.rb#L19) to `destroy!` so we can rollback the membership in case we fail to destroy the invite. This solves just part of the problem though...

If we are getting an error right now it should be `TeamMembership.create!` fault, since `destroy` is not raising anything. What

[2017-04-20 03:01] kytrinyx commented on #3455
Oooh, yepp. We should definitely make that `destroy!`.

I wonder what would happen if we added the same person twice in the same list.

[... later... ] Uh, yeah. That might actually be it. Let me test this locally.

[2017-04-20 03:04] kytrinyx commented on #3455
Nope. That's not it. I tried both adding the same user twice in the same action, and also adding the same user twice in different actions. Both worked just fine.

[2017-04-20 04:09] bernardoamc commented on #3455
Too bad... I also couldn't reproduce, back to the whiteboard.

[2017-04-20 04:50] kotp commented on #3457
Thanks @insti for the research and explanation.  I am sure it will come in handy.

[2017-04-20 04:55] Insti opened #3469 "Bugsnag is not capturing all errors."
I've suspected this for a while, but now have some evidence.

A screenshot of an error with a 'submitted to bugsnag message': https://github.com/exercism/exercism.io/issues/3455#issuecomment-295426007

A failure to find mention of the error in Bugsnag: https://github.com/exercism/exercism.io/issues/3455#issuecomment-295450923

It is working sometimes:
![20170420 - bugsnag events](https://cloud.git

[2017-04-20 05:36] Insti opened #3470 "Remove LetsEncrypt temporary route"
https://github.com/exercism/exercism.io/commit/eadc88d3e10bbee4768224744f63b1b8f969cdd2 added the certificate challenge required to generate the LetsEncrypt SSL certificate.

This can be removed once the certificate has been generated.

References:

https://letsencrypt.readthedocs.io/en/latest/using.html#webroot

https://letsencrypt.readthedocs.io/en/latest/using.html#hooks

[2017-04-20 08:07] kotp commented on #3031
It could be.  This one was mentioned to me directly though, so wanted to make sure it got put in our monitor queue.

[2017-04-20 14:08] allcentury commented on #3469
I went through the changelog and nothing jumped out about this issue.  I do see we explicitly call bugsnag on some errors we rescue (which is normal) however, as your link mentions @Insti I don't see that we tell Sinatra/BugSnag to raise unhandled exceptions.

That should only require a few lines of code:

[code]

I'm going to write a few tests and see if Bugsnag get's called...

[2017-04-20 20:54] allcentury commented on #3469
Ok, I tested this on master and I can step through the bugsnag code (and watch it send the error) when I simply do this:

[code]

I'm giving a fake API key to bugsnag but it's returning a 200 with a body of 'OK'.  🤷‍♂️ Without access to bugsnag I'm probably not much more help.

[2017-04-20 21:24] kytrinyx commented on #3469
Thanks both of you for confirming that this is a problem, and providing a starting point for debugging!

I'll do a git bisect on this locally next week when I'm back home to see if we broke it somewhere along the way, or if this is a change to the BugSnag APIs.

[2017-04-20 21:37] Insti commented on #3469
This is master without any changes?

I suspect it's something to do with some kind of difference between environments,  development  and production

https://github.com/exercism/exercism.io/blob/ce2fe970ccd90993c5822147ca429ac3241d2937/app/routes/core.rb

Sets :show_exceptions differently.

Are there any other places where the different environments might be setting things differently? Some Sinatra

[2017-04-20 22:39] wingedearth opened #3471 "Wrong Version number for Exercism"
I used "brew install exercism to install 2.4.0.
exercism -v returns 2.2.5
I deleted the 2.2.5 directory. I've run brew doctor and brew cleanup. 2.4.0 appears to be the only version I have. But the debug also is telling me that I'm running v2.2.5
**** Debug Information ****
Exercism CLI Version: 2.2.5
Exercism CLI Latest Release: 2.4.0
OS/Architecture: darwin/amd64
Build OS/Architecture darwin/amd6

[2017-04-20 22:44] wingedearth commented on #3471
I tried running exercism upgrade and an error was returned: error downloading executable: Get https://api.github.com/repos/exercism/cli/releases/assets/3484980: x509: certificate has expired or is not yet valid

[2017-04-21 03:42] kytrinyx commented on #3455
@bernardoamc I think you're right that this happened because a `destroy` failed, but didn't raise the exception so the transaction didn't roll back.

[2017-04-21 04:07] kytrinyx commented on #3471
Wow, that's totally confusing, and I'm so sorry you're running into it!

What does `which exercism` return?

[2017-04-21 05:01] bernardoamc commented on #3455
@kytrinyx Yeah, I feel that's the reason, but I can't reproduce! It's a good idea to fix the `destroy` nonetheless. :)

[2017-04-21 05:12] Insti commented on #3471
Have you tried running
`exercism update`

[2017-04-21 12:04] allcentury commented on #3469
@Insti I did have to turn off `show_exceptions`, I edited my previous comment with that as well - thanks for calling that out.  The Bugsnag gem does log through it's notify process (to STDOUT), so perhaps another place to start debugging is checking for logs for other exceptions and seeing if Bugsnag is logging as well.

I changed the bugsnag log level from 2 to 0 via:

[code]

and I can see more

[2017-04-21 13:51] Insti commented on #3469
What about updating the Bugsnag gem?

Exercism seems to be using 4.0.0: https://github.com/exercism/exercism.io/blob/master/Gemfile.lock#L29

But the latest version seems to be 5.3.1:https://github.com/bugsnag/bugsnag-ruby/releases
(Maybe there is a changelog that says something interesting.)

[2017-04-21 14:01] allcentury commented on #3469
Right - I mentioned in my first comment about looking through the changelog.  A possibly related issue I noticed was this PR: https://github.com/bugsnag/bugsnag-ruby/pull/307.  On our version of Bugsnag if we're not sending a stacktrace through, Bugsnag is swallowing the exceptions (but still responding with a 200).

[2017-04-21 14:50] Insti commented on #3469
That sounds a lot like our problem.

Would you be able to:

a) Upgrade the Bugsnag gem and check that Exercism still works & submit a PR
and/or
b) Verify whether the stack trace is being sent through by the request?

[2017-04-21 15:46] wingedearth commented on #3471
[which exercism] returns the path /Users/[myname]/bin/exercism (which is not where my version of exericsm is stored).

[2017-04-21 16:02] wingedearth commented on #3471
Hmm...`exercism upgrade` seems to have worked. But I think the underlying issue is that when I tried to reinstall or upgrade using Homebrew, it installed to a different directory than where the active version of exercism is located. In what ways can I resolve the conflict between Homebrew and the active exercism?

I have Homebrew's copy of exercism in usr/local/Cellar like most other Homebrew inst

[2017-04-21 16:33] Insti commented on #3471
try renaming  `/Users/[myname]/bin/exercism` to exercism.disabled and see what happens.

[2017-04-21 16:59] allcentury commented on #3469
I added the PR @Insti .  I'm seeing stacktraces locally (with the same setup as https://github.com/exercism/exercism.io/issues/3469#issuecomment-295908504).  Bugsnag is planning to send a large JSON payload that looks like this...

[code]

Let's test this theory and see if the upgrade solves our issue(s).

[2017-04-21 17:10] wingedearth commented on #3471
@Insti - I just renamed exercism to exercism.disabled in that directory. I changed directory to home and then tried running some exercism commands but they still work.

[2017-04-21 17:11] wingedearth commented on #3471
Maybe now it's somehow reading from the /usr/local/Cellar folder? I can't tell.

[2017-04-21 17:36] Insti commented on #3471
try: `which exercism` again.

[2017-04-21 17:37] Insti commented on #3471
I'm around in https://gitter.im/exercism/support for real-time support.

[2017-04-21 17:54] wingedearth commented on #3471
`which exercism` is now returning /usr/local/bin/exercism

[2017-04-21 18:09] Insti commented on #3471
Maybe that's where homebrew puts the executable.
what is the result of  `exercism -v` now?

[2017-04-21 18:17] wingedearth commented on #3471
2.4.0

[2017-04-21 18:19] Insti commented on #3471
So is this issue resolved now?

[2017-04-21 18:20] Insti commented on #3471
(you can probably delete that `exercism.disabled` file now.)

[2017-04-21 18:41] wingedearth commented on #3471
Getting the right version active is resolved. Figuring out what exercism and homebrew exercism are pointing to and where that can be altered is not.

[2017-04-21 18:44] Insti commented on #3471
Ok,

`where exercism` should report all locations it can be found.

But I think you've reached the limit of my homebrew knowledge, so you'll have to wait for someone who knows more about that to see this issue.

[2017-04-21 18:48] #3471 closed

[2017-04-22 04:01] kytrinyx commented on #3471
@wingedearth The problem here is that both the `/usr/local` path and the `~/bin` path are on your PATH, and the order in which they appear in your PATH will decide which of the two binaries gets detected.

I can't figure out how you would have an executable that ended up in the `~/bin` directory.

[2017-04-22 14:38] c1505 commented on #3455
@kytrinyx I sent the initial invite a while ago(guessing a few months) and I don't recall doing anything differently with the invite than with other ones I sent.

[2017-04-23 15:26] cmccandless opened #3476 "Dead link exercism.io/cli at exercism.io/how-it-works"
Found under Getting Started ->3. Download and configure [command-line client](http://exercism.io/cli).

I'm guessing this used to point to what is now at exercism.io/clients/cli.

[2017-04-23 17:21] Insti commented on #3476
Thanks for the report. :heart:

I think this was fixed in https://github.com/exercism/exercism.io/pull/3474 and we're just waiting for the fix to be put live.

[2017-04-24 14:31] tejasbubane opened #3477 "Reposition remove buttons on Team Management page"
The `Manager` section on `http://exercism.io/teams/<your-team-slug>/manage`
Here is how it looks now:

![screen shot 2017-04-24 at 7 53 01 pm](https://cloud.githubusercontent.com/assets/980783/25341864/e50a6882-2927-11e7-8569-08b9707e65dc.png)

It is difficult to tell which remove button is for which user.

The team section on the other hand, is better:

![screen shot 2017-04-24 at 7 47 43 pm](htt

[2017-04-24 14:38] tejasbubane opened #3478 "Team dropdown shows only member-teams, not manger-teams"
I am a member (as well as manager)  of `team-X`. For `team-Y`, I am just an manager, not a member.
In the `Teams` dropdown in the header, I can see only `team-X` and not `team-Y`.

But on my profile page in the `Teams` list, I can see both the teams. The team lists should be consistent at both these places. I should be able to switch to both teams through the dropdown.

[2017-04-24 17:07] bermannoah commented on #3470
Went ahead and removed it, pushed up a PR.

[2017-04-25 07:05] arumoy-shome commented on #3477
I can take this up if nobody else has started on this. :)

[2017-04-25 07:19] Insti commented on #3477
Should the x be to the left of the profile picture to match what is in the members list?

[2017-04-25 07:21] tejasbubane commented on #3477
I thought of this while writing the issue, and I don't mind it either ways.
But for consistency let's keep it to the left. I will modify the screenshot in the issue.

[2017-04-25 07:26] tejasbubane commented on #3477
@arumoy-shome Please make a note of the change in issue description. For consistency on the page and proper alignment, lets keep all cross buttons to the left side of text.

[2017-04-25 20:23] Raptorian commented on #3466
Would linking the installer be fine? Or do you want the information from the README page of the installer documentation on this page? If linking the installer is fine, I have simple edit as a pull request up: #3481

[2017-04-25 23:38] cleeverz opened #3482 "Exercism fetching exercises that have already been completed."
After completing the "beer-song" exercise in the ruby track, I ran exercism fetch and the got exercism responded that the "strain" exercise had been fetched. I had already completed and submitted this exercise.

Investigating a bit further, I can see a couple other exercises that have been completed are missing from the archive list at http://exercism.io/cleeverz

Missing: "Trinary" and "Etl".

A

[2017-04-26 03:50] arumoy-shome opened #3483 "Link to `exercism/todo` returns a 404"
The link `exercism/todo` on [CONTRIBUTING.md](https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md) returns a 404.

![screen shot 2017-04-25 at 11 40 08 pm](https://cloud.githubusercontent.com/assets/6236828/25417304/2a787cbc-2a11-11e7-81b5-a7c09f52b88e.png)

I would be more than happy to push up a fix if someone can provide me with the correct link. 😄

[2017-04-26 04:28] arumoy-shome opened #3484 "Inconsistency in ruby version for existing contributors"
- currently in [bin/setup](https://github.com/exercism/exercism.io/blob/master/bin/setup#L9) we check if a `.ruby-version` file already exists, if not, we then copy the `.ruby-version.example` file over
- this approach however leads to inconsistency in the ruby version of existing contributors
- if we change the ruby version in `.ruby-version.example`, this change is never reflected for existing c

[2017-04-26 04:41] Insti commented on #3483
The todo repository has been deleted: https://github.com/exercism/discussions/issues/135

That line needs to either be reworded or removed.

[2017-04-26 04:46] Insti commented on #3484
No, don't unconditionally overwrite existing files.

What are the implications of this?
How does it lead to inconsistency?
Why are existing contributors re-running the setup script?

[2017-04-26 04:57] Insti commented on #3482
Were the files present on your local system before you ran the fetch?

"ETL" I can see in the 'current' list so it won't be in the archive list.
"Trinary" has been deprecated, so this may be a bug if the website is not showing completed but deprecated exercises.

[2017-04-26 05:09] arumoy-shome commented on #3483
@Insti Are there any alternative locations where issues are curated? If not, I can 🔥 the line.

[2017-04-26 05:22] arumoy-shome commented on #3484
@Insti thanks for the questions.

I faced this issue just now, I had cloned the exercism.io repo a few months back and must have run the setup script. Back then, the ruby version specified in `.ruby-version.example`was `2.2.2`. I got pulled into other stuff and didn't get around the contributing back then. However today when I came back, I synced my fork, ran the setup script however I noticed tha

[2017-04-26 05:33] Insti commented on #3484
Thanks, your explanations are helpful to me in understanding the issue.

Maybe rather than overwriting, the setup script could check the contents of the files and print an informative warning if they differed?

[2017-04-26 05:50] arumoy-shome commented on #3484
This could work however it will get buried in the logs from bundler, pg and rake so if the contents do not match, we should probably print out an informative error and exit the script.

[2017-04-26 07:18] Insti commented on #3484
I've been thinking about this, maybe overwriting, but backing up the original file is the right thing to do. Anyone intentionally doing custom things with these files is probably not also running the setup script that often.

[2017-04-26 07:22] Insti commented on #3483
We tag issues that we think are good for starting out as [good first patch](https://github.com/search?q=org%3Aexercism+is%3Aissue+is%3Aopen+label%3A%22good+first+patch%22)

[2017-04-26 17:46] arumoy-shome commented on #3483
@Insti How can I do this? I don't seem to have that option on the right.

[2017-04-26 18:21] arumoy-shome commented on #3251
I think we can close this since @MatMoore has already 🚀 the [extraction](https://github.com/exercism/exercism.io/pull/3293)?

[2017-04-26 18:46] Insti commented on #3483
You need to have the right permissions on the repository to do the tagging (e.g. by being an admin or whatever github calls them.)

[2017-04-26 19:29] arumoy-shome commented on #3478
I can take this up if no body is pursuing this.

[2017-04-26 19:42] bernardoamc commented on #3478
That would be awesome @arumoy-shome , thanks for your help! ❤️

[2017-04-26 19:44] tejasbubane commented on #3478
Go for it @arumoy-shome 👍

[2017-04-27 02:38] arumoy-shome commented on #3478
@tejasbubane where exactly is this `teams` dropdown located? Also a few screenshots would help to gather a bit more context. Thanks!

[2017-04-27 02:53] arumoy-shome commented on #3465
@rootulp bootstrap's [`navbar-fixed-bottom`](http://getbootstrap.com/components/#navbar-fixed-bottom) should do the trick. I would be happy to push up a PR if you haven't started on this already. :)

[2017-04-27 04:04] RaptorRCX commented on #3483
Did a pull request to move the info about good first patch to replace the original sentence + link.

[2017-04-27 08:06] Insti opened #3489 "Is Probot working?"
Exercism recently decided to install Probot to help manage stale issues https://github.com/exercism/discussions/issues/128

It's been more than 2 weeks but there is nothing tagged as `stale`:
https://github.com/search?utf8=%E2%9C%93&q=label%3Astale+user%3Aexercism

There are still many stale issues/pull requests in the repositories.

Is Probot working?  How can we confirm, rather than waiting for

[2017-04-27 08:39] tejasbubane commented on #3478
Sorry for the confusion @arumoy-shome. Here is a screenshot of my profile page:

![screen shot 2017-04-27 at 12 12 02 pm](https://cloud.githubusercontent.com/assets/980783/25471089/076b3740-2b43-11e7-8c12-7723ebabb871.png)

The dropdown is in the header and can be accessed from any page as a quick switch to team.

A person can just be manager of the team without being a member. The dropdown does n

[2017-04-27 13:34] rootulp commented on #3465
@arumoy-shome I haven't started on this - please go ahead with your PR! Excited to see this fix.

[2017-04-27 18:05] cleeverz commented on #3482
The Files were present on my local system, yes.

The ETL exercise was only showing up in the current list after I posted this issue, because I resubmitted it to get it out of the way.

Got you on the Trinary exercise.

[2017-04-27 22:21] cleeverz commented on #3482
Come to think of it, should I move this issue to the CLI issues list?

[2017-04-27 23:28] kotp commented on #3484
The setup script could check for the version of the example and report that "Current Ruby version is _whatever_ would you like to O)verwrite or B)ackup and update or I)gnore?"

[2017-04-28 07:01] Insti commented on #3482
Only if you can reproduce it.

[2017-04-28 07:05] Insti commented on #3484
We need to be wary of over-engineering a solution to a trivial problem.
Maybe the original suggestion is the best, unconditionally overwrite.
Any files you care about should be checked into git, right?

[2017-04-28 08:41] kotp commented on #3484
In the case of version files, checking them into git and being able to change them (The reason for the `.example` extension in the first place) is so you don't check them into git.  Being careful to not arbitrarily change files meant to be contributor modified is something we can help guard against.

[2017-04-28 12:54] Insti opened #3490 "Broken link on fallback "learning" page."
When a language documentation page is using the fallback content the link to the github repository is incorrect.

Example: http://exercism.io/languages/nasm/learning

The link pointed to by: `repository on GitHub.`, `http://exercism.io/languages/nasm/REPO`
is wrong. I suspect there is a template replacement of the 'REPO' string missing.

This may also apply to other fallback pages.

See also:

htt

[2017-04-28 12:56] Insti commented on #3490
This is probably closer to where this needs to be fixed: https://github.com/exercism/exercism.io/pull/3475

cc: @nholden

[2017-04-28 17:27] joelwallis commented on #3484
Well, I completely understand the point of @arumoy-shome. If you limit the version of the Ruby your software uses - I mean, programmatically, you must provide a way to "encapsulate" a Ruby version.

It's possible by making use of RVM, and setting the Ruby version into the `Gemfile`. My team uses this approach in our product:

[code]

[2017-04-28 20:29] jtigger commented on #3251
@mathvesilva: @arumoy-shome is right, we can close this particular issue.

However, there's a raft of documentation-oriented work over in the new doc repo: https://github.com/exercism/docs/issues

If you're still game to contribute in that way, we'd love it!

[2017-04-28 20:29] #3251 closed

[2017-04-28 21:30] kotp commented on #3484
The Gemfile is used here as well, currently set at 2.3.3.

Perhaps that portion of the script should no longer exist.

[2017-04-29 20:44] arumoy-shome commented on #3483
@RaptorRCX thanks for taking care of this, closing this issue.

[2017-04-29 20:44] #3483 closed

[2017-04-29 20:55] arumoy-shome commented on #3484
@kotp @Insti  just to clarify, are you proposing that we get rid of the checks in the setup script or that we remove the `.ruby-version.example` file and add a `.ruby-version` file directly into the repo which will be checked into git?

Personally, I feel checking the version of the `.example` file is a bit overkill. We should not let contributors choose to "ignore" the specified ruby version, thi

[2017-04-29 21:32] kotp commented on #3489
I got a flood of Probot related announcements, so I would have to say "Yes".

[2017-04-29 21:32] #3489 closed

[2017-04-29 21:56] kotp commented on #3484
I am definitely for not having the .ruby-version committed to version control.  That is 'fine-grain' control file for the developer.  It may specify gemsets, etc.  Overwriting it arbitrarily can be irritating.

[2017-04-30 17:24] Insti commented on #3484
Is removing `.ruby-version.example` completely and not creating `.ruby-version' at all a valid option?

I suspect that all ruby environment selectors know to check the Gemfile for the right version.

[2017-04-30 17:48] arumoy-shome commented on #3484
@Insti I don't think ruby version managers check the Gemfile to pick up which version of ruby to use (I checked [rbenv](https://github.com/rbenv/rbenv#choosing-the-ruby-version) and [chruby](https://github.com/postmodern/chruby#auto-switching) and I suspect rvm works the same way). They look for a `.ruby-version` file in the following order:
`your project dir > home dir > system`.

I think Bundler

[2017-05-01 08:59] kotp commented on #3484
RVM does indeed pick up (not sure if it in which order it overrides though) the Gemfile version.

[2017-05-01 13:07] onealexharms opened #3492 "tiny improvement to mac cli instructions for beginners"
Under the instructions for autocomplete, it says you should be able to type exercism s and get exercism submit. A beginner may not know that they have to press tab after typing it, and so, think they broke something. Page: http://exercism.io/clients/cli/mac

More importantly, though, is that I thought I'd just submit a pull request to fix it, but I can't figure out how. I guess that's two issues,

[2017-05-01 14:29] Insti commented on #3492
Welcome @onealexharms, it's great you want to help fix this. :heart:

The file that you will need to edit is: https://github.com/exercism/exercism.io/blob/master/x/docs/md/cli/completion.md

There are some instructions about how you can edit the file here: https://help.github.com/articles/editing-files-in-another-user-s-repository/

If you get stuck, or need more advice come to: https://gitter.im/

[2017-05-04 11:05] clarammdantas commented on #3425
Hi! :)
Can I work on this bug?

[2017-05-04 20:00] Insti commented on #3425
Sure @clarammdantas, good luck!
Let us know if you have any questions, either here or in the [dev chat room](https://gitter.im/exercism/dev)

[2017-05-04 21:36] kytrinyx opened #3494 "Tweak chocolatey install instructions for users without admin privileges"
In `x/docs/md/cli/windows.md` we should clarify that if you don't have admin privileges, please use a different installation method.

[2017-05-05 12:30] #3402 closed

[2017-05-05 12:31] Insti commented on #3402
Resolved in #3415

[2017-05-05 15:46] kytrinyx commented on #3455
I've opened a PR to fix the thing we did find. That PR will close this, and if it comes up again we'll see if we can find reproduction steps.

Thanks!

[2017-05-05 17:17] #3455 closed

[2017-05-06 13:21] #3470 closed

[2017-05-07 16:57] HarrisonMc555 commented on #3220
I agree with @kytrinyx on this issue. It took me a while before I realized that I wasn't "allowed" to see solutions for exercises I hadn't submitted anything to.

I also agree with @jtigger that we should avoid bringing up the Activity Stream until after they've submitted their first solution. I would have appreciated a one-time banner or header or something that explained the concept of the "Acti

[2017-05-07 17:08] matthewmorgan opened #3498 "Strange rendering on JavaScript testing instructions"
Not sure if this is the right repo for this issue, but I noticed some odd rendering in the JavaScript track.  I'm guessing this is some HTML parsing algorithm trying to be helpful by adding closing tags where they are not appropriate.

This Markdown:
[code]

Renders strangely in the user-facing app (http://exercism.io/languages/javascript/tests).  Note the extra closing tags just before the indent

[2017-05-07 19:35] tejasbubane commented on #3484
I don't use `rbenv` but looks like it does not check for Gemfile: https://github.com/rbenv/rbenv#choosing-the-ruby-version

Here's the order precedence for `rvm` (I guess it might help): https://rvm.io/workflow/projects#supported-files

[2017-05-08 08:18] Insti commented on #3498
Well spotted.
I suspect there is a template replacement issue here, but I've not worked out where yet:

Clues:

The documentation is provided by exercism.io here: https://github.com/exercism/exercism.io/blob/master/app/presenters/track.rb

Which gets its information from trackler: https://github.com/exercism/trackler/blob/master/lib/trackler/track.rb

And the javascript markdown comes from here: h

[2017-05-08 08:46] Insti commented on #3498
There is a another rendering step when the text is converted from markdown to html.
https://github.com/exercism/exercism.io/blob/master/app/helpers/markdown.rb

It is this step which turns
`<SOMETHING IN ANGLE BRACKETS>foobar` into `
<something in angle brackets>foobar</something>
`

This is probably a feature of the markdown processor, so I would agree with your suggestion to change the delimiter

[2017-05-08 15:26] nholden commented on #3498
That sounds right to me! Exercism.io [uses](https://github.com/exercism/exercism.io/blob/master/lib/exercism/markdown.rb#L1) [redcarpet](https://github.com/vmg/redcarpet) for markdown processing. I didn't see anything about this particular example, but I do see [a long-running issue](https://github.com/vmg/redcarpet/issues/13) around mixing HTML and markdown, so it's probably best to avoid includi

[2017-05-08 16:56] Smarticles101 opened #3499 "Reply should append two newlines"
Only one newline character is appended to a quoted message when hitting the reply button which causes any additional text to be formatted as a quote if someone is not careful.

[2017-05-08 17:05] Smarticles101 commented on #3499
Ah dang

[2017-05-08 17:05] #3499 closed

[2017-05-08 18:02] fados opened #3501 "Account renaming"
Hi Guys
Would it be possible to rename my exercism.io from my secondary github account (@fados) to my main github account (@ofadeyi)?
I would really appreciate the assistance thanks.

[2017-05-09 11:00] matthewmorgan commented on #3498
@insti @nholden thanks for your feedback.

I've opened an issue in xjavascript for this.  I'm hoping a first timer might pick it up.  :)

[2017-05-09 14:00] Smarticles101 commented on #3477
This should be closed now that the issue is resolved, thanks :grin:

[2017-05-09 17:07] tejasbubane commented on #3477
Indeed this has been fixed. Thanks @Smarticles101.

[2017-05-09 17:07] #3477 closed

[2017-05-09 17:12] tejasbubane commented on #3476
This has been fixed and deployed.

[2017-05-09 17:12] #3476 closed

[2017-05-09 17:24] tejasbubane commented on #3428
Sinatra [now has an option](https://github.com/sinatra/sinatra/pull/1273/commits/2445a4994468aabe627f106341af79bfff24451e) to ignore the trailing slashes. We should update to `2.0`.

[2017-05-10 12:25] paulmr opened #3504 "Old submission that I can neither access nor remove"
Hi, the following submission is listed on my dashboard, but I am unable to access it or delete it:

http://exercism.io/submissions/19954a6be801409690b3c61b989fb914

Could it possibly be removed from my dashboard please?

Many thanks! -Paul

[2017-05-16 01:38] morrme commented on #3492
it looks like this was done here https://github.com/exercism/exercism.io/commit/a0563d15b64d3a79464c0ec1c9c8586ab65022b2

by @onealexharms but the issue was not closed.

[2017-05-16 01:39] morrme commented on #3442
i feel like i'm a fake "stale issue" bot lol but this one looks like it can be closed too.

[2017-05-16 05:30] #3492 closed

[2017-05-16 15:22] kytrinyx commented on #3442
Ah, you're right (about this being closed, not about you being a bot :sparkles:) :)

[2017-05-16 15:22] #3442 closed

[2017-05-16 16:54] Insti commented on #3469
Bugsnag is still not being notified by http://exercism.io/bork so I suspect the problem still exists.

[2017-05-16 16:59] kytrinyx commented on #3469
I haven't deployed.

[2017-05-16 17:01] Insti commented on #3469
That would explain it :)
I saw there was a recent deploy but didn't realise it didn't include these changes.

[2017-05-16 17:26] kytrinyx commented on #3469
Sorry about that. I deploy first thing, and then sometimes I have a few minutes before work to go through a few PRs. Typically that goes out in the next deploy the next morning.

[2017-05-17 03:24] #3425 closed

[2017-05-17 07:09] petertseng commented on #3355
next deploy, I hope.

[2017-05-17 07:09] #3355 closed

[2017-05-17 10:27] Wuppert opened #3506 "Error parsing API response"
Hi

just after
exercism fetch java
i get
Error parsing API response - invalid character 'i' looking for beginning of value

The error is:

[code]

The debug output is:

[code]

[2017-05-17 11:19] daniel-afana opened #3507 "Cannot upgrade on Windows"
I've got Windows 10 x64 and Exercism version 2.3.0

[code]

[2017-05-17 15:01] kytrinyx commented on #3507
Hi @daniel-afana sorry you're running into this!

We have an open issue for the problem in the CLI repository: https://github.com/exercism/cli/issues/391

Would you mind reporting your problem in that issue?

There's a fix in the works.

[2017-05-17 15:01] #3507 closed

[2017-05-17 15:02] kytrinyx commented on #3355
This is deployed now

[2017-05-17 15:28] kytrinyx commented on #3469
This is deployed, and is still not reporting.

[2017-05-17 15:32] kytrinyx commented on #3498
Closing, since it's tracked in the JavaScript repository. Thanks everyone!

[2017-05-17 15:32] #3498 closed

[2017-05-17 15:46] daniel-afana commented on #3507
Oh right. Thanks, Katrina.

[2017-05-17 16:30] kytrinyx commented on #3506
In the future, please paste your errors and output directly into the issue using GitHub markdown's "fenceposts" (See https://guides.github.com/features/mastering-markdown/ for details).

I've edited your issue to remove the link to the PDF, which contained your exercism API key, and paste in the plain text of the output that we need to see.

I'd recommend changing your API key by going to http://e

[2017-05-17 16:32] kytrinyx commented on #3506
@Wuppert Would you please run the command:

[code]

And then paste the output here? Remember to redact your API key from the output.

[2017-05-17 16:33] kytrinyx commented on #3504
@paulmr, sorry about that! I'm looking into why it happened, and also clearing it out of your dashboard for you.

[2017-05-17 16:44] kytrinyx commented on #3504
I've reproduced the problem locally with the following:

[code]

I'm narrowing it down from here.

[2017-05-17 17:04] kytrinyx commented on #3504
Update: this lexes just fine:

[code]

The problem is in the `Rouge::Formatters::HTMLExercism` formatter, which is a home grown affair.

[2017-05-17 17:10] kytrinyx commented on #3504
@karloxyz you're the most familiar with the HTMLExercism formatter. Would you have a moment to dig into this a bit to see what might be blowing up here?

@paulmr I'm going to wait to clear it out of your dashboard, since I think this is a formatting bug... unless it's blowing up your dashboard (in which case I'll delete it and you can put it back when the bug is fixed). Let me know what you'd pref

[2017-05-17 17:11] kytrinyx commented on #3428
Updated to 2.0

@tejasbubane would you have time to submit a fix to use the "ignore trailing slashes" option?

[2017-05-17 17:15] kytrinyx commented on #3501
@fados, yeah we can do that. I'll let you know when it's done.

[2017-05-17 17:19] kytrinyx commented on #3501
OK, this is done.

[2017-05-17 17:19] #3501 closed

[2017-05-17 17:22] kytrinyx commented on #3490
I think this is fixed.

[2017-05-17 17:22] #3490 closed

[2017-05-17 17:25] kytrinyx commented on #3482
The problem could be in the CLI, or it could be in the API.

Have you been able to reproduce the problem @cleeverz?

[2017-05-17 19:36] cleeverz commented on #3482
I will see if I can reproduce this again today or Tomorrow and close it out if I can't.

[2017-05-17 20:30] Insti commented on #3504
@kytrinyx try:
[code]
`lexer.lex` returns an enumerator, so it won't fail until you try to enumerate it.

[2017-05-17 22:29] fados commented on #3501
@kytrinyx Thanks really appreciate it!

[2017-05-18 05:44] Insti commented on #3469
@kytrinyx is the next thing to try increasing the log level as suggested in: https://github.com/exercism/exercism.io/issues/3469#issuecomment-296173131 ?

cc: @allcentury

[2017-05-18 07:24] lukaszklis opened #3508 "Tests and linter checks"
Hey, first of all—I love your website! ❤️

Sometimes solutions posted on exercism don’t pass the linter or test suite you added for us (for various reasons, people don’t want to omit semicolons, etc.). What about adding a component to the page with ”check” (similar way GitHub does it) and display whether for a specific iteration of the task the linter and tests have passed? Tests and linter could

[2017-05-18 07:49] lukaszklis commented on #3325
The problem is caused by having `display: flex` applied to `#languages .row`. Is there any reason why you wanted to have flexbox used there in the first place?

[2017-05-18 10:31] Wuppert commented on #3506
@kytrinyx
Katrina could you explain please term "fenceposts".

key chenged
exercism --verbose fetch java
output:
[code]

[2017-05-18 15:37] kytrinyx commented on #3506
You've used them :) It's the three backticks that you put above and below the output.

I've edited your comment to redact the API key.

This is the problem, but I can't see a reason why you would get a 403 Forbidden.

Would you please go to http://exercism.io/api/v1/exercises?key=YOUR_KEY_HERE in your browser and see what the page says?

[2017-05-18 15:39] kytrinyx commented on #3501
🌻

[2017-05-18 16:49] tejasbubane commented on #3428
@kytrinyx Done - #3509.

[2017-05-18 17:35] Wuppert commented on #3506
Request
[code]
Response
[code]

[2017-05-18 17:48] Insti commented on #3506
You seem determined to share your API key.

Are you going through a proxy of some kind?
That second 403 response does not look like something that exercism.io would be serving.

[code]

[Google translate](https://translate.google.com/#ru/en/%D0%A1%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BE%D0%B1%20%D0%BE%D1%88%D0%B8%D0%B1%D0%BA%D0%B5 ) suggests that `Сообщение об ошибке` means `Error

[2017-05-18 18:03] Wuppert commented on #3506
Yes I share my key, Later I going to reset it
You are right, I going trough thу proxy
But I hadnt any difficulties with
[code]
or client installation.That the reason to think ConnLineClient may see system properties for proxy server. Isnt it?

[2017-05-18 18:45] paulmr commented on #3504
@kytrinyx thank you for your help. It is not causing me any problems, so there is certainly no hurry to remove it.

Kind regards, -Paul

[2017-05-19 17:45] kytrinyx commented on #3508
Hi @lukaszklis, we'd love to... but at the moment we don't have resources to execute other people's code remotely, and we've not come to a conclusion on how to do it locally yet.

We have an open discussion about this here: https://github.com/exercism/discussions/issues/94

If you have time to read through it and think through ramifications and your use case, I'd love to hear your thoughts there!

[2017-05-19 17:45] #3508 closed

[2017-05-19 17:47] kytrinyx commented on #3325
@lukaszklis omg thank you! I have no idea about anything on the front-end, so most of it is either fixed by people who happen to know more than me (the bar is very low), or done badly and wrong by me.

It could be worth running blame on it and pinging the author here to see if they remember anything about it.

[2017-05-19 17:50] kytrinyx commented on #3504
Ah, good point.

[2017-05-19 17:58] kytrinyx commented on #3504
And it's a problem in the lexer. We're off the hook.

@paulmr I'd like to create the smallest possible sample code that would exhibit this behavior so I can submit a failing test to the upstream project.

If I create a gist that exposes the issue in a test, would you be able to help me narrow down the problematic elisp example to help pinpoint the problem?

[2017-05-19 18:09] kytrinyx commented on #3504
OK, just in case (optimism, yo!) I've created the gist: https://gist.github.com/kytrinyx/462b0fd50b747b2e50c54fd130f76537

If you don't have time that's totally cool, just let me know and I'll submit this to jneen/rouge and see if they can help me narrow it down.

[2017-05-19 18:11] kytrinyx commented on #3506
`exercism upgrade` goes to github.com. I wonder if there's any way that the proxy server could have trouble with `exercism.io` but not `github.com`.

[2017-05-19 18:12] kytrinyx commented on #3428
❤️ Appreciate it! And merged :-)

[2017-05-19 18:36] #3465 closed

[2017-05-19 19:04] behrtam commented on #3325
https://github.com/exercism/exercism.io/pull/3082 by @alexcameron89

[2017-05-19 19:09] lukaszklis commented on #3325
I can look into it this weekend once I get on my laptop (traveling at the moment with access to only to my smartphone). Feel free to assign the issue to me—will gladly help. :)

[2017-05-19 19:10] kytrinyx commented on #3325
Awesome, thanks @lukaszklis. It's all yours!

[2017-05-19 19:30] nathanbwright commented on #3325
If I'm not mistaken this is due to the way Safari handles `:before` and `:after` elements. See this SO answer for an explanation: http://stackoverflow.com/a/36476586/2529285.

[2017-05-19 19:35] lukaszklis commented on #3325
Indeed, the pseudo-elements are added just because we're using .row which applies those as part of the clearfix for the grid. One of the solutions here is to use a pure flex box based styling and removing the Bootstrap classes.

[2017-05-19 22:21] kytrinyx commented on #3252
Can we point to https://guides.github.com/activities/forking/ and https://guides.github.com/introduction/flow/?

[2017-05-21 16:57] #3325 closed

[2017-05-21 17:43] kytrinyx commented on #3506
@Wuppert Does this help?

https://github.com/exercism/exercism.io/blob/master/x/docs/md/help/firewall.md

[2017-05-22 09:56] Wuppert commented on #3506
@kytrinyx
Thanks, Katrina.
That is really what I need.
(on Windows should launch exercism fetch in PowerShall only.)

[2017-05-23 03:21] kytrinyx commented on #3506
@Wuppert do you have a suggestion for how our documentation could have helped you better?

[2017-05-23 06:22] Insti commented on #3262
This is still a relevant issue.
I also had the experience recently where the app.js was out of date and the site would not render.

[2017-05-23 07:02] Insti commented on #2973
This issue is tagged `good first patch` but I was confused reading through the issue trying to work out what needed to be done.

@tejasbubane what is the actionable task here?

[2017-05-23 07:24] tejasbubane commented on #2973
I think we should have a doc which addresses these:

* Little bit about coveralls.
* What is coverage? (maybe pointing to resources instead of explaining)
* When can we expect the build to fail with coveralls? (the threshold values set)

Not sure if this should be a separate file or part of some existing doc.

[2017-05-23 10:32] Wuppert commented on #3506
@kytrinyx
It would be boldly
I guess should to investigate realization of your study process..and then..may be

[2017-05-23 15:14] kytrinyx commented on #3506
OK, if you ever have suggestions, please don't hesitate.

Closing, as it got sorted. Thanks!

[2017-05-23 15:14] #3506 closed

[2017-05-23 18:38] wandrewni opened #3518 "unable to accept invitation to join team"
I have an invitation to join the ITHAKA team but when I click Accept, I'm taken to a page that says 'Sorry! That's our fault!'

[2017-05-24 00:42] eskimoquinn commented on #3518
I also have this issue.

[2017-05-24 01:51] CBuchanon opened #3519 "Exercises already completed when fetched"
The Python exercise 'hamming' comes with a completed solution when fetched from the command line. I deleted the files and tried the fetch again and the same files, with the completed solution, were received.

I uploaded the solution to move on to the next exercise, word-count, and it also was downloaded with a completed solution.

[2017-05-24 06:28] hiphamster commented on #3519
Same here. anagram and allergies are both completed.

[2017-05-24 08:37] Insti commented on #3519
Thanks for the reports. I have made a PR that fixes it we just need to wait for @kytrinyx to be able to do a release to fix it on the live site.

[2017-05-24 08:40] Insti commented on #3519
This will be a problem for all language tracks.

[2017-05-24 09:06] corroded commented on #3519
I was just about to post this. It also happens in the `elixir` and `ruby` tracks

[2017-05-24 09:43] Insti commented on #3518
Thanks for the report.

Possibly related: https://github.com/exercism/exercism.io/issues/3455
@bernardoamc and @kytrinyx might like to look at this.

[2017-05-24 16:13] kytrinyx commented on #3519
The fix for this should now be deployed.

[2017-05-24 16:13] #3519 closed

[2017-05-24 16:15] kytrinyx commented on #2973
It seems like this could be a separate doc, linked to from the CONTRIBUTING guide.

[2017-05-24 16:17] kytrinyx commented on #3518
I'll take a look at this today. So sorry you're running into this!

[2017-05-24 16:32] wandrewni commented on #3518
Thanks for taking a look!

[2017-05-24 16:50] kytrinyx commented on #3518
I believe that I have a fix for this. It needs a review, and once it's merged I'll deploy and let you know.

[2017-05-24 17:52] #3518 closed

[2017-05-24 17:53] kytrinyx commented on #3518
Alrighty, I'm deploying the fix now. Let me know if you're still having trouble!

[2017-05-24 17:53] kytrinyx commented on #3518
(oh, uh—give it a couple of minutes to finish deploying)

[2017-05-24 17:55] kytrinyx commented on #3518
(ok, deployed)

[2017-05-24 17:58] wandrewni commented on #3518
It's working!  Dang y'all are fast -- thanks much!

[2017-05-24 18:02] kytrinyx commented on #3518
Yay! OK, glad we figured that one out. It's not the first time we've had trouble with team invitations!

[2017-05-25 13:13] HarrisonMc555 commented on #3428
@kytrinyx I just added some documentation to resolve this issue. This is my first pull request (ever!) so let me know if I'm doing this right :smile:

I wasn't able to figure out which, if any, tests I was supposed to run myself before I pushed. However, I basically only added some html so I'm fairly confident everything is fine. It looks good on my local dev environment. If there were some tests

[2017-05-25 15:22] HarrisonMc555 commented on #3428
I just noticed that there's also a blurb about teams at http://exercism.io/account as well. Should I add something there, too?

[2017-05-25 16:27] #3428 closed

[2017-05-25 16:28] kytrinyx commented on #3428
@HarrisonMc555 This looks great! Also, Travis CI runs the tests, so when in doubt... just wait for Travis to tell you what you did wrong :-)

I don't think we need anything in the account page.

Congrats on your first (ever!) pull request :sparkles: :heart: :sparkles:

[2017-05-25 21:30] cleeverz commented on #3482
I've been unable to reproduce this after several new tries. I think the issue is still out there, but requires a scenario which I  can't pinpoint. Closing for now.

[2017-05-25 21:30] #3482 closed

[2017-05-25 21:52] ncs-alane opened #3522 "Public team search suggests private team names"
1. I began typing in a private team name to the public team search on the web site.
   * **Expected:** to not see the private team name suggested,
   * **Actual:** I see the private team name as a suggestion.

[2017-05-25 21:57] bernardoamc commented on #3522
Thanks for opening the issue @ncs-alane !

Can you provide the search query so we can reproduce this scenario?

[2017-05-25 22:12] ncs-alane commented on #3522
I created a new, private team named "aprivateslug" for the sake of this issue. If a user not on the team types "apr" in to the search box, "aprivateslug" is suggested.

[2017-05-26 00:06] bernardoamc commented on #3522
I see, the team cannot be found but the suggestion is still there. 👍

[2017-05-26 13:27] kytrinyx commented on #3482
Thanks @cleeverz!

[2017-05-27 15:22] kytrinyx commented on #3469
Increasing the log level did not cause reporting to happen.

If I add a BUGSNAG_API_KEY locally it reports.

[2017-05-27 15:26] kytrinyx commented on #3469
In production with a lower log level we do get the following information:

[code]

Which presumably Bugsnag would ignore.

So perhaps `$ERROR_INFO` is nil in production.

[2017-05-27 15:34] kytrinyx commented on #3469
Confirmed. `$ERROR_INFO` in production is `nil`, despite the fact that we are inside of an `error 500` block.

[2017-05-27 15:48] kytrinyx commented on #3469
It appears that "English" is not turned on in production. By explicitly requiring "English" bugsnag starts reporting. I'm submitting a PR.

[2017-05-27 17:27] #3469 closed

[2017-05-27 17:39] kytrinyx opened #3533 "Connection pool in production might be too small"
We currently have 5 connections in the production connection pool, and we're seeing connection errors in production.

[code]

Do any of you know what the best practices are for determining the size of the production connection pool?

Or... figuring out if something isn't releasing its connection?

[2017-05-27 17:43] Insti commented on #3469
Awesome, great detective work. Thanks for getting to the bottom of this.
Bugsnag errors have started flowing, so it looks like it's working now.

[2017-05-27 17:52] kytrinyx commented on #3533
We do use sidekiq to kick off rikki jobs. Maybe sidekiq needs its own connection

https://devcenter.heroku.com/articles/forked-pg-connections#sidekiq

[2017-05-27 17:55] kytrinyx commented on #3469
:-) Yeah! Now we have other problems!

[2017-05-27 18:34] nilbus commented on #3533
Assumption I'm making about production:
- MRI ruby server that handles one request concurrently (each will have its own connection pool, making 5 plenty for normal use)

Is that true, or is it a multithreading/threadsafe server? If so, 5 is likely too low. You'd want to set it as high as you think might be reasonable to have concurrent DB requests.

Sidekiq behavior is irrelevant here, because the

[2017-05-27 18:53] kytrinyx commented on #3533
We're using `puma` which is a multithreading/threadsafe server.

How high would be reasonable for concurrent DB requests? Where would the estimated number originate from?

[2017-05-28 11:16] nilbus commented on #3533
As per [Heroku's recommendations for Puma][1], set the connection pool size equal the max thread count.

As you make this change, the new performance bottleneck will become the database performance, rather than the database connection count. There's a good chance that this will solve the problem we're seeing, because the database likely has a lot of untapped power when we're limiting connections t

[2017-05-28 11:17] nilbus commented on #3533
oops, forgot the link.

https://devcenter.heroku.com/articles/concurrency-and-database-connections#threaded-servers

[2017-05-28 16:17] kytrinyx commented on #3533
Thank you @nilbus. From my reading of https://github.com/puma/puma#configuration it looks like the default is 16. I'll try that and see how we do.

[2017-05-28 20:23] CodeDraken opened #3545 "Download all exercises"
Is there a way to download all exercises? I won't have internet for a while and so I will not be able to fetch as I go. Plus it would be nice for experienced devs to be able to skip challenges like "Hello World"

[2017-05-28 20:25] CodeDraken commented on #3545
Nevermind there's a --all flag. Don't see it anywhere in the --help

[2017-05-28 20:25] #3545 closed

[2017-05-28 21:20] Insti commented on #3226
Still relevant.

[2017-05-28 22:32] #3533 closed

[2017-05-29 14:35] nathanbwright commented on #3522
@bernardoamc - Are you working on this, or can I take it?

[2017-05-29 14:40] bernardoamc commented on #3522
@nathanbwright I was planning to tackle it by this week, but feel free to take it! Thanks! <3

[2017-05-29 20:49] kytrinyx opened #3548 "Document manual deploy in Contributing guide?"
There's something that comes up on a regular basis, and that is that things get merged, but are not immediately visible on the site.

@Insti's explanation in https://github.com/exercism/exercism.io/pull/3546#issuecomment-304716084 could be added to the contributing guide.

[2017-05-30 08:39] Insti opened #3549 "Stacktrace detectives: Why is user_exercise nil here?"
In what circumstances could `user_exercise` be nil?

[app/views/submissions/show.erb#L10](https://github.com/exercism/exercism.io/blob/e4408c062b94fc1c6b6a1e32d3a020f1df8dd3d5/app/views/submissions/show.erb#L10)
[code]

`show.erb` is is called by: [app/routes/submissions.rb#L30](https://github.com/exercism/exercism.io/blob/e4408c062b94fc1c6b6a1e32d3a020f1df8dd3d5/app/routes/submissions.rb#L30)
`Su

[2017-05-30 14:34] nathanbwright commented on #3522
Here's what I've found...

When a team is created it **always** creates tags for that team regardless of whether the team is private or not... [relevant team.rb line](https://github.com/exercism/exercism.io/blob/master/lib/exercism/team.rb#L57)

Is this the intended behavior? It would seem to me that if a team is set to private it shouldn't have tags created from it.

@bernardoamc what do you thin

[2017-05-30 14:51] bernardoamc commented on #3522
@nathanbwright You got it, this is an implementation that should have changed when private teams were implemented. We can totally change this to only create tags when the team is public. This brings a few complications, but we can deal with them. Let me try to list a few scenarios:

1. Team is created as private. This case is straightforward, we can avoid creating the tags.
2. Team is created as p

[2017-05-30 16:50] Insti commented on #3522
What do tags have to do with public/private?

[2017-05-30 17:17] nathanbwright commented on #3522
@Insti Tags are being automatically created from the team name, slug, and any additional tags added regardless of whether the team is public or private.

Then when somebody types into the search field at http://exercism.io/teams, it doesn't search through team names, it actually searches through all the tags (just like the placeholder text says "Search tags").

Does that make sense?

[2017-05-30 17:26] Insti commented on #3522
Thanks @nathanbwright

To me it seems like tags and privacy are two separate concepts.
A teams tags should be independent of its privacy status.

Rather than messing about adding/removing tags, whatever is returning the tags should be filtering out any tags that are not publicly visible. (In this case because they are not attached to public teams?)

[2017-06-01 11:06] edwardbartholomew opened #3550 "Profiles reveal private teams"
Per #3522 it seems private team names should not be revealed at all. However when viewing someone's profile, private team names appear in the listing under teams.

[2017-06-01 13:11] Insti commented on #3550
I'm not entirely sure this is the case. #3522 was about private teams being listed in search where they weren't going to be selectable.

I think we need to have a project level [discussion](https://github.com/exercism/discussions/issues) about the difference between public, private and secret as it relates to teams.

[2017-06-01 14:46] #3197 closed

[2017-06-01 14:46] #3221 closed

[2017-06-01 17:05] nathanbwright commented on #3522
Maybe some screenshots would be helpful...

This is after a fresh `db:seed` and the creation of one private team `Private Team`

The `tags` table:
![tags](https://cloud.githubusercontent.com/assets/4740018/26690727/9f576ea4-46b7-11e7-9b21-194b184ec0f9.png)

The `teams` table:
![teams](https://cloud.githubusercontent.com/assets/4740018/26690737/ab110354-46b7-11e7-8466-273869a3bc74.png)

@Insti Tags

[2017-06-01 18:27] Insti commented on #3522
@nathanbwright are you saying that private teams may not have tags?

[2017-06-01 19:11] bernardoamc commented on #3522
I would say that for now this should be enough, but it doesn't solve all the problems. We can't remove tags that are not the team name and slug because they can still be in use by other teams. Unless you write a migration/script that checks that the tag is being used by only that team.

@Insti The problem is that there is no concept of public or private tags, every team that has a `Ruby` tag share

[2017-06-01 20:07] Insti commented on #3522
Yes, this is the problem.

It can be solved by working out which are public (used by at least one public team) and which are private (not used by any public team).

What is the problem you are trying to solve?

This is not a problem.

[2017-06-01 20:29] bernardoamc commented on #3522
It is right now. Unless we are ok in removing tags from private teams since they are used only for search anyway. Or work in a new solution/model for tags.

[2017-06-01 20:39] Insti commented on #3522
(It's really not a problem.)

Using the definitions of public/private tags from [my previous post](https://github.com/exercism/exercism.io/issues/3522#issuecomment-305605749).

On the team search page:

What happens when you select a public tag from the dropdown list?
What happens when you select a private tag from the dropdown list?

[2017-06-02 00:29] bernardoamc commented on #3522
@Insti Sorry if I'm not getting it, are you suggesting going through every team from a tag and checking if this tag is public/private every time we search? Or are you suggesting removing private tags?

"Public" tag   -> Every public team with this tag will be returned.
"Private" tag -> No results returned.

Note the quotes in public/private, this is to mention that there is no concept of public/pr

[2017-06-02 07:48] Insti commented on #3522
What would happen if the "Private" tags were not present in the dropdown list?

This is the closest to what I am suggesting.

I am suggesting that:
1. The tags returned `/tags` route should only include tags which have at least 1 public team associated with them.
2. This can be achieved without adding/removing to the list of tags every time a team changes it's public/private status.

[2017-06-02 08:13] Insti commented on #3550
@edwardbartholomew I'm interested in your opinion on https://github.com/exercism/discussions/issues/148, would you comment there please?

[2017-06-03 23:41] Ef-Eff opened #3552 "Python Meetup Test Problem"
The last test for the Python challenge  Meetup is written incorrectly, it is simply missing the parentheses for the function after the exception.
This:
`def test_nonexistent_fifth_monday_of_february_2015(self):
        self.assertRaises(MeetupDayException, meetup_day, 2015, 2, 'Monday',
                          '5th')`
Should be this:
`def test_nonexistent_fifth_monday_of_february_2015(self):

[2017-06-04 00:01] catb0t commented on #3552
cc @exercism/python and the repository at https://github.com/exercism/xpython; you can create a pull request there if you like (it would be a good first patch if nobody takes it).

[2017-06-04 00:27] bernardoamc commented on #3522
That's basically what we want to achieve right now, because tags are useful only for searching teams.

This is one solution for sure, another solution is to decide this during team creation/update using for a example a counter in the tags table that keeps track of the number of `public` teams using this tag.

[2017-06-04 02:21] kytrinyx commented on #3552
I've moved this issue into the python track repo: https://github.com/exercism/xpython/issues/476

[2017-06-04 02:21] #3552 closed

[2017-06-04 05:10] Insti commented on #3522
Yes, there are several ways to solve this.

This is also a valid way to solve the problem, I personally do not prefer this solution because it  requires the team creation/update methods to care about maintenance of the tags table every time it changes rather than just adding a new one if it doesn't already exist and
it would be duplicating information that is already present in the database (which

[2017-06-05 02:42] billhathaway opened #3554 "exercism.io/donate paypal link did not work on osx"
Using chrome and safari on OSX 10.12 when I click on the paypal button I get

![screen shot 2017-06-04 at 7 35 34 pm](https://cloud.githubusercontent.com/assets/365364/26768507/2e2eda70-495d-11e7-867d-d9a9a5dbaf0d.png)

Using chrome on my iPhone it works fine

[2017-06-05 03:04] billhathaway commented on #3554
tried on another osx machine in chrome and it worked, must be something in my environment

[2017-06-05 03:04] #3554 closed

[2017-06-07 18:05] nathanbwright commented on #3522
Do we need to reach some sort of consensus with what needs to happen with tags before I work on a solution?

[2017-06-08 07:40] Insti commented on #3522
@nathanbwright probably not.

As long as it solves the problem it doesn't matter too much. Working code that exists is usually better than theoretically ideal code that doesn't.

[2017-06-08 14:49] kytrinyx commented on #3290
I think it's fine to close this. The next time someone is confused about the CSS instructions, we can update them.

[2017-06-08 14:49] #3290 closed

[2017-06-09 16:24] #3153 closed

[2017-06-10 16:39] #3163 closed

[2017-06-10 23:24] symplutz commented on #1965
E:\exercism>exercism submit HelloWorld.java
2017/06/11 02:21:54 unable to submit - Bad path to exercise file.

You're trying to submit a solution file from inside your exercises directory,
but it looks like the directory structure is something that exercism doesn't
recognize as a valid file path.

First, make a copy of your solution file and save it outside of
E:\exercism

Then, run "exercism fetc

[2017-06-11 00:17] kytrinyx commented on #1965
@symplutz If you say `exercism fetch java hello-world`, then the exercise should end up in `E:\Exercism\java\hello-world`, and your solution should be somewhere inside of that hello-world directory.

[2017-06-11 00:40] symplutz commented on #1965
i did submit from created folder. Thank you!

[2017-06-11 01:15] kytrinyx commented on #1965
It doesn't look like it. From this it looks like `HelloWorld.java` is directly inside of E:\exercism

If you change directory into E:\exercism\java\hello-world and submit the full path\to\HelloWorld.java this should work.

[2017-06-11 01:17] kytrinyx commented on #1965
If you want help in realtime, @symplutz, feel free to jump into the chat: https://gitter.im/exercism/support

There are often people hanging out there.

[2017-06-11 13:31] kntsoriano opened #3557 "Error on `test:lineman`"
# Problem
When I ran `test:lineman`, I encountered the following error:

[code]
# Cause
Upon looking into it, the error occurred because the [testem](https://github.com/testem/testem) package isn't present.

# Solution
To fix it, I did the following:

1.`cd node_modules/lineman`
2. `npm install`

# Questions
1. Am I the only who has encountered this problem? I'm inclined to think so because `teste

[2017-06-11 14:59] kytrinyx commented on #3557
Thank you @kntsoriano!

@tejasbubane you've messed a fair bit with the javascript dependencies. Would you weigh in here?

[2017-06-12 07:48] kntsoriano opened #3558 "Running tests individually returns errors"
# Background
While reading through the [Setting up Local Development#Testing](https://github.com/exercism/exercism.io/blob/master/docs/setting-up-local-development.md#testing), I stumbled upon this snippet in the document:

[code]

To try and put issues like those to rest, I decided to write this script which loops through all the tests and runs them individually:

[code]
Weirdly enough, they all

[2017-06-12 08:28] kotp commented on #3558
Does this work for you if you do prepend the `bundle exec` prior to running the individual test? How about for your for loop?

[2017-06-12 08:33] kotp commented on #3558
I believe the solution is to prepend the `bundle exec`.  Those that don't need to will likely know, and I don't think that even those that don't "need to" will lose out even if they do use it.

[2017-06-12 11:20] Insti commented on #3558
I like:
1. Remove the instructions to run tests without the `bundle exec` prefix.

[2017-06-12 15:07] kytrinyx commented on #3558
Yeah, agreed. Let's make running them with bundle exec the default.

[2017-06-14 06:17] kntsoriano commented on #3558
@kotp Yes, you are correct. The solution is to use `bundle exec` to run the command.

From the solution discussed, I opened #3560.

[2017-06-14 09:41] kotp commented on #3558
Thank you @kntsoriano.

Remember also that it can be helpful to state "closes # " where the issue number follows the pound sign, so when it is merged, the issue is closed along with the action.  Just a pointer, taking care of it now!

Again, thank you for doing the heavy lifting!

[2017-06-14 09:41] #3558 closed

[2017-06-15 07:22] kntsoriano commented on #3549
Hi @Insti, I looked at why this bug happens. I'm not able to pinpoint it exactly yet, but here's what I found out:

## How a submission is created

1. Submissions are created when the CLI posts to `/user/assignments`. Within this, it creates an `Attempt`.
2. `Attempt` is directly responsible for creating a submission. First, a `Submission` is created inside `Attempt#initialize`:

[code]

A `Submis

[2017-06-15 14:38] #3548 closed

[2017-06-15 20:40] clarammdantas commented on #3226
Hi! :)
Can I work on this one?

[2017-06-15 21:22] kytrinyx commented on #3226
Absolutely! If you get stuck on anything, jump into the chat https://gitter.im/exercism/dev - there are often people hanging out there

[2017-06-16 07:17] Insti commented on #3549
Thanks @kntsoriano great informative write-up 👍 :heart: ⭐️

This issue might not be important to fix right now as:
1. It only seems to have happened once.
2. Nextercism (The planned site update) will be re-implementing solution storage.

But I like

@kytrinyx thoughts?

[2017-06-16 14:27] kytrinyx commented on #3549
Agreed that this is probably not a very urgent fix to do, but I do like the proposal. I'd say go for it, if you have the cycles to spare!

[2017-06-18 23:18] mhelmetag commented on #3557
I've run into this before when running the js specs so I don't think it's just you. I usually get it when I run `bin/setup`.

I'd be more inclined to either add `testem` to our local `packages.json` or to a setup script/instruction guide for global installation.

[2017-06-20 13:45] Imed-Eddine-Nezzar commented on #1954
same issue
[code]
.exercism.json content
[code]

[2017-06-20 14:24] kytrinyx commented on #1954
This is probably a different issue, with the same initial symptoms. Would you please open a new issue? We'll need to know what command you are running when you see the error.

[2017-06-22 02:28] longtranf opened #3563 "Error: while fetch new problem golang"
When i try to fetch new problem. I got this
`2017/06/22 09:22:57 error parsing API response - invalid character '<' looking for beginning of value`
I have no idea what happen. The previous one worked. Here is my `exercism debug `
[code]
I still submit successful.
What i have done so far: reboot machine, reset API key.

Update: After an hour, it work again. I haven't done anything.

[2017-06-22 03:30] #3563 closed

[2017-06-22 04:40] kytrinyx commented on #3563
@longtranf I'm not sure what happened, but I'm glad it's working again. I didn't deploy in the meantime so there's something weird going on. If it happens again, holler, and we'll see if we can see more about what's going on.

[2017-06-22 05:33] NobbZ commented on #3563
In the past we could explain this problem very often with a misconfigured proxy, firewall with package inspection, or parental control software.

So far we always solved this issue by bypassing them.

Perhaps add some stuff in, which gives a better error message[*] in such cases and other stuff which enables us to inspect the sent and received data?

[*] : Simply telling the student that there is

[2017-06-23 00:58] nilbus commented on #3416
For documentation purposes, it's the User-Agent header that contains the version. E.g.

    User-Agent: github.com/exercism/cli v2.4.0 (darwin/amd64)

[2017-06-23 01:54] nilbus commented on #3416
After doing some planning for this feature, I came to a new realization. With people using the [gui client][gui] now, there's more than one client version that we should track. Rather than attempting to track an arbitrary number of clients or track only the cli and leave gui/other users out, I'm coming to the conclusion that each client should track its own updates. Furthermore, not all exercism.i

[2017-06-23 04:17] kytrinyx commented on #3416
The catch-22 with this is that they'll never see the message unless they upgrade to a version of the client that has this functionality. Right now that's probably about 130k people.

[2017-06-23 04:28] kytrinyx commented on #3563
Sometimes it's also a problem in the API with certain 500 errors, which (for a reason I have not yet debugged) returns HTML rather than JSON.

[2017-06-24 02:56] nilbus commented on #3416
You're absolutely right. What do you think about this approach?

1. Add the update-aware feature to cli.
2. Use the existing implementation, and reset everyone's notification acknowledgements.
3. Remove the feature flag check surrounding the implementation (for clean-up), and keep the feature as-is in exercism.io for a while.
4. (someday maybe) Remove the update notification feature from exercism.

[2017-06-24 15:03] kytrinyx commented on #3416
@nilbus this sounds like a good plan.

[2017-06-25 18:20] NobbZ opened #3570 ""Couldn't find that user" when track is not known"
I wanted to navigate to the lua-landing page in exercism by typing it out by hand, but accidentally typed https://exercism.io/tracks/lus instead of .../lua.

I got a redirect to exercism.io and a flash message telling me that the user couldn't be found.

I think that a generic 404 ore a flash telling me that there is no such track "lus" were much more appropriate.

[2017-06-25 19:03] kytrinyx commented on #3570
There is currently no `tracks` URL, everything is under `languages`. If you go to http://exercism.io/languages/lus you do get the expected error message.

[2017-06-25 19:03] #3466 closed

[2017-06-25 19:07] NobbZ commented on #3570
Okay, I confused it, since I had .../tracks/<lang>/exercises in my history.

[2017-06-25 19:22] kytrinyx commented on #3570
The routes are a mess right now. We'll be a lot more intentional about this in the new prototype.

[2017-06-26 15:02] daantjie opened #3571 "Building up to larger examples."
I'm finding that, as I work through some of the exercises, I want to reuse some of the general utility functions that I've created from past exercises.

I think that the current exercises are surprisingly good at getting me to think about what would be the best design for a solution; however, I think it would be nice to have **exercises which *build up* from previous ones**; that is, they are desi

[2017-06-26 16:23] kytrinyx commented on #3571
@daantjie This has come up before and I think that it's a great idea. I can't for the life of me figure out where we were talking about it. @IanWhitney do you recall where this was?

Would you please move this discussion into http://github.com/exercism/discussions/issues (unless we find that older issue). I think with the model of track progression that we're working on for the new prototype this

[2017-06-26 16:27] daantjie commented on #3571
Got it!

[2017-06-27 08:30] marekpetak opened #3572 "Typescript: Using yarn lint will fail with error ' was unexpected at this time."
Typescript excecism using Windows OS (8.1)

When running `yarn lint` above error will occur.
error details:

    yarn lint v0.24.5
    $ tslint '*.ts?(x)'; exit 0
    ' was unexpected at this time.

    E:\exercism\typescript\hamming>  "E:\exercism\typescript\hamming\node_modules\.bin\\node.exe"  "E:\exercism\typescript\hamming\node_modules\.bin\\..\tslint\bin\tslint" '*.ts?(x)'; exit 0
    error

[2017-06-27 09:56] NobbZ commented on #3572
After changing this, it will probably fail on linuxes.

Also your issue is much better suited in the [exercism/typescript repository](https://github.com/exercism/typescript).

PS: I can't close here, therefore I'd be happy if someone who can, moves this over to the other repositories issue tracker using ZenHub.

[2017-06-27 10:08] marekpetak commented on #3572
@NobbZ I'm happy to close this here, but I'm not sure how to move it across ...

[2017-06-27 10:19] marekpetak commented on #3572
moved to https://github.com/exercism/typescript/issues/45

[2017-06-27 10:19] #3572 closed

[2017-06-28 07:41] nickborromeo commented on #1844
@kytrinyx do you think we can close this or did you want additional things to be added to the docs?

[2017-06-28 14:20] kytrinyx commented on #1844
@nickborromeo We're all good here, thanks!

[2017-06-28 14:20] #1844 closed

[2017-06-30 14:52] kytrinyx commented on #3571
I found it! https://github.com/exercism/discussions/issues/5

[2017-06-30 14:53] kytrinyx commented on #3571
Would you mind moving your thoughts into that thread and closing this one? I'm saving a link to that new one in our curriculum design docs.

[2017-06-30 20:55] Cohen-Carlisle opened #3575 "team management page css is off"
You can see below that on firefox on macOS the invited members are aligned too far left as to be slightly off the page.

![screen shot 2017-06-30 at 4 51 45 pm](https://user-images.githubusercontent.com/6425580/27753693-a37337d4-5db4-11e7-870e-8e7e0b7660fc.png)

[2017-06-30 23:08] kytrinyx commented on #3575
Oops, didn't mean to close that :)

I was going to say: If someone wants to fix this that would be welcome—just be aware that we're doing a full redesign, and I expect us to see a prototype for the next site within the next 6-8 weeks, so it's probably not putting a huge amount of effort into if it turns out to be tricky.

[2017-07-01 04:00] catb0t commented on #3575
@kytrinyx [*6-8 weeks*?](https://meta.stackexchange.com/a/19514/310919) :P

[2017-07-01 12:12] josh-works commented on #3252
Hey, I'd love to work on this. Since I _am_ a first time contributor, I think I can get empathize with the target audience of this PR (other people like me who want to contribute).

What do I need to do to claim this?

(Also, 👋 from @turingschool!)

[2017-07-01 15:24] kytrinyx commented on #3575
@catb0t the prototype itself is on track to be done in about four weeks, but there are some additional things that we need to work out (related to the API and CLI) that I can't start on until we're farther along. So yeah. Probably at least two extra weeks, maybe more.

[2017-07-01 19:17] kytrinyx commented on #3252
@josh-works Awesome! I think you're right that you're in the perfect position to take this one on.

You just did!

Thank you ✨ 🌸 ✨

[2017-07-01 19:19] kytrinyx commented on #3252
(also 👋 to @turingschool! I think about you all often, wondering how you're doing)

One thing to be aware of: we're in the process of rebuilding/redesigning exercism.io. It might be worth writing up a generic contributing workflow in https://github.com/exercism/docs and then referring to it here. I don't know if that makes sense—let me know if it seems like a terrible idea.

[2017-07-02 01:07] rclai opened #3579 "Possible inconsistency with Bob JavaScript test spec regarding "Whoa, chill out!" response"
If I'm not mistaken, the specs that determine whether Bob will respond with "Whoa, chill out!" require that all alphabetical characters be uppercase.

However, the following test spec seems to invalidate that rule because all alphabetical characters are uppercase but Bob responds with "Whatever.":

[code]

If I were to speak calmly about umlauts to Bob, shouldn't there be some lowercase alphabetic

[2017-07-02 02:50] catb0t commented on #3579
Could you clarify and write out which actual characters the hex codes correspond to?

[2017-07-02 08:30] NobbZ commented on #3579
Totally depends on the encoding, but in my local node it prints out `'üMLäÜTS'`, 2 lower case umlauts and an uppercase one. So, it is not yelled.

BUT, we decided to remove non-ASCII tests through the curricula to avoid exactly this kind of confusion. Therefore the @exercism/javascript should take a look at the testsuite and bring it inline with the [canonical-data.json](https://github.com/exercis

[2017-07-02 14:43] kytrinyx commented on #3579
@rclai would you be willing to open this in https://github.com/exercism/javascript? This discussion needs to live where javascript-interested folks will see it.

[2017-07-02 19:10] rclai commented on #3579
Continued [here](https://github.com/exercism/javascript/issues/376).

[2017-07-02 19:10] #3579 closed

[2017-07-03 18:33] 6A opened #3580 ""Sorry! That's out fault!" 500 server error on most pages related to my profile"
I just logged in on [exercism](http://exercism.io) using GitHub, and many pages return a 500 server error.
The following pages return the error:
- http://exercism.io/notifications
- http://exercism.io/dashboard
- http://exercism.io/6A (`6A` being my username)

However, other pages that required me to log in (http://exercism.io/account and http://exercism.io/account/key) work normally.

I had previ

[2017-07-03 20:08] kytrinyx commented on #3580
You're absolutely right. I've updated the data, and I think we should be good now. My apologies for missing that!

[2017-07-03 20:08] #3580 closed

[2017-07-04 08:16] 6A commented on #3580
Right now, it looks like everything is back to normal, thank you.

[2017-07-05 13:00] josh-works commented on #3252
^^ sounds like a great idea. I'm back from the long holiday weekend, will be working on this shortly. I'll do a generic one, and link here and get feedback to make it awesome.

[2017-07-05 16:34] kytrinyx commented on #3252
A most excellent plan :)

"enough to be dangerous" is a fun place to be... and even funner if you know that this is where you are in the process.

[2017-07-07 01:54] GaryBoone opened #3582 "Show Lines of Code in solution lists"
The primary way I review other solutions is to look for implementations that are more elegant than mine or use simpler techniques. In both cases, these solutions tend to have fewer lines of code. Currently, the list of solutions (eg http://exercism.io/tracks/go/exercises/palindrome-products) shows, for each solution, the number of iterations and number of comments. So there's no way to pick out so

[2017-07-07 06:22] kntsoriano commented on #3549
Are there more important things I can work on? I have more time on my hands right now, and I would like to help :D

[2017-07-07 13:55] kytrinyx commented on #3582
Thanks for the input @GaryBoone.

/cc @iHiD @nicolechalmers for consideration in the redesign.

[2017-07-07 14:01] kytrinyx commented on #3549
@kntsoriano Probably _the_ most important thing right now is a tool that will let each track maintainer generate the README for exercises so that each exercise becomes stand-alone. Do you happen to know Go at all? I'm thinking we'll expand [configlet](https://github.com/exercism/configlet) since this seems to be pretty legitimate track configuration.

[2017-07-08 02:03] kntsoriano commented on #3549
Sadly, I have very little experience with Go. I just used it once for a very small project at work.

Is it possible for that problem to be solved with the experience I have?

[2017-07-08 15:29] kytrinyx commented on #3549
@kntsoriano I really don't know. I think I might sit down today and see if I can build this.

What languages do you feel comfortable working in?

We need to settle this discussion: https://github.com/exercism/discussions/issues/159 and then there's a bunch of work to be done to turn the existing linear tracks into tracks with core exercises and secondary exercises.

Also, we're going to want to do

[2017-07-08 21:22] jadermcs opened #3586 "Top 5 implementation"
How about gamification for the implementation area? Users "thumbs up" codes in the implementation area and, for each exercise, the top 5 highest implementations stay in a highlighted area.

It would be nice to encourage users to compete for better codes and the others to see how to write good code.

[2017-07-08 22:19] kytrinyx commented on #3586
Thank you for your suggestion, @jadermcs. Please see this issue for a discussion about why we're being very careful about gamification: https://github.com/exercism/discussions/issues/123

[2017-07-08 22:19] #3586 closed

[2017-07-08 23:46] kntsoriano commented on #3549
Thank you very much! I'm comfortable with Ruby and Javascript. I'll look into the links you posted.

[2017-07-09 00:36] kytrinyx commented on #3549
Awesome, we're definitely going to need help in the Ruby, JavaScript, and ECMAScript tracks with the transformation of the metadata, and the API will be all Ruby.

[2017-07-13 19:50] serathius opened #3587 "Migrating to HTTPS"
I really love the project, but there is something bothering me, so I put my two cents in and offer help if needed.

Sorry If I didn't read for all issues, and don't know all history of project,  but for me as a web developer using HTTP for a page in 2017 is bad, but furthermore having web application with login and third party token authorization is really really bad.

I'm not expert, so I just wa

[2017-07-13 20:57] kytrinyx commented on #3587
Thanks, yes we're quite aware of this. We'll be moving to HTTPS shortly (probably within the next 3 months) as part of a complete redesign.

[2017-07-15 00:50] cpaulbond opened #3588 "Faster way to look at solutions"
After I have completed an exercise I like to review other peoples solutions looking for interesting patterns used to solve the problem.  Unfortunately, the process of looking at solutions is slow and tedious. It requires too many clicks to review a page of solutions.  Would it be possible to expand all the solutions on a page at once, so you could see at a glance which solutions are more interesti

[2017-07-15 01:24] nilbus commented on #2936
Picking up an old thread…

Your hunch was correct—this was not a docker-specific issue. Lineman only copied the files when first running lineman run. I may recall that it did update the files if browsing the site using port 8000, but not 4567, but that was a while ago, and I'm not certain.

Regardless, when I also couldn't figure out how to configure lineman properly, the hack I got working was to

[2017-07-15 01:58] kytrinyx commented on #2936
👍 that's some good debugging there! Thanks

[2017-07-15 02:00] kytrinyx commented on #3588
@cpaulbond You're right, this is very painful.

We're working on a complete redesign of the app, and this process of looking for interesting solutions is one of the key things that we're trying to get right.

Thanks so much for the suggestion. We'll add this to our list of potential approaches to improving the browsing of solutions. 🌷

/cc @iHiD @nicolechalmers

[2017-07-15 02:00] #3588 closed

[2017-07-15 09:18] eunicesukarto opened #3589 "Error configuring CLI"
I have trouble installing the CLI. When I enter the API key during configuration, an error message shows up.
![capture](https://user-images.githubusercontent.com/28812327/28238220-2c56aa02-6979-11e7-9399-973a3a59fd9e.PNG)

If I click Continue, the error message shows up again. If I click Quit, it shuts down. What should I do?

[2017-07-15 18:40] kytrinyx commented on #3589
@eunicesukarto I'm sorry you're running into this problem. I'm afraid I don't know what's going on.

@blueelvis do you know what's happening here?

In the meanwhile, you could try one of the other installation methods listed here: http://exercism.io/clients/cli/windows

[2017-07-16 12:09] pelucky commented on #3589
@eunicesukarto Show the Details thing? It's seems some specific file can't find...

[2017-07-16 21:23] kytrinyx opened #4130 "Structuring topics"
One of the learnings that came out of the Reboot process is that helping students find the right exercises to work on is a critical part of making Exercism enjoyable, reducing the barrier and time to learning, and reducing frustration. There are three axes we are initially doing this on: difficulty, average time to completion, and topics.

As such, topics will appear around the site in lots of pla

[2017-07-18 15:51] eunicesukarto commented on #3589
@pelucky , the details are:
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.ComponentModel.Win32Exception: The system cannot find the file specified

Server stack trace:
   at System.Diagnostics.Process.StartWithShellExecuteEx(ProcessStartInfo startInfo)
   at System.Diagnostics.Proces

[2017-07-18 15:53] eunicesukarto commented on #3589
@kytrinyx thanks. I'll try to install from there.

[2017-07-21 21:24] luismadrigal commented on #2741
Is this still open?  Is anyone working on this?

[2017-07-21 22:56] kytrinyx commented on #2741
@luismadrigal Thanks for asking 🌷

It's still open, and I don't think anyone is working on it. That said we're only a few weeks away from launching a new prototype, so I wouldn't advise putting a lot of effort into it.

[2017-07-22 00:15] luismadrigal commented on #2741
Got it. I won't spend any time on this.  Is there a repo for the new prototype?

[2017-07-22 01:22] kytrinyx commented on #2741
@luismadrigal We're working in private at the moment. Once we are ready to start testing it, we'll be making it public under the same license as this one.

[2017-07-23 15:09] kytrinyx opened #4129 "Turning on branch protection for all tracks"
### Background

 A couple of months ago @nicolechalmers started doing sketches, designs, and wireframes based on the [design documents](https://github.com/exercism/docs/blob/master/about/conception/README.md) that Thalamus and I have spent the past 6+ months working on. More recently, @ccare and @iHiD started implementing a prototype based on those designs. We've made some design decisions that we

[2017-07-24 14:34] rpottsoh commented on #3589
Issue moved to [exercism/windows-installer #17](https://github.com/exercism/windows-installer/issues/17) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-24 14:47] kytrinyx commented on #3589
Thanks @rpottsoh. Closing.

[2017-07-24 14:47] #3589 closed

[2017-07-26 11:28] fropeter opened #3598 "Robot-name c++: inconcistency between readme and tests"
In the readme file, a reset is said to result in a new random name, while the test fails if the reset changes the name. Which is the correct behaviour?

Also, in the case that a new name should be generated, should the old name be freed for later use, or still be illegal as a name for another robot?

The readme:
[code]

The test:
[code]

[2017-07-26 11:37] NobbZ commented on #3598
The test asks for `original_name` and `robot.name()` to be `n`ot `e`qual. So where do you base your assumption tests and README were contradicting each other on?

Also, if there really is an error in the tests, please report at [exercism/cpp](https://github.com/exercism/cpp), while errors or issues regarding an exercise belong to [exercism/problem-specifications](https://github.com/exercism/proble

[2017-07-26 14:27] kytrinyx commented on #3598
/cc @exercism/cpp for visibility.

[2017-07-26 19:01] fropeter commented on #3598
Sorry! Obviously, I didn't read the test correctly. My apologies!

[2017-07-26 19:01] #3598 closed

[2017-07-27 01:30] kytrinyx commented on #3598
@fropeter You're all good. Glad you got it sorted!

[2017-07-27 13:50] JuanManuelAbate opened #3599 "Add a button to navigate to the next solution submitted by other users."
Hi, I really like the site and I like to learn making reviews of other users solutions, but I find a little navigability problem. When I access  a solution of an exercise and finalize it, when I want to go to next solution posted by other user I need to came back to the full list of solutions and pick another one.

Is there any possibility to add a next button in the solutions to go to the next on

[2017-07-27 20:54] kytrinyx commented on #3599
Thank you for the suggestion @JuanManuelAbate

We're in the middle of a complete redesign, which should improve the experience significantly.

You might also be interested in seeing some of the earlier discussions about this topic, though this has nothing to do with the redesign:

- https://github.com/exercism/exercism.io/issues/3305
- https://github.com/exercism/discussions/issues/33#issuecomment

[2017-07-28 15:43] andrewmp opened #3600 "My work blocks x.exercism.io !"
Hi,
My work blocks access to this specific server, x.exercism.io:
[]PS[8]>exercism fetch csharp hello-world
2017/07/28 11:00:46 Get http://x.exercism.io/v2/exercises/csharp/hello-world?key=04d24eb7a0cb4087b36ae5e659c4672a: dial
tcp: lookup x.exercism.io: no such host

Any way I can copy them for offline use instead? Git works, main page works too.

Thanks,
Andrew

[2017-07-28 19:37] NobbZ commented on #3600
1. Try to convince your people in charge to unlock it, since exercism can be used to teach and learn

2. Is this really a blocking issue or are you behind a proxy and the cli didn't use it? Can you access x-api from the browser?

3. If you really need to mimic the x-api on your own system, you can look at the erlang and Java journey tests. The setup a fake server to be able to mimic a student's wo

[2017-07-28 20:18] kytrinyx commented on #3600
We're going to be ditching x-api very soon (probably less than 6 weeks), so this is not a long-term problem, thankfully.

You should be able to grab the exercise files from https://github.com/exercism/csharp/tree/master/exercises (just try to avoid looking at the sample solution).

[2017-07-28 20:23] andrewmp commented on #3600
Thank you!

[2017-07-28 20:23] #3600 closed

[2017-07-29 14:28] BatyaHack opened #3601 "Wordy in PHP. Invalid test"
testAddThenMultiply()  compares incorrect values.
![image](https://user-images.githubusercontent.com/20016700/28745564-787877c0-7483-11e7-92cb-86e25e703f2b.png)
![image](https://user-images.githubusercontent.com/20016700/28745549-2a07e6f2-7483-11e7-8d27-85b80ad790e6.png)
Even Google answered -17

[2017-07-29 16:24] kytrinyx commented on #3601
You'll notice that Google is adding parentheses and using the default order of operations here. This is a word problem, and the problem specification states that this is to be handled like a verbal word problem, evaluated from left to right, ignoring order of operations:

https://github.com/exercism/problem-specifications/blob/master/exercises/wordy/description.md#iteration-3--multiple-operations

[2017-07-29 16:24] #3601 closed

[2017-07-29 19:27] ryanplusplus opened #3602 "Lua activity stream appears to be broken"
When I am logged in and I try to navigate to http://exercism.io/tracks/lua/exercises I get a 500 and the "Sorry! That's our fault!" page. This occurs in Chrome and Firefox.

I am able to navigate to the activity stream for all of my other tracks (Clojure, ECMAScript, Ruby, Kotlin) so this doesn't appear to affect all tracks.

Is there any way for me to grab additional information? Or is everything

[2017-07-29 19:56] NobbZ commented on #3602
I can confirm. Accessing an exercises stream works fine... At least for lua rain drop.

[2017-07-29 20:22] kytrinyx commented on #3602
Bugsnag says

The code is

[code]

So I think we have some bad data. I'm taking a look.

[2017-07-29 20:57] kytrinyx commented on #3602
Would you give this another go? I haven't found the place where we're failing to set this value, but I did find some records with nulls that I updated to equal the "updated_at" timestamp.

[2017-07-29 21:04] ryanplusplus commented on #3602
Looks to be good now (at least on my phone).

[2017-07-29 21:25] ryanplusplus commented on #3602
Looks good on the desktop as well. Thanks @kytrinyx.

Do we need to create an issue to track down why the records had `null`s?

[2017-07-29 21:25] #3602 closed

[2017-07-29 23:54] kytrinyx commented on #3602
@ryanplusplus I think let's see if it happens again. We're launching the nextercism prototype to maintainers/contributors next week, and if there are no blockers, we could be abandoning this codebase in 4 or 5 weeks' time.

[2017-07-30 13:48] ChrisADR opened #3603 "Contact with Latinamerica"
Hi,

My name is Christopher Díaz Riveros, I'm a software development student
in Lima, Peru. For some time now I have been supporting my Linux
community, Gentoo Linux, and I have discovered a wide world of
possibilities in open source.

I tell you this because it has been so much benefit in my training as a
a developer that I am determined to start a new community in my country
to be able to make t

[2017-08-02 01:44] josh-works commented on #3252
I'll add a quick note here - I'd appreciate some feedback on the above PR, at your leisure!

[2017-08-02 02:45] kytrinyx commented on #3603
Hi Christopher,

Thanks so much for getting in touch. We are always excited to welcome new contributors!

I don't actually know how many of our contributors or maintainers are Spanish-speaking, but I think there are at least a few. Maybe we could add a spanish-language channel to our chat room, and an `@exercism/espagnol` team that people could opt into if they're willing to help out in Spanish.

[2017-08-02 14:16] ChrisADR commented on #3603
Hi Katrina,

Nice to meet you :)

That's an awesome idea! I have another one, what if we could help you to translate some of your web content and make it available on spanish? Would it be hard? That could help us to make your community and ours participate in the code reviews and helps us to be able to teach our community new languages :)

Right now I'm working with the git project to be able to h

[2017-08-04 01:48] dmcfaddengalway commented on #3252
This would be my first contribution on GitHub but this seems like a good first project to contribute to. I have read the above but am still slightly confused. Is there anyone else I can talk to about this?

[2017-08-04 08:06] MichalTHEDUDE opened #3605 "Add "Looks great!" counter to learn from top solutions."
Hi, Is it possible to add "Looks great!" counter next to `1 iteration 0 comments` and a way to filter by it? (Add it into `/tracks/<language>/exercises` panel).

IMHO it would be very nice if anyone could additionally filter by `Looks great!` counter. It would allow to learn from best practices and top solutions.

[2017-08-04 20:29] josh-works commented on #3252
@dmcfaddengalway welcome! 👋

I'm working on this particular issue right now. There's more discussion taking place under the open pull request, which lives [here](https://github.com/exercism/exercism.io/pull/3604)

It's still a work in progress (which is why the pull request title has `[wip]` in it) but if you're curious about the work in progress, [this](https://github.com/josh-works/exercism.io/b

[2017-08-05 04:04] kytrinyx commented on #3605
For the past 8 months we've been working on a complete redesign from the bottom up. We should be launching the beta for testing with maintainers and contributors in the next couple of weeks, and if there are no blockers, launching to everyone in a month or so.

The new site is much better thought through in terms of navigation, browsing, and filtering.

If you hang on tight, I promise it will get

[2017-08-05 04:06] kytrinyx commented on #3603
At the moment, unfortunately yes. In a couple of months we might be in a different position, as we're talking about extracting all of the copy to a separate repo, which would potentially make it possible to translate.

I'd recommend looking at the resources that Mozilla have for student open source clubs. They're doing a ton of great work in this area.

[2017-08-05 08:42] MichalTHEDUDE commented on #3605
Aww apologies! I didn't know! Good to hear that :).
No rush, I will be waiting patiently :).

[2017-08-05 08:51] m-a-ge commented on #2973
I can try to create this doc if it's still a relevant issue considering that a new redesigned version of exercism.io is being developed at the moment as stated in '[I would like to help; I know / want to get better at Ruby](https://github.com/exercism/docs/blob/master/finding-your-way.md#i-would-like-to-help-i-know--want-to-get-better-at-ruby)'

[2017-08-05 15:32] kytrinyx commented on #2973
Hm. I actually think that I'd like to hold off on this. I'm not sure we're going to be using coveralls at all.

I'm going to close this and then once the dust settles in the new redesign we can start considering what guides and docs we need to add.

Thanks @m-a-ge!

[2017-08-05 15:32] #2973 closed

[2017-08-05 15:34] kytrinyx commented on #3605
I appreciate it :sparkles:

If you keep an eye on http://github.com/exercism/discussions/issues or the newsletter http://tinyletter.com/exercism then you'll be one of the first to know when this goes out :heart:

[2017-08-06 22:06] ChrisADR commented on #3603
Thanks for the info :) please let us know when you are ready to translate, maybe we can help a bit with that ;) till then, good luck :)

[2017-08-06 22:06] #3603 closed

[2017-08-06 22:35] mhelmetag commented on #3603
The Rails upgrade (if that's what's happening) should definitely make translation easier.

Food for thought, I've used [phraseapp](https://phraseapp.com) before and it seems pretty useful for maintaining and crowdsourcing translations.

[2017-08-07 17:34] ChrisADR commented on #3603
Thanks @mhelmetag :) great info!

[2017-08-11 17:20] gnivler opened #3607 "xUnit tests not appearing - Windows system requirements?"
I couldn't find this in existing issues or mentioned on the site, sorry if duplicated or just entirely wrong.

From troubleshooting missing unit tests in the Test Explorer (0 discovered) for the csharp/leap exercise, I had to install the dotnet SDK and then manually add C:\Program Files\dotnet to my path, and upon restarting VS the unit tests appear.  Using the CLI indicated the tests were found a

[2017-08-11 22:25] kytrinyx commented on #3607
@gnivler Sorry you're running into trouble!

Would you mind opening an issue in this repository? https://github.com/exercism/csharp That will get this in front of the folks who can best help you out. :heart: I hope you get this resolved quickly.

[2017-08-11 22:25] #3607 closed

[2017-08-14 15:53] taw opened #3609 "ruby pangram test is broken"
All the `skip` lines disable the tests and then there's this meaningless thing:

[code]

[2017-08-14 16:05] NobbZ commented on #3609
All Test suites in the ruby track follow that scheme.

[2017-08-14 16:15] taw commented on #3609
Oh, I compared with old versions without this `BookKeeping` silliness.

Like seriously, why? It makes no sense.

[2017-08-14 17:17] Insti commented on #3609
@taw I suggest you open an issue in the Exercism Ruby repository if you want to discuss this further. https://github.com/exercism/ruby/issues

[2017-08-14 17:19] Insti commented on #3609
The test suites change over time, so it's useful to let reviewers know which version of the tests were used when writing a solution.

[2017-08-15 01:49] kytrinyx commented on #3609
For what it's worth, we are working on some changes to the backend that will let us get rid of this—where we can always show the exact version of the test suite that someone solved, and deliver it when people download someone's solution to try it out locally.

[2017-08-15 06:39] mcmahonr opened #3610 "Add unit test and performance test results to submissions"
As I review other people's submissions I've noticed that a couple don't pass all of the unit tests. There have also been a lot of submissions that I've thought "Neat! How does it perform?". To test I've been pulling the code locally. It would be really nice to see these results attached to the submissions.

[2017-08-15 06:48] NobbZ commented on #3610
Allowing to submit even when not all tests pass is kind of a design decission.

1. It does allow to submit solutions which are correct according to personal knowledge (eg dialekts of pig-latin) but not to the test suite.
2. It does allow to submit a solutions which is correct in a future version of the tests. I've done this a few times, while submitting a PR to the tracks repo where I fix small bu

[2017-08-15 15:20] mcmahonr commented on #3610
I get what you're saying. I don't mean to block the uploads if they fail, just include the output of the tests on the submission page or a link to the test results. I think something like TravisCI or Codeship could accomplish this.

For performance testing you'd need a consistent machine, maybe a docker or vagrant build to make a consistent environment that you can bring up and tear down at will a

[2017-08-15 20:14] abdulhannanali opened #3611 "Add fb analytics support to Exercism"
Exercism currently has no way to get data and insights from it's site, since I see no Analytics system implemented on it which leaves a lot of gap, for data that can be used to improve the experience of Exercism.

Lately, I have been wanting to implement the Facebook Analytics solutions which seems a user friendly analytics solution to gather insights from the people visiting exercism. I'd be happ

[2017-08-16 14:09] kytrinyx commented on #3611
@abdulhannanali Thank you for your interest in this!

This website will shortly go away, as we are replacing it with one that we are rewriting from scratch. I would rather not put a lot of work into adding to the site now, as that would be wasted effort.

On a second note, I don't see how FB Analytics would work for us, since this is not a Facebook app.

[2017-08-16 18:55] abdulhannanali commented on #3611
@kytrinyx Yes I did read another issue after opening this one. So I wanted to say, If it's possible I can make this and other contributions to the newer version.

Facebook Analytics for Web is a solution just like Google Analytics. It is built for websites not just for Apps within Facebook. A very diverse solution.

[2017-08-16 22:00] kytrinyx commented on #3611
We are using Google Analytics in the new site.

[2017-08-16 22:02] abdulhannanali commented on #3611
@kytrinyx Cool! Thanks for your response. Closing this issue

[2017-08-16 22:02] #3611 closed

[2017-08-16 22:07] kytrinyx commented on #3611
Thanks @abdulhannanali

[2017-08-18 17:03] kytrinyx opened #4165 "Allow submitting an exercise directory without submitting temp files, build artifacts, and other undesirable files"
_Imported from https://github.com/exercism/cli/issues/458._
_Originally posted by @kytrinyx._

#

When people submit an entire directory, e.g. `exercism submit hello-world`, we filter out a few things:

- the metadata file which caches some information from the site locally for the CLI to use
- any markdown files (e.g. README.md, GETTING_STARTED.md, etc)
- the test files (we get the pattern from t

[2017-08-18 18:36] asegoviae opened #3612 "I tried to install Exercism on a Mac"

[2017-08-18 18:49] NobbZ commented on #3612
It seems as if you have mangled your `PATH` in `~/.bashrc`, please show us the output of the following command (copy and paste, **not** as screenshot!) (after you fixed your path temporarily):

[code]

[2017-08-18 19:01] NobbZ commented on #3611
@kytrinyx please be aware of the fact that some users might dislike beeing observed. Personally I just block most trackers by browser plugins, other people will just turn away as soon as they realize them.

I will allow them during the beta though, I think they can provide valuable feedback during this phase.

[2017-08-18 19:12] abdulhannanali commented on #3611
@NobbZ Analytics data is helpful to improve the experience of application for the users and to determine where we are failing to provide them with a good experience. I think Analytics should strongly be there at all levels. We don't need to collect personally identifiable information but general statistic. IMO, if users don't want this no body is stopping them to download AdBlock.

[2017-08-18 19:44] kytrinyx commented on #3611
People are free to block the analytics. There are plenty of tools to do so.

[2017-08-18 20:16] NobbZ commented on #3611
Still a disclaimer would be nice. Similar to those cookie disclaimers popping up on sites under european juristication…

[2017-08-18 22:07] asegoviae commented on #3612
`cat: /Users/asegoviae/.bashrc: No such file or directory`

[2017-08-18 22:16] NobbZ commented on #3612
Now its getting weird…

How have you installed the exercism executable?

[2017-08-18 22:37] asegoviae commented on #3612
I'm not sure, it was a long time ago.

Do you think it'll be simpler to restore the OS?

[2017-08-18 22:42] NobbZ commented on #3612
Its been a long time ago and you realise that your system is broken only 4 hours ago? I do not think that its related to exercism then…

Maybe you installed something else that has broken your system in the meantime and exercism is the only thing still working by accident?

Please look if you still have a `~/.profile`, `~/.bashprofile`, and what `echo $PATH` gives you on a fresh terminal.

[2017-08-18 22:47] asegoviae commented on #3612
I think I did got to installing the executable. But, though I would doubt it, could be something else.

I did the `echo $PATH` (don't know how to check if I have a `~/.profile` or `~/.bashprofile`.

The `echo $PATH` returned `/Users/asegoviae/bin:/Users/asegoviae/bin:/Users/asegoviae/bin:PATH`

[2017-08-18 22:48] NobbZ commented on #3612
Oh, and reinstalling the OS should not be necessary if you have proper backups of your home folder. If it is only a missing init file for bash one can reconstruct it.

After you have checked the things I told you to check, just create an empty `~/.bashrc` and put the working `export PATH…` from your original post in it.

Still I'm wondering why you are getting the message that `touch` is not avail

[2017-08-18 22:49] asegoviae commented on #3612
Sure, if you tell me how to, please, I'm really sorry.

[2017-08-18 22:53] NobbZ commented on #3612
Okay, Now at least we know WHY it doesn't work, now we only need to find where the PATH gets mangled…

If those files exist can be seen in the output of `ls -lah ~ | grep .bash`.

Look if you can find a line in one of those if they exist that is like this:

[code]

Where $HOME may also be written as `/User/asegoviae`.

If that is the case, please add a `$` in front of `PATH`

---

Just look into i

[2017-08-18 22:58] asegoviae commented on #3612
OK:

I temporarily fixed commands this line only: `PATH=/usr/bin:/bin:/usr/sbin:/sbin` (without it, commands don't work.)
Then, ran `ls -lah ~ | grep .bash`
The output is
`
-rw-------    1 asegoviae  staff   3.4K Aug 18 16:38 .bash_history
-rw-r--r--@   1 asegoviae  staff   106B Aug 18 16:04 .bash_profile
-rw-r--r--    1 asegoviae  staff    12K Aug 18 11:57 .bash_profile.swp
drwx------  201 asegov

[2017-08-18 23:51] NobbZ commented on #3612
You modified your `.bash_profile` "today" at 16:04. Since I do not know your timezone, I'd say it is at least 5 hours ago (thats when you reported the issue).

Please check that file for any PATH juggling and especially look if you can find a line that is similar to what I've described in the last post and repair it. After saving it you will need to restart your terminal to make bash reload the st

[2017-08-19 00:43] asegoviae commented on #3612
Perhaps I modified it trying to make it work, I'm sure the problem is older.

Anyways:

To reset the terminal, I ran the `rm` command in this thread: https://discussions.apple.com/thread/4656465?start=0&tstart=0

I'm not sure it's 100% OK (I don't know how to find that out), but the '-bash: touch' line doesn't show up anymore, and the commands work.

I appreciate you time and attention.

[2017-08-19 01:15] kytrinyx commented on #3612
@NobbZ thanks so much for helping sort this one out.

@asegoviae I'm pretty sure your Mac is totally fine. This is a very common problem when the `.bash_profile` gets messed up. Now that you deleted it, you can start fresh.

You can check what your current PATH is by opening a terminal window and saying:

[code]

Then, if you want to add more things to your path, for example `~/bin`, then you can

[2017-08-20 13:01] kytrinyx opened #3959 "Mentor history?"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/41._
_Originally posted by @Insti._

#

On the mentor dashboard it gives me some nice stats:

But there does not seem to be a way to see what these solutions were, to re-check or come back for further comments.

I'm assuming they would show up as a notification if there was an additional comment,

[2017-08-21 07:43] kytrinyx opened #3958 "Allow filtering on status/comments on profile page"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/51._
_Originally posted by @ErikSchierboom._

#

The profile page shows my solutions. Perhaps it would be useful to be able to filter on the solution "status" (thumb, heart, genius) or on solutions that have one or more comments.

[2017-08-22 17:23] kytrinyx opened #3957 "mentoring: download the mentored solution for local test-runs"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/57._
_Originally posted by @NobbZ._

#

When I want to pull a solution I am mentoring to let the tests run locally, I need to extract the UUID from the URL.

It would be nice if there were a box that let me copy a download command that is ready to paste and run for my shell, as we have such comman

[2017-08-22 17:50] kytrinyx opened #3956 "“curly” needs a name"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/60._
_Originally posted by @NobbZ._

#

The cute new logo-mascot needs an official name. For now I call it “curly” because its made from curly brackets, but I hope there will be better ideas around…

[2017-08-23 10:20] kytrinyx opened #3954 "commenting: edit comments"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/72._
_Originally posted by @NobbZ._

#

As a mentor I made a typo in the code-portion of a reply and want to fix it, but there is no option to edit a comment at all.

As a student I realized a typo in a word which makes the hole sentence ununderstandable, I want to fix it, but there is no option t

[2017-08-25 21:32] Nick532 opened #3613 "CLI shuts down immediately after starting"
I try to use CLI for Windows.
When I click exercism.exe it starts and shuts down immediately.
What am I doing wrong?

[2017-08-25 22:12] kytrinyx commented on #3613
Hi @Nick532 so sorry that's confusing!

The CLI is expected to be called from the command prompt or from powershell.

/cc @exercism/windows do we have any good guides for using the CLI on the command line in Windows?

[2017-08-26 01:16] rpottsoh commented on #3613
@nick532 the CLI is designed to be used at a command (CMD) or powershell prompt.  CLI is short for Command Line Interface.

Are you familiar with opening a command prompt?   `start` `Run` type `cmd` then click OK or press enter.  At the prompt input `exercism` press enter.  The CLI will provide some help along with available commands for the CLI.
Hopefully this helpful.  Please ask if you need fur

[2017-08-26 22:05] fsouza opened #3614 "Can't load my profile page"
I'd love to be able to provide more details, but the issue is simple: my profile page (http://exercism.io/fsouza) doesn't load, it fails with error code 500.

[2017-08-26 23:52] #3383 closed

[2017-08-27 00:33] kytrinyx commented on #3614
Sorry about this! I'm looking into it now.

[2017-08-27 00:36] kytrinyx commented on #3614
Ok you should be back in business!

[2017-08-27 00:36] #3614 closed

[2017-08-27 00:36] fsouza commented on #3614
Woot, thanks! :D

[2017-08-28 11:17] kytrinyx opened #3953 "Mentor queue is never-ending"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/89._
_Originally posted by @Insti._

#

It would be nice if the mentor queue only gave you N problems to do, so you could get some feeling of completion by doing 1 "page" worth.

As it is they just keep coming.

There could also be a 'give me more' button to refill the queue.

It would be good if

[2017-08-28 12:52] Bbarrett opened #3615 "Exercism will not connect to Github account"
I have installed everything via CL, but cannot get Exercism to connect to my Github account for some reason, what I get is the connection page, but the green "Authorize Exercism" button is grayed out and unclickable. I have tried everything I can think of.

[2017-08-28 12:52] Bbarrett commented on #3615
/Users/bbarrett/Desktop/Screen Shot 2017-08-28 at 8.42.55 AM.png

[2017-08-28 12:53] Bbarrett commented on #3615
Here it is:

[2017-08-28 13:02] Bbarrett commented on #3615
Photo

[2017-08-28 19:43] Insti commented on #3615
Check https://github.com/settings/applications and see if exercism.io is listed there.

[2017-08-28 19:46] Bbarrett commented on #3615
It is not . I have tried to add it, but maybe I am adding it in the wrong place? I tried adding it under the developer settings tab. Still nothing appears as being authorized on the section you linked to.

[2017-08-28 19:51] Insti commented on #3615
Where is the link you are clicking that takes you to the github authorize button? Can you link to it here?

[2017-08-28 20:07] NobbZ commented on #3615
@Bbarrett asked me to post the screenshot, because he isn't able to do so…

![screen shot 2017-08-28 at 8 42 55 am](https://user-images.githubusercontent.com/58951/29791340-d98ffb3e-8c3c-11e7-95d5-829a641c1d5b.png)

And the link that takes him there is the "Log in with Github" which you have on every page if logged out.

But since Image upload didn't work for him either, I have the suspicion that

[2017-08-28 21:12] kytrinyx opened #3952 "CTRL+Enter for submitting comment"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/94._
_Originally posted by @NobbZ._

#

Just hitting CTRL and Enter in conjunction is a way to submit comments that I'm used to from many forums, github and even exercism V1 ;) It would be nice to have it back in V2.

[2017-08-28 21:15] kytrinyx opened #3951 "Show my/commenters solution"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/95._
_Originally posted by @NobbZ._

#

When mentoring I'd like to quickjump to my own solution (if applicable) as I am able to with the big `</>` Button in the upper right corner of V1.

Also I really liked to be able to quickjump to a commenters solution when browsing other people submissions as

[2017-08-28 21:25] kytrinyx opened #3950 "There is a blinking cursor on the profile when choosing languages…"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/96._
_Originally posted by @NobbZ._

#

…that does imply the possibility to type and filter the list (which I really like to do, since my list is long…) but you can't filter or type

![blinking-cursor-suggests-editability](https://user-images.githubusercontent.com/58951/29794426-37835118-8c48-11e7

[2017-08-29 06:38] kytrinyx opened #3949 "Solutions you've liked page doesn't show track nor exercise"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/98._
_Originally posted by @ErikSchierboom._

#

On the Solutions you've liked page, I can see an overview of which solutions I've liked. However, I can't see the solution's exercise name nor the solution's track, both of which are important pieces of information.

[2017-08-29 06:39] kytrinyx opened #3948 "Add filtering to Solutions you've liked page"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/99._
_Originally posted by @ErikSchierboom._

#

It would be convenient to be able to filter the Solutions you've liked page, to help find that one like you are looking for. Possible filters would be: track, exercise, submitter, status (well done, love, genius).

[2017-08-29 06:44] kytrinyx opened #3947 "Breadcrumb path is inconsistent"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/100._
_Originally posted by @ErikSchierboom._

#

If I view a [specific solution](https://v2.exercism.io/tracks/csharp/exercises/etl/solutions/723c6fe0cd3158dec06849bc), the crumb path is: Language Tracks -> C# Track -> Community Solutions -> This Solution

This makes sense, as the crumb path repr

[2017-08-29 12:23] Bbarrett commented on #3615
@NoobZ yes, the JavaScript is enabled and I don't think I am behind any sort of proxy or firewall.

[2017-08-29 12:27] NobbZ commented on #3615
Please stop mentioning the wrong people ;) My name is NobbZ, only 1 "o", but 2 "b".

Just to be sure, have you tried the following:

1. Incognito mode
2. other browser
3. other PC
4. other network
5. other network and PC

[2017-08-29 12:36] Bbarrett commented on #3615
Ooops! Sorry about that. I have tried all of those except for other network and PC. I will give that a try tonight.

[2017-08-30 10:45] bauerpm7 opened #3616 "Problem with API key"
I keep getting the following error when trying to fetch new problems even though I have configured the cli with my api key:

unable to fetch problems (HTTP: 401) - Please provide your Exercism.io API key

<img width="491" alt="screenshot 2017-08-30 06 48 11" src="https://user-images.githubusercontent.com/30079132/29869174-e41f26f6-8d4f-11e7-98a1-75ccdde9022b.png">
<img width="491" alt="screenshot

[2017-08-30 13:35] lkskstlr opened #3617 "Remark for cpp/gigasecond/gigasecond_test.cpp"
This is a question:

Wouldn't it be nicer to include "boost/date_time/posix_time/posix_time.hpp" into the gigasecond_test.cpp as it actually needs it, instead of implicitly relying on gigasecond.h to include it. Maybe one wants to keep the header slim and thus forward declares boost::posix_time::ptime and includes the full boost header in the cpp? Additionally there is "boost/date_time/posix_time/

[2017-08-30 13:43] lkskstlr commented on #3617
Sorry. Only now read the docs and understood that this is the wrong place.

[2017-08-30 13:43] #3617 closed

[2017-08-31 11:47] bsielski opened #3618 "Typo in GETTING_STARTED.md (the first exercise for Ruby)"
There is
[code]
should be
[code]
instead of
[code]

[2017-09-01 06:12] Insti commented on #3618
Thanks @bsielski , did you want to try to fix this?
The file you would need to edit is: https://github.com/exercism/ruby/blob/master/exercises/hello-world/GETTING_STARTED.md

[2017-09-01 18:20] kytrinyx commented on #3616
Wow, we did a particularly bad job of providing an accurate error message here!

Ok, so a couple things:

First—I'd recommend regenerating a new key, since this one has been shared publicly. You can do this on http://exercism.io/account/key

Next... the actual problem here (which the error message totally doesn't tell you) is that the track ID for C# is `csharp`, so the command needs to be `exerci

[2017-09-01 18:22] kytrinyx commented on #3617
I appreciate that you read them! Eventually I'll figure out how to make it more obvious where to submit suggestions and issues ❤️

[2017-09-02 05:05] samuelsincera opened #3619 "Issue with submission"
I have done as much research on this as I could find. Google puts out almost nothing of use. Forgive a novice jumping in over his head. I bet this is a really simple solution, but my research has not been fruitful yet. This is also my first question, so unsure if I'm breaking any rules.

I have tried using the readme's, etc.
You can see the three ways I have tried solving this problem below:

This

[2017-09-02 05:54] kytrinyx commented on #3619
@samuelsincera -- first off, if you got stuck, this is definitely one of those "it's not you, it's us" things! Welcome to Exercism and I'm so sorry you're running into trouble on your first day. That's not a great experience.

From the debug command, it looks like you've configured this correctly.

I'm not super familiar with Windows (cc @exercism/windows if any of you are around your eyes on this

[2017-09-02 06:37] NobbZ commented on #3619
Here you are trying to submit a file that resides in the tracks basedir. So it can't get recognized as an actual exercise. You need to have the file below your exercises folder.

Here you are trying to submit the entire solutions directory, this is currently not possible, you have to specify on or many files.

[code]

Is what probably will finaly work.

Yupp, because there is probably no `C:\pytho

[2017-09-02 06:53] kytrinyx commented on #3619
@NobbZ Thanks so much for jumping in here! I didn't catch the missing exercise directory. (I'm going to blame this on it being way past my bedtime...)

[2017-09-02 07:33] NobbZ commented on #3619
Hehe, I just got woken up by my kids ;) So I'm missing some sleep as well ;)

Yeah, I needed to read twice before realizing it. In general I needed to read it twice to realize this is about the old CLI ;)

[2017-09-02 07:43] kytrinyx commented on #3619
I had to double-check as well. We're going to be confused for the next few weeks, I'm sure!

[2017-09-02 08:29] samuelsincera commented on #3619
Hey guys!

After watching an episode of the Defenders and eating a bunch of chocolate cookie dough, I had the problem licked.

Just kidding. But that did actually happen. Okay, so what happened.. Python wasn't installed in a sensible location, the PATH wasn't enabled, and other such funkiness. So I just uninstalled python and reinstalled it, paying more attention to what went where. Rebooted the c

[2017-09-02 13:38] rpottsoh commented on #3619
@samuelsincera what ended up being your usage of the CLI to submit your solution?

[2017-09-02 15:17] kytrinyx commented on #3619
Excellent! I'm so glad you got this sorted.

Isn't it a great feeling when the brain connects the dots from the error messages to the things you can try?

Congrats 🌻

[2017-09-02 15:17] #3619 closed

[2017-09-02 20:48] beetleman opened #3620 ""Sorry! That's our fault!" on pages related to Common Lisp"
I have the same problem as [#3580](https://github.com/exercism/exercism.io/issues/3580) but instead dlang i have problem with Common Lisp.
Submission and fetching wont work to.

[2017-09-02 21:41] astradamus opened #3621 "Notifications are too ephemeral, need a backlog"
I hopped onto Exercism and had several notifications. I clicked the first, and when I went back, the rest were cleared and gone, unable to be reviewed. I don't think I've ever used a social platform like this where notifications just disappear forever, for this reason. Sort of frustrating because I have no clue what the others might have been for.

[2017-09-02 21:42] NobbZ commented on #3620
Can you please elaborate what you mean by "common list" and how you try to fetch and submit?

[2017-09-02 22:06] beetleman commented on #3620
Sorry, I was in hurry so i made typo:  `s/common list/Common Lisp/g`.
Fetch
[code]
Submit
[code]

[2017-09-02 22:26] NobbZ commented on #3620
There is no track “lisp”, its either “common-lisp” or “elisp”, but I think you want to try the first one…

I'm not sure though, How you managed your submission to fail that way… Did you create a `exercism/lisp/raindrops` folder manually?

But in fact, when I try to access your profile, I do get the usual “its our fault page”…

@kytrinyx will probably have to fix something in the database manually…

[2017-09-02 22:57] beetleman commented on #3620
because its use to be "lisp" not "common-lisp"
[code]
I submitted all of CL exercises except "raindrops" which was trigger for this problem for me. In my opinion problem is in migration from "lisp" to "common-lisp". I dont want lose feedback I get from CL guys:(

[2017-09-02 23:15] Bbarrett commented on #3615
Hey all, I figured it out. There was an issue with the pc I was using. Tried it at home on mine, all good now. I will close the issue.

[2017-09-02 23:15] #3615 closed

[2017-09-03 00:22] kytrinyx commented on #3615
Glad you got it sorted @Bbarrett!

[2017-09-03 00:23] kytrinyx commented on #3620
Oh, this is legit my fault. We renamed the track a while back and I bet there's some stray data somewhere with the old name. I'll get this sorted ASAP! So sorry about that.

[2017-09-03 00:29] kytrinyx commented on #3621
Hi @astradamus - we originally modeled the notifications on how GitHub's notifications work. On GitHub if you click, it's gone.

You will never lose a notification that you haven't seen. If they're gone it means that you clicked on the page that they were for. If you only clicked that one page, then they were all different things for the same page.

I know this is super confusing. That's totally m

[2017-09-03 00:38] kytrinyx commented on #3620
@beetleman Would you give that a try?

[2017-09-03 05:49] beetleman commented on #3620
Dashboard and rest of page work perfectly now. Command line toll starting working after:
[code]
Thanks a lot!

[2017-09-03 05:49] #3620 closed

[2017-09-03 20:03] astradamus commented on #3621
Okay, that makes sense! I think it also clears the notification if you load the page at all, even without clicking there through the notification, because I had an embarrassment of tabs open and when I clicked through them found comments and such that I hadn't been notified for (presumably because they were cleared immediately by the loading page).

[2017-09-03 20:06] astradamus commented on #3621
Wow, v2 looks fantastic, but I can only assume is only partially functional at the moment? At the top of the page it's warning me of regular data wipes, but it let me log in through my GitHub account and the Scala track is showing me some wacky stuff. A random smattering of the exercises I've done are 'Completed' and many more are 'Locked', where I'd expect everything to simply be blank?

[2017-09-03 21:34] kytrinyx commented on #3621
Yeah, it's early beta days still.

We're going to do a new data import in a week with some fixes to some wonky stuff, but I'd love to hear what is whacky right now. Want to open an issue in https://github.com/exercism/v2-feedback/issues with your observations?

This is one of the reasons we're importing real data... everything looks different once you have 500,000 code examples.

[2017-09-03 21:45] astradamus commented on #3621
Okay, you got it.

[2017-09-03 22:41] kytrinyx commented on #3621
I'm pretty sure this is the case (it's been a while, but I think that's the logic I've used).

[2017-09-05 00:00] kytrinyx opened #3946 "Delete uploaded files"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/107._
_Originally posted by @budmc29._

#

I had a look through the issues and could not find any reference to this, or maybe I missed it.

Is there any way to delete a submission? By mistake I uploaded my npm_folder with the submission and I would like to delete the folder/files.

![no_file_delet

[2017-09-05 16:44] Basager opened #3622 "Add "Next Solution" button to go through solutions easier."

[2017-09-05 16:45] #3622 closed

[2017-09-05 16:45] Basager commented on #3622
Sorry, issue already exists.

[2017-09-05 16:57] Basager commented on #3599
Yes, please. That would be very helpful.

[2017-09-05 18:24] #3616 closed

[2017-09-05 18:27] bauerpm7 opened #3623 ".Net Core"
My computer has .net core 1.0 installed so when I go to run the tests it is looking for a .json file rather than the .csproj file.  Is there a way for me to specify the CLI to use .Net Framework rather than .Net Core?

[2017-09-06 01:15] chuckwondo opened #3624 "Cannot add comments to problem submissions"
As of a few months ago, I am unable to add comments to problem submissions. On the submission page, I see the Comments heading on the right side of the page, and the Write, Preview, and History tabs below it, but the input box and button for adding a comment are missing. I used to be able to add a comment, but this problem appeared a few months ago.

At first I thought it was a site problem, but a

[2017-09-06 22:53] kytrinyx commented on #3623
Hi @bauerpm7 if you're asking about the C# exercises, your best bet is to ask in the http://github.com/exercism/csharp repository, which is where the maintainers of those exercises can be found.

[2017-09-06 22:54] kytrinyx commented on #3599
@Basager we're working on a completely new site design, which will hopefully address your needs better. If you want a sneak peek you can see what we're working on here: http://v2.exercism.io/

[2017-09-08 17:47] Insti commented on #3609
Closing this, if you want to discuss it further please raise an issue in the Exercism Ruby repository.

[2017-09-08 17:47] #3609 closed

[2017-09-08 17:48] Insti commented on #3557
This is causing the Travis CI tests to fail.

See: https://travis-ci.org/exercism/exercism.io/builds/273341130#L2296

[2017-09-08 17:52] Insti commented on #3582
Shortest solutions are not always the best, showing lines of code will lead to gamification based on that metric [citation needed].

Just look through a lot of solutions, even longer ones will often have something interesting you can learn.

[2017-09-08 23:33] kytrinyx commented on #3557
Let's do that! Would one of you be willing to make the change?

[2017-09-08 23:34] kytrinyx commented on #3624
This is so odd! I wonder if we have some wonky data somewhere that is affecting just you (or just a few users). I'll dig into this and see what I can find out.

[2017-09-08 23:49] kytrinyx commented on #3624
I pulled down the database and logged in as you locally, and I'm getting a javascript error on that page. Not on other pages, and not if I log in as myself.

<img width="553" alt="screen shot 2017-09-08 at 5 47 34 pm" src="https://user-images.githubusercontent.com/276834/30234772-d4e41c12-94bd-11e7-8a2b-04327382f1cf.png">

@mhelmetag @tejasbubane I don't know if either of you have some time to wor

[2017-09-10 20:51] astradamus opened #3628 "Little incentive for review/discussion/participation"
In the past couple weeks I've completed several exercises and offered comments on many submissions by others, but it feels like I'm shouting in a void. Not because there are no other people here--the activity stream makes clear there are others around, doing the exercises in my language--but because there doesn't seem to be any real framework to encourage or require such participation.

How to act

[2017-09-12 17:34] tejasbubane commented on #3557
Since the error says `Make sure it is installed locally to your project or under "node_modules/lineman"`, seems like we need to add it. But I wonder why tests were not failing before.

[2017-09-13 12:35] sjwarner-bp opened #3630 "Error 503 first byte timeout"
@kytrinyx Accidentally uploaded a dictionary file alongside my `Java/pig-latin` submission. Subsequently can only get 503s when accessing the website.

I am unsure as to if the 503s are related to the upload. Either way, I have been recommended that you can manually remove this from the database. Apologies for any inconvenience.

URL: http://exercism.io/submissions/f63b7813d80946759bae417485baf065

[2017-09-13 13:19] endotnick commented on #3630
I did not upload any erroneous files, but am receiving this same error when clicking the Login with GitHub link on the homepage.

[code]

I am able to fetch new exercises, haven't tried submitting new solutions yet.

[2017-09-13 14:26] endotnick commented on #3630
I was able to login after all, but now I receive the 503 first byte timeout error about 90% of the time when navigating to any page while logged in.

Attempting to submit a solution results in the following error:

`2017/09/13 14:17:50 unable to submit solution - error parsing API response - invalid character '<' looking for beginning of value`

For the record that char is not present in my soluti

[2017-09-13 14:32] sjwarner-bp commented on #3630
Attempting to fetch a new problem also seems to result in the same error:

`2017/09/13 13:52:27 error parsing API response - invalid character '<' looking for beginning of value`

[2017-09-13 14:43] NobbZ commented on #3630
Yeah seems to be global problem. I do not think it is related to your
submission and I hope it will self heal.

On Mi., 13. Sep. 2017, 16:32 Sam Warner <notifications@github.com> wrote:

[2017-09-13 14:48] sjwarner-bp commented on #3630
@NobbZ Ok good to know. If it is an unrelated problem and it does self heal, I should be able to resolve the dictionary issue (above) myself.

[2017-09-13 15:19] pelucky commented on #3630
I also get "Error 503 first byte timeout" when I open the web,
And when I use "exercism debug", I get this error:

[2017-09-13 16:59] saks commented on #3630
Similar problem on linux:
[code]

[2017-09-13 18:57] rpottsoh commented on #3630
Self healed?  Site is up.

[2017-09-14 07:12] sjwarner-bp commented on #3630
Seems most parts of the site are up and that the CLI `fetch` and `submit` are again working. However, I am still having trouble accessing the page detailed in my opening comment (503 still).

[2017-09-14 15:29] #3630 closed

[2017-09-15 10:34] #3618 closed

[2017-09-15 10:35] Insti commented on #3618
Thanks to @bsielski for reporting this and @thejoycekung for fixing it.
Teamwork 👏

[2017-09-16 19:53] kotp commented on #2770
@LunarGem Did this get solved for you?  Let us know!

[2017-09-16 20:51] mhelmetag commented on #3031
I think think the elixir syntax highlighting is better now so I closed the rouge issue and I think we're okay to close this one as well. I think maybe just the demo site hadn't updated all those months ago.

[2017-09-17 14:48] weitzman commented on #3582
The OP is not suggesting that we default sort by fewest lines. Its merely an additional statistics - and a valuable one IMO.

[2017-09-17 20:42] LunarGem commented on #2770
I admit, I completely forgot a about this! My academic life for crazy and I haven't been keeping up with my open source issues. My computer is not working at the moment, so I can't get back to this, but I don't think I had managed to solve the issue (and I was thinking of replacing my RPi).

[2017-09-18 14:50] #2059 closed

[2017-09-18 14:50] #2263 closed

[2017-09-19 00:01] kytrinyx commented on #2770
@LunarGem thanks for checking back in ✨

I'm going to go ahead and close this, since we expect to be launching https://github.com/exercism/v2-feedback/blob/master/README.md in the not-too-distant future.

[2017-09-19 00:01] #2770 closed

[2017-09-19 01:35] kytrinyx commented on #3628
@astradamus we do, indeed, have something in the works to remedy this—both in the design of the site itself, and a plan for training and recruiting mentors.

Agreed, this was one of the big reasons that we have been working on v2

[2017-09-19 01:38] kytrinyx commented on #3031
I'll upgrade it here. v2 is using prism for highlighting, so we may need to verify that it looks right there as a separate task.

[2017-09-19 01:42] kytrinyx commented on #3031
Upgraded, deploying now. If something looks awful let me know and I'll back out the change.

[2017-09-19 01:42] #3031 closed

[2017-09-19 01:44] #3557 closed

[2017-09-19 01:44] kytrinyx commented on #3557
Who knows! I'm assuming it got included by some transitive dependency or something.

[2017-09-19 01:46] kytrinyx commented on #3630
Sorry for the late reply. I've been away for the past 10 days, and since the site seemed to be up when I checked I decided to let this one go until I was back.

I'll take a look at deleting the dictionary. In the new site we're putting in some guards to avoid uploading very large files (this is not the first time, as you can imagine!).

[2017-09-21 11:20] AnthonyJacob opened #3632 "How do I add new language?"
I would like to add support for new language. How do I do that?

[2017-09-21 12:22] Insti commented on #3632
I think there is some documentation about this, where did you look?

[2017-09-21 12:24] Insti commented on #3632
https://github.com/exercism/docs/tree/master/language-tracks

[2017-09-21 18:47] chuckwondo commented on #3624
Thanks for looking into this @kytrinyx! I'm seeing the same thing in my browser too. Very strange, especially because I see it both on my personal laptop as well as my work laptop, and on multiple browsers.
Given that, and that you cannot replicate it when logged in as yourself, could it be that something is being injected that is account-specific?

[2017-09-22 17:35] Ferengee opened #3633 "Mark as read for a single entry returns a 404"
For example in http://exercism.io/tracks/javascript/exercises/leap
when click on the 'mark as read' button behind a single entry from another user the page redirects me to:
http://exercism.io/&#x2F;tracks&#x2F;javascript&#x2F;exercises&#x2F;leap
which shows a 'We don't have that!' 404 message.

When I reload http://exercism.io/tracks/javascript/exercises/leap the 'mark as read' button is removed

[2017-09-23 20:57] adamcameron opened #3634 "ColdFusion should possibly be renamed CFML"
CFML is the language; ColdFusion is a vendor implementation of it; Lucee is another. It looks to me like the exercises are language-oriented, not platform-oriented, so I think they are about CFML not ColdFusion per se.

I also suspect the instructions for downloading an engine and running the code would actually be running the code on Lucee not ColdFusion anyhow.

Back when there was only one sign

[2017-09-24 00:01] kytrinyx commented on #3634
Thanks @adamcameron. I had no idea.

This isn't the first time we've had some ambiguity that we've had to straighten out.

We have a language track called Delphi. Originally we named it Pascal, but we happen to be using the Delphi implementation (which is provided by a specific vendor). I am happy to include more or less any language, and I think that it's important to name the track so as to avoi

[2017-09-24 02:36] bdw429s commented on #3634
So, here's my thoughts on this.  I had noticed this when I starting reviving the track but decided it largely didn't matter.  The truth is, the vast majority of the CF world (like, 99%) doesn't really place any distinction between CFML and ColdFusion.  CFML does, after all, stand for "**ColdFusion** Markup Language" so it's not like we're getting away from a trademark or anything.

The open source

[2017-09-24 03:00] adamcameron commented on #3634
Followed, no doubt, by "I thought it was dead", or "[insert derisive comment here]". That's what I get. Although I stick with the CFML label, and just explain it's the language the ColdFusion and other platforms use, but make a point of decoupling it from the ColdFusion brand.

I take your point re Kleenex / a tissue though.

I think the cost to be technically accurate here is minimal, and you pos

[2017-09-24 09:47] eitaccount opened #3635 "Java track doesn't work now?"
I tried to have a look others' solution thur below link:

http://exercism.io/tracks/java/exercises

However, it still doesn't work.  Or, is there any other links for solution?

Thanks

[2017-09-24 13:29] Insti commented on #3635
Have you solved and submitted any problems yourself on the java track?

What do you see that causes you to say that it doesn't work?

[2017-09-24 15:13] kytrinyx commented on #3634
Based on the discussion here so far, I'm leaning towards renaming the track to CFML, since it's more accurate, and then starting the "blurb" with "ColdFusion Markup Language...". This is the same pattern we're using for LFE (Lisp-Flavoured Erlang) (see discussion here: https://github.com/exercism/lfe/pull/64)

It sounds like you're taking a personal dig at Brad here. That's uncalled for and unacce

[2017-09-24 18:57] adamcameron commented on #3634
Not at all, I mean "not at all do I think that", and "not at all does it sound like that either". Just read the words, don't try to find "nuance".

I was just confirming what I'm pretty sure is true, and in no way was there any loading. Lucee is the newer, easier to integrate with, more dynamically-maintained, more collaborative and _open source_ CFML engine. And - bear in mind Brad and I have kno

[2017-09-25 02:36] bdw429s commented on #3634
@kytrinyx That's fine.  My only question (other than what needs to happen to change it) is how much this affects the repo names and CLI commands.  Updating the markdown files are very easy, but I do have a screencast I published last week and another that recorded and edited that I'll be publishing next week that demo how to use the ColdFusion/CFML track and how to contribute more exercises.  I ne

[2017-09-25 03:27] kytrinyx commented on #3624
Could be. It's so strange. Your GitHub data doesn't seem to have any weird characters in it, so I'm not sure where it would be coming from.

[2017-09-25 17:27] rwobben opened #3636 "Person who like to check my answers"
Hello,

I have a few challenges solved in c# but till now nobody wants to check if I did them the right way.
Maybe someone who wants to be a volunteer

[2017-09-25 17:39] chuckwondo commented on #3624
If I revoke GitHub access for exercism and then reauthorize, would I lose any of my existing content in exercism? If not, then perhaps I'll try that to see if that clears the problem.

[2017-09-25 21:12] cybersonic commented on #3634
CFML is the name of the language so to for that.

[2017-09-25 21:12] cybersonic commented on #3634
*go for*

[2017-09-25 21:17] robertdmunn commented on #3634
CFML FTW.

[2017-09-25 22:30] cfchef commented on #3634
I agree with naming it CFML.

[2017-09-25 23:01] creayt commented on #3634
I think even most to all ColdFusion ( Adobe ) developers have given up on ColdFusion ( Adobe ). I say name the track Lucee, because if you're trying to lure new developers in the best shot you have is sounding like something totally arbitrary that they *might* click on simply out of curiosity. A random, misspelled name like "Lucee" is more likely to pique some curiosity than YAA ( yet another acro

[2017-09-26 02:05] zspitzer commented on #3634
CFML

[2017-09-26 03:21] cfvonner commented on #3634
CFML

[2017-09-26 03:50] elpete commented on #3634
I agree with CFML as the name.

[2017-09-26 04:53] kytrinyx commented on #3634
@bdw429s An excellent question. In terms of renaming, we (well, I) need to:

- rename the repository
- run a couple of shell commands
- run a couple of database queries to update any existing submissions on the sate

And then, as you say, a few updates in markdown files.

So—not a big deal on this end.

Ouch. Now this _is_ a lot of work.

We're going to be launching v2 in ~mumble mumble~ not _too_

[2017-09-26 04:57] bdw429s commented on #3634
@kytrinyx I  asked on Twitter for some more opinions which brought the inflow of answers.  It seems like CFML is the clear winner.  I appreciate @creayt 's suggestion of going with a more obscure name for the purpose of tricking people with an existing CF bias into trying it, but I don't think that's the right move.  For what it's worth, I've let Adobe ColdFusion's marketing manager (Kishore) know

[2017-09-26 05:00] kytrinyx commented on #3634
@bdw429s This sounds like the best way forward.

Thanks so much to everyone for weighing in here, and thank you, Brad, for your efforts and enthusiasm for the CFML (!) track. 🌷

[2017-09-26 05:00] #3634 closed

[2017-09-26 05:01] kytrinyx commented on #3624
Nope—you should be fine even if you change your username—though, obviously I'm not encouraging to do that. You have a great username :-)

[2017-09-26 09:39] Insti commented on #3008
I expect this has become an issue that nextercism needs to worry about?

[2017-09-26 11:37] chuckwondo commented on #3624
Hmmm. No luck with revoking and reauthorizing. Any way to debug this on your end?

[2017-09-27 20:07] rwobben opened #3638 "Kindergarten problem. Not clear which functions does what"
Hello,

I try to solve the kindergarten challenge in c#. I see that there are 3 seperate functions given: Garden, GetPlants and DefaultGarden.

I think GetPlants must give me the answer to this problem.
But what schould the other two do exactly ?

Roelof

[2017-09-28 07:35] NobbZ commented on #3638
Since this is a question spoecific to the C# version of the exercise (canonical data only knows about the property `plants`), I'll move you over there.

[2017-09-28 07:35] NobbZ commented on #3638
Issue moved to [exercism/csharp #436](https://github.com/exercism/csharp/issues/436) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-28 07:36] NobbZ commented on #3638
No rights to close here, can someone else do it please?

[2017-09-28 09:47] #3638 closed

[2017-09-28 12:33] mlopes opened #3639 "Documentation inconsistency on Elixir problem"
Hi,

The `secret-handshake` exercise on the `elixir` track has a consistency issue where the documentation section `Running tests` is showing how to run the tests for the `bob` exercise instead.

http://exercism.io/exercises/elixir/secret-handshake/readme

[2017-09-28 12:56] NobbZ commented on #3639
This is a problem throughout most of the tracks that needs to specify a filename to run the tests.

This is still related to the fact that a track maintainer had only a single document where he had to specify how to run the test. Most often the first exercise of that track was taken as an example. The server that distributed the exercises generated the README for the exercise from this single "how

[2017-09-28 20:22] remcopeereboom commented on #3636
@rwobben If you go to your solution, than on the page you should see a drop-down button with an option to "request help". Try flagging your solution that way and than adding a self-comment explaining the request for a review.

Not having enough reviewers is a common issue on exercism so that's something to be aware of. I'd offer to check them myself, but I don't have access to the C# branch (if so

[2017-09-30 20:03] #2589 closed

[2017-09-30 21:36] andreagrandi commented on #2589
I can still help, maybe using a solution similar to the one I'm using on my static website. Do you still need help? Cheers

[2017-10-01 18:37] kytrinyx commented on #2589
Thank you @andreagrandi!

We've solved this in v2 of Exercism which should be launching before too long. In v2 we're using HTTPS, and also the token is passed in the header rather than as a URL parameter.

I don't think we need to address it in v1, since that entire site/codebase is going away shortly.

[2017-10-02 09:27] kytrinyx opened #3945 "Upcoming or planned tracks not listed"
_Imported from https://github.com/exercism/-DEPRECATED-PLEASE-USE-exercism.io-REPO-v2-feedback/issues/114._
_Originally posted by @wolf99._

#

It's not possible to see upcoming or planned tracks. Maybe this is in the TODO work or something.

I got started with Exercism on the C track, which still hasn't graduated from upcoming. If I came to the site wanting to do some C exercises and saw it wasn'

[2017-10-02 14:55] yasserhassansoliman opened #3641 "submitting and getting feedback"
Hi,
I have solved C++ exercises but I don not know how to submit the solution to get a feedback
Thank you

[2017-10-02 21:46] NobbZ commented on #3641
I do assume that you already **fetched** your exercise using the `exercism fetch cpp` command, and after that you implemented it and made the tests pass.

If so, the next step is to `exercism submit hello_world.{cpp,h}` (or `exercism submit hello_world.cpp hello_world.h` if not on a linux like system) to actually submit your solution. This commands have to be run from the exercises folder.

[2017-10-02 23:43] adamcameron commented on #3634
Thanks for following this up & all the input from everyone.

[2017-10-03 15:54] rwobben commented on #3636
@remcopeereboom  Thanks, I hope you get very soon access to the c# branch

[2017-10-03 16:18] kytrinyx commented on #3639
Yeah, that makes sense, thanks! Our README generator is now smart enough to be able to generate the proper file name so that each README has the correct instructions.

I'll open an issue in the meta repo.

[2017-10-03 16:31] kytrinyx commented on #3639
Opened: https://github.com/exercism/meta/issues/92

[2017-10-03 17:41] #3240 closed

[2017-10-03 17:41] #3336 closed

[2017-10-03 17:41] #3430 closed

[2017-10-04 07:28] Insti commented on #3041
This is probably another one of the things we will continue to ignore until it is no longer a problem when we move to Nextercism.

[2017-10-04 12:31] fabia88 opened #3642 "gems conflicts in Ruby"
Hello!
I tried the first exercise of the Ruby section, but I think there is a problem with the dependencies of the gem minitest. I got this error message:
/usr/local/opt/rbenv/versions/2.3.3/lib/ruby/2.3.0/rubygems/specification.rb:2285:in `raise_if_conflicts': Unable to activate railties-5.0.5, because activesupport-5.1.2 conflicts with activesupport (= 5.0.5) (Gem::ConflictError)

I tried to fin

[2017-10-04 14:30] Insti commented on #3642
Welcome.

It looks like there is something messed up with your local configuration. The Exercism exercises shouldn't require "active-anything".

Fixing it through Github posts might be tricky, so come to: https://gitter.im/exercism/ruby and we can try to help talk you through it.

[2017-10-05 07:45] tejasbubane commented on #3041
The problem is some of them are lineman dependencies and it isn't maintained anymore.

[2017-10-05 07:49] rwobben commented on #3636
@remcopeereboom  maybe a idea to put my solutions into a private github or bitbucket repo and work from there till you have access to the c# branch

[2017-10-05 07:51] NobbZ commented on #3636
It does not have to be private.

It does not even have to be a repository, you can give anyone the link to a submission you made, and everyone who knows that direct link can see and comment your solution.

[2017-10-06 05:05] kytrinyx commented on #3624
Dang it. I missed this. I have no idea how to debug front-end stuff :(

One thing I'd love to know—are you seeing these problems in v2.exercism.io as well?

@iHiD do you know enough javascript to help me figure this one out?

[2017-10-06 05:17] kytrinyx commented on #3041
Yeah, I'm OK with this, to be honest. In a perfect world I would deal with them but I'm slammed as it is, and I'm prioritising other things.

[2017-10-06 12:44] iHiD commented on #3624
Sure. Run up an ngrok, ping me on Slack and we'll pair on it :)

[2017-10-06 21:07] Gimly opened #3644 "Getting an error 500 when submitting"
Hi there, I did a few exercises and wanted to send them but I always receive an error 500:

[code]

[2017-10-07 17:09] kytrinyx commented on #3644
@Gimly So sorry you're running into this! What command are you running when you get this error message? (Which track and exercise?).

[2017-10-07 17:12] kytrinyx commented on #3633
Thanks for reporting this, I'll dig in and see what's going on.

[2017-10-07 17:14] kytrinyx commented on #3008
Yeah, we should make sure that this is handled consistently in v2. If someone has time to summarize the problem and open an issue in v2-feedback (and mark this as closed), that would be ✨ much appreciated ✨ .

[2017-10-07 17:15] kytrinyx commented on #3639
I'm going to close this issue, actually, since it's tracked elsewhere. Meanwhile, @mlopes, if you want to help fix the Elixir readme template, that would be pretty great :-)

[2017-10-07 17:15] #3639 closed

[2017-10-07 17:19] kytrinyx commented on #3632
Yepp—that's the right link. Thanks @Insti! I'm going to go ahead and close this one.

[2017-10-07 17:19] #3632 closed

[2017-10-07 17:20] kytrinyx commented on #3628
I'm going to go ahead and close this one, since it is being addressed in v2. Thanks 🌻

[2017-10-07 17:20] #3628 closed

[2017-10-07 17:21] kytrinyx commented on #3623
I'm going to close this. If you need further assistance, please open an issue in the exercism/csharp repository.

[2017-10-07 17:21] #3623 closed

[2017-10-07 17:22] kytrinyx commented on #3621
I'm going to go ahead and close this, but will of course discuss further in v2-feedback if necessary. 🌷

[2017-10-07 17:22] #3621 closed

[2017-10-07 19:50] Gimly commented on #3644
It happens when I do `exercism submit`, on all tracks and all exercise. I just tried now on the typescript hello-world exercise.

[2017-10-07 23:35] kytrinyx commented on #3644
Thanks @Gimly working on reproducing this on my end.

[2017-10-07 23:52] kytrinyx commented on #3644
I'm unable to reproduce this.

Would you please run `exercism debug` and paste the output here, redacting your API key?

[2017-10-07 23:54] kytrinyx commented on #3644
Just to make sure we're on the same page. The exact command that you typed was the following, right?

[code]

[2017-10-08 20:38] Gimly commented on #3644
Here's the output of the `exercism debug command`:

[code]

The command I did I used to send the hello-world exercise was indeed

[code]

Tried sending a few other exercises (using the same command, different files) and get the same error. I also tried to reset my API Key and reconfigure it.

[2017-10-08 22:59] kytrinyx commented on #3644
Would you upgrade to the most recent CLI, please? 1.x is very, very old. We've probably made some changes in the past couple of years that were not compatible with the 1.x clients.

https://github.com/exercism/cli/releases/latest

[2017-10-09 04:22] #3453 closed

[2017-10-09 19:31] Gimly commented on #3644
Oh, that's really embarassing, sorry about that... I had upgraded with Chocolatey, but somehow it kept the old version and I didn't see that I was using that one instead of the new one. I corrected the installation to use the new version and it works correctly.

Thanks for your help!

[2017-10-09 19:31] #3644 closed

[2017-10-10 13:47] aes421 opened #3646 "Search by Language"
I think it would be nice if on the "Languages" page you could click where it currently says "Languages" and it turns into a search bar.

[2017-10-10 13:48] aes421 commented on #3646
I'd also like to take a look at this if you all are okay with it, but since I've never used ruby I may end up changing my mind and letting someone else do it.

[2017-10-10 18:11] masonraus commented on #3226
Is anyone still working on this? I'd like to give it a shot if it's open 😄

[2017-10-10 21:48] Insti commented on #3646
Hey @aes421 you're welcome to look into this if you like but you should know that we're currently working on a new version of the site where (almost) everything is changing.

See: https://v2.exercism.io/

[2017-10-11 00:18] aes421 commented on #3646
I did not know.  Thanks for informing me!  I'm not sure how to close the issue, but if you can that'd be great.

[2017-10-11 05:34] mlopes commented on #3639
Sorry, I’m not doing the Elixir track, just did this one with a friend and noticed the inconsistency. I’m doing the Haskell one though, so I’ll try to submit PRs on that one if I notice anything.

[2017-10-11 14:55] kytrinyx commented on #3639
Thanks @mlopes! No pressure either way. Someone will get to it eventually :-)

[2017-10-11 14:56] kytrinyx commented on #3646
I'll do that. Thank you @aes421!

[2017-10-11 14:56] #3646 closed

[2017-10-11 14:58] kytrinyx commented on #3226
@masonraus nobody is working on this, but we're in the middle of working on a complete redesign, so we're generally discouraging updates to the v1 site.

You can see v2 here: http://v2.exercism.io/
And provide feedback here: https://github.com/exercism/v2-feedback/blob/master/README.md

I'm going to go through and close the various open feature-related issues for v1.

[2017-10-11 14:58] #3226 closed

[2017-10-11 15:00] kytrinyx commented on #3605
I'm going to go ahead and close this, since we're now that v2 is in beta, we're actively discouraging design changes to v1.

You can see v2 here: http://v2.exercism.io/
And provide feedback here: https://github.com/exercism/v2-feedback/blob/master/README.md

Thanks for the input everyone! 🌻

[2017-10-11 15:00] #3605 closed

[2017-10-11 15:00] kytrinyx commented on #3599
I'm going to go ahead and close this, since we're now that v2 is in beta, we're actively discouraging design changes to v1.

You can see v2 here: http://v2.exercism.io/
And provide feedback here: https://github.com/exercism/v2-feedback/blob/master/README.md

Thanks for the input everyone! 🌻

[2017-10-11 15:00] #3599 closed

[2017-10-11 15:01] kytrinyx commented on #3587
I'm going to go ahead and close this, since v2 is in beta, and is HTTPS.

You can see v2 here: http://v2.exercism.io/
And provide feedback here: https://github.com/exercism/v2-feedback/blob/master/README.md

Thanks for the input everyone! 🌻

[2017-10-11 15:01] #3587 closed

[2017-10-11 15:02] kytrinyx commented on #3582
I'm going to go ahead and close this, since we're now that v2 is in beta, we're actively discouraging design changes to v1.

You can see v2 here: http://v2.exercism.io/
And provide feedback here: https://github.com/exercism/v2-feedback/blob/master/README.md

There will be sorting and filtering along various axes in v2 (not sure how much of that is already implemented), but do keep an eye on that a

[2017-10-11 15:02] #3582 closed

[2017-10-11 15:02] kytrinyx commented on #3570
I'm going to go ahead and close this, since we're now that v2 is in beta. Thanks @NobbZ :-) 🌷

[2017-10-11 15:02] #3570 closed

[2017-10-11 15:03] kytrinyx commented on #3550
I'm going to go ahead and close this, since we had a great discussion about it in exercism/discussions#148

Thanks for raising the issue!

[2017-10-11 15:03] #3550 closed

[2017-10-11 15:04] kytrinyx commented on #3457
I'm going to go ahead and close this, since we're now that v2 is in beta, we're actively discouraging design changes to v1.

You can see v2 here: http://v2.exercism.io/
And provide feedback here: https://github.com/exercism/v2-feedback/blob/master/README.md

Thanks for the input everyone! 🌻

[2017-10-11 15:04] #3457 closed

[2017-10-11 15:05] kytrinyx commented on #2741
I'm going to go ahead and close this, since we're now that v2 is in beta, we're actively discouraging design changes to v1.

You can see v2 here: http://v2.exercism.io/
And provide feedback here: https://github.com/exercism/v2-feedback/blob/master/README.md

Thanks for the input everyone! 🌻

[2017-10-11 15:05] #2741 closed

[2017-10-11 15:08] kytrinyx commented on #3644
Not embarrassing—bad UX on our part! Sorry it took so long to figure this one out, and thanks for your patience throughout 🌷

[2017-10-11 15:09] GustavoCaso commented on #2741
@kytrinyx is there a repo where to help with issues for the v2?

[2017-10-11 15:18] kytrinyx commented on #2741
The repo for the v2 codebase is open source (http://github.com/exercism/prototype), but we're not looking for contributions there just yet, as we don't have the bandwidth to manage them at the moment.

We are looking for feedback, however, and always value input, thoughts, and insight in the v2-feedback repository.

[2017-10-11 15:21] GustavoCaso commented on #2741
@kytrinyx awesome I will try the v2 and add some feedback. Also, I will wait for when contributors are need it for the codebase :)

[2017-10-16 15:25] AThammanoon opened #3648 "test"
test

[2017-10-16 15:25] #3648 closed

[2017-10-17 11:35] chuckwondo commented on #3624
@kytrinyx No such problems for me on v2.exercism.io. Do you have an ETA v2? If it's pretty soon, then I won't bother trying to debug v1.

@iHiD Thanks so much for the offer. I may take you up on it, even just for the experience of debugging via ngrok.

[2017-10-17 14:37] Insti commented on #3642
We resolved this in the gitter chatroom.
The solution was to set up a new "clean" rbenv-gemset  https://github.com/jf/rbenv-gemset

[2017-10-17 14:37] #3642 closed

[2017-10-20 23:05] DeviatedMind opened #3649 "--dir=~/exercism interferes with cli command exercism"
--dir=YOUR_EXERCISM_PATH
When I press tab after "exer" it brings "exercism" instead of "exercism "
so I have to press space to use the command.
If you change the default folder to sth like --dir=~/exercism-main the problem would be solved.
I did it for myself.

[2017-10-21 07:07] NobbZ commented on #3649
Can you elaborate?

What exactly do you type? It reads as if you were typing `--dir=YOUR_EXERCISM_PATH exer`, which makes not much sense to me…

[2017-10-22 03:29] nellshamrell commented on #3633
Digging into this a bit - here is an example of the url it attempts to redirect to when hitting the "mark as read" link - http://exercism.io/exercises/4f256d522d00435a8e0867bda5e7ce6a/views?redirect=/tracks/ruby/exercises

[2017-10-22 11:38] kytrinyx commented on #3633
This is some explicit escaping gone wrong; added in https://github.com/exercism/exercism.io/commit/878fbda2424a301995af6c707d9aa4fadd68b64e

[2017-10-22 11:42] kytrinyx commented on #3624
Sorry—the past two weeks have been bananas, and I've made no progress (to the point where it's now 5:40am on a Sunday and I'm catching up on 2 weeks worth of email).

Let me see if I can get this sorted out in the next couple of days!

[2017-10-22 13:28] kytrinyx commented on #3624
@chuckwondo—I'm so sorry. We are completely not going to be able to sort this out in the next week 😢

Have you by any chance tried turning off javascript? I've not tried it, and I have no idea if we degrade gracefully.

[2017-10-22 22:19] DeviatedMind commented on #3649
no, I simply typed "exer" then pressed tab button.
Normally the command would become "exercism " with the space at the end. So I can type the rest of the command.
But with exercism folder in my home directory, pressing tab after "exer" brought "exercism" without space at the end. So I had to manually press space each time I wanted to use exercism cli command.

[2017-10-22 22:41] nellshamrell commented on #3633
Just submitted a PR with a fix.

[2017-10-23 08:22] NobbZ commented on #3649
This is expected behaviour in most shells, also when you rename the folder to something that still begins with `exercism` this behaviour does not change at all, since your shell will expand until there is an ambiguity.

But to be honest. in about 99.99% of the time (if not more) you are somewhere inside of the exercism workspace when using the CLI, there the exercism folder from your HOME director

[2017-10-23 10:26] Thorocaine commented on #3624
@kytrinyx
I am also having this problem.
I have tried turning off javascript, and it sort of works how you would expect a site to work without JS.

The Comment box shows, but there is no submit button to post the comment.

The reply button (under a comment) is just an anchor, so pressing it (without JS) just reloads the page.

I think for this to work without JS, all that would be needed is a comm

[2017-10-24 03:21] kytrinyx commented on #3624
I'm all for getting this to work without JavaScript, until I can figure out what the heck is going on with the broken javascript for you all. I'm so sorry about this.

[2017-10-24 05:23] Thorocaine commented on #3624
Thank you.
Let me know if I can test anything at any time.